<div class="row mx-0">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title float-left">Cancellation</h4>
        <!--<a type="button" class="btn btn-secondary btn-sm float-right btn-cus" routerLink="/subscriptions/plans/add">Add A Plan</a>-->
        <!-- <button type="button" class="btn btn-secondary btn-sm float-right" (click)="downloadCSV()" *ngIf="globalService.canDownload('subscriptions/subscribers')">Download CSV</button> -->
        <br>
        <br>
      </div>
      
      <div class="content table-responsive table-full-width">
        <div class="row mx-0">
          <div class="col-md-3">
            <select name="cities" class="selectpicker form-control" (change)="onLimitChange($event)">
              <option [attr.value]="item" *ngFor="let item of [50, 100, 150, 200]" [attr.selected]="item == options.get('limit') ? true : null">Show {{item}} per page</option>
            </select>
          </div>
          <div class="col-md-3 filter-field">
              <!--  <span class="filter-field-label">Filter by Email</span> -->
              <input id="filterByEmail" name="filterByEmail" type="text" class="form-control" placeholder="Filter by Email" [ngModel]="options.get('email')"
                (input)="customizeFilterBy('email', $event)">
            </div>
          <!-- <div class="col-md-3">
            <select name="filterByCountry" class="selectpicker form-control" (change)="filterby('CountryId', $event.target.value)">
              <option [value]="'all'" [selected]="!options.get('CountryId')">All Countries</option>
              <option [value]="country.id" *ngFor="let country of countries" [selected]="country.id == options.get('CountryId') ? true : null">{{country.name}}</option>
            </select>
          </div> -->
          <!-- <div class="col-md-3">
            <select name="filterByUserType" class="selectpicker form-control" (change)="filterby('userType', $event.target.value)">
              <option [value]="'all'" [selected]="!options.get('type')">Filter By Chanel : All</option>
              <option value="users" [attr.selected]="options.get('userType') == 'users' ? true : null">Online / E-Commerce</option>
              <option value="sellers" [attr.selected]="options.get('userType') == 'sellers' ? true : null">BA</option>
            </select>
          </div> -->
          <!-- <div class="col-md-3">
            <select name="filterByStatus" class="selectpicker form-control" (change)="filterby('status', $event.target.value)">
              <option [value]="'all'" >Show: All Status</option>
              <option value="Processing" [attr.selected]="options.get('status') == 'Processing' ? true : null">Processing</option>
              <option value="Finished" [attr.selected]="options.get('status') == 'Finished' ? true : null">Finished</option>
              <option value="Canceled" [attr.selected]="options.get('status') == 'Canceled' ? true : null">Canceled</option>
            </select>
          </div> -->
          <div class="col-md-3 filter-field">
            <md-form-field>
              <input mdInput [mdDatepicker]="pickerFromDate" placeholder="From date" [ngModel]="fromDate" (change)="changeFromDate($event.target.value)" disabled>
              <md-datepicker-toggle mdSuffix [for]="pickerFromDate"></md-datepicker-toggle>
              <md-datepicker #pickerFromDate (selectedChanged)="changeFromDate($event)" [disabled]="false"></md-datepicker>
            </md-form-field>
          </div>
          <div class="col-md-3 filter-field">
            <md-form-field>
              <input mdInput [mdDatepicker]="pickerToDate" placeholder="To date" [(ngModel)]="toDate" (change)="changeToDate($event.target.value)" disabled>
              <md-datepicker-toggle mdSuffix [for]="pickerToDate"></md-datepicker-toggle>
              <md-datepicker #pickerToDate (selectedChanged)="changeToDate($event)" [disabled]="false"></md-datepicker>
            </md-form-field>
          </div>
        </div>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 50" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)" ></pagination>
        <!-- /pagging -->
        <table class="table table-shaves mt-2">
          <thead>
            <tr>
              <th class="th-email">Email</th>
              <th>Message</th>
              <th>Plan Name</th>
              <th>Created At</th>
              <!-- <th>Last Updated</th> -->
            </tr>
          </thead>
          <tbody *ngIf="!isLoading">
            <tr *ngFor="let item of UserCancellationList.rows;">
              <td class="td-email">
                {{item.User.email}}
              
              </td>
              <td class="td-name">
                <!-- <div ng-bind-html-unsafe="html"></div> -->
               <ul class="message-ul" [innerHTML]="getMessageTranslates(item.MessagestranslatesId,item.OtherReason)"> </ul>
             
              </td>
              <td *ngIf="item.Subscription.PlanCountry">{{item.Subscription.PlanCountry.Plan.planTranslate | translatePipe : 'name'}}</td>
              <td *ngIf="item.Subscription.CustomPlan">{{item.Subscription.CustomPlan.description}}</td>
              <td>{{item?.createdAt | date:"dd/MM/yyyy"}}
                  <!-- <td>{{item?.updatedAt | date:"dd/MM/yyyy"}}</td> -->
              </td>
           
             
          
            
             
            </tr>
            <tr *ngIf="UserCancellationList.rows.length === 0"><td colspan="7" class="text-center">No Items</td></tr>
          </tbody>
        </table>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 50" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"
          [showing]="false"></pagination>
        <!-- /pagging -->
      </div>
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->
</div>

