@media screen and (max-width:768px){
  #carts-page, #catListings {
    width: 100%;

    // padding: 0;
    // margin: 0 auto;
    .heading {
    }
    .cart-page-inner {
    }
    .shave2u-no-item{
    }
    .account-info,
    .cart-list {
      margin-right: 0;
      margin-left: 0;
      .cart-list-contain {
        &.block-left {
        }
        ul.plan-row {
          li {
            &:last-child {
            }
            .change-plan {
              .date {
              }
            }
          }
        }
        .row-custom {
          border-bottom: 0;
        }
        .product-name {
        }

        .item-info {
          width: 30%;
        }
        .item-quantity {
          width: 28%;
          div {
            padding-left: 0px;
          }
        }
        .item-total {
          width:24%;
          div {
            padding-left: 0px;
          }
        }
      }
      .text-contain {
        .text-inner {
          .product-name,.product-description{
            padding: 0 10px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
@media screen and (max-width:768px) and (orientation: portrait){
  #carts-page, #catListings {

    .cart-list {
      .grand-total-price {
        h3{
          color: #3a6e9c;
          font-size:18px;
        }
        padding-top: 11px;
      }
    }
  }
}
@media  (max-width: 767px) {
  #catListings{
    .box-bottom-contain{
      width:100%;
    }
  }
  #carts-page .box-right-contain, #catListings .box-right-contain {
    width: 100%;
    padding-left:0;
    padding-right: 0;
    // flex: 1;
    .box-inner {
      background: #fff;
      padding-top: 0;
      width: auto;
    }
    .group-btn {
      margin: 35px auto;
      .rs-continue_link {
        margin-top: 35px;
      }
      .btn {
        width: 100%;
        max-width: 320px;
        margin: 10px auto;
        display: block;
        padding: 8px 30px;
      }
    }
    .item-subtotal-common {
      text-transform: uppercase;
      background-color: #cecece;
      padding: 20px;
      // border-top: 1px solid #aaa;
      border-bottom: 1px solid #aaa;
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
      width: 100vw;

      &::after {
        content: "";
        display: table;
        clear: both;
      }

      span {
        font-weight: bold;
      }
    }
  }
  #carts-page, #catListings {
    width: 100%;
    padding: auto;
    margin: auto;
    .cart-page-inner {
      // padding: 0px 0px 50px 0px;;
      .notice-no-item {
        // margin-top: 40px;
        // margin-bottom: 10px;
        padding: 0 5px;
      }
    }
    .heading {
      margin: 10px 0;
      padding-bottom: 10px;
      width: 100%;
      border-bottom: 1px solid #aaa;
    }
    .cart-list-contain {
      .heading {
        margin: 25px 0 25px;
        text-align: center;
      }
    }
    .rs-continue_link {
      border: 0;
      background: transparent;
      text-decoration: underline;
      letter-spacing: 1px;
      font-family: 'Muli';
    }
    .shave2u-no-item{
      // position: absolute;
      // left: calc(50% - 110px);
      // top: calc(50vh - 100px);
      .btn-primary{
        margin-top: 20px;
      }
    }
    .box-right-contain {
      .grand-total{
        display: inline-block;
        span{
          display: inline-block;
        }
      }
    }
    .cart-list {
      .cart-list-contain {
        &.block-left {
          width: calc(100% - 330px);
        }
        ul.plan-row {
          li {
            width: 100%;
          }
        }
      }
      // .item-quantity.item-price,.item-total{
      //   display: none;
      // }
      .item-quantity{
        .text-contain {
          &.contain-full{
            .label-item{
              margin-top:10px;
            }
          }
        }
      }
      .text-contain {
        padding: 0 0 0 0;
        &.contain-full{
          max-width: 100%;
          width: 100%;
           &.text-center-vertical{
            display: block;
            margin: 0;
            span.item-price {
              color: #292b2c;
            }
            .label-item{
              float: left;
              width: 135px;
              font-size: 13px;
              color: #636c72;
              // text-align: right;
              padding-right: 25px;
              font-family: 'Muli';
              line-height: 28px;
              // padding-right:

              & + .text-inner {
                float: right;
                text-align: right;
              }
            }
          }
          .text-inner {
            height: auto;
            // width: 130px;
            // text-align:center;
            &.d-flex{
              display: inline-block;
            }
          }
        }

        .text-inner .product-name, .text-inner .product-description {
          padding-right: 0;
          padding-left: 0;
        }
        .text-inner {
          .product-name {
            .name-strong {
              width: 70%;
              display: inline-block;
              line-height: 24px;
            }
            .btn-delete-product {
              width: 20%;
              line-height: 24px;
              color: #fd5000;
              text-decoration: underline;
            }
          }
        }
      }
      .item {
        // border-bottom: 1px solid #CCC;
        padding: 20px 0;
      }
      .box-body {
        .item {
          padding: 25px 0 0;
          width: 100%;
          display: flex;
          flex-direction: column-reverse;
          .image-contain {
            max-width: 100%;
            .image-inner {
              margin: 0 -15px;
              border-bottom: 1px solid #aaa;
              .image {
                height: auto;
              }
            }
          }
          .text-contain {
            width: 100%;
            text-transform: uppercase;
            height: auto;
            .text-inner {
              height: auto;
            }
          }
          &.item-quantity, &.item-price, &.item-total {
            padding: 20px;
            border-bottom: 1px solid #ccc;
            margin-left: calc(50% - 50vw);
            margin-right: calc(50% - 50vw);
            width: 100vw;

            &::after {
              content: "";
              display: table;
              clear: both;
            }
          }
          &.item-price {
            order: 2;
          }
          &.item-quantity {
            order: 1;
            .quantity-action-tool {
              .btn-plus {
                margin-right: 0;
              }
            }
          }
          &.item-total {
            order: 3;
            border-color: #aaa;
            .text-contain {
              float: none;
              .text-inner {
                text-align: center;
              }
            }
          }
          &.item-action{
            width: 100%;
            padding: 0;
            position: unset;
            .btn-delete-product{
              right: 0;
              margin: auto;
            }
            .text-contain{
              width: 100%;
              padding-bottom: 23px;
              padding-top: 0;
            }
          }
          &.item-total{
            .contain-full{
              // padding-bottom: 20px;
            }
          }
        }
      }
      .note {
        // font-family: 'Muli Bold';
        margin-top: 20px;
        .note-1 {
          font-size: 16px;
        }
        .note-2 {
          font-size: 14px;
        }
      }
    }
    .releated-product {
      text-align: center;
      .product-item{
        margin-bottom: 20px;
        height: 385px;
        .text-contain {
          margin-top: 0;
        }
      }
    }
  }
}
