#carts-page .cart-page-inner, #catListings .cart-page-inner {
  padding: 50px 35px;
}

#carts-page .cart-list, #catListings .cart-list {
  padding-right: 295px;
  position: relative;
}

#carts-page .cart-list .heading, #catListings .cart-list .heading {
  margin-bottom: 15px;
}

#carts-page .cart-list .cart-list-contain.block-left, #catListings .cart-list .cart-list-contain.block-left {
  width: calc(100% - 300px);
}

#carts-page .cart-list .cart-list-contain .plan-row, #catListings .cart-list .cart-list-contain .plan-row {
  position: relative;
}

#carts-page .cart-list .cart-list-contain .plan-row li, #catListings .cart-list .cart-list-contain .plan-row li {
  padding-bottom: 0;
}

#carts-page .cart-list .cart-list-contain .plan-row li:last-child, #catListings .cart-list .cart-list-contain .plan-row li:last-child {
  display: inline-block;
}

#carts-page .cart-list .cart-list-contain .plan-row li .change-plan, #catListings .cart-list .cart-list-contain .plan-row li .change-plan {
  font-family: 'Muli Bold';
  padding-bottom: 10px;
  display: block;
}

#carts-page .cart-list .cart-list-contain .plan-row li .change-plan .date, #catListings .cart-list .cart-list-contain .plan-row li .change-plan .date {
  color: #3a6e9c;
}

#carts-page .cart-list .cart-list-contain .row-custom, #catListings .cart-list .cart-list-contain .row-custom {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #CCC;
}

#carts-page .cart-list .cart-list-contain .product-name, #catListings .cart-list .cart-list-contain .product-name {
  font-size: 18px;
}

#carts-page .cart-list .cart-list-contain .product-description, #catListings .cart-list .cart-list-contain .product-description {
  font-size: 16px;
}

#carts-page .cart-list .cart-list-contain .item-info, #catListings .cart-list .cart-list-contain .item-info {
  width: 47%;
}

#carts-page .cart-list .cart-list-contain .item-price, #catListings .cart-list .cart-list-contain .item-price {
  width: 16%;
}

#carts-page .cart-list .cart-list-contain .item-price div, #catListings .cart-list .cart-list-contain .item-price div {
  padding-left: 0px;
}

#carts-page .cart-list .cart-list-contain .item-quantity, #catListings .cart-list .cart-list-contain .item-quantity {
  width: 17%;
}

#carts-page .cart-list .cart-list-contain .item-quantity div, #catListings .cart-list .cart-list-contain .item-quantity div {
  padding-left: 0px;
}

#carts-page .cart-list .cart-list-contain .item-total, #catListings .cart-list .cart-list-contain .item-total {
  width: 18%;
}

#carts-page .cart-list .cart-list-contain .item-total div, #catListings .cart-list .cart-list-contain .item-total div {
  padding-left: 0px;
}

#carts-page .cart-list .cart-list-contain .item-action, #catListings .cart-list .cart-list-contain .item-action {
  width: 2%;
}

#carts-page .cart-list .cart-list-contain .item-action .btn-delete-product, #catListings .cart-list .cart-list-contain .item-action .btn-delete-product {
  right: 18px;
  position: relative;
  cursor: pointer;
}

#carts-page .cart-list .image-contain, #catListings .cart-list .image-contain {
  width: 175px;
  max-width: 44%;
  background: #ffffff;
}

#carts-page .cart-list .image-contain .image-inner .image, #catListings .cart-list .image-contain .image-inner .image {
  height: 175px;
}

#carts-page .cart-list .text-contain, #catListings .cart-list .text-contain {
  max-width: 55%;
  padding-left: 25px;
  text-align: left;
}

#carts-page .cart-list .text-contain .text-inner, #catListings .cart-list .text-contain .text-inner {
  height: 175px;
}

#carts-page .cart-list .text-contain .text-inner div > input, #catListings .cart-list .text-contain .text-inner div > input {
  font-weight: bold;
}

#carts-page .cart-list .item, #catListings .cart-list .item {
  padding: 20px 0;
}

#carts-page .cart-list .box-body .item, #catListings .cart-list .box-body .item {
  padding: 40px 0;
}

#carts-page .cart-list .note, #catListings .cart-list .note {
  font-family: 'Muli Bold';
}

#carts-page .cart-list .note .note-1, #catListings .cart-list .note .note-1 {
  font-size: 16px;
}

#carts-page .cart-list .note .note-2, #catListings .cart-list .note .note-2 {
  font-size: 14px;
  color: #aaacaf;
  background: url("https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-shield.png") no-repeat top left;
  min-height: 35px;
  padding-left: 40px;
}

#carts-page .box-right-contain, #catListings .box-right-contain {
  width: 270px;
  border: 1px solid #363636;
  padding: 30px 18px 5px;
  position: absolute;
  right: 0;
  top: 0;
}

#carts-page .box-right-contain .link-promo-code, #catListings .box-right-contain .link-promo-code {
  color: #00478f;
  top: 5px;
  position: relative;
  font-size: 13px;
}

#carts-page .box-right-contain .box-flex, #carts-page .box-right-contain .group-btn, #catListings .box-right-contain .box-flex, #catListings .box-right-contain .group-btn {
  margin-bottom: 15px;
}

#carts-page .box-right-contain .group-btn, #catListings .box-right-contain .group-btn {
  margin-top: 40px;
}

#carts-page .box-right-contain .group-btn .btn, #catListings .box-right-contain .group-btn .btn {
  width: 100%;
  margin-top: 10px;
}

#carts-page .releated-product, #catListings .releated-product {
  margin-top: 60px;
}

#carts-page .releated-product .heading, #catListings .releated-product .heading {
  font-size: 24px;
}

#carts-page .releated-product .list-products, #catListings .releated-product .list-products {
  margin-left: -11px;
  margin-right: -11px;
}

#carts-page .releated-product .list-products .product-item:hover .btn-add-cart, #catListings .releated-product .list-products .product-item:hover .btn-add-cart {
  display: flex;
  justify-content: center;
}

#carts-page .releated-product .list-products .product-item:hover .shave2u-btn-primary, #catListings .releated-product .list-products .product-item:hover .shave2u-btn-primary {
  display: block;
}

#carts-page .releated-product .product-item, #catListings .releated-product .product-item {
  display: inline-block;
  width: 275px;
  height: 426px;
  padding: 11px;
  position: relative;
  cursor: pointer;
  vertical-align: top;
}

#carts-page .releated-product .product-item .image-contain .image-inner .image, #catListings .releated-product .product-item .image-contain .image-inner .image {
  height: 280px;
}

#carts-page .releated-product .product-item .text-contain, #catListings .releated-product .product-item .text-contain {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}

#carts-page .releated-product .product-item .btn-add-cart, #catListings .releated-product .product-item .btn-add-cart {
  position: absolute;
  bottom: 0;
  margin-left: 54px;
}

#carts-page .releated-product .background-white, #catListings .releated-product .background-white {
  background-color: #ffffff;
}

#catListings .cart-list {
  padding-right: 0;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shave2u-no-item {
  text-align: center;
}

.shave2u-no-item i {
  font-size: 50px;
}

.clickable {
  cursor: pointer;
}

.text-bold {
  font-weight: bold;
}
