
.notice {
  p {
    margin-bottom: 0;
  }
  .notice-note {
    padding-left: 20px;
  }
}
.notice-no-item {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
.pt-12 {
  padding-top: 12px !important;
}
.mb-10 {
  margin-bottom: 10px;
}

#carts-page, #catListings {
  max-width: 100%; 
  position: relative; 
  // overflow: hidden;
  .standard-seo.hidden-sm-down {
    font-size: 42px;
  }    
  h1.heading {
    font-family: 'Muli Bold';
    font-size: 32px;
    color: #000;
    line-height: 49px;
  }
  h2.heading {
    line-height: 49px;
  }
  .group-btn {
    .continue_link {
      font-size: 13px;
      text-decoration: underline;
      text-transform: uppercase;
      letter-spacing: 1px;
      cursor: pointer;
      color: #636c72;
      margin-right: 52px;
      &:hover {
        color: #f64d00;
      }
    }
    .btn {
      width: 197px;
    }
  }
  .cart-page-inner {
    padding: 80px 35px;
  }
  .shave2u-no-item{
    padding: 80px 0;
  }
  .account-info,
  .cart-list {
    padding-right: 295px;
    position: relative;
    .cart-list-contain {
      &.block-left {
        width: calc(100% - 330px);
      }
      ul.plan-row {
        position: relative;
        font-size: 16px;
        li {
          padding-bottom: 0;
          &:last-child {
            display: inline-block;
          }
          .change-plan {
            font-family: 'Muli Bold';
            padding-bottom: 10px;
            display: block;
            .date {
              color: #3a6e9c;
            }
          }
        }
      }
      .row-custom {
        display: flex;
        width: 100%;
        border-bottom: 1px solid #CCC;
        margin-bottom: 0;
      }
      .box-header {
        border-top: 1px solid #CCC;
        color: #636c72;
        text-transform: uppercase;
      }
      .product-name {
        font-size: 16px;
      }
      
      .item-info {
        width: 47%;
        .image-contain {
          max-width: 105px;
          border: none;
        }
        .product-name {
          color: #1f1f1f;
        }
        .product-description {
          color: #636c72;
        }
      }
      .item-price {
        width: 17%;
        div {
          padding-left: 0px;
        }
      }
      span.item-price {
        color: #adadad;
      }
      .item-quantity {
        width: 17%;   
        div {
          padding-left: 0px;
        }     
      }
      .item-total {
        width: 19%;
        div {
          padding-left: 0px;
        }
        .text-contain {
          float: right;
          position: relative;
          .text-inner {
            text-align: right;
          }
        }
        .btn-delete-product {
          // right: 18px;
          position: absolute;
          cursor: pointer;
          width: 19px;
          height: 19px;
          background-color: #3a6e9c;
          color: #fff;
          border-radius: 50%;
          // bottom: -40px;
          top: 50%;
          right: -30px;
          margin-top: -9px;
          text-align: center;
          display: block;
          i {
            font-size: 14px;
            top: -5px;
            // left: -4px;
            position: relative;
          }
        }
      }
      .item-action {
        width: 3%;
        position: absolute;
        right: -20px;
        .btn-delete-product {
          // right: 18px;
          position: relative;
          cursor: pointer;
          width: 19px;
          height: 19px;
          background-color: #3a6e9c;
          color: #fff;
          border-radius: 50%;
          bottom: -40px;
          i {
            font-size: 14px;
            top: -5px;
            // left: -4px;
            position: relative;
          }
        }
        .text-contain {
          float: right;
          .text-inner {
            text-align: center;
          }
        }
      }
    }
    .image-contain {
      background: #ffffff;
      min-width: 105px;
      .image-inner {
        .image {
          height: 103px;
          padding: 5px;
        }
      }
    }
    .text-contain {
      width: calc(100% - 105px);
      padding: 0;
      text-align: left;
      .text-inner {
        .product-name,.product-description{
          padding:0 20px;
        }
        .product-description{
          margin-bottom: 0;
        }
        font-size: 16px;
        // height: 103px;
        span{
              font-size: 16px;
              &.fa{
                font-size: 12px;
              }
            }
      }
    }
    .item {
      // border-bottom: 1px solid #CCC;
      padding: 16px 0;
    }
    .box-body {
      .item {
        padding: 20px 0;
        .height-100 {
          height: 100%;
        }
      }
    }

    .note {
      // font-family: 'Muli Bold';
      .note-1 {
        font-size: 16px;
        color: #333333;
        line-height: 1.6;
        text-align: center;
      }
      .note-2 {
        font-size: 14px;
        color: #aaacaf;
        background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-shield.png') no-repeat top left;
        min-height: 35px;
        padding-left: 40px; 
        a {
          color: #f64d00;
          cursor: pointer;
          &:hover {
            color: #0275d8;
          }
        }
        .fs-8 {
          font-size: 8px;
        }
      }
      .note-3 {
        font-size: 14px;
        color: #aaacaf;
        min-height: 35px;
        padding-left: 40px; 
        a {
          color: #f64d00;
          cursor: pointer;
          &:hover {
            color: #0275d8;
          }
        }
        .fs-8 {
          font-size: 8px;
        }
      }
      .suggest-payment-logo {
        text-align: center;
        img {						 
          margin-bottom: 7px;
        }
        .visa-logo {
          margin-right: 15px;
          width: 40px;
        }
        .mastercard-logo {
          width: 40px;
        }
        .ipay88-logo {
          margin-left: 15px;
          width: 60px;
        }
      }
    }
    .grand-total {
      display: grid;
      .small-text {
        width: 100%;
        display: block;
      }
    }
    .grand-total-price {
      h3{
        color: #3a6e9c;
        font-size:24px;
      }
      padding-top: 11px;
    }
  }
  .box-right-contain {
    // background-color: #F8F8F8;
    // padding: 30px 18px 5px;
    width: 200px;
   /*  max-width: 385px; */
    .box-inner {
      // background-color: #F8F8F8;
      // padding: 30px 18px 20px;
      padding-top: 91px;
      width: 223px;
      span {
        line-height: 38px;
        text-transform: uppercase;
      }
      strong {
        font-size: 24px;
      }
    }
    .note {
      padding: 10px 18px 0;
    }
    .link-promo-code {
      color: #00478f;
      top: 5px;
      position: relative;
      font-size: 13px;
    }
    .promo-code-group {
      display: flex;
    }
    .btn-apply-promo {
      font-size: 13px;
      border-radius: 0 0.25rem 0.25rem 0;
      padding: 0;
      width: 100px;
    }
    .grand-total {
      // display: grid;
      // max-width: 60%;
      display: block;
      width: 60%;
      max-width: 60%;
      float: left;
    }
    .grand-total-price {
      display: block;
      font-family: "Muli";
      h3{
        color: #3a6e9c;
      }
      padding-top: 11px;
      font-size: 20px;
      padding-left: 0;
      padding-right: 0;
      width: 40%;
      max-width: 40%;
      float: left
    }
    .box-flex, .group-btn {
      // margin-bottom: 15px;
    } 
    .group-btn {
      margin-top: 10px;
      .btn {
        width: 197px;
        margin-top: 10px;
      }
    }
    &.box-contain-top{
      .box-flex{
        margin-bottom: 10px;
      }
      .group-btn {
        margin-top: 0px;
      }
    }
  }
  .box-bottom-contain {
    background-color: #fff;
    padding: 30px;     
    width: 385px;
    .link-promo-code {
      color: #00478f;
      top: 5px;
      position: relative;
      font-size: 13px;
    }
    .promo-code-group {
      display: flex;
    }
    .btn-apply-promo {
      font-size: 13px;
      border-radius: 0 0.25rem 0.25rem 0;
      padding: 0;
      width: 100px;
    }
    .row{
      width: 100%;
      .grand-total {
        display: block;
        width: 60%;
        float: left;
      }
      .grand-total-price {
        display: block;
        font-family: "Muli";
        h3{
          color: #3a6e9c;
        }
        padding-top: 11px;
        font-size: 20px;
        padding-left: 0;
        padding-right: 0;
        width: 40%;
        float: left
      }
    }
    
    .box-flex, .group-btn {
      // margin-bottom: 15px;
    } 
    .group-btn {
      margin-top: 40px;
      .btn {
        width: 197px;
        margin-top: 10px;
      }
    }
  }
  .releated-product {
    margin-top: 40px;
    .heading {
      font-size: 24px;
      margin: 9px 0 40px 0;
    }
    .list-products {
      // margin-left: -11px;
      // margin-right: -11px;
      margin-top: 30px;
      .product-item {
        .image-contain {
          border: none;
        }
        .text-contain {
          width: auto;
          border: none;

        }
        .btn-add-cart {
          margin-left: 36px;
        }
        .shave2u-btn-primary {
          // display: none;
        }
        // padding-bottom: 55px;
        .shave2u-btn-primary {
          max-height: 45px;
          margin-left: 0;
          padding: 0;
        }
        &:hover {
          .btn-add-cart {
            display: flex;
            justify-content: center;
          }
          .shave2u-btn-primary {
            display: block;
          }
        }
        .btn-plus {
          position: absolute;
          border-radius: 50%;
          border: 1px solid;
          width: 20px;
          height: 20px;
          overflow: hidden;
          display: table-cell;
          vertical-align: middle;
          top: 50px;
          left: -11px;
          text-align: center;
          line-height: 18px;
          cursor: pointer;
          background-color: #fff;
          font-size: 10px;
          border-color: #fd5000;
          color: #fd5000;
        }
        .text-add {
          display: none;
        }
        &:hover {
          .btn-plus {
            background-color: #fd5000;
            color: #fff;
          }
          .text-add {
            position: absolute;
            overflow: hidden;
            display: table-cell;
            vertical-align: middle;
            top: 50px;
            left: -48px;
            text-align: center;
            line-height: 18px;
            font-size: 14px;
            font-weight: 600;
            color: #fd5000;
            text-transform: uppercase;
          }
        }
      }
    }
    
    .product-item {
      // border: 1px solid #fd5000;
      // border-radius: 5px;
      // display: inline-block;
      width: 346px;
      height: 123px;
      // padding: 11px;
      position:relative;
      cursor: pointer;
      vertical-align: top;
      clear: both;
      border: 2px solid white;
      display: flex;
      align-items: center;
      .image-contain {
        height: 118px;
        border-radius: 5px;
        width: 123px;
        flex: 0 0 118px;
        margin-left: 10px;
        .image-inner {
          .image {
            padding: 15px;
            height: 118px;
            img{
              width: 100%;
            }
          }
        }
      }
      .text-contain {
        // margin-top: 20px;
        // text-align: center;
        font-size: 18px;
        .text-inner {
          // padding-top: 31px;
          .text {
            color: #1f1f1f;
            margin-bottom: 5px;
          }
          .product-code {
            // border-left: 1px solid #D7D7D7;
            // margin-left: 5px;
            color: #636c72;
            margin-bottom: 5px;
          }
        }
      }
      .btn-add-cart {
        position: absolute;
        bottom: 0;
        margin-left: 51px;
        button {
          width: 150px;
        }
      }
      &:hover {
        border: 2px solid #fd5000;
        border-radius: 5px;
      }
    }
    .background-white {
      background-color: #ffffff;
    }
  }
}
#carts-page {

  .cart-page-inner{
    padding: 0px 0px;
    width: 100%;
  }
}
#catListings {
  .cart-list {
    padding-right: 0;
    padding: 0;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
.shave2u-no-item {
  text-align: center;
  i {
    font-size: 50px;
  }
}

.clickable {
  cursor: pointer;
}

.text-bold {
  font-weight: bold;
}

.font-12 {
  font-size: 12px;
}
@import '_cart-response.component';