
<div id="carts-page" class="container shave2u-container"  *ngIf="template === 'template-1'">
  <div class="cart-page-inner">
    <!-- <div *ngIf="latestProductsRemoved && cartItems?.length < 1" class="notice notice-no-item">
      <strong><i class="icons icon-info"></i> {{ 'lbl.cart.notice' | translate }}</strong>
      <p class="notice-note" *ngIf="latestProductsRemoved.product">
        <span [innerHTML]="'lbl.cart.notice_note' | translate: {value: latestProductsRemoved.product.productTranslate[0].name}"> </span>
        <a href="" class="" (click)='undoProductRemoved(); $event.preventDefault();'>{{ 'lbl.cart.undo' | translate }}</a>
      </p>
      <p class="notice-note" *ngIf="latestProductsRemoved.plan">
        <span [innerHTML]="'lbl.cart.notice_note' | translate: {value: latestProductsRemoved.plan.planTranslate[0].name}"> </span>
        <a href="" class="" (click)='undoProductRemoved(); $event.preventDefault();'>{{ 'lbl.cart.undo' | translate }}</a>
      </p>
    </div> -->
    <div *ngIf='cartItems?.length < 1' class="shave2u-no-item">
      <p *ngIf="!this.storage.getCurrentUserItem() && this.storage.getLanguageCode() === 'EN'">
        <span [innerHTML]="'lbl.cart.no_item1' | translate"></span>
        <a [routerLink]="['/login']">{{ 'lbl.login.email_form.login' | translate }}</a>
        <span [innerHTML]="'lbl.cart.no_item2' | translate"></span>
      </p>
      <p *ngIf="!this.storage.getCurrentUserItem() && this.storage.getLanguageCode() === 'KO'">
        <span [innerHTML]="'lbl.cart.no_item_login' | translate"></span>
        <span [innerHTML]="'lbl.cart.login' | translate"></span>
      </p>
      <p *ngIf='this.storage.getCurrentUserItem()' [innerHTML]="'lbl.cart.no_item_login' | translate">
      </p>
      <p class="text-center">{{ 'lbl.cart.no_item_des' | translate }}</p>
      <a [routerLink]="['/products']" class="btn btn-primary shave2u-btn-default">{{ 'lbl.cart.btn_cont_shop' | translate }}</a>
    </div>
    <div id="catListings" class="mainWrap clearfix" *ngIf='cartItems?.length > 0'>
      <!-- Product list -->
      <div class="cart-list row">
        <!-- <div class="box-right-contain box-contain-top col-xl-3 col-lg-4 hidden-md-up ">
          <div class="box-inner">
            <div class="box-flex">
                <div class="col-sm-8 col-8 grand-total pl-0">
                  <span class="flex" *ngIf="storage.getCountry().includedTaxToProduct">{{ 'lbl.cart.total_incld_tax' | translate }}</span>
                  <span class="flex" *ngIf="!storage.getCountry().includedTaxToProduct">{{ 'lbl.cart.grand_total' | translate }}</span>
                  <span class="flex font-12 gray-text" [innerHTML]="'lbl.cart.payment_incld' | translate : {taxRate: receipt.taxRate, taxName: receipt.taxName}" *ngIf="storage.getCountry().includedTaxToProduct"></span>
                </div>
                <div class="col-sm-4 col-4 grand-total-price text-right pr-0" [ngClass]="storage.getCountry().includedTaxToProduct ? '' : 'pt-0'">
                  <h3 class="reset-bold">{{receipt.totalIclTax | smsCurrency}}</h3>
                </div>
            </div>
            <div class="group-btn">
              <a [routerLink]="['/checkout']" class="btn btn-primary shave2u-btn-primary">{{ 'lbl.cart.btn_checkout' | translate }}</a>
            </div>
          </div>
        </div> -->
        <!-- <div class="hidden-md-up col-12 mt-5">
          <h1 class="float-left standard-seo">{{ 'lbl.cart.review_cart' | translate }}</h1>
        </div> -->
        <h2 class="heading text-center hidden-md-up">{{ 'lbl.cart.header' | translate }}</h2>
        <div class="cart-list-contain col-12 mt-5">
          <!-- <h1 class="standard-seo hidden-sm-down">{{ 'lbl.cart.review_cart' | translate }}</h1> -->
          <h2 class="heading hidden-sm-down float-left">{{ 'lbl.cart.header' | translate }}</h2>
          <div class="heading group-btn float-right hidden-sm-down">
            <a [routerLink]="['/products']" class="continue_link">{{ 'lbl.cart.btn_cont_shop' | translate }}</a>
            <a [routerLink]="['/checkout']" class="btn btn-primary shave2u-btn-primary">{{ 'lbl.cart.btn_checkout' | translate }}</a>
          </div>

          <ul class="row-custom box-header row no-gutters hidden-sm-down">
            <li class="item item-info"><strong>{{ 'lbl.cart.item' | translate }}</strong></li>
            <li class="item item-price text-center hidden-sm-down"><strong>{{ 'lbl.cart.price' | translate }}</strong></li>
            <li class="item item-quantity text-center hidden-sm-down"><strong>{{ 'lbl.cart.quantity' | translate }}</strong></li>
            <li class="item item-total text-right hidden-sm-down"><strong>{{ 'lbl.cart.total' | translate }}</strong></li>
            <!-- <li class="item item-action hidden-sm-down"><strong></strong></li> -->
          </ul>
          <div class="box-body">
            <ng-container *ngFor="let item of cartItems; let i = index; trackBy: trackByFn">
              <ul class="row no-gutters row-custom text-center" [ngClass]="{'plan-row': item.plan}" *ngIf="item.isRemove" [@slideUndoCartAnimation]="item.isRemove">
                <div class="notice notice-no-item">
                  <strong><i class="icons icon-info"></i> {{ 'lbl.cart.notice' | translate }}</strong>
                  <p class="notice-note" *ngIf="item.product">
                    <span [innerHTML]="'lbl.cart.notice_note' | translate: {value: item.product.productTranslate[0].name}"> </span>
                    <a href="" class="" (click)='undoProductRemoved(item); $event.preventDefault();'>{{ 'lbl.cart.undo' | translate }}</a>
                  </p>
                  <p class="notice-note" *ngIf="item.plan">
                    <span [innerHTML]="'lbl.cart.notice_note' | translate: {value: item.plan.planTranslate[0].name}"> </span>
                    <a href="" class="" (click)='undoProductRemoved(item); $event.preventDefault();'>{{ 'lbl.cart.undo' | translate }}</a>
                  </p>
                </div>
              </ul>
              <ul class="row no-gutters row-custom text-center" [ngClass]="{'plan-row': item.plan}" *ngIf="!item.isRemove" [@slideUndoCartAnimation]="item.isRemove">
                <li class="item item-info">
                  <div class="image-contain image-center-with-border pull-left clickable" clickable (click)="newWindowDetail(item)">
                    <div class="image-inner">
                      <div class="image" *ngIf="item.product">
                        <img class="img-responsive" src="{{item.product.productImageURL}}" *ngIf="item.product.productImageURL"/>
                        <display-image [class]="'img-responsive'" [images]="item.product.productImages" *ngIf="!item.product.productImageURL"></display-image>
                      </div>
                      <div class="image" *ngIf="item.plan">
                        <img class="img-responsive" src="{{item.plan.planImageURL}}" *ngIf="item.plan.planImageURL"/>
                        <display-image [class]="'img-responsive'" [images]="item.plan.planImages" *ngIf="!item.plan.planImageURL"></display-image>
                      </div>
                    </div>
                  </div>
                  <div class="text-contain text-center-vertical pull-left height-100"> 
                    <div class="text-inner" *ngIf="item.product">
                      <h4 class="product-name clickable" clickable (click)="newWindowDetail(item)">
                        <strong class="name-strong">{{item.product.productTranslate | productTranslate: 'name'}}</strong>
                        <a class="btn-delete-product hidden-md-up pull-right" (click)="removeItem(item); $event.preventDefault();">{{ 'lbl.cart.remove' | translate }}</a>
                      </h4>
                      <p class="product-description hidden-sm-down"><appProductDescription [productTranslate]="item.product.productTranslate"></appProductDescription></p>
                    </div>
                    <div class="text-inner" *ngIf="item.plan">
                      <h4 class="product-name clickable" clickable (click)="newWindowDetail(item)">
                        <strong class="name-strong">{{item.plan.planTranslate | productTranslate: 'name'}}</strong>
                        <a class="btn-delete-product hidden-md-up pull-right" (click)="removeItem(item); $event.preventDefault();">{{ 'lbl.cart.remove' | translate }}</a>
                      </h4>
                      <p class="product-description hidden-sm-down"><appProductDescription [productTranslate]="item.plan.planTranslate"></appProductDescription></p>
                    </div>
                  </div>
                </li>
                <li class="item item-price">
                  <div class="text-contain text-center-vertical contain-full height-100">
                    <div class="hidden-md-up label-item">{{ 'lbl.cart.price' | translate }}</div>
                    <div class="text-inner" *ngIf="item.product">
                      <span class="item-price">{{(!item.isFree) ? (item.product.productCountry.sellPrice | smsCurrency) : ('lbl.cart.free' | translate) }}</span>
                    </div>
                    <div class="text-inner text-center" *ngIf="item.plan">
                      <!--<span class="item-price" *ngIf="!item.plan.planCountry[0]">{{ item.plan.planCountry.sellPrice | smsCurrency}}</span>-->
                      <span class="item-price" *ngIf="!item.plan.planCountry[0]">{{ item.plan.planCountry.sellPrice / item.plan.PlanType.totalChargeTimes | smsCurrency}}</span>
                      <!--<span class="item-price" *ngIf="item.plan.planCountry[0]">{{ item.plan.planCountry[0].sellPrice | smsCurrency}}</span>-->
                      <span class="item-price" *ngIf="item.plan.planCountry[0]">{{ item.plan.planCountry[0].sellPrice / item.plan.PlanType.totalChargeTimes | smsCurrency}}</span>
                    </div>
                  </div>
                </li>
                <li class="item item-quantity">
                  <div class="text-contain text-center-vertical contain-full height-100">
                    <div class="hidden-md-up label-item">{{ 'lbl.cart.quantity' | translate }}</div>
                    <div class="text-inner">
                      <div class="quantity-action-tool">
                        <div class="btn-minus" (click)="minusQuatity(i)" [ngClass]="{'btn-disabled': item.qty === 1 || item.isFree}"><span class="fa fa-minus"></span></div>
                        <input type="number" name="qty" [(ngModel)]="item.qty" #qty="ngModel" (change)="changeQuatity(i)" [ngClass]="{'btn-disabled': item.isFree}"/>
                        <div class="btn-plus" (click)="plusQuatity(i)" [ngClass]="{'btn-disabled': item.isFree}"><span class="fa fa-plus"></span></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item item-total">
                  <div class="text-contain text-center-vertical contain-full height-100">
                    <div class="hidden-md-up label-item">{{ 'lbl.cart.total' | translate }}</div>
                    <div class="text-inner" *ngIf="item.product">
                      <span class="total align-self-center">{{(!item.isFree) ? (item.product.productCountry.sellPrice * item.qty | smsCurrency) : ('lbl.cart.free' | translate) }}</span>
                      <!-- <a class="btn-delete-product align-self-center" (click)='removeItem(item); $event.preventDefault();'><i class="fa fa-close"></i></a> -->
                    </div>
                    <div class="text-inner text-center" *ngIf="item.plan">
                      <!--<span class="total align-self-center" *ngIf="!item.plan.planCountry[0]">{{ item.plan.planCountry.sellPrice * item.qty | smsCurrency}}</span>-->
                      <span class="total align-self-center " *ngIf="!item.plan.planCountry[0]">{{ (item.plan.planCountry.sellPrice * item.qty) / item.plan.PlanType.totalChargeTimes | smsCurrency}}</span>
                      <!--<span class="total align-self-center" *ngIf="item.plan.planCountry[0]">{{ item.plan.planCountry[0].sellPrice * item.qty | smsCurrency}}</span>-->
                      <span class="total align-self-center " *ngIf="item.plan.planCountry[0]">{{ (item.plan.planCountry[0].sellPrice * item.qty) / item.plan.PlanType.totalChargeTimes | smsCurrency}}</span>
                    </div>
                    <div class="btn-delete-product hidden-sm-down" (click)="removeItem(item); $event.preventDefault();" *ngIf="!item.isFree"><i class="fa fa-close"></i></div>
                  </div>
                </li>
                <!-- <li class="item item-action hidden-sm-down">
                 <div class="text-contain text-center-vertical height-100">
                   <div class="text-inner">
                   </div>
                 </div>
                </li> -->
                <li *ngIf="item.plan && !isLoadingAllPlans" class="mb-10">
                  <cart-change-plan [item]="item" [planGroups]="planGroups"></cart-change-plan>
                  <!-- <p class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p> -->
                </li>
                <!-- <li class="item item-action hidden-md-up">
                  <div class="text-contain text-center">
                    <div class="btn-delete-product" (click)="removeItem(item); $event.preventDefault();"><i class="fa fa-close"></i></div>
                  </div>
                </li> -->
              </ul>
            </ng-container>
          </div>
        </div>

        <!-- TODO: Releated product  -->
        <div class="releated-product col-md-8 hidden-sm-down" *ngIf='cartItems?.length > 0'>
          <p class="heading">{{ 'lbl.cart.suggest' | translate }}</p>
          <ul class="list-products">
            <div *ngFor="let product of productList">
              <li class="product-item" (click)="addProductToCart(product)">
                <div class="text-add"><span>{{ 'lbl.cart.add' | translate }}</span></div>
                <div class="btn-plus"><span class="fa fa-plus"></span></div>
                <div class="image-contain image-center-with-border background-white pull-left" (click)="addProductToCart(product)">
                  <div class="image-inner">
                    <div class="image">
                      <display-image [images]="product.productImages" *ngIf="product.productCountry"></display-image>
                      <display-image [images]="product.planImages" *ngIf="product.planCountry"></display-image>
                    </div>
                  </div>
                </div>
                <div class="text-contain pull-left" (click)="addProductToCart(product)">
                  <div class="text-inner" *ngIf="product.productCountry">
                    <p class="text">{{ product.productTranslate | productTranslate: 'name' }}</p>
                    <p class="product-code">{{ product.productCountry.sellPrice | smsCurrency}}</p>
                  </div>
                  <div class="text-inner" *ngIf="product.planCountry">
                    <p class="text" *ngIf="!product.planCountry[0]">{{ product.planTranslate | productTranslate: 'name' }}</p>
                    <p class="product-code" *ngIf="!product.planCountry[0]">{{ product.planCountry.sellPrice | smsCurrency}}</p>
                    <p class="text" *ngIf="product.planCountry[0]">{{ product.planTranslate | productTranslate: 'name' }}</p>
                    <p class="product-code" *ngIf="product.planCountry[0]">{{ product.planCountry[0].sellPrice | smsCurrency}}</p>
                  </div>
                </div>
                <!-- <div class="btn-add-cart">
                  <button class="btn btn-primary shave2u-btn-primary" (click)='addToCart(product)'>{{ 'lbl.cart.add_to_cart' | translate }}</button>
                </div> -->
              </li>
            </div>
          </ul>
        </div>

        <div class="box-right-contain col-md-4 col-12">
          <div class="box-inner hidden-md-up">
            <div class="item-subtotal-common">
              <div class="text-contain text-center-vertical contain-full">
                <div class="label-item">{{ 'lbl.cart.subtotal' | translate }}</div>
                <div class="text-inner">
                  <span class="total align-self-center">{{receipt.totalPrice | smsCurrency}}</span>
                </div>
              </div>
            </div>
            <div class="group-btn">
              <a [routerLink]="['/checkout']" class="btn btn-primary shave2u-btn-primary">{{ 'lbl.cart.btn_checkout' | translate }}</a>
              <a [routerLink]="['/products']" class="btn btn-default shave2u-btn-default rs-continue_link">{{ 'lbl.cart.btn_cont_shop' | translate }}</a>
            </div>
          </div>
          <div class="box-inner float-right hidden-sm-down">
            <div class="box-flex">
              <span class="flex">{{ 'lbl.cart.subtotal' | translate }}</span>
              <strong>{{receipt.totalPrice | smsCurrency}}</strong>
            </div>
            <div class="group-btn float-right">
              <a [routerLink]="['/checkout']" class="btn btn-primary shave2u-btn-primary">{{ 'lbl.cart.btn_checkout' | translate }}</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End product list -->

    </div>

  </div>
</div> <!-- END cart -->

<add-to-cart-modal (hasChange)="hasChangeCart($event)"></add-to-cart-modal>