.cate-listing {
  margin: 20px 0px 30px;
	li {
		display: inline-block;
		border-right: 1px solid #989898;
    padding: 0 10px 0 5px;
		&:last-child {
			border-right: 0;
		}
		a {
			color: #3a6e9c !important;
			text-decoration: underline;
		}
	}
}
.articles-latest {
	margin-top: 50px;
	a {
		color: #3a6e9c;
	}
	img {
		// height: 230px;
		height: auto;
		width: auto;
		max-width: 100%;
	}
}


#article-page,
#article-detail-page {
	.heading {
		font-family: "Muli";
	}

	.card {
		border: none;

		.card-body {
			padding: 1.25rem 0;
		}
	}
}

@media screen and (max-width: 767px) {
	.articles-latest {
	  margin-top: 80px;
	}

	.articles-latest-heading {
		h3 {
			text-align: center;
		}
	}
}
