#thankYouPage {
	.page-inner {
		.box-body {
			.estimated-delivery {
				a {
					color: #292b2c;
				}
			}
		}
	}
}
#custom-plan {
	.block-steps {
		.header-step1 {
			.completed-checkmark {
				background-color: #fe5000;
				position: absolute;
				right: 20px;
				top: 33px;
				width: 25px;
				height: 25px;
				display: inline-block;
				border-radius: 100%;
				&::after {
					content: "";
					position: absolute;
					left: 9px;
					top: 6px;
					width: 7px;
					height: 10px;
					border: solid white;
					border-width: 0 3px 3px 0;
					-webkit-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					transform: rotate(45deg);
				}
			}
		}
	}
}
.plan-slider-desktop {
	.pgwSlider {
		.ps-current {
	    width: calc(100% - 50px);
			ul, li {
				height: 100%;
			}
		}
		&.narrow {
			.ps-current {
				img {
					max-width: 100%;
					max-height: 100%;
					width: auto;
					margin: 0 auto;
				}
			}
		}
  }
}
.plan-slider-mobile {
	.pgwSlider {
		.ps-current {
			ul, li {
		    height: 100%;
			}
		}
		&.narrow {
			.ps-current {
				img {
					max-width: 100%;
					max-height: 100%;
					width: auto;
					margin: 0 auto;
				}
			}
		}
	}
}
.account {
  .sign-in {
    margin: 0 auto;
		max-width: 385px;
	}
}
.order-info {
	max-width: 333px;
  margin: 0 auto;
}
.selection-block {
	border-radius: 5px;
	background-color: white;
  margin-bottom: 20px;
	.headline {
		font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
		margin-bottom: 0;
		position: relative;

		.number {
			margin-right: 5px;
			&.success {
				background: url('/assets/images/checkmark.svg') no-repeat;
		    text-indent: -999px;
		    display: inline-block;
		    width: 15px;
		    background-size: 15px 15px;
		    background-position: left center;
			}
		}
		.edit-data {
			position: absolute;
			right: 0;
			text-transform: none;
			text-decoration: underline;
	    font-size: 13px;
	    color: $black-text-color;
	    font-weight: normal;
		}
	}
	.head {
    font-size: 14px;
		&-content {
			padding: 25px;
			.form-content {
		    margin-top: 20px;
				.form-group {
					font-size: 13px;
			    position: relative;

					.icon-info {
						position: absolute;
				    top: 0;
				    right: 15px;
				    height: 100%;
				    pointer-events: none;

						&-tooltip {
					    background-color: #B9B6B6;
					    color: white;
							display: block;
							box-sizing: border-box;
							width: 18px;
							height: 18px;
							padding: 0 5px;
					    font-family: sans-serif;
					    margin-top: 23px;
					    border-radius: 100%;
					    text-align: center;
					    font-weight: 700;
					    display: block;
					    pointer-events: auto;
					    cursor: pointer;
					    line-height: 18px;
					    text-transform: uppercase;
						}
					}

					.tooltip_info {
						position: absolute;
				    bottom: calc(100% - 5px);
				    right: 6px;
				    width: 280px;
				    padding: 18px;
				    border-radius: 4px;
				    font-weight: 300;
				    font-size: 11px;
				    line-height: 1.545454545em;
				    letter-spacing: 0.090em;
				    color: white;
				    text-align: center;
				    background-color: #B9B6B6;

						&::after {
							content: "";
							position: absolute;
							top: 100%;
							right: 10px;
							display: block;
							width: 0;
							height: 0;
							border-width: 8px;
							border-color: transparent;
							border-style: solid;
							border-top-color: #B9B6B6;
						}
					}
				}
				.form-control {
					font-size: 13px;
			    padding: 20px 5px 20px 15px;
					height: 61px;
				  transition: all 0.2s;
				  touch-action: manipulation;
				}
				.country {
					font-size: 14px;
					label {
						margin-bottom: 0;
						color: $primary-color-3;
					}
				}
				.estimate-delivery {
					background: url("/assets/images/car.png") no-repeat left top;
			    padding-left: 30px;
			    font-size: 14px;
			    line-height: 24px;
					color: $primary-color-3;
			    margin-bottom: 15px;
				}
				select.form-control {
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					// IE hidden appearance
					&::-ms-expand{
					  display: none;
					}
				}
				.btn-auth {
					font-size: 14px;
			    width: 100%;
			    height: 47px;
			    padding: 10px;
					background-color: $secondary2-color;
					border: 0;
					font-size: 16px;
			    letter-spacing: 1px;
				}
				.subline {
					font-size: 13px;
					margin-bottom: 0;
				}
			}
		}
	}
	.box-inner {
    padding: 0 20px 1px;
		border-top: 1px solid $border-gray-color;
		.list-order {
	    padding: 20px 0;
			.row {
		    margin-bottom: 5px;
			}
			.name,
			.costs {
				color: $primary-color-3;
			}
			.name {
				font-size: 13px;
				letter-spacing: 1px;
			}
			.costs {
				font-size: 12px;
			}
			.total-row {
				font-size: 22px;
				font-weight: bold;
				letter-spacing: 1px;
			}
		}
		.review {
			margin-bottom: 20px;
		}
	}
	.select-frequency {
		font-size: 14px;
		&:first-of-type {
			margin-top: 5px;
		}
		.frequency-image {
	    flex: 0 0 75px;
	    width: 75px;
			height: 85px;
			padding: 15px;
			position: relative;
	    display: flex;
			img {
				max-width: 100%;
				max-height: 100%;
				width: auto;
				height: auto;
		    object-fit: scale-down;
				align-self: center;
				-webkit-align-self: center;
				margin: auto;
			}
		}
		.wrap-option {
			display: flex;
			align-items: center;
			margin-bottom: 0;
	    width: 100%;
		}
		.item-content {
	    width: calc(100% - 70px);
	    flex: 0 0 calc(100% - 70px);
			.group-title {
				display: flex;
		    justify-content: space-between;
				.title {
			    white-space: nowrap;
			    text-overflow: ellipsis;
			    overflow: hidden;
				}
			}
			p {
				margin-bottom: 0;
				line-height: 20px;
				&.subtext {
					color: $primary-color-3;
			    white-space: nowrap;
			    text-overflow: ellipsis;
			    overflow: hidden;
				}
			}
		}

		.loop {
	    background: url('/assets/images/reload.png') no-repeat left 0px top 0px;
	    padding-left: 30px;
			color: $primary-color-3;
			margin-left: 70px;
		}

		.discount {
			color: $primary-color-3;
			margin-left: 75px;
		}
	}
}
.btn-review-order {
  width: 100%;
  height: 47px;
  padding: 10px;
	letter-spacing: 1px;

	.costs {
		font-size: 11px;
	}
}
.coupon-form {
	.later {
		background: url('/assets/images/icon-mail.png') no-repeat left 0px top 7px;
		padding-left: 40px;
		color: $text-color-bg-gray;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 30px;
	}
	.form-control {
    // font-size: 14px;
    padding: 30px 15px;
	}
	.btn-apply {
		width: auto;
		min-width: 65px;
		background: $bg-btn-apply;
		color: white;
		font-size: 12px;
    padding: 0 5px;
    min-height: 36px;
    border: 0;
		&:hover {
			background-color: $gray-text;
		}
	}
}
#delivery-address {
  .input-value.focused {
    .field-label {
      top: 6px;
    }
  }
	.form-control-feedback {
    margin: 5px 0px;
    font-size: 13px;
	}
  .input-value {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgba(191,191,191,0.5);
    border-bottom-width: 0;
    transition: color 0.25s, padding-bottom 0.25s;
    border-bottom-width: 1px;
    input, select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      min-height: 65px;
      box-sizing: border-box;
      width: 100%;
      padding-top: 33px;
      padding-bottom: 10px;
      border: 0;
      letter-spacing: 0.25px;
      line-height: 24px;
      text-transform: none;
      font-weight: 500;
      color: inherit;
      background-color: transparent;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      border-radius: 0;
      background-image: url(https://www.harrys.com/assets/global/select-arrow-d58a02ca04e83df80bd66ff2c4d291a41cf0fcc5ccad6926c26e2e938b424fbe.png);
      background-repeat: no-repeat;
      background-position: 95% center;
      background-position: right 15px center;
      background-size: 13px 9px;
      font-weight: 300;
      line-height: 1.630769231em;
      letter-spacing: 0.11em;
      text-indent: 1px;
      text-overflow: '';
    }
    .field-label {
      position: absolute;
      top: 22px;
      left: 20px;
      pointer-events: none;
      font-weight: 500;
      // font-size: 13px;
      letter-spacing: 0.5px;
      line-height: 24px;
      text-transform: none;
      color: #636c72;
      -webkit-transition: top 0.1s ease;
      -moz-transition: top 0.1s ease;
      -ms-transition: top 0.1s ease;
      -o-transition: top 0.1s ease;
      transition: top 0.1s ease;
    }
  }
  .has-danger {
    .input-value {
      border: 1px solid #d9534f;
    }
  }
  .shave2u-form-control {
    border-radius: 0;
    color: #292b2c;
    label{
      padding: 0;
      color: #636c72;
    }
    span{
      padding: 0;
    }
  }
  .modal-content{
    height: 400px;
  }
  span.have-account{
    font-size: 14px!important;
    .click-able{
      color: #fe5000;
    }
  }

  .heading-top {
    font-family: 'Muli';
    margin-bottom: 0;
    color: #636c72;
  }
  .byGuest-contact {
    margin: 16px auto 0;
    &.has-list {
      max-width: 399px;
    }
  }
  .btn-add-new {
    .text {
      border-bottom: 2px solid #f9ad8d;
      color: $primary-text;
      font-family: 'Muli Bold';
      &:hover {
        color: $primary-hover-color;
      }
      &:active {
        color: $primary-active-color;
      }
    }
    &.address {
      margin-top: 7px;
      display: block;
    }
  }
  .label-input {
    // font-weight: bold;
    margin-bottom: 4px;
    margin-top: 4px;
  }
  .form-group-cus {
    margin-top: 0;
    margin-bottom: 0;
  }
  .form-control {
    padding-left: 18px;
    margin-bottom: 0;
  }
  .col-padd {
    padding-right: 20px;
  }
  .change_acc {
    margin-top: 36px;
    .txt-signed-in {
      text-align: left;
      font-family: 'Muli';
      font-size: 16px;
      margin-bottom: 6px;
      .span-email {
        font-family: 'Muli Bold';
      }
    }
    .change_account_link {

    }
  }
  .box-input-address {
    padding: 28px 0;
    margin: auto;
    .btn-action {
      display: block;
    }

  }

  .heading-small {
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #1f1f1f;
    font-family: 'Muli Bold';
    text-transform: uppercase;
    &.on-list {
      margin-top: 25px;
    }
    span{
      font-family: 'Muli';
      color: #636c72;
      text-transform: capitalize;
    }
  }

  .add_note_card{

  }

  .shave2u-billing-check {
    margin-top: 30px;
    margin-bottom: 20px;
    // padding-left: 10px;
    align-items: center;
  }

  .address-form-style {
    &.last {
      margin-bottom: 25px;
    }

  }

  .shipping-method{
    li{
      border-top: 1px solid #e7e7e7;
      padding: 15px 0px 15px 0;
      position: relative;
      cursor: pointer;
      &:last-child{
        border-bottom: 1px solid #e7e7e7;
      }
      label{
        padding: 0;
        margin: 0;
        width: 100%;
        &.lable-left{
          color: #636c72;
          float: left;
          font-size: 14px;
        }
        p{
          margin: 0;
          &.bold{
            font-family: 'Muli Bold';
          }
        }
        input{
          right: 10px;
          top: 27px;
        }
      }
      .radio-button-group {
        // display: block;
        position: relative;
        // padding-left: 35px;
        // margin-bottom: 12px;
        cursor: pointer;
        // font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        // height: auto !important;
        .text {
          margin-left: 0;
        }
      }

      /* Hide the browser's default checkbox */
      .radio-button-group input {
          // position: absolute;
          opacity: 0;
          // cursor: pointer;
      }

      /* Create a custom checkbox */
      .checkmark {
          position: absolute;
          // top: 0;
          // left: 0;
          height: 22px;
          width: 22px;
          background-color: #eee;
          border-radius: 50%;
          right: 10px;
          top: 12px;
      }

      /* On mouse-over, add a grey background color */
      .radio-button-group:hover input ~ .checkmark {
          background-color: #ccc;
      }

      /* When the checkbox is checked, add a blue background */
      .radio-button-group input:checked ~ .checkmark {
          background-color: #fe5000;
      }

      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
          content: "";
          position: absolute;
          display: none;
      }

      /* Show the checkmark when checked */
      .radio-button-group input:checked ~ .checkmark:after {
          display: block;
      }

      /* Style the checkmark/indicator */
      .radio-button-group .checkmark:after {
          left: 9px;
          top: 5px;
          width: 5px;
          height: 9px;
          border: solid white;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
      }
    }
  }

  .col-left {
    padding-right: 0;
  }

  .col-right {
    padding-left: 0px;
  }

  .pl-0-pc {
    padding-left: 0;
  }


  .shipping-address, .billing-address {
    .btn-add-address-group {
      .address-inputed-contain {
        max-width: 399px;
        min-height: 190px;
        margin: 13px auto 0;
        padding: 30px 40px 28px 35px;
        border: 1px solid #e1e1e1;
        background: #ffffff;
        border-radius: 5px;
        .text-inner {
          // height: 180px;
        }
        .box-body {
          padding-right: 60px;
          .control-label {
            padding: 0 0;
            color: #3b6f9c;
            margin-bottom: 18px;
            display: block;
            font-family: 'Muli Bold';
            font-size: 16px;
          }
          .full-name, .address, .contactNumber {
            display: block;
          }

          .full-name {

          }
          .address {

          }
          .contactNumber {

          }
        }
      }
    }
  }

  .btn-continue-end {
    margin-top: 40px;
  }
  .border-block {
    border: 1px solid silver;
  }
  .edit-button {
    position: absolute;
    right: 30px;
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
  }
  .button-action {
    position: absolute;
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
    top: 0;
  }

  .delete-button {
    right: 0;
  }

  .button-add-new {
    font-size: 40px;
    color: #5cb85c;
  }
  .chk-checked {
    color: #a4ce8f;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 40px;
  }
}

.term_text {
	a {
    color: #333;
    text-decoration: underline;
	}
}
.making-purchase-note {
	a {
    color: #636c72;
	}
}

@media screen and (max-width: 320px) {
	.max-320 {
		width: 100%;
		flex: 0 0 100%;
    max-width: 100%;
	}
}
//
@media (max-width: 992px) {

}


@media only screen and (max-width: 767px) {
	#delivery-address {
    padding: 0 !important;
    .col-left-inline{
      padding-right: 15px;
      margin-bottom: 6px;
    }

    .col-right-inline {
      padding-left: 15px;
    }
    .border-right-0-mobile {
      border-right: 1px solid rgba(0, 0, 0, 0.15) !important;
    }

    .pl-0-mobile {
      padding-left: 15px;
    }
    .shave2u-billing-check {
      padding-left: 0;
      margin-bottom: 0px;
      .lbl-text {
        width: calc(100% - 30px);
        float: right;
        padding-right: 2px;
        margin-bottom: 30px;
      }
    }
    .address-form-style {
      &.last {
        margin-bottom: 25px;
      }

    }

    .select-code {
      select {
        padding: 4px;
        padding-right: 0;
      }
    }

    .row-city-state{
      margin: 0 -5px;
      .col-4{
        padding: 0 5px;
      }
    }

    .row.btn-action{
      text-align: center;
    }
  }

  .account {
    .sign-in {
			max-width: none;
    }
  }

	.order-info {
		max-width: none;
	}
  .show-on-web {
    display: none;
  }
  .show-on-mobile {
    display: block;
    margin-top: 20px;
  }
	.selection-block{
		.head-content {
			.form-content {
				.form-group {
					.tooltip_info {
				    width: 100%;
				    padding: 15px 10px;
					}
				}
			}
		}
		.box-inner{
			.list-order{
				.total-row{
			    font-size: 18px;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 997px) {
	.plan-slider-desktop {
		.pgwSlider {
			.ps-current {
				width: 100%;
			}
		}
	}
}
