#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1104;
  display: none
}
#fancybox-loading div {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 480px;
  background-image: url(https://www.getharvest.com/assets/fancybox/fancybox-324b9d944e39c915922db7058a276bd708e68ea5d86762741f14864af2324607.png)
}
#fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  display: none
}
#fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: auto;
  display: none
}
#fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1101;
  outline: none;
  display: none
}
#fancybox-outer {
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff
}
#fancybox-content {
  border-radius: 10px;
  width: 0;
  height: 0;
  padding: 0;
  outline: none;
  position: relative;
  z-index: 1102;
  border: 0px solid #fff
}
#fancybox-content>div {
  overflow: visible !important
}
#fancybox-hide-sel-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1101
}
#fancybox-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background: transparent url(https://www.getharvest.com/assets/fancybox/fancybox-324b9d944e39c915922db7058a276bd708e68ea5d86762741f14864af2324607.png) -40px 0px;
  cursor: pointer;
  z-index: 1103;
  display: none
}
#fancybox-error {
  color: #444;
  font: normal 12px/20px Arial;
  padding: 14px;
  margin: 0
}
#fancybox-img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  line-height: 0;
  vertical-align: top
}
#fancybox-frame {
  width: 100%;
  height: 100%;
  border: none;
  display: block
}
#fancybox-left,
#fancybox-right {
  display: none !important
}
#fancybox-left {
  left: 0px
}
#fancybox-right {
  right: 0px
}
#fancybox-left-ico,
#fancybox-right-ico {
  position: absolute;
  top: 50%;
  left: -9999px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  cursor: pointer;
  z-index: 1102;
  display: block
}
#fancybox-left-ico {
  background-image: url(https://www.getharvest.com/assets/fancybox/fancybox-324b9d944e39c915922db7058a276bd708e68ea5d86762741f14864af2324607.png);
  background-position: -40px -30px
}
#fancybox-right-ico {
  background-image: url(https://www.getharvest.com/assets/fancybox/fancybox-324b9d944e39c915922db7058a276bd708e68ea5d86762741f14864af2324607.png);
  background-position: -40px -60px
}
#fancybox-left:hover,
#fancybox-right:hover {
  visibility: visible
}
#fancybox-left:hover span {
  left: 20px
}
#fancybox-right:hover span {
  left: auto;
  right: 20px
}
.fancybox-bg {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  width: 20px;
  height: 20px;
  z-index: 1001
}
#fancybox-bg-n {
  top: -20px;
  left: 0;
  width: 100%;
  background-image: url(https://www.getharvest.com/assets/fancybox/fancybox-x-911ab68ef5eb07fae3f7763f073fea7bc11e8b42b575976db8a0b454e265a87e.png)
}
#fancybox-bg-ne {
  top: -20px;
  right: -20px;
  background-image: url(https://www.getharvest.com/assets/fancybox/fancybox-324b9d944e39c915922db7058a276bd708e68ea5d86762741f14864af2324607.png);
  background-position: -40px -162px
}
#fancybox-bg-e {
  top: 0;
  right: -20px;
  height: 100%;
  background-image: url(https://www.getharvest.com/assets/fancybox/fancybox-y-656be44f352247af126ef0dd946850217387100f386bc500c026de988c540372.png);
  background-position: -20px 0px
}
#fancybox-bg-se {
  bottom: -20px;
  right: -20px;
  background-image: url(https://www.getharvest.com/assets/fancybox/fancybox-324b9d944e39c915922db7058a276bd708e68ea5d86762741f14864af2324607.png);
  background-position: -40px -182px
}
#fancybox-bg-s {
  bottom: -20px;
  left: 0;
  width: 100%;
  background-image: url(https://www.getharvest.com/assets/fancybox/fancybox-x-911ab68ef5eb07fae3f7763f073fea7bc11e8b42b575976db8a0b454e265a87e.png);
  background-position: 0px -20px
}
#fancybox-bg-sw {
  bottom: -20px;
  left: -20px;
  background-image: url(https://www.getharvest.com/assets/fancybox/fancybox-324b9d944e39c915922db7058a276bd708e68ea5d86762741f14864af2324607.png);
  background-position: -40px -142px
}
#fancybox-bg-w {
  top: 0;
  left: -20px;
  height: 100%;
  background-image: url(https://www.getharvest.com/assets/fancybox/fancybox-y-656be44f352247af126ef0dd946850217387100f386bc500c026de988c540372.png)
}
#fancybox-bg-nw {
  top: -20px;
  left: -20px;
  background-image: url(https://www.getharvest.com/assets/fancybox/fancybox-324b9d944e39c915922db7058a276bd708e68ea5d86762741f14864af2324607.png);
  background-position: -40px -122px
}
#fancybox-title {
  font-family: Helvetica;
  font-size: 12px;
  z-index: 1102
}
.fancybox-title-inside {
  padding-bottom: 10px;
  text-align: center;
  color: #333;
  background: #fff;
  position: relative
}
.fancybox-title-outside {
  padding-top: 10px;
  color: #fff
}
.fancybox-title-over {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
  text-align: left
}
#fancybox-title-over {
  padding: 10px;
  background-image: url(https://www.getharvest.com/assets/fancybox/fancy_title_over-d7d1b664875a020cd6577ddc7131018e2abaeafbf8a73a0afad7b1cb5ed3e4ff.png);
  display: block
}
.fancybox-title-float {
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 32px
}
#fancybox-title-float-wrap {
  border: none;
  border-collapse: collapse;
  width: auto
}
#fancybox-title-float-wrap td {
  border: none;
  white-space: nowrap
}
#fancybox-title-float-left {
  padding: 0 0 0 15px;
  background: url(https://www.getharvest.com/assets/fancybox/fancybox-324b9d944e39c915922db7058a276bd708e68ea5d86762741f14864af2324607.png) -40px -90px no-repeat
}
#fancybox-title-float-main {
  color: #FFF;
  line-height: 29px;
  font-weight: bold;
  padding: 0 0 3px 0;
  background: url(https://www.getharvest.com/assets/fancybox/fancybox-x-911ab68ef5eb07fae3f7763f073fea7bc11e8b42b575976db8a0b454e265a87e.png) 0px -40px
}
#fancybox-title-float-right {
  padding: 0 0 0 15px;
  background: url(https://www.getharvest.com/assets/fancybox/fancybox-324b9d944e39c915922db7058a276bd708e68ea5d86762741f14864af2324607.png) -55px -90px no-repeat
}
.fancybox-ie .fancybox-bg {
  background: transparent !important
}
