.modal-overflow-hidden {
  overflow: hidden;
}
.modal-shaves2u {
  height: 100%;
  .modal-content {
    background: none;
    font-family: 'Muli';
    .modal-header {
      color: #ffffff;
      text-align: center;
      display: block;
      border-bottom: 0;
      .modal-title{        
        font-size: 24px;
      }
    }
    .modal-body {
      background-color: #fff;
      border-radius: 5px;
      // padding: 30px;
      &::-webkit-scrollbar-track
      {
        -webkit-box-shadow: none;
        background: none;
      }

      &::-webkit-scrollbar
      {
        width: 2px;
        background: none;
      }

      &::-webkit-scrollbar-thumb
      {
        background-color: #c2c2c2;
        border-radius:2px;
      }
      .control-label {
        font-size: 16px;
        margin-bottom: 2px;
      }
      .square-select{
        -webkit-appearance: none;
        -webkit-border-radius: 0px;  
      }
    }
    .modal-footer {
      margin: 0 auto;
      border-top: none !important;
    }
  }

  &.delivery-address-list, &.card-list {
    .modal-dialog {
      width: 397px;
      .modal-content {
        background: none;
        .modal-header {
          border-bottom: 0;
        }
        .modal-body {
          // width: 440px;
          margin: 0 auto;
          background: none;
          padding:0;
        }
        .modal-footer {
          padding: 0;
          margin-top: 2px;
          .form-group {
            // margin-left: -6px;
            border: 1px solid #959595;
            padding: 20px;
            width: 395px;
            border-radius: 5px; 
            vertical-align: middle;
            display: inline-block;
            margin: auto;
            background: #ffffff;
            text-align: center;
            .btn-add-new {
              .text {
                border-bottom: 2px solid #f9ad8d;
                color: #fe5000;
                font-family: 'Muli Bold';
                text-transform: uppercase;
              }
              &.address {
                margin-top: 7px;
                display: block;
              }
            }
          }
        }
      }
    }
  }
  &.card-list {
    .modal-dialog .modal-content .modal-body{
      width: 395px;
      .card-inputed-contain .item{
        width: auto;
      }
    }
  }
}
.modal-backdrop-shave2u {
  opacity: 0.9 !important;
}

.cdk-overlay-container {
  z-index: 2000;
}

.trial-suggestions {
  .modal-dialog {
    max-width: 478px;
    .modal-content {
      .modal-header {
        border: 0;
        background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/bg-header-not-sure-popup.png') repeat;
        padding: 15px;
        .modal-title {
          text-align: center;
          margin: auto;
          font-size: 20px;
          color: #ffffff;
          max-width: 190px;
          line-height: 1.2;
        }
        .close {
          background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/x.png') no-repeat;
          height: 18px;
          width: 17px;
          opacity: 1;
          margin-top: -32px;
          &:focus {
            outline: none;
          }
        }
      }
      .modal-body {
        padding-top: 0;
        padding-bottom: 0;
        .option-suggestions {
          padding: 0;
          .list-group {
            .list-group-item {
              border: 0;
              margin-bottom: auto;
              text-align: center;
              display: inline-block;
              padding: 20px 0px;
              background: #f0f3f7;
              img {
                display: block;
                max-width: 90px;
                float: left;
                margin-left: 70px;
              }
              .bl-right {
                float: right;
                width: calc(100% - 160px);
                margin-top: 34px;
                .week {
                  display: block;
                  text-align: left;
                  font-weight: 600;
                  margin-left: 40px;
                  color: #fe5000;
                  margin-bottom: 10px;
                }
                .month {
                  text-align: left;
                  display: block;
                  margin-left: 40px;
                }
              }
              .bt-bar {
                display: block;
                width: calc(100% - 40px);
                position: absolute;
                border-bottom: 1px solid rgba(0, 0, 0, 0.125);
                bottom: 0;
                text-align: center;
                left: 20px;
              }

              &:last-child {
                border-bottom: 0;
              }
              &:hover {
                background-color: #ffffff;
              }
            }
            
          }
        }
      }
    }
  }
}

@media  (max-width: 767px) {
  .modal-shaves2u {
    // .modal-content {
    //   .modal-body {
    //     padding: 30px 15px;
    //   }
    // }
    &.delivery-address-list, &.card-list{
      .modal-dialog {
        width: 299px;
        margin: auto;
        .modal-content {
          background: none;
          .modal-header {
            border-bottom: 0;
          }
          .modal-body {
            width: auto;
            .item {
              padding: 15px 15px;
            }
          }
          .modal-footer {

            .form-group {
              width: 295px;
            }
          }
        }
      }
    }
    &.card-list .modal-dialog .modal-content .modal-body{
      width: 100%;
    }
  }

  .trial-suggestions {
    .modal-dialog {
      max-width: 478px;
      .modal-content {
        .modal-header {
          
          .modal-title {
           
          }
          .close {
            
          }
        }
        .modal-body {
          .option-suggestions {
            .list-group {
              .list-group-item {
                img {
                  display: block;
                  max-width: 55px;
                  float: left;
                  margin-left: 40px;
                }
                .bl-right {
                  float: right;
                  width: calc(100% - 95px);
                  margin-top: 19px;
                  font-size: 12px;
                  .week {
                    display: block;
                    text-align: left;
                    font-weight: 600;
                    margin-left: 30px;
                  }
                  .month {
                    text-align: left;
                    display: block;
                    margin-left: 30px;
                  }
                }

                &:last-child {
                  border-bottom: 0;
                }
                &:hover {
                  background-color: #ffffff;
                }
              }
              
            }
          }
        }
      }
    }
  }
}
