<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add Article</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <!-- edit form column -->
      <div class="col-md-12 plan-info">
        <form #f='ngForm' novalidate (ngSubmit)='f.form.valid && doAddArticle()' [formGroup]="articleForm">
          <div class="row">
            <div class="col-sm-6 form-group" [ngClass]="f.submitted && articleForm.controls.ArticleTypeId.hasError('required')? 'has-danger' : ''">
              <label class="form-control-label">Article Type (<span class="required">*</span>)</label>
              <div class="controls">
                <select class="form-control" id="select-ArticleTypeId" name="ArticleTypeId" formControlName="ArticleTypeId">
                  <option value="" disabled >- Select Type -</option>
                  <option [value]="article.id" *ngFor="let article of articleTypes">{{article.type}}({{article.Country.code}})</option>
                </select>
              </div>
              <span class="form-control-feedback" *ngIf="f.submitted && articleForm.controls.ArticleTypeId.hasError('required')">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>
            <div class="col-sm-6 form-group" [ngClass]="f.submitted && articleForm.controls.hashTag.hasError('required')? 'has-danger' : ''">
              <label class="form-control-label">Hash tag (<span class="required">*</span>)</label>
              <div class="controls">
                <input type="text" class="form-control" id="input-hashTag" placeholder="Enter hash tag"
                  formControlName="hashTag" name="hashTag">
              </div>
              <span class="form-control-feedback" *ngIf="f.submitted && articleForm.controls.hashTag.hasError('required')">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>

            <div class="col-sm-12 form-group" [ngClass]="f.submitted && articleForm.controls.title.hasError('required')? 'has-danger' : ''">
              <label class="form-control-label">Title (<span class="required">*</span>)</label>
              <div class="controls">
                <input type="text" class="form-control" id="input-title" placeholder="Enter title"
                  formControlName="title" name="title">
              </div>
              <span class="form-control-feedback" *ngIf="f.submitted && articleForm.controls.title.hasError('required')">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>

            <div class="col-sm-12 form-group" [ngClass]="f.submitted && articleForm.controls.bannerUrl.hasError('required')? 'has-danger' : ''">
              <label class="form-control-label">Banner (<span class="required">*</span>)</label>
              <div class="controls">
                <single-file-upload [group]="articleForm" [controlName]="'bannerUrl'"></single-file-upload>
              </div>
              <span class="form-control-feedback" *ngIf="f.submitted && articleForm.controls.bannerUrl.hasError('required')">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>

            <div class="col-sm-12 form-group" [ngClass]="f.submitted && !articleForm.controls.content.valid ? 'has-danger' : ''">
              <label class="form-control-label">Content (<span class="required">*</span>)</label>
              <textarea class="form-control" formControlName="content" name="content" rows="20"></textarea>
              <span class="form-control-feedback" *ngIf="f.submitted && !articleForm.controls.content.valid">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>
            
            <div class="col-sm-12 form-check">
               <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="isFeatured">
                Is Featured
              </label>
            </div>

            <div class="col-sm-12">
              <app-alert></app-alert>
            </div>
            <div class="col-sm-6 form-group">
              <button type="button" class="btn btn-secondary btn-sm" (click)="gotoList()">Cancel</button>
              <button type="submit" class="btn btn-primary shave2u-btn-primary">Save Changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>