<div class="list-item mainWrap clearfix" *ngIf='planList'>
  <!-- Plan list -->
  <div class="list-row row">
    <div class="list-contain col-md-12 col-12">
      <div class="box-body">
        <div class="block-items">
          <div class="block-list-plans">
            <!-- Plan Group -->
            <div class="row block-plan-group" id="plan-group">
              <h3 class="col-md-12 col-lg-12 heading text-center">{{ 'plan.plan_section.select_blade_type' | translate }}</h3>
              <div class="row blade-block">
                <div class="col-md-12 col-lg-{{12/(planGroups.length)}} item clickable mt-2" *ngFor="let group of planGroups" (click)="selectGroup(group)" [ngClass]="(group === groupSelected) ? 'active' : ''">
                  <div class="card-group">
                    <div class="card">
                      <!-- Heading -->
                      <div class="card-body">
                        <h4 class="card-title text-center">{{ group.name }}</h4>
                        <h6 class="card-subtitle text-muted text-center">{{group.planGroupTranslate | translatePipe: 'name'}}</h6>
                        <!-- <h6 class="card-subtitle text-muted text-center" *ngIf="group.name != 'F5'">{{ 'plan.plan_section.subtitle' | translate : {value: group.name.substr(2,1)} }}</h6>
                        <h6 class="card-subtitle text-muted text-center" *ngIf="group.name==='F5'">{{ 'plan.plan_section.subtitle_Women' | translate : {value: group.name.substr(2,1)} }}</h6> -->
                      </div>

                      <!-- Image -->
                      <div class="group-image">
                        <img src="{{group.url}}" alt="Photo of plan">
                      </div>
                      <!-- <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/catridge-s3.png" alt="Photo of plan" *ngIf="group.name==='TK3'">
                      <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/catridge-s5.png" alt="Photo of plan" *ngIf="group.name==='TK5'">  
                      <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/catridge-f5.png" alt="Photo of plan" *ngIf="group.name==='F5'">
                      <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/catridge-s6.png" alt="Photo of plan" *ngIf="group.name==='TK6'"> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Plan Group -->
          </div>
        </div>
        
      </div>
    </div>

    <!-- action -->
    <div class="group-btn">
        <button (click)="nextTo()" class="btn btn-primary shave2u-btn-primary btn-nextTo"
          [attr.disabled]="!groupSelected ? true : null">{{ 'btn.next' | translate }}</button>
    </div>

  </div>
  <!-- End plan list -->
      
</div>