.list-item {
  .heading {
    margin-bottom: 20px;
  }
  .block-heading {
    border-bottom: 1px solid #CCC;
    text-align: center;
    padding-bottom: 15px;
    font-size: 18px;
    margin: 0;
  }
  .cart-page-inner {
    padding: 80px 35px;
  }
  .shave2u-no-item {
    padding: 80px 0;
  }
  .account-info,
  .list-row {
    position: relative;
    .list-contain {
      .box-body {
        .block-items {
          margin-top: 15px;
          .row-custom {
            display: flex;
            width: 100%;
            border-bottom: 1px solid #CCC;
            margin: 0;
            padding: 10px 0px 10px 20px;
            .item {
              padding: 6px 0;
              .image-contain {
                width: 103px;
                max-width: 44%;
                background: #ffffff;
                .image-inner {
                  .image {
                    height: 103px;
                    padding: 14px;
                  }
                }
              }

              .product-name {
                font-size: 16px;
              }
              
              // .item-info {
              //   // width: 50%;
              // }
              .item-price {
                // width: 16%;
                div {
                  padding-left: 0px;
                }
              }
              .item-price-charge-time {
                color: #adadad;
                display: block;
                width: 100%
              }
              span.item-price {
                color: #adadad;
              }
              .item-quantity {
                // width: 50%;
                div {
                  padding-left: 0px;
                }     
              }
              .item-total {
                width: 18%;
                div {
                  padding-left: 0px;
                }
              }
              .item-action {
                width: 2%;    
                .btn-delete-product {
                  right: 18px;
                  position: relative;
                  cursor: pointer;
                }    
              }

            }
          }

        }

        .promo-code {
          padding-left: 20px;
          .heading-promo {
            padding: 15px 0 5px;
            font-size: 15px;              
          }
          .promo-code-group {
            display: flex;
            .btn-apply-promo {
              font-size: 13px;
              border-radius: 0 0.25rem 0.25rem 0;
              padding: 0;
              width: 100px;
            }
          }
        }

      }
    }

    .group-btn {
      width: 100%;
      display: inline-block;
      a {
        width: 100%;
      }
    }
    
    .text-contain {
      width: calc(100% - 103px);
      padding: 0 20px;
      text-align: left;
      .text-inner {
        // .product-name,.product-description{
          
        // }
        font-size: 14px;
        span{
          font-size: 16px;
          &.fa{
            font-size: 14px;
          }
        }
      }
    }

    .grand-total {
      display: grid;
      .small-text {
        width: 100%;
        display: block;
      }
    }
    .grand-total-price {
      h3{
        color: #3a6e9c;
        font-size:24px;
      }
      padding-top: 11px;
    }
  }
  .box-bottom-contain {
    background-color: #fff;
    padding: 30px;     
    width: 385px;
    .link-promo-code {
      color: #00478f;
      top: 5px;
      position: relative;
      font-size: 13px;
    }
    .promo-code-group {
      display: flex;
    }
    .btn-apply-promo {
      font-size: 13px;
      border-radius: 0 0.25rem 0.25rem 0;
      padding: 0;
      width: 100px;
    }
    .grand-total {
      display: grid;
      max-width: 60%;
    }
    .grand-total-price {
      font-family: "Muli";
      h3{
        color: #3a6e9c;
      }
      padding-top: 11px;
      font-size: 20px;
      padding-left: 0;
      max-width: 40%;
    }
    .box-flex, .group-btn {
      margin-bottom: 15px;
    } 
    .group-btn {
      margin-top: 40px;
      .btn {
        width: 100%;
        margin-top: 10px;
      }
    }
  }

  .selected {
    background-color: rgb(1, 72, 1);
    border: 2px solid rgb(1, 72, 1);
  }


  // ---------
  .block-list-plans {
		max-width: 900px;
		margin: 0 auto;
		.card-mobile {display: none;}
	  .block-plan-group{		    		
		  .heading{
				font-size: 24px;				 
				font-weight: 500;
			}

      .blade-block {
        margin: 0 auto;
        .item {
          margin: 0 auto;
          max-width: 250px;			
          .card {
            border: 3px solid #e1e1e1;
            margin: 4px 0px 0px 0px;
            .group-image {
              height: 140px;
              overflow: hidden;
              // padding: 0 5px;
              @media(max-width: 991px) {
                height: unset;
              }
            }
            .card-body {
              .card-title {							 
                font-size: 32px;
                font-weight: 900;
                margin-top: 7px;
                margin: 5px 0px 0px 0px;							 
              }
              .card-subtitle {
                margin-top: 2px;
              }
            }
            img {
              max-width: 100%;
              margin: auto;
              width: 100%;
            }
          }
          &.active {
            .card {
              border: 3px solid #fe5000;
              margin: 4px 0px 0px 0px;						 
            }
          }
        }
      }
		}

		.block-payment {
			// margin-top: 61px!important;
			margin-top: 0px !important;
			padding-top: 61px !important;
			.list-items{
				width: 100%;
				max-width: 800px;
				margin: 0 auto;
				:first-child{
					&.item {
						.card {
							// border: 3px solid #fe5000;
							// margin: 3px 0px 0px 0px;					 
							.card-body {
								.discount {								 
									.btn_discount {									
										background: #e33000;
										border-color: #e33000;									 
									}
								}
								.sub-total {
									color: #fe5000;
									.currency-code {
									 
									}
									.price {
										
									}
								}
								.total {
								}
							}
						}	

					}
				}
			}
			.item {
				margin: 0 auto;
				display: inline-table;
				.card {
					border: 3px solid #e1e1e1;
					margin: 3px 0px 0px 0px;
					min-width: 243px;
					min-height: 208px;
					.card-body {
						.card-title {
							color: #888888;
							text-transform: uppercase;
							font-size: 16px;
							 
							margin: 10px 0px 24px 0px;							 		
						}
						.discount {							 
							.btn_discount {							 
								margin: 0 auto;
								display: block;
								padding: 0px 20px;
								border-radius: 20px;							 
								min-height: 20px;
								border: none;
								background: #ecac3c;
								width: 126px;
								color: #ffffff;
								font-size: 13px;
							}
							min-height: 30px;
						}
						.sub-total {
							text-align: center;
							color: #0e0e0e;							 
							.charge-time {
                  margin-top: -11px;
                  color: #000000;
								i {									
									margin-right: 3px;
								}
							}
						}
						.total {
							font-size: 14px;
							margin-top: -9px;
							font-size: 14px;
							font-family: 'Muli';
							text-align: center;
							color: #888888;
						}
					}
				}
				
				&.active {
					.card {
						border: 3px solid #fe5000;
						margin: 3px 0px 0px 0px;					 
						.card-body {
							.discount {								 
								.btn_discount {									
									background: #e33000;
									border-color: #e33000;									 
								}
							}
							.sub-total {
								// color: #fe5000;
								.currency-code {
								 
								}
								.price {
									
								}
							}
							.total {
							}
						}
					}	

				}
			}
		}
		.block-plan-details {
			margin-top: 0px !important;
			padding-top: 61px !important;
			width: 506px;	
			margin: 0 auto;	  		 	
			.description-outter{
				margin: 0 auto;							 
			/* 	overflow: hidden;	 */
				.description-middle{
					ul.description-details{
						margin-top: 0;
					}
				}			
			}
			.footer-info {
				text-align: center;
				font-family: 'Muli';
				.note {
					display: block;
					width: 100%;
					font-size: 14px;
					/* padding: 0 160px; */
				}
				.add_to_cart {				 
					a.btn_add_to_cart {						
						color: #ffffff;
					}
				}
				.btn-primary{
					margin-top:-20px;
					min-width: 260px;
				}
				.suggest-payment {
					font-size: 14px;
					margin-top: -22px;

				}
				.suggest-payment-logo {
					img {						 
						margin-bottom: 7px;
					}
					.visa-logo {
						margin-right: 15px;
						width: 40px;
					}
					.mastercard-logo {
						width: 40px;
					}
					.ipay88-logo {
						margin-left: 15px;
						width: 60px;
					}
				}
			}
		}
	}

}

@media (max-width: 767px) {
  #catListings{
    .box-bottom-contain{
      width:100%;
    }
  }
  #carts-page .box-right-contain, #catListings .box-right-contain {
    width: 100%;
    padding-left:0;
    padding-right: 0;
    // flex: 1;
  }
}
// @import '_cart-response.component';

@media (max-width: 992px) {
  .list-item {
    .block-list-plans {
      .block-plan-group{		    		
        .blade-block {
          .item {
            max-width: 100%;
          }
        }
      }
    }
  }
}