
.notice {
  p {
    margin-bottom: 0;
  }
  .notice-note {
    padding-left: 20px;
  }
}
.note-1{
  color: #8c3a46;
  max-width: 315px;
}
.notice-no-item {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
.pt-12 {
  padding-top: 12px !important;
}
.mb-10 {
  margin-bottom: 10px;
}

#carts-page, #catListings {
  max-width: 100%;
  position: relative;
  // overflow: hidden;
  .heading {
    margin: 30px 0 20px 0;
  }
  .cart-page-inner {
    padding: 80px 35px;
  }
  .shave2u-no-item{
    padding: 80px 0;
  }
  .account-info,
  .cart-list {
    padding-right: 295px;
    position: relative;
    .cart-list-contain {
      &.block-left {
        width: calc(100% - 330px);
      }
      ul.plan-row {
        position: relative;
        font-size: 16px;
        li {
          padding-bottom: 0;
          &:last-child {
            display: inline-block;
          }
          .change-plan {
            font-family: 'Muli Bold';
            padding-bottom: 10px;
            display: block;
            .date {
              color: #3a6e9c;
            }
          }
        }
      }
      .row-custom {
        display: flex;
        width: 100%;
        border-bottom: 1px solid #CCC;
        margin-bottom: 0;
      }
      .product-name {
        font-size: 16px;
      }

      .item-info {
        width: 47%;
        &.item-info-cus {
          width: 80%;
        }
      }
      .item-price {
        width: 21%;

        div {
          &.text-contain{
            float: right;
          }
          padding-left: 0px;
        }
      }
      span.item-price {
        color: #adadad;
      }
      .item-quantity {
        width: 17%;
        color: #adadad;
        div {
          padding-left: 0px;
        }
      }
      .item-total {
        width: 15%;
        .item-price{
          color: #222222;
        }
        div {
          padding-left: 0px;
        }
        .text-contain{
          text-align: right !important;
          float: right;
        }
      }
      .item-action {
        width: 2%;
        display: none;
        .btn-delete-product {
          // right: 18px;
          position: relative;
          cursor: pointer;
        }
      }
      .subs_start {
        font-family: 'Muli Bold';
      }
    }
    .image-contain {
      background: #ffffff;
      min-width: 105px;
      .image-inner {
        .image {
          height: 103px;
          padding: 5px;
        }
      }
    }
    .text-contain {
      width: calc(100% - 105px);
      padding: 0;
      text-align: left;
      .text-inner {
        .product-name,.product-description{
          // padding:0 20px;
          .hight-light {
            font-family: 'Muli Bold';
            font-size: 16px;
            color: #3A6E9C;
          }
        }
        font-size: 16px;
        height: 103px;
        span{
              font-size: 16px;
              &.fa{
                font-size: 12px;
              }
            }
      }
    }
    .item {
      // border-bottom: 1px solid #CCC;
      padding: 12px 0;
    }
    .box-body {
      .item {
        padding: 20px 0;
      }
    }

    .note {
      // font-family: 'Muli Bold';
      .note-1 {
        font-size: 16px;
        color: #333333;
        line-height: 1.6;
        text-align: center;
      }
      .note-2 {
        font-size: 14px;
        color: #aaacaf;
        background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-shield.png') no-repeat top left;
        min-height: 35px;
        padding-left: 40px;
        a {
          color: #f64d00;
          cursor: pointer;
          &:hover {
            color: #0275d8;
          }
        }
        .fs-8 {
          font-size: 8px;
        }
      }
      .note-3 {
        font-size: 14px;
        color: #aaacaf;
        min-height: 35px;
        padding-left: 40px;
        a {
          color: #f64d00;
          cursor: pointer;
          &:hover {
            color: #0275d8;
          }
        }
        .fs-8 {
          font-size: 8px;
        }
      }
      .suggest-payment-logo {
        text-align: center;
        img {
          margin-bottom: 7px;
        }
        .visa-logo {
          margin-right: 15px;
          width: 40px;
        }
        .mastercard-logo {
          width: 40px;
        }
        .ipay88-logo {
          margin-left: 15px;
          width: 60px;
        }
      }
    }
    .grand-total {
      display: grid;
      .small-text {
        width: 100%;
        display: block;
      }
    }
    .grand-total-price {
      h3{
        color: #3a6e9c;
        font-size:24px;
      }
      padding-top: 11px;
    }
  }
  .box-right-contain {
    // background-color: #F8F8F8;
    // padding: 30px 18px 5px;
    width: 385px;
   /*  max-width: 385px; */
    .box-inner {
      background-color: #F8F8F8;
      padding: 30px 18px 20px;
    }
    .note {
      padding: 10px 18px 0;
    }
    .link-promo-code {
      color: #00478f;
      top: 5px;
      position: relative;
      font-size: 13px;
    }
    .promo-code-group {
      display: flex;
    }
    .btn-apply-promo {
      font-size: 13px;
      border-radius: 0 0.25rem 0.25rem 0;
      padding: 0;
      width: 100px;
      height: 48px;
    }
    .grand-total {
      // display: grid;
      // max-width: 60%;
      display: block;
      width: 60%;
      max-width: 60%;
      float: left;
    }
    .grand-total-price {
      display: block;
      font-family: "Muli";
      h3{
        color: #3a6e9c;
      }
      padding-top: 11px;
      font-size: 20px;
      padding-left: 0;
      padding-right: 0;
      width: 40%;
      max-width: 40%;
      float: left
    }
    .box-flex, .group-btn {
      margin-bottom: 15px;
    }
    .group-btn {
      margin-top: 20px;
      .btn {
        width: 100%;
        margin-top: 10px;
      }
    }
    &.box-contain-top{
      .box-flex{
        margin-bottom: 10px;
      }
      .group-btn {
        margin-top: 0px;
      }
    }
  }
  .box-bottom-contain {
    background-color: #fff;
    padding: 0 0 30px;
    float: right;
    width: 385px;
    .link-promo-code {
      color: #00478f;
      top: 5px;
      position: relative;
      font-size: 13px;
    }
    .promo-code-group {
      display: flex;
    }
    .btn-apply-promo {
      font-size: 13px;
      border-radius: 0 0.25rem 0.25rem 0;
      padding: 0;
      width: 100px;
    }
    .row{
      width: 100%;
      .grand-total {
        display: block;
        width: 60%;
        max-width: 60%;
        float: left;
      }
      .grand-total-price {
        display: block;
        font-family: "Muli";
        h3{
          color: #3a6e9c;
        }
        padding-top: 11px;
        font-size: 20px;
        padding-left: 0;
        padding-right: 0;
        width: 40%;
        max-width: 40%;
        float: left
      }
    }

    .box-flex, .group-btn {
      margin-bottom: 15px;
    }
    .group-btn {
      margin-top: 40px;
      .btn {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
  .releated-product {
    margin-top: 40px;
    .heading {
      font-size: 24px;
    }
    .list-products {
      margin-left: -11px;
      margin-right: -11px;
      margin-top: 30px;
      .product-item {
        .text-contain {
          width: auto;
        }
        .btn-add-cart {
          margin-left: 36px;
        }
        .shave2u-btn-primary {
          // display: none;
        }
        padding-bottom: 55px;
        .shave2u-btn-primary {
          max-height: 45px;
          margin-left: 0;
          padding: 0;
        }
        &:hover {
          .btn-add-cart {
            display: flex;
            justify-content: center;
          }
          .shave2u-btn-primary {
            display: block;
          }
        }
      }
    }

    .product-item {
      display: inline-block;
      width: 235px;
      height: 406px;
      padding: 11px;
      position:relative;
      cursor: pointer;
      vertical-align: top;
      .image-contain {
        .image-inner {
          .image {
            padding: 15px;
            height: 260px;
            img{
              width: 100%;
            }
            &.image-cus {
              img {
                max-width: 93px;
              }
            }
          }
        }
      }
      .text-contain {
        margin-top: 20px;
        text-align: center;
        font-size: 18px;
        .text-inner {
          .text {
            color: #F64D00;
            .product-code {
              border-left: 1px solid #D7D7D7;
              margin-left: 5px;
              color: #292b2c;
            }
          }
        }
      }
      .btn-add-cart {
        position: absolute;
        bottom: 0;
        margin-left: 51px;
        button {
          width: 150px;
        }
      }
    }
    .background-white {
      background-color: #ffffff;
    }
  }
}
#carts-page {

  .cart-page-inner{
    padding: 0px 0px;
    width: 100%;
  }
}

.header-cart-list{
  color: #636c72;
  text-transform: uppercase;
  padding-bottom: 25px ;
  border-bottom: 1px solid #d4d4d4;
  margin-top: 30px;
}

#catListings {
  margin: 0 -15px;
  .cart-list {
    padding-right: 0;
    padding: 0;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
.shave2u-no-item {
  text-align: center;
  i {
    font-size: 50px;
  }
}

.clickable {
  cursor: pointer;
}

.text-bold {
  font-weight: bold;
}

.font-12 {
  font-size: 12px;
}
@import '_cart-template-response.component';
