@import "../../../assets/sass/mixins/css3-mixins";

#helpPage {
  padding: 50px 40px 0px 40px;
}
.block-left {
  max-width: 225px;
  .list-group {
    .list-group-item {
      border: 0 solid #fbfbfb;
      padding: 0;
      display: block;
      text-align: left;
      margin: 9px 0;
      > a {
        border-left: 4px solid transparent;
        display: block;
        padding: 0 0 0 18px;
        text-transform: uppercase;
        color: #A3A3A3;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
      }
      &.active, &:hover {
        background-color: #FFF;
        text-decoration: none;
        a {
          color: black;
          border-left: 4px solid #ff6c00;
        }
      }
    }
  }
}
.help-dropdown { display: none;}
.block-right {
  .border {
    border: 1px solid silver;
  }
  .block-headding {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .text-inner {
    margin-top: 0;
    .text {
      padding: 0 110px 0 30px;
      p {
        margin-bottom: 30px;
      }
    }
  }
}
div.line{
  transform-origin: 0 100%;
  height: 1px;
  background: #CCCCCC;
  margin-bottom: 0;
}
.question {
  margin-bottom: 0;
  padding: 15px 30px;
  font-size: 22px;
  line-height: 30px;
  align-items: center;
  justify-content: space-between;
  min-height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  span {
    margin-top: 0;
    margin-right: -5px;
    margin-left: 15px;
    cursor: pointer;
    height: 10px;
    width: 10px;
    border-left: 1px solid black;
    border-top:1px solid black;
    transform: rotate(-135deg);
    display: table;
  }
}
.collapsed {
  span {
    margin-top: 0; 
    margin-right: 0px;
    cursor: pointer;
    height: 10px;
    width: 10px;
    transform: rotate(135deg);
  }
}
.answer {
  margin-bottom: 0px;
}
.content-header {
  .fa {
    font-size: 120%;
  }
  margin: 0px 0 10px 0;
  background: #fbfbfb;
  padding-top: 50px;
  padding-bottom: 70px;
  p {
    margin: 0;
  }
  .block-headding {
    font-weight: normal;
    font-family: 'Muli';
  }
  .block-right {
    text-align: center;
    position: relative;
    top: 50%;
    div {
      position: relative;
      top: 50%;
      float: right;
      transform: translateY(-50%);
      right: 90px;
      h2 {
        margin: 0;
      }
    }
  }
  .block-center {
    .block-center-icon {
      text-align: center;
      position: relative;
      top: 50%;
      div {
        position: relative;
        top: 50%;
        float: right;
        transform: translateY(-50%);
        right: 20px;
        .fa-envelope:before {
          color: #fe5000;
        }
      }
      .icon-address {
        background: url(https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons/bank-building.svg) top left no-repeat;
        background-size: contain;
        width: 20px;
        height: 20px;
      }
    }
    .block-center-content {
      .address {
        p {
          padding: 5px;
        }
      }
    }
    .block-center-content .email-note {
      p {
        width: 145px;
        font-size: 14px;
      }
    }
  }
  .block-left {
    .block-left-icon {
      text-align: center;
      position: relative;
      top: 50%;
      div {
        position: relative;
        top: 20%;
        float: right;
        transform: translateY(-50%);
        right: 20px;
        .fa-phone:before {
          color: #fe5000;
        }
      }
    }
    .block-left-content .phone {
      margin-bottom: 10px;
      color: #fe5000;
    }
    .block-left-content .phone-note {
      display: block;
      p {
        font-size: 14px;
      }
    }
  }
}
.list-items {
  text-align: center;
  list-style: none;
  // margin-bottom: 70px;
  > li {
    display: inline-block;
    // min-width: 125px;
    // ul {
    //   li {
    //     &:last-child {
    //       margin-top: 25px;
    //       a {
    //         font-weight: bold;
    //       }
    //     }
    //   }
    // }
  }
  .row-1 {
    text-align: left;
    min-width: 30px;
    vertical-align: top;
    i {
      font-size: 35px;
      margin-right: 30px;
    }
    // a {
    //   margin-right: 17px;
    // }
  }
  .row-2 {
    text-align: left;
    min-width: 290px;
    ul {
      li {
        &:first-child {
          font-weight: bold;
        }
        &:last-child {
          margin-top: 3px;
          a {
            text-decoration: underline;
            color: blue;
            font-size: 12px;

          }
        }
      }
    }
  }
  .row-3 {
    text-align: left;
    ul {
      li {
        &:first-child {
          text-decoration: underline;
          i {
            font-size: 25px;
            margin-right: 30px;
            margin-bottom: 15px;
          }
        }
      }
    }
    ul {
      li {
        &:nth-child(2) {
          i {
            font-size: 33px;
            margin-right: 29px;
            margin-bottom: 15px;
          }
        }
        &:last-child {
          div {
            min-width: 240px;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  #helpPage {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 80px;
    padding-top: 0;
    margin-top: -10px;
    .block-left {display: none;}
    .help-dropdown {
      height: 63px;
      align-items: center;
      display: flex;
      height: 63px;
      justify-content: space-between;
      border-top: 1px solid #DDD;
      border-bottom: 1px solid #DDD;
      text-align: center;
      width: 100%;
      margin-left: -15px;
      margin-right: -15px;
      flex: 100%;
      .dropdown-toggle {
        margin: auto;
        color: #000;
        font-size: 14px;
        text-transform: uppercase;
        &:after {        
          border-left: 1px solid black;
          border-top: 1px solid black;
          border-right: 0;
          transform: rotate(-135deg);
          width: 10px;
          height: 10px;
          margin-left: 20px;
          top: -5px;
          position: relative;
        }
      }
      .dropdown-menu {
        @include transition(all 0.5s);    
        max-height: 0;
        display: block;
        overflow: hidden;
        width: 100%;
        border: 0;
        border-radius: 0;
        .list-group-item {
          border-left: 4px solid transparent;
          border-top: 0;
          border-bottom: 0;
          border-right: 0;
          text-transform: uppercase;
          text-align: center;
          a {width: 100%;}
          &.active {
            color: #000;
            font-weight: 700;
            background-color: transparent;
            border-color: transparent;
          }
        }
      }      
      &.show {
        .dropdown-toggle {
          &:after {
            transform: rotate(45deg);
            top: 0;
          }
        }        
        .dropdown-menu {
          max-height: 800px;   
        }
      }
    }
    .block-right {
      padding-left: 0;
      padding-right: 0;
      .block-headding {margin-top: 60px;}
      .text-inner .text {
        padding: 0 35px 0 15px;
        p {
          margin-bottom: 25px;
        }
      }
    }
    .block-left {max-width: 100%;}
    .question {
      padding-left: 15px;
      padding-right: 15px;
      font-size: 20px;
      line-height: 26px;
    }
  }
  .content-header {
    .block-right {
      display: flex;
      justify-content: center;
      div { right: inherit;}
    }
    .block-center {
      flex-wrap: nowrap;
      margin-top: 35px;
      margin-bottom: 35px;
      .block-center-icon {
        max-width: 85px;
      }
    }
    .block-center, .block-left {
      max-width: 290px;
      margin-left: auto;
      margin-right: auto;
      .row {          
        flex-wrap: nowrap;
        align-items: center;
      }
      .block-ico {
        max-width: 85px;
      }
    }
  }
}