//color default 
$primary-color: #09a009;
$primary-color-2: #fe6600;
$primary-color-3: #1f1f1f;
$secondary1-color: #7c868d;
$secondary2-color: #3a6e9c;
$secondary3-color: #e1e1e1;
$bg-2nd-color: #f0f3f7;
//color button
$primary-active-color: #cb4000;
$primary-active-color-2: #fe5000;
$primary-hover-color: #42b902;
$primary-hover-color-2: #ff7d26;

$primary-text: #f64d00;
$gray-text: #666666;
$span-title-color: #fd4f00;

$cancel-active-color: #8c989d;
$cancel-hover-color: #aab9bf;
$cancel-click-color: #727c80;