@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
  
  @font-face {
    font-family: 'Roboto-bold';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
  
  /* vietnamese */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src:  url('assets/fonts/Muli.ttf');
}
@font-face {
  font-family: 'Muli Bold Italic';
  font-style: italic;
  font-weight: 700;
  src:  url('assets/fonts/Muli-BoldItalic.ttf');
}
@font-face {
  font-family: 'Muli Bold';
  font-style: normal;
  font-weight: 700;
  src:  url('assets/fonts/Muli-ExtraBold.ttf');
}
@font-face {
  font-family: 'Muli Bold Light';
  font-style: normal;
  font-weight: 700;
  src:  url('assets/fonts/Muli-ExtraLight.ttf');
}