.icons{
  background: url('assets/images/icons.png') top left no-repeat;
  display:inline-block;
  &.icon{
    &-info{
      width: 16px;
      height: 16px;
      background-position: 0px 0px;
    }
    &-instagram{
      width: 22px;
      height: 22px;
      background-position:-43px -52px;
      &:hover{
        background-position:-67px -52px;
      }
    }
    &-facebook{
      width: 10px;
      height: 22px;
      background-position:-43px -94px;
      &:hover{
        background-position:-67px -94px;
      }
    }
    &-twitter{
      width: 21px;
      height: 18px;
      background-position:-43px -75px;
      &:hover{
        background-position:-67px -75px;
      }
    }
    &-youtube{
      width: 24px;
      height: 17px;
      background-position:-43px -117px;
      &:hover{
        background-position:-68px -117px;
      }
    }
    &-send{
      width: 18px;
      height: 17px;
      background-position:-43px -15px;
    }
    &-email{
      width: 20px;
      height: 15px;
      background-position:-43px 0px;
    }
    &-phone{
      width: 20px;
      height: 19px;
      background-position:-43px -33px;
    }
    &-arrow{
      width: 7px;
      height: 7px;
      background-position:0px -84px;
    }
  }
}