body {
  font-family: 'Muli';
  font-size: 16px;
  &.remove_scroll{
    overflow-y: hidden;
  }
  h1 {
    font-family: 'Muli Bold';
    font-size: 48px;
    color: #000000;
    span{
      color: $span-title-color;
    }
  }
  h2 {
    font-family: 'Muli Bold';
    font-size: 32px;
    color: #000000;
    span{
      color: $span-title-color;
    }
  }
  h3 {
    font-family: 'Muli Bold';
    font-size: 24px;
    color: #000000;
  }
  h4 {
    font-family: 'Muli';
    font-size: 20px;
    color: #000000;
  }
  small{
    font-family: 'Muli';
    font-size: 14px;
  }
  a{
    color: $primary-text;
    text-decoration: none;
    &:hover{
      color: $secondary2-color;
      text-decoration: none;
    }
    &:active{
      color: $secondary2-color;
    }
  }
  .body-content{
    // margin-bottom:512px;
  }
  .gray-text{
    color: $gray-text;
  }
  .reset-bold{
    font-family: 'Muli';
  }
}
@media(min-width: 1200px)
{
  .container{
    width:1170px;
  }
}
