<div class="row mx-0">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title float-left">Exports</h4>
      </div>
      <div class="content table-responsive table-full-width">
        <div class="row mx-0 mt-3">
          <div class="col-md-3 text-right">
            <select name="cities" class="selectpicker form-control mt-3" (change)="sortByDate($event.target.value)">
              <option value="ASC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) !== 'createdAt_DESC' ? true : null">Sort: Date, Oldest-Newest</option>
              <option value="DESC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) === 'createdAt_DESC' ? true : null">Sort: Date, Newest-Oldest</option>
            </select>
          </div>
          <div class="col-md-3 text-right">
            <md-form-field>
              <input mdInput [mdDatepicker]="pickerFromDate" placeholder="From date" [ngModel]="fromDate" (change)="changeFromDate($event.target.value)" disabled>
              <md-datepicker-toggle mdSuffix [for]="pickerFromDate"></md-datepicker-toggle>
              <md-datepicker #pickerFromDate (selectedChanged)="changeFromDate($event)" [disabled]="false"></md-datepicker>
            </md-form-field>
          </div>
          <div class="col-md-3 text-right">
            <md-form-field>
              <input mdInput [mdDatepicker]="pickerToDate" placeholder="To date" [(ngModel)]="toDate" (change)="changeToDate($event.target.value)" disabled>
              <md-datepicker-toggle mdSuffix [for]="pickerToDate"></md-datepicker-toggle>
              <md-datepicker #pickerToDate (selectedChanged)="changeToDate($event)" [disabled]="false"></md-datepicker>
            </md-form-field>
          </div>
          <div class="col-md-3 filter-field mt-3">
            <span class="filter-field-label">Filter by Name</span>
            <input id="filterByEmail" name="filterByEmail" type="text" class="form-control" placeholder="Filter by Name" [ngModel]="options.get('id')"
              (input)="customizeFilterBy('name', $event)">
          </div>
        </div>
        <pagination *ngIf="totalItems > limit" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"
          [showing]="false"></pagination>
        <table class="table table-shaves mt-2">
          <thead>
            <tr>
              <th class="th-name">File name</th>
              <th class="th-date">Date</th>
              <th class="th-status"></th>
            </tr>
          </thead>

          <tbody *ngIf="!isLoading">
            <tr class="row-content" *ngFor="let item of exportList.rows">
                <td class="">{{ item.name }}</td>
                <td class="">{{ item.createdAt | date:"dd/MM/yyyy hh:mm:ss a" }}</td>
                <td class="status">
                  <button class="btn btn-secondary float-right" (click)="downloadFile(item.id)" *ngIf="item.states === 'Completed' && globalService.canDownload('exports')">Download</button>
                  <button class="btn btn-secondary float-right" disabled *ngIf="item.states === 'Processing'">Processing ...</button>
                  <span class="status-text" *ngIf="item.states !== 'Processing' && item.states !== 'Completed'">{{item.states}}</span>
                </td>
            </tr>
            <tr>
          </tbody>
        </table>
        <pagination *ngIf="totalItems > limit" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"
          [showing]="false"></pagination>
      </div>
    </div>
  </div>
</div>