.card {
  .header {
    padding: 15px 15px 0px;
    color: #333333;
    font-weight: 300;
    font-size: 22px;
  }
  // .row-alignment {
  //   display: flex;
  //   align-items: flex-end;
  // }
  .search-name::-webkit-input-placeholder { 
    font-size: 12px;
  }
  .search-name::-moz-placeholder { 
    font-size: 12px;
  }
  .search-name:-ms-input-placeholder {
    font-size: 12px;
  }
  .search-name:-moz-placeholder {
    font-size: 12px;
  }

  .row-content {
    td {
      vertical-align: middle;
      .status-text {
        float: right;
        padding-right: 1rem;
        font-family: 'Roboto-bold';
        text-transform: uppercase;
        font-size: 14px;
      }
    }
  }
}