<div class="body-container-full body-gray">
<app-header></app-header>
  <router-outlet>
    <!-- overlay -->
    <app-loading></app-loading>
    <!--  End overlay -->
  </router-outlet>
<app-footer></app-footer>

<!-- Modal registration -->
<!--<login-modal></login-modal>-->
<collect-email-modal></collect-email-modal>
<cancellation-journey-modal></cancellation-journey-modal>
<free-trial-modal></free-trial-modal>
</div>