<div class="row mx-0">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title float-left">Manage Users Sample Product</h4>
        <button class="btn btn-secondary btn-sm float-right" (click)="downloadCSV()" *ngIf="globalService.canDownload('users/sample-product')">Download CSV</button>
        <br>
        <br>
      </div>
      
      <div class="content table-responsive table-full-width">
        <div class="row mx-0 mb-3">
          <!-- <div class="col-md-4">
            <select name="cities" class="selectpicker form-control" (change)="onLimitChange($event)">
              <option [attr.value]="item" *ngFor="let item of [50, 100, 150, 200]" [attr.selected]="item == options.get('limit') ? true : null">Show {{item}} per page</option>
            </select>
          </div> -->
          <div class="col-md-3">
            <label for="">Sort by Name</label>
            <select name="cities" class="selectpicker form-control" (change)="sortByName($event.target.value)">
              <option value="ASC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) !== 'firstName_DESC' ? true : null">A-Z</option>
              <option value="DESC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) == 'firstName_DESC' ? true : null">Z-A</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="">Filter by Country</label>
            <select name="filterByCountry" class="selectpicker form-control" (change)="filterby('CountryId', $event.target.value)">
              <option [value]="'all'" [selected]="!options.get('CountryId')">All Countries</option>
              <option [value]="country.id" *ngFor="let country of countries" [selected]="country.id == options.get('CountryId') ? true : null">{{country.name}}</option>
            </select>
          </div>
          <div class="col-md-3">
              <label for="">Sort by Date</label>
            <select name="cities" class="selectpicker form-control" (change)="sortByDate($event.target.value)">
              <option value="ASC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) !== 'createdAt_DESC' ? true : null">Date, Oldest-Newest</option>
              <option value="DESC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) === 'createdAt_DESC' ? true : null">Date, Newest-Oldest</option>
            </select>
          </div>
          <!--<div class="col-md-4">
            <select name="cities" class="selectpicker form-control" (change)="sortByName($event.target.value)">
              <option value="all" >Show: All Products</option>
            </select>
          </div>-->
        </div>
        <div class="row mx-0 mb-3 row-alignment">
          <div class="col-md-3 mt-3">
            <md-form-field>
              <input mdInput [mdDatepicker]="pickerFromDate" placeholder="From date" [ngModel]="fromDate" (change)="changeFromDate($event.target.value)" disabled>
              <md-datepicker-toggle mdSuffix [for]="pickerFromDate"></md-datepicker-toggle>
              <md-datepicker #pickerFromDate (selectedChanged)="changeFromDate($event)" [disabled]="false"></md-datepicker>
            </md-form-field>
          </div>
          <div class="col-md-3">
            <md-form-field>
              <input mdInput [mdDatepicker]="pickerToDate" placeholder="To date" [(ngModel)]="toDate" (change)="changeToDate($event.target.value)" disabled>
              <md-datepicker-toggle mdSuffix [for]="pickerToDate"></md-datepicker-toggle>
              <md-datepicker #pickerToDate (selectedChanged)="changeToDate($event)" [disabled]="false"></md-datepicker>
            </md-form-field>
          </div>
        </div>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)" ></pagination>
        <!-- /pagging -->
        <table class="table table-shaves mt-2">
          <thead>
            <tr>
              <th>Full Name</th>
              <th class="th-email">Email</th>
              <th class="">Phone</th>
              <th>Created At</th>
              <!--<th></th>-->
            </tr>
          </thead>
          <tbody *ngIf="!isLoading">
            <tr *ngFor="let item of userList.rows">
              <td class="td-name">
                {{ item.firstName + " " + item.lastName }}
              </td>
              <td class="td-email">
                {{ item.email }}
              </td>
              <td class="td-status">{{ item.phone}}</td>
              <td>{{ item.createdAt | date: 'yyyy-MM-dd'}}</td>
              <!--<td class="td-actions">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                  </button>
                  <div class="dropdown-menu actiion-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="editUserCustomer(item)">Edit</a>
                    <a class="dropdown-item" (click)="deleteUserCustomer(item.id)" *ngIf="item.isActive">Remove</a>
                    <a class="dropdown-item" (click)="activeUserCustomer(item.id)" *ngIf="!item.isActive">Active</a>
                  </div>
                </div>
              </td>-->
            </tr>
            <tr *ngIf="userList.rows.length === 0"><td colspan="3" class="text-center">No Items</td></tr>
          </tbody>
        </table>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"
          [showing]="false"></pagination>
        <!-- /pagging -->
      </div>
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->
</div>

<!-- add-sales-man-modal -->
<add-user-customer-modal (hasChange)="hasChangeUserCustomer($event)"></add-user-customer-modal>
<!-- edit-sales-man-modal -->
<edit-user-customer-modal (hasChange)="hasChangeUserCustomer($event)"></edit-user-customer-modal>