#about-page {
	.title {
		font-size: 25px;
		line-height: 41px;
    margin-bottom: 15px;
	}
	.summary {
		font-size: 16px;
		line-height: 27px;
	}

	.about {
		&-header {
			background-color: #222222;
			color: #fff;
			&__row {
				min-height: 290px;
			}
			.text {
		    font-size: 34px;
		    line-height: 48px;
		    max-width: 400px;
		    margin: 0 auto;
		    font-weight: bold;
			}
		}

		&-block {
			background-color: #e5e5e5;
			&__row {
				min-height: 728px;
			}
		}

		&-grid {
			&__col {
		    padding: 80px;
		    min-height: 688px;
				background-color: #f7f7f7;
				&-content {
			    max-width: 382px;
				}
				&-image {
					min-height: 320px;
				}
			}
		}

		&-footer {
			text-align: center;
			min-height: 265px;
			background-color: #ececec;

			.text {
		    font-size: 25px;
		    line-height: 41px;
		    max-width: 500px;
		    margin: 0 auto;
		    font-weight: bold;
		    margin-bottom: 30px;
			}
			.btn {
		    padding: 10px 0px;
		    letter-spacing: 2px;
		    min-width: 211px;
		    width: auto;
			}
		}
	}
}

.bg-gray {
	background-color: #d2d4cf;
}

.bg-blue {
	background-color: #bed6dd;
}


@media screen and (max-width: 767px) {
	#about-page {
		.about {
			&-header {
				.text {
					font-size: 24px;
					line-height: 38px;
					max-width: 100%;
				}
			}

			&-block {
				background-color: transparent;
				&__row {
					min-height: auto;
				}

				&__group {
					&-image {
						min-height: 320px;
				    margin: 0 -15px;
						background-color: #e5e5e5;
					}

					&-text {
				    padding: 35px 0;
					}
				}
			}

			&-grid {
				&__col {
					min-height: auto;
					padding: 35px 15px;
					order: 1;

					&-image {
						order: 0;
					}
				}
			}

			&-footer {
		    padding: 35px 0;
				text-align: left;
				.text {
			    font-size: 22px;
			    line-height: 32px;
			    max-width: 100%;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 997px) {
	#about-page {
		.about {
			&-grid {
				&__col {
					padding: 40px;
				}
			}
		}
	}
}
