<div id="about-page">
	<div class="about-header text-center">
		<div class="row m-0 align-items-center about-header__row">
			<div class="col-md-12">
				<p class="text">
					Lorem ipsum dolor sit amet sit lorem ipsum lorem ipsum.
				</p>
			</div>
		</div>
	</div>
	<div class="about-block">
		<div class="container shave2u-container">
			<div class="about-block__group">
				<div class="row m-0 align-items-center about-block__row">
					<div class="col-md-7">
						<div class="about-block__group-image">
						</div>
					</div>
					<div class="col-md-5">
						<div class="about-block__group-text">
							<h3 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</h3>
							<p class="summary">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  enim ad minim veniam, quis.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="about-grid">
		<div class="row m-0">
			<div class="col-md-6 about-grid__col d-flex flex-wrap justify-content-end align-items-center">
				<div class="about-grid__col-content">
					<h3 class="title">Lorem ipsum adipisicing elit, sed do eiusmod.</h3>
					<p class="summary">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  enim ad minim veniam, quis.
					</p>
				</div>
			</div>
			<div class="col-md-6 about-grid__col-image bg-gray"></div>
		</div>
		<div class="row m-0">
			<div class="col-md-6 about-grid__col-image bg-blue"></div>
			<div class="col-md-6 about-grid__col d-flex flex-wrap justify-content-start align-items-center">
				<div class="about-grid__col-content">
					<h3 class="title">Lorem ipsum adipisicing elit, sed do eiusmod.</h3>
					<p class="summary">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  enim ad minim veniam, quis.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="about-footer">
		<div class="row m-0 align-items-center about-header__row">
			<div class="col-md-12">
				<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo.</p>
				<a class="btn btn-primary learn-more" routerLink="/shave-plans/free-trial">{{ 'lbl.core.home.btn_start_a_trial' | translate }}</a>
			</div>
		</div>
	</div>
</div>
