<section class="container shave2u-container" id="privacy-policy">
  <div class="std">
    <div>
      <div class="subtitle">
        <h2>{{ 'lbl.core.footer.privacy_policy_main' | translate }}</h2>
      </div>
      <div class="body-content" [innerHTML]="privacyContent | safeHtml"></div>
      <!-- <ol>
        <li>
          <h4>INTRODUCTION</h4>
          <ol>
            <li>This is the privacy policy (“Privacy Policy”) of Shaves2u Sdn. Bhd. (“
              <strong>Company</strong>”, “
              <strong>we</strong>”, “
              <strong>us</strong>”, or “
              <strong>our</strong>”). </li>
            <li>To process, administer and/or manage your relationship with us, we will necessarily need to collect, use, disclose
              and/or process your personal data. This Privacy Policy applies to personal data about you (our clients, directors,
              shareholders, vendors, distributors, suppliers, contractors, service providers, business partners, etc) and/or
              individuals provided by you, possessed by us or that we obtain about you, whether now or in the future. We
              will only process your personal data in accordance with the Personal Data Protection Act 2010, the applicable
              regulations, guidelines, orders made under the Personal Data Protection Act 2010 and any statutory amendments
              or re-enactments made of the Personal Data Protection Act 2010 from time to time (collectively referred to
              as the “
              <strong>PDPA</strong>”) as well as this Privacy Policy. </li>
            <li>If you are a corporate entity/an organisation, references to the term “you” and “your” shall also include your
              employees, representatives and agents. </li>
            <li>The PDPA requires us to inform you of your rights in respect of your personal data that is being processed or
              that is to be collected and further processed by us and the purposes for the data processing. The PDPA also
              requires us to obtain your consent to the processing of your personal data. In light of the PDPA, we are committed
              to protecting and safeguarding your personal data.</li>
            <li>By providing your personal data to us and/or continuing access to our website (“Site”), you declare that you
              have read and understood this Privacy Policy and agree to us processing your personal data in accordance with
              the manner as set out in this Privacy Policy. </li>
            <li>We reserve the right to modify, update and/or amend this Privacy Policy from time to time with reasonable prior
              notice to you. We will notify you of any amendments via announcements on the Site or other appropriate means.
              Please check the Site from time to time to see if there are amendments to this Privacy Policy. Any amendments
              to this Privacy Policy will be effective upon notice to you. By continuing to communicate with us, use our
              services, and/or access to the Site after being notified of any amendments to this Privacy Policy, you will
              be treated as having agreed to and accepted those amendments. </li>
            <li>It is necessary for us to collect and process your personal data. If you do not provide us with your personal
              data, or do not consent to this Privacy Policy or any amendments to this Privacy Policy, we may not be able
              to render all services to you and you may be required to terminate your relevant agreement with us and/or stop
              accessing or using the Site. </li>

          </ol>
        </li>
        <div>
          <br>
        </div>
        <li>
          <h4>COLLECTION OF PERSONAL DATA</h4>
          <ol>
            <li>The term “
              <strong>personal data</strong>” means any information in our possession or control that relates directly or indirectly
              to an individual to the extent that the individual can be identified or are identifiable from that and other
              information in our possession such as name, address, telephone number, NRIC No, date of birth, email address,
              etc. The types of personal data collected depend on the purpose of collection. We may “process” your personal
              data by way of collecting, recording, holding, storing, using and/or disclosing it. </li>
            <li>Your personal data may be collected from you during your course of dealings with us in any way or manner including
              pursuant to any transactions and/or communications made from/with us. We may also collect your personal data
              from a variety of sources, including without limitation, at any meetings, events, seminars, conferences, talks,
              road shows, customer satisfaction surveys organised and/or sponsored by us, as well as from publicly available
              sources. </li>
            <li>In addition, we may also receive, store and process your personal data which are provided or made available by
              any third parties, credit reference bodies, regulatory and law enforcement authorities, for reasons including
              delivery of our services, performance of conditions of agreements and/or to comply with our legal and regulatory
              obligations.</li>

          </ol>
        </li>
        <div>
          <br>
        </div>
        <li>
          <h4>PURPOSE OF ACQUIRING AND PROCESSING YOUR PERSONAL DATA</h4>
          <ol>
            <li>The personal data as provided/furnished by you to us or collected by us from you or through such other sources
              as may be necessary for the fulfilment of the purposes at the time it was sought or collected, may be processed
              for the following purposes (collectively referred to as the “
              <strong>Purposes</strong>”):
              <ul>
                <li>to assess, process and provide services to you;</li>
                <li>to facilitate, process, deal with, administer, manage and/or maintain your relationship with us;
                </li>
                <li> to consider and/or process your application/transaction with us; </li>
                <li>to respond to your enquiries or complaints or resolve any issues and disputes which may arise in connection
                  with any dealings with us; </li>
                <li>to administer and process any payments related to services requested by you; </li>
                <li> to facilitate your participation in, and our administration of, any events organised by us;</li>
                <li>to conduct credit reference checks and establish your credit worthiness, where necessary, in providing you
                  with the services; </li>
                <li>to carry out due diligence or other monitoring or screening activities (including background checks) in accordance
                  with legal or regulatory obligations or risk management procedures that may be required by law or that
                  may have been put in place by us; </li>
                <li>to administer and give effect to your commercial transactions with us; </li>
                <li>to process any payments related to your commercial transactions with us; </li>
                <li>to provide you with information and/or updates on our services and/or events which may be of interest to
                  you from time to time by SMS, phone call, email, fax, mail, social media and/or any other appropriate communication
                  channels;</li>
                <li>to send you seasonal greetings messages, gifts, newsletters from time to time; </li>
                <li>to send you invitation to join our events; </li>
                <li>to monitor, review and improve our services and/or events;</li>
                <li>to process and analyse your personal data either individually or collectively with other individuals;
                </li>
                <li>to conduct market research or surveys, internal marketing analysis, client profiling activities, analysis
                  of client patterns and choices, planning and statistical and trend analysis in relation to our services;</li>
                <li>to share any of your personal data with the auditor for our internal audit and reporting purposes; </li>
                <li>to share any of your personal data pursuant to any agreement or document which you have duly entered with
                  us for purposes of seeking legal and/or financial advice and/or for purposes of commencing legal action;</li>
                <li>to share any of your personal data with a third party necessary for the preparation of legal documents or
                  contract to be entered by you;</li>
                <li>to share any of your personal data with our business partners to jointly develop services or launch marketing
                  campaigns; </li>
                <li>to share any of your personal data with insurance companies necessary for the purpose of applying and obtaining
                  insurance policy(ies), if necessary; </li>
                <li>to share any of your personal data with financial institutions necessary for the purpose of applying and
                  obtaining credit facility(ies), if necessary; </li>
                <li>to communicate with you and to maintain and improve client relationship; </li>
                <li>to maintain and update internal record keeping, files and contact lists; </li>
                <li>to detect, investigate and prevent any fraudulent, prohibited or illegal activity or omission or misconduct;
                  </li>
                <li>to enable us to perform our obligations and enforce our rights under any agreements or documents that we
                  are a party to;</li>
                <li>to transfer or assign our rights, interests and obligations under any agreements entered into with us; </li>
                <li>to meet any applicable legal or regulatory requirements and making disclosure under the requirements of any
                  applicable law, regulation, direction, court order, by-law, guideline, circular or code applicable to us;</li>
                <li>to comply with or as required by any request or direction of any governmental authority; or responding to
                  requests for information from public agencies, ministries, statutory bodies or other similar authorities;
                  </li>
                <li>to enforce or defend our rights and your rights under, and to comply with, our obligations under the applicable
                  laws, legislation and regulations; </li>
                <li>for direct marketing purposes via SMS, phone call, email, fax, mail, social media and/or any other appropriate
                  communication channels;</li>
                <li>for internal administrative purposes; </li>
                <li>for audit, risk management and security purposes; </li>
                <li>for registration for a user account with us; </li>
                <li>for our storage, hosting back-up (whether for disaster recovery or otherwise) of your personal data, whether
                  within or outside Malaysia; and/or</li>
                <li>for other purposes required to operate, maintain and better manage our business and your relationship with
                  us, </li>

              </ul>
              and you agree and consent to us using and processing your personal data for the Purposes in the manner as identified in this
              Privacy Policy. If you do not consent to us processing your personal data for one or more of the Purposes,
              please notify us at the contact details below.
            </li>
            <li>We will seek your separate consent for any other purposes which do not fall within the categories stated above.
              </li>
            <li>We may also be collecting from sources other than yourself, personal data about you, for one or more of the above
              Purposes, and thereafter using, disclosing and/or processing such personal data for one or more of the above
              Purposes. </li>

          </ol>
        </li>
        <div>
          <br>
        </div>
        <li>
          <h4>CONSEQUENCES OF NOT CONSENTING TO THIS PRIVACY POLICY </h4>
          The collection of your personal data by us may be mandatory or voluntary in nature depending on the Purposes for which your
          personal data is collected. Where it is mandatory for you to provide us with your personal data, and you fail or
          choose not to provide us with such data, or do not consent to the above or this Privacy Policy, we will not be
          able to provide our services or otherwise deal with you, if at all.</li>
        <div>
          <br>
        </div>
        <li>
          <h4>DISCLOSURE OF YOUR PERSONAL DATA</h4>
          We will not sell, rent, transfer or disclose any of your personal data to any third party without your consent. However,
          we may disclose your personal data to the following third parties, for one or more of the above Purposes:
          <ul>
            <li> the Company’s group of companies including the Company’s parent/holding company, related and/or associated companies;
              </li>
            <li>your immediate family members and/or emergency contact person as may be notified to us from time to time;</li>
            <li>successors in title to us; </li>
            <li>any person under a duty of confidentiality to which has undertaken to keep your personal data confidential which
              we have engaged to discharge our obligations to you; </li>
            <li>any party in relation to legal proceedings or prospective legal proceedings; </li>
            <li>our auditors, consultants, lawyers, accountants or other financial or professional advisers appointed in connection
              with our business on a strictly confidential basis, appointed by us to provide services to us;</li>
            <li>any party nominated or appointed by us either solely or jointly with other service providers, for purpose of
              establishing and maintaining a common database where we have a legitimate common interest;</li>
            <li>data centres and/or servers located within or outside Malaysia for data storage purposes; </li>
            <li>storage facility and records management service providers;</li>
            <li>payment channels including but not limited to banks and financial institutions for purpose of assessing, verifying,
              effectuating and facilitating payment of any amount due to us;</li>
            <li>government agencies, law enforcement agencies, courts, tribunals, regulatory/professional bodies, industry regulators,
              ministries, and/or statutory agencies or bodies, offices or municipality in any jurisdiction, if required or
              authorised to do so, to satisfy any applicable law, regulation, order or judgment of a court or tribunal or
              queries from the relevant authorities;</li>
            <li>our business partners, third party product and/or service providers, suppliers, vendors, distributors, contractors
              or agents, on a need to know basis, that provide related products and/or services in connection with our business,
              or discharge or perform one or more of the above Purposes and other purposes required to operate and maintain
              our business; </li>
            <li>insurance companies for the purpose of applying and obtaining insurance policy(ies), if necessary;
            </li>
            <li> financial institutions for the purpose of applying and obtaining credit facility(ies), if necessary;
            </li>
            <li> financial institutions, merchants and credit card organisations in connection with your commercial transactions
              with us; </li>
            <li>the general public when you become a winner in a contest, participate in our events, conferences, talks and seminars
              by publishing your name, photographs and other personal data without compensation for advertising and publicity
              purposes; </li>
            <li>any third party (and its advisers/representatives) in connection with any proposed or actual reorganization,
              merger, sale, consolidation, acquisition, joint venture, assignment, transfer, funding exercise or asset sale
              relating to any portion of the Company; and/or</li>
            <li>any other person reasonably requiring the same in order for us to operate and maintain our business or carry
              out the activities set out in the Purposes or as instructed by you.</li>
          </ul>
        </li>
        <div>
          <br>
        </div>
        <li>
          <h4>ACCURACY OF YOUR PERSONAL DATA</h4>
          We take it that all personal data provided by you is accurate and complete, and that none of it is misleading or out of date.
          You will promptly update us in the event of any change to your personal data.
        </li>
        <div>
          <br>
        </div>
        <li>
          <h4>YOUR RIGHTS</h4>
          <ol>
            <li>To the extent that the applicable law allows, you have the right to request for access to, request for a copy
              of, request to update or correct, your personal data held by us. We may charge a small fee (such amount as
              permitted by the PDPA) to cover the administration costs involved in processing your request to access your
              personal data. Notwithstanding the foregoing, we reserve our rights to rely on any statutory exemptions and/or
              exceptions to collect, use and disclose your personal data.
            </li>
            <li>You have the right at any time to request us to limit the processing and use of your personal data (for example,
              requesting us to stop sending you any marketing and promotional materials or contacting you for marketing purposes).
              </li>
            <li>In addition, you also have the right, by notice in writing, to inform us on your withdrawal (in full or in part)
              of your consent given previously to us subject to any applicable legal restrictions, contractual conditions
              and a reasonable duration of time for the withdrawal of consent to be effected. However, your withdrawal of
              consent could result in certain legal consequences arising from such withdrawal. In this regard, depending
              on the extent of your withdrawal of consent for us to process your personal data, it may mean that we will
              not be able to continue with your existing relationship with us or the contract that you have with us will
              have to be terminated.</li>

          </ol>
        </li>
        <div>
          <br>
        </div>
        <li>
          <h4>RETENTION OF YOUR PERSONAL DATA</h4>
          Any of your personal data provided to us is retained for as long as the purposes for which the personal data was collected
          continues; your personal data is then destroyed or anonymised from our records and system in accordance with our
          retention policy in the event your personal data is no longer required for the said purposes unless its further
          retention is required to satisfy a longer retention period to meet our operational, legal, regulatory, tax or accounting
          requirements.</li>
        <div>
          <br>
        </div>
        <li>
          <h4>SECURITY OF YOUR PERSONAL DATA</h4>
          <ol>
            <li>We are committed to ensuring that your personal data is stored securely. In order to prevent unauthorised access,
              disclosure or other similar risks, we endeavour, where practicable, to implement appropriate technical, physical,
              electronic and procedural security measures in accordance with the applicable laws and regulations and industry
              standard to safeguard against and prevent the unauthorised or unlawful processing of your personal data, and
              the destruction of, or accidental loss, damage to, alteration of, unauthorised disclosure of or access to your
              personal data.</li>
            <li>We will make reasonable updates to its security measures from time to time and ensure the authorised third parties
              only use your personal data for the Purposes set out in this Privacy Policy.</li>
            <li>The Internet is not a secure medium. However, we will put in place various security procedures with regard to
              the Site and your electronic communications with us. All our employees and data processors, who have access
              to, and are associated with the processing of your personal data, are obliged to respect the confidentiality
              of your personal data. </li>
            <li>Please be aware that communications over the Internet, such as emails/webmails are not secure unless they have
              been encrypted. Your communications may be routed through a number of countries before being delivered – this
              is the nature of the World Wide Web/Internet.</li>
            <li>We cannot and do not accept responsibility for any unauthorised access or interception or loss of personal data
              that is beyond our reasonable control.</li>
          </ol>
        </li>
        <div>
          <br>
        </div>
        <li>
          <h4>PERSONAL DATA FROM MINORS AND OTHER INDIVIDUALS </h4>
          <ol>
            <li>To the extent that you have provided (or will provide) personal data about your family members, spouse, other
              dependents (if you are an individual), directors, shareholders, employees, representatives, agents (if you
              are a corporate entity/an organisation) and/or other individuals, you confirm that you have explained (or will
              explain) to them that their personal data will be provided to, and processed by, us and you represent and warrant
              that you have obtained their consent to the processing (including disclosure and transfer) of their personal
              data in accordance with this Privacy Policy.</li>
            <li>In respect of minors (i.e. individuals under 18 years of age) or individuals not legally competent to give consent,
              you confirm that you are the parent or guardian or person who has parental responsibility over them or the
              person appointed by court to manage their affairs or that they have appointed you to act for them, to consent
              on their behalf to the processing (including disclosure and transfer) of their personal data in accordance
              with this Privacy Policy. </li>
          </ol>
        </li>
        <div>
          <br>
        </div>
        <li>
          <h4>TRANSFER OF YOUR PERSONAL DATA OUTSIDE OF MALAYSIA </h4>
          Our information technology storage facilities and servers may be located in other jurisdictions outside of Malaysia. This
          may include, but not limited to, instances where your personal data may be stored on servers located outside Malaysia.
          In addition, your personal data may be disclosed or transferred to entities located outside Malaysia or where you
          access the Site from countries outside Malaysia. Please note that these foreign entities may be established in
          countries that might not offer a level of data protection that is equivalent to that offered in Malaysia under
          the laws of Malaysia. You hereby expressly consent to us transferring your personal data outside of Malaysia for
          such purposes. We shall endeavour to ensure that reasonable steps are taken to procure that all such third parties
          outside of Malaysia shall not use your personal data other than for that part of the Purposes and to adequately
          protect the confidentiality and privacy of your personal data.
        </li>

        <div>
          <br>
        </div>
        <li>
          <h4>WEBSITE</h4>
          <ol>
            <li>External links
              <ul style="list-style-type: lower-alpha;">
                <li>If any part of the Site links you to other websites, those websites do not operate under this Privacy Policy
                  and we do not accept any responsibility or liability arising from those websites.</li>
                <li>Likewise, if you subscribe to an application, content or a service from our strategic partner and you subsequently
                  provide your personal data directly to that third party, that personal data will be subject to that third
                  party’s privacy/personal data protection policy (if they have such a policy) and not to this Privacy Policy.
                  </li>
                <li>We recommend you to read and understand the privacy/personal data protection statement/policy posted on those
                  other websites in order to understand their procedures for collecting, processing, using and disclosing
                  personal data and before submitting your personal data to those websites. </li>
              </ul>
            </li>
            <li>Cookies
              <ul style="list-style-type: lower-alpha;">
                <li>We employ an industry standard technology called “cookies”. The cookie is a small piece of information stored
                  on the hard drive of your computer or device for record-keeping purposes, and is used by us to track your
                  visits to the Site. Cookies may be used to save your preferences for your ease and convenience when using
                  the Site. Third party advertising networks may issue their separate cookies to your hard drive when serving
                  advertisements.</li>
                <li>The type of anonymous click stream data collected by us through the cookies may include your Internet Protocol
                  address, web browser software, date and time of visit to the Site, and whether your requests (including
                  search requests and clicking on links to parts of the Site) were met with successfully. All such information
                  collected through cookies are not personal data and you cannot be identified from this information. Such
                  information is only used for the purpose of managing and creating a better user experience, analysing the
                  traffic on the Site and to identify areas for improvement on the Site.</li>
                <li>The use of cookies is now an industry standard, and you will find them used on most major websites. Most
                  browsers are initially set up to accept cookies. If you prefer, you can reset your browser either to notify
                  you when you have received a cookie, or to refuse to accept cookies. You should understand that certain
                  features on the Site will not function properly if you set your browser to not accept cookies.</li>
              </ul>
            </li>
          </ol>
        </li>
        <div>
          <br>
        </div>
        <li>
          <h4>CONTACT DETAILS </h4>
          If you have any questions about this Privacy Policy, or have any further queries, or would like to make a complaint or data
          access or correction request in respect of your personal data, you may contact us at the contact details below:
          <ul style="list-style-type:inherit;">
            <li>
              <table>
                <tbody>
                  <tr>
                    <th>Personal Data Protection Officer</th>
                  </tr>
                  <tr>
                    <td>Address:</td>
                    <td>Shaves2u Sdn Bhd, Level 18, Axiata Tower, No 9, Jalan Stesen Sentral 5, KL Sentral, 50470, Kuala Lumpur</td>
                  </tr>

                  <tr>
                    <td>Contact No.:</td>
                    <td>03 22622330</td>
                  </tr>

                  <tr>
                    <td>Fax No.:</td>
                    <td>03 22622301</td>
                  </tr>

                  <tr>
                    <td>Email Address:</td>
                    <td>
                      <a href="mailto:help@shaves2u.com">help@shaves2u.com</a>
                    </td>
                  </tr>

                </tbody>
              </table>
            </li>
          </ul>

          <div style="font-size:11px;padding-top:20px;">
            <i>Last updated: January 2017</i>
          </div>
        </li>

      </ol> -->
    </div>
  </div>
</section>