.product-detail-slider,
.plan-slider-desktop {
  .pgw-slider {
    max-width: 46px;
    // margin-left: 40px;
    margin-top: 0px;
    li {
      max-width: 44px;
      max-height: 44px;
			border: 1px solid #CCC;
			position: relative;
    }
	}
		a.fix-position {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			img{
				width: auto;
				max-width: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				min-height: auto;
			}
		}
}

.plan-slider-desktop {
	.pgwSlider {
		margin-left: 0;
		.ps-current {
	    width: calc(100% - 46px);
		}
	}
}

.plan-slider-mobile {
	min-height: 260px;
	display: none;
	.pgw-slider {
		&.ps-list {
			text-align: center;
	    margin-bottom: 10px;
			&.hide-bullets {
				display: none;
			}
			li {
				margin: 0 5px;
				max-width: 10px;
				max-height: 10px;
				min-height: auto;
				min-width: auto;
				border-radius: 50%;
				float: none;
				display: inline-block;
				background-color: #ccc;
				&.active {
					background-color: #333;
				}
				img {
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	// .plan-slider-mobile {
	// 	display: inline-block;
	// 	min-height: 400px;
  //   width: 100%;
	// }
	// .plan-slider-desktop {
	// 	display: none;
	// }
	.product-detail-slider {
		min-height: 260px;
		.pgw-slider {
			display: block;
			width: 100%;
			max-width: none;
			margin-left: 0;
	    margin-top: 15px;
			&.ps-list {
				text-align: center;
		    margin-bottom: 10px;
				&.hide-bullets {
					display: none;
				}
				li {
					border: 0;
					max-width: 10px;
					max-height: 10px;
					min-height: auto;
					min-width: auto;
			    margin: 0 10px;
					border-radius: 50%;
					float: none;
					display: inline-block;
					background-color: #636c72;
					&.active {
						background-color: #fd5000;
					}
					img {
						display: none;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 997px) {
	// .plan-slider-desktop {
	// 	.pgw-slider {
	// 		max-width: 100%;

	// 		li {
	// 	    margin-right: 5px;
	// 	    float: left;
	// 		}
	// 	}
	// }
	.product-detail-slider {
		.pgw-slider {
			max-width: 100%;

			li {
				float: left;
			}
		}
	}
}
