.strong-7 {
  font-weight: 700;
}
.body-container-full {
  //
  form {
    .form-control:focus,
    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    .uneditable-input:focus {   
      border-color: rgba(0, 0, 0, 0.15);
      // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6) !important;
      outline: 0 none !important;
      box-shadow: none;
    }
  }
  button:focus {
    // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6) !important;
    outline: 0 none !important;
  }
  .has-danger .form-control {
    border-color: #d9534f!important;
  }
  .has-danger .col-form-label, .has-danger .custom-control, .has-danger .form-check-label, .has-danger .form-control-feedback, .has-danger .form-control-label {
    color: #d9534f;
  }

  .text-danger {
    color: #d9534f!important;
  }

  background-color: #FFF;
  // &.body-gray {
  //   // background-color: #fbfbfb;
  //   nav {
  //     &.navbar-top {
  //       // background-color: #fbfbfb;
  //     }
  //   }
  // }
  .box-center-horizontal {
    display: table;
    margin: auto;
  }
  .box-center-vertical {
    // To implement this class, need to add the "Height" for this element.
    display: table-cell;
    vertical-align: middle;
  }

  // image in 'display image directive'
  .image-contain {
    &.image-center {
      @extend .box-center-horizontal;
      .image-inner {
        @extend .box-center-vertical;
      }
    }
    &.image-center-with-border {
      border: 1px solid #DDD;
      .image-inner {
        @extend .box-center-horizontal;
        .image {
          @extend .box-center-vertical;
        }
      }
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .text-contain {
    &.text-center-vertical {
      @extend .box-center-horizontal;
      text-align: center;
      .text-inner {
        @extend .box-center-vertical;
        h4 {
          font-size: 16px;
        }
      }
    }
  }

  // Quantity Tool
  .quantity-action-tool {
    display: flex;
    input {
      width: 50px;
      height: 40px;
      text-align: center;
      border: 1px solid #eeeeee;
    }
    .btn-minus, .btn-plus {
      border-radius: 50%;
      border: none;
      width: 20px;
      height: 20px;
      overflow: hidden;
      display: table-cell;
      vertical-align: middle;
      padding: 0;
      top: 0;
      position: relative;
      font-size: 14px;
      text-align: center;
      line-height: 20px;
      margin: 10px;
      cursor: pointer;
      background-color: #3a6e9c;
      font-size: 13px;
      &.inactive {
        background-color: #cccccc;
      }
      .fa-minus, .fa-plus {
        top: 0px;
        position: relative;
        left: 1;
        color: #FFF;
      }
    }
    .btn-disabled {
      background-color: #d6d6d6;
      color: #ffffff;
      border-color: #d6d6d6;
      pointer-events: none;
    }
  }

  // clickable
  .clickable {
    cursor: pointer;
  }

  .box-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .flex {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
  }

}


.mainWrap  {
  padding-bottom: 70px;
  .group-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    .btn {
      opacity: 1;
    }
  }
}