.strong-7 {
  font-weight: 700;
}

.body-container-full {
  background-color: #FFF;
}

.body-container-full form .form-control:focus,
.body-container-full form textarea:focus,
.body-container-full form input[type="text"]:focus,
.body-container-full form input[type="password"]:focus,
.body-container-full form input[type="datetime"]:focus,
.body-container-full form input[type="datetime-local"]:focus,
.body-container-full form input[type="date"]:focus,
.body-container-full form input[type="month"]:focus,
.body-container-full form input[type="time"]:focus,
.body-container-full form input[type="week"]:focus,
.body-container-full form input[type="number"]:focus,
.body-container-full form input[type="email"]:focus,
.body-container-full form input[type="url"]:focus,
.body-container-full form input[type="search"]:focus,
.body-container-full form input[type="tel"]:focus,
.body-container-full form input[type="color"]:focus,
.body-container-full form .uneditable-input:focus {
  border-color: rgba(0, 0, 0, 0.15);
  outline: 0 none !important;
  box-shadow: none;
}

.body-container-full button:focus {
  outline: 0 none !important;
}

.body-container-full .has-danger .form-control {
  border-color: #d9534f !important;
}

.body-container-full .has-danger .col-form-label, .body-container-full .has-danger .custom-control, .body-container-full .has-danger .form-check-label, .body-container-full .has-danger .form-control-feedback, .body-container-full .has-danger .form-control-label {
  color: #d9534f;
}

.body-container-full .text-danger {
  color: #d9534f !important;
}

.body-container-full .box-center-horizontal, .body-container-full .image-contain.image-center, .body-container-full .image-contain.image-center-with-border .image-inner, .body-container-full .text-contain.text-center-vertical {
  display: table;
  margin: auto;
}

.body-container-full .box-center-vertical, .body-container-full .image-contain.image-center .image-inner, .body-container-full .image-contain.image-center-with-border .image-inner .image, .body-container-full .text-contain.text-center-vertical .text-inner {
  display: table-cell;
  vertical-align: middle;
}

.body-container-full .image-contain.image-center-with-border {
  border: 1px solid #DDD;
}

.body-container-full .image-contain img {
  max-width: 100%;
  max-height: 100%;
}

.body-container-full .text-contain.text-center-vertical {
  text-align: center;
}

.body-container-full .quantity-action-tool {
  display: flex;
}

.body-container-full .quantity-action-tool input {
  width: 50px;
  height: 40px;
  text-align: center;
  border: 1px solid #eeeeee;
}

.body-container-full .quantity-action-tool .btn-minus, .body-container-full .quantity-action-tool .btn-plus {
  border-radius: 50%;
  border: none;
  width: 20px;
  height: 20px;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  top: 0;
  position: relative;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  margin: 10px;
  cursor: pointer;
  background-color: #3a6e9c;
  font-size: 13px;
}

.body-container-full .quantity-action-tool .btn-minus.inactive, .body-container-full .quantity-action-tool .btn-plus.inactive {
  background-color: #cccccc;
}

.body-container-full .quantity-action-tool .btn-minus .fa-minus, .body-container-full .quantity-action-tool .btn-minus .fa-plus, .body-container-full .quantity-action-tool .btn-plus .fa-minus, .body-container-full .quantity-action-tool .btn-plus .fa-plus {
  top: 0px;
  position: relative;
  left: 1;
  color: #FFF;
}

.body-container-full .clickable {
  cursor: pointer;
}

.body-container-full .box-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-container-full .box-flex .flex {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
