#payment-method {
  // max-width: 800px;
  margin: 0 auto;
  .btn-paynow-top{
    width: 100%;
    margin: 30px 0 15px;
    border-bottom: 1px solid #d4d4d4;
    span{
      float: left;
      margin-right: 20px;
    }
    .btn-paynow-top-price{
      font-size: 23px;
      font-family: 'Muli Bold';
      line-height: 61px;
      display: inline-block;
      label {
        font-size: 13px;
        margin: 0;
      }
    }
    p{
      margin-top: 20px;
      width: 100%;
      float: left;
      color: #636c72;
    }
  }
  .heading {
    font-family: 'Muli Bold';
    font-size: 16px;
    color: #3A6E9C;
    a{
      color: #3A6E9C;
      span.fa{
        margin-right: 15px;
      }
    }
  }

  .heading-subs {
    font-family: 'Muli Bold';
    font-size: 16px;
  }

  .account-info {

  }

  .address-info {
    color: #636c72;
    h5{
      color: #636c72;
      text-transform: uppercase;
      font-family: 'Muli';
      &.heading-subs{
        margin-bottom: 30px;
      }
      &.heading{
        margin-top: 20px;
      }
      a{
        color: #f57135;
        // border-bottom: 1px solid #f57135;
      }
    }
    .shipping, .billing {
      span {
        display: block;
      }
    }

    .shipping {
      padding-left: 0;
    }

    .billing {

    }

  }

  .payment-info {
    .card-info {
      margin-top: -10px;
      display: table;
      background: none;
      .card-image {
        display: table-cell;
        vertical-align: middle;
        width: 97px;
      }
      .card-text {
        display: table-cell;
        span {
          display: block
        }
      }
    }
  }
  .confirm-purchase{
    margin: 30px 0 20px;
  }
}

@import '_summary-place-order-trial-response.component';
