<div is="summary-place-order" id="payment-method" [@slideInOutCheckoutAnimation] *ngIf="stepsData && stepsData.loadedReview">
  <div *ngIf="this.cartService.getCart().length > 0 || this.hasFreeTrial || this.hasCustomPlan">
    <div class="row px-0">
      <div class="btn-paynow-top">
        <div class="btn-paynow-top-price">{{receipt.totalIclTax | smsCurrency}}<label>({{storage.getCountry().currencyCode}})</label></div>
        <span (click)="payNow()" class="btn btn-primary shave2u-btn-primary" *ngIf="storage.getCountry().isWebEcommerce">{{ 'checkout.step_review.btn_pay_now' | translate }}</span>
        <p class="mb-4 making-purchase-note"[innerHTML]="'checkout.step_review.making_purchase_note' | translate | safeHtml"></p>
      </div>
    </div>
    <div class="row address-info mt-3">
      <div class="col-sm-6 col-md-4 shipping">
        <h5 class="heading-subs">{{ 'checkout.step_review.address.heading_shipping' | translate }}</h5>
        <span>{{ stepsData.deliveryAddress.data.shipping.firstName + ' ' + stepsData.deliveryAddress.data.shipping.lastName }}</span>
        <span>{{ stepsData.deliveryAddress.data.shipping.address + ', ' + stepsData.deliveryAddress.data.shipping.city + ', ' + stepsData.deliveryAddress.data.shipping.portalCode + ', ' + stepsData.deliveryAddress.data.shipping.state }}</span>
        <span>{{ stepsData.deliveryAddress.data.shipping.contactNumber }}</span>
        <h5 class="heading"><a class="click-able" (click)="backToAddressStep()">{{ 'checkout.step_review.link_edit' | translate }}</a></h5>
      </div>
      <div class="col-sm-6 col-md-4 billing">
        <h5 class="heading-subs">{{ 'checkout.step_review.address.heading_billing' | translate }}</h5>
        <span>xxxx {{ stepsData.payment.data.card.cardNumber }}</span>
        <h5 class="heading"><a class="click-able" (click)="backToPaymentStep()">{{ 'checkout.step_review.link_edit' | translate }}</a></h5>
      </div>
    </div>
  </div>
  <app-cart-template-trial [cartItems]='cartItems' [template]='cartTemplate'></app-cart-template-trial>
  <p class="text-right confirm-purchase" *ngIf="this.cartService.getCart().length > 0 || this.hasFreeTrial || this.hasCustomPlan">
    <app-alert [message]="resError"></app-alert>
    <span (click)="payNow()" class="btn btn-primary shave2u-btn-primary shave2u-btn-primary-width100" *ngIf="storage.getCountry().isWebEcommerce">{{ 'checkout.step_review.btn_pay_now' | translate }}</span>
  </p>
</div>
