.footer {
  background-color: #f5f5f5;
}

.footer .container .row {
  margin: 0;
}

.footer .container .row [class*="col-"] {
  padding: 0;
}

.footer .section-right {
  height: 150px;
}

.footer .section-right .section-right-1 {
  position: absolute;
  bottom: 0;
  text-align: left;
  width: 100%;
}
