.footer {
  background-color: #ececec;
  // position: absolute;
  // bottom: -20px;
  // width: 100%;
  font-size: 14px;
  .footer-inner {
    min-height: 220px;
    // max-width: 1280px;
    padding: 0 55px;
    margin: auto;
  }
  a {
    color: #000;
  }
  .list-items-left {
    padding-top: 50px;
    padding-left: 40px;
    list-style: none;
    > li {
      display: inline-block;
      min-width: 150px;
      ul {
        li {
          &:last-child {
            margin-top: 25px;
            a {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .content-right {
    position: relative;
    text-align: right;
    .social-contain {
      margin-top: 80px;
      margin-left: -15px;
      padding-right: 30px;
      a {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
        margin: 0 5px;
      }
      .social-link-inner {
        font-size: 30px;
        a {
          margin-left: 30px;
        }
      }
    }
  }
  .box-contact {
    min-width: 255px;
    min-height: 220px;
    background-color: #000;
    padding: 45px 0;
    text-align: center;
    color: #FFF;
    margin-right: -15px;
    a {
      color: #FFF;
      font-weight: 400;
    }
    .box-contact-inner {
      display: table;
      margin: auto;
      .ico {
        display: block;
        font-size: 30px;
      }
      .phone {
        margin-top: 25px;
      }
    }
  }
}
