<footer class="bg-faded footer">
  <div class="container-fluid fotter-inner">
    <div class="row">
      <div class="col-lg-6">
        <ul class="list-items-left">
          <li>
            <ul>
              <li><a [href]="baseUrl + '/shave-plans'" target="_blank">Shave Plan</a></li>
              <ng-container *ngIf="!isLoadingProductTypes">
              <li *ngFor="let type of productTypes">
                <a class="click-able click-able-hover" (click)="redirectToProductPage(type.name)">{{ type.name }}</a>
              </li>
              </ng-container>
              <li><a>DISCOVER</a></li>
              <!--<li><a href="#">After shave</a></li>
              <li><a href="#">Handles</a></li>
              <li><a href="#">Cartridge</a></li>
              <li><a href="#">Starter Pack</a></li>
              <li><a href="#">Discover</a></li>-->
            </ul>
          </li>
          <li>
            <ul>
              <li><a [href]="baseUrl + '/faq'" target="_blank">FAQ</a></li>
              <li><a [href]="baseUrl + '/help'" target="_blank">Contact</a></li>
              <!--<li><a href="#" target="_blank">Track My Order</a></li>-->
              <li><a>SUPPORT</a></li>
            </ul>
          </li>
          <!--<li>
            <ul>
              <li><a href="#" target="_blank">Career</a></li>
              <li><a href="#" target="_blank">Our Company</a></li>
              <li><a href="#" target="_blank">About Shaves2u</a></li>
            </ul>
          </li>-->
        </ul>
      </div>
      <div class="col-lg-6">
        <div class="content-right rpull-right">
          <div class="box-contact pull-right">
            <div class="box-contact-inner">
              <div class="email">
                <i class="ico fa fa-envelope"></i>
                <a href="mailto:help.my@email.com">MYS: help.my@shaves2u.com</a><br>
                <a href="mailto:help.sg@email.com">SGD: help.sg@shaves2u.com</a>
              </div>
              <div class="phone">
                <i class="ico fa fa-phone"></i>
                <a href="tel:+60327732882">MYS: +603 2773 2882</a><br>
                <a href="tel:+6563291488">SGD: +65 6329 1488</a>
              </div>
            </div>
          </div>
          <div class="pull-right social-contain">
            <p class="social-link-inner">
              <a href="https://www.instagram.com/shaves2u/" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://www.facebook.com/Shaves2u/" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="https://www.youtube.com/user/Shaves2U" target="_blank"><i class="fa fa-youtube-play"></i></a>
            </p>
            <p>
              <a [href]="baseUrl + '/terms-conditions'" target="_blank">Terms &amp; Conditions</a> | 
              <a [href]="baseUrl + '/privacy-policy'" target="_blank">Privacy Policy</a>
            </p>
            <p class="copyright">© All Rights Reserved 2017</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>