<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'lbl.user.setting.address_modal.header_edit_addr' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="user-form">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <!-- edit form column -->
                <div class="col-md-12 adddress-info">
                  <!-- <form #f='ngForm' novalidate (ngSubmit)='f.form.valid && doEditDeliveryAddress(addressItem)'> -->
                  <form [formGroup]='deliveryAddressForm' #f='ngForm' novalidate (ngSubmit)='f.form.valid && doEditDeliveryAddress(deliveryAddressForm.value)'> 
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-danger': f.submitted && deliveryAddressForm.hasError('required', 'firstName')}">
                              <label for="input-first-name">{{ 'lbl.user.setting.address_modal.first_nm' | translate }}</label>
                              <input type="text" class="form-control" id="input-first-name" placeholder="{{ 'lbl.user.setting.address_modal.placehdr_fst_nm' | translate }}" name="firstName" formControlName="firstName" autofocus>
                              <span *ngIf="f.submitted && deliveryAddressForm.hasError('required', 'firstName')"
                                class="form-control-feedback">
                                  {{ 'msg.validation.required' | translate:{value: 'First Name'} }}
                              </span>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-danger': f.submitted && deliveryAddressForm.hasError('required', 'lastName')}">
                              <label for="input-last-name">{{ 'lbl.user.setting.address_modal.last_nm' | translate }}</label>
                              <input type="text" class="form-control" id="input-last-name" placeholder="{{ 'lbl.user.setting.address_modal.placehdr_lst_nm' | translate }}" required
                                formControlName="lastName" name="lastName">
                              <span *ngIf="f.submitted && deliveryAddressForm.hasError('required', 'lastName')"
                                class="form-control-feedback">
                                  {{ 'msg.validation.required' | translate:{value: 'Last Name'} }}
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-danger': (f.submitted || deliveryAddressForm.controls.contactNumber.touched) && !deliveryAddressForm.controls.contactNumber.valid}">
                          <label for="input-id-5">{{ 'lbl.user.setting.address_modal.contact_num' | translate }}</label>
                          <input type="text" class="form-control" id="contactNumber" placeholder="{{ 'lbl.user.setting.address_modal.placehdr_cont_num' | translate }}" name="contactNumber" formControlName="contactNumber"
                            validatePhone>
                          <span  *ngIf="(f.submitted || deliveryAddressForm.controls.contactNumber.touched) && !deliveryAddressForm.controls.contactNumber.valid" class="form-control-feedback">
                            {{ 'msg.validation.phone' | translate }}
                          </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-danger': f.submitted && deliveryAddressForm.hasError('required', 'address')}">
                          <label for="input-address">{{ 'lbl.user.setting.address_modal.address' | translate }}</label>
                          <input type="text" class="form-control" id="input-address-1" placeholder="{{ 'lbl.user.setting.address_modal.placehdr_addr' | translate }}"
                            formControlName="address" name="address" required>
                          <span *ngIf="f.submitted && deliveryAddressForm.hasError('required', 'address')"
                            class="form-control-feedback">
                              {{ 'msg.validation.required' | translate:{value: 'Address'} }}
                          </span>
                        </div>
                        <!--<div class="form-group">
                          <input type="text" class="form-control" id="input-address-2" placeholder="Enter address">
                        </div>-->
                        <div class="form-group" [ngClass]="{'has-danger': f.submitted && deliveryAddressForm.hasError('required', 'state')}">
                          <label for="select-state">{{ 'lbl.user.setting.address_modal.state_region' | translate }}</label>
                          <select class="form-control" id="select-state" formControlName="state" name="state">
                            <option value="{{state.name}}" *ngFor="let state of countryStates">{{state.name}}</option>
                          </select>
                          <span *ngIf="f.submitted && deliveryAddressForm.hasError('required', 'state')"
                            class="form-control-feedback">
                              {{ 'msg.validation.required' | translate:{value: 'State'} }}
                          </span>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group pdr-10" [ngClass]="{'has-danger': f.submitted && deliveryAddressForm.hasError('required', 'city')}">
                              <label for="input-town-city">{{ 'lbl.user.setting.address_modal.town_city' | translate }}</label>
                              <input type="text" class="form-control" id="input-town-city" placeholder="{{ 'lbl.user.setting.address_modal.placehdr_town' | translate }}" name="city"
                                formControlName="city" required>
                              <span *ngIf="f.submitted && deliveryAddressForm.hasError('required', 'city')"
                                class="form-control-feedback">
                                  {{ 'msg.validation.required' | translate:{value: 'City'} }}
                              </span>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group pdl-10" [ngClass]="{'has-danger': f.submitted && deliveryAddressForm.hasError('required', 'portalCode')}">
                              <label for="input-postal-code">{{ 'lbl.user.setting.address_modal.postal_cd' | translate }}</label>
                              <input type="text" class="form-control" id="input-postal-code" placeholder="{{ 'lbl.user.setting.address_modal.placehdr_pot_cd' | translate }}" name="portalCode"
                                formControlName="portalCode" required>
                              <span *ngIf="f.submitted && deliveryAddressForm.hasError('required', 'portalCode')"
                                class="form-control-feedback">
                                  {{ 'msg.validation.required' | translate:{value: 'Portal Code'} }}
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <app-alert [message]="resError"></app-alert>
                          <button type="submit" class="btn btn-primary shave2u-btn-primary">{{ 'lbl.user.setting.address_modal.btn_save_chg' | translate }}</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /container -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal-backdrop fade"></div>