<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Article Type</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="user-form">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <!-- edit form column -->
                <div class="col-md-12 country-info">
                  <form #f='ngForm' novalidate (ngSubmit)='f.form.valid && doEditArticleType()' [formGroup]="articleTypeForm">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-sm-6 form-group" [ngClass]="f.submitted && articleTypeForm.controls.type.hasError('required') ? 'has-danger' : ''">
                            <label class="form-control-label">Path Value (<span class="required">*</span>)</label>
                            <div class="controls">
                              <input type="text" class="form-control" id="input-type" placeholder="Enter article type"
                                formControlName="type" name="type">
                            </div>
                            <span class="form-control-feedback" *ngIf="f.submitted && articleTypeForm.controls.type.hasError('required')">
                                {{ 'msg.validation.required' | translate }}
                            </span>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-6 form-group" [ngClass]="f.submitted && articleTypeForm.controls.langCode.hasError('required') ? 'has-danger' : ''">
                            <label class="form-control-label">Language Code (<span class="required">*</span>)</label>
                            <div class="controls">
                              <select class="form-control" id="select-langCode" name="langCode" formControlName="langCode" *ngIf="languageCodeList">
                                <option value="" disabled >- Select Language -</option>
                                <option [value]="language | uppercase" *ngFor="let language of languageCodeList" >{{language | uppercase}}</option>
                              </select>
                            </div>
                            <span class="form-control-feedback" *ngIf="f.submitted && articleTypeForm.controls.langCode.hasError('required')">
                                {{ 'msg.validation.required' | translate }}
                            </span>
                          </div>
                          <div class="col-sm-6 form-group" [ngClass]="f.submitted && articleTypeForm.controls.CountryId.hasError('required') ? 'has-danger' : ''">
                            <label class="form-control-label">Country (<span class="required">*</span>)</label>
                            <div class="controls">
                              <select class="form-control" id="select-country" name="CountryId" formControlName="CountryId">
                                <option value="" disabled>- Select Country -</option>
                                <option [value]="country.id" *ngFor="let country of countries">{{country.name}}</option>
                              </select>
                            </div>
                            <span class="form-control-feedback" *ngIf="f.submitted && articleTypeForm.controls.CountryId.hasError('required')">
                                {{ 'msg.validation.required' | translate }}
                            </span>
                          </div>
                        </div>

                        <app-alert></app-alert>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary shave2u-btn-primary">Save Changes</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /container -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal-backdrop fade"></div>