@import "../../../../../assets/sass/mixins/color";

#payment-method {
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  // max-width: 500px;
  margin: 0 auto;
  .h2-cus {
    margin-top: 31px;
    margin-bottom: 19px;
    &.h2-unbold {
      font-weight: 400;
      font-family: 'Muli';
    }
  }
  .heading-cus {
    margin-top: 21px;
    margin-bottom: 19px;
    font-size: 24px;
  }
  .btn-add-new {
    .text {
      border-bottom: 2px solid #f9ad8d;
      color: #fe5000;
      font-family: 'Muli Bold';
    }
    &.address {
      margin-top: 7px;
      display: block;
    }
  }
  .type-card, .type-ipay88 {
    margin: 0 auto;
    p {
      text-align: center;
      margin: 0 auto;
      display: inline-block;
      width: 97%;
      a {
        border: 3px solid $secondary3-color;
        display: block;
        opacity: 0.5;
        border-radius: 0.25rem;
        cursor: pointer;
        padding: 27px 0;
        background-color: #ffffff;
        img {
          height: 25px;
          margin-bottom: 12px;
        }
      }
    }

    &.active {
      p {
        a {
          border: 3px solid $primary-color;
          opacity: 1;
        }
      }
    }

  }
  .form-group-cardNumber {
    position: relative;
    .textbox-iconRight {
      position: absolute;
      top: 0;
      bottom: 0;
      pointer-events: none;
      left: auto !important;
      right: 0;
      .textbox-CardLogo {
        margin-top: 17px;
        margin-right: 9px;
        max-height: 9px;
        pointer-events: none;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transition-property: -webkit-transform opacity;
        transition-property: -webkit-transform opacity;
        transition-property: transform opacity;
        transition-property: transform opacity,-webkit-transform opacity;
      }
    }
  }
  .input-value.focused {
    .field-label {
      top: 6px;
    }
  }
	.has-danger {
    .input-value {
      border: 1px solid #d9534f;
    }
  }

  .iPay88-section {
    padding-top: 30px;
  }

  .icon-note-ccv{
    position: absolute;
    top: 12px;
    right: 25px;
  }

  .tabs-debit-card-add {
    padding-top: 30px;
    // max-width: 500px;
    margin: auto;
    h3{
      font-size: 13px;
      text-transform: uppercase;
      margin-top: 29px;
      margin-bottom: 20px;
    }
    .tooltip {
      position: relative;
      display: inline-block;
      opacity: 1;
      .tooltiptext {
        visibility: hidden;
        width: 250px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 2px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -125px;
        opacity: 0;
        transition: opacity 1s;
      }
      .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
    }
    .tooltip:hover {
      .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
    }
    div.form-group, div.form-control {
      border-radius: 0;
      .textbox-iconRight {
        top: 10px;
      }
    }

    div.form-group-ccv {
      .icon-note-ccv {
        top: 22px;
      }
    }
    span {
      // color: #292b2c;
    }
  }
  .card-added-list {
    .card-item {
      padding: 25px 35px;
      border-radius: 5px;
      border: 1px solid $secondary3-color;
      background-color: #ffffff;
      .card-code {
        margin: 10px 0 25px;
      }
      &.active {
        border-color: #030303;
        box-shadow: 0 0 20px 5px #030303;
      }
      .card-image {
        margin: 10px 0 0;
      }

      .box-body {
        .card-code {
          margin-bottom: 20px;
          margin-top: 20px;
        }
        .card-image {
          margin-bottom: 0;
        }
        p {
          margin-bottom: 0px;
        }
        div {
          margin-bottom: 1rem;
        }
        .control-label {
            padding: 0 0;
            color: #3b6f9c;
            margin-bottom: 15px;
            display: block;
            margin-top: 8px;
        }
      }
    }
  }

  .add-new {

  }

  .card-type {
    opacity: 0.2;
    &.active {
      opacity: 1;
    }
  }
}

@media  (max-width: 767px) {
  #payment-method {
    .type-card, .type-ipay88 {
      p {
        width: 100%;
      }
    }
    .row-card-exp{
      margin: 0 -5px;
      .col-6 {
        padding: 0 5px;
      }
    }

    .btn-fullwidth-mb{
      width: 100%;
    }
  }
}
