.container-menu.shave2u-container{
  position: static;
}

.clear-nav {
	height: 60px;
}
nav{
  .navbar-nav{
    display: none;
  }
  &.navbar-top{
    padding:0;
    width:100%;
    background:#fff;
    // margin-top: -64px;
    position: fixed;
    top: 0;
    z-index: 9999;
    border-bottom: 1px solid #eeeeee;
  }
  .nav-top-inner {
    // max-width: 1280px;
    width: 100%;
    padding: 0;
    min-height: 59px;
    margin: auto;
    position: static;
    #menu-header {
      .navbar-toggler {
        display: none;
      }
    }
    .top-logo {
      padding: 0;
      // position: unset;
			left: 50%;
      z-index: 9;
      margin: auto;
      width:45px;
	    line-height: 50px;
      top: 7px;
    }
  }
}
nav.header-common {
  margin-top: 0px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  .navbar-nav{
    display: flex;
  }
  &.navbar-top {
    background-color: #FFF;
    border-color: #e7e7e7;
    min-height: 55px;
    padding: 0;
    font-size: 16px;
    border-bottom: 1px solid #eeeeee;
  }
  &.has-notification {
    margin-top: 40px;
  }
  .text-upercase {
    text-transform: uppercase;
  }

  .nav-top-inner {
    // max-width: 1280px;
    width: 100%;
    // padding: 7px 0 6px;
    padding: 0;
    min-height: 60px;
    margin: auto;
    position: static;
    .top-logo {
      position: absolute;
      z-index: 9;
      margin: auto;
	    left: auto;
			line-height: 0;
      // top: -3px;
      img {
        // margin-left: -55px;
        height: 100%;
        width: 100%;
      }
      &.small-logo {
        // This class useful for sub page.
        top: -10px;
        img {
          // width: 70px;
          // height: 70px;
          margin-left: -35px;
        }
      }
    }

    .navbar-collapse {
      margin-top: 6px;
    }
    .navbar-left {
      width: auto;
      position: static;
      margin: 0px 0 0 75px;
      text-align: center;
      .nav-item {
        .dropdown-md-products {
          #sub_menu_products{
            @media(min-width: 768px){
              border: 1px solid #eeeeee;
              display: block;
            }
          }
        }
        .dropdown-md-products:hover #sub_menu_products{
          max-height: 750px;
        }
        #sub_menu_products{
          position: absolute;
          width: 100%;
          background: #fff;
          text-align: center;
          padding: 20px 0;
          margin-top: 0;
          max-height: 0;
          padding: 0;
          border: 0;
          border-radius: 0;
          overflow: hidden;
          transition: max-height 1s;

          &.show {
            @media(max-width: 767px){
              max-height: 750px;
              padding: 10px 0 20px 0;
              margin-top: -5px;
            }
          }
          .sub-nav-link{
            max-width: 220px;
            display: inline-block;
            text-transform: uppercase;
            color: #1f1f1f;
            font-size: 13px;
            width: 50%;
            margin: 20px 0;
            img{
              // width: 100%;
              max-width: 100%;
              max-height: 220px;
            }
            .sub-nav-link-text{
              width: 100%;
              display: block;
            }
            &.grid-footer{
              width: 100%;
              text-align: center;
              display: inline-block;
              max-width: 100%;
              margin: 20px 0 10px;
              span{
                text-decoration: underline;
              }
            }
          }
        }
        .nav-link {
          padding: 0 30px 0 0;
          text-transform: uppercase;
          &:hover {
            color: #ff6c00;
          }
        }
        &.active {
          .nav-link {
            color: #ff6c00;
          }
        }
        &.mb-item {
          display: none;
          @media(max-width: 767px) {
            display: block;
          }
        }
      }

      .nav-item-dropdown {
        position: relative;
        .nav-link {
          &:after {
            background-image: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/dropdow-arrow.png');
            background-repeat: no-repeat;
            background-position: center;
            width: 10px;
            height: 6px;
            border: none;
            top: 44%;
            position: absolute;
            right: 35px;
          }
        }
      }
      .show > .dropdown-menu {
        // -webkit-transform: scale(1, 1);
        // transform: scale(1, 1);

      }

      // .dropdown-menu {
      //   -webkit-transform-origin: top;
      //   transform-origin: top;
      //   -webkit-animation-fill-mode: forwards;
      //   animation-fill-mode: forwards;
      //   // -webkit-transform: scale(1, 0);
      //   display: block;

      //   transition: all 0.5s ease-out;
      //   -webkit-transition: all 0.5s ease-out;
      // }
    }
    .navbar-right {
      position: static;
      right: 0;
      top: 0;
      margin-left: auto;
      .text-icon {
        font-size: 14px;
        font-family: 'Muli Bold';
        display: block;
        margin-top: 14px;
        margin-left: 10px;
        text-transform: uppercase;
      }
      .text-language {
        font-size: 14px;
        font-family: 'Muli Bold';
        display: block;
        margin-top: 14px;
        margin-left: 10px;
        // text-transform: uppercase;
        color: #3C6F9A;
        cursor: pointer;
      }
      .nav-item {
        margin: 0 10px;
      }
      .nav-link {
        padding: 0 20px 0 0;
        color: #da5920;
        font-family: 'Muli';
      }
    }
    .nav-link, .link-inner {
      color: #000;
      .text {
        font-size: 14px;
        font-family: 'Muli Bold';
        height: 50px;
        display: table-cell;
        vertical-align: middle;
      }
    }
    .shoping-cart-inner {
      position: relative;
      .ico-shopping-cart {
        width: 22px;
        height: 22px;
        padding: 10px;
        // background-image: url(https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-shopping-cart.png);
        // background-repeat: no-repeat;
        // background-position: center;
        display: inline-block;
        line-height: 34px;
        margin-top: 10px;
        cursor: pointer;
      }
      sup.plug-item {
          background-color: #ff0000;
          top: 1px;
          left: 13px;
          height: 22px;
          width: 22px;
          vertical-align: 22px;
          border-radius: 50%;
          padding-top: 9px;
          position: absolute;
          text-align: center;
        &.no-item {
          background-color: transparent;
          display: none;
        }
        span {
          font-size: 10px;
          color: #fff;
          display: inline-block;
          text-align: center;
        }
        .no-margin {
          // margin-left: 3px;
        }
      }
    }
    .select-custom {
      border: none;
      outline: none;
    }
    .btn {
      margin-top: 5px;
      border-radius: 5px;
      width: auto;
      padding: 0.5rem 1rem;
      &.shave2u-btn-default {
        background-color: #FFF;
        color: #000;
        border: 1px solid #000;
        font-size: 16px;
        text-transform: none;
      }
      .btn-icon {
        margin-right: 12px;
      }
    }
    .shoping-cart {
      margin: 0 0 0 10px !important;
    }
    .nav-item-country {
      border-left: 1px solid #d9e2ee;
      margin-left: 0;
      padding-left: 20px;
      .ico {
        &.icon-country {
          // width: 22px;
          // height: 22px;
          // padding: 10px;
          // background-image: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-country.png');
          // background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons/icon-country.svg') top left no-repeat;
          // background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          display: inline-block;
          // line-height: 34px;
          margin-top: 13px;
          margin-bottom: 10px;
          cursor: pointer;
          max-width: 22px;
          height: 22px;
          border-radius: 50%;
          // margin-top: 13px;
          border: 1px solid #D5D5D5;
          // cursor: pointer;
        }
      }
      .dropdown-menu {
        a.active {
          background: none;
          font-family: 'Muli Bold';
          color: #ff6c00;
        }
        a:hover {
          background-color: #ff6c00;
          color: #fff;
        }
      }
      #country-dropdown {
        .opt-country {
          width: 100%;
          margin-left: 0 !important;
        }
        .opt-country:hover {
          background-color: #ff6c00;
          color: #fff;
        }
        .ico {
          &.icon-country {
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            margin-top: 5px;
            margin-left: 1.5rem;
            cursor: pointer;
            max-width: 22px;
            max-height: 22px;
            border-radius: 50%;
            border: 1px solid #D5D5D5;
          }
        }
        .dropdown-item {
          padding: 3px 1.5rem 3px 10px;
        }
      }
    }
    .non-border {
      border-left: none;
    }
  }
	.nav-link {
		color: #000;
	}
	.navbar-brand {
		position: absolute;
		width: 100%;
		left: 0;
		text-align: center;
		margin: 0 auto;
		z-index: -1;
	}
	.navbar-toggler {
		color: black;
		&:focus {
				outline: none;
		}
	}
}

#menu-header {
  hr{
    width: 100%;
  }
	position: static;
	.navbar-right {
		.badge {
			background-color: #f70000;
		}
		#cart {
			cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-right: 10px;
    }

		.profile-box {
      #app-shopping-cart{
        display: none;
      }
			.dropdown-menu {
				// margin-left: 10px;
        left: -100px;
				.divider {
					height: 1px;
					margin: 9px 0;
					overflow: hidden;
					background-color: #e5e5e5;
				}
			}
			p {
				margin: 0 0 5px;
			}
      .misc_user {
        background: url('/assets/misc_user.png');
        height: 26px;
        width: 26px;
      }
			.navbar-user {
				width: 305px;
				padding: 10px;
				padding-bottom: 0px;
				.user-avatar {
						max-width: 70px;
				}
			}
			.navbar-user-session {
				padding: 10px;
				padding-bottom: 0px;
				padding-top: 0px;
			}
			.icon-size {
				font-size: 87px;
			}
			.list-group {
				.list-group-item {
					border: none;
					padding: 5px 15px;
				}
			}
		}
  }
  .navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0 auto;
    z-index: -1;
  }
  .navbar-toggler {
    color: black;
    &:focus {
      outline: none;
    }
  }
  .nav-item-user {
    a {
      .ico {
        &.icon-user {
          // width: 26px;
          // height: 26px;
          padding: 10px;
          // background-image: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-user.png');
          // background-repeat: no-repeat;
          // background-position: center;
          display: inline-block;
          line-height: 34px;
          margin-top: 12px;
          cursor: pointer;
        }
      }
      &.say-hi {
        display: flex;
        span {
          display: block;
          margin-top: 14px;
          margin-left: 10px;
          text-transform: uppercase;
        }
        &:after {
          // margin-top: 22px;
          display: none;
        }
      }
    }
  }
  .shoping-cart {
    ul {
      padding: 0;
      border: 0;
      margin: 0;
      left: -100%;
    }
  }
}

@media (max-width: 991px) {

  nav{
    &.navbar-top{
      // margin-top: -53px;
      .container-menu{
        width: 100%;
      }

			& ~ .clear-nav {
				height: 55px;
			}
    }
    .nav-top-inner {
      // max-width: 1280px;
      min-height: 55px;
      #menu-header {
        .navbar-toggler {
          display: none;
        }
      }
      .top-logo {
        width:45px;
      }
    }
  }
  nav.header-common {
    &.navbar-top{
      margin-top: 0;

			& ~ .clear-nav {
				height: 56px;
			}
    }
    .nav-top-inner {
      // max-width: 1280px;
      min-height: 55px;
      #menu-header{
        height: 55px;
        .navbar-toggler {
          display: block;
        }
      }
      padding: 0;
      .top-logo {
        left: calc(50% - 27px);
        width: 45px;
        top: 5px;
        img {
          width: 100%;
          margin:0;
        }

      }
      .navbar-collapse {
        .navbar-left {
          display: inline-block;
          font-size: 16px;
          width: 100%;
          text-align: left;
          background: #fff;
          margin:55px 0 0;
          padding: 0;
          max-height: calc(100vh - 55px);
          overflow-y: auto;
          margin-bottom: -10px;
          .nav-item {
            padding-left: 20px;
            padding: 0;
            position: relative;
            // &:first-child {
            //   .nav-link {
            //     border-top: 1px solid #c5c5c5;
            //   }
            // }
            .dropdown-menu {
              -webkit-transition: max-height 1s cubic-bezier(0.01, 1.2, 0.49, 1.1);
              -moz-transition: max-height 1s cubic-bezier(0.01, 1.2, 0.49, 1.1);
              -ms-transition: max-height 1s cubic-bezier(0.01, 1.2, 0.49, 1.1);
              -o-transition: max-height 1s cubic-bezier(0.01, 1.2, 0.49, 1.1);
              transition: max-height 1s cubic-bezier(0.01, 1.2, 0.49, 1.1);
              max-height: 0;
      

              &.show {
                -webkit-transition: max-height 0.5s ease-in-out;
                -moz-transition: max-height 0.5s ease-in-out;
                -ms-transition: max-height 0.5s ease-in-out;
                -o-transition: max-height 0.5s ease-in-out;
                transition: max-height 0.5s ease-in-out;
                max-height: 750px;
                background: #f7f7f7;
                padding: 10px 0;
                margin-top: -5px;
                border-top: 1px solid #c5c5c5;
              }
            }
            &.show {
              .nav-link {
                transition: transform 0.25s ease;
                &::after {
                  transform: rotate(-180deg);
                  transition: transform 0.25s ease;
                }
              }
            }
            .nav-link {
              padding: 20px;
              position: relative;
              display: inline-block;
              width: 100%;
              border-bottom: 1px solid #c5c5c5;
              strong{
                display: inline-block;
              }
            }
            .lh-40 {
              padding-left: 55px;
              border-bottom: 0;
            }
            .dropdown-menu  {
              // text-align: center;
            }
            &.nav-item-dropdown {
              position: relative;
              .nav-link {
                &:after {
                  width: 10px;
                  height: 6px;
                  border: none;
                  top: 72%;
                  position: absolute;
                  right: 35px;
                  left: 80px;
                }

              }

            }
          }

        }
        .overplay-bg{
          background: rgba(0, 0, 0, 0.8);
          height: 100vh;
        }
      }

      .navbar-right {
        position: absolute;
        right: 22px;
        top: calc(50% - 23px);
        width: auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        .nav-item {
          margin: 0 10px;
          &.nav-item-country {
            display: none;
            visibility: hidden;
          }
        }
        .nav-link {
          padding: 0 10px 0 0;
        }
      }
      .nav-link, .link-inner {
        color: #000;
        .text {
          font-size: 14px;
          font-family: 'Muli Bold';
          height: auto;
          display: table-cell;
          vertical-align: middle;
        }
      }
      .shoping-cart-inner {
        position: relative;
        .ico-shopping-cart {
          width: 22px;
          height: 22px;
          padding: 10px;
          // background-image: url(https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-shopping-cart.png);
          // background-repeat: no-repeat;
          // background-position: center;
          display: inline-block;
          line-height: 34px;
          margin-top: 10px;
          cursor: pointer;
        }
        sup.plug-item {
          background-color: #ff0000;
          top: 5px;
          left: 15px;
          height: 22px;
          width: 22px;
          vertical-align: 22px;
          border-radius: 50%;
          padding-top: 9px;
          position: absolute;
          text-align: center;
          &.no-item {
            background-color: transparent;
            display: none;
          }

          .no-margin {
            // margin-left: 3px;
          }
        }
      }
      .select-custom {
        border: none;
        outline: none;
      }
      .btn {
        margin-top: 5px;
        border-radius: 5px;
        width: auto;
        padding: 0.5rem 1rem;
        &.shave2u-btn-default {
          background-color: #FFF;
          color: #000;
          border: 1px solid #000;
          font-size: 16px;
          text-transform: none;
        }
        .btn-icon {
          margin-right: 12px;
        }
      }
      .nav-item-country {
        border:0;
        width: 100%;
        &.show{
          .nav-link{
            strong{
              width: 100%;
            }
          }
        }
        .ico {
          &.icon-country {
            margin-top: 10px;
            position: absolute;
            display: inline-block;
            left: 20px;
            &.ic-parent {
              top: 8px;
            }
          }
        }
        .nav-link {
          &:after {
            background-image: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/dropdow-arrow.png');
            background-repeat: no-repeat;
            background-position: center;
            width: 65px;
            height: 15px;
            border: none;
            top: 36%;
            position: absolute;
            right: 20px;
          }

        }
        .dropdown-menu {
          margin-top: 0;
          padding-top: 3px;
          width: 100%;
          background: no-repeat;
          border: none;
          overflow: hidden;
          padding: 0;
          // height: 0;

          &.show {
            // height: auto;
          }
          .dropdown-item {
            padding: 5px;
            margin-left: 51px;
            display: inline-block;
            width: 100%;
          }
          .ico {
            &.icon-country {
              margin-top: 7px;
            }
          }
        }
      }
    }
    .nav-link {
      color: #000;
    }
    .navbar-brand {
      position: absolute;
      width: 100%;
      left: 0;
      text-align: center;
      margin: 0 auto;
      z-index: -1;
    }
    .navbar-toggler {
      left: 22px;
      width: 15px;
      // height: 15px;
      top: calc(50% - 10px);
      border-radius: 0;
      border: none;
      padding: 0;
      span.icon-bar{
        display: -webkit-box;
        margin: 4px 0;
        height: 2px;
        background: #000;
        width: 100%;
      }
      &:not(.collapsed) {
        background: none;
        border: none;

        span.icon-bar {
          transition: all 0.4s ease;
          -webkit-transition: all 0.2s ease;
        }

        span.icon-bar:nth-child(1) {
          transform: rotate(45deg) translateY(2px) translateX(2px);
          -ms-transform: rotate(45deg) translateY(2px) translateX(2px);
          /* IE 9 */
          -webkit-transform: rotate(45deg) translateY(2px) translateX(2px);
          /* Chrome, Safari, Opera */ }
        span.icon-bar:nth-child(2) {
          display: none;
        }
          /* Chrome, Safari, Opera */
        span.icon-bar:nth-child(3) {
          transform: rotate(-45deg) translateY(-2px) translateX(2px);
          -ms-transform: rotate(-45deg) translateY(-2px) translateX(2px);
          /* IE 9 */
          -webkit-transform: rotate(-45deg) translateY(-2px) translateX(2px);
          /* Chrome, Safari, Opera */ }
        .navbar-toggler-icon {
          // background: url(https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-close.png) no-repeat;
        }
      }
      &:focus {
          outline: none;
      }
    }
  }

}
@media(max-width: 767px){
  .dropdown-products {
    text-transform: uppercase;
    &:after {
      display: inline-block !important;
      background-image: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/dropdow-arrow.png');
      background-repeat: no-repeat;
      background-position: center;
      width: 10px;
      height: 6px;
      border: none;
      top: 28px;
      position: absolute;
      right: 27px;
      content: '';
    }
  }
  nav.header-common{
    .nav-top-inner {
      .navbar-collapse{
        margin-top: 0;
      }
      .nav-item-country {
        .nav-link:after{
          left: auto;
          right: 0px;
        }
      }
      #menu-header{
        .navbar-right{
          position: absolute;
        }
        .navbar-left{
          .nav-item{
            position: relative;
            #sub_menu_products{
              position: static;
              border: none;
              overflow: hidden;
              .sub-nav-link{
                padding: 10px 0;
                max-width: 50%;
                width: 50%;
                float: left;
                margin: 0;
                height: 149px;
                display: grid;
                align-items: flex-end;
                img{
                  max-width: 130px;
                  margin: 0 auto;
                  max-height: 110px;
                }
                &.grid-footer{
                  height: auto;
                  width: 100%;
                  text-align: center;
                  display: inline-block;
                  max-width: 100%;
                  // margin: 20px 0 10px;
                  span{
                    text-decoration: underline;
                  }
                  &.show-all {
                    padding: 0;
                    margin: 0 auto;
                  }
                }
              }
            }
            .dropdown-menu.show {
              position: static !important;
              background: #f7f7f7;
              margin-top: -5px;
            }
          }
        }
      }
    }
  }
}
@media(max-width: 480px){
  nav.header-common{
    .nav-top-inner {
      #menu-header{
        .navbar-right{
          width: auto;
          position: absolute;
          .nav-item{
            margin:0;
            .nav-link{
              padding:0;
            }
          }
        }
      }
    }
  }
}
@media(max-width: 320px){
   nav.header-common{
    .nav-top-inner {
      #menu-header{
        .navbar-right{
          // top: calc(50% - 27px);
          .nav-item-user{
            .nav-link{
              &.say-hi{
                display: block;
                text-align: center;
                width: 50px;
                span{
                  display: inline-block;
                  width: 100%;
                  padding:0;
                  margin:0;
                  position: relative;
                  top: -13px;
                }
              }
            }
          }
        }
      }
    }
  }
}
