<nav class="navbar navbar-top navbar-toggleable-md navbar-light" [ngClass]="{'has-notification': hasNoti || hasNotiRemind, 'header-common': headerCommon}">
    <div class="container px-0 container-menu">
      <div class="nav-top-inner">
        <div id="menu-header">
          <button class="navbar-toggler navbar-toggler-right collapsed btn-top-menu-collapse" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" id="button-menu-mobile" (click)="detechCollapse($event)">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
         <!--  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true"
            aria-label="Toggle navigation" (click)="navbarCollapse($event)">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class="top-logo">
            <a [routerLink]="['/']">
              <!--<img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/logo-mobile.svg" alt="logo Shaves2u" class="hidden-lg-up">-->
              <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/logo-mobile.svg" alt="logo Shaves2u" class="">
            </a>
          </div>
          <div class="collapse navbar-collapse" aria-expanded="false" id="navbarCollapse">
            <ul class="navbar-nav navbar-left">
              <li class="nav-item" routerLinkActive="active"><a *ngIf="storage.getCountry().isWebSubscription && this.storage.getCountry().isWebStripe && this.storage.getCountry().isWebEcommerce" class="nav-link" [routerLink]="['shave-plans']" (click)="hideMenu()"><div class="text">{{ 'menu.shave_plans' | translate }}</div></a></li>
              <li class="nav-item" routerLinkActive="active"><a *ngIf="storage.getCountry().isWebAlaCarte" class="nav-link" [routerLink]="['products']" (click)="hideMenu()"><div class="text">{{'menu.products' | translate }}</div></a></li>
              <!-- <li class="nav-item d-none d-md-block" routerLinkActive="active">
                <a *ngIf="storage.getCountry().isWebAlaCarte" class="nav-link dropdown-md-products" [routerLink]="['products']">
                  <div class="text">{{'menu.products' | translate }}</div>
                  <div class="dropdown-menu" id="sub_menu_products">
                    <a class="sub-nav-link grid-link" [routerLink]="['products']" [queryParams]="{ type: product.name | slugify }" *ngFor="let product of productTypes" (click)="hideMenu()">
                      <img *ngIf="!product.url" class="sub-nav-link-image" alt="Starter Sets" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/home/banner1_product_3.png">
                      <img *ngIf="product.url" class="sub-nav-link-image" alt="Starter Sets" src="{{product.url}}">
                      <span class="sub-nav-link-text">{{ product.productTypeTranslate | productTypeTranslate: 'name' }}</span>
                    </a>
                    <a class="sub-nav-link grid-footer" [routerLink]="['products']" (click)="hideMenu()">
                      <span class="sub-nav-link-text">{{'menu.shop_all' | translate }}</span>
                    </a>
                  </div>
                </a>
              </li>
              <li class="nav-item mb-item" routerLinkActive="active">
                <a *ngIf="storage.getCountry().isWebAlaCarte" class="nav-link dropdown-products" href="#" id="navbarDropdownProducts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="text">{{'menu.products' | translate }}</div>
                </a>
                <div class="dropdown-menu" id="sub_menu_products" aria-labelledby="navbarDropdownProducts">
                  <a class="sub-nav-link grid-link" [routerLink]="['products']" [queryParams]="{ type: product.name | slugify }" *ngFor="let product of productTypes" (click)="hideMenu()">
                    <img *ngIf="!product.url" class="sub-nav-link-image" alt="Starter Sets" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/home/banner1_product_3.png">
                    <img *ngIf="product.url" class="sub-nav-link-image" alt="Starter Sets" src="{{product.url}}">
                    <span class="sub-nav-link-text">{{ product.productTypeTranslate | productTypeTranslate: 'name' }}</span>
                  </a>
                  <a class="sub-nav-link grid-footer show-all" [routerLink]="['products']" (click)="hideMenu()">
                    <span class="sub-nav-link-text">{{'menu.shop_all' | translate }}</span>
                  </a>
                </div>
              </li> -->
              <!-- <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['articles']" (click)="hideMenu()"><strong class="text">{{ 'menu.articles' | translate }}</strong></a></li> -->
              
              
              <li class="nav-item" routerLinkActive="active"><a *ngIf="storage.getCountry().isWebSubscription && this.storage.getCountry().isWebStripe && this.storage.getCountry().isWebEcommerce && storage.getCountry().code.toUpperCase() !== 'KOR' && storage.getCountry().code.toUpperCase() !== 'HKG'" class="nav-link" [routerLink]="['ask']" (click)="hideMenu()"><div class="text">GIFT BOX</div></a></li>
              
              
              <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['help']" (click)="hideMenu()"><div class="text">{{ 'menu.help' | translate }}</div></a></li>
              <li class="nav-item nav-item-country hidden-lg-up">
                <!-- <i class="ico country icon-social icon-country"></i> -->
                <img class="ico icon-country ic-parent" (click)="showCountryDropdown($event)" src="{{storage.getCountry().DirectoryCountries[0].flag}}" *ngIf="storage.getCountry().DirectoryCountries.length > 0">
                <a data-target="" href="" data-toggle="dropdown" class="dropdown-toggle nav-link lh-40"><div class="text text-uppercase">{{storage.getLanguage()}}</div></a>
                <ul class="dropdown-menu">
                  <li *ngFor="let country of countries" (click)="changeCountry($event, country)">
                    <img class="ico icon-country click-able" src="{{country.DirectoryCountries[0].flag}}">
                    <a class="dropdown-item click-able" [ngClass]="{'active': country.displayLang == storage.getLanguage()}">{{country.displayLang}}</a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-md-down">
              <li class="nav-item-user" *ngIf="!userInfo && this.storage.getCountry().isWebEcommerce">
                <a class="nav-link say-hi click-able" (click)="redirectToLoginPage()">
                  <i class="ico fa icon-social icon-user"></i>
                  <span class="text-icon hidden-sm-down">{{ 'menu.login' | translate }}</span>
                </a>
              </li>
              <li class="dropdown profile-box nav-link-user nav-item-user" [hidden]="!userInfo">
                <a [routerLink]="['/user/shave-plans']" class="dropdown-toggle nav-link say-hi" *ngIf="userInfo && this.storage.getCountry().isWebEcommerce">
                  <i class="ico fa icon-social icon-user"></i>
                  <span class="text-icon hidden-sm-down" *ngIf="this.storage.getLanguageCode() === 'EN'">{{ 'menu.hi' | translate }}, {{ storage.getCurrentUserItem().firstName || nameDefaultEmail | slice:0:20 }}</span>
                  <span class="text-icon hidden-sm-down" *ngIf="this.storage.getLanguageCode() === 'KO'">{{ storage.getCurrentUserItem().firstName || nameDefaultEmail | slice:0:20 }} {{ 'menu.hi' | translate }}</span>
                </a>
  
              </li>
              <li class="nav-item btn-group shoping-cart">
                <!-- Mobile -->
                <a id="cart" class="nav-link shoping-cart-inner hidden-lg-up" routerLink="/cart" *ngIf="this.storage.getCountry().isWebEcommerce">
                  <i class="ico fa ico-shopping-cart icon-social icon-cart"></i>
                  <sup class="plug-item" [ngClass]="cartService.getTotalQty() > 0 ? '' : 'no-item'">
                    <span [ngClass]="cartService.getTotalQty() > 9 ? 'no-margin' : ''" *ngIf="cartService.getTotalQty() < 100">{{ cartService.getTotalQty() }}</span>
                    <span [ngClass]="cartService.getTotalQty() > 9 ? 'no-margin' : ''" *ngIf="cartService.getTotalQty() > 99" >99<sup>+</sup></span>
                  </sup>
                </a>
                <a id="cart" class="nav-link shoping-cart-inner hidden-md-down" (click)="showDropdownMenu($event)" *ngIf="this.storage.getCountry().isWebEcommerce">
                  <i class="ico fa ico-shopping-cart icon-social icon-cart"></i>
                  <sup class="plug-item" [ngClass]="cartService.getTotalQty() > 0 ? '' : 'no-item'">
                    <span [ngClass]="cartService.getTotalQty() > 9 ? 'no-margin' : ''" *ngIf="cartService.getTotalQty() < 100" >{{ cartService.getTotalQty() }}</span>
                    <span [ngClass]="cartService.getTotalQty() > 9 ? 'no-margin' : ''" *ngIf="cartService.getTotalQty() > 99" >99<sup>+</sup></span>
                  </sup>
                  <span class="text-icon">{{ 'menu.cart' | translate }}</span>
                </a>
                <ul id="app-shopping-cart" class="dropdown-menu hidden-md-down"></ul>
                <!--/PC -->
              </li>
              <li class="nav-item btn-group nav-item-country" [ngClass]="storage.getCountry().isWebEcommerce ? '' : 'non-border'" *ngIf="storage.getCountry().DirectoryCountries.length > 0">
                <!-- <i class="ico country" (click)="showCountryDropdown()"></i> -->
                <!-- <i class="ico fa icon-social icon-country" (click)="showCountryDropdown($event)"></i> -->
                <img class="ico icon-country" (click)="showCountryDropdown($event)" src="{{storage.getCountry().DirectoryCountries[0].flag}}">
                <span class="text-language" (click)="showCountryDropdown($event)">{{storage.getLanguage()}}</span>
                <ul class="dropdown-menu" id="country-dropdown">
                  <li *ngFor="let country of countries" (click)="changeCountry($event, country)" class="btn-group">
                    <img class="ico icon-country click-able" src="{{country.DirectoryCountries[0].flag}}">
                    <a class="dropdown-item click-able" [ngClass]="{'active': country.displayLang == storage.getLanguage()}">{{country.displayLang}}</a>
                  </li>
                </ul>
              </li>
            </ul>
            <div class="overplay-bg" (touchmove)="checkScroll($event);"></div>
          </div>
          <ul class="nav navbar-nav navbar-right hidden-lg-up">
            <li class="nav-item nav-item-user" *ngIf="!userInfo && this.storage.getCountry().isWebEcommerce">
              <a class="nav-link say-hi click-able" (click)="redirectToLoginPage()">
                <i class="ico fa icon-social icon-user"></i>
                <span class="text-icon hidden-sm-down">{{ 'menu.login' | translate }}</span>
              </a>
            </li>
            <li class="dropdown profile-box nav-link-user nav-item-user" [hidden]="!userInfo">
              <a [routerLink]="['/user/shave-plans']" class="dropdown-toggle nav-link say-hi" *ngIf="userInfo && this.storage.getCountry().isWebEcommerce">
                <i class="ico fa icon-social icon-user"></i>
                <span class="text-icon hidden-sm-down">Hi, {{ userInfo.firstName || nameDefaultEmail | slice:0:20 }}</span>
              </a>
  
            </li>
            <li class="nav-item btn-group shoping-cart">
              <!-- Mobile -->
              <a id="cart" class="nav-link shoping-cart-inner hidden-lg-up" routerLink="/cart" *ngIf="this.storage.getCountry().isWebEcommerce">
                <i class="ico fa ico-shopping-cart icon-social icon-cart"></i>
                <sup class="plug-item" [ngClass]="cartService.getTotalQty() > 0 ? '' : 'no-item'">
                  <span [ngClass]="cartService.getTotalQty() > 9 ? 'no-margin' : ''" *ngIf="cartService.getTotalQty() < 100">{{ cartService.getTotalQty() }}</span>
                  <span [ngClass]="cartService.getTotalQty() > 9 ? 'no-margin' : ''" *ngIf="cartService.getTotalQty() > 99" >99<sup>+</sup></span>
                </sup>
              </a>
              <a id="cart" class="nav-link shoping-cart-inner hidden-md-down" (click)="showDropdownMenu($event)" *ngIf="this.storage.getCountry().isWebEcommerce">
                <i class="ico fa ico-shopping-cart icon-social icon-cart"></i>
                <sup class="plug-item" [ngClass]="cartService.getTotalQty() > 0 ? '' : 'no-item'">
                  <span [ngClass]="cartService.getTotalQty() > 9 ? 'no-margin' : ''" *ngIf="cartService.getTotalQty() < 100" >{{ cartService.getTotalQty() }}</span>
                  <span [ngClass]="cartService.getTotalQty() > 9 ? 'no-margin' : ''" *ngIf="cartService.getTotalQty() > 99" >99<sup>+</sup></span>
                </sup>
                <span class="text-icon">{{ 'menu.cart' | translate }}</span>
              </a>
              <ul id="app-shopping-cart" class="dropdown-menu hidden-md-down"></ul>
              <!--/PC -->
            </li>
            <li class="nav-item btn-group nav-item-country" [ngClass]="storage.getCountry().isWebEcommerce ? '' : 'non-border'" *ngIf="storage.getCountry().DirectoryCountries.length > 0">
              <!-- <i class="ico country" (click)="showCountryDropdown()"></i> -->
              <!-- <i class="ico fa icon-social icon-country" (click)="showCountryDropdown($event)"></i> -->
              <img class="ico icon-country" (click)="showCountryDropdown($event)" src="{{storage.getCountry().DirectoryCountries[0].flag}}">
              <span class="text-language" (click)="showCountryDropdown($event)">{{storage.getLanguage()}}</span>
              <ul class="dropdown-menu" id="country-dropdown">
                <li *ngFor="let country of countries" (click)="changeCountry($event, country)" class="btn-group opt-country">
                  <img class="ico icon-country click-able" src="{{country.DirectoryCountries[0].flag}}">
                  <a class="dropdown-item click-able" [ngClass]="{'active': country.displayLang == storage.getLanguage()}">{{country.displayLang}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="bg-cart-show" id="bg-cart-show"></div>
  <div class="clear-nav"></div>
  