nav.navbar-top {
  background-color: #FFF;
  border-color: #e7e7e7;
  min-height: 55px;
  padding: 0;
  font-size: 18px;
  border-bottom: 1px solid #eeeeee;
}

nav.has-notification {
  margin-top: 30px;
}

nav .text-upercase {
  text-transform: uppercase;
}

nav .nav-top-inner {
  width: 100%;
  padding: 15px 55px 5px;
  min-height: 80px;
  margin: auto;
  position: relative;
}

nav .nav-top-inner .top-logo {
  position: absolute;
  z-index: 9;
  margin: auto;
  left: 55px;
  top: -20px;
}

nav .nav-top-inner .top-logo img {
  margin-left: -55px;
  height: 100%;
  width: 100%;
}

nav .nav-top-inner .top-logo.small-logo {
  top: -10px;
}

nav .nav-top-inner .top-logo.small-logo img {
  margin-left: -35px;
}

nav .nav-top-inner .navbar-left {
  width: auto;
  position: relative;
  margin: 0px 0 0 110px;
  text-align: center;
}

nav .nav-top-inner .navbar-left .nav-item .nav-link {
  padding: 0 50px 0 0;
  text-transform: uppercase;
}

nav .nav-top-inner .navbar-left .nav-item .nav-link:hover {
  color: #ff6c00;
}

nav .nav-top-inner .navbar-left .nav-item.active .nav-link {
  color: #ff6c00;
}

nav .nav-top-inner .navbar-left .nav-item-dropdown {
  position: relative;
}

nav .nav-top-inner .navbar-left .nav-item-dropdown .nav-link:after {
  background-image: url("https://d8pi1a7qa1dfv.cloudfront.net/assets/images/dropdow-arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 6px;
  border: none;
  top: 44%;
  position: absolute;
  right: 35px;
}

nav .nav-top-inner .navbar-right {
  position: absolute;
  right: 0;
  top: 0;
}

nav .nav-top-inner .navbar-right .text-icon {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

nav .nav-top-inner .navbar-right .nav-item {
  margin: 0 10px;
}

nav .nav-top-inner .navbar-right .nav-link {
  padding: 0 10px 0 0;
  color: #fd641f;
  font-family: 'Muli Bold';
}

nav .nav-top-inner .nav-link, nav .nav-top-inner .link-inner {
  color: #000;
}

nav .nav-top-inner .nav-link .text, nav .nav-top-inner .link-inner .text {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}

nav .nav-top-inner .shoping-cart-inner {
  position: relative;
}

nav .nav-top-inner .shoping-cart-inner .ico-shopping-cart {
  width: 27px;
  height: 29px;
  padding: 10px;
  background-image: url(https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-shopping-cart.png);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  line-height: 34px;
  margin-top: 10px;
  cursor: pointer;
}

nav .nav-top-inner .shoping-cart-inner sup {
  min-height: 14px;
  min-width: 14px;
  vertical-align: 15px;
  border-radius: 50%;
  background-color: #ff0000;
  top: 5px;
  left: 0;
  padding-top: 6px;
  position: absolute;
}

nav .nav-top-inner .shoping-cart-inner sup.no-item {
  background-color: transparent;
}

nav .nav-top-inner .shoping-cart-inner sup span {
  font-size: 10px;
  margin-left: 4px;
  color: #fff;
}

nav .nav-top-inner .shoping-cart-inner sup .no-margin {
  margin-left: 1px;
}

nav .nav-top-inner .select-custom {
  border: none;
  outline: none;
}

nav .nav-top-inner .btn {
  margin-top: 5px;
  border-radius: 5px;
  width: auto;
  padding: 0.5rem 1rem;
}

nav .nav-top-inner .btn.shave2u-btn-default {
  background-color: #FFF;
  color: #000;
  border: 1px solid #000;
  font-size: 16px;
  text-transform: none;
}

nav .nav-top-inner .btn .btn-icon {
  margin-right: 12px;
}

nav .nav-top-inner .shoping-cart {
  margin: 0 0 0 10px !important;
}

nav .nav-top-inner .nav-item-country {
  border-left: 1px solid #d9e2ee;
  margin-left: 0;
  padding-left: 20px;
}

nav .nav-top-inner .nav-item-country .ico.country {
  width: 27px;
  height: 27px;
  padding: 10px;
  background-image: url("https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-country.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  line-height: 34px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

nav .nav-top-inner .nav-item-country .dropdown-menu {
  left: -70px;
}

nav .nav-link {
  color: #000;
}

nav .navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: 0 auto;
  z-index: -1;
}

nav .navbar-toggler {
  color: black;
}

nav .navbar-toggler:focus {
  outline: none;
}

#menu-header {
  position: relative;
}

#menu-header hr {
  width: 100%;
}

#menu-header .navbar-right .badge {
  background-color: #f70000;
}

#menu-header .navbar-right #cart {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu-header .navbar-right .profile-box .dropdown-menu {
  left: -100px;
}

#menu-header .navbar-right .profile-box .dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

#menu-header .navbar-right .profile-box p {
  margin: 0 0 5px;
}

#menu-header .navbar-right .profile-box .misc_user {
  background: url("/assets/misc_user.png");
  height: 26px;
  width: 26px;
}

#menu-header .navbar-right .profile-box .navbar-user {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

#menu-header .navbar-right .profile-box .navbar-user .user-avatar {
  max-width: 70px;
}

#menu-header .navbar-right .profile-box .navbar-user-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

#menu-header .navbar-right .profile-box .icon-size {
  font-size: 87px;
}

#menu-header .navbar-right .profile-box .list-group .list-group-item {
  border: none;
  padding: 5px 15px;
}

#menu-header .navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: 0 auto;
  z-index: -1;
}

#menu-header .navbar-toggler {
  color: black;
}

#menu-header .navbar-toggler:focus {
  outline: none;
}

#menu-header .nav-item-user a .ico.icon-user {
  width: 26px;
  height: 26px;
  padding: 10px;
  background-image: url("https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-user.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  line-height: 34px;
  margin-top: 10px;
  cursor: pointer;
}

#menu-header .nav-item-user a.say-hi {
  display: flex;
}

#menu-header .nav-item-user a.say-hi span {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

#menu-header .nav-item-user a.say-hi:after {
  margin-top: 22px;
}

#menu-header .shoping-cart ul {
  padding: 0;
  border: 0;
  margin: 0;
  left: -100%;
}

@media (max-width: 992px) {
  nav .nav-top-inner {
    padding: 0;
  }
  nav .nav-top-inner .top-logo {
    left: 50%;
    top: -5px;
  }
  nav .nav-top-inner .top-logo img {
    margin-left: -55px;
  }
  nav .nav-top-inner .top-logo.small-logo {
    top: 12px;
  }
  nav .nav-top-inner .top-logo.small-logo img {
    width: 70px;
    height: 70px;
    margin-left: -35px;
  }
  nav .nav-top-inner .navbar-collapse .navbar-left {
    margin-top: 55px;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    padding-bottom: 30px;
  }
  nav .nav-top-inner .navbar-collapse .navbar-left .nav-item {
    padding-left: 20px;
  }
  nav .nav-top-inner .navbar-collapse .navbar-left .nav-item .nav-link {
    padding: 30px 0 0;
    position: relative;
  }
  nav .nav-top-inner .navbar-collapse .navbar-left .nav-item.nav-item-dropdown {
    position: relative;
  }
  nav .nav-top-inner .navbar-collapse .navbar-left .nav-item.nav-item-dropdown .nav-link:after {
    width: 10px;
    height: 6px;
    border: none;
    top: 72%;
    position: absolute;
    right: 35px;
    left: 80px;
  }
  nav .nav-top-inner .navbar-collapse .navbar-left .nav-item.nav-item-dropdown .dropdown-menu {
    background: none;
    border: none;
  }
  nav .nav-top-inner .navbar-right {
    right: 22px;
    top: 4px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  nav .nav-top-inner .navbar-right .nav-item {
    margin: 0 10px;
  }
  nav .nav-top-inner .navbar-right .nav-item.nav-item-country {
    display: none;
    visibility: hidden;
  }
  nav .nav-top-inner .navbar-right .nav-link {
    padding: 0 10px 0 0;
  }
  nav .nav-top-inner .nav-link, nav .nav-top-inner .link-inner {
    color: #000;
  }
  nav .nav-top-inner .nav-link .text, nav .nav-top-inner .link-inner .text {
    height: auto;
    display: table-cell;
    vertical-align: middle;
  }
  nav .nav-top-inner .shoping-cart-inner {
    position: relative;
  }
  nav .nav-top-inner .shoping-cart-inner .ico-shopping-cart {
    width: 27px;
    height: 29px;
    padding: 10px;
    background-image: url(https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-shopping-cart.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    line-height: 34px;
    margin-top: 10px;
    cursor: pointer;
  }
  nav .nav-top-inner .shoping-cart-inner sup {
    min-height: 14px;
    min-width: 14px;
    vertical-align: 15px;
    border-radius: 50%;
    background-color: #ff0000;
    top: 5px;
    right: 0;
    padding-top: 6px;
    position: absolute;
  }
  nav .nav-top-inner .shoping-cart-inner sup.no-item {
    background-color: transparent;
  }
  nav .nav-top-inner .shoping-cart-inner sup span {
    font-size: 10px;
    margin-left: 4px;
    color: #fff;
  }
  nav .nav-top-inner .shoping-cart-inner sup .no-margin {
    margin-left: 1px;
  }
  nav .nav-top-inner .select-custom {
    border: none;
    outline: none;
  }
  nav .nav-top-inner .btn {
    margin-top: 5px;
    border-radius: 5px;
    width: auto;
    padding: 0.5rem 1rem;
  }
  nav .nav-top-inner .btn.shave2u-btn-default {
    background-color: #FFF;
    color: #000;
    border: 1px solid #000;
    font-size: 16px;
    text-transform: none;
  }
  nav .nav-top-inner .btn .btn-icon {
    margin-right: 12px;
  }
  nav .nav-top-inner .nav-item-country {
    width: 100%;
    margin-top: 30px;
  }
  nav .nav-top-inner .nav-item-country .ico.country {
    margin-top: 0;
    position: absolute;
    left: 20px;
  }
  nav .nav-top-inner .nav-item-country .nav-link {
    padding: 0 0 0 35px !important;
  }
  nav .nav-top-inner .nav-item-country .nav-link:after {
    background-image: url("https://d8pi1a7qa1dfv.cloudfront.net/assets/images/dropdow-arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 6px;
    border: none;
    top: 36%;
    position: absolute;
    left: 100%;
  }
  nav .nav-top-inner .nav-item-country .dropdown-menu {
    width: 100%;
    background: no-repeat;
    border: none;
  }
  nav .nav-link {
    color: #000;
  }
  nav .navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0 auto;
    z-index: -1;
  }
  nav .navbar-toggler {
    left: 0;
    margin-left: 22px;
    margin-top: 11px;
  }
  nav .navbar-toggler:not(.collapsed) {
    background: none;
    border: none;
    margin-top: 22px;
  }
  /*nav .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    background: url(https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-close.png) no-repeat;
  }*/
  nav .navbar-toggler:focus {
    outline: none;
  }
}
