<section class="panel panel-default">
  <div class="panel-heading">
    <h2 class=" text-center heading">User Customers Details</h2>
  </div>
  <div class="panel-body" *ngIf="!isLoading">
    <div class="user-infor">
      <p class="name"><label>Name:</label>{{ (customerInfo.firstName ? customerInfo.firstName : '') + (customerInfo.lastName ? ' ' + customerInfo.lastName : '') }}</p>
      <span class="btn-close"><a class="link-text-underline click-able" (click)="backToPage()">Close</a></span>
      <p><label>Email:</label>{{ customerInfo.email }}</p>
      <p *ngIf="customerInfo.birthday"><label>Date of birth:</label>{{ customerInfo.birthday }}</p>
      <p *ngIf="customerInfo.phone"><label>Phone:</label>{{ customerInfo.phone }}</p>
    </div>
    <div class="" *ngIf="customerInfo.subscriptions">
      <p *ngFor="let item of customerInfo.subscriptions">
        <a class="link-text-underline click-able" [routerLink]="['/subscriptions/subscribers/details/users/', item.id]">View Subscriber Detail: #{{ item.id }}</a>
      </p>
    </div>
    <hr>
    <div class="shipping-address">
      <h3>Shipping Address</h3>
        <div class="row" *ngIf="customerInfo.deliveryAddresses && customerInfo.deliveryAddresses.length > 0">
          <div class="col-md-6" *ngFor="let delivery of customerInfo.deliveryAddresses; let i = index">
            <div  class="detail-address">
              <h4 class="title">Address {{ i + 1 }} {{ delivery.id === customerInfo.defaultShipping? '(Default)' : ''}}</h4>
              <p>{{ delivery.address }}</p>
              <p>{{ delivery.city }}</p>
              <p>{{ delivery.state }}</p>
              <p>{{ delivery.portalCode }}</p>
            </div>
          </div>
        </div>
        <div *ngIf="!customerInfo.deliveryAddresses || customerInfo.deliveryAddresses.length < 1">
          <p>Not avaiable</p>
        </div>
    </div>
    <hr>
    <div class="billing-address">
      <h3>Billing Address</h3>
      <div class="row"  *ngIf="customerInfo.deliveryAddresses && customerInfo.deliveryAddresses.length > 0">
        <div class="col-md-6" *ngFor="let delivery of customerInfo.deliveryAddresses; let i = index">
          <div  class="detail-address">
            <h4 class="title">Address {{ i + 1 }} {{ delivery.id === customerInfo.defaultBilling? '(Default)' : ''}}</h4>
            <p>{{ delivery.address }}</p>
            <p>{{ delivery.city }}</p>
            <p>{{ delivery.state }}</p>
            <p>{{ delivery.portalCode }}</p>
          </div>
        </div>
      </div>
      <div *ngIf="!customerInfo.deliveryAddresses || customerInfo.deliveryAddresses.length < 1">
        <p>Not avaiable</p>
      </div>
    </div>
    <hr>
    <div class="card-list">
      <h3>Card Details</h3>
      <div class="row" *ngIf="customerInfo.cards && customerInfo.cards.length > 0">
        <div class="col-md-6" *ngFor="let card of customerInfo.cards">
          <div class="card-content">
            <h6 [ngClass]="card.isDefault ? 'item': ''" class="primary-card">{{ card.isDefault ? 'PRIMARY' : ''}}</h6>
            <span class="country">{{ card.Country.name }}</span>
            <p class="title">XXXX XXXX XXXX {{ card.cardNumber }}</p>
            <div class="card-bottom">
              <div class="expiry">
                <p class="valid-thru">Valid thru</p>
                <p class="date">{{card.expiredMonth}}/{{card.expiredYear.substr(2,2)}}</p>
              </div>
              <div class="card-image">
                <img class="visa" *ngIf="card.branchName.toUpperCase() === 'VISA'" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/visa-128.png" alt="">
                <img *ngIf="card.branchName.toUpperCase() === 'MASTERCARD'" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/mastercard-logo.png">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!customerInfo.cards || customerInfo.cards.length < 1">
        <p>Not avaiable</p>
      </div>
    </div>
  </div>
</section>