.panel {
	padding: 20px 0;
}
.user-infor {
	margin-top: 20px;
	label {
    width: 115px;
    margin: 0;
    font-weight: bold;
	}
	.name {
		display: inline-block;
	}
	.btn-close {
		float: right;
		margin-right: 30px;
	}
}
.shipping-address {
	padding: 20px 0;
	h3 {
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 5px;
	}
}
.billing-address {
	padding: 20px 0;
	h3 {
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 5px;
	}
}
.detail-address {
	border: 1px solid #111;
	padding: 20px;
	border-radius: 5px;
	max-width: 400px;
	max-height: 200px;
	margin-bottom: 20px;
	h4{
		margin-bottom: 15px;
	}
}
.card-list {
	padding: 20px 0;
	h3 {
		margin-bottom: 20px;
	}
	.card-content {
    border: 1px solid #111;
    padding: 20px;
    border-radius: 5px;
    max-width: 350px;
    margin-bottom: 25px;
	max-height: 200px;
	.country {
		float: right;
	}
    .primary-card {
	  min-height: 24px;
	  display: inline-block;
      &.item {
        max-width: 90px;
        background: #fe5000;
        color: #fff;
        text-align: center;
        padding: 5px;
        font-size: 13px;
      }
    }
		.title {
      font-weight: bold;
		}
		.card-bottom {
			display: block;
			overflow: hidden;
			margin-top: 50px;
			.expiry {
				float: left;
			}
			.card-image {
				float: right;
        margin-top: 14px;
        .visa {
          margin-top: 16px;
        }
			}
			.valid-thru {
				margin-bottom: 5px;
				opacity: 0.5;
				text-transform:  uppercase;
				font-size: 10px;
			}
			.date {
				margin: 0;
			}
		}
	}
}