<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit a Country</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12 country-info">
        <form #f='ngForm' novalidate (ngSubmit)='doEditCountry()' [formGroup]="countryForm">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-12 mb-2"><h6>Country Details</h6></div>
                <div class="col-sm-6 form-group" [ngClass]="f.submitted && countryForm.controls.name.hasError('required') ? 'has-danger' : ''">
                  <label class="form-control-label">Name (<span class="required">*</span>)</label>
                  <div class="controls">
                    <input type="text" class="form-control" id="input-name" placeholder="Enter country name"
                      formControlName="name" name="name">
                  </div>
                  <span class="form-control-feedback" *ngIf="f.submitted && countryForm.controls.name.hasError('required')">
                      {{ 'msg.validation.required' | translate }}
                  </span>
                </div>
                <div class="col-sm-6 form-group">
                  <label class="form-control-label">Default Language (<span class="required">*</span>)</label>
                  <div class="controls">
                    <select class="form-control" id="select-defaultLang" name="defaultLang" formControlName="defaultLang">
                      <option value="">- Select a language -</option>
                      <option [value]="language | uppercase" *ngFor="let language of languageCodeList" >{{language | uppercase}}</option>
                      <!--<option [value]="language" *ngFor="let language of languageCodeList" >{{language | uppercase}}</option>-->
                    </select>
                  </div>
                </div>
                <div class="col-md-6 form-group" [ngClass]="f.submitted && countryForm.controls.taxRate.hasError('required') ? 'has-danger' : ''">
                  <label class="form-control-label">Country tax rate (<span class="required">*</span>)</label>
                  <div class="controls">
                    <input class="form-control" id="input-taxRate" placeholder="Enter tax rate"
                      formControlName="taxRate" name="taxRate">
                  </div>
                  <span class="form-control-feedback" *ngIf="f.submitted && countryForm.controls.taxRate.hasError('required')">
                      {{ 'msg.validation.required' | translate }}
                  </span>
                </div>
                <div class="col-md-6 form-group" [ngClass]="f.submitted && countryForm.controls.taxNumber.hasError('required') ? 'has-danger' : ''">
                  <label class="form-control-label">Country tax number (<span class="required">*</span>)</label>
                  <div class="controls">
                    <input type="text" class="form-control" id="input-taxNumber" placeholder="Enter tax number"
                      formControlName="taxNumber" name="taxNumber">
                  </div>
                  <span class="form-control-feedback" *ngIf="f.submitted && countryForm.controls.taxNumber.hasError('required')">
                      {{ 'msg.validation.required' | translate }}
                  </span>
                </div>
                <!--<div class="col-md-6 form-group" [ngClass]="f.submitted && countryForm.controls.taxNumber.hasError('required') ? 'has-danger' : ''">
                  <label class="form-control-label">Country tax number (<span class="required">*</span>)</label>
                  <div class="controls">
                    <input type="text" class="form-control" id="input-taxNumber" placeholder="Enter tax number"
                      formControlName="taxNumber" name="taxNumber">
                  </div>
                  <span class="form-control-feedback" *ngIf="f.submitted && countryForm.controls.taxNumber.hasError('required')">
                      {{ 'msg.validation.required' | translate }}
                  </span>
                </div>-->
                <div class="col-md-6 form-group" [ngClass]="f.submitted && countryForm.controls.taxName.hasError('required') ? 'has-danger' : ''">
                  <label class="form-control-label">Country tax name (<span class="required">*</span>)</label>
                  <div class="controls">
                    <input type="text" class="form-control" id="input-taxName" placeholder="Enter tax name"
                      formControlName="taxName" name="taxName">
                  </div>
                  <span class="form-control-feedback" *ngIf="f.submitted && countryForm.controls.taxName.hasError('required')">
                      {{ 'msg.validation.required' | translate }}
                  </span>
                </div>
                
                <div class="col-md-6 form-group" [ngClass]="f.submitted && countryForm.controls.code.hasError('required') ? 'has-danger' : ''">
                  <label class="form-control-label">Country Code (<span class="required">*</span>)</label>
                  <div class="controls">
                    <input type="text" class="form-control" id="input-code" placeholder="Enter Country Code"
                      formControlName="code" name="code">
                  </div>
                  <span class="form-control-feedback" *ngIf="f.submitted && countryForm.controls.code.hasError('required')">
                      {{ 'msg.validation.required' | translate }}
                  </span>
                </div>

                <div class="col-md-6 form-group" [ngClass]="f.submitted && countryForm.controls.currencyDisplay.hasError('required') ? 'has-danger' : ''">
                  <label class="form-control-label">Currency Display (<span class="required">*</span>)</label>
                  <div class="controls">
                    <input type="text" class="form-control" id="input-currencyDisplay" placeholder="Enter currency display"
                      formControlName="currencyDisplay" name="currencyDisplay">
                  </div>
                  <span class="form-control-feedback" *ngIf="f.submitted && countryForm.controls.currencyDisplay.hasError('required')">
                      {{ 'msg.validation.required' | translate }}
                  </span>
                </div>

                <div class="col-md-6 form-group" [ngClass]="f.submitted && countryForm.controls.currencyCode.hasError('required') ? 'has-danger' : ''">
                  <label class="form-control-label">Currency Code (<span class="required">*</span>)</label>
                  <div class="controls">
                    <input type="text" class="form-control" id="input-currencyCode" placeholder="Enter currency code"
                      formControlName="currencyCode" name="currencyCode">
                  </div>
                  <span class="form-control-feedback" *ngIf="f.submitted && countryForm.controls.currencyCode.hasError('required')">
                      {{ 'msg.validation.required' | translate }}
                  </span>
                </div>

                <div class="col-md-6 form-group">
                  <label class="form-control-label">Order</label>
                  <div class="controls">
                    <input type="text" class="form-control" id="input-order" placeholder="Enter order"
                      formControlName="order" name="order">
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-sm-12 mb-2"><h6>Company Details</h6></div>
                <div class="col-sm-6 form-group" [ngClass]="f.submitted && countryForm.controls.companyName.hasError('required') ? 'has-danger' : ''">
                  <label class="form-control-label">Company Name (<span class="required">*</span>)</label>
                  <div class="controls">
                    <input id="input-companyName" name="companyName" type="text" class="form-control" placeholder="Company Name"
                      formControlName="companyName">
                  </div>
                  <span class="form-control-feedback" *ngIf="f.submitted && countryForm.controls.companyName.hasError('required')">
                      {{ 'msg.validation.required' | translate }}
                  </span>
                </div>

                <div class="col-sm-6 form-group" [ngClass]="f.submitted && countryForm.controls.companyRegistrationNumber.hasError('required') ? 'has-danger' : ''">
                  <label class="form-control-label">Company Registration Number (<span class="required">*</span>)</label>
                  <div class="controls">
                    <input id="input-companyRegistrationNumber" name="companyRegistrationNumber" type="text" class="form-control" placeholder="Company Registration Number"
                      formControlName="companyRegistrationNumber">
                  </div>
                  <span class="form-control-feedback" *ngIf="f.submitted && countryForm.controls.companyRegistrationNumber.hasError('required')">
                      {{ 'msg.validation.required' | translate }}
                  </span>
                </div>
                <div class="col-sm-6 form-group" [ngClass]="f.submitted && countryForm.controls.phone.hasError('required') ? 'has-danger' : ''">
                  <label class="form-control-label">Phone (<span class="required">*</span>)</label>
                  <div class="controls">
                    <input id="input-phone" name="phone" type="text" class="form-control" placeholder="Phone number"
                      formControlName="phone">
                  </div>
                  <span class="form-control-feedback" *ngIf="f.submitted && countryForm.controls.phone.hasError('required')">
                      {{ 'msg.validation.required' | translate }}
                  </span>
                </div>
                <div class="col-sm-6 form-group" [ngClass]="f.submitted && countryForm.controls.callingCode.hasError('required') ? 'has-danger' : ''">
                  <label class="form-control-label">Calling Code (<span class="required">*</span>)</label>
                  <div class="controls">
                    <input id="input-callingCode" name="callingCode" type="text" class="form-control" placeholder="Calling Code"
                      formControlName="callingCode">
                  </div>
                  <span class="form-control-feedback" *ngIf="f.submitted && countryForm.controls.callingCode.hasError('required')">
                      {{ 'msg.validation.required' | translate }}
                  </span>
                </div>
                <div class=" col-sm-6 form-group" [ngClass]="f.submitted && (countryForm.controls.email.hasError('required') || countryForm.controls['email'].hasError('pattern')) ? 'has-danger' : 'correctInput'">
                  <label class="form-control-label">Email (<span class="required">*</span>)</label>
                  <div class="controls">
                    <input id="email" name="email" type="text" class="form-control" placeholder="Email address" formControlName="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$">
                  </div>
                  <span class="form-control-feedback" *ngIf="f.submitted && countryForm.controls.email.hasError('required')">
                        {{ 'msg.validation.required' | translate }}
                  </span>
                  <span class="form-control-feedback" *ngIf="f.submitted && countryForm.controls['email'].hasError('pattern')">
                        {{ 'msg.validation.email' | translate }}
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 mb-2"><h6>Shipping Fee</h6></div>
                <div class="col-md-6 form-group" [ngClass]="f.submitted && countryForm.controls.shippingMinAmount.hasError('required') ? 'has-danger' : ''">
                  <label class="form-control-label">Shipping Min Amount (<span class="required">*</span>)</label>
                  <div class="controls">
                    <input class="form-control" id="input-shippingMinAmount" placeholder="Enter Shipping Min Amount"
                      formControlName="shippingMinAmount" name="shippingMinAmount">
                  </div>
                  <span class="form-control-feedback" *ngIf="f.submitted && countryForm.controls.shippingMinAmount.hasError('required')">
                      {{ 'msg.validation.required' | translate }}
                  </span>
                </div>
                <div class="col-md-6 form-group" [ngClass]="f.submitted && countryForm.controls.shippingFee.hasError('required') ? 'has-danger' : ''">
                  <label class="form-control-label">Shipping Fee (<span class="required">*</span>)</label>
                  <div class="controls">
                    <input class="form-control" id="input-shippingFee" placeholder="Enter Shipping Fee"
                      formControlName="shippingFee" name="shippingFee">
                  </div>
                  <span class="form-control-feedback" *ngIf="f.submitted && countryForm.controls.shippingFee.hasError('required')">
                      {{ 'msg.validation.required' | translate }}
                  </span>
                </div>
                <div class="col-md-6 form-group" [ngClass]="f.submitted && countryForm.controls.shippingTrialFee.hasError('required') ? 'has-danger' : ''">
                  <label class="form-control-label">Trial Shipping Fee (<span class="required">*</span>)</label>
                  <div class="controls">
                    <input class="form-control" id="input-shippingTrialFee" placeholder="Enter Trial Shipping Fee"
                      formControlName="shippingTrialFee" name="shippingTrialFee">
                  </div>
                  <span class="form-control-feedback" *ngIf="f.submitted && countryForm.controls.shippingTrialFee.hasError('required')">
                      {{ 'msg.validation.required' | translate }}
                  </span>
                </div>
                <div class=" col-sm-12 form-group" [ngClass]="f.submitted && countryForm.controls.companyAddress.hasError('required') ? 'has-danger' : 'correctInput'">
                  <label class="form-control-label">Address (<span class="required">*</span>)</label>
                  <div class="controls">
                    <input id="input-companyAddress" name="companyAddress" type="text" class="form-control" placeholder="Company Address" formControlName="companyAddress">
                  </div>
                  <span class="form-control-feedback" *ngIf="f.submitted && countryForm.controls.companyAddress.hasError('required')">
                        {{ 'msg.validation.required' | translate }}
                  </span>
                </div>
                <div class="col-sm-6 form-group">
                  <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" class="custom-control-input" formControlName="includedTaxToProduct">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Included Tax to Product</span>
                  </label>
                </div>

                <div class=" col-sm-12 form-group mb-1">
                  <label class="form-control-label"><strong>For BA</strong></label>
                </div>
                <div class="col-sm-6">
                  <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" class="custom-control-input" formControlName="isBaEcommerce">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Is BA Ecommerce</span>
                  </label>
                </div>
                <div class="col-sm-6 form-group">
                  <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" class="custom-control-input" formControlName="isBaSubscription">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Is BA Subscription</span>
                  </label>
                </div>
                <div class="col-sm-6 form-group">
                  <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" class="custom-control-input" formControlName="isBaAlaCarte">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Is BA AlaCarte</span>
                  </label>
                </div>
                <div class="col-sm-6 form-group">
                  <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" class="custom-control-input" formControlName="isBaStripe">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Is BA Stripe</span>
                  </label>
                </div>

                <div class=" col-sm-12 form-group mb-1">
                  <label class="form-control-label"><strong>For Website</strong></label>
                </div>
                <div class="col-sm-6 form-group">
                  <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" class="custom-control-input" formControlName="isWebEcommerce">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Is Website Ecommerce</span>
                  </label>
                </div>
                <div class="col-sm-6 form-group">
                  <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" class="custom-control-input" formControlName="isWebSubscription">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Is Website Subscription</span>
                  </label>
                </div>
                <div class="col-sm-6 form-group">
                  <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" class="custom-control-input" formControlName="isWebAlaCarte">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Is Website AlaCarte</span>
                  </label>
                </div>
                <div class="col-sm-6 form-group">
                  <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" class="custom-control-input" formControlName="isWebStripe">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Is Website Stripe</span>
                  </label>
                </div>
                <!-- states -->
                <div class="col-sm-12 form-group" formArrayName="States">
                  <div class="card-block pl-0">
                    <h6 class="text-uppercase form-control-inline mr-2">State List</h6>
                    <state-form [stateForm]="countryForm.controls.States"></state-form>
                  </div>
                </div>
                <!-- / states -->
                
                <!-- supported language -->
                <div class="col-sm-12 form-group" formArrayName="SupportedLanguages">
                  <div class="card-block pl-0">
                    <h6 class="text-uppercase form-control-inline mr-2">Supported Languages List</h6>
                    <supported-language-form [supportedLanguageForm]="countryForm.controls.SupportedLanguages"></supported-language-form>
                  </div>
                </div>
                <!-- / supported language -->
              </div>
              <app-alert></app-alert>
              <div class="form-group">
                <button type="button" class="btn btn-secondary btn-sm" (click)="gotoList()">Cancel</button>
                <button type="submit" class="btn btn-primary shave2u-btn-primary">Save Changes</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>