
<!-- Terms & Conditions for Malaysia -->
<section class="container shave2u-container" id="terms-conditions">
  <div class="std">
    <div>
      <div class="subtitle">
        <h2>{{ 'lbl.core.footer.terms_conditions' | translate }}</h2>
      </div>
      <div class="body-content" [innerHTML]="termContent | safeHtml"></div>
      <!-- <ol>

        <li>
          <h4>INTERPRETATION</h4>
          <ol>
            <li>"Buyer" means the person who places an order with Shaves2U (M) Sdn. Bhd. (hereafter S2U) for the supply of Goods
              from S2U;</li>
            <li>"Conditions" mean the general Terms &amp; Conditions set out in this document and (unless the context otherwise
              requires) any special terms and conditions agreed in writing between the Buyer and S2U;
            </li>
            <li>"Contract" means the contract for the purchase and sale of Goods, howsoever formed or concluded;</li>
            <li>"Goods" means the goods which S2U is to supply in accordance with a Contract;
            </li>
            <li>"Writing" includes electronic mail facsimile transmission and any comparable means of communication.
            </li>
            <li>“S2U” means Shaves2U (M) Sdn. Bhd., a company incorporated in Malaysia under registration number 1037174-T.
            </li>
            <li>Any reference in these Conditions to any provision of a statute shall be construed as a reference to that provision
              as amended re-enacted or extended at the relevant time.</li>
            <li>The headings in these Conditions are for convenience only and shall not affect the interpretation of any parties.</li>

          </ol>
        </li>
        <div>
          <br>
        </div>
        <li>
          <h4>BASIS OF THE CONTRACT</h4>
          <ol>
            <li>The supply of Goods by S2U to the Buyer under any Contract shall be subjected to these Conditions which shall
              govern the Contract to the exclusion of any other terms and conditions contained or referred to in any documentation
              submitted by the Buyer or in correspondence or elsewhere or implied by trade custom practice or course of dealing.</li>
            <li>No variation to these Conditions shall be binding unless agreed in writing between the authorized representatives
              of the Buyer and S2U.</li>
            <li>Any typographical clerical or other error or omission in any quotation, invoice or other document or information
              issued by S2U in its website shall be subject to correction without any liability on the part of S2U.</li>
          </ol>

          <div>
            <br>
          </div>
        </li>
        <li>
          <h4>ORDERS AND SPECIFICATIONS</h4>
          <ol>
            <li>Order acceptance and completion of the contract between the Buyer and S2U will only be completed upon S2U issuing
              a confirmation of dispatch of the Goods to the Buyer. For the avoidance of doubt, S2U shall be entitled to
              refuse or cancel any order without giving any reasons for the same to the Buyer prior to issue of the confirmation
              of dispatch. S2U shall furthermore be entitled to require the Buyer to furnish S2U with contact and other verification
              information, including but not limited to address, contact numbers prior to issuing a confirmation of dispatch.</li>
            <li>No concluded Contract may be modified or cancelled by the Buyer except with the agreement in writing of S2U.</li>
          </ol>

          <div>
            <br>
          </div>
        </li>
        <li>
          <h4>Money Back Guarantee</h4>
          <ol>
            <li>If you are unhappy with any of our products for any reason, Shaves2u will refund the amount paid for purchasing
              the item excluding the shipping fee. Refund requests must be made directly to Shaves2u at&nbsp;
              <a href="mailto:help@shaves2u.com">help@shaves2u.com</a>. All refund requests must be made within thirty (30) days of the date of shipment by
              Shaves2u. All refund requests must be accompanied by a return of the product&nbsp;and original receipt of purchase
              to Level 18, Axiata Tower, No 9 Jalan Stesen 5, Kuala Lumpur Sentral 50470 Kuala Lumpur Malaysia. Shaves2u
              shall&nbsp;process the request for refund within fourteen (14) days of the receipt of the returned Product.</li>
            <li>Shaves2u is not liable for Products that are damaged or lost in transit. Shaves2u will credit the amount paid
              for the returned Product (less any shipping and handling costs which are non-refundable) via the Payment Method
              you used to make the original purchase.
            </li>
            <li>Shaves2u does not control when a payment merchant&nbsp;processes a refund. You are responsible for contacting
              your credit card’s issuing bank if you have questions about the status of the refund.</li>
            <li>A refund request received more than thirty (30) days after the date of original shipment will not be entertained.&nbsp;
              Shaves2u reserves its right to deny any request to &nbsp; refund for any returned products Shaves2u deems damaged
              due to misuse, lack of care, mishandling, accident, abuse or other abnormal use.</li>
          </ol>

          <div>
            <br>
          </div>
        </li>
        <li>
          <h4>Free Trial</h4>
          <ol>
            <li>Promotions or Free Trials that provide access to a Paid Service (a “Free Trial”) must be used within the stipulated time of the Free Trial.
              You will be required to have a valid Payment Method on file in order to start your Free Trial.
              If you wish to cancel your Free Trial, please do so one (1) day before the next billing cycle in order to avoid being charged for a Paid Service.
              If you cancel prior to the end of the Free Trial period and are inadvertently charged for a Paid Service, please contact us at <a href="mailto:help@shaves2u.com">help@shaves2u.com</a>.
              The Free Trial Pack is a one-time only offer for new customers and is limited to one per household. Additional terms and limitations may apply.
          </ol>

          <div>
            <br>
          </div>
        </li>
        <li>
          <h4>PRICE</h4>
          <ol>
            <li>The price of the Goods shall be the price stated in S2U‘s website at the time which the Buyer makes its offer
              purchase to S2U plus any delivery charges, any applicable goods and services tax, value added tax or similar
              tax which the Buyer shall be liable to pay to S2U in addition to the price.</li>
          </ol>

          <div>
            <br>
          </div>
        </li>
        <li>
          <h4>TERMS OF PAYMENT</h4>
          <ol>
            <li>The Buyer shall make payment for the Goods at the time of order.</li>
            <li>Credit and Debit Card payment is possible for all Buyers. When the Buyer places an order with a Credit Card on
              the S2U website, the transaction shall be processed by iPay88 or PayPal. This system is certified and allows
              S2U to accept payments such as Visa and MasterCard and. All credit card numbers shall be protected by means
              of industry-leading encryption standards.</li>
            <li>Online Banking: By choosing this payment method, the Buyer shall transfer the payment for the Goods to a S2U
              account for the total amount of the Buyer’s purchase (including any applicable taxes, fees and shipping costs).
              The transaction must be payable in Ringgit Malaysia. S2U accepts online bank transfers from CIMB Bank and Maybank.</li>
            <li>PayPal.</li>
          </ol>

          <div>
            <br>
          </div>
        </li>
        <li>
          <h4>DELIVERY/PERFORMANCE</h4>
          <ol>
            <li>Delivery of the Goods shall be made to the address specified by the Buyer in its order.</li>
            <li>S2U has the right at any time to sub-contract all or any of its obligations for the delivery of the Goods to
              any other party as it may from time to time decide without giving notice of the same to the Buyer.</li>
            <li>Any dates quoted for delivery of the Goods are approximate only. The time for delivery/performance shall not
              be of the essence, and S2U shall not be liable for any delay in delivery or performance howsoever caused.</li>
            <li>If S2U has failed to deliver the Goods in accordance with the Contract or within a reasonable time, the Buyer
              shall be entitled, by serving written notice on S2U, to demand performance within a specified time thereafter,
              which shall be at least 14 days. If S2U fails to do so within the specified time, the Buyer shall be entitled
              to terminate the contract in respect of the undelivered Goods and claim a refund.
            </li>
          </ol>

          <div>
            <br>
          </div>
        </li>
        <li>
          <h4>RISK AND TITLE OF THE GOODS</h4>
          <ol>
            <li>Risk of damage to or loss of the Goods shall pass to the Buyer at the time of delivery or if the Buyer wrongfully
              fails to take delivery of the Goods, the time when S2U has tendered delivery of the Goods.</li>
            <li>Not with standing delivery and the passing of risk in the Goods or any other provision of these Conditions, the
              title in the Goods shall not pass to the Buyer until S2U has received payment in full.</li>
          </ol>

          <div>
            <br>
          </div>
        </li>
        <li>
          <h4>WARRANTIES AND REMEDIES</h4>
          <ol>
            <li>Subject as expressly provided in these Conditions all other warranties conditions or terms, including those implied
              by statute or common law, are excluded to the fullest extent permitted by law.</li>
            <li>Subject to Clause 8, S2U warrants that the Goods will correspond with their specification at the time of delivery,
              and agrees to remedy any non-conformity therein for a period of 1 month commencing from the date on which the
              Goods are delivered or deemed to be delivered ("Warranty Period").</li>
            <li>S2U shall be under no liability in respect of any defect arising from unsuitable or improper use, defective installation
              or commissioning by the Buyer or third parties, fair wear and tear, wilful damage, negligence, abnormal working
              conditions, defective or negligent handling, failure to follow S2U’s instructions (whether oral or in writing)
              misuse or alteration of the Goods without S2U’s approval.</li>
            <li>S2U shall be under no liability whatsoever in respect of any defect in the Goods arising after the expiry of
              the Warranty Period.</li>
            <li>Any claim by the Buyer which is based on any defect in the quality or condition of the Goods or their failure
              to correspond with specification shall be notified to S2U within seven days from the date of receipt of the
              During use, the Goods shall be monitored constantly with regard to safety and defects. If there are even slight
              reservations concerning the suitability for use or the slightest reservations concerning safety, the Goods
              must not be used. S2U shall be given written notification immediately, specifying the reservations or the defect.</li>
            <li>If the Buyer does not give due notification to S2U, S2U shall have no liability for any defect or failure or
              for any consequences resulting therefrom. Where any valid claim in respect of any of the Goods which is based
              on any defect in the quality or condition of the Goods or their failure to meet a specification is notified
              to S2U, the non-conforming Goods (or part thereof) will be replaced free of charge as originally ordered or
              refunded in full.</li>

          </ol>

          <div>
            <br>
          </div>
        </li>
        <li>
          <h4>FORCE MAJEURE</h4>
          <ol>
            <li>S2U shall not be liable to the Buyer or be deemed to be in breach of the Contract by reason of any delay in performing
              or any failure to perform any of S2U’s obligations if the delay or failure was due to any cause beyond S2U’s
              reasonable control. Without prejudice to the generality of the foregoing the following shall be regarded as
              causes beyond S2U’s reasonable control:
              <ul>
                <li> Act of God, explosion, flood, tempest, fire or accident;</li>
                <li> War or threat of war, sabotage, insurrection, civil disturbance or requisition;</li>
                <li>Acts of restrictions, regulations, bye-laws, prohibitions or measures of any kind on the part of any governmental
                  parliamentary or local authority;</li>
                <li>Import or export regulations or embargoes;</li>
                <li>Interruption of traffic, strikes, lock-outs, other industrial actions or trade disputes (whether involving
                  employees of S2U or of a third party);</li>
                <li>Interruption of production or operation, difficulties in obtaining raw materials labour fuel parts or machinery;</li>
                <li>Power failure or breakdown in machinery.</li>
                <li>Upon the happening of any one of the events set out in Clause 9.1 S2U may at its option:-
                  <ul style="list-style: inside circle;">
                    <li>Fully or partially suspend delivery/performance while such event or circumstances continues;
                    </li>
                    <li>Terminate any Contract so affected with immediate effect by written notice to the Buyer and S2U shall
                      not be liable for any loss or damage suffered by the Buyer as a result thereof.</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ol>

          <div>
            <br>
          </div>
        </li>
        <li>
          <h4>NOTICES</h4>
          <ol>
            <li>Any notice required or permitted to be given by either party to the other under these Terms &amp; Conditions
              shall be in writing addressed, if to S2U, to its principal place of business and if to the Buyer, to the address
              stipulated in the relevant offer to purchase.</li>
          </ol>

          <div>
            <br>
          </div>
        </li>
        <li>
          <h4>LIABILITY</h4>
          <ol>
            <li>S2U shall be under no liability whatsoever where this arises from a reason beyond its reasonable control as provided
              in Clause 9 or from an act or default of the Buyer.</li>
            <li>In no event shall S2U be liable for loss of profit or goodwill, loss of production or revenue or any type of
              special indirect or consequential loss whatsoever (including loss or damage suffered by the Buyer as a result
              of an action brought by a third party) even if such loss were reasonably foreseeable or S2U had been advised
              of the possibility of the Buyer incurring the same.
            </li>
            <li>The remedies set out in Clause 8 are the Buyer’s sole and exclusive remedies for non-conformity of or defects
              in the Goods.
            </li>
            <li>S2U maximum and cumulative total liability (including any liability for acts and omissions of its employees’
              agents and sub-contractors) in respect of any and all claims for defective performance, breach of contract,
              compensation, indemnity, tort, misrepresentation, negligence at law or equity and any other damages or losses
              which may arise in connection with its performance or non-performance under the Contract, shall not exceed
              the total purchase price.
            </li>
          </ol>


          <div>
            <br>
          </div>
        </li>
        <li>
          <h4>GENERAL</h4>
          <ol>
            <li>No waiver by S2U of any breach of the Contract by the Buyer shall be considered as a waiver of any subsequent
              breach of the same or any other provision.</li>
            <li>If any provision of these Terms &amp; Conditions is held by any competent authority to be invalid or unenforceable
              in whole or in part the validity of the other provisions of these Terms &amp; Conditions and the remainder
              of the provision in question shall not be affected thereby.</li>
            <li>No person who is not a party to this Contract (including any employee officer agent representative or sub-contractor
              of either party) shall have any right under the Contracts (Rights of Third Parties) Act to enforce any terms
              of this Contract which expressly or by implication confers a benefit on that person without the express prior
              agreement in writing of the parties, which the agreement must refer to Clause 3.2.</li>
            <li>The Contract shall be governed by the laws of Malaysia and the Buyer agrees to submit to the non-exclusive jurisdiction
              of the Courts in Malaysia.</li>
            <li>Any dispute, controversy or claim arising out of or relating to this contract, or the breach, termination or
              invalidity thereof shall be settled by arbitration in accordance with the Rules for Arbitration of the Kuala
              Lumpur Regional Centre for Arbitration (KLR-CA). The arbitral tribunal shall consist of a sole arbitrator,
              to be appointed by the Chairman of the KLRCA. The place of arbitration shall be Kuala Lumpur. Any award by
              the arbitration tribunal shall be final and binding upon the parties.
            </li>
            <li>S2U shall be entitled to commence court legal proceedings for the purposes of protecting its intellectual property
              rights and confidential information by means of injunctive or other equitable relief.
            </li>
            <li>The United Nations Convention on Contracts for the International Sale of Goods shall not apply to any Contract
              for the sale of Goods.
            </li>
            <li>S2U reserves their right to modify these Terms &amp; Conditions at any time.</li>
          </ol>
        </li>
      </ol> -->
    </div>
  </div>
</section>

<!-- Terms & Conditions for Singapore -->
<!-- <section class="container" id="terms-conditions"*ngIf="this.storage.getCountry().code === 'SGP'">
  <div class="std">
    <div>
      <div class="subtitle">
        <h2>Terms &amp; Conditions</h2>
      </div>
      <ol>

        <li>
          <h4>INTERPRETATION</h4>
          <ol>
            <li>"Buyer" means the person who places an order with SHAVE2U PTE. LTD.(hereafter S2U) for the supply of Goods from S2U;</li>
            <li>"Conditions" mean the general Terms &amp; Conditions set out in this document and (unless the context otherwise requires)
              any special terms and conditions agreed in writing between the Buyer and S2U;
            </li>
            <li>"Contract" means the contract for the purchase and sale of Goods, howsoever formed or concluded;</li>
            <li>"Goods" means the goods which S2U is to supply in accordance with a Contract;</li>
            <li>"Writing" includes electronic mail facsimile transmission and any comparable means of communication.</li>
            <li>“S2U” means SHAVE2U PTE. LTD., a company incorporated in Singapore under registration number 201732205Z.</li>
            <li>Any reference in these Conditions to any provision of a statute shall be construed as a reference to that
              provision as amended re-enacted or extended at the relevant time.</li>
            <li>The headings in these Conditions are for convenience only and shall not affect the interpretation of any parties.</li>
          </ol>
        </li>
        <div>
          <br>
        </div>
        <li>
          <h4>BASIS OF THE CONTRACT</h4>
          <ol>
            <li>The supply of Goods by S2U to the Buyer under any Contract shall be subjected to these Conditions which shall
              govern the Contract to the exclusion of any other terms and conditions contained or referred to in any documentation
              submitted by the Buyer or in correspondence or elsewhere or implied by trade custom practice or course of dealing.</li>
            <li>No variation to these Conditions shall be binding unless agreed in writing between the authorized representatives of the Buyer and S2U.</li>
            <li>Any typographical clerical or other error or omission in any quotation, invoice or other document or information
              issued by S2U in its website shall be subject to correction without any liability on the part of S2U.</li>
          </ol>

          <div>
            <br>
          </div>
        </li>
        <li>
          <h4>ORDERS AND SPECIFICATIONS</h4>
          <ol>
            <li>Order acceptance and completion of the contract between the Buyer and S2U will only be completed upon S2U issuing
              a confirmation of dispatch of the Goods to the Buyer. For the avoidance of doubt, S2U shall be entitled to refuse or
              cancel any order without giving any reasons for the same to the Buyer prior to issue of the confirmation of dispatch.
              S2U shall furthermore be entitled to require the Buyer to furnish S2U with contact and other verification information,
              including but not limited to address, contact numbers prior to issuing a confirmation of dispatch.</li>
            <li>No concluded Contract may be modified or cancelled by the Buyer except with the agreement in writing of S2U.</li>
          </ol>

          <div>
            <br>
          </div>
        </li>
        <li>
          <h4>Money Back Guarantee</h4>
          <ol>
            <li>If you are unhappy with any of our products for any reason, Shaves2u will refund the amount paid for purchasing
              the item excluding the shipping fee. Refund requests must be made directly to Shaves2u
              at&nbsp;<a href="mailto:help@shaves2u.com">help@shaves2u.com</a>. All refund requests must be made within thirty (30) days
              of the date of shipment by Shaves2u. All refund requests must be accompanied by a return of the product and original
              receipt of purchase to Level 18, Axiata Tower, No 9 Jalan Stesen 5, Kuala Lumpur Sentral 50470 Kuala Lumpur Malaysia.
              Shaves2u shall process the request for refund within fourteen (14) days of the receipt of the returned Product.</li>
            <li>Shaves2u is not liable for Products that are damaged or lost in transit. Shaves2u will credit the amount
              paid for the returned Product (less any shipping and handling costs which are non-refundable) via the Payment
              Method you used to make the original purchase.</li>
            <li>Shaves2u does not control when a payment merchant processes a refund. You are responsible for contacting your
              credit card’s issuing bank if you have questions about the status of the refund.</li>
            <li>A refund request received more than thirty (30) days after the date of original shipment will not be entertained.
              Shaves2u reserves its right to deny any request to   refund for any returned products Shaves2u deems damaged due to misuse,
              lack of care, mishandling, accident, abuse or other abnormal use.</li>
          </ol>

          <div>
            <br>
          </div>
        </li>
        <li>
          <h4>PRICE</h4>
          <ol>
            <li>The price of the Goods shall be the price stated in S2U‘s website at the time which the Buyer makes its offer
              purchase to S2U plus any delivery charges, any applicable goods and services tax, value added tax or similar tax
              which the Buyer shall be liable to pay to S2U in addition to the price.</li>
          </ol>

          <div>
            <br>
          </div>
        </li>
        <li>
          <h4>TERMS OF PAYMENT</h4>
          <ol>
            <li>The Buyer shall make payment for the Goods at the time of order.</li>
            <li>Credit and Debit Card payment is possible for all Buyers. When the Buyer places an order with a Credit Card
              on the S2U website, the transaction shall be processed by iPay88 or Stripe. This system is certified and allows
              S2U to accept payments such as Visa and MasterCard and. All credit card numbers shall be protected by means of
              industry-leading encryption standards.</li>
            <li>The transaction must be payable in Singapore Dollars.</li>
          </ol>

          <div>
            <br>
          </div>
        </li>
        <li>
          <h4>DELIVERY/PERFORMANCE</h4>
          <ol>
            <li>Delivery of the Goods shall be made to the address specified by the Buyer in its order.</li>
            <li>S2U has the right at any time to sub-contract all or any of its obligations for the delivery of the Goods to
              any other party as it may from time to time decide without giving notice of the same to the Buyer.</li>
            <li>Any dates quoted for delivery of the Goods are approximate only. The time for delivery/performance shall not be
              of the essence, and S2U shall not be liable for any delay in delivery or performance howsoever caused.</li>
            <li>If S2U has failed to deliver the Goods in accordance with the Contract or within a reasonable time, the Buyer
              shall be entitled, by serving written notice on S2U, to demand performance within a specified time thereafter,
              which shall be at least 14 days. If S2U fails to do so within the specified time, the Buyer shall be entitled to
              terminate the contract in respect of the undelivered Goods and claim a refund.</li>
          </ol>

          <div>
            <br>
          </div>
        </li>
        <li>
          <h4>RISK AND TITLE OF THE GOODS</h4>
          <ol>
            <li>Risk of damage to or loss of the Goods shall pass to the Buyer at the time of delivery or if the Buyer wrongfully
              fails to take delivery of the Goods, the time when S2U has tendered delivery of the Goods.</li>
            <li>Notwithstanding delivery and the passing of risk in the Goods or any other provision of these Conditions,
              the title in the Goods shall not pass to the Buyer until S2U has received payment in full.</li>
          </ol>

          <div>
            <br>
          </div>
        </li>
        <li>
          <h4>WARRANTIES AND REMEDIES</h4>
          <ol>
            <li>Subject as expressly provided in these Conditions all other warranties conditions or terms,
              including those implied by statute or common law, are excluded to the fullest extent permitted by law.</li>
            <li>Subject to Clause 8, S2U warrants that the Goods will correspond with their specification at the time of delivery,
              and agrees to remedy any non-conformity therein for a period of 1 month commencing from the date on which
              the Goods are delivered or deemed to be delivered ("Warranty Period").</li>
            <li>S2U shall be under no liability in respect of any defect arising from unsuitable or improper use,
              defective installation or commissioning by the Buyer or third parties, fair wear and tear, wilful damage,
              negligence, abnormal working conditions, defective or negligent handling, failure to follow S2U’s instructions
              (whether oral or in writing) misuse or alteration of the Goods without S2U’s approval.</li>
            <li>S2U shall be under no liability whatsoever in respect of any defect in the Goods arising after the expiry of the Warranty Period.</li>
            <li>Any claim by the Buyer which is based on any defect in the quality or condition of the Goods or
              their failure to correspond with specification shall be notified to S2U within seven days from
              the date of receipt of the During use, the Goods shall be monitored constantly with regard to safety and defects.
              If there are even slight reservations concerning the suitability for use or the slightest reservations concerning safety,
              the Goods must not be used. S2U shall be given written notification immediately, specifying the reservations or the defect.</li>
            <li>If the Buyer does not give due notification to S2U, S2U shall have no liability for any defect or
              failure or for any consequences resulting therefrom. Where any valid claim in respect of any of the Goods
              which is based on any defect in the quality or condition of the Goods or their failure to meet a specification is notified to S2U,
              the non-conforming Goods (or part thereof) will be replaced free of charge as originally ordered or refunded in full.</li>

          </ol>

          <div>
            <br>
          </div>
        </li>
        <li>
          <h4>FORCE MAJEURE</h4>
          <ol>
            <li>S2U shall not be liable to the Buyer or be deemed to be in breach of the Contract by reason of any delay in performing or
              any failure to perform any of S2U’s obligations if the delay or failure was due to any cause beyond S2U’s reasonable control.
              Without prejudice to the generality of the foregoing the following shall be regarded as causes beyond S2U’s reasonable control:
              <ul>
                <li>Act of God, explosion, flood, tempest, fire or accident;</li>
                <li>War or threat of war, sabotage, insurrection, civil disturbance or requisition;</li>
                <li>Acts of restrictions, regulations, bye-laws, prohibitions or measures of any kind on the part of
                  any governmental parliamentary or local authority;</li>
                <li>Import or export regulations or embargoes;</li>
                <li>Interruption of traffic, strikes, lock-outs, other industrial actions or trade disputes
                  (whether involving employees of S2U or of a third party);</li>
                <li>Interruption of production or operation, difficulties in obtaining raw materials labour fuel parts or machinery;</li>
                <li>Power failure or breakdown in machinery.</li>
                <li>Upon the happening of any one of the events set out in Clause 9.1 S2U may at its option:-
                  <ul style="list-style: inside circle;">
                    <li>Fully or partially suspend delivery/performance while such event or circumstances continues;</li>
                    <li>Terminate any Contract so affected with immediate effect by written notice to the Buyer and
                      S2U shall not be liable for any loss or damage suffered by the Buyer as a result thereof.</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ol>

          <div>
            <br>
          </div>
        </li>
        <li>
          <h4>NOTICES</h4>
          <ol>
            <li>Any notice required or permitted to be given by either party to the other under these Terms &amp; Conditions
              shall be in writing addressed, if to S2U, to its principal place of business and if to the Buyer,
              to the address stipulated in the relevant offer to purchase.</li>
          </ol>

          <div>
            <br>
          </div>
        </li>
        <li>
          <h4>LIABILITY</h4>
          <ol>
            <li>S2U shall be under no liability whatsoever where this arises from a reason beyond its reasonable control
              as provided in Clause 9 or from an act or default of the Buyer.</li>
            <li>In no event shall S2U be liable for loss of profit or goodwill, loss of production or revenue or
              any type of special indirect or consequential loss whatsoever (including loss or damage suffered by the Buyer
              as a result of an action brought by a third party) even if such loss were reasonably foreseeable or
              S2U had been advised of the possibility of the Buyer incurring the same.</li>
            <li>The remedies set out in Clause 8 are the Buyer’s sole and exclusive remedies for non-conformity of or
              defects in the Goods.</li>
            <li>S2U maximum and cumulative total liability (including any liability for acts and omissions of
              its employees’ agents and sub-contractors) in respect of any and all claims for defective performance,
              breach of contract, compensation, indemnity, tort, misrepresentation, negligence at law or equity and
              any other damages or losses which may arise in connection with its performance or non-performance under the Contract,
              shall not exceed the total purchase price.</li>
          </ol>


          <div>
            <br>
          </div>
        </li>
        <li>
          <h4>GENERAL</h4>
          <ol>
            <li>No waiver by S2U of any breach of the Contract by the Buyer shall be considered as a waiver of
              any subsequent breach of the same or any other provision.</li>
            <li>If any provision of these Terms &amp; Conditions is held by any competent authority to be invalid or
              unenforceable in whole or in part the validity of the other provisions of these Terms &amp; Conditions and
              the remainder of the provision in question shall not be affected thereby.</li>
            <li>No person who is not a party to this Contract (including any employee officer agent representative or
              sub-contractor of either party) shall have any right under the Contracts (Rights of Third Parties)
              Act to enforce any terms of this Contract which expressly or by implication confers a benefit on that person
              without the express prior agreement in writing of the parties, which the agreement must refer to Clause 3.2.</li>
            <li>The Contract shall be governed by the laws of Singapore and the Buyer agrees to submit to
              the non-exclusive jurisdiction of the Courts in Singapore.</li>
            <li>Any dispute, controversy or claim arising out of or relating to this contract, or the breach,
              termination or invalidity thereof shall be settled by arbitration in accordance with the Rules for
              Arbitration of the Kuala Lumpur Regional Centre for Arbitration (KLR-CA).
              The arbitral tribunal shall consist of a sole arbitrator, to be appointed by the Chairman of the KLRCA.
              The place of arbitration shall be Kuala Lumpur. Any award by the arbitration tribunal shall be final and
              binding upon the parties.</li>
            <li>S2U shall be entitled to commence court legal proceedings for the purposes of protecting its
              intellectual property rights and confidential information by means of injunctive or other equitable relief.</li>
            <li>The United Nations Convention on Contracts for the International Sale of Goods shall not apply to any Contract
              for the sale of Goods.</li>
            <li>S2U reserves their right to modify these Terms &amp; Conditions at any time.</li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
</section> -->