#terms-conditions{
  .body-content {
    padding: 0 40px 30px 40px;
    @media(max-width: 991px) {
      padding: 0 20px 30px 20px;
    }
    @media(max-width: 767px) {
      padding: 0 15px 30px 15px;
    }
  }
}