<div class="row mt-3"  [formGroup]="planOptionProductsForm">
  <div class="col-sm-12 form-group">
    <h6 class="pull-left">Add Product</h6>
    <h6 class="pull-right">Total Products ({{planOptionProductsForm.controls.length}})</h6>
  </div>
  <div class="col-sm-12 form-group">
    <form [formGroup]="queryForm">
      <input id="country" type="text" class="form-control" (keyup)=filterProducts() formControlName=query>
      <div class="list-group suggestions" id="suggestions" role="tablist" *ngIf="filteredList.length">
        <a class="list-group-item list-group-item-action" *ngFor="let item of filteredList" (click)="select(item)">{{ item.productTranslate | translatePipe:'name' }}</a>
      </div>
    </form>
  </div>
  <div ></div>
  <ng-container>
    <div class="col-sm-12" *ngIf="!planOptionProductsForm.valid">
      <div [ngClass]="!planOptionProductsForm.valid ? 'has-danger' : ''">
        <span class="form-control-feedback">
          {{ 'msg.validation.selectListToSubscribe' | translate }}
        </span>
      </div>
    </div>
    <div class="col-sm-12 form-group product-list" *ngIf="planOptionProductsForm.controls.length > 0">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of planOptionProductsForm.controls; let i=index">
          <ng-container>
            <a class="d-inline-block">
              <display-image [images]="item.value.product.productImages" [class]="'planDetails-photo'"></display-image>
            </a>
            <div class="d-inline-block ml-2">
              <p class="title">{{ item.value.product.productTranslate | translatePipe:'name' }}</p>
            </div>
            <div class="row w-100" [formGroup]="item">
              <div class="col-sm-4 mt-2">
                <div class="input-group" [ngClass]="!item.controls.qty.valid ? 'has-danger' : ''">
                  <span class="input-group-addon">Quatity</span>
                  <input type="text" class="form-control" name="qty" placeholder="" formControlName="qty" >
                </div>
              </div>
            </div>
            <a class="trash" (click)="removeItem(item.value.id, i)"><span class="fa fa-trash"></span></a>
          </ng-container>
        </li>
      </ul>
    </div>
  </ng-container>
</div>