<!-- <div *ngIf="message && message.texts !== ''" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success',
  'alert-danger': message.type === 'error' }" [@fadeOutAnimation]>
  <ul class="mb-0">
    <li *ngFor="let text of message.texts" >{{text}}</li>
  </ul>
</div> -->

<!-- <div class="alert" *ngIf="message" [ngClass]="{'alert-success': message.type === 'success',
'alert-danger': message.type === 'error' }" [@fadeOutAnimation]>
  <ul class="mb-0">
    <li>{{message.message}}</li>
  </ul>
</div> -->

<div class="alert" *ngIf="message" [ngClass]="{'alert-success': message.type === 'success',
'alert-danger': message.type === 'error' }">
  <ul class="mb-0">
    <li>{{message.message}}</li>
  </ul>
</div>