<div class="row mx-0">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title float-left">Manage Promotions</h4>
        <a type="button" class="btn btn-secondary btn-sm float-right btn-cus" routerLink="/promotions/add" *ngIf="globalService.canCreate('promotions')">Add A Promotion</a>
        <br>
        <br>
      </div>

      <div class="content table-responsive table-full-width">
        <div class="row mx-0 mb-3">
          <!-- <div class="col-md-4">
            <select name="cities" class="selectpicker form-control" (change)="onLimitChange($event)">
              <option [attr.value]="item" *ngFor="let item of ['50', '100', '150', '200']" [attr.selected]="item == options.get('limit') ? true : null">Show {{item}} per page</option>
            </select>
          </div> -->
          <div class="col-md-3">
            <label for="">Filter by Promotion</label>
            <select name="filterByProductType" class="selectpicker form-control" (change)="filterby('isGeneric', $event.target.value)">
              <option [value]="'all'">All Promotions</option>
              <option value="1" [attr.selected]="options.get('isGeneric') == '1' ? true : null">Generic Code</option>
              <option value="0" [attr.selected]="options.get('isGeneric') == '0' ? true : null">Unique Code</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="">Filter by Country</label>
            <select name="filterByCountry" class="selectpicker form-control" (change)="filterby('CountryId', $event.target.value)">
              <option [value]="'all'" [selected]="!options.get('CountryId')">All Countries</option>
              <option [value]="country.id" *ngFor="let country of countries" [selected]="country.id == options.get('CountryId') ? true : null">{{country.name}}</option>
            </select>
          </div>
          <div class="col-md-3">
              <label for="">Sort by Date</label>
            <select name="cities" class="selectpicker form-control" (change)="sortByDate($event.target.value)">
              <option value="ASC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) !== 'createdAt_DESC' ? true : null">Date, Oldest-Newest</option>
              <option value="DESC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) === 'createdAt_DESC' ? true : null">Date, Newest-Oldest</option>
            </select>
          </div>
        </div>
        <div class="row mx-0 mb-3 row-alignment">
          <div class="col-md-6 filter-field mt-3">
            <label for="">Search</label>
            <input id="filterByS" name="filterByS" type="text" class="form-control" placeholder="Search by Name, Description" [ngModel]="options.get('s')"
              (input)="customizeSearchBy('s', $event)">
          </div>
        </div>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"></pagination>
        <!-- /pagging -->
        <table class="table table-shaves mt-2">
          <thead>
            <tr>
              <th class="text-center th-thumb">Thumb</th>
              <th (click)="tableHearSort($event, promotionList.rows, 'name','string', 'promotionTranslate')" class="table-sort">Name</th>
              <th (click)="tableHearSort($event, promotionList.rows, 'description','string', 'promotionTranslate')" class="table-sort">Description</th>
              <th (click)="tableHearSort($event, promotionList.rows, 'isGeneric','string')" class="table-sort">Type</th>
              <th (click)="tableHearSort($event, promotionList.rows, 'name','string', 'Country')" class="table-sort">Country</th>
              <th (click)="tableHearSort($event, promotionList.rows, 'expiredAt','date')" class="table-sort">Expired At</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="!isLoading">
            <tr *ngFor="let item of promotionList.rows">
              <td class="td-thumb text-center">
                <a [routerLink]="['/promotions/details/', item.id]">
                  <img src="{{item.bannerUrl}}" height="100" />
                </a>
              </td>
              <td class="td-">{{item.promotionTranslate | translatePipe: 'name'}}</td>
              <td class="td-">{{ item.promotionTranslate | translatePipe: 'description' | truncate: [30] }}</td>
              <td class="td-">{{item.isGeneric ? "Generic Code" : "Unique Code"}}</td>
              <td class="td-">{{item.Country.name}}</td>
              <td class="td-available-in">{{item.expiredAt}}</td>
              <td class="td-actions">
                <!--<a [routerLink]="['/promotions/details/', item.id]" class="btn btn-secondary btn-sm float-right">Details</a>-->

                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Action
                  </button>
                  <div class="dropdown-menu actiion-menu" aria-labelledby="dropdownMenuButton">
                    <a [routerLink]="['/promotions/edit/', item.id]" class="dropdown-item" *ngIf="globalService.canEdit('promotions')">Edit</a>
                    <!-- <a [routerLink]="['/promotions/details/', item.id]" class="dropdown-item" *ngIf="globalService.canView('promotions')">Details</a> -->
                    <a class="dropdown-item" (click)="deletePromotion(item.id)" *ngIf="globalService.canDelete('promotions')">Remove</a>
                    <!--<a class="dropdown-item" (click)="activeProduct(item.id)" *ngIf="item.status === 'removed'">Active</a>-->
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngIf="promotionList.rows.length === 0">
              <td colspan="7" class="text-center">No Items</td>
            </tr>
          </tbody>
        </table>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"
          [showing]="false"></pagination>
        <!-- /pagging -->
      </div>
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->
</div>

<!-- add-user-modal -->
<!--<add-user-modal (hasChange)="controls.$1.hasError('required')($event)"></add-user-modal>-->
<!-- edit-user-modal -->
<!--<edit-user-modal (hasChange)="controls.$1.hasError('required')($event)"></edit-user-modal>-->