@media  (max-width: 1024px) {
  #subcription{
    overflow-x: hidden;
    .block-banner{
      .banner-img{
        img{
          width: 100%;
        }
      }
      .banner-content{
        .content{
          // text-align: center;
          margin: 50px auto 0;
          // max-width: 329px;
          padding-bottom: 58px;
        }
      }
    }
    .block3{
      .bg-block3{
        .item{
          padding: 45px 22px 28px 22px;
          img{
            // width: 100%;
						max-width: 100%;
            max-height: 330px;
          }
        }
      }
    }
		.block4,
		.block5 {
			.block-banner {
				margin: 0 15px;
				.banner-img {
					img {
						max-width: 100%;
					}
				}
			}
		}
  }
}
@media  (max-width: 767px) {
  #subcription{
    overflow-x: hidden;
    a.btn{
      margin: 30px 0 0 0;
    }
    .block-banner{
      margin: 0 auto;
      .banner-img{
        padding: 0;
        img{
          width: 100%;
        }
      }
      .banner-img,.banner-content{
        float: none;
      }
      .banner-content{
        .content{
          text-align: center;
          margin: 20px auto 20px;
        }
      }
      .header-banner {
        background: #f7f7f7;
      }
    }
    .block-content{
      margin-left: -15px;
      margin-right: -15px;
      .item{
        text-align: center;
        .item-body {
          min-height: auto;
        }
      }
      .item-l {
        padding-right: 0 !important;
        padding-left: 0 !important;
      }
    }
    .block1,.block2,.block3,.block4,.block5,.block6,.block-footer{
      margin-bottom: 65px;
    }
    // private --------
    .block1{
      background-image: none;
      background-color: #e4e4e4;
      margin-bottom: 0;
      .block-banner{
				display: flex;
				flex-direction: column-reverse;
        .banner-content{
          .content{
				    float: none;
            max-width: 100%;
            padding: 0 15px;
          }
        }
        img.banner-web {
          display: none;
        }
        img.banner-mobile {
          display: block;
          margin: 85px 0 10px;
        }
      }
    }
    #start-shave-plan {
      padding-top: 15px;
    }
    .block2{
			margin: 0;
      border-radius: 5px;
      padding: 50px 0 15px;
      .item{
        // margin: 0 auto;
		    margin: 0 auto 45px;
        max-width: 100%;
        padding: 0 15px;
      }
      // margin-bottom: 35px;
      .col-xs-12.col-md-4:last-child{
        padding-left:0;
        padding-right:0;
      }
    }
    .block3{
			margin-bottom: 50px;
      // margin-right:-45px;
      // margin-left:-45px;
			.btn {
				margin-top: 15px;
			}
			.title-block3 {
		    margin: 45px 15px 35px;
		    font-size: 21px;
		    line-height: 35px;
		    padding: 0 35px;
			}
      .bg-block3{
				margin-bottom: 15px;
        .item{
          max-width:472px;
          margin: 0 auto;
          background: #fff;
          padding: 50px 22px 50px 22px;
					.title {
						font-size: 12px;
						line-height: 22px;
					}
          h3{
            // margin-bottom: 50px;
          }

          .item-image{
				    line-height: initial;
            padding: 0 0 10px;
						// line-height: 345px;
            // padding-left: 15px;
          }
          .item-description{
            // text-align: left;
            // min-height: 136px;
						min-height: auto;
						h3,
						.title_desc {
					    font-size: 12px;
					    line-height: 22px;
							margin-bottom: 0;
						}
						.title_desc {
							margin-bottom: 15px;
						}
            ul{
              padding: 0 20px;
              margin: 0;

              li:before{
                background: $primary-color;
                content: "";
                width: 4px;
                height: 4px;
                display: inline-block;
                margin-right: 20px;
              }
            }
          }
          img{
            // width: 277px;
						max-width: 100%;
          }
        }
        &.bg-block-last{
          .item{
            h3{
              margin-bottom: 8px;
            }
            .item-image{
              line-height: 225px;
            }
          }
        }
      }

    }
    .block4{
			background: #fff;
      .block-banner{
        padding:0;
        max-height: 100%;
		    display: flex;
		    flex-flow: wrap-reverse;
        .banner-content{
          .content{
            position: relative;
            right: auto;
            max-width: 410px;
            // margin: 55px auto 0;
						text-align: left;
				    margin: 45px 15px;
				    padding-bottom: 0;
          }
        }
      }
    }

		.block4,
		.block5 {
			.block-banner {
				margin: 0;
			}
			.banner-img{
				float: none;
				width:100%;
				min-height: 317px;
				text-align:center;
				padding: 35px 0;
				background: #e4e5e5; /* Old browsers */
				background: -moz-linear-gradient(top, #e4e5e5 0%, #b4b4b4 0%, #d3d4d4 17%, #dcdddd 29%, #e2e3e3 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, #e4e5e5 0%,#b4b4b4 0%,#d3d4d4 17%,#dcdddd 29%,#e2e3e3 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, #e4e5e5 0%,#b4b4b4 0%,#d3d4d4 17%,#dcdddd 29%,#e2e3e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e5e5', endColorstr='#e2e3e3',GradientType=0 ); /* IE6-9 */
				img{
					max-width: 100%;
					// margin: 40px 15px 0;
					padding: 20px;
					left: 50%;
					position: absolute;
					transform: translate(-50%, -10%);
					// margin-left: 25px;
					max-height: 100%;
				}
			}
		}

    .container-mobile{
      display: block;
      .item-l{
        max-width: 405px;
        margin: 0 auto;
        .item{
          .title{
            padding: 28px 0 24px;
            h3:nth-child(2){
              color: #fe5000;
            }
          }
        }
        h4{
          display: inline-block;
          font-family: "Muli Bold";
        }
        span{
          display: inline-block;
          width: 18px;
          font-family: "Muli Bold";
          color: #dfdfdf;
        }
        h4:nth-child(3){
          strong{
            font-size: 14px;
            font-weight:inherit;
          }
          color: #fe5000;
        }

      }
    }
    .container-desktop{
      display: none;
    }
    .block5{
			background: #fff;
      .block-banner{
        padding: 0;
		    max-height: none;
        .banner-content{
          .content{
            position: relative;
            right: auto;
            max-width: 410px;
            // margin: 55px auto 0;
						text-align: left;
				    margin: 45px 15px;
				    padding-bottom: 0;
            p{
              margin: 0 auto;
							max-width: none;
            }
          }
        }
      }

      // .item-l{
      //   padding-right:15px;
      // }
      // .item-r{
      //   padding-left:15px;
      // }
      // .item{
      //   max-width: 405px;
      //   margin: 0 auto 18px;
      //   width: 100%;
      //   // padding: 45px;
      //   float:none;

      // }
    }
    .block6{
      background: $bg-2nd-color;
      margin-bottom: 0;
      .block-content{
        // max-width: 870px;
        margin: 0;
        padding: 80px 0 50px;
        .tiltle{ width:100%;margin-bottom:30px;}
        .question{
          width: 100%;
          text-align: left;
          border-bottom: 2px solid #eeeeee;
          padding: 25px 0px;
          h3{
            cursor: pointer;
            font-family: 'Muli';
          }
          &:last-child{
            border-bottom: 0;
          }
        }
      }

    }

    .block7{
      .shave2u-container{
        text-align: center;
				margin: 0;
      }
      div{
		    margin: 0 15px;
		    display: block;
      }
      .col-12{
      }
      .looking{
        margin: 0 0 15px;
      }
      .subscribe{
        // max-width: 45%;
        // margin: 0;
      }
      .not_subscribe{
				border: none;
        // max-width: 45%;
        // margin: 0;
				border-top: 1px solid #ccc;
      }
			.subscribe,
			.not_subscribe {
				display: block;
				max-width: none;
		    padding: 15px 0;
				margin: 0;

				span {
			    width: 200px;
			    display: block;
				}
			}
    }

  }
}

@media screen and (min-width: 768px) and (max-width: 997px) {
	#subcription {
		.block1 {
			.block-banner {
				.banner-content {
					padding-right: 15px;
				}
			}
		}
	}
}
