@import "../../assets/sass/mixins/color";
#subcription {
  // summary ---------
  background: #eaeaea;
  color: #1f1f1f;
  .circle {
    border: 2px solid #e4e4e4;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 25px;
    &.circle-fill {
      width: 90px;
      height: 90px;
      background: #e4e4e4;
    }
  }
  h1{
  font-size:27px !important;
  }
  .sub-color {
    color: $primary-color;
  }
  a.btn {
    margin: 30px 0 0 0;
    // font-size: 16px;
    letter-spacing: 1.2px;
    // padding: 10px 35px;
  }
  .block-banner {
    // max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 80px 0;
    .banner-img,
    .banner-content {
      float: left;
      padding: 0;
    }
    img {
      width: auto;
    }
    .banner-content {
      .content {
        // text-align: center;
        margin: 148px 0 0 0;
        // max-width: 390px;
        h3 {
          line-height: 28px;
          font-family: "Muli";
        }
        a {
          &.btn {
            margin-bottom: 22px;
          }
          &.link {
            text-transform: uppercase;
            text-decoration: none;
            .text {
              border-bottom: 2px solid $primary-text;
              color: $primary-text;
              font-family: "Muli Bold";
              &:hover {
                color: $primary-hover-color;
              }
              &:active {
                color: $primary-active-color;
              }
            }
          }
        }
      }
    }
  }
  .block-content {
    max-width: 930px;
    margin: auto;
    .item {
      text-align: center;
    }
  }
  .block1,
  .block2,
  .block3,
  .block4,
  .block5,
  .block6,
  .block-footer {
    margin-bottom: 40px;
  }
  // private --------
  .block1 {
    position: relative;
    margin-bottom: 60px;
    .bg-top-block1 {
      height: 285px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #f7f7f7;
    }
    .block-banner {
      padding: 0;
      .banner-img {
        img {
          width: 100%;
          max-width: 100%;
        }
      }
      img.banner-web {
        display: block;
        margin: 85px 0 10px;
      }
      img.banner-mobile {
        display: none;
      }
      //
      .banner-content {
        color: #1f1f1f;
        .content {
          max-width: 390px;
          text-align: center;
          float: right;
          &.ko {
            max-width: 368px;
            margin-right: 0;
            h2.note {
              line-height: 35px;
            }
            h2.normal {
              font-family: "Muli";
            }
          }
          @media (min-width: 768px) {
            margin-right: 14%;
          }
          @media (min-width: 768px) and (max-width: 991px) {
            margin-top: 30%;
          }
          h3.title {
            color: #1f1f1f;
            font-size: 13px;
            text-transform: uppercase;
          }
          h1.note {
            font-size: 25px;
            color: #1f1f1f;
            margin-bottom: 20px;
          }
          h2.note {
            font-size: 25px;
            color: #1f1f1f;
            margin-bottom: 20px;
          }
          p.inline {
            line-height: 30px;
          }
          .btn {
            margin: 16px 0 0 0;
          }
        }
      }
    }
  }
  #start-shave-plan {
    padding-top: 5px;
  }
  .block2 {
    background: #fff;
    border-radius: 10px;
    padding: 45px 0 35px;
    h2 {
      margin: 54px 0 0 0;
    }
    .item {
      font-size: 14px;
      img {
        width: max-content;
      }
      max-width: 201px;
      margin: 0 auto;
      h3 {
        color: #1f1f1f;
        font-size: 17px;
        // font-family: 'Muli';
        // line-height: 28px;
        margin-bottom: 20px;
        font-weight: 700;
      }
      p {
        line-height: 25px;
      }
    }
    .detailList {
      margin: 30px 0 0 0;
    }
  }
  .block3 {
    max-width: 888px;
    font-size: 13px;
    .title-block3 {
      width: 100%;
      text-align: center;
      font-size: 25px;
      margin: 20px 0 60px;
    }
    .item {
      max-width: 430px;
      background: #ffffff;
      border-radius: 5px;
      height: 100%;
      margin: 0 auto;
      padding: 54px 15px 40px;
      text-align: center;
      .title {
        text-transform: uppercase;
      }
      h2 {
        font-size: 22px;
        color: #1f1f1f;
        font-weight: 700;
      }
      h3 {
        font-family: "Muli";
        color: #1f1f1f;
      }

      .item-image {
        line-height: 330px;
        padding: 0 0 35px;
        @media (min-width: 768px) {
          height: 330px;
        }
        img {
          max-width: 100%;
          margin: 0 auto;
          max-height: 100%;
          // width: 100%;
          //width: auto;
          margin: 0 auto;
        }
      }
      .item-description {
        min-height: 136px;
        h3 {
          font-size: 13px;
          font-weight: normal;
          text-transform: uppercase;
        }
        .title_desc {
          text-transform: uppercase;
          color: #3a6e9c;
        }
        .desc {
          max-width: 275px;
          margin: 0 auto;
        }
        .ml-43 {
          margin-left: 43px;
        }
      }
      img {
        // width:100%;
      }
    }
    .btn {
      margin: 40px 0 0 0;
    }
  }
  .block4 {
    background: url("https://d8pi1a7qa1dfv.cloudfront.net/assets/images/subscription/bg-block4.png")
      top left repeat-x;
    .block-banner {
      padding: 140px 0 100px;
      max-height: 620px;
      max-width: 100%;
      .banner-content {
        .content {
          position: absolute;
          right: 30px;
          // max-width: 430px;
          margin: 0;
          h2.title {
            font-size: 27px;
            line-height: 40px;
            margin-bottom: 30px;
          }
          ul {
            list-style: disc;
            padding: 0 0 0 20px;
            li {
            }
          }
          p {
            max-width: 345px;
            margin: 0 auto 1.5rem;
            &.content-min {
              max-width: 300px;
            }
          }
        }
      }
      .banner-img {
        float: right;
        text-align: right;
        img {
          width: auto;
        }
      }
    }
  }
  .container-mobile {
    display: none;
  }
  .block5 {
    background: #ffffff;
    .block-banner {
      padding: 140px 0 100px;
      max-height: 620px;
      max-width: 100%;
      .banner-content {
        .content {
          position: absolute;
          right: 30px;
          // max-width: 430px;
          margin: 0;
          h2.title {
            font-size: 27px;
            line-height: 40px;
            margin-bottom: 30px;
          }
          ul {
            list-style: disc;
            padding: 0 0 0 20px;
            li {
            }
          }
          p {
            max-width: 350px;
            margin: 0 0 1.5rem;
            &.content-min {
              max-width: 300px;
            }
          }
        }
      }
      .banner-img {
        img {
          width: auto;
        }
      }
    }
  }
  .block6 {
    background: $bg-2nd-color;
    margin-bottom: 0;
    .block-content {
      max-width: 870px;
      padding: 80px 0 50px;
      .tiltle {
        width: 100%;
        margin-bottom: 30px;
      }
      .question {
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #d1d1d1;
        padding: 20px 35px;
        h3 {
          cursor: pointer;
          font-family: "Muli";
          padding-right: 20px;
          span {
            border-left: 1px solid #000;
            border-top: 1px solid #000;
            height: 10px;
            width: 10px;
            position: absolute;
            right: 20px;
            margin-top: 10px;
          }
          &[aria-expanded="false"] {
            span {
              transform: rotate(135deg);
            }
          }
          &[aria-expanded="true"] {
            span {
              // background-position: 0px -84px;
              transform: rotate(-135deg);
            }
          }
        }
        // &:last-child{
        // 	border-bottom: 0;
        // }
      }
    }
  }
  .block7 {
    font-size: 14px;
    padding: 32px 0 34px;
    background: #f7f7f7;
    .shave2u-container {
      text-align: center;
    }
    div {
      display: inline-block;
    }
    .col-12 {
      text-align: center;
      margin: auto;
    }
    .looking {
      vertical-align: middle;
      font-weight: bold;
      text-transform: uppercase;
    }
    .subscribe {
      max-width: 225px;
      vertical-align: middle;
      text-align: left;
      padding: 10px 45px 10px 25px;
      cursor: pointer;
      background: url("https://d8pi1a7qa1dfv.cloudfront.net/assets/images/subscription/icon-block-7.png")
        center right no-repeat;
    }
    .not_subscribe {
      max-width: 240px;
      vertical-align: middle;
      text-align: left;
      padding: 20px 40px 20px 25px;
      margin-left: 30px;
      border-left: 1px solid #cccccc;
      cursor: pointer;
      background: url("https://d8pi1a7qa1dfv.cloudfront.net/assets/images/subscription/icon-block-7.png")
        center right no-repeat;
    }
     .subscribe_look {
      max-width: 260px;
      vertical-align: middle;
      text-align: left;
      padding: 20px 40px 20px 25px;
      margin-left: 30px;
      border-left: 1px solid #cccccc;
      cursor: pointer;
      background: url("https://d8pi1a7qa1dfv.cloudfront.net/assets/images/subscription/icon-block-7.png")
        center right no-repeat;
    }
  }
    @media (min-width: 768px) and (max-width: 991px) {
            h1 
            {
            font-size: 21px !important;
            }
          }
  @media (max-width: 767px) {
       .subscribe_look {
      display: block !important;
    max-width: none !important;
    padding: 15px 0 !important;
    margin: 0 !important;
        border-left: none !important;
        }
        .detailList_btn{
        text-align: center !important;
        }
      }
  
 
}
@import "_subscription-response.component";
