<div class="row mx-0">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title float-left">Manage Terms</h4>
        <button type="button" class="btn btn-secondary btn-sm float-right" routerLink="/utils/terms/add" *ngIf="globalService.canCreate('utils/terms')">Add A Term</button>
        <br>
        <br>
      </div>

      <div class="content table-responsive table-full-width">
        <table class="table table-shaves mt-2">
          <thead>
            <tr>
              <th class="th-country-code">Country Code</th>
              <th class="th-currency">Content</th>
              <th class="th-currency">Language Code</th>
              <!--<th class="text-right th-total-staff">Updated At</th>-->
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="!isLoading && terms && terms.rows">
            <tr *ngFor="let item of terms.rows">
              <td class="td-name">{{ item.Country.code }}</td>
              <td class="td-email" [innerHTML]="globalService.htmlToPlaintext(item.content) | slice:0:300" style="width: 65%;">
              </td>
              <td class="">{{ item.langCode }}</td>
              <!--<td class="td-phone">{{ item.createdAt | date:"dd/MM/yyyy" }}</td>-->
              <td class="td-actions">
                <a class="btn btn-sm float-right btn-secondary" routerLink="/utils/terms/edit/{{item.id}}" *ngIf="globalService.canEdit('utils/terms')">Edit</a>

              </td>
            </tr>
            <tr *ngIf="terms.rows.length === 0">
              <td colspan="6" class="text-center">No Items</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->
</div>