<div class="row mx-0">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title float-left">Manage Plan Types</h4>
        <button type="button" class="btn btn-secondary btn-sm float-right" routerLink="/subscriptions/plan-types/add" *ngIf="globalService.canCreate('subscriptions/plan-types')">Add A Plan Type</button>
        <br>
        <br>
      </div>      
      <div class="content table-responsive table-full-width" *ngIf="!isLoading">
        <table class="table table-shaves mt-2">
          <thead>
            <tr>
              <th (click)="tableHearSort($event, planTypeList, 'name','string')" class="table-sort">Name</th>
              <th (click)="tableHearSort($event, planTypeList, 'totalDeliverTimes','number')" class="table-sort th-totalDeliverTimes">Total Deliver Times</th>
              <th (click)="tableHearSort($event, planTypeList, 'subsequentDeliverDuration','number')" class="table-sort th-subsequentDeliverDuration">Sequent Deliver Duration</th>
              <th (click)="tableHearSort($event, planTypeList, 'totalChargeTimes','number')" class="table-sort th-totalChargeTimes">Total Charge Times</th>
              <th (click)="tableHearSort($event, planTypeList, 'subsequentChargeDuration','number')" class="table-sort th-subsequentChargeDuration">Sequent Charge Duration</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of planTypeList">
              <td class="td-name">
                {{ item.name }}
              </td>
              <td class="td-totalDeliverTimes">
                {{ item.totalDeliverTimes }}
              </td>
              <td class="td-subsequentDeliverDuration">
                {{ item.subsequentDeliverDuration }}
              </td>
              <td class="td-totalChargeTimes">
                {{ item.totalChargeTimes }}
              </td>
              <td class="td-subsequentChargeDuration">
                {{ item.subsequentChargeDuration }}
              </td>
              <td class="td-actions">
                  <a class="btn btn-sm float-right btn-secondary" routerLink="/subscriptions/plan-types/edit/{{item.id}}" *ngIf="globalService.canEdit('subscriptions/plan-types')">Edit</a>
               
              </td>
            </tr>
            <tr *ngIf="planTypeList.length === 0"><td colspan="3" class="text-center">No Items</td></tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->
</div>