<div class="row mx-0">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title float-left">Manage Article Types</h4>
        <button type="button" class="btn btn-secondary btn-sm float-right" *ngIf="globalService.canCreate('articles/types')"(click)="addArticleType()">Add Article Type</button>
        <br>
        <br>
      </div>
      
      <div class="content table-responsive table-full-width" *ngIf="!isLoading">
        <div class="row mx-0">
          <div class="col-md-3">
            <select name="cities" class="selectpicker form-control" (change)="onLimitChange($event)">
              <option [attr.value]="item" *ngFor="let item of [50, 100, 150, 200]" [attr.selected]="item == options.get('limit') ? true : null">Show {{item}} per page</option>
            </select>
          </div>
          <div class="col-md-2">
            <select name="cities" class="selectpicker form-control" (change)="sortByName($event.target.value)">
              <option value="ASC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) !== 'type_DESC' ? true : null">Sort: A-Z</option>
              <option value="DESC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) == 'type_DESC' ? true : null">Sort: Z-A</option>
            </select>
          </div>
        </div>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)" ></pagination>
        <!-- /pagging -->
        <table class="table table-shaves mt-2">
          <thead>
            <tr>
              <th>Type</th>
              <th>Language Code</th>
              <th>Country</th>
              <th class="td-actions"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of articleTypes.rows">
              <td class="td-name">
                {{ item.type }}
              </td>
              <td class="langCode">{{ item.langCode }}</td>
              <td class="td-country country">{{ item.Country ? item.Country.name : '' }}</td>
              <td class="td-actions">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                  </button>
                  <div class="dropdown-menu actiion-menu" aria-labelledby="dropdownMenuButton" *ngIf="globalService.canEdit('articles/types') || globalService.canDelete('articles/types')">
                    <a class="dropdown-item" *ngIf="globalService.canEdit('articles/types')" (click)="editArticleType(item)">Edit</a>
                    <a class="dropdown-item" *ngIf="globalService.canDelete('articles/types')" (click)="deleteArticleTypes(item.id)">Remove</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngIf="articleTypes.rows.length === 0"><td colspan="2" class="text-center">No Items</td></tr>
          </tbody>
        </table>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"
          [showing]="false"></pagination>
        <!-- /pagging -->
      </div>
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->
</div>

<!-- app-add-article-type-modal -->
<app-add-article-type-modal (hasChange)="hasChange($event)"></app-add-article-type-modal>
<!-- app-edit-article-type-modal -->
<app-edit-article-type-modal (hasChange)="hasChange($event)"></app-edit-article-type-modal>