<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <app-alert></app-alert>
        <div class="user-form">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <!-- edit form column -->
                <div class="col-md-12 user-info">
                  <form #f='ngForm' novalidate (ngSubmit)='f.form.valid && doEdit()' [formGroup]="userForm">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="form-control-label" for="input-first-name">First name</label>
                              <input type="text" class="form-control" id="input-first-name" placeholder="Enter first name"
                                formControlName="firstName" name="firstName">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="input-last-name">Last name</label>
                              <input type="text" class="form-control" id="input-last-name" placeholder="Enter last name"
                                formControlName="lastName" name="lastName">
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="form-control-label">Phone</label>
                          <div class="controls">
                            <input type="text" class="form-control" id="input-id-5" placeholder="Enter phone number" formControlName="phone" name="phone">
                          </div>
                        </div>
                        <div class="form-group" [ngClass]="f.submitted && (userForm.controls.email.hasError('required') || userForm.controls['email'].hasError('pattern')) ? 'has-danger' : 'correctInput'">
                          <label class="form-control-label">Email (<span class="required">*</span>)</label>
                          <div class="controls">
                            <input id="email" name="email" type="text" class="form-control" placeholder="Email address" formControlName="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$">
                          </div>
                          <span class="form-control-feedback" *ngIf="f.submitted && userForm.controls.email.hasError('required')">
                                {{ 'msg.validation.required' | translate }}
                              </span>
                          <span class="form-control-feedback" *ngIf="f.submitted && userForm.controls['email'].hasError('pattern')">
                                {{ 'msg.validation.email' | translate }}
                          </span>
                        </div>
                        <!--<div class="row">
                          <div class="col-sm-6 form-group" [ngClass]="f.submitted && ( userForm.controls.password.hasError('required') || userForm.hasError('pattern', 'password')) ? 'has-danger' : ''">
                            <label class="form-control-label">Create New Password</label>
                            <div class="controls">
                              <input id="password" name="password" type="text" class="form-control" placeholder="Create New Password"
                                formControlName="password" pattern="^(?=.*\d)(?=.*[a-zA-Z]).{6,}$" validateEqual="confirmPassword" reverse="true">
                            </div>
                            <span class="form-control-feedback" *ngIf="f.submitted && userForm.hasError('pattern', 'password')">
                              {{ 'msg.validation.password_format' | translate }}
                            </span>
                          </div>
                          <div class="col-sm-6 form-group" [ngClass]="!userForm.controls.confirmPassword.valid && f.submitted ? 'has-danger' : ''">
                            <label class="form-control-label">Re-enter Password</label>
                            <div class="controls">
                              <input id="confirmPassword" name="confirmPassword" type="text" class="form-control" placeholder="Re-enter Password"
                                formControlName="confirmPassword" validateEqual="password" reverse="false">
                            </div>
                            <span class="form-control-feedback" *ngIf="!userForm.controls.confirmPassword.valid && f.submitted">
                                {{ 'msg.validation.password_not_match' | translate }}
                            </span>
                          </div>
                        </div>-->
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary shave2u-btn-primary">Save Changes</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /container -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal-backdrop fade"></div>