.pagging {
  margin-top: 10px;
  .showing {
    margin-bottom: 5px;
  }
  ul {
    padding-left: 15px;
    li {
      &.disabled {
        cursor: not-allowed;
        // background-color: #eceeef;
        opacity: .8;
        a {
          // background-color: #eceeef;
          opacity: .8;
        }
      }
      cursor: pointer;
    }
  }
}
.pagging   { 
  padding: 5px 5px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  background: #ececec;
  > ul {
    display: inline-block;
    float: left;
    width: auto;
    flex: none;
    padding: 0;  
    border-radius: 0;        
    margin-bottom: 0px;
    li {
      display: inline-block;
      float: left;
      a {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: 0;
        line-height: 1.42857143;
        color: #337ab7;
        text-decoration: none;
        border: none;
        background: transparent;
        max-height: 34px;
      }
      span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #337ab7;
        text-decoration: none;
        background-color: transparent;
        border: none;
        cursor: default;
        color: inherit; 
      }
      .fa {
        font-size: 22px;
      }
    }
    #dropdownMenuButton {
      min-height: 34px;
      line-height: 18px;
      padding: 6px 6px;
      text-align: center;
      min-width: 50px; 
    }

    .pagging-arrow-left , .pagging-arrow-right {
      a {
        padding: 6px 6px;
      }
    }
    select {
      min-height: 34px;
      height: 34px;
    }
  }
  .dropdown-menu {
    padding: 0;
    min-width: 100%;
    max-height: 200px;
    overflow: auto;
    li {
      width: 100%;
      text-align: center; 
      font-size: .9rem;
    }
  }
  .limitchange {
    position: relative;
    &:before {
      content: "";
      background: #333;
      width: 2px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -10px;
    }
  }
}