<div class="pagging row mx-0" *ngIf="totalItems > 0">
  <!-- <div class="showing col-md-12" *ngIf="showing">
    <span>
      Showing {{(limit * currentPage) - limit + 1 }}- {{ (currentPage * limit) >= totalItems ? totalItems : (limit * currentPage)
      }} of {{totalItems}}
    </span>
  </div> -->
  <ul class="pagination col-md-12">
    <li>
      <span>Page</span>
    </li>
    <li class="pagging-arrow-left" [ngClass]="{'allow': hasPrev, 'disabled' : !hasPrev}">
      <a href="#" class="" aria-hidden="true" (click)="onPrev(); $event.preventDefault();">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </a>
    </li>
    <li class="dropdown">
      <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{currentPage}}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li [ngClass]="{'active': currentPage === page}" *ngFor="let page of pagesfull">
          <a href="#" (click)="goto(page); $event.preventDefault();">{{page}}</a>
        </li>
      </ul>
    </li>
    <li class="pagging-arrow-right" [ngClass]="{'allow': hasNext, 'disabled' : !hasNext}">
      <a href="#" class="" aria-hidden="true" (click)="onNext(); $event.preventDefault();">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <span>of {{totalPages}}</span>
    </li>
  </ul>
  <ul class="limitchange">
    <li>
      <span>View</span>
    </li>
    <li>
      <select name="items-per-page" class="selectpicker form-control" (change)="onLimitChange($event)">
        <option [attr.value]="item" *ngFor="let item of [50, 100, 150, 200]" [attr.selected]="item == limit ? true : null">{{item}}</option>
      </select>
    </li>
    <li>
      <span>records</span>
    </li>
  </ul>
  <ul class="limitchange">
    <li>
      <span class="total-items">Found total {{totalItems}} records</span>
    </li>
  </ul>
</div>