<!--<h2 md-dialog-title class="md-dialog-title">{{data.title ? data.title : 'dialog.confirm.title' | translate }}</h2>-->
<md-dialog-content [innerHTML]="data.content ? data.content : 'dialog.confirm.content' | translate">
  <!--{{data.title ? data.content : 'dialog.confirm.content' | translate }}-->
</md-dialog-content>
<md-dialog-actions>
  <button md-button [md-dialog-close]="true" tabindex="1" class="btn btn-success">OK</button>
</md-dialog-actions>