<section class="panel panel-default">
  <div class="panel-heading">
    <h2 class=" text-center heading">Promotion Details</h2>
  </div>
  <div class="panel-body" *ngIf="!isLoading">
    <div class="row">
      <!-- edit form column -->
      <div class="col-md-12 plan-info">
        <div class="row">
          <div class="col-sm-6 form-group">
            <label class="form-control-label"><strong>Discount:</strong> {{promotionInfo.discount}}%</label>
          </div>
          <div class="col-sm-6 form-group">
            <label class="form-control-label"><strong>Max Discount:</strong> {{promotionInfo.maxDiscount}} (qty)</label>
          </div>
          <div class="col-sm-6 form-group">
            <label class="form-control-label"><strong>Promotion Type:</strong> {{promotionInfo.isGeneric ? "Generic Code" : "Unique Code"}}</label>
          </div>
          <div class="col-sm-6 form-group" *ngIf="promotionInfo.isGeneric">
            <label class="form-control-label"><strong>Code:</strong> {{promotionInfo.promotionCodes[0].code}}</label>
          </div>
          <div class="col-sm-6 form-group">
            <label class="form-control-label"><strong>Min Spend:</strong> {{promotionInfo.minSpend}}</label>
          </div>
          <div class="col-sm-6 form-group">
          </div>
          <div class="col-sm-6 form-group">
            <label class="form-control-label"><strong>Apply Min Spend for Total Amount:</strong> {{promotionInfo.allowMinSpendForTotalAmount ? "Yes" : "No"}}</label>
          </div>
          <div class="col-sm-6 form-group">
            <label class="form-control-label"><strong>Time Period Use:</strong> {{promotionInfo.timePerUser}}</label>
          </div>
          <div class="col-sm-6 form-group">
            <label class="form-control-label"><strong>Active date:</strong> {{promotionInfo.activeAt}}</label>
          </div>
          <div class="col-sm-6 form-group">
            <label class="form-control-label"><strong>Expired date:</strong> {{promotionInfo.expiredAt}}</label>
          </div>

          <div class="col-sm-12 form-group">
            <label class="form-control-label"><strong>Banner</strong></label>
            <div class="controls">
              <img src="{{promotionInfo.bannerUrl}}" height="300px">
            </div>
          </div>
          <hr>

          <!-- /.add-images-plans -->
          <div class="col-sm-12 form-group">
              <hr>
              <!-- Promotion Country -->
              <label class="form-control-label"><strong>Promotion Country:</strong> {{promotionInfo.Country.name}}</label>
              <!-- / Promotion Country -->
              <hr>
              <!-- Promotion Translate -->
              <div>
                <div class="card mb-3" *ngFor="let translateInfo of promotionInfo.promotionTranslate; let i=index">
                  <div class="card-header">
                    <h5 class="panel-title pull-left langCode-name">
                      {{translateInfo.langCode | uppercase}}
                    </h5>
                  </div>
                  <div class="card-block">
                    <h6 class="text-uppercase">Promotion Translate</h6>
                    <div class="px-5">
                      <div class="row mt-3">
                        <div class="col-sm-12 form-group">
                          <label class="form-control-label"><strong>Name:</strong> {{translateInfo.name}}</label>
                        </div>
                        <div class="col-sm-12 form-group">
                          <label class="form-control-label"><strong>Description:</strong></label>
                          <div class="controls">
                              {{translateInfo.description}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- / Promotion Translate -->
              <hr>
          </div>
          <!-- Add Product -->
          <div class="col-sm-12 form-check">
            <div class="row mt-3">
              <div class="col-sm-12 form-group">
                <h6 class="pull-left" *ngIf="promotionInfo.productCountryIds">Add Product</h6>
                <h6 class="pull-right" *ngIf="promotionInfo.productCountryIds && promotionInfo.productCountryIds !== 'all'">Total Product ({{promotionInfo.productCountries.length}})</h6>
              </div>
              <div class="col-sm-12 form-group" *ngIf="promotionInfo.productCountryIds && promotionInfo.productCountryIds === 'all'">
                <label class="form-control-label"><strong>Apply to all Products</strong></label>
              </div>
              <ng-container *ngIf="promotionInfo.productCountryIds && promotionInfo.productCountryIds !== 'all'">
                <div class="col-sm-12 form-group product-list" *ngIf="promotionInfo.productCountries.length > 0">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let item of promotionInfo.productCountries; let i=index">
                        <a class="d-inline-block">
                          <display-image [images]="item.Product.productImages" [class]="'planDetails-photo'"></display-image>
                        </a>
                        <div class="d-inline-block ml-2">
                          <p class="title">{{ item.Product.productTranslate | translatePipe:'name' }} ({{ item.Product.sku }})</p>
                        </div>
                    </li>
                  </ul>
                </div>
              </ng-container>
            </div>
          </div>
          <!-- / Add Product-->

          <!-- Add Plan -->
          <div class="col-sm-12 form-check">
            <!--<promotion-add-plan-form [addPlanForm]="promotionForm.controls.addPlanForm"></promotion-add-plan-form>-->
            <div class="row mt-3">
              <div class="col-sm-12 form-group">
                <h6 class="pull-left" *ngIf="promotionInfo.planCountries">Add Plan</h6>
                <h6 class="pull-right" *ngIf="promotionInfo.planCountries && promotionInfo.planCountryIds !== 'all'">Total Plan ({{promotionInfo.planCountries.length}})</h6>
              </div>
              <div class="col-sm-12 form-group" *ngIf="promotionInfo.planCountryIds === 'all'">
                <label class="form-control-label"><strong>Apply to all Plans</strong></label>
              </div>
              <ng-container *ngIf="promotionInfo.planCountryIds && promotionInfo.planCountryIds !== 'all'">
                <div class="col-sm-12 form-group plan-list" *ngIf="promotionInfo.planCountries && promotionInfo.planCountries.length > 0">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let item of promotionInfo.planCountries; let i=index">
                        <a class="d-inline-block">
                          <display-image [images]="item.Plan.planImages" [class]="'planDetails-photo'"></display-image>
                        </a>
                        <div class="d-inline-block ml-2">
                          <p class="title">{{ item.Plan.planTranslate | translatePipe:'name' }}</p>
                        </div>
                    </li>
                  </ul>
                </div>
              </ng-container>
            </div>
          </div>
          <!-- / Add Plan -->

          <ng-container>
          <!-- Add User -->
          <div class="col-sm-12 form-check">
            <!--<promotion-add-user-form [addUserForm]="promotionForm.controls.addUserForm"></promotion-add-user-form>-->
          </div>
          <!-- / Add User -->

          <!-- Add mailchimp -->
          <!--<div class="col-sm-12 form-check" *ngIf="mailChimpList && mailChimpList.lists">
            <div class="row mt-3">
              <div class="col-sm-12 form-group">
                <h6 class="pull-left">Select a group of emails</h6>
              </div>
              <div class="col-sm-12 form-group">
                <select class="form-control" id="select-promoType" name="promoType" formControlName="mailChimpListId">
                  <option [value]="null" [selected]="!promotionForm.controls.mailChimpListId.value">Select a group of emails</option>
                  <option [value]="mail.id" *ngFor="let mail of mailChimpList.lists">{{mail.name}}</option>
                </select>
              </div>
            </div>
          </div>-->
          <!-- / Add mailchimp -->
          </ng-container>

          <div class="col-sm-12 form-check mt-2">
            <label class="form-control-label"><strong>Is Free Shipping:</strong> {{promotionInfo.isFreeShipping ? "Yes" : "No"}}</label>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>