<div class="{{addClass}}">
  <ul class="pgw-slider" #slider>
    <li *ngFor="let item of items">
      <a href="" target="_blank">
        <img src="{{apiURL}}{{item.imageUrl}}">
        <span *ngIf="item.title">{{item.title}}</span>
      </a>
    </li>    
  </ul>
</div>