<div class="row mx-0">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title float-left">Manage Paths</h4>
        <button type="button" class="btn btn-secondary btn-sm float-right" (click)="addPath()" *ngIf="globalService.canCreate('permission/paths')">Add Path</button>
        <br>
        <br>
      </div>
      
      <div class="content table-responsive table-full-width">
        <div class="row mx-0">
          <div class="col-md-4" *ngIf="totalItems > 50">
            <select name="cities" class="selectpicker form-control" (change)="onLimitChange($event)">
              <option [attr.value]="item" *ngFor="let item of [50, 100, 150, 200]" [attr.selected]="item == options.limit ? true : null">Show {{item}} per page</option>
            </select>
          </div>
          <!--<div class="col-md-6">
            <select name="cities" class="selectpicker form-control" (change)="sortByName($event.target.value)">
              <option value="ASC" [attr.selected]="orderBy == 'ASC' ? true : null">Sort: A-Z</option>
              <option value="DESC" [attr.selected]="orderBy == 'DESC' ? true : null">Sort: Z-A</option>
            </select>
          </div>-->
        </div>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)" ></pagination>
        <!-- /pagging -->
        <table class="table table-shaves mt-2">
          <thead>
            <tr>
              <th>Path Value</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="!isLoading">
            <tr *ngFor="let item of pathList">
              <td class="td-name">
                {{ item.pathValue }}
              </td>
              <td class="td-actions">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                  </button>
                  <div class="dropdown-menu actiion-menu" aria-labelledby="dropdownMenuButton" *ngIf="globalService.canEdit('permission/paths') || globalService.canDelete('permission/paths')">
                    <a class="dropdown-item" (click)="editPath(item)" *ngIf="globalService.canEdit('permission/paths')">Edit</a>
                    <a class="dropdown-item" (click)="deletePath(item.id)" *ngIf="globalService.canDelete('permission/paths')">Delete</a>
                    <!--<a class="dropdown-item" (click)="deletePath(item.id)">Delete</a>-->
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngIf="pathList.length === 0"><td colspan="6" class="text-center">No Items</td></tr>
          </tbody>
        </table>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"
          [showing]="false"></pagination>
        <!-- /pagging -->
      </div>
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->
</div>

<!-- add-path-modal -->
<app-add-path-modal (hasChange)="hasChange($event)"></app-add-path-modal>
<!-- edit-path-modal -->
<app-edit-path-modal (hasChange)="hasChange($event)"></app-edit-path-modal>