#user-setting {
  position: relative;
  .page-header {
    font-size: 25px;
    border: none;
    margin: 20px 0px 0px;
  }

  .border-block {
    border: 1px solid silver;
  }

  .block-details, .block-ct-ship, .block-payment {
    .block-content {
      display: inline-block;
      width: 100%;
      padding: 20px 15px;
      .form-group {
        float: left;
        width: 100%;
        .control-label {
          padding: 0 0;
        }
      }
    }
  }

  .block-details {
    .block-content {
      .form-group {
        width: 50%;
      }
    }
  }

  .block-details {
    .edit-button {
      position: absolute;
      right: 0;
      background: none;
      border: none;
      width: 40px;
      cursor: pointer;
    }
  }

  .block-ct-ship {
    .edit-button {
      right: 30px;
    }
    .delete-button {
      right: 0;
    }
    .border-block {
      margin: 0px 30px 30px 0px;
    }
  }

  .block-payment {
    .delete-button {
      right: 0;
    }
    .border-block {
      margin: 0px 30px 30px 0px;
      border-radius: 10px;
    }
  }

  .block-ct-ship, .block-payment {
    margin: 10px 0px 0px;
  }

  .button-action {
    position: absolute;
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
  }

  .loading-spinner {
    min-height: 130px;
    .fa-spinner {
      font-size: 24px;
      position: absolute;
      text-align: center;
      right: calc(50% - 12px);
      top: calc(50% - 12px);
    }
  }
  
  .box-add-new-address {
    border: 1px dashed #959595;
    display: table;
    border-radius: 10px;
    .text-inner {
      height: 185px;
      margin: auto;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      text-decoration: underline;
      i {
        margin-right: 10px;
      }
    }
  }

  .float-left {
    float: left;
  }
  
  .float-right {
    float: right;
  }
  
  .text-center {
    text-align: center;
  }
  
  .margin-bot-20 {
    margin-bottom: 20px;
  }
}