<div id="user-setting">
  <!-- .block-details -->
  <div class="col-lg-12 col-md-12 col-xl-12 block-details pull-left">
    <div class="col-lg-12">
      <h1 class="page-header text-center margin-bot-20">Details</h1>
    </div>
    <div class="border-block col-lg-12">
      <div class="loading-spinner text-center" *ngIf="isloadingPersional"><i class="fa fa-spinner fa-spin"></i></div>
      <span class="input-group-addon fa fa-edit edit-button" (click)="showEditUserModal(userInfo.id)" *ngIf="!isloadingPersional"></span>
      <div class="block-content" *ngIf="!isloadingPersional">
        <div class="row">
          <div class="form-group">
            <label for="email" class="col-sm-4 control-label float-left"><strong>Email</strong></label>
            <div class="col-sm-8 float-left">
              {{ userInfo.email }}
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-4 control-label float-left">
              <strong>Password</strong>
            </label>
            <div class="col-sm-8 float-left">
              ****** <button type="button" class="btn btn-secondary btn-sm" (click)="changePassword()">Change Password</button>
            </div>
          </div>
          <div class="form-group">
            <label for="birthDay" class="col-sm-4 control-label float-left"><strong>Date of Birth</strong></label>
            <div class="col-sm-8 float-left">
              {{ userInfo.birthday| date:"dd / MM / yyyy" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.block-details -->
</div>
<setting-edit-user-modal (hasChange)="hasChangeUserInfo($event)" [userID]="userID" *ngIf="userID"></setting-edit-user-modal>
<change-password-modal></change-password-modal>