#delivery-address .row {
  padding: 0;
  margin: 0;
}

#delivery-address .well {
  padding: 0;
}

#delivery-address .border-block {
  border: 1px solid silver;
}

#delivery-address .edit-button {
  position: absolute;
  right: 30px;
  background: none;
  border: none;
  width: 40px;
  cursor: pointer;
}

#delivery-address .button-action {
  position: absolute;
  background: none;
  border: none;
  width: 40px;
  cursor: pointer;
  top: 0;
}

#delivery-address .delete-button {
  right: 0;
}

#delivery-address .button-add-new {
  font-size: 40px;
  color: #5cb85c;
}
