@import "../../../../../assets/sass/mixins/color";
#delivery-address {
  // max-width: 500px;
  // margin: auto;
  padding-right: 50px !important;
  .label-country{
    label{
      color: #636c72;
    }
  }
  .input-value.focused {
    .field-label {
      top: 6px;
    }
  }
  .btn-large {
    padding: 10px 47px;
    width: auto;
  }
  .input-value {
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgba(191,191,191,0.5);
    border-bottom-width: 0;
    transition: color 0.25s, padding-bottom 0.25s;
    border-bottom-width: 1px;
    input, select {
      font-size: 14px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      min-height: 65px;
      box-sizing: border-box;
      width: 100%;
      padding-top: 33px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border: 0;
      letter-spacing: 0.5px;
      line-height: 24px;
      text-transform: none;
      font-weight: 500;
      color: inherit;
      background-color: transparent;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      border-radius: 0;
      background-image: url(https://www.harrys.com/assets/global/select-arrow-d58a02ca04e83df80bd66ff2c4d291a41cf0fcc5ccad6926c26e2e938b424fbe.png);
      background-repeat: no-repeat;
      background-position: 95% center;
      background-position: right 15px center;
      background-size: 13px 9px;
      font-weight: 300;
      line-height: 1.630769231em;
      letter-spacing: 0.11em;
      text-indent: 1px;
      text-overflow: '';
    }
    .field-label {
      position: absolute;
      top: 22px;
      left: 20px;
      pointer-events: none;
      font-weight: 500;
      // font-size: 13px;
      letter-spacing: 0.5px;
      line-height: 24px;
      text-transform: none;
      color: #636c72;
      -webkit-transition: top 0.1s ease;
      -moz-transition: top 0.1s ease;
      -ms-transition: top 0.1s ease;
      -o-transition: top 0.1s ease;
      transition: top 0.1s ease;
    }
  }
  .has-danger {
    .input-value {
      border: 1px solid #d9534f;
    }
  }
  .shave2u-form-control {
    border-radius: 0;
    color: #292b2c;
    label{
      padding: 0;
      color: #636c72;
    }
    span{
      padding: 0;
    }
  }
  .modal-content{
    height: 400px;
  }
  span.have-account{
    font-size: 14px!important;
    .click-able{
      color: #fe5000;
    }
  }

  .heading-top {
    font-family: 'Muli';
    margin-bottom: 0;
    color: #636c72;
  }
  .byGuest-contact {
    margin: 16px auto 0;
    &.has-list {
      max-width: 399px;
    }
  }
  .btn-add-new {
    .text {
      border-bottom: 2px solid #f9ad8d;
      color: $primary-text;
      font-family: 'Muli Bold';
      &:hover {
        color: $primary-hover-color;
      }
      &:active {
        color: $primary-active-color;
      }
    }
    &.address {
      margin-top: 7px;
      display: block;
    }
  }
  .label-input {
    // font-weight: bold;
    margin-bottom: 4px;
    margin-top: 4px;
  }
  .form-group-cus {
    margin-top: 0;
    margin-bottom: 0;
  }
  .form-control {
    padding-left: 18px;
    margin-bottom: 0;
  }
  .col-padd {
    padding-right: 20px;
  }
  .change_acc {
    margin-top: 36px;
    .txt-signed-in {
      text-align: left;
      font-family: 'Muli';
      font-size: 16px;
      margin-bottom: 6px;
      .span-email {
        font-family: 'Muli Bold';
      }
    }
    .change_account_link {

    }
  }
  .box-input-address {
    padding: 28px 0;
    margin: auto;
    .btn-action {
      display: block;
    }

  }

  .heading-small {
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #1f1f1f;
    font-family: 'Muli Bold';
    text-transform: uppercase;
    &.on-list {
      margin-top: 25px;
    }
    span{
      font-family: 'Muli';
      color: #636c72;
      text-transform: capitalize;
    }
  }

  .add_note_card{

  }

  .shave2u-billing-check {
    margin-top: 30px;
    margin-bottom: 20px;
    // padding-left: 10px;
    align-items: center;
  }

  .address-form-style {
    &.last {
      margin-bottom: 25px;
    }

  }

  .shipping-method{
    li{
      border-top: 1px solid #e7e7e7;
      padding: 15px 0px 15px 0;
      position: relative;
      cursor: pointer;
      &:last-child{
        border-bottom: 1px solid #e7e7e7;
      }
      label{
        padding: 0;
        margin: 0;
        width: 100%;
        &.lable-left{
          color: #636c72;
          float: left;
          font-size: 14px;
        }
        p{
          margin: 0;
          &.bold{
            font-family: 'Muli Bold';
          }
        }
        input{
          right: 10px;
          top: 27px;
        }
      }
      .radio-button-group {
        // display: block;
        position: relative;
        // padding-left: 35px;
        // margin-bottom: 12px;
        cursor: pointer;
        // font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        // height: auto !important;
        .text {
          margin-left: 0;
        }
      }

      /* Hide the browser's default checkbox */
      .radio-button-group input {
          // position: absolute;
          opacity: 0;
          // cursor: pointer;
      }

      /* Create a custom checkbox */
      .checkmark {
          position: absolute;
          // top: 0;
          // left: 0;
          height: 22px;
          width: 22px;
          background-color: #eee;
          border-radius: 50%;
          right: 10px;
          top: 12px;
      }

      /* On mouse-over, add a grey background color */
      .radio-button-group:hover input ~ .checkmark {
          background-color: #ccc;
      }

      /* When the checkbox is checked, add a blue background */
      .radio-button-group input:checked ~ .checkmark {
          background-color: #fe5000;
      }

      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
          content: "";
          position: absolute;
          display: none;
      }

      /* Show the checkmark when checked */
      .radio-button-group input:checked ~ .checkmark:after {
          display: block;
      }

      /* Style the checkmark/indicator */
      .radio-button-group .checkmark:after {
          left: 9px;
          top: 5px;
          width: 5px;
          height: 9px;
          border: solid white;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
      }
    }
  }

  .col-left {
    padding-right: 0;
  }

  .col-right {
    padding-left: 0px;
  }

  .pl-0-pc {
    padding-left: 0;
  }


  .shipping-address, .billing-address {
    .btn-add-address-group {
      .address-inputed-contain {
        max-width: 399px;
        min-height: 190px;
        margin: 13px auto 0;
        padding: 30px 40px 28px 35px;
        border: 1px solid #e1e1e1;
        background: #ffffff;
        border-radius: 5px;
        .text-inner {
          // height: 180px;
        }
        .box-body {
          padding-right: 60px;
          .control-label {
            padding: 0 0;
            color: #3b6f9c;
            margin-bottom: 18px;
            display: block;
            font-family: 'Muli Bold';
            font-size: 16px;
          }
          .full-name, .address, .contactNumber {
            display: block;
          }

          .full-name {

          }
          .address {

          }
          .contactNumber {

          }
        }
      }
    }
  }

  .btn-continue-end {
    margin-top: 40px;
  }
  .border-block {
    border: 1px solid silver;
  }
  .edit-button {
    position: absolute;
    right: 30px;
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
  }
  .button-action {
    position: absolute;
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
    top: 0;
  }

  .delete-button {
    right: 0;
  }

  .button-add-new {
    font-size: 40px;
    color: #5cb85c;
  }
  .chk-checked {
    color: #a4ce8f;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 40px;
  }

}


@media  (max-width: 767px) {
  #delivery-address {
    padding: 0 !important;
    .col-left-inline{
      padding-right: 15px;
      margin-bottom: 6px;
    }

		.box-input-address {
			padding: 0;
		}

    .col-right-inline {
      padding-left: 15px;
    }
    .border-right-0-mobile {
      border-right: 1px solid rgba(0, 0, 0, 0.15) !important;
    }

    .pl-0-mobile {
      padding-left: 15px;
    }
    .shave2u-billing-check {
      padding-left: 0;
      margin-bottom: 0px;
      .lbl-text {
        width: calc(100% - 30px);
        float: right;
        padding-right: 2px;
        margin-bottom: 30px;
      }
    }
    .address-form-style {
      &.last {
        margin-bottom: 25px;
      }

    }

    .select-code {
      select {
        padding: 4px;
        padding-right: 0;
      }
    }

    .row-city-state{
      margin: 0 -5px;
      .col-4{
        padding: 0 5px;
      }
    }

    .row.btn-action{
      text-align: center;
    }

    .btn-fullwidth-mb{
      width: 100%;
    }
  }
}

.note-email-exists {
  color: #cccccc;
  strong {
    color: #fd641f;
  }
}
