<div id="delivery-address" class="px-0">


  <!-- Contact details for case user using as guest to checkout -->
  <!-- <div class="byGuest-contact" [ngClass]="{'has-list': deliveryAddressList.length > 0}" [hidden]="this.storage.getCurrentUser()">
      <form [formGroup]='contactForm' #f='ngForm' novalidate (ngSubmit)='contactForm.valid'>
          <div class="form-group" [ngClass]="{'has-danger': f.submitted && !contactForm.controls.email.valid}">
            <label for="input-email">{{ 'checkout.step_address.contact.email.label' | translate }}
              <span class="have-account">({{ 'checkout.step_address.address.email.have_an_account' | translate }}
                <strong class="click-able" (click)="backToLogin()">{{ 'checkout.step_address.address.email.login_text' | translate }} </strong>
                {{ 'checkout.step_address.address.email.end_text' | translate }})</span>
            </label>
            <input type="text" class="form-control shave2u-form-control" placeholder="{{ 'checkout.step_address.contact.email.place_holder' | translate }}"
              id="input-address" formControlName="email" pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$' autofocus>
            <span *ngIf="f.submitted && !contactForm.controls.email.valid" class="form-control-feedback">
              {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.email_address' | translate) } }}
            </span>
            <span *ngIf="isExisted" class="note-email-exists">
              {{ 'checkout.step_address.address.email.note_email_exists' | translate }}
              <strong class="click-able" (click)="backToLogin()">{{ 'checkout.step_address.address.email.logging_into' | translate }} </strong>
              {{ 'checkout.step_address.address.email.your_account' | translate }}
              </span>
          </div>

        <button type="submit" [hidden]= "1===1" #submitContactForm>{{ 'btn.continue' | translate }}</button>
      </form>
  </div> -->
  <!-- /-->
  <!-- <div class="change_acc" [hidden]="!this.storage.getCurrentUser()">
    <p class="txt-signed-in">{{ 'checkout.step_address.signedInAs' | translate }} <span class="span-email" *ngIf="this.storage.getCurrentUser()">{{ this.storage.getCurrentUser().email }}</span></p>
    <div class="change_account_link">
      <a class="btn-add-new click-able" (click)="changeAccount()">
        <span class="text">{{ 'checkout.step_address.change_account_link' | translate }}</span>
      </a>
    </div>
  </div> -->
  <!-- If logged in -->

  <!-- /-->
  <div class="loading-spinner text-center" *ngIf="isLoading"><i class="fa fa-spinner fa-spin"></i></div>
  <div *ngIf="deliveryAddressList && !isLoading">
    <!-- First purchase - address form-->
    <div class="box-input-address">
      <form [formGroup]='deliveryAddressForm' #f='ngForm' novalidate (ngSubmit)='contactForm.valid && deliveryAddressForm.valid && doAddDeliveryAddress(deliveryAddressForm.value)'>

        <div class="row no-padding">
          <!-- add shipping address form -->
          <div class="col-md-12">
            <!--<h4 class="col-md-12 text-center">{{ 'checkout.step_address.address.shipping_heading' | translate }}</h4>-->
            <div class="row address-form-style" [ngClass]="{'last': i == 1}" *ngFor="let addressForm of deliveryAddressForm.controls; let i=index">
              <div class="col-md-12" [formGroup]="addressForm">
                <div class="row shave2u-billing-check" *ngIf="i === 1">
                  <div class="col-md-12">
                    <div class="control-checkbox">
                      <input id="addressType" class="" type="checkbox" name="addressType" [checked]="makeBillingAsShipping" (change)="addressChange($event)">
                      <label for="addressType"></label>
                      <label for="addressType" class="lbl-text">{{ 'checkout.step_address.billing.checkbox_label' | translate }}</label>
                    </div>
                  </div>
                </div>
                <h4 class="heading-small" *ngIf="i === 0">{{ 'checkout.step_address.address.shipping_heading' | translate }}</h4>
                <h4 class="heading-small" *ngIf="i === 1">{{ 'checkout.step_address.address.billing_heading' | translate }}</h4>
                <!-- Country -->
                <div class="form-group label-country">
                  <div class="row">
                    <label class="col-12" for="">{{ 'checkout.step_address.country' | translate }}</label>
                    <span *ngIf="this.storage.getLanguageCode() === 'KO'" class=col-12>{{ 'msg.country.korea' | translate }}</span>
                    <span *ngIf="this.storage.getLanguageCode() === 'EN'" class=col-12>{{ country.name }}</span>
                  </div>
                </div>
                <!--input-firstName,lastName-->
                <div class="form-group" [ngClass]="{'has-danger': f.submitted && !addressForm.controls.fullName.valid}">
                  <div class="input-value" data-ng-init="focusFullName=false" [ngClass]="{'focused': focusFullName===true || (addressForm.controls.fullName.value && addressForm.controls.fullName.value.length > 0)}">
                    <input type="text" class="form-control shave2u-form-control" id="input-fullName" formControlName="fullName" (focus)="focusFullName=true" (blur)="focusFullName=false">
                    <label for="fullName" class="field-label">{{ 'checkout.step_address.address.fullname.label' | translate }}</label>
                  </div>
                  <span *ngIf="f.submitted && addressForm.controls.fullName.errors && addressForm.controls.fullName.errors.maxLength" class="form-control-feedback">
                    {{ 'msg.validation.maxlength' | translate:{value: '150'} }}
                  </span>
                  <span *ngIf="f.submitted && addressForm.controls.fullName.errors && addressForm.controls.fullName.errors.required" class="form-control-feedback">
                      {{ 'msg.validation.required' | translate:{value: ('checkout.step_address.address.fullname.label' | translate)} }}
                  </span>
                </div>
                <!--/input-firstName,lastName-->
                <!--input-address-->
                <div class="form-group" [ngClass]="{'has-danger': f.submitted && !addressForm.controls.address.valid}">
                  <div class="input-value" data-ng-init="focusAddress=false" [ngClass]="{'focused': focusAddress || (addressForm.controls.address.value && addressForm.controls.address.value.length > 0)}">
                    <input type="text" class="form-control shave2u-form-control" id="input-address" formControlName="address" (focus)="focusAddress=true" (blur)="focusAddress=false">
                    <label for="address" class="field-label">{{ 'checkout.step_address.address.address.label' | translate }}</label>
                  </div>
                  <span *ngIf="f.submitted && addressForm.controls.address.errors && addressForm.controls.address.errors.maxLength" class="form-control-feedback">
                    {{ 'msg.validation.maxlength' | translate:{value: '150'} }}
                  </span>
                  <span *ngIf="f.submitted && addressForm.controls.address.errors && addressForm.controls.address.errors.required" class="form-control-feedback">
                      {{ 'msg.validation.required' | translate:{value: ('checkout.step_address.address.address.place_holder' | translate)} }}
                  </span>
                </div>
                <!-- / input-address-->

                <!-- input-portalCode, input-state -->
                <div class="row row-city-state">
                  <div class="col-4 col-md-4">
                    <div class="form-group" [ngClass]="{'has-danger': f.submitted && !addressForm.controls.city.valid}">
                      <div class="input-value" data-ng-init="focusCity=false" [ngClass]="{'focused': focusCity || (addressForm.controls.city.value && addressForm.controls.city.value.length > 0)}">
                        <input type="text" class="form-control shave2u-form-control" formControlName="city" name="city" (focus)="focusCity=true" (blur)="focusCity=false" />
                        <label for="city" class="field-label">{{ 'checkout.step_address.address.city.label' | translate }}</label>
                      </div>
                      <span *ngIf="f.submitted && !addressForm.controls.city.valid" class="form-control-feedback">
                          {{ 'msg.validation.required' | translate:{value: ('checkout.step_address.address.city.label' | translate) } }}
                      </span>
                    </div>
                  </div>
                  <div class="col-4 col-md-4 pl-0-pc pl-0-mobile">
                    <div class="form-group" [ngClass]="{'has-danger': f.submitted && !addressForm.controls.state.valid}">
                      <div class="input-value" data-ng-init="focusState=false" [ngClass]="{'focused': focusState || (addressForm.controls.state.value && addressForm.controls.state.value.length > 0)}">
                        <select class="form-control shave2u-form-control" id="select-state" formControlName="state" name="state" required *ngIf="countryStates && countryStates.length > 0">
                          <!-- <option [value]="null" hidden disabled selected-custom [attr.selected]=""><span class="text-danger">- {{ 'checkout.step_address.address.state.defaultOption' | translate }} -</span></option> -->
                          <option value="{{state.name}}" *ngFor="let state of countryStates" >{{state.name}}</option>
                        </select>
                        <input type="text" class="form-control shave2u-form-control" formControlName="state" name="state" required *ngIf="!countryStates || countryStates.length === 0" (focus)="focusState=true" (blur)="focusState=false"/>
                        <label for="state" class="field-label">{{ 'checkout.step_address.address.state.label' | translate }}</label>
                      </div>
                      <span *ngIf="f.submitted && !addressForm.controls.state.valid" class="form-control-feedback">
                        {{ 'msg.validation.required' | translate:{value: 'State'} }}
                      </span>
                    </div>
                  </div>

                  <div class="col-4  col-md-4 pl-0-pc pl-0-mobile">
                    <div class="form-group" [ngClass]="{'has-danger': f.submitted && !addressForm.controls.portalCode.valid}">
                      <div class="input-value" data-ng-init="focusPortalCode=false" [ngClass]="{'focused': focusPortalCode || (addressForm.controls.portalCode.value && addressForm.controls.portalCode.value.length > 0)}">
                        <input type="text" class="form-control shave2u-form-control" id="input-postal-code" formControlName="portalCode" name="portalCode" inputNumber (focus)="focusPortalCode=true" (blur)="focusPortalCode=false"/>
                        <label for="portalCode" class="field-label">{{ 'checkout.step_address.address.postal_code.label' | translate }}</label>
                      </div>
                      <span *ngIf="f.submitted && (addressForm.controls.portalCode.errors && addressForm.controls.portalCode.errors.minLength)" class="form-control-feedback">
                        {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.postcode' | translate) } }}
                      </span>
                      <span *ngIf="f.submitted && (addressForm.controls.portalCode.errors && addressForm.controls.portalCode.errors.required)" class="form-control-feedback">
                        {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.postcode' | translate) } }}
                      </span>
                    </div>
                  </div>
                </div>
                <!-- / input-portalCode, input-state -->

                 <!-- input-phone -->
                <!-- <div class="form-group row "> -->
                  <!-- <div class="col-4 col-left select-code">
                    <div class="form-group input-value" data-ng-init="focusCallingCode=false" [ngClass]="{'focused': focusCallingCode || addressForm.get('callingCode').value.length > 0}">
                      <select class="form-control shave2u-form-control border-right-0" formControlName="callingCode" >
                        <option [value]="country.dial_code" *ngFor="let country of callingCodes">{{country.dial_code}}</option>
                      </select>
                      <label for="callingCode" class="field-label">{{ 'checkout.step_address.address.calling_code.label' | translate }}</label>
                    </div>
                  </div> -->
                  <!-- <div class="col-12 col-right"> -->
                    <div class="form-group" [ngClass]="{'has-danger': f.submitted && !addressForm.controls.contactNumber.valid}">
                      <div class="input-value" data-ng-init="focusContactNumber=false" [ngClass]="{'focused': focusContactNumber || (addressForm.controls.contactNumber.value && addressForm.controls.contactNumber.value.length > 0)}">
                        <input type="text" class="form-control shave2u-form-control" id="input-id-5" name="contactNumber" formControlName="contactNumber" inputNumber (focus)="focusContactNumber=true" (blur)="focusContactNumber=false">
                        <label for="contactNumber" class="field-label">{{ 'checkout.step_address.address.phone.label' | translate }}</label>
                      </div>
                      <span *ngIf="this.storage.getCountry().code !== 'SGP' && f.submitted && (addressForm.controls.contactNumber.errors && addressForm.controls.contactNumber.errors.minLength)" class="form-control-feedback">
                        {{ 'msg.validation.minlength' | translate:{value: 8 } }}
                      </span>
                      <span *ngIf="f.submitted && (addressForm.controls.contactNumber.errors && addressForm.controls.contactNumber.errors.required)" class="form-control-feedback">
                        {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.phone' | translate) } }}
                      </span>
                      <span *ngIf="this.storage.getCountry().code === 'SGP' && f.submitted && addressForm.controls.contactNumber.errors && (addressForm.controls.contactNumber.errors.minLength || addressForm.controls.contactNumber.errors.maxLength)" class="form-control-feedback">
                        {{ 'msg.validation.phone_sgp' | translate:{value: '8'} }}
                      </span>

                    </div>
                  <!-- </div> -->

                <!-- </div> -->
                <!-- / input-phone -->

                <!-- <h4 class="heading-small" *ngIf="i === 0">{{ 'checkout.step_address.shipping_method.method_heading' | translate }}</h4>

                <ul class="shipping-method">
                  <li class="shipping-method-item">
                    <label _ngcontent-c22="" class="form-check-label radio-button-group">
                      <label class="lable-left" for="shipping-free">
                        <p class="bold">{{ 'checkout.step_address.shipping_method.economy' | translate }}</p>
                        <p>{{ 'checkout.step_address.shipping_method.estimated_delivery_eco' | translate:{dateTo: economyDateTo | date:"MMM dd",  dateFrom: economyDateFrom | date:"MMM dd"} }}</p>
                      </label>
                      <input _ngcontent-c22="" class="form-check-input mr-2" id="shipping-free" name="shipping-method" type="radio" value="free" (click)="changeShippingFee(0)" checked="true">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                  <li class="shipping-method-item">
                    <label _ngcontent-c22="" class="form-check-label radio-button-group">
                      <label class="lable-left" for="shipping-ground">
                        <p class="bold">{{ 'checkout.step_address.shipping_method.ground' | translate:{price: (receipt.customGroundShippingFee | smsCurrency) } }}</p>
                        <p>{{ 'checkout.step_address.shipping_method.estimated_delivery' | translate:{date: groundDate | date:"MMM dd" } }}</p>
                      </label>
                      <input _ngcontent-c22="" class="form-check-input mr-2" id="shipping-ground" name="shipping-method" type="radio" value="Ground" (click)="changeShippingFee(receipt.customGroundShippingFee)">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                  <li class="shipping-method-item">
                    <label _ngcontent-c22="" class="form-check-label radio-button-group">
                      <label class="lable-left" for="shipping-two">
                        <p class="bold">{{ 'checkout.step_address.shipping_method.two_day' | translate:{price: (receipt.customTwoDayShippingFee | smsCurrency) } }}</p>
                        <p>{{ 'checkout.step_address.shipping_method.estimated_delivery' | translate:{date: twoDate | date:"MMM dd" } }}</p>
                      </label>
                      <input _ngcontent-c22="" class="form-check-input mr-2" id="shipping-two" name="shipping-method" type="radio" value="Two Day" (click)="changeShippingFee(receipt.customTwoDayShippingFee)">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                  <li class="shipping-method-item">
                    <label _ngcontent-c22="" class="form-check-label radio-button-group">
                      <label class="lable-left" for="shipping-one">
                        <p class="bold">{{ 'checkout.step_address.shipping_method.one_day' | translate:{price: (receipt.customOneDayShippingFee | smsCurrency) } }}</p>
                        <p>{{ 'checkout.step_address.shipping_method.estimated_delivery' | translate:{date: oneDate | date:"MMM dd" } }}</p>
                      </label>
                      <input _ngcontent-c22="" class="form-check-input mr-2" id="shipping-one" name="shipping-method" type="radio" value="One Day" (click)="changeShippingFee(receipt.customOneDayShippingFee)">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                </ul> -->

                <!-- <h4 class="heading-small" *ngIf="i === 0">{{ 'checkout.step_address.address.gift_heading' | translate }} <span>(Optional)</span></h4>
                <a href="#" class="add_note_card">+ ADD A NOTE CARD</a> -->

                <!-- <div class="row" *ngIf="deliveryAddressForm.controls.length === 1">
                  <div class="col-12">
                    <div class="control-checkbox shave2u-billing-check">
                      <input id="addressType" class="" type="checkbox" name="addressType" [checked]="makeBillingAsShipping" (change)="addressChange($event)">
                      <label for="addressType"></label>
                      <label for="addressType" class="lbl-text">{{ 'checkout.step_address.billing.checkbox_label' | translate }}</label>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
          <!-- / add shipping address form -->
          <div class="col-md-12 pt-5">
            <app-alert [message]="resError"></app-alert>
            <div class="btn-action">
              <!-- <button type="submit" class="btn btn-primary shave2u-btn-primary ml-1 btn-large" (click)="submitContactForm.click();">{{ 'checkout.step_address.address.btn_continue' | translate }}</button> -->
              <button type="submit" class="btn btn-primary shave2u-btn-primary btn-fullwidth-mb btn-large">{{ 'checkout.step_address.address.btn_continue' | translate }}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- ./ First purchase - address form-->
  </div>

  <!-- .shipping-address -->
  <!-- <div class="shipping-address row" *ngIf="stage === 'list' && deliveryAddressList.length > 0">
    <div class="btn-add-address-group col-md-12 col-lg-12">
      <h4 class="text-center heading-small on-list">{{ 'checkout.step_address.address.shipping_heading' | translate }}</h4>
      <div *ngIf="selectedShippingAddress">
        <ul class="address-inputed-contain">
          <li class="item" (click)="changeShippingAddress(deliveryAddress)">
            <div class="box">
              <div class="box-header box-flex">
                <strong class="flex"></strong>
              </div>
              <div class="box-body">
                <h6 class="control-label">
                  {{ 'lbl.user.setting.prefix_address_item' | translate }} {{selectedShippingAddress.index}}
                </h6>
                <span class="full-name"><strong>{{ selectedShippingAddress.firstName }} {{ selectedShippingAddress.lastName }}</strong></span>
                <span class="address">{{ selectedShippingAddress.address + ', ' + selectedShippingAddress.city + ', ' + selectedShippingAddress.portalCode + ', ' + selectedShippingAddress.state }}</span>
                <span class="contactNumber">{{ selectedShippingAddress.contactNumber }}</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="text-center">
        <a class="btn-add-new address click-able" (click)="addressList('shipping')">
          <span class="text"> {{ 'checkout.step_address.add_or_change_link' | translate }}</span>
        </a>
      </div>
    </div>
  </div> -->
  <!-- ./shipping-address -->

  <!-- .billing-address -->
  <!-- <div class="billing-address row" *ngIf="stage === 'list' && deliveryAddressList.length > 0">
    <div class="btn-add-address-group col-md-12 col-lg-12">
      <h4 class="text-center heading-small on-list">{{ 'checkout.step_address.address.billing_heading' | translate }}</h4>
      <div *ngIf="selectedBillingAddress">
        <ul class="address-inputed-contain">
          <li class="item" (click)="changeBillingAddress(deliveryAddress)">
            <div class="box">
              <div class="box-header box-flex">
                <strong class="flex"></strong>
              </div>
              <div class="box-body">
                <h6 class="control-label">
                  {{ 'lbl.user.setting.prefix_address_item' | translate }} {{selectedBillingAddress.index}}
                </h6>
                <span class="full-name"><strong>{{ selectedBillingAddress.firstName }} {{ selectedBillingAddress.lastName }}</strong></span>
                <span class="address">{{ selectedBillingAddress.address + ', ' + selectedBillingAddress.city + ', ' + selectedBillingAddress.portalCode + ', ' + selectedBillingAddress.state }}</span>
                <span class="contactNumber">{{ selectedBillingAddress.contactNumber }}</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="text-center">
        <a class="btn-add-new address click-able" (click)="addressList('billing')">
          <span class="text"> {{ 'checkout.step_address.add_or_change_link' | translate }}</span>
        </a>
      </div>
    </div>
  </div> -->
  <!-- ./billing-address -->

  <!-- <div *ngIf="stage === 'list' && deliveryAddressList.length > 0"> -->
    <!-- As guest -->
    <!-- <p class="text-center" *ngIf="!this.storage.getCurrentUserItem()">
      <button type="button" class="btn btn-primary shave2u-btn-primary btn-continue-end" (click)="contactForm.valid && goToStep3()">{{ 'checkout.step_address.address.btn_continue' | translate }}</button>
    </p> -->
    <!-- As logged in-->
    <!-- <p class="text-center" *ngIf="this.storage.getCurrentUserItem()">
      <button type="button" class="btn btn-primary shave2u-btn-primary btn-continue-end" (click)="goToStep3()">{{ 'checkout.step_address.address.btn_continue' | translate }}</button>
    </p>
  </div> -->


  <!-- <div class="box-input-address" *ngIf="stage === 'list' && deliveryAddressList.length > 0">
    <div class="row no-padding">
      <div class="col-md-12">
        <div class="row address-form-style" [ngClass]="{'last': i == 1}" *ngFor="let addressForm of deliveryAddressForm.controls; let i=index">
          <div class="col-md-12" [formGroup]="addressForm">
            <div class="row shave2u-billing-check" *ngIf="i === 1">
              <div class="col-md-12">
                <div class="control-checkbox">
                  <input id="addressType" class="" type="checkbox" name="addressType" [checked]="makeBillingAsShipping" (change)="addressChange($event)">
                  <label for="addressType"></label>
                  <label for="addressType" class="lbl-text">{{ 'checkout.step_address.billing.checkbox_label' | translate }}</label>
                </div>
              </div>
            </div>
            <h4 class="heading-small" *ngIf="i === 0">{{ 'checkout.step_address.address.shipping_heading' | translate }}</h4>
            <h4 class="heading-small" *ngIf="i === 1">{{ 'checkout.step_address.address.billing_heading' | translate }}</h4>
            <div class="form-group label-country">
              <div class="row">
                <label class="col-12" for="">{{ 'checkout.step_address.country' | translate }}</label>
                <span class=col-12>{{ country.name }}</span>
              </div>
            </div>
            <div class="form-group">
              <div class="form-control shave2u-form-control">
                <label class="col-12" for="">{{ 'checkout.step_address.address.fullname.label' | translate }}</label>
                <span class=col-12>{{ selectedShippingAddress.fullName }}</span>
              </div>
            </div>
            <div class="form-group">
              <div class="form-control shave2u-form-control">
                <label class="col-12" for="">{{ 'checkout.step_address.address.address.label' | translate }}</label>
                <span class=col-12>{{ selectedShippingAddress.address }}</span>
              </div>
            </div>

            <div class="row row-city-state">
              <div class="col-4 col-md-4">
                <div class="form-group ">
                  <div class="form-control shave2u-form-control">
                    <label class="col-12" for="">{{ 'checkout.step_address.address.city.label' | translate }}</label>
                    <span class=col-12>{{ selectedShippingAddress.city }}</span>
                  </div>
                </div>
              </div>
              <div class="col-4 col-md-4 pl-0-pc pl-0-mobile">
                <div class="form-group ">
                  <div class="form-control shave2u-form-control">
                    <label class="col-12" for="">{{ 'checkout.step_address.address.state.label' | translate }}</label>
                    <span class=col-12>{{ selectedShippingAddress.state }}</span>
                  </div>
                </div>
              </div>

              <div class="col-4  col-md-4 pl-0-pc pl-0-mobile">
                <div class="form-group ">
                  <div class="form-control shave2u-form-control">
                    <label class="col-12" for="">{{ 'checkout.step_address.address.postal_code.label' | translate }}</label>
                    <span class=col-12>{{ selectedShippingAddress.portalCode }}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group ">
              <div class="form-control shave2u-form-control">
                <label class="col-12" for="">{{ 'checkout.step_address.address.phone.label' | translate }}</label>
                <span class=col-12>{{ selectedShippingAddress.contactNumber }}</span>
              </div>

            </div>

            <h4 class="heading-small" *ngIf="i === 0">{{ 'checkout.step_address.shipping_method.method_heading' | translate }}</h4>

            <ul class="shipping-method">
              <li class="shipping-method-item">
                <label _ngcontent-c22="" class="form-check-label radio-button-group">
                  <label class="lable-left" for="shipping-free">
                    <p class="bold">{{ 'checkout.step_address.shipping_method.economy' | translate }}</p>
                    <p>{{ 'checkout.step_address.shipping_method.estimated_delivery_eco' | translate:{dateTo: economyDateTo | date:"MMM dd",  dateFrom: economyDateFrom | date:"MMM dd"} }}</p>
                  </label>
                  <input _ngcontent-c22="" class="form-check-input mr-2" id="shipping-free" name="shipping-method" type="radio" value="free" (click)="changeShippingFee(0)" checked="true">
                  <span class="checkmark"></span>
                </label>
              </li>
              <li class="shipping-method-item">
                <label _ngcontent-c22="" class="form-check-label radio-button-group">
                  <label class="lable-left" for="shipping-ground">
                    <p class="bold">{{ 'checkout.step_address.shipping_method.ground' | translate:{price: (receipt.customGroundShippingFee | smsCurrency) } }}</p>
                    <p>{{ 'checkout.step_address.shipping_method.estimated_delivery' | translate:{date: groundDate | date:"MMM dd" } }}</p>
                  </label>
                  <input _ngcontent-c22="" class="form-check-input mr-2" id="shipping-ground" name="shipping-method" type="radio" value="Ground" (click)="changeShippingFee(receipt.customGroundShippingFee)">
                  <span class="checkmark"></span>
                </label>
              </li>
              <li class="shipping-method-item">
                <label _ngcontent-c22="" class="form-check-label radio-button-group">
                  <label class="lable-left" for="shipping-two">
                    <p class="bold">{{ 'checkout.step_address.shipping_method.two_day' | translate:{price: (receipt.customTwoDayShippingFee | smsCurrency) } }}</p>
                    <p>{{ 'checkout.step_address.shipping_method.estimated_delivery' | translate:{date: twoDate | date:"MMM dd" } }}</p>
                  </label>
                  <input _ngcontent-c22="" class="form-check-input mr-2" id="shipping-two" name="shipping-method" type="radio" value="Two Day" (click)="changeShippingFee(receipt.customTwoDayShippingFee)">
                  <span class="checkmark"></span>
                </label>
              </li>
              <li class="shipping-method-item">
                <label _ngcontent-c22="" class="form-check-label radio-button-group">
                  <label class="lable-left" for="shipping-one">
                    <p class="bold">{{ 'checkout.step_address.shipping_method.one_day' | translate:{price: (receipt.customOneDayShippingFee | smsCurrency) } }}</p>
                    <p>{{ 'checkout.step_address.shipping_method.estimated_delivery' | translate:{date: oneDate | date:"MMM dd" } }}</p>
                  </label>
                  <input _ngcontent-c22="" class="form-check-input mr-2" id="shipping-one" name="shipping-method" type="radio" value="One Day" (click)="changeShippingFee(receipt.customOneDayShippingFee)">
                  <span class="checkmark"></span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-12 pt-5">
        <app-alert [message]="resError"></app-alert>
        <div class="row btn-action">
          <button type="button" class="btn btn-primary shave2u-btn-primary btn-continue-end" (click)="goToStep3()">{{ 'checkout.step_address.address.btn_continue' | translate }}</button>
        </div>
      </div>
    </div>
  </div> -->
</div>

<!-- <delivery-addresses-modal (hasChange)='hasChangeAddress($event)' (hasResetDefault)='hasResetDefault($event)'
  [selectedShippingAddress]="selectedShippingAddress" [selectedBillingAddress]="selectedBillingAddress" (hasRemove)="hasRemove($event)"></delivery-addresses-modal> -->
