.plan-image {
  text-align: center;
  img {
    max-height: 141px;
  }
}
.plan-option{
  li{
    border-top: 1px solid #e7e7e7;
    padding: 15px 0px 15px 0;
    position: relative;
    // cursor: pointer;
    &:last-child{
      border-bottom: 1px solid #e7e7e7;
    }
    label{
      padding: 0;
      margin: 0;
      width: 100%;
      &.lable-left{
        // color: #636c72;
        float: left;
        padding-left: 40px;
        // font-size: 14px;
      }
      p{
        margin: 0;
        // cursor: pointer;
        // &.bold{
        //   font-family: 'Muli Bold';
        // }
      }
      input{
        right: 10px;
        top: 27px;
      }
    }
    .radio-button-group {
      // display: block;
      position: relative;
      // padding-left: 35px;
      // margin-bottom: 12px;
      cursor: pointer;
      // font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      // height: auto !important;
      .text {
        margin-left: 0;
      }
    }
    
    /* Hide the browser's default checkbox */
    .radio-button-group input {
        // position: absolute;
        opacity: 0;
        // cursor: pointer;
    }
    
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        // top: 0;
        // left: 0;
        height: 22px;
        width: 22px;
        background-color: #eee;
        border-radius: 50%;
        left: 0;
        // top: 12px;
    }
    
    /* On mouse-over, add a grey background color */
    .checkmark:hover {
        background-color: #ccc;
    }
    
    /* When the checkbox is checked, add a blue background */
    .radio-button-group input:checked ~ .checkmark {
        background-color: #5fa2db;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the checkmark when checked */
    .radio-button-group input:checked ~ .checkmark:after {
        display: block;
    }
    
    /* Style the checkmark/indicator */
    .radio-button-group .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 9px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
  }
}