<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Shave Plan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <app-alert></app-alert>
        <div class="user-form">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <!-- edit form column -->
                <div class="loading-spinner" *ngIf="isLoading"><i class="fa fa-spinner fa-spin"></i></div>
                <div class="col-md-12 user-info" *ngIf="!isLoading">
                  <form #f='ngForm' novalidate (ngSubmit)='f.form.valid && doAddSubscriber()' [formGroup]="subscriberForm">
                    <app-alert></app-alert>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group" [ngClass]="f.submitted && subscriberForm.controls.email.hasError('required') ? 'has-danger' : ''">
                          <label class="form-control-label" for="input-email">Email</label>
                          <input type="text" class="form-control" id="input-email" placeholder="Enter Email"
                            formControlName="email" name="email">
                          <span class="form-control-feedback" *ngIf="f.submitted && subscriberForm.controls.email.hasError('required')">
                              {{ 'msg.validation.required' | translate }}
                          </span>
                        </div>
                        <div class="row">
                          <div class="col-md-5">
                            <div class="form-group" [ngClass]="f.submitted && subscriberForm.controls.CountryId.hasError('required') ? 'has-danger' : ''">
                              <label class="form-control-label" for="input-email">Country</label>
                              <select name="CountryId" class="selectpicker form-control" formControlName="CountryId" required (change)="changeCountry()">
                                <option [value]="null" hidden disabled selected-custom [attr.selected]="!subscriberForm.controls.CountryId.value"><span class="text-danger">- Country -</span></option>
                                <option [value]="country.id" *ngFor="let country of countries" [attr.selected]="subscriberForm.controls.CountryId.value === country.id">{{country.name}}</option>
                              </select>
                              <span class="form-control-feedback" *ngIf="f.submitted && subscriberForm.controls.CountryId.hasError('required')">
                                  {{ 'msg.validation.required' | translate }}
                              </span>
                            </div>
                          </div>
                          <div class="col-md-7">
                            <div class="form-group" [ngClass]="f.submitted && subscriberForm.controls.planCountryId.hasError('required') ? 'has-danger' : ''">
                              <label class="form-control-label" for="input-email">Free Trial</label>
                              <div class="loading-spinner" *ngIf="isLoadingFreeTrial"><i class="fa fa-spinner fa-spin"></i></div>
                              <select *ngIf="!isLoadingFreeTrial" name="planCountryId" class="selectpicker form-control" formControlName="planCountryId" required (change)="changePlan()">
                                <option [value]="null" hidden disabled selected-custom [attr.selected]="true"><span class="text-danger">- Free Trial -</span></option>
                                <option [value]="freeTrial.planCountry[0].id" *ngFor="let freeTrial of freeTrialList">{{freeTrial.planTranslate | translatePipe : 'name'}}</option>
                              </select>
                              <span class="form-control-feedback" *ngIf="f.submitted && subscriberForm.controls.planCountryId.hasError('required')">
                                  {{ 'msg.validation.required' | translate }}
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="row" *ngIf="selectedPlan">
                          <div class="col-md-5 plan-image">
                              <img class="img-fluid" src="{{ selectedPlan.planImages[0].url }}" alt="">
                          </div>
                          <div class="col-md-7">
                            <div class="form-group" [ngClass]="f.submitted && subscriberForm.controls.PlanOptionId.hasError('required') ? 'has-danger' : ''">
                              <!-- <label class="form-control-label" for="input-email">Email</label> -->
                              
                              <ul class="plan-option">
                                <li class="plan-option-item" *ngFor="let planOption of selectedPlan.planCountry[0].planOptions">
                                  <label _ngcontent-c22="" class="form-check-label radio-button-group">
                                    <input _ngcontent-c22="" class="form-check-input mr-2" formControlName="PlanOptionId" name="PlanOptionId" type="radio" value="{{planOption.id}}">
                                    <label class="lable-left" for="PlanOptionId">
                                      <p class="bold">{{ planOption.description }}</p>
                                    </label>
                                    <span class="checkmark"></span>
                                  </label>
                                </li>
                              </ul>
                              <span class="form-control-feedback" *ngIf="f.submitted && subscriberForm.controls.PlanOptionId.hasError('required')">
                                  {{ 'msg.validation.required' | translate }}
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary shave2u-btn-primary">Save Changes</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /container -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal-backdrop fade"></div>