<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Path</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="user-form">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <!-- edit form column -->
                <div class="col-md-12 country-info">
                  <form #f='ngForm' novalidate (ngSubmit)='f.form.valid && doEditPath()' [formGroup]="pathForm">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-sm-6 form-group" [ngClass]="f.submitted && pathForm.controls.pathValue.hasError('required') ? 'has-danger' : ''">
                            <label class="form-control-label">Path Value (<span class="required">*</span>)</label>
                            <div class="controls">
                              <input type="text" class="form-control" id="input-pathValue" placeholder="Enter path value"
                                formControlName="pathValue" name="pathValue">
                            </div>
                            <span class="form-control-feedback" *ngIf="f.submitted && pathForm.controls.pathValue.hasError('required')">
                                {{ 'msg.validation.required' | translate }}
                            </span>
                          </div>
                        </div>

                        <app-alert></app-alert>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary shave2u-btn-primary">Save Changes</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /container -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal-backdrop fade"></div>