<div class="body-container-full">
  <app-header *ngIf="(userService.getLoggedIn() | async)"></app-header>
  <div class="container-main" >
    <div class="row mx-0">
      <div class="col-md-2 container-left" *ngIf="(userService.getLoggedIn() | async)">
        <app-left-menu></app-left-menu>
      </div>
      <div class="container-right mt-2" [ngClass]="(userService.getLoggedIn() | async) ? 'col-md-10' : 'col-md-12'">
        <router-outlet>
          <!-- overlay -->
          <app-loading></app-loading>
          <!--  End overlay -->
        </router-outlet>
      </div>
    </div>
  </div>
  <app-footer *ngIf="(userService.getLoggedIn() | async)"></app-footer>
</div>