<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Generate Report</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <app-alert></app-alert>
        <div class="user-form">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <!-- edit form column -->
                <div class="col-md-12 generate-report-modal">
                  <form #f='ngForm' novalidate (ngSubmit)='f.form.valid && doCreateReport()' [formGroup]="dateForm">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-sm-6 form-group" [ngClass]="f.submitted && !dateForm.controls.startDate.valid ? 'has-danger' : ''">
                            <label class="form-control-label">Start date (<span class="required">*</span>)</label>
                            <div class="controls">
                              <input id="startDate" name="startDate" type="text" class="form-control" placeholder="startDate" formControlName="startDate">
                            </div>
                            <span class="form-control-feedback" *ngIf="f.submitted && !dateForm.controls.startDate.valid">
                              {{ 'msg.validation.required' | translate }}
                            </span>
                          </div>
                          <div class="col-sm-6 form-group" [ngClass]="f.submitted && !dateForm.controls.endDate.valid ? 'has-danger' : ''">
                            <label class="form-control-label">End date (<span class="required">*</span>)</label>
                            <div class="controls">
                              <input id="endDate" name="endDate" type="text" class="form-control" placeholder="endDate" formControlName="endDate">
                            </div>
                            <span class="form-control-feedback" *ngIf="f.submitted && !dateForm.controls.endDate.valid">
                              {{ 'msg.validation.required' | translate }}
                            </span>
                          </div>
                        </div>
                        <hr>
                        <div class="form-group pull-right">
                          <button type="button" class="btn btn-default" (click)="close();">Cancel</button>
                          <button type="submit" class="btn btn-primary shave2u-btn-primary">Create Report</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /container -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal-backdrop fade"></div>