<div class="account">
	<div class="sign-in" id="delivery-address">
		<div class="selection-block">
			<div class="head">
				<div class="head-content">
					<p class="headline text-uppercase">
						<span class="number" [ngClass]="{'success': stepsData.deliveryAddress.state==='finish'}">2</span><!-- add class success if this done -->
						<span>{{ 'checkout.free_trial.shipping_address' | translate }}</span>
						<!-- If this task done, enable down line -->
						<ng-container *ngIf="stepsData.deliveryAddress.state==='finish'">
							<a (click)="editDeliveryAddress(true);" class="click-able edit-data">{{ 'checkout.free_trial.edit' | translate }}</a>
						</ng-container>
					</p>
					<div class="form-content" *ngIf="stepsData.deliveryAddress.state==='active'">
						<form [formGroup]='deliveryAddressForm' #f='ngForm' novalidate (ngSubmit)='contactForm.valid && deliveryAddressForm.valid && doAddDeliveryAddress(deliveryAddressForm.value)'>
							<!-- add shipping address form -->
	            <div class="row address-form-style" [ngClass]="{'last': i == 1}" *ngFor="let addressForm of deliveryAddressForm.controls; let i=index">
	              <div class="col-md-12" [formGroup]="addressForm">
	                <!-- Country -->
	                <div class="form-group label-country country">
	                  <div class="row">
	                    <label class="col-12" for="">{{ 'checkout.step_address.country' | translate }}</label>
	                    <span *ngIf="this.storage.getLanguageCode() === 'KO'" class=col-12>{{ 'msg.country.korea' | translate }}</span>
	                    <span *ngIf="this.storage.getLanguageCode()=== 'EN'" class=col-12>{{ country.name }}</span>
	                  </div>
	                </div>
	                <!--input-firstName,lastName-->
	                <div class="form-group" [ngClass]="{'has-danger': f.submitted && !addressForm.controls.fullName.valid}">
	                  <div class="input-value" data-ng-init="focusFullName=false" [ngClass]="{'focused': focusFullName===true || (addressForm.controls.fullName.value && addressForm.controls.fullName.value.length > 0)}">
	                    <input type="text" class="form-control shave2u-form-control" id="input-fullName" formControlName="fullName" (focus)="focusFullName=true" (blur)="focusFullName=false">
	                    <label for="fullName" class="field-label">{{ 'checkout.step_address.address.fullname.label' | translate }}</label>
	                  </div>
	                  <span *ngIf="f.submitted && addressForm.controls.fullName.errors && addressForm.controls.fullName.errors.maxLength" class="form-control-feedback">
	                    {{ 'msg.validation.maxlength' | translate:{value: '150'} }}
	                  </span>
	                  <span *ngIf="f.submitted && addressForm.controls.fullName.errors && addressForm.controls.fullName.errors.required" class="form-control-feedback">
	                      {{ 'msg.validation.required' | translate:{value: ('checkout.step_address.address.fullname.label' | translate)} }}
	                  </span>
	                </div>
	                <!--/input-firstName,lastName-->
	                <!--input-address-->
	                <div class="form-group" [ngClass]="{'has-danger': f.submitted && !addressForm.controls.address.valid}">
	                  <div class="input-value" data-ng-init="focusAddress=false" [ngClass]="{'focused': focusAddress || (addressForm.controls.address.value && addressForm.controls.address.value.length > 0)}">
	                    <input type="text" class="form-control shave2u-form-control" id="input-address" formControlName="address" (focus)="focusAddress=true" (blur)="focusAddress=false">
	                    <label for="address" class="field-label">{{ 'checkout.step_address.address.address.label' | translate }}</label>
	                  </div>
	                  <span *ngIf="f.submitted && addressForm.controls.address.errors && addressForm.controls.address.errors.maxLength" class="form-control-feedback">
	                    {{ 'msg.validation.maxlength' | translate:{value: '150'} }}
	                  </span>
	                  <span *ngIf="f.submitted && addressForm.controls.address.errors && addressForm.controls.address.errors.required" class="form-control-feedback">
	                      {{ 'msg.validation.required' | translate:{value: ('checkout.step_address.address.address.place_holder' | translate)} }}
	                  </span>
	                </div>
	                <!-- / input-address-->

	                <!-- input-portalCode, input-state -->
	                <div class="row">
										<div class="col-12 max-320">
											<div class="form-group" [ngClass]="{'has-danger': f.submitted && !addressForm.controls.state.valid}">
												<div class="input-value" data-ng-init="focusState=false" [ngClass]="{'focused': focusState || (addressForm.controls.state.value && addressForm.controls.state.value.length > 0)}">
													<select class="form-control shave2u-form-control" id="select-state" formControlName="state" name="state" required *ngIf="countryStates && countryStates.length > 0">
														<!-- <option [value]="null" hidden disabled selected-custom [attr.selected]=""><span class="text-danger">- {{ 'checkout.step_address.address.state.defaultOption' | translate }} -</span></option> -->
														<option value="{{state.name}}" *ngFor="let state of countryStates" >{{state.name}}</option>
													</select>
													<input type="text" class="form-control shave2u-form-control" formControlName="state" name="state" required *ngIf="!countryStates || countryStates.length === 0" (focus)="focusState=true" (blur)="focusState=false"/>
													<label for="state" class="field-label">{{ 'checkout.step_address.address.state.label' | translate }}</label>
												</div>
												<span *ngIf="f.submitted && !addressForm.controls.state.valid" class="form-control-feedback">
													{{ 'msg.validation.required' | translate:{value: 'State'} }}
												</span>
											</div>
										</div>
	                  <div class="col-6 max-320">
	                    <div class="form-group" [ngClass]="{'has-danger': f.submitted && !addressForm.controls.city.valid}">
	                      <div class="input-value" data-ng-init="focusCity=false" [ngClass]="{'focused': focusCity || (addressForm.controls.city.value && addressForm.controls.city.value.length > 0)}">
	                        <input type="text" class="form-control shave2u-form-control" formControlName="city" name="city" (focus)="focusCity=true" (blur)="focusCity=false" />
	                        <label for="city" class="field-label">{{ 'checkout.step_address.address.city.label' | translate }}</label>
	                      </div>
	                      <span *ngIf="f.submitted && !addressForm.controls.city.valid" class="form-control-feedback">
	                          {{ 'msg.validation.required' | translate:{value: ('checkout.step_address.address.city.label' | translate) } }}
	                      </span>
	                    </div>
	                  </div>
	                  <div class="col-6 max-320">
	                    <div class="form-group" [ngClass]="{'has-danger': f.submitted && !addressForm.controls.portalCode.valid}">
	                      <div class="input-value" data-ng-init="focusPortalCode=false" [ngClass]="{'focused': focusPortalCode || (addressForm.controls.portalCode.value && addressForm.controls.portalCode.value.length > 0)}">
	                        <input type="text" class="form-control shave2u-form-control" id="input-postal-code" formControlName="portalCode" name="portalCode" inputNumber (focus)="focusPortalCode=true" (blur)="focusPortalCode=false"/>
	                        <label for="portalCode" class="field-label">{{ 'checkout.step_address.address.postal_code.label' | translate }}</label>
	                      </div>
	                      <span *ngIf="f.submitted && (addressForm.controls.portalCode.errors && addressForm.controls.portalCode.errors.minLength)" class="form-control-feedback">
	                        {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.postcode' | translate) } }}
	                      </span>
	                      <span *ngIf="f.submitted && (addressForm.controls.portalCode.errors && addressForm.controls.portalCode.errors.required)" class="form-control-feedback">
	                        {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.postcode' | translate) } }}
	                      </span>
	                    </div>
	                  </div>
	                </div>
	                <!-- / input-portalCode, input-state -->

	                 <!-- input-phone -->
	                <div class="form-group" [ngClass]="{'has-danger': f.submitted && !addressForm.controls.contactNumber.valid}">
	                  <div class="input-value" data-ng-init="focusContactNumber=false" [ngClass]="{'focused': focusContactNumber || (addressForm.controls.contactNumber.value && addressForm.controls.contactNumber.value.length > 0)}">
	                    <input type="text" class="form-control shave2u-form-control phone" id="input-id-5" name="contactNumber" formControlName="contactNumber" inputNumber (focus)="focusContactNumber=true" (blur)="focusContactNumber=false">
											<div class="icon-info" (click)="togglerTooltip()">
												<span class="icon-info-tooltip">?</span>
											</div>
											<div class="tooltip_info hidden">{{ 'checkout.free_trial.phone_tooltip' | translate }}</div>
											<label for="contactNumber" class="field-label">{{ 'checkout.step_address.address.phone.label' | translate }}</label>
	                  </div>
	                  <span *ngIf="this.storage.getCountry().code !== 'SGP' && f.submitted && (addressForm.controls.contactNumber.errors && addressForm.controls.contactNumber.errors.minLength)" class="form-control-feedback">
	                    {{ 'msg.validation.minlength' | translate:{value: 8 } }}
										</span>
										<span *ngIf="this.storage.getCountry().code === 'SGP' && f.submitted && addressForm.controls.contactNumber.errors && (addressForm.controls.contactNumber.errors.minLength || addressForm.controls.contactNumber.errors.maxLength)" class="form-control-feedback">
											{{ 'msg.validation.phone_sgp' | translate:{value: '8'} }}											
										</span>
	                  <span *ngIf="f.submitted && (addressForm.controls.contactNumber.errors && addressForm.controls.contactNumber.errors.required)" class="form-control-feedback">
	                    {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.phone' | translate) } }}
	                  </span>

	                </div>
	                <!-- / input-phone -->
	              </div>
	            </div>
							<div class="estimate-delivery">
								{{ 'checkout.free_trial.estimated_delivery' | translate }} {{ startDelivery | date:'MMM dd' }} - {{ endDelivery | date:'MMM dd' }}
							</div>

	            <app-alert [message]="resError"></app-alert>
	            <button type="submit" class="btn btn-primary btn-auth" id="submit">{{ 'checkout.step_address.address.btn_continue' | translate }}</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<p>
</p>
