.modal-overflow-hidden {
  overflow: hidden;
}
.modal-shaves2u {
  height: 100%;
  .modal-content {
    background: none;
    font-family: 'Muli';
    .modal-header {
      color: #ffffff;
      text-align: center;
      display: block;
      .modal-title{        
        font-size: 24px;
      }
    }
    .modal-body {
      background-color: #fff;
      // padding: 30px;
      &::-webkit-scrollbar-track
      {
        -webkit-box-shadow: none;
        background: none;
      }

      &::-webkit-scrollbar
      {
        width: 2px;
        background: none;
      }

      &::-webkit-scrollbar-thumb
      {
        background-color: #c2c2c2;
        border-radius:2px;
      }
      .control-label {
        font-size: 16px;
        margin-bottom: 2px;
      }
      .square-select{
        -webkit-appearance: none;
        -webkit-border-radius: 0px;  
      }
    }
    .modal-footer {
      margin: 0 auto;
      border-top: none !important;
    }
  }

  &.delivery-address-list, &.card-list {
    .modal-dialog {
      width: 397px;
      .modal-content {
        background: none;
        .modal-header {
          border-bottom: 0;
        }
        .modal-body {
          // width: 440px;
          margin: 0 auto;
          background: none;
          padding:0;
        }
        .modal-footer {
          padding: 0;
          margin-top: 2px;
          .form-group {
            // margin-left: -6px;
            border: 1px solid #959595;
            padding: 20px;
            width: 395px;
            border-radius: 5px; 
            vertical-align: middle;
            display: inline-block;
            margin: auto;
            background: #ffffff;
            text-align: center;
            .btn-add-new {
              .text {
                border-bottom: 2px solid #f9ad8d;
                color: #fe5000;
                font-family: 'Muli Bold';
                text-transform: uppercase;
              }
              &.address {
                margin-top: 7px;
                display: block;
              }
            }
          }
        }
      }
    }
  }
  &.card-list {
    .modal-dialog .modal-content .modal-body{
      width: 395px;
      .card-inputed-contain .item{
        width: auto;
      }
    }
  }
}
.modal-backdrop-shave2u {
  opacity: 0.9 !important;
}

.cdk-overlay-container {
  z-index: 2000;
}

@media  (max-width: 767px) {
  .modal-shaves2u {
    // .modal-content {
    //   .modal-body {
    //     padding: 30px 15px;
    //   }
    // }
    &.delivery-address-list, &.card-list{
      .modal-dialog {
        width: 299px;
        margin: auto;
        .modal-content {
          background: none;
          .modal-header {
            border-bottom: 0;
          }
          .modal-body {
            width: auto;
            .item {
              padding: 15px 15px;
            }
          }
          .modal-footer {

            .form-group {
              width: 295px;
            }
          }
        }
      }
    }
    &.card-list .modal-dialog .modal-content .modal-body{
      width: 100%;
    }
  }
}
