.modal-shaves2u .modal-content {
  background: none;
}

.modal-shaves2u .modal-content .modal-header {
  color: #ffffff;
  text-align: center;
  display: block;
}

.modal-shaves2u .modal-content .modal-body {
  background: #fff;
  padding: 30px;
}

.modal-shaves2u .modal-content .modal-footer {
  margin: 0 auto;
  border-top: none !important;
}

.modal-shaves2u.delivery-address-list .modal-content, .modal-shaves2u.card-list .modal-content {
  background: none;
}

.modal-shaves2u.delivery-address-list .modal-content .modal-header, .modal-shaves2u.card-list .modal-content .modal-header {
  border-bottom: 0;
}

.modal-shaves2u.delivery-address-list .modal-content .modal-body, .modal-shaves2u.card-list .modal-content .modal-body {
  width: 350px;
  margin: 0 auto;
  padding-top: 0px;
  background: none;
}

.modal-shaves2u.delivery-address-list .modal-content .modal-footer .form-group, .modal-shaves2u.card-list .modal-content .modal-footer .form-group {
  border: 1px solid #959595;
  padding: 20px;
  width: 280px;
  vertical-align: middle;
  display: inline-block;
  margin: auto;
  background: #ffffff;
  text-align: center;
}

.modal-backdrop-shave2u {
  opacity: 0.9 !important;
}

.cdk-overlay-container {
  z-index: 2000;
}

@media (min-width: 576px) {
  .modal-shaves2u.delivery-address-list .modal-dialog, .modal-shaves2u.card-list .modal-dialog {
    max-width: 355px;
  }
}
