#suggestions.suggestions {
  max-height: 300px;
  display: block;
  overflow: auto;
}

#suggestions.suggestions a {
  cursor: pointer;
}

#suggestions.suggestions a:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.product-list .trash {
  color: #d15b47;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
