<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding-top: 0 20px;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <div style="max-width: 515px;margin: 0 auto 100px;padding:0 20px">
        <p style="margin-bottom: 20px; margin-top: 20px;">
          Hi {{firstName}},
        </p>
        <p>
            Unfortunately, we haven't been able ot renew your subscription.<br>
            We'll need to put your next delivery will be put on hold until we're able to sort this out.
        </p>
        <table style="width:100%;">
          <tr>
            <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;vertical-align: top;">
              <img src="{{subscription.PlanCountry.Plan.planImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
            </td>
            <td style="padding:20px 0;" colspan="2">
              <table style="width: 100%">
                <tr>
                  <td style="padding:20px 0;border-top:1px solid #eeeeee;">
                    <p style="font-weight:bold;color:#000;">{{subscription.PlanCountry.Plan.planTranslate.name}}</p>
                    <p>SKU: {{subscription.PlanCountry.Plan.sku}}</p>
                    <p>{{subscription.PlanCountry.Country.currencyDisplay}}{{subscription.PlanCountry.chargePerTime}} Billed every {{subscription.PlanCountry.Plan.PlanType.subsequentChargeDuration}}</p>
                    <p>Subscription Starts {{subscription.createdAt}}</p>
                  </td>
                  <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">{{subscription.PlanCountry.Country.currencyDisplay}}{{subscription.PlanCountry.sellPrice}}</td>
                </tr>
                {{#each subscription.deliveryDetails}}
                <tr>
                  <td style="padding:20px 0;border-top:1px solid #eeeeee;">
                    {{#each productNames}}
                    <p>{{productName}} ({{qty}})</p>
                    {{/each}}
                  </td>
                  <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">
                    {{#if isFirst}}
                      <p style="font-weight:bold;color:#000;">First Delivery</p>
                    {{/if}}
                    {{#if notFirst}}
                      <p style="font-weight:bold;color:rgb(65, 64, 64);">Every 3 months</p>
                    {{/if}}
                  </td>
                </tr>
                {{/each}}
              </table>
            </td>
          </tr>
        </table>
        <div style="margin: 40px 0 23px 0;height:48px; text-align: center;">
          <a href="{{link}}" style="max-width: 246px;min-width: 220px;height: 48px;background: #fe5000;text-align: center;padding: 15px 15px;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">UPDATE PAYMENT DETAILS</a>
        </div>
      </div>
    </td>
  </tr>
</table>