<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding-top: 0 20px;">
      <div style="padding:0 20px">
        <h1 style="font-size: 24px;font-weight: 800;letter-spacing: 0.05em;font-family: Helvetica,Arial,sans-serif;margin: 40px 0 20px 0;color: #333333;text-align:center;">주문 취소 요청</h1>
        <p>
          S2U 팀께, 
        </p>
        <p>다음 주문이 취소되었습니다. </p>
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px;">
      <div style="width:100%">
        <table style="font-size:14px;width:100%">
          <tr>
            <td style="color:#000;font-weight:bold;">주문 번호</td>
            <td style="color:#000;font-weight:bold;text-align:center;">주문일자</td>
          </tr>
          <tr>
            <td>{{order.displayId}}</td>
            <td style="text-align:center">{{order.createdAt}}</td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
  <!-- table order detail -->
  <tr style="font-size:14px;">
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px 20px 0 20px;">
      <table style="width:100%;">
        <tr style="border-top:1px solid #eeeeee;">
          <td style="padding:20px 0 10px 0">제품</td>
          <td style="padding:20px 0 10px 0"></td>
          <td style="text-align:right;padding:20px 0 10px 0">합계</td>
        </tr>
        {{#each order.orderDetail}}
        <tr style="border-top:1px solid #eeeeee;">
          {{#if isProduct}}
            <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
              <img src="{{ProductCountry.Product.productImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
            </td>
            <td style="padding:20px 0;">
              <p style="font-weight:bold;color:#000;">{{ProductCountry.Product.productTranslate.name}}</p>
              <p>상품번호: {{ProductCountry.Product.sku}}</p>
              <p>수량: {{qty}}</p>
              {{#if isProductOfTrial}}
                <p>제품 가격: 해당없음</p>
              {{else}}
                <p>제품 가격: {{currency}}{{price}}</p>
              {{/if}}
              {{#if ../isOnground}}
                <p><i>Product Collected On-Ground</i></p>
              {{/if}}
            </td>
            {{#if isFreeProduct}}
              <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}0.00</td>
            {{else}}
              {{#if isProductOfTrial}}
                <td style="text-align:right;padding:20px 10px 20px 0;">해당없음</td>
              {{else}}
                <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}{{displayCurrency totalPrice}}</td>
              {{/if}}
            {{/if}}
          {{/if}}
          {{#if isPlan}}
            <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;vertical-align: top;">
              <img src="{{PlanCountry.Plan.planImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
            </td>
            <td style="padding:20px 0;" colspan="2">
              <table style="width: 100%">
                <tr>
                  <td style="padding:20px 0;border-top:1px solid #eeeeee;">
                    <p style="font-weight:bold;color:#000;">{{PlanCountry.Plan.planTranslate.name}}</p>
                    <p>상품번호: {{PlanCountry.Plan.sku}}</p>
                    <p>수량: {{qty}}</p>
                    <p>제품 가격: {{currency}}{{displayCurrency unitPrice}}</p>
                    <p>{{currency}}{{displayCurrency price}}원이 매 {{PlanCountry.Plan.PlanType.subsequentChargeDuration}}마다 청구됩니다</p>
                    {{#if PlanCountry.Plan.isTrial}}
                      {{#if ../order.trialShippingDate}}
                        <p>구독 시작일: {{../order.trialShippingDate}}</p>
                      {{else}}
                        <p style="max-width: 300px;">구독 시작일: 트라이얼 킷을 수령 후 14일</p>
                      {{/if}}
                    {{else}}
                      <p>구독 시작일: {{../order.shippingDate}}</p>
                    {{/if}}
                  </td>
                  {{#if PlanCountry.Plan.isTrial}}
                    <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">{{currency}}0.00</td>
                  {{else}}
                    <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">{{currency}}{{displayCurrency totalPrice}}</td>
                  {{/if}}
                </tr>
                {{#if PlanCountry.Plan.isTrial}}
                  {{#each deliveryDetails}}
                    {{#if isTrial}}
                      <tr>
                        <td style="padding:20px 0;border-top:1px solid #eeeeee;">
                          {{#each productNames}}
                          <p>{{productName}} ({{qty}})</p>
                          {{/each}}
                        </td>
                        <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">
                          {{!-- <p style="font-weight:bold;color:#000;">Trial Product(s) Delivery</p> --}}
                          <p style="font-weight:bold;color:#000;">첫 배송</p>
                        </td>
                      </tr>
                    {{else}}
                      <tr>
                        <td style="padding:20px 0;border-top:1px solid #eeeeee;">
                          {{#each productNames}}
                          <p>{{productName}} ({{qty}})</p>
                          {{/each}}
                        </td>
                        <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">
                          {{!-- <p style="font-weight:bold;color:#000;">Product(s) Delivery</p> --}}
                          <p style="font-weight:bold;color:#000;">다음 배송일</p>
                        </td>
                      </tr>
                    {{/if}}
                  {{/each}}
                {{else}}
                  {{#each deliveryDetails}}
                  <tr>
                    <td style="padding:20px 0;border-top:1px solid #eeeeee;">
                      {{#each productNames}}
                      <p>{{productName}} ({{qty}})</p>
                      {{/each}}
                    </td>
                    <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">
                      {{#if isFirst}}
                        <p style="font-weight:bold;color:#000;">첫 배송</p>
                      {{/if}}
                      {{#if notFirst}}
                        <p style="font-weight:bold;color:rgb(65, 64, 64);">3개월에 한번씩</p>
                      {{/if}}
                    </td>
                  </tr>
                  {{/each}}
                {{/if}}
              </table>
            </td>
          {{/if}}
        </tr>
        {{/each}}
      </table>
    </td>
  </tr>
  <tr style="font-size:14px;background-color: #FAFAFA;color: #606060">
    <td style="padding:0 20px;">
      <table style="width:100%">
        <tr style="border-top:1px solid #eeeeee;">
          <td style="text-align: right;padding:20px 0;">
            <p>합계</p>
            <p>할인</p>
            <p>소계</p>
            <p>배송비</p>
            {{#if order.hasTaxAmount}}
              <p>총 합계 (세금 제외)</p>
            {{/if}}
          </td>
          <td style="text-align: right;padding-right:10px;width:100px;padding:20px 10px;">
            <p>{{order.Receipt.currency}}{{displayCurrency order.Receipt.originPrice}}</p>
            {{#if order.hasDiscount}}
              <p>{{order.Receipt.currency}}{{displayCurrency order.Receipt.discountAmount}}</p>
            {{else}}
              <p>{{order.Receipt.currency}}0.00</p>
            {{/if}}
            <p>{{order.Receipt.currency}}{{displayCurrency order.Receipt.subTotalPrice}}</p>
            {{#if order.hasShippingFee}}
              {{order.Receipt.currency}}{{displayCurrency order.Receipt.shippingFee}}
            {{else}}
              무료
            {{/if}}
            {{#if order.hasTaxAmount}}
              <p>{{order.Receipt.currency}}{{displayCurrency order.Receipt.taxAmount}}</p>
            {{/if}}
          </td>
        </tr>
        <tr style="border-top:1px solid #eeeeee;border-bottom:1px solid #eeeeee;">
          <td style="text-align: right;padding:20px 0;">
            {{#if order.Country.includedTaxToProduct}}
              <p>총액 (세금 포함)</p>
            {{else}}
              <p>총액</p>
            {{/if}}
          </td>
          <td style="text-align: right;padding-right:10px;width:100px;padding:20px 10px;">
            <p>{{order.Receipt.currency}}{{displayCurrency order.Receipt.totalPrice}}</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px;">
      <p style="font-weight:bold;color:#000;margin-top:10px!important;">결제수단</p>
      {{#if order.isPayByStripe}}
        <p>신용/직불 카드</p>
        <p>카드 번호 {{order.Receipt.last4}}</p>
      {{/if}}
      {{#if order.isPayByIpay88}}
        <p>iPay88</p>
      {{/if}}
      {{#if order.isPayByCash}}
        <p>현금</p>
      {{/if}}
      {{#if order.hasShippingAddress}}
        <p style="font-weight:bold;color:#000;margin-top:20px!important;">배송 정보: 배송주소</p>
        <p>{{order.DeliveryAddress.firstName}} {{order.DeliveryAddress.lastName}}</p>
        <p>{{order.DeliveryAddress.address}},{{#if order.DeliveryAddress.city}}&nbsp;{{order.DeliveryAddress.city}},{{/if}}{{#if order.DeliveryAddress.portalCode}}&nbsp;{{order.DeliveryAddress.portalCode}},{{/if}}&nbsp;{{order.DeliveryAddress.state}}</p>
        <p>전화번호: {{order.DeliveryAddress.contactNumber}}</p>
      {{/if}}
      {{#if order.hasBillingAddress}}
        <p style="font-weight:bold;color:#000;margin-top:20px!important;">배송 정보: 결제 주소</p>
        <p>{{order.BillingAddress.firstName}} {{order.BillingAddress.lastName}}</p>
        <p>{{order.BillingAddress.address}},{{#if order.DeliveryAddress.city}}&nbsp;{{order.BillingAddress.city}},{{/if}} {{#if order.BillingAddress.portalCode}}&nbsp;{{order.BillingAddress.portalCode}},{{/if}}&nbsp;{{order.BillingAddress.state}}</p>
        <p>전화번호: {{order.BillingAddress.contactNumber}}</p>
      {{/if}}
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      <p>@ 창고팀,</p>
      <p>S2U 팀과 연락해 다음 주문에 대한 다음 절차를 확인해보세요.</p>
      <p>시스템이 생성한 내용입니다.</p>
    </td>
  </tr>
</table>
<!-- // END BODY -->