<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <div style="max-width: 515px;margin: 0 auto;">
        <p>고객서비스팀께,</p>

        <!-- customer detail -->
        {{#if isRequestCancel}}
          <p style="margin-bottom: 20px; margin-top: 20px;">Please be informed that this customer would like to cancel the Shave Plan:</p>
        {{/if}}
        {{#if isCanceled}}
          <p style="margin-bottom: 20px; margin-top: 20px;">다음 고객이 체험기간 내 쉐이브플랜을 취소했습니다.</p>
        {{/if}}
        {{#if isUndo}}
          <p style="margin-bottom: 20px; margin-top: 20px;">Please be informed that this customer would like to undo the Shave Plan cancellation request:</p>
        {{/if}}
        <p>이름: {{ User.firstName }} {{ User.lastName }}</p>
        <p>이메일: {{ User.email }}</p>
        <p>전화번호: {{ User.phone }}</p>
        <p>신청을 번호: {{ id }}</p>
        <p>요청일: {{ requestDate }}</p>

        <!-- trial plan detail -->
        <p style="margin-bottom: 20px; margin-top: 20px;">쉐이브플랜 정보</p>
        <p>{{planName}}</p>
        <p>배송 주기: {{ PlanCountry.Plan.PlanType.subsequentDeliverDuration }}</p>
        <p>결제 선택: Stripe</p>
        <p>마지막 결제일: {{ lastDeliverydate }}</p>
        <p>마지막 배송일: {{ lastDeliverydate }}</p>
        <p>다음 결제일: {{ nextDeliverDate }}</p>

        {{#if isRequestCancel}}
          <p style="margin-top: 20px;">Please contact customer to finalise shave plan cancellation before the next payment cycle starts to avoid auto-charge of client's credit card.</p>
        {{/if}}
        {{#if isCanceled}}
          <p style="margin-top: 20px;">필요한 조치는 없으며 참고용입니다.</p>
        {{/if}}
        {{#if isUndo}}
          <p style="margin-top: 20px;">Please crosscheck system and do not cancel customer's Shave Plan.</p>
        {{/if}}
        <p><i>알림: 시스템이 생성한 이메일입니다.</i></p>
      </div>
    </td>
  </tr>
</table>