<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <div style="max-width: 515px;margin: 0 auto;">
        <p>
          {{User.firstName}} 안녕하세요, 
        </p>
        {{#if PlanCountry}}
          <p style="margin-top: 20px;">
            <strong>{{ planName }}</strong> 이 취소됐습니다. 
            {{!-- Your cancellation for your <strong>{{ planName }}</strong> subscription on <strong>{{ createdAt }}</strong> has been confirmed. Please rest assured that your credit card will no longer be charged. We're sad to see you go, but if you ever want to shave with us again, head on over to our 
            <a href="https://shaves2u.com/?utm_source=mandrill&utm_medium=email&utm_campaign=_{{countryCode}}_ordercancel&utm_content=S2U_html_ordertrial&utm_term=_cancel_trial_web">website</a>. --}}
          </p>
        {{/if}}
        {{#if CustomPlan}}
          <p style="margin-top: 20px;">
            <strong>{{ CustomPlan.description }}</strong> 이 취소됐습니다. 
          </p>
        {{/if}}
        <p style="margin-top: 20px;">
          신용카드로 더 이상 결제되지 않습니다. 
        </p>
        <p style="margin-top: 20px;">
          귀하의 주문 내역입니다. 
        </p>
        <table style="width:100%; margin-top: 20px;">
          {{#if PlanCountry}}
            <tr style="border-top:1px solid #eeeeee;">
              <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                <p>주문:</p>
              </td>
              <td style="padding:20px 0 20px 10px;">
              </td>
              <td style="text-align:right;padding:20px 0 20px 10px;">
                <p>합계</p>
              </td>
            </tr>
            <tr style="border-top:1px solid #eeeeee;">
              <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                <img src="{{PlanCountry.Plan.planImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
              </td>
              <td style="padding:20px 0;">
                <p style="font-weight:bold;color:#000;">{{PlanCountry.Plan.planTranslate.name}}</p>
                <p>상품번호: {{PlanCountry.Plan.sku}}</p>
                <p>수량: {{qty}}</p>
                <p>제품 가격: {{currency}}0.00</p>
              </td>
              <td style="text-align:right;padding:20px 0;">
                <p>{{currency}}0.00</p>
              </td>
            </tr>
          {{/if}}
          {{#if CustomPlan}}
            <tr style="border-top:1px solid #eeeeee;">
              <td style="width:80%;padding:20px 0 20px 10px;min-width:70px;">
                <p>주문:</p>
              </td>
              <td style="text-align:right;padding:20px 0 20px 10px;">
                <p>합계</p>
              </td>
            </tr>
            <tr style="border-top:1px solid #eeeeee;">
              <td style="padding:20px 0;">
                <p style="font-weight:bold;color:#000;">{{CustomPlan.description}}</p>
                {{!-- <p>상품번호: {{PlanCountry.Plan.sku}}</p> --}}
                <p>수량: {{qty}}</p>
                <p>제품 가격: {{currency}}{{pricePerCharge}}</p>
              </td>
              <td style="text-align:right;padding:20px 0;">
                <p>{{currency}}{{pricePerCharge}}</p>
              </td>
            </tr>
          {{/if}}
          {{!-- {{#each PlanCountry.planDetails}}
          <tr style="border-top:1px solid #eeeeee;">
              <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                <img src="{{imgUrl}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
              </td>
              <td style="padding:20px 0;">
                <p style="font-weight:bold;color:#000;">{{planName}}</p>
                <p>상품번호: {{ProductCountry.Product.sku}}</p>
                <p>Quantity: {{qty}}</p>
                <p>Unit Price: {{currency}}{{displayCurrency ProductCountry.sellPrice}}</p>
              </td>
              <td style="text-align:right;padding:20px 0;">
                <p>{{currency}}{{displayCurrency totalPrice}}</p>
              </td>
          </tr>
          {{/each}} --}}
        </table>
        {{!-- <p>Every {{ periodTime }} {{ currency }}{{ pricePerCharge }}</p> --}}
        <p style="margin-top: 20px">저희를 이용해주셔서 감사합니다! 궁금한 점이 있으면 <a href="mailto:help.kr@shaves2u.com">help.kr@shaves2u.com</a> 으로 문의해주세요. </p>
        <p style="margin-top: 20px">아니면 다른 제품을 보시는 건 어떠세요?</p>
        <p style="width:100%;margin-top: 36px;text-align:center;">
          <a href="https://shaves2u.com/?utm_source=mandrill&utm_medium=email&utm_campaign=_{{countryCode}}_ordercancel&utm_content=S2U_html_ordertrial&utm_term=_cancel_trial_web" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">
            다른 제품 쇼핑하기
          </a>
        </p>
      </div>
    </td>
  </tr>
</table>