<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding-top: 0 20px;text-align: center ;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <div style="max-width: 515px;margin: 0 auto 100px;padding:0 20px">
        <h1 style="font-size: 24px;font-weight: 800;letter-spacing: 0.05em;font-family: Helvetica,Arial,sans-serif;margin: 40px 0 20px 0;color: #333333;text-align:center;">새로운 비밀번호로 변경되었습니다</h1>
        <p style="text-align: center">
          안녕하세요 {{firstName}}님,
        </p>
        <p style="text-align: center;margin-top: 30px;">고객님의 Shaves2U 계정 <span>{{email}}</span>의 비밀번호가 업데이트 되었습니다.</p>
        <p style="text-align: center;margin-top: 20px;">고객님께서 비밀번호 변경 요청을 하시지 않으셨다면 보안 설정에서 계정 보안에 대해 살펴보세요.
        </p>
        <div style="margin: 40px 0 23px 0;height:48px">
          <a href="https://shaves2u.com/user/settings?utm_source=mandrill&utm_medium=email&utm_campaign=_{{countryCode}}_passwordupdate&utm_content=S2U_html_passwordupdate&utm_term=_passwordupdate_web" style="max-width: 246px;min-width: 220px;height: 48px;background: #fe5000;text-align: center;padding: 15px 15px;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">MY ACCOUNT</a>
        </div>
      </div>
    </td>
  </tr>
</table>