<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding-top: 0 20px;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <div style="max-width: 515px;margin: 0 auto 100px;padding:0 20px">
        <p style="margin-bottom: 20px; margin-top: 20px;">
          {{firstName}} 안녕하세요,
        </p>
        <p>
            결제방식 오류로 주문 결제를 확인할 수 없습니다.<br>
            결제 정보를 업데이트해 결제를 계속하거나 은행에 확인해보세요.
        </p>
        <div style="margin: 25px 0; text-align:center;">
          <a href="{{link}}" style="max-width: 246px;min-width: 220px;height: 48px;background: #fe5000;text-align: center;padding: 15px 15px;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">결제 정보 업데이트하기</a>
        </div>
        <table style="width:100%;">
          {{#if data}}
          <tr>
            <td style="padding:20px 0 10px 0">제품</td>
            <td style="padding:20px 0 10px 0"></td>
            <td style="text-align:right;padding:20px 0 10px 0">합계</td>
          </tr>
          {{/if}}
          {{#each data}}
          <tr style="border-top:1px solid #eeeeee;">
            {{#if isProduct}}
              <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                <img src="{{ProductCountry.Product.productImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
              </td>
              <td style="padding:20px 0;">
                <p style="font-weight:bold;color:#000;">{{ProductCountry.Product.productTranslate.name}}</p>
                <p>상품번호: {{ProductCountry.Product.sku}}</p>
                <p>수량: {{qty}}</p>
                <p>제품 가격: {{currency}}{{displayCurrency ProductCountry.sellPrice}}</p>
                {{#if ../isOnground}}
                  <p><i>Product Collected On-Ground</i></p>
                {{/if}}
              </td>
              <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}{{displayCurrency totalPrice}}</td>
            {{else}}
              <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;vertical-align: top;">
                <img src="{{PlanCountry.Plan.planImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
              </td>
              <td style="padding:20px 0;" colspan="2">
                <table style="width: 100%">
                  <tr>
                    <td style="padding:20px 0;border-top:1px solid #eeeeee;">
                      <p style="font-weight:bold;color:#000;">{{PlanCountry.Plan.planTranslate.name}}</p>
                      <p>상품번호: {{PlanCountry.Plan.sku}}</p>
                      <p>수량: {{qty}}</p>
                      <p>제품 가격: {{currency}}{{displayCurrency unitPrice}}</p>
                      <p>{{currency}}{{displayCurrency PlanCountry.sellPrice}}원이 매 {{PlanCountry.Plan.PlanType.subsequentChargeDuration}}마다 청구됩니다</p>
                    </td>
                    <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">{{currency}}{{displayCurrency totalPrice}}</td>
                  </tr>
                  {{#each deliveryDetails}}
                  <tr>
                    <td style="padding:20px 0;border-top:1px solid #eeeeee;">
                      {{#each productNames}}
                      <p>{{productName}} ({{qty}})</p>
                      {{/each}}
                    </td>
                    <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">
                      {{#if isFirst}}
                        <p style="font-weight:bold;color:#000;">첫 배송</p>
                      {{else}}
                        <p style="font-weight:bold;color:rgb(65, 64, 64);">3개월에 한번씩</p>
                      {{/if}}
                    </td>
                  </tr>
                  {{/each}}
                </table>
              </td>
            {{/if}}
          </tr>
          {{/each}}
        </table>
      </div>
    </td>
  </tr>
</table>