<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      {{#if orderConfirmed}}
        <p style="margin-bottom:20px!important">{{displayName}} 안녕하세요,</p>
        {{#if isOffline}}
          <p style="margin-bottom:20px!important">S2U에서 쇼핑해주셔서 감사합니다! S2U의 서비스를 통해 보다 저렴하고 깔금한 면도를 경험하실 수 있기를 바랍니다. </p>
        {{else}}
          <p style="margin-bottom:20px!important">S2U에서 쇼핑해주셔서 감사합니다! 고객님의 주문이 접수돼 처리되고 있습니다. 발송 준비가 완료되면 알려드리겠습니다. </p>
        {{/if}}
      {{/if}}
      {{#if orderDelivering}}
        <p style="margin-bottom:20px!important">{{displayName}} 안녕하세요,</p>
        {{#if isTrial}}
          <p style="margin-bottom:20px!important">체험 키트가 배송 중입니다! 저희 제품을 받으신다니 기쁩니다. </p>
          <p style="margin-bottom:20px!important">주문 송장 번호를 통해 <a href="{{trackOrderLink}}">배송 조회를 정확히 할</a> 수 있습니다. </p>
        {{else}}
          <p style="margin-bottom:20px!important">귀하의 S2U 주문이 배송 중입니다! 저희 제품을 받으신다니 기쁩니다.</p>
          <p style="margin-bottom:20px!important">주문 송장 번호를 통해 <a href="{{trackOrderLink}}">배송 조회를 정확히 할</a> 수 있습니다. </p>
        {{/if}}
        {{!-- <div style="display: block; margin: 40px 0; text-align: center;">
          <a href="{{trackOrderLink}}" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">TRACK YOUR ORDER</a>
        </div> --}}

        <!-- Delivery info -->
        <p><strong>배송정보:</strong></p>
        <p>배송 수단: {{carrierAgent}}</p>
        <p style="margin-bottom:20px!important">송장 번호: {{deliveryId}}</p>
        <i>*조회 정보를 이용하려면 최대 24시간 걸릴 수 있습니다. </i>
      {{/if}}
      {{#if orderCompleted}}
        <p style="margin-bottom:20px!important">{{displayName}} 안녕하세요,</p>
        {{#if isTrial}}
          <p style="margin-bottom:20px!important">귀하의 무료체험 키트 배송이 확인되었습니다. 저희가 제공하는 알뜰한 면도 제품을 계속 즐겨보시길 바랍니다.</p>
          <p>아직 배송 받지 못하셨다면 <a href="mailto:help@shaves2u.com">help@shaves2u.com</a> 으로 문의해주세요.</p>
        {{else}}
          <p style="margin-bottom:20px!important">주문이 배송됐습니다! 저희가 제공하는 알뜰한 면도 제품을 계속 즐겨보시길 바랍니다. </p>
          <p>아직 배송 받지 못하셨다면 <a href="mailto:help@shaves2u.com">help@shaves2u.com</a> 으로 문의해주세요.</p>
        {{/if}}
      {{/if}}
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      {{#if isBaSale}}
        <p><span style="color:#000;font-weight:bold;">BA name: </span>{{SellerUser.agentName}}</p>
      {{/if}}
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px;">
      <div style="width:100%">
        <table style="font-size:14px;width:100%">
          <tr>
            <td style="color:#000;font-weight:bold;">주문 번호</td>
            <td style="color:#000;font-weight:bold;text-align:center;">주문일자</td>
            <td style="color:#000;font-weight:bold;text-align:right;">발송일자</td>
          </tr>
          <tr>
            <td>{{displayId}}</td>
            <td style="text-align:center">{{createdAt}}</td>
            <td style="text-align:right;">{{shippingDate}}</td>
          </tr>
        </table>
      </div>
      {{#if isEcommerce}}
        {{#if isOldUser}}
          <div style="width:100%;margin-top: 36px;text-align:center;">
            <a href="{{link}}" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">주문 보기</a>
          </div>
        {{/if}}
        {{!-- {{#if isActiveUser}}
          <div style="width:100%;margin-top: 36px;text-align:center;">
            <a href="{{link}}" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">Activate your account</a>
          </div>
        {{/if}} --}}
      {{!-- {{else}}
        <div style="width:100%;margin-top: 36px;text-align:center;">
          <a href="{{link}}" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">EXPLORE WEBSITE</a>
        </div> --}}
      {{/if}}
    </td>
  </tr>
  <!-- table order detail -->
  <tr style="font-size:14px;">
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px 20px 0 20px;">
      <table style="width:100%;">
        <tr style="border-top:1px solid #eeeeee;">
          <td style="padding:20px 0 10px 0">제품</td>
          <td style="padding:20px 0 10px 0"></td>
          <td style="text-align:right;padding:20px 0 10px 0">합계</td>
        </tr>
        {{#each orderDetail}}
        <tr style="border-top:1px solid #eeeeee;">
          {{#if isProduct}}
            {{#if isFreeProduct}}
              <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                <img src="{{ProductCountry.Product.productImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
              </td>
              <td style="padding:20px 0;">
                <p style="font-weight:bold;color:#000;">{{ProductCountry.Product.productTranslate.name}}</p>
                <p>상품번호: {{ProductCountry.Product.sku}}</p>
                <p>수량: {{qty}}</p>
                <p>제품 가격: {{currency}}0.00</p>
                {{#if ../isOnground}}
                  <p><i>Product Collected On-Ground</i></p>
                {{/if}}
              </td>
              <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}0.00</td>
            {{else}}
              <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                <img src="{{ProductCountry.Product.productImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
              </td>
              <td style="padding:20px 0;">
                <p style="font-weight:bold;color:#000;">{{ProductCountry.Product.productTranslate.name}}</p>
                <p>상품번호: {{ProductCountry.Product.sku}}</p>
                <p>수량: {{qty}}</p>
                {{#if isProductOfTrial}}
                  <p>제품 가격: 해당없음</p>
                {{else}}
                  <p>제품 가격: {{currency}}{{displayCurrency price}}</p>
                  {{#if ../isOnground}}
                    <p><i>Product Collected On-Ground</i></p>
                  {{/if}}
                {{/if}}
              </td>
              {{#if isProductOfTrial}}
                <td style="text-align:right;padding:20px 10px 20px 0;">해당없음</td>
              {{else}}
                <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}{{displayCurrency totalPrice}}</td>
              {{/if}}
            {{/if}}
          {{/if}}
          {{#if isPlan}}
            <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;vertical-align: top;">
              <img src="{{PlanCountry.Plan.planImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
            </td>
            <td style="padding:20px 0;" colspan="2">
              <table style="width: 100%">
                <tr>
                  <td style="padding:20px 0;border-top:1px solid #eeeeee;">
                    <p style="font-weight:bold;color:#000;">{{PlanCountry.Plan.planTranslate.name}}</p>
                    <p>상품번호: {{PlanCountry.Plan.sku}}</p>
                    <p>수량: {{qty}}</p>
                    <p>제품 가격: {{currency}}{{displayCurrency unitPrice}}</p>
                    <p>{{currency}}{{displayCurrency price}}원이 매 {{PlanCountry.Plan.PlanType.subsequentChargeDuration}}마다 청구됩니다</p>
                    {{#if PlanCountry.Plan.isTrial}}
                      {{#if ../trialShippingDate}}
                        <p>구독 시작일: {{../trialShippingDate}}</p>
                      {{else}}
                        <p style="max-width: 300px;">구독 시작일: 트라이얼 킷을 수령 후 14일</p>
                      {{/if}}
                    {{else}}
                      <p>구독 시작일: {{../shippingDate}}</p>
                    {{/if}}
                  </td>
                  {{#if PlanCountry.Plan.isTrial}}
                    <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">{{currency}}0.00</td>
                  {{else}}
                    <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">{{currency}}{{totalPrice}}</td>
                  {{/if}}
                </tr>
                {{#each deliveryDetails}}
                <tr>
                  <td style="padding:20px 0;border-top:1px solid #eeeeee;">
                    {{#each productNames}}
                    <p>{{productName}} ({{qty}})</p>
                    {{/each}}
                  </td>
                  <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">
                    {{#if isFirst}}
                      {{#if isFirstTrial}}
                        <p style="font-weight:bold;color:#000;">다음 배송일</p>
                      {{else}}
                        <p style="font-weight:bold;color:#000;">첫 배송</p>
                      {{/if}}
                    {{/if}}
                    {{#if notFirst}}
                      {{#if isTrial}}
                        <p style="font-weight:bold;color:rgb(65, 64, 64);">첫 배송</p>
                      {{else}}
                        <p style="font-weight:bold;color:rgb(65, 64, 64);">3개월에 한번</p>
                      {{/if}}
                    {{/if}}
                  </td>
                </tr>
                {{/each}}
              </table>
            </td>
          {{/if}}
        </tr>
        {{/each}}
      </table>
    </td>
  </tr>
  <tr style="font-size:14px;background-color: #FAFAFA;color: #606060">
    <td style="padding:0 20px;">
      <table style="width:100%">
        <tr style="border-top:1px solid #eeeeee;">
          <td style="text-align: right;padding:20px 0;">
            <p>합계</p>
            <p>할인</p>
            <p>소계</p>
            <p>배송비</p>
            {{#if hasTaxAmount}}
              <p>총 합계 (세금 제외)</p>
            {{/if}}
          </td>
          <td style="text-align: right;padding-right:10px;width:100px;padding:20px 10px;">
            <p>{{Receipt.currency}}{{displayCurrency Receipt.originPrice}}</p>
            {{#if hasDiscount}}
              <p>{{Receipt.currency}}{{displayCurrency Receipt.discountAmount}}</p>
            {{else}}
              <p>{{Receipt.currency}}0.00</p>
            {{/if}}
            <p>{{Receipt.currency}}{{displayCurrency Receipt.subTotalPrice}}</p>
            {{#if hasShippingFee}}
              {{Receipt.currency}}{{displayCurrency Receipt.shippingFee}}
            {{else}}
              무료
            {{/if}}
            {{#if hasTaxAmount}}
              <p>{{Receipt.currency}}{{displayCurrency Receipt.taxAmount}}</p>
            {{/if}}
          </td>
        </tr>
        <tr style="border-top:1px solid #eeeeee;border-bottom:1px solid #eeeeee;">
          <td style="text-align: right;padding:20px 0;">
            {{#if Country.includedTaxToProduct}}
              <p>총액 (세금 포함)</p>
            {{else}}
              <p>총액</p>
            {{/if}}
          </td>
          <td style="text-align: right;padding-right:10px;width:100px;padding:20px 10px;">
            <p>{{Receipt.currency}}{{displayCurrency Receipt.totalPrice}}</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px;">
      <p style="font-weight:bold;color:#000;margin-top:10px!important;">결제수단</p>
      {{#if isPayByStripe}}
        <p>신용/직불 카드</p>
        <p>카드 번호 {{Receipt.last4}}</p>
      {{/if}}
      {{#if isPayByIpay88}}
        <p>iPay88</p>
      {{/if}}
      {{#if isPayByCash}}
        <p>현금</p>
      {{/if}}
      {{#if hasShippingAddress}}
        <p style="font-weight:bold;color:#000;margin-top:20px!important;">배송 정보: 배송주소</p>
        <p>{{DeliveryAddress.firstName}} {{DeliveryAddress.lastName}}</p>
        <p>{{DeliveryAddress.address}},{{#if DeliveryAddress.city}}&nbsp;{{DeliveryAddress.city}},{{/if}}{{#if DeliveryAddress.portalCode}}&nbsp;{{DeliveryAddress.portalCode}},{{/if}}&nbsp;{{DeliveryAddress.state}}</p>
        <p>Tel: {{DeliveryAddress.contactNumber}}</p>
      {{/if}}
      {{#if hasBillingAddress}}
        <p style="font-weight:bold;color:#000;margin-top:20px!important;">배송 정보: 결제 주소</p>
        <p>{{BillingAddress.firstName}} {{BillingAddress.lastName}}</p>
        <p>{{BillingAddress.address}},{{#if DeliveryAddress.city}}&nbsp;{{BillingAddress.city}},{{/if}} {{#if BillingAddress.portalCode}}&nbsp;{{BillingAddress.portalCode}},{{/if}}&nbsp;{{BillingAddress.state}}</p>
        <p>Tel: {{BillingAddress.contactNumber}}</p>
      {{/if}}
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      {{#if orderConfirmed}}
        {{#if isOffline}}
        <p>
          이 세금계산서는 컴퓨터를 통해 생성되며 서명이 필요하지 않습니다. 이 이메일을 구매증명서로써 보관해주세요. 신용카드로 구매하셨다면 내역서에 ‘S2U 애프코’라고 표시됩니다. 애프코는 S2U 승인을 받은 판매자입니다.
        </p>
        {{else}}
        <p>
          이 세금계산서는 컴퓨터를 통해 생성돼 서명이 필요하지 않습니다. 이 이메일을 구매증명서로써 보관해주세요. 신용카드로 구매하셨다면 내역서에 ‘S2U 애프코’라고 표시됩니다. 애프코는 S2U 승인을 받은 판매자입니다.
        </p>
        {{/if}}
      {{/if}}
      {{!-- {{#if orderCompleted}}
        <p>
          Please keep this email as proof of purchase.<br>
          Purchases via credit card will appear as payment to ‘S2U AppCo’ on your bank statement. Appco Sdn Bhd is an authorised Shaves2U retailer.
        </p>
        <p>Enjoyed shopping with us? Tell a friend!</p>
      {{/if}} --}}
      {{#if isEcommerce}}
        {{#if isNewUser}}
        <p style="margin-bottom:30px!important">
          <a href="{{link}}" style="color:red;">비밀번호를 설정해</a> 계정을 활성화하면 다음 구매 시 10% 할인도 받고 면도 제품 주문 과정이 정말 정말 간단해집니다.
        </p>
        <div style="width:100%;margin-top: 36px;margin-bottom: 36px;text-align:center;">
          <a href="{{link}}" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">비밀번호 설정하기</a>
        </div>
        {{/if}}
      {{/if}}
    </td>
  </tr>
</table>