<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      {{#if orderConfirmed}}
        <p style="margin-bottom:20px!important">안녕하세요 {{displayName}}님,</p>
        <p style="margin-bottom:20px!important">Shaves2U에서 주문해주셔서 감사합니다! 고객님의 주문이 접수되어 처리되고 있습니다.<br>
        현재, 선주문만 가능하오니 기다려주시면 감사하겠습니다.</p>
        <p style="margin-bottom:20px!important">발송이 되기 전 다시금 새로운 소식을 가지고 찾아뵙겠습니다.</p>
        <p style="margin-bottom:20px!important">주문내역은 아래에서 확인하실 수 있습니다:</p>
      {{/if}}
      {{!-- {{#if orderDelivering}}
        <p style="margin-bottom:20px!important">Hi {{displayName}},</p>
        <p style="margin-bottom:20px!important">Your Shaves2U products are en route! We’re excited for you to receive them.</p>
        <p style="margin-bottom:20px!important">Find out exactly where your delivery is by <a href="{{trackOrderLink}}">tracking your order</a> using your tracking number.</p>

        <p><strong>Delivery Details:</strong></p>
        <p>Shipping method: {{carrierAgent}}</p>
        <p style="margin-bottom:20px!important">Tracking number: {{deliveryId}}</p>
        <i>* It may take up to 24 hours for tracking data to be available.</i>
      {{/if}}
      {{#if orderCompleted}}
        <p style="margin-bottom:20px!important">Hi {{displayName}},</p>
        {{#if isTrial}}
          <p style="margin-bottom:20px!important">We’ve received confirmation that your Trial Kit has been delivered. We hope you continually enjoy the great shaves and savings we offer.</p>
          <p>If you haven’t received your order, do let us know at <a href="mailto:help@shaves2u.com">help@shaves2u.com</a></p>
        {{else}}
          <p style="margin-bottom:20px!important">We’ve received confirmation that your Shaves2U products have been delivered. We hope you continually enjoy the great shaves and savings we offer.</p>
          <p>However, if you haven’t received your order, do let us know at <a href="mailto:help@shaves2u.com">help@shaves2u.com</a></p>
        {{/if}}
      {{/if}} --}}
    </td>
  </tr>
  {{!-- <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      {{#if isBaSale}}
        <p><span style="color:#000;font-weight:bold;">BA name: </span>{{SellerUser.agentName}}</p>
      {{/if}}
    </td>
  </tr> --}}
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px;">
      <div style="width:100%">
        <table style="font-size:14px;width:100%">
          <tr>
            <td style="color:#000;font-weight:bold;">주문 번호</td>
            <td style="color:#000;font-weight:bold;text-align:center;">주문일자</td>
            <td style="color:#000;font-weight:bold;text-align:right;">발송일자</td>
          </tr>
          <tr>
            <td>{{displayId}}</td>
            <td style="text-align:center">{{createdAt}}</td>
            <td style="text-align:right;">{{shippingDate}}</td>
          </tr>
        </table>
      </div>
      {{!-- {{#if isEcommerce}}
        {{#if isOldUser}}
          <div style="width:100%;margin-top: 36px;text-align:center;">
            <a href="{{link}}" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">View your order</a>
          </div>
        {{/if}}
        {{#if isActiveUser}}
          <div style="width:100%;margin-top: 36px;text-align:center;">
            <a href="{{link}}" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">Activate your account</a>
          </div>
        {{/if}}
      {{else}}
        <div style="width:100%;margin-top: 36px;text-align:center;">
          <a href="{{link}}" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">EXPLORE WEBSITE</a>
        </div>
      {{/if}} --}}
    </td>
  </tr>
  <!-- table order detail -->
  <tr style="font-size:14px;">
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px 20px 0 20px;">
      <table style="width:100%;">
        <tr style="border-top:1px solid #eeeeee;">
          <td style="padding:20px 0 10px 0">제품</td>
          <td style="padding:20px 0 10px 0"></td>
          <td style="text-align:right;padding:20px 0 10px 0">합계</td>
        </tr>
        {{#each orderDetail}}
        <tr style="border-top:1px solid #eeeeee;">
          {{#if isProduct}}
            {{#if isFreeProduct}}
              <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                <img src="{{ProductCountry.Product.productImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
              </td>
              <td style="padding:20px 0;">
                <p style="font-weight:bold;color:#000;">{{ProductCountry.Product.productTranslate.name}}</p>
                <p>상품번호: {{ProductCountry.Product.sku}}</p>
                <p>수량: {{qty}}</p>
                <p>제품 가격: {{currency}}0.00</p>
                {{#if ../isOnground}}
                  <p><i>Product Collected On-Ground</i></p>
                {{/if}}
              </td>
              <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}0.00</td>
            {{else}}
              <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                <img src="{{ProductCountry.Product.productImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
              </td>
              <td style="padding:20px 0;">
                <p style="font-weight:bold;color:#000;">{{ProductCountry.Product.productTranslate.name}}</p>
                <p>상품번호: {{ProductCountry.Product.sku}}</p>
                <p>수량: {{qty}}</p>
                {{#if isProductOfTrial}}
                  <p>제품 가격: 해당없음</p>
                {{else}}
                  <p>제품 가격: {{currency}}{{displayCurrency price}}</p>
                  {{#if ../isOnground}}
                    <p><i>Product Collected On-Ground</i></p>
                  {{/if}}
                {{/if}}
              </td>
              {{#if isProductOfTrial}}
                <td style="text-align:right;padding:20px 10px 20px 0;">해당없음</td>
              {{else}}
                <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}{{displayCurrency totalPrice}}</td>
              {{/if}}
            {{/if}}
          {{/if}}
          {{#if isPlan}}
            <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;vertical-align: top;">
              <img src="{{PlanCountry.Plan.planImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
            </td>
            <td style="padding:20px 0;" colspan="2">
              <table style="width: 100%">
                <tr>
                  <td style="padding:20px 0;border-top:1px solid #eeeeee;">
                    <p style="font-weight:bold;color:#000;">{{PlanCountry.Plan.planTranslate.name}}</p>
                    <p>상품번호: {{PlanCountry.Plan.sku}}</p>
                    <p>수량: {{qty}}</p>
                    <p>제품 가격: {{currency}}{{displayCurrency unitPrice}}</p>
                    <p>{{currency}}{{displayCurrency price}}원이 매 {{PlanCountry.Plan.PlanType.subsequentChargeDuration}}마다 청구됩니다</p>
                    {{#if PlanCountry.Plan.isTrial}}
                      {{#if ../trialShippingDate}}
                        <p>구독 시작일: {{../trialShippingDate}}</p>
                      {{else}}
                        <p style="max-width: 300px;">구독 시작일: 트라이얼 킷을 수령 후 14일</p>
                      {{/if}}
                    {{else}}
                      <p>구독 시작일: {{../shippingDate}}</p>
                    {{/if}}
                  </td>
                  {{#if PlanCountry.Plan.isTrial}}
                    <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">{{currency}}0.00</td>
                  {{else}}
                    <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">{{currency}}{{totalPrice}}</td>
                  {{/if}}
                </tr>
                {{#each deliveryDetails}}
                <tr>
                  <td style="padding:20px 0;border-top:1px solid #eeeeee;">
                    {{#each productNames}}
                    <p>{{productName}} ({{qty}})</p>
                    {{/each}}
                  </td>
                  <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">
                    {{#if isFirst}}
                      {{#if isFirstTrial}}
                        <p style="font-weight:bold;color:#000;">다음 배송일</p>
                      {{else}}
                        <p style="font-weight:bold;color:#000;">첫 배송</p>
                      {{/if}}
                    {{/if}}
                    {{#if notFirst}}
                      {{#if isTrial}}
                        <p style="font-weight:bold;color:rgb(65, 64, 64);">첫 배송</p>
                      {{else}}
                        <p style="font-weight:bold;color:rgb(65, 64, 64);">3개월에 한번</p>
                      {{/if}}
                    {{/if}}
                  </td>
                </tr>
                {{/each}}
              </table>
            </td>
          {{/if}}
        </tr>
        {{/each}}
      </table>
    </td>
  </tr>
  <tr style="font-size:14px;background-color: #FAFAFA;color: #606060">
    <td style="padding:0 20px;">
      <table style="width:100%">
        <tr style="border-top:1px solid #eeeeee;">
          <td style="text-align: right;padding:20px 0;">
            <p>합계</p>
            <p>할인</p>
            <p>소계</p>
            <p>배송비</p>
            {{#if hasTaxAmount}}
              <p>총 합계 (세금 제외)</p>
            {{/if}}
          </td>
          <td style="text-align: right;padding-right:10px;width:100px;padding:20px 10px;">
            <p>{{Receipt.currency}}{{displayCurrency Receipt.originPrice}}</p>
            {{#if hasDiscount}}
              <p>{{Receipt.currency}}{{displayCurrency Receipt.discountAmount}}</p>
            {{else}}
              <p>{{Receipt.currency}}0.00</p>
            {{/if}}
            <p>{{Receipt.currency}}{{displayCurrency Receipt.subTotalPrice}}</p>
            {{#if hasShippingFee}}
              {{Receipt.currency}}{{displayCurrency Receipt.shippingFee}}
            {{else}}
              무료
            {{/if}}
            {{#if hasTaxAmount}}
              <p>{{Receipt.currency}}{{displayCurrency Receipt.taxAmount}}</p>
            {{/if}}
          </td>
        </tr>
        <tr style="border-top:1px solid #eeeeee;border-bottom:1px solid #eeeeee;">
          <td style="text-align: right;padding:20px 0;">
            {{#if Country.includedTaxToProduct}}
              <p>총액 (세금 포함)</p>
            {{else}}
              <p>총액</p>
            {{/if}}
          </td>
          <td style="text-align: right;padding-right:10px;width:100px;padding:20px 10px;">
            <p>{{Receipt.currency}}{{displayCurrency Receipt.totalPrice}}</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px;">
      <p style="font-weight:bold;color:#000;margin-top:10px!important;">결제수단</p>
      {{#if isPayByStripe}}
        <p>신용/직불 카드</p>
        <p>카드 번호 {{Receipt.last4}}</p>
      {{/if}}
      {{#if isPayByIpay88}}
        <p>iPay88</p>
      {{/if}}
      {{#if isPayByCash}}
        <p>현금</p>
      {{/if}}
      {{#if hasShippingAddress}}
        <p style="font-weight:bold;color:#000;margin-top:20px!important;">배송 정보: 배송주소</p>
        <p>{{DeliveryAddress.firstName}} {{DeliveryAddress.lastName}}</p>
        <p>{{DeliveryAddress.address}},{{#if DeliveryAddress.city}}&nbsp;{{DeliveryAddress.city}},{{/if}}{{#if DeliveryAddress.portalCode}}&nbsp;{{DeliveryAddress.portalCode}},{{/if}}&nbsp;{{DeliveryAddress.state}}</p>
        <p>전화번호: {{DeliveryAddress.contactNumber}}</p>
      {{/if}}
      {{#if hasBillingAddress}}
        <p style="font-weight:bold;color:#000;margin-top:20px!important;">배송 정보: 결제 주소</p>
        <p>{{BillingAddress.firstName}} {{BillingAddress.lastName}}</p>
        <p>{{BillingAddress.address}},{{#if DeliveryAddress.city}}&nbsp;{{BillingAddress.city}},{{/if}} {{#if BillingAddress.portalCode}}&nbsp;{{BillingAddress.portalCode}},{{/if}}&nbsp;{{BillingAddress.state}}</p>
        <p>전화번호: {{BillingAddress.contactNumber}}</p>
      {{/if}}
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      {{!-- {{#if isEcommerce}}
        {{#if isNewUser}}
        <p style="margin-bottom:30px!important">
          <a href="{{link}}" style="color:red;">Set up a password</a> to activate your account, and save 10% off your next purchase and ordering your shaving solutions will be much, much simpler.
        </p>
        <div style="width:100%;margin-top: 36px;margin-bottom: 36px;text-align:center;">
          <a href="{{link}}" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">SET UP PASSWORD</a>
        </div>
        {{/if}}
      {{/if}} --}}
      {{#if orderConfirmed}}
        <p>
          이 주문명세서는 자동으로 생성되었으며 서명하실 필요가 없습니다. 해당 메일을 구매증거로 보관해주시기 부탁드립니다. 신용카드를 이용해 결제를 하신 경우 은행 거래내역에 'S2U AppCo'로 결제된 것으로 표시됩니다.<br>
          Appco Sdn Bhd는 Shaves2U 인증 소매업체입니다.
        </p>
      {{/if}}
      {{!-- {{#if orderCompleted}}
        <p>
          Please keep this email as proof of purchase.<br>
          Purchases via credit card will appear as payment to ‘S2U AppCo’ on your bank statement. Appco Sdn Bhd is an authorised Shaves2U retailer.
        </p>
        <p>Enjoyed shopping with us? Tell a friend!</p>
      {{/if}} --}}
    </td>
  </tr>
</table>