<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td style="background-color:#FAFAFA;">
      <div style="max-width: 515px;margin: 0 auto 60px;padding:0 20px">
        <h1 style="font-size: 24px;font-weight: 800;letter-spacing: 0.05em;font-family: Helvetica,Arial,sans-serif;margin: 40px 0 20px 0;color: #333333;text-align:center;">비밀번호를 잊으셨나요? 괜찮습니다!</h1>
        <p style="text-align: center;margin-bottom:20px!important;">
          {{firstName}} 안녕하세요. 
        </p>
        <p style="text-align: center;">
          S2U 계정 <span>{{email}}</span>의 새 비밀번호를 설정해야 하는군요! 아래 버튼을 클릭해 재설정하세요. 
        </p>
        <p style="text-align: center;margin-top: 20px;">
          재설정 요청을 하지 않으셨다면 계정 보안 설정 확인이 <a href="https://shaves2u.com/help?utm_source=mandrill&utm_medium=email&utm_campaign=_{{countryCode}}_forgotpassword&utm_content=S2U_html_forgotpassword&utm_term=_forgotpassword_web">필요하다고 알려주세요</a>.  
        </p>
        <div style="margin: 40px 0 23px 0;height:48px;text-align: center;">
          <a href="{{link}}" style="max-width: 246px;min-width: 220px;height: 48px;background: #fe5000;text-align: center;padding: 15px 15px;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">비밀번호 재설정하기</a>
        </div>
      </div>
    </td>
  </tr>
</table>