<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      <p style="margin-bottom:20px!important;">{{firstName}} 안녕하세요, </p>
      <p style="margin-bottom:20px!important;">
        장바구니에 이 제품을 남기셨습니다. 
      </p>
      <p style="margin-bottom:20px!important;">
        괜찮아요! 아래 버튼을 클릭하셔 주문을 확인하시거나 구매를 완료해주세요. 
      </p>
      <p style="margin-bottom:20px!important;">
        기술적 어려움으로 주문을 완료할 수 없었거나 도움이 필요하면 help.kr@shaves2u.com 으로 문의해주세요.
      </p>
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px;">
      <table style="width:100%;">
        <tr style="border-top:1px solid #eeeeee;">
          <td style="padding:20px 0 10px 0">제품</td>
          <td style="padding:20px 0 10px 0"></td>
          <td style="text-align:right;padding:20px 0 10px 0">합계</td>
        </tr>
        {{#each cartDetails}}
        <tr style="border-top:1px solid #eeeeee;">
            <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
              <img src="{{image.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
            </td>
            <td style="padding:20px 0;">
              <p style="font-weight:bold;color:#000;">{{translate.name}}</p>
              <p>상품번호: {{sku}}</p>
              <p>수량: {{qty}}</p>
              <p>제품 가격: {{currency}}{{displayCurrency price}}</p>
            </td>
            <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}{{displayCurrency totalPrice}}</td>
        </tr>
        {{/each}}
      </table>
    </td>
  </tr>
  <tr>
    <td style="text-align: right;">
      <a href="{{link}}" style="max-width: 246px;min-width: 220px;height: 48px;background: #fe5000;text-align: center;padding: 15px 15px;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;margin-right: 20px;">주문 계속하기</a>
    </td>
  </tr>
</table>