<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding-top: 0 20px;text-align: center ;">
      <div style="max-width: 515px;margin: 0 auto 30px;padding:0 20px">
        <h1 style="font-size: 24px;font-weight: 800;letter-spacing: 0.05em;font-family: Helvetica,Arial,sans-serif;margin: 40px 0 20px 0;color: #333333;text-align:center;">Your Shave Plan has been cancelled!</h1>
        <p style="text-align: center">
          Hi {{firstName}},
        </p>
        <p style="text-align: center">This e-mail has been sent to you to confirm the cancellation of your {{plan-name}} subscription and to assure you that your credit card will no longer be charged.
        </p>
        <p style="margin-bottom:30px!important">To start a new Shave Plan, click the button below. You can also drop us an e-mail at <a href="mailto:help@shaves2u.com">help@shaves2u.com</a> for any enquiries.</p>
        <div style="width:100%;margin: 36px 0;text-align:center;">
          <a href="https://shaves2u.com/?utm_source=mandrill&utm_medium=email&utm_campaign=_{{countryCode}}_subcancel&utm_content=S2U_html_subcancel&utm_term=_subcancel_web" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">CREATE NEW SHAVE PLAN</a>
        </div>
        <p style=" margin-bottom:30px!important;">
          Sincerely,<br>
          Shaves2U
        </p>
    </td>
  </tr>
</table>