<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding-top: 0 20px;text-align: center ;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <div style="max-width: 515px;margin: 0 auto 30px;padding:0 20px">
        <p style="margin-top: 20px;">
          Kindly see attached Daily Subscribers Report on Shaves2u.com for {{date}}.
        </p>
        <p style="margin-top: 20px;"> 
          This is a system generated email.
        </p>
      </div>
    </td>
  </tr>
</table>