<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px 20px 0 20px;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <p>{{displayName}} 안녕하세요, </p>
    </td>
  </tr>
  {{!-- {{#if orderConfirmed}} --}}
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px 20px 0 20px;">
        <!-- BEGIN MODULE: BODY CONTENT // -->
        {{#if isOffline}}
          <p>체험 키트 주문을 <strong>{{ receiveDate }}</strong>에 받았습니다. 기다리실 고객님을 위해 최대한 빠르게 3 영업일 내 드리기 위해 노력하고 있습니다. </p>
          <p style="padding-top: 20px;">체험 키트는 다음 상품으로 구성됩니다. </p>
        {{else}}
          <p>고객님께서 주문해주신 체험 키트 주문을 <strong>{{ receiveDate }}</strong>에 받았습니다. 기다리실 고객님을 위해 최대한 빠르게 3 영업일 내 드리기 위해 노력하고 있습니다. </p>
          <p style="padding-top: 20px;">체험 키트 구성은 다음과 같습니다. </p>
        {{/if}}
      </td>
    </tr>
    <!-- table order detail -->
    <tr style="font-size:14px;">
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px 20px 0 20px;">
        <table style="width:100%;">
          <tr style="border-top:1px solid #eeeeee;">
            <td style="padding:20px 0 10px 0">제품</td>
            <td style="padding:20px 0 10px 0"></td>
            <td style="text-align:right;padding:20px 0 10px 0">합계</td>
          </tr>
          {{#each orderDetail}}
            {{#if isProduct}}
              {{#if isFreeProduct}}
                <tr style="border-top:1px solid #eeeeee;">
                  <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                    <img src="{{ProductCountry.Product.productImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
                  </td>
                  <td style="padding:20px 0;">
                    <p style="font-weight:bold;color:#000;">{{ProductCountry.Product.productTranslate.name}}</p>
                    <p>상품번호: {{ProductCountry.Product.sku}}</p>
                    <p>수량: {{qty}}</p>
                    <p>제품 가격: {{currency}}0.00</p>
                  </td>
                  <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}0.00</td>
                </tr>
              {{else}}
                <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                  <img src="{{ProductCountry.Product.productImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
                </td>
                <td style="padding:20px 0;">
                  <p style="font-weight:bold;color:#000;">{{ProductCountry.Product.productTranslate.name}}</p>
                  <p>상품번호: {{ProductCountry.Product.sku}}</p>
                  <p>수량: {{qty}}</p>
                  <p>세금코드: {{taxCode}}</p>
                  <p>제품 가격: {{currency}}{{displayCurrency price}}</p>
                </td>
                <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}{{displayCurrency totalPrice}}</td>
              {{/if}}
            {{/if}}
            {{#if isPlan}}
              <tr style="border-top:1px solid #eeeeee;">
                <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                  <img src="{{PlanCountry.Plan.planImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
                </td>
                <td style="padding:20px 0;">
                  <p style="font-weight:bold;color:#000;">{{PlanCountry.Plan.planTranslate.name}}</p>
                  <p>상품번호: {{PlanCountry.Plan.sku}}</p>
                  <p>수량: {{qty}}</p>
                  <p>제품 가격: {{currency}}0.00</p>
                </td>
                <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}0.00</td>
              </tr>
            {{/if}}
          {{/each}}
          {{!-- {{#each planTrialProducts}}
          <tr style="border-top:1px solid #eeeeee;">
            <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
              <img src="{{imgUrl}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
            </td>
            <td style="padding:20px 0;">
              <p style="font-weight:bold;color:#000;">{{productName}}</p>
              <p>상품번호: {{ProductCountry.Product.sku}}</p>
              <p>Quantity: {{qty}}</p>
              <p>Unit Price: {{currency}}{{displayCurrency ProductCountry.sellPrice}}</p>
            </td>
            <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}0.00</td>
          </tr>
          {{/each}} --}}
        </table>
      </td>
    </tr>
    {{!-- {{#if isOffline}} --}}
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px 20px 0 20px;">
        <!-- BEGIN MODULE: BODY CONTENT // -->
        {{!-- <p style="margin-bottom:30px!important">
          Remember, your Shave Plan officially begins on {{ nextReceiveDate }}, where you will receive.
          {{#each planDetails}}
            {{qty}} x {{productName}} ({{ProductCountry.Product.sku}})
          {{/each}}
          for every {{periodTime}} at {{Country.currencyDisplay}}{{pricePerCharge}}
        </p> --}}
        <p style="margin-bottom:20px!important">
          체험 키트에는 프리미엄 손잡이 팩, 선택하신 면도날, 면도크림이 들어있습니다. 멋진 면도를 완벽하게 시작할 수 있습니다. 
        </p>
        {{#if nextReceiveDate}}
          <p>
            선택을 변경 또는 확인하고 싶으면 <a href="{{linkDashboard}}">계정 대시보드</a>로 가서 쉐이브플랜을 <strong>{{ nextReceiveDate }}</strong> 전까지 수정해주세요. 
          </p>
        {{else}}
          <p>
            구독 옵션을 변경하거나 구독 옵션을 확인하시려면 트라이얼 킷을 수령하시고 14일 이내에 고객님의 <a href="{{linkDashboard}}">계정정보</a>에서 구독정보를 수정해주세요.
          </p>
        {{/if}}
      </td>
    </tr>
    {{!-- {{/if}} --}}
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
        {{#if isOffline}}
          <p>
            계정을 만드셨나요? 계정은 간단하게 만들 수 있으며 다음 구매 시 <strong>10%</strong> 할인받을 수 있습니다
          </p>
          <p style="width:100%;margin: 36px 0 20px 0;text-align:center;">
            <a href="{{link}}" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">계정 만들기</a>
          </p>
        {{else}}
          {{!-- <p style="width:100%;margin: 36px 0 20px 0;text-align:center;">
            <a href="{{link}}" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">REVIEW MY SHAVE PLAN</a>
          </p> --}}
        {{/if}}
      </td>
    </tr>
  {{!-- {{/if}}
  {{#if orderDelivering}}
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
        <!-- BEGIN MODULE: BODY CONTENT // -->
        <p>The Shaves2U products you ordered are now on their way to you!</p>
        </td>
    </tr>
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
        <p>Find out exactly where your delivery is with this tracking number* {{deliveryId}} or just click the button below.</p>
      </td>
    </tr>
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
        <div style="width:100%;margin-top: 36px;text-align:center;">
          <a href="{{link}}" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">Track your order</a>
        </div>
      </td>
    </tr>
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
        <table style="width:100%;">
          <tr style="border-top:1px solid #eeeeee;">
            <td style="padding:20px 0 10px 0">Delivery Details</td>
          </tr>
          <tr style="border-top:1px solid #eeeeee;font-size: 14px;">
            <td style="padding:20px 0;border-top:1px solid #eeeeee;">Delivered By</td>
            <td style="padding:20px 0;border-top:1px solid #eeeeee;text-align:right;color:#000;">{{carrierAgent}}</td>
          </tr>
          <tr style="border-top:1px solid #eeeeee;font-size: 14px;">
            <td style="padding:20px 0;border-top:1px solid #eeeeee;">Tracking Number</td>
            <td style="padding:20px 0;border-top:1px solid #eeeeee;text-align:right;color:#000;">{{deliveryId}}</td>
          </tr>
      </td>
    </tr>
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
        <p>* It may take up to 24 hours for tracking data to be available.</p>
        </td>
    </tr>
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
        <p>{{displayId}} {{createdAt}} {{nextReceiveDate}}</p>
      </td>
    </tr>
  {{/if}}

  {{#if orderCompleted}}
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
        <!-- BEGIN MODULE: BODY CONTENT // -->
        <p>We’ve received confirmation that your Shaves2U products have been delivered and we hope you continually enjoy the great shaves and savings we offer.</p>
        </td>
    </tr>
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
        <p>However, if you haven’t received your order, do let us know at help@shaves2u.com</p>
      </td>
    </tr>
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
        <p>{{displayId}} {{createdAt}} {{nextReceiveDate}}</p>
      </td>
    </tr>
  {{/if}} --}}
</table>
