<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px 20px 0 20px;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <p>안녕하세요 {{displayName}}님,</p>
    </td>
  </tr>
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px 20px 0 20px;">
        <!-- BEGIN MODULE: BODY CONTENT // -->
        {{#if isOffline}}
          <p>Your journey to a fuzz-free shave starts on <strong>{{ receiveDate }}</strong>.</p>
          <p style="padding-top: 20px;">Here’s what you can expect to find in your parcel.</p>
        {{else}}
          <p><strong>{{ receiveDate }}</strong> 에 주문해주신 Trial Kit 주문을 접수했습니다.</p>
          <p>고객님의 기대에 부응하고자 최선을 다해 상품을 준비하고 있습니다. 주문하신 상품은 2018년 10월에 도착할 예정입니다.</p>
          <p style="padding-top: 20px;">고객님의 Trial Kit은 다음 제품들로 구성됐습니다.</p>
        {{/if}}
      </td>
    </tr>
    <!-- table order detail -->
    <tr style="font-size:14px;">
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px 20px 0 20px;">
        <table style="width:100%;">
          <tr style="border-top:1px solid #eeeeee;">
            <td style="padding:20px 0 10px 0">제품</td>
            <td style="padding:20px 0 10px 0"></td>
            <td style="text-align:right;padding:20px 0 10px 0">합계</td>
          </tr>
          {{#each orderDetail}}
            {{#if isProduct}}
              {{#if isFreeProduct}}
                <tr style="border-top:1px solid #eeeeee;">
                  <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                    <img src="{{ProductCountry.Product.productImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
                  </td>
                  <td style="padding:20px 0;">
                    <p style="font-weight:bold;color:#000;">{{ProductCountry.Product.productTranslate.name}}</p>
                    <p>상품번호: {{ProductCountry.Product.sku}}</p>
                    <p>수량: {{qty}}</p>
                    <p>제품 가격: {{currency}}0.00</p>
                  </td>
                  <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}0.00</td>
                </tr>
              {{else}}
                <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                  <img src="{{ProductCountry.Product.productImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
                </td>
                <td style="padding:20px 0;">
                  <p style="font-weight:bold;color:#000;">{{ProductCountry.Product.productTranslate.name}}</p>
                  <p>상품번호: {{ProductCountry.Product.sku}}</p>
                  <p>수량: {{qty}}</p>
                  <p>세금코드: {{taxCode}}</p>
                  <p>제품 가격: {{currency}}{{displayCurrency price}}</p>
                </td>
                <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}{{displayCurrency totalPrice}}</td>
              {{/if}}
            {{/if}}
            {{#if isPlan}}
              <tr style="border-top:1px solid #eeeeee;">
                <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                  <img src="{{PlanCountry.Plan.planImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
                </td>
                <td style="padding:20px 0;">
                  <p style="font-weight:bold;color:#000;">{{PlanCountry.Plan.planTranslate.name}}</p>
                  <p>상품번호: {{PlanCountry.Plan.sku}}</p>
                  <p>수량: {{qty}}</p>
                  <p>제품 가격: {{currency}}0.00</p>
                </td>
                <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}0.00</td>
              </tr>
            {{/if}}
          {{/each}}
        </table>
      </td>
    </tr>
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px 20px 0 20px;">
        <p style="margin-bottom:20px!important">
          Trial Kit은 프리미엄 핸들, 선택하신 면도날, 쉐이빙 크림이 포함되어있습니다. 이전에 경험하신 면도 보다 나은 경험을 위해 준비했습니다.
        </p>
        <p>
          주문내역을 확인하시려면 <a href="{{linkDashboard}}">계정 정보</a>에서 확인하시면 됩니다.
        </p>
      </td>
    </tr>
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
        {{#if isOffline}}
          <p>
            Have you setup your account yet? It’s easy, and you receive <strong>10% OFF</strong> your next purchase!
          </p>
        {{/if}}
      </td>
    </tr>
</table>
