<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <p>{{displayName}} 안녕하세요,</p>
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <p>요청사항을 {{ requestOn }}에 받았습니다. 쉐이브플랜은 다음과 같이 변경됐습니다: </p>
    </td>
  </tr>
  <!-- table order detail -->
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <p style="margin-bottom:30px!important">
        {{#if PlanCountry}}
          {{#each PlanCountry.planDetails}}
            {{qty}} x {{productName}} ({{ProductCountry.Product.sku}})
          {{/each}}은 {{currency}}{{displayCurrency pricePerCharge}}으로 {{periodTime}}로 진행됩니다. 
          {{!-- Every {{periodTime}} for
          {{#each PlanCountry.planDetails}}
            {{qty}} x {{productName}} ({{ProductCountry.Product.sku}})
          {{/each}} at {{currency}}{{displayCurrency pricePerCharge}} --}}
        {{/if}}
        {{#if CustomPlan}}
          {{#each CustomPlan.customPlanDetail}}
            {{description}}
          {{/each}}은 {{currency}}{{displayCurrency pricePerCharge}}으로 {{periodTime}}로 진행됩니다. 
        {{/if}}
      </p>
      {{#if nextDeliverDate}}
        <p style="margin-bottom:30px!important">쉐이브플랜은 {{ nextDeliverDate }}에 시작됩니다. </p>
      {{else}}
        {{!-- <p style="margin-bottom:30px!important">Your new Shave Plan will start between {{ nextDeliverDate1 }} - {{ nextDeliverDate2 }}</p> --}}
        <p style="margin-bottom:30px!important">새로운 정기구독이 {{ nextDeliverDate1 }} - {{ nextDeliverDate2 }} 사이에 시작될 예정입니다.</p>
      {{/if}}
      <p>매일 멋진 면도를 해보세요! </p>
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      <p>
        쉐이브플랜 내용은 <a href="{{link}}">계정 대시보드</a>에서 확인할 수 있습니다.
      </p>
      <p style="width:100%;margin-top: 36px;text-align:center;">
        {{!-- <a href="https://shaves2u.com/products?utm_source=mandrill&utm_medium=email&utm_campaign=_{{countryCode}}_productsample&utm_content=S2U_html_shopnow&utm_term=_productsample_web" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">SHOP FOR OTHER PRODUCTS</a> --}}
        <a href="{{link}}" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">쉐이브플랜 보기</a>
      </p>
    </td>
  </tr>
</table>
