<ng-container [formGroup]="planOptionTranslateForm">
  <div class="card mb-2" *ngFor="let translate of planOptionTranslateForm['controls']; let i=index">
    <div class="card-block" [formGroupName]="i">
      <button type="button" (click)="removeTranslate(i)" class="btn btn-default pull-right remove-faq-button" *ngIf="planOptionTranslateForm['controls'].length > 1">Remove</button>
      <div class="form-group" [ngClass]="!planOptionTranslateForm['controls'][i].controls.name.valid ? 'has-danger' : ''">
        <label><strong>Name(*)</strong></label>
        <input type="name" class="form-control" placeholder="Enter name" formControlName="name">
        <small class="form-text err_mess" *ngIf="planOptionTranslateForm['controls'][i].controls.name.hasError('required')">
          {{ 'msg.validation.required' | translate }}
        </small>
      </div>
      <div class="form-group" [ngClass]="!planOptionTranslateForm['controls'][i].controls.langCode.valid ? 'has-danger' : ''">
        <label class="form-control-label">Language (<span class="required">*</span>)</label>
        <div class="controls">
          <select class="form-control" id="select-langCode" name="langCode" formControlName="langCode">
            <option value="">- Select a language -</option>
            <option [value]="language | uppercase" *ngFor="let language of languageCodeList" >{{language | uppercase}}</option>
          </select>
          <small class="form-text err_mess" *ngIf="planOptionTranslateForm['controls'][i].controls.langCode.hasError('required')">
            {{ 'msg.validation.required' | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-secondary btn-sm mt-2" (click)="addTranslate()">Add translate</button>
</ng-container>