<div class="list-item mainWrap clearfix" *ngIf='!isloading'>
  <!-- Plan list -->
  <div class="list-row row">
    <h3 class="col-md-12 col-lg-12 heading text-center">{{ 'plan.plan_section.select_shave_plan' | translate }}</h3>
    <div class="list-contain col-md-12 col-12">
      <div class="box-body">
        <div class="block-items" *ngFor="let planType of planTypesName">
          <h2 class="block-heading" *ngIf="groupPlanTypes[planType][0]">{{ (planType !== 'Pay as you go') ? planType : 'trial.pay_as_you_go' | translate }}</h2>
          <ng-container *ngFor="let item of groupPlanTypes[planType]; let i = index;">
          <ul class="row no-gutters row-custom text-center">
            <li class="item item-info col-12 col-sm-6">
              <div class="image-contain image-center-with-border pull-left clickable" clickable>
                <div class="image-inner">
                  <div class="image" *ngIf="item.planImages">
                    <display-image [class]="'img-responsive list-item-image-contain'" [images]="item.planImages"></display-image>
                  </div>
                </div>
              </div>
              <div class="text-contain text-center-vertical pull-left">
                <div class="text-inner" *ngIf="item.planTranslate">
                  <h4 class="plan-name clickable"><strong>{{item.planTranslate | translatePipe: 'name'}}</strong></h4>
                  <strong class="sku">{{item.sku}}</strong>
                  <div class="text-inner" *ngIf="item.planCountry">
                    <!--<span class="item-price">{{ item.planCountry[0].sellPrice / item.PlanType.totalChargeTimes | smsCurrency }} </span>-->
                    <span class="item-save" *ngIf="item.planCountry[0].savePercent != '0.00'">Save {{ item.planCountry[0].savePercent }}%</span>
                    <span class="item-price">
                      {{ 'review.item_price' | translate }}:
                      <label class="line-through" *ngIf="item.planCountry[0].savePercent && item.planCountry[0].savePercent != '0.00'"> {{ item.planCountry[0].actualPrice | smsCurrency }}</label>
                      <label> {{ (item.planCountry[0].pricePerCharge) | smsCurrency }}</label>
                    </span>
                    <span class="item-price-charge-time">{{ item.planCountry[0].pricePerCharge | smsCurrency }} 
                      {{ 'review.billed_every' | translate }} 
                      {{ item.PlanType.subsequentChargeDuration }}
                    </span>
                  </div>
                </div>
              </div>
            </li>
            <li class="item item-quantity col-12 col-sm-6"  *ngIf="currentUser.Country.isBaEcommerce && currentUser.Country.isBaStripe">
              <div class="text-contain text-center-vertical contain-full">
                <div class="text-inner">
                  <button class="btn btn-primary shave2u-btn-primary btn-block btn-apply-promo" (click)="addToCart(item, planType, $event)"
                   [disabled]="item.disableSelect">{{ 'btn.select' | translate }}</button>
                  <!--<div class="quantity-action-tool">
                    <div class="btn-minus" (click)="minusQuatity(i, planType)"><span class="fa fa-minus"></span></div>
                    <input type="number" name="qty" [(ngModel)]="item.qty" #qty="ngModel" (change)="changeQuatity(i, planType)"/>
                    <div class="btn-plus" (click)="plusQuatity(i, planType)"><span class="fa fa-plus"></span></div>
                  </div>-->
                </div>
              </div>
            </li>
          </ul>
          </ng-container>
        </div>
        
      </div>
    </div>

    <!-- action -->
    <div class="group-btn" *ngIf="currentUser.Country.isBaEcommerce && currentUser.Country.isBaStripe">
        <button (click)="nextTo()" class="btn btn-primary shave2u-btn-primary btn-nextTo"
          [attr.disabled]="(!cart || (cart && cart.length < 1)) ? true : null">{{ 'btn.next' | translate }}</button>
    </div>

  </div>
  <!-- End plan list -->
      
</div>