@media (max-width: 991px) {
	#user-order-list {
		display: none;
	}
	#user-order-list-mobile {
		display: block;
		.block-current-order,
		.block-history-order {
			padding: 0 !important;
			margin: 0 0 20px !important;
			.block-border {
				padding-right: 0;
				padding-left: 0;
				:last-child {
					border-bottom: none !important;
				}
				.group-order {
					.group-order-date {
						background-color: #cccccc;
						border: 1px #bbbbbb solid;
						width: calc(100% + 30px);
						padding-left: 10px;
						line-height: 40px;
						text-transform: uppercase;
						font-weight: bold;
						.navbar-toggler {
							// left: 22px;
							width: 15px;
							// height: 15px;
							// top: calc(50% - 10px);
							border-radius: 0;
							border: none;
							padding: 0;
							margin: auto;
							margin-right: 20px;
							margin-top: 9px;
							float: right;
							span.icon-bar{
								display: -webkit-box;
								margin: 4px 0;
								height: 2px;
								background: #000;
								width: 100%;
							}
							&:focus {
									outline: none;
							}
						}
						&:not(.collapsed) {
							.navbar-toggler {
								background: none;
								border: none;
								margin-top: 12px;
				
								span.icon-bar {
									transition: all 0.4s ease;
									-webkit-transition: all 0.2s ease;
								}
				
								span.icon-bar:nth-child(1) {
									transform: rotate(45deg) translateY(2px) translateX(2px);
									-ms-transform: rotate(45deg) translateY(2px) translateX(2px);
									/* IE 9 */
									-webkit-transform: rotate(45deg) translateY(2px) translateX(2px);
									/* Chrome, Safari, Opera */ }
								span.icon-bar:nth-child(2) {
									display: none;
								}
									/* Chrome, Safari, Opera */
								span.icon-bar:nth-child(3) {
									transform: rotate(-45deg) translateY(-2px) translateX(2px);
									-ms-transform: rotate(-45deg) translateY(-2px) translateX(2px);
									/* IE 9 */
									-webkit-transform: rotate(-45deg) translateY(-2px) translateX(2px);
									/* Chrome, Safari, Opera */ 
								}
							}
						}
					}
					.group-order-item {
						width: 100%;
					}
				}
				ul {
					display: inline-table;
					width: 100%;
					padding-left: 20px;
					padding-top: 16px;
					padding-bottom: 18px;
					margin-bottom: 0;
					margin-left: 0;
					border-bottom: 1px solid #cccccc;
					li {
						display: flex;
						.row-1 {
							width: 31%;
							min-width: 90px;
						}
						.date {
							text-transform: uppercase;
						}
						.order_id {
							font-weight: bold;
						}
						.items {
						}
						.price {
						}
						.status {
							margin-top: 18px;
						}
						.detail {
							padding-right: 5px;
							margin-top: 18px;
							text-transform: uppercase;
							color: #FD641F;
							right: 0;
							// position: absolute;
						}
					}
				}
				.processing {
					color: #FD641F;
				}
				.background-color-gray {
					background-color: #FBFBFB;
				}
				.pagging {
					text-align: center;
					ul {
						display: inline-flex;
						border-bottom: none !important;
						width: auto;
						// padding-left: calc((100% - 185.5px)/2);
						padding-left: 0;
						.pagging-arrow-left {
							margin-right: 25px;
							font-size: 19px;
							color: #ececec;
						}
						.pagging-arrow-right {
							margin-right: 0;
							font-size: 19px;
							color: #ececec;
						}
						.pagging-active {
							color: #FD641F;
						}
						li {
							margin-right: 21px;
							font-size: 14px;
							margin-top: auto;
							margin-bottom: auto;
						}
					}
				}
			}
			app-pagination {
				margin: auto;
				padding-top: 20px;
				width: 100%;
			}
		}
	}

	.empty-order {
		padding-left: 0;
    padding-top: 65px;
		p {
			font-size: 25px;
      line-height: 30px;
			margin-bottom: 25px;
		}
	}
}
