<!-- layout for Web -->
<div id="user-order-list" *ngIf="activeOrderList && historyOrders.rows && historyOrders.rows.length > 0">
  <div class="row block-history-order">
    <!-- <div class="col-lg-12">
        <h3 class="text-center mb-4">{{ 'order.list.header_history' | translate }}</h3>
    </div> -->
    <div class="col-lg-12 col-md-12 col-xl-12 block-list block-border">
        <table class="table table-hover" *ngIf="!isloading">
          <thead>
            <tr class="row">
              <th class="date">{{ 'order.list.date' | translate }}</th>
              <th class="text-center order_id">{{ 'order.list.order_id' | translate }}</th>
              <th class="text-center items">{{ 'order.list.items' | translate }}</th>
              <th class="text-center price">{{ 'order.list.price' | translate }}</th>
              <th class="text-center name">{{ 'order.list.name' | translate }}</th>
              <th class="text-center status">{{ 'order.list.status' | translate }}</th>
              <th class="text-center delivery">{{ 'summary.order.delivery' | translate }}</th>
              <th class="text-center detail"></th>
            </tr>
          </thead>
          <div *ngFor="let row of historyOrders.rows" class="row group-order">
            <div class="row group-order-date" data-toggle="collapse" [attr.data-target]="'#web-' + row.createdAt" aria-controls="navbarCollapse" aria-expanded="false">
              {{ row.createdAt | date: 'EEE MMM dd' }}
              <div class="navbar-toggler">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </div>
            </div>
            <tbody class ="group-order-item show" aria-expanded="false" id="{{ 'web-' + row.createdAt }}">
              <tr *ngFor="let item of row.items; let i = index;" class="row" [ngClass]="i%2 !== 0 ? 'background-color-gray' : ''">
                <td class="date">
                  {{ item.createdAt | date: 'dd MMM yy' }}
                </td>
                <td class="text-center order_id">
                  {{ item.id | orderNo: item.Country.code }}
                </td>
                <td class="text-center items">
                  {{ item.orderDetail.length }}
                </td>
                <td class="text-center price">
                  {{ item.Receipt.currency }}{{item.Receipt.totalPrice}}
                </td>
                <td class="text-center name">
                  {{ item.fullName }}
                </td>
                <td class="text-center status" [ngClass]="item.states === 'Processing' ? 'processing' : ''">
                  <div class="box-flex">
                    <div class="flex" *ngIf="item.states === 'On Hold'">{{ 'msg.status.on_hold' | translate }}</div>
                    <div class="flex" *ngIf="item.states === 'Processing'">{{ 'msg.status.process' | translate }}</div>
                    <div class="flex" *ngIf="item.states === 'Payment Received'">{{ 'msg.status.payment_received' | translate }}</div>
                    <div class="flex" *ngIf="item.states === 'Completed'">{{ 'msg.status.completed' | translate }}</div>
                    <div class="flex" *ngIf="item.states === 'Canceled'">{{ 'msg.status.canceled' | translate }}</div>
                    <div class="flex" *ngIf="item.states === 'Pending'">{{ 'msg.status.pending' | translate }}</div>
                    <div class="flex" *ngIf="item.states === 'Delivering'">{{ 'msg.status.delivering' | translate }}</div>
                    <!-- <a class="link-text-underline click-able" (click)="viewDetails(item.id, $event)">{{ 'order.list.link_view_details' | translate }}</a> -->
                  </div>
                </td>
                <td *ngIf="!item.subscriptionIds" class="text-center delivery">
                  {{ 'summary.order.yes' | translate }}
                </td>
                <td *ngIf="item.subscriptionIds && item.isDirectTrial" class="text-center delivery">
                  {{ 'summary.order.yes' | translate }}
                </td>
                <td *ngIf="item.subscriptionIds && !item.isDirectTrial" class="text-center delivery">
                  {{ 'summary.order.no' | translate }}
                </td>
                <td class="text-right detail">
                  <div class="status btn-detail-group">
                    <a class="btn btn-primary shave2u-btn-primary" (click)="viewDetails(item.id, item.Country.code, $event)">{{'btn.detail' | translate}}</a>
                  </div>
                  <!-- <div class="btn-cancle-group" *ngIf="( ( (item.states === 'On Hold' || item.states === 'Payment Received' || item.states === 'Processing') 
                    || (item.states === 'Completed' && !item.hasSubscription) ) && checkAllowToCancel(item.createdAt) )  || item.isTral">
                    <a class="btn btn-cancel-popup shave2u-btn-primary" (click)="cancelOrder(item)">{{'btn.cancel' | translate}}</a>
                  </div> -->
                  <div class="btn-cancle-group" *ngIf="(item.states === 'Completed' && !item.hasSubscription) && checkAllowToCancel(item.createdAt)">
                    <a class="btn btn-cancel-popup shave2u-btn-primary" (click)="cancelOrder(item)">{{'btn.cancel' | translate}}</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </div>
        </table>
      <!-- pagging -->
      <app-pagination *ngIf="totalItems > 10" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"></app-pagination>
    </div>
  </div>
</div>

<div class="empty-order text-center" *ngIf="historyOrders.rows && historyOrders.rows.length === 0 && !isLoading">
  <p>{{'order.list.empty_order' | translate}}</p>
  <button class="btn btn-primary shave2u-btn-primary" (click)="goToHome()">{{'order.list.shop_now' | translate}}</button>
</div>

<!-- layout for Mobile -->
<div id="user-order-list-mobile" *ngIf="activeOrderList && historyOrders.rows && historyOrders.rows.length > 0 && !isLoading">
  <div class="row block-history-order">
    <div class="col-lg-12 col-md-12 col-xl-12 block-list block-border">
      <div *ngFor="let row of historyOrders.rows" class="row group-order">
        <div class="group-order-date" data-toggle="collapse" [attr.data-target]="'#mob-' + row.createdAt" aria-controls="navbarCollapse" aria-expanded="false">
          {{ row.createdAt | date: 'EEE MMM dd' }}
          <div class="navbar-toggler">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div>
        </div>
        <div class ="group-order-item show" aria-expanded="false" id="{{ 'mob-' + row.createdAt }}">
          <ul class="row" *ngFor="let item of row.items; let i = index;" [ngClass]="i%2 !== 0 ? 'background-color-gray' : ''">
            <li class="item">
              <div class="order_id row-1">{{ 'order.list.order_id' | translate }}</div>
              <div class="order_id row-2">{{ item.id | orderNo: item.Country.code }}</div>
            </li>
            <li class="item">
              <div class="date row-1">{{ item.createdAt | date: 'dd MMM yy' }}</div>
              <div></div>
            </li>
            <li class="item">
              <div class="price row-1">{{ item.Receipt.currency }}{{item.Receipt.totalPrice}}</div>
              <div class="items row-2" *ngIf="item.orderDetail.length <= 1">{{ item.orderDetail.length }} {{ 'order.list.txt_item' | translate }}</div>
              <div class="items row-2" *ngIf="item.orderDetail.length > 1">{{ item.orderDetail.length }} {{ 'order.list.txt_items' | translate }}</div>
            </li>
            <li class="item">
              <div class="name row-1">{{ 'order.list.name' | translate }}:</div>
              <div class="name row-2">{{ item.fullName }}</div>
            </li>
            <li class="item">
              <div class="name row-1">{{ 'summary.order.delivery' | translate }}:</div>
              <div *ngIf="!item.subscriptionIds" class="name row-2">{{ 'summary.order.yes' | translate }}</div>
              <div *ngIf="item.subscriptionIds && item.isDirectTrial" class="name row-2">{{ 'summary.order.yes' | translate }}</div>
              <div *ngIf="item.subscriptionIds && !item.isDirectTrial" class="name row-2">{{ 'summary.order.no' | translate }}</div>
            </li>
            <li class="item">
              <div class="status row-1" *ngIf="item.states === 'On Hold'">{{ 'msg.status.on_hold' | translate }}</div>
              <div class="status row-1 processing" *ngIf="item.states === 'Processing'">{{ 'msg.status.process' | translate }}</div>
              <div class="status row-1" *ngIf="item.states === 'Payment Received'">{{ 'msg.status.payment_received' | translate }}</div>
              <div class="status row-1" *ngIf="item.states === 'Completed'">{{ 'msg.status.completed' | translate }}</div>
              <div class="status row-1" *ngIf="item.states === 'Canceled'">{{ 'msg.status.canceled' | translate }}</div>
              <div class="status row-1" *ngIf="item.states === 'Pending'">{{ 'msg.status.pending' | translate }}</div>
              <div class="status row-1" *ngIf="item.states === 'Delivering'">{{ 'msg.status.delivering' | translate }}</div>
              <!-- <div class="detail row-2 btn-cancle-group" *ngIf="( ( (item.states === 'On Hold' || item.states === 'Payment Received' || item.states === 'Processing') 
                || (item.states === 'Completed' && !item.hasSubscription) ) && checkAllowToCancel(item.createdAt) ) || item.isTral">
                <a class="btn btn-primary shave2u-btn-primary" (click)="cancelOrder(item)">{{'btn.cancel' | translate}}</a>
              </div> -->
            </li>
            <li class="item">
              <div class="status btn-detail-group">
                <a class="btn btn-primary shave2u-btn-primary" (click)="viewDetails(item.id, item.Country.code, $event)">{{'btn.detail' | translate}}</a>
              </div>
              <!-- <div class="detail row-2 btn-cancle-group" *ngIf="( ( (item.states === 'On Hold' || item.states === 'Payment Received' || item.states === 'Processing') 
                || (item.states === 'Completed' && !item.hasSubscription) ) && checkAllowToCancel(item.createdAt) ) || item.isTral">
                <a class="btn btn-cancel-popup shave2u-btn-primary" (click)="cancelOrder(item)">{{'btn.cancel' | translate}}</a>
              </div> -->
              <div class="detail row-2 btn-cancle-group" *ngIf="(item.states === 'Completed' && !item.hasSubscription) && checkAllowToCancel(item.createdAt)">
                <a class="btn btn-cancel-popup shave2u-btn-primary" (click)="cancelOrder(item)">{{'btn.cancel' | translate}}</a>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <!-- pagging -->
    <app-pagination *ngIf="totalItems > 10" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"></app-pagination>
  </div>
</div>