#user-order-list {
	.block-current-order,
	.block-history-order {
    // padding: 0 0 0 52px !important;
    // margin: -7px 0 20px !important;
		.page-header {
			font-size: 25px;
			border: none;
			margin: 0px 0px 0px;
		}
		padding: 0px 15px;
		margin: 0 0 20px;
    .block-border {
			.group-order {
				.group-order-date {
					background-color: #cccccc;
					border: 1px #bbbbbb solid;
					width: calc(100% + 30px);
					padding-left: 10px;
					line-height: 40px;
					text-transform: uppercase;
					font-weight: bold;
					.navbar-toggler {
						// left: 22px;
						width: 15px;
						// height: 15px;
						// top: calc(50% - 10px);
						border-radius: 0;
						border: none;
						padding: 0;
						margin: auto;
						margin-right: 20px;
						span.icon-bar{
							display: -webkit-box;
							margin: 4px 0;
							height: 2px;
							background: #000;
							width: 100%;
						}
						&:focus {
								outline: none;
						}
					}
					&:not(.collapsed) {
						.navbar-toggler {
							background: none;
							border: none;
			
							span.icon-bar {
								transition: all 0.4s ease;
								-webkit-transition: all 0.2s ease;
							}
			
							span.icon-bar:nth-child(1) {
								transform: rotate(45deg) translateY(2px) translateX(2px);
								-ms-transform: rotate(45deg) translateY(2px) translateX(2px);
								/* IE 9 */
								-webkit-transform: rotate(45deg) translateY(2px) translateX(2px);
								/* Chrome, Safari, Opera */ }
							span.icon-bar:nth-child(2) {
								display: none;
							}
								/* Chrome, Safari, Opera */
							span.icon-bar:nth-child(3) {
								transform: rotate(-45deg) translateY(-2px) translateX(2px);
								-ms-transform: rotate(-45deg) translateY(-2px) translateX(2px);
								/* IE 9 */
								-webkit-transform: rotate(-45deg) translateY(-2px) translateX(2px);
								/* Chrome, Safari, Opera */ 
							}
						}
					}
				}
				.group-order-item {
					width: 100%;
				}
			}
			.date {
				width: 12%;
				text-transform: uppercase;
			}
			.order_id {
				width: 12.5%;
				word-wrap: none;
			}
			.items {
				width: 8%;
			}
			.price {
				width: 10%;
			}
			.name {
				width: 12%;
			}
			.status {
				width: 12%;
			}
			.delivery {
				width: 13%;
			}
			.detail {
				width: 13%;
				padding-right: 15px;
				text-transform: uppercase;
				color: #FD641F;
				display: flex;
			}
			.processing {
				color: #FD641F;
			}
      // border: 1px solid #d7d7d7;
			// padding: 30px 45px;
			thead {
				tr {
					th {
						border-top: none;
						border-bottom: 1px solid #eceeef;
					}
				}
			}
			tbody {
				.background-color-gray {
					background-color: #FBFBFB;
				}				
				tr {
          &:hover {
            background: none;
          }
					td {
						border-top: none;
						line-height: 28px;
						margin-bottom: 9px;
					}
				}
			}
    }
	}
	
	.btn-detail-group {
		width: auto !important;
		a {
			width: 100px;
		}
	}

  .btn-cancle-group {
    padding: 0;
    margin: auto;
		a {
			width: 100px;
		}
    button {
      max-width: 100%;
      max-height: 30px;
      padding: 0;
      margin: 0;
    }
	}
}

.empty-order {
  padding-left: 48px;
  padding-top: 58px;
  p {
    font-size: 25px;
    margin-bottom: 25px;
  }
}

#user-order-list-mobile {
	display: none;
}
	
.btn-detail-group {
	margin-right: 10px;
}


@import '_order-list-response.component';