<div class="row mx-0">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title float-left">Manage Products</h4>
        <a class="btn btn-secondary btn-sm float-right btn-cus" routerLink="/products/add" *ngIf="globalService.canCreate('products')">Add A Product</a>
        <br>
        <br>
      </div>
      <div class="content table-responsive table-full-width">
        <div class="row mx-0 mb-3">
          <!-- <div class="col-md-3">
            <label> &nbsp; </label>
            <select name="cities" class="selectpicker form-control" (change)="changePerPage($event)">
              <option [attr.value]="item" *ngFor="let item of ['50', '100', '150', '200']" [attr.selected]="item == options.get('limit') ? true : null">Show {{item}} per page</option>
            </select>
          </div> -->
          <!--<div class="col-md-3">
            <select name="cities" class="selectpicker form-control" (change)="sortByName($event.target.value)">
              <option value="ASC" [attr.selected]="options.get('orderBy') !== 'createdAt_DESC' ? true : null">Sort: A-Z</option>
              <option value="DESC" [attr.selected]="options.get('orderBy') == 'createdAt_DESC' ? true : null">Sort: Z-A</option>
            </select>
          </div>-->
          <div class="col-md-3">
            <label for="">Filter by Category</label>
            <select name="filterByProductType" class="selectpicker form-control" (change)="filterby('ProductTypeId', $event.target.value)">
              <option [value]="'all'">Show: All Products</option>
              <option [value]="productType.id" *ngFor="let productType of productTypes" [selected]="productType.id == options.get('ProductTypeId') ? true : null">{{productType.name}}</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="">Filter by Country</label>
            <select name="filterByCountry" class="selectpicker form-control" (change)="filterby('CountryId', $event.target.value)">
              <option [value]="'all'" [selected]="!options.get('CountryId')">All Countries</option>
              <option [value]="country.id" *ngFor="let country of countries" [selected]="country.id == options.get('CountryId') ? true : null">{{country.name}}</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="">Sort by Date</label>
            <select name="cities" class="selectpicker form-control" (change)="sortByDate($event.target.value)">
              <option value="ASC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) !== 'createdAt_DESC' ? true : null">Sort: Date, Oldest-Newest</option>
              <option value="DESC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) == 'createdAt_DESC' ? true : null">Sort: Date, Newest-Oldest</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="">Filter by Status</label>
            <select name="filterByProductType" class="selectpicker form-control" (change)="filterby('status', $event.target.value)">
              <option [value]="'all'">All Status</option>
              <option value="active" [attr.selected]="options.get('status') == 'active' ? true : null">Active</option>
              <option value="removed" [attr.selected]="options.get('status') == 'removed' ? true : null">Inactive</option>
            </select>
          </div>
        </div>
        <div class="row mx-0 mb-3">
          <!--
          <div class="col-md-3 filter-field mt-2"> 
            <label for="">Search by SKU</label>
            <input id="filterBySku" name="filterBySku" type="text" class="form-control" placeholder="Filter by SKU" [ngModel]="options.get('sku')"
              (input)="customizeFilterBy('sku', $event)">
          </div> -->
          <div class="col-md-6 filter-field mt-3">
            <label for="">Search</label>
            <input id="filterByS" name="filterByS" type="text" class="form-control" placeholder="Search by Name, SKU" [ngModel]="options.get('s')"
              (input)="customizeSearchBy('s', $event)">
          </div>
        </div>
        <!-- pagging -->
        <!--<div class="ml-2">-->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"
          [showing]="false"></pagination>
        <!--</div>-->
        <app-button-ai [active]="mutiaction" apikey="admin-products/change-status" [apivalue]="{'actionids':'productIds','actionstatus':'status'}"></app-button-ai>
        <!-- <table class="table table-shaves mt-2" matSort (matSortChange)="sortData($event)"> -->
        <table class="table table-shaves mt-2">
          <thead>
            <tr>
              <th width="50" class="text-center">
                <input type="checkbox" id="all" value="all" idchecked="" (change)="checkboxchecked($event ,'all')" class="actionactive checkboxall">
              </th>
              <th class="text-center th-thumb">Thumb</th>
              <th (click)="tableHearSort($event, productList.rows, 'name','string', 'productTranslate')" class="table-sort">Name</th>
              <th (click)="tableHearSort($event,productList.rows,'sku','string')" class="th-sku table-sort">SKU</th>
              <th (click)="tableHearSort($event,productList.rows,'name','string','ProductType')" class="table-sort">Category</th>
              <!--<th class="text-right">Available in</th>-->
              <!--<th class="text-right">Stocks</th>-->
              <th class="text-right">Status</th>
              <th></th>
            </tr>
          </thead>

          <tbody *ngIf="!isLoading">
            <tr *ngFor="let item of productList.rows">
              <td width="50" class="text-center">
                <input type="checkbox" attr.id="{{item.id}}" value="{{item.id}}" (change)="checkboxchecked($event ,item.id)" class="actionactive">
              </td>
              <td class="td-thumb text-center">
                <display-image [images]="item.productImages" [class]="'thumb-product-list'"></display-image>
              </td>
              <td class="td-name">
                {{ item.productTranslate | translatePipe: 'name' }}
              </td>
              <td class="text-left td-sku">{{ item.sku }}</td>
              <td class="text-left td-product-type">{{ item.ProductType.name }}</td>
              <!--<td class="td-available-in">{{ item.updatedAt | date: 'dd MMM yyyy' }}</td>-->
              <!--<td class="text-right td-stocks">10</td>-->
              <td class="text-right td-status" *ngIf="item.status == 'removed'"> Inactive</td>
              <td class="text-right td-status" *ngIf="item.status != 'removed'"> {{ item.status }}</td>
              <td class="td-actions">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Action
                  </button>
                  <div class="dropdown-menu actiion-menu" aria-labelledby="dropdownMenuButton" *ngIf="globalService.canEdit('products') || globalService.canDelete('products')">
                    <a class="dropdown-item" [routerLink]="['/products/edit', item.id]" *ngIf="globalService.canEdit('products')">Edit</a>
                    <a class="dropdown-item" (click)="deleteProduct(item.id)" *ngIf="item.status === 'active' && globalService.canDelete('products')">Inactive</a>
                    <a class="dropdown-item" (click)="activeProduct(item.id)" *ngIf="item.status === 'removed' && globalService.canDelete('products')">Active</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngIf="productList.rows.length === 0">
              <td colspan="7" class="text-center">No Items</td>
            </tr>
          </tbody>
        </table>
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"
          [showing]="false"></pagination>
      </div>
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->
</div>