<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'lbl.user.setting.user_modal.header_profile' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="user-form">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <!-- edit form column -->
                <div class="col-md-12 personal-info">
                  <form class="form-horizontal" #f="ngForm" (ngSubmit)="f.form.valid && doEdit()" [formGroup]="userForm">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group" [ngClass]="f.submitted && userForm.controls['firstName'].hasError('required') ? 'has-danger' : 'correctInput'">
                          <label class="control-label" for="input-first-name">{{ 'lbl.user.setting.user_modal.first_nm' | translate }}</label>
                          <input type="text" class="form-control" placeholder="{{ 'lbl.user.setting.user_modal.placehdr_fst_nm' | translate }}"
                            formControlName="firstName" name="firstName" autofocus>
                            <span class="form-control-feedback" *ngIf="f.submitted && userForm.controls['firstName'].hasError('required')">
                              {{ 'msg.validation.required' | translate:{value: 'lbl.user.setting.user_modal.first_nm' | translate} }}
                            </span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group" [ngClass]="f.submitted && userForm.controls['lastName'].hasError('required') ? 'has-danger' : 'correctInput'">
                          <label for="input-last-name">{{ 'lbl.user.setting.user_modal.last_nm' | translate }}</label>
                          <input type="text" class="form-control" placeholder="{{ 'lbl.user.setting.user_modal.placehdr_lst_nm' | translate }}"
                            formControlName="lastName" name="lastName">
                            <span class="form-control-feedback" *ngIf="f.submitted && userForm.controls['lastName'].hasError('required')">
                              {{ 'msg.validation.required' | translate:{value: 'lbl.user.setting.user_modal.last_nm' | translate} }}
                            </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group" [ngClass]="f.submitted && (userForm.controls['email'].hasError('required') || userForm.controls['email'].hasError('pattern') || (resError && resError.message.indexOf('email') !== -1)) ? 'has-danger' : 'correctInput'">
                      <label class="control-label">{{ 'lbl.user.setting.user_modal.email' | translate }}</label>
                      <div class="controls">
                        <input id="email" name="email" type="text" class="form-control" placeholder="{{ 'lbl.user.setting.user_modal.placehdr_email' | translate }}" formControlName="email"
                          pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$'>
                      </div>
                      <span class="form-control-feedback" *ngIf="f.submitted && userForm.controls['email'].hasError('required')">
                        {{ 'msg.validation.required' | translate:{value: ( 'msg.field.email' | translate)} }}
                      </span>
                      <span class="form-control-feedback" *ngIf="f.submitted && userForm.controls['email'].hasError('pattern')">
                        {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.email_address' | translate) } }}
                      </span>
                      <!-- <span class="form-control-feedback " *ngIf="f.submitted && resError && resError.message.indexOf('email') !== -1">
                        {{ 'msg.validation.email_exists' | translate }}
                      </span> -->
                    </div>
                    <div class="row">
                      <div class="col-sm-7 form-group">
                      <label class="form-control-label">{{ 'lbl.user.setting.user_modal.birthday' | translate }}</label>
                      <div class="controls" [ngClass]="f.submitted && resError && resError.message.indexOf('birthday') !== -1 ? 'has-danger' : ''">
                        <div class="row mx-0">
                          <div class="col-sm-3 form-group mb-0 px-1" [ngClass]="f.submitted && userForm.controls['dayInput'].errors ? 'has-danger' : ''">
                            <input (keyup)="checkValidDay()" type="text" id="dayInput" class="input-inline form-control" placeholder="{{ 'msg.validation.day' | translate }}" formControlName="dayInput" inputNumber>
                          </div>
                          <!-- <div class="col-sm-3 form-group px-1" [ngClass]="userForm.controls['monthInput'].hasError('validateNumber') ? 'has-danger' : ''">
                            <input type="text" id="monthInput" class="input-inline form-control" placeholder="MM" formControlName="monthInput" inputNumber>
                          </div> -->
                          <div class="col-sm-5 form-group mb-0 px-1" [ngClass]="f.submitted && userForm.controls['monthInput'].hasError('required') ? 'has-danger' : ''">
                            <select class="form-control" formControlName="monthInput">
                              <option value="">{{ 'msg.validation.month' | translate }}</option>
                              <option [value]="month.value" *ngFor="let month of monthList">{{ month.text }}</option>
                            </select>
                          </div>
                          <div class="col-sm-4 form-group mb-0 px-1" [ngClass]="f.submitted && userForm.controls['yearInput'].errors ? 'has-danger' : ''">
                            <input (keyup)="checkValidYear()" type="text" id="yearInput" class="input-inline form-control" placeholder="{{ 'msg.validation.year' | translate }}" formControlName="yearInput" inputNumber>
                          </div>
                        </div>
                        <span class="form-control-feedback text-danger px-1" *ngIf="f.submitted && (userForm.controls['dayInput']?.errors?.required || userForm.controls['yearInput']?.errors?.required || userForm.controls['monthInput'].hasError('required'))">
                          {{ 'msg.validation.date_of_birth_valid' | translate }}
                        </span>
                        <span class="form-control-feedback text-danger px-1" *ngIf="f.submitted && userForm.controls['dayInput']?.errors?.validateNumber">
                          {{ 'msg.validation.day_valid' | translate }}
                        </span>
                        <span class="form-control-feedback text-danger px-1" *ngIf="f.submitted && userForm.controls['yearInput']?.errors?.validateNumber">
                          {{ 'msg.validation.year_valid' | translate }}
                        </span>
                        <!-- <span class="form-control-feedback " *ngIf="f.submitted && resError && resError.message.indexOf('birthday') !== -1">
                          {{ 'msg.validation.birthday_invalid' | translate }}
                        </span> -->
                      </div>
                      </div>
                      <div class="col-sm-5 form-group" [ngClass]="f.submitted && userForm.controls['gender'].hasError('required') ? 'has-danger' : ''">
                        <label class="control-label">{{ 'lbl.user.setting.user_modal.gender' | translate }}</label>
                        <div class="controls">
                          <div class="row">
                            <div class="col-sm-6">
                              <label class="radio-inline form-check-label">
                                  <input class="form-check-input" type="radio" id="maleRadio" value="male" formControlName="gender">{{ 'lbl.user.setting.user_modal.gender_male' | translate }}
                              </label>
                            </div>
                            <div class="col-sm-6">
                              <label class="radio-inline form-check-label">
                                  <input class="form-check-input" type="radio" id="femaleRadio" value="female" formControlName="gender">{{ 'lbl.user.setting.user_modal.gender_female' | translate }}
                              </label>
                            </div>
                          </div>
                          <span class="form-control-feedback text-danger" *ngIf="f.submitted && userForm.controls['gender'].hasError('required')">
                            {{ 'msg.validation.gender_valid' | translate }}
                          </span>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="form-group" *ngIf="countries?.length > 0">
                      <label class="control-label">{{ 'lbl.user.setting.user_modal.country' | translate }}</label>
                      <div class="controls">
                        <select class="form-control" id="select-country" name="CountryId" formControlName="CountryId">
                          <option [value]="country.id" *ngFor="let country of countries">{{country.name}}</option>
                        </select>
                      </div>
                    </div> -->
                    <!--<div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" (change)="showPassword($event)" [checked]="hasChangePassword">
                        {{ 'lbl.user.setting.user_modal.change_pw' | translate }}
                      </label>
                    </div>-->
                    <div class="row" [hidden]="!hasChangePassword">
                      <div class="col-md-6">
                        <div class="form-group" [ngClass]="f.submitted && (userForm.controls['oldPassword'].hasError('pattern') || (resError && (resError.message === 'old_pw required' || resError.message === 'Current password is incorrect'))) ? 'has-danger' : 'correctInput'">
                          <label class="control-label" for="input-old-password">{{ 'lbl.user.setting.user_modal.old_pw' | translate }}</label>
                          <input type="password" class="form-control" id="input-old-password" placeholder="{{ 'lbl.user.setting.user_modal.placehdr_old_pw' | translate }}"
                            formControlName="oldPassword" name="oldPassword" pattern="^(?=.*\d)(?=.*[a-zA-Z]).{6,}$">
                          <!-- <span class="help-block text-danger" *ngIf="f.submitted && resError && resError.message === 'old_pw required'">
                            {{ 'msg.validation.required' | translate }}
                          </span> -->
                          <span class="help-block text-danger" *ngIf="f.submitted && userForm.controls['oldPassword'].hasError('pattern')">
                            {{ 'msg.validation.password_format' | translate }}
                          </span>
                          <!-- <span class="help-block text-danger" *ngIf="f.submitted && resError && resError.message === 'old password is invalid'">
                            {{ 'msg.validation.old_pw_invalid' | translate }}
                          </span> -->
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group" [ngClass]="f.submitted && (userForm.controls['password'].hasError('pattern') || (resError && resError.message === 'new_pw required')) ? 'has-danger' : 'correctInput'">
                          <label class="control-label" for="input-password">{{ 'lbl.user.setting.user_modal.new_pw' | translate }}</label>
                          <input type="password" class="form-control" id="input-password" placeholder="{{ 'lbl.user.setting.user_modal.placehdr_new_pw' | translate }}"
                            formControlName="password" name="password" pattern="^(?=.*\d)(?=.*[a-zA-Z]).{6,}$">
                          <!-- <span class="help-block text-danger" *ngIf="f.submitted && resError && resError.message === 'new_pw required'">
                            {{ 'msg.validation.required' | translate }}
                          </span> -->
                          <span class="help-block text-danger" *ngIf="f.submitted && userForm.controls['password'].hasError('pattern')">
                            {{ 'msg.validation.password_format' | translate }}
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label"></label>
                      <div class="text-center">
                        <app-alert [message]="resError"></app-alert>
                        <input type="submit" class="btn btn-primary shave2u-btn-primary" value="{{ 'lbl.user.setting.user_modal.btn_save_chg' | translate }}">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /container -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal-backdrop fade"></div>