.notification {
  height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  display: table;
  background: #f4f8fc;
  opacity: 1;
  z-index: 10000;
}

.notification span {
  text-align: center;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}

.notification strong {
  color: #ed594a;
}
