<div class="notification" *ngIf='notiMsg'>
  <span>
  {{ 'notification.remind_user' | translate }}  <strong class="click-able" (click)="resendActiveMail()">{{ 'notification.resend_active_email_text' | translate }}</strong>?
  </span>
</div>
