<div class="modal fade modal-shaves2u delivery-address-list" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">{{ 'checkout.step_address.select_address' | translate }}</h5>
      </div>
      <div class="modal-body scrollbar-inner delivery-address-modal">

        <div class="panel panel-default">
          <div class="panel-body adddress-info">

            <ul class="address-inputed-contain">
              <li class="item" *ngFor="let address of deliveryAddressList; let i = index">
                <div class="box">
                  <div class="action-tool">
                    <i class="fa fa-pencil click-able" (click)="close();editAddress(address);"></i>
                    <i class="fa fa-trash click-able" (click)="deleteAddress(address, $event)"></i>
                  </div>
                  <div class="box-body">
                    <!--<div class="form-group d-flex">
                      <i class="fa fa-phone align-self-center mr-3" aria-hidden="true"></i>
                      <span>{{ address.contactNumber }}</span>
                    </div>
                    <div class="form-group d-flex mb-0">
                      <i class="fa fa-map-marker mr-3" aria-hidden="true"></i>
                      <span>{{ address.address }} {{ address.city }}</span>
                    </div>-->

                    <h6 class="control-label">
                      <strong>
                        {{ 'lbl.user.setting.prefix_address_item' | translate }} {{ i + 1 }}
                        <!--{{ item.isDefault ? '(' + ('lbl.user.setting.text_default' | translate) + ')' : ''}}-->
                      </strong>
                    </h6>
                    <!--<span class="full-name"><strong>{{ item.firstName }} {{ item.lastName }}</strong></span>
                    <div class="form-group d-flex mb-0">
                      <span class="col-sm-10 px-0">{{ item.address }} {{ item.city }}</span>
                    </div>
                    <div class="form-group d-flex">
                      <span class="col-sm-9 px-0">{{ item.contactNumber }}</span>
                    </div>-->

                    <span class="full-name"><strong>{{ address.firstName }} {{ address.lastName }}</strong></span>
                    <span class="address">{{ address.address + ', ' + address.city + ', ' + address.portalCode + ', ' + address.state }}</span>
                    <span class="contactNumber">{{ address.contactNumber }}</span>
                  </div>
                </div>
                <div class="btn-action">
                  <button class="btn btn-primary shave2u-btn-primary" (click)="selectAddress(address, addressType)" *ngIf="(addressType === 'shipping' && selectedShippingAddress && selectedShippingAddress.id !== address.id) || (addressType === 'billing' && selectedBillingAddress && selectedBillingAddress.id !== address.id)">{{ 'btn.select' | translate }}</button>
                
                  <h6 class="control-label-primary" *ngIf="addressType === 'shipping' && selectedShippingAddress && selectedShippingAddress.id === address.id">
                    <strong>
                      {{ 'lbl.user.setting.primary_shipping' | translate }}
                    </strong>
                  </h6>
                  <h6 class="control-label-primary" *ngIf="addressType === 'billing' && selectedBillingAddress && selectedBillingAddress.id === address.id">
                    <strong>
                      {{ 'lbl.user.setting.primary_billing' | translate }}
                    </strong>
                  </h6>
                </div>
              </li>
            </ul>

          </div>

        </div>
        <!-- /container -->
      </div>
      
      <div class="modal-footer">
        <div class="form-group">
          <!--<a class="btn-add-new-address click-able" (click)="addNewAddress();close();">
            <i class="fa fa-plus-circle"></i>
            <span class="text"> {{ 'checkout.step_address.address.heading_add' | translate }}</span>
          </a>-->

          <a class="btn-add-new address click-able" (click)="close();addNewAddress();">
            <span class="text"> {{ 'checkout.step_address.address.heading_add' | translate }}</span>
          </a>


        </div>
      </div>

    </div>
    
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal-backdrop fade modal-backdrop-shave2u"></div>

<delivery-address-modal-form (hasChange)='hasChangeAddress($event)'></delivery-address-modal-form>