.address-inputed-contain {
  margin: auto;
  margin-bottom: 15px;
  text-align: center;
  font-size: 12px;
  
  .item {
    text-align: left;
    border: 1px solid #959595;
    padding: 32px 30px 30px 38px;
    border-radius: 5px;
    // width: 401px;
    // min-height: 265px;
    vertical-align: middle;
    // display: inline-block;
    background: #ffffff;
    margin-bottom: 15px;

    &.active {
      border-color: #030303;
      box-shadow: 0 0 20px 5px #030303;
    }
    &.item-add-new-address {
      height: auto;
      min-height: auto;
      text-align: center;
    }
    &:first-child {
      margin-top: 0px !important;
    }
    &:last-child {
      margin-bottom: 0px !important;
    }
    .shave2u-btn-primary {
      max-width: 150px;
      max-height: 50px;
      padding: 0;
      margin-top: 23px;
    }
    .control-label-primary {
      padding: 0 0;
      color: #3b6f9c;
      margin-top: 23px;
      display: block;
      font-family: 'Muli Bold';
      font-size: 16px;
    }

    .box {
      position: relative;
      .action-tool {
        position: absolute;
        top: 0;
        right: 0;
        i {
          color: #3a6e9c;
          padding-right: 20px;
          &.fa-trash {
            padding-right: 0px;
          }
        }
      }
      .box-header {
        margin-bottom: 24px;
        .modal-title {

        }
      }
      .box-body {
        padding-right: 100px;
        font-size: 16px;
        .control-label {
          padding: 0 0;
          color: #3b6f9c;
          margin-bottom: 18px;
          display: block;
          font-family: 'Muli Bold';
          font-size: 16px;
        }
        .full-name, .address, .contactNumber {
          display: block;
        }

      }
    }
  }
}


@media  (max-width: 767px) {
  .address-inputed-contain {
    .item {
      // width: 299px;
      .box {
        position: relative;
        .action-tool {
          position: absolute;
          top: 0;
          right: 0;
          i {
            color: #3a6e9c;
            padding-right: 20px;
            &.fa-trash {
              padding-right: 0px;
            }
          }
        }
        .box-header {
          margin-bottom: 24px;
          .modal-title {

          }
        }
        .box-body {
          padding-right: 0px;
          font-size: 16px;
          .control-label {
            padding: 0 0;
            color: #3b6f9c;
            margin-bottom: 18px;
            display: block;
            font-family: 'Muli Bold';
            font-size: 16px;
          }
          .full-name, .address, .contactNumber {
            display: block;
          }

        }
      }
    }
  }
}
