<div class="row mt-3"  [formGroup]="addProductForm">
  <div class="col-sm-12 form-group">
    <h6 class="pull-left">Add Product</h6>
    <h6 class="pull-right" *ngIf="!applyAll">Total Product ({{addProductForm.controls.length}})</h6>
  </div>
  <div class="col-sm-12 form-group">
    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
      <input type="checkbox" class="custom-control-input" [checked]="applyAll" (change)="handleApplyAll($event)">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Apply to all Products</span>
    </label>
  </div>
  <ng-container *ngIf="!applyAll">
    <div class="col-sm-12 form-group">
      <form [formGroup]="queryForm">
        <input id="country" type="text" class="form-control" (keyup)=filterProducts() formControlName=query>
        <div class="list-group suggestions" id="suggestions" role="tablist" *ngIf="filteredList.length">
          <a class="list-group-item list-group-item-action" *ngFor="let item of filteredList" (click)="select(item)">{{ item.productTranslate | translatePipe:'name' }} ({{ item.sku }})</a>
        </div>
      </form>
    </div>
    <div ></div>
    <ng-container>
      <div class="col-sm-12" *ngIf="fname.submitted && !addProductForm.valid">
        <div [ngClass]="fname.submitted && !addProductForm.valid ? 'has-danger' : ''">
          <span class="form-control-feedback">
            {{ 'msg.validation.selectListToAdd' | translate }}
          </span>
        </div>
      </div>
      <div class="col-sm-12 form-group product-list" *ngIf="addProductForm.controls.length > 0">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of addProductForm.controls; let i=index">
              <a class="d-inline-block">
                <display-image [images]="item.value.product.productImages" [class]="'planDetails-photo'"></display-image>
              </a>
              <div class="d-inline-block ml-2">
                <p class="title">{{ item.value.product.productTranslate | translatePipe:'name' }} ({{item.value.product.sku}})</p>
              </div>
              <a class="trash" (click)="removeItem(i)"><span class="fa fa-trash"></span></a>
          </li>
        </ul>
      </div>
    </ng-container>
  </ng-container>
</div>