@media (max-width: 767px){
  #payment-method {
    .btn-paynow-top{
      text-align: center;
      span{
        width: 100%;
      }
      p{
        max-width: 250px;
        margin: 20px auto 15px;
        float: none;
        display: inline-block;
      }
    }
    .email-info,.shipping,.billing,.card-info{
      padding-left: 42px;
    }
    .address-info{
      position: relative;
      .col-sm-6{
        padding-right: 50%;
        padding-left: 0;
        margin-bottom: 40px;
        h5.heading{
          margin-top: 20px;
          position: absolute;
          right: 0;
          top: 55px;
          margin: 0;
        }
      }
    }
    .confirm-purchase{
      margin: 20px 0 30px;
    }

    // .billing {
    //   margin-top: 10px;
    // }
  }

  .shave2u-btn-primary-width100{
    width: 100%;
  }

}
@media (max-width: 575px){
  #payment-method {
    .billing {
      margin-top: 10px;
    }
  }

}
