.body-container-full {
  background-color: #FFF;
}

.box-center-horizontal, .image-contain.image-center, .image-contain.image-center-with-border .image-inner, .text-contain.text-center-vertical {
  display: table;
  margin: auto;
}

.box-center-vertical, .image-contain.image-center .image-inner, .image-contain.image-center-with-border .image-inner .image, .text-contain.text-center-vertical .text-inner {
  display: table-cell;
  vertical-align: middle;
}

.image-contain.image-center-with-border {
  border: 1px solid #DDD;
}

.image-contain img {
  max-width: 100%;
  max-height: 100%;
}

.text-contain.text-center-vertical {
  text-align: center;
}

.link-text-underline {
  text-decoration: underline !important;
  cursor: pointer;
}

.link-text-underline:hover {
  text-decoration: none !important;
}

.link-text-none {
  text-decoration: none !important;
  cursor: pointer;
}

.link-text-none:hover {
  text-decoration: underline !important;
}

.text-blue {
  color: #4478ad !important;
}

.click-able {
  cursor: pointer;
}

.small-text.link-text {
  font-size: 13px;
}

.small-text.note-text {
  font-size: 12px;
}

.medium-text {
  font-size: 18px;
}

.shave2u-custom-control-indicator {
  background-color: #000;
}

.quantity-action-tool {
  display: flex;
}

.quantity-action-tool input {
  width: 40px;
  height: 40px;
  text-align: center;
}

.quantity-action-tool .btn-minus, .quantity-action-tool .btn-plus {
  border-radius: 50%;
  border: 1px solid #CCC;
  width: 29px;
  height: 29px;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  top: 0;
  position: relative;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  margin: 5px 10px;
  cursor: pointer;
  background-color: #3a6e9c;
}

.quantity-action-tool .btn-minus.inactive, .quantity-action-tool .btn-plus.inactive {
  background-color: #cccccc;
}

.quantity-action-tool .btn-minus .fa-minus, .quantity-action-tool .btn-minus .fa-plus, .quantity-action-tool .btn-plus .fa-minus, .quantity-action-tool .btn-plus .fa-plus {
  top: 4px;
  position: relative;
  left: 1;
  color: #FFF;
}

.box-flex {
  display: flex;
}

.box-flex .flex {
  flex: 1;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > .col,
.row.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.card-items .item-inner {
  max-width: 450px;
}

.card-items .item-inner .item {
  padding: 15px 20px;
}

.card-items .item-inner .full-name {
  font-size: 18px;
  margin-bottom: 30px;
}

.card-items .item-inner .item-added {
  border: 1px solid #959595;
}

.card-items .item-inner .item-adding {
  border: 1px dotted #959595;
}

.card-items .item-inner .item-adding .text-inner {
  height: 186px;
}

.card-items.master-cards .item {
  border-radius: 8px;
}

.card-items.master-cards .card-code {
  padding: 35px 0 20px;
}

.card-items.master-cards .card-expiry-date {
  padding-bottom: 10px;
}

.cart-list-detail {
  position: relative;
}

.cart-list-detail .heading {
  margin-bottom: 15px;
}

.cart-list-detail .cart-list-contain .row-custom {
  display: flex;
  width: 100%;
}

.cart-list-detail .cart-list-contain .row-custom:last-child .item {
  border-bottom: 1px solid transparent;
}

.cart-list-detail .cart-list-contain .product-name {
  font-size: 18px;
}

.cart-list-detail .cart-list-contain .product-description {
  font-size: 16px;
}

.cart-list-detail .cart-list-contain .item-info {
  width: 47%;
}

.cart-list-detail .cart-list-contain .item-price {
  width: 16%;
}

.cart-list-detail .cart-list-contain .item-quantity {
  width: 17%;
}

.cart-list-detail .cart-list-contain .item-total {
  width: 20%;
  text-align: right;
}

.cart-list-detail .cart-list-contain .item-total .text-contain {
  float: right;
}

.cart-list-detail .image-contain {
  width: 175px;
  max-width: 44%;
}

.cart-list-detail .image-contain .image-inner .image {
  height: 175px;
}

.cart-list-detail .text-contain {
  max-width: 55%;
  padding-left: 25px;
  text-align: left;
}

.cart-list-detail .text-contain .text-inner {
  height: 175px;
}

.cart-list-detail .item {
  border-bottom: 1px solid #CCC;
  padding: 20px 0;
}

.cart-list-detail .box-body .item {
  padding: 40px 0;
}

.card .card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.form-check-input:only-child {
  position: absolute;
}

[data-spzoom] img {
  vertical-align: top;
}

.spzoom-zoom {
  z-index: 97;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 250px;
  height: 250px;
}

.spzoom-tracker {
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  border-color: #ccc;
  z-index: 97;
}

.spzoom-title {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #fff;
  background-color: #222;
  padding: 3px 5px;
  line-height: 14px;
}

.spzoom-loader {
  width: 24px;
  height: 24px;
  background: url("https://d8pi1a7qa1dfv.cloudfront.net/assets/images/spzoom-loader.gif") 50% 50% no-repeat scroll #fff;
  border: 1px solid #ccc;
}

.modal-dialog {
  min-height: -webkit-calc(100vh - 60px);
  min-height: -moz-calc(100vh - 60px);
  min-height: calc(100vh - 60px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: auto;
}

@media (max-width: 768px) {
  .modal-dialog {
    min-height: -webkit-calc(100vh - 20px);
    min-height: -moz-calc(100vh - 20px);
    min-height: calc(100vh - 20px);
  }
}

.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
  }
}

.description-details li p {
  display: inline;
}

.text-bold {
  font-weight: bold;
}

.card-header:first-child {
  border-radius: 0 !important;
}

.form-group.input-group input:not([type]),
.form-group.input-group input[type="text"],
.form-group.input-group input[type="email"],
.form-group.input-group input[type="password"] {
  height: 48px;
}

.form-control-feedback {
  display: block;
  width: 100%;
  text-align: left;
  margin: 13px 0px;
  font-size: 14px;
  font-family: 'Muli';
}

#cboxOverlay {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(97, 86, 85, 0.38);
  cursor: pointer;
}

#plan-page .block-list-plans .block-payment .card .card-body .sub-total {
  text-align: center;
  color: #0e0e0e;
}

#plan-page .block-list-plans .block-payment .card .card-body .sub-total .currency-code {
  font-size: 16px;
  font-family: 'Muli Bold';
}

#plan-page .block-list-plans .block-payment .card .card-body .sub-total .price {
  font-size: 30px;
  font-family: 'Muli Bold';
  margin-left: -4px;
}

#plan-page .block-list-plans .block-payment .item.active .card .card-body .discount .btn_discount {
  background: #fe5000;
  border-color: #fe5000;
}

#plan-page .block-list-plans .block-payment .item.active .card .card-body .sub-total {
  color: #fe5000;
}

#plan-page .block-list-plans .block-plan-details .image img {
  max-width: 100%;
  max-height: 100%;
}

#plan-page .block-list-plans .block-plan-details .description-details {
  height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

.hints-password .heading {
  margin: 10px 0;
  display: block;
}

.hints-password .heading span {
  padding-left: 10px;
  padding-left: 8px;
  color: #ababab;
}

.hints-password .list-group .list-group-item {
  border: none;
  padding: 5px 0px;
}

.hints-password .list-group .list-group-item span {
  padding-left: 20px;
}

.hints-password .list-group .list-group-item i {
  position: absolute;
  top: 14px;
}

.hints-password .list-group .list-group-item.correct i {
  color: #00b710;
  font-size: 12px;
}

.hints-password .list-group .list-group-item.incorrect {
  color: #ff1e00;
}

.hints-password .list-group .list-group-item.incorrect i {
  font-size: 8px;
  min-width: 12px;
  text-align: center;
}
