.strong-7 {
  font-weight: 700;
}
.modal-open {
	.body-container-full {
		nav.header-common {
			position: sticky;
		}
		.clear-nav {
			display: none;
		}
	}
}

.standard-seo {
  font-size: 35px;
  margin-bottom: 20px;
  line-height: 1.3;
}

.body-container-full {
  //
  form {
    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    .uneditable-input:focus {
      border-color: rgba(0, 0, 0, 0.15);
      // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6) !important;
      outline: 0 none !important;
    }
  }

  background-color: #FFF;
  &.body-gray {
    // background-color: #fbfbfb;
    nav {
      &.navbar-top {
        // background-color: #fbfbfb;
      }
    }
  }
}
// modal open screen not jump
// @media screen and (min-width: 1200px) {
// 	.modal-open {
// 		nav.navbar-top {
// 			margin-right: 15px;
// 			width: auto !important;
// 		}
// 	}
// }
.modal, .body-container-full {
  //
  form {
    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    .uneditable-input:focus {
      border-color: rgba(0, 0, 0, 0.15);
      // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6) !important;
      outline: 0 none !important;
    }
  }
}

.box-center-horizontal {
  display: table;
  margin: auto;
}
.box-center-vertical {
  // To implement this class, need to add the "Height" for this element.
  display: table-cell;
  vertical-align: middle;
}
.image-contain {
  &.image-center {
    @extend .box-center-horizontal;
    .image-inner {
      @extend .box-center-vertical;
    }
  }
  &.image-center-with-border {
    border: 1px solid #DDD;
    .image-inner {
      @extend .box-center-horizontal;
      .image {
        @extend .box-center-vertical;
      }
    }
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
#product-page {
  .image-contain{
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      @media(max-width: 767px) {
        position: static;
        transform: none;
      }
    }
  }
}
.text-contain {
  &.text-center-vertical {
    @extend .box-center-horizontal;
    text-align: center;
    .text-inner {
      @extend .box-center-vertical;
    }
  }
}

.link-text-underline {
  text-decoration: underline!important;
  cursor: pointer;
  &:hover {
    text-decoration: none!important;
  }
}
.link-text-none {
  text-decoration: none!important;
  cursor: pointer;
  &:hover {
    text-decoration: underline!important;
  }
}
.text-blue {
  color: #4478ad!important;
}
.click-able {
  cursor: pointer;
}

.small-text {
  font-size: 14px;
  &.link-text {
    font-size: 13px;
  }
  &.note-text {
    font-size: 12px;
  }
}
.medium-text {
  font-size: 18px;
}

// Start button style
// Custom Form:
.shave2u-custom-control-indicator {
  background-color: #000;
}
// End button style
// Quantity Tool
.quantity-action-tool {
    display: flex;
    input {
      width: 50px;
      height: 40px;
      text-align: center;
      border: 1px solid #d2d2d2;
	    background: #fbfbfb;
    }
    .btn-minus, .btn-plus {
      border-radius: 50%;
      border: 1px solid;
	    width: 26px;
	    height: 26px;
      overflow: hidden;
      display: table-cell;
      vertical-align: middle;
      padding: 0;
      top: 0;
      position: relative;
      text-align: center;
      line-height: 26px;
      margin: 7px;
      cursor: pointer;
      background-color: #fff;
      font-size: 13px;
			border-color: #fd5000;
      &.inactive {
				border-color: #d2d2d2;
				.fa-minus {
					color: #d2d2d2;
				}
      }
      .fa-minus, .fa-plus {
        top: -1px;
        position: relative;
        color: #fd5000;
      }


    }
    .btn-disabled {
      background-color: #fff;
      color: #ffffff;
      border-color: #d1d1d1;
      pointer-events: none;
      .fa-minus, .fa-plus {
        color: #d1d1d1;
      }
    }
  }
  .box-flex {
    display: flex;
    .flex {
      flex: 1;
    }
  }
  .row {
    &.no-gutters {
      margin-right: 0;
      margin-left: 0;

      > .col,
      > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  // Card Style
  // Address Card
  .card-items {
    .item-inner {
      max-width: 450px;
      .item {
        padding: 15px 20px;
        // min-height: 218px;
      }
      .full-name {
        font-size: 18px;
        margin-bottom: 30px;
      }
      .item-added {
        border: 1px solid #959595;
      }
      .item-adding {
        border: 1px dotted #959595;
        .text-inner {
          height: 186px;
        }
      }
    }
    &.master-cards {
      .item {
        border-radius: 8px;
      }
      .card-code {
        padding: 35px 0 20px;
      }
      .card-expiry-date {
        padding-bottom: 10px;
      }
    }
  }
  // End Card Style
  // Cart list detail
  .cart-list-detail {
    position: relative;
    .heading {
      margin-bottom: 15px;
    }
    .cart-list-contain {
      .row-custom {
        display: flex;
        width: 100%;
        &:last-child {
          .item {
            border-bottom: 1px solid transparent;
          }
        }
      }
      .product-name {
        font-size: 18px;
      }
      .product-description {
        font-size: 16px;
      }
      .item-info {
        width: 47%;
      }
      .item-price {
        width: 16%;
      }
      .item-quantity {
        width: 17%;
      }
      .item-total {
        width: 20%;
        text-align: right;
        .text-contain {
          float: right;
        }
      }
    }
    .image-contain {
      width: 175px;
      max-width: 44%;
      .image-inner {
        .image {
          height: 175px;
        }
      }
    }
    .text-contain {
      max-width: 55%;
      padding-left: 25px;
      text-align: left;
      .text-inner {
        height: 175px;
      }
    }
    .item {
      border-bottom: 1px solid #CCC;
      padding: 20px 0;
    }
    .box-body {
      .item {
        padding: 40px 0;
      }
    }
  }
  // End Cart list detail
  //Temporary add missing style boostrap
.card {
  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
  }
}

.form-check-input:only-child {
  position: absolute;
}

[data-spzoom] img {
    vertical-align: top;
}

.spzoom-zoom {
    z-index: 97;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 250px;
    height: 250px;
}
.spzoom-tracker {
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-color: #ccc;
    z-index: 97;
}
.spzoom-title {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 10px;
    color: #fff;
    background-color: #222;
    padding: 3px 5px;
    line-height: 14px;
}
.spzoom-loader {
    width: 24px;
    height: 24px;
    background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/spzoom-loader.gif') 50% 50% no-repeat scroll #fff;
    border: 1px solid #ccc;
}
.modal-dialog {
  min-height: -webkit-calc(100vh - 60px);
  min-height: -moz-calc(100vh - 60px);
  min-height: calc(100vh - 60px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
}
@media (max-width: 768px) {
  .modal-dialog {
    min-height: -webkit-calc(100vh - 20px);
    min-height: -moz-calc(100vh - 20px);
    min-height: calc(100vh - 20px);
  }
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
  }
}

.description-details {
  li {
    p {
      display: inline;
    }
  }
}

.text-bold {
  font-weight: bold;
}

.card-header:first-child {
    border-radius: 0 !important;
}

.form-group {
  &.input-group {
    input:not([type]),
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      height: 48px;
    }
  }
}

.form-control-feedback {
  display: block;
  width: 100%;
  text-align: left;
  margin: 9px 0px;
  font-size: 14px;
  font-family: 'Muli';
}

#cboxOverlay {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(97, 86, 85, 0.38);
    cursor: pointer;
}

/* for Subscription selection */
#plan-page {
	.block-list-plans {
		.block-payment {
      .card {
        .card-body {
          -ms-flex: none;
          flex: none;
          padding: 0;
          margin-top: 20px;
          .sub-total {
            text-align: center;
            color: #0e0e0e;
            .currency-code {
              font-size: 16px;
              font-family: 'Muli Bold';
            }
            .price {
              font-size: 30px;
              font-family: 'Muli Bold';
              margin-left: -4px;
            }
          }
        }
      }
		}
    .block-plan-details {

      .image {
        img {
          max-width: 100%;
          max-height: 100%;
          // margin-top: 60px;
        }
      }
      .description-mobile{
        display: none;
      }
        .description-outter{
          .description-middle{
            margin-top: 60px;
            .description-details{
              margin-top: 0;
            }
          }
          .description-details {
            display: inline-block;
            list-style: none!important;
            margin-top: 60px;
            /* height: 100%;
            position: relative;
            top: 0;
            transform: translateY(50%);*/
            li {
              position:relative;
              margin: 0 0 4px 30px;
              // text-indent: 30px;
            }
            li:before {
              content:"• ";
              color: #fe5000;
              top:-5px;
              left: -24px;
              position:absolute;
              font-size: 20px;
            }
          }

      }
    }
	}
}

.faq-details {
  display: inline-block;
  list-style: none!important;
  // margin-top: 60px;
  li {
    position:relative;
    margin: 0 0 4px 0px;
    text-indent: 30px;
  }
  li:before {
    content:"• ";
    // color: #fe5000;
    top:-5px;
    left: -24px;
    position:absolute;
    font-size: 20px;
  }
}
@media screen and(max-width: 767px) {
	#plan-page {
		.description-outter{
			margin-top: -55px!important;
		}
    .block-list-plans {
      .block-plan-details {
        .image {
          img {
            margin-top: 0;
          }
        }
      }
    }
  }
  .mat-dialog-container {
    padding: 24px 12px !important;
  }

	// PgwSlider
	.product-detail-slider {
		.pgwSlider {
			.ps-current {
				float: none;
        margin: 0 auto;
        li {
          height: 400px;
          overflow: hidden;
        }
        img.ps-current-img {
          height: 100%;
          width: auto;
          display: block;
          margin: 0 auto;
        }
			}
    }
    &.specific {
      .pgwSlider {
        .ps-current {
          li {
            height: 300px;
          }
        }
      }
    }
	}

  #carts-page {
    .description-details {
      display: none;
    }
  }
}

@media screen and (max-width:400px) {
  .product-detail-slider {
		.pgwSlider {
			.ps-current {
        li {
          height: 330px;
        }
			}
    }
    &.specific {
      .pgwSlider {
        .ps-current {
          li {
            height: 275px;
          }
        }
      }
    }
	}
}

@media screen and (max-width:360px) {
  .product-detail-slider {
		.pgwSlider {
			.ps-current {
        li {
          height: 280px;
        }
			}
    }
    &.specific {
      .pgwSlider {
        .ps-current {
          li {
            height: 200px;
          }
        }
      }
    }
	}
}

// show hints when use typing in password
.hints-password {
  .heading {
    margin: 10px 0;
    display: block;
    span {
      padding-left: 10px;
      padding-left: 8px;
      color: #ababab;
    }
  }
  .list-group {
    .list-group-item {
      border: none;
      padding: 5px 0px;
      span {
        padding-left: 20px;
      }
      i {
        position: absolute;
        /*top: 14px;*/
      }
      &.correct {
        i {
          color: #00b710;
          font-size: 12px;
        }
      }
      &.incorrect {
        color: #ff1e00;
        i {
          font-size: 8px;
          min-width: 12px;
          text-align: center;
        }
      }
    }
  }
}

// error input
.has-danger .form-control {
    border-color: #d9534f !important;
}
// product detail slider
.product-detail-slider {
  .pgwSlider{
    .ps-prev{
      cursor: pointer;
      z-index: 1000;
      display: none;
      position: absolute;
      top: 50%;
      .ps-prevIcon{
        padding: 10px 10px;
        background: url("https://d8pi1a7qa1dfv.cloudfront.net/assets/images/slider-arrow-prev.png") no-repeat;
      }
    }
    .ps-next{
      cursor: pointer;
      z-index: 1000;
      display: none;
      position: absolute;
      $var: 10px;
      left: calc(100% - #{$var});
      top: 50%;
      .ps-nextIcon{
        padding: 10px 10px;
        background: url("https://d8pi1a7qa1dfv.cloudfront.net/assets/images/slider-arrow-next.png") no-repeat;
      }
    }
  }
}
@media (max-width: 527px) {
  .product-detail-content{
    // margin-top: 65px;
  }
  .product-detail-slider {
    .spzoom-zoom{
      display: none!important;
    }
    .pgw-slider {
      display: none;
    }
    // .ps-prev{
    //   display: table!important;
    // }
    // .ps-next{
    //   display: table!important;
    // }
  }
}

// shows amount of item inside cart bounces
@-o-keyframes badge_pop {
    0% {
        width: 22px;
        height: 22px;
    }
    50% {
        width: 26px;
        height: 26px;
    }
    100% {
        width: 22px;
        height: 22px;
    }
}

@-webkit-keyframes badge_pop {
    0% {
        width: 22px;
        height: 22px;
    }
    50% {
        width: 26px;
        height: 26px;
    }
    100% {
        width: 22px;
        height: 22px;
    }
}

 .plug-item {
  &.pop {
    -webkit-animation-name: badge_pop;
    -webkit-animation-duration: .15s;
    -moz-animation-name: badge_pop;
    -moz-animation-duration: .15s;
    -o-animation-name: badge_pop;
    -o-animation-duration: .15s;
    animation-name: badge_pop;
    animation-duration: .15s;
  }
}
#privacy-policy{
  ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
    text-align:left;
    p {
      font-size: 14px;
      margin-bottom: 0;
    }
    table {
      tr{
        td {
          @media(max-width: 525px) {
            width: 100% !important;
            display: block;
            padding: 5px 0;
          }
        }
      }
    }
    li{
      &:nth-child(n+10) {
        h4 {
          @media(max-width: 767px) {
            padding-left: 30px;
          }
        }
      }
    }
  }

  ol > li {
    display: block;
    counter-increment: item;
    margin-bottom: 0.6em;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 2px;
    @media(max-width: 991px) {
      position: relative;
    }
    
    h4 {
      margin: 22px 0;
      display: inline-block;
      color: #292b2c;
      font-weight: bold;
      opacity: 0.5;
      font-size: 18px;
      text-transform: uppercase;
      @media(max-width: 991px) {
        padding-left: 20px;
      }
    }
  }

  ol > li:before {
    content: counters(item, ".") ". ";
    // display: table-cell;
    padding-right: 0;
    opacity: 0.5;
    font-weight: bold;
    font-size: 18px;
    @media(max-width: 991px) {
      position: absolute;
      top: 15px;
    }
  }

  li ol > li {
    //margin: 0;
    font-size: 14px;
    display: table;
  }

  li ol > li:before {
    content: counters(item, ".") " ";
    display: table-cell;
    padding-right: 15px;
    opacity: 1;
    font-weight: normal;
    font-size: 14px;
    @media(max-width: 991px) {
      position: unset;
    }
  }

  ul {
    list-style: disc outside;
    padding-left: 30px;
    font-size: 14px;
  }
  .subtitle{
    margin-top: 40px;
    text-align:left;
    display: inline-block;
    text-transform: uppercase;
    padding-top: 3px;
    color: #000;
    width: 100%;
    h2{
      padding: 0 40px;
      font-size: 40px;
      margin: 0;
      @media(max-width: 991px) {
        padding: 0 20px;
      }
      @media(max-width: 767px) {
        padding: 0 15px;
      }
    }
  }
}
#terms-conditions{
  ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
    text-align:left;
    p {
      font-size: 14px;
      margin-bottom: 0;
    }
    li{
      &:nth-child(n+10) {
        h4 {
          @media(max-width: 767px) {
            padding-left: 30px;
          }
        }
      }
    }
  }

  ol > li {
    display: block;
    counter-increment: item;
    margin-bottom: 0.6em;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 2px;
    @media(max-width: 991px) {
      position: relative;
    }
    h4 {
      margin: 22px 0;
      display: inline-block;
      color: #292b2c;
      font-weight: bold;
      opacity: 0.5;
      font-size: 18px;
      text-transform: uppercase;
      @media(max-width: 991px) {
        padding-left: 20px;
      }
    }
  }

  ol > li:before {
    content: counters(item, ".") ". ";
    //display: table-cell;
    padding-right: 0;
    opacity: 0.5;
    font-weight: bold;
    font-size: 18px;
    @media(max-width: 991px) {
      position: absolute;
      top: 15px;
    }
  }

  li ol > li {
    //margin: 0;
    font-size: 14px;
    display: table;
  }

  li ol > li:before {
    content: counters(item, ".") " ";
    display: table-cell;
    padding-right: 15px;
    opacity: 1;
    font-weight: normal;
    font-size: 14px;
    @media(max-width: 991px) {
      position: unset;
    }
  }

  ul {
    list-style: disc outside;
    font-size: 14px;
  }
  .subtitle{
    margin-top: 40px;
    text-align:left;
    display: inline-block;
    text-transform: uppercase;
    padding-top: 3px;
    color: #000;
    width: 100%;
    h2{
      padding: 0 40px;
      margin: 0;
      @media(max-width: 991px) {
        padding: 0 20px;
      }
      @media(max-width: 767px) {
        padding: 0 15px;
      }
    }
  }
}
