<div class="modal fade modal-shaves2u" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" *ngIf="action ===  'add'">
          <!--{{ 'checkout.step_address.address.heading_add' | translate }}-->
          {{ addressType === 'shipping' ? ('popup.address.heading_add.shipping' | translate) : ('popup.address.heading_add.billing' | translate) }}
        </h5>
        <h5 class="modal-title" *ngIf="action ===  'edit'">
          <!--{{ 'checkout.step_address.address.heading_edit' | translate }}-->
          {{ addressType === 'shipping' ? ('popup.address.heading_edit.shipping' | translate) : ('popup.address.heading_edit.billing' | translate) }}
        </h5>
      </div>
      <div class="modal-body">

        <div class="panel panel-default">
          <div class="panel-body adddress-info">
            <div class="row">
              <div class="col-md-12 col-lg-12 px-0">
                <form [formGroup]='deliveryAddressForm' #f='ngForm' #documentEditForm="ngForm" name="documentEditForm" novalidate (ngSubmit)='deliveryAddressForm.valid && actionSubmit(deliveryAddressForm.value, action)'>
                  <div class="row no-padding">
                    <!-- add shipping address form -->
                      <!--<h4 class="col-md-12 text-center" *ngIf="addressType === 'shipping'">{{ 'checkout.step_address.address.shipping_heading' | translate }}</h4>
                      <h4 class="col-md-12 text-center" *ngIf="addressType === 'billing'">{{ 'checkout.step_address.address.billing_heading' | translate }}</h4>-->
                      <div class="col-md-12">
                        <!--input-firstName,lastName-->
                        <div class="row mx-0">
                          <label class="col-md-12" for="input-first-name">{{ 'checkout.step_address.address.name.label' | translate }}</label>
                          <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-danger': f.submitted && !deliveryAddressForm.controls.firstName.valid}">
                              <input type="text" class="form-control shave2u-form-control border-right-0" placeholder="{{ 'checkout.step_address.address.name.place_holder_firstName' | translate }}"
                                name="firstName" formControlName="firstName" autofocus>
                              <span *ngIf="f.submitted && !deliveryAddressForm.controls.firstName.valid" class="form-control-feedback">
                                {{ 'msg.validation.required' | translate:{value: 'checkout.step_address.address.name.place_holder_firstName' | translate} }}
                              </span>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-danger': f.submitted && !deliveryAddressForm.controls.lastName.valid}">
                              <input type="text" class="form-control shave2u-form-control" placeholder="{{ 'checkout.step_address.address.name.place_holder_lastName' | translate }}"
                                name="lastName" formControlName="lastName">
                              <span *ngIf="f.submitted && !deliveryAddressForm.controls.lastName.valid" class="form-control-feedback">
                                {{ 'msg.validation.required' | translate:{value: 'checkout.step_address.address.name.place_holder_lastName' | translate} }}
                              </span>
                            </div>
                          </div>
                        </div>
                        <!--/input-firstName,lastName-->
                        <!--input-address-->
                        <div class="form-group" [ngClass]="{'has-danger': f.submitted && !deliveryAddressForm.controls.address.valid}">
                          <label for="input-address">{{ 'checkout.step_address.address.address.label' | translate }}</label>
                          <input type="text" class="form-control shave2u-form-control" placeholder="{{ 'checkout.step_address.address.address.place_holder' | translate }}"
                            formControlName="address">
                          <span *ngIf="f.submitted && deliveryAddressForm.controls.address.errors && deliveryAddressForm.controls.address.errors.required" class="form-control-feedback">
                              {{ 'msg.validation.required' | translate:{value: 'checkout.step_address.address.address.label' | translate} }}
                          </span>
                          <span *ngIf="f.submitted && deliveryAddressForm.controls.address.errors && deliveryAddressForm.controls.address.errors.maxLength" class="form-control-feedback">
                              {{ 'msg.validation.maxlength' | translate:{value: '150'} }}
                          </span>
                        </div>
                        <!-- / input-address-->

                        <!-- input-phone -->
                        <div class="form-group row">
                          <div class="col-md-12">
                            <div class="row mx-0">
                              <label class="col-md-12" for="input-id-5">{{ 'checkout.step_address.address.phone.label' | translate }}</label>
                              <div class="col-2">
                                <select class="form-control shave2u-form-control" formControlName="callingCode" >
                                  <option [value]="country.dial_code" *ngFor="let country of callingCodes">{{country.dial_code}}</option>
                                </select>
                              </div>
                              <div class="col-10">
                                <div class="form-group" [ngClass]="{'has-danger': (f.submitted || deliveryAddressForm.controls.contactNumber.touched) && !deliveryAddressForm.controls.contactNumber.valid}">
                                  <input *ngIf="this.storage.getCountry().code !== 'SGP'" type="text" class="form-control shave2u-form-control border-left-0" placeholder="{{ 'checkout.step_address.address.phone.place_holder' | translate }}"
                                    id="input-id-5" name="contactNumber" formControlName="contactNumber" inputNumber>
                                  <input *ngIf="this.storage.getCountry().code === 'SGP'" type="text" class="form-control shave2u-form-control border-left-0" placeholder="{{ 'checkout.step_address.address.phone.place_holder_sgp' | translate }}"
                                    id="input-id-5" name="contactNumber" formControlName="contactNumber" inputNumber>
                                  <!--<span *ngIf="(f.submitted || deliveryAddressForm.controls.contactNumber.touched) && !deliveryAddressForm.controls.contactNumber.valid"
                                    class="form-control-feedback">
                                    {{ 'msg.validation.required' | translate:{value: 'Phone'} }}
                                  </span>-->
                                  <span *ngIf="this.storage.getCountry().code !== 'SGP' && f.submitted && (deliveryAddressForm.controls.contactNumber.errors && deliveryAddressForm.controls.contactNumber.errors.minLength)" class="form-control-feedback">
                                    {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.phone' | translate) } }}
                                  </span>
                                  <span *ngIf="f.submitted && (deliveryAddressForm.controls.contactNumber.errors && deliveryAddressForm.controls.contactNumber.errors.required)" class="form-control-feedback">
                                    {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.phone' | translate) } }}
                                  </span>
                                  <span *ngIf="this.storage.getCountry().code === 'SGP' && f.submitted && deliveryAddressForm.controls.contactNumber.errors && (deliveryAddressForm.controls.contactNumber.errors.minLength || deliveryAddressForm.controls.contactNumber.errors.maxLength)" class="form-control-feedback">
                                    {{ 'msg.validation.phone_sgp' | translate:{value: '8'} }}
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- / input-phone -->

                        <!-- input-city -->
                        <div class="form-group" [ngClass]="{'has-danger': f.submitted && !deliveryAddressForm.controls.city.valid}">
                          <label for="select-state">{{ 'checkout.step_address.address.city.label' | translate }}</label>
                          <input type="text" class="form-control shave2u-form-control" formControlName="city" name="city" />
                          <span *ngIf="f.submitted && !deliveryAddressForm.controls.city.valid" class="form-control-feedback">
                            {{ 'msg.validation.required' | translate:{value: ('checkout.step_address.address.city.label' | translate) } }}
                          </span>
                        </div>
                        <!-- / input-city -->

                        <!-- input-portalCode, input-state -->
                        <div class="row">
                          <div class="col-md-6 pr-2">
                            <div class="form-group" [ngClass]="{'has-danger': f.submitted && !deliveryAddressForm.controls.portalCode.valid}">
                              <label for="input-postal-code">{{ 'checkout.step_address.address.postal_code.label' | translate }}</label>
                              <input type="text" class="form-control shave2u-form-control" placeholder="{{ 'checkout.step_address.address.postal_code.place_holder' | translate }}"
                                id="input-postal-code" formControlName="portalCode" name="portalCode" inputNumber/>
                              <!--<span *ngIf="f.submitted && !deliveryAddressForm.controls.portalCode.valid" class="form-control-feedback">
                                {{ 'msg.validation.required' | translate:{value: 'Portal Code'} }}
                              </span>-->
                              <span *ngIf="f.submitted && (deliveryAddressForm.controls.portalCode.errors && deliveryAddressForm.controls.portalCode.errors.minLength)" class="form-control-feedback">
                                {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.postcode' | translate) } }}
                              </span>
                              <span *ngIf="f.submitted && (deliveryAddressForm.controls.portalCode.errors && deliveryAddressForm.controls.portalCode.errors.required)" class="form-control-feedback">
                                {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.postcode' | translate) } }}
                              </span>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group row px-0 mx-0" [ngClass]="{'has-danger': f.submitted && !deliveryAddressForm.controls.state.valid}">
                              <label for="select-state">{{ 'checkout.step_address.address.state.label' | translate }}</label>
                              <select class="form-control shave2u-form-control" id="select-state" formControlName="state" name="state" required [hidden]="!countryStates || countryStates.length === 0">
                                <option [value]="null" hidden disabled selected-custom [attr.selected]=""><span class="text-danger">- {{ 'checkout.step_address.address.state.defaultOption' | translate }} -</span></option>
                                <option value="{{state.name}}" *ngFor="let state of countryStates" >{{state.name}}</option>
                              </select>
                              <input type="text" class="form-control shave2u-form-control" formControlName="state" name="state" required [hidden]="countryStates && countryStates.length > 0"
                              />
                              <span *ngIf="f.submitted && !deliveryAddressForm.controls.state.valid" class="form-control-feedback">
                                {{ 'msg.validation.required' | translate:{value: 'State'} }}
                              </span>
                            </div>
                          </div>
                          <div class="col-md-12 shave2u-make-default" *ngIf="enableSetDefault">

                            <div class="control-checkbox">
                              <input id="addressType" class="" type="checkbox" name="addressType" formControlName="isDefault" (change)="changeDefault($event)">
                              <label for="addressType"></label>
                              <label for="addressType" class="make_as_default_checkbox">{{ 'lbl.user.setting.address_modal.make_as_default_checkbox'  | translate }}</label>
                            </div>
                            <span class="make_as_default_note">{{ 'lbl.user.setting.address_modal.make_as_default_note'  | translate }}</span>

                          </div>
                        </div>
                        <!-- / input-portalCode, input-state -->
                      </div>           
                    <!-- / add shipping address form -->
                    <div class="col-md-12">
                      <app-alert [message]="resError"></app-alert>
                    </div>
                  </div>
                  <!-- To trigger submit form -->
                  <button type="submit" [hidden]= "1===1" #submit>{{ 'btn.continue' | translate }}</button>
                </form>
              </div>                
            </div>
          </div>

        </div>
        <!-- /container -->
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-6 col-sm-6">
            <div class="form-group">
              <button class="btn btn-primary btn-pop-up shave2u-btn-primary" (click)="submit.click()">{{ 'btn.save' | translate }}</button>
            </div>
          </div>
          <div class="col-6 col-sm-6">
            <div class="form-group">                          
              <button type="submit" class="btn btn-default btn-cancel-popup btn-pop-up shave2u-btn-secondary" data-dismiss="modal" aria-label="Close" (click)="close();backToList()">{{ 'btn.cancel' | translate }}</button>
            </div>
          </div>              
        </div>
      </div>
    </div>
    
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal-backdrop fade modal-backdrop-shave2u"></div>