.adddress-info {
  .alert {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 0px;
  }
  .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
    [class*="col-"] {
      padding: 0;
    }
  }
}
.shave2u-billing-check {
  min-height: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.05);
}

.shave2u-make-default {
  min-height: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
  align-items: center;
  .make_as_default_note {
    display: block;
    padding: 5px 0 0 28px;
    font-family: 'Muli';
    font-size: 14px;
    color: #757575;
  }
}

@media  (max-width: 767px) {
  .adddress-info{
    .pr-2{
      padding-right: 0 !important;
    }
    .border-right-0{
      border-right: 1px solid rgba(0, 0, 0, 0.15) !important;
    }
  }
}