#article-detail-page {
  .related-articles {
    .carousel-inner {
      padding-bottom: 100px;
    }
    .btn-carousel-np {
      height: 100px;
      bottom: -100px;
      min-width: 180px;
      color: #000;
      &.carousel-control-next {
        .ico-pre-2-next {
          transform: rotate(180deg);
          padding-right: 10px;
        }
      }
    }
    .carousel-btn-group {
      position: relative;
      bottom: 0;
    }
		.article-content {
			h2.heading {
				margin-bottom: 30px;
				font-size: 23px;
				display: inline-block;

				&::after {
					content: "";
			    height: 10px;
			    width: 250px;
			    background: #ccc;
			    display: block;
			    margin-top: 5px;
			    width: 85%;
				}
			}
			.block-content {
		    max-width: 80%;
			}
		}
		.articles-latest {
			.card-title {
				font-size: 16px;
			}
		}
  }
}

@media screen and (max-width: 767px) {
	#article-detail-page {
	  .related-articles {
			.article-content {
				.block-content {
			    max-width: 100%;
				}
			}
		}
	}
}
