<div id="article-detail-page" *ngIf="!isloading" class="container">
	<div class="articles-header text-center mt-4">
		<h2 class="title">Articles</h2>
		<div class="cate-listing">
			<ul>
				<!-- <li *ngFor="let type of articleTypes"><span class="click-able" (click)="changeArticleType(type.id)">{{ type.type }}</span></li> -->
				<li *ngFor="let type of articleTypes">
					<a [routerLink]="['/articles']" [queryParams]="{ type_id: type.id }">{{ type.type }}</a>
				</li>
			</ul>
		</div>
	</div>
  <div class="artical-content-inner mt-5">
    <div class="row">
      <!-- Start Related Articles -->
      <div class="related-articles col-sm-12 col-md-8 col-lg-8">
        <div class="article-content">
					<div class="block-header">
						<h2 class="heading">{{articleInfo.title}}</h2>
					</div>
					<div class="text-centermt-3 mb-3">
						<img class="img-fluid w-100" src="{{articleInfo.bannerUrl}}" alt="">
					</div>
					<div class="block-content">
						{{articleInfo.content}}
					</div>
        </div>
				<div class="articles-latest mt-5">
					<div class="articles-latest-heading">
						<h3 class="heading">Related Article</h3>
					</div>
					<div class="row mt-3"><!-- justify-content-center-->
						<div class="col-sm-12 col-md-4 col-lg-4 mb-4" *ngFor="let article of relatedArticles">
							<div class="card">
								<a [routerLink]="['/article', article.id]">
									<img src="{{article.bannerUrl}}">
								</a>
								<div class="card-body">
									<h4 class="card-title title-custom">
										<a [routerLink]="['/article', article.id]">{{article.title}}</a>
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-4 col-lg-4">
				<div class="right-block">
					<div class="block-header">
						<h3 class="heading">Features</h3>
					</div>
					<div class="articles-latest mt-3">
						<div class="row mt-3"><!-- justify-content-center-->
							<div class="col-12 mb-4" *ngFor="let article of features">
								<div class="card">
									<a [routerLink]="['/article', article.id]">
										<img src="{{article.bannerUrl}}">
									</a>
									<div class="card-body">
										<h4 class="card-title title-custom">
											<a [routerLink]="['/article', 1]">{{article.title}}</a>
										</h4>
										<p class="card-text"><small class="text-muted">{{article.createdAt | date:'d MMM y'}}</small></p>
									</div>
								</div>
							</div>
				      <!-- Subcriptiton -->
				      <div class="col-12 mb-4">
				        <div class="card">
				          <img src="/assets/images/default-image.png">
				          <div class="card-img-overlay d-flex">
				            <div class="d-flex align-self-center">
				              <div class="text-inner text-white">
				                <h2>Suscription <br> Banner</h2>
			                  <a href="" class="link-text-underline text-white"><small>Try Now</small></a>
				              </div>
				            </div>
				          </div>
				        </div>
				      </div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Related Articles -->
      <!-- Subcriptiton -->
      <!-- <div class="col-sm12 col-md-8 col-lg-8 mb-4 mt-4">
        <div class="card">
          <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/articles/articles-03.png">
          <div class="card-img-overlay d-flex">
            <div class="d-flex align-self-center">
              <div class="text-inner text-white">
                <h2>Suscription <br> Banner</h2>
                  <a href="" class="link-text-underline text-white"><small>Try Now</small></a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <!-- <div class="block-articles">
    <h2 class="block-heading">Articles</h2>
    <ul class="list-inline article-type-list">
      <li class="list-inline-item" *ngFor="let item of articleTypes">
        <a>{{item.type}}</a>
      </li>
    </ul>
  </div>
  <div class="row block-main-content">
    <div class="item col-xl-8">
      <article class="main-content">
        <header class="entry-header">{{articleInfo.title}}</header>
        <img class="entry-image" src="{{apiURL}}{{articleInfo.bannerUrl}}" alt="">
        <div class="entry-content">{{articleInfo.content}}</div>
      </article>
      <div class="related-articles">
        <h2 class="block-heading">Related Articles</h2>
        <div class="row">
          <div class="item col-xs-4 col-lg-4" *ngFor="let item of relatedArticles">
            <div class="thumbnail">
              <a [routerLink]="['/article', item.id]">
                <img class="group list-group-image" src="{{apiURL}}{{item.bannerUrl}}" alt="">
              </a>
              <div class="caption">
                <h4 class="group inner list-group-item-heading">
                  {{item.title}}
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item col-xs-4 sidebar-right">
      <h2 class="block-heading">Features</h2>
      <div class="row">
        <div class="item col-xs-12 col-lg-12" *ngFor="let item of features">
          <div class="thumbnail">
            <a [routerLink]="['/article', item.id]">
              <img class="group list-group-image" src="{{apiURL}}{{item.bannerUrl}}" alt="">
            </a>
            <div class="caption">
              <h4 class="group inner list-group-item-heading">
                {{item.title}}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- /.block-articles -->
</div>
