@media (min-width: 321px) and (max-width: 767px) {
  .user-subscription-overview-block {
    &.border-block {
      padding-left: 0;
      margin-bottom: 28px;
      tbody tr:first-child td {
        border-top: none;
      }
  
      .subs-image-overview {
        max-width: 100%;
        display: block;
        margin: auto;
      }
  
      .clickable {
        cursor: pointer;
      }
  
      h4.clickable {
        display: inline-block;
      }
    }
    .subsciption-row {
      background-color: #f9f9f9;
      padding: 50px 0px;
      margin-bottom: 25px;
      .title-left {
        width: 100%;
      }
      .name {
        width: 100%;
      }
      .short-description {
        width: 100;
      }
      .expiring-in {
        width: 100%;
      }
      .subsciption-info {
        text-align: left;
        padding: 0 15px 44px 15px;
        p {
          margin-bottom: 0;
        }
        .shipping-date, .item-list, .charge-date, .payment-method {
          font-size: 16px;
          margin-bottom: 10px;
          text-align: left;
          // max-width: 99%;
          // margin: auto;
          .title {
            color: #698eb1;
            margin-bottom: 5px;
          }
        }
        .subs-card-info {
          .card-type, .card-type-master {
            float: none;
          }
          .card-details {
            // margin: auto;
            // width: 100%;
            // text-align: center;
            // padding-left: 0;
          }
        }
      }
    }
  }
  .contact-us {
    text-align: center;
    padding-left: 0;
    margin-top: -16px;
    font-size: 17px;
    .email, .phone {
      color: $primary-color;
    }
  }
  
  .empty-subscription {
    padding-left: 0;
    padding-top: 65px;
    p {
      line-height: 30px;
      margin-bottom: 24px;
    }
  }
}

@media (max-width: 320px) {
  .user-subscription-overview-block {
    &.border-block {
      padding-left: 0;
      margin-bottom: 28px;
      tbody tr:first-child td {
        border-top: none;
      }
  
      .subs-image-overview {
        max-width: 100%;
        display: block;
        margin: auto;
      }
  
      .clickable {
        cursor: pointer;
      }
  
      h4.clickable {
        display: inline-block;
      }
    }
    .subsciption-row {
      background-color: #f9f9f9;
      padding: 50px 0px;
      margin-bottom: 25px;
      .title-left {
        width: 100%;
      }
      .name {
        width: 100%;
      }
      .short-description {
        width: 100;
      }
      .expiring-in {
        width: 100%;
      }
      .subsciption-info {
        text-align: left;
        padding: 0 15px 44px 15px;
        p {
          margin-bottom: 0;
        }
        .shipping-date, .item-list, .charge-date, .payment-method {
          font-size: 16px;
          margin-bottom: 10px;
          text-align: left;
          .title {
            color: #698eb1;
            margin-bottom: 5px;
          }
        }
        .subs-card-info {
          .card-type, .card-type-master {
            float: none;
          }
          .card-details {
            // margin: auto;
            // width: 100%;
            // text-align: center;
            // padding-left: 0;
          }
        }
      }
    }
  }
  .contact-us {
    text-align: center;
    padding-left: 0;
    margin-top: -16px;
    font-size: 17px;
    .email, .phone {
      color: $primary-color;
    }
    :nth-child(2) {
      width: 180px;
      margin: auto;
    }
  }
  
  .empty-subscription {
    padding-left: 0;
    padding-top: 65px;
    p {
      width: 250px;
      margin: auto;
      line-height: 30px;
      margin-bottom: 24px;
    }
  }
}