<div class="user-subscription-overview-block border-block" *ngIf="subscriptionsList.length > 0 && !isloading">
  <div class="col-sm-12 col-md-12">
    <div class="row subsciption-row" *ngFor="let item of subscriptionsList">
      <div class="col-xl-6">
        <p class="title-left">{{'lbl.user.subscription.subscribed' | translate}}</p>
        <p class="name" *ngIf="item.PlanCountry">{{ item.PlanCountry.Plan.planTranslate | productTranslate: 'name' }}</p>
        <p class="name" *ngIf="item.CustomPlan">{{ item.CustomPlan.description }}</p>
        <ng-container *ngIf="item.isTrial">
        <p class="short-description">{{ item.PlanCountry.Plan.planTranslate | productTranslate: 'shortDescription' }}</p>
        <ng-container *ngIf="item.startDeliverDate">
          <p class="expiring-in">{{'lbl.user.subscription.trial_expiring_in' | translate : {value: item.startDeliverDate | date:'dd MMMM yyyy' } }}</p>
        </ng-container>
        <ng-container *ngIf="!item.startDeliverDate">
          <p class="expiring-in">{{'lbl.user.subscription.trial_expiring_in_14_days' | translate }}</p>
        </ng-container>
        </ng-container>
        <img *ngIf="item.PlanCountry" class="subs-image-overview clickable" src="{{item.PlanCountry.Plan.planImages.url}}">
        <img *ngIf="item.CustomPlan" class="subs-image-overview clickable" src="">
      </div>
      <div class="col-xl-6 subsciption-info">
        <!-- <p class="starting-date">{{'lbl.user.subscription.start_from' | translate}}{{ item.createdAt | date:'dd-MMM-yy' }}</p> -->
        <div class="shipping-date">
          <p class="title">{{'lbl.user.subscription.next_shipment' | translate}}</p>
          <p>{{ item.nextDeliverDate | date:'dd MMMM yyyy' }} - {{ item.nextWorkingDate | date:'dd MMMM yyyy' }}</p>
        </div>
        <div class="item-list">
          <p class="title">{{'lbl.user.subscription.items' | translate}}</p>
          <ng-container *ngIf="item.nextDeliveryProducts">
            <p *ngFor="let product of item.nextDeliveryProducts">
              <!-- ({{product.qty}}) {{product.productName.name}} --><!-- <span *ngIf="i == (item.nextDeliveryProducts.length - 1)"> </span><span *ngIf="i < (item.nextDeliveryProducts.length - 1)">, </span> -->
              ({{product.qty}}) {{product.productName  | productTranslate: 'name'}}
            </p>
          </ng-container>
          <ng-container *ngIf="item.CustomPlan">
            <p *ngFor="let product of item.CustomPlan.customPlanDetail; let i = index">
              ({{product.qty}}) {{product.ProductCountry.Product.productTranslate | productTranslate: 'name'}}<!-- <span *ngIf="i == (item.nextDeliveryProducts.length - 1)"> </span><span *ngIf="i < (item.nextDeliveryProducts.length - 1)">, </span> -->
            </p>
          </ng-container>
        </div>
        <div class="charge-date">
          <p class="title">{{'lbl.user.subscription.charges' | translate}}</p>
          <ng-container *ngIf="item.nextChargeDate">
            <p *ngIf="item.PlanCountry">{{'lbl.user.subscription.charges_on_date' | translate : {currency: item.PlanCountry.Country.currencyDisplay, price: item.pricePerCharge | number:'1.2-2', date: item.nextChargeDate | date:'dd MMMM yyyy'} }}</p>
            <p *ngIf="item.CustomPlan">{{'lbl.user.subscription.charges_on_date' | translate : {currency: item.CustomPlan.Country.currencyDisplay, price: item.pricePerCharge | number:'1.2-2', date: item.nextChargeDate | date:'dd MMMM yyyy'} }}</p>
          </ng-container>
          <ng-container *ngIf="!item.nextChargeDate">
            <p *ngIf="item.PlanCountry">{{'lbl.user.subscription.charges_on_14_days' | translate : {currency: item.PlanCountry.Country.currencyDisplay, price: item.pricePerCharge | number:'1.2-2'} }}</p>
            <p *ngIf="item.CustomPlan">{{'lbl.user.subscription.charges_on_14_days' | translate : {currency: item.CustomPlan.Country.currencyDisplay, price: item.pricePerCharge | number:'1.2-2'} }}</p>
          </ng-container>
        </div>
        <div class="charge-date">
          <p class="title">{{'lbl.user.subscription.status' | translate}}</p>
          <p *ngIf="item.hasSendCancelRequest && item.status !== 'Canceled'">
            {{ 'lbl.user.subscription.view_detail.free_trial.trial_subs_cancelled_handling' | translate }}
          </p> 
          <p *ngIf="item.status === 'Canceled'">
            {{ 'msg.status.canceled' | translate }}
          </p>
          <p *ngIf="item.status === 'Processing'">
            {{ 'msg.status.process' | translate }}
          </p>
          <p *ngIf="item.status === 'On Hold'">
            {{ 'msg.status.on_hold' | translate }}
          </p>
          <p *ngIf="item.status !== 'Processing' && item.status !== 'Canceled' && item.status !== 'On Hold'">
            {{ item.status }}
          </p>
        </div>
        <div class="mb-center">
          <button class="btn btn-primary shave2u-btn-primary mt-2 mb-4" (click)="viewDetails(item.id)">{{'lbl.user.subscription.details' | translate}}</button>
        </div>
        <div class="payment-method">
          <p class="title">{{'lbl.user.subscription.payment_method' | translate}}</p>
          <div class="subs-card-info">
            <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/visa-128.png" alt="visa card" class="card-type" *ngIf="item.Card && item.Card.branchName === 'Visa'">
            <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/mastercard-logo.png" alt="Master card" class="card-type-master" *ngIf="item.Card && item.Card.branchName !== 'Visa'">
            <div class="card-details" *ngIf="item.Card">
              {{ 'lbl.user.subscription.ending_in' | translate }} {{item.Card.cardNumber}}<br>
              {{ 'lbl.user.subscription.expired_on' | translate }} {{item.Card.expiredMonth}}/{{item.Card.expiredYear.slice(-2)}}<br>
            </div>
          </div>
        </div>
        <div class="mb-center">
          <button class="btn btn-primary shave2u-btn-primary mt-2" (click)="changeCard(item)" *ngIf="item.status !== 'Canceled'">{{'lbl.user.subscription.update' | translate}}</button>
        </div>
        <!-- <p>Current: {{ currentCountryId }} </p> -->
      </div>
    </div>
  </div>
</div>
<div class="contact-us" style="display:none;" *ngIf="subscriptionsList.length > 0 && !isloading">
  <!-- <div>{{'lbl.user.subscription.cancel_email' | translate}}<span class="email"><a href="mailto:help@shaves2u.com">help@shaves2u.com</a></span></div> -->
  <div *ngIf="this.storage.getCountry().code !== 'MYS' && this.storage.getCountry().code !== 'SGP' && this.storage.getCountry().code !== 'KOR'" [innerHTML]="'lbl.user.subscription.cancel_email' | translate"></div>
  <div *ngIf="this.storage.getCountry().code === 'KOR'" [innerHTML]="'lbl.user.subscription.cancel_email_kor' | translate : {phone1: '+0260069777', phone2: '+02 6006 9777'}"></div>
  <div *ngIf="this.storage.getCountry().code === 'MYS'" [innerHTML]="'lbl.user.subscription.cancel_email_mys' | translate"></div>
  <div *ngIf="this.storage.getCountry().code === 'SGP'" [innerHTML]="'lbl.user.subscription.cancel_email_sgp' | translate"></div>
  
  
  <div *ngIf="this.storage.getCountry().code === 'MYS'" [innerHTML]="'lbl.user.subscription.cancel_phone' | translate : {phone1: '+60327732882', phone2: '+603 2773 2882'}">
    <!-- <span class="phone"><a *ngIf="this.storage.getCountry().code !== 'SGP'" href="tel:+60392126282">+603 92126282</a></span>
    <span class="phone"><a *ngIf="this.storage.getCountry().code === 'SGP'" href="tel:+6531630325">+65 31630325</a></span> -->
  </div>
  <div *ngIf="this.storage.getCountry().code === 'SGP'" [innerHTML]="'lbl.user.subscription.cancel_phone' | translate : {phone1: '+6563291488', phone2: '+65 6329 1488'}">
  </div>
  <div *ngIf="this.storage.getCountry().code === 'KOR'" [innerHTML]="'lbl.user.subscription.cancel_phone' | translate : {phone1: '+0260069777', phone2: '+02 6006 9777'}">
  </div>
</div>

<div class="empty-subscription text-center" *ngIf="subscriptionsList.length === 0 && !isloading && !isUpdatedCard">
  <h6>{{'lbl.user.subscription.empty_subscription_title' | translate}}</h6>
  <p>{{'lbl.user.subscription.empty_subscription' | translate}}</p>
  <button class="btn btn-primary shave2u-btn-primary" (click)="goToSubscription()">{{'lbl.user.subscription.subscribe_now' | translate}}</button>
</div>
<card-list-modal [currentSubId] ='currentSubId' (hasResetDefault)='hasResetDefault($event)' [selectedcard]="selectedCard" (hasChange)='hasChangeCard($event)' (hasClicked)='hasUpdatingCard()'></card-list-modal>