@import "../../../../../assets/sass/mixins/color";
.user-subscription-overview-block {
  &.border-block {
    padding-left: 45px;
    margin-bottom: 28px;
    tbody tr:first-child td {
      border-top: none;
    }

    .subs-image-overview {
      max-width: 100%;
      display: block;
      margin: auto;
    }

    .clickable {
      cursor: pointer;
    }

    h4.clickable {
      display: inline-block;
    }
  }
  .subsciption-row {
    background-color: #f9f9f9;
    padding: 50px 0px;
    margin-bottom: 25px;
    .title-left {
      text-align: center;
      font-size: 25px;
      margin: 0;
      width: 70%;
    }
    .name {
      text-align: center;
      font-weight: bold;
      font-size: 28px;
      // height: 38px;
      width: 70%;
    }
    .short-description {
      width: 70%;
      text-align: center;
    }
    .expiring-in {
      width: 70%;
      text-align: center;
    }
    .subsciption-info {
      text-align: left;
      padding-left: 50px;
      p {
        margin-bottom: 0;
      }
      // .title-payment {
      //   font-size: 25px;
      //   margin-top: 23px;
      //   text-transform: uppercase;
      // }
      .shipping-date, .item-list, .charge-date, .payment-method {
        font-size: 16px;
        margin-bottom: 10px;
        text-align: left;
        .title {
          color: #698eb1;
          margin-bottom: 5px;
        }
      }
      hr {

      }
    }

    .subs-card-info {
      width: 100%;
      display: -webkit-box;
      img {
        padding: 13px 0;
      }
      img.card-type-master {
        padding: 4px 0;
      }
      .card-details {
        padding-left: 25px;
        text-align: left;
      }
    }
  }
}
.contact-us {
  text-align: center;
  padding-left: 47px;
  font-size: 17px;
  .email, .phone {
    color: $primary-color;
  }
}

.empty-subscription {
  padding-left: 53px;
  padding-top: 56px;
  p {
    font-size: 25px;
    margin-bottom: 25px;
  }
}


// @media  (max-width: 767px) {
//   .empty-subscription {
//     padding-left: 0;
//     padding-top: 87px;
//   }
// }

@media(max-width: 767px) {
  .mb-center {
    text-align: center;
  }
}

@import '_user-subscription-response.component';