<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add a new plan group</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12 plan-info">
        <form #f='ngForm' novalidate (ngSubmit)='f.form.valid && doAddPlanGroup()' [formGroup]="planGroupForm">
          <div class="row">
            <div class="col-sm-12 form-group" [ngClass]="f.submitted && !planGroupForm.controls.url.valid ? 'has-danger' : ''">
              <label class="form-control-label">Image (<span class="required">*</span>)</label>
              <div class="controls">
                <single-file-upload [group]="planGroupForm" [controlName]="'url'"></single-file-upload>
              </div>
              <span class="form-control-feedback" *ngIf="f.submitted && !planGroupForm.controls.url.valid">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>
            <!-- Translate -->
            <div class="col-sm-12 form-group" formArrayName="planGroupTranslate">
              <div class="card-block pl-0">
                <h6 class="text-uppercase form-control-inline mr-2">Translate List</h6>
                <plan-group-translate-form [planGroupTranslateForm]="planGroupForm.controls.planGroupTranslate"></plan-group-translate-form>
              </div>
            </div>
            <!-- / Translate -->
            <div class="col-sm-12">
              <app-alert></app-alert>
            </div>
            <div class="col-sm-6 form-group">
              <button type="button" class="btn btn-secondary btn-sm" (click)="gotoList()">Cancel</button>
              <button type="submit" class="btn btn-primary shave2u-btn-primary">Save Changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>