<div class="list-item mainWrap clearfix" *ngIf='productCart || planCart'>
  <!-- Product list -->
  <div class="list-row row">
    <div class="list-contain col-md-12 col-12">
      <!-- For alacartes Cart-->
      <div class="box-body" *ngIf="productCart && productCart.length > 0">
        <h2 class="total-items">{{ 'review.item_selected' | translate : {value: productCart.length} }}</h2>
        <div class="block-items">
          
          <ng-container *ngFor="let item of productCart; let i = index;">
          <ul class="row no-gutters row-custom text-center">
            <li class="item item-info col-12 col-sm-6">
              <div class="image-contain image-center-with-border pull-left clickable" clickable>
                <div class="image-inner">
                  <div class="image" *ngIf="item.product.productImages">
                    <display-image [class]="'img-responsive list-item-image-contain'" [images]="item.product.productImages"></display-image>
                  </div>
                </div>
              </div>
              <div class="text-contain text-center-vertical pull-left">
                <div class="text-inner" *ngIf="item.product.productTranslate">
                  <h4 class="product-name clickable"><strong>{{item.product.productTranslate | translatePipe: 'name'}}</strong></h4>
                  <strong class="sku">{{item.product.sku}}</strong>
                  <div class="text-inner" *ngIf="item.product.productCountry">
                    <span class="item-price">{{ 'review.item_price' | translate }}: {{ item.product.productCountry.sellPrice | smsCurrency}}</span>
                  </div>
                  <p class="qty">x{{ item.qty }}</p>
                </div>
              </div>
            </li>
            <li class="item item-quantity col-12 col-sm-6">
              <div class="text-contain text-center-vertical contain-full">
                <div class="text-inner">
                  <div class="quantity-action-tool">
                    <strong>{{ item.product.productCountry.sellPrice * item.qty | smsCurrency}}</strong>
                    <!--<div class="btn-minus" (click)="minusQuatity(i, productType)"><span class="fa fa-minus"></span></div>
                    <input type="number" name="qty" [(ngModel)]="item.qty" #qty="ngModel" (change)="changeQuatity(i, productType)"/>
                    <div class="btn-plus" (click)="plusQuatity(i, productType)"><span class="fa fa-plus"></span></div>-->
                  </div>
                </div>
              </div>
            </li>
          </ul>
          </ng-container>
        </div>
        <div class="box-right-contain">
          <div class="box-inner">
            <div class="row">
              <span class="col-6 col-sm-9 val-left">{{ 'price.total' | translate }}</span> 
              <strong class="col-6 col-sm-3 val-right">{{receipt.totalPrice | smsCurrency}}</strong>
            </div>
            <div class="row">
              <span class="col-6 col-sm-9 val-left">{{ 'price.discount' | translate }}</span>
              <strong class="col-6 col-sm-3 val-right">{{receipt.discount | smsCurrency}}</strong>
            </div>
            <div class="row">
              <span class="col-6 col-sm-9 val-left">{{ 'price.subTotal' | translate }}</span> 
              <strong class="col-6 col-sm-3 val-right">{{receipt.subTotal | smsCurrency}}</strong>
            </div>
            <div class="row" *ngIf="itemType !== 'alacartes'">
              <span class="col-6 col-sm-9 val-left">{{ 'price.shipping_fee' | translate }}</span>
              <strong class="col-6 col-sm-3 val-right">{{(receipt.shippingFee != 0.00) ? (receipt.shippingFee | smsCurrency) : 'price.free' | translate }}</strong>
            </div>
            <div class="row" *ngIf="itemType === 'alacartes'">
              <span class="col-6 col-sm-9 val-left">{{ 'price.shipping_fee' | translate }}</span>
              <strong class="col-6 col-sm-3 val-right">{{ 'price.free' | translate }}</strong>
            </div>
            <!-- <div class="row" *ngIf="!currentUser.Country.includedTaxToProduct">
              <span class="col-6 col-sm-9 val-left">{{ 'price.total_tax' | translate }}</span>
              <strong class="col-6 col-sm-3 val-right">{{ (receipt.subTotal  + +receipt.shippingFee) | smsCurrency }}</strong>
            </div> -->
            <!-- promotion form -->
            <div class="promo-code">
              <h3 class="heading-promo">{{ 'promo.heading' | translate }}</h3>
              <form [formGroup]="promoCodeForm" novalidate #f="ngForm" class="promo-code-group">
                <div class="form-group promo-code-group">
                  <input class="promo-code form-control" type="text" id="promoCode" name="promo_code" formControlName="promoCode"
                   (change)="promoCode=$event.target.value;promoCodeError=null" 
                    placeholder="{{ 'promo.place_holder' | translate }}" [attr.disabled]="notAllowPromoCode ? true : null">
                  <button type="submit" class="btn btn-primary shave2u-btn-primary btn-block btn-apply-promo" (click)="applyPromoCode(promoCodeForm.value.promoCode)"
                    [disabled]="(!promoCodeForm.controls.promoCode.value || promoCodeForm.controls.promoCode.value === '') ? true : null">{{ 'btn.apply' | translate }}</button>
                </div>
              </form>
              <div class="alert alert-danger mr-sm-2 mt-sm-2" role="alert" *ngIf="promoCodeError">{{ promoCodeError.message }}</div>
            </div>
            <hr>
            <div class="row">
              <span class="col-6 col-sm-9 val-left" *ngIf="currentUser.Country.includedTaxToProduct">{{ 'price.grand_total_tax' | translate }}</span>
              <span class="col-6 col-sm-9 val-left" *ngIf="!currentUser.Country.includedTaxToProduct">{{ 'price.grand_total' | translate }}</span>
              <strong class="col-6 col-sm-3 val-right">{{receipt.totalIclTax | smsCurrency}}</strong>
            </div>
          </div>
          
        </div>

        <!-- currency group -->
       
        
      </div>
      <!-- / For alacartes Cart-->

      <!-- For subscriptions Cart-->
      <div class="box-body" *ngIf="planCart && planCart.length > 0">
        <h2 class="total-items">{{ 'review.item_selected' | translate : {value: planCart.length} }}</h2>
        <div class="block-items">
          
          <ng-container *ngFor="let item of planCart; let i = index;">
          <ul class="row no-gutters row-custom text-center">
            <li class="item item-image">
              <div class="image-contain image-center-with-border pull-left clickable" clickable>
                <div class="image-inner">
                  <div class="image" *ngIf="item.plan.planImages">
                    <display-image [class]="'img-responsive list-item-image-contain'" [images]="item.plan.planImages"></display-image>
                  </div>
                </div>
              </div>
            </li>
            <li class="item item-description">
              <div class="description row">
                <div class="text-contain text-center-vertical col-12 col-sm-8">
                  <div class="text-inner" *ngIf="item.plan.planTranslate">
                    <div class="description-middle">
                      <h4><strong>{{ 'review.free_trial_info.what_you_get' | translate }}</strong></h4>
                      <appProductDescription [productTranslate]="item.plan.planTranslate"></appProductDescription>
                      <!-- <div class="notice-every">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                          {{ 'review.free_trial_info.every' | translate }} {{ item.plan.PlanType.planTypeTranslate | productTypeTranslate: 'name' }}<br>
                      </div> -->
                    </div>
                    <!-- <h4 class="product-name clickable">
                      <strong>
                        {{ 'review.free_trial_info.heading' | translate }}
                      </strong>
                    </h4>
                    <span class="short-description">
                      {{ 'review.free_trial_info.details_text_1' | translate }}
                      <span class="hight-light">{{item.plan.planTranslate | translatePipe: 'name'}}</span>
                      {{ 'review.free_trial_info.details_text_2' | translate }}
                      <span class="hight-light">{{ (item.plan.planCountry[0].pricePerCharge * item.qty) | smsCurrency}}</span>
                      {{ 'review.free_trial_info.details_text_4' | translate }}
                      <span class="hight-light">{{ item.first_delivery | date : 'dd MMMM yyyy' }}</span>
                    </span> -->
                  </div>
                </div>
                <div class="col-12 col-sm-4 text-right">
                  <strong>{{ ('0.00') | smsCurrency}}</strong>
                </div>
                <!--<div class="text-contain text-center-vertical contain-full">
                  <div class="text-inner">
                    <div class="quantity-action-tool">
                      <strong>{{ (item.plan.planCountry[0].sellPrice / item.plan.PlanType.totalChargeTimes) * item.qty | smsCurrency}}</strong>
                      <div class="btn-minus" (click)="minusQuatity(i, productType)"><span class="fa fa-minus"></span></div>
                      <input type="number" name="qty" [(ngModel)]="item.qty" #qty="ngModel" (change)="changeQuatity(i, productType)"/>
                      <div class="btn-plus" (click)="plusQuatity(i, productType)"><span class="fa fa-plus"></span></div>
                    </div>
                  </div>
                </div>-->
              </div>
              <div class="subsequentDescription row">
                <div class="text-contain text-center-vertical col-12 col-sm-8">
                  <div class="text-inner" *ngIf="item.plan.planTranslate">
                    <div class="description-middle">
                      <appProductDescription [productTranslate]="item.plan.planTranslate" [isSubsequent]=true></appProductDescription>
                      <div class="notice-every" *ngIf="storage.getLanguageCode() === 'EN'">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                          {{ 'review.free_trial_info.every' | translate }} {{ item.plan.PlanType.planTypeTranslate | productTypeTranslate: 'name' }}<br>
                      </div>
                      <div class="notice-every" *ngIf="storage.getLanguageCode() === 'KO'">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                        {{ item.plan.PlanType.planTypeTranslate | productTypeTranslate: 'name' }} {{ 'review.free_trial_info.every' | translate }}<br>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4 text-right">
                  <ng-container *ngIf="!cartService.getPromoCode().id">
                    <strong>{{ item.plan.planCountry[0].sellPrice | smsCurrency}}</strong>
                  </ng-container>
                  <ng-container *ngIf="cartService.getPromoCode().id && cartService.getPromoCode().planCountryIds">
                    <strong>{{ (item.plan.planCountry[0].sellPrice - (item.plan.planCountry[0].sellPrice * (cartService.getPromoCode().discount / 100))) | smsCurrency}}</strong>
                    <div class="discount-text">
                      {{ 'review.free_trial_info.discount_off_first_delivery' | translate : {price: item.plan.planCountry[0].sellPrice | smsCurrency, discount: cartService.getPromoCode().discount} }}<br>
                    </div>
                  </ng-container>
                </div>
              </div>
            </li>
          </ul>
          <ul class="row no-gutters row-custom-checkbox text-center">
            <li class="item col-12">
              <label class="checkbox-container">{{ 'review.collect_my_trial_kit_now' | translate }}
                <input type="checkbox" [(ngModel)]="directTrial">
                <span class="checkmark"></span>
              </label>
            </li>
          </ul>
          </ng-container>
        </div>
        <div class="box-right-contain">
          <div class="box-inner">
            <div class="row">
              <span class="col-6 col-sm-9 val-left">{{ 'price.total' | translate }}</span> 
              <strong class="col-6 col-sm-3 val-right">{{ (isTrial) ? (0.00 | smsCurrency) : (receipt.totalPrice | smsCurrency) }}</strong>
            </div>
            <div class="row">
              <span class="col-6 col-sm-9 val-left">{{ 'review.discount' | translate }}</span>
              <strong class="col-6 col-sm-3 val-right">{{receipt.discount | smsCurrency}}</strong>
            </div>
            <div class="row">
              <span class="col-6 col-sm-9 val-left">{{ 'review.subtotal' | translate }}</span> 
              <strong class="col-6 col-sm-3 val-right">{{ (isTrial) ? ((0.00 - +receipt.discount) | smsCurrency) : (receipt.subTotal | smsCurrency) }}</strong>
            </div>
            <div class="row">
              <span class="col-6 col-sm-9 val-left">{{ 'price.shipping_fee' | translate }}</span>
              <strong class="col-6 col-sm-3 val-right">{{(receipt.shippingFee != 0.00) ? (receipt.shippingFee | smsCurrency) : 'price.free' | translate }}</strong>
            </div>
            <div class="row" *ngIf="!currentUser.Country.includedTaxToProduct">
              <span class="col-6 col-sm-9 val-left">{{ 'review.total_tax' | translate }}</span>
              <strong class="col-6 col-sm-3 val-right">{{ (isTrial) ? ((+receipt.shippingFee - +receipt.discount) | smsCurrency) : ((receipt.subTotal  + +receipt.shippingFee) | smsCurrency) }}</strong>
            </div>
            <!-- promotion form -->
            <!-- <div class="promo-code" *ngIf="!isTrial"> -->
            <div class="promo-code">
              <h3 class="heading-promo">{{ 'review.promo_code' | translate }}</h3>
              <form [formGroup]="promoCodeForm" novalidate #f="ngForm" class="promo-code-group">
                <div class="form-group promo-code-group">
                  <input class="promo-code form-control" type="text" id="promoCode" name="promo_code" formControlName="promoCode"
                   (change)="promoCode=$event.target.value;promoCodeError=null" 
                    placeholder="{{ 'promo.place_holder' | translate }}" [attr.disabled]="(notAllowPromoCode) ? true : null">
                  <button type="submit" class="btn btn-primary shave2u-btn-primary btn-block btn-apply-promo" (click)="applyPromoCode(promoCodeForm.value.promoCode)"
                    [disabled]="((!promoCodeForm.controls.promoCode.value || promoCodeForm.controls.promoCode.value === '' || receipt.specialDiscount  > 0)) ? true : null">{{ 'btn.apply' | translate }}</button>
                </div>
              </form>
              <div class="alert alert-danger mr-sm-2 mt-sm-2" role="alert" *ngIf="promoCodeError">{{ promoCodeError.message }}</div>
            </div>
            <hr>
            <div class="row">
              <span class="col-6 col-sm-9 val-left">{{ 'review.grand_total_tax' | translate }}</span>
              <!-- <strong class="col-6 col-sm-3 val-right">{{ (isTrial) ? (0.00 | smsCurrency) : (receipt.totalIclTax | smsCurrency) }}</strong> -->
              <strong class="col-6 col-sm-3 val-right">{{ (isTrial) ? (+receipt.shippingFee - +receipt.discount | smsCurrency) : (receipt.totalIclTax | smsCurrency) }}</strong>
            </div>
          </div>
          
        </div>

        <!-- currency group -->
       
        
      </div>
      <!-- / For subscriptions Cart-->

    </div>

    <!-- action -->
    <div class="group-btn">
      <a (click)="nextStep()" class="btn btn-primary shave2u-btn-primary btn-nextTo">{{ 'btn.next' | translate }}</a>
    </div>

  </div>
  <!-- End product list -->
      
</div>