.list-item {
  .heading {
    margin-bottom: 20px;
  }
  .total-items {
    border-bottom: 1px solid #CCC;
    padding-bottom: 15px;
    font-size: 16px;
    margin: 0;
    color: #adadad;
    font-weight: 400;
    font-family: 'Muli'
  }
  .cart-page-inner {
    padding: 80px 35px;
  }
  .shave2u-no-item {
    padding: 80px 0;
  }
  .account-info,
  .list-row {
    position: relative;
    .list-contain {
      .box-body {
        .block-items {
          margin-top: 15px;
          .row-custom {
            display: flex;
            width: 100%;
            border-bottom: 1px solid #CCC;
            margin: 0;
            padding: 10px 0px 10px 20px;
            .item {
              padding: 6px 0;
              .image-contain {
                width: 103px;
                // max-width: 44%;
                background: #ffffff;
                .image-inner {
                  .image {
                    height: 103px;
                    padding: 14px;
                  }
                }
              }

              .product-name {
                font-size: 16px;
              }
              
              // .item-info {
              //   // width: 50%;
              // }
              .short-description {
                display: block;
                .hight-light {
                  font-family: 'Muli Bold';
                  font-size: 16px;
                  color: #3A6E9C;
                }
              }
              .item-price {
                // width: 16%;
                div {
                  padding-left: 0px;
                }
              }
              
              .item-price-charge-time {
                color: #adadad;
                display: block;
                width: 100%
              }

              span.item-price {
                color: #adadad;
                label.line-through {
                  text-decoration: line-through;
                }
              }
              span.item-save {
                display: block;
                color: #adadad;
              }

              .item-quantity {
                // width: 50%;
                div {
                  padding-left: 0px;
                }     
              }
              .item-total {
                width: 18%;
                div {
                  padding-left: 0px;
                }
              }
              .item-action {
                width: 2%;    
                .btn-delete-product {
                  right: 18px;
                  position: relative;
                  cursor: pointer;
                }    
              }

            }
            .item-description {
              width: calc(100% - 113px);
              margin-left: 10px;
              .description, .subsequentDescription {
                margin: auto;
              }
              .subsequentDescription {
                margin-top: 0.5rem;
                padding-top: 0.5rem;
                border-top: 1px solid #DDD;
                .discount-text {
                  font-size: 14px;
                  color: #adadad;
                }
              }
            }
          }

          .subs_start {
            font-size: 16px;
            color: #adadad;
          }
          .date_start {
            font-size: 18px;
          }

          .delivery_schedules {
            li {
              margin: 10px 0;
              .heading {

              }
              .order {
                color: #adadad;
                display: block;
              }
              .value {
                display: block;
                font-weight: 600;
              }
            }
          }

        }

        .promo-code {
          padding-left: 20px;
          .heading-promo {
            padding: 15px 0 5px;
            font-size: 15px;              
          }
          .promo-code-group {
            // display: flex;
            width: 100%;
            display: block;
            .btn-apply-promo {
              font-size: 13px;
              border-radius: 0 0.25rem 0.25rem 0;
              padding: 0;
              width: 100px;
            }
          }
        }

        .box-right-contain {
          width: 100%;
          .box-inner {
            background-color: #F8F8F8;
            padding: 30px 18px 20px 0px;
            .val-left {
              text-align: right;
              // padding-right: 50px;
            }
            .val-right {
              text-align: right;
            }
          }
          .note {
            padding: 10px 18px 0;
          }
          .link-promo-code {
            color: #00478f;
            top: 5px;
            position: relative;
            font-size: 13px;
          }
          .promo-code-group {
            display: flex;
          }
          .btn-apply-promo {
            font-size: 13px;
            border-radius: 0 0.25rem 0.25rem 0;
            padding: 0;
            width: 100px;
          }
          .grand-total {
            display: grid;
            max-width: 60%;
          }
          .grand-total-price {
            font-family: "Muli";
            h3{
              color: #3a6e9c;
            }
            padding-top: 11px;
            font-size: 20px;
            padding-left: 0;
            max-width: 40%;
          }
          .box-flex, .group-btn {
            margin-bottom: 15px;
          } 
          .group-btn {
            margin-top: 20px;
            .btn {
              width: 100%;
              margin-top: 10px;
            }
          }
          &.box-contain-top{
            .box-flex{
              margin-bottom: 10px;
            }
            .group-btn {
              margin-top: 0px;
            }
          }
        }

        .promo-code {
          padding-left: 20px;
          .heading-promo {
            padding: 15px 0 5px;
            font-size: 15px;              
          }
          .promo-code-group {
            display: flex;
            .btn-apply-promo {
              font-size: 13px;
              border-radius: 0 0.25rem 0.25rem 0;
              padding: 0;
              width: 100px;
            }
          }
        }

      }
    }

    .group-btn {
      width: 100%;
      display: inline-block;
      a {
        width: 100%;
      }
    }
    
    .text-contain {
      // width: calc(100% - 103px);
      padding: 0 10px;
      text-align: left;
      .text-inner {
        // .product-name,.product-description{
          
        // }
        font-size: 14px;
        h4 {
          font-size: 16px;
        }
        span{
          font-size: 16px;
          &.fa{
            font-size: 14px;
          }
        }
      }
    }

    .grand-total {
      display: grid;
      .small-text {
        width: 100%;
        display: block;
      }
    }
    .grand-total-price {
      h3{
        color: #3a6e9c;
        font-size:24px;
      }
      padding-top: 11px;
    }
  }
  .box-bottom-contain {
    background-color: #fff;
    padding: 30px;     
    width: 385px;
    .link-promo-code {
      color: #00478f;
      top: 5px;
      position: relative;
      font-size: 13px;
    }
    .promo-code-group {
      display: flex;
    }
    .btn-apply-promo {
      font-size: 13px;
      border-radius: 0 0.25rem 0.25rem 0;
      padding: 0;
      width: 100px;
    }
    .grand-total {
      display: grid;
      max-width: 60%;
    }
    .grand-total-price {
      font-family: "Muli";
      h3{
        color: #3a6e9c;
      }
      padding-top: 11px;
      font-size: 20px;
      padding-left: 0;
      max-width: 40%;
    }
    .box-flex, .group-btn {
      margin-bottom: 15px;
    } 
    .group-btn {
      margin-top: 40px;
      .btn {
        width: 100%;
        margin-top: 10px;
      }
    }
  }

  .row-custom-checkbox {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #CCC;
    margin: 0;
    padding: 10px 0px 10px 0px;
    /* The container */
    .checkbox-container {
        display: block;
        position: relative;
        padding-left: 26px;
        margin-bottom: 10px;
        font-size: 14px;
        width: fit-content;
        cursor: pointer;
        text-align: left;
        // font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
  
    /* Hide the browser's default checkbox */
    .checkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 10%;
    }
    
    /* On mouse-over, add a grey background color */
    .checkbox-container:hover input ~ .checkmark {
        background-color: #ccc;
    }
    
    /* When the checkbox is checked, add a blue background */
    .checkbox-container input:checked ~ .checkmark {
        background-color: #09a009;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the checkmark when checked */
    .checkbox-container input:checked ~ .checkmark:after {
        display: block;
    }
    
    /* Style the checkmark/indicator */
    .checkbox-container .checkmark:after {
        left: 6px;
        top: 3px;
        width: 7px;
        height: 11px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
  }

}

@media (max-width: 767px) {
  #catListings{
    .box-bottom-contain{
      width:100%;
    }
  }
  #carts-page .box-right-contain, #catListings .box-right-contain {
    width: 100%;
    padding-left:0;
    padding-right: 0;
    // flex: 1;
  }
}
// @import '_cart-response.component';