<div class="row mt-3" [formGroup]="promotionTranslateForm">
  <div class="col-sm-12 form-group" [ngClass]="!promotionTranslateForm.controls.name.valid && (parentOnActive || promotionTranslateForm.get('name').touched || promotionTranslateForm.get('name').dirty) ? 'has-danger' : ''">

    <label class="form-control-label">Name (<span class="required">*</span>)</label>
    <div class="controls">
      <input type="text" class="form-control" id="input-name" placeholder="Enter plan name"
        formControlName="name" name="name">
    </div>
    <span class="form-control-feedback" *ngIf="promotionTranslateForm.controls.name.hasError('required') && (parentOnActive || promotionTranslateForm.get('name').touched || promotionTranslateForm.get('name').dirty)">
        {{ 'msg.validation.required' | translate }}
    </span>
    <span class="form-control-feedback" *ngIf="promotionTranslateForm.controls.name.hasError('maxlength') && (parentOnActive || promotionTranslateForm.get('name').touched || promotionTranslateForm.get('name').dirty)">
      {{ 'msg.validation.maxlength' | translate : {value: 200} }}
    </span>

  </div>
  <div class="col-sm-12 form-group" [ngClass]="!promotionTranslateForm.controls.description.valid && (parentOnActive || promotionTranslateForm.get('description').touched || promotionTranslateForm.get('description').dirty) ? 'has-danger' : ''">
    <label class="form-control-label">Description (<span class="required">*</span>)</label>
    <div class="controls">
        <textarea class="form-control" formControlName="description" name="description" rows="7"></textarea>
    </div>
    <span class="form-control-feedback" *ngIf="!promotionTranslateForm.controls.description.valid && (parentOnActive || promotionTranslateForm.get('description').touched || promotionTranslateForm.get('description').dirty)">
        {{ 'msg.validation.required' | translate }}
    </span>
  </div>
</div>
