<div class="container-fluid">
  <!-- input email form-->
  <div class="row no-gutters justify-content-center">
    <div class="col-md-12 col-lg-6 ipay88-error">
        <h2>Payment unsuccessful for order {{orderId | orderNo:'MYS'}}</h2>
        <div *ngIf="message !== 'Customer Cancel Transaction'" class="alert alert-danger">{{message}}</div>
        <div *ngIf="message === 'Customer Cancel Transaction'" class="alert alert-danger">
          Payment transaction cancelled. Please <a href="/help">contact our support</a> if you require help in making payment to Shaves2U.
        </div>
    </div>
  </div>
</div>
