#plan-page {
	display: block;
	margin-top: 50px;
	.block-heading {
	  text-align: center;	 
	}
	
	.block-list-plans {
		max-width: 900px;
		margin: 0 auto;
		.card-mobile {display: none;}
	  .block-plan-group{		    		
		  .heading{
				font-size: 24px;				 
				font-weight: 500;
			}
			.item {
				margin: 0 auto;				
				.card {
					border: 3px solid #e1e1e1;
					margin: 4px 0px 0px 0px;
					min-width: 195px;
					min-height: 270px;
					.card-body {
						.card-title {							 
							font-size: 32px;
							font-weight: 900;
							margin-top: 7px;
							margin: 5px 0px 0px 0px;							 
						}
						.card-subtitle {
							margin-top: 2px;
						}
					}
					img {
						max-width: 100%;
						margin: auto;
						width: 100%;
					}
				}
				&.active {
					.card {
						border: 3px solid #fe5000;
						margin: 4px 0px 0px 0px;						 
					}
				}
			}
		}

		.block-payment {
			// margin-top: 61px!important;
			margin-top: 0px !important;
			padding-top: 61px !important;
			.list-items{
				width: 100%;
				max-width: 800px;
				margin: 0 auto;
				:first-child{
					&.item {
						.card {
							// border: 3px solid #fe5000;
							// margin: 3px 0px 0px 0px;					 
							.card-body {
								.discount {								 
									.btn_discount {									
										background: #e33000;
										border-color: #e33000;									 
									}
								}
								.sub-total {
									color: #fe5000;
									.currency-code {
									 
									}
									.price {
										
									}
								}
								.total {
								}
							}
						}	

					}
				}
			}
			.item {
				margin: 0 auto;
				display: inline-table;
				.card {
					border: 3px solid #e1e1e1;
					margin: 3px 0px 0px 0px;
					min-width: 243px;
					min-height: 208px;
					.card-body {
						.card-title {
							color: #888888;
							text-transform: uppercase;
							font-size: 16px;
							 
							margin: 10px 0px 24px 0px;							 		
						}
						.discount {							 
							.btn_discount {							 
								margin: 0 auto;
								display: block;
								padding: 0px 20px;
								border-radius: 20px;							 
								min-height: 20px;
								border: none;
								background: #ecac3c;
								width: 126px;
								color: #ffffff;
								font-size: 13px;
							}
							min-height: 30px;
						}
						.sub-total {
							text-align: center;
							color: #0e0e0e;							 
							.charge-time {
                  margin-top: -11px;
                  color: #000000;
								i {									
									margin-right: 3px;
								}
							}
						}
						.total {
							font-size: 14px;
							margin-top: -9px;
							font-size: 14px;
							font-family: 'Muli';
							text-align: center;
							color: #888888;
						}
					}
				}
				
				&.active {
					.card {
						border: 3px solid #fe5000;
						margin: 3px 0px 0px 0px;					 
						.card-body {
							.discount {								 
								.btn_discount {									
									background: #e33000;
									border-color: #e33000;									 
								}
							}
							.sub-total {
								// color: #fe5000;
								.currency-code {
								 
								}
								.price {
									
								}
							}
							.total {
							}
						}
					}	

				}
			}
		}
		.block-plan-details {
			margin-top: 0px !important;
			padding-top: 61px !important;
			width: 506px;	
			margin: 0 auto;	  		 	
			.description-outter{
				margin: 0 auto;							 
			/* 	overflow: hidden;	 */
				.description-middle{
					ul.description-details{
						margin-top: 0;
					}
				}			
			}
			.footer-info {
				text-align: center;
				font-family: 'Muli';
				.note {
					display: block;
					width: 100%;
					font-size: 14px;
					/* padding: 0 160px; */
				}
				.add_to_cart {				 
					a.btn_add_to_cart {						
						color: #ffffff;
					}
				}
				.btn-primary{
					margin-top:-20px;
					min-width: 260px;
				}
				.suggest-payment {
					font-size: 14px;
					margin-top: -22px;

				}
				.suggest-payment-logo {
					img {						 
						margin-bottom: 7px;
					}
					.visa-logo {
						margin-right: 15px;
						width: 40px;
					}
					.mastercard-logo {
						width: 40px;
					}
					.ipay88-logo {
						margin-left: 15px;
						width: 60px;
					}
				}
			}
		}
	}
	.block-frequently-asked{
		background: #f0f3f8;
		width: 100%;
		padding: 0;
		margin: 0;
		display: block;			 
		.block-content{
			margin: 0 auto;
			display: table;
			max-width: 870px;
			padding: 80px 0 50px;
			.tiltle{ width:100%;margin-bottom:30px;}
			.question{
				width: 100%;
				text-align: left;
				border-bottom: 2px solid #eeeeee;
				padding: 25px 35px;
				h3{
					cursor: pointer;
					font-family:'Muli';
					padding-right: 20px;
					span {
						border-left: 1px solid #000;
						border-top: 1px solid #000;
						height: 10px;
						width: 10px;
						position: absolute;
						right: 20px;
						margin-top: 10px;
					}
					&[aria-expanded="false"]{
						span{
							// background-position: -7px -83px;
							transform: rotate(135deg);
						}
					}
					&[aria-expanded="true"]{
						span{
							// background-position: 0px -84px;
    					transform: rotate(-135deg);
						}
					}
				}
				&:last-child{
					border-bottom: 0;
				} 
			}
		}		
	}
}
@import "/plan.component.mobile.scss";
 
