#plan-page {
  display: block;
  margin-top: 50px;
}

#plan-page .block-heading {
  text-align: center;
}

#plan-page .block-list-plans {
  max-width: 800px;
  margin: 0 auto;
}

#plan-page .block-list-plans .block-plan-group .item.active .card, #plan-page .block-list-plans .block-payment .item.active .card {
  border: 2px solid #fe5000;
}

#plan-page .block-list-plans .block-payment .item .card .card-body .card-title {
  color: #888888;
}

#plan-page .block-list-plans .block-payment .item .card .card-body .discount .btn_discount {
  width: auto;
  margin: 0 auto;
  display: block;
  padding: 0px 20px;
  border-radius: 20px;
  min-height: 30px;
  font-size: 14px;
  background: #ecac3c;
  border-color: #ecac3c;
  color: #ffffff;
}

#plan-page .block-list-plans .block-payment .item .card .card-body .sub-total {
  text-align: center;
  color: #0e0e0e;
}

#plan-page .block-list-plans .block-payment .item .card .card-body .sub-total .currency-code {
  font-size: 16px;
  font-family: 'Muli Bold';
}

#plan-page .block-list-plans .block-payment .item .card .card-body .sub-total .price {
  font-size: 30px;
  font-family: 'Muli Bold';
  margin-left: -4px;
}

#plan-page .block-list-plans .block-payment .item .card .card-body .sub-total .charge-time {
  display: block;
}

#plan-page .block-list-plans .block-payment .item .card .card-body .sub-total .charge-time i {
  margin-right: 3px;
}

#plan-page .block-list-plans .block-payment .item .card .card-body .total {
  font-size: 14px;
  font-family: 'Muli Bold';
  text-align: center;
  color: #888888;
}

#plan-page .block-list-plans .block-payment .item.active .card .card-body .discount .btn_discount {
  background: #fe5000;
  border-color: #fe5000;
}

#plan-page .block-list-plans .block-payment .item.active .card .card-body .sub-total {
  color: #fe5000;
}

#plan-page .block-list-plans .block-plan-details .footer-info {
  text-align: center;
  font-family: 'Muli';
}

#plan-page .block-list-plans .block-plan-details .footer-info .note {
  padding: 0 160px;
}

#plan-page .block-list-plans .block-plan-details .footer-info .add_to_cart a.btn_add_to_cart {
  color: #ffffff;
}

#plan-page .block-list-plans .block-plan-details .footer-info .suggest-payment-logo img {
  margin-right: 15px;
}
