@media (max-width: 992px) { 
	#plan-page {
    .card-desktop{
      display: none;
    }
    .card-mobile{
      display: block!important;
      div{       
        text-align: center;
        h4,p{
          display: inline-block;
        }
      }
		}
    .block-payment {
      .list-items{
        padding: 0;
        margin-left: 0px;
        margin-right: 0px;
      }
    }
		.description-desktop{
			display: none!important;
		} 
		.description-mobile{
			display: block!important;
		} 
		.block-list-plans {
			.block-plan-details {
				width: 100%;
			}
		}
		.description-outter{
			margin-top: -55px!important;
		}
	} 
}
@media (max-width: 414px) { 
  #plan-page {
    .card-desktop{
      display: none;
    }
    .card-mobile{
			display: block!important;
		}
    .block-list-plans {
      .block-plan-details {
        width: 100%;
      }
    }
    .block-plan-details {
      .footer-info {
        .suggest-payment-logo {
          img{
            max-width: 70px;
          }
        }
      }
    }
  } 
}
