<div id="plan-page" class="row mx-0">
  <div class="container-fluid">
     <div class="block-list-plans">
    <!--<div class="block-plans" *ngFor="let planType of planTypes">
      <h2 class="block-heading">{{ planType }}</h2>
      <ul class="list-plans">
        <li class="plan-item click-able" *ngFor="let plan of planList[planType]" (click)="goPlanDetail(plan.id)">
          <div class="image-contain image-center-with-border background-white">
            <div class="image-inner">
              <div class="image">
                <display-image [images]="plan.planImages"></display-image>
              </div>
            </div>
          </div>
          <div class="text-contain">
            <div class="text-inner">
              <p class="text">{{ plan.planTranslate | productTranslate: 'name' }}
                <strong class="plan-code" *ngIf="!plan.planCountry[0]">&nbsp;{{ plan.planCountry.sellPrice | smsCurrency}}</strong>
                <strong class="plan-code" *ngIf="plan.planCountry[0]">&nbsp;{{ plan.planCountry[0].sellPrice | smsCurrency}}</strong>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div> -->

    <!-- Plan Group -->
    <div class="row block-plan-group" id="plan-group">
      <h3 class="col-md-12 col-lg-12 heading text-center">{{ 'plan.plan_section.select_plan' | translate }}</h3>
      <div class="col-md-12 col-lg-3 item click-able mt-2" *ngFor="let group of planGroups" (click)="changeGroup(group)"
        [ngClass]="activeGroup.name === group.name ? 'active' : ''">
        <div class="card">
          <!-- Heading -->
          <div class="card-body">
            <h4 class="card-title text-center">{{ group.name }}</h4>
            <h6 class="card-subtitle text-muted text-center" *ngIf="group.name != 'F5'">{{ 'plan.plan_section.subtitle' | translate : {value: group.name.substr(2,1)} }}</h6>
            <h6 class="card-subtitle text-muted text-center" *ngIf="group.name==='F5'">{{ 'plan.plan_section.subtitle_Women' | translate : {value: group.name.substr(2,1)} }}</h6>
          </div>

          <!-- Image -->
          <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/catridge-s3.png" alt="Photo of plan" *ngIf="group.name==='TK3'">
          <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/catridge-s5.png" alt="Photo of plan" *ngIf="group.name==='TK5'">  
          <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/catridge-f5.png" alt="Photo of plan" *ngIf="group.name==='F5'">
          <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/catridge-s6.png" alt="Photo of plan" *ngIf="group.name==='S6'">
        </div>
      </div>
    </div>
    <!-- /Plan Group -->

    <!-- Payment Type -->
    <div class="row block-payment mt-5" id="payment-type">
      <h3 class="col-md-12 col-lg-12 heading text-center">{{ 'plan.plan_section.select_payment' | translate }}</h3>
      <div class="list-items row">
        <div class="col-12 col-md-6 col-lg-6 item click-able mt-2" *ngFor="let payment of activeGroup.item"
        [ngClass]="activePayment.id === payment.id ? 'active' : ''"  (click)="changePayment(payment)">
          <div class="card">
            <!-- Heading -->
            <div class="card-body card-desktop">
              <h4 class="card-title text-center">{{ payment.PlanType.name }}</h4>
              <!-- <p class="discount" [ngClass]="{'noDiscount': payment.planCountry[0].savePercent == 0}">
                <a class="btn btn-primary shave2u-btn-primary btn_discount" *ngIf="payment.planCountry[0].savePercent > 0">{{ 'plan.plan_section.btn_discount' | translate }} {{payment.planCountry[0].savePercent}}%</a>
              </p> -->
              <p class="sub-total">
                <strong [innerHtml]="payment.planCountry[0].sellPrice / payment.PlanType.totalChargeTimes | smsCurrency: 'html'"></strong>
                <span class="charge-time"><i>|</i>{{ payment.PlanType.subsequentChargeDuration }}</span>
              </p>
              <p class="total">
                {{ payment.planCountry[0].sellPrice | smsCurrency }} {{ 'plan.plan_section.totalText' | translate }}
              </p>     
            </div>
            <div class="card-body card-mobile">
              <div>
                <h4 class="card-title text-center">{{ payment.PlanType.name }}</h4>
                <!-- <p class="discount" [ngClass]="{'noDiscount': payment.planCountry[0].savePercent == 0}">
                  <a class="btn btn-primary shave2u-btn-primary btn_discount" *ngIf="payment.planCountry[0].savePercent > 0">{{ 'plan.plan_section.btn_discount' | translate }} {{payment.planCountry[0].savePercent}}%</a>
                </p> -->
              </div>
              <p class="sub-total">
                <strong [innerHtml]="payment.planCountry[0].sellPrice / payment.PlanType.totalChargeTimes | smsCurrency: 'html'"></strong>
                <span class="charge-time"><i>|</i>{{ payment.PlanType.subsequentChargeDuration }}</span>
              </p>
              <p class="total">
                {{ payment.planCountry[0].sellPrice | smsCurrency }} {{ 'plan.plan_section.totalText' | translate }}
              </p>     
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Payment Type -->

    <!-- Plan details -->
    
    <div class="row block-plan-details mt-5" *ngIf="!isloading" id="plan-details">
      <h3 class="col-md-12 col-lg-12 heading text-center">{{ 'plan.plan_section.plan_details' | translate }}</h3>
      <div class="col-md-12 description-desktop" *ngIf="activePayment.planTranslate && activePayment.planImages">
        <div class="row">     
          <div class="col-md-12 col-lg-6 description-outter">
            <div class="description-middle">
              <appProductDescription [productTranslate]="activePayment.planTranslate" [displayShortDescription]=false></appProductDescription>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 mt-2 image">
            <display-image [images]="activePayment.planImages"></display-image>
          </div>  
        </div>
      </div> 
      <div class="col-md-12 description-mobile" *ngIf="activePayment.planTranslate && activePayment.planImages">
          <div class="row"> 
            <div class="col-md-12 col-lg-6 mt-2 image">
              <display-image [images]="activePayment.planImages"></display-image>
            </div>     
            <div class="col-md-12 col-lg-6 description-outter">
              <div class="description-middle">
                <appProductDescription [productTranslate]="activePayment.planTranslate" [displayShortDescription]=false></appProductDescription>
              </div>
            </div>             
          </div>
        </div> 
      <div class="col-md-12 col-lg-12 mt-4 footer-info">
        <p class="note" [innerHTML]="'plan.plan_section.note' | translate"></p>
        <p class="add_to_cart mt-5 mb-5">
          <a class="btn btn-primary shave2u-btn-primary btn_add_to_cart" (click)="addToCart()">{{ 'plan.plan_section.btn_add_to_cart' | translate }}</a>
        </p>
        <p class="suggest-payment">{{ 'plan.plan_section.suggest_payment' | translate }}</p>
        <p class="suggest-payment-logo">
          <img class="visa-logo" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/visa-logo.png"/>
          <img class="mastercard-logo" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/mastercard-logo.png"/>
          <img class="ipay88-logo" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/ipay88_logo.png" *ngIf="this.storage.getCountry().code !== 'SGP'"/>
        </p>
      </div>
    </div>
  
    
   
    
    <!--/ Frequently Asked -->
    <!--<div class="block-plans" *ngFor="let planType of planTypes">
      <h2 class="block-heading">{{ planType }}</h2>
      <ul class="list-plans">
        <li class="plan-item click-able" *ngFor="let plan of planList[planType]" (click)="goPlanDetail(plan.id)">
          <div class="image-contain image-center-with-border background-white">
            <div class="image-inner">
              <div class="image">
                <display-image [images]="plan.planImages"></display-image>
              </div>
            </div>
          </div>
          <div class="text-contain">
            <div class="text-inner">
              <p class="text">{{ plan.planTranslate | productTranslate: 'name' }}
                <strong class="plan-code" *ngIf="!plan.planCountry[0]">&nbsp;{{ plan.planCountry.sellPrice | smsCurrency}}</strong>
                <strong class="plan-code" *ngIf="plan.planCountry[0]">&nbsp;{{ plan.planCountry[0].sellPrice | smsCurrency}}</strong>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>-->
    

    <!-- END block-plans -->
  </div>
  </div>
 
   <!-- Frequently Asked -->
  <div class="col-12 col-md-12 px-0">
    <div class="block-frequently-asked">       
      <div class="container block-content">
        <div class="row mx-0">          
          <h2 class="tiltle text-center">{{ 'plan.frequently_asked_questions' | translate }}</h2>
          <div class="question" *ngFor="let item of faqList">
            <h3 data-toggle="collapse" [attr.data-target]="'#question' + item.id" [attr.aria-expanded]="item !== faqList[0] ? 'false' : 'true'" [ngClass]="item !== faqList[0] ? 'collapsed' : ''" onload="this.onclick();">{{ item.question }}
              <span class="float-right"></span>
            </h3>
            <div id="question{{ item.id }}" class="collapse" [ngClass]="item !== faqList[0] ? '' : 'show'">
              <p class="desciption"><appFaqAnswer [faqAnswer]="item.answer"></appFaqAnswer></p>
            </div>
          </div>
          <!-- <div class="question">
            <h3 data-toggle="collapse" data-target="#question1" aria-expanded="true" aria-controls="question1">How does your this work? <span class="float-right"></span></h3>
            <p class="collapse show" id="question1">Donec vel nulla sapien. Praesent dolor justo, fermentum vitae leo sit amet, sollicitudin lacinia enim. Quisque eu dolor libero. Cras vitae dignissim enim, in vehicula eros. Aliquam at faucibus nibh.</p>
          </div>
          <div class="question">
            <h3 aria-expanded="false" data-toggle="collapse" data-target="#question2" aria-controls="question2">How do I modify my Plan? <span class="float-right"></span></h3>
            <p class="collapse" id="question2">Donec vel nulla sapien. Praesent dolor justo, fermentum vitae leo sit amet, sollicitudin lacinia enim. Quisque eu dolor libero. Cras vitae dignissim enim, in vehicula eros. Aliquam at faucibus nibh.</p>
          </div>
          <div class="question">
            <h3 data-toggle="collapse" data-target="#question3" aria-expanded="false" aria-controls="question3">How long will it take my order to arrive? <span class="float-right"></span></h3>
            <p class="collapse" id="question3">Donec vel nulla sapien. Praesent dolor justo, fermentum vitae leo sit amet, sollicitudin lacinia enim. Quisque eu dolor libero. Cras vitae dignissim enim, in vehicula eros. Aliquam at faucibus nibh.</p>
          </div> -->
        </div>
      </div>     
    </div>
  </div>
  
  <!--/ Plan details -->
  <!-- END block-list-plans -->
</div>