@import "../../../../../assets/sass/mixins/color";

@media (max-width: 992px) and (min-width: 768px) {
  #user-subscription-detail-history {
    display: none;
  }
  #user-subscription-detail-history-mobile {
    display: block !important;
    .block-current-order,
    .block-history-order {
      padding: 0 !important;
      margin: 0 0 20px !important;
      .block-border {
        padding-right: 0;
        padding-left: 0;
        :last-child {
          border-bottom: none !important;
        }
        .row-sub-details {
          border-top: 1px solid #ccc;
        }
        ul {
          display: inline-table;
          width: 100%;
          padding-left: 10px;
          padding-top: 16px;
          padding-bottom: 18px;
          margin-bottom: 0;
          margin-left: 0;
          border-bottom: 1px solid black;
          li {
            display: flex;
            .row-1 {
              width: 31%;
              min-width: 90px;
            }
            .date {
              text-transform: uppercase;
            }
            .order_id {
              font-weight: bold;
            }
            .items {
            }
            .price {
            }
            .status {
              margin-top: 18px;
            }
            .detail {
              padding-right: 5px;
              margin-top: 18px;
              text-transform: uppercase;
              color: #FD641F;
              right: 0;
              position: absolute;
            }
          }
        }
        .processing {
          color: #FD641F;
        }
        .background-color-gray {
          background-color: #FBFBFB;
        }
        .pagging {
          text-align: center;
          ul {
            display: inline-flex;
            border-bottom: none !important;
            width: auto;
            // padding-left: calc((100% - 185.5px)/2);
            padding-left: 0;
            .pagging-arrow-left {
              margin-right: 25px;
              font-size: 19px;
              color: #ececec;
            }
            .pagging-arrow-right {
              margin-right: 0;
              font-size: 19px;
              color: #ececec;
            }
            .pagging-active {
              color: #FD641F;
            }
            li {
              margin-right: 21px;
              font-size: 14px;
              margin-top: auto;
              margin-bottom: auto;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #user-subscription-detail {
    padding-top: 0;
    padding-left: 0;
    .btn-collapse {
      cursor: pointer;
      position: absolute;
      top: 14px;
      right: 12px;
      font-size: 18px;
      &:before {
        content: "\f068";
      }
    }
    
    .btn-collapse.collapsed {
      &:before {
        content: "\f067";
      }
    }
    
    .planDetails-photo {
      max-width: 50px;
    }
    
    .subscription-details {
      padding-top: 9px;
      padding-left: 13px;
      .details-row {
        margin-bottom: 0;
        display: block;
        padding: 15px 0;
        margin-left: 0px;
        margin-right: 10px;
        .status-value {
          .revert-button {
            position: relative;
            margin-top: 1.5rem;
          }
        }
      }
      .title {
        color: $secondary2-color;
        font-weight: bold;
        max-width: 100%;
        margin-bottom: 10px;
      }
      .title-payment {
        margin-bottom: 20px;
      }
      .value {
        // margin-bottom: 40px;
        max-width: 90%;
        .btn-change-card {
          text-align: center;
          margin-left: 5%;
        }
      }
      .value-date {
        text-transform: uppercase;
      }
      .card-type {
        padding: 12px 0;
      }
      .card-type-master {
        padding: 4px 0;
      }
      .card-details {
        padding-left: 85px;
      }
    }

    .plan-history {
      margin-top: -5px;
      margin-bottom: 20px;
      font-size: 22px !important;
      padding-left: 5px;
    }

    table.table {
      tr {
        th {
          border-top: none;
          border-bottom: 1px solid #eceeef;
        }
        td {
          border-top: none;
        }
      }
      margin-left: 20px;
      .date {
        max-width: 18%;
        text-transform: uppercase;
      }
      .order-no {
        max-width: 20%;
      }
      .price {
        max-width: 24%;
      }
      .status {
        max-width: 18%;  
      }
      .detail {
        max-width: 20%;
      }
    }

    .link-details {
      color: $primary-color;
      // font-family: 'Muli Bold';
      &:hover {
        text-decoration: underline;
      }

    }
    .btn-back {
      background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-back.png') no-repeat 0 7px;
      color: $primary-color;
      font-family: 'Muli';
      padding-left: 15px !important;
      font-size: 14px;
      padding-top: 1px;
      margin-left: 13px;
    }
    .primary-color {
      color: $primary-color;
    }
  }

	#user-subscription-detail-history {
		display: none;
	}
	#user-subscription-detail-history-mobile {
		display: block !important;
		.block-current-order,
		.block-history-order {
			padding: 0 !important;
			margin: 0 0 20px !important;
			.block-border {
				padding-right: 0;
				padding-left: 0;
				:last-child {
					border-bottom: none !important;
        }
        .row-sub-details {
          border-top: 1px solid #ccc;
        }
				ul {
					display: inline-table;
					width: 100%;
					padding-left: 10px;
					padding-top: 16px;
					padding-bottom: 18px;
					margin-bottom: 0;
					margin-left: 0;
					border-bottom: 1px solid black;
					li {
						display: flex;
						.row-1 {
							width: 31%;
							min-width: 90px;
						}
						.date {
							text-transform: uppercase;
						}
						.order_id {
							font-weight: bold;
						}
						.items {
						}
						.price {
						}
						.status {
							margin-top: 18px;
						}
						.detail {
							padding-right: 5px;
							margin-top: 18px;
							text-transform: uppercase;
							color: #FD641F;
							right: 0;
							position: absolute;
						}
					}
				}
				.processing {
					color: #FD641F;
				}
				.background-color-gray {
					background-color: #FBFBFB;
				}
				.pagging {
					text-align: center;
					ul {
						display: inline-flex;
						border-bottom: none !important;
						width: auto;
						// padding-left: calc((100% - 185.5px)/2);
						padding-left: 0;
						.pagging-arrow-left {
							margin-right: 25px;
							font-size: 19px;
							color: #ececec;
						}
						.pagging-arrow-right {
							margin-right: 0;
							font-size: 19px;
							color: #ececec;
						}
						.pagging-active {
							color: #FD641F;
						}
						li {
							margin-right: 21px;
							font-size: 14px;
							margin-top: auto;
							margin-bottom: auto;
						}
					}
				}
			}
		}
	}
  .background-color-gray {
    background-color: #FBFBFB;
  }
}