@import "../../../../../assets/sass/mixins/color";
#user-subscription-detail {
  padding-top: 2px;
  padding-left: 46px;
  .btn-collapse {
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 12px;
    font-size: 18px;
    &:before {
      content: "\f068";
    }
  }
  
  .btn-collapse.collapsed {
    &:before {
      content: "\f067";
    }
  }
  
  .planDetails-photo {
    max-width: 50px;
  }
  
  .subscription-details {
    .change-plan {
      font-family: 'Muli Bold';
      .date {
        color: #fe5000;
      }
      .payment, .planGroups {
        display: inline-block;
        width: auto;
        cursor: pointer;
      }
      .btn-group-plan {
        button {
          border: none;
          background: none;
          color: #fe5000;
          cursor: pointer;
          box-shadow: none;
          width: auto;
          margin: 0 5px;
          padding: 0;
          min-height: auto;
          text-transform: capitalize;
          font-size: 16px;
        }
        .dropdown-toggle::after{
          margin-top: -4px;
        }
        .dropdown-menu {
          padding: 0;
          .dropdown-item {
            color: #fe5000;
            cursor: pointer;
            &.active {
              background-color: #f1f1f1;
            }
          }
        }
      }

    }
    padding-top: 9px;
    padding-left: 13px;
    .details-row {
      // margin-bottom: 1.8rem;
      padding: 15px 0;
      margin-right: 0;
      .updateCard {
        position: absolute;
        right: 0;
        top: 0;
        color: #3a6e9c;
      }
      .status-value {
        .revert-button {
          position: absolute;
          top: 0;
          right: 0;
          margin-top: 0;
        }
      }
    }
    .details-row:nth-of-type(even) {
      background-color: #ffffff;
    }
    .details-row:nth-of-type(odd) {
      background-color: #FBFBFB;
    }
    .title {
      color: $secondary2-color;
      font-weight: bold;
      max-width: 18%;
    }
    .value-date {
      text-transform: uppercase;
    }
    .card-type {
      padding: 12px 0;
    }
    .card-type-master {
      padding: 4px 0;
    }
    .card-details {
      padding-left: 85px;
    }
  }

  .plan-history {
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 22px !important;
    padding-left: 20px;
  }

  table.table {
    tr {
      th {
        border-top: none;
        border-bottom: 1px solid #ccc;
      }
      td {
        border-top: none;
      }
    }
    margin-left: 20px;
    .date {
      max-width: 18%;
      text-transform: uppercase;
    }
    .order-no {
      max-width: 20%;
    }
    .price {
      max-width: 24%;
    }
    .status {
      max-width: 18%;  
    }
    .detail {
      max-width: 15.3%;
    }
  }

  .link-details {
    color: $primary-color;
    // font-family: 'Muli Bold';
    &:hover {
      text-decoration: underline;
    }

  }
  .btn-back {
    background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-back.png') no-repeat 0 7px;
    color: $primary-color;
    font-family: 'Muli';
    padding-left: 15px !important;
    font-size: 14px;
    padding-top: 1px;
  }
  .primary-color {
    color: $primary-color;
  }
	#user-subscription-detail-history-mobile {
    display: none;
  }

}
.background-color-gray {
  // background-color: #FBFBFB;
}

@import '_user-subscription-view-detail-response.component';