<div id="user-subscription-detail" *ngIf="show">
  <div class="mb-4">
    <a class="click-able btn-back" (click)="backToDashboard()">{{ 'btn.back' | translate }}</a>
  </div>
  <div class="loading-spinner text-center" *ngIf="isLoading"><i class="fa fa-spinner fa-spin"></i></div>
  <div class="subscription-details" *ngIf="!isloading">
    <ng-container *ngIf="subsInfo.isCustom && !showChange">
    <div class="row details-row">
      <div class="col-3 title">{{ 'lbl.user.subscription.view_detail.free_trial.select_blade' | translate }}</div>
      <div class="col-9 value">
          <div *ngFor="let product of subsInfo.CustomPlan.customPlanDetail; let i = index">
            <span *ngIf="product.ProductCountry.Product.sku !== 'A5/2018'">
              ({{product.qty}}) {{product.ProductCountry.Product.productTranslate | translatePipe: 'name'}}
            </span>
          </div>
      </div>
    </div>
    <div class="row details-row background-color-gray">
      <div class="col-3 title">{{ 'lbl.user.subscription.view_detail.free_trial.usage.heading' | translate }}</div>
      <div class="col-9 value">
        <strong>{{ subsInfo.CustomPlan.PlanType.planTypeTranslate | translatePipe: 'name' }}</strong>
      </div>
    </div>
    <div class="row details-row">
      <div class="col-3 title">{{ 'lbl.user.subscription.view_detail.free_trial.addon_shave_cream.heading' | translate }}</div>
      <div class="col-9 value">
        <strong>{{ subsInfo.CustomPlan.customPlanDetail.length > 1 ? ('lbl.user.subscription.view_detail.free_trial.addon_shave_cream.yes' | translate) : ('lbl.user.subscription.view_detail.free_trial.addon_shave_cream.no' | translate) }}</strong>
      </div>
    </div>
    <div class="row details-row">
      <div class="col-3 title">{{ 'lbl.user.subscription.view_detail.title.next_billing' | translate }}</div>
      <div class="col-9 value">{{subsInfo.CustomPlan.Country.currencyDisplay}}{{subsInfo.pricePerCharge | number:'1.2-2'}} {{ 'lbl.user.subscription.on' | translate }} {{ subsInfo.nextChargeDate | date:'dd MMMM yyyy' }}</div>

    </div>
    </ng-container>
    <ng-container *ngIf="subsInfo.isCustom && showChange">
    <div class="row details-row change-plan">
      <div class="col-3 title">{{ 'lbl.user.subscription.view_detail.free_trial.select_blade' | translate }}</div>
      <div class="col-9 value">
        <div class="btn-group btn-group-plan">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ activeCartridge.productTranslate | productTranslate: 'name' }}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" *ngFor="let cartridge of cartridges" (click)="changeCartridge(cartridge)" [ngClass]="{'active': (activeCartridge && cartridge.sku === activeCartridge.sku)}">
              {{ cartridge.productTranslate | productTranslate: 'name' }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row details-row change-plan">
      <div class="col-3 title">{{ 'lbl.user.subscription.view_detail.free_trial.usage.heading' | translate }}</div>
      <div class="col-9 value">
        <div class="btn-group btn-group-plan">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{activePlanType.planTypeTranslate | translatePipe: 'name'}}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" *ngFor="let planType of planTypes" (click)="changePlanType(planType)" 
              [ngClass]="{'active': (activePlanType && planType.name === activePlanType.name)}">
              {{planType.planTypeTranslate | translatePipe: 'name'}}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row details-row change-plan">
      <div class="col-3 title">{{ 'lbl.user.subscription.view_detail.free_trial.addon_shave_cream.heading' | translate }}</div>
      <div class="col-9 value">
        <div class="btn-group btn-group-plan">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ activeShaveCream.sku ? ('lbl.user.subscription.view_detail.free_trial.addon_shave_cream.yes' | translate) : ('lbl.user.subscription.view_detail.free_trial.addon_shave_cream.no' | translate) }}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" *ngFor="let shaveCream of shaveCreams" (click)="changeShaveCream(shaveCream)" 
              [ngClass]="{'active': (activeShaveCream && shaveCream.sku === activeShaveCream.sku)}">
              <span *ngIf="!shaveCream.sku">{{ 'lbl.user.subscription.view_detail.free_trial.addon_shave_cream.no' | translate }}</span>
              <span *ngIf="shaveCream.sku">{{ 'lbl.user.subscription.view_detail.free_trial.addon_shave_cream.yes' | translate }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row details-row">
      <div class="col-3 title">{{ 'lbl.user.subscription.view_detail.title.next_billing' | translate }}</div>
      <div class="col-9 value">{{subsInfo.CustomPlan.Country.currencyDisplay}}{{nextBillingPriceForCustom | number:'1.2-2'}} on {{ subsInfo.nextChargeDate | date:'dd MMMM yyyy' }}</div>

    </div>
    </ng-container>
    <ng-container *ngIf="!subsInfo.isTrial && !subsInfo.isCustom">
    <div class="row details-row">
      <div class="col-3 title">{{ 'lbl.user.subscription.view_detail.title.plan_type' | translate }}</div>
      <div class="col-9 value">
        <strong *ngIf="subsInfo.PlanCountry">{{ subsInfo.PlanCountry.Plan.planTranslate | productTranslate:'name' }}</strong>
        <strong *ngIf="subsInfo.CustomPlan">{{ subsInfo.CustomPlan.description }}</strong>
      </div>
    </div>
    <div class="row details-row background-color-gray">
      <div class="col-3 title">{{ 'lbl.user.subscription.view_detail.title.billing_cycle' | translate }}</div>
      <div class="col-9 value">
        <strong *ngIf="subsInfo.PlanCountry">{{ subsInfo.PlanCountry.Plan.PlanType.planTypeTranslate | translatePipe: 'name' }}</strong>
        <strong *ngIf="subsInfo.CustomPlan">{{ subsInfo.CustomPlan.PlanType.planTypeTranslate | translatePipe: 'name' }}</strong>
      </div>
      <!-- <div class="col-9 value"><strong>RM 55.00 on 27 April 2018</strong></div> -->
    </div>
    <div class="row details-row">
      <div class="col-3 title">{{ 'lbl.user.subscription.view_detail.title.next_billing' | translate }}</div>
      <!--<div class="col-9 value value-date">{{ subsInfo.createdAt | date:'dd MMM yy' }}</div>-->
      <div class="col-9 value">{{subsInfo.PlanCountry.Country.currencyDisplay}}{{subsInfo.PlanCountry.sellPrice / subsInfo.totalChargeTimes | number:'1.2-2'}} {{ 'lbl.user.subscription.on' | translate }} {{ subsInfo.nextChargeDate | date:'dd MMMM yyyy' }}</div>

    </div>
    </ng-container>
    <ng-container *ngIf="subsInfo.isTrial && !showChange">
      <!-- <p>bbb</p> -->
    <div class="row details-row background-color-gray">
      <div class="col-3 title">{{ 'lbl.user.subscription.view_detail.free_trial.select_blade' | translate }}</div>
      <div class="col-9 value"><strong>{{ bladeActive.name }}</strong></div>
    </div>
    <div class="row details-row">
      <div class="col-3 title">{{ 'lbl.user.subscription.view_detail.free_trial.payment_type.heading' | translate }}</div>
      <div class="col-9 value" *ngIf="this.storage.getLanguageCode() === 'EN'"><strong>{{ paymentTypeActive }}</strong></div>
      <div class="col-9 value" *ngIf="this.storage.getLanguageCode() === 'KO'"><strong>{{ 'lbl.user.subscription.view_detail.free_trial.payment_type.pay_as_you_go' | translate }}</strong></div>
    </div>
    <div class="row details-row background-color-gray">
      <div class="col-3 title">{{ 'lbl.user.subscription.view_detail.free_trial.usage.heading' | translate }}</div>
      <div class="col-9 value">
        <strong *ngIf="paymentTypeActive === 'Annual'">{{ usageActive.planTranslate.shortDescription }}</strong>
        <strong *ngIf="paymentTypeActive !== 'Annual'">{{ usageActive.PlanType.planTypeTranslate | translatePipe: 'name' }}</strong>
        <!-- <p>hhh</p> -->
      </div>
      <!-- <div class="col-9 value"><strong>RM 55.00 on 27 April 2018</strong></div> -->
    </div>
    <div class="row details-row" *ngIf="planOptionActive">
      <div class="col-3 title">{{ 'lbl.user.subscription.view_detail.free_trial.addon_shave_cream.heading' | translate }}</div>
      <div class="col-9 value">
        <strong>{{ planOptionActive.hasShaveCream ? ('lbl.user.subscription.view_detail.free_trial.addon_shave_cream.yes' | translate) : ('lbl.user.subscription.view_detail.free_trial.addon_shave_cream.no' | translate) }}</strong>
      </div>
    </div>
    <div class="row details-row">
      <div class="col-3 title">{{ 'lbl.user.subscription.view_detail.title.next_billing' | translate }}</div>
      <!--<div class="col-9 value value-date">{{ subsInfo.createdAt | date:'dd MMM yy' }}</div>-->
      <!-- <div class="col-9 value" *ngIf="!planOptionActive">{{subsInfo.PlanCountry.Country.currencyDisplay}}{{subsInfo.PlanCountry.pricePerCharge | number:'1.2-2'}} on {{ subsInfo.nextChargeDate | date:'dd MMMM yyyy' }}</div>
      <div class="col-9 value" *ngIf="planOptionActive">{{subsInfo.PlanCountry.Country.currencyDisplay}}{{planOptionActive.pricePerCharge | number:'1.2-2'}} on {{ subsInfo.nextChargeDate | date:'dd MMMM yyyy' }}</div> -->

      <ng-container *ngIf="subsInfo.nextChargeDate">
        <div class="col-9 value" *ngIf="!planOptionActive">{{'lbl.user.subscription.charges_on_date' | translate : {currency: subsInfo.PlanCountry.Country.currencyDisplay, price: subsInfo.PlanCountry.pricePerCharge | number:'1.2-2', date: subsInfo.nextChargeDate | date:'dd MMMM yyyy'} }}</div>
        <div class="col-9 value" *ngIf="planOptionActive">{{'lbl.user.subscription.charges_on_date' | translate : {currency: subsInfo.PlanCountry.Country.currencyDisplay, price: planOptionActive.pricePerCharge | number:'1.2-2', date: subsInfo.nextChargeDate | date:'dd MMMM yyyy'} }}</div>
      </ng-container>
      <ng-container *ngIf="!subsInfo.nextChargeDate">
        <div class="col-9 value" *ngIf="!planOptionActive">{{'lbl.user.subscription.charges_on_14_days' | translate : {currency: subsInfo.PlanCountry.Country.currencyDisplay, price: subsInfo.PlanCountry.pricePerCharge | number:'1.2-2'} }}</div>
        <div class="col-9 value" *ngIf="planOptionActive">{{'lbl.user.subscription.charges_on_14_days' | translate : {currency: subsInfo.PlanCountry.Country.currencyDisplay, price: planOptionActive.pricePerCharge | number:'1.2-2'} }}</div>
      </ng-container>
    </div>
    </ng-container>
    <ng-container *ngIf="subsInfo.isTrial && showChange">
    <div class="row details-row change-plan">
      <div class="col-3 title">{{ 'lbl.user.subscription.view_detail.free_trial.select_blade' | translate }}</div>
      <div class="col-9 value">
        <div class="btn-group btn-group-plan">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ bladeActive.name }}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" *ngFor="let group of planGroups" (click)="changeGroup(group)" [ngClass]="{'active': group.name === bladeActive.name}">{{group.name}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row details-row background-color-gray change-plan">
      <div class="col-3 title">{{ 'lbl.user.subscription.view_detail.free_trial.payment_type.heading' | translate }}</div>
      <div class="col-9 value">
        <div class="btn-group btn-group-plan" *ngIf="storage.getLanguageCode() === 'EN'">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ paymentTypeActive }}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" *ngFor="let payment of paymentTypeList" (click)="changePayment(payment)"
              [ngClass]="{'active': paymentTypeActive === payment}">{{ payment }}</a>
          </div>
        </div>
        <div class="btn-group btn-group-plan" *ngIf="storage.getLanguageCode() === 'KO'">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <ng-container *ngIf="paymentTypeActive === 'Annual'">{{ 'lbl.user.subscription.view_detail.free_trial.payment_type.annual' | translate }}</ng-container >
            <ng-container  *ngIf="paymentTypeActive !== 'Annual'">{{ 'lbl.user.subscription.view_detail.free_trial.payment_type.pay_as_you_go' | translate }}</ng-container >
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" *ngFor="let payment of paymentTypeList" (click)="changePayment(payment)"
              [ngClass]="{'active': paymentTypeActive === payment}">
              <ng-container *ngIf="paymentTypeActive === 'Annual'">{{ 'lbl.user.subscription.view_detail.free_trial.payment_type.annual' | translate }}</ng-container >
              <ng-container  *ngIf="paymentTypeActive !== 'Annual'">{{ 'lbl.user.subscription.view_detail.free_trial.payment_type.pay_as_you_go' | translate }}</ng-container >
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row details-row change-plan haha">
      <div class="col-3 title">{{ 'lbl.user.subscription.view_detail.free_trial.usage.heading' | translate }}</div>
      <div class="col-9 value">
        <div class="btn-group btn-group-plan">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <ng-container *ngIf="paymentTypeActive === 'Annual'">{{ usageActive.planTranslate.shortDescription }}</ng-container >
            <ng-container  *ngIf="paymentTypeActive !== 'Annual'">{{ usageActive.PlanType.planTypeTranslate | translatePipe: 'name' }}</ng-container >
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" *ngFor="let usage of usageOptionActive " (click)="changeUsage(usage)"
              [ngClass]="{'active': usageActive.planCountry.id === usage.planCountry.id}">
              <ng-container *ngIf="paymentTypeActive === 'Annual'">{{ usage.planTranslate.shortDescription }}</ng-container >
              <ng-container  *ngIf="paymentTypeActive !== 'Annual'">{{ usage.PlanType.planTypeTranslate | translatePipe: 'name' }}</ng-container >
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row details-row background-color-gray change-plan" *ngIf="planOptionActive">
      <div class="col-3 title">{{ 'lbl.user.subscription.view_detail.free_trial.addon_shave_cream.heading' | translate }}</div>
      <div class="col-9 value">
        <div class="btn-group btn-group-plan">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ planOptionActive.hasShaveCream ? ('lbl.user.subscription.view_detail.free_trial.addon_shave_cream.yes' | translate) : ('lbl.user.subscription.view_detail.free_trial.addon_shave_cream.no' | translate) }}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" *ngFor="let option of planOptionListActive" (click)="changePlanOption(option)"
              [ngClass]="{'active': planOptionActive.id === option.id}">
              {{ option.hasShaveCream ? ('lbl.user.subscription.view_detail.free_trial.addon_shave_cream.yes' | translate) : ('lbl.user.subscription.view_detail.free_trial.addon_shave_cream.no' | translate) }}
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row details-row background-color-gray">
      <div class="col-3 title">{{ 'lbl.user.subscription.view_detail.title.next_billing' | translate }}</div>
      <!-- <div class="col-9 value" *ngIf="!planOptionActive">{{usageActive.planCountry.Country.currencyDisplay}}{{usageActive.planCountry.pricePerCharge | number:'1.2-2'}} on {{ subsInfo.nextChargeDate | date:'dd MMMM yyyy' }}</div>
      <div class="col-9 value" *ngIf="planOptionActive">{{usageActive.planCountry.Country.currencyDisplay}}{{planOptionActive.pricePerCharge | number:'1.2-2'}} on {{ subsInfo.nextChargeDate | date:'dd MMMM yyyy' }}</div> -->

      <ng-container *ngIf="subsInfo.nextChargeDate">
        <div class="col-9 value" *ngIf="!planOptionActive">{{'lbl.user.subscription.charges_on_date' | translate : {currency: usageActive.planCountry.Country.currencyDisplay, price: usageActive.planCountry.pricePerCharge | number:'1.2-2', date: subsInfo.nextChargeDate | date:'dd MMMM yyyy'} }}</div>
        <div class="col-9 value" *ngIf="planOptionActive">{{'lbl.user.subscription.charges_on_date' | translate : {currency: usageActive.planCountry.Country.currencyDisplay, price: planOptionActive.pricePerCharge | number:'1.2-2', date: subsInfo.nextChargeDate | date:'dd MMMM yyyy'} }}</div>
      </ng-container>
      <ng-container *ngIf="!subsInfo.nextChargeDate">
        <div class="col-9 value" *ngIf="!planOptionActive">{{'lbl.user.subscription.charges_on_14_days' | translate : {currency: usageActive.planCountry.Country.currencyDisplay, price: usageActive.planCountry.pricePerCharge | number:'1.2-2'} }}</div>
        <div class="col-9 value" *ngIf="planOptionActive">{{'lbl.user.subscription.charges_on_14_days' | translate : {currency: usageActive.planCountry.Country.currencyDisplay, price: planOptionActive.pricePerCharge | number:'1.2-2'} }}</div>
      </ng-container>
    </div>
    </ng-container>
    
    <div class="row details-row">
      <div class="col-3 title">{{ 'lbl.user.subscription.view_detail.title.next_shipment' | translate }}</div>
      <div class="col-9 value">{{ subsInfo.nextDeliverDate | date:'dd MMMM yyyy' }} - {{ subsInfo.nextWorkingDate | date:'dd MMMM yyyy' }}</div>

    </div>
    <div class="row details-row background-color-gray">
      <div class="col-3 title">{{ 'lbl.user.subscription.view_detail.title.address' | translate }}</div>
      <div class="col-9 value">
        <div class="row">
          <div class="col-md-5 address-details">
            <address>
              <strong>{{ 'lbl.user.subscription.view_detail.title.shipping' | translate }}</strong><br>
              {{subsInfo.DeliveryAddress.firstName}}&nbsp;{{subsInfo.DeliveryAddress.lastName}}<br>
              {{subsInfo.DeliveryAddress.address}}<br>
              {{subsInfo.DeliveryAddress.city}}<br>
              {{subsInfo.DeliveryAddress.state}}<br>
              {{subsInfo.DeliveryAddress.portalCode}}<br>
              {{subsInfo.DeliveryAddress.contactNumber}}
            </address>
          </div>
          <div class="col-md-5 address-details">
            <address>
              <strong>{{ 'lbl.user.subscription.view_detail.title.billing' | translate }}</strong><br>
              {{subsInfo.BillingAddress.firstName}}&nbsp;{{subsInfo.BillingAddress.lastName}}<br>
              {{subsInfo.BillingAddress.address}}<br>
              {{subsInfo.BillingAddress.city}}<br>
              {{subsInfo.BillingAddress.state}}<br>
              {{subsInfo.BillingAddress.portalCode}}<br>
              {{subsInfo.BillingAddress.contactNumber}}
            </address>
          </div>
        </div>
      </div>
    </div>
    <div class="row details-row">
      <div class="col-3 title title-payment">
        {{ 'lbl.user.subscription.view_detail.title.payment' | translate }}
      </div>
      <div class="col-9 value">
        <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/visa-128.png" alt="visa card" class="pull-left card-type" *ngIf="subsInfo.Card && subsInfo.Card.branchName === 'Visa'">
        <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/mastercard-logo.png" alt="visa card" class="pull-left card-type-master" *ngIf="subsInfo.Card && subsInfo.Card.branchName !== 'Visa'">
        <div class="card-details">
          {{ 'lbl.user.subscription.view_detail.title.ending_in' | translate }} {{subsInfo.Card.cardNumber}}<br>
          {{ 'lbl.user.subscription.view_detail.title.expired_on' | translate }} {{subsInfo.Card.expiredMonth}}/{{subsInfo.Card.expiredYear.slice(-2)}}<br>
        </div>
        <a class="click-able updateCard" (click)="changeCard(subsInfo)" *ngIf="subsInfo.status !== 'Canceled'"><span class="fa fa-pencil"></span></a>
      </div>
    </div>
    <div class="row details-row background-color-gray">
      <div class="col-3 title">{{'lbl.user.subscription.status' | translate}}</div>
      <div class="col-9 value status-value">
        <strong *ngIf="subsInfo.hasSendCancelRequest && subsInfo.status !== 'Canceled'">
          {{ 'lbl.user.subscription.view_detail.free_trial.trial_subs_cancelled_handling' | translate }}
        </strong>
        <strong *ngIf="subsInfo.status === 'Canceled'">
            {{ 'msg.status.canceled' | translate }}
        </strong>
        <strong *ngIf="subsInfo.status === 'Processing'">
          {{ 'msg.status.process' | translate }}
        </strong>
        <strong *ngIf="subsInfo.status === 'On Hold'">
          {{ 'msg.status.on_hold' | translate }}
        </strong>
        <strong *ngIf="subsInfo.status !== 'Processing' && subsInfo.status !== 'Canceled' && subsInfo.status !== 'On Hold'">
          {{ subsInfo.status }}
        </strong>
        <!--<button class="btn btn-primary shave2u-btn-primary mr-4 revert-button" *ngIf="subsInfo.isTrial && subsInfo.hasSendCancelRequest && subsInfo.status !== 'Canceled'" (click)="revertShavePlan()">{{'btn.revert' | translate}}</button>-->
      </div>
    </div>
    <div class="row details-row" *ngIf="subsInfo.isTrial || subsInfo.isCustom">
      <div class="col-12 value">
        <ng-container>
        <p class="btn-change-card" *ngIf="!showChange">
          <button class="btn btn-primary shave2u-btn-primary mt-4 mr-4" (click)="updateShavePlan()" [disabled]="!allowUpdate || subsInfo.hasSendCancelRequest || subsInfo.status === 'Canceled' || !allowEditCancel">{{'lbl.user.subscription.edit_plan_details' | translate}}</button>
          <button class="btn btn-default shave2u-btn-default mt-4 mr-4" (click)="cancelSubs()" [disabled]="subsInfo.status === 'Canceled' || subsInfo.hasSendCancelRequest || !allowEditCancel">{{'lbl.user.subscription.cancel_shave_plan' | translate}}</button>
          <!-- <button class="btn btn-primary shave2u-btn-primary mt-4 mr-4" [disabled]="!(subsInfo.isTrial && subsInfo.hasSendCancelRequest && subsInfo.status !== 'Canceled')" (click)="revertShavePlan()">{{'btn.revert' | translate}}</button> -->
        </p>
        <p class="btn-change-card" *ngIf="showChange">
          <button class="btn btn-default shave2u-btn-default mt-4 mr-4" (click)="cancel()">{{'btn.cancel' | translate}}</button>
          <button class="btn btn-primary shave2u-btn-primary mt-4 mr-4" (click)="saveChange()">{{'btn.update_plan' | translate}}</button>
          <button class="btn btn-primary shave2u-btn-primary mt-4 mr-4" (click)="cancelSubs()" [disabled]="subsInfo.status === 'Canceled' || subsInfo.hasSendCancelRequest">{{'lbl.user.subscription.cancel_shave_plan' | translate}}</button>
        </p>
        <!--<p *ngIf="showChange">
           <button class="btn btn-primary shave2u-btn-primary mt-4" (click)="cancelSubs()" [disabled]="subsInfo.status === 'Canceled' || subsInfo.hasSendCancelRequest">{{'lbl.user.subscription.cancel_shave_plan' | translate}}</button>
        </p>-->
        </ng-container>
      </div>
    </div>
  </div>
  <h4 class="plan-history" *ngIf="!isloading">{{ 'lbl.user.subscription.view_detail.title.plan_history' | translate }}</h4>
  <!--<div class="loading-spinner text-center" *ngIf="isloading"><i class="fa fa-spinner fa-spin"></i></div>-->
  <table id="user-subscription-detail-history" class="table" *ngIf="!isloading">
    <thead>
      <tr class="row">
        <th class="col-3 date">{{ 'lbl.user.subscription.history.date' | translate }}</th>
        <th class="col-3 order-no text-center">{{ 'lbl.user.subscription.history.order_no' | translate }}</th>
        <th class="col-3 price text-center">{{ 'lbl.user.subscription.history.price' | translate }}</th>
        <th class="col-3 status text-center">{{ 'lbl.user.subscription.history.status' | translate }}</th>
        <th class="col-3 detail"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="row" *ngFor="let order of subsInfo.orders; let i = index;" [ngClass]="i%2 !== 0 ? 'background-color-gray' : ''">
        <td class="col-3 date">{{order.createdAt | date: 'dd MMM yy'}}</td>
        <td class="col-3 order-no text-center">{{ order.id | orderNo: order.Country.code}}</td>
        <td class="col-3 price text-center">{{order.Receipt.currency}}{{order.Receipt.totalPrice}}</td>
        <td class="col-3 status text-center" *ngIf="order.states === 'On Hold'">{{ 'msg.status.on_hold' | translate }}</td>
        <td class="col-3 status text-center primary-color" *ngIf="order.states === 'Processing'">{{ 'msg.status.process' | translate }}</td>
        <td class="col-3 status text-center" *ngIf="order.states === 'Payment Received'">{{ 'msg.status.payment_received' | translate }}</td>
        <td class="col-3 status text-center" *ngIf="order.states === 'Completed'">{{ 'msg.status.completed' | translate }}</td>
        <td class="col-3 status text-center" *ngIf="order.states === 'Canceled'">{{ 'msg.status.canceled' | translate }}</td>
        <td class="col-3 status text-center" *ngIf="order.states === 'Pending'">{{ 'msg.status.pending' | translate }}</td>
        <td class="col-3 status text-center" *ngIf="order.states === 'Delivering'">{{ 'msg.status.delivering' | translate }}</td>
        <td class="col-3 detail text-center">
          <a class="text-uppercase click-able link-details" (click)="viewOrderDetails(order.id); $event.preventDefault();">{{'lbl.user.subscription.view_detail.btn_details' | translate}}</a>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- layout for Mobile -->
  <div id="user-subscription-detail-history-mobile" *ngIf="show">
    <div class="row block-history-order">
      <div class="col-lg-12 col-md-12 col-xl-12 block-list block-border">
        <ul class="row row-sub-details" *ngFor="let order of subsInfo.orders; let i = index;" [ngClass]="i%2 !== 0 ? 'background-color-gray' : ''">
          <li class="item">
            <div class="order_id row-1">{{ 'lbl.user.subscription.history.order_no' | translate }}</div>
            <div class="order_id row-2">{{ order.id | orderNo: order.Country.code}}</div>
          </li>
          <li class="item">
            <div class="date row-1">{{ order.updatedAt | date: 'dd MMM yy' }}</div>
            <div></div>
          </li>
          <li class="item">
            <div class="price row-1">{{ order.Receipt.currency }}{{order.Receipt.totalPrice}}</div>
            <!-- <div class="items row-2" *ngIf="item.orderDetail.length <= 1">{{ item.orderDetail.length }} {{ 'lbl.user.order.list.txt_item' | translate }}</div>
            <div class="items row-2" *ngIf="item.orderDetail.length > 1">{{ item.orderDetail.length }} {{ 'lbl.user.order.list.txt_items' | translate }}</div> -->
          </li>
          <li class="item">
            <div class="status row-1" *ngIf="order.states === 'On Hold'">{{ 'msg.status.on_hold' | translate }}</div>
            <div class="status row-1 primary-color" *ngIf="order.states === 'Processing'">{{ 'msg.status.process' | translate }}</div>
            <div class="status row-1" *ngIf="order.states === 'Payment Received'">{{ 'msg.status.payment_received' | translate }}</div>
            <div class="status row-1" *ngIf="order.states === 'Completed'">{{ 'msg.status.completed' | translate }}</div>
            <div class="status row-1" *ngIf="order.states === 'Canceled'">{{ 'msg.status.canceled' | translate }}</div>
            <div class="status row-1" *ngIf="order.states === 'Pending'">{{ 'msg.status.pending' | translate }}</div>
            <div class="status row-1" *ngIf="order.states === 'Delivering'">{{ 'msg.status.delivering' | translate }}</div>
            <div class="detail row-2">
              <a class="click-able" (click)="viewOrderDetails(order.id); $event.preventDefault();">{{ 'lbl.user.subscription.view_detail.btn_details' | translate }}</a>
            </div>
          </li>
        </ul>
  
        <!-- pagging -->
        <!-- <app-pagination [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"></app-pagination> -->
      </div>
    </div>
  </div>
</div>
<card-list-modal [currentSubId] ='currentSubId' (hasResetDefault)='hasResetDefault($event)' [selectedcard]="selectedCard" (hasChange)='hasChangeCard($event)'></card-list-modal>
