<div class="row mx-0">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title float-left">Sales Reports</h4>
        <button class="btn btn-secondary btn-sm float-right" (click)="globalService.canDownload('reports/master') && downloadTaxInvoice()" *ngIf="globalService.canDownload('reports/master')">Export Tax Invoice</button>
        <button class="btn btn-secondary btn-sm float-right mr-2" (click)="globalService.canDownload('reports/master') && downloadCSV()" *ngIf="globalService.canDownload('reports/master')">Download CSV</button>
        <span *ngIf="isDownloadTaxInvoice" class="float-right mr-2 notice">Your export has been queued. <a routerLink="/exports">View progress.</a> (Latest 2000 results)</span>
        <br>
        <br>
      </div>
      <div class="content table-responsive table-full-width">
        <div class="row mx-0 mb-3">
          <!-- <div class="col-md-4 text-right">
            <select name="cities" class="selectpicker form-control" (change)="onLimitChange($event)">
              <option [attr.value]="item" *ngFor="let item of ['50', '100', '150', '200']" [attr.selected]="item == options.get('limit') ? true : null">Show {{item}} per page</option>
            </select>
          </div> -->
          <div class="col-md-3">
            <label for="">Filter by Category</label>
            <select name="cities" class="selectpicker form-control" (change)="filterby('type', $event.target.value)">
              <option [value]="'all'" [selected]="!options.get('type')">All Categories</option>
              <option value="seller" [attr.selected]="options.get('type') == 'seller' ? true : null">BA</option>
              <option value="customer" [attr.selected]="options.get('type') == 'customer' ? true : null">Online / E-Commerce</option>
              <option value="bulkOrder" [attr.selected]="options.get('type') == 'bulkOrder' ? true : null">Bulk Order</option>
            </select>
          </div>
          <div class="col-md-3" *ngIf="!hasDenied">
            <label for="">Filter by Country</label>
            <select name="filterByCountry" class="selectpicker form-control" (change)="filterby('region', $event.target.value)">
              <option [value]="'all'" [selected]="!options.get('CountryId')">All Countries</option>
              <option [value]="country.code" *ngFor="let country of countries" [selected]="country.id == options.get('CountryId') ? true : null">{{country.name}}</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="">Sort by Date</label>
            <select name="cities" class="selectpicker form-control" (change)="sortByDate($event.target.value)">
              <option value="ASC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) !== 'createdAt_DESC' ? true : null">Date, Oldest-Newest</option>
              <option value="DESC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) === 'createdAt_DESC' ? true : null">Date, Newest-Oldest</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="">Filter by Status</label>
            <select name="filterByStatus" class="selectpicker form-control" (change)="filterby('states', $event.target.value)">
              <option [value]="'all'">All Status</option>
              <ng-container *ngFor="let state of orderStates">
                <option value="{{state}}" [attr.selected]="options.get('states') == state ? true : null">{{ state }}</option>
              </ng-container>
            </select>
          </div>
        </div>
        <div class="row mx-0 mb-3 row-alignment">          
          <!--<div class="col-md-3 filter-field mt-3">
            <span class="filter-field-label">Filter by SKU</span>
            <input id="filterBySku" name="filterBySku" type="text" class="form-control" placeholder="Filter by SKU" [ngModel]="options.get('sku')" (ngModelChange)="filterby('sku', $event)">
          </div>-->
          <div class="col-md-6 filter-field mt-3">
            <label for="">Search</label>
            <input id="filterByS" name="filterByS" type="text" class="form-control" placeholder="Search by Order No, Tax Invoice No, Product SKU"
              (input)="customizeSearchBy('s', $event)">
          </div>
          <div class="col-md-3">
            <md-form-field>
              <input mdInput [mdDatepicker]="pickerFromDate" placeholder="From date" [ngModel]="fromDate" (change)="changeFromDate($event.target.value)"
                disabled>
              <md-datepicker-toggle mdSuffix [for]="pickerFromDate"></md-datepicker-toggle>
              <md-datepicker #pickerFromDate (selectedChanged)="changeFromDate($event)" [disabled]="false"></md-datepicker>
            </md-form-field>
          </div>
          <div class="col-md-3">
            <md-form-field>
              <input mdInput [mdDatepicker]="pickerToDate" placeholder="To date" [(ngModel)]="toDate" (change)="changeToDate($event.target.value)"
                disabled>
              <md-datepicker-toggle mdSuffix [for]="pickerToDate"></md-datepicker-toggle>
              <md-datepicker #pickerToDate (selectedChanged)="changeToDate($event)" [disabled]="false"></md-datepicker>
            </md-form-field>
          </div>
        </div>

        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"></pagination>
        <!-- /pagging -->
        <table class="table table-shaves mt-2 sale-report-table">
          <thead>
            <tr>
              <th class="text-center">Order No.</th>
              <th class="category text-center">Tax Invoice No</th>
              <th class="category text-center">Category</th>
              <!--<th class="name">Product Name</th>-->
              <th (click)="tableHearSort($event, reportsList.rows, 'sku','string')" class="table-sort text-center name">Product SKU</th>
              <!--<th class="unit text-center">Units</th>-->
              <th (click)="tableHearSort($event, reportsList.rows, 'createdAt','date')" class="table-sort date text-center">Date</th>
              <th (click)="tableHearSort($event, reportsList.rows, 'region','string')" class="table-sort region text-center">Region</th>
              <th class="text-center th-status">Status</th>
            </tr>
          </thead>
          <tbody *ngIf="!isLoading">
            <tr *ngFor="let item of reportsList.rows">
              <td class="td-name" *ngIf="item.orderId">
                  {{ item.orderId | orderNo: {countryCode: item.region, createdAt: item.saleDate | date:"yyyyMMdd" } }}
              </td>
              <td class="td-name" *ngIf="!item.orderId">
                  {{ item.bulkOrderId | orderNo: {countryCode: item.region, createdAt: item.saleDate | date:"yyyyMMdd", isBulk: true } }}
              </td>
              <td class="td-name" *ngIf="item.region === 'MYS'">{{ item.taxInvoiceNo }}</td>
              <td class="td-name" *ngIf="item.region !== 'MYS'"></td>
              <td class="category text-center">
                {{(item.category === 'sales app') ? 'BA' : ((item.category === 'client') ? 'Online / E-Commerce' : 'Bulk Order')}}
              </td>
              <!--<td class="name">
                  {{item.productName}}
              </td>-->
              <td class="text-center name">
                {{item.sku}}
              </td>
              <!--<td class="unit text-center">
                  {{item.productUnits}}
              </td>-->
              <td class="date text-center">
                {{item.saleDate | date: 'yyyy-MM-dd'}}
              </td>
              <td class="region text-center">
                {{item.region}}
              </td>
              <td class="text-center td-status">
                <strong>{{item.states}}</strong>
              </td>
              <!-- <td class="td-actions">
                <a class="btn btn-secondary btn-sm float-right" (click)="download()">Download</a>
              </td> -->
            </tr>
            <tr *ngIf="reportsList.rows.length === 0">
              <td colspan="7" class="text-center">No Items</td>
            </tr>
          </tbody>
        </table>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"
          [showing]="false"></pagination>
        <!-- /pagging -->
      </div>
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->
</div>

<!-- generate-report-modal -->
<!--<generate-report-modal (hasChange)="hasChangeUser($event)"></generate-report-modal>-->