
.date-area {
  padding-top: 10px;
}

.date-area div {
  padding-right: 0;
  padding-left: 0;
  vertical-align: middle;

  p {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
  }
}