<div is="summary-place-order" id="payment-method" *ngIf="stepsData && stepsData.loadedReview">
  <div *ngIf="this.cartService.getCart().length > 0 || this.hasFreeTrial || this.hasCustomPlan">
    <div class="row px-0">
      <div class="btn-paynow-top">
        <div class="btn-paynow-top-price">{{receipt.totalIclTax | smsCurrency}}<label>({{storage.getCountry().currencyCode}})</label></div>
        <span (click)="payNow()" class="btn btn-primary shave2u-btn-primary btn-large" *ngIf="storage.getCountry().isWebEcommerce">{{ 'checkout.step_review.btn_pay_now' | translate }}</span>
        <p class="mb-4 making-purchase-note"[innerHTML]="'checkout.step_review.making_purchase_note' | translate | safeHtml"></p>
      </div>
    </div>
    <!-- <div class="row account-info mt-4">
      <div class="col-sm-3 col-md-3">
        <h5 class="heading"><a class="click-able" (click)="changeAccount()"><span class="fa fa-pencil"></span></a>{{ 'checkout.step_review.account.heading' | translate }}</h5>
      </div>
      <div class="col-sm-9 col-md-9 email-info">
        <p *ngIf="storage.getCurrentUser()">{{ stepsData.login.data.email}}</p>
        <p *ngIf="!storage.getCurrentUser()">{{ stepsData.deliveryAddress.data.emailByGuest}}</p>
      </div>
    </div> -->
    <div class="row address-info mt-3">
      <div class="col-sm-6 col-md-6 shipping">
        <h5 class="heading-subs">{{ 'checkout.step_review.address.heading_shipping' | translate }}</h5>
        <span>{{ stepsData.deliveryAddress.data.shipping.firstName + ' ' + stepsData.deliveryAddress.data.shipping.lastName }}</span>
        <span>{{ stepsData.deliveryAddress.data.shipping.address + ', ' + stepsData.deliveryAddress.data.shipping.city + ', ' + stepsData.deliveryAddress.data.shipping.portalCode + ', ' + stepsData.deliveryAddress.data.shipping.state }}</span>
        <span>{{ stepsData.deliveryAddress.data.shipping.contactNumber }}</span>
        <h5 class="heading"><a class="click-able" (click)="backToAddressStep()">{{ 'checkout.step_review.link_edit' | translate }}</a></h5>
      </div>
      <div class="col-sm-6 col-md-6 billing">
        <h5 class="heading-subs">{{ 'checkout.step_review.address.heading_billing' | translate }}</h5>
        <span *ngIf="stepsData.payment.data.paymentMethod !== 'ipay88'">xxxx {{ stepsData.payment.data.card.cardNumber }}</span>
        <span *ngIf="stepsData.payment.data.paymentMethod === 'ipay88'">{{ 'checkout.step_payment.card.ipay88' | translate }}</span>
        <h5 class="heading"><a class="click-able" (click)="backToPaymentStep()">{{ 'checkout.step_review.link_edit' | translate }}</a></h5>
      </div>
    </div>
  </div>
  <app-cart-template [cartItems]='cartItems' [template]='cartTemplate'></app-cart-template>
  <p class="text-right confirm-purchase" *ngIf="this.cartService.getCart().length > 0 || this.hasFreeTrial || this.hasCustomPlan">
    <app-alert [message]="resError"></app-alert>
    <span (click)="payNow()" class="btn btn-primary shave2u-btn-primary shave2u-btn-primary-width100 btn-large" *ngIf="storage.getCountry().isWebEcommerce">{{ 'checkout.step_review.btn_pay_now' | translate }}</span>
  </p>
  <!-- <p class="text-center">We offer refunds within 7 days after your purchase. For more information, read our <a href="">return policy</a>.</p> -->
</div>
