<div class="row mt-3"  [formGroup]="planDetailsForm">
  <div class="col-sm-12 form-group">
    <h6 class="pull-left">Add Product</h6>
    <h6 class="pull-right">Total Products ({{planDetailsForm.controls.length}})</h6>
  </div>
  <div class="col-sm-12 form-group">
    <form [formGroup]="queryForm">
      <input id="country" type="text" class="form-control" (keyup)=filterProducts() formControlName=query>
      <div class="list-group suggestions" id="suggestions" role="tablist" *ngIf="filteredList.length">
        <a class="list-group-item list-group-item-action" *ngFor="let item of filteredList" (click)="select(item)">{{ item.productTranslate | translatePipe:'name' }} ({{ item.sku }})</a>
      </div>
    </form>
  </div>
  <div ></div>
  <ng-container>
    <div class="col-sm-12" *ngIf="!planDetailsForm.valid && (parentOnActive || queryForm.get('query').touched || queryForm.get('query').dirty)">
      <div [ngClass]="!planDetailsForm.valid  ? 'has-danger' : ''">
        <span class="form-control-feedback">
          {{ 'msg.validation.selectListToSubscribe' | translate }}
        </span>
      </div>
    </div>
    <div class="col-sm-12 form-group product-list" *ngIf="planDetailsForm.controls.length > 0">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of planDetailsForm.controls; let i=index">
            <a class="d-inline-block">
              <display-image [images]="item.value.product.productImages" [class]="'planDetails-photo'"></display-image>
            </a>
            <div class="d-inline-block ml-2">
              <p class="title">{{ item.value.product.productTranslate | translatePipe:'name' }} ({{ item.value.product.sku }})</p>
            </div>
            <div class="row w-100">
              <div class="col-sm-{{12/totalDeliverTimes}}" *ngFor="let deliverPlanForm of item.controls.deliverPlan.controls; let i=index; trackBy:trackByIndex;">
                <label class="control-label small" for="label-deliver-time">Deliver Time : {{deliverPlanForm.value.times}}</label>
                <div class="input-group" [formGroup]="deliverPlanForm" [ngClass]="!deliverPlanForm.controls.qty.valid ? 'has-danger' : ''">
                  <span class="input-group-addon">Quatity</span>
                  <input type="text" class="form-control" name="qty" placeholder="" formControlName="qty" >
                </div>
              </div>
            </div>
            <a class="trash" (click)="removeItem(item.value.id, i)"><span class="fa fa-trash"></span></a>
        </li>
      </ul>
    </div>
  </ng-container>
</div>
