#helpPage {
  padding: 50px 40px 350px 40px;
}

.block-left {
  max-width: 270px;
}

.block-left .list-group .list-group-item {
  border: 1px solid #fbfbfb;
  min-height: 50px;
  padding: 0;
  display: block;
  text-align: center;
}

.block-left .list-group .list-group-item > a {
  border-left: 4px solid transparent;
  display: block;
  padding: 13px 5px 5px;
  min-height: 48px;
  text-transform: uppercase;
  color: #A3A3A3;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.block-left .list-group .list-group-item.active, .block-left .list-group .list-group-item:hover {
  background-color: #FFF;
  text-decoration: none;
}

.block-left .list-group .list-group-item.active a, .block-left .list-group .list-group-item:hover a {
  color: black;
  border-left: 4px solid #ff6c00;
}

.block-right .border {
  border: 1px solid silver;
}

.block-right .block-headding {
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}

div.line {
  transform-origin: 0 100%;
  height: 1px;
  background: #CCCCCC;
  margin-bottom: 16px;
}

.question {
  margin-bottom: 16px;
  font-size: 22px;
}

.question span {
  float: right;
  margin-top: 13px;
  margin-right: 3px;
  cursor: pointer;
  height: 10px;
  width: 10px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
}

.question span.collapsed {
  float: right;
  margin-top: 10px;
  margin-right: 0px;
  cursor: pointer;
  height: 10px;
  width: 10px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid black;
}

.answer {
  margin-bottom: 0px;
}

.content-header {
  margin: 0px 0 10px 0;
  background: #ececec;
  padding-top: 50px;
  padding-bottom: 70px;
}

.content-header p {
  margin: 0;
}

.content-header .block-headding {
  font-weight: normal;
}

.content-header .block-right {
  text-align: center;
  position: relative;
  top: 50%;
}

.content-header .block-right div {
  position: relative;
  top: 50%;
  float: right;
  transform: translateY(-50%);
  right: 90px;
}

.content-header .block-right div h2 {
  margin: 0;
}

.content-header .block-center .block-center-icon {
  text-align: center;
  position: relative;
  top: 50%;
}

.content-header .block-center .block-center-icon div {
  position: relative;
  top: 50%;
  float: right;
  transform: translateY(-50%);
  right: 20px;
}

.content-header .block-center .block-center-icon div .fa-envelope:before {
  color: #fe5000;
}

.content-header .block-center .block-center-content .email-note p {
  width: 145px;
  font-size: 14px;
}

.content-header .block-left .block-left-icon {
  text-align: center;
  position: relative;
  top: 50%;
}

.content-header .block-left .block-left-icon div {
  position: relative;
  top: 50%;
  float: right;
  transform: translateY(-50%);
  right: 20px;
}

.content-header .block-left .block-left-icon div .fa-phone:before {
  color: #fe5000;
}

.content-header .block-left .block-left-content .phone {
  margin-bottom: 10px;
  color: #fe5000;
}

.content-header .block-left .block-left-content .phone-note {
  display: block;
}

.content-header .block-left .block-left-content .phone-note p {
  font-size: 14px;
}

.list-items {
  text-align: center;
  list-style: none;
}

.list-items > li {
  display: inline-block;
}

.list-items .row-1 {
  text-align: left;
  min-width: 30px;
  vertical-align: top;
}

.list-items .row-1 i {
  font-size: 35px;
  margin-right: 30px;
}

.list-items .row-2 {
  text-align: left;
  min-width: 290px;
}

.list-items .row-2 ul li:first-child {
  font-weight: bold;
}

.list-items .row-2 ul li:last-child {
  margin-top: 3px;
}

.list-items .row-2 ul li:last-child a {
  text-decoration: underline;
  color: blue;
  font-size: 12px;
}

.list-items .row-3 {
  text-align: left;
}

.list-items .row-3 ul li:first-child {
  text-decoration: underline;
}

.list-items .row-3 ul li:first-child i {
  font-size: 25px;
  margin-right: 30px;
  margin-bottom: 15px;
}

.list-items .row-3 ul li:nth-child(2) i {
  font-size: 33px;
  margin-right: 29px;
  margin-bottom: 15px;
}

.list-items .row-3 ul li:last-child div {
  min-width: 240px;
}
