
<!-- content header -->
<div class="col-12 content-header" *ngIf="storage.getCountry().isWebEcommerce">
  <div class="row shave2u-container">
    <div class="col-sm-12 col-md-5 block-right">
      <div class="row">
        <h1 class="block-headding">{{ 'lbl.support.faq.contacts' | translate }}</h1>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 block-center">
      <div class="row">
        <div class="col-sm-3 col-md-2 block-center-icon block-ico">
          <div class="row">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-sm-9 col-md-10 block-center-content">
          <div class="row email">
            <a *ngIf="this.storage.getCountry().code === 'MYS'" href="mailto:help.my@shaves2u.com">help.my@shaves2u.com</a>
            <a *ngIf="this.storage.getCountry().code === 'SGP'" href="mailto:help.sg@shaves2u.com">help.sg@shaves2u.com</a>
            <a *ngIf="this.storage.getCountry().code === 'KOR'" href="mailto:help.kr@shaves2u.com">help.kr@shaves2u.com</a>
          </div>
          <!-- <div class="row email-note">
            <p>{{ 'lbl.support.faq.email_note' | translate }}</p>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 block-left">
      <div class="row">
        <div class="col-sm-3 col-md-2 block-left-icon block-ico">
          <div class="row">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-sm-9 col-md-10 block-left-content">
          <div class="row phone">
            <p *ngIf="this.storage.getCountry().code === 'MYS'">+603 2773 2882</p>
            <p *ngIf="this.storage.getCountry().code === 'SGP'">+65 6329 1488</p>
            <p *ngIf="this.storage.getCountry().code === 'KOR'">+02 6006 9777</p>
          </div>
          <div class="row phone-note">
            <!-- <p>{{ 'lbl.support.faq.available_at' | translate }}</p> -->
            <p>{{ 'lbl.support.faq.work_calendar' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="helpPage" class="container-fluid">
  <div class="row group shave2u-container">
    <!-- left panel -->
    <!-- ENGLISH & HK LANGUAGE -->
    <div class="col-3 block-left" *ngIf="(this.storage.getLanguageCode() === 'EN' && this.storage.getCountry().code !== 'KOR') || (this.storage.getLanguageCode() !== 'KO' && this.storage.getCountry().code !== 'KOR')">
      <ul class="list-group">
        <!-- <li class="list-group-item align-items-center active" (click)="getAllFaqsInfo()">
          frequently asked
        </li> -->
        <li class="list-group-item align-items-center" [ngClass]="{'active': type.toLowerCase() === selectedType.toLowerCase()}" *ngFor="let type of typeList"(click)="getInfoByType(type)">
          <a>{{ type }}</a>
        </li>
      </ul>
    </div>
    <div class="dropdown dropdow-custom hidden-lg-up help-dropdown" *ngIf="this.storage.getLanguageCode() === 'EN' && this.storage.getCountry().code !== 'KOR'">
      <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{selectedType}}</a>    
      <ul class="dropdown-menu">
          <!-- <li class="list-group-item align-items-center active" (click)="getAllFaqsInfo()">
            frequently asked
          </li> -->
          <li class="list-group-item dropdown-item align-items-center" [ngClass]="{'active': type.toLowerCase() === selectedType.toLowerCase()}" *ngFor="let type of typeList"(click)="getInfoByType(type);">
            <a>{{ type }}</a>
          </li>
        </ul>
    </div>

    <!-- KOREA KOREAN/ENGLISH -->
    <div class="col-3 block-left" *ngIf="(this.storage.getLanguageCode() === 'EN' && this.storage.getCountry().code === 'KOR') || (this.storage.getLanguageCode() === 'KO' && this.storage.getCountry().code === 'KOR')">
      <ul class="list-group">
        <!-- <li class="list-group-item align-items-center active" (click)="getAllFaqsInfo()">
          frequently asked
        </li> -->
        <li class="list-group-item align-items-center" [ngClass]="{'active': type.toLowerCase() === selectedType.toLowerCase()}" *ngFor="let type of typeList"(click)="getInfoByType(type)">
          <a>{{ type }}</a>
        </li>
      </ul>
    </div>
    <div class="dropdown dropdow-custom hidden-lg-up help-dropdown" *ngIf="(this.storage.getLanguageCode() === 'EN' && this.storage.getCountry().code === 'KOR') || (this.storage.getLanguageCode() === 'KO' && this.storage.getCountry().code === 'KOR')">
      <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{selectedType}}</a>    
      <ul class="dropdown-menu">
          <!-- <li class="list-group-item align-items-center active" (click)="getAllFaqsInfo()">
            frequently asked
          </li> -->
          <li class="list-group-item dropdown-item align-items-center" [ngClass]="{'active': type.toLowerCase() === selectedType.toLowerCase()}" *ngFor="let type of typeList"(click)="getInfoByType(type);">
            <a>{{ type }}</a>
          </li>
        </ul>
    </div>

    <!-- content -->
    <div class="col-sm-12 col-md-9 block-right">
      <!-- <h1 class="standard-seo">{{ 'plan.read_faq' | translate }}</h1> -->
      <h1 class="block-headding" *ngIf="selectedType !== 'Shave Plan'">{{ selectedType }}</h1>
      <h1 class="block-headding" *ngIf="selectedType === 'Shave Plan'">{{ 'plan.frequently_asked_questions' | translate }}</h1>
      <div class="text-inner" *ngFor="let item of detailList">
        <div class="line" *ngIf="item !== detailList[0]"></div>
        <p class="question" data-toggle="collapse" [attr.data-target]="'#' + item.id" [ngClass]="item !== detailList[0] ? 'collapsed' : ''">{{ item.question }}
        </p>
        <div class="text collapse answer" id="{{ item.id }}" aria-expanded="false" [ngClass]="item !== detailList[0] ? '' : 'show'">
          <!-- <p>{{ item.answer }}</p> -->
          <p class="desciption"><appFaqAnswer [faqAnswer]="item.answer"></appFaqAnswer></p>
        </div>
      </div>
    </div>
  </div>
</div>

  
<!-- content footer -->
<!-- <div class="col-12 block-right content-footer">
  <h1 class="block-headding">{{ 'lbl.support.faq.contacts' | translate }}</h1>
  <ul class="list-items">
    <li class="row-1">
      <ul>
        <li><i class="fa fa-map-marker" aria-hidden="true"></i></li>
      </ul>
    </li>
    <li class="row-2">
      <ul>
        <li>Appco Group Asia</li>
        <li>Level 18, Axiata Tower, No. 9,</li>
        <li>Jalan Stesen Sentral 5,</li>
        <li>50470 Kuala Lumpur</li>
        <li><a href="http://map.google.com">{{ 'lbl.support.faq.view_map' | translate }}</a></li>
      </ul>
    </li>
    <li class="row-3">
      <ul>
        <li>
          <i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:help@email.com">help@email.com</a>
        </li>
        <li>
          <i class="fa fa-phone" aria-hidden="true"></i>({{ 'lbl.support.faq.work_calendar' | translate }})
        </li>
        <li>
          <div class="btn btn-primary shave2u-btn-primary">{{ 'lbl.support.faq.btn_call' | translate }} +603 2233 4455</div>
        </li>
      </ul>
    </li>
  </ul>
</div> -->
