<div id="wrapper" class="body-container-full" [ngClass]="(routerName !== '/' && routerName !== 'login') ? 'has-header' : ''">
  <app-header *ngIf="(userService.getLoggedIn() | async)" [hidden]="routerName === 'login'"></app-header>
  <div [ngClass]="(userService.getLoggedIn() | async) ? 'content-page': ''">
    <div class="content">
      <div class="container">
        <router-outlet>
          <app-loading></app-loading>
        </router-outlet>
      </div>
    </div>
  </div>
</div>