<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title title-other" [innerHTML]="'dialog.cancellation_journey.title' | translate"></p>
        <p class="modal-title title-mobile" [innerHTML]="'dialog.cancellation_journey.title1' | translate"></p>
     
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        <app-alert></app-alert>
        <div class="user-form">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <!-- edit form column -->
                <div class="col-md-12 user-info">
                  <form #f='ngForm' novalidate (ngSubmit)='doSaveCancelMessage()' [formGroup]="CancellationForm">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row content-checkbox">

                          <div class="col-sm-12 mobile-text">
                            <p class="mobile">{{'dialog.cancellation_journey.subtitle' | translate}}</p>
                            <p class="non-mobile non-mobile-padding">{{'dialog.cancellation_journey.subtitle1' | translate}}</p>
                            <p class="non-mobile">{{'dialog.cancellation_journey.subtitle2' | translate}}</p>
                            <div *ngFor="let getmessage of messageList">
                              <!-- [attr.disabled]="getmessage.id==1 ? true : null" -->
                             <div class="message_list">
                              <input type="checkbox" class="cancell_message_c" value="{{getmessage.id}}" (click)="cancell_message($event,'reason', getmessage.id);" [checked]="getmessage.Checked" (change)="getmessage.Checked = !getmessage.Checked"
                              />
                              <p  class="message_c" innerHTML="{{getmessage.content}}"></p>
                              </div>
                            </div>
  
                      <div class="option-reason">
                            <input type="checkbox" id="optionReason" #optionReason  (click)="cancell_message($event ,'optionReason', 'optionReason');" ng-model="optionReason" formControlName="checkboxMessage"/>      
                            <span >{{'dialog.cancellation_journey.other_reason' | translate}}</span>  
                        </div>
                        
                        <div class="form-group option-reason-input" *ngIf="optionReason.checked">
                            <input id="optionReason" type="text" class="form-control" maxlength="100" formControlName="optionReason">
                        </div>
                    

                          </div>


                        </div>


                          <div class="group-button cancellation_journey_btn" *ngIf="storage.getLanguageCode() == 'EN' && storage.getCountry().code.toUpperCase() !== 'KOR'">
<button type="submit" class="btn btn-primary confirm-style-faded">{{ 'dialog.cancellation_journey.button_ok' | translate }}</button>
<button type="button" class="btn btn-primary " (click)="close();">{{ 'dialog.cancellation_journey.button_close' | translate }}</button>
</div> 

<div class="group-button cancellation_journey_btn" *ngIf="storage.getLanguageCode() == 'EN' && storage.getCountry().code.toUpperCase() == 'KOR'">
<button type="submit" class="btn btn-primary shave2u-btn-primary confirm-style-faded">{{ 'dialog.cancellation_journey.button_ok_ko' | translate }}</button>
<button type="button" class="btn btn-primary shave2u-btn-primary" (click)="close();">{{ 'dialog.cancellation_journey.button_close_ko' | translate }}</button>
</div>

<div class="group-button cancellation_journey_btn" *ngIf="storage.getLanguageCode() != 'EN' && storage.getCountry().code.toUpperCase() == 'KOR'">
<button type="submit" class="btn btn-primary shave2u-btn-primary confirm-style-faded">{{ 'dialog.cancellation_journey.button_ok' | translate }}</button>
<button type="button" class="btn btn-primary shave2u-btn-primary" (click)="close();">{{ 'dialog.cancellation_journey.button_close' | translate }}</button>
</div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /container -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal-backdrop fade"></div>