.content-checkbox{
  margin-left: 50px;
}

.title-other
{
display:block;
}

.title-mobile
{
  display:none;
}

.message_list{
  display:inline-flex;
}
.message_c
{
  margin: -3px;
  margin-left: 5px;
}

.modal-dialog {
  max-width: 570px;

  .group-button {
    margin: auto auto 1rem auto;
    width: 300px;
    text-align: center;

    .shave2u-btn-primary {
      width: 100%;
    }
  }

  .modal-title {
    font-weight: 700;
    font-size: 20px;
    margin: auto;
    text-align: center !important;
  }

  .modal-title-english {
    font-weight: 700;
    font-size: 20px;
    margin: auto;
    text-align: center !important;
  }

  .close {
    position: absolute;
    top: 2px;
    right: 7px;
  }

  .user-info{
    padding-left: 20px;
    padding-right: 20px;
  }
}
 .confirm-style-faded {
    background: white !important;
    border: 2px solid lightslategrey !important;
    color: lightslategrey !important;
    margin-bottom: 10px !important;
    font-size:13px;
  }
.modal-content {
  //border: 5px solid #fe5000;
  .btn{
      padding: 5px 15px;
      font-size:12px;
      width: 249px;
    text-align: center;
    }
}
.cancellation_journey_btn{
padding-top: 15px;
margin-top: 18px;
}

.hints-new-password {
  padding-left: 15px;
}

.show-on-web {
  display: block;
}
.show-on-mobile {
  display: none;
}

.tandc-collect-email{
padding-bottom: 15px;
}
  .option-reason {
   padding-bottom: 10px;
  }
.option-reason-input{
    padding-left: 18px;
    padding-right: 60px;
}

.mobile-text{
    font-size:13px;
  }

  .mobile{display:none;}
  .non-mobile{display:block;}
  .non-mobile-padding{margin-bottom:0px !important;}
@media (max-width: 575px) {
 .option-reason-input{
    padding-left: 18px;
    padding-right: 30px;
}

  .content-checkbox{
    margin-left: auto;
  }

  .show-on-web {
    display: none;
  }
  .show-on-mobile {
    display: block;
    margin-top: 20px;
  }
  .mobile{display:block;}
  .non-mobile{display:none;}

    .modal-title {
    font-size: 16px !important;
  }
    .modal-content{
    .btn{
      padding: 5px 15px;
      font-size:13px;
      width: 272px;
    }
  }
  .group-button {
    width: auto;
  }
  .mobile-text{
    font-size:14px;
  }
}
@media (max-width: 400px) {
  .title-other
  {
  display:none;
  }
  
  .title-mobile
  {
    display:block;
  }
}
