<div class="list-item mainWrap clearfix" *ngIf='productList'>
  <!-- Product list -->
  <div class="list-row row">
    <div class="list-contain col-md-12 col-12">
      <div class="box-body">
        <div class="block-items" *ngFor="let productType of productTypes">

          <h2 class="block-heading">{{ productType.productTypeTranslate | productTypeTranslate: 'name' }}</h2>
          <ng-container *ngFor="let item of productList[productType.name]; let i = index;">
          <ul class="row no-gutters row-custom text-center">
            <li class="item item-info col-12 col-sm-6">
              <div class="image-contain image-center-with-border pull-left clickable" clickable>
                <div class="image-inner">
                  <div class="image" *ngIf="item.productImages">
                    <display-image [class]="'img-responsive list-item-image-contain'" [images]="item.productImages"></display-image>
                  </div>
                </div>
              </div>
              <div class="text-contain text-center-vertical pull-left">
                <div class="text-inner" *ngIf="item.productTranslate">
                  <h4 class="product-name clickable"><strong>{{item.productTranslate | translatePipe: 'name'}}</strong></h4>
                  <strong class="sku">{{item.sku}}</strong>
                  <div class="text-inner" *ngIf="item.productCountry">
                    <span class="item-price">{{ item.productCountry.sellPrice | smsCurrency}}</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="item item-quantity col-12 col-sm-6" *ngIf="currentUser.Country.isBaEcommerce">
              <div class="text-contain text-center-vertical contain-full">
                <div class="text-inner">
                  <div class="quantity-action-tool">
                    <div class="btn-minus" (click)="minusQuatity(i, productType.name)" [ngClass]="{'btn-disabled': item.qty === 0}"><span class="fa fa-minus"></span></div>
                    <input type="number" name="qty" [(ngModel)]="item.qty" #qty="ngModel" (change)="changeQuatity(i, productType.name)"/>
                    <div class="btn-plus" (click)="plusQuatity(i, productType.name)"><span class="fa fa-plus"></span></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          </ng-container>
        </div>

        <!-- promotion form -->
        <!--<div class="promo-code">
          <h3 class="heading-promo">Promo Code</h3>
          <form [formGroup]="promoCodeForm" novalidate #f="ngForm" class="promo-code-group">
            <div class="form-group promo-code-group">
              <input class="promo-code form-control" type="text" id="promoCode" name="promo_code" formControlName="promoCode"
                [(ngModel)]="promoCode"  (change)="promoCode=$event.target.value;promoCodeError=null" 
                value="{{promoCode}}" placeholder="ENTER CODE HERE" [attr.disabled]="notAllowPromoCode ? true : null">
              <button type="submit" class="btn btn-primary shave2u-btn-primary btn-block btn-apply-promo" (click)="applyPromoCode(promoCodeForm.value.promoCode)"
                [disabled]="(!promoCode || promoCode === '') ? true : null">APPLY</button>
            </div>
          </form>
          <div class="alert alert-danger mr-sm-2 mt-sm-2" role="alert" *ngIf="promoCodeError">{{ promoCodeError.message }}</div>
        </div>-->
        
      </div>
    </div>

    <!-- action -->
    <div class="group-btn">
      <button (click)="nextTo()" class="btn btn-primary shave2u-btn-primary btn-nextTo" [attr.disabled]="(!cart || (cart && cart.length) < 1) ? true : null">{{ 'btn.next' | translate }}</button>
    </div>

  </div>
  <!-- End product list -->
      
</div>