#support-page .block-top-questions .font-alt {
  font-family: Dosis, arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

#support-page .block-top-questions .post-prev-title {
  margin-bottom: 6px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

#support-page .block-top-questions .post-prev-title a {
  color: #777;
  text-decoration: none;
  -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}

#support-page .block-top-questions .post-prev-info, #support-page .block-top-questions .post-prev-info a {
  margin-bottom: 15px;
  font-size: 11px;
  text-decoration: none;
  color: #aaa;
  -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}

#support-page .block-top-questions .post-prev-text {
  margin-bottom: 22px;
  color: #777;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.75;
}

#support-page .block-top-questions .btn-mod.btn-gray {
  color: #777;
  background: #e5e5e5;
}

#support-page .block-top-questions .btn-mod, #support-page .block-top-questions a.btn-mod {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 13px;
  color: #fff;
  background: rgba(34, 34, 34, 0.9);
  border: 2px solid transparent;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
}

#support-page .block-contact-us.small-section {
  padding: 70px 0;
}

#support-page .block-contact-us .align-center {
  text-align: center !important;
}

#support-page .block-contact-us #contact-box .contact-label {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

#support-page .block-contact-us #contact-box .form-tip {
  font-size: 14px;
  color: #aaa;
}

#support-page .block-contact-us #contact-box .chat-now {
  margin-top: 20px;
}
