<div id="support-page">
  <div class="row block-support">
    <div class="col-lg-12">
      <h1 class="page-header">Support</h1>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4 thumb">
        <div class="card">
            <img class="card-img-top" src="http://placehold.it/400x200">
            <div class="card-block">
                <h5 class="text-bold">Lorem is.....</h5>
            </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4 thumb">
        <div class="card">
            <img class="card-img-top" src="http://placehold.it/400x200">
            <div class="card-block">
                <h5 class="text-bold">Lorem is.....</h5>
            </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4 thumb">
        <div class="card">
            <img class="card-img-top" src="http://placehold.it/400x200">
            <div class="card-block">
                <h5 class="text-bold">Lorem is.....</h5>
            </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4 thumb">
        <div class="card">
            <img class="card-img-top" src="http://placehold.it/400x200">
            <div class="card-block">
                <h5 class="text-bold">Lorem is.....</h5>
            </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4 thumb">
        <div class="card">
            <img class="card-img-top" src="http://placehold.it/400x200">
            <div class="card-block">
                <h5 class="text-bold">Lorem is.....</h5>
            </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4 thumb">
        <div class="card">
            <img class="card-img-top" src="http://placehold.it/400x200">
            <div class="card-block">
                <h5 class="text-bold">Lorem is.....</h5>
            </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4 thumb">
        <div class="card">
            <img class="card-img-top" src="http://placehold.it/400x200">
            <div class="card-block">
                <h5 class="text-bold">Lorem is.....</h5>
            </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4 thumb">
        <div class="card">
            <img class="card-img-top" src="http://placehold.it/400x200">
            <div class="card-block">
                <h5 class="text-bold">Lorem is.....</h5>
            </div>
        </div>
      </div>
      
    </div>
  </div>
  <!-- /.bock-support -->
  <div _ngcontent-c9="" class="row multi-columns-row block-top-questions">
    <div class="col-lg-12">
      <h1 class="page-header">Top Questions</h1>
    </div>
    <!-- Post Item -->
    <div class="col-md-4 col-lg-4 mb-30">
      <div class="post-prev-img">
        <a href="#"><img src="http://placehold.it/370x200" alt="">
        </a>
      </div>
      <div class="post-prev-title font-alt">
        <a href="">Hipster’s Style in&nbsp;Web</a>
      </div>

      <div class="post-prev-info font-alt">
        <a href="">John Doe</a> | 7 December
      </div>

      <div class="post-prev-text">
        Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum nibh volutpat, accumsan purus.
      </div>

      <div class="post-prev-more">
        <a href="" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
      </div>
    </div>
    <!-- End Post Item -->
    <!-- Post Item -->
    <div class="col-md-4 col-lg-4 mb-30">
      <div class="post-prev-img">
        <a href="#"><img src="http://placehold.it/370x200" alt="">
        </a>
      </div>

      <div class="post-prev-title font-alt">
        <a href="">Hipster’s Style in&nbsp;Web</a>
      </div>

      <div class="post-prev-info font-alt">
        <a href="">John Doe</a> | 7 December
      </div>

      <div class="post-prev-text">
        Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum nibh volutpat, accumsan purus.
      </div>

      <div class="post-prev-more">
        <a href="" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
      </div>

    </div>
    <!-- End Post Item -->
    <!-- Post Item -->
    <div class="col-md-4 col-lg-4 mb-30">

      <div class="post-prev-img">
        <a href="#"><img src="http://placehold.it/370x200" alt="">
        </a>
      </div>

      <div class="post-prev-title font-alt">
        <a href="">Hipster’s Style in&nbsp;Web</a>
      </div>

      <div class="post-prev-info font-alt">
        <a href="">John Doe</a> | 7 December
      </div>

      <div class="post-prev-text">
        Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum nibh volutpat, accumsan purus.
      </div>

      <div class="post-prev-more">
        <a href="" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
      </div>

    </div>
    <!-- End Post Item -->
  </div>
  <!-- /.block-top-questions -->
  
  <section class="small-section bg-gray-lighter block-contact-us">
    <div class="container relative">

      <form class="form align-center" id="contact-box" novalidate="true">
        <div class="row">
          <div class="mx-auto">

            <div class="contact-label font-alt">
              <h2 class="page-header">Contact Us</h2>
            </div>

            <div class="form-tip">
              Live chat (Mon to Fri/ 9AM 9PM)
            </div>

            <button type="button" class="btn chat-now">Chat Now</button>

          </div>
        </div>
      </form>

    </div>
  </section> 
  <!-- /.block-contact-us-->
</div>