#support-page {
	.block-top-questions {
		.font-alt {
			font-family: Dosis, arial, sans-serif;
			text-transform: uppercase;
			letter-spacing: 0.2em;
		}
		.post-prev-title {
			margin-bottom: 6px;
			font-size: 15px;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			a {
				color: #777;
				text-decoration: none;
				-webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
				-moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
				-o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
				-ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
				transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
			}
		}
		.post-prev-info, .post-prev-info a {
			margin-bottom: 15px;
			font-size: 11px;
			text-decoration: none;
			color: #aaa;
			-webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
			-moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
			-o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
			-ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
			transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
		}
		.post-prev-text {
			margin-bottom: 22px;
			color: #777;
			font-size: 15px;
			font-weight: 300;
			line-height: 1.75;
		}
		.btn-mod.btn-gray {
			color: #777;
			background: #e5e5e5;
		}
		.btn-mod, a.btn-mod {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 4px 13px;
			color: #fff;
			background: rgba(34,34,34, .9);
			border: 2px solid transparent;
			font-size: 11px;
			font-weight: 400;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 2px;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			-webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
			-moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
			-o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
			-ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
			transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
		}
	}

	.block-contact-us {
		&.small-section {
			padding: 70px 0;
		}
		.align-center {
			text-align: center !important;
		}
		#contact-box {
			.contact-label {
				margin-bottom: 15px;
				font-size: 16px;
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: 0.3em;
			}
			.form-tip {
				font-size: 14px;
				color: #aaa;
			}
			.chat-now {
				margin-top: 20px;
			}
		}
	}
}