<div class="file-input" [formGroup]="group">
  <div class="file-preview">
    <div class="file-drop-disabled">
      <div *ngIf="file && file.imageUrl">
        <div class="file-preview-thumbnails">
          <div class="file-preview-frame" id="preview-{{file.index}}">
            <div class="file-content">
              <img src="{{file.imageUrl}}" style="width:auto;height:100px;" class="file-preview-image" alt="">
            </div>
            <div class="file-actions close fileinput-remove" (click)="removeAddCase()">
              <i class="fa fa-remove"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="file-drop-area click-able" *ngIf="show">
        <div class="item item-adding">
          <div class="text-contain text-center-vertical">
            <div class="text-inner">
              <span class="btn btn-default btn-file">
                <a class="link-text-underline">
                  <i class="fa fa-plus-circle mr-2 fa-button-upload" *ngIf="show"></i>
                </a>
                <div>
                  <input type="file" (change)="fileChange($event)" formControlName="{{controlName}}" name="{{controlName}}" class="inputFileUpload"
                    *ngIf="show">
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" [ngClass]="errors ? 'has-danger' : ''">
    <span class="form-control-feedback">{{ errors }}</span>
  </div>
</div>