.order-summary .heading {
  border-bottom: 1px solid #CCC;
  padding: 15px;
  font-size: 16px;
  margin: 0;
  color: #adadad;
  font-weight: 400;
  font-family: 'Muli';
  background-color: #F8F8F8;
  border-top: 1px solid #CCC;
}

.order-summary .order-summary-info .label-value-group {
  padding: 5px 15px;
}

.order-summary .order-summary-info .label-value-group .label {
  display: block;
  width: 100%;
}

.order-summary .order-summary-info .label-value-group .value {
  font-family: 'Muli Bold';
  font-size: 18px;
}

.order-summary .cart-page-inner {
  padding: 80px 35px;
}

.order-summary .shave2u-no-item {
  padding: 80px 0;
}

.order-summary .account-info,
.order-summary .list-row {
  position: relative;
}

.order-summary .account-info .list-contain .box-body .block-items,
.order-summary .list-row .list-contain .box-body .block-items {
  margin-top: 15px;
}

.order-summary .account-info .list-contain .box-body .block-items .row-custom,
.order-summary .list-row .list-contain .box-body .block-items .row-custom {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #CCC;
  margin: 0;
  padding: 10px 0px 10px 20px;
}

.order-summary .account-info .list-contain .box-body .block-items .row-custom .item,
.order-summary .list-row .list-contain .box-body .block-items .row-custom .item {
  padding: 6px 0;
}

.order-summary .account-info .list-contain .box-body .block-items .row-custom .item .image-contain,
.order-summary .list-row .list-contain .box-body .block-items .row-custom .item .image-contain {
  width: 103px;
  max-width: 44%;
  background: #ffffff;
}

.order-summary .account-info .list-contain .box-body .block-items .row-custom .item .image-contain .image-inner .image,
.order-summary .list-row .list-contain .box-body .block-items .row-custom .item .image-contain .image-inner .image {
  height: 103px;
  padding: 14px;
}

.order-summary .account-info .list-contain .box-body .block-items .row-custom .item .product-name,
.order-summary .list-row .list-contain .box-body .block-items .row-custom .item .product-name {
  font-size: 16px;
}

.order-summary .account-info .list-contain .box-body .block-items .row-custom .item .short-description,
.order-summary .list-row .list-contain .box-body .block-items .row-custom .item .short-description {
  display: block;
}

.order-summary .account-info .list-contain .box-body .block-items .row-custom .item .item-price div,
.order-summary .list-row .list-contain .box-body .block-items .row-custom .item .item-price div {
  padding-left: 0px;
}

.order-summary .account-info .list-contain .box-body .block-items .row-custom .item span.item-price,
.order-summary .list-row .list-contain .box-body .block-items .row-custom .item span.item-price {
  color: #adadad;
}

.order-summary .account-info .list-contain .box-body .block-items .row-custom .item .item-quantity div,
.order-summary .list-row .list-contain .box-body .block-items .row-custom .item .item-quantity div {
  padding-left: 0px;
}

.order-summary .account-info .list-contain .box-body .block-items .row-custom .item .item-total,
.order-summary .list-row .list-contain .box-body .block-items .row-custom .item .item-total {
  width: 18%;
}

.order-summary .account-info .list-contain .box-body .block-items .row-custom .item .item-total div,
.order-summary .list-row .list-contain .box-body .block-items .row-custom .item .item-total div {
  padding-left: 0px;
}

.order-summary .account-info .list-contain .box-body .block-items .row-custom .item .item-action,
.order-summary .list-row .list-contain .box-body .block-items .row-custom .item .item-action {
  width: 2%;
}

.order-summary .account-info .list-contain .box-body .block-items .row-custom .item .item-action .btn-delete-product,
.order-summary .list-row .list-contain .box-body .block-items .row-custom .item .item-action .btn-delete-product {
  right: 18px;
  position: relative;
  cursor: pointer;
}

.order-summary .account-info .list-contain .box-body .promo-code,
.order-summary .list-row .list-contain .box-body .promo-code {
  padding-left: 20px;
}

.order-summary .account-info .list-contain .box-body .promo-code .heading-promo,
.order-summary .list-row .list-contain .box-body .promo-code .heading-promo {
  padding: 15px 0 5px;
  font-size: 15px;
}

.order-summary .account-info .list-contain .box-body .promo-code .promo-code-group,
.order-summary .list-row .list-contain .box-body .promo-code .promo-code-group {
  width: 100%;
  display: block;
}

.order-summary .account-info .list-contain .box-body .promo-code .promo-code-group .btn-apply-promo,
.order-summary .list-row .list-contain .box-body .promo-code .promo-code-group .btn-apply-promo {
  font-size: 13px;
  border-radius: 0 0.25rem 0.25rem 0;
  padding: 0;
  width: 100px;
}

.order-summary .account-info .list-contain .box-body .box-right-contain,
.order-summary .list-row .list-contain .box-body .box-right-contain {
  width: 100%;
}

.order-summary .account-info .list-contain .box-body .box-right-contain .box-inner,
.order-summary .list-row .list-contain .box-body .box-right-contain .box-inner {
  padding: 30px 18px 20px 0px;
}

.order-summary .account-info .list-contain .box-body .box-right-contain .box-inner .val-left,
.order-summary .list-row .list-contain .box-body .box-right-contain .box-inner .val-left {
  text-align: right;
}

.order-summary .account-info .list-contain .box-body .box-right-contain .box-inner .val-right,
.order-summary .list-row .list-contain .box-body .box-right-contain .box-inner .val-right {
  text-align: right;
}

.order-summary .account-info .list-contain .box-body .box-right-contain .note,
.order-summary .list-row .list-contain .box-body .box-right-contain .note {
  padding: 10px 18px 0;
}

.order-summary .account-info .list-contain .box-body .box-right-contain .link-promo-code,
.order-summary .list-row .list-contain .box-body .box-right-contain .link-promo-code {
  color: #00478f;
  top: 5px;
  position: relative;
  font-size: 13px;
}

.order-summary .account-info .list-contain .box-body .box-right-contain .promo-code-group,
.order-summary .list-row .list-contain .box-body .box-right-contain .promo-code-group {
  display: flex;
}

.order-summary .account-info .list-contain .box-body .box-right-contain .btn-apply-promo,
.order-summary .list-row .list-contain .box-body .box-right-contain .btn-apply-promo {
  font-size: 13px;
  border-radius: 0 0.25rem 0.25rem 0;
  padding: 0;
  width: 100px;
}

.order-summary .account-info .list-contain .box-body .box-right-contain .grand-total,
.order-summary .list-row .list-contain .box-body .box-right-contain .grand-total {
  display: grid;
  max-width: 60%;
}

.order-summary .account-info .list-contain .box-body .box-right-contain .grand-total-price,
.order-summary .list-row .list-contain .box-body .box-right-contain .grand-total-price {
  font-family: "Muli";
  padding-top: 11px;
  font-size: 20px;
  padding-left: 0;
  max-width: 40%;
}

.order-summary .account-info .list-contain .box-body .box-right-contain .grand-total-price h3,
.order-summary .list-row .list-contain .box-body .box-right-contain .grand-total-price h3 {
  color: #3a6e9c;
}

.order-summary .account-info .list-contain .box-body .box-right-contain .box-flex, .order-summary .account-info .list-contain .box-body .box-right-contain .group-btn,
.order-summary .list-row .list-contain .box-body .box-right-contain .box-flex,
.order-summary .list-row .list-contain .box-body .box-right-contain .group-btn {
  margin-bottom: 15px;
}

.order-summary .account-info .list-contain .box-body .box-right-contain .group-btn,
.order-summary .list-row .list-contain .box-body .box-right-contain .group-btn {
  margin-top: 20px;
}

.order-summary .account-info .list-contain .box-body .box-right-contain .group-btn .btn,
.order-summary .list-row .list-contain .box-body .box-right-contain .group-btn .btn {
  width: 100%;
  margin-top: 10px;
}

.order-summary .account-info .list-contain .box-body .box-right-contain.box-contain-top .box-flex,
.order-summary .list-row .list-contain .box-body .box-right-contain.box-contain-top .box-flex {
  margin-bottom: 10px;
}

.order-summary .account-info .list-contain .box-body .box-right-contain.box-contain-top .group-btn,
.order-summary .list-row .list-contain .box-body .box-right-contain.box-contain-top .group-btn {
  margin-top: 0px;
}

.order-summary .account-info .list-contain .box-body .promo-code,
.order-summary .list-row .list-contain .box-body .promo-code {
  padding-left: 20px;
}

.order-summary .account-info .list-contain .box-body .promo-code .heading-promo,
.order-summary .list-row .list-contain .box-body .promo-code .heading-promo {
  padding: 15px 0 5px;
  font-size: 15px;
}

.order-summary .account-info .list-contain .box-body .promo-code .promo-code-group,
.order-summary .list-row .list-contain .box-body .promo-code .promo-code-group {
  display: flex;
}

.order-summary .account-info .list-contain .box-body .promo-code .promo-code-group .btn-apply-promo,
.order-summary .list-row .list-contain .box-body .promo-code .promo-code-group .btn-apply-promo {
  font-size: 13px;
  border-radius: 0 0.25rem 0.25rem 0;
  padding: 0;
  width: 100px;
}

.order-summary .account-info .group-btn,
.order-summary .list-row .group-btn {
  width: 100%;
  display: inline-block;
}

.order-summary .account-info .group-btn a,
.order-summary .list-row .group-btn a {
  width: 100%;
}

.order-summary .account-info .text-contain,
.order-summary .list-row .text-contain {
  width: calc(100% - 103px);
  padding: 0 20px;
  text-align: left;
}

.order-summary .account-info .text-contain .text-inner,
.order-summary .list-row .text-contain .text-inner {
  font-size: 14px;
}

.order-summary .account-info .text-contain .text-inner span,
.order-summary .list-row .text-contain .text-inner span {
  font-size: 16px;
}

.order-summary .account-info .text-contain .text-inner span.fa,
.order-summary .list-row .text-contain .text-inner span.fa {
  font-size: 14px;
}

.order-summary .account-info .grand-total,
.order-summary .list-row .grand-total {
  display: grid;
}

.order-summary .account-info .grand-total .small-text,
.order-summary .list-row .grand-total .small-text {
  width: 100%;
  display: block;
}

.order-summary .account-info .grand-total-price,
.order-summary .list-row .grand-total-price {
  padding-top: 11px;
}

.order-summary .account-info .grand-total-price h3,
.order-summary .list-row .grand-total-price h3 {
  color: #3a6e9c;
  font-size: 24px;
}

.order-summary .box-bottom-contain {
  background-color: #fff;
  padding: 30px;
  width: 385px;
}

.order-summary .box-bottom-contain .link-promo-code {
  color: #00478f;
  top: 5px;
  position: relative;
  font-size: 13px;
}

.order-summary .box-bottom-contain .promo-code-group {
  display: flex;
}

.order-summary .box-bottom-contain .btn-apply-promo {
  font-size: 13px;
  border-radius: 0 0.25rem 0.25rem 0;
  padding: 0;
  width: 100px;
}

.order-summary .box-bottom-contain .grand-total {
  display: grid;
  max-width: 60%;
}

.order-summary .box-bottom-contain .grand-total-price {
  font-family: "Muli";
  padding-top: 11px;
  font-size: 20px;
  padding-left: 0;
  max-width: 40%;
}

.order-summary .box-bottom-contain .grand-total-price h3 {
  color: #3a6e9c;
}

.order-summary .box-bottom-contain .box-flex, .order-summary .box-bottom-contain .group-btn {
  margin-bottom: 15px;
}

.order-summary .group-btn {
  margin-top: 40px;
}

.order-summary .group-btn .btn {
  width: 100%;
  margin-top: 10px;
}

@media (max-width: 767px) {
  #catListings .box-bottom-contain {
    width: 100%;
  }
  #carts-page .box-right-contain, #catListings .box-right-contain {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
