.order-summary {
  // .heading {
  //   margin-bottom: 20px;
  // }
  .heading {
    border-bottom: 1px solid #CCC;
    padding: 15px;
    font-size: 16px;
    margin: 0;
    color: #adadad;
    font-weight: 400;
    font-family: 'Muli';
    background-color: #F8F8F8;
    border-top: 1px solid #CCC;
  }
  .order-summary-info {
    .label-value-group {
			padding: 5px 15px;
			.label {
				display: block;
				width: 100%;
			}
			.value {
				font-family: 'Muli Bold';
    		font-size: 18px;
			}
		}
  }
  .cart-page-inner {
    padding: 80px 35px;
  }
  .shave2u-no-item {
    padding: 80px 0;
  }
  .account-info,
  .list-row {
    position: relative;
    .list-contain {
      .box-body {
        .block-items {
          margin-top: 15px;
          .row-custom {
            display: flex;
            width: 100%;
            border-bottom: 1px solid #CCC;
            margin: 0;
            padding: 10px 0px 10px 20px;
            .item {
              padding: 6px 0;
              .image-contain {
                width: 103px;
                max-width: 44%;
                background: #ffffff;
                .image-inner {
                  .image {
                    height: 103px;
                    padding: 14px;
                  }
                }
              }

              .startDeliverDate {
                text-align: left;
              }

              .product-name {
                font-size: 16px;
              }
              
              // .item-info {
              //   // width: 50%;
              // }
              .short-description {
                display: block;
                .hight-light {
                  font-family: 'Muli Bold';
                  font-size: 16px;
                  color: #3A6E9C;
                }
              }
              .item-price {
                // width: 16%;
                div {
                  padding-left: 0px;
                }
              }
              span.item-price {
                color: #adadad;
              }
              .item-quantity {
                // width: 50%;
                div {
                  padding-left: 0px;
                }     
              }
              .item-total {
                width: 18%;
                div {
                  padding-left: 0px;
                }
              }
              .item-action {
                width: 2%;    
                .btn-delete-product {
                  right: 18px;
                  position: relative;
                  cursor: pointer;
                }    
              }

            }
          }

        }

        .promo-code {
          padding-left: 20px;
          .heading-promo {
            padding: 15px 0 5px;
            font-size: 15px;              
          }
          .promo-code-group {
            // display: flex;
            width: 100%;
            display: block;
            .btn-apply-promo {
              font-size: 13px;
              border-radius: 0 0.25rem 0.25rem 0;
              padding: 0;
              width: 100px;
            }
          }
        }

        .box-right-contain {
          width: 100%;
          .box-inner {
            // background-color: #F8F8F8;
            padding: 30px 18px 20px 0px;
            .val-left {
              text-align: right;
              // padding-right: 50px;
            }
            .val-right {
              text-align: right;
            }
          }
          .note {
            padding: 10px 18px 0;
          }
          .link-promo-code {
            color: #00478f;
            top: 5px;
            position: relative;
            font-size: 13px;
          }
          .promo-code-group {
            display: flex;
          }
          .btn-apply-promo {
            font-size: 13px;
            border-radius: 0 0.25rem 0.25rem 0;
            padding: 0;
            width: 100px;
          }
          .grand-total {
            display: grid;
            max-width: 60%;
          }
          .grand-total-price {
            font-family: "Muli";
            h3{
              color: #3a6e9c;
            }
            padding-top: 11px;
            font-size: 20px;
            padding-left: 0;
            max-width: 40%;
          }
          .box-flex, .group-btn {
            margin-bottom: 15px;
          } 
          .group-btn {
            margin-top: 20px;
            .btn {
              width: 100%;
              margin-top: 10px;
            }
          }
          &.box-contain-top{
            .box-flex{
              margin-bottom: 10px;
            }
            .group-btn {
              margin-top: 0px;
            }
          }
        }

        .promo-code {
          padding-left: 20px;
          .heading-promo {
            padding: 15px 0 5px;
            font-size: 15px;              
          }
          .promo-code-group {
            display: flex;
            .btn-apply-promo {
              font-size: 13px;
              border-radius: 0 0.25rem 0.25rem 0;
              padding: 0;
              width: 100px;
            }
          }
        }

      }
    }

    .group-btn {
      width: 100%;
      display: inline-block;
      a {
        width: 100%;
      }
    }
    
    .text-contain {
      width: calc(100% - 103px);
      padding: 0 20px;
      text-align: left;
      .text-inner {
        // .product-name,.product-description{
          
        // }
        font-size: 14px;
        span{
          font-size: 16px;
          &.fa{
            font-size: 14px;
          }
        }
      }
    }

    .grand-total {
      display: grid;
      .small-text {
        width: 100%;
        display: block;
      }
    }
    .grand-total-price {
      h3{
        color: #3a6e9c;
        font-size:24px;
      }
      padding-top: 11px;
    }
  }
  .box-bottom-contain {
    background-color: #fff;
    padding: 30px;     
    width: 385px;
    .link-promo-code {
      color: #00478f;
      top: 5px;
      position: relative;
      font-size: 13px;
    }
    .promo-code-group {
      display: flex;
    }
    .btn-apply-promo {
      font-size: 13px;
      border-radius: 0 0.25rem 0.25rem 0;
      padding: 0;
      width: 100px;
    }
    .grand-total {
      display: grid;
      max-width: 60%;
    }
    .grand-total-price {
      font-family: "Muli";
      h3{
        color: #3a6e9c;
      }
      padding-top: 11px;
      font-size: 20px;
      padding-left: 0;
      max-width: 40%;
    }
    .box-flex, .group-btn {
      margin-bottom: 15px;
    } 
    
  }

  .group-btn {
    margin-top: 40px;
    display: inline-block;
    width: 100%;
    .btn {
      width: 100%;
      margin-top: 10px;
    }
  }

}

@media (max-width: 767px) {
  #catListings{
    .box-bottom-contain{
      width:100%;
    }
  }
  #carts-page .box-right-contain, #catListings .box-right-contain {
    width: 100%;
    padding-left:0;
    padding-right: 0;
    // flex: 1;
  }
}
// @import '_cart-response.component';