<div class="order-summary mainWrap clearfix" *ngIf='orderInfo'>
  <!-- order-summary -->
  <div class="order-summary-info">
    <h2 class="heading border-top-0">{{ 'summary.order.heading' | translate }}</h2>
    <div class="label-value-group">
      <span class="flex label">{{ 'summary.order.order_no' | translate }}</span>
      <span class="flex font-12 value">{{ orderInfo.id | orderNo: orderInfo.Country.code }}</span>
    </div>
    <div class="label-value-group">
      <span class="flex label">{{ 'summary.order.total' | translate }}</span>
      <span class="flex font-12 value">{{ orderInfo.Receipt.totalPrice | smsCurrency }}</span>
    </div>
    <div class="label-value-group">
      <span class="flex label">{{ 'summary.order.date' | translate }}</span>
      <span class="flex font-12 value">{{ orderInfo.updatedAt | date : 'MMMM dd, yyyy, hh:mm a'}}</span>
    </div>
    <div class="label-value-group">
      <span class="flex label">{{ 'summary.order.status' | translate }}</span>
      <span class="flex font-12 value" *ngIf="orderInfo.states === 'On Hold'">{{ 'msg.status.on_hold' | translate }}</span>
      <span class="flex font-12 value" *ngIf="orderInfo.states === 'Processing'">{{ 'msg.status.process' | translate }}</span>
      <span class="flex font-12 value" *ngIf="orderInfo.states === 'Payment Received'">{{ 'msg.status.payment_received' | translate }}</span>
      <span class="flex font-12 value" *ngIf="orderInfo.states === 'Completed'">{{ 'msg.status.completed' | translate }}</span>
      <span class="flex font-12 value" *ngIf="orderInfo.states === 'Canceled'">{{ 'msg.status.canceled' | translate }}</span>
      <span class="flex font-12 value" *ngIf="orderInfo.states === 'Pending'">{{ 'msg.status.pending' | translate }}</span>
      <span class="flex font-12 value" *ngIf="orderInfo.states === 'Delivering'">{{ 'msg.status.delivering' | translate }}</span>
    </div>
    <div class="label-value-group">
      <span class="flex label">{{ 'summary.order.delivery' | translate }}</span>
      <span *ngIf="!orderInfo.subscriptionIds" class="flex font-12 value">{{ 'summary.order.yes' | translate }}</span>
      <span *ngIf="orderInfo.subscriptionIds && orderInfo.isDirectTrial" class="flex font-12 value">{{ 'summary.order.yes' | translate }}</span>
      <span *ngIf="orderInfo.subscriptionIds && !orderInfo.isDirectTrial" class="flex font-12 value">{{ 'summary.order.no' | translate }}</span>
    </div>
  </div>
  <!-- /order-summary -->

  <!-- Product list -->
  <div class="list-row">
    <div class="list-contain">
      <!-- For alacartes Cart-->
      <div class="box-body" *ngIf="orderInfo && orderInfo.orderDetail.length > 0">
        <h2 class="heading">{{ 'summary.items.heading' | translate }}</h2>
        <!-- product order-->
        <div class="block-items" *ngIf="itemType === 'alacartes'">
          
          <ng-container *ngFor="let item of orderInfo.orderDetail; let i = index;">
          <ul class="row no-gutters row-custom text-center">
            <li class="item item-info col-12 col-sm-6">
              <div class="image-contain image-center-with-border pull-left clickable" clickable>
                <div class="image-inner">
                  <div class="image" *ngIf="item.ProductCountry.Product.productImages">
                    <display-image [class]="'img-responsive list-item-image-contain'" [images]="item.ProductCountry.Product.productImages"></display-image>
                  </div>
                </div>
              </div>
              <div class="text-contain text-center-vertical pull-left">
                <div class="text-inner" *ngIf="item.ProductCountry.Product.productTranslate">
                  <h4 class="product-name clickable"><strong>{{item.ProductCountry.Product.productTranslate | translatePipe: 'name'}}</strong></h4>
                  <strong class="sku">{{item.ProductCountry.Product.sku}}</strong>
                  <div class="text-inner" *ngIf="item.ProductCountry">
                    <span class="item-price">{{ 'review.item_price' | translate }}: {{ item.ProductCountry.sellPrice | smsCurrency}}</span>
                  </div>
                  <p class="qty">x{{ item.qty }}</p>
                </div>
              </div>
            </li>
            <li class="item item-quantity col-12 col-sm-6">
              <div class="text-contain text-center-vertical contain-full">
                <div class="text-inner">
                  <div class="quantity-action-tool">
                    <strong>{{ item.ProductCountry.sellPrice * item.qty | smsCurrency}}</strong>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          </ng-container>
        </div>
        <!-- product order-->

        <!-- plan order-->
        <div class="block-items" *ngIf="itemType === 'subscriptions'">
          
          <ng-container *ngFor="let item of orderInfo.orderDetail; let i = index;">
          <ul class="row no-gutters row-custom text-center" *ngIf="item.PlanCountry">
            <li class="item item-info col-12 col-sm-6">
              <div class="image-contain image-center-with-border pull-left clickable" clickable>
                <div class="image-inner">
                  <div class="image" *ngIf="item.PlanCountry.Plan.planImages">
                    <display-image [class]="'img-responsive list-item-image-contain'" [images]="item.PlanCountry.Plan.planImages"></display-image>
                  </div>
                </div>
              </div>
              <div class="text-contain text-center-vertical pull-left">
                <div class="text-inner" *ngIf="item.PlanCountry.Plan.planTranslate">
                  <h4 class="product-name clickable">
                    <strong>
                      <!--{{item.PlanCountry.Plan.planTranslate | translatePipe: 'name'}-->
                      {{ 'review.free_trial_info.heading' | translate }}
                    </strong>
                  </h4>
                  <!--<strong class="sku">{{item.PlanCountry.Plan.sku}}</strong>-->
                  <span class="short-description" *ngIf="storage.getLanguageCode() === 'EN'">
                    <!--{{item.PlanCountry.Plan.planTranslate | translatePipe: 'shortDescription' : 1}}-->
                    {{ 'review.free_trial_info.details_text_1' | translate }}
                    <span class="hight-light">{{item.PlanCountry.Plan.planTranslate | translatePipe: 'name'}}</span>
                    {{ 'review.free_trial_info.details_text_2' | translate }}
                    <span class="hight-light" >{{ (item.PlanCountry.pricePerCharge * item.qty) | smsCurrency}}</span>
                    <!-- {{ 'review.free_trial_info.details_text_3' | translate }}
                    <span class="hight-light">{{ (item.PlanCountry.Plan.PlanType.name)}}</span> -->
                    {{ 'review.free_trial_info.details_text_4' | translate }}
                    <span class="hight-light" *ngIf="orderInfo.Subscriptions[0].startDeliverDate">{{ orderInfo.Subscriptions[0].startDeliverDate | date : 'dd MMMM yyyy' }}</span>
                    <span class="hight-light" *ngIf="!orderInfo.Subscriptions[0].startDeliverDate">{{ 'review.free_trial_info.details_text_between' | translate : {date1: deliverDate1 | date : 'dd MMMM yyyy', date2: deliverDate2 | date : 'dd MMMM yyyy'} }}</span>
                  </span>
                  <span class="short-description" *ngIf="storage.getLanguageCode() === 'KO'"> 
                    <ng-container *ngIf="orderInfo.Subscriptions[0].startDeliverDate">
                      <span class="hight-light">{{item.PlanCountry.Plan.planTranslate | translatePipe: 'name'}}</span>
                      {{ 'review.free_trial_info.has_deliver_date.text_1' | translate }}
                      <span class="hight-light" >{{ (item.PlanCountry.pricePerCharge * item.qty) | smsCurrency}}</span>
                      {{ 'review.free_trial_info.has_deliver_date.text_2' | translate }}
                      <span class="hight-light">{{ orderInfo.Subscriptions[0].startDeliverDate | date : 'dd MMMM yyyy' }}</span>
                      {{ 'review.free_trial_info.has_deliver_date.text_3' | translate }}
                    </ng-container>
                    <ng-container *ngIf="!orderInfo.Subscriptions[0].startDeliverDate">
                      <span class="hight-light">{{item.PlanCountry.Plan.planTranslate | translatePipe: 'name'}}</span>
                      {{ 'review.free_trial_info.not_deliver_date.text_1' | translate }}
                      <span class="hight-light" >{{ (item.PlanCountry.pricePerCharge * item.qty) | smsCurrency}}</span>
                      {{ 'review.free_trial_info.not_deliver_date.text_2' | translate }}
                      <span class="hight-light">{{ orderInfo.Subscriptions[0].startDeliverDate | date : 'dd MMMM yyyy' }}</span>
                      {{ 'review.free_trial_info.not_deliver_date.text_3' | translate }}
                    </ng-container>
                  </span>
                  <!--<div class="text-inner" *ngIf="item.PlanCountry">
                    <span class="item-price">Item Price: {{ item.price | smsCurrency}}</span>
                  </div>
                  <p class="qty">x{{ item.qty }}</p>-->
                </div>
              </div>
              <!--<p class="startDeliverDate" *ngIf="orderInfo.Subscriptions && orderInfo.Subscriptions[0]" >{{ 'review.subs_start' | translate }} {{orderInfo.Subscriptions[0].startDeliverDate | date : 'MMMM dd, yyyy'}}</p>-->
            </li>
            <li class="item item-quantity col-12 col-sm-6">
              <strong>{{ '0.00' | smsCurrency}}</strong>
              <!--<div class="text-contain text-center-vertical contain-full">
                <div class="text-inner">
                  <div class="quantity-action-tool">
                    <strong>{{ item.ProductCountry.sellPrice * item.qty | smsCurrency}}</strong>
                  </div>
                </div>
              </div>-->
            </li>
          </ul>
          </ng-container>
        </div>
        <!-- /plan order -->
        <div class="box-right-contain">
          <div class="box-inner">
            <div class="row">
              <span class="col-6 col-sm-9 val-left">{{ 'price.total' | translate }}</span> 
              <strong class="col-6 col-sm-3 val-right">{{orderInfo.Receipt.originPrice | smsCurrency}}</strong>
            </div>
            <div class="row promo-code-name">
              <span class="col-6 col-sm-9 val-left">{{ 'promo.heading' | translate }}</span> 
              <strong class="col-6 col-sm-3 val-right">{{ orderInfo.promoCode ? orderInfo.promoCode : ('promo.na' | translate) }}</strong>
            </div>
            <div class="row">
              <span class="col-6 col-sm-9 val-left">{{ 'price.discount' | translate }}</span>
              <strong class="col-6 col-sm-3 val-right">{{orderInfo.Receipt.discountAmount | smsCurrency}}</strong>
            </div>
            <div class="row">
              <span class="col-6 col-sm-9 val-left">{{ 'price.subTotal' | translate }}</span> 
              <strong class="col-6 col-sm-3 val-right">{{orderInfo.Receipt.subTotalPrice | smsCurrency}}</strong>
            </div>
            <div class="row">
              <span class="col-6 col-sm-9 val-left">{{ 'price.shipping_fee' | translate }}</span>
              <strong class="col-6 col-sm-3 val-right">{{(orderInfo.Receipt.shippingFee != 0.00) ? (orderInfo.Receipt.shippingFee | smsCurrency) : 'price.free' | translate }}</strong>
            </div>
            <!--<div class="row">
              <span class="col-6 col-sm-9 val-left">{{ 'price.total_tax' | translate }}</span>
              <strong class="col-6 col-sm-3 val-right">{{orderInfo.taxRate}}% {{orderInfo.taxName}}</strong>
            </div>-->
            <!-- <div class="row" *ngIf="!currentUser.Country.includedTaxToProduct">
              <span class="col-6 col-sm-9 val-left">{{ 'price.total_tax' | translate }}</span>
              <strong class="col-6 col-sm-3 val-right">{{ (orderInfo.Receipt.total_tax) | smsCurrency }}</strong>
            </div> -->
           
            <hr>
            <div class="row">
              <span class="col-6 col-sm-9 val-left" *ngIf="orderInfo.Country.includedTaxToProduct">{{ 'price.grand_total_tax' | translate }}</span>
              <span class="col-6 col-sm-9 val-left" *ngIf="!orderInfo.Country.includedTaxToProduct">{{ 'price.grand_total' | translate }}</span>
              <strong class="col-6 col-sm-3 val-right">{{orderInfo.Receipt.totalPrice | smsCurrency}}</strong>
            </div>
          </div>
          
        </div>

        <!-- currency group -->
       
        
      </div>
      <!-- / For alacartes Cart-->

      <!-- For subscriptions Cart-->
      <div class="box-body" *ngIf="orderInfo && orderInfo.orderDetail.length > 0 && planCart">
        <!--<div class="block-item" *ngFor="let productType of productTypes">

          <h2 class="block-heading">{{ productType }}</h2>
          <ng-container *ngFor="let item of productList[productType]; let i = index;">
          <ul class="row no-gutters row-custom text-center">
            <li class="item item-info col-12 col-sm-6">
              <div class="image-contain image-center-with-border pull-left clickable" clickable>
                <div class="image-inner">
                  <div class="image" *ngIf="item.productImages">
                    <display-image [class]="'img-responsive list-item-image-contain'" [images]="item.productImages"></display-image>
                  </div>
                </div>
              </div>
              <div class="text-contain text-center-vertical pull-left">
                <div class="text-inner" *ngIf="item.productTranslate">
                  <h4 class="product-name clickable"><strong>{{item.productTranslate | translatePipe: 'name'}}</strong></h4>
                  <strong class="sku">{{item.sku}}</strong>
                  <div class="text-inner" *ngIf="item.productCountry">
                    <span class="item-price">{{ item.productCountry.sellPrice | smsCurrency}}</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="item item-quantity col-12 col-sm-6">
              <div class="text-contain text-center-vertical contain-full">
                <div class="text-inner">
                  <div class="quantity-action-tool">
                    <div class="btn-minus" (click)="minusQuatity(i, productType)"><span class="fa fa-minus"></span></div>
                    <input type="number" name="qty" [(ngModel)]="item.qty" #qty="ngModel" (change)="changeQuatity(i, productType)"/>
                    <div class="btn-plus" (click)="plusQuatity(i, productType)"><span class="fa fa-plus"></span></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          </ng-container>
        </div>-->

        <!-- currency group -->
       
        
      </div>
      <!-- / For subscriptions Cart-->

    </div>

  </div>
  <!-- End product list -->

  <!-- customer details -->
  <div class="order-summary-info">
    <h2 class="heading">{{ 'summary.customer_details.heading' | translate }}</h2>
    <div class="label-value-group">
      <span class="flex label">{{ 'summary.customer_details.full_name' | translate }}</span>
      <span class="flex font-12 value">{{ orderInfo.fullName }}</span>
    </div>
    <!--<div class="label-value-group">
      <span class="flex label">{{ 'summary.customer_details.email' | translate }}</span>
      <span class="flex font-12 value">{{ orderInfo.email }}</span>
    </div>
    <div class="label-value-group" *ngIf="orderInfo.DeliveryAddress">
      <span class="flex label">{{ 'summary.customer_details.address' | translate }}</span>
      <span class="flex font-12 value">{{ orderInfo.DeliveryAddress.address + ', ' + orderInfo.DeliveryAddress.city + ', ' + orderInfo.DeliveryAddress.portalCode + ', ' + orderInfo.DeliveryAddress.state }}</span>
    </div>-->
    <!--<div class="label-value-group">
      <span class="flex label">{{ 'summary.customer_details.phone' | translate }}</span>
      <span class="flex font-12 value">{{ orderInfo.phone }}</span>
    </div>
    <div class="label-value-group">
      <span class="flex label">{{ 'summary.customer_details.exist_customer' | translate }}</span>
    </div>-->
  </div>
  <!-- /customer details -->

  <!-- action -->
  <div class="group-btn">
    <a (click)="back()" class="btn btn-primary shave2u-btn-primary btn-nextTo">{{ 'btn.ok' | translate }}</a>
  </div>
      
</div>