@media (min-width: 768px) and (max-width: 992px) {
  #userAccountPageWeb {
    min-width: 210px;
  }
  .block-right {
    max-width: calc(100% - 210px);
  }
}

@media  (max-width: 767px) {
  #userAccountPage {
    padding: 0 0 50px 0;
    .row {
      margin-right: 0;
      margin-left: 0; 
      #userAccountPageWeb {
        display: none;
      }
      #userAccountPageMobile {
        display: block;
        padding: 22px 0;
        width: 100%;
        .block-left {
          max-width: none;
          .user-menu-selected {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
            text-align: center;
            color: #000000;
            margin-bottom: 21px;
            i::after {
              content: "\F106";
              font: normal normal normal 20px/1 FontAwesome;
              position: absolute;
              right: 64px;
            }
          }
          .collapsed {
            i::after {
              content: "\f107";
              font: normal normal normal 20px/1 FontAwesome;
              position: absolute;
              right: 64px;
            }
          }
          .list-group-user-mobile {
            margin-bottom: 0;
            .list-group-item {
              border: none;
              min-height: 52px;
              padding: 0;
              display: block;
              text-align: center;
              margin-bottom: 0;
              padding-top: 10px;
              > a {
                border-left: 4px solid transparent;
                display: block;
                // padding: 13px 5px 5px;
                // min-height: 48px;
                margin: auto;
                height: 17px;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none;
                color: #a3a3a3;
                cursor: pointer;
                // padding-left: 15px;
              
              }
              &:hover{
                background-color:#eeeeee;
              }
              &.active {
                background-color: #FFF;
                a {
                  // border-left: 4px solid $primary-color;
                  color: #000000;
                }
              }
            }
          }
        }
        .line {
          transform-origin: 0 100%;
          height: 1px;
          width: 100%;
          background: #E5E5E5;
          margin-bottom: 16px;
        }
      }
      .block-right {
        max-width: 100%;
        width: 100%;
        flex: 100%;
        padding: 0;
        margin-top: -22px;
        .border {
          border: 1px solid silver;
        }
      }
    }
  }
}