<div id="userAccountPage" class="container-fluid">
  <div class="row group shave2u-container">
    <div id="userAccountPageWeb" class="col-3 block-left">
      <ul class="list-group">
        <li class="list-group-item align-items-center" routerLinkActive="active">
          <a routerLink="/user/shave-plans" (click)="selectUserMenu($event, 'link_subscription')">{{ 'lbl.user.link_subscription' | translate }}</a>
        </li>
        <li class="list-group-item align-items-center" routerLinkActive="active">
          <a routerLink="/user/orders" (click)="selectUserMenu($event, 'link_order')">{{ 'lbl.user.link_order' | translate }}</a>
        </li>
        <li class="list-group-item align-items-center" routerLinkActive="active">
          <a routerLink="/user/settings" (click)="selectUserMenu($event, 'link_settings')">{{ 'lbl.user.link_settings' | translate }}</a>
        </li>
        <li class="list-group-item align-items-center" routerLinkActive="active">
          <a (click)="logout($event)" (click)="selectUserMenu($event, 'user_signout')">{{ 'menu.user_signout' | translate }}</a>
        </li>
      </ul>
    </div>

    <div id="userAccountPageMobile">
      <div class="col-12 block-left">
        <p id="menuSelected" data-toggle="collapse" [attr.data-target]="'#' + 'userMenu'" class="collapsed user-menu-selected">{{ userMenuSelected }}
          <i aria-hidden="true"></i>
        </p>
        <ul class="list-group-user-mobile collapse menu" id="userMenu" aria-expanded="false">
          <li class="list-group-item align-items-center" routerLinkActive="active">
            <a routerLink="/user/shave-plans" (click)="selectUserMenu($event, 'link_subscription')">{{ 'lbl.user.link_subscription' | translate }}</a>
          </li>
          <li class="list-group-item align-items-center" routerLinkActive="active">
            <a routerLink="/user/orders" (click)="selectUserMenu($event, 'link_order')">{{ 'lbl.user.link_order' | translate }}</a>
          </li>
          <li class="list-group-item align-items-center" routerLinkActive="active">
            <a routerLink="/user/settings" (click)="selectUserMenu($event, 'link_settings')">{{ 'lbl.user.link_settings' | translate }}</a>
          </li>
          <li class="list-group-item align-items-center" routerLinkActive="active">
            <a (click)="logout($event)" (click)="selectUserMenu($event, 'user_signout')">{{ 'lbl.user.user_signout' | translate }}</a>
          </li>
        </ul>
      </div>
      <div class="line"></div>
    </div>
    <div class="col-10 block-right">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- <div id="userAccountPageMobile">
  <div class="row group">
    <div class="col-12 block-left">
      <p data-toggle="collapse" [attr.data-target]="'#' + 'userMenu'" class="collapsed user-menu-selected">{{ userMenuSelected }}
        <i aria-hidden="true"></i>
      </p>
      <ul class="list-group-user-mobile collapse menu" id="userMenu" aria-expanded="false">
        <li class="list-group-item align-items-center" routerLinkActive="active">
          <a routerLink="/user/shave-plans" (click)="selectUserMenu('link_subscription')">{{ 'lbl.user.link_subscription' | translate }}</a>
        </li>
        <li class="list-group-item align-items-center" routerLinkActive="active">
          <a routerLink="/user/orders" (click)="selectUserMenu('link_order')">{{ 'lbl.user.link_order' | translate }}</a>
        </li>
        <li class="list-group-item align-items-center" routerLinkActive="active">
          <a routerLink="/user/settings" (click)="selectUserMenu('link_settings')">{{ 'lbl.user.link_settings' | translate }}</a>
        </li>
        <li class="list-group-item align-items-center" routerLinkActive="active">
          <a (click)="logout($event)" (click)="selectUserMenu('user_signout')">{{ 'lbl.user.user_signout' | translate }}</a>
        </li>
      </ul>
    </div>
    <div class="line"></div>
    <div class="container-fluid">
      <div class="col-12 block-right">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> -->