@import "../../../../assets/sass/mixins/color";
#userAccountPage {
  padding: 50px 40px;
  .block-left {
    max-width: 220px;
    .list-group {
      .list-group-item {
        border: none;
        min-height: 52px;
        padding: 0;
        display: block;
        text-align: left;
        > a {
          border-left: 4px solid transparent;
          display: block;
          // padding: 13px 5px 5px;
          // min-height: 48px;
          margin: 12px auto;
          height: 17px;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
          text-decoration: none;
          color: #a3a3a3;
          cursor: pointer;
          padding-left: 15px;
         
        }
        &:hover{
          background-color:#eeeeee;
          a {
            border-left: 4px solid $primary-color;
            color: #000000;
          }
        }
        &.active {
          background-color: #FFF;
          a {
            border-left: 4px solid $primary-color;
            color: #000000;
          }
        }
      }
    }
  }
  .block-right {
    max-width: 820px;
    .border {
      border: 1px solid silver;
    }
  }
}

#userAccountPageMobile {
  display: none;
}

@import '_user-response.component';