<div class="row mx-0">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title float-left">Manage Articles</h4>
        <button type="button" class="btn btn-secondary btn-sm float-right" routerLink="/articles/add" *ngIf="globalService.canCreate('articles')">Add A Article</button>
        <br>
        <br>
      </div>
      
      <div class="content table-responsive table-full-width">
        <div class="row mx-0">
          <div class="col-md-3">
            <select name="cities" class="selectpicker form-control" (change)="onLimitChange($event)">
              <option [attr.value]="item" *ngFor="let item of [50, 100, 150, 200]" [attr.selected]="item == options.get('limit') ? true : null">Show {{item}} per page</option>
            </select>
          </div>
          <div class="col-md-3">
            <select name="cities" class="selectpicker form-control" (change)="sortByTitle($event.target.value)">
              <option value="ASC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) !== 'title_DESC' ? true : null">Sort: Title, A-Z</option>
              <option value="DESC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) == 'title_DESC' ? true : null">Sort: Title, Z-A</option>
            </select>
          </div>
          <div class="col-md-3">
            <select name="filterByArticleType" class="selectpicker form-control" (change)="filterby('ArticleTypeId', $event.target.value)">
              <option [value]="'all'" >Show: All Articles</option>
              <option [value]="article.id" *ngFor="let article of articleTypes" [selected]="article.id == options.get('ArticleTypeId') ? true : null">{{article.type}}({{article.Country.code}})</option>
            </select>
          </div>
        </div>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)" ></pagination>
        <!-- /pagging -->
        <table class="table table-shaves mt-2">
          <thead>
            <tr>
              <th class="th-banner banner">Banner</th>
              <th class="th-title">Title</th>
              <th class="th-type type">Type</th>
              <th class="th-langCode langCode">Language Code</th>
              <th class="th-country country">Country</th>
              <!--<th class="text-right th-total-staff">Updated At</th>-->
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="!isLoading && articles && articles.rows">
            <tr *ngFor="let item of articles.rows">
              <td class="td-banner banner"><img class="img-fluid" src="{{ item.bannerUrl }}" alt=""></td>
              <td class="td-title title" [innerHTML]="globalService.htmlToPlaintext(item.title) | slice:0:300" style="width: 65%;"></td>
              <td class="type">{{ item.ArticleType.type }}</td>
              <td class="langCode">{{ item.ArticleType.langCode }}</td>
              <td class="td-country country">{{ item.ArticleType.Country ? item.ArticleType.Country.name : '' }}</td>
              <!--<td class="td-phone">{{ item.createdAt | date:"dd/MM/yyyy" }}</td>-->
              <td class="td-actions">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                  </button>
                  <div class="dropdown-menu actiion-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" routerLink="/articles/edit/{{item.id}}" *ngIf="globalService.canEdit('articles')">Edit</a>
                    <a class="dropdown-item" *ngIf="globalService.canDelete('articles')" (click)="deleteArticle(item.id)">Remove</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngIf="articles.rows.length === 0"><td colspan="6" class="text-center">No Items</td></tr>
          </tbody>
        </table>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"
          [showing]="false"></pagination>
        <!-- /pagging -->
      </div>
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->
</div>