<ng-container [formGroup]="stateForm">
  <div class="card mb-2" *ngFor="let state of stateForm['controls']; let i=index">
    <div class="card-block" [formGroupName]="i">
      <button type="button" (click)="removeState(i)" class="btn btn-default pull-right remove-faq-button" *ngIf="stateForm['controls'].length > 1">Remove</button>
      <div class="form-group" [ngClass]="!stateForm['controls'][i].controls.name.valid && submitted ? 'has-danger' : ''">
        <label><strong>State name(*)</strong></label>
        <input type="name" class="form-control" placeholder="Enter name" formControlName="name">
        <small class="form-text err_mess" *ngIf="stateForm['controls'][i].controls.name.hasError('required') && submitted">
          {{ 'msg.validation.required' | translate }}
        </small>
      </div>
      <div class="form-group">
        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
          <input type="checkbox" class="custom-control-input" formControlName="isDefault" (change)="setIsDefault($event, i)">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Is Default</span>
        </label>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-secondary btn-sm mt-2" (click)="addState()">Add a State</button>
</ng-container>