<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'lbl.user.setting.user_modal.change_pw' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <app-alert></app-alert>
        <div class="user-form">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <!-- edit form column -->
                <div class="col-md-12 user-info">
                  <form #f='ngForm' novalidate (ngSubmit)='f.form.valid && doChangePassword()' [formGroup]="changePasswordForm">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-sm-12 form-group" [ngClass]="(f.submitted && changePasswordForm.controls['oldPassword'].hasError('required')) ? 'has-danger' : ''">
                            <label class="form-control-label">{{ 'lbl.user.setting.user_modal.current_pw' | translate }} (<span class="required">*</span>)</label>
                            <input id="oldPassword" name="oldPassword" type="password" class="form-control" placeholder="{{ 'lbl.user.setting.user_modal.current_pw' | translate }}" formControlName="oldPassword">
                            <span class="form-control-feedback" *ngIf="f.submitted && changePasswordForm.controls['oldPassword'].hasError('required')">
                                {{ 'msg.validation.required' | translate : {value: 'lbl.user.setting.user_modal.current_pw' | translate} }}
                            </span>
                          </div>
                          <div class="col-sm-6 form-group" [ngClass]="(f.submitted && changePasswordForm.controls['newPassword'].hasError('required')) || (changePasswordForm.controls['newPassword'].errors && changePasswordForm.controls['newPassword'].errors.validatePassword) ? 'has-danger' : ''">
                            <label class="form-control-label">{{ 'lbl.user.setting.user_modal.new_pw' | translate }} (<span class="required">*</span>)</label>
                            <input id="newPassword" name="newPassword" type="password" class="form-control" placeholder="{{ 'lbl.user.setting.user_modal.new_pw' | translate }}"
                              formControlName="newPassword" pattern="^(?=.*\d)(?=.*[a-zA-Z]).{6,}$" validateEqual="confirmNewPassword" reverse="true"
                              idShowHints="hints-input-newPassword" validatePassword>
                            <span class="form-control-feedback" *ngIf="f.submitted && changePasswordForm.controls['newPassword'].hasError('required')">
                                {{ 'msg.validation.required' | translate : {value: 'lbl.user.setting.user_modal.new_pw' | translate} }}
                            </span>
                          </div>
                          <div class="col-sm-6 form-group show-on-web" [ngClass]="(!changePasswordForm.controls.confirmNewPassword.valid && f.submitted) || (changePasswordForm.controls['confirmNewPassword'].errors && changePasswordForm.controls['confirmNewPassword'].errors.validatePassword) ? 'has-danger' : ''">
                            <label class="form-control-label">{{ 'lbl.user.setting.user_modal.re_enter_pw' | translate }} (<span class="required">*</span>)</label>
                            <input name="confirmNewPassword" type="password" class="form-control" placeholder="{{ 'lbl.user.setting.user_modal.re_enter_pw' | translate }}"
                              formControlName="confirmNewPassword" validateEqual="newPassword" reverse="false"
                              idShowHints="hints-input-confirmNewPassword-setting" validatePassword>
                            <span class="form-control-feedback" *ngIf="!changePasswordForm.controls.confirmNewPassword.valid && f.submitted">
                                {{ 'msg.validation.password_not_match' | translate }}
                            </span>
                          </div>
                          <div class="hints-password hints-new-password">
                            <a class="heading" *ngIf="changePasswordForm.controls['newPassword'].errors && changePasswordForm.controls['newPassword'].errors.validatePassword">
                              <i class="fa fa-lock" aria-hidden="true"></i><span>{{ 'lbl.login.password_form.hints_heading' | translate}}</span>
                            </a>
                            <ul class="list-group" id="hints-input-newPassword"></ul>
                          </div>
                          <div class="col-sm-6 form-group show-on-mobile" [ngClass]="(!changePasswordForm.controls.confirmNewPassword.valid && f.submitted) || (changePasswordForm.controls['confirmNewPassword'].errors && changePasswordForm.controls['confirmNewPassword'].errors.validatePassword) ? 'has-danger' : ''">
                            <label class="form-control-label">{{ 'lbl.user.setting.user_modal.re_enter_pw' | translate }} (<span class="required">*</span>)</label>
                            <input name="confirmNewPassword" type="password" class="form-control" placeholder="Re-enter New Password"
                              formControlName="confirmNewPassword" validateEqual="newPassword" reverse="false"
                              idShowHints="hints-input-confirmNewPassword-setting" validatePassword>
                            <span class="form-control-feedback" *ngIf="!changePasswordForm.controls.confirmNewPassword.valid && f.submitted">
                                {{ 'msg.validation.password_not_match' | translate }}
                            </span>
                          </div>
                          <div class="col-sm-12 form-group">
                            <app-alert [message]="resError"></app-alert>
                          </div>
                        </div>
                        <div class="form-group text-center">
                          <button type="submit" class="btn btn-primary shave2u-btn-primary">{{ 'lbl.user.setting.user_modal.btn_save_chg' | translate }}</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /container -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal-backdrop fade"></div>