.hints-new-password {
  padding-left: 15px;
}

.show-on-web {
  display: block;
}
.show-on-mobile {
  display: none;
}


@media (max-width: 575px) {
  .show-on-web {
    display: none;
  }
  .show-on-mobile {
    display: block;
    margin-top: 20px;
  }
}