<div class="row mt-3" [formGroup]="planTranslateForm">
  <div class="col-sm-12 form-group" [ngClass]="!planTranslateForm.controls.name.valid && (parentOnActive || planTranslateForm.get('name').touched || planTranslateForm.get('name').dirty) ? 'has-danger' : ''">

    <label class="form-control-label">Name (<span class="required">*</span>)</label>
    <div class="controls">
      <input type="text" class="form-control" id="input-name" placeholder="Enter plan name"
        formControlName="name" name="name">
    </div>
    <span class="form-control-feedback" *ngIf="planTranslateForm.controls.name.hasError('required') && (parentOnActive || planTranslateForm.get('name').touched || planTranslateForm.get('name').dirty)">
        {{ 'msg.validation.required' | translate }}
    </span>
    <span class="form-control-feedback" *ngIf="planTranslateForm.controls.name.hasError('maxlength') && (parentOnActive || planTranslateForm.get('name').touched || planTranslateForm.get('name').dirty)">
      {{ 'msg.validation.maxlength' | translate : {value: 200} }}
    </span>

  </div>
  <div class="col-sm-12 form-group" [ngClass]="!planTranslateForm.controls.shortDescription.valid && (parentOnActive || planTranslateForm.get('shortDescription').touched || planTranslateForm.get('shortDescription').dirty) ? 'has-danger' : ''">
    <label class="form-control-label">Short Description (<span class="required">*</span>)</label>
    <div class="controls">
        <textarea class="form-control" formControlName="shortDescription" name="shortDescription" rows="4"></textarea>
    </div>
    <span class="form-control-feedback" *ngIf="!planTranslateForm.controls.shortDescription.valid && (parentOnActive || planTranslateForm.get('shortDescription').touched || planTranslateForm.get('shortDescription').dirty)">
        {{ 'msg.validation.required' | translate }}
    </span>
  </div>
  <div class="col-sm-12 form-group" [ngClass]="!planTranslateForm.controls.description.valid && (parentOnActive || planTranslateForm.get('description').touched || planTranslateForm.get('description').dirty) ? 'has-danger' : ''">
    <label class="form-control-label">Description (<span class="required">*</span>)</label>
    <div class="controls">
        <textarea class="form-control" formControlName="description" name="description" rows="7"></textarea>
    </div>
    <span class="form-control-feedback" *ngIf="!planTranslateForm.controls.description.valid && (parentOnActive || planTranslateForm.get('description').touched || planTranslateForm.get('description').dirty)">
        {{ 'msg.validation.required' | translate }}
    </span>
  </div>
  <div class="col-sm-12 form-group" [ngClass]="!planTranslateForm.controls.subsequentDescription.valid && (parentOnActive || planTranslateForm.get('subsequentDescription').touched || planTranslateForm.get('subsequentDescription').dirty) ? 'has-danger' : ''">
    <label class="form-control-label">Subsequent Description (<span class="required">*</span>)</label>
    <div class="controls">
        <textarea class="form-control" formControlName="subsequentDescription" name="subsequentDescription" rows="4"></textarea>
    </div>
    <span class="form-control-feedback" *ngIf="!planTranslateForm.controls.subsequentDescription.valid && (parentOnActive || planTranslateForm.get('subsequentDescription').touched || planTranslateForm.get('subsequentDescription').dirty)">
        {{ 'msg.validation.required' | translate }}
    </span>
  </div>
</div>
