@import "../../../../assets/sass/mixins/color";

.i {
  background-image:url(https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/edd58f00-c705-11e8-8e47-efb823843057.jpg);
  // background-image:url(assets\images\products_07.jpg);

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}​ 
#test{
  color: $primary-color;
}
.h {
  background-image:url(https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/6a446b50-cc57-11e8-aa0b-dbc630a68bcc.png);
  // background-image:url(assets\images\products_09.jpg);

  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  max-width: 100%;
}​ 
#test2{
  color: $primary-color;
}
#img-pad-L{
  padding-left: 90px;
}
#img-pad-L2{
  padding-left: 75px;
}
#img-pad-R{
  // padding-right: 20px;
  padding-left: 93px;
}
#img-pad-R2{
  // padding-right: 20px;
  padding-left: 75px;
}


#trial-desc{
  font-family: "Muli Bold";
  // margin-top: 10px;
  font-size: 22px;
  width: 100%;
  text-align: left;
  color: $primary-color;
  margin: 0;
}
#trial-desc2{
  //font-family: "Muli Bold";
  // margin-top: 10px;
  font-size: 15px;
  width: 100%;
  text-align: left;
  //color: $primary-color;
}
#note{
  font-size: 15px;
  width: 100%;
  text-align: right;
  text-decoration: underline;
  color: #000;
  padding-bottom: 30px;
  padding-right: 43px;
  cursor: pointer;
}
// #ask-desc{
//   font-family: "Muli";
//   width: 100%;
//   text-align: left;
//   margin-top: 10px;
//   font-size: 18px;
// }
// #ask-desc2{
//   font-family: "Muli";
//   width: 100%;
//   text-align: left;
//   margin-top: 10px;
//   font-size: 18px;
// }

#ask-desc{
  font-family: "Muli Bold";
  // margin-top: 10px;
  font-size: 20px;
  width: 100%;
  text-align: left;
  color: $primary-color;
  margin: 0;
}
#ask-desc2{
  //font-family: "Muli Bold";
  // margin-top: 10px;
  font-size: 14px;
  width: 100%;
  text-align: left;
  //color: $primary-color;
}

#prod-desc, #prod-desc-L, #prod-desc-L2,#prod-desc-L3, #prod-desc-R{
  font-family: "Muli";
  margin: 0px;
  font-size: 14px;
  width: 100%;
  text-align: center; 
}
#prod-desc-L{
  // margin-top: 10px;
  margin-bottom: 40px;
  text-align: right;
}
#prod-desc-L2{  
  // margin-top: 10px;
  margin-bottom: 40px;
  text-align: left;
}
#prod-desc-L3,{
  // margin-top: 10px;
  margin-bottom: 50px;
  text-align: left;
}
#prod-desc-R{
  margin-bottom: 50px;
  text-align: left; 
}
#prod-desc-m{
  font-family: "Muli";
  // margin: 20px 0 10px 0;  
  font-size: 14px;
  width: 100%;
  text-align: center; 
}
#prod-desc-m2a, #prod-desc-m2b{
  font-family: "Muli";
  margin: 0px 0 20px 0;  
  font-size: 14px;
  width: 100%;
  text-align: center; 
}
#prod-desc-m2b{
  margin: 0px;  
  
}
#Trial-kit-desc, #ASK-kit-desc, #ASK-kit-descR{
  font-family: "Muli Bold";
  margin-bottom: 10px;
  font-size: 20px;
  width: 100%;
  text-align: left;
}
#ASK-kit-descR{
  text-align: left; 
}
#ASK-kit-desc{
  text-align: right; 
}
#ASK-kit-desc-m, #ASK-kit-desc-m2{
  font-family: "Muli Bold";
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 20px;
  width: 100%;
  text-align: center; 
}
#ASK-kit-desc-m2{
  margin-top: 0px;
}
#type-title, #type-title-L, #type-title-R, #type-title-w, #type-title-wL, #type-title-wR, #type-title-m2a, #type-title-m2b, #type-title-m, #type-title-mm{
  font-family: "Muli Bold";
  font-size: 20px;
  //line-height: 40px;
  width: 100%;
  text-align: center;
  color: $primary-color;
  margin: 0;  
}
#type-title-L{
  text-align: right;
  margin-top: 100px; 
}
#type-title-R{
  text-align: left;
  margin-top: 100px;
}
#type-title-w{
  // text-align: left;
  color: #fff; 
  margin-top: 60px;
  padding-bottom: 45px;
}
#type-title-w2{
  // text-align: left;
  font-family: "Muli Bold";
  font-size: 20px;
  width: 100%;
  text-align: center;
  margin-top: 60px;
  // padding-bottom: 25px;
}
#type-title-wL{
  text-align: right;
  color: #fff; 
  margin-top: 60px;
}
#type-title-wR{
  text-align: left;
  color: #fff; 
  margin-top: 60px;
}
#type-title-m, #type-title-mm{
  font-family: "Muli Bold";
  text-align: center;
  color: #fff; 
  margin-top: 20px;
}
#type-title-mm{
  margin-top: 40px;
}
#type-title-m2a{
  margin-top: 20px;
}
#type-title-m2b{
  margin-top: 50px;
}

.btn-primary{
  width: 165px;
}

.ScrollPad{  
  padding: 40px;
}

#product-page{  
  color: #292b2c;
  img{
    width: 100%;
  }
  h1{
    font-family: "Muli Bold";
    margin-bottom: 0px;
    font-size: 32px;
    line-height: 40px;
    width: 100%;
    text-align: left;
  }
  h2{
    font-family: "Muli Bold";
    //margin-bottom: 36px;
    font-size: 32px;
    line-height: 40px;
    width: 100%;
    &.header-product {
      margin-bottom: 10px;
      
    }
    span{
      color: $primary-color;   

    }
    &.normal {
      font-family: 'Muli';
    }
  }
  .sub-header-product {
    width: 100%;
    // font-weight: bold;
    margin-bottom: 36px;
    font-size: 16px;
  }
  .product-intro1, .product-intro2, .product-intro3, .product-ask, .product-intro4{
    background-color: #F7F7F7;
    position: relative;
    padding: 12px 0 13px 0;
    .personalies-content{
      position: absolute;
      top: calc(50% - 118px);
      left: 20%;
      text-align: center;
      // @media(min-width: 768px) and (max-width: 991px) {
      //   left: 10%;
      // }
      a.learn-more{
        margin-top: 20px;
        //width: 200px
        // float: left;
      }    
      h2{
        margin-bottom: 15px;
      }
    }
    .personalies-img {
      img {
        width: 100%;
        // height: auto;
        // max-height: 500px;
        // max-width: 490px;
        height: auto;
        max-width: 80%;
        padding-left: 25px;
        padding-right: 25px;
      }      
    }
    .personalies-img-b {
      img {
        width: 100%;
        // height: auto;
        // max-height: 500px;
        // max-width: 490px;
        height: auto;
        max-width: 100%;
        padding-left: 16px;
        padding-right: 50px;
        padding-bottom: 10px;
      }     
    }
    .personalies-img-cR {
      img {
        width: 100%;
        height: auto;
        margin-top: 30px;
        // max-height: 500px;
        // max-width: 490px;
        // padding-left: 25px;
        // padding-right: 25px;
      }     
    }
    .personalies-img-cL {
      img {
        width: 100%;
        height: auto;
        margin-top: 30px;
        // max-height: 500px;
        // max-width: 490px;
        // padding-left: 25px;
        // padding-right: 25px;
      }     
    }
  }
  .product-intro1{
    background-color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 60px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    a.learn-more{
      margin-top: 20px;
      float: left;
    }
  }
  .product-intro2{
    padding-left: 60px;
    padding-right: 25px;
    background-color: rgb(255, 255, 255);
    a.learn-more{
      margin-top: 20px;       
    } 
    a.learn-more-L{
      margin-bottom: 80px;
      margin-top: 10px;
      float: right;      
    }
    a.learn-more-R{
      margin-bottom: 80px;
      margin-top: 10px;
      float: left;
    }

  }
  .product-intro3{
    background-color:#8E979C;
    color: #fff;
    padding-bottom: 35px;
      a.learn-more{
        margin-top: 0px;
        float: left;
     
    }
    a.learn-more-ask{
      margin-bottom: 30px;
      float: right;
    }
    a.learn-more-ask-R{
      margin-bottom: 30px;
      float: left;
    }
  }
  .product-intro4{
    background-color: #EAEAEA;
    a.learn-more{
      margin-top: 20px;
      float: none;
    }
    .btn-primary{
      width: 165px;
      margin-top: 10px;
    }
    .h1m2{
      font-size: 20px;
    }
  }
  .product-ask{
    background-color: #EAEAEA;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 25px;
    .personalies-content{
      a.learn-more{
        margin-top: 20px;
        float: left;  
        width: 165px;      
      }
    }    
  }
  .background-ko {
    background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/home/bg_banner_1_2.png') no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding: 0;
  }  
  .product-intro {
    margin-top: 0;
    width: 100%;
    position: relative;
    img.bg-intro{
      width: 100%;
      // max-width:
    }
    .content-intro{
      position: absolute;
      top: calc(50% - 153px);
      left: 15%;
      a.learn-more{
        margin-top: 20px;
      }
    }
  } 
  .product-personalies{
    background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/home/bg_banner_3.png') no-repeat center center;
    background-size: cover;
    position: relative;
    padding: 40px 0 0 0;
    .btn-primary{
      width: 195px;
    }
    .personalies-content{
      max-width: 246px;
      position: absolute;
      top: calc(50% - 150px);
      right: 42px;
      text-align: center;
      h2{
        margin-bottom: 15px;
      }
    }
    .personalies-bottom{
      margin: 80px 0 0px 0;
    }
  }
}

#product-page {
  display: block;
  // margin-top: 50px;
  padding: 0;
  .block-heading {
    text-align: center;
  }
  .block-highlight {
    width: 100%;
    background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/products/bg_hightlight.png') center bottom;
    background-size: cover;
    // padding: 88px 0;
    .container{
      max-width: 950px;
      .personalies-content{
        margin: 50px 0;
        h2{
          font-family: 'Muli';
          //cursor: pointer;
        };
      }
      .personalies-img{
        //cursor: pointer;
      }
      .detail-content {
        background: #f3f3f3;
      }
      .block-heading {
        margin-bottom: 20px;
      }
      .text-contain, .image-contain {
        .image-inner, .text-inner {
          height: 350px;
        }
        .text-inner {
          max-width: 300px;
          .text {
            font-size: 24px;
            max-width: 280px;
          }
        }
      }
    }

  }
  .block-list-products {
    /* margin-top: -31px; */
    .standard-seo {
      font-size: 42px;
    }
    .block-heading {
      margin: 0;
    }
    .block-heading-p {
      //margin: 0 0 20px;
    }
    // #handle-pack{
    //  padding: 5px;
    // }
    .block-products{
      padding-top: 30px;
      border-bottom: 1px solid #c6c6c6;
      &:last-child{
        border: none;
      }
    }
    .list-products {
      margin-top: 17px;
      display: block;
      text-align: center;
      .product-item {
        display: inline-block;
        //padding: 15px;
        font-size: 12px;
        font-family: "Muli Bold";
        //cursor: pointer;
        .image-contain{
          margin: auto;
          
        }
        .image {
          height: 285px;
          width: 370px;
          display: block;
          position: relative;
          // right: 30%;
        }
        .image2 {
          height: 370px;
          width: 370px;
          display: block;
          position: relative;
          right: 30%;
        }
        .image3 {
          height: 285px;
          width: 370px;
          display: block;
          position: relative;
          // right: 30%;
        }
      }
    }
  }
  .block-awesome-shave-kit{
    position: relative;
    display: inline-block;
  }
  .block-subscription {
    position: relative;
  }
  .block-featured-products {
    position: relative;
  }
  .background-white {
    background-color: #ffffff;
  }
  .background-gray {
    background-color: #dee5ef;
  }
  .background-dark {
    background-color:  rgb(116, 114, 114);
  }
}





@import "../product-list/product-list.component.mobile.scss"



