<div id="product-page">
  <div class="block-list-products">

    <section class="product-intro1">
      <div class="container shave2u-container">
        <div class="row">
          <div class="col-md-5">
            <div class="personalies-content">
              <h1 class="h1m" [innerHTML]="'lbl.core.home.trial_kit' | translate"></h1>
              <p id="trial-desc" [innerHTML]="'lbl.core.home.trial_kit_desc1' | translate"></p>
              <p id="trial-desc2" [innerHTML]="'lbl.core.home.home_trial_work.try_note4' | translate : {shippingFee: this.storage.getCountry().currencyDisplay + this.appConfig.getConfig('shippingFeeConfig').trialFee}"></p>

              <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() !== 'KOR' && storage.getCountry().code.toUpperCase() !== 'HKG'">
                <a href="" class="btn btn-primary learn-more" routerLink="/shave-plans/free-trial">{{
                  'lbl.shave_plans.block1.get_started' | translate }}</a>
              </div>
              <div *ngIf="(storage.getLanguageCode() === 'KO' || storage.getCountry().code.toUpperCase() === 'KOR') && (storage.getCountry().code.toUpperCase() !== 'HKG')">
                <a class="btn btn-primary learn-more" (click)='emailLeadPopout()'>{{
                  'lbl.shave_plans.block1.get_started' | translate }}</a>
              </div>
              <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() === 'HKG' && storage.getCountry().code.toUpperCase() !== 'KOR'">
                <a class="btn btn-primary learn-more" (click)='emailLeadPopout()'>{{
                  'lbl.shave_plans.block1.get_started' | translate }}</a>
              </div>
            </div>
          </div>
          <div class="col-md-7 personalies-img">
            <img src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/1381d080-c56a-11e8-958f-37500e2f9557.jpg">
          </div>
        </div>
      </div>
    </section>

    <div *ngFor="let productType of productTypes ">
      <div *ngIf=" productType.id === 4" id="{{ productType.name | slugify }}">
        <section class="product-intro4 ">
          <div class="container shave2u-container">
            <div class="block-products">
              <h2 class="block-heading" #productTypeBlock>{{ productType.productTypeTranslate | productTypeTranslate:
                'name'}}</h2>
              <ul class="list-products col-xl-12 col-lg-12 col-sm-12 col-md-12">
                <li class="product-item card-block col-xl-4 col-lg-4 col-sm-4 col-md-4" *ngFor="let product of productList[productType.name]">
                  <div *ngIf="product.id === 1010">
                    <!-- <div *ngIf="product.id === 3"> -->
                    <div>
                      <div class="text-inner">
                        <p id="type-title" class="text-center"> {{product.productTranslate | productTranslate: 'name'}}</p>
                        <p id="prod-desc" class="text-center"> {{product.productTranslate | productTranslate:
                          'shortDescription'}}</p>
                      </div>
                    </div>
                    <div class="personalies-img-b">
                      <img src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/3ce72a90-c87d-11e8-9865-d1b5ef115113.jpg">
                    </div>
                    <div>
                      <div class="text-inner">
                        <h1 class="block-heading h1m2">&nbsp;{{
                          product.productCountry.sellPrice | smsCurrency}}</h1>

                        <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() !== 'KOR' && storage.getCountry().code.toUpperCase() !== 'HKG'">
                          <a class="text-center">
                            <p (click)="goProductDetail(product.id)" class="btn btn-primary learn-more">{{
                              'lbl.shave_plans.block1.get_started' | translate }}</p>
                          </a>
                        </div>
                        <div *ngIf="(storage.getLanguageCode() === 'KO' || storage.getCountry().code.toUpperCase() === 'KOR') && (storage.getCountry().code.toUpperCase() !== 'HKG')">
                          <a class="text-center">
                            <p (click)="emailLeadPopout()" class="btn btn-primary learn-more">{{
                              'lbl.shave_plans.block1.get_started' | translate }}</p>
                          </a>
                        </div>
                        <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() === 'HKG' && storage.getCountry().code.toUpperCase() !== 'KOR'">
                          <a class="text-center">
                            <p (click)="emailLeadPopout()" class="btn btn-primary learn-more">{{
                              'lbl.shave_plans.block1.get_started' | translate }}</p>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="product.id === 1011">
                    <!-- <div *ngIf="product.id === 4"> -->
                    <div>
                      <div class="text-inner">
                        <p id="type-title" class="text-center"> {{product.productTranslate | productTranslate: 'name'}}</p>
                        <p id="prod-desc" class="text-center"> {{product.productTranslate | productTranslate:
                          'shortDescription'}}</p>
                      </div>
                    </div>
                    <div class="personalies-img-b">
                      <img src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/24228770-c87d-11e8-9865-d1b5ef115113.jpg">
                    </div>
                    <div>
                      <div class="text-inner">
                        <h1 class="block-heading h1m2">&nbsp;{{
                          product.productCountry.sellPrice | smsCurrency}}</h1>

                        <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() !== 'KOR' && storage.getCountry().code.toUpperCase() !== 'HKG'">
                          <a class="text-center">
                            <p (click)="goProductDetail(product.id)" class="btn btn-primary learn-more">{{
                              'lbl.shave_plans.block1.get_started' | translate }}</p>
                          </a>
                        </div>
                        <div *ngIf="(storage.getLanguageCode() === 'KO' || storage.getCountry().code.toUpperCase() === 'KOR') && (storage.getCountry().code.toUpperCase() !== 'HKG')">
                          <a class="text-center">
                            <p (click)="emailLeadPopout()" class="btn btn-primary learn-more">{{
                              'lbl.shave_plans.block1.get_started' | translate }}</p>
                          </a>
                        </div>
                        <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() === 'HKG' && storage.getCountry().code.toUpperCase() !== 'KOR'">
                          <a class="text-center">
                            <p (click)="emailLeadPopout()" class="btn btn-primary learn-more">{{
                              'lbl.shave_plans.block1.get_started' | translate }}</p>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="product.id === 1012">
                    <!-- <div *ngIf="product.id === 14"> -->
                    <div>
                      <div class="text-inner">
                        <p id="type-title" class="text-center"> {{product.productTranslate | productTranslate: 'name'}}</p>
                        <p id="prod-desc" class="text-center"> {{product.productTranslate | productTranslate:
                          'shortDescription'}}</p>
                      </div>
                    </div>
                    <div class="personalies-img-b">
                      <img src=" https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/c14f74f0-c87c-11e8-9865-d1b5ef115113.jpg">
                    </div>
                    <div>
                      <div class="text-inner">
                        <h1 class="block-heading h1m2">&nbsp;{{
                          product.productCountry.sellPrice | smsCurrency}}</h1>

                        <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() !== 'KOR' && storage.getCountry().code.toUpperCase() !== 'HKG'">
                          <a class="text-center">
                            <p (click)="goProductDetail(product.id)" class="btn btn-primary learn-more">{{
                              'lbl.shave_plans.block1.get_started' | translate }}</p>
                          </a>
                        </div>
                        <div *ngIf="(storage.getLanguageCode() === 'KO' || storage.getCountry().code.toUpperCase() === 'KOR') && (storage.getCountry().code.toUpperCase() !== 'HKG')">
                          <a class="text-center">
                            <p (click)="emailLeadPopout()" class="btn btn-primary learn-more">{{
                              'lbl.shave_plans.block1.get_started' | translate }}</p>
                          </a>
                        </div>
                        <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() === 'HKG' && storage.getCountry().code.toUpperCase() !== 'KOR'">
                          <a class="text-center">
                            <p (click)="emailLeadPopout()" class="btn btn-primary learn-more">{{
                              'lbl.shave_plans.block1.get_started' | translate }}</p>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div id="note" *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() !== 'KOR' && storage.getCountry().code.toUpperCase() !== 'HKG'">
                <a href="" id="note" routerLink="/shave-plans/custom-plan">Already have a handle?</a>
              </div>
              <div id="note" *ngIf="(storage.getLanguageCode() === 'KO' || storage.getCountry().code.toUpperCase() === 'KOR') && (storage.getCountry().code.toUpperCase() !== 'HKG')">
                <a id="note" (click)="emailLeadPopout()">Already have a handle?</a>
              </div>
              <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() === 'HKG' && storage.getCountry().code.toUpperCase() !== 'KOR'">
                <a id="note" (click)="emailLeadPopout()">Already have a handle?</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <a id="handles"></a>
    <!-- Handles -->
    <section class="product-intro3">
      <!-- <a id="handles"></a> -->
      <div class="container shave2u-container">
        <div class="block-products">
          <h2 id="type-title-w" class="block-heading " #productTypeBlock>Handles</h2>
          <div class=" d-none d-md-block ">
            <div class="row">
              <div class="row col-xl-8 col-lg-8 col-sm-8 col-md-8 bg-block3 h" id="hmedia">
                <div class="col-xl-6 col-lg-6 col-sm-6 col-md-6 bg-block3">
                  <div class="text-inner" id="img-pad-R">
                    <p id="type-title-wR" class="text">
                      Premium Handle</p>
                    <p id="prod-desc-L2" class="text">Ergonomic design for greater precision.</p>
                    <p id="ASK-kit-descR" [innerHTML]="'lbl.core.home.start_a_trial2' | translate"></p>

                    <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() !== 'KOR' && storage.getCountry().code.toUpperCase() !== 'HKG'">
                      <p class="text-center">
                        <a href="" class="btn btn-primary learn-more-ask-R" routerLink="/shave-plans/free-trial">{{
                          'lbl.shave_plans.block1.get_started' | translate }}</a>
                      </p>
                    </div>
                    <div *ngIf="(storage.getLanguageCode() === 'KO' || storage.getCountry().code.toUpperCase() === 'KOR') && (storage.getCountry().code.toUpperCase() !== 'HKG')">
                      <p class="text-center">
                        <a class="btn btn-primary learn-more-ask-R" (click)="emailLeadPopout()">{{
                          'lbl.shave_plans.block1.get_started' | translate }}</a>
                      </p>
                    </div>
                    <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() === 'HKG' && storage.getCountry().code.toUpperCase() !== 'KOR'">
                      <p class="text-center">
                        <a class="btn btn-primary learn-more-ask-R" (click)="emailLeadPopout()">{{
                          'lbl.shave_plans.block1.get_started' | translate }}</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row col-xl-4 col-lg-4 col-sm-4 col-md-4 bg-block3">
                <div>
                  <div class="text-inner" id="img-pad-L">
                    <p id="type-title-wL" class="text">Swivel Handle</p>
                    <p id="prod-desc-L" class="text">Follows every contour for the <br> smoothest finish.</p>
                    <p id="ASK-kit-desc" [innerHTML]="'lbl.core.home.start_a_ask_m' | translate"></p>
                    <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() !== 'KOR' && storage.getCountry().code.toUpperCase() !== 'HKG'">
                      <p class="text-center">
                        <a href="" class="btn btn-primary learn-more-ask" routerLink="/ask">{{
                          'lbl.product_list.link_buy2' | translate }}</a>
                      </p>
                    </div>
                    <div *ngIf="(storage.getLanguageCode() === 'KO' || storage.getCountry().code.toUpperCase() === 'KOR') && (storage.getCountry().code.toUpperCase() !== 'HKG')">
                      <p class="text-center">
                        <a class="btn btn-primary learn-more-ask" (click)="emailLeadPopout()">{{
                          'lbl.product_list.link_buy2' | translate }}</a>
                      </p>
                    </div>
                    <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() === 'HKG' && storage.getCountry().code.toUpperCase() !== 'KOR'">
                      <p class="text-center">
                        <a class="btn btn-primary learn-more-ask" (click)="emailLeadPopout()">{{
                          'lbl.product_list.link_buy2' | translate }}</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Mobile -->
          <div class="d-md-none ">
            <ul class="list-products ">
              <li class="product-item">
                <div>
                  <div class="text-contain">
                    <div class="text-inner">
                      <p id="type-title-m" class="text">Premium Handle</p>
                      <p id="prod-desc-m" class="text">Ergonomic design for greater precision.</p>
                    </div>
                  </div>
                  <div class="image-contain">
                    <div class="image-inner">
                      <div>
                        <img class="group product-list-group-image img-fluid" src="../../../../assets/images/products/products_05_mobile.png">
                      </div>
                    </div>
                  </div>
                  <div class="text-contain">
                    <div class="text-inner">
                      <p id="ASK-kit-desc-m" [innerHTML]="'lbl.core.home.start_a_trial2b' | translate"></p>
                    </div>
                    <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() !== 'KOR' && storage.getCountry().code.toUpperCase() !== 'HKG'">
                      <p class="text-center">
                        <a href="" class="btn btn-primary learn-more" routerLink="/shave-plans/free-trial">{{
                          'lbl.shave_plans.block1.get_started' | translate }}</a>
                      </p>
                    </div>
                    <div *ngIf="(storage.getLanguageCode() === 'KO' || storage.getCountry().code.toUpperCase() === 'KOR') && (storage.getCountry().code.toUpperCase() !== 'HKG')">
                      <p class="text-center">
                        <a class="btn btn-primary learn-more" (click)="emailLeadPopout()">{{
                          'lbl.shave_plans.block1.get_started' | translate }}</a>
                      </p>
                    </div>
                    <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() === 'HKG' && storage.getCountry().code.toUpperCase() !== 'KOR'">
                      <p class="text-center">
                        <a class="btn btn-primary learn-more" (click)="emailLeadPopout()">{{
                          'lbl.shave_plans.block1.get_started' | translate }}</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="text-contain">
                    <div class="text-inner">
                      <p id="type-title-mm">Swivel Handle</p>
                      <p id="prod-desc-m">Follows every contour for the <br>smoothest finish.</p>
                    </div>
                  </div>
                  <div class="image-contain">
                    <div class="image-inner">
                      <div>
                        <img class="group product-list-group-image img-fluid" src="../../../../assets/images/products/products_06_mobile.png">
                      </div>
                    </div>
                  </div>
                  <div class="text-contain">
                    <div class="text-inner">
                      <p id="ASK-kit-desc-m" [innerHTML]="'lbl.core.home.start_a_ask_m' | translate"></p>
                    </div>
                    <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() !== 'KOR' && storage.getCountry().code.toUpperCase() !== 'HKG'">
                      <p class="text-center">
                        <a href="" class="btn btn-primary learn-more" routerLink="/ask">{{
                          'lbl.product_list.link_buy2' | translate }}</a>
                      </p>
                    </div>
                    <div *ngIf="(storage.getLanguageCode() === 'KO' || storage.getCountry().code.toUpperCase() === 'KOR') && (storage.getCountry().code.toUpperCase() !== 'HKG')">
                      <p class="text-center">
                        <a class="btn btn-primary learn-more" (click)="emailLeadPopout()">{{
                          'lbl.product_list.link_buy2' | translate }}</a>
                      </p>
                    </div>
                    <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() === 'HKG' && storage.getCountry().code.toUpperCase() !== 'KOR'">
                      <p class="text-center">
                        <a class="btn btn-primary learn-more" (click)="emailLeadPopout()">{{
                          'lbl.product_list.link_buy2' | translate }}</a>
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <a id="shavecream"></a>
    <!-- Face Care -->
    <section class="product-intro2 ">
      <div class="container shave2u-container">
        <div class="block-products">
          <h2 id="type-title-w2" class="block-heading" #productTypeBlock>Face Care</h2>
          <div class=" d-none d-md-block ">
            <div class="row">
              <div class="row col-xl-8 col-lg-8 col-sm-8 col-md-8 bg-block3 i">
                <div class="col-xl-6 col-lg-6 col-sm-6 col-md-6 bg-block3">
                  <div class="text-inner" id="img-pad-R2">
                    <p id="type-title-R" class="text">Shave Cream</p>
                    <p id="prod-desc-R" class="text">Helps make every shave <br> smoother and more comfortable.</p>
                    <p id="Trial-kit-desc" [innerHTML]="'lbl.core.home.start_a_trial3' | translate"></p>
                    <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() !== 'KOR' && storage.getCountry().code.toUpperCase() !== 'HKG'">
                      <p class="text-center">
                        <a href="" class="btn btn-primary learn-more-R" routerLink="/shave-plans/free-trial">{{
                          'lbl.shave_plans.block1.get_started' | translate }}</a>
                      </p>
                    </div>
                    <div *ngIf="(storage.getLanguageCode() === 'KO' || storage.getCountry().code.toUpperCase() === 'KOR') && (storage.getCountry().code.toUpperCase() !== 'HKG')">
                      <p class="text-center">
                        <a class="btn btn-primary learn-more-R" (click)="emailLeadPopout()">{{
                          'lbl.shave_plans.block1.get_started' | translate }}</a>
                      </p>
                    </div>
                    <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() === 'HKG' && storage.getCountry().code.toUpperCase() !== 'KOR'">
                      <p class="text-center">
                        <a class="btn btn-primary learn-more-R" (click)="emailLeadPopout()">{{
                          'lbl.shave_plans.block1.get_started' | translate }}</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row col-xl-4 col-lg-4 col-sm-4 col-md-4 bg-block3">
                <div>
                  <div class="text-inner" id="img-pad-L2">
                    <p id="type-title-L" class="text">After Shave Cream</p>
                    <p id="prod-desc-L3" class="text">Leaves you feeling refreshed <br> and smelling good.</p>
                    <p id="ASK-kit-desc" [innerHTML]="'lbl.core.home.start_a_ask_m' | translate"></p>
                    <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() !== 'KOR' && storage.getCountry().code.toUpperCase() !== 'HKG'">
                      <p class="text-center">
                        <a href="" class="btn btn-primary learn-more-L" routerLink="/ask">{{
                          'lbl.product_list.link_buy2' | translate }}</a>
                      </p>
                    </div>
                    <div *ngIf="(storage.getLanguageCode() === 'KO' || storage.getCountry().code.toUpperCase() === 'KOR') && (storage.getCountry().code.toUpperCase() !== 'HKG')">
                      <p class="text-center">
                        <a class="btn btn-primary learn-more-L" (click)="emailLeadPopout()">{{
                          'lbl.product_list.link_buy2' | translate }}</a>
                      </p>
                    </div>
                    <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() === 'HKG' && storage.getCountry().code.toUpperCase() !== 'KOR'">
                      <p class="text-center">
                        <a class="btn btn-primary learn-more-L" (click)="emailLeadPopout()">{{
                          'lbl.product_list.link_buy2' | translate }}</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- mobile-->
          <div class="d-md-none ">
            <ul class="list-products ">
              <li class="product-item">
                <div>
                  <div class="text-contain">
                    <div class="text-inner">
                      <p id="type-title-m2a" class="text">Shave Cream</p>
                      <p id="prod-desc-m2a" class="text">Helps make every shave <br> smoother and more comfortable.</p>
                    </div>
                  </div>
                  <div class="image-contain">
                    <div class="image-inner">
                      <div>
                        <img class="group product-list-group-image-c img-fluid" src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/4ec34c20-c879-11e8-9865-d1b5ef115113.png">
                      </div>
                    </div>
                  </div>
                  <div class="text-contain">
                    <div class="text-inner">
                      <p id="ASK-kit-desc-m" [innerHTML]="'lbl.core.home.start_a_trial3b' | translate"></p>
                    </div>
                    <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() !== 'KOR' && storage.getCountry().code.toUpperCase() !== 'HKG'">
                      <p class="text-center">
                        <a href="" class="btn btn-primary learn-more" routerLink="/shave-plans/free-trial">{{
                          'lbl.shave_plans.block1.get_started' | translate }}</a>
                      </p>
                    </div>
                    <div *ngIf="(storage.getLanguageCode() === 'KO' || storage.getCountry().code.toUpperCase() === 'KOR') && (storage.getCountry().code.toUpperCase() !== 'HKG')">
                      <p class="text-center">
                        <a class="btn btn-primary learn-more" (click)="emailLeadPopout()">{{
                          'lbl.shave_plans.block1.get_started' | translate }}</a>
                      </p>
                    </div>
                    <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() === 'HKG' && storage.getCountry().code.toUpperCase() !== 'KOR'">
                      <p class="text-center">
                        <a class="btn btn-primary learn-more" (click)="emailLeadPopout()">{{
                          'lbl.shave_plans.block1.get_started' | translate }}</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="text-contain">
                    <div class="text-inner">
                      <p id="type-title-m2b">After Shave Cream</p>
                      <p id="prod-desc-m2b">Leaves you feeling refreshed <br> and smelling good.</p>
                    </div>
                  </div>
                  <div class="image-contain">
                    <div class="image-inner">
                      <div>
                        <img class="group product-list-group-image-c img-fluid" src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/70b135e0-c879-11e8-9865-d1b5ef115113.png">
                      </div>
                    </div>
                  </div>
                  <div class="text-contain">
                    <div class="text-inner">
                      <p id="ASK-kit-desc-m2" [innerHTML]="'lbl.core.home.start_a_ask_m' | translate"></p>
                    </div>
                    <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() !== 'KOR' && storage.getCountry().code.toUpperCase() !== 'HKG'">
                      <p class="text-center">
                        <a href="" class="btn btn-primary learn-more" routerLink="/ask">{{
                          'lbl.product_list.link_buy2' | translate }}</a>
                      </p>
                    </div>
                    <div *ngIf="(storage.getLanguageCode() === 'KO' || storage.getCountry().code.toUpperCase() === 'KOR') && (storage.getCountry().code.toUpperCase() !== 'HKG')">
                      <p class="text-center">
                        <a class="btn btn-primary learn-more" (click)="emailLeadPopout()">{{
                          'lbl.product_list.link_buy2' | translate }}</a>
                      </p>
                    </div>
                    <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() === 'HKG' && storage.getCountry().code.toUpperCase() !== 'KOR'">
                      <p class="text-center">
                        <a class="btn btn-primary learn-more" (click)="emailLeadPopout()">{{
                          'lbl.product_list.link_buy2' | translate }}</a>
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>      
    </section>

    <!-- ASK -->
    <section class="product-ask">
      <div class="container shave2u-container">
        <div class="row">
          <div class="col-md-5">
            <div class="personalies-content">
              <h1 class="h1m" [innerHTML]="'lbl.core.home.gift_box' | translate"></h1>
              <p id="ask-desc" [innerHTML]="'lbl.core.home.awesome_shave_kit' | translate"></p>
              <p id="ask-desc2" [innerHTML]="'lbl.core.home.desc_awesome_shave_kit' | translate"></p>
              <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() !== 'KOR' && storage.getCountry().code.toUpperCase() !== 'HKG'">
                <a href="" class="btn btn-primary learn-more" routerLink="/ask">{{
                  'lbl.product_list.link_buy2' | translate }}</a>
              </div>
              <div *ngIf="(storage.getLanguageCode() === 'KO' || storage.getCountry().code.toUpperCase() === 'KOR') && (storage.getCountry().code.toUpperCase() !== 'HKG')">
                <a class="btn btn-primary learn-more" (click)='emailLeadPopout()'>{{
                  'lbl.product_list.link_buy2' | translate }}</a>
              </div>
              <div *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() === 'HKG' && storage.getCountry().code.toUpperCase() !== 'KOR'">
                <a class="btn btn-primary learn-more" (click)='emailLeadPopout()'>{{
                  'lbl.product_list.link_buy2' | translate }}</a>
              </div>
            </div>
          </div>
          <div class="col-md-7 personalies-img">
            <img src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/7fc81ac0-c5f5-11e8-ac7d-812d6eacc02b.png">
          </div>
        </div>
      </div>
    </section>
  </div>