@import "../../../../assets/sass/mixins/color";


@media screen and (max-width: 567px) {
  #product-page{
    #note{
      font-size: 15px;
      width: 100%;
      text-decoration: underline;
      color: #000;
      text-align: center;
      padding-right: 0px;
    }
    h1{
      font-family: "Muli Bold";
      text-align: center;
    }
    .h1m{
      font-family: "Muli Bold";
      text-align: center;
      font-size: 37px;    
      padding-bottom: 0px;
      padding-top: 40px;
    }
    .h1m2{
      font-family: "Muli Bold";
      text-align: center;
      font-size: 20px;
    }
    h2{
      font-size: 37px;
      font-family: "Muli Bold";
    }    
    .product-list-group-image {
      width: 100%;
      height: auto;
      padding-top: 10px;
    }
    .product-list-group-image-b {
      width: 100%;
      height: auto;
      max-width: 80px;
    }
    .product-list-group-image-c {
      width: 100%;
      height: auto;
      padding-top: 20px;
    }
    .product-intro1, .product-intro2, .product-intro3, .product-intro4, .product-ask {      
      .personalies-content {
        max-width: 295px;
        margin: 0 auto;   
        a.learn-more, a.learn-more-L, a.learn-more-R{
          float: none;
        }  
        .product-list-group-image {
          width: 100%;
          height: auto;
        }
        .product-list-group-image-b {
          width: 100%;
          height: auto;
        }
        .product-list-group-image-c {
          width: 100%;
          height: auto;
        }
        .btn-primary{
          margin-top: 0px;
          padding: 20px 30px;
          float: none;
          width: 165px;
          font-size: 14px;
        }
      }
      a.learn-more, a.learn-more-L, a.learn-more-R{
        float: none;
        margin-top: 10px;
      }
      .product-list-group-image {
        width: 100%;
        height: auto;
        max-width: 80%;;
        padding-top: 10px;
      }
      .product-list-group-image-b {
        width: 100%;
        height: auto;
      }
      .product-list-group-image-c {
        width: 100%;
        max-width: 75%;
        height: auto;
        padding-top: 10px;
      }
    } 
    .product-intro1, .product-ask, .product-intro2{
      padding-left: 0px;
      padding-right: 0px;
    }   
  }  
  #trial-desc, #trial-desc2{
    text-align: center;
  }
  #trial-desc2{
    padding-left: 60px;
    padding-right: 60px;
  }
  #title-desc, #ask-desc{
    text-align: center;
  }
  #prod-desc, #prod-desc-L, #prod-desc-L2, #prod-desc-R{
    text-align: center; 
  }
  #prod-desc{
    font-size: 12px;
  }
  #prod-desc-L, #prod-desc-L2{
    text-align: center;
  }
  #Trial-kit-desc, #ASK-kit-desc, #ASK-kit-descR{
    text-align: center;
  }
  #type-title-L{
    text-align: center; 
  }
  #type-title-R{
    text-align: center;
  }
  #type-title-w{
    margin-bottom: 0px;
  }
  #ask-desc2{
    text-align: center;
  }
  
}


@media screen and (min-width: 568px) and (max-width: 768px) {
  #product-page{
    #note{
      font-size: 15px;
      width: 100%;
      text-decoration: underline;
      color: #000;
      text-align: center;
      padding-right: 0px;
    }
    h1{
      font-family: "Muli Bold";
      text-align: center;
    }
    .h1m{
      font-family: "Muli Bold";
      text-align: left;
      font-size: 25px;    
      padding-bottom: 0px;
      padding-top: 40px;
    }
    .h1m2{
      font-family: "Muli Bold";
      text-align: center;
      font-size: 20px;
    }
    h2{
      font-size: 37px;
      font-family: "Muli Bold";
    }
    .product-list-group-image {
      width: 100%;
      height: auto;
      padding-top: 10px;
    }
    .product-list-group-image-b {
      width: 100%;
      height: auto;
    }
    .product-list-group-image-c {
      width: 100%;
      height: auto;
      padding-top: 20px;
    }
    .product-intro1, .product-intro2, .product-intro3, .product-intro4, .product-ask, a.learn-more-ask, a.learn-more-ask-R {
      .personalies-content {
        max-width: 380px;
        margin: 0 auto;   
        a.learn-more, a.learn-more-L, a.learn-more-R{
          float: none;
          width: 165px;
        }  
        a.learn-more, .btn-primary{
          float: left;
          width: 115px;
          padding: 0px;
          margin-top: 10px;
          font-size: 10px;
        }
        .btn-primary{
          margin-top: 0px;
          padding: 0px;
          float: none;
          width: 115px;
          font-size: 10px;
        }
      }
      a.learn-more, a.learn-more-L, a.learn-more-R, a.learn-more-ask, a.learn-more-ask-R{
        float: right;
        width: 115px;
        padding: 0px;
        margin-top: 10px;
        font-size: 10px;
      }
      a.learn-more-ask-R{
        float: left;
      }
      .block-heading{
        font-size: 25px;
      } 
      .block-products{
        padding-top: 20px;
      } 
    } 
    .product-intro4{   
      .h1m2{
        font-size: 16px;
      }
    } 
    .product-ask{
      padding-left: 60px;
      padding-right: 25px;    
    }
    .product-intro2{
      padding-left: 0px;
      padding-right: 0px;    
    }
  }
  #img-pad-L{
    padding-left: 40px;
  }
  #img-pad-L2{
    padding-left: 45px;
  }
  #img-pad-R{
    padding-left: 75px;
  }
  #img-pad-R2{
    padding-left: 80px;
  }
  #trial-desc, #trial-desc2{
    text-align: center;
  }
  #title-desc, #ask-desc{
    text-align: center;
  }
  #prod-desc, #prod-desc-L, #prod-desc-L2, #prod-desc-R{
    text-align: center; 
  }
  #prod-desc{
    font-size: 12px;
  }
  #prod-desc-L, #prod-desc-L2{
    text-align: center;
  }
  #Trial-kit-desc, #ASK-kit-desc, #ASK-kit-descR{
    text-align: center;
  }
  #type-title{
    text-align: center; 
  }
  #type-title-w{
    padding-bottom: 0px;
  }
  #type-title-L{
    text-align: center; 
  }
  #type-title-R{
    text-align: center;
  }
}



@media  (max-width: 767px) {
  #product-page{
    #note{
      font-size: 15px;
      width: 100%;
      text-decoration: underline;
      color: #000;
      text-align: center;
      padding-right: 0px;
    }
    h1{
      font-family: "Muli Bold";
      text-align: center;
    }
    .h1m{
      font-family: "Muli Bold";
      text-align: center;
      font-size: 37px;      
      padding-bottom: 0px;
      padding-top: 40px;
    }
    .h1m2{
      font-family: "Muli Bold";
      text-align: center;
      font-size: 20px;
    }
    h2{
      font-size: 37px;
       font-family: "Muli Bold";
    }
    .product-list-group-image {
      width: 100%;
      height: auto;
      padding-top: 10px;
    }
    .product-list-group-image-b {
      width: 100%;
      height: auto;
    }
    .product-list-group-image-c {
      width: 100%;
      height: auto;
      padding-top: 20px;
    }
    .product-intro1, .product-intro2, .product-intro3, .product-intro4, .product-ask {
      .personalies-content{
        position: relative;
        top: 0px;
        left: 0;
        text-align: center;
        width: auto;
        a.learn-more, a.learn-more-R, a.learn-more-L{
          margin: 10px 0 20px;
          padding: 10px 30px;
          // width: auto;
          float: none; 
          width: 165px;
          font-size: 14px;
        }
        .btn-primary{
          margin-top: 0px;
          padding: 20px 30px;
          float: none;
          width: 165px;
          font-size: 14px;
        }
      }
      .personalies-img {
        text-align: center;
        img {
          width: 100%;
          height: auto;
        }
      }
      .max-width-korea {
        max-width: 100%;
      }
    }
    .product-intro1, .product-ask{
      padding-left: 0px;
      padding-right: 0px;
    }
    .background-ko {
      padding: 80px 0 0 0;
    }
    .product-intro {
        .content-intro{
        top: 30px;
        left:0;
        text-align: center;
        padding: 0 28px;
        width:100%;
        img{
          width: 100%;         
          height: auto;    
                
        }
      }
    }
    .product-personalies{
      background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/home/bg_banner_3.png') no-repeat center center;
      background-size: cover;
      position: relative;
      padding: 68px 0 0 0;
      background-position-y: 100px;
      .btn-primary{
        width: 165px;
        margin-top: 15px;
        float: none    
      }
      .personalies-content{
        max-width: 100%;
        position: static;
        top: 0;
        right: 0;
        text-align: center;
        margin: 0px auto 40px;
        h2{
          margin-bottom: 20px;
        }
      }
      .personalies-img{
        text-align: center;
        img{
          max-width: 290px;
          height: auto;
        }
      }
      .personalies-bottom{
        margin: 60px 0 0px 0;
      }
    }    
  }
  .product-list-group-image {
    width: 100%;
    height: auto;
    padding-top: 10px;
  }
  .product-list-group-image-b {
    width: 100%;
    height: auto;
  }
  .product-list-group-image-c {
    width: 100%;
    height: auto;
    padding-top: 20px;
  }
  #trial-desc, #trial-desc2{
    text-align: center;
  }
  #trial-desc2{
    padding-left: 60px;
    padding-right: 60px;
  }
  #title-desc, #ask-desc{
    text-align: center;
  }
  #prod-desc, #prod-desc-L, #prod-desc-L2, #prod-desc-R{
    text-align: center; 
  }
  #prod-desc{
    font-size: 12px;
  }
  #prod-desc-L, #prod-desc-L2{
    text-align: center;
  }
  #Trial-kit-desc, #ASK-kit-desc, #ASK-kit-descR{
    text-align: center;
  }
  #type-title-L{
    text-align: center; 
  }
  #type-title-R{
    text-align: center;
  }
  #type-title-w{
    padding-bottom: 0px;
  }
  #ask-desc2{
    text-align: center;
  }
}


@media screen and (max-width:767px) and (orientation: portrait){
  #product-page{
    max-width: 100%;
    position: relative;
    overflow: hidden;
    .product-intro1, .product-intro2, .product-intro3, .product-intro4, .product-ask {
      .max-width-korea {
        max-width: 50%;
        margin-top: 35px;        
        text-align: center;
        a.learn.more, a.learn-more-L, a.learn-more-R{
          float: none;
          width: 165px;
        }
      }
      a.learn.more, a.learn-more-L, a.learn-more-R{
        float: none;
        margin-top: 10px;
      }
      .btn-primary{
        margin-top: 0px;
        padding: 10px 30px;
        float: none;
        width: 165px;
        font-size: 14px;
      }
    }
  }
  .product-list-group-image {
    width: 100%;
    height: auto;
    padding-top: 10px;
  }
  .product-list-group-image-b {
    width: 100%;
    height: auto;
  }
  .product-list-group-image-c {
    width: 100%;
    height: auto;
    padding-top: 20px;
  }
  #trial-desc, #trial-desc2{
    text-align: center;
  }
  #trial-desc2{
    padding-left: 60px;
    padding-right: 60px;
  }
  #title-desc, #ask-desc{
    text-align: center;
  }
  #prod-desc, #prod-desc-L, #prod-desc-L2, #prod-desc-R{
    text-align: center; 
  }
  #prod-desc{
    font-size: 12px;
  }
  #prod-desc-L, #prod-desc-L2{
    text-align: center;
  }
  #Trial-kit-desc, #ASK-kit-desc, #ASK-kit-descR{
    text-align: center;
  }
  #type-title-L{
    text-align: center; 
  }
  #type-title-R{
    text-align: center;
  }
  #type-title-w{
    padding-bottom: 0px;
  }
}


@media screen and (max-width:1024px){
  #product-page{
    max-width: 100%;
    position: relative;
    overflow: hidden;
    .product-intro1, .product-intro2, .product-intro3, .product-intro4, .product-ask {
      .max-width-korea {
        max-width: 50%;
        margin-top: 35px;        
        text-align: center;
        a.learn.more, a.learn-more-L, a.learn-more-R{
          float: none;
          width: 165px;
        }
      }
      a.learn.more, a.learn-more-L, a.learn-more-R{
        float: none;
        margin-top: 10px;
      }
      .btn-primary{
        margin-top: 0px;
        padding: 10px 30px;
        float: none;
        width: 165px;
        font-size: 14px;
      }
    }
  }
  h1{
    font-family: "Muli Bold";
    text-align: center;
  }
  .product-list-group-image {
    width: 100%;
    height: auto;
    padding-top: 10px;
  }
  .product-list-group-image-b {
    width: 100%;
    height: auto;
  }
  .product-list-group-image-c {
    width: 100%;
    height: auto;
    padding-top: 20px;
  }

  #note{
    font-size: 15px;
    width: 100%;
    text-decoration: underline;
    color: #000;
    text-align: center;
    padding-right: 0px;
  }
  #trial-desc, #trial-desc2{
    text-align: center;
  }

  #title-desc, #ask-desc{
    text-align: center;
  }
  #prod-desc, #prod-desc-L, #prod-desc-L2, #prod-desc-R{
    text-align: center; 
  }
  #prod-desc{
    font-size: 12px;
  }
  #prod-desc-L, #prod-desc-L2{
    text-align: center;
  }
  #Trial-kit-desc, #ASK-kit-desc, #ASK-kit-descR{
    text-align: center;
  }
  #type-title{
    text-align: center; 
  }
  #type-title-L{
    text-align: center; 
  }
  #type-title-R{
    text-align: center;
  }
 // #ask-desc2{
 //   text-align: left;
 //}
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  #product-page {
    .product-intro1, .product-intro2, .product-intro3, .product-intro4, .product-ask {
      .max-width-korea {
        max-width: 50%;
        margin-top: 35px;        
        text-align: center;
        a.learn.more, a.learn-more-L, a.learn-more-R{
          float: none;
          width: 165px;
        }
      }
      a.learn.more{
        float: none;
        margin-top: 10px;
      }
      a.learn-more-R{
        float: left; 
      }
      a.learn-more-L{
        float: right;
      }
      .btn-primary{
        margin-top: 0px;
        padding: 0px;
        float: none;
        width: 115px;
        font-size: 10px;
      }
    }
    .product-intro4{
      .personalies-img-b{
        text-align: center;
        img{
          width: 100%;
          height: auto;
          max-width: 90%;
          padding-left: 0px;
          padding-right: 28px;
          padding-bottom: 10px;
        }
      }
    }
    .product-ask{
      padding-left: 60px;
      padding-right: 25px;    
    }
  }
  .product-list-group-image {
    width: 100%;
    height: auto;
    padding-top: 10px;
  }
  .product-list-group-image-b {
    width: 100%;
    height: auto;
  }
  .product-list-group-image-c {
    width: 100%;
    height: auto;
    padding-top: 20px;
  }
  #note{
    font-size: 15px;
    width: 100%;
    text-decoration: underline;
    color: #000;
    text-align: center;
    padding-right: 0px;
  }
  #trial-desc{
    text-align: left;
    font-size: 18px;
  }
  #trial-desc2{
    text-align: left;
    font-size: 12px;
  }
  #title-desc{
    text-align: center;
  }
  #ask-desc{
    text-align: left;
    font-size: 14px;
  }
  #prod-desc, #prod-desc-L, #prod-desc-L2, #prod-desc-R{
    text-align: center; 
  }
  #prod-desc{
    font-size: 9px;
  }
  #prod-desc-R{
    text-align: left;
    margin-bottom: 25px;
    font-size: 10px;
  }
  #prod-desc-L3{
    text-align: right;
    margin-bottom: 40px;
    font-size: 10px;
  }
  #prod-desc-L{
    text-align: right;
    font-size: 10px;
    margin-bottom: 30px;
  }
  #prod-desc-L2{
    text-align: left;
    font-size: 10px;
    margin-bottom: 30px;
  }
  #Trial-kit-desc{
    text-align: left;
    font-size: 16px;
    margin-bottom: 0px;
  }
  #ASK-kit-desc{
    text-align: right;
    font-size: 16px;
    margin-bottom: 0px;
  }
  #ASK-kit-descR{
    text-align: left;
    font-size: 16px;
    margin-bottom: 0px;
  }
  #type-title{
    text-align: center; 
    font-size: 16px;
  }
  #type-title-L{
    text-align: right;
    font-size: 16px;
  }
  #type-title-R{
  text-align: left;
  font-size: 16px;
  }
  #type-title-w{
    font-size: 16px;
    margin-top: 40px;
  }
  #type-title-w2{
    font-size: 16px;
    margin-top: 40px;
  }
  #type-title-wR{
    text-align: left;
    font-size: 16px;
  }
  #type-title-wL{
    text-align: right;
    font-size: 16px;
  }
  #hmedia{    
    background-position: right;
    max-width: 70%;    
  }  
}


@media screen and (min-width: 1024px) and (max-width: 1366px){
  #product-page {
    .product-intro1, .product-intro2, .product-intro3, .product-intro4, .product-ask {
      .max-width-korea {
        max-width: 50%;
        margin-top: 35px;        
        text-align: center;
        a.learn.more, a.learn-more-L, a.learn-more-R{
          float: none;
          width: 165px;
        }
      }
      a.learn.more{
        float: none;
        margin-top: 10px;
      }
      a.learn-more-R{
        float: left;
      }
      a.learn-more-L{
        float: right;
      }
      .btn-primary{
        margin-top: 0px;
        padding: 2px 16px;
        float: none;
        width: 135px;
        font-size: 12px;
      }
    }
    .product-intro4{
      .personalies-img-b{
        text-align: center;
        img{
          width: 100%;
          height: auto;
          max-width: 90%;
          padding-left: 0px;
          padding-right: 28px;
          padding-bottom: 10px;
        }
      }
      .h1m2{
          font-size: 20px;
        }       
    }
    .product-ask{
      padding-left: 20px;
      padding-right: 0px;    
    }
  }
  .product-list-group-image {
    width: 100%;
    height: auto;
    padding-top: 10px;
  }
  .product-list-group-image-b {
    width: 100%;
    height: auto;
  }
  .product-list-group-image-c {
    width: 100%;
    height: auto;
    padding-top: 20px;
  }
  #img-pad-L{
    padding-left: 60px;
  }
  #img-pad-L2{
    padding-left: 40px;
  }
  #img-pad-R{
    padding-left: 85px;
  }
  #img-pad-R2{
    padding-left: 50px;
  }
  #note{
    font-size: 15px;
    width: 100%;
    text-decoration: underline;
    color: #000;
    text-align: center;
    padding-right: 0px;
  }
  #trial-desc{
    text-align: left;
    font-size: 22px;
  }
  #trial-desc2{
    text-align: left;
    font-size: 15px;
  }
  #title-desc{
    text-align: center;
  }
  #ask-desc{
    text-align: left;
    font-size: 15px;
  }
  #prod-desc, #prod-desc-L, #prod-desc-L2, #prod-desc-R{
    text-align: center; 
  }
  #prod-desc{
    font-size: 12px;
  }
  #prod-desc-R{
    text-align: left;
    margin-bottom: 40px;
    font-size: 12px;
  }
  #prod-desc-L3{
    text-align: right;
    margin-bottom: 40px;
    font-size: 12px;
  }
  #prod-desc-L{
    text-align: right;
    font-size: 12px;
    margin-bottom: 30px;
  }
  #prod-desc-L2{
    text-align: left;
    font-size: 12px;
    margin-bottom: 30px;
  }
  #Trial-kit-desc{
    text-align: left;
    font-size: 20px;
    margin-bottom: 0px;
  }
  #ASK-kit-desc{
    text-align: right;
    font-size: 20px;
    margin-bottom: 0px;
  }
  #ASK-kit-descR{
    text-align: left;
    font-size: 20px;
    margin-bottom: 0px;
  }
  #type-title{
    text-align: center; 
    font-size: 20px;
  }
  #type-title-L{
    text-align: right;
    font-size: 20px;
  }
  #type-title-R{
  text-align: left;
  font-size: 20px;
  }
  #type-title-w{
    font-size: 16px;
    margin-top: 40px;
  }
  #type-title-w2{
    font-size: 16px;
    margin-top: 40px;
  }
  #type-title-wR{
    text-align: left;
    font-size: 20px;
  }
  #type-title-wL{
    text-align: right;
    font-size: 20px; 
  }
  #hmedia{    
    background-position: right;
    max-width: 70%;    
  }  
}
