<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add A New Promotion</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <!-- edit form column -->
      <div class="col-md-12 plan-info">
        <form #f='ngForm' novalidate (ngSubmit)='doAddPromotion()' [formGroup]="promotionForm">
          <div class="row">
            <div class="col-sm-6 form-group" [ngClass]="f.submitted && !promotionForm.controls.discount.valid ? 'has-danger' : ''">
              <label class="form-control-label">Discount (<span class="required">*</span>)</label>
              <div class="input-group">
                <input id="discount" name="discount" type="number" class="form-control" placeholder="Enter Discount"
                  formControlName="discount">
                <span class="input-group-addon">%</span>
              </div>
              <!--<span class="form-control-feedback" *ngIf="f.submitted && !promotionForm.controls.discount.valid">
                  {{ 'msg.validation.required' | translate }}
              </span>-->
            </div>
            <div class="col-sm-6 form-group" [ngClass]="f.submitted && !promotionForm.controls.maxDiscount.valid ? 'has-danger' : ''">
              <label class="form-control-label">Max Discount</label>
              <div class="input-group">
                <input id="maxDiscount" name="maxDiscount" type="number" class="form-control" placeholder="Enter Max Discount"
                  formControlName="maxDiscount">
              </div>
              <!--<span class="form-control-feedback" *ngIf="f.submitted && !promotionForm.controls.maxDiscount.valid">
                  {{ 'msg.validation.required' | translate }}
              </span>-->
            </div>
            <div class="col-sm-6 form-group" [ngClass]="f.submitted && !promotionForm.controls.promoType.valid ? 'has-danger' : ''">
              <label class="form-control-label">Promotion Type (<span class="required">*</span>)</label>
              <div class="input-group">
                <select class="form-control" id="select-promoType" name="promoType" formControlName="promoType">
                  <option [value]="'uniqueCode'">Unique Code</option>
                  <option [value]="'genericCode'">Generic Code</option>
                </select>
              </div>
              <span class="form-control-feedback" *ngIf="f.submitted && !promotionForm.controls.promoType.valid">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>
            <ng-container *ngIf="promotionForm.controls.promoType.value === 'genericCode'">
            <div class="col-sm-6 form-group" [ngClass]="!promotionForm.controls.promoCode.valid && f.submitted ? 'has-danger' : ''">
              <label class="form-control-label">Generic Code (<span class="required">*</span>)</label>
              <div class="controls">
                <input id="promoCode" name="promoCode" type="text" class="form-control" placeholder="Enter Generic Code"
                  formControlName="promoCode">
              </div>
              <span class="form-control-feedback" *ngIf="!promotionForm.controls.promoCode.valid && f.submitted">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>
            </ng-container>
            <div class="col-sm-6 form-group" [ngClass]="!promotionForm.controls.minSpend.valid && f.submitted ? 'has-danger' : ''">
              <label class="form-control-label">Min Spend</label>
              <div class="controls">
                <input id="minSpend" name="minSpend" type="number" class="form-control" placeholder="Enter min Spend"
                  formControlName="minSpend">
              </div>
              <!--<span class="form-control-feedback" *ngIf="!promotionForm.controls.minSpend.valid && f.submitted">
                  {{ 'msg.validation.required' | translate }}
              </span>-->
            </div>
            <div class="col-sm-6 form-group">
            </div>
            <div class="col-sm-6 form-group">
              <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" class="custom-control-input" formControlName="allowMinSpendForTotalAmount">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Apply Min Spend for Total Amount</span>
              </label>
            </div>
            <div class="col-sm-6 form-group" [ngClass]="!promotionForm.controls.timePerUser.valid && f.submitted ? 'has-danger' : ''">
              <label class="form-control-label">Time Period Use</label>
              <div class="controls">
                <input id="timePerUser" name="timePerUser" type="text" class="form-control" placeholder="Enter time Period Use"
                  formControlName="timePerUser">
              </div>
              <span class="form-control-feedback" *ngIf="!promotionForm.controls.timePerUser.valid && f.submitted">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>
            <div class="col-sm-6 form-group">
              <label class="form-control-label">Active date</label>
              <div class="controls">
                <md-form-field>
                  <input mdInput [mdDatepicker]="inputActiveAt" (dateChange)="addEvent('change', $event.value)" placeholder="Choose a date" formControlName="activeAt" date-format="dd MMMM yyyy">
                  <md-datepicker-toggle mdSuffix [for]="inputActiveAt"></md-datepicker-toggle>
                  <md-datepicker #inputActiveAt></md-datepicker>
                </md-form-field>
              </div>
            </div>
            <div class="col-sm-6 form-group" [ngClass]="!promotionForm.controls.expiredAt.valid && f.submitted ? 'has-danger' : ''">
              <label class="form-control-label">Expired date (<span class="required">*</span>)</label>
              <div class="controls">
                <!--<input id="expiredAt" name="expiredAt" type="text" class="form-control" placeholder="Enter Expired date"
                  formControlName="expiredAt">-->
                    <md-form-field>
                      <input mdInput [mdDatepicker]="picker" [min]="minDate" placeholder="Choose a date" formControlName="expiredAt" date-format="dd MMMM yyyy">
                      <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                      <md-datepicker #picker></md-datepicker>
                    </md-form-field>
              </div>
              <span class="form-control-feedback" *ngIf="!promotionForm.controls.expiredAt.valid && f.submitted">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>
            <div class="add-banner" *ngIf="addImageFlag">
              <div class="col-sm-12 form-group" [ngClass]="f.submitted && !promotionForm.controls.image.valid ? 'has-danger' : ''">
                <label class="form-control-label">Select File (<span class="required">*</span>)</label>
                <div class="controls">
                  <single-file-upload [group]="promotionForm" [controlName]="'image'"></single-file-upload>
                </div>
                <span class="form-control-feedback" *ngIf="f.submitted && !promotionForm.controls.image.valid">
                  {{ 'msg.validation.requiredFile' | translate }}
                </span>
              </div>
              <hr>
            </div>
            <!-- /.add-images-plans -->
            <div class="col-sm-6 form-group" *ngIf="!addImageFlag">
              <button type="button" class="btn btn-secondary btn-sm float-left" (click)="addImages()">Add Images </button>
            </div>
            <div class="col-sm-12 form-group">
                <hr>
                <!-- Promotion Country -->
                <label class="form-control-label">Promotion Country</label>
                <div class="controls">
                  <label class="custom-control custom-radio" *ngFor="let country of countries">
                    <input id="input-CountryId" name="CountryId" type="radio" class="custom-control-input" formControlName="CountryId" [value]="country.id">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{country.name}}</span>
                  </label>
                </div>
                <!-- / Promotion Country -->
                <hr>
                <!-- Promotion Translate -->
                <form #ftranslate='ngForm' novalidate (ngSubmit)='ftranslate.form.valid && addPromotionTranslate(selectTranslateForm.value.langCode)' [formGroup]="selectTranslateForm">
                  <div class="row mx-0">
                    <div class="col-sm-6 form-group" [ngClass]="ftranslate.submitted && selectTranslateForm.controls.langCode.hasError('required') ? 'has-danger' : ''">
                      <label class="form-control-label-not-danger">Add a translation to this Promotion</label>
                      <div class="controls">
                        <select class="form-control form-control-inline" id="select-langCode" name="langCode" formControlName="langCode" *ngIf="languageCodeList">
                          <option [value]="null" disabled [attr.selected]="1==1">- Select language -</option>
                          <option [value]="language | uppercase" *ngFor="let language of languageCodeList" >{{language | uppercase}}</option>
                        </select>
                        <button type="submit" class="btn btn-secondary btn-sm">Add a Translate</button>
                      </div>
                      <span class="form-control-feedback" *ngIf="ftranslate.submitted && selectTranslateForm.controls.langCode.hasError('required')">
                        Please select a language before adding a translate
                      </span>
                    </div>
                  </div>
                </form>
                <div formArrayName="promotionTranslate">
                  <div class="card mb-3" *ngFor="let translateForm of promotionForm['controls'].promotionTranslate['controls']; let i=index">
                    <div class="card-header">
                      <h5 class="panel-title pull-left langCode-name">
                        {{translateForm.get('langCode').value | uppercase}}
                      </h5>
                      <button class="btn btn-default pull-right" (click)="removePromotionTranslate(i)" *ngIf="translateForm.value.langCode !== 'en'">Remove</button>
                      <div class="clearfix"></div>
                    </div>
                    <div class="card-block" [formGroupName]="i">
                      <h6 class="text-uppercase">Promotion Translate</h6>
                      <div class="px-5">
                        <promotion-translate-form [parentOnActive]="activeSubmitForm" [promotionTranslateForm]="translateForm"></promotion-translate-form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- / Promotion Translate -->
                <hr>
            </div>
            <!-- Add Product -->
            <div class="col-sm-12 form-check">
              <promotion-add-product-form [fname]="f" [addProductForm]="promotionForm.controls.addProductForm"></promotion-add-product-form>
            </div>
            <!-- / Add Product-->

            <!-- Add Plan -->
            <div class="col-sm-12 form-check">
              <promotion-add-plan-form [f]="f" [addPlanForm]="promotionForm.controls.addPlanForm"></promotion-add-plan-form>
            </div>
            <!-- / Add Plan -->

            <!-- Add Free Product -->
            <div class="col-sm-12 form-check">
              <promotion-add-free-product-form [addFreeProductForm]="promotionForm.controls.addFreeProductForm"></promotion-add-free-product-form>
            </div>
            <!-- / Add Free Product -->

            <ng-container *ngIf="promotionForm.controls.promoType.value === 'uniqueCode'">
            <!-- Add User -->
            <div class="col-sm-12 form-check">
              <promotion-add-user-form [addUserForm]="promotionForm.controls.addUserForm"></promotion-add-user-form>
            </div>
            <!-- / Add User -->

            <!-- Add mailchimp -->
            <div class="col-sm-12 form-check" *ngIf="mailChimpList && mailChimpList.lists">
              <div class="row mt-3" [ngClass]="!promotionForm.controls.mailChimpListId.valid ? 'has-danger' : ''">
                <div class="col-sm-12 form-group">
                  <h6 class="pull-left">Select a group of emails</h6>
                </div>
                <div class="col-sm-12 form-group">
                  <select class="form-control" id="select-mailChimpListId" name="mailChimpListId" formControlName="mailChimpListId">
                    <option [value]="''" [selected]="!promotionForm.controls.mailChimpListId.value">Select a group of emails</option>
                    <option [value]="mail.id" *ngFor="let mail of mailChimpList.lists">{{mail.name}}</option>
                  </select>
                </div>

                <!--<span class="form-control-feedback col-sm-12" *ngIf="!promotionForm.controls.mailChimpListId.valid && !promotionForm.controls.addUserForm.valid">
                  {{ 'msg.validation.selectUserOrGroupEmail' | translate }}
                </span>-->
              </div>
            </div>
            <!-- / Add mailchimp -->
            </ng-container>

            <div class="col-sm-12 form-check mt-2">
               <!--<label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="isFreeShipping">
                Is Free Shipping
              </label>-->
              <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" class="custom-control-input" formControlName="isFreeShipping">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Is Free Shipping</span>
              </label>
            </div>

            <div class="col-sm-12 form-check mt-2 mb-3">
              <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" class="custom-control-input" formControlName="isOnline">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Is Online</span>
              </label>
              <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" class="custom-control-input" formControlName="isOffline">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Is Offline</span>
              </label>
            </div>

            <div class="col-sm-12">
              <app-alert></app-alert>
            </div>
            <div class="col-sm-6 form-group">
              <button type="button" class="btn btn-secondary btn-sm" (click)="gotoList()">Cancel</button>
              <button type="submit" class="btn btn-primary shave2u-btn-primary" (click)="setActiveBtn()">Save Changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
