.notification {
  height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  display: table;
  background: #ef632f;
  color: #ffffff;
  opacity: 1;
  z-index: 10000;
  span {
    text-align: center;
    margin: auto;
    display: table-cell;
    vertical-align: middle;
  }
}