.modal-dialog {
  max-width: 470px;

  .group-button {
    margin: auto auto 1rem auto;
    width: 220px;

    .shave2u-btn-primary {
      width: 100%;
    }
  }

  .modal-title {
    padding-right: 15px;
    font-weight: 700;
    padding-top: 17px;
    margin-left: 50px;
    text-align: center !important;
  }

  .modal-title-english {
    padding-right: 15px;
    font-weight: 700;
    padding-top: 17px;
    margin-left: 50px;
    text-align: center !important;
  }

  .close {
    position: absolute;
    top: 2px;
    right: 7px;
  }
}

.modal-content {
  border: 5px solid #fe5000;
}

.hints-new-password {
  padding-left: 15px;
}

.korea_popup_text {
  text-align: center;
  font-weight: 700;
}

.korea_popup_image {
  max-width: 50px;
}

.show-on-web {
  display: block;
}

.show-on-mobile {
  display: none;
}

.tandc-collect-email {
  padding-bottom: 15px;
}

@media (max-width: 575px) {
  .show-on-web {
    display: none;
  }

  .show-on-mobile {
    display: block;
    margin-top: 20px;
  }

  .mobile_TC_layout {
    padding-left: 20px;
  }

  .modal-title {
    margin-left: 15px !important;
  }

  .modal-title-english {
    margin-left: 15px !important;
  }
}
