<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" [innerHTML]="'dialog.collect_email.title' | translate"></h5> -->
        <h5 *ngIf="storage.getLanguageCode() == 'EN' && storage.getCountry().code.toUpperCase() == 'KOR'" class="modal-title-english"
          [innerHTML]="'dialog.notification_popup.title' | translate"></h5>
        <h5 *ngIf="storage.getLanguageCode() == 'KO' && storage.getCountry().code.toUpperCase() == 'KOR'" class="modal-title"
          [innerHTML]="'dialog.notification_popup.title' | translate"></h5>
        <h5 *ngIf="storage.getLanguageCode() == 'EN' && storage.getCountry().code.toUpperCase() == 'HKG'" class="modal-title-english"
          [innerHTML]="'dialog.notification_popup.title' | translate"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <app-alert></app-alert>
        <div class="user-form">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <!-- edit form column COLLECT EMAIL FORM HIDDEN FOR KOREA-->
                <!-- <div class="col-md-12 user-info">
                      <form #f='ngForm' novalidate (ngSubmit)='f.form.valid && doSaveEmail()' [formGroup]="emailForm">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-12" [ngClass]="(f.submitted && (emailForm.controls.email.errors && emailForm.controls.email.errors.required)) || (f.submitted && (emailForm.controls.email.errors && emailForm.controls.email.errors.pattern)) ? 'has-danger' : ''">
                                    <label for="email">{{ 'dialog.collect_email.email_address' | translate }}</label>
                                    <div class="form-group">
                                      <input id="email" type="email" class="form-control" formControlName="email" pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$' placeholder="{{ 'lbl.login.signup_form.placehdr_email' | translate }}">
                                      <span class="icon" [ngClass]="f.submitted ? 'show' : ''"></span>
                                      <span class="form-control-feedback" *ngIf="f.submitted && (emailForm.controls.email.errors && emailForm.controls.email.errors.required)">
                                        {{ 'msg.validation.required' | translate:{value: ( 'msg.field.email' | translate)} }}
                                      </span>
                                      <span class="form-control-feedback" *ngIf="f.submitted && (emailForm.controls.email.errors && emailForm.controls.email.errors.pattern)">
                                        {{ 'msg.validation.email' | translate }}
                                      </span>
                                    </div>
                                  </div>
                                  <div class="col-sm-12 tandc-collect-email" [ngClass]="(f.submitted &&  (emailForm.controls.tandc.errors)) ? 'has-danger' : ''">
                                    <input type="checkbox"  formControlName="tandc" required>
                                    <span [innerHTML]="'dialog.collect_email.Terms_and_Conditions' | translate"></span>
                                    <span class="form-control-feedback" *ngIf="f.submitted && (emailForm.controls.tandc.errors)">
                                      {{ 'msg.validation.required_tc' | translate }}
                                    </span>
                                    </div>
                              <div class="col-sm-12 form-group" *ngIf="resError">
                                <app-alert [message]="resError"></app-alert>
                              </div>
                            </div>
                            <div class="group-button">
                              <button type="submit" class="btn btn-primary shave2u-btn-primary">{{ 'dialog.collect_email.ok' | translate }}</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div> -->

                <!-- NOTIFICATION POPUP REPLACE COLLECT EMAIL -[HONG KONG]-->
                <div class="col-md-12 user-info" *ngIf="storage.getLanguageCode() == 'EN' && storage.getCountry().code.toUpperCase() == 'HKG'">
                  <div class="row">
                    <div class="col-xs-12" style="width: 100% !important;">
                      <div class="col-xs-12">
                        <p class="korea_popup_text">{{ 'dialog.notification_popup.follow' | translate }}</p>
                      </div>
                      <div class="col-xs-12" style="display:inline-flex;margin: -10px auto 15px auto;width: 100%;">
                        <!-- <div class="col-xs-6"> -->
                        <a style="width:50%;" href="https://www.instagram.com/shaves2u_hk/" target="_blank">
                          <img style="float:right;margin-right:5px;" class="korea_popup_image" src="assets/images/instagram.png">
                        </a>
                        <!-- </div> -->
                        <!-- <div class="col-xs-6"> -->
                        <a style="width:50%;margin-left:5px;" href="https://www.facebook.com/Shaves2U-HK-265958857520993/"
                          target="_blank">
                          <img style="float:left;margin-top: 2px;max-width: 46px !important;" class="korea_popup_image"
                            src="assets/images/facebook.png">
                        </a>
                        <!-- </div> -->
                      </div>
                      <div class="col-xs-12">
                        <p class="korea_popup_text">{{ 'dialog.notification_popup.message' | translate }}</p>
                      </div>
                    </div>
                  </div>
                </div>

                 <!-- NOTIFICATION POPUP REPLACE COLLECT EMAIL [KOREA]-->
                <div class="col-md-12 user-info" *ngIf="(storage.getLanguageCode() == 'EN' && storage.getCountry().code.toUpperCase() == 'KOR') || (storage.getLanguageCode() == 'KO' && storage.getCountry().code.toUpperCase() == 'KOR')">
                  <div class="row">
                    <div class="col-xs-12" style="width: 100% !important;">
                      <div class="col-xs-12">
                        <p class="korea_popup_text">{{ 'dialog.notification_popup.follow' | translate }}</p>
                      </div>
                      <div class="col-xs-12" style="display:inline-flex;margin: -10px auto 15px auto;width: 100%;">
                        <!-- <div class="col-xs-6"> -->
                        <a style="width:50%;" href="https://www.instagram.com/shaves2u_kr/" target="_blank">
                          <img style="float:right;margin-right:5px;" class="korea_popup_image" src="assets/images/instagram.png">
                        </a>
                        <!-- </div> -->
                        <!-- <div class="col-xs-6"> -->
                        <a style="width:50%;margin-left:5px;" href="https://www.facebook.com/Shaves2U-Korea-265958857520993/"
                          target="_blank">
                          <img style="float:left;margin-top: 2px;max-width: 46px !important;" class="korea_popup_image"
                            src="assets/images/facebook.png">
                        </a>
                        <!-- </div> -->
                      </div>
                      <div class="col-xs-12">
                        <p class="korea_popup_text">{{ 'dialog.notification_popup.message' | translate }}</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- /container -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal-backdrop fade"></div>
