<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--<div class="modal-header">
        <h5 class="modal-title">{{ 'lbl.login.email_form.signin' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close('login-modal');">
          <span aria-hidden="true">×</span>
        </button>
      </div>-->
      <div class="modal-body">
        <app-alert></app-alert>
        <div class="user-form">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <!-- edit form column -->
                <div class="col-md-12 user-info">
                  <form class="login-form" [formGroup]="emailForm" novalidate #f="ngForm"  (ngSubmit)="emailForm.valid && doLogin()">
                    <h2 class="text-center strong-7">{{ 'lbl.login.email_form.signin' | translate }}</h2>
                    <div>
                      <!-- Email -->
                      <div class="form-group" [ngClass]="f.submitted && (emailForm.controls['email'].hasError('required') || emailForm.controls['email'].hasError('pattern')) ? 'has-danger' : 'correctInput'">
                        <label>{{ 'lbl.login.email_form.email' | translate }}</label>
                        <input formControlName="email" name="email" type="email" class="form-control" pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$' autofocus>
                        <span class="form-control-feedback" *ngIf="f.submitted && emailForm.controls['email'].hasError('required')">
                          {{ 'msg.validation.required' | translate:{value: ( 'msg.field.email' | translate)} }}
                        </span>
                        <span class="form-control-feedback" *ngIf="f.submitted && emailForm.controls['email'].hasError('pattern')">
                          {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.email_address' | translate) } }}
                        </span>
                      </div>              
                      <!-- Password -->
                      <div class="form-group" [ngClass]="(f.submitted && emailForm.controls['password'].hasError('required')) || (emailForm.controls.password.errors && emailForm.controls.password.errors.validatePassword) ? 'has-danger' : ''">
                        <label>{{ 'lbl.login.email_form.password' | translate }}</label>
                        <input formControlName="password" type="password" class="form-control input-password"
                          idShowHints="hints-input-password-signin-modal">
                        <div class="hints-password">
                          <a class="heading" *ngIf="emailForm.controls.password.errors && emailForm.controls.password.errors.validatePassword">
                            <i class="fa fa-lock" aria-hidden="true"></i><span>{{ 'lbl.login.password_form.hints_heading' | translate}}</span>
                          </a>
                          <ul class="list-group" id="hints-input-password-signin-modal"></ul>
                        </div>
                        <span class="form-control-feedback" *ngIf="f.submitted && emailForm.controls['password'].hasError('required')">
                          {{ 'msg.validation.required' | translate:{value: 'Password'} }}
                        </span>
                      </div>

                      <app-alert [message]="resError"></app-alert>
                      <div class="group-button">
                        <!--<p class="text-center small-text mb-0"><a href="#" class="link-text-underline forgot-pw" (click)="referForgotPassword(); $event.preventDefault()">{{ 'lbl.login.password_form.forgot_pw' | translate }}</a></p>-->
                        <div class="text-center">
                          <button type="submit" class="btn btn-primary shave2u-btn-primary">{{ 'btn.continue' | translate }}</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /container -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal-backdrop fade"></div>