.modal-dialog{
    width: 400px;   
    margin: 0 auto;
    .modal-content{         
        .modal-body{     
          
        }
    }
}
@media  (max-width: 767px) {
    .modal-dialog{
        width: 300px;          
    }

}