.shopping-cart {
  margin: 0px 0;
  background: white;
  width: 365px;
  padding: 10px 20px 0;
  position: absolute;
  right: 0;
  border: 1px solid #363636;
  .heading {
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .shopping-cart-items {
    list-style: none;
    // max-height: 145px;
    max-height: 415px;
    overflow-y: auto;
    margin-bottom: 90px;
    &::-webkit-scrollbar-track
    {
      -webkit-box-shadow: none;
      background: none;
    }

    &::-webkit-scrollbar
    {
      width: 7px;
      background: none;
    }

    &::-webkit-scrollbar-thumb
    {
      background-color: #c2c2c2;
      border-radius:7px;
    }
    .cart-item {
      border-top: 1px solid #CCC;
      padding: 20px 0 20px 0;
      &:first-child {
        border-bottom: 0;        
      }
      .shopping-card-empty {
        margin: 0px;
        color: #777777;
      }
    }
    .border-btm:last-child {
      border-bottom: 1px solid #CCC;        
    }
    .image-contain {
      width: 100px;
      display: flex;
      justify-content: center;
    }
    
    .box-flex {
      display: flex;
    }
    img {
      float: left;
      margin-right: 12px;
      height: 100px;
      max-width: 100px;
    }
    .item-name {
      display: block;
      // padding-top: 10px;
      font-size: 16px;
    }
    .item-price {
      margin-right: 8px;
      min-width: 80px;
    }
    .item-quantity {
      min-width: 80px;
      flex: 1;
    }
    .delete-product {
      // position: absolute;
      // right: 40px;
      // top: 35%;
      margin: auto;
      margin-right: 10px;
    }
  }
  .shopping-card-footer {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    background: #fff;
    left: 0;
    right: 0;
    .subtotal {
      padding: 5px 20px;
      width: 100%;
      position: relative;
      :first-child {
        position: absolute;
        bottom: 5px;
      }
      .main-color-text {
        float: right;
        font-size: 20px;
      }
    }
    .group-button {
      width: 100%;
    }
    .shopping-cart-checkout {
      border-radius: 0;
      width: 100%;
      padding: 10px 0px;
    }
  }
}

.badge {
  background-color: #f70000;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.no-mb {
  margin-bottom: 0 !important;
}