<!-- <li *ngIf='cartItems && cartItems.length > 0'> -->
<li>
  <div class="shopping-cart">
    <div class="shopping-cart-header">
      <h3 class="heading click-able" (click)="gotoCartDetail()">{{ 'lbl.core.shopping_cart.header' | translate }} <span>({{ cartService.getTotalQty() }})</span></h3>
    </div>
    <div class="shopping-card-body" id="shopping-card-body">
      <ul class="shopping-cart-items no-mb" *ngIf="cartService.getTotalQty() === 0">
        <li class="cart-item clearfix">
          <p class="shopping-card-empty">
            {{ 'lbl.core.shopping_cart.header_empty' | translate }}
          </p>
        </li>
      </ul>
      <ul class="shopping-cart-items" *ngIf="cartService.getTotalQty() !== 0">
        <div *ngFor="let item of cartItems" class="border-btm">
          <li class="cart-item clearfix" *ngIf="!item.isRemove">
            <div class="media" *ngIf="item.product">
              <div class="image-contain">
                <img src="{{item.product.productImageURL}}" alt="{{item.product.productTranslate[0].name}}">                
              </div>
              <div class="media-body d-flex align-items-center" style="height: 100px;">
                <div class="d-flex align-items-center">
                  <div class="d-block">
                    <h4 class="item-name">{{item.product.productTranslate | productTranslate: 'name'}}</h4>
                    <div class="box-flex justify-content-center">
                      <span class="item-price">{{(!item.isFree) ? (item.product.productCountry.sellPrice | smsCurrency) : ('lbl.cart.free' | translate) }}</span>
                      <span class="item-quantity">x{{item.qty}}</span>
                    </div>
                  </div>
                </div>
                <a class="delete-product click-able" (click)="removeItem(item, $event)" *ngIf="!item.isFree"><i class="fa fa-close"></i></a>              
              </div>
            </div>
            <div class="media" *ngIf="item.plan">
              <img class="d-flex align-self-center justify-content-center" src="{{item.plan.planImageURL}}" alt="{{item.plan.planTranslate[0].name}}">
              <div class="media-body d-flex align-items-center" style="height: 100px;">
                <div class="d-flex align-items-center">
                  <div class="d-block">
                    <h4 class="item-name">{{item.plan.planTranslate | productTranslate: 'name'}}</h4>
                    <div class="box-flex justify-content-center">
                      <span class="item-price" *ngIf="!item.plan.planCountry[0]">{{item.plan.planCountry.sellPrice | smsCurrency}}</span>
                      <span class="item-price" *ngIf="item.plan.planCountry[0]">{{item.plan.planCountry[0].sellPrice | smsCurrency}}</span>
                      <span class="item-quantity">x{{item.qty}}</span>
                    </div>
                  </div>
                </div>
                <a class="delete-product click-able" (click)="removeItem(item, $event)"><i class="fa fa-close"></i></a>
              </div>
            </div>
          </li>
        </div>
      </ul>
    </div>
    <div class="shopping-card-footer" *ngIf="cartService.getTotalQty() !== 0">
      <div class="shopping-card-footer-inner">
        <div class="subtotal pull-left">
          <span>{{ 'lbl.core.shopping_cart.total' | translate }}</span>
          <span class="main-color-text" *ngIf="receipt">{{ receipt.totalPrice | smsCurrency}}</span>
        </div>
        <div class="group-button pull-right">
          <a [routerLink]="['cart']" class="btn btn-primary shave2u-btn-primary shopping-cart-checkout">{{ 'lbl.core.shopping_cart.checkout' | translate }}</a>
          <!-- <a [routerLink]="['cart']" class="btn btn-warning btn-block">Cart</a> -->
        </div>
      </div>
    </div>
    <!--end shopping-cart-header -->
  </div>
</li>