#suggestions {
  &.suggestions {
    max-height: 300px;
    display: block;
    overflow: auto;
    a {
      cursor: pointer;
    }
    a:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
.product-list {
  .trash {
    color: rgb(209, 91, 71);
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
}