@import "../../../assets/sass/mixins/color";
.shave2u-container {
	max-width: 1076px;
}
.middle-content {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.img-max-100 {
	max-width: 100%;
}
// .plan-slider-desktop,
// .plan-slider-mobile {
// 	img {
// 		max-width: 100%;
// 	}
// }
.content-header {
	background: #fbfbfb;
	p {
    margin: auto;
    padding: 40px 0;
		text-align: center;
		max-width: 700px;
	}
}
.trial-container {
	background-color: $bg-modal-body;
	padding-top: 30px;
}
.selection-block {
	border: 1px solid $border-gray-color;
	border-radius: 5px;
	background-color: white;
  margin-bottom: 20px;
	.headline {
    font-size: 22px;
    font-weight: bold;
	}
	.head {
		// border-bottom: 1px solid $border-gray-color;
    font-size: 14px;
		&-content {
			padding: 20px 25px;
			.head-list {
				list-style: disc;
				padding-left: 18px;
		    margin-bottom: 5px;
			}
		}
	}
	.box-inner {
		padding: 0 20px;

		.review {
			margin-bottom: 20px;
	    margin-top: 10px;

			.btn-review-order {
		    width: 100%;
		    height: 47px;
		    padding: 10px;
			}
		}
	}
}
#plan-page {
	display: block;
	margin-top: 50px;
	.block-heading {
	  text-align: center;
	}

	.block-list-plans {
		max-width: 900px;
		margin: 0 auto;
		.card-mobile {display: none;}
	  .block-plan-group{
		  .heading{
				font-size: 24px;
				font-weight: 500;
			}
			.blade-block {
				margin: 0 auto;
				.item {
					margin: 0 auto;
    			max-width: 250px;
					.card {
						border: 3px solid #e1e1e1;
						margin: 4px 0px 0px 0px;
						min-width: 195px;
						min-height: 270px;
						.card-body {
							padding-left: 0;
							padding-right: 0;
							.card-title {
								// font-size: 32px;
								font-weight: 900;
								margin-top: 7px;
								margin: 5px 0px 0px 0px;
							}
							.card-subtitle {
								margin-top: 15px;
								font-size: 15px;
							}
						}
						img {
							max-width: 100%;
							margin: auto;
							width: 99%;
						}
					}
					&.active {
						.card {
							border: 3px solid #fe5000;
							margin: 4px 0px 0px 0px;
						}
					}
				}
			}
		}

		.block-payment {
			// margin-top: 61px!important;
			margin-top: 0px !important;
			padding-top: 61px !important;
			.note {
				width: 100%;
				margin-bottom: 8px;
				font-size: 14px;
			}
			.list-items{
				width: 100%;
				max-width: 800px;
				margin: 0 auto;
				:nth-child(2){
					&.item {
						.card {
              .save-per {
                text-align: center;
                position: absolute;
                top: 0;
                margin: 0 auto;
                width: 100%;
                font-size: 12px;
                span {
                  padding: 0 24px 5px;
                  background: #f76900;
                  border-radius: 0px 0px 12px 12px;
                  color: #ffffff;
                }
              }
							// border: 3px solid #fe5000;
							// margin: 3px 0px 0px 0px;
							.card-body {
								.discount {
									.btn_discount {
										background: #e33000;
										border-color: #e33000;
									}
								}
								.sub-total {
									color: #fe5000;
									.currency-code {

									}
									.price {

									}
								}
								.total {
								}
							}
						}

					}
				}
			}
			.item {
				margin: 0 auto;
				// display: inline-table;
				.card {
					border: 3px solid #e1e1e1;
					margin: 3px 0px 0px 0px;
					min-width: 243px;
					min-height: 208px;
          &.card-cus {
            min-height: 165px;
          }
					.card-body {
						margin: auto;
						.card-title {
							color: #888888;
							text-transform: uppercase;
							font-size: 16px;

							margin: 10px 0px 24px 0px;
              &.quote-plan {
                padding-top: 30px;
              }
						}
						.discount {
							.btn_discount {
								margin: 0 auto;
								display: block;
								padding: 0px 20px;
								border-radius: 20px;
								min-height: 20px;
								border: none;
								background: #ecac3c;
								width: 126px;
								color: #ffffff;
								font-size: 13px;
							}
							min-height: 30px;
						}
						.sub-total {
							text-align: center;
							color: #fe5000;
              .line-through {
                margin-right: 25px;
                text-decoration: line-through;
              }
							.charge-time {
                  margin-top: -11px;
                  color: #000000;
                  &.charge-time-cus {
                    font-weight: bold;
                    font-size: 18px;
                  }
								i {
									margin-right: 3px;
								}
							}
						}
						.total {
							font-size: 14px;
							margin-top: -9px;
							font-size: 14px;
							font-family: 'Muli';
							text-align: center;
							color: #888888;
						}
					}
					.card-body-payment {
						margin: 0;
						margin-top: 25px;
					}
				}

				&.active {
					.card {
						border: 3px solid #fe5000;
						margin: 3px 0px 0px 0px;
						.card-body {
							.discount {
								.btn_discount {
									background: #e33000;
									border-color: #e33000;
								}
							}
							.sub-total {
								// color: #fe5000;
								.currency-code {

								}
								.price {

								}
							}
							.total {
							}
						}
					}

				}
			}
		}
		.block-plan-details {
			margin-top: 0px !important;
			padding-top: 61px !important;
			// width: 766px;
			margin: 0 auto;
			.description-outter{
				margin: 0 auto;
			/* 	overflow: hidden;	 */
				.description-middle{
					margin-left: 20px;
					ul.description-details{
						margin-top: 0;
					}
					.notice-every {
						padding-left: 8px;
						i {
							padding-right: 5px;
						}
					}
				}
			}
			.footer-info {
				text-align: center;
				font-family: 'Muli';
				.note {
					display: block;
					width: 100%;
					max-width: 486px;
					margin: auto;
					font-size: 14px;
					/* padding: 0 160px; */
				}
				.add_to_cart {
					a.btn_add_to_cart {
						color: #ffffff;
					}
				}
				.btn-primary{
					margin-top:-20px;
					min-width: 260px;
				}
				.suggest-payment {
					font-size: 14px;
					margin-top: -22px;

				}
				.suggest-payment-logo {
					img {
						margin-bottom: 7px;
					}
					.visa-logo {
						margin-right: 15px;
						width: 40px;
					}
					.mastercard-logo {
						width: 40px;
					}
					.ipay88-logo {
						margin-left: 15px;
						width: 60px;
					}
				}
			}
		}
		.not-sure {
			margin-top: 8px;
			font-size: 14px;
			a {
				border-bottom: 2px solid #CCC;
				color: $primary-color;
				font-family: 'Muli Bold';
			}
		}
	}
	.block-frequently-asked{
		background: #f0f3f8;
		width: 100%;
		padding: 0;
		margin: 0;
		display: block;
		.block-content{
			margin: 0 auto;
			display: table;
			max-width: 870px;
			padding: 80px 0 50px;
			.tiltle{ width:100%;margin-bottom:30px;}
			.question{
				width: 100%;
				text-align: left;
				border-bottom: 2px solid #eeeeee;
				padding: 25px 35px;
				h3{
					cursor: pointer;
					font-family:'Muli';
					padding-right: 20px;
					span {
						border-left: 1px solid #000;
						border-top: 1px solid #000;
						height: 10px;
						width: 10px;
						position: absolute;
						right: 20px;
						margin-top: 10px;
					}
					&[aria-expanded="false"]{
						span{
							// background-position: -7px -83px;
							transform: rotate(135deg);
						}
					}
					&[aria-expanded="true"]{
						span{
							// background-position: 0px -84px;
    					transform: rotate(-135deg);
						}
					}
				}
				&:last-child{
					border-bottom: 0;
				}
			}
		}
	}

}
.delivery-select {
	padding: 15px;
	&-title {
		font-size: 13px;
		margin-right: 10px;
	}
	select {
		margin-right: 15px;
    padding: 7px;
    min-width: 135px;
    max-width: 135px;
    border-radius: 4px;
    border: 0;
    background: $bg-select url(/assets/images/dropdow-arrow.png) no-repeat right 7px center;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		// IE hidden appearance
		&::-ms-expand{
		  display: none;
		}
	}
	a {
		color: $s2v-orange-color;
    border-bottom: 1px solid $s2v-orange-color;
    line-height: 1.15;
    display: inline-block;
		&:hover {
			color: $secondary2-color;
			border-color: $secondary2-color;
		}
	}
}

#selectFrequency {
	&.show {
    background: rgba(0, 0, 0, 0.7);;
	}
	.modal-dialog {
    max-width: 385px;
		.modal-header {
			padding: 35px;
			.modal-title {
				font-size: 18px;
				line-height: 24px;
				font-weight: bold;
			}
			.close {
				position: absolute;
				right: 15px;
				top: 15px;
		    width: 32px;
		    height: 32px;
		    transition: transform .25s ease-in-out;
				&::before,
				&::after {
			    content: "";
			    position: absolute;
			    display: block;
			    margin: auto;
			    left: 0;
			    right: 0;
			    top: 0;
			    bottom: 0;
			    width: 25px;
			    height: 0;
			    border-top: 2px solid $black-text-color;
			    transform-origin: center;
				}
				&::before {
			    transform: rotate(45deg);
				}

				&::after {
			    transform: rotate(-45deg);
				}
			}
		}
		.modal-body {
			padding: 0;
			background-color: $bg-modal-body;
			border-bottom-left-radius: .3rem;
			border-bottom-right-radius: .3rem;
			.title {
				font-size: 13px;
				line-height: 24px;
				margin: 15px 0;
			}
			.cal-shaves {
				margin-bottom: 0;
				li {
			    padding: 20px;
					border-bottom: 1px solid $secondary3-color;

					&:last-child {
						border: 0;
					}

					.text p {
						margin-bottom: 0;
						font-size: 14px;
						line-height: 24px;
					}
				}
			}
		}
	}
}

.select-frequency {
	font-size: 14px;
	&:first-of-type {
		margin-top: 10px;
	}
	.frequency-image {
    flex: 0 0 85px;
		width: 85px;
		height: auto;
		padding: 10px;
		position: relative;
    display: flex;
		img {
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
	    object-fit: scale-down;
			align-self: center;
			-webkit-align-self: center;
			margin: auto;
	    // position: absolute;
	    // top: 50%;
	    // left: 50%;
	    // transform: translate(-50%, -50%);
		}
	}
	.wrap-option {
		display: flex;
		align-items: center;
		margin-bottom: 0;

		.radio-wrap {
		  display: block;
		  position: relative;
		  padding-left: 25px;
	    margin-bottom: 25px;
		  cursor: pointer;
		  -webkit-user-select: none;
		  -moz-user-select: none;
		  -ms-user-select: none;
		  user-select: none;

			input[type="radio"] {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				&:checked ~ .checkmark {
					background-color: $s2v-orange-color;
					border: 0;
					&::after {
						display: block;
					}
				}
			}
			.checkmark {
				border-radius: 50%;
				position: absolute;
				top: 0;
				left: 0;
				height: 25px;
				width: 25px;
		    border: 1px solid #eee;
				&::after {
					content: "";
					position: absolute;
					display: none;
			    left: 9px;
			    top: 6px;
			    width: 7px;
			    height: 10px;
					border: solid white;
					border-width: 0 3px 3px 0;
					-webkit-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					transform: rotate(45deg);
				}
			}
		}
	}
}
.px-6 {
	padding: 0 60px;
}
.free-trial-work {
	padding: 40px 0 60px;
	h2 {
		font-size: 25px;
		margin-bottom: 40px;
	}
	.block-content {
		.item {
			h3 {
		    margin: 30px auto 20px;
		    font-size: 16px;
			}
			p {
				font-size: 14px;
			}
		}
	}
}

.section-plan {
	padding: 100px 0 50px;
	background: $bg-plan-free-trial;
	background: $bg-plan-free-trial; /* Old browsers */
	background: -moz-linear-gradient(top, $bg-plan-free-trial 0%, $bg-plan-free-trial-2 0%, $bg-plan-free-trial-2 17%, $bg-plan-free-trial-3 29%, $bg-plan-free-trial-4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, $bg-plan-free-trial 0%,$bg-plan-free-trial-2 0%,$bg-plan-free-trial-2 17%,$bg-plan-free-trial-3 29%,$bg-plan-free-trial-4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, $bg-plan-free-trial 0%,$bg-plan-free-trial-2 0%,$bg-plan-free-trial-2 17%,$bg-plan-free-trial-3 29%,$bg-plan-free-trial-4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$bg-plan-free-trial ', endColorstr='$bg-plan-free-trial-4',GradientType=0 ); /* IE6-9 */
	overflow: hidden;
}

.last-section-plan {
	overflow: hidden;
  padding: 20px 0 40px;
	background: $bg-last-plan-free-trial;

	.plan {
		margin-bottom: 0;
	}
}
.plan {
	margin-bottom: 100px;
}
.plan-text {
  max-width: 430px;
	.title {
		font-size: 25px;
		line-height: 41px;
		margin-bottom: 20px;
	}
	.summary {
    line-height: 27px;
	}
}
.plan-image {
	&.plan-special-image {
    min-height: 380px;
		img {
	    position: absolute;
		}
		&.plan-special-image-bottom {
			img {
				bottom: 0;
			}
		}
		&.plan-special-image-left {
			img {
				right: 0;
			}
		}
		&.good-skin {
			@media(min-width: 768px) {
				vertical-align: middle;
				min-height: auto;
				img {
					position: static;
				}
			}
		}
	}
}
@import "/free-trial.component.mobile.scss";
