@media (max-width: 320px) {
	.selection-block {
		.headline {
	    font-size: 18px;
		}
	}
	#selectFrequency {
		&.show {
	    background: rgba(0, 0, 0, 0.7);;
		}
		.modal-dialog {
	    max-width: 385px;
			.modal-header {
				padding: 45px 5px 25px;
			}
			.modal-body {
				.cal-shaves {
					li {
				    padding: 10px 0px;

						.text {
							p {
						    margin-bottom: 12px;
						    line-height: 15px;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 414px) {
  #plan-page {
    .card-desktop{
      display: none;
    }
    .card-mobile{
			display: block!important;
		}
    .block-list-plans {
      .block-plan-details {
        width: 100%;
      }
    }
    .block-plan-details {
      .footer-info {
        .suggest-payment-logo {
          img{
            max-width: 70px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
	.middle-content {
	  position: static;
	  top: auto;
	  transform: none;
	}
	.trial-container {
		padding-top: 15px;
	}
	.free-trial-work {
		.block-content {
			margin: 0;
		}
	}
	.selection-block {
		.headline {
	    font-size: 17px;
		}
		.head-content {
			.head-list + p {
				margin-bottom: 0;
			}
		}
	}
	.delivery-select {
		select {
			margin-right: 0;
		}
	}

	.plan-image {
		&.plan-special-image {
	    min-height: 230px;
			img {
		    left: 50%;
		    transform: translate(-50%, 0);
		    // margin-left: 25px;
				max-height: 100%;
			}
			&.plan-special-image-left {
				img {
					right: 15px;
					left: auto;
					transform: none;
				}
			}
		}
	}
	.plan-text {
		width: auto;
    // margin-top: 60px;
	}
	.plan {
    margin-bottom: 80px;
		.row-xs-0 {
			margin: 0;
		}
	}
	.last-section-plan {
		// padding-bottom: 0;
	}
	.px-6 {
		padding: 0 15px;
	}
}
@media (max-width: 992px) {
	#plan-page {
    .card-desktop{
      display: none;
    }
    .card-mobile{
      display: block!important;
      div{
        text-align: center;
        h4,p{
          display: inline-block;
        }
      }
		}
    .block-payment {
      .list-items{
        padding: 0;
        margin-left: 0px;
        margin-right: 0px;
      }
    }
		.description-desktop{
			display: none!important;
		}
		.description-mobile{
			display: block!important;
		}
		.block-list-plans {
			.block-plan-details {
				width: 100%;
			}
      .block-plan-group{
        .blade-block {
          .item {
            max-width: 100%;
          }
        }
      }


		}
		.description-outter{
			margin-top: -55px!important;
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 997px) {
	.section-plan {
		padding-bottom: 0;
	}
	.plan:last-of-type {
		margin-bottom: 0;
	}
	.selection-block .headline {
		font-size: 16px;
	}
	.delivery-select {
		&-title {
			margin-right: 5px;
		}
		select {
			margin-right: 0;
		}
	}
	.plan-image {
		&.plan-special-image {
	    min-height: 270px;
			img {
				max-height: 100%;
			}
		}
	}
	.plan-text {
    max-width: 325px;
	}
	.px-6 {
		padding: 0 30px;
	}
}
