<div id="free-trial" *ngIf="!isloading">
	<div class="container-fluid trial-container">
		<div class="container shave2u-container">
			<div class="row">
				<div class="col-md-7">
					<app-pgw-slider [addClass]="'product-detail-slider'" [items]="planSlider" [options]="sliderOptions" *ngIf="!isloading"></app-pgw-slider>
				</div>
				<div class="col-md-5">
					<div class="selection-block">
						<div class="head">
							<div class="head-content" *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() !== 'KOR'">
								<p class="headline">{{ 'lbl.trial_plan.block1.headline' | translate }}</p>
								<ul class="head-list">
									<li>{{ 'lbl.trial_plan.block1.quote1' | translate : {freeAmount: ''} }}</li>
									<!--this.storage.getCountry().currencyDisplay + freeAmount-->
									<li>{{ 'lbl.trial_plan.block1.quote2' | translate }}</li>
									<li>{{ 'checkout.free_trial.free_shipping' | translate }}</li>
									<li>{{ 'lbl.core.home.home_trial_work.try_note3' | translate : {shippingFee: this.storage.getCountry().currencyDisplay + this.appConfig.getConfig('shippingFeeConfig').trialFee} }}</li>
									
								</ul>
								<!-- <p>{{ 'checkout.free_trial.free_shipping' | translate }}</p> -->

								<!-- <p>{{ 'lbl.trial_plan.block1.note' | translate : {shippingFee: this.storage.getCountry().currencyDisplay + this.appConfig.getConfig('shippingFeeConfig').trialFee} }}</p> -->
							</div>
							<div class="head-content" *ngIf="storage.getLanguageCode() === 'KO' || storage.getCountry().code.toUpperCase() === 'KOR'">
								<p class="headline">{{ 'lbl.trial_plan.block1.headline_korea' | translate }}</p>
								<ul class="head-list">
									<li>{{ 'lbl.trial_plan.block1.quote1' | translate : {freeAmount: ''} }}</li>
									<!--this.storage.getCountry().currencyDisplay + freeAmount-->
									<li>{{ 'lbl.trial_plan.block1.quote2' | translate }}</li>
									<li>{{ 'lbl.trial_plan.block1.quote3' | translate }}</li>
								</ul>
								<p>{{ 'lbl.trial_plan.block1.note' | translate : {shippingFee: this.storage.getCountry().currencyDisplay +
									this.appConfig.getConfig('shippingFeeConfig').trialFee} }}</p>
							</div>
							<app-pgw-slider [addClass]="'plan-slider-mobile'" [items]="planSlider" [options]="sliderOptions" *ngIf="!isloading"></app-pgw-slider>
						</div>
						<div class="box-inner">
							<div class="box-flex select-frequency" *ngFor="let group of planGroups; let i = index; let first = first;">
								<!-- <span class="s2s-checkbox" [ngClass]="{'checked': group.name === selectedPlan.groupName}"></span> -->
								<!-- Display Main Plan name -->
								<label class="wrap-option click-able">
									<div class="radio-wrap">
										<input type="radio" name="cartridge" id="test_{{ group.id }}" value="{{ group.id }}" [checked]="group.id === planGroupId"
										 (click)="changePlan(group.id)">
										<span class="checkmark"></span>
									</div>
									<!-- Display Main Plan name -->

									<div class="frequency-image">
										<img src="{{ group.image }}" alt="{{ group.name }}">
									</div>
									<span>{{ group.name }}</span>
								</label>
							</div>
						</div>
					</div>
					<div id="select-refill"></div>
					<div class="selection-block">
						<div class="head">
							<div class="head-content">
								<p class="headline">{{ 'checkout.free_trial.refill_ship' | translate : { date1: refillships_date1 | date:'MMM
									dd', date2: refillships_date2 | date:'dd ', date3: refillships_date3 | date:'MMM dd ' } }}</p>
								<ul class="head-list">
									<!-- <li>{{ 'checkout.free_trial.cancel_modify' | translate }}</li> -->
									<li>{{ 'checkout.free_trial.free_shipping' | translate }}</li>
								</ul>
							</div>
						</div>
						<div class="delivery-select text-center text-lg-right">
							<span class="text-uppercase delivery-select-title d-inline-block">{{ 'checkout.free_trial.delivery_every' |
								translate }}</span>
							<select [(ngModel)]="monthSelected" (change)="changeItemplan($event)" class="d-inline-block">
								<option [value]="list.id" *ngFor="let list of selectList" [attr.data-type]="list.type">{{ list.name |
									productTranslate:'name' }}</option>
							</select>
							<div class="d-block d-lg-inline-block text-center mt-2 mt-lg-0">
								<a class="click-able" data-toggle="modal" data-target="#selectFrequency">{{ 'lbl.trial_plan.not_sure' |
									translate }}</a>
							</div>
						</div>
						<div class="box-inner">
							<div class="box-flex select-frequency" *ngFor="let data of monthData; let i = index; let first = first;">
								<label class="wrap-option click-able">
									<div class="radio-wrap">
										<input type="radio" name="frequency" [value]="data.id" [(ngModel)]="itemProductSelected">
										<span class="checkmark"></span>
									</div>
									<!-- Display Main Plan name -->
									<div class="frequency-image">
										<img src="{{ data.url }}" alt="{{ data.description }}">
									</div>
									<span>{{ data.description }}<br>{{data.sellPrice | smsCurrency}}</span>
								</label>
							</div>

							<div class="review">
								<a (click)="addToCart()" class="btn btn-primary shave2u-btn-primary btn-review-order">{{
									'lbl.trial_plan.review_order' | translate }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END block-list-plans -->
	<div class="free-trial-work">
		<div class="container shave2u-container">
			<div class="col-md-12 text-center pr-0 pl-0">
				<h2 class="">{{ 'lbl.core.home.home_trial_work.how_does_work' | translate }}</h2>
			</div>
			<!-- block2 -->
			<div class="row block2 block-content text-center">
				<div class="col-xs-12 col-md-4 px-6">
					<div class="item">
						<img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/subscription/shaves_icons-01_0905.png">
						<h3 class="sort-description">{{ 'lbl.core.home.home_trial_work.try' | translate }}</h3>
						  <p *ngIf="storage.getLanguageCode() === 'KO' && storage.getCountry().code.toUpperCase() === 'KOR'" [innerHTML]="'lbl.core.home.home_trial_work.try_note' | translate : {shippingFee: (this.appConfig.getConfig('shippingFeeConfig').trialFee).replace('.00', '')+ '원'}"></p>	
						  <p *ngIf="storage.getLanguageCode() !== 'KO'" [innerHTML]="'lbl.core.home.home_trial_work.try_note' | translate : {shippingFee: this.storage.getCountry().currencyDisplay + this.appConfig.getConfig('shippingFeeConfig').trialFee}"></p>
					</div>
				</div>
				<div class="col-xs-12 col-md-4 px-6">
					<div class="item">
						<img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/subscription/shaves_icons-02_0905.png">
						<h3 class="sort-description">{{ 'lbl.core.home.home_trial_work.build' | translate }}</h3>
						<p>{{ 'lbl.core.home.home_trial_work.build_note' | translate }}</p>
					</div>
				</div>
				<div class="col-xs-12 col-md-4 px-6">
					<div class="item">
						<img style="width:auto;height:100px;" src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/e14e3f30-ce2a-11e8-9a90-07e3ccde7bb0.png">
						<!-- <h3 class="sort-description">{{ 'lbl.core.home.home_trial_work.cancel' | translate }}</h3>
						<p>{{ 'lbl.core.home.home_trial_work.cancel_note' | translate }}</p> -->
						<h3 class="sort-description">{{ 'lbl.shave_plans.block2.switch_it_up' | translate }}</h3>
						<p>{{ 'lbl.shave_plans.block2.switch_it_up_note' | translate }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section-plan">
		<div class="container shave2u-container">
			<div class="plan img-right-type">
				<div class="row row-xs-0 flex-column-reverse flex-md-row">
					<div class="col-md-6 mt-5 mt-md-0">
						<div class="plan-text middle-content">
							<h3 class="title" [innerHTML]="'checkout.free_trial.head_block_1' | translate"></h3>
							<p class="summary">
								{{ 'checkout.free_trial.content_block_1' | translate }}
							</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="plan-image plan-special-image plan-special-image-bottom">
							<img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/subscription/cartridge-pack_s5.png" alt="Made in the USA. Crafted and coated with double ceramic. built to last.">
						</div>
					</div>
				</div>
			</div>
			<div class="plan img-right-left">
				<div class="row row-xs-0 align-items-center align-items-lg-end">
					<div class="col-md-6">
						<div class="plan-image plan-special-image">
							<img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/subscription/handle--rtb.png" alt="Quality Assured."
							 class="plan-text">
						</div>
					</div>
					<div class="col-md-6 pl-lg-5 pl-md-3 mt-5 mt-md-0">
						<div class="plan-text">
							<h3 class="title">{{ 'checkout.free_trial.head_block_2' | translate }}</h3>
							<p class="summary">
								{{ 'checkout.free_trial.content_block_2' | translate }}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="last-section-plan">
		<div class="container shave2u-container">
			<div class="plan img-right-type">
				<div class="row row-xs-0 align-items-center flex-column-reverse flex-md-row">
					<div class="col-md-7 mt-5 mt-md-0">
						<div class="plan-text">
							<h3 class="title">{{ 'checkout.free_trial.head_block_3' | translate }}</h3>
							<p class="summary">
								{{ 'checkout.free_trial.content_block_3' | translate }}
							</p>
						</div>
					</div>
					<div class="col-md-5">
						<div class="plan-image plan-special-image good-skin">
							<img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/subscription/shave-cream-rtb.png" alt="Good for your skin."
							 class="img-max-100">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Select Frequency Modal -->
	<div class="modal fade" id="selectFrequency" tabindex="-1" role="dialog" aria-labelledby="selectFrequencyLabel"
	 aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-center" id="selectFrequencyLabel">{{ 'plan.free_trial.suggest_refill.heading' |
						translate }}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="title text-center text-uppercase">{{ 'plan.free_trial.suggest_refill.frequency_guide' | translate }}</div>
					<ul class="cal-shaves">
						<li class="click-able" (click)="hasChangeRefill('4 Months')">
							<div class="row m-0">
								<div class="col-3">
									<div class="thumb-image">
										<img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/free-trial/4-months.png" alt="'plan.free_trial.suggest_refill.option_3.note'  | translate">
									</div>
								</div>
								<div class="col-9">
									<div class="text">
										<p>{{ 'plan.free_trial.suggest_refill.option_3.note' | translate }}</p>
										<p>{{ 'plan.free_trial.suggest_refill.option_3.note_2' | translate }}</p>
									</div>
								</div>
							</div>
						</li>
						<li class="click-able" (click)="hasChangeRefill('3 Months')">
							<div class="row m-0">
								<div class="col-3">
									<div class="thumb-image">
										<img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/free-trial/3-months.png" alt="'plan.free_trial.suggest_refill.option_2.note'  | translate">
									</div>
								</div>
								<div class="col-9">
									<div class="text">
										<p>{{ 'plan.free_trial.suggest_refill.option_2.note' | translate }}</p>
										<p>{{ 'plan.free_trial.suggest_refill.option_2.note_2' | translate }}</p>
									</div>
								</div>
							</div>
						</li>
						<li class="click-able" (click)="hasChangeRefill('2 Months')">
							<div class="row m-0">
								<div class="col-3">
									<div class="thumb-image">
										<img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/free-trial/2-months.png" alt="'plan.free_trial.suggest_refill.option_1.note'  | translate">
									</div>
								</div>
								<div class="col-9">
									<div class="text">
										<p>{{ 'plan.free_trial.suggest_refill.option_1.note' | translate }}</p>
										<p>{{ 'plan.free_trial.suggest_refill.option_1.note_2' | translate }}</p>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>