<div class="row mx-0">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title float-left">Manage Product Categories</h4>
        <button type="button" class="btn btn-secondary btn-sm float-right" routerLink="/products/category/add" *ngIf="globalService.canCreate('products/category')">Add A Category</button>
        <br>
        <br>
      </div>

      <div class="content table-responsive table-full-width" *ngIf="!isLoading">
        <div class="row mx-0">
          <!-- <div class="col-md-3">
            <select name="cities" class="selectpicker form-control" (change)="onLimitChange($event)">
              <option [attr.value]="item" *ngFor="let item of [50, 100, 150, 200]" [attr.selected]="item == options.get('limit') ? true : null">Show {{item}} per page</option>
            </select>
          </div> -->
          <!-- <div class="col-md-2">
            <select name="cities" class="selectpicker form-control" (change)="sortByName($event.target.value)">
              <option value="ASC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) !== 'name_DESC' ? true : null">Sort: A-Z</option>
              <option value="DESC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) == 'name_DESC' ? true : null">Sort: Z-A</option>
            </select>
          </div>-->
        </div>
        <app-button-ai [active]="mutiaction" apikey="product-types/change-status" [apivalue]="{'actionids':'productTypeIds','actionstatus':'status'}"  ></app-button-ai>  
        <table class="table table-shaves mt-2">
          <thead>
            <tr>
              <th width="50" class="text-center">
                <input type="checkbox" id="all" value="all" idchecked="" (change)="checkboxchecked($event ,'all')" class="actionactive checkboxall">

              </th>
              <th (click)="tableHearSort($event, countries.rows, 'name','string')" class="table-sort">Name</th>
              <th class="text-right">Status</th>
              <th class="td-actions"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of countries.rows">
              <td width="50" class="text-center">
                <input type="checkbox" attr.id="{{item.id}}" value="{{item.id}}" (change)="checkboxchecked($event ,item.id)" class="actionactive">
              </td>
              <td class="td-name">
                {{ item.name }}
              </td>
              <td class="text-right td-status" *ngIf="item.status == 'removed'"> INACTIVE</td>
              <td class="text-right td-status" *ngIf="item.status == 'active'"> ACTIVE</td>
              <td class="td-actions">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Action
                  </button>
                  <div class="dropdown-menu actiion-menu" aria-labelledby="dropdownMenuButton" *ngIf="globalService.canEdit('products/category')">
                    <a class="dropdown-item" routerLink="/products/category/edit/{{item.id}}" *ngIf="globalService.canEdit('products/category')">Edit</a>
                    <a class="dropdown-item" (click)="changeStatusProductCategory(item.id,'active')" *ngIf="item.status == 'removed'">Active</a>
                    <a class="dropdown-item" (click)="changeStatusProductCategory(item.id,'removed')" *ngIf="item.status == 'active'">Inactive</a>
                    <!--<a class="dropdown-item">Remove</a>-->
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngIf="countries.rows.length === 0">
              <td colspan="2" class="text-center">No Items</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->
</div>