<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add FAQ</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <!-- edit form column -->
      <div class="col-md-12 plan-info">
        <form #f='ngForm' novalidate (ngSubmit)='f.form.valid && doEditFaq()' [formGroup]="faqForm">
          <div class="row">
            <div  class="col-sm-6 form-group" [ngClass]="f.submitted && faqForm.controls.CountryId.hasError('required')? 'has-danger' : ''">
              <label class="form-control-label">Country (<span class="required">*</span>)</label>
              <div class="controls">
                <select class="form-control" id="select-country" name="CountryId" formControlName="CountryId">
                  <option value="" disabled>Select Country</option>
                  <option [value]="country.id" *ngFor="let country of countries">{{country.name}}</option>
                </select>
              </div>
              <span class="form-control-feedback" *ngIf="f.submitted && faqForm.controls.CountryId.hasError('required')">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>
            <div class="col-sm-6 form-group" [ngClass]="f.submitted && faqForm.controls.langCode.hasError('required')? 'has-danger' : ''">
              <label class="form-control-label">Language (<span class="required">*</span>)</label>
              <div class="controls">
                <select class="form-control" id="select-langCode" name="langCode" formControlName="langCode" *ngIf="languageCodeList">
                  <option value="" disabled >- Select Language -</option>
                  <option [value]="language | uppercase" *ngFor="let language of languageCodeList" >{{language | uppercase}}</option>
                </select>
              </div>
              <span class="form-control-feedback" *ngIf="f.submitted && faqForm.controls.langCode.hasError('required')">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>

            <div class="col-sm-12 form-group" [ngClass]="f.submitted && faqForm.controls.type.hasError('required')? 'has-danger' : ''">
              <label class="form-control-label">Type (<span class="required">*</span>)</label>
              <div class="controls">
                <input class="form-control" id="select-type" name="type" formControlName="type" type="text" placeholder="FAQ Type"/>
              </div>
              <span class="form-control-feedback" *ngIf="f.submitted && faqForm.controls.type.hasError('required')">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>
            
            <!-- faqTranslate -->
            <div class="col-sm-12 form-group" formArrayName="faqTranslate">
              <div class="card-block pl-0">
                <h6 class="text-uppercase form-control-inline mr-2">FAQ Details</h6>
                <aq-form [aqForm]="faqForm.controls.faqTranslate"></aq-form>
              </div>
            </div>
            <!-- / faqTranslate -->

            <div class="col-sm-12 form-check mt-2 mb-4">
              <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" class="custom-control-input" formControlName="isSubscription">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Is Subscription</span>
              </label>
              <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" class="custom-control-input" formControlName="isAlaCarte">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Is AlaCarte</span>
              </label>
            </div>

            <div class="col-sm-12">
              <app-alert></app-alert>
            </div>
            <div class="col-sm-6 form-group">
              <button type="button" class="btn btn-secondary btn-sm" (click)="gotoList()">Cancel</button>
              <button type="submit" class="btn btn-primary shave2u-btn-primary">Save Changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>