<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add Role</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <!-- edit form column -->
      <div class="col-md-12 plan-info">
        <form #f='ngForm' novalidate (ngSubmit)='f.form.valid && doAddRole()' [formGroup]="roleForm">
          <div class="row">
            <div class="col-sm-6 form-group" [ngClass]="f.submitted && !roleForm.controls.roleName.valid ? 'has-danger' : ''">
              <label class="form-control-label">Role Name (<span class="required">*</span>)</label>
              <div class="controls">
                <input id="roleName" roleName="roleName" type="text" class="form-control" placeholder="Enter roleName"
                  formControlName="roleName">
              </div>
              <span class="form-control-feedback" *ngIf="f.submitted && !roleForm.controls.roleName.valid">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>
            <div class="col-sm-12 form-group" [ngClass]="f.submitted && !roleForm.controls.description.valid ? 'has-danger' : ''">
              <label class="form-control-label">Description (<span class="required">*</span>)</label>
              <div class="controls">
                <textarea class="form-control" formControlName="description" roleName="description" rows="7"></textarea>
              </div>
              <span class="form-control-feedback" *ngIf="f.submitted && !roleForm.controls.description.valid">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>
            <div class="col-sm-12 form-group" formArrayName="roleDetails">
              <label class="form-control-label">Path</label>
              <div class="controls">
                <div class="row">
                  <div class="col-sm-4 form-group" *ngFor="let prCountryForm of roleForm['controls'].roleDetails['controls']; let i=index">
                    <div class="controls" [formGroupName]="i">
                      <app-permissions-for-role [permissionsForm]="roleForm.controls.roleDetails.controls[i]"></app-permissions-for-role>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-sm-12">
              <app-alert></app-alert>
            </div>
            <div class="col-sm-6 form-group">
              <button type="button" class="btn btn-secondary btn-sm" (click)="gotoList()">Cancel</button>
              <button type="submit" class="btn btn-primary shave2u-btn-primary">Save Changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>