<ng-container [formGroup]="supportedLanguageForm">
    <div class="card mb-2" *ngFor="let supportedLanguage of supportedLanguageForm['controls']; let i=index">
      <div class="card-block" [formGroupName]="i">
        <button type="button" (click)="removeLanguage(i)" class="btn btn-default pull-right remove-faq-button">Remove</button>
        <div class="row">
          <div class="col-sm-6 form-group" [ngClass]="supportedLanguageForm['controls'][i].controls.languageCode.hasError('required') && submitted ? 'has-danger' : ''">
            <label class="form-control-label">Language Code (<span class="required">*</span>)</label>
            <div class="controls">
              <select class="form-control" id="select-languageCode-{{i}}" name="languageCode" formControlName="languageCode" (change)="selectDirectoryCountry(i)">
                <option value="">- Select a Language -</option>
                <option [value]="language | uppercase" *ngFor="let language of languageCodeList" >{{language | uppercase}}</option>
              </select>
              <span class="form-control-feedback" *ngIf="supportedLanguageForm['controls'][i].controls.languageCode.hasError('required') && submitted ">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>
          </div>
          <div class="col-sm-6 form-group" [ngClass]="supportedLanguageForm['controls'][i].controls.languageName.hasError('required') && submitted ? 'has-danger' : ''">
            <label class="form-control-label">Language Name (<span class="required">*</span>)</label>
            <div class="controls">
              <input type="text" class="form-control" id="input-languageName-{{i}}" placeholder="Enter language name"
                formControlName="languageName" name="languageName">
            </div>
            <span class="form-control-feedback" *ngIf="supportedLanguageForm['controls'][i].controls.languageName.hasError('required') && submitted ">
                {{ 'msg.validation.required' | translate }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-secondary btn-sm mt-2" (click)="addLanguage()">Add a Language</button>
  </ng-container>