.shave2u-middle {
  min-height: 200px;
  padding: 70px 0 70px 0;
}

.btn {
  margin-top: 5px;
  border-radius: 5px;
  &.shave2u-btn-default {
    background-color: #FFF;
    color: #000;
    border: 1px solid #000;
    font-size: 16px;
    text-transform: none;
  }
  .btn-icon {
    margin-right: 12px;
  }
}