<div class="text-center shave2u-middle">
  <p>
    You have been successfully signed out from your account.
  </p>
  
  <button class="btn btn-default shave2u-btn-default" (click)="redirectToLoginPage()">
    <i class="fa fa-user btn-icon"></i><span class="text">Login Again</span>
  </button>
</div>