.btn-collapse {
  cursor: pointer;
  position: absolute;
  top: 14px;
  right: 12px;
  font-size: 18px;
  &:before {
    content: "\f068";
  }
}

.btn-collapse.collapsed {
  &:before {
    content: "\f067";
  }
}

.planDetails-photo {
  max-width: 50px;
}

.mg-t-10 {
  margin-top: 10px;
}
.mg-b-20 {
  margin-bottom: 20px;
}
.no-min-height {
  min-height: 0;
}
