<div class="row mx-0">
  <div class="col-md-12">
    <div id="user-order-detail">
      <div class="row mx-0">
        <div class="col-lg-12">
          <h2 class=" text-center heading">Subscriber Details</h2>
        </div>
        <div class="loading-spinner" *ngIf="isLoading"><i class="fa fa-spinner fa-spin"></i></div>
        <div class="box box-have-border col-12" *ngIf="!isLoading">
          <div class="box-inner">          
            <div class="box-header">
              <div class="box-flex">
                <span *ngIf="!userType || userType === 'users'"><strong>User Email: </strong> {{orderInfo[0].User.email}}</span>
                <span *ngIf="!userType || userType === 'sellers'"><strong>Seller User Email: </strong> {{orderInfo[0].SellerUser.email}}</span>
                <a class="link-text-underline text-blue flex ml-5 click-able"></a>
                <a class="link-text-underline click-able"(click)="backToList()">Close</a>
              </div>
            </div>        
            <div class="box-body">
              <div class="row mx-0 justify-content-between">
                <div class="col-lg-12 subscription-list mt-2 px-0" *ngFor="let item of orderInfo; let i=index">
                  <div class="card">
                    <div class="card-header">
                      <strong *ngIf="item.PlanCountry">
                          {{item.PlanCountry.Plan.planTranslate | translatePipe : 'name'}} - (Created At: {{ item.createdAt | date:"dd/MM/yyyy HH:mm:ss" }}) 
                      </strong>
                      <strong *ngIf="item.CustomPlan">
                          {{item.CustomPlan.description}} - (Created At: {{ item.createdAt | date:"dd/MM/yyyy HH:mm:ss" }}) 
                      </strong>
                      <p data-toggle="collapse" aria-expanded="true" [attr.data-target]="'#sub-id-' + item.id" class="fa btn-collapse"></p>
                    </div>
                    <div id="sub-id-{{item.id}}" class="collapse show">
                      <div class="collapse show card-block">
                        <label class="col-sm-12 control-label small px-0" for="label-price-group">
                          <strong *ngIf="item.PlanCountry">Payment Mode: {{ item.PlanCountry.Plan.PlanType.name }}</strong>
                          <strong *ngIf="item.CustomPlan">Payment Mode: {{ item.CustomPlan.PlanType.name }}</strong>
                        </label>
                        <label class="col-sm-12 control-label small px-0" for="label-price-group"><strong>Status: {{ item.status }}</strong></label>
                        <label class="col-sm-12 control-label small px-0" for="label-price-group" *ngIf="item.orders">
                          <strong>
                            Order Numbers:
                            <span *ngFor="let orderItem of item.orders; let i = index">
                              {{ i !== 0 ? ', ' : '' }}
                              <a class="link-text-underline click-able" [routerLink]="['/orders/' + ( ['Completed', 'Canceled', 'On Hold'].indexOf(orderItem.states) > -1 ? 'history' : 'pending' ) + '/' + orderItem.id]">
                                {{ orderItem.id | orderNo: {countryCode: orderItem.Country.code, createdAt: orderItem.createdAt | date: "yyyyMMdd" } }}
                              </a>
                            </span>
                          </strong>
                        </label>
                        <label class="col-sm-12 control-label small px-0" for="label-price-group"><strong>Channel: {{ item.SellerUserId ? 'BA' : 'Online / E-Commerce'}} </strong></label>
                        <label class="col-sm-12 control-label small px-0" for="label-price-group"><strong>Start Deliver Date: {{item.startDeliverDate | date:"dd/MM/yyyy"}} </strong></label>
                        <label class="col-sm-12 control-label small px-0" for="label-price-group"><strong>Next Charge Date: {{item.nextChargeDate | date:"dd/MM/yyyy"}} </strong></label>
                        <label class="col-sm-12 control-label small px-0" for="label-price-group"><strong>Delivered</strong></label>
                        
                        <div class="row mx-0 my-3 small" *ngIf="item.subscriptionHistories.length">
                          <strong>Subscription Status Logs</strong>
                          <div class="col-12 mt-2">
                            <ul class="row-custom row mx-0 no-gutters mb-1">
                              <li class="item col-2"><strong>Date</strong></li>
                              <li class="item col-2"><strong>Status</strong></li>
                              <li class="item col-8"><strong>Message / Reason</strong></li>
                            </ul>
                            
                            <ul class="row row-custom no-gutters mb-1" *ngFor="let subsLog of item.subscriptionHistories; let i = index">
                              <li class="item col-2">
                                {{ subsLog.createdAt | date: 'dd/MM/yyyy'  }}
                              </li>
                              <li class="item col-2">
                                {{ subsLog.message }}
                              </li>
                              <li class="item col-8" [innerHTML]="subsLog.detail"></li>
                            </ul>
                          </div>
                        </div>

                        <!-- Cancel subscriptions button -->
                        <a (click)="cancelSubs()" *ngIf="globalService.canEdit('subscriptions/subscribers') && item.status !== 'Canceled'" class="no-min-height mg-t-10 mg-b-20 btn btn-secondary btn-sm">Cancel Subscription</a>
                        <a (click)="cancelSubs()" *ngIf="globalService.canEdit('subscriptions/subscribers') && item.status === 'Canceled'" class="no-min-height mg-t-10 mg-b-20 btn btn-secondary btn-sm">Edit Cancellation Reason</a>
                        <!-- /Cancel subscriptions button -->

                        <ng-container *ngIf="item.PlanCountry && (!item.PlanCountry.planTrialProducts || (item.PlanCountry.planTrialProducts && item.PlanCountry.planTrialProducts.length === 0))">
                          <ng-container *ngFor="let times of globalService.deliverTimesArr(item.totalDeliverTimes)">
                            <div class="card deliver-times mb-2" *ngIf="item.currentDeliverNumber >= times">
                              <div class="card-header">
                                <strong>
                                  <!-- Deliver Times: {{times}}  (Status: {{item.currentDeliverNumber >= times ? 'Delivered' : 'Not delivered'}}) -->
                                  Deliver Times: {{times}}  (Status: {{item.currentDeliverNumber >= times ? (item.orders[times - 1].states) : 'Not delivered'}})
                                </strong>
                                <span data-toggle="collapse" aria-expanded="true" [attr.data-target]="'#deliver-id-' + times  + '-' + item.id" class="fa btn-collapse"></span>
                              </div>
                              <div id="deliver-id-{{times  + '-' + item.id}}" class="collapse show">
                                <label class="col-sm-12 control-label small" for="label-price-group"><strong>Deliver Date: {{times === 1 ? (item.startDeliverDate | date:"dd/MM/yyyy") : globalService.getNextDeliverDate(item.startDeliverDate, item.totalDeliverTimes, times) | date:"dd/MM/yyyy" }} </strong></label>
                                <div class="card-block">
                                    <ul class="list-group">
                                      <ng-container *ngFor="let product of item.PlanCountry.planDetails">
                                        <li class="list-group-item" *ngIf="((product.deliverPlan | jsonPipe: times) * item.qty) > 0">
                                          <a class="d-inline-block">
                                            <display-image [images]="product.ProductCountry.Product.productImages" [class]="'planDetails-photo'"></display-image>
                                          </a>
                                          <div class="d-inline-block ml-2">
                                            <p class="title">{{ product.ProductCountry.Product.productTranslate | translatePipe:'name' }}</p>
                                          </div>
                                          <div class="d-inline-block ml-2">
                                            <p>(Qty : {{ (product.deliverPlan | jsonPipe: times) * item.qty }})</p>
                                          </div>
                                        </li>
                                      </ng-container>
                                      <ng-container *ngIf="item.PlanCountry && item.PlanCountry.planTrialProducts && item.PlanCountry.planTrialProducts.length > 0">
                                        <li class="list-group-item" *ngFor="let product of item.PlanCountry.planTrialProducts">
                                          <a class="d-inline-block">
                                            <display-image [images]="product.ProductCountry.Product.productImages" [class]="'planDetails-photo'"></display-image>
                                          </a>
                                          <div class="d-inline-block ml-2">
                                            <p class="title">{{ product.ProductCountry.Product.productTranslate | translatePipe:'name' }}</p>
                                          </div>
                                          <div class="d-inline-block ml-2">
                                            <p>(Qty : {{ product.qty }})</p>
                                          </div>
                                        </li>
                                      </ng-container>
                                    </ul>
                                </div>
                              </div>
                            </div>
                          </ng-container>
                        </ng-container>
                        <ng-container *ngIf="item.PlanCountry && item.PlanCountry.planTrialProducts && item.PlanCountry.planTrialProducts.length !== 0">
                          <div class="card deliver-times mb-2" *ngFor="let order of item.orders; let time = index">
                            <div class="card-header">
                              <strong>
                                  Deliver Times: {{(time + 1)}}  (Status: {{order.states}})
                              </strong>
                              <span data-toggle="collapse" aria-expanded="true" [attr.data-target]="'#deliver-id-' + (time + 1) + '-' + item.id" class="fa btn-collapse"></span>
                            </div>
                            <div id="deliver-id-{{(time + 1) + '-' + item.id}}" class="collapse show">
                              <label class="col-sm-12 control-label small" for="label-price-group"><strong>Deliver Date: {{ order.createdAt | date:"dd/MM/yyyy" }} </strong></label>
                              <div class="card-block" *ngIf="(time + 1) === 1">
                                  <ul class="list-group">
                                      <ng-container *ngIf="item.PlanCountry && item.PlanCountry.planTrialProducts && item.PlanCountry.planTrialProducts.length > 0">
                                        <li class="list-group-item" *ngFor="let product of item.PlanCountry.planTrialProducts">
                                          <a class="d-inline-block">
                                            <display-image [images]="product.ProductCountry.Product.productImages" [class]="'planDetails-photo'"></display-image>
                                          </a>
                                          <div class="d-inline-block ml-2">
                                            <p class="title">{{ product.ProductCountry.Product.productTranslate | translatePipe:'name' }}  ({{product.ProductCountry.Product.sku}}) </p>
                                          </div>
                                          <div class="d-inline-block ml-2">
                                            <p>(Qty : {{ product.qty }})</p>
                                          </div>
                                        </li>
                                      </ng-container>
                                  </ul>
                              </div>
                              <div class="card-block" *ngIf="(time + 1) !== 1">
                                <ul class="list-group">
                                  <li class="list-group-item" *ngFor="let detail of order.orderDetail">
                                      <a class="d-inline-block">
                                        <display-image [images]="detail.ProductCountry.Product.productImages" [class]="'planDetails-photo'"></display-image>
                                      </a>
                                      <div class="d-inline-block ml-2">
                                        <p class="title">{{ detail.ProductCountry.Product.productTranslate | translatePipe:'name' }}</p>
                                      </div>
                                      <div class="d-inline-block ml-2">
                                        <p>(Qty : {{ detail.qty }})</p>
                                      </div>
                                  </li>
                                </ul>
                              </div>
                              <!-- <div class="card-block" *ngIf="(time + 1) !== 1 && !item.PlanOption">
                                <ul class="list-group">
                                  <li class="list-group-item" *ngFor="let product of item.PlanCountry.planDetails">
                                      <a class="d-inline-block">
                                        <display-image [images]="product.ProductCountry.Product.productImages" [class]="'planDetails-photo'"></display-image>
                                      </a>
                                      <div class="d-inline-block ml-2">
                                        <p class="title">{{ product.ProductCountry.Product.productTranslate | translatePipe:'name' }} ({{product.ProductCountry.Product.sku}})</p>
                                      </div>
                                      <div class="d-inline-block ml-2">
                                        <p>(Qty : {{ (product.deliverPlan | jsonPipe: 1) * item.qty }})</p>
                                      </div>
                                  </li>
                                </ul>
                              </div>
                              <div class="card-block" *ngIf="(time + 1) !== 1 && item.PlanOption">
                                <ul class="list-group">
                                  <li class="list-group-item" *ngFor="let product of item.PlanOption.planOptionProducts">
                                      <a class="d-inline-block">
                                        <display-image [images]="product.ProductCountry.Product.productImages" [class]="'planDetails-photo'"></display-image>
                                      </a>
                                      <div class="d-inline-block ml-2">
                                        <p class="title">{{ product.ProductCountry.Product.productTranslate | translatePipe:'name' }}</p>
                                      </div>
                                      <div class="d-inline-block ml-2">
                                        <p>(Qty : {{ product.qty }})</p>
                                      </div>
                                  </li>
                                </ul>
                              </div> -->
                            </div>
                          </div>
                        </ng-container>

                        <ng-container *ngIf="item.CustomPlan">
                            <div class="card deliver-times mb-2" *ngFor="let order of item.orders; let time = index">
                              <div class="card-header">
                                <strong>
                                    Deliver Times: {{(time + 1)}}  (Status: {{order.states}})
                                </strong>
                                <span data-toggle="collapse" aria-expanded="true" [attr.data-target]="'#deliver-id-' + (time + 1) + '-' + item.id" class="fa btn-collapse"></span>
                              </div>
                              <div id="deliver-id-{{(time + 1) + '-' + item.id}}" class="collapse show">
                                <label class="col-sm-12 control-label small" for="label-price-group"><strong>Deliver Date: {{ order.createdAt | date:"dd/MM/yyyy" }} </strong></label>
                                <div class="card-block" *ngIf="(time + 1) === 1">
                                    <ul class="list-group">
                                        <!-- <ng-container *ngIf="item.PlanCountry && item.PlanCountry.planTrialProducts && item.PlanCountry.planTrialProducts.length > 0"> -->
                                          <li class="list-group-item" *ngFor="let product of item.CustomPlan.customPlanDetail">
                                            <a class="d-inline-block">
                                              <display-image [images]="product.ProductCountry.Product.productImages" [class]="'planDetails-photo'"></display-image>
                                            </a>
                                            <div class="d-inline-block ml-2">
                                              <p class="title">{{ product.ProductCountry.Product.productTranslate | translatePipe:'name' }}</p>
                                            </div>
                                            <div class="d-inline-block ml-2">
                                              <p>(Qty : {{ product.qty }})</p>
                                            </div>
                                          </li>
                                        <!-- </ng-container> -->
                                    </ul>
                                </div>
                                <div class="card-block" *ngIf="(time + 1) !== 1">
                                  <ul class="list-group">
                                    <li class="list-group-item" *ngFor="let detail of order.orderDetail">
                                        <a class="d-inline-block">
                                          <display-image [images]="detail.ProductCountry.Product.productImages" [class]="'planDetails-photo'"></display-image>
                                        </a>
                                        <div class="d-inline-block ml-2">
                                          <p class="title">{{ detail.ProductCountry.Product.productTranslate | translatePipe:'name' }}</p>
                                        </div>
                                        <div class="d-inline-block ml-2">
                                          <p>(Qty : {{ detail.qty }})</p>
                                        </div>
                                    </li>
                                  </ul>
                                </div>
                                <!-- <div class="card-block" *ngIf="(time + 1) !== 1">
                                  <ul class="list-group">
                                    <li class="list-group-item" *ngFor="let product of item.CustomPlan.customPlanDetail">
                                        <a class="d-inline-block">
                                          <display-image [images]="product.ProductCountry.Product.productImages" [class]="'planDetails-photo'"></display-image>
                                        </a>
                                        <div class="d-inline-block ml-2">
                                          <p class="title">{{ product.ProductCountry.Product.productTranslate | translatePipe:'name' }}</p>
                                        </div>
                                        <div class="d-inline-block ml-2">
                                          <p>(Qty : {{ product.qty }})</p>
                                        </div>
                                    </li>
                                  </ul>
                                </div> -->
                              </div>
                            </div>
                          </ng-container>
                        <!--/.deliver-times-->
                      </div>
                      
                    </div>
                  </div>
                  <!--/.card-->
                </div>
                <!--/.subscription-list-->
              </div>
              <div class="row mx-0">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end col-md-12 -->
</div>

<!-- Cancel reason modal -->
<edit-subscribers-modal [title] ="cancelModalTitle" (hasChange)="cancelSubsModal($event)"></edit-subscribers-modal>
<!-- /Cancel reason modal -->
