<nav class="navbar navbar-top navbar-toggleable-md navbar-light fixed-top">
  <div class="nav-top-inner">
    <div id="menu-header">
      <!--<button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#bd-main-nav" aria-controls="bd-main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>-->
      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="top-logo" [ngClass]="smallLogo"><a [routerLink]="['/']"><img src="/assets/images/logo-mobile.svg" alt="logo Shaves2u"></a></div>
      <div class="collapse navbar-collapse" aria-expanded="false" id="navbarCollapse">
        <ul class="navbar-nav mr-auto navbar-left">
          <!-- <li class="nav-item active"><a class="nav-link" [routerLink]="['products']"><span class="text">{{'menu.products' | translate }}</span></a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['subscriptions']"><span class="text">{{ 'menu.subscriptions' | translate }}</span></a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['articles']"><span class="text">{{ 'menu.articles' | translate }}</span></a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- <li class="nav-item btn-group">
            <a data-target="" href="" data-toggle="dropdown" class="dropdown-toggle"><span class="text text-uppercase">{{ 'menu.support' | translate }}</span></a>
            <ul class="dropdown-menu text-upercase">
              <li><a class="dropdown-item" [routerLink]="['faq']">{{ 'menu.faq' | translate }}</a></li>
              <li><a class="dropdown-item" [routerLink]="['track-order']">{{ 'menu.trackOrder' | translate }}</a></li>
            </ul>
          </li> -->
          <li class="nav-item"><button class="btn btn-default shave2u-btn-default" (click)="redirectToLoginPage()" *ngIf="!(getLoggedIn() | async)"><i class="fa fa-user btn-icon"></i><span class="text">{{ 'menu.login' | translate }}</span></button></li>
          <!-- <li class="nav-item"><a class="nav-link" (click)="openModal('register-modal');" *ngIf="!(getLoggedIn() | async)"><span class="text">{{ 'menu.register' | translate }}</span></a></li> -->
          <!--<li><a *ngIf="(getLoggedIn() | async)" (click)="logout()">{{ 'menu.logout' | translate }}</a></li>-->
          <li class="dropdown profile-box" *ngIf="(getLoggedIn() | async)">
            <a href="" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <span class="glyphicon glyphicon-user"></span> 
              <strong>{{ storage.getCurrentUserItem().firstName }}  {{storage.getCurrentUserItem().name }}</strong>
              <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="navbar-user">
                  <div class="row">
                    <div class="col-lg-12">
                      <p class="text-left">
                        <strong>{{ storage.getCurrentUserItem().firstName }}  {{storage.getCurrentUserItem().lastName }}</strong>
                      </p>
                      <!-- <p class="text-left">
                        <a href="#" class="">Premium member</a>
                      </p> -->
                    </div>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <ul class="list-group">
                  <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a [routerLink]="['/user/subscriptions']">Subscriprions</a>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a [routerLink]="['/user/orders']">Orders</a>
                  </li> -->

                  <li class="list-group-item d-flex justify-content-between align-items-center" *ngIf="!hasDenied">
                    <a [routerLink]="['/settings']">Settings</a>
                  </li>
                </ul>
              </li>
              <li>
                <div class="navbar-login navbar-user-session">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        <a (click)="logout($event)" class="btn btn-danger btn-block">Sign Out</a>
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <!-- <li class="nav-item btn-group shoping-cart">
            <a id="cart" class="nav-link shoping-cart-inner" data-toggle="dropdown">
              <i class="ico fa fa-shopping-cart ico-shopping-cart"></i>
               <sup *ngIf="cartItem && cartItem.length > 0"></sup>
            </a>
            <ul id="app-shopping-cart" class="dropdown-menu"></ul>
          </li>
          <li class="nav-item btn-group">
            <i class="ico country"></i>
            <a data-target="" href="" data-toggle="dropdown" class="dropdown-toggle"><span class="text">{{currentCountry.name}}</span></a>
            <ul class="dropdown-menu">
              <li *ngFor="let country of countries" (click)="changeCountry($event, country)"><a class="dropdown-item" href="">{{country.name}}</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="clear-fixed"></div>
