nav {
  &.navbar-top {
    background-color: #FFF;
    border-color: #e7e7e7;
    min-height: 55px;
    cursor: pointer;
    padding: 0;
    font-family: 'Roboto-bold';
    font-size: 18px;
		height: 80px;
    box-shadow: 0 2px 12px 0 #dfe3eb;
  }
  .text-upercase {
    text-transform: uppercase;
  }
    .nav-top-inner {
    // max-width: 1280px;
    width: 100%;
    padding: 15px 55px 5px;
    min-height: 80px;
    margin: auto;
    position: relative;
    .top-logo {
      position: absolute;
      z-index: 9;
      margin: auto;
      left: 50%;
      right: 50%;
      top: 10px;
      img {
        margin-left: -55px;
        width: 120px;
        height: 120px;
      }
      &.small-logo {
        // This class useful for sub page.
        top: -10px;
        img {
          width: 70px;
          height: 70px;
          margin-left: -35px;
        }
      }
    }
    .navbar-left {
      .nav-link {
        padding: 0 50px 0 0;
        text-transform: uppercase;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .navbar-right {
      .nav-item {
        margin: 0 10px;
      }
      .nav-link {
        padding: 0 10px 0 0;
		    margin-bottom: 5px;
		    margin-right: 0;
      }
    }
    .nav-link, .link-inner {
      color: #000;
      .text {
        height: 50px;
        display: table-cell;
        vertical-align: middle;
      }
    }
    .dropdown-toggle {
      margin: 15px 0 20px;
      &:after {
        background-image: url('/assets/images/dropdow-arrow.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 10px;
        height: 6px;
        border: none;
        position: relative;
        top: -1px;
      }
    }
    .shoping-cart-inner {
      position: relative;
      &:hover{
        .plug-item{
          -webkit-transition: all .5s;
          transition: all .5s;
          transform: scale(1.2);
          -webkit-transform: scale(1.2);
        }
      }
      .ico-shopping-cart {
        font-size: 36px;
        line-height: 46px;
      }
      sup {
        min-height: 8px;
        min-width: 8px;
        vertical-align: 15px;
        border-radius: 50%;
        background-color: #ff0000;
        display: inline-block;
        top: -4px;
        left: -7px;
      }
    }
    .select-custom {
      border: none;
      outline: none;
    }
    .btn {
      height: 40px;
      margin-top: 5px;
      border-radius: 5px;
      &.shave2u-btn-default {
        background-color: #FFF;
        color: #000;
        border: 1px solid #000;
        font-size: 16px;
        text-transform: none;
      }
      .btn-icon {
        margin-right: 12px;
      }
    }
    .ico {
      &.country {
        width: 14px;
        height: 92%;
        padding: 10px;
        background-image: url("/assets/images/ico-country.png");
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
      }
    }
  }
	.nav-link {
		color: #000;
	}
	.navbar-brand {
		position: absolute;
		width: 100%;
		left: 0;
		text-align: center;
		margin: 0 auto;
		z-index: -1;
	}
	.navbar-toggler {
		color: black;
		&:focus {
				outline: none;
		}
	}
}

#menu-header {
	position: relative;
	.navbar-right {
		.badge {
			background-color: #f70000;
		}
		#cart {
			cursor: pointer
		}
		.profile-box {
			.dropdown-menu {
        margin-left: -165px;
				.divider {
					height: 1px;
					margin: 9px 0;
					overflow: hidden;
					background-color: #e5e5e5;
				}
			}
			p {
				margin: 0 0 5px;
			}
			.navbar-user {
				width: 305px;
				padding: 10px;
				padding-bottom: 0px;
				.user-avatar {
						max-width: 70px;
				}
			}
			.navbar-user-session {
				padding: 10px;
				padding-bottom: 0px;
				padding-top: 0px;
			}
			.icon-size {
				font-size: 87px;
			}
			.list-group {
				.list-group-item {
					border: none;
					padding: 5px 15px;
				}
			}
		}
  }
  .navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0 auto;
    z-index: -1;
  }
  .navbar-toggler {
    color: black;
    &:focus {
      outline: none;
    }
  }
  .shoping-cart {
    ul {
      padding: 0;
      border: 0;
      margin: 0;
    }
  }
}

.clear-fixed {
	height: 80px;
}
