nav.navbar-top {
  background-color: #FFF;
  border-color: #e7e7e7;
  min-height: 55px;
  cursor: pointer;
  padding: 0;
  font-family: 'Roboto-bold';
  font-size: 18px;
}

nav .text-upercase {
  text-transform: uppercase;
}

nav .nav-top-inner {
  width: 100%;
  padding: 15px 55px 5px;
  min-height: 80px;
  margin: auto;
  position: relative;
}

nav .nav-top-inner .top-logo {
  position: absolute;
  z-index: 9;
  margin: auto;
  left: 50%;
  right: 50%;
  top: 10px;
}

nav .nav-top-inner .top-logo img {
  margin-left: -55px;
}

nav .nav-top-inner .top-logo.small-logo {
  top: -10px;
}

nav .nav-top-inner .top-logo.small-logo img {
  width: 70px;
  height: 70px;
  margin-left: -35px;
}

nav .nav-top-inner .navbar-left .nav-link {
  padding: 0 50px 0 0;
  text-transform: uppercase;
}

nav .nav-top-inner .navbar-left .nav-link:hover {
  text-decoration: underline;
}

nav .nav-top-inner .navbar-right .nav-item {
  margin: 0 10px;
}

nav .nav-top-inner .navbar-right .nav-link {
  padding: 0 10px 0 0;
}

nav .nav-top-inner .nav-link, nav .nav-top-inner .link-inner {
  color: #000;
}

nav .nav-top-inner .nav-link .text, nav .nav-top-inner .link-inner .text {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}

nav .nav-top-inner .dropdown-toggle {
  margin: 15px 0 20px;
}

nav .nav-top-inner .dropdown-toggle:after {
  background-image: url("/assets/images/dropdow-arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 6px;
  border: none;
  position: relative;
  top: -1px;
}

nav .nav-top-inner .shoping-cart-inner {
  position: relative;
}

nav .nav-top-inner .shoping-cart-inner .ico-shopping-cart {
  font-size: 36px;
  line-height: 46px;
}

nav .nav-top-inner .shoping-cart-inner sup {
  min-height: 8px;
  min-width: 8px;
  vertical-align: 15px;
  border-radius: 50%;
  background-color: #ff0000;
  display: inline-block;
  top: -4px;
  left: -7px;
}

nav .nav-top-inner .select-custom {
  border: none;
  outline: none;
}

nav .nav-top-inner .btn {
  height: 40px;
  margin-top: 5px;
  border-radius: 5px;
}

nav .nav-top-inner .btn.shave2u-btn-default {
  background-color: #FFF;
  color: #000;
  border: 1px solid #000;
  font-size: 16px;
  text-transform: none;
}

nav .nav-top-inner .btn .btn-icon {
  margin-right: 12px;
}

nav .nav-top-inner .ico.country {
  width: 14px;
  height: 92%;
  padding: 10px;
  background-image: url("/assets/images/ico-country.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

nav .nav-link {
  color: #000;
}

nav .navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: 0 auto;
  z-index: -1;
}

nav .navbar-toggler {
  color: black;
}

nav .navbar-toggler:focus {
  outline: none;
}

#menu-header {
  position: relative;
}

#menu-header .navbar-right .badge {
  background-color: #f70000;
}

#menu-header .navbar-right #cart {
  cursor: pointer;
}

#menu-header .navbar-right .profile-box .dropdown-menu {
  margin-left: -150px;
}

#menu-header .navbar-right .profile-box .dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

#menu-header .navbar-right .profile-box p {
  margin: 0 0 5px;
}

#menu-header .navbar-right .profile-box .navbar-user {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

#menu-header .navbar-right .profile-box .navbar-user .user-avatar {
  max-width: 70px;
}

#menu-header .navbar-right .profile-box .navbar-user-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

#menu-header .navbar-right .profile-box .icon-size {
  font-size: 87px;
}

#menu-header .navbar-right .profile-box .list-group .list-group-item {
  border: none;
  padding: 5px 15px;
}

#menu-header .navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: 0 auto;
  z-index: -1;
}

#menu-header .navbar-toggler {
  color: black;
}

#menu-header .navbar-toggler:focus {
  outline: none;
}

#menu-header .shoping-cart ul {
  padding: 0;
  border: 0;
  margin: 0;
}
