<div [@slideInOutCheckoutAnimation] class="account">
    <!-- input email form-->
  <div class="row sign-in">
    <!-- <div class="col-md-12 col-lg-12">
      <h2 class="text-center title">{{ 'lbl.checkout.step_account.account' | translate }}</h2>
    </div> -->
 
    <!-- Sign In -->
    <div class="col-md-12 col-lg-12 block-right" *ngIf="stage === 'signin'">
      <div class="block-signin-signup">
        <!-- <div class="col-md-12 col-lg-12"> -->
          <!-- <h2 class="text-center title">{{ 'lbl.checkout.step_account.account' | translate }}</h2> -->
        <h2 class="text-left title pr-md-0">{{ 'lbl.login.email_form.signin' | translate }}</h2>
        <!-- </div> -->
        <form [formGroup]="loginForm" novalidate #f="ngForm" (ngSubmit)="loginForm.valid && doLogin()" #nativeForm>
          <!-- <h3>{{ 'lbl.checkout.step_account.signin' | translate }}</h3> -->

          <div class="form-group signin-form-group" [ngClass]="f.submitted && (loginForm.hasError('required', 'email') || loginForm.hasError('pattern', 'email')) ? 'has-danger' : 'correctInput'">
            <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> -->
            <!-- <div class="text-left ">{{ 'lbl.checkout.step_account.sign_in.email' | translate }}</div> -->
            <input placeholder="{{ 'lbl.login.signup_form.placehdr_email' | translate }}" formControlName="email" name="email" type="email" class="form-control" pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$'>
            <span class="help-block text-danger" *ngIf="f.submitted && loginForm.hasError('required', 'email')">
              {{ 'msg.validation.required' | translate:{value: ( 'msg.field.email' | translate)} }}
            </span>
            <span class="help-block text-danger" *ngIf="f.submitted && loginForm.hasError('pattern', 'email')">
              {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.email_address' | translate) } }}
            </span>
          </div>

          <div class="signin-signup-radio">
            <div class="form-check form-account mt-4">
              <label class="form-check-label radio-button-group">
                <input class="form-check-input mr-2" type="radio" id="signUpRadio" value="signup" name="signInUp" (click)="changeSignInUp('signup');" [checked]="stage === 'signup'">
                <span class="checkmark"></span>
                <label class="text" (click)="changeSignInUp('signup');">{{ 'lbl.login.email_form.new_customer' | translate }}</label>
              </label>
            </div>
            <div class="form-check form-account">
              <label class="form-check-label active radio-button-group">
                <input class="form-check-input mr-2" type="radio" id="signInRadio" value="signin" name="signInUp" (click)="changeSignInUp('signin');" [checked]="stage === 'signin'" #signinRadio>
                <span class="checkmark"></span>
                <label class="text" (click)="changeSignInUp('signin');">{{ 'lbl.login.email_form.return_customer' | translate }}</label>
                <!-- <label>{{ 'lbl.login.email_form.login' | translate }}</label> -->
              </label>
            </div>
          </div>

          <div class="form-group signin-form-group" [ngClass]="(f.submitted && (loginForm.hasError('required', 'password') || loginForm.hasError('pattern', 'password') || (resError && resError.message.indexOf('password') !== -1)))
          || (loginForm.controls.password.errors && loginForm.controls.password.errors.validatePassword) ? 'has-danger' : ''">
            <!-- <div class="text-left">{{ 'lbl.checkout.step_account.sign_in.password' | translate }}</div> -->
            <input formControlName="password" type="password" class="form-control re-enter-password"
              idShowHints="hints-input-password-signin" placeholder="{{ 'lbl.checkout.step_account.sign_in.password' | translate }}">
            <!-- <p class="desc-input">{{ 'lbl.login.email_form.minimum_char' | translate }}</p> -->
            <div class="hints-password">
              <a class="heading" *ngIf="loginForm.controls.password.errors && loginForm.controls.password.errors.validatePassword">
                <i class="fa fa-lock" aria-hidden="true"></i><span>{{ 'lbl.login.password_form.hints_heading' | translate}}</span>
              </a>
              <ul class="list-group" id="hints-input-password-signin"></ul>
            </div>
            <span class="help-block text-danger" *ngIf="f.submitted && loginForm.hasError('required', 'password')">
              {{ 'msg.validation.required' | translate:{value: ( 'msg.field.password' | translate)} }}
            </span>
          </div>
          <app-alert [message]="resError"></app-alert>
          <div class="group-button">
            <div class="text-center mb-3">
              <button type="submit" class="btn btn-primary shave2u-btn-primary">{{ 'lbl.login.email_form.signin' | translate }}</button>
            </div>
            <p class="text-center small-text custom-control-description" *ngIf="this.storage.getLanguageCode() === 'EN'">
              {{ 'lbl.login.signup_form.note_content' | translate }} <a routerLink="/terms-conditions" class="link-text-underline">{{ 'lbl.login.signup_form.note_content_terms' | translate }}</a> {{ 'lbl.login.signup_form.note_content_and' | translate }} <a routerLink="/privacy-policy" class="link-text-underline">{{ 'lbl.login.signup_form.note_content_policy' | translate }}</a>
            </p>
            <p class="text-center small-text custom-control-description" *ngIf="this.storage.getLanguageCode() === 'KO'">
              {{ 'lbl.login.signup_form.note_content' | translate }} <a routerLink="/terms-conditions" class="link-text-underline">{{ 'lbl.login.signup_form.note_content_terms' | translate }}</a> {{ 'lbl.login.signup_form.note_content_and' | translate }} <a routerLink="/privacy-policy" class="link-text-underline">{{ 'lbl.login.signup_form.note_content_policy' | translate }}</a>{{ 'lbl.login.signup_form.note_content_end' | translate }}
            </p>
            <div class="text-center mb-3">
              <button class="btn btn-block btn-social btn-facebook small-text" (click)="facebookLogin(); $event.preventDefault()">
                <i class="ico-facebook fa fa-facebook-official"></i><span class="text">{{ 'lbl.login.email_form.signin_facebook' | translate }}</span>
              </button>
            </div>
            <p class="note-fb text-center small-text custom-control-description">
              <strong>{{ 'lbl.login.email_form.note' | translate }}</strong> {{ 'lbl.login.email_form.note_content' | translate }}
            </p>
          </div>
          <p class="signin-forrget-pw text-center"><a href="#" class="forgot-pw" (click)="referForgotPassword(); $event.preventDefault()">{{ 'lbl.login.password_form.forgot_pw' | translate }}</a></p>
        </form>
      </div>
    </div>

    <!-- Sign Up -->
    <div class="col-md-12 col-lg-12 block-right" *ngIf="stage === 'signup'" #nativeSignupForm>
      <div class="block-signin-signup">
        <!-- <h1 class="text-left standard-seo pr-md-0">{{ 'lbl.login.email_form.login_create_account' | translate }}</h1>         -->
        <h2 class="text-left title pr-md-0">{{ 'lbl.login.email_form.create_account' | translate }}</h2>
        <form class="form-sign-up" [formGroup]="signUpForm" novalidate #f="ngForm" (ngSubmit)="signUpForm.valid && doSignup(signUpForm.value)">
          
          <div class="form-group signin-form-group" [ngClass]="f.submitted && (signUpForm.hasError('required', 'email') || signUpForm.hasError('pattern', 'email')) ? 'has-danger' : ''">
            <input type="email" class="form-control" formControlName="email" pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$' placeholder="{{ 'lbl.login.signup_form.placehdr_email' | translate }}">
            <span class="form-control-feedback" *ngIf="f.submitted && signUpForm.hasError('required', 'email')">
              {{ 'msg.validation.required' | translate:{value: ( 'msg.field.email' | translate)} }}
            </span>
            <span class="form-control-feedback" *ngIf="f.submitted && signUpForm.hasError('pattern', 'email')">
              {{ 'msg.validation.email' | translate }}
            </span>
          </div>

          <div class="signin-signup-radio">
            <div class="form-check form-account">
              <label class="form-check-label active radio-button-group">
                <input class="form-check-input mr-2" type="radio" id="signUpRadio" value="signup" name="signInUp" (click)="changeSignInUp('signup');" [checked]="stage === 'signup'">
                <span class="checkmark"></span>
                <label (click)="changeSignInUp('signup');">{{ 'lbl.login.email_form.new_customer' | translate }}</label>
                <p class="note-input">{{ 'lbl.login.signup_form.new_customer_note' | translate }}</p>
              </label>
            </div>
            <div class="form-check form-account">
              <label class="form-check-label radio-button-group">
                <input class="form-check-input mr-2" type="radio" id="signInRadio" value="signin" name="signInUp" (click)="changeSignInUp('signin');" [checked]="stage === 'signin'">
                <span class="checkmark"></span>
                <label (click)="changeSignInUp('signin');">{{ 'lbl.login.email_form.return_customer' | translate }}</label>
              </label>
            </div>
          </div>
            <!-- Email -->
            <!-- <div class="row custom-gutters">

              <div class="col-md-12" [ngClass]="f.submitted && (signUpForm.hasError('required', 'email') || signUpForm.hasError('pattern', 'email')) ? 'has-danger' : ''">
                <div class="form-group">
                  <label for="email">{{ 'lbl.login.email_form.email' | translate }}</label>
                  <div class="input-group form-group">
                    <input id="email" type="email" class="form-control" formControlName="email" pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$' placeholder="{{ 'lbl.login.signup_form.placehdr_email' | translate }}">
                    <span class="icon" [ngClass]="f.submitted ? 'show' : ''"></span>
                  </div>
                  <span class="form-control-feedback" *ngIf="f.submitted && signUpForm.hasError('required', 'email')">
                    {{ 'msg.validation.required' | translate:{value: ( 'msg.field.email' | translate)} }}
                  </span>
                  <span class="form-control-feedback" *ngIf="f.submitted && signUpForm.hasError('pattern', 'email')">
                    {{ 'msg.validation.email' | translate }}
                  </span>
                </div>
              </div>
            </div> -->

            <!-- <div class="row custom-gutters">
              <div class="col-md-6 pr-md-0" [ngClass]="f.submitted && (signUpForm.hasError('required', 'firstName')) ? 'has-danger' : ''">
                <div class="form-group">
                  <label for="firstName">{{ 'lbl.login.signup_form.name' | translate }}</label>
                  <input id="firstName" type="text" class="form-control" formControlName="firstName" placeholder="{{ 'lbl.login.signup_form.placehdr_first_nm' | translate }}">
                  <span class="form-control-feedback" *ngIf="f.submitted && signUpForm.hasError('required', 'firstName')">
                    {{ 'msg.validation.required' | translate:{value: 'First Name'} }}
                  </span>
                </div>
              </div>
              <div class="col-md-6 pl-md-0" [ngClass]="f.submitted && (signUpForm.hasError('required', 'lastName')) ? 'has-danger' : ''">
                <div class="form-group">
                  <label for="lastName">&nbsp;</label>
                  <input id="lastName" name="lastName" type="text" class="form-control" formControlName="lastName" placeholder="{{ 'lbl.login.signup_form.placehdr_last_nm' | translate }}">
                  <span class="form-control-feedback" *ngIf="f.submitted && signUpForm.hasError('required', 'lastName')">
                    {{ 'msg.validation.required' | translate:{value: 'Last Name'} }}
                  </span>
                </div>
              </div>
            </div> -->

            <!-- <div class="row custom-gutters"> -->
              <div class="form-group signin-form-group" [ngClass]="(f.submitted && signUpForm.hasError('required', 'password')) || (signUpForm.controls.password.errors && signUpForm.controls.password.errors.validatePassword) ? 'has-danger' : ''">
                <!-- <div class="form-group"> -->
                  <!-- <label for="password">{{ 'lbl.login.signup_form.password' | translate }}</label> -->
                  <input id="password" name="password" type="password" class="form-control"
                    formControlName="password" reverse="true"
                    idShowHints="hints-input-password" validatePassword placeholder="{{ 'lbl.login.signup_form.placehdr_new_pw' | translate }}">
                  <!-- <p class="desc-input">{{ 'lbl.login.email_form.minimum_char' | translate }}</p> -->
                  <div class="hints-password">
                    <a class="heading" *ngIf="signUpForm.controls.password.errors && signUpForm.controls.password.errors.validatePassword">
                      <i class="fa fa-lock" aria-hidden="true"></i><span>{{ 'lbl.login.password_form.hints_heading' | translate}}</span>
                    </a>
                    <ul class="list-group" id="hints-input-password"></ul>
                  </div>
                  <span class="form-control-feedback" *ngIf="f.submitted && signUpForm.hasError('required', 'password')">
                      {{ 'msg.validation.required' | translate:{value: ( 'msg.field.password' | translate)} }}
                  </span>
                <!-- </div> -->
              </div>
              <!-- <div class="col-md-12 pl-md-0 show-on-web hidden" [ngClass]="(!signUpForm.controls.confirmPassword.valid && f.submitted) || (signUpForm.controls.confirmPassword.errors && signUpForm.controls.confirmPassword.errors.validatePassword) ? 'has-danger' : ''">
                <div class="form-group">
                  <input id="confirmPassword" name="confirmPassword" type="password" class="form-control"
                    formControlName="confirmPassword" validateEqual="password" reverse="false"
                    idShowHints="hints-input-confirmPassword" validatePassword placeholder="{{ 'lbl.login.signup_form.placehdr_re_enter_pw' | translate }}">
                  <span class="form-control-feedback" *ngIf="!signUpForm.controls.confirmPassword.valid && f.submitted">
                      {{ 'msg.validation.password_not_match' | translate }}
                  </span>
                </div>
              </div> -->

              <!-- <div class="hints-password col-md-12">
                <a class="heading" *ngIf="signUpForm.controls.password.errors && signUpForm.controls.password.errors.validatePassword">
                  <i class="fa fa-lock" aria-hidden="true"></i><span>{{ 'lbl.login.password_form.hints_heading' | translate}}</span>
                </a>
                <ul class="list-group" id="hints-input-password"></ul>
              </div> -->

              <!-- <div class="col-md-6 pl-md-0 show-on-mobile" [ngClass]="(!signUpForm.controls.confirmPassword.valid && f.submitted) || (signUpForm.controls.confirmPassword.errors && signUpForm.controls.confirmPassword.errors.validatePassword) ? 'has-danger' : ''">
                <div class="form-group">
                  <label>&nbsp;</label>
                  <input id="confirmPassword" name="confirmPassword" type="password" class="form-control"
                    formControlName="confirmPassword" validateEqual="password" reverse="false"
                    idShowHints="hints-input-confirmPassword" validatePassword placeholder="{{ 'lbl.login.signup_form.placehdr_re_enter_pw' | translate }}">
                  <span class="form-control-feedback" *ngIf="!signUpForm.controls.confirmPassword.valid && f.submitted">
                      {{ 'msg.validation.password_not_match' | translate }}
                  </span>
                </div>
              </div> -->

              <!--<div class="hints-password col-md-12">
                <a class="heading" *ngIf="(signUpForm.controls.password.errors && signUpForm.controls.password.errors.validatePassword) || (signUpForm.controls.confirmPassword.errors && signUpForm.controls.confirmPassword.errors.validatePassword)">
                  <i class="fa fa-lock" aria-hidden="true"></i><span>{{ 'lbl.login.password_form.hints_heading' | translate}}</span>
                </a>
                <ul class="list-group" id="hints-input-password"></ul>
                <ul class="list-group" id="hints-input-confirmPassword"*ngIf="(!signUpForm.controls.password.errors) && signUpForm.controls.confirmPassword.errors"></ul>
              </div>-->
            <!-- </div> -->
            <div class="row text-center mb-3 mt-3">
              <!-- <div class="col">
                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                  <input type="checkbox" class="custom-control-input" checked formControlName="hasReceiveOffer">
                  <span class="shave2u-custom-control-indicator custom-control-indicator"></span>
                  <span class="custom-control-description small-text link-text">{{ 'lbl.login.signup_form.offers' | translate }}</span>
                </label>
              </div> -->
            </div>
            <div class="group-button">
              <div class="text-center mb-3">
                <app-alert [message]="resError"></app-alert>
                <button type="submit" class="btn btn-primary shave2u-btn-primary">{{ 'lbl.login.signup_form.create_account' | translate }}</button>
              </div>
              <p class="text-center small-text custom-control-description" *ngIf="this.storage.getLanguageCode() === 'EN'">
                {{ 'lbl.login.signup_form.note_content' | translate }} <a routerLink="/terms-conditions" class="link-text-underline">{{ 'lbl.login.signup_form.note_content_terms' | translate }}</a> {{ 'lbl.login.signup_form.note_content_and' | translate }} <a routerLink="/privacy-policy" class="link-text-underline">{{ 'lbl.login.signup_form.note_content_policy' | translate }}</a>
              </p>
              <p class="text-center small-text custom-control-description" *ngIf="this.storage.getLanguageCode() === 'KO'">
                {{ 'lbl.login.signup_form.note_content' | translate }} <a routerLink="/terms-conditions" class="link-text-underline">{{ 'lbl.login.signup_form.note_content_terms' | translate }}</a> {{ 'lbl.login.signup_form.note_content_and' | translate }} <a routerLink="/privacy-policy" class="link-text-underline">{{ 'lbl.login.signup_form.note_content_policy' | translate }}</a>{{ 'lbl.login.signup_form.note_content_end' | translate }}
              </p>
              <div class="text-center mb-3">
                <button class="btn btn-block btn-social btn-facebook small-text" (click)="facebookLogin(); $event.preventDefault()">
                  <i class="ico-facebook fa fa-facebook-official"></i><span class="text">{{ 'lbl.login.email_form.signin_facebook' | translate }}</span>
                </button>
              </div>
              <p class="note-fb text-center small-text custom-control-description">
                <strong>{{ 'lbl.login.email_form.note' | translate }}</strong> {{ 'lbl.login.email_form.note_content' | translate }}
              </p>
            </div>
            <p class="signin-forrget-pw text-center"><a href="#" class="forgot-pw" (click)="referForgotPassword(); $event.preventDefault()">{{ 'lbl.login.password_form.forgot_pw' | translate }}</a></p>
        </form>
      </div>
    </div>

    <!-- send Email -->
    <div class="col-md-12 col-lg-6 block-right" *ngIf="stage === 'sendEmail'">
      <div class="form-resend-email">
        <p class="text-center">{{ 'lbl.login.send_email.note_activelink' | translate: { email: activeEmail } }}</p>
        <p class="text-center small-text link-text mb-2">{{ 'lbl.checkout.sign_in.send_email_form.not_reveive_email' | translate }}</p>
        <p class="text-center mt-1"><button type="submit" class="btn btn-primary shave2u-btn-primary" (click)="sendEmailAgain()">{{ 'lbl.checkout.sign_in.send_email_form.btn_resend' | translate }}</button></p>
      </div>
    </div>

    <!-- ./forgot password-->
    <div class="col-md-12 col-lg-6 block-right block-forgot-pw" *ngIf="stage === 'forgotPassword_1'">
      <form class="forgot-password-form" [formGroup]="forgotPasswordForm" novalidate #f="ngForm" (ngSubmit)="forgotPassword()">
        <div class="forgot-pw-text">
          <h2>{{ 'lbl.login.forgot_password.title' | translate }}</h2>
          <p class="change-color">{{ 'lbl.login.forgot_password.description' | translate }}</p>
        </div>
        <div class="text-center" *ngIf="!isComfirmPassword" [ngClass]="f.submitted && (forgotPasswordForm.hasError('required', 'email') || forgotPasswordForm.hasError('pattern', 'email')) ? 'has-danger' : 'correctInput'">
          <!-- Email -->
          <div class="input-group form-group">
            <input formControlName="email" name="email" type="email" class="form-control" pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$' placeholder="{{'lbl.login.forgot_password.email' | translate}}">
            <span class="icon" [ngClass]="f.submitted ? 'show' : ''"></span>
          </div>
          <span class="form-control-feedback" *ngIf="f.submitted && forgotPasswordForm.hasError('required', 'email')">
            {{ 'msg.validation.required' | translate:{value: ( 'msg.field.email' | translate)} }}
          </span>
          <span class="form-control-feedback" *ngIf="f.submitted && forgotPasswordForm.hasError('pattern', 'email')">
            {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.email_address' | translate) } }}
          </span>

          <app-alert [message]="resError"></app-alert>
          <div class="text-center mb-3">
            <button type="submit" class="btn btn-primary shave2u-btn-primary">{{ 'lbl.login.resend_email.btn_submit' | translate }}</button>
          </div>
          <p class="text-center cus-mt"><a class="forgot-pw" (click)="referSignIn();">{{ 'lbl.login.forgot_password.back_signin' | translate }}</a></p>
        </div>
      </form>
    </div>

    <!-- ./resend activation to email-->
    <div class="no-gutters justify-content-center block-forgot-pw block-send-mail" *ngIf="stage === 'forgotPassword_2'">
      <div class="forgot-password-form send-mail">
        <div class="forgot-pw-text cus-mb">
          <h2 class="strong-7">{{ 'lbl.login.forgot_password.check_inbox' | translate }}</h2>
        </div>
        <!-- Email -->
        <div class="check-inbox-note">
          {{ 'lbl.login.resend_email.check_inbox_note' | translate }}
        </div>
        <p class="small-text cus-mt"><a class="forgot-pw" (click)="referSignIn();">{{ 'lbl.login.resend_email.back_signin' | translate }}</a></p>
      </div>
    </div>
  </div>
  <!-- ./input email form-->
  <!-- input password form-->
  <!-- <form class="login-form" [formGroup]="passwordForm" novalidate *ngIf="stage === 'password'" (ngSubmit)='passwordForm.valid && doLogin(passwordForm.value)'
    #f="ngForm">
    <div>
      <h5 class="text-center">{{ 'lbl.checkout.sign_in.password_form.welcome_back' | translate }} {{userName}}</h5>
      <p class="text-center"><strong>{{loginForm.get('email').value}}</strong></p>
      <p class="link-text text-center">{{ 'lbl.checkout.sign_in.password_form.not_you' | translate }} <a href="#" class="link-text-underline text-blue" (click)="changeEmail(); $event.preventDefault();">{{ 'lbl.checkout.sign_in.password_form.change_email' | translate }}</a></p>
    </div>
    <div class="form-group text-center" [ngClass]="f.submitted && (passwordForm.hasError('required', 'password') || passwordForm.hasError('pattern', 'password') || (resError && resError.message.indexOf('password') !== -1)) ? 'has-danger' : ''">
      <div class="text-center">{{ 'lbl.checkout.sign_in.password_form.password' | translate }}</div>
      <input formControlName="password" type="password" class="form-control re-enter-password" pattern="^(?=.*\d)(?=.*[a-zA-Z]).{6,}$"
      />
      <span class="help-block text-danger" *ngIf="f.submitted && passwordForm.hasError('required', 'password')">
        {{ 'msg.validation.required' | translate:{value: 'Password'} }}
      </span>
      <span class="help-block text-danger" *ngIf="f.submitted && passwordForm.hasError('pattern', 'password')">
        {{ 'msg.validation.password_format' | translate }}
      </span>
      <span class="help-block text-danger" *ngIf="f.submitted && resError && resError.message.indexOf('password') !== -1">
        {{ resError.message | translate }}
      </span>
      <p class="text-center"><a href="#" class="link-text-underline text-blue text-small text-link" (click)="forgotPassword(); $event.preventDefault()">{{ 'lbl.checkout.sign_in.password_form.forgot_pw' | translate }}</a></p>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary shave2u-btn-primary">{{ 'lbl.checkout.sign_in.password_form.btn_continue' | translate }}</button>
    </div>
  </form> -->
  <!-- ./input password form-->
  <!-- signup form -->
  <!-- <form class="form-sign-up" [formGroup]="signUpForm" novalidate #f="ngForm" (ngSubmit)="signUpForm.valid && doSignup(signUpForm.value)" *ngIf="stage === 'signup'">
    <div class="row">
      <div class="col-md-12">
        <h5 class="text-center">{{ 'lbl.checkout.sign_in.signup_form.welcome' | translate }}</h5>
        <h6 class="text-center">{{loginForm.get('email').value}}</h6>
        <p class="link-text text-center">{{ 'lbl.checkout.sign_in.signup_form.not_you' | translate }} <a href="#" class="link-text-underline text-blue" (click)="changeEmail(); $event.preventDefault();">{{ 'lbl.checkout.sign_in.signup_form.change_email' | translate }}</a></p>
      </div>
    </div>
    <div class="row custom-gutters">
      <div class="col-md-6">
        <div class="form-group">
          <label for="firstName">{{ 'lbl.checkout.sign_in.signup_form.first_nm' | translate }}</label>
          <input id="firstName" type="text" class="form-control" formControlName="firstName">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="lastName">{{ 'lbl.checkout.sign_in.signup_form.last_nm' | translate }}</label>
          <input id="lastName" type="text" class="form-control" formControlName="lastName">
        </div>
      </div>
    </div>
    <div class="row custom-gutters">
      <div class="col-md-6">
        <div class="form-group">
          <label for="firstName">{{ 'lbl.checkout.sign_in.signup_form.new_pw' | translate }}</label>
          <input id="password" type="password" class="form-control" name="password" formControlName="password"
            pattern="^(?=.*\d)(?=.*[a-zA-Z]).{6,}$" validateEqual="confirmPassword" reverse="true"/>
          <span class="text-danger" *ngIf="f.submitted && signUpForm.hasError('required', 'password')">
              {{ 'msg.validation.required' | translate:{value: 'Password'} }}
          </span>
          <span class="text-danger" *ngIf="f.submitted && signUpForm.hasError('pattern', 'password')">
              {{ 'msg.validation.password_format' | translate }}
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="lastName">{{ 'lbl.checkout.sign_in.signup_form.re_enter_pw' | translate }}</label>
          <input id="password" type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword"
            pattern="^(?=.*\d)(?=.*[a-zA-Z]).{6,}$" validateEqual="password" reverse="false"/>
          <span class="text-danger" *ngIf="!signUpForm.controls.confirmPassword.valid && f.submitted">
              {{ 'msg.validation.password_not_match' | translate }}
          </span>
        </div>
      </div>
    </div>
    <div class="row custom-gutters">
      <div class="col-6">
        <div class="form-group date-of-birth">
          <label for="day">{{ 'lbl.checkout.sign_in.signup_form.date_of_birth' | translate }}</label>
          <div class="row no-gutters">
            <div class="col-3 mr-2" [ngClass]="signUpForm.hasError('validateNumber','day') ? 'has-danger' : ''">
              <input type="text" id="day" class="form-control day" placeholder="DD" formControlName="day" inputNumber>
            </div>
            <div class="col-3 mr-2" [ngClass]="signUpForm.hasError('validateNumber','month') ? 'has-danger' : ''">
              <input type="text" id="month" class="month form-control" placeholder="MM" formControlName="month" inputNumber>
            </div>
            <div class="col" [ngClass]="signUpForm.hasError('validateNumber','year') ? 'has-danger' : ''">
              <input type="text" id="year" class="form-control" placeholder="YYYY" formControlName="year" inputNumber>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <p>{{ 'lbl.checkout.sign_in.signup_form.iam' | translate }}</p>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="gender" id="sex" value="male" formControlName="gender">
              {{ 'lbl.checkout.sign_in.signup_form.gender_male' | translate }}
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="gender" id="sex" value="female" formControlName="gender">
              {{ 'lbl.checkout.sign_in.signup_form.gender_female' | translate }}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center mt-3">
      <div class="col">
        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
          <input type="checkbox" class="custom-control-input" checked formControlName="hasReceiveOffer">
          <span class="shave2u-custom-control-indicator custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'lbl.checkout.sign_in.signup_form.offers' | translate }}</span>
        </label>
      </div>
    </div>
    <p class="text-center mt-3">
      <app-alert [message]="resError"></app-alert>
      <button type="submit" class="btn btn-primary shave2u-btn-primary">{{ 'lbl.checkout.sign_in.signup_form.btn_continue' | translate }}</button>
    </p>
  </form>
  <div class="form-sign-up" *ngIf="stage === 'signup' &&  !hasSubscription">
    <p class="text-center mt-3">
      {{ 'lbl.checkout.sign_in.signup_form.or' | translate }}
    </p>
    <p class="text-center mt-4">
      <button type="submit" class="btn btn-primary shave2u-btn-primary" (click)='goToStep2()'>{{ 'lbl.checkout.sign_in.signup_form.btn_checkout_guest' | translate }}</button>
    </p>
  </div> -->
  <!-- ./signup form -->
  <!-- resend activation to email-->
  <!-- <div *ngIf="stage === 'sendEmail'" class="form-resend-email">
    <p class="text-center">
      {{ 'lbl.checkout.sign_in.send_email_form.note_activelink' | translate }}<br>
      {{ 'lbl.checkout.sign_in.send_email_form.note_nextstep' | translate }}
    </p>
    <p class="text-center small-text link-text mb-2">{{ 'lbl.checkout.sign_in.send_email_form.not_reveive_email' | translate }}</p>
    <p class="text-center mt-1"><button type="submit" class="btn btn-primary shave2u-btn-primary" (click)="sendEmailAgain()">{{ 'lbl.checkout.sign_in.send_email_form.btn_resend' | translate }}</button></p>
  </div> -->
  <!-- ./resend activation to email-->
  <!-- congratulation to email-->
  <!-- <div *ngIf="stage === 'emailActive'" class="form-resend-email">
    <h5 class="text-center">{{ 'lbl.checkout.sign_in.email_active_form.congratulations' | translate }}<br>{{ 'lbl.checkout.sign_in.email_active_form.activated' | translate }}</h5>
    <p class="text-center mt-4"><button type="submit" class="btn btn-primary shave2u-btn-primary" (click)='goToStep2()'>{{ 'lbl.checkout.sign_in.email_active_form.btn_continue' | translate }}</button></p>
  </div> -->
  <!-- ./congratulation to email-->
  <!-- forgot password -->
  <!-- <div class="row justify-content-center" *ngIf="stage === 'forgotPassword'">
    <div class="col-md-6 login-inner">
      <h3 class="medium-text text-center">{{ 'lbl.checkout.sign_in.forgot_pw_form.reset_link' | translate }}</h3>
      <div class="text-center mb-3">
        <app-alert [message]="resError"></app-alert>
        <button type="submit" class="btn btn-primary shave2u-btn-primary" (click)="forgotPassword()" style="min-width: 232px;">{{ 'lbl.checkout.sign_in.forgot_pw_form.btn_continue' | translate }}</button>
      </div>
    </div>
  </div> -->
  <!-- ./forgot password -->
</div>
