.account .sign-in h2.title {
  margin-bottom: 40px;
}

.account .sign-in .block-left {
  border-right: 1px solid #cccccc;
}

.account .sign-in .block-left .hr-block-left {
  display: none;
}

.account .sign-in .a-byGuest {
  cursor: pointer;
  text-decoration: underline;
  color: #fe5000;
}

.account .sign-in .btn-facebook {
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .account .sign-in .block-left {
    border-right: none;
  }
  .account .sign-in .block-left .hr-block-left {
    display: block;
    height: 1px;
    width: 100%;
    background: #cccccc;
    border: none;
  }
  .account .sign-in .block-right {
    padding: 0 20px;
  }
}
