.account {
  margin: 0 auto;
  .custom-control-description{
    color: #636c72;
  }
  a{
    color: #636c72;
    &:hover{
      color: #fd5000;
    }
  } 
  .sign-in {
    margin: 0 auto;
    max-width: 960px;
    .desc-input{
      font-size: 13px;
      color: #636c72;
      margin-top: 10px;
    }
    h1.title, h2.title{
      margin-bottom: 40px;
      font-family: "Muli";
      font-size: 23px;
      font-weight: bold;
    }
    .block-signin-signup, .block-forgot-pw{
      max-width: 460px;
      width: 458px;
      background: #f7f7f7;
      padding: 80px 80px 50px; 
      margin: 15px auto 35px;
      &.block-send-mail {
       margin: 15px auto 35px
      }
      .send-mail {
        h2{
          font-size: 23px;
          margin-bottom: 25px;
          line-height: 1;
        }
        .check-inbox-note {
          font-size: 14px;
          margin: auto auto 20px auto;
        }
        .cus-mt {
          margin-top: 25px;
        }
        .forgot-pw {
          color: #1f1f1f !important;
          font-weight: bold;
          font-size: 13px;
          letter-spacing: 2px;
          padding-bottom: 3px;
          text-decoration: unset !important;
          border-bottom: 1px solid #1f1f1f;
          text-transform: uppercase;
          cursor: pointer;
          &:hover {
            color: #fd641f !important;
          }
        }
      }
      @media (max-width: 575px) {
        max-width: 100%;
      }
      .btn-facebook{
        padding: 8px 21px;
        width: 100%;
        height: auto;
      }
    }
    .block-left {
      border-right: 1px solid #cccccc;
      text-align: left;
      .hr-block-left {
        display: none;
      }
      h3{
        font-family: "Muli";
        margin-top: 13px;
        margin-left: -13px;
      }
      #guest-description{
        width: 221px;
        margin-left: -11px;
        margin-top: 3px;
        display: inline-block;
      }
      #btn-facebook-container{
        margin-left: -9px;
        display: inline-block;
      }
      .btn-facebook{
        width: 262px;
        height: 57px;
        background:#ffffff;
        margin-left: -2px;
        span {
          font-size: 14px;
        }
      }
      #step-account-note{
        margin-left: -9px;
        display: inline-block;
        font-size: 14px;
      }
    }
    .block-right {
      .signin-form-group{
        margin-top: 10px;
        input {
          height: 67px;
        }
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #aaacaf;
          opacity: 1;
          font-family: 'Muli';
          font-size: 14px;
        }
      
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #aaacaf;
          opacity: 1;
          font-family: 'Muli';
          font-size: 14px;
        }
      
        ::-ms-input-placeholder { /* Microsoft Edge */
          color: #aaacaf;
          opacity: 1;
          font-family: 'Muli';
          font-size: 14px;
        }
      }
      .text-center{
        .shave2u-btn-primary{
          margin-top: 15px;
          width: 100%;
          height: 49px;
        }
      }
      .signin-signup-radio {
        max-width: 400px;
        color: #636c72;
        .form-account {
          /* margin: 0 0 20px 20px; */
          margin-top: 10px;
          label {
            margin-bottom: 8px;
            font-size: 13px;
            height: 24px;
            text-transform: uppercase;
            font-weight: bold;
            &.active{
              color: #1f1f1f;
            }
            p{
              color: #636c72;
              text-transform: none;
              font-weight: normal;
            }
          }
          label:hover {
            cursor: pointer;
          }
        }
      }
      input[type='radio'] {
        margin-top: 0px;
        -webkit-appearance: none;
        width: 17px;
        height: 17px;
        border: 1px solid #d0d0d0;
        border-radius: 50%;
        outline: none;
        background-color: #d0d0d0;
      }

      input[type='radio']:hover {
        cursor: pointer;
      }

      input[type='radio']:before {
        content: '';
        display: block;
        width: 60%;
        height: 60%;
        margin: 20% auto;
        border-radius: 50%;
      }
      input[type='radio']:checked:before {
        background: #fe5000;
      }
      input[type='radio']:checked:before:hover {
        cursor: pointer;
      }
      .radio-button-group {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        height: auto !important;
        .text {
          margin-left: 0;
        }
      }
      
      /* Hide the browser's default checkbox */
      .radio-button-group input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
      }
      
      /* Create a custom checkbox */
      .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 22px;
          width: 22px;
          background-color: #eee;
          border-radius: 50%
      }
      
      /* On mouse-over, add a grey background color */
      .radio-button-group:hover input ~ .checkmark {
          background-color: #ccc;
      }
      
      /* When the checkbox is checked, add a blue background */
      .radio-button-group input:checked ~ .checkmark {
          background-color: #fe5000;
      }
      
      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
          content: "";
          position: absolute;
          display: none;
      }
      
      /* Show the checkmark when checked */
      .radio-button-group input:checked ~ .checkmark:after {
          display: block;
      }
      
      /* Style the checkmark/indicator */
      .radio-button-group .checkmark:after {
          left: 9px;
          top: 5px;
          width: 5px;
          height: 9px;
          border: solid white;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
      }
      .signin-forrget-pw {
        margin-top: 30px;
        .forgot-pw {
          color: #1f1f1f;
          text-transform: uppercase;
          letter-spacing: 2px;
          padding-bottom: 3px;
          font-size: 13px;
          text-decoration: unset !important;
          border-bottom: 1px solid #1f1f1f;
          font-weight: bold;
          &:hover{
            color: #fd641f;
          }
        }
      }
      .forgot-password-form {
        max-width: 300px;
        margin: auto;
        input{
          height: 67px;
        }
        .cus-mt {
          margin-top: 25px;
        }
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #aaacaf;
          opacity: 1;
          font-family: 'Muli';
          font-size: 14px;
        }
      
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #aaacaf;
          opacity: 1;
          font-family: 'Muli';
          font-size: 14px;
        }
      
        ::-ms-input-placeholder { /* Microsoft Edge */
          color: #aaacaf;
          opacity: 1;
          font-family: 'Muli';
          font-size: 14px;
        }
        h4 {
          font-weight: bold;
        }
        .forgot-pw-text {
          h2 {
            font-family: "Muli";
            margin-bottom: 30px;
            font-size: 23px;
            font-weight: bold;
            line-height: 1.7;
          }
          .change-color {
            color: #636c72;
            font-size: 13px;
          }
          margin: 0 auto;
          padding: 6px 0 0 0;
          p {
            font-size: 16px;
          }
        }
        .check-inbox-note {
          font-size: 14px;
          width: 250px;
          margin: auto auto 20px auto;
        }

        .forgot-pw {
          color: #1f1f1f !important;
          font-weight: bold;
          font-size: 13px;
          letter-spacing: 2px;
          padding-bottom: 3px;
          text-decoration: unset !important;
          border-bottom: 1px solid #1f1f1f;
          text-transform: uppercase;
          cursor: pointer;
          &:hover{
            color: #fd641f !important;
          }
        }

      }
    }
    .a-byGuest {
      cursor: pointer;
      text-decoration: underline;
      color: #fe5000;
      margin-left: -12px;
    }
    .btn-facebook {
      margin: 0;
    }
  }

}

.show-on-web {
  display: block;
}
.show-on-mobile {
  display: none;
}

//
@media (max-width: 992px) {
  .signin-signup-radio {
    .login-form-signin {
      /* margin: 0 0 20px 20px; */
      label {
        margin-left: 15px;
        font-size: 24px;
        height: 24px;
      }
      label:hover {
        cursor: pointer;
      }
    }
    .login-form-signup {
      padding-left: 100px;
      label {
        margin-left: 15px;
        font-size: 24px;
        height: 24px;
      }
      label:hover {
        cursor: pointer;
      }
    }
  }
}


@media only screen and (max-width: 767px) {
  .account {
    .sign-in {
      .block-signin-signup, .block-forgot-pw{
        background: #f7f7f7;
        padding: 10px 20px 10px;
        .btn-facebook{
          width: 100%;
          max-width: 278px;
          min-width: 250px;
          margin: auto;
        }
      } 
      .block-left {
        border-right: none;
        padding: 0;
        .hr-block-left {
          display: block;
          height: 1px;
          width: 100%;
          background: #cccccc;
          border: none;
        }
        .a-byGuest{
          margin-left: 0px;
        }
        h3{
          margin-top: -11px;
          margin-left:0px;
        }
        #guest-description{
          width: 221px;
          margin-left: 0px;
          margin-top: 0px;

        }
        #btn-facebook-container{
          margin-left: 0px;

        }
        .btn-facebook{

          margin-left: 0px;
        }
        #step-account-note{
          margin-left: 0px;

        }
      }
      .block-right {
        .login-form-signup {
          padding-left: 0;
        }
        padding: 0;
        .signin-form-group{
          margin-left: 0px;

        }
      }
    }
  }

  .show-on-web {
    display: none;
  }
  .show-on-mobile {
    display: block;
    margin-top: 20px;
  }
}

// style css on tablet devices
@media (min-width: 768px) and (max-width: 1024px) {

}
