
<div id="reset-password" class="col-md-4 mx-auto mt-5">
  <form [formGroup]="resetPasswordForm" novalidate #f="ngForm" (ngSubmit)="resetPasswordForm.valid && doReset(resetPasswordForm.value)" *ngIf="stage === 'form'">
      <div>
        <h3 class="text-center">Create a new password</h3>
        <p class="text-center"><strong>{{email}}</strong></p>
        <app-alert></app-alert>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group" [ngClass]="f.submitted && ( resetPasswordForm.hasError('required', 'password') || resetPasswordForm.hasError('pattern', 'password')) ? 'has-danger' : ''">
          <label class="form-control-label">Create New Password (<span class="required">*</span>)</label>
          <div class="controls">
            <input id="password" name="password" type="password" class="form-control" placeholder="Create New Password"
              formControlName="password" pattern="^(?=.*\d)(?=.*[a-zA-Z]).{6,}$" validateEqual="confirmPassword" reverse="true">
          </div>
          <span class="form-control-feedback" *ngIf="f.submitted && resetPasswordForm.hasError('required', 'password')">
              {{ 'msg.validation.required' | translate }}
          </span>
          <span class="form-control-feedback" *ngIf="f.submitted && resetPasswordForm.hasError('pattern', 'password')">
            {{ 'msg.validation.password_format' | translate }}
          </span>
        </div>
        <div class="col-sm-12 form-group" [ngClass]="!resetPasswordForm.controls.confirmPassword.valid && f.submitted ? 'has-danger' : ''">
          <label class="form-control-label">Re-enter Password (<span class="required">*</span>)</label>
          <div class="controls">
            <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" placeholder="Re-enter Password"
              formControlName="confirmPassword" validateEqual="password" reverse="false">
          </div>
          <span class="form-control-feedback" *ngIf="!resetPasswordForm.controls.confirmPassword.valid && f.submitted">
              {{ 'msg.validation.password_not_match' | translate }}
          </span>
        </div>
      </div>
      <div class="text-center mb-3">
        <button type="submit" class="btn shave2u-btn-primary">CONTINUE</button>
      </div>
  </form>
  <!-- resend email -->
  <div *ngIf="stage === 'resend'" class="resend-email">
    <p class="text-center">An activation link has been sent to your email.</p>
    <p class="text-center">Please click on the link and continue to next step.</p>
    <p class="text-center mt-4"><button type="submit" class="btn btn-primary shave2u-btn-primary" (click)='reSendMail()'>SEND AGAIN</button></p>
  </div>
  <!-- ./reset success -->
  <!-- reset success -->
  <div *ngIf="stage === 'success'" class="reset-success">
    <h5 class="text-center">Your password has been updated.</h5>
    <p class="text-center mt-4"><button type="submit" class="btn btn-primary shave2u-btn-primary" (click)='continue()'>Continue</button></p>
  </div>
  <!-- ./reset success -->
</div>