.modal-dialog {
 max-width: 470px;

 .group-button {
   margin: auto auto 1rem auto;
   width: 220px;

   .shave2u-btn-primary {
     width: 100%;
   }
 }

 .modal-title {
   padding-right: 15px;
   font-weight: 700;
   padding-top: 17px;
   margin-left: 50px;
   text-align: center !important;
 }

 .modal-title-english {
   padding-right: 15px;
   font-weight: 700;
   padding-top: 17px;
   margin-left: 50px;
   text-align: center !important;
 }

 .close {
   position: absolute;
   top: 2px;
   right: 7px;
 }
}

.modal-header{
 border-bottom: none;
}


h1{
 font-size: 18px;
 margin: 0px;
}
.pad{
 padding-left: 25px;
 padding-right: 25px;
}

.popup_text {
 text-align: center;
 font-weight: 700;
 font-size: 15px;
 margin-bottom: 30px;
}

.popup_image {
 max-width: 50px;
}

.show-on-web {
 display: block;
}

.show-on-mobile {
 display: none;
}

@media (max-width: 575px) {
 .show-on-web {
   display: none;
 }

 .show-on-mobile {
   display: block;
   margin-top: 20px;
 }

 .mobile_TC_layout {
   padding-left: 20px;
 }

 .modal-title {
   margin-left: 15px !important;
 }

 .modal-title-english {
   margin-left: 15px !important;
 }
}