<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" [innerHTML]="'dialog.collect_email.title' | translate"></h5> -->
        <h5 *ngIf="storage.getLanguageCode() == 'EN' && storage.getCountry().code.toUpperCase() == 'KOR'" class="modal-title-english"
          [innerHTML]="'dialog.notification_popup.title' | translate"></h5>
        <h5 *ngIf="storage.getLanguageCode() == 'KO' && storage.getCountry().code.toUpperCase() == 'KOR'" class="modal-title"
          [innerHTML]="'dialog.notification_popup.title' | translate"></h5>
        <h5 *ngIf="storage.getLanguageCode() == 'EN' && storage.getCountry().code.toUpperCase() == 'HKG'" class="modal-title-english"
          [innerHTML]="'dialog.notification_popup.title' | translate"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();">
            <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <app-alert></app-alert>
        <div class="user-form">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12 user-info">
                  <div class="row">
                    <div class="col-xs-12" style="width: 100% !important;">
                      <!-- <div class="col-xs-12 pad">
                          <h1 class="popup_text" [innerHTML]="'dialog.notification_popup.notAllowForIsTrial' | translate "></h1> 
                      </div>
                      <div class="col-xs-12" style="display:inline-flex;margin: -10px auto 15px auto;width: 100%;">
                      </div> -->
                      <div class="col-xs-12 pad">
                          <p class="popup_text" [innerHTML]="'dialog.notification_popup.notAllowForIsTrial2' | translate "></p>       
                        <p class="popup_text" [innerHTML]="'dialog.notification_popup.notAllowForIsTrial3' | translate "></p>                       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /container -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal-backdrop fade"></div>