.payment .customer-details .col-left {
  padding-right: 0;
}

.payment .customer-details .col-right {
  padding-left: 0px;
}

.payment .customer-details .full-name, .payment .customer-details .address, .payment .customer-details .contactNumber {
  display: block;
}

.payment .group-btn {
  width: 100%;
  display: inline-block;
}

.payment .group-btn a {
  width: 100%;
}

.payment .payment-method .list-type {
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-bottom: 25px;
}

.payment .payment-method .list-type .type-item {
  border-bottom: 1px solid #8a8a8a;
  cursor: pointer;
  font-family: 'Muli Bold';
  color: #999999;
}

.payment .payment-method .list-type .type-item.active {
  color: #000000;
  border-bottom: 7px solid #000000;
}

.payment .payment-method .price-cash {
  padding: 20px;
}

.payment .payment-method .price-cash .label {
  display: block;
  width: 100%;
  padding-bottom: 5px;
}

.payment .payment-method .price-cash .value {
  font-family: 'Muli Bold';
  font-size: 22px;
}

.payment .payment-method .form-group-cardNumber {
  position: relative;
}

.payment .payment-method .form-group-cardNumber input {
  padding-left: 40px;
}

.payment .payment-method .form-group-cardNumber .textbox-iconRight {
  position: absolute;
  top: 35px;
  bottom: 0;
  pointer-events: none;
  left: 0;
}

.payment .payment-method .form-group-cardNumber .textbox-iconRight .textbox-CardLogo {
  margin-top: 17px;
  margin-left: 9px;
  max-height: 9px;
  pointer-events: none;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity,-webkit-transform opacity;
}

.payment .payment-method .form-group-cardNumber .textbox-iconRight .textbox-CardLogo.card-empty-icon {
  max-height: 15px;
}

@media (max-width: 767px) {
  .payment .customer-details .select-code select {
    padding: 4px;
    padding-right: 0;
  }
}
