<div class="payment mainWrap clearfix" *ngIf="this.cart && this.cart.length > 0">
  <!-- customer-details -->
  <div class="row customer-details">
    <div class="col-md-12 col-12">
      <h4 class="text-center heading-top">{{ 'payment.customer_details.heading' | translate}}</h4>
      <form [formGroup]='customerDetailsForm' #fCustomerDetailsForm='ngForm' novalidate (ngSubmit)='customerDetailsForm.valid'>
        <!--input-fullName-->
          <div class="form-group form-group-cus" [ngClass]="{'has-danger': fCustomerDetailsForm.submitted && !customerDetailsForm.controls.fullName.valid}">
            <label for="input-first-name">{{ 'payment.customer_details.name.label' | translate }}*</label>
            <input type="text" class="form-control shave2u-form-control"
              placeholder="{{ 'payment.customer_details.name.place_holder' | translate }}"
              id="input-first-name" name="fullName" formControlName="fullName" autofocus>
            <span *ngIf="fCustomerDetailsForm.submitted && !customerDetailsForm.controls.fullName.valid" class="form-control-feedback">
              {{ 'msg.validation.required' | translate:{value: 'payment.customer_details.name.label' | translate} }}
            </span>
          </div>
        <!--/input-fullName-->
        <!--input-email-->
          <div class="form-group" [ngClass]="{'has-danger': fCustomerDetailsForm.submitted && !customerDetailsForm.controls.email.valid}">
            <label for="input-email">{{ 'payment.customer_details.email.label' | translate }}*
              <!--<span class="have-account">({{ 'payment.address.email.have_an_account' | translate }} 
                <strong class="click-able" (click)="loginModal()">{{ 'payment.address.email.login_text' | translate }} </strong>
                {{ 'payment.address.email.end_text' | translate }})</span>-->
            </label>
            <input type="email" class="form-control shave2u-form-control" placeholder="{{ 'payment.customer_details.email.place_holder' | translate }}"
              id="input-email" formControlName="email" pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$'
              (change)="onChangeEmail()">
            <span *ngIf="fCustomerDetailsForm.submitted && !customerDetailsForm.controls.email.valid" class="form-control-feedback">
                {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.email' | translate) } }}
              </span>
              <span *ngIf="fCustomerDetailsForm.submitted && !isValidWord" class="form-control-feedback has-danger">
                {{ 'msg.validation.valid_word' | translate }}
              </span>
          </div>
        <!-- / input-email-->
         <!-- input-phone -->
          <div class="form-group row form-group-cus">
            <label class="col-12 label-input" for="input-id-5">{{ 'payment.customer_details.phone.label' | translate }}</label>

            <div class="col-3 col-left select-code">
              <select class="form-control shave2u-form-control border-right-0" formControlName="callingCode" >
                <option [value]="country.dial_code" *ngFor="let country of callingCodes">{{country.dial_code}}</option>
              </select>
            </div>
            <div class="col-9 col-right">
              <div class="form-group-cus" [ngClass]="{'has-danger': (fCustomerDetailsForm.submitted) && !customerDetailsForm.controls.contactNumber.valid}">
                <input *ngIf="currentCountry === 'SGP'" type="text" class="form-control shave2u-form-control" placeholder="{{ 'payment.customer_details.phone.place_holder_sgp' | translate }}"
                  id="input-id-5" name="contactNumber" formControlName="contactNumber" inputNumber>
                <input *ngIf="currentCountry !== 'SGP'" type="text" class="form-control shave2u-form-control" placeholder="{{ 'payment.customer_details.phone.place_holder' | translate }}"
                id="input-id-5" name="contactNumber" formControlName="contactNumber" inputNumber>
                <!--<span *ngIf="(fCustomerDetailsForm.submitted || customerDetailsForm.controls.contactNumber.touched) && !customerDetailsForm.controls.contactNumber.valid"
                  class="form-control-feedback">
                  {{ 'msg.validation.required' | translate:{value: 'Phone'} }}
                </span>-->
                <span *ngIf="currentCountry === 'SGP' && fCustomerDetailsForm.submitted && (customerDetailsForm.controls.contactNumber.errors && (customerDetailsForm.controls.contactNumber.errors.minLength || customerDetailsForm.controls.contactNumber.errors.maxLength))" class="form-control-feedback">
                  {{ 'msg.validation.phone_sgp' | translate:{value: ( 'msg.field.phone' | translate) } }}
                </span>
                <span *ngIf="currentCountry !== 'SGP' && fCustomerDetailsForm.submitted && (customerDetailsForm.controls.contactNumber.errors && (customerDetailsForm.controls.contactNumber.errors.minLength || customerDetailsForm.controls.contactNumber.errors.maxLength))" class="form-control-feedback">
                  {{ 'msg.validation.phone' | translate:{value: ( 'msg.field.phone' | translate) } }}
                </span>
                <span *ngIf="fCustomerDetailsForm.submitted && (customerDetailsForm.controls.contactNumber.errors && customerDetailsForm.controls.contactNumber.errors.required)" class="form-control-feedback">
                  {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.phone' | translate) } }}
                </span>
              </div>
            </div>


          </div>
          <!-- / input-phone -->
          <div class="form-group row form-group-cus">
            <label class="col-12 label-note" [innerHTML]="'payment.customer_details.privacy_note' | translate"></label>
          </div>

        <!-- To trigger submit form -->
        <button type="submit" [hidden]= "1===1" #submitCustomerDetailsForm>{{ 'btn.continue' | translate }}</button>
      </form> 
    </div>
  </div>
  <!--/ customer-details-->

  <!-- address -->
  <div class="delivery-address" [hidden]="!(itemType === 'subscriptions')">
    <div>
      <!-- First purchase - address form-->
      <div class="box-input-address">
        <form [formGroup]='deliveryAddressForm' #f='ngForm' novalidate (ngSubmit)='deliveryAddressForm.valid'>
          
          <div class="row no-padding">
            <!-- add shipping address form -->
            <div class="col-md-12">
              <!--<h4 class="col-md-12 text-center">{{ 'payment.address.shipping_heading' | translate }}</h4>-->
              <div class="row address-form-style" [ngClass]="{'last': i == 1}" *ngFor="let addressForm of deliveryAddressForm.controls; let i=index">
                <div class="col-md-12" [formGroup]="addressForm">
                  <div class="row shave2u-billing-check" *ngIf="i === 1">
                    <div class="col-md-12">
                      <div class="control-checkbox">
                        <input id="addressType" class="" type="checkbox" name="addressType" [checked]="makeBillingDifferentShipping" (change)="addressChange($event)">
                        <label for="addressType"></label>
                        <label for="addressType" class="lbl-text">{{ 'payment.address.billing.checkbox_label' | translate }}</label>
                      </div>
                    </div>
                  </div>
                  <h4 class="text-center heading-small" *ngIf="i === 0">{{ 'payment.address.shipping_heading' | translate }}</h4>
                  <h4 class="text-center heading-small" *ngIf="i === 1">{{ 'payment.address.billing_heading' | translate }}</h4>
                  <!--input-firstName,lastName-->
                  <!--<div class="row">
                    <label class="col-md-12 label-input pt-0" for="input-first-name">{{ 'payment.address.name.label' | translate }}</label>
                    <div class="col-md-6 col-left col-left-inline">
                      <div class="form-group form-group-cus" [ngClass]="{'has-danger': f.submitted && !addressForm.controls.firstName.valid}">
                        <input type="text" class="form-control shave2u-form-control border-right-0 border-right-0-mobile" placeholder="{{ 'payment.address.name.place_holder_firstName' | translate }}"
                          id="input-first-name" name="firstName" formControlName="firstName" autofocus>
                        <span *ngIf="f.submitted && !addressForm.controls.firstName.valid" class="form-control-feedback">
                          {{ 'msg.validation.required' | translate:{value: 'First Name'} }}
                        </span>
                      </div>
                    </div>
                    <div class="col-md-6 col-right col-right-inline">
                      <div class="form-group form-group-cus" [ngClass]="{'has-danger': f.submitted && !addressForm.controls.lastName.valid}">
                        <input type="text" class="form-control shave2u-form-control" placeholder="{{ 'payment.address.name.place_holder_lastName' | translate }}"
                          id="input-last-name" name="lastName" formControlName="lastName">
                        <span *ngIf="f.submitted && !addressForm.controls.lastName.valid" class="form-control-feedback">
                          {{ 'msg.validation.required' | translate:{value: 'Last Name'} }}
                        </span>
                      </div>
                    </div>
                  </div>-->
                  <!--/input-firstName,lastName-->
                  <!--input-address-->
                  <div class="form-group form-group-cus" [ngClass]="{'has-danger': f.submitted && !addressForm.controls.address.valid}">
                    <label class="label-input" for="input-address">{{ 'payment.address.address.label' | translate }}*</label>
                    <input *ngIf="this.storage.getCountry().code === 'SGP'" type="text" class="form-control shave2u-form-control" placeholder="{{ 'payment.address.address.place_holder_sgp' | translate }}"
                      formControlName="address">
                    <input *ngIf="this.storage.getCountry().code !== 'SGP'" type="text" class="form-control shave2u-form-control" placeholder="{{ 'payment.address.address.place_holder' | translate }}"
                      formControlName="address">
                    <span *ngIf="f.submitted && !addressForm.controls.address.valid" class="form-control-feedback">
                        {{ 'msg.validation.required' | translate:{value: 'payment.address.address.label' | translate} }}
                    </span>
                  </div>
                  <!-- / input-address-->

                  <!-- input-phone -->
                  <!--<div class="form-group row form-group-cus">
                    <label class="col-12 label-input" for="input-id-5">{{ 'payment.address.phone.label' | translate }}</label>

                    <div class="col-3 col-left select-code">
                      <select class="form-control shave2u-form-control border-right-0" formControlName="callingCode" >
                        <option [value]="country.dial_code" *ngFor="let country of callingCodes">{{country.dial_code}}</option>
                      </select>
                    </div>
                    <div class="col-9 col-right">
                      <div class="form-group form-group-cus" [ngClass]="{'has-danger': (f.submitted || addressForm.controls.contactNumber.touched) && !addressForm.controls.contactNumber.valid}">
                        <input type="text" class="form-control shave2u-form-control" placeholder="{{ 'payment.address.phone.place_holder' | translate }}"
                          id="input-id-5" name="contactNumber" formControlName="contactNumber" inputNumber>
                        <span *ngIf="(f.submitted || addressForm.controls.contactNumber.touched) && !addressForm.controls.contactNumber.valid"
                          class="form-control-feedback">
                          {{ 'msg.validation.required' | translate:{value: 'Phone'} }}
                        </span>
                      </div>
                    </div>

                  </div>-->
                  <!-- / input-phone -->

                  <!-- input-city -->
                  <div class="form-group form-group-cus" [ngClass]="{'has-danger': f.submitted && !addressForm.controls.city.valid}">
                    <label class="label-input" for="select-state">{{ 'payment.address.city.label' | translate }}*</label>
                    <input type="text" class="form-control shave2u-form-control" formControlName="city" name="city" />
                    <span *ngIf="f.submitted && !addressForm.controls.city.valid" class="form-control-feedback">
                      {{ 'msg.validation.required' | translate:{value: ('payment.address.city.label' | translate) } }}
                    </span>
                  </div>
                  <!-- / input-city -->

                  <!-- input-portalCode, input-state -->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group form-group-cus" [ngClass]="{'has-danger': f.submitted && !addressForm.controls.portalCode.valid}">
                        <label class="label-input" for="input-postal-code">{{ 'payment.address.postal_code.label' | translate }}*</label>
                        <input *ngIf="this.storage.getCountry().code === 'SGP'" type="text" class="form-control shave2u-form-control" placeholder="{{ 'payment.address.postal_code.place_holder_sgp' | translate }}"
                          formControlName="portalCode" name="portalCode" inputNumber/>
                        <input *ngIf="this.storage.getCountry().code !== 'SGP'" type="text" class="form-control shave2u-form-control" placeholder="{{ 'payment.address.postal_code.place_holder' | translate }}"
                        formControlName="portalCode" name="portalCode" inputNumber/>
                        <!--<span *ngIf="f.submitted && !addressForm.controls.portalCode.valid" class="form-control-feedback">
                          {{ 'msg.validation.required' | translate:{value: 'Portal Code'} }}
                        </span>-->
                        <!-- <span *ngIf="this.storage.getCountry().code === 'SPG' && f.submitted && addressForm.controls.portalCode.errors && addressForm.controls.portalCode.errors.minLength" class="form-control-feedback">
                          min 6
                        </span>
                        <span *ngIf="this.storage.getCountry().code === 'SPG' && f.submitted && addressForm.controls.portalCode.errors && addressForm.controls.portalCode.errors.maxLength" class="form-control-feedback">
                          max 7
                        </span> -->
                        <span *ngIf="this.storage.getCountry().code !== 'SGP' && f.submitted && (addressForm.controls.portalCode.errors && addressForm.controls.portalCode.errors.minLength)" class="form-control-feedback">
                          {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.postcode' | translate) } }}
                        </span>
                        <span *ngIf="this.storage.getCountry().code === 'SGP' && f.submitted && addressForm.controls.portalCode.errors && (addressForm.controls.portalCode.errors.minLength || addressForm.controls.portalCode.errors.maxLength)" class="form-control-feedback">
                          {{ 'msg.validation.valid_postcode' | translate }}
                        </span>
                        <span *ngIf="f.submitted && (addressForm.controls.portalCode.errors && addressForm.controls.portalCode.errors.required)" class="form-control-feedback">
                          {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.postcode' | translate) } }}
                        </span>
                      </div>
                    </div>
                    <div class="col-md-6 pl-0-pc pl-0-mobile">
                      <div class="form-group form-group-cus" [ngClass]="{'has-danger': f.submitted && !addressForm.controls.state.valid}">
                        <label class="label-input" for="select-state">{{ 'payment.address.state.label' | translate }}</label>
                        <select class="form-control shave2u-form-control" formControlName="state" name="state" required [hidden]="!countryStates || countryStates.length === 0">
                          <option [value]="null" hidden disabled selected-custom [attr.selected]=""><span class="text-danger">- {{ 'payment.address.state.defaultOption' | translate }} -</span></option>
                          <option value="{{state.name}}" *ngFor="let state of countryStates" >{{state.name}}</option>
                        </select>
                        <span *ngIf="f.submitted && !addressForm.controls.state.valid" class="form-control-feedback">
                          {{ 'msg.validation.required' | translate:{value: 'payment.address.state.label' | translate} }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <!-- / input-portalCode, input-state -->
                  <div class="row" *ngIf="deliveryAddressForm.controls.length === 1">
                    <div class="col-12">
                      <div class="control-checkbox shave2u-billing-check">
                        <input id="addressType" class="click-able" type="checkbox" name="addressType" [checked]="makeBillingDifferentShipping" (change)="addressChange($event)">
                        <label for="addressType"></label>
                        <label for="addressType" class="lbl-text">{{ 'payment.address.billing.checkbox_label' | translate }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
            <!-- To trigger submit form -->
            <button type="submit" [hidden]= "1===1" #submitDeliveryAddressForm>{{ 'btn.continue' | translate }}</button>
          </div>
        </form>
      </div>
      <!-- ./ First purchase - address form-->
    </div>
  </div>
  <!-- /address -->

  <!-- payment method -->
  <div class="row payment-method">
    <div class="col-md-12 col-12">
      <h4 class="text-center heading-top">{{ 'payment.payment_details.heading' | translate }}</h4>
      <div class="list-type row" *ngIf="!(itemType === 'subscriptions')">
        <span class="col-{{ currentUser.Country.isBaStripe ? '6' : '12' }} type-item" (click)="changePaymentMethod('cash')" [ngClass]="{'active': paymentMethod === 'cash'}">{{ 'payment.payment_details.cash.heading' | translate }}</span>
        <span class="col-6 type-item" (click)="changePaymentMethod('stripe')" [ngClass]="{'active': paymentMethod === 'stripe'}" *ngIf="currentUser.Country.isBaStripe">{{ 'payment.payment_details.card.heading' | translate }}</span>
      </div>
    </div>

    <div class="col-md-12 col-12 price-cash" *ngIf="paymentMethod === 'cash'">
      <span class="flex label">{{ 'payment.payment_details.cash.total' | translate }}</span>
      <span class="flex font-12 value">{{receipt.totalIclTax | smsCurrency}}</span>
    </div>

    <div class="col-md-12 col-12 credit-card" [hidden]="!(paymentMethod === 'stripe')">
      <form (ngSubmit)="cardForm.valid" [formGroup]="cardForm" id="cardForm" novalidate #f="ngForm">
        <span class="payment-message">{{message}}</span>
        <!-- Name -->
        <div class="form-group" [ngClass]="{'has-danger': f.submitted && (!cardForm.controls.cardName.valid || (resError && resError.param === 'name'))}">
          <label class="control-label" for="username">{{ 'payment.payment_details.card.name.label' | translate }}*</label>
          <input type="text" id="cardName" name="cardName" placeholder="{{ 'payment.payment_details.card.name.place_holder' | translate }}"
            class="form-control" formControlName="cardName" data-stripe="name" autofocus>
          <span class="form-control-feedback " *ngIf="f.submitted && !cardForm.controls.cardName.valid">
            {{ 'msg.validation.required' | translate:{value: 'payment.payment_details.card.name.label' | translate} }}
          </span>
          <span class="form-control-feedback " *ngIf="f.submitted && resError && resError.param === 'name'">
            {{ resError.message | translate }}
          </span>
        </div>
        <!-- Card Number -->
        <div class="form-group form-group-cardNumber" [ngClass]="{'has-danger': f.submitted && (!cardForm.controls.cardNumber.valid || (resError && resError.param === 'number'))}" #cardNumber>
          <label class="control-label" for="card_number">{{ 'payment.payment_details.card.number.label' | translate }}*</label>
          <input type="password" id="cardNumber" name="cardNumber" placeholder="{{ 'payment.payment_details.card.number.place_holder' | translate }}"
            formControlName="cardNumber" class="form-control" data-stripe="number" inputNumber>
          <span class="textbox-iconRight">
            <img class="textbox-CardLogo card-empty-icon" src="/assets/images/detect-method.png" *ngIf="cardType !== 'MASTERCARD' && cardType !== 'VISA'">
            <img class="textbox-CardLogo" src="/assets/images/mastercard-logo.png" *ngIf="cardType === 'MASTERCARD'">
            <img class="textbox-CardLogo" src="/assets/images/visa-logo.png" *ngIf="cardType === 'VISA'">
          </span>
          <span class="form-control-feedback " *ngIf="f.submitted && !cardForm.controls.cardNumber.valid">
              {{ 'msg.validation.required' | translate:{value: 'payment.payment_details.card.number.label' | translate} }}
            </span>
          <span class="form-control-feedback " *ngIf="f.submitted && resError && resError.param === 'number'">
              {{ resError.message | translate }}
            </span>
        </div>
        <!-- Expiry-->
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group" [ngClass]="{'has-danger': f.submitted && (!cardForm.controls.expiry.valid ||
            (resError && (resError.param === 'exp_month' || resError.param === 'exp_year') ))}">
              <label class="control-label" for="expiryMonth">{{ 'payment.payment_details.card.expiry.label' | translate }}*</label>
              <div class="form-group pr-2">
                <input type="text" id="expiry" id="expiry" name="expiry" placeholder="{{ 'payment.payment_details.card.expiry.place_holder' | translate }}"
                  formControlName="expiry" class="form-control" data-stripe="exp">
                <span class="form-control-feedback " *ngIf="f.submitted && !cardForm.controls.expiry.valid">
                  {{ 'msg.validation.required' | translate:{value: 'payment.payment_details.card.expiry.label' | translate} }}
                </span>
                <span class="form-control-feedback " *ngIf="f.submitted && resError && (resError.param === 'exp_year' || resError.param === 'exp_month')">
                  {{ resError.message | translate }}
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group" [ngClass]="{'has-danger': f.submitted && (!cardForm.controls.cvc.valid || (resError && resError.param === 'cvc'))}">
              <label class="control-label">{{ 'payment.payment_details.card.code.label' | translate }}
                <i class="ml-2 icons icon-info clickable tooltip">
                  <span class="tooltiptext">{{ 'payment.payment_details.card.code.tooltip' | translate }}</span>
                </i>
              </label>
              <input type="password" id="cvc" name="cvc" placeholder="{{ 'payment.payment_details.card.code.place_holder' | translate }}" formControlName="cvc"
                class="form-control" data-stripe="cvc">
              <span class="form-control-feedback " *ngIf="f.submitted && !cardForm.controls.cvc.valid">
                  {{ 'msg.validation.required' | translate:{value: 'payment.payment_details.card.code.label' | translate} }}
                </span>
              <span class="form-control-feedback " *ngIf="f.submitted && resError && resError.param === 'cvc'">
                  {{ resError.message | translate }}
                </span>
            </div>
          </div>
        </div>
        <p class="text-center mt-4">
          <app-alert [data]="resError"></app-alert>
          <!-- To trigger submit form -->
          <button type="submit" [hidden]= "1===1" #submitcardForm>{{ 'btn.continue' | translate }}</button>
        </p>
      </form>
    </div>

  </div>
  <!-- payment method -->

  <!-- next -->
  <div class="group-btn">
    <!-- For alacartes checkout -->
    <a *ngIf="itemType && itemType === 'alacartes' && paymentMethod === 'stripe'"
      (click)="submitCustomerDetailsForm.click();submitcardForm.click();gotoRoadshow()"
      class="btn btn-primary shave2u-btn-primary btn-nextTo" [attr.disabled]="(!cart || (cart && cart.length) < 1) ? true : null">{{ 'btn.next' | translate}}</a>
    
    <a *ngIf="itemType && itemType === 'alacartes' && paymentMethod === 'cash'"
      (click)="submitCustomerDetailsForm.click();gotoRoadshow()"
      class="btn btn-primary shave2u-btn-primary btn-nextTo" [attr.disabled]="(!cart || (cart && cart.length) < 1) ? true : null">{{ 'btn.next' | translate}}</a>
    
    <!-- For subscriptions checkout -->
    <a *ngIf="itemType && itemType === 'subscriptions'"
      (click)="submitCustomerDetailsForm.click();submitDeliveryAddressForm.click();submitcardForm.click();gotoRoadshow()"
      class="btn btn-primary shave2u-btn-primary btn-nextTo" [attr.disabled]="(!cart || (cart && cart.length) < 1) ? true : null">{{ 'btn.next' | translate}}</a>
  </div>
  <!-- End product list -->
</div>