.payment {
	.label-note {
		font-size: 14px;
		color: #aaacaf;
	}
	.customer-details {
		.col-left {
			padding-right: 0;
		}

		.col-right {
			padding-left: 0px;
		}

		.full-name, .address, .contactNumber {
			display: block;
		}
	}
	.group-btn {
		width: 100%;
		display: inline-block;
		a {
			width: 100%;
		}
	}

	.payment-method {
		.list-type {
			max-width: 300px;
			margin: auto;
			text-align: center;
			margin-bottom: 25px;
			.type-item {
				border-bottom: 1px solid #8a8a8a;
				cursor: pointer;
				font-family: 'Muli Bold';
				color: #999999;
				&.active {
					color: #000000;
					border-bottom: 7px solid #000000;
				}
			}
		}

		.price-cash {
			padding: 20px;
			.label {
				display: block;
				width: 100%;
				padding-bottom: 5px;
			}
			.value {
				font-family: 'Muli Bold';
    		font-size: 22px;
			}
		}
		.form-group-cardNumber {
			position: relative;
			input {
				padding-left: 40px;
			}
			.textbox-iconRight {
				position: absolute;
				top: 35px;
				bottom: 0;
				pointer-events: none;
				left: 0;
				.textbox-CardLogo {
					margin-top: 17px;
					margin-left: 9px;
					max-height: 9px;
					pointer-events: none;
					-webkit-transition-timing-function: ease-in-out;
					transition-timing-function: ease-in-out;
					-webkit-transition-duration: .3s;
					transition-duration: .3s;
					-webkit-transition-property: -webkit-transform opacity;
					transition-property: -webkit-transform opacity;
					transition-property: transform opacity;
					transition-property: transform opacity,-webkit-transform opacity;
					&.card-empty-icon {
            max-height: 15px;
					}
				}
			}
		}

		.tooltip {
      position: relative;
      display: inline-block;
      opacity: 1;
			z-index: 0;
      .tooltiptext {
        visibility: hidden;
        width: 250px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 2px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -125px;
        opacity: 0;
        transition: opacity 1s;
      }
      .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
    }
    .tooltip:hover {
      .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
    }
	}
}
.has-danger {
	color: #d9534f;
}
#select-channelType {
  color: #868e96;
  option {
    color: #495057;
  }
}
.default-color {
  color: #495057 !important;
}

@media  (max-width: 767px) {
  .payment {
		.customer-details {
			.select-code {
				select {
					padding: 4px;
					padding-right: 0;
				}
			}
		}
  }
}