<!-- BEGIN FOOTER // -->
<tr>
  <td>
    <p style="padding:0 20px !important;margin-bottom:16px !important;">
      <a href="#"><img src="https://gallery.mailchimp.com/a1f5e35b929b6d70bbdff908e/images/e9fdc290-cc43-429b-b7c8-374863930199.png" style="width: auto;     margin-right: 30px;min-height:22px;min-width:22px;" alt="Shaves2u Instagram"></a>
      <a href="#"><img src="https://gallery.mailchimp.com/a1f5e35b929b6d70bbdff908e/images/97cfd12c-a004-4f27-97fe-6c1268875048.png" style="width: auto;     margin-right: 30px;min-height:22px;min-width:10px;" alt="Shaves2u Facebook"></a>
      <a href="#"><img src="https://gallery.mailchimp.com/a1f5e35b929b6d70bbdff908e/images/13e5708f-c672-47f3-8f3c-e093d8eb5c88.png" style="width: auto;     margin-right: 30px;min-height:18px;min-width:21px;" alt="Shaves2u Twitter"></a>
      <a href="#"><img src="https://gallery.mailchimp.com/a1f5e35b929b6d70bbdff908e/ images/5f65b2b7-6cd5-402a-b1f1-7772332f4863.png" style="width: auto;     margin-right: 30px;min-height:17px;min-width:24px;" alt="Shaves2u Youtube"></a>
    </p>
  </td>
</tr>
<tr>
  <td valign="top" style="color: #606060;font-family: 'Muli';border-top: 1px solid #000;background-color: #ffffff;padding-bottom: 9px;border-bottom: 0;padding:0 20px 16px 20px;font-size:14px;">
    <!-- BEGIN MODULE: STANDARD FOOTER // -->
    <div style="padding:16px 0;">
      <div class="footer-left" style="float:left;">
        <p class="footer-links" style="font-size: 14px;margin: 0 0 5px!important;padding: 0;font-weight: normal;">
          <a href="#" style="display: inline-block;line-height: 1.8;text-decoration: none;color: #237A91;">PRICAVY POLICY</a> <span class="bar">|</span>
          <a href="*|UNSUB|*" style="display: inline-block;line-height: 1.8;text-decoration: none;color: #237A91;">UNSUBSCRIBE</a>
        </p>
        <p style="color:#000;font-weight:bold;">Shaves2U (M) Sdn. Bhd. (1037174-T)</p>
        <p style="font-size: 14px;margin: 0;">Level 18, Axiata Tower, No. 9, Jalan Stesen Sentral 5,<br>
        Kuala Lumpur Sentral, 50470 Kuala Lumpur, Malaysia</p>
        <br>
        <p class="text-copy">© All Rights Reserved 2017</p>
      </div>
      <div class="footer-right" style="float: right;text-align: right;">
          <span style="color:#000;font-weight:bold;">Need Help?</span>
          <ul class="ul-support" style="list-style: none;padding-bottom: 5px;">
            <li>
              <a href="mailto:help@email.com">
                <img src="https://gallery.mailchimp.com/a1f5e35b929b6d70bbdff908e/images/f7e4d1bf-365c-47e9-9054-3fefe2042c7a.png" style="margin-right: 5px;width: auto;display: inline-block" >
                <span>help@email.com</span>
              </a>
            </li>
            <li>
              <a href="tel:6022334455">
                <img src="https://gallery.mailchimp.com/a1f5e35b929b6d70bbdff908e/images/4137ffd4-37f7-4317-9beb-e62c01889c38.png" style="margin-right: 5px;width: auto;display: inline-block" >+60 2233 4455</span>
              </a>
            </li>
          </ul>
      </div>
    </div>
    <!-- // BEGIN MODULE: STANDARD FOOTER -->
  </td>
</tr>
<!-- // END FOOTER -->