<tr>
  <td valign="top" style="padding: 20px 0px;margin: 0;line-height: 150%;background-color: #FFFFFF;text-align: center ">
    <!-- BEGIN MODULE: HEADER IMAGE // -->
    <a href=''>
      <img src="https://gallery.mailchimp.com/a1f5e35b929b6d70bbdff908e/images/93a44259-df5a-4ddd-855c-9f941d5ab5d2.png" style="max-width:564px;width: auto;min-width:60px;min-height:60px;" alt="Shaves2u logo">
    </a>
    <!-- // END MODULE: HEADER IMAGE -->

  </td>
</tr>