<tr>
  <td valign="top" style="margin: 0;line-height: 150%;background-color: #FFFFFF;width: 100%;border-bottom:1px solid #eeeeee;padding:20px;">
    <!-- BEGIN MODULE: HEADER IMAGE // -->
    <table style="width:100%;">
      <tr>
        <td>
          <a href=''>
            <img src="https://gallery.mailchimp.com/a1f5e35b929b6d70bbdff908e/images/93a44259-df5a-4ddd-855c-9f941d5ab5d2.png" style="max-width:564px;width: auto;">
          </a>
        </td>
        <td>
          <p style="float:right;padding-top: 24px!important;font-size:24px;">
            Subscription Payment Failure
          </p>
        </td>
      </tr>
    </table>
    <!-- // END MODULE: HEADER IMAGE -->
  </td>
</tr>