<tr>
  <!-- table order detail -->
  <tr style="font-size:14px;">
    <td valign="top" style="color: #606060;font-size: 14px;line-height: 150%;padding: 20px 20px 0 20px;">
      <table style="width:100%;">
        <tr style="border-top:1px solid #eeeeee;">
          <td style="padding:20px 0 10px 0">Item</td>
          <td style="padding:20px 0 10px 0"></td>
          <td style="text-align:right;padding:20px 0 10px 0">Total</td>
        </tr>
        <tr style="border-top:1px solid #eeeeee;">
          <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
            <img src="https://gallery.mailchimp.com/a1f5e35b929b6d70bbdff908e/images/f5ac28ed-2627-4ddf-a4e9-819b2b1ce009.png" style="border: 1px solid #eeeeee;padding: 12% 24%;width: 30%;max-width:104px;">
          </td>
          <td style="padding:20px 0;">
            <p style="font-weight:bold;color:#000;">Men's Starter Pack</p>
            <p>SKU: SS13</p>
            <p>Quantity: 1</p>
            <p>Unit Price: MYR 15</p>
          </td>
          <td style="text-align:right;padding:20px 10px 20px 0;">MYR15</td>
        </tr>
        <tr style="border-top:1px solid #eeeeee;border-bottom:1px solid #eeeeee;">
          <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
            <img src="https://gallery.mailchimp.com/a1f5e35b929b6d70bbdff908e/images/f5ac28ed-2627-4ddf-a4e9-819b2b1ce009.png" style="border: 1px solid #eeeeee;padding: 12% 24%;width: 30%;max-width:104px;">
          </td>
          <td style="padding:20px 0;">
            <p style="font-weight:bold;color:#000;">Men's Starter Pack</p>
            <p>SKU: SS13</p>
            <p>Quantity: 1</p>
            <p>Unit Price: MYR 15</p>
          </td>
          <td style="text-align:right;padding:20px 10px 20px 0;">MYR15</td>
        </tr>
      </table>
    </td>
  </tr>
</tr>
