<tr>
  <td valign="top" style="color: #606060;font-size: 14px;line-height: 150%;padding: 20px;">
    <div style="width:100%">
      <table style="font-size:14px;width:100%">
        <tr>
          <td style="color:#000;font-weight:bold;">Order No.</td>
          <td style="color:#000;font-weight:bold;text-align:center;">Order Date</td>
          <td style="color:#000;font-weight:bold;text-align:right;">Shipping Date</td>
        </tr>
        <tr>
          <td>MY100002398</td>
          <td style="text-align:center">20 SEP 2017</td>
          <td style="text-align:right;">22 SEP 2017</td>
        </tr>
      </table>
    </div>
    <div style="width:100%;margin-top: 36px;text-align:center;">
      <a href="http://smartshave.bjdev.net" style="width: 195px;margin:0 auto;height: 48px;background: #000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">View your order</a>
    </div>
  </td>
  <!-- table order detail -->
  <tr style="font-size:14px;">
    <td valign="top" style="color: #606060;font-size: 14px;line-height: 150%;padding: 20px 20px 0 20px;">
      <table style="width:100%;">
        <tr style="border-top:1px solid #eeeeee;">
          <td style="padding:20px 0 10px 0">Item</td>
          <td style="padding:20px 0 10px 0"></td>
          <td style="text-align:right;padding:20px 0 10px 0">Total</td>
        </tr>
        <tr style="border-top:1px solid #eeeeee;">
          <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
            <img src="https://gallery.mailchimp.com/a1f5e35b929b6d70bbdff908e/images/f5ac28ed-2627-4ddf-a4e9-819b2b1ce009.png" style="border: 1px solid #eeeeee;padding: 12% 24%;width: 30%;max-width:104px;">
          </td>
          <td style="padding:20px 0;">
            <p style="font-weight:bold;color:#000;">Men's Starter Pack</p>
            <p>SKU: SS13</p>
            <p>Quantity: 1</p>
            <p>Unit Price: MYR 15</p>
          </td>
          <td style="text-align:right;padding:20px 10px 20px 0;">MYR15</td>
        </tr>
        <tr style="border-top:1px solid #eeeeee;">
          <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
            <img src="https://gallery.mailchimp.com/a1f5e35b929b6d70bbdff908e/images/f5ac28ed-2627-4ddf-a4e9-819b2b1ce009.png" style="border: 1px solid #eeeeee;padding: 12% 24%;width: 30%;max-width:104px;">
          </td>
          <td style="padding:20px 0;">
            <p style="font-weight:bold;color:#000;">Men's Starter Pack</p>
            <p>SKU: SS13</p>
            <p>Quantity: 1</p>
            <p>Unit Price: MYR 15</p>
          </td>
          <td style="text-align:right;padding:20px 10px 20px 0;">MYR15</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr style="font-size:14px;color: #606060">
    <td style="padding:0 20px;">
      <table style="width:100%">
        <tr style="border-top:1px solid #eeeeee;">
          <td style="text-align: right;padding:20px 0;">
            <p>Subtotal Price</p>
            <p>Grand Total (Excl. Tax)</p>
            <p>Shipping Fee</p>
            <p>Total Tax</p>
          </td>
          <td style="text-align: right;padding-right:10px;width:100px;padding:20px 10px;">
            <p>MYR20</p>
            <p>MYR20</p>
            <p>FREE</p>
            <p>MYR2</p>
          </td>
        </tr>
        <tr style="border-top:1px solid #eeeeee;border-bottom:1px solid #eeeeee;">
          <td style="text-align: right;padding:20px 0;">
            <p>Grand Total (Incl. Tax)</p>
          </td>
          <td style="text-align: right;padding-right:10px;width:100px;padding:20px 10px;">
            <p>MYR22</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</tr>
<tr>
  <td valign="top" style="color: #606060;font-size: 14px;line-height: 150%;padding: 20px;">
    <p style="font-weight:bold;color:#000;margin-top:10px!important;">Payment Method</p>
    <p>Credit/Debit Card</p>
    <p>Ending in 3344</p>
    <p style="font-weight:bold;color:#000;margin-top:20px!important;">Delivery Details: Shipping</p>
    <p>John Doe</p>
    <p>No.2233, JLN Nasi Lemak, Ampang, 53000, Kuala Lumpur</p>
    <p>Tel: 6010 2233 4455</p>
    <p style="font-weight:bold;color:#000;margin-top:20px!important;">Delivery Details: Billing</p>
    <p>Jane Doe</p>
    <p>C-4455, JLN Mee Goreng, PJ, 45000, Selangor</p>
    <p>Tel: 6011 3344 5566</p>
  </td>
</tr>