#article-page {
  .follow-fb {
    padding-left: 160px;
  }

	.carousel-control-prev,
	.carousel-control-next {
		position: absolute;
		width: 30px;
		overflow: hidden;
		&-icon {
			position: absolute;
			top: 50%;
			width: 15px;
			height: 15px;
			background: transparent;
	    border-top: 2px solid #07070f;
	    border-right: 2px solid #07070f;
			transition: all 200ms ease;
			background-image: none;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-40%,-60%) rotate(45deg);
		    width: 35px;
		    height: 35px;
				border: 1px solid #fff;
			}
		}
	}

	.carousel-control-prev {
		left: -30px;
		&-icon {
			transform: translate3d(0,-50%,0) rotate(-135deg);
		}
	}
	.carousel-control-next {
		right: -30px;
		&-icon {
			transform: translate3d(0,-50%,0) rotate(45deg);
		}
	}
	.carousel-item {
		img {
	    object-fit: cover;
			width: 100%;
		}
	}
	.carousel-indicators {
		display: none;
    bottom: -45px;
		li {
			border-radius: 50%;
	    width: 12px;
	    height: 12px;
	    margin-right: 8px;
	    border: 1px solid #ccc;
	    background-color: #fff;
	    flex: 0 1 auto;

			&.active {
		    background-color: #111;
		    border-color: #707070;
			}
		}
	}
	.articles-latest {
		a {
			color: #3a6e9c;
		}
		img {
			// height: 230px;
	    height: auto;
	    width: auto;
	    max-width: 100%;
		}
	}
}

@media screen and (max-width: 767px) {
	.carousel-control-prev,
	.carousel-control-next {
		display: none;
	}
	#article-page {
		.articles-baner {
	    margin-bottom: 90px;
	    margin: 0 -15px;
		}
		.carousel-indicators {
			display: flex;
		}
	}
}

@media screen and(min-width: 768px) and(max-width: 997px) {
	#article-page {

	}
}
