<div id="article-page" class="container">
	<div class="articles-header text-center mt-4">
		<h2 class="title">Articles</h2>
		<div class="cate-listing">
			<ul>
				<li *ngFor="let type of articleTypes">
					<a [routerLink]="['/articles']" [queryParams]="{ type_id: type.id }">{{ type.type }}</a>
					<!-- <span class="click-able" (click)="changeArticleType(type.id)">{{ type.type }}</span> -->
				</li>
			</ul>
		</div>
	</div>
	<div class="articles-baner">
	  <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<ng-container *ngFor="let article of featuredArticles; let i = index; let first = first;">
					<li data-target="#carouselIndicators" [attr.data-slide-to]="i"
							[ngClass]="first ? 'active' : ''"></li>
				</ng-container>
		  </ol>
		  <div class="carousel-inner">
				<ng-container *ngFor="let article of featuredArticles; let i = index; let first = first;">
					<div class="carousel-item" [ngClass]="first ? 'active' : ''">
						<img class="d-block img-fluid"
						src="{{article.bannerUrl}}"
						alt="{{ article.title }}"
						title="{{ article.title }}"/>
					</div>
				</ng-container>
		  </div>
		  <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</div>
	<div class="articles-latest">
		<div class="articles-latest-heading">
			<h3 class="heading">Latest</h3>
		</div>
		<div class="row mt-3"><!-- justify-content-center-->
			<div class="col-sm-12 col-md-6 col-lg-4 mb-4" *ngFor="let item of latestArticles">
				<div class="card">
					<a [routerLink]="['/article', item.id]">
						<img src="{{item.bannerUrl}}">
					</a>
					<div class="card-body">
						<h4 class="card-title title-custom">
							<a [routerLink]="['/article', item.id]">{{item.title}}</a>
						</h4>
						<p class="card-text description-custom">{{item.content | slice:0:100 }}</p>
						<p class="card-text"><small class="text-muted">{{item.createdAt | date:'d MMM y'}}</small></p>
					</div>
				</div>
			</div>
			<!-- <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
				<div class="card">
					<img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/articles/articles-05.png">
					<div class="card-img-overlay d-flex">
						<div class="align-self-center">
							<h2><a href="" class="follow-fb text-white">Follow us on Facebook</a></h2>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
  <!-- <div class="block-articles">
    <h2 class="block-heading">Articles</h2>
    <ul class="list-inline article-type-list">
      <li class="list-inline-item" *ngFor="let item of articleTypes">
        <a (click)="changeArticleType(item.id)">{{item.type}}</a>
      </li>
    </ul> -->
    <!-- /.article-type-list -->
    <!-- <app-pgw-slider [addClass]="'article-slider'" [items]="articlesSlider"
      [options]="articleSliderOptions" *ngIf="!isloading"></app-pgw-slider>
  </div> -->
  <!-- /.block-articles -->
  <!-- <div class="block-lastest">
    <h2 class="block-heading">Latest</h2>
    <div class="row">
      <div class="item col-xl-4 col-lg-4" *ngFor="let item of latestArticles">
        <div class="thumbnail">
          <a [routerLink]="['/article', item.id]">
            <img class="group list-group-image" src="{{apiURL}}{{item.bannerUrl}}" alt="">
          </a>
          <div class="caption">
            <h4 class="group inner list-group-item-heading">
              {{item.title}}
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <!-- /.block-lastest -->
  <!-- <div class="block-trending-articles">
    <h2 class="block-heading">Trending</h2>
    <div class="row" *ngFor="let item of trendingArticle">
      <div class="col-xl-6 item-photo">
        <a [routerLink]="['/article', item.id]">
          <img style="max-width:100%;" src="{{apiURL}}{{item.bannerUrl}}">
        </a>
      </div>
      <div class="col-xl-6" style="border:0px solid gray">
        <h3 class="title">{{item.title}}</h3>
      </div>
    </div>
  </div> -->
  <!-- /.block-trending-articles -->
</div>
