<div class="row mt-3" [formGroup]="planOptionsForm">
    <!-- <div class="col-sm-12 form-group" [ngClass]="!planOptionsForm.controls.description.valid && (parentOnActive || planOptionsForm.get('description').touched || planOptionsForm.get('description').dirty) ? 'has-danger' : ''">

      <label class="form-control-label">Description (<span class="required">*</span>)</label>
      <div class="controls">
        <input type="text" class="form-control" id="input-description" placeholder="Enter product details title"
          formControlName="description" name="description">
      </div>
      <span class="form-control-feedback" *ngIf="!planOptionsForm.controls.description.valid && (parentOnActive || planOptionsForm.get('description').touched || planOptionsForm.get('description').dirty)">
          {{ 'msg.validation.required' | translate }}
      </span>

    </div> -->
    <!-- Plan Option Translates -->
    <div class="col-sm-12 form-check">
      <plan-option-translate-form [planOptionTranslateForm]="planOptionsForm.controls.planOptionTranslate"></plan-option-translate-form>
    </div>
    <div class="col-sm-12 form-group">
      <div class="form-group">
        <div class="row">
          <label class="col-sm-12 control-label small" for="label-price-group"><strong>Price</strong></label>
          <div class="col-sm-3" [ngClass]="!planOptionsForm.controls.actualPrice.valid && (parentOnActive || planOptionsForm.get('actualPrice').touched || planOptionsForm.get('actualPrice').dirty) ? 'has-danger' : ''">
            <label class="control-label small" for="label-actualPrice">Actual price</label>
            <div class="input-group">
              <span class="input-group-addon">{{currencyDisplay}}</span>
              <input type="text" class="form-control" name="actualPrice" id="input-actualPrice" placeholder="actualPrice"
                formControlName="actualPrice">
            </div>
            <span class="form-control-feedback" *ngIf="!planOptionsForm.controls.actualPrice.valid && (parentOnActive || planOptionsForm.get('actualPrice').touched || planOptionsForm.get('actualPrice').dirty)">
              {{ 'msg.validation.required' | translate }}
            </span>
          </div>
          <div class="col-sm-3" [ngClass]="!planOptionsForm.controls.sellPrice.valid && (parentOnActive || planOptionsForm.get('sellPrice').touched || planOptionsForm.get('sellPrice').dirty) ? 'has-danger' : ''">
            <label class="control-label small" for="label-sellPrice">Sales Price</label>
            <div class="input-group">
              <span class="input-group-addon">{{currencyDisplay}}</span>
              <input type="text" class="form-control" name="sellPrice" id="input-sellPrice" placeholder="sellPrice"
                formControlName="sellPrice">
            </div>
            <span class="form-control-feedback" *ngIf="!planOptionsForm.controls.sellPrice.valid && (parentOnActive || planOptionsForm.get('sellPrice').touched || planOptionsForm.get('sellPrice').dirty)">
              {{ 'msg.validation.required' | translate }}
            </span>
          </div>
          <div class="col-sm-3" [ngClass]="!planOptionsForm.controls.pricePerCharge.valid && (parentOnActive || planOptionsForm.get('pricePerCharge').touched || planOptionsForm.get('pricePerCharge').dirty) ? 'has-danger' : ''">
            <label class="control-label small" for="label-sellPrice">Price Per Charge</label>
            <div class="input-group">
              <span class="input-group-addon">{{currencyDisplay}}</span>
              <input type="text" class="form-control" name="pricePerCharge" id="input-pricePerCharge" placeholder="pricePerCharge"
                formControlName="pricePerCharge">
            </div>
            <span class="form-control-feedback" *ngIf="!planOptionsForm.controls.pricePerCharge.valid && (parentOnActive || planOptionsForm.get('pricePerCharge').touched || planOptionsForm.get('pricePerCharge').dirty)">
              {{ 'msg.validation.required' | translate }}
            </span>
          </div>
          <div class="col-sm-3" [ngClass]="!planOptionsForm.controls.savePercent.valid && (parentOnActive || planOptionsForm.get('savePercent').touched || planOptionsForm.get('savePercent').dirty) ? 'has-danger' : ''">
            <label class="control-label small" for="label-sellPrice">Save Percent</label>
            <div class="input-group">
              <span class="input-group-addon">%</span>
              <input type="text" class="form-control" name="savePercent" id="input-savePercent" placeholder="savePercent"
                formControlName="savePercent">
            </div>
            <span class="form-control-feedback" *ngIf="!planOptionsForm.controls.savePercent.valid && (parentOnActive || planOptionsForm.get('savePercent').touched || planOptionsForm.get('savePercent').dirty)">
              {{ 'msg.validation.required' | translate }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 form-group" [ngClass]="!planOptionsForm.controls.url.valid && (parentOnActive || planOptionsForm.get('url').touched || planOptionsForm.get('url').dirty) ? 'has-danger' : ''">
      <label class="form-control-label">Image (<span class="required">*</span>)</label>
      <div class="controls">
        <single-file-upload [group]="planOptionsForm" [controlName]="'url'"></single-file-upload>
      </div>
      <span class="form-control-feedback" *ngIf="!planOptionsForm.controls.url.valid && (parentOnActive || planOptionsForm.get('url').touched || planOptionsForm.get('url').dirty)">
        {{ 'msg.validation.requiredFile' | translate }}
      </span>
    </div>

    <!-- Plan Option Products -->
    <div class="col-sm-12 form-check" *ngIf="products && planTypes">
      <plan-option-product-form [planOptionProductsForm]="planOptionsForm.controls.planOptionProducts" [products]="products" [planTypes]="planTypes"></plan-option-product-form>
    </div>
    <!-- / Plan Option Products -->

    <div class="col-sm-12 form-check mt-2">
      <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
        <input type="checkbox" class="custom-control-input" formControlName="hasShaveCream">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Has Shave Cream</span>
      </label>
    </div>
  </div>
