<div class="account">
	<div class="sign-in" id="delivery-address">
		<div class="selection-block">
			<div class="head">
				<div class="head-content">
					<p class="headline text-uppercase">
						<span class="number" [ngClass]="{'success': stepsData.payment.state==='finish'}">3</span>
						{{ 'checkout.free_trial.payment_method' | translate }}
					</p>
					<div class="form-content" *ngIf="stepsData.payment.state==='active'">
						<form (ngSubmit)="cardForm.valid && submitCard(cardForm.value)" [formGroup]="cardForm" id="cardForm" novalidate #f="ngForm">
							<!-- Card Number -->
		          <div class="form-group form-group-cardNumber" [ngClass]="{'has-danger': f.submitted && (!cardForm.controls.cardNumber.valid || (resError && resError.param === 'number'))}" #cardNumber>
		            <div class="input-value" data-ng-init="focusCardNumber=false" [ngClass]="{'focused': focusCardNumber===true || (cardForm.controls.cardNumber.value && cardForm.controls.cardNumber.value.length > 0)}">
		              <input type="text" id="input-cardNumber" formControlName="cardNumber" name="cardNumber" (focus)="focusCardNumber=true" (blur)="focusCardNumber=false"
		                formControlName="cardNumber" class="form-control" data-stripe="number" inputNumber>
		              <label for="cardNumber" class="field-label">{{ 'checkout.step_payment.card.number.label' | translate }}</label>
		            </div>
		            <span class="form-control-feedback " *ngIf="f.submitted && cardForm.controls['cardNumber'].hasError('required')">
		              {{ 'msg.validation.required' | translate:{value: ('checkout.step_payment.card.number.label' | translate)} }}
		            </span>
		            <span class="form-control-feedback " *ngIf="f.submitted && resError && resError.param === 'number'">
		              {{ resError.message | translate }}
		            </span>
		            <span class="form-control-feedback" *ngIf="f.submitted && cardForm.controls['cardNumber'].hasError('minLength')">
		              {{ 'msg.validation.card_number_length' | translate }}
		            </span>
		          </div>
		          <!-- Expiry-->
		          <div class="row row-card-exp">
		            <div class="col-6 col-sm-6 pr-2">
		              <div class="form-group">
		                <div class="form-group" [ngClass]="{'has-danger': f.submitted && (!cardForm.controls.expiry.valid || (resError && (resError.param === 'exp_month' || resError.param === 'exp_year') ))}">
		                  <div class="input-value" data-ng-init="focusExpiry=false" [ngClass]="{'focused': focusExpiry===true || (cardForm.controls.expiry.value && cardForm.controls.expiry.value.length > 0)}">
		                    <input type="text" id="expiry" id="expiry" name="expiry" (focus)="focusExpiry=true" (blur)="focusExpiry=false"
		                      formControlName="expiry" class="form-control" data-stripe="exp">
		                    <label for="expiry" class="field-label">{{ 'checkout.step_payment.card.expiry.label' | translate }}</label>
		                  </div>
		                  <span class="form-control-feedback " *ngIf="f.submitted && !cardForm.controls.expiry.valid">
		                    {{ 'msg.validation.required' | translate:{value: ('checkout.step_payment.card.expiry.label' | translate)} }}
		                  </span>
		                  <span class="form-control-feedback " *ngIf="f.submitted && resError && (resError.param === 'exp_year' || resError.param === 'exp_month')">
		                    {{ resError.message | translate }}
		                  </span>
		                </div>
		              </div>
		            </div>
		            <div class="col-6 col-sm-6 pl-2">
		              <div class="form-group" [ngClass]="{'has-danger': f.submitted && (!cardForm.controls.cvc.valid || (resError && resError.param === 'cvc'))}">
		                <div class="input-value" data-ng-init="focusCvc=false" [ngClass]="{'focused': focusCvc===true || (cardForm.controls.cvc.value && cardForm.controls.cvc.value.length > 0)}">
		                  <input type="password" id="cvc" name="cvc" formControlName="cvc" (focus)="focusCvc=true" (blur)="focusCvc=false"
		                    class="form-control" data-stripe="cvc">
											<div class="icon-info" (click)="togglerTooltip()">
												<span class="icon-info-tooltip">?</span>
											</div>
											<div class="tooltip_info hidden">{{ 'checkout.step_payment.card.code.tooltip' | translate }}</div>
											<label for="expiry" class="field-label">{{ 'checkout.step_payment.card.code.label' | translate }}</label>
		                </div>
		                <span class="form-control-feedback " *ngIf="f.submitted && !cardForm.controls.cvc.valid">
		                    {{ 'msg.validation.required' | translate:{value: ('checkout.step_payment.card.code.label' | translate)} }}
		                  </span>
		                <span class="form-control-feedback " *ngIf="f.submitted && resError && resError.param === 'cvc'">
		                    {{ resError.message | translate }}
	                  </span>
		              </div>
		            </div>
		          </div>
							<app-alert [message]="resError"></app-alert>
							<button type="submit" class="btn btn-primary btn-review-order mt-2" id="submit">{{ 'checkout.free_trial.place_order' | translate }} <span class="costs">&mdash; {{ priceTotal | smsCurrency }}</span></button>
						</form>
						<div class="term_text mt-4" [innerHTML]="'checkout.free_trial.term_text' | translate"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
