.has-error,
.correctInput {
.icon {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 3px;
	display: inline;
	overflow: hidden;
	right: 1px;
	z-index: 9;
}
}

.has-error {
.icon {
	&.show {
		&:before {
			content: url(assets/images/backgrounds/misc-elements-sprite.png);
			left: -33px;
			top: -61px;
			position: relative;
		}
	}
}
}

.correctInput {
.icon {
	&.show {
		&:before {
			content: url(assets/images/backgrounds/misc-elements-sprite.png);
			left: -33px;
			top: -2px;
			position: relative;
		}
	}
}
}

#checkout {
.hidden {
		display: none;
}
.section-title {
	border: 1px solid #111;
	padding: 8px 15px;
	font-size: 16px;
	color: white;
	// text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	letter-spacing: 0;
	font-weight: normal;
	overflow: hidden;
	background: silver;
	margin: 0 0;
	&.active {
		margin-bottom: 20px;
		background: #333;
	}
}
.fadein, .fadeout {
	opacity: 0;
	// -moz-transition: opacity 0.4s ease-in-out;
	// -o-transition: opacity 0.4s ease-in-out;
	// -webkit-transition: opacity 0.4s ease-in-out;
	// transition: opacity 0.4s ease-in-out;
	overflow-y: hidden;
	max-height: 500px; /* approximate max height */
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.fadein {
	display: block;
	opacity: 1;
}
.fadeout {
	display: none;
}
}

.modal {
&.fade {
	&.in {
		opacity: 1; 
	}
}
}
@font-face {
font-family: 'Roboto';
font-style: normal;
src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
font-family: 'Roboto-bold';
font-style: normal;
font-weight: 700;
src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
body {
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
}
strong, h1, h2, h3, h4, h5, h6 {
font-family: 'Roboto-bold';
}





.inner {
	margin: 0 auto;
	padding: 40px 30px;
	position: relative;
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none
}
#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url(https://www.getharvest.com/assets/fancybox/fancybox-324b9d944e39c915922db7058a276bd708e68ea5d86762741f14864af2324607.png)
}
#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none
}
#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none
}
#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none
}
#fancybox-outer {
	border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff
}
#fancybox-content {
	border-radius: 10px;
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	z-index: 1102;
	border: 0px solid #fff
}
#fancybox-content>div {
	overflow: visible !important
}
#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101
}
#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url(https://www.getharvest.com/assets/fancybox/fancybox-324b9d944e39c915922db7058a276bd708e68ea5d86762741f14864af2324607.png) -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none
}
#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0
}
#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top
}
#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block
}
#fancybox-left,
#fancybox-right {
	display: none !important
}
#fancybox-left {
	left: 0px
}
#fancybox-right {
	right: 0px
}
#fancybox-left-ico,
#fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block
}
#fancybox-left-ico {
	background-image: url(https://www.getharvest.com/assets/fancybox/fancybox-324b9d944e39c915922db7058a276bd708e68ea5d86762741f14864af2324607.png);
	background-position: -40px -30px
}
#fancybox-right-ico {
	background-image: url(https://www.getharvest.com/assets/fancybox/fancybox-324b9d944e39c915922db7058a276bd708e68ea5d86762741f14864af2324607.png);
	background-position: -40px -60px
}
#fancybox-left:hover,
#fancybox-right:hover {
	visibility: visible
}
#fancybox-left:hover span {
	left: 20px
}
#fancybox-right:hover span {
	left: auto;
	right: 20px
}
.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001
}
#fancybox-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url(https://www.getharvest.com/assets/fancybox/fancybox-x-911ab68ef5eb07fae3f7763f073fea7bc11e8b42b575976db8a0b454e265a87e.png)
}
#fancybox-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url(https://www.getharvest.com/assets/fancybox/fancybox-324b9d944e39c915922db7058a276bd708e68ea5d86762741f14864af2324607.png);
	background-position: -40px -162px
}
#fancybox-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url(https://www.getharvest.com/assets/fancybox/fancybox-y-656be44f352247af126ef0dd946850217387100f386bc500c026de988c540372.png);
	background-position: -20px 0px
}
#fancybox-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url(https://www.getharvest.com/assets/fancybox/fancybox-324b9d944e39c915922db7058a276bd708e68ea5d86762741f14864af2324607.png);
	background-position: -40px -182px
}
#fancybox-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url(https://www.getharvest.com/assets/fancybox/fancybox-x-911ab68ef5eb07fae3f7763f073fea7bc11e8b42b575976db8a0b454e265a87e.png);
	background-position: 0px -20px
}
#fancybox-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url(https://www.getharvest.com/assets/fancybox/fancybox-324b9d944e39c915922db7058a276bd708e68ea5d86762741f14864af2324607.png);
	background-position: -40px -142px
}
#fancybox-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url(https://www.getharvest.com/assets/fancybox/fancybox-y-656be44f352247af126ef0dd946850217387100f386bc500c026de988c540372.png)
}
#fancybox-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url(https://www.getharvest.com/assets/fancybox/fancybox-324b9d944e39c915922db7058a276bd708e68ea5d86762741f14864af2324607.png);
	background-position: -40px -122px
}
#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102
}
.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative
}
.fancybox-title-outside {
	padding-top: 10px;
	color: #fff
}
.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left
}
#fancybox-title-over {
	padding: 10px;
	background-image: url(https://www.getharvest.com/assets/fancybox/fancy_title_over-d7d1b664875a020cd6577ddc7131018e2abaeafbf8a73a0afad7b1cb5ed3e4ff.png);
	display: block
}
.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px
}
#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto
}
#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap
}
#fancybox-title-float-left {
	padding: 0 0 0 15px;
	background: url(https://www.getharvest.com/assets/fancybox/fancybox-324b9d944e39c915922db7058a276bd708e68ea5d86762741f14864af2324607.png) -40px -90px no-repeat
}
#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding: 0 0 3px 0;
	background: url(https://www.getharvest.com/assets/fancybox/fancybox-x-911ab68ef5eb07fae3f7763f073fea7bc11e8b42b575976db8a0b454e265a87e.png) 0px -40px
}
#fancybox-title-float-right {
	padding: 0 0 0 15px;
	background: url(https://www.getharvest.com/assets/fancybox/fancybox-324b9d944e39c915922db7058a276bd708e68ea5d86762741f14864af2324607.png) -55px -90px no-repeat
}
.fancybox-ie .fancybox-bg {
	background: transparent !important
}

time.sundial {
	position: relative
}
time.sundial .sundial-info {
	height: 12px;
	position: relative;
	width: 12px
}
time.sundial .sundial-info .sundial-tooltip {
	background: #111;
	border-radius: 4px;
	box-sizing: border-box;
	color: #fff;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: normal;
	left: -130px;
	line-height: 1.5;
	opacity: 0;
	padding: 12px;
	position: absolute;
	text-align: center;
	top: 20px;
	transform: scale(0.9);
	transition: all 0.15s 0.1s;
	visibility: hidden;
	width: 270px;
	z-index: 999
}
time.sundial .sundial-info .sundial-tooltip:before {
	background: #111;
	content: "";
	display: block;
	height: 10px;
	left: 50%;
	margin-left: -5px;
	position: absolute;
	top: -4px;
	transform: rotate(45deg);
	width: 10px
}
time.sundial .sundial-info .sundial-tooltip strong {
	color: #fff;
	font-size: 14px;
	white-space: nowrap
}
time.sundial .sundial-info:hover .sundial-tooltip {
	opacity: 1;
	transform: scale(1);
	visibility: visible
}
header {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #f36c00;
	background: linear-gradient(#f68a28, #f36c00);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	font-family: "Trade Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	height: 58px;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100
}
@media screen and (max-width: 1060px) {
	header {
			position: relative
	}
}
header .inner {
	padding-bottom: 0;
	padding-top: 0
}
.orange-title-page header {
	box-shadow: 0 0 0 transparent;
	transition: 0.2s
}
header.add-shadow {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1)
}
.orange-title {
	background: #f36c00
}
.orange-title h1,
.orange-title h3 {
	color: #fff
}
#harvest-logo,
#harvest-forecast-logo {
	background: url(https://www.getharvest.com/assets/harvest-logo-1f8d464891bbc977a643daf139b61a2faf3e445bb16313effd4c3a834d058c8c.svg) no-repeat 0 0;
	color: #fff;
	height: 28px;
	float: left;
	margin-top: 14px;
	overflow: hidden;
	text-indent: 100%;
	text-transform: uppercase;
	white-space: nowrap;
	width: 145px
}
.lt-ie9 #harvest-logo {
	background: url(https://www.getharvest.com/assets/harvest-logo-53a4ed4a52a7f8c6a3a5933b971c7ae9dba8759aa79608664a7665dde69cd625.png) no-repeat 0 0
}
#harvest-forecast-logo {
	background: url(https://www.getharvest.com/assets/harvest-forecast-logo-6c28003a641aa65106faa1bdcdcbdc0863b292c46a4c10f0925a0f660dcdcab1.svg) no-repeat 0 0;
	width: 292px
}
.lt-ie9 #harvest-logo {
	background: url(https://www.getharvest.com/assets/harvest-forecast-logo-84d7e05032b5bf22655273ab57e2e56e11860509ed126c361fb2867a3476eb03.png) no-repeat 0 0
}
.header-nav {
	float: right;
	font-size: 0;
	text-align: right
}
@media screen and (max-width: 1060px) {
	.responsive-page .header-nav {
			display: none
	}
}
.header-nav>a {
	background: rgba(255, 255, 255, 0);
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	font-size: 1rem;
	line-height: 1;
	margin: 10px 0 0 5px;
	opacity: 0.8;
	padding: 9px 12px 11px;
	text-decoration: none;
	transition: 0.1s
}
.header-nav>a:hover {
	background: rgba(255, 255, 255, 0.2);
	opacity: 1;
	text-decoration: none
}
.header-nav>a.nav-selected {
	background: rgba(255, 255, 255, 0.2);
	opacity: 1
}
#nav-sign-up {
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.7);
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	margin-left: 10px;
	opacity: 1;
	transition: 0.2s
}
#nav-sign-up:hover {
	background: #3eb123;
	border-color: #fff
}
#footer-cta {
	background: #f4f4f4;
	padding-bottom: 5px
}
#footer-cta h3 {
	margin: 15px 0 0
}
@media screen and (max-width: 1060px) {
	.responsive-page #footer-cta {
			padding: 0;
			text-align: center
	}
	.responsive-page #footer-cta .button {
			float: none
	}
}
footer {
	background: #444;
	color: #999;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.4
}
footer a {
	color: #999;
	text-decoration: none;
	transition: 0.1s
}
footer a:hover {
	color: #f36c00;
	text-decoration: underline
}
footer strong {
	color: #ddd
}
.footer-nav>strong {
	display: block;
	margin-bottom: 16px
}
.footer-nav>a {
	display: block;
	margin-bottom: 6px
}
.footer-h-f {
	background: rgba(255, 255, 255, 0.05);
	border-radius: 4px;
	color: #bbb;
	display: block;
	overflow: hidden;
	padding: 15px 35% 18px 20px;
	position: relative
}
.footer-h-f>img {
	filter: grayscale(100%);
	left: 72%;
	opacity: 0.75;
	position: absolute;
	top: 12px;
	width: 300px
}
.footer-h-f>h4 {
	color: #ddd;
	margin: 0;
	padding: 0;
	transition: 0.1s
}
.footer-h-f:hover {
	box-shadow: 0 0 0 2px #f36c00;
	color: #fff;
	text-decoration: none
}
.footer-h-f:hover>img {
	filter: grayscale(0%);
	opacity: 1
}
.footer-h-f:hover>h4 {
	color: #fff
}
#forecast-footer .footer-h-f>img {
	left: 65%;
	top: 10px;
	width: 150px
}
.footer-bottom {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	margin-top: 40px;
	padding-top: 20px
}
.footer-social {
	float: right
}
.footer-social>a {
	display: inline-block;
	margin-left: 30px;
	white-space: nowrap
}
.footer-social>a:hover img {
	filter: grayscale(0%)
}
.footer-social img {
	display: inline-block;
	filter: grayscale(100%);
	margin: -2px 8px 0 0;
	transition: 0.1s;
	vertical-align: middle
}
@media screen and (max-width: 1060px) {
	.responsive-page .footer-social {
			float: none;
			margin-bottom: 10px
	}
	.responsive-page .footer-social>a {
			display: block;
			margin: 0;
			padding: 10px 0
	}
}
.view-mobile-version-link {
	background: #000;
	color: #fff;
	display: block;
	font-size: 42px;
	line-height: 1;
	margin: 0 auto;
	padding: 40px 30px;
	text-align: center;
	text-decoration: none;
	width: 1000px
}
@media screen and (max-width: 1060px) {
	.responsive-page .view-mobile-version-link {
			display: none
	}
}
.harvest-in-numbers ul.disc {
	margin: 0;
	padding-left: 18px
}
.harvest-in-numbers ul.disc>li {
	margin-bottom: 10px
}
#meet-team>figure {
	margin-bottom: 30px;
	min-height: 240px;
	text-align: center
}
#meet-team>figure>img {
	border-radius: 4px;
	position: relative;
	width: 150px;
	z-index: 1
}
#meet-team figcaption>span {
	color: #999;
	display: block;
	font-family: "Trade Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px
}
#meet-team figcaption>a {
	background: url(https://www.getharvest.com/assets/icons/twitter-31787ff182449f45bf8e9131abbe9bdf3404d759c90da64ff129a5c4a82b2cf9.svg) no-repeat center center;
	background-size: 18px 18px;
	display: block;
	font-size: 0;
	height: 18px;
	padding: 5px 0;
	opacity: 0.1;
	transition: opacity 0.1s;
	width: 100%
}
#meet-team figcaption>a:hover {
	opacity: 0.4
}
#harvest-way>dl>dt {
	float: left
}
#harvest-way>dl>dd {
	margin-left: 260px
}
#giving-back>img {
	float: right;
	margin: 5px 0 25px 30px
}
.press-quote {
	margin: 0 0 40px 25px
}
#logos-screenshots .col {
	font-size: 14px;
	margin-bottom: 30px;
	margin-top: 10px;
	text-align: center;
	white-space: nowrap
}
#logos-screenshots a {
	display: block;
	text-decoration: none
}
#logos-screenshots a>img {
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
	display: block;
	margin: 0 auto 5px;
	padding: 5px;
	width: 100%
}
#logos-screenshots a:hover>img,
#logos-screenshots a:focus>img {
	border-color: #f36c00;
	box-shadow: 0 0 0 1px #f36c00
}
#contact-us strong {
	color: #444
}
#contact-us span {
	color: #999;
	font-size: 12px;
	margin-left: 5px
}
.addons-list-section .inner {
	padding-bottom: 0
}
ul#addons-list {
	list-style: none;
	margin-bottom: 0;
	padding: 0
}
ul#addons-list>li {
	margin-bottom: 20px
}
ul#addons-list a {
	font-size: 14px;
	line-height: 20px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 0 0 1px transparent;
	box-sizing: border-box;
	color: #555;
	display: block;
	height: 230px;
	overflow: hidden;
	padding: 0 15px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: all 0.1s
}
ul#addons-list a:hover,
ul#addons-list a:focus {
	border-color: #f36c00;
	box-shadow: 0 0 0 1px #f36c00
}
ul#addons-list a:hover .harvest-built-flag,
ul#addons-list a:focus .harvest-built-flag {
	background: #f36c00;
	color: #fff
}
ul#addons-list img {
	display: block;
	height: 80px;
	margin: 25px auto 20px;
	max-width: 100%
}
ul#addons-list strong {
	color: #666;
	display: block
}
.harvest-built-flag {
	background: #ddd;
	color: #999;
	font-family: "Trade Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10px;
	line-height: 1;
	letter-spacing: 1px;
	padding: 5px 40px;
	position: absolute;
	right: -42px;
	text-transform: uppercase;
	transform: rotate(40deg);
	transition: all 0.1s;
	top: 25px
}
#addons-intro .app-icon {
	margin-bottom: 5px;
	width: 50px
}
#addons-intro img {
	max-width: 100%
}
.quote.addons-quote {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 10px 0
}
.quote.addons-quote>em {
	font-family: "Trade Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 15px
}
.quote.addons-quote>em:before {
	font-size: 50px;
	margin: 10px 0 0 -25px
}
.quote.addons-quote>span {
	font-size: 14px
}
.button-platform {
	background: #fff;
	border-color: #ccc;
	margin-right: 5px;
	padding: 18px 20px
}
.button-platform>img {
	display: inline-block;
	height: 40px;
	margin: -12px 0 -10px 0;
	vertical-align: middle;
	width: 40px
}
.button-platform:hover,
.button-platform:focus {
	background: rgba(0, 0, 0, 0.05)
}
.button-apple-app-store,
.button-google-play-store,
.button-store {
	display: inline-block;
	vertical-align: middle
}
.button-apple-app-store:hover,
.button-google-play-store:hover,
.button-store:hover {
	opacity: 0.8
}
.widget-button {
	display: block
}
.addons-xero-award {
	display: inline-block;
	margin-left: 20px;
	vertical-align: middle
}
.addons-mac-direct-download {
	font-size: 13px;
	line-height: 18px;
	display: inline-block;
	margin-left: 15px;
	vertical-align: middle
}
.mac-hero {
	margin: 30px -5px;
	width: 116%
}
h2.has-anchor {
	position: relative
}
h2.has-anchor .header-anchor {
	color: #999;
	display: none;
	font-size: 31px;
	left: -31px;
	line-height: 100%;
	padding-right: 5px;
	position: absolute;
	text-decoration: none;
	top: 0;
	width: 26px;
	z-index: 2
}
h2.has-anchor .header-anchor:hover {
	color: #777
}
h2.has-anchor:hover .header-anchor {
	display: inline-block
}
.harvest-vid {
	display: block;
	overflow: hidden;
	position: relative
}
.harvest-vid>img {
	display: block
}
.harvest-vid:before {
	background: rgba(0, 0, 0, 0.6);
	border-radius: 50px;
	content: "";
	height: 100px;
	left: 50%;
	margin: -50px 0 0 -50px;
	position: absolute;
	top: 50%;
	width: 100px
}
.harvest-vid:after {
	border-bottom: 20px solid transparent;
	border-left: 40px solid #fff;
	border-top: 20px solid transparent;
	content: "";
	left: 50%;
	margin: -20px 0 0 -15px;
	position: absolute;
	top: 50%
}
#addon-header {
	position: relative;
	overflow: hidden
}
#addon-header .harvest-addon-logo {
	filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.1))
}
#addon-header .addon-illustration-left {
	position: absolute;
	left: -20px;
	top: 30px
}
#addon-header .addon-illustration-right {
	position: absolute;
	right: -50px;
	top: 30px
}
#addon-header .addon-signup {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	color: #555;
	display: inline-block;
	font-size: 18px;
	padding: 8px 14px;
	text-decoration: none;
	transition: all 0.1s
}
#addon-header .addon-signup .addon-signup-icon {
	float: left;
	margin: 2px 6px 0 0
}
#addon-header .addon-signup:hover {
	box-shadow: 0 1px 12px rgba(0, 0, 0, 0.4);
	transition: all 0.1s
}
#addon-header .addon-signup:active {
	opacity: 0.9;
	transition: none
}
#addon-header .addon-trial,
#addon-header .addon-trial a {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	font-size: 14px
}
#addon-header .addon-trial {
	opacity: 0.8
}
#slack-showcase .slack-feature-button {
	background: transparent;
	border-radius: 5px;
	border: 1px solid #ddd;
	cursor: pointer;
	line-height: 1.5;
	margin-bottom: 20px;
	outline: 0;
	padding: 15px;
	text-align: left;
	transition: all 0.1s
}
#slack-showcase .slack-feature-button:hover {
	background: #f4f4f4;
	transition: all 0.1s
}
#slack-showcase .slack-feature-button:active,
#slack-showcase .slack-feature-button.is-active {
	background: #fff;
	border-color: #f36c00;
	box-shadow: 0 0 0 1px #f36c00;
	color: #333
}
#slack-showcase .slack-feature-button p {
	margin: 10px 0
}
#slack-showcase .title-icon {
	margin-right: 8px;
	position: relative;
	top: 2px
}
#slack-showcase code {
	color: #777;
	display: block;
	font-size: 14px
}
#slack-showcase video {
	border-radius: 5px;
	border: 1px solid #ddd;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	opacity: 1;
	padding-bottom: 8px;
	position: absolute;
	top: 0;
	transition: opacity 0.5s 0.5s, visibility 0.5s 0.5s;
	visibility: visible
}
#slack-showcase video.video-hidden {
	opacity: 0;
	transition-delay: 0s;
	visibility: hidden
}
#basecamp-showcase .basecamp-track-time {
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1)
}
#basecamp-showcase .basecamp-track-time-callout {
	top: 280px;
	width: 265px
}
#basecamp-showcase .basecamp-analyze-callout {
	top: 393px;
	width: 310px
}
#why-harvest .harvest-features {
	font-size: 15px;
	padding: 0 80px 0 0
}
#why-harvest .harvest-features li {
	background: url(https://www.getharvest.com/assets/icons/check-6ecdc21c6fd268e9570a8ec9e4dd63aca4416db8350f923a7acf1ea6fd98041d.svg) no-repeat;
	padding-left: 25px;
	list-style: none
}
.intl-tel-input {
	position: relative;
	display: inline-block
}
.intl-tel-input * {
	box-sizing: border-box;
	-moz-box-sizing: border-box
}
.intl-tel-input .hide {
	display: none
}
.intl-tel-input .v-hide {
	visibility: hidden
}
.intl-tel-input input,
.intl-tel-input input[type=text],
.intl-tel-input input[type=tel] {
	position: relative;
	z-index: 0;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-right: 36px;
	margin-right: 0
}
.intl-tel-input .flag-container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 1px
}
.intl-tel-input .selected-flag {
	z-index: 1;
	position: relative;
	width: 36px;
	height: 100%;
	padding: 0 0 0 8px
}
.intl-tel-input .selected-flag .iti-flag {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto
}
.intl-tel-input .selected-flag .iti-arrow {
	position: absolute;
	top: 50%;
	margin-top: -2px;
	right: 6px;
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 4px solid #555
}
.intl-tel-input .selected-flag .iti-arrow.up {
	border-top: none;
	border-bottom: 4px solid #555
}
.intl-tel-input .country-list {
	position: absolute;
	z-index: 2;
	list-style: none;
	text-align: left;
	padding: 0;
	margin: 0 0 0 -1px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
	background-color: white;
	border: 1px solid #CCC;
	white-space: nowrap;
	max-height: 200px;
	overflow-y: scroll
}
.intl-tel-input .country-list.dropup {
	bottom: 100%;
	margin-bottom: -1px
}
.intl-tel-input .country-list .flag-box {
	display: inline-block;
	width: 20px
}
@media (max-width: 500px) {
	.intl-tel-input .country-list {
			white-space: normal
	}
}
.intl-tel-input .country-list .divider {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #CCC
}
.intl-tel-input .country-list .country {
	padding: 5px 10px
}
.intl-tel-input .country-list .country .dial-code {
	color: #999
}
.intl-tel-input .country-list .country.highlight {
	background-color: rgba(0, 0, 0, 0.05)
}
.intl-tel-input .country-list .flag-box,
.intl-tel-input .country-list .country-name,
.intl-tel-input .country-list .dial-code {
	vertical-align: middle
}
.intl-tel-input .country-list .flag-box,
.intl-tel-input .country-list .country-name {
	margin-right: 6px
}
.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type=text],
.intl-tel-input.allow-dropdown input[type=tel],
.intl-tel-input.separate-dial-code input,
.intl-tel-input.separate-dial-code input[type=text],
.intl-tel-input.separate-dial-code input[type=tel] {
	padding-right: 6px;
	padding-left: 52px;
	margin-left: 0
}
.intl-tel-input.allow-dropdown .flag-container,
.intl-tel-input.separate-dial-code .flag-container {
	right: auto;
	left: 0
}
.intl-tel-input.allow-dropdown .selected-flag,
.intl-tel-input.separate-dial-code .selected-flag {
	width: 46px
}
.intl-tel-input.allow-dropdown .flag-container:hover {
	cursor: pointer
}
.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
	background-color: rgba(0, 0, 0, 0.05)
}
.intl-tel-input.allow-dropdown input[disabled]+.flag-container:hover,
.intl-tel-input.allow-dropdown input[readonly]+.flag-container:hover {
	cursor: default
}
.intl-tel-input.allow-dropdown input[disabled]+.flag-container:hover .selected-flag,
.intl-tel-input.allow-dropdown input[readonly]+.flag-container:hover .selected-flag {
	background-color: transparent
}
.intl-tel-input.separate-dial-code .selected-flag {
	background-color: rgba(0, 0, 0, 0.05);
	display: table
}
.intl-tel-input.separate-dial-code .selected-dial-code {
	display: table-cell;
	vertical-align: middle;
	padding-left: 28px
}
.intl-tel-input.separate-dial-code.iti-sdc-2 input,
.intl-tel-input.separate-dial-code.iti-sdc-2 input[type=text],
.intl-tel-input.separate-dial-code.iti-sdc-2 input[type=tel] {
	padding-left: 66px
}
.intl-tel-input.separate-dial-code.iti-sdc-2 .selected-flag {
	width: 60px
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 input,
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 input[type=text],
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 input[type=tel] {
	padding-left: 76px
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 .selected-flag {
	width: 70px
}
.intl-tel-input.separate-dial-code.iti-sdc-3 input,
.intl-tel-input.separate-dial-code.iti-sdc-3 input[type=text],
.intl-tel-input.separate-dial-code.iti-sdc-3 input[type=tel] {
	padding-left: 74px
}
.intl-tel-input.separate-dial-code.iti-sdc-3 .selected-flag {
	width: 68px
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input,
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input[type=text],
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input[type=tel] {
	padding-left: 84px
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 .selected-flag {
	width: 78px
}
.intl-tel-input.separate-dial-code.iti-sdc-4 input,
.intl-tel-input.separate-dial-code.iti-sdc-4 input[type=text],
.intl-tel-input.separate-dial-code.iti-sdc-4 input[type=tel] {
	padding-left: 82px
}
.intl-tel-input.separate-dial-code.iti-sdc-4 .selected-flag {
	width: 76px
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input,
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input[type=text],
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input[type=tel] {
	padding-left: 92px
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 .selected-flag {
	width: 86px
}
.intl-tel-input.separate-dial-code.iti-sdc-5 input,
.intl-tel-input.separate-dial-code.iti-sdc-5 input[type=text],
.intl-tel-input.separate-dial-code.iti-sdc-5 input[type=tel] {
	padding-left: 90px
}
.intl-tel-input.separate-dial-code.iti-sdc-5 .selected-flag {
	width: 84px
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 input,
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 input[type=text],
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 input[type=tel] {
	padding-left: 100px
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 .selected-flag {
	width: 94px
}
.intl-tel-input.iti-container {
	position: absolute;
	top: -1000px;
	left: -1000px;
	z-index: 1060;
	padding: 1px
}
.intl-tel-input.iti-container:hover {
	cursor: pointer
}
.iti-mobile .intl-tel-input.iti-container {
	top: 30px;
	bottom: 30px;
	left: 30px;
	right: 30px;
	position: fixed
}
.iti-mobile .intl-tel-input .country-list {
	max-height: 100%;
	width: 100%
}
.iti-mobile .intl-tel-input .country-list .country {
	padding: 10px 10px;
	line-height: 1.5em
}
.iti-flag {
	width: 20px
}
.iti-flag.be {
	width: 18px
}
.iti-flag.ch {
	width: 15px
}
.iti-flag.mc {
	width: 19px
}
.iti-flag.ne {
	width: 18px
}
.iti-flag.np {
	width: 13px
}
.iti-flag.va {
	width: 15px
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
	.iti-flag {
			background-size: 5630px 15px
	}
}
.iti-flag.ac {
	height: 10px;
	background-position: 0px 0px
}
.iti-flag.ad {
	height: 14px;
	background-position: -22px 0px
}
.iti-flag.ae {
	height: 10px;
	background-position: -44px 0px
}
.iti-flag.af {
	height: 14px;
	background-position: -66px 0px
}
.iti-flag.ag {
	height: 14px;
	background-position: -88px 0px
}
.iti-flag.ai {
	height: 10px;
	background-position: -110px 0px
}
.iti-flag.al {
	height: 15px;
	background-position: -132px 0px
}
.iti-flag.am {
	height: 10px;
	background-position: -154px 0px
}
.iti-flag.ao {
	height: 14px;
	background-position: -176px 0px
}
.iti-flag.aq {
	height: 14px;
	background-position: -198px 0px
}
.iti-flag.ar {
	height: 13px;
	background-position: -220px 0px
}
.iti-flag.as {
	height: 10px;
	background-position: -242px 0px
}
.iti-flag.at {
	height: 14px;
	background-position: -264px 0px
}
.iti-flag.au {
	height: 10px;
	background-position: -286px 0px
}
.iti-flag.aw {
	height: 14px;
	background-position: -308px 0px
}
.iti-flag.ax {
	height: 13px;
	background-position: -330px 0px
}
.iti-flag.az {
	height: 10px;
	background-position: -352px 0px
}
.iti-flag.ba {
	height: 10px;
	background-position: -374px 0px
}
.iti-flag.bb {
	height: 14px;
	background-position: -396px 0px
}
.iti-flag.bd {
	height: 12px;
	background-position: -418px 0px
}
.iti-flag.be {
	height: 15px;
	background-position: -440px 0px
}
.iti-flag.bf {
	height: 14px;
	background-position: -460px 0px
}
.iti-flag.bg {
	height: 12px;
	background-position: -482px 0px
}
.iti-flag.bh {
	height: 12px;
	background-position: -504px 0px
}
.iti-flag.bi {
	height: 12px;
	background-position: -526px 0px
}
.iti-flag.bj {
	height: 14px;
	background-position: -548px 0px
}
.iti-flag.bl {
	height: 14px;
	background-position: -570px 0px
}
.iti-flag.bm {
	height: 10px;
	background-position: -592px 0px
}
.iti-flag.bn {
	height: 10px;
	background-position: -614px 0px
}
.iti-flag.bo {
	height: 14px;
	background-position: -636px 0px
}
.iti-flag.bq {
	height: 14px;
	background-position: -658px 0px
}
.iti-flag.br {
	height: 14px;
	background-position: -680px 0px
}
.iti-flag.bs {
	height: 10px;
	background-position: -702px 0px
}
.iti-flag.bt {
	height: 14px;
	background-position: -724px 0px
}
.iti-flag.bv {
	height: 15px;
	background-position: -746px 0px
}
.iti-flag.bw {
	height: 14px;
	background-position: -768px 0px
}
.iti-flag.by {
	height: 10px;
	background-position: -790px 0px
}
.iti-flag.bz {
	height: 14px;
	background-position: -812px 0px
}
.iti-flag.ca {
	height: 10px;
	background-position: -834px 0px
}
.iti-flag.cc {
	height: 10px;
	background-position: -856px 0px
}
.iti-flag.cd {
	height: 15px;
	background-position: -878px 0px
}
.iti-flag.cf {
	height: 14px;
	background-position: -900px 0px
}
.iti-flag.cg {
	height: 14px;
	background-position: -922px 0px
}
.iti-flag.ch {
	height: 15px;
	background-position: -944px 0px
}
.iti-flag.ci {
	height: 14px;
	background-position: -961px 0px
}
.iti-flag.ck {
	height: 10px;
	background-position: -983px 0px
}
.iti-flag.cl {
	height: 14px;
	background-position: -1005px 0px
}
.iti-flag.cm {
	height: 14px;
	background-position: -1027px 0px
}
.iti-flag.cn {
	height: 14px;
	background-position: -1049px 0px
}
.iti-flag.co {
	height: 14px;
	background-position: -1071px 0px
}
.iti-flag.cp {
	height: 14px;
	background-position: -1093px 0px
}
.iti-flag.cr {
	height: 12px;
	background-position: -1115px 0px
}
.iti-flag.cu {
	height: 10px;
	background-position: -1137px 0px
}
.iti-flag.cv {
	height: 12px;
	background-position: -1159px 0px
}
.iti-flag.cw {
	height: 14px;
	background-position: -1181px 0px
}
.iti-flag.cx {
	height: 10px;
	background-position: -1203px 0px
}
.iti-flag.cy {
	height: 13px;
	background-position: -1225px 0px
}
.iti-flag.cz {
	height: 14px;
	background-position: -1247px 0px
}
.iti-flag.de {
	height: 12px;
	background-position: -1269px 0px
}
.iti-flag.dg {
	height: 10px;
	background-position: -1291px 0px
}
.iti-flag.dj {
	height: 14px;
	background-position: -1313px 0px
}
.iti-flag.dk {
	height: 15px;
	background-position: -1335px 0px
}
.iti-flag.dm {
	height: 10px;
	background-position: -1357px 0px
}
.iti-flag.do {
	height: 13px;
	background-position: -1379px 0px
}
.iti-flag.dz {
	height: 14px;
	background-position: -1401px 0px
}
.iti-flag.ea {
	height: 14px;
	background-position: -1423px 0px
}
.iti-flag.ec {
	height: 14px;
	background-position: -1445px 0px
}
.iti-flag.ee {
	height: 13px;
	background-position: -1467px 0px
}
.iti-flag.eg {
	height: 14px;
	background-position: -1489px 0px
}
.iti-flag.eh {
	height: 10px;
	background-position: -1511px 0px
}
.iti-flag.er {
	height: 10px;
	background-position: -1533px 0px
}
.iti-flag.es {
	height: 14px;
	background-position: -1555px 0px
}
.iti-flag.et {
	height: 10px;
	background-position: -1577px 0px
}
.iti-flag.eu {
	height: 14px;
	background-position: -1599px 0px
}
.iti-flag.fi {
	height: 12px;
	background-position: -1621px 0px
}
.iti-flag.fj {
	height: 10px;
	background-position: -1643px 0px
}
.iti-flag.fk {
	height: 10px;
	background-position: -1665px 0px
}
.iti-flag.fm {
	height: 11px;
	background-position: -1687px 0px
}
.iti-flag.fo {
	height: 15px;
	background-position: -1709px 0px
}
.iti-flag.fr {
	height: 14px;
	background-position: -1731px 0px
}
.iti-flag.ga {
	height: 15px;
	background-position: -1753px 0px
}
.iti-flag.gb {
	height: 10px;
	background-position: -1775px 0px
}
.iti-flag.gd {
	height: 12px;
	background-position: -1797px 0px
}
.iti-flag.ge {
	height: 14px;
	background-position: -1819px 0px
}
.iti-flag.gf {
	height: 14px;
	background-position: -1841px 0px
}
.iti-flag.gg {
	height: 14px;
	background-position: -1863px 0px
}
.iti-flag.gh {
	height: 14px;
	background-position: -1885px 0px
}
.iti-flag.gi {
	height: 10px;
	background-position: -1907px 0px
}
.iti-flag.gl {
	height: 14px;
	background-position: -1929px 0px
}
.iti-flag.gm {
	height: 14px;
	background-position: -1951px 0px
}
.iti-flag.gn {
	height: 14px;
	background-position: -1973px 0px
}
.iti-flag.gp {
	height: 14px;
	background-position: -1995px 0px
}
.iti-flag.gq {
	height: 14px;
	background-position: -2017px 0px
}
.iti-flag.gr {
	height: 14px;
	background-position: -2039px 0px
}
.iti-flag.gs {
	height: 10px;
	background-position: -2061px 0px
}
.iti-flag.gt {
	height: 13px;
	background-position: -2083px 0px
}
.iti-flag.gu {
	height: 11px;
	background-position: -2105px 0px
}
.iti-flag.gw {
	height: 10px;
	background-position: -2127px 0px
}
.iti-flag.gy {
	height: 12px;
	background-position: -2149px 0px
}
.iti-flag.hk {
	height: 14px;
	background-position: -2171px 0px
}
.iti-flag.hm {
	height: 10px;
	background-position: -2193px 0px
}
.iti-flag.hn {
	height: 10px;
	background-position: -2215px 0px
}
.iti-flag.hr {
	height: 10px;
	background-position: -2237px 0px
}
.iti-flag.ht {
	height: 12px;
	background-position: -2259px 0px
}
.iti-flag.hu {
	height: 10px;
	background-position: -2281px 0px
}
.iti-flag.ic {
	height: 14px;
	background-position: -2303px 0px
}
.iti-flag.id {
	height: 14px;
	background-position: -2325px 0px
}
.iti-flag.ie {
	height: 10px;
	background-position: -2347px 0px
}
.iti-flag.il {
	height: 15px;
	background-position: -2369px 0px
}
.iti-flag.im {
	height: 10px;
	background-position: -2391px 0px
}
.iti-flag.in {
	height: 14px;
	background-position: -2413px 0px
}
.iti-flag.io {
	height: 10px;
	background-position: -2435px 0px
}
.iti-flag.iq {
	height: 14px;
	background-position: -2457px 0px
}
.iti-flag.ir {
	height: 12px;
	background-position: -2479px 0px
}
.iti-flag.is {
	height: 15px;
	background-position: -2501px 0px
}
.iti-flag.it {
	height: 14px;
	background-position: -2523px 0px
}
.iti-flag.je {
	height: 12px;
	background-position: -2545px 0px
}
.iti-flag.jm {
	height: 10px;
	background-position: -2567px 0px
}
.iti-flag.jo {
	height: 10px;
	background-position: -2589px 0px
}
.iti-flag.jp {
	height: 14px;
	background-position: -2611px 0px
}
.iti-flag.ke {
	height: 14px;
	background-position: -2633px 0px
}
.iti-flag.kg {
	height: 12px;
	background-position: -2655px 0px
}
.iti-flag.kh {
	height: 13px;
	background-position: -2677px 0px
}
.iti-flag.ki {
	height: 10px;
	background-position: -2699px 0px
}
.iti-flag.km {
	height: 12px;
	background-position: -2721px 0px
}
.iti-flag.kn {
	height: 14px;
	background-position: -2743px 0px
}
.iti-flag.kp {
	height: 10px;
	background-position: -2765px 0px
}
.iti-flag.kr {
	height: 14px;
	background-position: -2787px 0px
}
.iti-flag.kw {
	height: 10px;
	background-position: -2809px 0px
}
.iti-flag.ky {
	height: 10px;
	background-position: -2831px 0px
}
.iti-flag.kz {
	height: 10px;
	background-position: -2853px 0px
}
.iti-flag.la {
	height: 14px;
	background-position: -2875px 0px
}
.iti-flag.lb {
	height: 14px;
	background-position: -2897px 0px
}
.iti-flag.lc {
	height: 10px;
	background-position: -2919px 0px
}
.iti-flag.li {
	height: 12px;
	background-position: -2941px 0px
}
.iti-flag.lk {
	height: 10px;
	background-position: -2963px 0px
}
.iti-flag.lr {
	height: 11px;
	background-position: -2985px 0px
}
.iti-flag.ls {
	height: 14px;
	background-position: -3007px 0px
}
.iti-flag.lt {
	height: 12px;
	background-position: -3029px 0px
}
.iti-flag.lu {
	height: 12px;
	background-position: -3051px 0px
}
.iti-flag.lv {
	height: 10px;
	background-position: -3073px 0px
}
.iti-flag.ly {
	height: 10px;
	background-position: -3095px 0px
}
.iti-flag.ma {
	height: 14px;
	background-position: -3117px 0px
}
.iti-flag.mc {
	height: 15px;
	background-position: -3139px 0px
}
.iti-flag.md {
	height: 10px;
	background-position: -3160px 0px
}
.iti-flag.me {
	height: 10px;
	background-position: -3182px 0px
}
.iti-flag.mf {
	height: 14px;
	background-position: -3204px 0px
}
.iti-flag.mg {
	height: 14px;
	background-position: -3226px 0px
}
.iti-flag.mh {
	height: 11px;
	background-position: -3248px 0px
}
.iti-flag.mk {
	height: 10px;
	background-position: -3270px 0px
}
.iti-flag.ml {
	height: 14px;
	background-position: -3292px 0px
}
.iti-flag.mm {
	height: 14px;
	background-position: -3314px 0px
}
.iti-flag.mn {
	height: 10px;
	background-position: -3336px 0px
}
.iti-flag.mo {
	height: 14px;
	background-position: -3358px 0px
}
.iti-flag.mp {
	height: 10px;
	background-position: -3380px 0px
}
.iti-flag.mq {
	height: 14px;
	background-position: -3402px 0px
}
.iti-flag.mr {
	height: 14px;
	background-position: -3424px 0px
}
.iti-flag.ms {
	height: 10px;
	background-position: -3446px 0px
}
.iti-flag.mt {
	height: 14px;
	background-position: -3468px 0px
}
.iti-flag.mu {
	height: 14px;
	background-position: -3490px 0px
}
.iti-flag.mv {
	height: 14px;
	background-position: -3512px 0px
}
.iti-flag.mw {
	height: 14px;
	background-position: -3534px 0px
}
.iti-flag.mx {
	height: 12px;
	background-position: -3556px 0px
}
.iti-flag.my {
	height: 10px;
	background-position: -3578px 0px
}
.iti-flag.mz {
	height: 14px;
	background-position: -3600px 0px
}
.iti-flag.na {
	height: 14px;
	background-position: -3622px 0px
}
.iti-flag.nc {
	height: 10px;
	background-position: -3644px 0px
}
.iti-flag.ne {
	height: 15px;
	background-position: -3666px 0px
}
.iti-flag.nf {
	height: 10px;
	background-position: -3686px 0px
}
.iti-flag.ng {
	height: 10px;
	background-position: -3708px 0px
}
.iti-flag.ni {
	height: 12px;
	background-position: -3730px 0px
}
.iti-flag.nl {
	height: 14px;
	background-position: -3752px 0px
}
.iti-flag.no {
	height: 15px;
	background-position: -3774px 0px
}
.iti-flag.np {
	height: 15px;
	background-position: -3796px 0px
}
.iti-flag.nr {
	height: 10px;
	background-position: -3811px 0px
}
.iti-flag.nu {
	height: 10px;
	background-position: -3833px 0px
}
.iti-flag.nz {
	height: 10px;
	background-position: -3855px 0px
}
.iti-flag.om {
	height: 10px;
	background-position: -3877px 0px
}
.iti-flag.pa {
	height: 14px;
	background-position: -3899px 0px
}
.iti-flag.pe {
	height: 14px;
	background-position: -3921px 0px
}
.iti-flag.pf {
	height: 14px;
	background-position: -3943px 0px
}
.iti-flag.pg {
	height: 15px;
	background-position: -3965px 0px
}
.iti-flag.ph {
	height: 10px;
	background-position: -3987px 0px
}
.iti-flag.pk {
	height: 14px;
	background-position: -4009px 0px
}
.iti-flag.pl {
	height: 13px;
	background-position: -4031px 0px
}
.iti-flag.pm {
	height: 14px;
	background-position: -4053px 0px
}
.iti-flag.pn {
	height: 10px;
	background-position: -4075px 0px
}
.iti-flag.pr {
	height: 14px;
	background-position: -4097px 0px
}
.iti-flag.ps {
	height: 10px;
	background-position: -4119px 0px
}
.iti-flag.pt {
	height: 14px;
	background-position: -4141px 0px
}
.iti-flag.pw {
	height: 13px;
	background-position: -4163px 0px
}
.iti-flag.py {
	height: 11px;
	background-position: -4185px 0px
}
.iti-flag.qa {
	height: 8px;
	background-position: -4207px 0px
}
.iti-flag.re {
	height: 14px;
	background-position: -4229px 0px
}
.iti-flag.ro {
	height: 14px;
	background-position: -4251px 0px
}
.iti-flag.rs {
	height: 14px;
	background-position: -4273px 0px
}
.iti-flag.ru {
	height: 14px;
	background-position: -4295px 0px
}
.iti-flag.rw {
	height: 14px;
	background-position: -4317px 0px
}
.iti-flag.sa {
	height: 14px;
	background-position: -4339px 0px
}
.iti-flag.sb {
	height: 10px;
	background-position: -4361px 0px
}
.iti-flag.sc {
	height: 10px;
	background-position: -4383px 0px
}
.iti-flag.sd {
	height: 10px;
	background-position: -4405px 0px
}
.iti-flag.se {
	height: 13px;
	background-position: -4427px 0px
}
.iti-flag.sg {
	height: 14px;
	background-position: -4449px 0px
}
.iti-flag.sh {
	height: 10px;
	background-position: -4471px 0px
}
.iti-flag.si {
	height: 10px;
	background-position: -4493px 0px
}
.iti-flag.sj {
	height: 15px;
	background-position: -4515px 0px
}
.iti-flag.sk {
	height: 14px;
	background-position: -4537px 0px
}
.iti-flag.sl {
	height: 14px;
	background-position: -4559px 0px
}
.iti-flag.sm {
	height: 15px;
	background-position: -4581px 0px
}
.iti-flag.sn {
	height: 14px;
	background-position: -4603px 0px
}
.iti-flag.so {
	height: 14px;
	background-position: -4625px 0px
}
.iti-flag.sr {
	height: 14px;
	background-position: -4647px 0px
}
.iti-flag.ss {
	height: 10px;
	background-position: -4669px 0px
}
.iti-flag.st {
	height: 10px;
	background-position: -4691px 0px
}
.iti-flag.sv {
	height: 12px;
	background-position: -4713px 0px
}
.iti-flag.sx {
	height: 14px;
	background-position: -4735px 0px
}
.iti-flag.sy {
	height: 14px;
	background-position: -4757px 0px
}
.iti-flag.sz {
	height: 14px;
	background-position: -4779px 0px
}
.iti-flag.ta {
	height: 10px;
	background-position: -4801px 0px
}
.iti-flag.tc {
	height: 10px;
	background-position: -4823px 0px
}
.iti-flag.td {
	height: 14px;
	background-position: -4845px 0px
}
.iti-flag.tf {
	height: 14px;
	background-position: -4867px 0px
}
.iti-flag.tg {
	height: 13px;
	background-position: -4889px 0px
}
.iti-flag.th {
	height: 14px;
	background-position: -4911px 0px
}
.iti-flag.tj {
	height: 10px;
	background-position: -4933px 0px
}
.iti-flag.tk {
	height: 10px;
	background-position: -4955px 0px
}
.iti-flag.tl {
	height: 10px;
	background-position: -4977px 0px
}
.iti-flag.tm {
	height: 14px;
	background-position: -4999px 0px
}
.iti-flag.tn {
	height: 14px;
	background-position: -5021px 0px
}
.iti-flag.to {
	height: 10px;
	background-position: -5043px 0px
}
.iti-flag.tr {
	height: 14px;
	background-position: -5065px 0px
}
.iti-flag.tt {
	height: 12px;
	background-position: -5087px 0px
}
.iti-flag.tv {
	height: 10px;
	background-position: -5109px 0px
}
.iti-flag.tw {
	height: 14px;
	background-position: -5131px 0px
}
.iti-flag.tz {
	height: 14px;
	background-position: -5153px 0px
}
.iti-flag.ua {
	height: 14px;
	background-position: -5175px 0px
}
.iti-flag.ug {
	height: 14px;
	background-position: -5197px 0px
}
.iti-flag.um {
	height: 11px;
	background-position: -5219px 0px
}
.iti-flag.us {
	height: 11px;
	background-position: -5241px 0px
}
.iti-flag.uy {
	height: 14px;
	background-position: -5263px 0px
}
.iti-flag.uz {
	height: 10px;
	background-position: -5285px 0px
}
.iti-flag.va {
	height: 15px;
	background-position: -5307px 0px
}
.iti-flag.vc {
	height: 14px;
	background-position: -5324px 0px
}
.iti-flag.ve {
	height: 14px;
	background-position: -5346px 0px
}
.iti-flag.vg {
	height: 10px;
	background-position: -5368px 0px
}
.iti-flag.vi {
	height: 14px;
	background-position: -5390px 0px
}
.iti-flag.vn {
	height: 14px;
	background-position: -5412px 0px
}
.iti-flag.vu {
	height: 12px;
	background-position: -5434px 0px
}
.iti-flag.wf {
	height: 14px;
	background-position: -5456px 0px
}
.iti-flag.ws {
	height: 10px;
	background-position: -5478px 0px
}
.iti-flag.xk {
	height: 15px;
	background-position: -5500px 0px
}
.iti-flag.ye {
	height: 14px;
	background-position: -5522px 0px
}
.iti-flag.yt {
	height: 14px;
	background-position: -5544px 0px
}
.iti-flag.za {
	height: 14px;
	background-position: -5566px 0px
}
.iti-flag.zm {
	height: 14px;
	background-position: -5588px 0px
}
.iti-flag.zw {
	height: 10px;
	background-position: -5610px 0px
}
.iti-flag {
	width: 20px;
	height: 15px;
	box-shadow: 0px 0px 1px 0px #888;
	// background-image: url("../img/flags.png");
	background-repeat: no-repeat;
	background-color: #DBDBDB;
	background-position: 20px 0
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
	.iti-flag {
			// background-image: url("../img/flags@2x.png")
	}
}
.iti-flag.np {
	background-color: transparent
}
.iti-flag {
	background-image: url(https://www.getharvest.com/assets/apps/flags@2x-e21becc4db003c08194a77f3311709fc0002a99be5dd18e8a5ba661c0472dc35.png);
	background-size: auto 15px
}
#harvest-everywhere .large-type {
	font-size: 19px;
	padding-right: 70px
}
#harvest-everywhere .mobile-apps-title {
	margin-top: 100px
}
#harvest-everywhere .mac-title {
	margin-top: 80px
}
#harvest-everywhere .extension-title {
	margin-top: 60px
}
#phone_number_input {
	width: 250px;
	height: 34px;
	vertical-align: middle;
	border: 1px solid #bbb;
	border-radius: 4px;
	color: #555
}
#phone_number_input.has-error {
	border: 1px solid #d20a0a
}
#phone_number_input::-webkit-input-placeholder {
	color: #bbb
}
#phone_number_input:-moz-placeholder {
	color: #bbb
}
#send-sms-submit {
	width: 136px;
	margin-left: 4px
}
#send-sms-label {
	font-size: 15px;
	color: #777;
	line-height: 1;
	margin-bottom: 15px
}
#send-sms-result,
#send-sms-result a {
	font-size: 15px;
	color: #36a64f
}
#send-sms-result.has-error,
#send-sms-result a.has-error {
	color: #d20a0a
}
#contact-page {
	margin: 0 auto;
	max-width: 720px
}
#support_contact .response-time {
	font-weight: 600
}
#support_contact .sundial-converted .sundial-date,
#support_contact .sundial-converted .sundial-time {
	color: #444;
	display: inline;
	font-family: "Trade Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: inherit;
	font-weight: 600
}
#support_contact .sundial-info {
	display: none
}
.support-contact-form .form-field {
	margin-bottom: 15px
}
.support-contact-form label>span {
	color: #777;
	font-size: 13px;
	font-weight: 400;
	margin-left: 5px
}
@media screen and (max-width: 720px) {
	.responsive-page .support-contact-form label>span {
			display: none
	}
}
.support-contact-form em.error {
	top: 33px
}
.support-contact-form .contact-name,
.support-contact-form .contact-business-name {
	float: left;
	width: 49%
}
.support-contact-form .contact-email-address,
.support-contact-form .contact-product-name {
	float: right;
	width: 49%
}
.support-contact-form .contact-subject {
	clear: both
}
.support-contact-form textarea {
	min-height: 200px;
	resize: vertical
}
#support_request_attachment {
	background: #eee;
	border-radius: 4px;
	border: 1px dashed #bbb;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	padding: 7px 6px;
	width: 100%
}
#support_request_attachment::-ms-value,
#support_request_attachment::-ms-browse {
	border: 0
}
#errorExplanation {
	color: #d7313d;
	padding-bottom: 20px
}
#support_footer {
	font-size: 14px;
	line-height: 1.4;
	margin-top: 20px
}
#support_footer a {
	color: inherit;
	text-decoration: none
}
#support_footer a:hover {
	color: #f36c00;
	text-decoration: underline
}
#support_footer small {
	color: #777;
	font-size: 12px;
	margin-left: 5px
}
#support_footer address {
	display: block;
	font-style: normal
}
#support_footer .office-status-badge {
	border: 2px solid;
	border-radius: 50%;
	box-sizing: border-box;
	color: #394356;
	float: left;
	font-weight: bold;
	height: 59px;
	line-height: 55px;
	margin-right: 12px;
	text-align: center;
	text-transform: uppercase;
	width: 59px
}
#support_footer .office-status-badge.is-open {
	background: #f4fcef;
	border-color: #89b653;
	font-size: 15px
}
#support_footer .office-status-badge.is-closed {
	background: #fcf7ef;
	border-color: #f5a623;
	font-size: 11px
}
ul#case-studies {
	list-style: none;
	margin-bottom: 0;
	padding: 0
}
ul#case-studies>li {
	margin-bottom: 20px
}
ul#case-studies a {
	font-size: 14px;
	line-height: 20px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 0 0 1px transparent;
	box-sizing: border-box;
	color: #555;
	display: block;
	height: 320px;
	overflow: hidden;
	padding: 0 15px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: all 0.1s
}
ul#case-studies a:hover,
ul#case-studies a:focus {
	border-color: #f36c00;
	box-shadow: 0 0 0 1px #f36c00
}
ul#case-studies img {
	display: block;
	margin: 20px auto
}
ul#case-studies strong {
	color: #666
}
ul#case-studies span {
	font-size: 13px;
	line-height: 18px;
	background: #f4f4f4;
	bottom: 0;
	box-sizing: border-box;
	left: 0;
	padding: 10px 15px;
	position: absolute;
	width: 100%
}
#customerpage #case-study-top .inner,
#customerpage #case-study-body .inner {
	width: 940px
}
#customerpage article {
	float: left;
	width: 620px
}
#customerpage aside {
	float: right;
	width: 240px
}
#customerpage h4 {
	padding-top: 10px
}
#customerpage h4:first-of-type {
	padding: 0
}
#case-study-top .inner {
	padding-bottom: 0;
	position: relative
}
#case-study-top img {
	display: block;
	margin-bottom: 20px
}
.case-study-header {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	position: absolute;
	top: 190px
}
.case-study-header h1,
.case-study-header h3 {
	background: rgba(34, 34, 34, 0.9);
	clear: both;
	color: #fff;
	float: left;
	margin: 0;
	padding: 10px 15px
}
.case-study-header h1 {
	font-size: 36px;
	line-height: 42px;
	padding-top: 5px
}
.case-study-header h3 {
	padding-bottom: 0
}
.case-study-testimonial {
	font-size: 18px;
	line-height: 28px;
	border-bottom: 2px solid #ddd;
	border-top: 2px solid #ddd;
	color: #666;
	font-family: "Trade Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	margin: 25px 0;
	padding: 0 15px 0 30px;
	position: relative
}
.case-study-testimonial:before {
	color: #ccc;
	content: "“";
	font-family: Georgia, "Times New Roman", serif;
	font-size: 50px;
	font-style: normal;
	left: 0;
	position: absolute;
	top: 27px
}
.case-study-testimonial>p {
	margin: 15px 0
}
.case-study-info {
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 60px;
	padding: 5px 10px 5px 0
}
.case-study-info>ul>li {
	margin: 15px 0
}
.case-study-info .disc {
	margin: 10px 0;
	padding-left: 30px
}
.case-study-info .disc>li {
	margin: 5px 0
}
.case-study-side-images>img {
	display: block;
	margin: 20px auto
}
.features-page section {
	padding: 40px 0
}
.features-page section.orange-title {
	padding: 0
}
.features-page img.has-border {
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1)
}
.features-page .large-type {
	font-size: 19px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.features-page .centered-text {
	padding: 0 100px
}
.features-page .integrations-icon {
	position: absolute;
	transition: 0.3s
}
.features-page .integrations-icon:hover {
	transform: scale(0.95, 0.95);
	transition: 0.3s
}
.feature-highlight {
	border-radius: 5px;
	text-align: left;
	padding: 20px 30px
}
.feature-highlight p {
	margin: 0 0 10px
}
.feature-list .feature-icon {
	margin-right: 10px
}
.feature-list .feature-item {
	margin-bottom: 20px
}
#features-nav {
	padding-top: 40px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
#features-nav .features-nav-icon {
	border-radius: 50px;
	border: 2px solid rgba(255, 255, 255, 0.6);
	height: 65px;
	margin: 0 auto 5px;
	transition: 0.1s;
	width: 65px
}
#features-nav .features-nav-icon svg {
	fill: #fff;
	margin-top: 16px;
	stroke: #fff
}
#features-nav>a {
	color: #fff;
	display: inline-block;
	font-family: "Trade Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	padding-bottom: 30px;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 140px
}
#features-nav>a:hover .features-nav-icon {
	background: rgba(255, 255, 255, 0.3);
	transition: 0.1s
}
#features-nav>a:active .features-nav-icon {
	background: #fff;
	border-color: #fff
}
#features-nav>a.is-selected .features-nav-icon {
	background: #fff;
	border-color: #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3)
}
#features-nav>a.is-selected:after {
	border-bottom: 20px solid #fff;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 0;
	left: 55px;
	position: absolute;
	width: 0
}
#features-nav>a:active svg,
#features-nav>a.is-selected svg {
	fill: #f36c00;
	stroke: #f36c00
}
.callout {
	border-top: 1px solid #f36c00;
	font-size: 14px;
	line-height: 1.4;
	padding-top: 8px;
	position: absolute;
	text-align: left
}
.callout:before {
	background: #ffbc75;
	border: 1px solid #f36c00;
	border-radius: 10px;
	content: "";
	display: block;
	height: 10px;
	position: absolute;
	right: 0;
	top: -7px;
	width: 10px
}
.callout .callout-content {
	width: 165px
}
.callout.callout-right {
	left: auto;
	right: 30px
}
.callout.callout-right .callout-content {
	float: right
}
.callout.callout-right:before {
	left: 0;
	right: auto
}
#features-time-tracking .start-timer-callout {
	top: 315px;
	width: 196px
}
#features-time-tracking .precision-callout {
	top: 364px;
	width: 645px
}
#features-time-tracking .entire-week-callout {
	top: 406px;
	width: 196px
}
#features-time-tracking .multiple-days-callout {
	top: 406px;
	width: 408px
}
#features-time-apps .timesheets-devices-img {
	margin-left: -390px
}
#features-time-apps .timesheets-devices-copy {
	padding-right: 30px
}
#features-time-integrations {
	height: 570px;
	overflow: hidden;
	position: relative
}
#features-time-integrations .integrations-copy {
	padding-right: 50px
}
#features-time-integrations .flow-icon {
	left: -750px;
	top: 150px
}
#features-time-integrations .jira-icon {
	left: -630px;
	top: 320px
}
#features-time-integrations .basecamp-icon {
	left: -440px;
	top: 360px
}
#features-time-integrations .trello-icon {
	left: -240px;
	top: 320px
}
#features-time-integrations .asana-icon {
	left: -40px;
	top: 200px
}
#features-time-integrations .github-icon {
	left: 140px;
	top: 80px
}
#features-time-integrations .chrome-icon {
	left: 350px;
	top: 0
}
#features-time-integrations .zendesk-icon {
	left: 550px;
	top: 100px
}
#features-time-expenses .time-expenses-copy {
	margin-top: 130px;
	padding-right: 40px
}
#features-team-overview .track-time-callout {
	top: 398px;
	width: 196px
}
#features-team-overview .billable-callout {
	top: 355px;
	width: 345px
}
#features-team-questions .team-card-copy {
	padding-right: 75px
}
#features-team-detail .team-detail-img {
	margin-left: -220px
}
#features-team-detail .team-detail-copy {
	padding-right: 20px
}
#features-projects-overview .visualize-progress-callout {
	top: 434px;
	width: 500px
}
#features-projects-overview .critical-info-callout {
	top: 600px;
	width: 250px
}
#features-projects-overview .dive-details-callout {
	top: 745px;
	width: 216px
}
#features-projects-overview .projects-export-icon {
	margin: 20px 15px 0
}
#features-projects-budgets .projects-budget-img {
	margin-left: -450px
}
#features-projects-profitable .projects-profitable-img {
	margin-left: 40px
}
#features-invoices-hours .invoices-backdrop {
	background: url(https://www.getharvest.com/assets/features/invoices-backdrop@2x-a48c11acc2d76c7d9717edfeac27e0c17f5eca4fd877c773d4fd1eb4b1098d93.png) no-repeat;
	background-position: center center;
	background-size: 1000px 335px;
	width: 100%
}
#features-invoices-online .stripe-img {
	margin-right: 30px
}
#features-invoices-integrations .quickbooks-icon {
	top: 0
}
#features-invoices-integrations .xero-icon {
	top: 160px
}
#section-navigation {
	padding: 20px 0
}
#section-navigation .inner {
	padding: 0
}
#section-navigation .section-link {
	border-radius: 5px;
	color: inherit;
	display: inline-block;
	padding: 15px 0;
	text-decoration: none
}
#section-navigation .section-link:hover {
	background: #ddd
}
#section-navigation .section-link .section-link-arrow {
	display: inline-block;
	margin: 0 15px
}
#section-navigation .section-link .section-link-text {
	display: inline-block;
	width: 400px
}
#section-navigation .section-link .section-link-text p {
	margin: 0
}
#features-footer {
	background-color: #f36c00;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-bottom: -1px;
	position: relative
}
#features-footer h1,
#features-footer p {
	color: #fff
}
#features-footer .customer-logos {
	display: block;
	height: 54px;
	margin: 50px auto 0;
	opacity: 0.6;
	width: 660px
}
#forecast-intro {
	background: #f4f4f4;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative
}
#forecast-intro .inner {
	padding-bottom: 0;
	padding-top: 50px
}
#forecast-intro h1 {
	font-family: "Trade Gothic Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase
}
#forecast-intro .sub-h1 {
	font-family: "Trade Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 26px;
	letter-spacing: 0;
	text-transform: initial
}
#forecast-intro img {
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
	display: block;
	margin: 40px auto -1px;
	width: 840px
}
.forecast-feature {
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 40px
}
#visualize-your-plans {
	overflow: hidden
}
#visualize-your-plans img {
	cursor: pointer;
	display: block;
	height: 343px
}
#visualize-toggle>span {
	font-size: 14px;
	line-height: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #555;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	margin: 5px 5px 0 0;
	padding: 8px 20px 9px;
	transition: 0.05s linear
}
#visualize-toggle>span:hover {
	border-color: #ddd
}
#visualize-toggle>span.active,
#visualize-toggle>span.active:hover {
	background: #f4f4f4;
	border-color: #ddd;
	cursor: default
}
#team-on-same-page img {
	height: 290px
}
#assignment-demo {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: default;
	padding: 40px 0 60px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
#assignment-demo:before,
#assignment-demo:after {
	background: linear-gradient(#fff, rgba(255, 255, 255, 0));
	content: "";
	height: 60px;
	left: 1.5%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2
}
#assignment-demo:after {
	background: linear-gradient(rgba(255, 255, 255, 0), #fff);
	bottom: 0;
	top: auto
}
#assignment-demo .bg {
	background: #ccc;
	box-shadow: 96px 0 0 #eee, 192px 0 0 #eee, 288px 0 0 #eee, 384px 0 0 #eee, 479px 0 0 #ccc;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 1px;
	z-index: 0
}
#assignment-demo .text {
	background: white;
	color: #999;
	display: inline-block;
	font-family: "Trade Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	margin: 0 auto 10px;
	opacity: 0;
	padding: 0 2px;
	position: relative;
	text-align: center;
	z-index: 3
}
#assignment-demo .text-2 {
	left: 50%;
	margin-left: -30px;
	position: absolute;
	width: 60px
}
#assignment-demo .cursor {
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	height: 20px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transform: translateX(450px) translateY(200px);
	width: 20px;
	z-index: 4
}
#assignment-demo .assignment-static,
#assignment-demo .assignment-dynamic {
	box-sizing: border-box;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	padding-left: 12px;
	position: relative;
	text-align: left;
	z-index: 1
}
#assignment-demo .assignment-static {
	background: rgba(60, 160, 200, 0.8);
	border-radius: 0 4px 4px 0;
	margin-bottom: 10px;
	width: 193px
}
#assignment-demo .assignment-dynamic {
	background: rgba(120, 50, 140, 0.8);
	border-radius: 4px;
	margin-left: 96px;
	width: 193px
}
#assignment-demo.animate .text-1 {
	animation: text-1-animate 4s 1s both ease-out
}
#assignment-demo.animate .text-2 {
	animation: text-2-animate 1s 5s both ease-out
}
#assignment-demo.animate .cursor {
	animation: cursor-animate 3s 2.5s both ease-out
}
#assignment-demo.animate .assignment-dynamic {
	animation: assignment-animate 3s 2.5s both ease-out
}
@keyframes text-1-animate {
	0%, 100% {
			opacity: 0
	}
	10%,
	90% {
			opacity: 1
	}
}
@keyframes text-2-animate {
	100% {
			opacity: 1
	}
}
@keyframes cursor-animate {
	0% {
			transform: translateX(300px) translateY(200px);
			opacity: 0
	}
	20%,
	30% {
			transform: translateX(276px) translateY(130px);
			opacity: 1
	}
	70%,
	80% {
			transform: translateX(467px) translateY(130px);
			opacity: 1
	}
	100% {
			transform: translateX(450px) translateY(200px);
			opacity: 0
	}
}
@keyframes assignment-animate {
	0%, 30% {
			width: 193px
	}
	70%,
	100% {
			width: 384px
	}
}
#learn-from-the-past img {
	display: block;
	height: 365px
}
#learn-from-the-past figcaption {
	margin-top: 100px
}
#forecast-cta {
	margin-bottom: 50px;
	text-align: center
}
#forecast-cta h3 {
	display: inline-block;
	margin: 0;
	text-align: right;
	vertical-align: middle;
	width: 310px
}
#forecast-cta h3:last-of-type {
	text-align: left
}
#forecast-cta h3>a {
	text-decoration: none
}
#forecast-cta h3>a:hover {
	text-decoration: underline
}
#forecast-cta .button {
	margin: 0 30px
}
#forecast-philosophy .code {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #444;
	display: block;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 21px;
	margin: 40px auto;
	width: 480px
}
#forecast-philosophy .commentary {
	margin: 10px auto;
	width: 480px
}
.quote.forecast-quote {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 50px 80px 20px
}
.quote.forecast-quote>em {
	border: 1px solid #ddd;
	border-radius: 4px;
	color: #555;
	font-family: "Trade Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 19px;
	line-height: 30px;
	margin-bottom: -20px;
	padding: 20px 40px 20px 80px
}
.quote.forecast-quote>em:before {
	font-size: 56px;
	margin: 14px 0 0 -28px
}
.quote.forecast-quote>img {
	border-radius: 60px;
	display: inline-block;
	margin: 0 10px -5px;
	vertical-align: bottom;
	width: 60px
}
.quote.forecast-quote>span {
	display: inline-block;
	font-size: 14px
}
.quote.forecast-quote strong {
	color: #555
}
#forecast-pricing-plan {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 30px 50px;
	position: relative
}
@media screen and (max-width: 1060px) {
	.responsive-page #forecast-pricing-plan {
			padding-left: 20px;
			padding-right: 20px
	}
}
#forecast-pricing-plan .text-orange {
	font-size: 1.1em;
	font-family: "Trade Gothic Bold", "Helvetica Neue", Helvetica, Arial, sans-serif
}
#forecast-pricing-plan .text-orange.harvest-price {
	letter-spacing: -2px
}
#forecast-pricing-includes {
	margin-left: 2%
}
#forecast-pricing-includes>ul {
	list-style: none;
	margin: 0;
	text-align: left
}
#forecast-pricing-includes>ul>li {
	background: url(https://www.getharvest.com/assets/icons/check-6ecdc21c6fd268e9570a8ec9e4dd63aca4416db8350f923a7acf1ea6fd98041d.svg) no-repeat 0;
	background-size: 15px 15px;
	margin: 5px 0;
	padding-left: 24px
}
.forecast-yearly-note {
	background: #fbfbd0;
	border-radius: 4px;
	display: inline-block;
	font-family: "Trade Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 3px 8px 4px;
	position: absolute;
	right: -25px;
	top: -10px;
	transform: rotate(7deg)
}
@media screen and (max-width: 1060px) {
	.responsive-page .forecast-yearly-note {
			margin: 30px 0 -20px;
			position: static;
			transform: rotate(0deg)
	}
}
#forecast-pricing-faqs .inner {
	width: 480px
}
@media screen and (max-width: 1060px) {
	.responsive-page #forecast-pricing-faqs .inner {
			width: auto
	}
}
#forecast-pricing-faqs strong {
	display: block
}
#forecast-pricing-faqs p {
	margin: 0 0 30px
}
#forecast-sign-up-modal {
	background: rgba(0, 0, 0, 0.6);
	height: 100%;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100
}
#forecast-sign-up-modal .inner {
	background: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
	margin: 80px auto 20px;
	padding: 30px;
	position: relative;
	width: 360px
}
#forecast-sign-up-modal h2 {
	margin: 0;
	text-align: center
}
#forecast-sign-up-modal p {
	margin: 0 0 30px;
	padding: 0;
	text-align: center
}
#forecast-sign-up-modal .or-break {
	border-bottom: 1px solid #ddd;
	color: #999;
	font-size: 14px;
	line-height: 0;
	margin: 30px -30px;
	text-align: center
}
#forecast-sign-up-modal .or-break>span {
	background: #fff;
	padding: 0 10px
}
#forecast-sign-up-modal .legal {
	color: #999;
	font-size: 11px;
	margin-top: 15px;
	text-align: center
}
#forecast-sign-up-modal .legal>a {
	color: #999
}
#forecast-sign-up-form .submit-field {
	margin-top: 20px
}
#forecast-sign-up-form label {
	float: left;
	padding-top: 10px;
	width: 34%
}
#forecast-sign-up-form input {
	float: left;
	width: 66%
}
.lt-ie10 #forecast-sign-up-form label {
	display: block
}
.forecast-sign-up-close {
	color: #000;
	cursor: pointer;
	font-size: 40px;
	line-height: 1;
	opacity: 0.4;
	position: absolute;
	right: 6px;
	top: 0;
	transform: rotate(45deg)
}
.forecast-sign-up-close:before {
	content: "+";
	display: block
}
.forecast-sign-up-close:hover {
	opacity: 0.8
}
.giving-back-campaign .inner {
	width: 720px
}
.giving-back-campaign h1 {
	margin-bottom: 20px
}
.giving-back-campaign h3 {
	margin-top: 40px
}
.giving-back-campaign strong {
	color: #555
}
.giving-back-campaign #giving-back-widget .gb-box {
	border-radius: 4px;
	color: #fff;
	font-size: 12px;
	line-height: 1;
	margin-bottom: 40px;
	padding: 15px 10px 10px
}
.giving-back-campaign #giving-back-widget .gb-box.gb-total {
	background: #555 url(https://www.getharvest.com/assets/giving_back/giving-back-f41c03cde8968663fffd50b6ece3207ea5115c1930891c60fc4d15faf58c8562.gif) no-repeat 100% -3px
}
.giving-back-campaign #giving-back-widget .gb-box.gb-doctor {
	background: #fa7d1b url(https://www.getharvest.com/assets/giving_back/giving-back-f41c03cde8968663fffd50b6ece3207ea5115c1930891c60fc4d15faf58c8562.gif) no-repeat 100% -85px
}
.giving-back-campaign #giving-back-widget .gb-box.gb-books {
	background: #359b03 url(https://www.getharvest.com/assets/giving_back/giving-back-f41c03cde8968663fffd50b6ece3207ea5115c1930891c60fc4d15faf58c8562.gif) no-repeat 110% -163px
}
.giving-back-campaign #giving-back-widget .gb-box.gb-water {
	background: #2a8cd0 url(https://www.getharvest.com/assets/giving_back/giving-back-f41c03cde8968663fffd50b6ece3207ea5115c1930891c60fc4d15faf58c8562.gif) no-repeat 100% -244px
}
.giving-back-campaign #giving-back-widget .gb-box strong {
	color: inherit;
	display: block;
	font-size: 24px;
	line-height: 30px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.giving-back-campaign ul li {
	font-size: 14px;
	line-height: 20px;
	clear: both;
	padding: 0 0 40px 0
}
.giving-back-campaign ul li .gb-logo {
	border: 1px solid #ddd;
	border-radius: 3px;
	float: left;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	width: 180px
}
.giving-back-campaign ul li .gb-logo:hover {
	border: 1px solid #bbb
}
.giving-back-campaign ul li span {
	display: block;
	margin-left: 210px;
	padding-top: 5px
}
.giving-back-campaign .gb-tos {
	color: #999;
	display: block;
	font-size: 11px;
	text-align: right
}
#h-f-intro h1 {
	font-family: "Trade Gothic Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 50px;
	letter-spacing: 2px;
	text-transform: uppercase
}
#h-f-intro-graph {
	background: #fff;
	background-clip: padding-box;
	border-radius: 4px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	color: #777;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 60px auto 20px;
	padding: 25px 30px;
	pointer-events: none;
	position: relative;
	text-align: left;
	width: 888px
}
#h-f-intro-graph .intro-graph-budget-line {
	border-top: 1px solid #666;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	position: absolute;
	top: 114px;
	transition: 0.2s ease-out;
	width: 888px
}
#h-f-intro-graph .intro-graph-budget-line>span {
	background: #666;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	font-size: 10px;
	line-height: 1;
	padding: 3px 6px 4px;
	transition: 0.4s ease-out
}
#h-f-intro-graph .intro-graph-budget-line.is-active {
	border-color: #cd0408
}
#h-f-intro-graph .intro-graph-budget-line.is-active>span {
	background: #cd0408
}
#h-f-intro-graph .intro-graph-forecast-line {
	background: url(https://www.getharvest.com/assets/blank_pages/h-and-f/intro-graph-forecast-plots@2x-25bd3f403aea8f8506d330cf3a328eb1f13c8a8deacdf3e6cee7b6cf46187464.png) no-repeat 0 0;
	background-size: 357px 93px;
	height: 93px;
	left: 540px;
	opacity: 0;
	position: absolute;
	transition: opacity 0.4s linear, width 1.4s ease-out;
	top: 86px;
	width: 0
}
#h-f-intro-graph .intro-graph-forecast-line.is-active {
	opacity: 1;
	width: 357px
}
#h-f-intro-graph .intro-graph-start,
#h-f-intro-graph .intro-graph-end {
	font-family: "Trade Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	line-height: 30px;
	opacity: 0;
	position: absolute;
	right: 30px;
	top: 25px;
	transition: 1s ease-out;
	transform: translateY(10px);
	white-space: nowrap
}
#h-f-intro-graph .intro-graph-start.is-active,
#h-f-intro-graph .intro-graph-end.is-active {
	opacity: 1;
	transform: translateY(0);
	transition: 0.6s ease-out
}
#h-f-intro-graph .intro-graph-start.is-inactive {
	opacity: 0
}
.h-f-quote {
	margin-left: 180px
}
.h-f-quote>img {
	border-radius: 130px;
	float: left;
	height: 130px;
	margin-left: -180px;
	margin-top: 5px;
	opacity: 0.8;
	width: 130px
}
.h-f-quote>em {
	font-family: "Trade Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: italic;
	line-height: 32px;
	margin-bottom: 15px
}
.h-f-quote>em:before {
	font-size: 60px;
	margin: 15px 0 0 -30px
}
.h-f-quote>span {
	display: inline-block;
	font-size: 14px
}
#h-f-project-health,
#h-f-estimates-actuals,
#h-f-forecast {
	padding: 40px 0
}
#h-f-project-health .feature,
#h-f-estimates-actuals .feature,
#h-f-forecast .feature {
	margin: auto;
	position: relative
}
#h-f-project-health .feature-img,
#h-f-estimates-actuals .feature-img,
#h-f-forecast .feature-img {
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	display: block
}
#h-f-project-health .callout,
#h-f-estimates-actuals .callout,
#h-f-forecast .callout {
	border-top: 1px solid #f36c00;
	font-size: 14px;
	left: 0;
	padding-top: 8px;
	position: absolute;
	text-align: left;
	top: 0
}
#h-f-project-health .callout .callout-content,
#h-f-estimates-actuals .callout .callout-content,
#h-f-forecast .callout .callout-content {
	width: 210px
}
#h-f-project-health .callout p,
#h-f-estimates-actuals .callout p,
#h-f-forecast .callout p {
	margin: 5px 0 0
}
#h-f-project-health .callout:before,
#h-f-estimates-actuals .callout:before,
#h-f-forecast .callout:before {
	background: #f5b991;
	border: 1px solid #f36c00;
	border-radius: 9px;
	content: "";
	display: block;
	height: 9px;
	position: absolute;
	right: 0;
	top: -6px;
	width: 9px
}
#h-f-project-health .callout.callout-right,
#h-f-estimates-actuals .callout.callout-right,
#h-f-forecast .callout.callout-right {
	left: auto;
	right: 0
}
#h-f-project-health .callout.callout-right:before,
#h-f-estimates-actuals .callout.callout-right:before,
#h-f-forecast .callout.callout-right:before {
	left: 0;
	right: auto
}
#h-f-project-health .callout.callout-bottom,
#h-f-estimates-actuals .callout.callout-bottom,
#h-f-forecast .callout.callout-bottom {
	border-left: 1px solid #f36c00;
	border-top: 0;
	padding-left: 10px
}
#h-f-project-health .callout.callout-bottom:before,
#h-f-estimates-actuals .callout.callout-bottom:before,
#h-f-forecast .callout.callout-bottom:before {
	left: -6px;
	right: auto
}
#h-f-project-health {
	padding-bottom: 0
}
#h-f-project-health .feature {
	width: 880px
}
#h-f-project-health .feature-img {
	margin-left: auto;
	margin-bottom: 160px
}
#h-f-project-health #health-graph-callout {
	top: 215px;
	width: 405px
}
#h-f-project-health #health-graph-callout .callout-content {
	width: 180px
}
#h-f-project-health #health-summary-callout {
	left: 330px;
	padding-top: 65px;
	top: 505px
}
#h-f-project-health #health-summary-callout .callout-content {
	width: 380px
}
#h-f-estimates-actuals .feature {
	width: 840px
}
#h-f-estimates-actuals #estimates-graph-callout {
	padding-left: 195px;
	top: 198px
}
#h-f-estimates-actuals #estimates-table-callout {
	padding-left: 389px;
	top: 585px
}
#h-f-forecast .feature-img {
	margin-left: auto;
	margin-right: auto
}
#h-f-forecast .callout .callout-content {
	width: 155px
}
#h-f-forecast #forecast-hours-callout {
	top: 129px;
	width: 405px
}
#h-f-forecast #forecast-planning-callout {
	top: 369px;
	width: 460px
}
#h-f-forecast #forecast-milestones-callout {
	padding-left: 135px;
	top: 258px
}
#h-f-bottom .col {
	padding-right: 50px
}
#h-f-bottom p {
	font-size: 14px;
	line-height: 1.4;
	margin-top: 5px
}
#home-intro {
margin-top:50px; 
	background: #444 url(http://herzo.adidas-group.com/img/010101.jpg) no-repeat center center;
	background-size: cover;
	overflow: hidden;
	position: relative
}
#home-intro>.inner {
	padding-bottom: 11%;
	padding-top: 11%
}
.home-intro-lead {
	background: rgba(0, 0, 0, 0.4);
	border-radius: 6px;
	display: inline-block;
	margin-left: -25px;
	padding: 20px 25px 25px
}
.home-intro-lead h1 {
	color: #fff;
	font-size: 48px;
	font-weight: 500;
	text-indent: -3px
}
.home-intro-lead h3 {
	color: #fff;
	font-size: 28px;
	margin-bottom: 20px;
	text-indent: 0
}
#home-intro-video {
	background: rgba(0, 0, 0, 0.85);
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: opacity 0.5s;
	visibility: hidden;
	width: 100%;
	z-index: -1
}
#home-intro-video>iframe {
	width: 100%
}
.video-is-visible #home-intro-video {
	opacity: 1;
	visibility: visible;
	z-index: 99
}
.button-play-video {
	color: #fff;
	font-size: 16px;
	font-family: "Trade Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left: 30px;
	opacity: 0.9;
	text-decoration: none;
	vertical-align: middle
}
.button-play-video:before {
	background: #fff;
	border-radius: 6px;
	font-size: 12px;
	color: #111;
	content: "►";
	display: inline-block;
	line-height: 1;
	margin-right: 8px;
	padding: 4px 5px 3px 7px;
	position: relative;
	top: -1px
}
.button-play-video:hover,
.button-play-video:focus {
	opacity: 1;
	text-decoration: underline
}
.button-close-video {
	background: none;
	border: 2px solid #fff;
	border-radius: 100%;
	color: #fff;
	cursor: pointer;
	height: 20px;
	line-height: 18px;
	opacity: 0.5;
	position: absolute;
	right: 15px;
	text-align: center;
	text-decoration: none;
	top: 15px;
	width: 20px;
	z-index: 1001
}
.button-close-video:hover {
	opacity: 1;
	text-decoration: none
}
#home-announcement .inner {
	padding-bottom: 20px;
	padding-top: 20px
}
#home-announcement a {
	border-radius: 50px;
	display: block;
	color: #555;
	font-size: 15px;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none
}
#home-announcement a:hover,
#home-announcement a:focus {
	color: #f36c00;
	text-decoration: underline
}
#home-announcement a:hover>strong,
#home-announcement a:focus>strong {
	color: #f36c00
}
#home-announcement a>span {
	color: #f36c00
}
#home-time-tracking figure {
	font-size: 0
}
#home-time-tracking figcaption {
	display: inline-block;
	font-size: 1rem;
	margin-right: 4%;
	vertical-align: middle;
	width: 48%
}
#home-time-tracking figcaption>h2 {
	text-indent: -1px
}
#home-time-tracking .figure-img {
	display: inline-block;
	vertical-align: middle;
	width: 48%
}
#home-reporting figure {
	font-size: 0
}
#home-reporting figcaption {
	display: inline-block;
	font-size: 1rem;
	vertical-align: middle;
	width: 48%
}
#home-reporting .figure-img {
	display: inline-block;
	margin-right: 5%;
	vertical-align: middle;
	width: 47%
}
#home-next {
	padding: 40px 0
}
.home-next-block {
	background: #fff;
	border-radius: 6px;
	color: #555;
	display: block;
	margin: 0 -15px 20px;
	min-height: 110px;
	padding: 15px 20px 15px 145px;
	text-decoration: none
}
.home-next-block>h4 {
	margin: 10px 0 5px
}
.home-next-block>img {
	float: left;
	height: 110px;
	margin-left: -130px;
	overflow: hidden;
	width: 110px
}
.home-next-block.home-next-support {
	padding-right: 10px
}
#home-cta {
	margin: 40px 0 10px;
	text-align: center
}
#home-cta>h3 {
	display: inline-block;
	vertical-align: middle
}
#home-cta>.button {
	margin: 0 30px
}
#home-customers h3>a {
	border-bottom: 1px solid transparent;
	display: inline-block;
	text-decoration: none
}
#home-customers h3>a:hover,
#home-customers h3>a:focus {
	border-color: #ddd;
	text-decoration: none
}
#home-customers h3 strong {
	font-size: 1.1em;
	font-family: "Trade Gothic Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 1px
}
#home-customers h3 span {
	font-size: 0.9;
	vertical-align: top
}
.home-quote-carousel {
	height: 160px;
	margin-right: 2%;
	position: relative
}
.quote.home-quote {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	z-index: 0
}
.quote.home-quote>em {
	font-family: "Trade Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 22px;
	line-height: 34px;
	margin-bottom: 15px
}
.quote.home-quote>em:before {
	font-size: 60px;
	margin: 15px 0 0 -30px
}
.quote.home-quote>img {
	border-radius: 80px;
	display: inline-block;
	margin-right: 10px;
	opacity: 0.5;
	vertical-align: middle;
	width: 80px
}
.quote.home-quote>span {
	display: inline-block;
	font-size: 14px
}
.home-quote-1 {
	opacity: 1;
	z-index: 1;
	animation: quote-1 20s infinite ease-out
}
.home-quote-2 {
	opacity: 0;
	animation: quote-2 20s infinite ease-out
}
.home-quote-3 {
	opacity: 0;
	animation: quote-3 20s infinite ease-out
}
.lt-ie9 .home-quote-2,
.lt-ie9 .home-quote-3 {
	display: none
}
@keyframes quote-1 {
	0%, 26% {
			opacity: 1;
			z-index: 1
	}
	33%,
	92% {
			opacity: 0;
			z-index: 0
	}
	100% {
			opacity: 1;
			z-index: 0
	}
}
@keyframes quote-2 {
	26% {
			opacity: 0;
			z-index: 0
	}
	33%,
	59% {
			opacity: 1;
			z-index: 1
	}
	66% {
			opacity: 0;
			z-index: 0
	}
}
@keyframes quote-3 {
	59% {
			opacity: 0;
			z-index: 0
	}
	66%,
	92% {
			opacity: 1;
			z-index: 1
	}
	100% {
			opacity: 0;
			z-index: 0
	}
}
#home-customers-grid {
	display: block
}
#home-customers-grid img {
	width: 100%
}
.platform-explanation img {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	display: block;
	margin-bottom: 15px;
	width: 100%
}
.platform-explanation p {
	font-size: 14px;
	line-height: 1.4;
	margin: 0
}
.platform-option img {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	display: block;
	margin-bottom: 25px;
	width: 100%
}
.platform-button-test {
	border-left: 5px solid #eee;
	color: #555;
	list-style: none;
	margin-bottom: 30px;
	padding: 5px 20px 0
}
.platform-button-test>li {
	padding-bottom: 5px
}
.platform-button-test .platform-click-here {
	background: url(https://www.getharvest.com/assets/platform/test-arrow-5249007e3942326579242c2d3b32c8288dc7fd6a6f08b53dbd029ffadf72cac9.gif) no-repeat 0 0;
	color: #999;
	font-size: 13px;
	margin: 3px 0 0 3px;
	padding: 5px 0 0 21px
}
.platform-app-icons {
	text-align: center
}
.platform-app-icons>a,
.platform-app-icons>span {
	display: inline-block;
	margin: 0 2% 20px;
	vertical-align: middle
}
.platform-app-icons img {
	display: block;
	max-height: 40px;
	max-width: 140px
}
.platform-api-link {
	padding: 10px 0
}
.platform-api-link .button {
	margin-top: 15px
}
.platform-api-link p {
	margin-bottom: 0
}
.price-toggle-container {
	display: inline-block;
	position: relative;
	white-space: nowrap
}
.price-toggle-container>button {
	background: transparent;
	border: 0;
	box-sizing: border-box;
	cursor: default;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	margin: 0 30px 0 0;
	position: absolute;
	right: 50%;
	text-align: right;
	top: 0;
	transition: 0.1s
}
.price-toggle-container>button>em {
	font-style: normal;
	font-weight: 400
}
.price-toggle-container>button:last-of-type {
	left: 50%;
	margin: 0 0 0 30px;
	right: auto;
	text-align: left
}
.price-toggle-container>button:active:focus {
	outline: none
}
html:not(.view-yearly) .price-toggle-label-monthly {
	color: #555;
	font-weight: 600
}
html:not(.view-yearly) .price-toggle-label-yearly {
	color: #777;
	cursor: pointer;
	font-weight: 400
}
html:not(.view-yearly) .price-toggle-label-yearly:hover {
	color: #f36c00
}
html.view-yearly .price-toggle-label-monthly {
	color: #777;
	cursor: pointer;
	font-weight: 400
}
html.view-yearly .price-toggle-label-monthly:hover {
	color: #f36c00
}
html.view-yearly .price-toggle-label-yearly {
	color: #555;
	font-weight: 600
}
.price-toggle {
	background: #f36c00;
	border-radius: 18px;
	cursor: pointer;
	display: inline-block;
	height: 18px;
	position: relative;
	transition: 0.2s;
	width: 40px
}
.price-toggle:after {
	background: #fff;
	border-radius: 14px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	content: "";
	height: 14px;
	left: 2px;
	position: absolute;
	top: 2px;
	transition: 0.15s;
	width: 14px
}
.view-yearly .price-toggle:after {
	left: 24px
}
.pricing-plan-box {
	border-left: 1px solid #ddd;
	box-sizing: border-box;
	color: #777;
	float: left;
	font-size: 14px;
	line-height: 1.4;
	padding: 10px 0 15px;
	width: 33.33%
}
@media screen and (max-width: 720px) {
	.responsive-page .pricing-plan-box {
			border-left: 0;
			border-top: 1px solid #ddd;
			float: none;
			padding: 20px 0 25px;
			width: 100%
	}
}
.pricing-plan-box h2 {
	color: #f36c00;
	margin-bottom: 2px
}
.pricing-plan-box h1 {
	font-family: "Trade Gothic Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 48px;
	margin-top: 20px
}
.pricing-plan-box h1:first-letter {
	margin-right: -3px
}
.pricing-plan-box h1>sup {
	font-size: 20px;
	margin: 7px 0 0 -10px;
	position: absolute
}
.pricing-plan-box h1>span {
	font-size: 16px;
	font-family: "Trade Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left: 2px
}
.pricing-plan-box.free {
	border: 0
}
.pricing-plan-box.free h1>sup {
	margin-left: -14px
}
html:not(.view-yearly) .yearly-price {
	display: none
}
html.view-yearly .monthly-price {
	display: none
}
.price-note {
	color: #999;
	font-size: 10px;
	opacity: 0.8
}
.pricing-plan-extras {
	line-height: 24px;
	padding-top: 12px
}
.pricing-plan-extras h4,
.pricing-plan-extras p {
	margin-bottom: 24px
}
.pricing-plan-extras ul.checklist>li {
	margin: 12px 0
}
.referral-page ul.checklist {
	color: #555;
	font-weight: bold;
	padding: 0
}
.referral-page .referral-img {
	width: 100%
}
@media screen and (max-width: 1060px) {
	.referral-page.responsive-page .grid-3 {
			display: none
	}
}
.referral-cta {
	background: url(https://www.getharvest.com/assets/invitation/arrow-ccf20bdeb1c8f50bd918540716cce35e7c980c55fb52d10e3b1f81e502f2dcd7.png) no-repeat 220px 58px
}
.referral-cta>small {
	display: block;
	margin-top: 20px
}
@media screen and (max-width: 1060px) {
	.responsive-page .referral-cta {
			background: none;
			text-align: center
	}
}
#testimonial-by-customer {
	background: #f4f4f4;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 40px auto;
	overflow: hidden;
	padding: 30px 60px
}
#testimonial-by-customer>p {
	font-family: "Trade Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-style: italic;
	margin-top: 0
}
#testimonial-by-customer>p:before {
	color: inherit;
	content: "“";
	font-family: Georgia, "Times New Roman", serif;
	font-style: normal;
	margin: 0 0 0 -10px;
	position: absolute
}
#testimonial-by-customer>p:after {
	color: inherit;
	content: "”";
	font-family: Georgia, "Times New Roman", serif;
	font-style: normal;
	margin-left: 4px
}
#testimonial-by-customer>cite {
	font-size: 14px;
	font-style: normal
}
@media screen and (max-width: 1060px) {
	.responsive-page #testimonial-by-customer {
			padding: 20px
	}
	.responsive-page #testimonial-by-customer>p:before,
	.responsive-page #testimonial-by-customer>p:after {
			display: none
	}
}
.referral-facebook {
	max-width: 100%;
	overflow: hidden
}
#referral-tos .inner {
	width: 720px
}
@media screen and (max-width: 1060px) {
	.responsive-page #referral-tos .inner {
			width: auto
	}
}
.resource {
	display: block;
	text-align: center;
	text-decoration: none
}
.resource:hover,
.resource:focus {
	text-decoration: underline
}
.resource>img {
	display: inline-block
}
.resource>h4 {
	display: inline-block;
	text-decoration: none
}
.resource>p {
	margin: 5px 0 0
}
.resource>span {
	font-size: 14px
}
.resources-download-form {
	background: #eee;
	border-radius: 5px;
	margin: 30px 0;
	padding: 30px 20px 0
}
.resources-download-form .button-small {
	margin-bottom: 30px
}
.security-lists {
	padding: 20px 0
}
.security-lists .col:first-of-type {
	padding-right: 60px
}
.security-lists ul,
.security-lists li {
	margin-top: 0;
	padding: 0
}
.pp-contact>span {
	display: inline-block;
	width: 80px
}
#tour-team .has-extra-padding {
	padding: 40px 0
}
#tour-team .image-has-border {
	border: 1px solid #ddd;
	border-radius: 5px
}
#tour-team .section-intro {
	margin-bottom: 50px
}
#tour-team .section-intro h1 {
	color: #f36c00;
	margin-bottom: 5px
}
#team-intro h1 {
	color: #fff;
	font-family: "Trade Gothic Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 60px;
	letter-spacing: 2px;
	margin-top: 50px;
	text-transform: uppercase
}
#team-intro h2 {
	color: #fff;
	font-weight: 400
}
#team-overview .callout {
	border-top: 1px solid #f36c00;
	font-size: 14px;
	line-height: 1.4;
	padding-top: 8px;
	position: absolute;
	text-align: left
}
#team-overview .callout:before {
	background: #f5b991;
	border: 1px solid #f36c00;
	border-radius: 10px;
	content: "";
	display: block;
	height: 10px;
	position: absolute;
	right: 0;
	top: -7px;
	width: 10px
}
#team-overview .callout .callout-content {
	width: 165px
}
#team-overview .callout.callout-right {
	left: auto;
	right: 30px
}
#team-overview .callout.callout-right .callout-content {
	float: right
}
#team-overview .callout.callout-right:before {
	left: 0;
	right: auto
}
#team-overview .track-time-callout {
	top: 323px;
	width: 211px
}
#team-overview .billable-callout {
	top: 353px;
	width: 593px
}
#capacity-feature {
	background: #f4f4f4;
	border-radius: 5px;
	position: relative;
	text-align: left
}
#capacity-animation {
	position: relative
}
#capacity-animation .capacity-bar {
	background: #fff;
	border-radius: 7px;
	height: 35px;
	overflow: hidden;
	position: relative;
	width: 450px
}
#capacity-animation .capacity-bar:after {
	border-radius: 7px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	content: "";
	display: block;
	height: 35px;
	position: absolute;
	top: 0;
	width: 100%
}
#capacity-animation .capacity-bar:before {
	background: url(https://www.getharvest.com/assets/team_tour/over-capacity-mark-1732799952bb55240cbd5a741891091fe8330a2ab4df768cbbef2b5491fd56b8.svg);
	content: "";
	display: block;
	height: 0;
	position: absolute;
	right: 15px;
	top: -10px;
	width: 20px;
	z-index: 1
}
#capacity-animation .capacity-fill-billable {
	background: #2E95E9;
	display: inline;
	height: 100%;
	position: absolute;
	width: 0%
}
#capacity-animation .capacity-fill-nonbillable {
	background: #ADD4F7;
	float: left;
	height: 100%;
	position: absolute;
	width: 0%
}
#capacity-animation .capacity-explanation {
	font-style: italic;
	opacity: 0;
	position: absolute;
	top: 40px;
	width: 450px
}
#capacity-animation.is-in-viewport .capacity-fill-billable {
	animation: capacity-billable 5s 2s ease-in-out both
}
#capacity-animation.is-in-viewport .capacity-fill-nonbillable {
	animation: capacity-nonbillable 5s 2s ease-in-out both
}
#capacity-animation.is-in-viewport .capacity-bar:before {
	animation: over-capacity 0.5s 6.5s ease both
}
#capacity-animation.is-in-viewport .capacity-explanation.under-capacity {
	animation: slide-out 1s 2s ease both
}
#capacity-animation.is-in-viewport .capacity-explanation.over-capacity {
	animation: slide-in 1s 6.5s ease both
}
#team-questions .breakdown-img {
	float: right
}
#team-editing .per-person-img {
	margin-left: -245px
}
#team-editing .editing-callout {
	margin-top: 92px;
	position: relative
}
#team-editing .editing-callout .edit-loupe {
	left: -155px;
	position: absolute;
	top: -30px
}
@keyframes capacity-billable {
	0% {
			width: 10%
	}
	30% {
			width: 30%
	}
	60% {
			width: 50%
	}
	70% {
			width: 70%
	}
	90% {
			background: #2e95e9;
			width: 90%
	}
	100% {
			background: #db3f44;
			width: 90%
	}
}
@keyframes capacity-nonbillable {
	0% {
			width: 15%
	}
	40% {
			width: 40%
	}
	50% {
			width: 80%
	}
	80% {
			width: 90%
	}
	90% {
			background: #add4f7;
			width: 105%
	}
	100% {
			background: #eea0a2;
			width: 120%
	}
}
@keyframes slide-in {
	0% {
			opacity: 0;
			transform: translateX(-20px)
	}
	100% {
			opacity: 1;
			transform: translateX(0)
	}
}
@keyframes slide-out {
	0% {
			opacity: 1;
			transform: translateX(0)
	}
	100% {
			opacity: 0;
			transform: translateX(20px)
	}
}
@keyframes over-capacity {
	0% {
			height: 0
	}
	100% {
			height: 53px
	}
}
.webinar-info {
	font-size: 16px;
	line-height: 26px;
	margin: 0 auto 20px;
	width: 640px
}
ul.webinar-list {
	list-style: none;
	padding: 0
}
ul.webinar-list>li {
	margin: 20px 0 0
}
ul.webinar-list a {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 0 0 1px transparent;
	display: block;
	text-decoration: none;
	transition: all 0.1s
}
ul.webinar-list a:hover {
	border-color: #f36c00;
	box-shadow: 0 0 0 1px #f36c00
}
ul.webinar-list a>span {
	background: #f4f4f4;
	border-radius: 0 0 5px 5px;
	color: #555;
	display: block;
	font-size: 13px;
	line-height: 18px;
	padding: 10px 20px
}
ul.webinar-list .webinar-title {
	color: #555;
	display: block;
	padding: 15px 20px
}
ul.webinar-list .webinar-title .sundial-date,
ul.webinar-list .webinar-title strong {
	color: #333;
	display: block;
	font-size: 16px;
	font-weight: bold
}

.table-scroller-wrapper {
	margin-top: 5px;
	position: relative;
	.top-scroller {
		overflow-x: auto;
		overflow-y: hidden;
		.scroller-content {
				height: 1px;
		}
	}
	.bot-scroller {
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		position: relative;
		& > table {
				margin-top: 0 !important;
		}
		.table-shaves {
			float: left;
			transition: transform .2s ease-in-out;
		}
		.none-transition {
			transition: none;
		}
		// tbody {
		// 	cursor: -webkit-grab;
		// 	cursor: grab;
		// 	cursor : -moz-grab;
		// 	cursor : -o-grab;
		// 	&:active {
		// 		cursor : -webkit-grabbing;
		// 		cursor : -moz-grabbing;
		// 		cursor : -o-grabbing;
		// 		cursor : grabbing;
		// 	}
		// }
	}
}
.tbl-nav {
	appearance: none;
	background: transparent;
	padding: 0;
	border: 0;
	&:focus {
		outline: 0;
	}
	&:hover {
		cursor: pointer;
	}
	position: absolute;
	top: 0;
	bottom: 0;
	opacity: 0;
	transition: opacity .3s;
}

.tbl-prev {
	left: 0;
	[data-overflowing="both"] ~ &,
	[data-overflowing="left"] ~ & {
		opacity: 1;
	}
}

.tbl-next {
	right: 0;
	[data-overflowing="both"]  ~ &,
	[data-overflowing="right"] ~ & {
		opacity: 1;
	}
}

.tbl-icon {
	width: 20px;
	height: 44px;
	fill: #bbb;
}

// .js {	
// 	.bot-scroller {
// 		-ms-overflow-style: -ms-autohiding-scrollbar;
//   	}
// 	.bot-scroller::-webkit-scrollbar {
// 		display: none;
// 	}
// }
