.box-center-horizontal, .image-contain.image-center, .image-contain.image-center-with-border .image-inner, .text-contain.text-center-vertical {
  display: table;
  margin: auto;
}

.box-center-vertical, .image-contain.image-center .image-inner, .image-contain.image-center-with-border .image-inner .image, .text-contain.text-center-vertical .text-inner {
  display: table-cell;
  vertical-align: middle;
}

.image-contain.image-center-with-border {
  border: 1px solid #DDD;
}

.image-contain img {
  max-width: 100%;
  max-height: 100%;
}

.text-contain.text-center-vertical {
  text-align: center;
}

.link-text-underline {
  text-decoration: underline !important;
  cursor: pointer;
}

.link-text-underline:hover {
  text-decoration: none !important;
}

.link-text-none {
  text-decoration: none !important;
  cursor: pointer;
}

.link-text-none:hover {
  text-decoration: underline !important;
}

.text-blue {
  color: #4478ad !important;
}

.click-able {
  cursor: pointer;
}

.small-text.link-text {
  font-size: 13px;
}

.small-text.note-text {
  font-size: 12px;
}

input.form-control, input.shave2u-form-control, select.form-control, select.shave2u-form-control {
  border-radius: 0 !important;
}

.btn {
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  font-family: 'Roboto-bold';
  min-height: 43px;
  line-height: 25px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn.shave2u-btn-primary {
  min-width: 145px;
  background-color: #000;
  border-color: #000;
  color: #FFF;
}

.btn.shave2u-btn-primary:hover {
  opacity: 0.8;
}

.btn.shave2u-btn-default {
  border: 1px solid #000;
}

.btn.shave2u-btn-default:hover {
  opacity: 0.8;
}

.btn.shave2u-btn-secondary {
  background-color: #CCC;
  color: #FFF;
}

.shave2u-custom-control-indicator {
  background-color: #000 !important;
}

.quantity-action-tool {
  display: flex;
}

.quantity-action-tool input {
  width: 40px;
  height: 40px;
  text-align: center;
}

.quantity-action-tool .btn-minus, .quantity-action-tool .btn-plus {
  border-radius: 50%;
  border: 1px solid #CCC;
  width: 20px;
  height: 20px;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  top: 6px;
  position: relative;
  font-size: 6px;
  text-align: center;
  line-height: 20px;
  margin: 5px 10px;
  cursor: pointer;
}

.quantity-action-tool .btn-minus .fa-minus, .quantity-action-tool .btn-plus .fa-minus {
  position: relative;
  left: 0;
}

.quantity-action-tool .btn-minus .fa-plus, .quantity-action-tool .btn-plus .fa-plus {
  top: -1px;
  color: #FFF;
  position: relative;
  left: 0;
}

.quantity-action-tool .btn-plus {
  background-color: #000;
}

.box-flex {
  display: flex;
}

.box-flex .flex {
  flex: 1;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > .col,
.row.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.card-items .item-inner {
  max-width: 450px;
}

.card-items .item-inner .item {
  padding: 15px 20px;
  min-height: 218px;
}

.card-items .item-inner .full-name {
  font-size: 18px;
  margin-bottom: 30px;
}

.card-items .item-inner .item-added {
  border: 1px solid #959595;
}

.card-items .item-inner .item-adding {
  border: 1px dotted #959595;
}

.card-items .item-inner .item-adding .text-inner {
  height: 186px;
}

.card-items.master-cards .item {
  border-radius: 8px;
}

.card-items.master-cards .card-code {
  padding: 35px 0 20px;
}

.card-items.master-cards .card-expiry-date {
  padding-bottom: 10px;
}

.cart-list-detail {
  position: relative;
}

.cart-list-detail .heading {
  margin-bottom: 15px;
}

.cart-list-detail .cart-list-contain .row-custom {
  display: flex;
  width: 100%;
}

.cart-list-detail .cart-list-contain .row-custom:last-child .item {
  border-bottom: 1px solid transparent;
}

.cart-list-detail .cart-list-contain .product-name {
  font-size: 18px;
}

.cart-list-detail .cart-list-contain .product-description {
  font-size: 16px;
}

.cart-list-detail .cart-list-contain .item-info {
  width: 47%;
}

.cart-list-detail .cart-list-contain .item-price {
  width: 16%;
}

.cart-list-detail .cart-list-contain .item-quantity {
  width: 17%;
}

.cart-list-detail .cart-list-contain .item-total {
  width: 20%;
  text-align: right;
}

.cart-list-detail .cart-list-contain .item-total .text-contain {
  float: right;
}

.cart-list-detail .image-contain {
  width: 175px;
  max-width: 44%;
}

.cart-list-detail .image-contain .image-inner .image {
  height: 175px;
}

.cart-list-detail .text-contain {
  max-width: 55%;
  padding-left: 25px;
  text-align: left;
}

.cart-list-detail .text-contain .text-inner {
  height: 175px;
}

.cart-list-detail .item {
  border-bottom: 1px solid #CCC;
  padding: 20px 0;
}

.cart-list-detail .box-body .item {
  padding: 40px 0;
}

.card .card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.inputFileUpload {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.cdk-overlay-container {
  z-index: 2000 !important;
}

.modal-dialog {
  min-height: -webkit-calc(100vh - 60px);
  min-height: -moz-calc(100vh - 60px);
  min-height: calc(100vh - 60px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: auto;
}

@media (max-width: 768px) {
  .modal-dialog {
    min-height: -webkit-calc(100vh - 20px);
    min-height: -moz-calc(100vh - 20px);
    min-height: calc(100vh - 20px);
  }
}

.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
  }
}
