
.box-center-horizontal {
  display: table;
  margin: auto;
}
.box-center-vertical {
  // To implement this class, need to add the "Height" for this element.
  display: table-cell;
  vertical-align: middle;
}
.image-contain {
  &.image-center {
    @extend .box-center-horizontal;
    .image-inner {
      @extend .box-center-vertical;
    }
  }
  &.image-center-with-border {
    border: 1px solid #DDD;
    .image-inner {
      @extend .box-center-horizontal;
      .image {
        @extend .box-center-vertical;
      }
    }
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.text-contain {
  &.text-center-vertical {
    @extend .box-center-horizontal;
    text-align: center;
    .text-inner {
      @extend .box-center-vertical;
    }
  }
}

.link-text-underline {
  text-decoration: underline!important;
  cursor: pointer;
  &:hover {
    text-decoration: none!important;
  }
}
.link-text-none {
  text-decoration: none!important;
  cursor: pointer;
  &:hover {
    text-decoration: underline!important;
  }
}
.text-blue {
  color: #4478ad!important;
}
.click-able {
  cursor: pointer;
}
.click-able-hover {
  &:hover {
    text-decoration: underline !important;
  }
}

.small-text {
  &.link-text {
    font-size: 13px;
  }
  &.note-text {
    font-size: 12px;
  }
}

input, select {
  &.form-control, &.shave2u-form-control {
    border-radius: 0 !important;
  }
}
// Start button style
.btn {
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  font-family: 'Roboto-bold';
  min-height: 43px;
  line-height: 25px;
  cursor: pointer;
  text-transform: uppercase;
  &.shave2u-btn-primary {
    min-width: 145px;
    background-color: #000;
    border-color: #000;
    color: #FFF;
    &:hover {
      opacity: 0.8;
    }
  }
  &.shave2u-btn-default {
    border: 1px solid #000;
    &:hover {
      opacity: 0.8;
    }
  }
  &.shave2u-btn-secondary {
    background-color: #CCC;
    color: #FFF;
    &:hover {

    }
  }
}
// Custom Form:
.shave2u-custom-control-indicator {
  background-color: #000!important;
}
// End button style
// Quantity Tool
.quantity-action-tool {
    display: flex;
    input {
      width: 40px;
      height: 40px;
      text-align: center;
    }
    .btn-minus, .btn-plus {
      border-radius: 50%;
      border: 1px solid #CCC;
      width: 20px;
      height: 20px;
      overflow: hidden;
      display: table-cell;
      vertical-align: middle;
      padding: 0;
      top: 6px;
      position: relative;
      font-size: 6px;
      text-align: center;
      line-height: 20px;
      margin: 5px 10px;
      cursor: pointer;
      .fa-minus {
        position: relative;
        left: 0;
      }
      .fa-plus {
        top: -1px;
        color: #FFF;
        position: relative;
        left: 0;
      }
    }
    .btn-plus {
      background-color: #000;
    }
  }
  .box-flex {
    display: flex;
    .flex {
      flex: 1;
    }
  }
  .row {
    &.no-gutters {
      margin-right: 0;
      margin-left: 0;

      > .col,
      > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  // Card Style
  // Address Card
  .card-items {
    .item-inner {
      max-width: 450px;
      .item {
        padding: 15px 20px;
        min-height: 218px;
      }
      .full-name {
        font-size: 18px;
        margin-bottom: 30px;
      }
      .item-added {
        border: 1px solid #959595;
      }
      .item-adding {
        border: 1px dotted #959595;
        .text-inner {
          height: 186px;
        }
      }
    }
    &.master-cards {
      .item {
        border-radius: 8px;
      }
      .card-code {
        padding: 35px 0 20px;
      }
      .card-expiry-date {
        padding-bottom: 10px;
      }
    }
  }
  // End Card Style
  // Cart list detail
  .cart-list-detail {
    position: relative;
    .heading {
      margin-bottom: 15px;
    }
    .cart-list-contain {
      .row-custom {
        display: flex;
        width: 100%;
        &:last-child {
          .item {
            border-bottom: 1px solid transparent;
          }
        }
      }
      .product-name {
        font-size: 18px;
      }
      .product-description {
        font-size: 16px;
      }
      .item-info {
        width: 47%;
      }
      .item-price {
        width: 16%;
      }
      .item-quantity {
        width: 17%;
      }
      .item-total {
        width: 20%;
        text-align: right;
        .text-contain {
          float: right;
        }
      }
    }
    .image-contain {
      width: 175px;
      max-width: 44%;
      .image-inner {
        .image {
          height: 175px;
        }
      }
    }
    .text-contain {
      max-width: 55%;
      padding-left: 25px;
      text-align: left;
      .text-inner {
        height: 175px;
      }
    }
    .item {
      border-bottom: 1px solid #CCC;
      padding: 20px 0;
    }
    .box-body {
      .item {
        padding: 40px 0;
      }
    }
  }
  // End Cart list detail
  //Temporary add missing style boostrap
.card {
  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
  }
}

.inputFileUpload {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

// .mat-dialog-container {
//   padding: 0px !important;
// }
.cdk-overlay-container  {
  z-index: 2000 !important;
}

.modal-dialog {
  min-height: -webkit-calc(100vh - 60px);
  min-height: -moz-calc(100vh - 60px);
  min-height: calc(100vh - 60px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
}
@media (max-width: 768px) {
  .modal-dialog {
    min-height: -webkit-calc(100vh - 20px);
    min-height: -moz-calc(100vh - 20px);
    min-height: calc(100vh - 20px);
  }
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

@media (min-width: 576px) {
  .modal-dialog {
      max-width: 600px;
  }
}

.btn-cus {
  padding: 8px 16px;
}

.mat-dialog-actions {
  display: block !important;
  text-align: center;
}

.filter-field {
  position: relative;
  .filter-field-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.125;
    color: rgba(0,0,0,.54);
    // position: absolute;
    width: 100%;
		display: block;
    // left: 0;
    // top: -18px;
    // right: 0;
    text-align: left;
    padding-bottom: 5px;
    // padding-left: 15px;
  }

	input{
		&::placeholder {
		  font-size: 12px;
		}
	}
}

.custom-file {
  font-size: 16px;
  .custom-file-control {
    &:before {
      content: "Click me";
    }
    &:after {
      content: "Select file...";
    }
  }
}

.inputDnD {
  .form-control-file {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 6em;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    background-color: #c61c23;
    box-shadow: 0 0 5px solid currentColor;
    &:before {
      content: attr(data-title);
      position: absolute;
      top: 0.5em;
      left: 0;
      width: 100%;
      min-height: 6em;
      line-height: 2em;
      padding-top: 1.5em;
      opacity: 1;
      visibility: visible;
      text-align: center;
      border: 0.25em dashed currentColor;
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      overflow: hidden;
    }
    &:hover {
      &:before {
        border-style: solid;
        box-shadow: inset 0px 0px 0px 0.25em currentColor;
      }
    }
  }
}

// PRESENTATIONAL CSS
body {
  background-color: #f7f7f9;
}

.err_mess {
    color: #d9534f;
}

.remove-faq-button {
  position:  absolute;
  right:  0;
  top:  0;
  min-height:  10px;
  line-height:  1;
}


select,
input {
	&:focus {
		box-shadow: 0 0 !important;
		outline: 0;
		border-color: #ced4da !important;
	}

	&:hover {
		border-color: unset;
	}
}

// datepicker input

.table-responsive {
	.row-alignment {
    display: flex;
    align-items: flex-end;
		.mat-form-field-underline {
			bottom: 1px;
		}
		.mat-form-field-wrapper {
			padding-bottom: 0;
		}
	}
}

// Container
.container-main {
  min-height: calc(100vh - 110px - 232px);
  margin-bottom: 15px;
  margin-top: 15px
}
