.form-control-inline {
  width: auto;
  display: inline-block;
}
.btn-remove-prDetails {
  position: absolute;
  top: 0;
  right: 0;
}

.add-images-products {
  width: 100%;
}

.add-images-plans {
  width: 100%;
}