.card {
	.header {
		padding: 15px 15px 0px;
		color: #333333;
		font-weight: 300;
		font-size: 22px;
	}
	.title {
		margin: 0;
		color: #333333;
		font-weight: 300;
	}
}

.table-responsive {
	min-height: .01%;
	// overflow-x: auto;
	overflow-x: initial;
}

.table-shaves {
	th {
		min-width: 85px;
	}
	&.table-user {
		th {
			min-width: unset;
		}
	}
	.th-thumb {
		width: 180px;
	}
	.img-container {
		width: 180px;
		height: 120px;
		overflow: hidden;
		display: block;
		border-radius: 6px;
	}
	.img-container img {
		max-width: 180px;
    max-height: 120px;
	}
	.td-actions {
		width: 60px;
		min-width: auto;
		.btn {
			// opacity: 0.36;
			border-width: 1px;
			background-color: transparent;
			font-weight: 400;
			filter: alpha(opacity=80);
			padding: 8px 16px;
			border-color: #111;
			color: #111;
			.fa {
				width: 20px;
			}
		}
		.btn-icon {
			padding: 8px;
			border: 0;
			font-size: 16px;
			padding: 8px 16px;
		}
		.btn-info {
			border-color: #23CCEF;
			color: #23CCEF;
		}
		.btn-success {
			border-color: #87CB16;
			color: #87CB16;
		}
		.btn-danger {
			border-color: #FB404B;
			color: #FB404B;
		}
	}
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 12px 8px;
    vertical-align: middle;
		border-color: #E3E3E3;
}

.actiion-menu {
	right: 0;
	left: auto;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	a {
		cursor: pointer;
	}
	&:after {
		left: auto;
		right: 12px;
		border-bottom: 11px solid #FFFFFF;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    top: -10px;
	}
}

@media (max-width: 992px) {
	.table-responsive {
		width: 100%;
		margin-bottom: 15px;
		overflow-x: scroll;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		-webkit-overflow-scrolling: touch;
	}
}
