<div class="pagging" *ngIf="totalItems > 0">
  <ul>
    <li class="pagging-arrow-left" [ngClass]="{'active': hasPrev}">
      <a href="#" class="fa fa-angle-left" aria-hidden="true" (click)="onPrev(); $event.preventDefault();"></a>
    </li>
    <li  [ngClass]="{'active': currentPage === page}" *ngFor="let page of pages">
      <a href="#" (click)="goto(page); $event.preventDefault();">{{page}}</a>
    </li>
    <li class="pagging-arrow-right" [ngClass]="{'active': hasNext}">
      <a href="#" class="fa fa-angle-right" aria-hidden="true" (click)="onNext(); $event.preventDefault();"></a>
    </li>
  </ul>
</div>