.pagging {
  ul {
    display: flex;
    .pagging-arrow {
      margin-right: 25px;
      font-size: 19px;
      color: #ececec;
    }
    .pagging-arrow-right {
      margin-right: 0;
    }
    li {
      margin-right: 21px;
      font-size: 14px;
      margin-top: auto;
      margin-bottom: auto;
      a {
        color: #737373;
      }
      &.active {
        a {
          color: #FD641F;
        }
      }
    }
  }
}