.th-status {
    width: 200px;
}
.notice {
    line-height: 43px;
    font-size: 14px;
    color: #529214;
    a {
        color: #529214;
        &:hover {
            border-bottom: 1px solid #529214;
            text-decoration: none;
        }
    }
}
