<div class="col-md-12 button-ai" *ngIf="active">
    <a class="btn btn-sm float-left btn-secondary" (click)="changeStatusMutiActive('active')">Active</a>
    <a class="btn btn-sm float-left btn-secondary" (click)="changeStatusMutiActive('removed')">Inactive</a>
  </div>