<!-- sign up form-->
<div *ngIf="isSignUp">
  <form [formGroup]="signUpForm" novalidate #f="ngForm" (ngSubmit)="signUpForm.valid && doSignUp(signUpForm.value)">
    <div class="input-group form-group" [ngClass]="{'has-error': signUpForm.hasError('required', 'fullname') && f.submitted}">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input id="fullname" name="fullname" type="text" class="form-control" placeholder="fullname" formControlName="fullname" autofocus>
    </div>
    <span class="help-block" *ngIf="f.submitted && signUpForm.hasError('required', 'fullname')">
        {{ 'msg.validation.required' | translate:{value: 'Full Name'} }}
    </span>
    <div class="input-group form-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input id="email" name="email" type="text" class="form-control" placeholder="username or email" formControlName="email" pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$'>
    </div>
    <span class="help-block" *ngIf="f.submitted && signUpForm.hasError('required', 'email')">
        {{ 'msg.validation.required' | translate:{value: ( 'msg.field.email' | translate)} }}
    </span>
    <span class="help-block" *ngIf="f.submitted && signUpForm.hasError('pattern', 'email')">
        {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.email_address' | translate) } }}
    </span>
    <div class="input-group form-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input id="password" type="password" class="form-control" name="password" placeholder="password" formControlName="password"
        pattern="^(?=.*\d)(?=.*[a-zA-Z]).{6,}$" />
    </div>
    <span class="help-block" *ngIf="f.submitted && signUpForm.hasError('required', 'password')">
        {{ 'msg.validation.required' | translate:{value: 'Password'} }}
    </span>
    <span class="help-block" *ngIf="f.submitted && signUpForm.hasError('pattern', 'password')">
        {{ 'msg.validation.password_format' | translate }}
    </span>
    <div>
      <app-alert [message]="resError"></app-alert>
      <button type="button" class="btn btn-default shave2u-btn-default" (click)="backToSignIn()">{{ 'lbl.checkout.sign_up.btn_back' | translate }}</button>
      <button type="submit" class="btn btn-primary shave2u-btn-primary">{{ 'lbl.checkout.sign_up.btn_create' | translate }}</button>
    </div>
  </form>
</div>
<!-- ./sign up form-->
<!-- resend activation to email-->
<div *ngIf="isSendEmail1">
  {{ 'lbl.checkout.sign_up.note_activelink' | translate }}
  <div>
    <a class="btn btn-default shave2u-btn-default" (click)="sendEmailAgain()">{{ 'lbl.checkout.sign_up.btn_resend' | translate }}</a>
    <a class="btn btn-default shave2u-btn-default" disabled="disabled">{{ 'lbl.checkout.sign_up.btn_continue' | translate }}</a>
  </div>
</div>
<div *ngIf="isSendEmail2">
  {{ 'lbl.checkout.sign_up.note_activelink' | translate }}
  <div>
    <a class="btn btn-default shave2u-btn-default" disabled="disabled">{{ 'lbl.checkout.sign_up.btn_resend' | translate }}</a>
    <a class="btn btn-default shave2u-btn-default" (click)='goToStep2()'>{{ 'lbl.checkout.sign_up.btn_continue' | translate }}</a>
  </div>
</div>
<!-- ./resend activation to email-->