// @media (max-width: 320px) {
//   #product-detail-page  {
//     .btn-group {
//       display:block;
//       .btn-primary{
//         margin-left: -15px!important;
//       }
//     }
//   }
// }

// @media (max-width: 556px) {
// 	#product-detail-page  {
//     .product-detail-content {
//       margin-top: 15px;
//     }
//   }
// }
@media screen and (max-width: 767px) {
	#product-detail-page {
		.product-detail-content {
			margin-top: 15px;
		}
		.product-details {
			.image-inner {
		    display: flex;
		    flex-wrap: wrap;
		    align-items: flex-start;

				.text-contain {
			    margin: 40px 15px;
					order: 1;
					position: static;
					transform: none;
				}

				img {
					order: 0;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	#product-detail-page  {
		.product-detail-content {
	    display: flex;
	    flex-wrap: wrap;
			.quantity-inner {
				.text {
			    font-size: 13px;
			    letter-spacing: 1.5px;
			    font-weight: bold;
				}
			}
			.sort_desciption {
				margin-bottom: 0;
				width: 100%;
			}
			.desciption {
				order: 12;
		    margin-bottom: 30px;
				max-width: 100%;
			}
			.heading {
		    display: flex;
		    align-items: center;
				padding-top: 15px;
				.block-heading {
			    font-size: 21px;
					padding-right: 5px;
					margin-right: 8px;
			    width: 65%;
			    white-space: nowrap;
			    text-overflow: ellipsis;
			    overflow: hidden;
	        padding-top: 0px;
				}
				.sell-price {
			    font-size: 23px;
					line-height: 0;
				}
			}
    }
    .product-detail-content {
			.delivery-group {
		    margin: 20px 0 25px;
			}
      .btn-group {
				width: 100%;
        .btn-primary{
           margin: 0 auto;
					 width: 100%;
        }
      }
    }
    .product-details {
      .text-contain{}
      &.center {
        .text-contain {
					// margin-top: -80px;
          .text-inner{
            .block-headding{
              font-size: 18px;
					    line-height: 32px;
            }
            .text{
              font-size: 16px;
					    line-height: 27px;
            }
          }

        }
      }
      &.left {
        .text-contain {
          width: 50%;
          .block-headding{
            font-size: 18x;
          }
          font-size: 50%;
        }
      }
      &.right {
        .text-contain {
          width: 50%;
          .block-headding{
            font-size: 13px;
          }
          font-size: 50%;
        }
      }
    }
  }
}
// @media (max-width: 992px) {
// 	#product-detail-page  {
//     .product-detail-content {
//       padding: 0 0px;
//     }
//   }
// }

@media (max-width: 997px) {
	#product-detail-page  {
    .product-detail-content {
      padding: 0 0px;
			.heading {
		    display: flex;
		    padding-top: 0;
		    align-items: center;
				.block-heading {
			    font-size: 21px;
			    margin-right: 8px;
			    padding-right: 5px;
			    width: 65%;
			    white-space: nowrap;
			    text-overflow: ellipsis;
			    overflow: hidden;
				}
				.sell-price {
			    font-size: 23px;
				}
			}
    }
    .product-details {
      padding: 0;
      .text-contain{
      }
      &.center {
        .text-contain {
        }
      }
      &.left {
        .text-contain {
          width: 50%;
          .block-headding{
            font-size: 20x;
          }
          font-size: 60%;
        }
      }
      &.right {
        .text-contain {
          width: 50%;
          .block-headding{
            font-size: 20px;
          }
          font-size: 60%;
        }
      }
		}
  }
}
// @media screen and(min-width: 998px) and (max-width: 1000px) {
// 	#product-detail-page  {
//     .product-details {
//       .text-contain{}
//       &.center {
//         .text-contain {
//           margin-top:-80px;
//         }
//       }
//     }
//   }
// }
// @media screen and(min-width: 998px) and  (max-width: 1125px) {
// 	#product-detail-page  {
//     .product-detail-content {
//       padding: 0 40px;
//     }
//     .product-details {
//       padding: 0 20px;
//       .text-contain{
//       }
//       &.center {
//         .text-contain {}
//       }
//       &.left {
//         .text-contain {
//           font-size: 80%;
//         }
//       }
//       &.right {
//         .text-contain {
//           font-size: 80%;
//         }
//       }
//     }
//   }
// }
