<div id="product-detail-page" class="container-fluid" *ngIf="!isLoading">
  <div class="container shave2u-container">
    <div class="row mb-cus">
      <div class="col-md-7">
        <app-pgw-slider [addClass]="'product-detail-slider'" [items]="productsSlider" [options]="productsSliderOptions"
          *ngIf="!isloading"></app-pgw-slider>
      </div>
      <div class="col-md-5">
        <div class="product-detail-content">
          <!-- product name -->
          <div class="heading">
            <!-- <h1 class="standard-seo">{{productInfo.productTranslate | productTranslate:'seoTitle'}}</h1> -->
            <h2 class="block-heading">{{productInfo.productTranslate | productTranslate:'name'}}</h2>

            <!-- Price -->
            <span class="sell-price">{{productInfo.productCountry.sellPrice | smsCurrency}}</span>
          </div>

          <!-- Detail info -->
          <p class="sort_desciption">
            <appProductDescription [productTranslate]="productInfo.productTranslate" [displayShortDescription]=true></appProductDescription>
          </p>
          <p class="desciption">
            <appProductDescription [productTranslate]="productInfo.productTranslate" [displayShortDescription]=false></appProductDescription>
          </p>

          <div class="quantity-inner" *ngIf="storage.getCountry().isWebEcommerce && storage.getCountry().code.toUpperCase() !== 'KOR' && storage.getCountry().code.toUpperCase() !== 'HKG'">
            <label class="text">{{ 'lbl.product_detail.quantity' | translate }}</label>
            <div class="quantity-action-tool">
              <div class="btn-minus ml-0" (click)="minusQuatity()" [ngClass]="item.qty === 1 ? 'inactive' : ''"><span
                  class="fa fa-minus"></span></div>
              <input type="number" name="qty" [(ngModel)]="item.qty" #qty="ngModel" (change)="changeQuatity()" />
              <div class="btn-plus" (click)="plusQuatity()"><span class="fa fa-plus"></span></div>
            </div>
          </div>

          <!-- Button add to cart -->
          <div class="btn-group">
            <!-- <button class="btn btn-primary shave2u-btn-primary" (click)='addToCart()' *ngIf="storage.getCountry().isWebEcommerce && storage.getCountry().code.toUpperCase() !== 'KOR'">{{ 'lbl.product_detail.btn_add' | translate }}</button> -->
            <button class="btn btn-primary shave2u-btn-primary" (click)='addToCart()'>{{ 'lbl.product_detail.btn_add' |
              translate }}</button>
          </div>
          <div class="delivery-group">
            <p class="icon-deliver" *ngIf="storage.getCountry().code.toUpperCase() !== 'KOR' && storage.getCountry().code.toUpperCase() !== 'HKG'" [innerHTML]="'lbl.product_detail.delivery' | translate : {currency: storage.getCountry().currencyDisplay, price: appConfig.getConfig('shippingFeeConfig').minAmount}"></p>
            <p class="icon-handles">{{ 'lbl.product_detail.handles' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngFor="let productDetail of productInfo.productDetails">
    <div class="row product-details {{productDetail.type}}" *ngIf="productDetail.title != '' && productDetail.langCode === currentLang">
      <div class="col-lg-12">
        <div class="image-contain img-background">
          <div class="image-inner">
            <div class="text-contain">
              <div class="text-inner">
                <h2 class="block-headding" [innerHTML]="productDetail.title"></h2>
                <p class="text" [innerHTML]="productDetail.details"></p>
              </div>
            </div>
            <img src="{{productDetail.imageUrl}}">
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
