@import "../../../../assets/sass/mixins/color";
#checkout {
  overflow: hidden;
  padding: 43px 0px 25px 0px;
  background-color: #fff;
  margin: 0 auto;
  min-height: calc(100vh - 79px - 42px);
  .forgot-password-form {
    h2{
      &.cus-mb {
        margin-bottom: 25px;
        line-height: 1;
      }
    }
    .check-inbox-note {
      font-size: 14px;
      margin: auto auto 20px auto;
    }
    .cus-mt {
      margin-top: 25px;
    }
    .forgot-pw {
      color: #1f1f1f !important;
      font-weight: bold;
      font-size: 13px;
      letter-spacing: 2px;
      padding-bottom: 3px;
      text-decoration: unset !important;
      border-bottom: 1px solid #1f1f1f;
      cursor: pointer;
      &:hover {
        color: #fd641f !important;
      }
    }
  }
  .body-checkout{
    max-width: 960px;
    .block-order-summary {
      padding-top: 71px;
    }
  }
  .hidden {
    display: none;
  }
  .section-title {
    cursor: pointer;
    height: 50px;
    padding: 10px 15px;
    color: #FFF;
    overflow: hidden;
    border: 1px solid transparent;
    border-top: 1px solid #FFF;
    background-color: #CCC;
    margin: 0;
    line-height: 31px;
    .ico-first {
      font-size: 23px;
      min-width: 40px;
      text-align: left;
      margin-right: 5px;
    }
    a {
      color: #FFF;
    }
    .title {
      text-transform: uppercase;
    }
    &.active, &.activated {
      background-color: #000;
    }
    .content {
      .sub-content {
        padding-left: 30px;
      }
    }
  }

}
.footer-checkout{
  width: 100%;
  background: #e6ebf3;
  padding: 35px 0 20px;
  .content-footer{
    max-width: 775px;
    margin: 0 auto;
    .footer-help{
      h3{
        width: 100%;
        position: relative;
        top: calc(50% - 24px);
        font-family: 'Muli';
      }
      .block-help-text{
        position: relative;
        margin-bottom: 20px;
        .help-content{
          padding-left: 35px;
          p{
            margin: 0;
            padding: 0;
          }
        }
        .help-icon{
          position: absolute;
          left: 0;
          top: calc(50% - 9px);
          &.icon-phone {
            top: 4%;
          }
        }
      }
    }
  }

}

.order-summary{
  .heading-small {
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #1f1f1f;
    font-family: 'Muli Bold';
    text-transform: uppercase;
    &.on-list {
      margin-top: 25px;
    }
    span{
      font-family: 'Muli';
      color: #636c72;
      text-transform: capitalize;
    }
  }
  .box-flex{
    margin-bottom: 10px;
    span{
      color: #636c72;
      text-transform: uppercase;
    }
    strong{
      font-size: 13px;
      color: #636c72;
      font-weight: normal;
    }
  }
  .btn-apply-promo{
    max-width: 150px;
    margin-top: 10px;
  }
	.btn-apply-promo {
		background: #bebebe;
		color: white;
		font-size: 12px;
		min-height: 36px;
		border: 0;
		&:hover {
			background-color: #666666;
		}
		&.active {
			background-color: #fe5000;
			&:hover {
				background-color: #fe7333;
			}
		}
	}
  .note-3{
    color: #8c3a46;
  }
}


.footer-end{
  width:100%;
  display: inline-block;
  text-align: left;
  width: 100%;
  padding: 35px 15px;
  background: #e5e5e5;
  color: #6c6c6c;
}

.checkout-content-inner.checkout-row{
  margin: 0 -15px;
}
h1.heading-top.heading-top-checkout{
  font-size: 32px;
}
.heading-top.heading-top-checkout{
  color: #636c72;
  font-family: 'Muli';
}

.row-progress-tabs{
  background-color: #fff;
  // border-top: 1px solid #c6c6c6;
}
.progress-tabs {
  font-family: 'Muli Bold';
  margin: -5px auto;
  z-index: 0;
  text-align: left;
  padding: 23px 0 10px;
  max-width: 960px;
  ul.checkout-bar {
    // position: absolute;
    display: inline-block;
    margin: 0 auto;
    li {
      cursor: pointer;
      color: #636c72;
      font-size: 11px;
      position: relative;
      display: inline-block;
      padding: 0;
      text-align: left;
      float: left;
      margin-right: 30px;
      width: 150px;
      background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/arrow-right.png') no-repeat right;

      &:last-child {
        background: none;
      }
      &:before {
        -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
        box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
        background: #ddd;
        border: 2px solid #FFF;
        border-radius: 50%;
        color: #fff;
        font-size: 11px;
        font-weight: 700;
        text-align: left;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
        height: 34px;
        left: 40%;
        line-height: 34px;
        position: absolute;
        top: -60px;
        width: 34px;
        z-index: 99999;
      }
      &.done {
        a {
          color: #636c72;
        }
      }
      &.active {
        a {
          color: #f57135;
        }
      }

      &.visited {
        color: #036c99;
        z-index: 99999;
        background: none;
        &:before {
          background: #036c99;
          z-index: 99999;
        }
        a {
          color: #036c99;
        }
      }

      a {
        color: #636c72;
        font-size: 11px;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }

}

//
@media (max-width: 992px) {

}

// style css on mobile devices
@media only screen and (max-width: 767px) {
  #checkout {
    // padding: 0 0px 25px 0px;
    background: #f7f7f7;
    .padding-mobile{
      padding: 0 15px;
    }
    h2.heading-top.heading-top-checkout{
      font-size: 23px;
      font-family: 'Muli Bold';
      color: #1f1f1f;
      margin: 45px 0 0;
    }
    #delivery-address{
      padding: 0;
      .heading-small{
        margin-top: 15px;
      }
    }
  }
  .progress-tabs {
    // background-color: rgba(244, 247, 251, 0.95);
    background: #f7f7f7;
    // position: fixed;
    // top: 35px;
    left: 0;
    z-index: 1;
    padding: 0;
    ul.checkout-bar {
      padding: 20px 0 20px;
      text-align: center;
      display: flex;
      border-bottom: 1px solid #d4d4d4;
      margin: 0 15px 0;
      li {
        padding: 0 7%;
        width: auto;
        float: none;
        margin-right: 5px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
        a {
          height: 28px;
			    // width: 66px;
          display: block;
          span{
            display: none;
          }
        }
      }
    }
  }
  .footer-checkout{
    padding: 45px 0 20px;
    text-align: left;
    .content-footer{
      max-width: 240px;
      margin: 0 auto;
      .footer-help{
        .block-help-text{
          .help-content{
            text-align: left;
          }
        }
      }
    }
  }
}

// style css on tablet devices
@media (min-width: 768px) and (max-width: 1024px) {
	.progress-tabs {
		margin-top: 55px;
	}
}
// style css on tablet devices
@media (min-width: 768px) and (max-width: 997px) {
	.progress-tabs {
		max-width: 720px;
	}
}
