
<div class="row row-progress-tabs m-0">
  <div class="progress-tabs col-md-12" [hidden]="stepsData.login.state === 'active'">
    <ul class="checkout-bar">
      <li class="address" [ngClass]="{'active' : stepsData.deliveryAddress.state === 'active', 'done': stepsData.deliveryAddress.state === 'finish'}"
        (click)="goToDeliveryAddress();" #address>
        <a><span>1</span> {{ 'checkout.step_1' | translate }}</a>
      </li>
      <li class="payment" [ngClass]="{'active': stepsData.payment.state === 'active', 'done': stepsData.payment.state === 'finish'}"
        (click)="goToPayment();" #payment>
        <a><span>2</span> {{ 'checkout.step_2' | translate }}</a>
      </li>
      <li class="review" [ngClass]="{'active': stepsData.summary.state === 'active'}" (click)="goToSummary();" #review>
        <a><span>3</span> {{ 'checkout.step_3' | translate }}</a>
      </li>
    </ul>
  </div>
</div>
<div id="checkout" class="container-fluid body-container">
  <!--progress-tabs -->
  <div class="container body-checkout">

    <div class="checkout-content-inner" [hidden]="stepsData.login.state !== 'active'">
      <!-- sign in form-->
      <app-alert></app-alert>
      <checkout-sign-in (notifyStep1Status)='getNotifyStep1Status($event)' [stepsData]='stepsData'></checkout-sign-in>
      <!-- ./sign in form-->
    </div>

    <div class="row padding-mobile" [hidden]="stepsData.login.state === 'active'">
      <div class="col">
          <div class="row">
            <div class="col-md-12 col-lg-12 px-0">
              <!-- <h1 class="standard-seo">{{ 'lbl.checkout.step_payment.checkout_now' | translate }}</h1> -->
              <h2 class="heading-top heading-top-checkout">{{ 'lbl.checkout.step_payment.checkout' | translate }}</h2>
            </div>
          </div>
        <div class="checkout-content-inner checkout-row" [hidden]="stepsData.deliveryAddress.state !== 'active'">
          <app-alert></app-alert>
          <checkout-delivery-address (notifyStep2Status)='getNotifyStep2Status($event)' [stepsData]='stepsData'
            (changeAccountStatus)="hasChangeAccount($event)" (notifyJustLogin)='getNotifyJustLogin($event)'
            [receipt]='receipt'></checkout-delivery-address>
        </div>

        <div class="checkout-content-inner checkout-row" [hidden]="stepsData.payment.state !== 'active'">
          <app-alert [message]="resError"></app-alert>
          <checkout-payment-method (notifyStep3Status)='getNotifyStep3Status($event)' [stepsData]='stepsData'
            (setResetCardSelected)="setResetCardSelected($event)"></checkout-payment-method>
        </div>

        <div class="checkout-content-inner" [hidden]="stepsData.summary.state !== 'active'">
          <checkout-summary-place-order (notifyStep4Status)='getNotifyStep4Status($event)' [stepsData]='stepsData'
            (changeAccountStatus)="hasChangeAccount($event)" [receipt]='receipt'></checkout-summary-place-order>
        </div>
      </div>
      <div class="col-sm-4 hidden-xs-down block-order-summary" [ngClass]="{'hidden': stepsData.summary.state === 'active'}">
        <div class="box-inner box-bottom-contain order-summary" *ngIf="receipt">
          <h4 class="heading-small ng-tns-c12-4">{{ 'checkout.order_summary.header' | translate }}</h4>
          <div class="box-flex">
            <span class="flex">{{ 'lbl.cart.total' | translate }}</span>
            <strong>{{receipt.totalPrice | smsCurrency}}</strong>
          </div>
          <div class="box-flex">
            <span class="flex">{{ 'lbl.cart.discount' | translate }}</span>
            <strong>{{receipt.discount | smsCurrency}}</strong>
          </div>
          <div class="box-flex">
            <span class="flex">{{ 'lbl.cart.subtotal' | translate }}</span>
            <strong>{{receipt.subTotal | smsCurrency}}</strong>
          </div>
          <div class="box-flex">
            <span class="flex">{{ 'lbl.cart.shipping_cost' | translate }}</span>
            <strong>{{(receipt.shippingFee != 0.00) ? (receipt.shippingFee | smsCurrency) : ('lbl.cart.free' | translate) }}</strong>
          </div>
          <div class="box-flex">
            <span class="flex" *ngIf="storage.getCountry().includedTaxToProduct">{{ 'lbl.cart.total_incld_tax' | translate }}</span>
            <span class="flex" *ngIf="!storage.getCountry().includedTaxToProduct">{{ 'lbl.cart.grand_total' | translate }}</span>
            <strong>{{receipt.totalIclTax | smsCurrency}}</strong>
          </div>
          <form [formGroup]="promoCodeForm" novalidate #f="ngForm">
            <div class="form-group promo-code-group">
              <input class="promo-code form-control" id="promoCode" name="promo_code" formControlName="promoCode" [(ngModel)]="promoCode" placeholder="{{ 'lbl.cart.promo_code' | translate }}">
              <button id="applyPromoBtn_checkout" type="submit" class="btn btn-primary shave2u-btn-primary btn-block btn-apply-promo" (click)="applyPromoCode()" [disabled]="(!promoCode || promoCode === '') ? true : null" [ngClass]="(!promoCode || promoCode === '') ? '' : 'active'">{{ 'lbl.cart.apply' | translate }}</button>
              <div class="alert alert-danger mr-sm-2 mt-sm-2" role="alert" *ngIf="promoCodeError">{{ promoCodeError.message }}</div>
            </div>
          </form>
          <p class="note-3" *ngIf="hasCustomPlan">
            <span class="fs-8">{{ 'lbl.cart.note_3' | translate }}</span>
          </p>
        </div>
      </div>

    </div>

    <!-- ./step 4 block-->

  </div>
</div>
<!-- <div class="footer-checkout">
  <div class="row content-footer">
    <div class="col-md-4 footer-help"><h3>{{ 'lbl.checkout.need_help' | translate }}</h3></div>
    <div class="col-md-4 footer-help">
      <div class="block-help-text ">
        <i class="icon-social icon-email help-icon"></i>
        <div class="help-content">
          <a href="mailto:help@shaves2u.com">help@shaves2u.com</a>
          <p>{{ 'lbl.checkout.typically_replies' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 footer-help">
      <div class="block-help-text">
        <i class="icon-social icon-phone help-icon"></i>
        <div class="help-content">
          <a *ngIf="currentCountry.code == 'MYS'" href="tel:+60392126282">+603 92126282</a>
          <a *ngIf="currentCountry.code == 'SGP'" href="tel:+6531630325">+65 31630325</a>
          <p>Available at Mon - Fri 9am - 6pm</p>
          <p>{{ 'lbl.core.footer.work_calendar' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="footer-end text-center">
  <small class="footer-small">{{ 'lbl.checkout.all_rights_reserved' | translate }}</small>
</div>
