#checkout {
  overflow: hidden;
  padding: 53px 0px 110px 0px;
}

#checkout .hidden {
  display: none;
}

#checkout .section-title {
  border: 1px solid #111;
  padding: 8px 15px;
  font-size: 16px;
  color: white;
  letter-spacing: 0;
  font-weight: normal;
  overflow: hidden;
  background: silver;
  margin: 0 0;
}

#checkout .section-title.active {
  margin-bottom: 20px;
  background: #333;
}
