@import "../../../../assets/sass/mixins/color";
// @media  (max-width: 1024px) {
//   #home-page{
//     .home-instagram{
//       .block-articles {
//         .block-articles-image {
//            max-width: 1020px;
//           .block-right,.block-left-1,.block-left-2,.block-center {
//             max-width: 100%;
//           }
//         }
//       }
//     }
//   }
// }

// @media  (max-width: 768px) {
//   #home-page{
//     .home-instagram{
//       .block-articles {
//         .block-articles-image {
//            max-width: 764px;
//           .block-right,.block-left-1,.block-left-2,.block-center {
//             max-width: 100%;
//           }
//         }
//       }
//     }
//   }
// }


@media screen and (max-width: 567px) {
  #home-page{
    .home-intro1 {
      .personalies-content {
        max-width: 295px;
        margin: 0 auto;
      }
    }
  }
}
@media screen and (min-width: 568px) and (max-width: 767px) {
  #home-page{
    .home-intro1 {
      .personalies-content {
        max-width: 380px;
        margin: 0 auto;
      }
    }
  }
}

@media  (max-width: 767px) {
  #home-page{
    h2{
      font-size: 22px;
      color: #1f1f1f;
      font-family: "Muli Bold";
    }
    .home-list-group-image-best-seller {
      max-height: 257px;
    }
    .home-list-group-image {
      max-height: 257px;
    }
    .home-intro1 {
      padding: 80px 0;
      .personalies-content{
        position: relative;
        top: 0px;
        left: 0;
        text-align: center;
        width: auto;
        a.learn-more{
          margin: 20px 0 30px;
          padding: 10px 30px;
          width: auto;
        }
      }
      .personalies-img {
        img {
          width: 100%;
        }
      }
      .max-width-korea {
        max-width: 100%;
      }
    }
    .background-ko {
      padding: 80px 0 0 0;
    }
    .home-intro {
      .content-intro{
        top: 30px;
        left:0;
        text-align: center;
        padding: 0 28px;
        width:100%;
        img{
          width: 100%;
        }
      }
    }
    .home-chart {
      .img-content{        
        padding: 20px;
    }
    .block-C{
      padding: 20px;
    }
    .img-description{
      margin-bottom: 40px;
    }
    .content-text{
      text-align: center;
      margin-bottom: 0px;
    }  
    .sort-description{
      text-align: center;
    }
    .learn-more{
      float: none;
      margin-bottom: 30px;
    }
  
    }
    .home-desc {        
      .content-text{
        padding: 20px;
      } 
      .content-description{
        text-align: center;
      }
      .bg{
        margin: 20px;
      }

    }
    .home-subscriptions {
      .img-subscriptions{
        width: 100%;
        float: none;
      }
      .content-subscriptions{
        width: 100%;
        float: none;
        padding: 80px 0 0 0;
        text-align: center;
        margin:0;
        h2{
          margin-bottom:0px;
        }
        .img-subscriptions{
          width: 100%;
        }
        .group-content{
          img{
            width: max-content;
            float: none;

          }
          .group-text{
            margin-left: 0;
            float: none;
            padding:15px;
            text-align: center;
            max-width: none;
          }
        }
      }

    }
    .home-personalies{
      background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/home/bg_banner_3.png') no-repeat center center;
      background-size: cover;
      position: relative;
      padding: 68px 0 0 0;
      background-position-y: 100px;
      .btn-primary{
        margin-top: 15px;
      }
      .personalies-content{
        max-width: 100%;
        position: static;
        top: 0;
        right: 0;
        text-align: center;
        margin: 0px auto 40px;
        h2{
          margin-bottom: 20px;
        }
      }
      .personalies-img{
        text-align: center;
        img{
          max-width: 290px;
        }
      }
      .personalies-bottom{
        margin: 60px 0 0px 0;
      }
    }
    .home-seller{
      img.home-list-group-image{
        height: 257px;
      }
      img.home-list-group-image-best-seller{
        height: 257px;
      }
      .block-featured-products {
        .block-products {
          margin: 0 15px;
          .small-cards{
            .card-block{
              max-width: 100%;
              flex: 1 1 auto;
            }
          }
          .card-block {
            padding: 0px 15px;
          }
          .card {
            background: #fff;
            width: 320px;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
            // border: 1px solid #eeeeee;
            .card-head {
              display: none;
            }
            .card-image {
              height: 292px;
              .image-container {

              }
              .home-shave2u-btn-add-cart {
                display: none;
              }
            }

          }
          .add-card{
            display: block;
            // padding: 0 15px;
            width: 100%;
            text-align: center;
            p.name-product{
              color: #000;
              span.name{
                color: #636c72;
              }
              margin-top: 22px;
              margin-bottom: 25px;
            }
            margin-bottom: 30px;
          }
          .card-best-seller {
            margin:0 auto;
            height: auto;
            .card-head {
              height: auto;
            }
            // .add-card{
            //   p.name-product{
            //     color: #000;
            //     span.
            //   }
            // }
          }
          .block-heading {
            text-align: center;
          }
        }
        .block-footer {
         // display:none;

          .group-btn {
            height: 60px;
            padding-top: 0px;
          }
        }
      }
    }
    .home-instagram{
      h3.title{
        display: block;
        width: 100%;
        text-align: center;
        i{
          color: $primary-color;
          font-size: 32px;
          margin-right: 5px;
        }
        span {
          color: #000;
        }
        margin: 35px 0 30px 0;
      }
      .block-articles {
        padding-bottom: 0px;
        .block-articles-image {
          max-width: 100%;
          .article-image,.article-image-big{
            img{
              width: 100%;
            }
            // height: 100%;
            .link-social {
              display: none;
            }
          }
          .block-right,.block-left-1,.block-left-2,.block-center {
            max-width: 100%;
          }

        }
      }
    }
  }
}
@media screen and (max-width:768px) and (orientation: portrait){
  #home-page{
    max-width: 100%;
    position: relative;
    overflow: hidden;
  }
}
@media screen and (max-width:1024px){
  #home-page{
    max-width: 100%;
    position: relative;
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  #home-page {
    .home-intro1 {
      .max-width-korea {
        max-width: 50%;
        margin-top: 35px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px){
  #home-page {
    .home-subscriptions {
      .img-subscriptions {
        img {
          margin-left: -82px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width:1200px){
  #home-page{
    .home-seller{
      .block-featured-products {
        .block-products {
          .card-block {
            flex: 0 0 50%;
          }
        }
      }
    }
  }
}
