@import "../../../../assets/sass/mixins/color";
// .btn-play-video {
//   font-size: 70px;
//   color: #FFF;
//   width: 90px;
//   height: 95px;
//   background-image: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-play-128.png');
//   background-repeat: no-repeat;
//   background-position: left center;
//   display: table;
//   margin: 30px auto;
// }
#home-page{
  color: #292b2c;
  img{
    width: 100%;
  }
  h1{
    font-family: "Muli Bold";
    margin-bottom: 36px;
    font-size: 25px;
    line-height: 40px;
    width: 100%
  }
  h2{
    font-family: "Muli Bold";
    margin-bottom: 36px;
    font-size: 25px;
    line-height: 40px;
    width: 100%;
    &.header-product {
      margin-bottom: 10px;
    }
    span{
      color: $primary-color;
    }
    &.normal {
      font-family: 'Muli';
    }
  }
  .sub-header-product {
    width: 100%;
    // font-weight: bold;
    margin-bottom: 36px;
    font-size: 16px;
  }
  .home-intro1{
    // background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/home/bg_banner_1.png') no-repeat;
    // background-size: cover;
    // background-position: center bottom;
    background-color: #F7F7F7;
    position: relative;
    padding: 12px 0 13px 0;
    .personalies-content{
      position: absolute;
      top: calc(50% - 118px);
      left: 20%;
      text-align: center;
      @media(min-width: 768px) and (max-width: 991px) {
        left: 10%;
      }
      a.learn-more{
        margin-top: 20px;
        width: 165px;
      }
      // text-align: center;
      h2{
        margin-bottom: 15px;
      }
    }
    .personalies-img {
      img {
        width: 100%;
        height: auto;
      }
    }
    .max-width-korea {
      // max-width: 33.33333333%;
    }
  }
  
  .background-ko {
    background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/home/bg_banner_1_2.png') no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding: 0;
  }

  .home-trial-work {
    text-align: center;
    padding: 40px 0 30px 0;
    .block2{
      .group-1, .group-2, .group-3 {
        padding: 0 58px;
      }
      h2{
        margin: 54px 0 0 0;
      }
      .item{
        .img-block {
          max-width: 100px;
          height: auto;
          margin: 0 auto;
          /*overflow: hidden;*/
        }
        img{
          width: 100%
        }
        p {
					font-size: 14px;
					&.sort-description{
						font-weight: bold;
            font-family: "Muli Bold";
						margin: 1.5rem 0;
						font-size: 16px;
					}
				}
        max-width:278px;
        margin: 0 auto;
      }
      .detailList{
        margin: 30px 0 0 0;
      }

    }
  }
  .home-chart {   
    background-color: #F7F7F7;
    position: relative;
    text-align: center;

    .block-C{
      padding: 200px 0px 0px 90px;
      @media(min-width: 768px) and (max-width: 1023px) {
        padding: 160px 0px 0px 60px;
      }
    }
    .personalies-img {
      img {
        width: 68%;
        height: auto;
        padding-top: 50px;
      }
    }
    .img-content{
        font-weight: bold;
        font-family: "Muli Bold";
        text-align: center;
        font-size: 25px;
        padding-top: 20px;
    }
    .img-description{
      font-family: "Muli";
      text-align: center;
      padding-left: 60px;
      padding-right: 60px;
      font-size: 14px;
      margin-bottom: 80px;
      @media(min-width: 768px) and (max-width: 1023px) {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px;
      }
      @media(min-width: 1024px) and (max-width: 1365px) {
        margin-bottom: 30px;
      }
    }
    .content-text{
      text-align: left;
      margin-bottom: 0px;
    }  
    .sort-description{
      text-align: left;
    }
    .learn-more{
      float: left;
      width: 165px;
      // padding: 8px 30px;
      // font-size: 16px;
      margin-top: 20px;
    }
    margin-top: 0;
    width: 100%;
    position: relative;
    img.bg-intro{
      width: 100%;
      // max-width:
    }
    .content-intro{
      position: absolute;
      top: calc(50% - 153px);
      left: 15%;
      a.learn-more{
        margin-top: 20px;
      }
    }
  }

  .home-desc {   
    background-color: #F7F7F7;
    position: relative;
    text-align: center;
    .bg{
      background-color: #FFF;
      margin: 20px 0px;
    } 
    .item{
      .img-block {
        max-width: 100px;
        height: auto;
        margin: 0 auto;
        text-align: center;
      }
      img{
        width: 100%;
        max-width: 50%;
        text-align: center;
        margin: 35px;
      }
      .img-name{
        height: auto;
        width: 100%;
        max-width: 90%;        
        text-align: center;
        margin: 20px auto;
      }
    }
    .personalies-img {
      img {
        width: 68%;
        height: auto;
        padding-top: 50px;
      }
    }
    .img-content{
        font-weight: bold;
        font-family: "Muli Bold";
        text-align: center;
        font-size: 25px;
        padding-top: 20px;
    }
    .img-description{
      font-family: "Muli";
      text-align: center;
      font-size: 14px;
    }
    .content-text{
      text-align: center;
      margin-bottom: 30px;
      color: #fe5000;
    } 
    .content-description{
      font-family: "Muli";
      text-align: left;
      font-size: 14px;
      margin-top: 20px;
    } 
    .b{
      margin-bottom: 20px;
      color: 	#808080;
    }
    .border{
      border-radius: 5px;
      border: 1px solid;
      border-color: 	#D3D3D3;
    }
    // .div-height{
      .row1{
        margin-top: 40px;
        @media(min-width: 768px) and (max-width: 1023px) {
          margin-top: 82px;
        }
        @media(min-width: 1024px) and (max-width: 1365px) {
          margin-top: 61px;
        }
        // height: 210px;
      }
      .row2{
        margin-top: 84px;
        @media(min-width: 768px) and (max-width: 1023px) {
          margin-top: 126px;
        }
        @media(min-width: 1024px) and (max-width: 1365px) {
          margin-top: 65px;
        }
        // height: 260px;
      }
      .row3{
        margin-top: 40px;   
        @media(min-width: 768px) and (max-width: 1023px) {
          margin-top: 62px;
        }
        @media(min-width: 1024px) and (max-width: 1365px) {
          margin-top: 40px;
        }
        // height: 170px;
      }
      
    // }
    .sort-description{
      text-align: left;
    }
    .learn-more{
      float: none;
      width: 165px;
      // padding: 8px 30px;
      // font-size: 16px;
      margin-top: 40px;
      margin-bottom: 60px;
    }
    margin-top: 0;
    width: 100%;
    position: relative;
    img.bg-intro{
      width: 100%;
      // max-width:
    }
    .content-intro{
      position: absolute;
      top: calc(50% - 153px);
      left: 15%;
      a.learn-more{
        margin-top: 20px;
      }
    }
  }
  .home-subscriptions {
    color: #FFF;
    // background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/home/bg_banner_2.png');
    // background-size: cover;
    background-color: #d1d2d2;
    width: 100%;
    display: flex;
    .btn-primary{
      width: 280px;
    }
    .img-subscriptions{
      width: 53%;
      float: left;
      img {
        width: auto;
        height: 510px;
      }
    }
    .content-subscriptions{
      color: #292b2c;
      width: 47%;
      float: left;
      margin-top: 160px;
      h2{
          margin-bottom: 20px;
          font-size: 27px;
        }
      .group-content{
        display: inline-block;
        width: 75%;

        img{
          width: 60px;
          float: left;
          margin-top: 15px;
        }
        .group-text{
          // margin-left: 20px;
          float: left;
          text-align: left;
          // max-width: 300px;
          h3{ color: $primary-color;}
        }
        a.btn{
          margin-top: 36px;
        }
        p.subscription-note{
          // font-size: 24px;
        }
      }
    }
    .mt-120 {
      margin-top: 120px;
    }

  }
  .home-personalies{
    background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/home/bg_banner_3.png') no-repeat center center;
    background-size: cover;
    position: relative;
    padding: 40px 0 0 0;
    .btn-primary{
      width: 195px;
    }
    .personalies-content{
      max-width: 246px;
      position: absolute;
      top: calc(50% - 150px);
      right: 42px;
      text-align: center;
      h2{
        margin-bottom: 15px;
      }
    }
    .personalies-bottom{
      margin: 80px 0 0px 0;
    }
  }
  .home-seller{
    background: #fff;
    .personalies-bottom{
      padding: 80px 0 0px 0;
    }
    .btn-primary{
      width: 195px;
    }
    .block-featured-products {
      padding-top: 25px;
      .block-products {
        background-color: #fff;
        max-width: 1280px;
        margin: 0 auto;
        .card-block {
          padding: 0px;
          flex: 0 0 33.33333333%;
          &:hover{
            // -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
            // -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
            // box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
          }
        }
        .card {
          border: 0px;
          margin-left: 5px;
          margin-right: 5px;
          margin-bottom: 10px;
          border-radius: 0;
          height: 430px;
          background-color: #ffffff;
          .card-head {
            height: 60px;
            padding-top: 10px;
            width: 100%;
            text-align: center;
            .best-seller {
              border-top: 2px solid #ef5323;
              border-bottom: 3px solid #ef5323;
              color: #ef5323;
              text-transform: uppercase;
              font-weight: bold;
              margin-top: 4px;
              margin-left: 35px;
              height: 45px;
              max-width: 170px;
              padding: 0;
              font-size: 26px;
            }
            .product-name {
              color: #636c72;
              padding-left: 0px;
              // max-width: 64%;
            }
            .product-price {
              text-align: left;
              font-weight: bold;
            }
          }
          .card-image {
            .image-container {
              display: table;
              margin: auto;
              max-width: 90%;
              display-image {
                display: table-cell;
                vertical-align: middle;
              }
            }
            .home-shave2u-btn-add-cart {
              bottom: 0;
              left: 0;
              position: absolute;
              background-color: #fe5000;
              color: #ffffff;
              border-radius: 0 0.25rem 0 0;
              width: 59px;
              height: 59px;
              padding: 5px 0 0 0;
              .ico-shopping-cart {
                width: 32px;
                height: 31px;
                padding: 10px;
                background-image: url(https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-cart-home.png);
                background-repeat: no-repeat;
                background-position: center;
                display: inline-block;
                line-height: 34px;
                margin-top: 10px;
                cursor: pointer;
              }
              &:hover{
                background-color: $primary-hover-color;
                border-color: $primary-hover-color;
                outline: none;
              }
              &:active{
                background-color: $primary-active-color;
                border-color: $primary-active-color;
                outline: none;
              }
            }
          }

        }
        // .card-block:nth-child(3), .card-block:nth-child(6) {
        //   .card {
        //     margin-right: 0;
        //   }
        // }
        .add-card{
          display: none;
        }
        .card-best-seller {
          margin-left: 4px;
          height: 664px;
          .card-head {
            height: 90px;
          }
        }
        .small-cards{
          .card-block{
            // max-width: 50%;
          }
        }
        .block-heading {
          text-align: center;
        }
      }
      .block-footer {
        .group-btn {
          background-color: #fff;
          height: 130px;
          max-width: 1280px;
          margin: 0 auto;
          padding-top: 49px;
        }
        a {
          text-transform: uppercase;
          text-decoration: none;
          font-weight: bold;
          font-size: 18px;
          color: #3a6e9c;
          margin-top: 50px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .seller-content{
      max-width: 1288px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      .content-col{
        padding: 1px;
        // float: left;
        .content-best-seller{
          width: 100%;
          height: calc(100% - 2px);
          margin: 1px;
          background: #fff;
          padding: 20px 20px 0 20px;
        }
        .content-seller{
          width: calc(50% - 2px);
          height:calc(50% - 2px);
          margin: 1px;
          background: #fff;
          float: left;
          padding: 20px 20px 0 20px;
        }
        .content-block{
          .best-seller{
            font-size: 40px;
            text-transform: uppercase;
            border-top: 1px solid $primary-color;
          }
        }
      }
    }
  }
  .home-instagram{
    h3.title{
      display: none;
    }
    .block-articles {
      .block-articles-image {
        margin: 0 auto;
        max-width: 1280px;
        .block-right,.block-left-1,.block-left-2 {
          max-width: 20%;
        }
        .block-center {
          max-width: 40%;
        }

        .block-right,.block-center,.block-left-1,.block-left-2 {
          padding: 0;
        }
        .article-image{
          margin:1px;
          max-height: 265px;
          max-width:265px;

        }
        .article-image-big{
          margin:1px;
          max-height: 530px;
          max-width: 530px;
          .link-social {
            text-align: center;
            top: calc(50% - (130px / 2));
            left: calc(50% - (224px / 2));
            position: absolute;
            color: #fff;
            h2 {
              margin-bottom: 26px;
              color: #fff;
            }
            i {
              font-size: 70px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

@import '_home-response.component';
