<div id="home-page">
  <section class="home-intro1">
    <div class="container shave2u-container">
      <div class="row">
        <div class="col-md-5" [ngClass]="storage.getCountry().code.toUpperCase() === 'KOR' ? 'max-width-korea': ''">
          <div class="personalies-content" *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() !== 'KOR' && storage.getCountry().code.toUpperCase() !== 'HKG'">
            <!-- <h1 class="standard-seo" [innerHTML]="'lbl.core.home.shaving_experience' | translate"></h1> -->
            <!-- <h1 [innerHTML]="'lbl.core.home.get_razor_ready' | translate"></h1> -->
            <h1 [innerHTML]="'lbl.core.home.get_razor_ready2' | translate : {shippingFee: this.storage.getCountry().currencyDisplay + this.appConfig.getConfig('shippingFeeConfig').trialFee}"></h1>
            <!-- <a href="" class="btn btn-primary learn-more" routerLink="/shave-plans/free-trial">{{ 'lbl.core.home.btn_let_me_start' | translate }}</a> -->
            <a href="" class="btn btn-primary learn-more" routerLink="/shave-plans/free-trial">{{
              'lbl.shave_plans.block1.get_started' | translate }}</a>
          </div>

          <div class="personalies-content" *ngIf="(storage.getLanguageCode() === 'KO' || storage.getCountry().code.toUpperCase() === 'KOR') && (storage.getCountry().code.toUpperCase() !== 'HKG')">
            <!-- <h1 class="standard-seo" [innerHTML]="'lbl.core.home.shaving_experience' | translate"></h1> -->
            <h1 [ngClass]="storage.getLanguageCode() === 'KO' ? 'normal': ''" [innerHTML]="'lbl.core.home.get_razor_ready_korea' | translate"></h1>
            <!-- <button *ngIf="(storage.getLanguageCode() != 'KO' && storage.getCountry().code.toUpperCase() != 'KOR')" class="btn btn-primary learn-more" (click)='emailLeadPopout()'>{{ 'lbl.core.home.btn_let_me_start_korea' | translate }}</button> -->
            <button class="btn btn-primary learn-more" (click)='emailLeadPopout()'>{{
              'lbl.core.home.btn_let_me_start_korea' | translate }}</button>
            <!-- <a href="" class="btn btn-primary learn-more" routerLink="/shave-plans/free-trial"></a> -->
          </div>

          <div class="personalies-content" *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() === 'HKG' && storage.getCountry().code.toUpperCase() !== 'KOR'">
            <!-- <h1 class="standard-seo" [innerHTML]="'lbl.core.home.shaving_experience' | translate"></h1> -->
            <h1 [ngClass]="storage.getLanguageCode() === 'EN' ? 'normal': ''" [innerHTML]="'lbl.core.home.get_razor_ready_korea' | translate"></h1>
            <!-- <button *ngIf="(storage.getLanguageCode() != 'KO' && storage.getCountry().code.toUpperCase() != 'KOR')" class="btn btn-primary learn-more" (click)='emailLeadPopout()'>{{ 'lbl.core.home.btn_let_me_start_korea' | translate }}</button> -->
            <button class="btn btn-primary learn-more" (click)='emailLeadPopout()'>{{
              'lbl.core.home.btn_let_me_start_korea' | translate }}</button>
            <!-- <a href="" class="btn btn-primary learn-more" routerLink="/shave-plans/free-trial"></a> -->
          </div>

        </div>
        <div class="col-md-7 personalies-img">
          <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/home/hero_banner_1105_cus.png">
        </div>
      </div>
    </div>
  </section>

  <section class="home-trial-work">
    <div class="container shave2u-container" id="start-shave-plan">
      <div class="col-md-12 text-center pr-0 pl-0">
        <h1 [innerHTML]="'lbl.core.home.home_trial_work.how_does_work' | translate" class=""></h1>
      </div>
      <div class="row block2 block-content">
        <div class="col-xs-12 col-md-4 group-1">
          <div class="item">
            <div class="img-block">
              <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons/icons-01-0611.svg">
            </div>
            <p class="sort-description">{{ 'lbl.core.home.home_trial_work.try' | translate }}</p>
            <!-- <p>{{ 'lbl.core.home.home_trial_work.try_note' | translate : {shippingFee: this.storage.getCountry().currencyDisplay + this.appConfig.getConfig('shippingFeeConfig').trialFee} }}</p> -->
            <p *ngIf="storage.getLanguageCode() === 'KO' && storage.getCountry().code.toUpperCase() === 'KOR'"
              [innerHTML]="'lbl.core.home.home_trial_work.try_note' | translate : {shippingFee: (this.appConfig.getConfig('shippingFeeConfig').trialFee).replace('.00', '')+ '원' }"></p>
            <p *ngIf="storage.getLanguageCode() !== 'KO'" [innerHTML]="'lbl.core.home.home_trial_work.try_note' | translate : {shippingFee: this.storage.getCountry().currencyDisplay + this.appConfig.getConfig('shippingFeeConfig').trialFee}"></p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 group-2">
          <div class="item">
            <div class="img-block">
              <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons/icons-02-0613.svg">
            </div>
            <p class="sort-description">{{ 'lbl.core.home.home_trial_work.build' | translate }}</p>
            <p>{{ 'lbl.core.home.home_trial_work.build_note' | translate }}</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 group-3">
          <div class="item">
            <div class="img-block">
              <img style="width:auto;height:100px;" src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/e14e3f30-ce2a-11e8-9a90-07e3ccde7bb0.png">
              <!-- <img src="../../../../assets/images/icon-home/icons-03-0611.svg"> -->
            </div>
            <!-- <p class="sort-description">{{ 'lbl.core.home.home_trial_work.cancel' | translate }}</p>
            <p>{{ 'lbl.core.home.home_trial_work.cancel_note' | translate }}</p> -->
            <p class="sort-description">{{ 'lbl.shave_plans.block2.switch_it_up' | translate }}</p>
            <p>{{ 'lbl.shave_plans.block2.switch_it_up_note' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="home-subscriptions">
    <div class="container shave2u-container">
      <div class="content-subscriptions" [ngClass]="storage.getCountry().isWebEcommerce ? '' : 'mt-120'">
        <h1 [innerHTML]="'lbl.core.home.good_for_skin' | translate"></h1>
        <div class="group-content">
          <div class="group-text">
            <p>{{ 'lbl.core.home.good_for_skin_note' | translate }}</p>
          </div>
        </div>
      </div>
      <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/home/banner_2_product_mobile_2.png" class="hidden-sm-up img-subscriptions">
      <div class="img-subscriptions hidden-xs-down">
        <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/home/banner_2_product_3.png" class="">
      </div>
    </div>
  </section> -->
  <!-- <section class="home-personalies" *ngIf="storage.getCountry().isWebEcommerce">
    <div class="container shave2u-container">
      <div class="row">
        <div class="col-md-6">
          <div class="personalies-content">
            <h1><span>{{ 'lbl.core.home.not_ready_for_shave_plan' | translate }}</span><br>
            {{ 'lbl.core.home.we_get_it' | translate }}</h1>
            <p>{{ 'lbl.core.home.start_awesome_shave_kit' | translate:{value: awesomeKitPrice} }}</p>
            <a [routerLink]="['products']" class="btn btn-primary shave2u-btn-primary" *ngIf="storage.getCountry().isWebAlaCarte">{{ 'lbl.core.home.btn_explore' | translate }}</a>
          </div>
        </div>
        <div class="col-md-6 personalies-img">
          <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/home/banner_3_product.png">
        </div>
      </div>
      <div class="row personalies-bottom" *ngIf="storage.getCountry().isWebAlaCarte">
        <h1 class="text-center" [innerHTML]="'lbl.core.home.pick_and_mix' | translate"></h1>
      </div>
    </div>
  </section> -->
  <!--  <section class="home-seller">
    <div class="seller-content">
      <div class="col-xs-12 col-md-6 content-col">
        <div class="content-best-seller">
          ssss
        </div>
      </div>
      <div class="col-xs-12 col-md-6 content-col">
        <div class="col-xs-12 content-seller">
          sss
        </div>
        <div class="col-xs-12 content-seller">
          sss
        </div>
        <div class="col-xs-12 content-seller">
          sss
        </div>
        <div class="col-xs-12 content-seller">
          sss
        </div>
      </div>
    </div>
    <div class="col-md-12 text-center">
        <a [routerLink]="['/products']">{{ 'lbl.core.home.link_product' | translate }}</a>
      </div>
    -->

  <section class="home-chart" *ngIf="(storage.getCountry().code.toUpperCase() !== 'SGP') && (storage.getCountry().code.toUpperCase() !== 'KOR') && (storage.getCountry().code.toUpperCase() !== 'HKG')">
    <div class="container shave2u-container">
      <div class="row">
        <div class="col-md-6">
          <div class="personalies-img">
            <img src="../../../../assets/images/home/s2u-comparisonchart.png">
          </div>
          <div>
            <p class="img-content" [innerHTML]="'lbl.core.home.content_img' | translate "></p>
            <p class="img-description" [innerHTML]="'lbl.core.home.content_img_desc' | translate"></p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 block-C">
          <div class="personalies-content">
            <h1 class="content-text" [innerHTML]="'lbl.core.home.content' | translate "></h1>
            <p class="sort-description" [innerHTML]="'lbl.core.home.content_desc' | translate"></p>
            <a href="" class="btn btn-primary learn-more" routerLink="/shave-plans/free-trial">{{
              'lbl.shave_plans.block1.get_started' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="home-desc" *ngIf="(storage.getCountry().code.toUpperCase() !== 'KOR') && (storage.getCountry().code.toUpperCase() !== 'HKG')">
    <div class="container shave2u-container">
      <div class="item">
        <div class="img-block">
          <img src="../../../../assets/images/home/icon_heart.png">
        </div>
        <h1 class="content-text" [innerHTML]="'lbl.core.home.namecard' | translate "></h1>
      </div>

      <!-- Review Card -->
      <div>
        <div id="row1" class="row">
          <div class="col-md-6">
            <div class="row bg border">
              <div class="col-md-3">
                <div class="item">
                  <div class="img-block">
                    <img class="img-name" src="../../../../assets/images/home/testi_vanga.png">
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <p class="content-description" [innerHTML]="'lbl.core.home.namecard_text1' | translate"></p>
                <p class="content-description b" [innerHTML]="'lbl.core.home.namecard_name1' | translate"></p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row bg border">
              <div class="col-md-3">
                <div class="item">
                  <div class="img-block">
                    <img class="img-name" src="../../../../assets/images/home/testi_olivier.png">
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <p class="content-description" [innerHTML]="'lbl.core.home.namecard_text2' | translate"></p>
                <p class="content-description b row1" [innerHTML]="'lbl.core.home.namecard_name2' | translate"></p>
              </div>
            </div>
          </div>
        </div>
        <div id="row2" class="row">
          <div class="col-md-6">
            <div class="row bg border">
              <div class="col-md-3">
                <div class="item">
                  <div class="img-block">
                    <img class="img-name" src="../../../../assets/images/home/testi_bonnie.png">
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <p class="content-description" [innerHTML]="'lbl.core.home.namecard_text3' | translate"></p>
                <p class="content-description b row2" [innerHTML]="'lbl.core.home.namecard_name3' | translate"></p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row bg border">
              <div class="col-md-3">
                <div class="item">
                  <div class="img-block">
                    <img class="img-name" src="../../../../assets/images/home/testi_francisco.png">
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <p class="content-description" [innerHTML]="'lbl.core.home.namecard_text4' | translate"></p>
                <p class="content-description b" [innerHTML]="'lbl.core.home.namecard_name4' | translate"></p>
              </div>
            </div>
          </div>
        </div>
        <div id="row3" class="row">
          <div class="col-md-6">
            <div class="row bg border">
              <div class="col-md-3">
                <div class="item">
                  <div class="img-block">
                    <img class="img-name" src="../../../../assets/images/home/testi_mingying.png">
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <p class="content-description" [innerHTML]="'lbl.core.home.namecard_text5' | translate"></p>
                <p class="content-description b" [innerHTML]="'lbl.core.home.namecard_name5' | translate"></p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row bg border">
              <div class="col-md-3">
                <div class="item">
                  <div class="img-block">
                    <img class="img-name" src="../../../../assets/images/home/testi_ktwong.png">
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <p class="content-description" [innerHTML]="'lbl.core.home.namecard_text6' | translate"></p>
                <p class="content-description b row3" [innerHTML]="'lbl.core.home.namecard_name6' | translate"></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Review Card End -->

      <div>
        <a href="" class="btn btn-primary learn-more" routerLink="/shave-plans/free-trial">{{
          'lbl.shave_plans.block1.get_started' | translate }}</a>
      </div>

    </div>
  </section>






  <!--

  </section> -->
  <!-- <section class="home-seller" *ngIf="storage.getCountry().isWebAlaCarte">
    <div class="container shave2u-container">
      <div class="row personalies-bottom" *ngIf="!storage.getCountry().isWebEcommerce"> -->
  <!-- <h1 class="text-center ">Or Just<span> Pick & Mix</span></h1> -->
  <!-- <h1 class="text-center" [innerHTML]="'lbl.core.home.check_out_product' | translate"></h1>
        </div>
      <div class="block-featured-products">
        <div class="row block-products" *ngIf="featuredProducts?.length > 0">
          <h1 class="text-center header-product" [innerHTML]="'lbl.core.home.header_product' | translate"></h1>
          <p class="text-center sub-header-product" [innerHTML]="'lbl.core.home.sub_header_product' | translate"></p> -->
  <!-- <div class="card-block">
            <div class="card card-best-seller">
              <div class="row card-head">
                <div class="col-md-4 best-seller">
                  {{ 'lbl.core.home.best_seller' | translate }}
                </div>
                <div class="col-md-4 product-name">
                  {{ featuredProducts[0].productTranslate | productTranslate: 'name' }}
                </div>
                <div class="col-md-4 product-price">
                  {{ featuredProducts[0].productCountry.sellPrice | smsCurrency }}
                </div>
              </div>
              <div class="row card-image">
                <div class="image-container">
                  <a [routerLink]="['/products', featuredProducts[0].slug]"><display-image [class]="'group home-list-group-image-best-seller img-fluid'" [images]="featuredProducts[0].productImages"></display-image></a>
                </div>
                <a class="btn home-shave2u-btn-add-cart"(click)='addToCart(featuredProducts[0])'>
                  <i class="ico fa ico-shopping-cart"></i>
                </a>
              </div>
            </div>
            <div class="add-card">
              <p class="name-product"><span class="name">{{ featuredProducts[0].productTranslate | productTranslate: 'name' }}</span><span> | </span> {{ featuredProducts[0].productCountry.sellPrice | smsCurrency }}</p>
              <a class="btn btn-primary" (click)='addToCart(featuredProducts[0])'>{{ 'lbl.core.home.add_to_cart' | translate }}</a>
            </div>
          </div> -->
  <!-- <div class="col-xl-12 col-lg-12 col-sm-12 col-md-12">
            <div class="row card-group small-cards">
              <div class="card-block col-xl-4" *ngFor="let item of featuredProducts">
                <div class="card">
                  <div class="row card-image">
                    <div class="image-container">
                      <a [routerLink]="['/products', item.slug]"><display-image [class]="'group home-list-group-image img-fluid'" [images]="item.productImages"></display-image></a>
                    </div> -->
  <!-- <a class="btn home-shave2u-btn-add-cart"(click)='addToCart(item)' *ngIf="storage.getCountry().isWebEcommerce">
                      <i class="ico fa ico-shopping-cart"></i>
                    </a> -->
  <!-- <div class="row card-head">
                      <div class="col-12">
                        <span class="product-price">
                          {{ item.productCountry.sellPrice | smsCurrency }}
                        </span>
                        <span>|</span>
                        <span class="product-name">
                          {{ item.productTranslate | productTranslate: 'name' }}
                        </span>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="add-card">
                  <p class="name-product">{{ item.productCountry.sellPrice | smsCurrency }}<span> | </span><span class="name">{{ item.productTranslate | productTranslate: 'name' }}</span></p> -->
  <!--                   <a class="btn btn-primary" (click)='addToCart(item)' *ngIf="storage.getCountry().isWebEcommerce">{{ 'lbl.core.home.add_to_cart' | translate }}</a> -->
  <!-- </div>
              </div>
            </div>
          </div>
        </div> -->
  <!-- <div class="block-footer">
          <div class="group-btn text-center">
            <a [routerLink]="['/products']">{{ 'lbl.core.home.link_product' | translate }}</a>
          </div>
        </div> -->
  <!-- </div>
    </div>
  </section> -->
  <!--<section class="home-instagram">
    <h3 class="title">
        <a href="https://www.instagram.com/shaves2u/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://www.instagram.com/shaves2u/" target="_blank"><span>#KeepShaving</span></a>
      </h3>
    <div class="block-articles">
      <div class="row block-articles-image">
        <div class="col-4 col-sm-3 col-md-3 block-right">
          <div class="article-image">
            <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/articles/article_1.png">
          </div>
          <div class="article-image">
            <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/articles/article_2.png">
          </div>
        </div>
        <div class="col-8 col-sm-5 col-md-5 block-center">
          <div class="article-image-big">
            <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/articles/article_3_full.png">
            <div class="link-social">
              <a href="https://www.instagram.com/shaves2u/" target="_blank">
                <h1 class="text-instagram">
                  #KeepShaving
                </h1>
              </a>
              <a href="https://www.instagram.com/shaves2u/" target="_blank">
                <i class="fa fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 block-left-1 hidden-sm-down ">
          <div class="article-image">
            <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/articles/article_4.png">
          </div>
          <div class="article-image">
            <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/articles/article_5.png">
          </div>
        </div>
        <div class="col-sm-3 col-md-3 block-left-2 hidden-sm-down">
          <div class="article-image">
            <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/articles/article_6.png">
          </div>
          <div class="article-image">
            <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/articles/article_7.png">
          </div>
        </div>
      </div>
    </div>
  </section>-->

</div>