#home-page .block-1 {
  margin: 70px 0 80px;
}

#home-page .block-2 {
  margin: 40px 0 0;
}

#home-page .block-featured-products {
  margin: 60px 0 20px;
}

#home-page .block-featured-products .block-heading {
  text-align: center;
}

#home-page .block-featured-products .row-centered {
  text-align: center;
}

#home-page .block-featured-products .row-centered [class*="col-"] {
  padding-top: 0;
  padding-bottom: 0;
}

#home-page .block-featured-products .row-centered .col-max-4 {
  max-width: 33.33333%;
}

#home-page .block-featured-products .row-centered .col-max-6 {
  max-width: 50%;
}

#home-page .block-featured-products .row-centered .col-centered {
  text-align: center;
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
}

#home-page .block-featured-products .row-centered .col-centered .item {
  width: 100%;
  height: 100%;
  display: table;
}

#home-page .block-featured-products .row-centered .col-centered .item .content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
