<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add Term</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <!-- edit form column -->
      <div class="col-md-12 plan-info">
        <form #f='ngForm' novalidate (ngSubmit)='f.form.valid && doAddTerm()' [formGroup]="termForm">
          <div class="row">
            <div class="col-sm-6 form-group" [ngClass]="f.submitted && termForm.controls.CountryId.hasError('required')? 'has-danger' : ''">
              <label class="form-control-label">Country (<span class="required">*</span>)</label>
              <div class="controls">
                <!--<input id="country" country="CountryId" type="text" class="form-control" placeholder="Enter country"
                  formControlName="CountryId">-->
                <select class="form-control" id="select-country" name="CountryId" formControlName="CountryId">
                  <option value="" disabled >- Select Country -</option>
                  <option [value]="country.id" *ngFor="let country of countries">{{country.name}}</option>
                </select>
              </div>
              <span class="form-control-feedback" *ngIf="f.submitted && termForm.controls.CountryId.hasError('required')">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>
            <div class="col-sm-6 form-group" [ngClass]="f.submitted && termForm.controls.langCode.hasError('required')? 'has-danger' : ''">
              <label class="form-control-label">Language (<span class="required">*</span>)</label>
              <div class="controls">
                <select class="form-control" id="select-langCode" name="langCode" formControlName="langCode" *ngIf="languageCodeList">
                  <option value="" disabled >- Select Language -</option>
                  <option [value]="language | uppercase" *ngFor="let language of languageCodeList" >{{language | uppercase}}</option>
                </select>
              </div>
              <span class="form-control-feedback" *ngIf="f.submitted && termForm.controls.langCode.hasError('required')">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>

            <div class="col-sm-12 form-group" [ngClass]="f.submitted && !termForm.controls.content.valid ? 'has-danger' : ''">
              <label class="form-control-label">Content (<span class="required">*</span>)</label>
              <div class="controls" [trumbowygEditor]="trumbowygEditorOptions">
                <!--<textarea class="form-control trumbowyg-textarea" country="content" ></textarea>-->
              </div>
              <span class="form-control-feedback" *ngIf="f.submitted && !termForm.controls.content.valid">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>

            <div class="col-sm-12">
              <app-alert></app-alert>
            </div>
            <div class="col-sm-6 form-group">
              <button type="button" class="btn btn-secondary btn-sm" (click)="gotoList()">Cancel</button>
              <button type="submit" class="btn btn-primary shave2u-btn-primary">Save Changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>