<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" *ngIf="show">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'lbl.user.setting.card_modal.header_add_card' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close('login-modal');">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <app-alert [message]="resError"></app-alert>
        <div class="container" id="payment-method">
          <div class="stContainer">
            <div class="card-types text-center">
              <label class="btn card-type" [ngClass]="{'active': cardType === 'VISA'}">
                <div class="media">
                  <div class="media-body d-flex align-self-center mr-3"></div>
                  <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/visa-128.png" alt="visa card" class="d-flex align-self-center">
                </div>
              </label>
              <label class="btn card-type" [ngClass]="{'active': cardType === 'MASTERCARD'}">
                <div class="media">
                  <div class="media-body d-flex align-self-center mr-3"></div>
                  <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/mastercard-logo.png" alt="visa card" class="d-flex align-self-center">
                </div>
              </label>
            </div>
            <form (ngSubmit)="cardForm.valid && submitCard(cardForm.value)" [formGroup]="cardForm" id="cardForm" novalidate #f="ngForm">
              <span class="payment-message">{{message}}</span>
              <!-- Name -->
              <div class="form-group" [ngClass]="{'has-danger': f.submitted && (cardForm.hasError('required', 'cardName') || (resError && resError.param === 'name'))}">
                <label class="control-label" for="username">{{ 'lbl.user.setting.card_modal.card_nm' | translate }}</label>
                <input type="text" id="cardName" name="cardName" placeholder="{{ 'lbl.user.setting.card_modal.placehdr_card_nm' | translate }}" class="form-control" formControlName="cardName" data-stripe="name" autofocus>
                <span class="form-control-feedback " *ngIf="f.submitted && cardForm.hasError('required', 'cardName')">
                  {{ 'msg.validation.required' | translate:{value: 'Card Name'} }}
                </span>
                <span class="form-control-feedback " *ngIf="f.submitted && resError && resError.param === 'name'">
                  {{ resError.message | translate }}
                </span>
              </div>

              <!-- Card Number -->
              <div class="form-group" [ngClass]="{'has-danger': f.submitted && (cardForm.hasError('required', 'cardNumber') || (resError && resError.param === 'number'))}">
                <label class="control-label" for="card_number">{{ 'lbl.user.setting.card_modal.card_num' | translate }}</label>
                  <input type="text" id="cardNumber" name="cardNumber" placeholder="{{ 'lbl.user.setting.card_modal.placehdr_card_num' | translate }}" formControlName="cardNumber" class="form-control" 
                  (change)="changeCardNumber()" data-stripe="number">
                  <span class="form-control-feedback " *ngIf="f.submitted && cardForm.hasError('required', 'cardNumber')">
                    {{ 'msg.validation.required' | translate:{value: 'Card Number'} }}
                  </span>
                  <span class="form-control-feedback " *ngIf="f.submitted && resError && resError.param === 'number'">
                    {{ resError.message | translate }}
                  </span>
              </div>
              <!-- Expiry-->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label" for="expiryMonth">{{ 'lbl.user.setting.card_modal.expiry_dt' | translate }}</label>
                      <div class="row no-gutters">
                        <div class="col-md-6">
                          <div class="form-group pr-2" [ngClass]="{'has-danger': f.submitted && (cardForm.hasError('required', 'expiryMonth') || (resError && resError.param === 'exp_month'))}">
                            <select class="form-control text-center" name="expiryMonth" id="expiryMonth" formControlName="expiryMonth" data-stripe="exp_month">
                              <option [value]="null" hidden disabled selected-custom [attr.selected]="">MM</option>
                              <option value="{{month}}" *ngFor="let month of monthList">{{month}}</option>
                            </select>
                            <span class="form-control-feedback " *ngIf="f.submitted && cardForm.hasError('required', 'expiryMonth')">
                              {{ 'msg.validation.required' | translate:{value: 'Expiry Month'} }}
                            </span>
                            <span class="form-control-feedback " *ngIf="f.submitted && resError && resError.param === 'exp_month'">
                              {{ resError.message | translate }}
                            </span>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group pl-2" [ngClass]="{'has-danger': f.submitted && (cardForm.hasError('required', 'expiryYear') || (resError && resError.param === 'exp_year'))}">
                            <select class="form-control text-center" name="expiryYear" formControlName="expiryYear" id="expiryYear" data-stripe="exp_year">
                              <option [value]="null" hidden disabled selected-custom [attr.selected]="">YYYY</option>
                              <option value="{{year}}" *ngFor="let year of yearList">{{year}}</option>
                            </select>
                            <span class="form-control-feedback " *ngIf="f.submitted && cardForm.hasError('required', 'expiryYear')">
                              {{ 'msg.validation.required' | translate:{value: 'Expiry Year'} }}
                            </span>
                            <span class="form-control-feedback " *ngIf="f.submitted && resError && resError.param === 'exp_year'">
                              {{ resError.message | translate }}
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group" [ngClass]="{'has-danger': f.submitted && (cardForm.hasError('required', 'cvc') || (resError && resError.param === 'cvc'))}">
                      <label class="control-label" for="password_confirm">{{ 'lbl.user.setting.card_modal.security_cd' | translate }} <i class="ml-2 icons icon-info"></i></label>
                      <input type="text" id="cvc" name="cvc" placeholder="{{ 'lbl.user.setting.card_modal.placehdr_security_cd' | translate }}" formControlName="cvc" class="form-control" data-stripe="cvc">
                      <span class="form-control-feedback " *ngIf="f.submitted && cardForm.hasError('required', 'cvc')">
                        {{ 'msg.validation.required' | translate:{value: 'CVC'} }}
                      </span>
                      <span class="form-control-feedback " *ngIf="f.submitted && resError && resError.param === 'cvc'">
                        {{ resError.message | translate }}
                      </span>
                    </div>
                  </div>
                </div>
              <p class="text-center">
                <input type="submit" class="btn btn-primary shave2u-btn-primary" value="{{ 'lbl.user.setting.card_modal.btn_add_new' | translate }}"/>
              </p>
                <div class="col-sm-4"></div>
                <div class="col-sm-5">
                  <!-- Space for Logo -->
                </div>
            </form>
          <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal-backdrop fade"></div>