#payment-method {
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    .nav-tab-left {
      max-width: 270px;
    }
    .tabs-debit-card-add {
      max-width: 420px;
      margin: auto;
    }
    .card-added-list {
      .card-item {
        width: 277px;
        height: 170px;
        padding: 13px 20px;
        border-radius: 4px;
        border: 1px solid #959595;
        .card-code {
          margin: 10px 0 25px;
        }
        &.active {
          border-color: #030303;
          box-shadow: 0 0 20px 5px #030303;
        }
      }
    }
   
    .tabs-left {
      li {
        width: 100%;
        &.nav-item {
          a {
            text-transform: uppercase;
            background-color: #BBB;
            color: #FFF;
            display: block;
            min-height: 50px;
            border-top: 1px solid #CCC;
            text-align: center;
            font-size: 14px;
            padding: 13px;
            text-transform: uppercase;
            &.sel, &:hover {
              background-color: #FFF;
              border-top: 1px solid #FFF;
              color: #000;
            }
          }
        }
      }
      .stMain {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #CCC;
        border-bottom: 2px solid #FFF;
        border-left: 1px solid #d7d7d7;
        border-right: 1px solid #d7d7d7;
      }
      .stContainer {
        display: block;
        padding: 0;
        padding-top: 60px;
        margin: 0;
        border: 1px solid #CCC;
        border-bottom: 0;
        height: 450px;
        overflow: hidden;
        position: relative;
        background-color: #FFF;
        min-height: 1000px;
      }
      .stMain ul.tabAnchor {
        display: inline-block;
        list-style-type: none;
        position: relative;
        padding: 0;
        margin: 0;
        clear: both;
        margin-right: -1px;
        margin-top: 30px;
        z-index: 100;
        float: left;
      }
      .stMain ul.tabAnchor li {
        position: relative;
        margin: 0;
        padding: 0;
      }
      .loader {
        position: absolute;
        left: 48%;
        top: 40%;
        display: block;
        margin: 0;
        padding: 5px;
        padding-top: 35px;
        font-size: 10px;
        color: #666;
        text-decoration: none;
        outline-style: none;
        border: 1px solid #D4D4D4;
        background: #f6f6f6 url(https://d8pi1a7qa1dfv.cloudfront.net/assets/images/loader.gif) no-repeat 10px 10px;
      }
  }
  .card-type {
    opacity: 0.2;
    &.active {
      opacity: 1;
    }
  }
}