<!-- @@include /partials/head.html -->
  <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="height: 100%;margin: 0;padding: 0;width: 100%;background-color: #FAFAFA;">
      <tr>
        <td align="center" valign="top" style="height: 100%;margin: 0;width: 100%;background-color: #FAFAFA;">
          <!-- BEGIN TEMPLATE // -->
          <!--[if gte mso 9]>
          <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
          <tr>
          <td align="center" valign="top" width="600" style="width:600px;">
          <![endif]-->
          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer" style="border: 0;max-width: 640px;background:#FFFFFF;">
            <!-- Logo// -->
            <!-- @@include /partials/logo-center.html -->
            
            <tr>
              <td valign="top" style="color: #606060;font-size: 16px;line-height: 150%;padding-top: 0 20px;text-align: center ;">
                <!-- BEGIN MODULE: BODY CONTENT // -->
                <div style="max-width: 515px;margin: 0 auto 30px;padding:0 20px">
                  <h1 style="font-size: 24px;font-weight: 800;letter-spacing: 0.05em;font-family: 'Muli';margin: 40px 0 20px 0;color: #333333;text-align:center;">You’re almost there</h1>
                  <p style="text-align: center">
                    Hello John, welcome to the Razorlution where you can shave smart with less. Click the button below to activate your account.
                  </p>
                  <div style="margin: 40px 0 23px 0;height:48px">
                    <a href="http://smartshave.bjdev.net" style="max-width: 246px;min-width: 220px;height: 48px;background: #000;text-align: center;padding: 15px 15px;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">Activate account</a>
                  </div>
                   <p style="text-align: center">
                    You can also copy and paste the link below on your browser:<br>
                     <a href="http://smartshave.bjdev.net/login/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6IjIwMTctMTAtMTJUMDM6MTI6MjYuMjgzWiIsImVtYWlsIjoieWxzc0B0dmNoZC5jb20iLCJpYXQiOjE1MDc2OTE1NDZ9.puUEYcgkOze8Qpooey9NZ_2c17xoUBe5pteWqUf_6Og" target="_blank">http://smartshave.bjdev.net/login</a>
                  </p>
                </div>
              </td>
            </tr>
            <!-- // END BODY -->
            <!-- FOOTER -->
            <!-- @@include /partials/footer.html -->
          </table>
          <!--[if gte mso 9]>
            </td>
            </tr>
            </table>
            <![endif]-->
          <!-- // END TEMPLATE -->
        </td>
      </tr>
    </table>
  </center>
</body>
</html>