<!-- @@include /partials/head.html -->
  <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="height: 100%;margin: 0;padding: 0;width: 100%;background-color: #FAFAFA;">
      <tr>
        <td align="center" valign="top" style="height: 100%;margin: 0;width: 100%;background-color: #FAFAFA;">
          <!-- BEGIN TEMPLATE // -->
          <!--[if gte mso 9]>
          <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
          <tr>
          <td align="center" valign="top" width="600" style="width:600px;">
          <![endif]-->
          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer" style="border: 0;max-width: 640px ;background:#FFFFFF;">
            <!-- Logo// -->
            <!-- @@include /partials/logo-left.html -->
            <tr>
              <td valign="top" style="color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
                <!-- BEGIN MODULE: BODY CONTENT // -->
                <div style="margin-bottom:30px">
                  <p style="margin-bottom:30px!important">Hi John,</p>
                  <p style="margin-bottom:30px!important">We’re writing to let you know that your <span style="color:#000;font-weight: bold;">S3 Subscription</span> has been canceled and your card will no longer be charged. Thank you for shopping with Shaves2U and we hope to have you re-join us in the future!</p>
                  <p style="
                  margin-bottom:30px">
                    Sincerely,<br>
                    Shaves2U
                  </p>
                </div>
              </td>
            </tr>
            <!-- // END BODY -->
            <!-- FOOTER -->
            <!-- @@include /partials/footer.html -->
          </table>
          <!--[if gte mso 9]>
            </td>
            </tr>
            </table>
            <![endif]-->
          <!-- // END TEMPLATE -->
        </td>
      </tr>
    </table>
  </center>
</body>
</html>