<!-- @@include /partials/head.html -->
  <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="height: 100%;margin: 0;padding: 0;width: 100%;background-color: #FAFAFA;">
      <tr>
        <td align="center" valign="top" style="height: 100%;margin: 0;width: 100%;background-color: #FAFAFA;">
          <!-- BEGIN TEMPLATE // -->
          <!--[if gte mso 9]>
          <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
          <tr>
          <td align="center" valign="top" width="600" style="width:600px;">
          <![endif]-->
          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer" style="border: 0;max-width: 640px ;background:#FFFFFF;">
            <!-- Logo// -->
            <!-- @@include /partials/logo-left.html -->
            <tr>
              <td valign="top" style="color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
                <!-- BEGIN MODULE: BODY CONTENT // -->
                  <p style="margin-bottom:30px!important">Hi John,</p>
                  <p>In case you were looking to pick up where you left off, here's a reminder of what you were thinking about getting:</p>
              </td>
            </tr>
            <!-- @@include /partials/order-build-abandoned.html -->
            <tr>
              <td valign="top" style="color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
                <div style="width:100%;margin: 36px 0;text-align:center;">
                  <a href="http://smartshave.bjdev.net" style="width: 195px;margin:0 auto;height: 48px;background: #000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">resume your order</a>
                </div>
                <p>In case you couldn't t finish your order due to technical difficulties or because you need some help, contact our support at <span style="color:#237A91">help@shaves2u.com</span> or <span style="color:#237A91">+603 2233 4455</span></p>
              </td>
            </tr>
            
            <!-- // END BODY -->
            <!-- FOOTER -->
            <!-- @@include /partials/footer.html -->
          </table>
          <!--[if gte mso 9]>
            </td>
            </tr>
            </table>
            <![endif]-->
          <!-- // END TEMPLATE -->
        </td>
      </tr>
    </table>
  </center>
</body>
</html>