<!-- @@include /partials/head.html -->
  <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="height: 100%;margin: 0;padding: 0;width: 100%;background-color: #FAFAFA;">
      <tr>
        <td align="center" valign="top" style="height: 100%;margin: 0;width: 100%;background-color: #FAFAFA;">
          <!-- BEGIN TEMPLATE // -->
          <!--[if gte mso 9]>
          <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
          <tr>
          <td align="center" valign="top" width="600" style="width:600px;">
          <![endif]-->
          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer" style="border: 0;max-width: 640px ;background:#FFFFFF;">
            <!-- Logo// -->
            <!-- @@include /partials/logo-left.html -->
            <tr>
              <td valign="top" style="color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
                <!-- BEGIN MODULE: BODY CONTENT // -->
                  <p style="margin-bottom:30px!important">Hi John,</p>
                  <p>We have received updates that your product(s) listed below has been successfully delivered. If you haven't received it yet, please contact us at <span style="color:#237A91;">help@shaves2u.com</span> so we can assist you promptly.</p>
              </td>
            </tr>
            <!-- @@include /partials/order-build.html -->
            <!-- // END BODY -->
            <!-- FOOTER -->
            <!-- @@include /partials/footer.html -->
          </table>
          <!--[if gte mso 9]>
            </td>
            </tr>
            </table>
            <![endif]-->
          <!-- // END TEMPLATE -->
        </td>
      </tr>
    </table>
  </center>
</body>
</html>