<!-- @@include /partials/head.html -->
  <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="height: 100%;margin: 0;padding: 0;width: 100%;background-color: #FAFAFA;">
      <tr>
        <td align="center" valign="top" style="height: 100%;margin: 0;width: 100%;background-color: #FAFAFA;">
          <!-- BEGIN TEMPLATE // -->
          <!--[if gte mso 9]>
          <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
          <tr>
          <td align="center" valign="top" width="600" style="width:600px;">
          <![endif]-->
          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer" style="border: 0;max-width: 640px ;background:#FFFFFF;">
            <!-- Logo// -->
            <!-- @@include /partials/logo-left.html -->
            <tr>
              <td valign="top" style="color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
                <!-- BEGIN MODULE: BODY CONTENT // -->
                  <p style="margin-bottom:30px!important">Hi John,</p>
                  <p style="margin-bottom:30px!important">Thank you for shopping with Shaves2U. Your order has been received and is currently in verification process. Please expect to receive our next email update soon with your expected delivery lead time.</p>
                  <p style="">
                   Please keep this confirmation as your proof of purchase. If you paid by credit card, the charge for your order will appear on your credit card statement as "<span style="color:#000;font-weight:bold;">S2U AppCo</span>".
                  </p>
                  <p style="color:#999999;font-size:14px;">(E-commerce services are provided by AppCo Sdn Bhd., a Shaves2U approved e-commerce reseller)</p>
              </td>
            </tr>
            <!-- @@include /partials/order-build.html -->
            <tr>
              <td valign="top" style="color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
                <p style="margin-bottom:30px!important">
                <a href="#" style="color:red;">Set up a password</a> to activate your account, and save 10% off your next purchase and ordering your shaving solutions will be much, much simpler.
                </p>
                <div style="width:100%;margin-top: 36px;text-align:center;">
                  <a href="http://smartshave.bjdev.net" style="width: 195px;margin:0 auto;height: 48px;background: #000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">SET UP PASSWORD</a>
                </div>
                <p style="margin-top: 36px!important;">
                  Please keep this email as proof of purchase.<br>
                  If your purchase was made via credit card, it will appear as a payment to ‘S2U AppCo’ on your bank statement. Appco Sdn Bhd is an authorised Shaves2U retailer.
                </p>
              </td>
            </tr>
            <!-- // END BODY -->
            <!-- FOOTER -->
            <!-- @@include /partials/footer.html -->
          </table>
          <!--[if gte mso 9]>
            </td>
            </tr>
            </table>
            <![endif]-->
          <!-- // END TEMPLATE -->
        </td>
      </tr>
    </table>
  </center>
</body>
</html>