<!-- @@include /partials/head.html -->
  <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="height: 100%;margin: 0;padding: 0;width: 100%;background-color: #FAFAFA;">
      <tr>
        <td align="center" valign="top" style="height: 100%;margin: 0;width: 100%;background-color: #FAFAFA;">
          <!-- BEGIN TEMPLATE // -->
          <!--[if gte mso 9]>
          <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
          <tr>
          <td align="center" valign="top" width="600" style="width:600px;">
          <![endif]-->
          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer" style="border: 0;max-width: 640px ;background:#FFFFFF;">
            <!-- Logo// -->
            <!-- @@include /partials/logo-center.html -->
            <tr>
              <td valign="top" style="color: #606060;font-size: 16px;line-height: 150%;padding-top: 0 20px;text-align: center ;">
                <!-- BEGIN MODULE: BODY CONTENT // -->
                <div style="max-width: 515px;margin: 0 auto 100px;padding:0 20px">
                  <h1 style="font-size: 24px;font-weight: 800;letter-spacing: 0.05em;font-family: 'Muli';margin: 40px 0 20px 0;color: #333333;text-align:center;">Your account password has changed</h1>
                  <p style="text-align: center;">The password for the account with the username <span style="color:#237A91">johndoe@email.com</span> has been changed. If you didn't request this change, <span style="color:#237A91">learn how to re-secure your account.</span></p>
                 
                </div>
              </td>
            </tr>
            <!-- // END BODY -->
            <!-- FOOTER -->
            <!-- @@include /partials/footer.html -->
          </table>
          <!--[if gte mso 9]>
            </td>
            </tr>
            </table>
            <![endif]-->
          <!-- // END TEMPLATE -->
        </td>
      </tr>
    </table>
  </center>
</body>
</html>