<!-- @@include /partials/head.html -->
  <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="height: 100%;margin: 0;padding: 0;width: 100%;background-color: #FAFAFA;">
      <tr>
        <td align="center" valign="top" style="height: 100%;margin: 0;width: 100%;background-color: #FAFAFA;">
          <!-- BEGIN TEMPLATE // -->
          <!--[if gte mso 9]>
          <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
          <tr>
          <td align="center" valign="top" width="600" style="width:600px;">
          <![endif]-->
          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer" style="border: 0;max-width: 640px;background:#FFFFFF;">
            <!-- Logo// -->
            <!-- @@include /partials/logo-left.html -->
           
            <tr>
              <td valign="top" style="color: #606060;font-size: 16px;line-height: 150%;">
                <!-- BEGIN MODULE: BODY CONTENT // -->
                <div style="margin-bottom:30px;padding: 0 20px;">
                  <h1 style="font-size: 24px;font-weight: 800;letter-spacing: 0.05em;font-family: 'Muli';margin: 40px 0 20px 0;color: #333333;text-align:center;">We hope you enjoyed your free trial!</h1>
                  <p style="margin-bottom:30px!important">Hi John,</p>
                  <p >Has your experience with our blades been a smooth one? Make it smoother with one of our Shave Plans.</p>
                  
                  <div style="width:100%;margin: 36px 0;text-align:center;">
                    <a href="http://smartshave.bjdev.net" style="width: 195px;margin:0 auto;height: 48px;background: #000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">SHOP NOW</a>
                  </div>
                  <p style="
                  margin-bottom:30px">
                    Get 10% your first purchase when you <a href="http://smartshave.bjdev.net/login" style="text-decoration: none;color: #237A91;">sign up</a> for a Shaves2U account!
                  </p>
                </div>
              </td>
            </tr>
            <!-- // END BODY -->
            <!-- FOOTER -->
            <!-- @@include /partials/footer.html -->
          </table>
          <!--[if gte mso 9]>
            </td>
            </tr>
            </table>
            <![endif]-->
          <!-- // END TEMPLATE -->
        </td>
      </tr>
    </table>
  </center>
</body>
</html>