<!-- @@include /partials/head.html -->
  <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="height: 100%;margin: 0;padding: 0;width: 100%;background-color: #FAFAFA;">
      <tr>
        <td align="center" valign="top" style="height: 100%;margin: 0;width: 100%;background-color: #FAFAFA;">
          <!-- BEGIN TEMPLATE // -->
          <!--[if gte mso 9]>
          <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
          <tr>
          <td align="center" valign="top" width="600" style="width:600px;">
          <![endif]-->
          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer" style="border: 0;max-width: 640px ;background:#FFFFFF;">
            <!-- Logo// -->
            <!-- @@include /partials/logo-left.html -->
            <tr>
              <td valign="top" style="color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
                <!-- BEGIN MODULE: BODY CONTENT // -->
                <div style="margin-bottom:30px">
                  <p style="margin-bottom:30px!important">Hi John,</p>
                  <p >This e-mail has been sent to you to confirm the cancellation of your {{plan-name}} subscription and to assure you that your credit card will no longer be charged.</p>
                  <p style="margin-bottom:30px!important">To start a new Shave Plan, click the button below. You can also drop us an e-mail at <a href="mailto:help@email.com">help@shaves2u.com</a> for any enquiries.</p>
                  <div style="width:100%;margin: 36px 0;text-align:center;">
                    <a href="http://smartshave.bjdev.net" style="width: 195px;margin:0 auto;height: 48px;background: #000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">CREATE NEW SHAVE PLAN</a>
                  </div>
                  <p style="
                  margin-bottom:30px">
                    Sincerely,<br>
                    Shaves2U
                  </p>
                </div>
              </td>
            </tr>
            <!-- // END BODY -->
            <!-- FOOTER -->
            <!-- @@include /partials/footer.html -->
          </table>
          <!--[if gte mso 9]>
            </td>
            </tr>
            </table>
            <![endif]-->
          <!-- // END TEMPLATE -->
        </td>
      </tr>
    </table>
  </center>
</body>
</html>