<!-- @@include /partials/head.html -->
  <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="height: 100%;margin: 0;padding: 0;width: 100%;background-color: #FAFAFA;">
      <tr>
        <td align="center" valign="top" style="height: 100%;margin: 0;width: 100%;background-color: #FAFAFA;">
          <!-- BEGIN TEMPLATE // -->
          <!--[if gte mso 9]>
          <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
          <tr>
          <td align="center" valign="top" width="600" style="width:600px;">
          <![endif]-->
          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer" style="border: 0;max-width: 640px ;background:#FFFFFF;">
            <!-- Logo// -->
            <!-- @@include /partials/logo-left.html -->
            <tr>
              <td valign="top" style="color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
                <!-- BEGIN MODULE: BODY CONTENT // -->
                <div style="margin-bottom:30px">
                  <p style="margin-bottom:30px!important">Hi John,</p>
                  <p style="margin-bottom:30px!important">We have to pause your <span style="color:#000;font-weight: bold;">S3 Subscription</span> for now because we were unable to bill the credit card on file. Please update your payment information to resume your subscription.</p>
                </div>
                <table style="font-size:14px;">
                  <tr>
                    <td style="padding-right:15px;color:#000;font-weight:bold;">Current Product</td>
                    <td>S3</td>
                  </tr>
                  <tr>
                    <td style="padding-right:15px;color:#000;font-weight:bold;">Last Transaction ID</td>
                    <td>38934881630</td>
                  </tr>
                  <tr>
                    <td style="padding-right:15px;color:#000;font-weight:bold;">Next Payment Date</td>
                    <td>22 SEP 2017</td>
                  </tr>
                  <tr>
                    <td style="padding-right:15px;color:#000;font-weight:bold;">Billing Cycle</td>
                    <td>Annually</td>
                  </tr>
                  <tr>
                    <td style="padding-right:15px;color:#000;font-weight:bold;">Payment Method</td>
                    <td>Credit/Debit Card</td>
                  </tr>
                  <tr>
                    <td style="padding-right:15px;color:#000;font-weight:bold;"></td>
                    <td>Ending in 3344</td>
                  </tr>
                </table>
                <div style="margin: 40px 0 23px 0;height:48px">
                  <a href="http://smartshave.bjdev.net" style="max-width: 246px;min-width: 220px;height: 48px;background: #000;text-align: center;padding: 15px 15px;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">UPDATE PAYMENT DETAILs</a>
                </div>
              </td>
            </tr>
            <!-- // END BODY -->
            <!-- FOOTER -->
            <!-- @@include /partials/footer.html -->
          </table>
          <!--[if gte mso 9]>
            </td>
            </tr>
            </table>
            <![endif]-->
          <!-- // END TEMPLATE -->
        </td>
      </tr>
    </table>
  </center>
</body>
</html>