<!-- @@include /partials/head.html -->
  <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="height: 100%;margin: 0;padding: 0;width: 100%;background-color: #FAFAFA;">
      <tr>
        <td align="center" valign="top" style="height: 100%;margin: 0;width: 100%;background-color: #FAFAFA;">
          <!-- BEGIN TEMPLATE // -->
          <!--[if gte mso 9]>
          <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
          <tr>
          <td align="center" valign="top" width="600" style="width:600px;">
          <![endif]-->
          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer" style="border: 0;max-width: 640px;background:#FFFFFF;">
            <!-- Logo// -->
            <!-- @@include /partials/logo-center.html -->
            <tr style="text-align: center">
              <td valign="top">
                <img src="https://gallery.mailchimp.com/a1f5e35b929b6d70bbdff908e/images/bb73a564-8b8b-4aef-8365-a81424ab9b01.png" style="min-height:145px;" alt="Shaves2u banner">
              </td>
            </tr>
            <tr>
              <td valign="top" style="color: #606060;font-size: 16px;line-height: 150%;padding-top: 0 20px;text-align: center ;">
                <!-- BEGIN MODULE: BODY CONTENT // -->
                <div style="max-width: 515px;margin: 0 auto 30px;padding:0 20px">
                  <h1 style="font-size: 24px;font-weight: 800;letter-spacing: 0.05em;font-family: 'Muli';margin: 40px 0 20px 0;color: #333333;text-align:center;">Welcome to the Razorlution, John</h1>
                  <p style="text-align: center">
                    We have the best products from around the globe, with offer prices online that are up to 50% less than leading brands. Order online and have blades delivered to you by courier in 4 working days - simple
                  </p>
                  <div style="margin: 40px 0 23px 0;height:48px">
                    <a href="http://smartshave.bjdev.net" style="width: 218px;background: #000;text-align: center;padding: 13px 0;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;display:inline-block;">See the range</a>
                  </div>
                </div>
              </td>
            </tr>
            <!-- // END BODY -->
            <!-- FOOTER -->
            <!-- @@include /partials/footer.html -->
          </table>
          <!--[if gte mso 9]>
            </td>
            </tr>
            </table>
            <![endif]-->
          <!-- // END TEMPLATE -->
        </td>
      </tr>
    </table>
  </center>
</body>
</html>