#user-order-detail {
  h2.heading {
    margin: 40px 0 23px;
  }
  .box {
    &.box-have-border {
      padding: 35px 30px 20px;
      border: 1px solid #d7d7d7;
      .box-header {
        border-bottom: 1px solid #d7d7d7;
        padding-bottom: 25px;
      }
      .box-body {
        padding-top: 25px;
      }
    }
  }
  .charge, .channel {
    width: 100%;
    span {
      font-weight: bold;
      margin-right: 10px;
    }
  }
  .pb-cmnt-container {
    font-family: Lato;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #d5d7d8;
    border-radius: 4px;
    padding: 15px;
  }

  .pb-cmnt-textarea {
    resize: none;
    padding: 20px;
    height: 130px;
    width: 100%;
    border: 1px solid #F2F2F2;
  }

  .trash {
    color: rgb(209, 91, 71);
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  .edit {
    cursor: pointer;
  }
  .btn-download {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}