<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <app-alert></app-alert>
        <div class="user-form">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <!-- edit form column -->
                <div class="col-md-12 user-info">
                  <form #f='ngForm' novalidate (ngSubmit)='f.form.valid && doChangePassword()' [formGroup]="changePasswordForm">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-sm-12 form-group" [ngClass]="f.submitted && ( changePasswordForm.controls.oldPassword.hasError('required') || changePasswordForm.controls['oldPassword'].hasError('pattern')) ? 'has-danger' : ''">
                            <label class="form-control-label">Old Password (<span class="required">*</span>)</label>
                            <div class="controls">
                              <input id="oldPassword" name="oldPassword" type="password" class="form-control" placeholder="Old Password"
                                formControlName="oldPassword" pattern="^(?=.*\d)(?=.*[a-zA-Z]).{6,}$">
                            </div>
                            <span class="form-control-feedback" *ngIf="f.submitted && changePasswordForm.controls.oldPassword.hasError('required')">
                                {{ 'msg.validation.required' | translate }}
                            </span>
                            <span class="form-control-feedback" *ngIf="f.submitted && changePasswordForm.controls['oldPassword'].hasError('pattern')">
                              {{ 'msg.validation.password_format' | translate }}
                            </span>
                          </div>
                          <div class="col-sm-6 form-group" [ngClass]="f.submitted && ( changePasswordForm.controls.newPassword.hasError('required') || changePasswordForm.controls['newPassword'].hasError('pattern')) ? 'has-danger' : ''">
                            <label class="form-control-label">New Password (<span class="required">*</span>)</label>
                            <div class="controls">
                              <input id="newPassword" name="newPassword" type="password" class="form-control" placeholder="New Password"
                                formControlName="newPassword" pattern="^(?=.*\d)(?=.*[a-zA-Z]).{6,}$" validateEqual="confirmNewPassword" reverse="true">
                            </div>
                            <span class="form-control-feedback" *ngIf="f.submitted && changePasswordForm.controls.newPassword.hasError('required')">
                                {{ 'msg.validation.required' | translate }}
                            </span>
                            <span class="form-control-feedback" *ngIf="f.submitted && changePasswordForm.controls['newPassword'].hasError('pattern')">
                              {{ 'msg.validation.password_format' | translate }}
                            </span>
                          </div>
                          <div class="col-sm-6 form-group" [ngClass]="!changePasswordForm.controls.confirmNewPassword.valid && f.submitted ? 'has-danger' : ''">
                            <label class="form-control-label">Re-enter Password (<span class="required">*</span>)</label>
                            <div class="controls">
                              <input id="confirmNewPassword" name="confirmNewPassword" type="password" class="form-control" placeholder="Re-enter New Password"
                                formControlName="confirmNewPassword" validateEqual="newPassword" reverse="false">
                            </div>
                            <span class="form-control-feedback" *ngIf="!changePasswordForm.controls.confirmNewPassword.valid && f.submitted">
                                {{ 'msg.validation.password_not_match' | translate }}
                            </span>
                          </div>
                        </div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary shave2u-btn-primary">Save Changes</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /container -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal-backdrop fade"></div>