<div class="account">
	<div class="sign-in">
		<div class="selection-block">
			<!-- <div class="block-signin-signup"> -->
				<div class="head">
					<div class="head-content">
						<p class="headline text-uppercase">
							<span class="number" [ngClass]="{'success': stepsData.login.state==='finish'}">1</span><!--success-->
							<ng-container *ngIf="stepsData.login.state!=='finish' else text_account">
								<span *ngIf="stage === 'signin'">{{ 'lbl.login.email_form.signin_head' | translate }}</span>
								<span *ngIf="stage === 'signup'">{{ 'lbl.login.email_form.create_account' | translate }}</span>
							</ng-container>
							<ng-template #text_account>
								<span>{{ 'checkout.free_trial.your_account' | translate }}</span>
							</ng-template>
						</p>
						<div class="user-account mt-4" *ngIf="stepsData.login.state==='finish'">
							{{ storage.getCurrentUser().email }}
						</div>
						<div class="form-content" [ngClass]="{'hidden': stepsData.login.state==='finish'}">
							<form [formGroup]="loginForm" novalidate #f="ngForm" (ngSubmit)="loginForm.valid && doLogin()" #nativeForm *ngIf="stage === 'signin'">
				        <div class="form-group signin-form-group" [ngClass]="f.submitted && (loginForm.hasError('required', 'email') || loginForm.hasError('pattern', 'email')) ? 'has-danger' : 'correctInput'">
				          <input placeholder="{{ 'lbl.login.email_form.email' | translate }}" formControlName="email" name="email" type="email" class="form-control" pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$'>
				          <span class="help-block text-danger" *ngIf="f.submitted && loginForm.hasError('required', 'email')">
				            {{ 'msg.validation.required' | translate:{value: ( 'msg.field.email' | translate)} }}
				          </span>
				          <span class="help-block text-danger" *ngIf="f.submitted && loginForm.hasError('pattern', 'email')">
				            {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.email_address' | translate) } }}
				          </span>
				        </div>
				        <div class="form-group signin-form-group"
										[ngClass]="(f.submitted && (loginForm.hasError('required', 'password') || loginForm.hasError('pattern', 'password') || (resError && resError.message.indexOf('password') !== -1))) || (loginForm.controls.password.errors && loginForm.controls.password.errors.validatePassword) ? 'has-danger' : ''">
				          <input formControlName="password" type="password"
												class="form-control re-enter-password"
				            		idShowHints="hints-input-password-signin"
												placeholder="{{ 'lbl.checkout.step_account.sign_in.password' | translate }}">
				          <!-- <p class="desc-input">{{ 'lbl.login.email_form.minimum_char' | translate }}</p> -->
				          <div class="hints-password">
				            <a class="heading" *ngIf="loginForm.controls.password.errors && loginForm.controls.password.errors.validatePassword">
				              <i class="fa fa-lock" aria-hidden="true"></i><span>{{ 'lbl.login.password_form.hints_heading' | translate}}</span>
				            </a>
				            <ul class="list-group" id="hints-input-password-signin"></ul>
				          </div>
				          <span class="help-block text-danger" *ngIf="f.submitted && loginForm.hasError('required', 'password')">
				            {{ 'msg.validation.required' | translate:{value: ( 'msg.field.password' | translate)} }}
				          </span>
				        </div>
				        <app-alert [message]="resError"></app-alert>
				        <div class="text-center mb-3">
				          <button type="submit" class="btn btn-primary btn-auth" id="submitStep1">{{ 'lbl.login.email_form.signin_head' | translate }}</button>
				        </div>
								<div class="text-center mb-3">
									<button class="btn btn-block btn-social btn-facebook small-text" (click)="facebookLogin(); $event.preventDefault()">
										<i class="ico-facebook fa fa-facebook-official"></i><span class="text">{{ 'lbl.login.email_form.signin_facebook' | translate }}</span>
									</button>
								</div>
				        <p class="subline">
									{{ 'lbl.login.signup_form.not_account' | translate }}
									<a class="link-text-underline forgot-pw" (click)="changeSignInUp('signup'); $event.preventDefault()">{{ 'lbl.login.signup_form.create_one' | translate }}</a>
								</p>
				      </form>
							<form [formGroup]="signUpForm" novalidate #f="ngForm" (ngSubmit)="signUpForm.valid && doSignup()" #nativeForm *ngIf="stage === 'signup'">
				        <div class="form-group signin-form-group" [ngClass]="f.submitted && (signUpForm.hasError('required', 'email') || signUpForm.hasError('pattern', 'email')) ? 'has-danger' : 'correctInput'">
				          <input placeholder="{{ 'lbl.login.email_form.placehdr_email' | translate }}" formControlName="email" name="email" type="email" class="form-control" pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$'>
				          <span class="help-block text-danger" *ngIf="f.submitted && signUpForm.hasError('required', 'email')">
				            {{ 'msg.validation.required' | translate:{value: ( 'msg.field.email' | translate)} }}
				          </span>
				          <span class="help-block text-danger" *ngIf="f.submitted && signUpForm.hasError('pattern', 'email')">
				            {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.email_address' | translate) } }}
				          </span>
				        </div>
				        <div class="form-group signin-form-group"
										[ngClass]="(f.submitted && (signUpForm.hasError('required', 'password') || (signUpForm.controls.password.errors && signUpForm.controls.password.errors.validatePassword))) ? 'has-danger' : ''">
				          <input formControlName="password" type="password"
												class="form-control re-enter-password"
												idShowHints="hints-input-password-signin"
												validatePassword
												placeholder="{{ 'lbl.checkout.step_account.sign_in.password' | translate }}">
				          <!-- <p class="desc-input">{{ 'lbl.login.email_form.minimum_char' | translate }}</p> -->
				          <div class="hints-password">
				            <a class="heading" *ngIf="signUpForm.controls.password.errors && signUpForm.controls.password.errors.validatePassword">
				              <i class="fa fa-lock" aria-hidden="true"></i><span>{{ 'lbl.login.password_form.hints_heading' | translate}}</span>
				            </a>
				            <ul class="list-group" id="hints-input-password-signin"></ul>
				          </div>
				          <span class="help-block text-danger" *ngIf="f.submitted && signUpForm.hasError('required', 'password')">
				            {{ 'msg.validation.required' | translate:{value: ( 'msg.field.password' | translate)} }}
				          </span>
				        </div>
				        <app-alert [message]="resError"></app-alert>
				        <div class="text-center mb-3">
				          <button type="submit" class="btn btn-primary btn-auth" id="submitStep1">{{ 'checkout.free_trial.create_account' | translate }}</button>
				        </div>
								<div class="text-center mb-3">
									<button class="btn btn-block btn-social btn-facebook small-text" (click)="facebookLogin(); $event.preventDefault()">
										<i class="ico-facebook fa fa-facebook-official"></i><span class="text">{{ 'lbl.login.email_form.signin_facebook' | translate }}</span>
									</button>
								</div>
				        <p class="subline">
									{{ 'checkout.free_trial.had_account' | translate }}
									<a class="link-text-underline forgot-pw" (click)="changeSignInUp('signin'); $event.preventDefault()">{{ 'lbl.login.email_form.signin' | translate }}</a>
								</p>
				      </form>
							<div class="check-success"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
