@media  (max-width: 767px) {
  #user-setting {
    margin-left: 0;
    .block-details .block-content{
      padding: 0 15px;
      .move-left {
        padding-left: 15px !important;
        &.first-item {
          padding-left: 15px !important;
        }        
      }
      .move-right {
        padding-left: 0 !important;
      }
    }    
    .card-items{
      padding: 0 15px;
    }
    .note{
      padding: 0 30px;
      text-align: center;
    }
  }
}

@media  (max-width: 1268px) {
  #user-setting {
    margin-left: 0;
  }
}