@import "../../../../assets/sass/mixins/color";
#user-setting {
  position: relative;
  margin-left: 70px;
  // overflow-x: hidden;
  margin-top: 8px;
  h3.heading {    
    margin: 20px 0 23px;
    &.is-first {
      margin: 20px 0 0;
    }
    &.not-first {
      margin: 46px 0 0px;
    }
  }
  .border-block {
    border: 1px solid silver;
  }
  .card-expiry-date {
    padding: 0;
  }
  .card-name {
    padding: 25px 0px 15px;
  }
  .note {
    font-size: 14px;
    margin: 16px 0;
  }

  .pr-2 {
    padding-right: 1.5rem !important;
  }  

  .block-details, .block-ct-ship, .block-payment {
    .block-content {
      max-width: 450px;
      margin: 10px auto 0;
      display: block;
      padding: 0;
      .form-group {
        position: relative;
        float: left;
        width: 100%;
        .control-label {
          padding: 0 0;
          color: #3b6f9c;
        }
      }
      .block-pass {
        padding-left: 15px;
      }
      .move-left {
        padding-left: 15px !important;
        &.first-item {
          padding-left: 0 !important;
        }
      }      
    }
  }
  .btn-group-right-top {
    position: absolute;
    right: 0px;
    /* top: 13px; */
    color: #3b6f9c;
  }

  .loading-spinner {
    min-height: 130px;
    .fa-spinner {
      font-size: 24px;
      position: absolute;
      text-align: center;
      right: calc(50% - 12px);
      top: calc(50% - 12px);
    }
  }
  .box-header {
    position: absolute;
    right: 5px;
    color: #3b6f9c;
    .action-tool {
      text-align: right;
    }
  }
  .master-cards {
    .box-header {
      top: -10px;
    }
    .box-body {
      .card-name {
        height: 60px;
      }
    }
  }
  .box-body {
    p {
      margin-bottom: 0px;
    }
    .control-label {
        padding: 0 0;
        color: #3b6f9c;
        margin-bottom: 15px;
        display: block;
    }
    h6.item {
      max-width: 90px;
      background: #fe5000;
      color: #fff;
      text-align: center;
      padding: 5px;
      font-size: 13px;
      margin-bottom: 0;
      border-radius: 0 !important;
    }
    h6.primary-card {
      margin-top: 5px;
      min-height: 16px;
    }
    .card-code {
      font-size: 20px;
    }
    .valid-thru {
      font-size: 10px;
      opacity: 0.5;
    }
  }

  .add-new {
    margin-top: 8px;
    font-size: 14px;
    a {
      border-bottom: 2px solid #CCC;
      color: $primary-color;
      font-family: 'Muli Bold';
    }
  }

  .block-billing{
    .item-added {
      padding: 32px 32px;
      border-radius: 5px;
    }    
  }

  .card-items.master-cards .item {
    border-radius: 5px;
  }
  input[type='radio']:hover {
    cursor: pointer;
  }

  input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
  }
  input[type='radio']:checked:before {
    background: #fe5000;
  }
  input[type='radio']:checked:before:hover {
    cursor: pointer;
  }
  .radio-button-group {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: auto !important;
    .text {
      margin-left: 0;
    }
  }
      
  /* Hide the browser's default checkbox */
  .radio-button-group input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%
}

/* On mouse-over, add a grey background color */
.radio-button-group:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.radio-button-group input:checked ~ .checkmark {
    background-color: #fe5000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.radio-button-group input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.radio-button-group .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
}
@import 'setting.component.mobile';