<div id="user-setting">
  <div class="row no-gutters block-details">
    <div class="col-12">
      <h3 class="text-center heading mt-0">{{ 'lbl.user.setting.user_details' | translate }}</h3>
    </div>
    <div class="col-lg-12">
      <!-- <div class="loading-spinner" *ngIf="isloadingPersional"><i class="fa fa-spinner fa-spin"></i></div> -->
      <div class="block-content" *ngIf="!isloadingPersional">
        <!-- <div class="row"> -->
          <div class="row no-gutters" style="width: 100%">
            <div class="form-group row mx-auto">
              <span class="col-md-3 col-sm-3 col-12 control-label"><strong>{{ 'lbl.user.setting.email' | translate }}</strong></span>
              <div class="col-md-9 col-sm-9 col-12 pl-0">
                {{ currentUser.email }}
              </div>
              <div class="btn-group-right-top">
                <span class="fa fa-pencil click-able" (click)="showEditUserModal()"></span>
              </div>
            </div>

            <div class="form-group row mx-auto">
              <span class="col-md-3 col-sm-3 col-12 control-label"><strong>{{ 'lbl.user.setting.pass' | translate }}</strong></span>
              <div class="col-md-9 col-sm-9 col-12 pl-0">
                ******
              </div>
              <div class="btn-group-right-top">
                <span class="fa fa-pencil click-able" (click)="changePassword()"></span>
              </div>
            </div>

          </div>
          <!--<div class="form-group">
            <span for="birthDay" class="col-sm-2 control-label pull-left" style="width: 15.51%"><strong>{{ 'lbl.user.setting.birthday' | translate }}</strong></span>
            <div class="col-sm-8 pull-left">
              {{ currentUser.birthday| date:"dd / MM / yyyy" }}
            </div>
          </div>-->
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div class="row block-billing">
    <div class="col-lg-12">
      <h3 class="text-center heading is-first">{{ 'lbl.user.setting.shipping_details' | translate }}</h3>
    </div>
    <!-- <div class="loading-spinner" *ngIf="isloadingAddress"><i class="fa fa-spinner fa-spin"></i></div> -->
    <div class="col-12">
      <div class="card-items address-items row justify-content-between" *ngIf="!isloadingAddress">
        <div class="item-inner col-lg-6 mt-4 mx-auto" *ngFor="let item of deliveryAddressList; let i = index">
          <div class="item item-added block-content" [ngClass]="item.isDefault ? 'active': ''">
            <div class="row">
              <div class="col-md-12">
                <div class="box">
                  <div class="box-header">
                    <strong class="flex"></strong>
                    <div class="action-tool">
                      <i class="pr-2 fa fa-pencil click-able" (click)="editAddress(item, 'shipping')"></i>
                      <i class="fa fa-trash click-able" (click)="deleteAddress(item.id)"></i>
                    </div>
                    <app-alert [message]="resErrorAddress"></app-alert>
                  </div>
                  <div class="box-body">
                    <h6 class="control-label">
                      <strong>
                        {{ 'lbl.user.setting.prefix_address_item' | translate }} {{ i + 1 }}
                        <!--{{ item.isDefault ? '(' + ('lbl.user.setting.text_default' | translate) + ')' : ''}}-->
                        {{ item.id === defaultShipping ? '(' + ('lbl.user.setting.text_default' | translate) + ')' : ''}}
                      </strong>
                    </h6>
                    <span class="full-name"><strong>{{ item.firstName }} {{ item.lastName }}</strong></span>
                    <div class="form-group d-flex mb-0">
                      <!--<i class="fa fa-map-marker mr-3" aria-hidden="true"></i>-->
                      <span class="col-sm-10 px-0">{{ item.address + ', ' + item.city + ', ' + item.portalCode + ', ' + item.state }}</span>
                    </div>
                    <div class="form-group d-flex">
                      <!--<i class="fa fa-phone align-self-center mr-3" aria-hidden="true"></i>-->
                      <span class="col-sm-9 px-0">{{ item.contactNumber }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="item-inner col-lg-6 mt-4 click-able" (click)="addNewAddress('shipping')">
          <div class="item item-adding">
            <div class="text-contain text-center-vertical">
              <div class="text-inner">
                <a class="link-text-underline"><i class="fa fa-plus-circle mr-2"></i>{{ 'lbl.user.setting.link_add_addr' | translate }}</a>
              </div>
            </div>
          </div>
        </div>-->
      </div>
      <div class="text-center add-new">
        <a class="btn-add-new-address click-able" (click)="addNewAddress('shipping')">
          <span class="text"> {{ 'lbl.user.setting.btn_add_address_shipping'  | translate }}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="row block-billing">
    <div class="col-lg-12">
      <h3 class="text-center heading not-first">{{ 'lbl.user.setting.billing_details' | translate }}</h3>
    </div>
    <!-- <div class="loading-spinner" *ngIf="isloadingAddress"><i class="fa fa-spinner fa-spin"></i></div> -->
    <div class="col-12">
      <div class="card-items address-items row justify-content-between" *ngIf="!isloadingAddress">
        <div class="item-inner col-lg-6 mt-4 mx-auto" *ngFor="let item of deliveryAddressList; let i = index">
          <div class="item item-added" [ngClass]="item.isDefault ? 'active': ''">
            <div class="row">
              <div class="col-md-12">
                <div class="box">
                  <div class="box-header">
                    <strong class="flex"></strong>
                    <div class="action-tool">
                      <i class="pr-2 fa fa-pencil click-able" (click)="editAddress(item, 'billing')"></i>
                      <i class="fa fa-trash click-able" (click)="deleteAddress(item.id)"></i>
                    </div>
                    <app-alert [message]="resErrorAddress"></app-alert>
                  </div>
                  <div class="box-body">
                    <h6 class="control-label">
                      <strong>
                        {{ 'lbl.user.setting.prefix_address_item' | translate }} {{ i + 1 }}
                        <!--{{ item.isDefault ? '(' + ('lbl.user.setting.text_default' | translate) + ')' : ''}}-->
                        {{ item.id === defaultBilling ? '(' + ('lbl.user.setting.text_default' | translate) + ')' : ''}}
                      </strong>
                    </h6>
                    <span class="full-name"><strong>{{ item.firstName }} {{ item.lastName }}</strong></span>
                    <div class="form-group d-flex mb-0">
                      <!--<i class="fa fa-map-marker mr-3" aria-hidden="true"></i>-->
                      <span class="col-sm-10 px-0">{{ item.address + ', ' + item.city + ', ' + item.portalCode + ', ' + item.state }}</span>
                    </div>
                    <div class="form-group d-flex">
                      <!--<i class="fa fa-phone align-self-center mr-3" aria-hidden="true"></i>-->
                      <span class="col-sm-9 px-0">{{ item.contactNumber }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="item-inner col-lg-6 mt-4 click-able" (click)="addNewAddress('billing')">
          <div class="item item-adding">
            <div class="text-contain text-center-vertical">
              <div class="text-inner">
                  <a class="link-text-underline"><i class="fa fa-plus-circle mr-2"></i>{{ 'lbl.user.setting.link_add_addr' | translate }}</a>
              </div>
            </div>
          </div>
        </div>-->
      </div>
      <div class="text-center add-new">
        <a class="btn-add-new-address click-able" (click)="addNewAddress('billing')">
          <span class="text"> {{ 'lbl.user.setting.btn_add_address_billing'  | translate }}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center heading not-first">{{ 'lbl.user.setting.payment_details' | translate }}</h3>
    </div>
    <!-- <div class="loading-spinner" *ngIf="isloadingPayment"><i class="fa fa-spinner fa-spin"></i></div> -->
    <div class="col-12">
      <div class="card-items master-cards row justify-content-between" *ngIf="!isloadingPayment">
        <div class="item-inner col-lg-6 mt-4 mx-auto" *ngFor="let item of cardsList; let i = index">
          <div class="item item-added">
            <div class="row">
              <div class="col-12">
                <div class="box">
                  <div class="box-header">
                    <strong class="flex"></strong>
                    <div class="action-tool">
                      <!-- <i class="pr-2 fa fa-pencil click-able" (click)="editCard(item)"></i> -->
                      <i class="fa fa-trash click-able" (click)="deleteCard(item)"></i>
                    </div>
                    <app-alert [message]="resErrorCard" *ngIf="item.id === errorCardId"></app-alert>
                  </div>
                  <div class="box-body">
                    <!-- <h6 class="control-label">
                      <strong>
                        {{ 'lbl.user.setting.prefix_card_item' | translate }} {{ i + 1 }}
                        {{ item.isDefault ? '(' + ('lbl.user.setting.text_default' | translate) + ')' : ''}}
                      </strong>
                    </h6> -->
                    <h6 [ngClass]="item.isDefault ? 'item': ''" class="primary-card">{{ item.isDefault ? ('lbl.user.setting.primary_card' | translate) : ''}}</h6>
                    <span class="card-code"><strong>XXXX XXXX XXXX {{item.cardNumber}}</strong></span>
                    <p class="card-name"></p>
                   
                    <div class="row">
                      <div class="col-8">
                        <p class="valid-thru">VALID THRU</p>
                        <p class="card-expiry-date flex align-self-end">{{item.expiredMonth}}/{{item.expiredYear.substr(2,2)}}</p>
                      </div>
                      <div class="col-4 text-right">
                        <img *ngIf="item.branchName.toUpperCase() === 'VISA'" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/visa-128.png">
                        <img *ngIf="item.branchName.toUpperCase() === 'MASTERCARD'" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/mastercard-logo.png">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <label class="form-check-label radio-button-group mt-2">
            <input class="form-check-input mr-2" type="radio" id="cardRadio" name="cardRadio" [checked]="item.isDefault" (click)="setCardDefault(item)">
            <span class="checkmark"></span>
            <label class="click-able" for="" (click)="setCardDefault(item)">{{ 'lbl.user.setting.card_default'  | translate }}</label>                      
          </label>
        </div>
        <!--<div class="item-inner col-lg-6 click-able mt-4" (click)="addNewCard('card')">
          <div class="item item-adding">
            <div class="text-contain text-center-vertical">
              <div class="text-inner">
                  <a class="link-text-underline"><i class="fa fa-plus-circle mr-2"></i>{{ 'lbl.user.setting.link_add_card' | translate }}</a>
              </div>
            </div>
          </div>
        </div>-->
      </div>
      <div class="text-center add-new">
        <a class="btn-add-new-address click-able" (click)="addNewCard('card')">
          <span class="text"> {{ 'lbl.user.setting.btn_add_card'  | translate }}</span>
        </a>
      </div>
    </div>
    <!-- <div class="col-lg-12">
      <h3 class="text-center heading not-first">{{ 'lbl.user.setting.footer.heading' | translate }}</h3>
      <p class="note">{{ 'lbl.user.setting.footer.note' | translate }}</p>
      <div class="text-center add-new">
        <a class="btn-add-new-address click-able">
          <span class="text"> {{ 'lbl.user.setting.footer.btn_delete_account'  | translate }}</span>
        </a>
      </div>
    </div> -->
  </div>
</div>
<edit-user-modal (hasChange)="hasChangeUserInfo($event)"></edit-user-modal>
<change-password-modal></change-password-modal>
<delivery-address-modal-form (hasChange)='hasChangeAddress($event)'></delivery-address-modal-form>
<card-modal-form (hasChange)='hasChangeCard($event)'><card-modal-form>

<!--<edit-address-modal (hasChange)='hasChangeAddress($event)'></edit-address-modal>
<create-address-modal (hasChange)='hasChangeAddress($event)'></create-address-modal>-->
<!--<create-card-modal (hasChange)='hasChangeCard($event)'></create-card-modal>-->