@import "../../../../../assets/sass/mixins/color";
@media (max-width: 767px) {
  #user-order-detail {
    padding-left: 10px;
    padding-top: 34px;
    padding-right: 10px;
    .primary-color {
      color: $primary-color;
      font-family: 'Muli Bold';
    }
    .back-link {
      background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-back.png') no-repeat 0 7px;
      padding-left: 15px !important;
      font-size: 14px;
      font-family: 'Muli';
      &:hover {
      }
    }
    .track-order {
      display: none;
    }
    .track-order-mobile {
      display: block;
      color: $primary-color;
      font-family: 'Muli';
      background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/delivery-truck.png')  no-repeat 0 4px;
      padding-left: 39px !important;
      margin-top: 9px !important;
      margin-left: 0 !important;
      &:hover {
      }
    }

    .cart-list-detail {
      .row-info {
        padding: 3px 0px;
        &:first {
          padding-top: 0px;
        }
      }
      .text--right {
        text-align: right;
        padding-right: 170px;
      }
      .grand-total {
        display: grid;
        .small-text {
          width: 100%;
          display: block;
        }
      }
      .grand-total-price {
        color: #3a6e9c;
        padding-top: 11px;
      }
    }
    h2.heading {
      margin: 0px 0 23px;
    }
    .box {
      &.box-have-border {
        .box-header {
          padding-top: 7px;
          padding-left: 6px;

          *, *:after, *:before {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
          }

          .order-no {
            font-family: 'Muli';
            font-size: 24px;
            span {
              margin-right: 28px;
            }
          }
          .placed-on {
            text-transform: uppercase;
            font-size: 14px;
            margin-top: 4px;
            span {
              text-transform: none;
            }
          }
          
        }
        .box-body {
          padding-top: 18px;
          padding-left: 5px;
          // p {
          //   line-height: 14px;
          //   font-size: 13px;
          // }
          // span {
          //   line-height: 20px;
          //   font-size: 13px;
          // }
          .heading {
            font-family: 'Muli Bold';
            font-size: 16px;
            color: #698eb1;
            // max-width: 12%;
            .des {
              display: block;
              margin: 15px 0;
              color: #0b0b0b;
            }
            .btn-complete {
              display: block;
              margin-bottom: 50px;
            }
          }

          .heading-subs {
            font-family: 'Muli Bold';
            font-size: 16px;
          }

          .account-info {
          }

          .address-info {
            .shipping, .billing {
              span {
                display: block;
                max-width: 70%;
              }
            }

            .shipping {

            }

            .billing {
              margin-top: 10px;
            }

          }

          .payment-info {
            margin-top: 1.9rem !important;
            .card-info {
              background: none;
              display: grid;
              .card-image {
                float: left;
                margin-right: 27px;
                margin-top: 6px;
                margin-left: 5px;
              }
              .card-text {
                display: inline-block;
                margin-top: 15px;
                span {
                  display: block
                }
              }
            }
          }
          .cart-list-detail {
            padding-top: 7px;
            ul {
              border-bottom: 1px solid #ccc;
              li {
                border: none;
              }
            }
            .hidden-mobile {
              display: none !important;
            }
            .display-mobile {
              display: block !important;
              width: 37%;
              text-align: right;
            }
            .item {
              padding: 27px 0 27px 0;
            }
            .item-info {
              // width: 47%;
              width: 100%;
              &.item-info-cus {
                width: 100%;
              }
              .image-contain {
                max-width: 37%;
                width: 37%;
              }
              .text-contain {
                max-width: 60%;
                padding-left: 18px;
                .product-name {
                  font-size: 17px;
                }
              }
            }
            .item-info-mobile {
              padding-bottom: 9px;
            }
            .item-price {
              padding-top: 0;
              padding-bottom: 19px;
              width: 100%;
              display: -webkit-box;
              div.text-contain {
                // padding-left: 0px;
                width: 60%;
                margin: 0;
                .text-inner {
                  height: auto;
                  display: inherit;
                  // width: 0;
                  margin: auto;
                }
              }
            }
            .item-quantity {
              padding-top: 0;
              padding-bottom: 19px;
              width: 100%;
              display: -webkit-box;
              div.text-contain {
                // padding-left: 0px;
                width: 60%;
                margin: 0;
                .text-inner {
                  height: auto;
                  display: inherit;
                  // width: 0;
                  margin: auto;
                }
              }
            }
            .item-total {
              padding-top: 0;
              padding-bottom: 19px;
              width: 100%;
              display: -webkit-box;
              div.text-contain {
                // padding-left: 0px;
                float: none;
                width: 60%;
                margin: 0;
                .text-inner {
                  height: auto;
                  display: inherit;
                  // width: 0;
                  margin: auto;
                }
              }
            }
            .price-summary {
              display: none !important;
            }
          }
          .price-summary-mobile {
            display: -webkit-inline-box;
            background-color: #F8F8F8;
            // padding: 20px 35px;
            padding-top: 20px;
            .row-info {
              display: -webkit-inline-box;
              width: 100%;
              margin-left: 0;
              span {
                margin-left: -15px;
                font-size: 15px;
                float: left;
                padding-left: 34px;
              }
              span.payment-incld {
                font-size: 14px;
                color: #666666;
              }
              strong {
                float: right;
                text-align: right;
              }
            }
            .row-info-grand-total {
              border-top: 1px solid #ccc;
              margin-top: 20px;
              padding-top: 20px;
              padding-bottom: 20px;
            }
            .grand-total {
              display: grid;
              padding-left: 0;
              .small-text {
                width: 100%;
                display: block;
              }
            }
            .grand-total-price {
              color: #3a6e9c;
              padding-top: 11px;
            }
          }
        }
        .back-to-list {
          position: absolute;
          top: -2px;
          left: 14px;
          padding-top: 1px !important;
        }
      }
    }
    .note {
      font-family: 'Muli Bold';
      padding: 0 70px;
      .note-1 {
        font-size: 16px;
      }
      .note-2 {
        font-size: 14px;
        color: #aaacaf;
        background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-shield.png') no-repeat top left;
        min-height: 35px;
        padding-left: 40px; 
      }
    }
    .font-20 {
      font-size: 20px;
    }
    .color-light-grey {
      color: #adadad;
    }
  }
}