#user-order-detail .block-current-order {
  padding: 20px 15px;
  margin: 0 0 20px;
  border: 1px solid silver;
}

#user-order-detail .block-current-order h1.page-header {
  font-size: 25px;
  border: none;
  margin: 0px 0px 0px;
}

#user-order-detail .block-current-order h2.page-header {
  font-size: 18px;
  border: none;
  margin: 0px 0px 0px;
}

#user-order-detail .block-current-order .block-tracking {
  margin: 0 0 20px;
}

#user-order-detail .block-current-order .items .p-inline {
  width: 100%;
  float: left;
}
