@import "../../../../../assets/sass/mixins/color";
#user-order-detail {
  padding-left: 47px;
  padding-top: 30px;
  .primary-color {
    color: $primary-color;
    font-family: 'Muli Bold';
  }
  .back-link {
    background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-back.png') no-repeat 0 7px;
    padding-left: 15px !important;
    font-size: 14px;
    font-family: 'Muli';
    // font-weight: bold;
    &:hover {
      // text-decoration: underline;
    }
  }
  .track-order {
    display: block;
    color: $primary-color;
    font-family: 'Muli';
    background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/delivery-truck.png')  no-repeat 0 4px;
    padding-left: 39px !important;
    margin-top: 9px !important;
    margin-left: 32px !important;
    &:hover {
      // text-decoration: underline;
    }
  }
  .track-order-mobile {
    display: none;
  }

  .cart-list-detail {
    width: 100%;
    .text-contain {
      max-width: 70%;
      .text-inner {
        .product-name,.product-description{
          .hight-light {
            font-family: 'Muli Bold';
            font-size: 16px;
            color: #3A6E9C;
          }
        }
      }
    }
    .row-info {
      padding: 3px 0px;
      &:first {
        padding-top: 0px;
      }
    }
    .text--right {
      text-align: right;
      padding-right: 170px;
    }
    .grand-total {
      display: grid;
      .small-text {
        width: 100%;
        display: block;
      }
    }
    .grand-total-price {
      color: #3a6e9c;
      padding-top: 6px;
    }
    .non-pd {
      padding-left: 0;
    }
  }
  h2.heading {
    margin: 0px 0 23px;
  }
  .box {
    &.box-have-border {
      // padding: 35px 30px 20px;
      // border: 1px solid #d7d7d7;
      .box-header {
        // border-bottom: 1px solid #d7d7d7;
        // padding-bottom: 25px;

        *, *:after, *:before {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          // font-family: "Open Sans";
        }

        .order-no {
          font-family: 'Muli';
          font-size: 24px;
          span {
            margin-right: 28px;
          }
        }
        .placed-on {
          text-transform: uppercase;
          // font-weight: 700;
          font-size: 14px;
          margin-top: 4px;
          span {
            text-transform: none;
          }
        }
        
        
        /* Form Progress */
        // .cus-progress-bar {
        //   // width: 500px;
        //   // margin: 20px auto;
        //   text-align: center;
        // }
        // .cus-progress-bar .circle,
        // .cus-progress-bar .bar {
        //   display: inline-block;
        //   background: #fff;
        //   width: 28px; height: 28px;
        //   border-radius: 28px;
        //   border: 1px solid #d5d5da;
        // }
        // .cus-progress-bar .bar {
        //   position: relative;
        //   width: 80px;
        //   height: 6px;
        //   margin: 0 -5px 26px -5px;
        //   border-left: none;
        //   border-right: none;
        //   border-radius: 0;
        // }
        // .cus-progress-bar .circle .label {
        //   display: inline-block;
        //   width: 20px;
        //   height: 20px;
        //   line-height: 20px;
        //   border-radius: 20px;
        //   // margin-top: 3px;
        //   color: #b5b5ba;
        //   font-size: 12px;
        // }
        // .cus-progress-bar .circle .title {
        //   color: #b5b5ba;
        //   font-size: 12px;
        //   line-height: 30px;
        //   white-space: nowrap;
        // }
        // .title-1 {
        //   margin-left: -7px;
        // }
        // .title-2 {
        //   margin-left: -35px;
        // }
        // .title-3 {
        //   margin-left: -29px;
        // }
        // .title-4 {
        //   margin-left: -20px;
        // }
        // .title-5 {
        //   margin-left: -27px;
        // }
        // .title-6 {
        //   margin-left: -7px;
        // }
        
        // /* Done / Active */
        // .cus-progress-bar .bar.done,
        // .cus-progress-bar .circle.done {
        //   background: #eee;
        // }
        // .cus-progress-bar .bar.active {
        //   background: linear-gradient(to right, #EEE 40%, #FFF 60%);
        // }
        // .cus-progress-bar .circle.done .label {
        //   color: #FFF;
        //   background: #8bc435;
        //   box-shadow: inset 0 0 2px rgba(0,0,0,.2);
        // }
        // .cus-progress-bar .circle.done .title {
        //   color: #444;
        // }
        // .cus-progress-bar .circle.active .label {
        //   color: #FFF;
        //   background: #0c95be;
        //   box-shadow: inset 0 0 2px rgba(0,0,0,.2);
        // }
        // .cus-progress-bar .circle.active .title {
        //   color: #0c95be;
        // }
      }
      .box-body {
        padding-top: 10px;
        p {
          // line-height: 14px;
          // font-size: 13px;
        }
        span {
          // line-height: 20px;
          // font-size: 13px;
        }
        .heading {
          font-family: 'Muli Bold';
          font-size: 16px;
          color: #698eb1;
          // max-width: 12%;
          .des {
            display: block;
            margin: 15px 0;
            color: #0b0b0b;
          }
          .btn-complete {
            display: block;
            margin-bottom: 50px;
          }
        }

        .heading-subs {
          font-family: 'Muli Bold';
          font-size: 16px;
        }

        .account-info {
        }

        .address-info {
          .shipping, .billing {
            span {
              display: block;
              max-width: 70%;
            }
          }

          .shipping {

          }

          .billing {

          }

        }

        .payment-info {
          margin-top: 2rem !important;
          .card-info {
            background: none;
            .card-image {
              float: left;
              margin-right: 27px;
              margin-top: 6px;
              margin-left: 5px;
            }
            .card-text {
              display: inline-block;
              span {
                display: block
              }
            }
          }
        }
        .cart-list-detail {
          ul {
            border-bottom: 1px solid #ccc;
            li {
              border: none;
            }
          }
          .hidden-mobile {
            display: block !important;
          }
          .display-mobile {
            display: none !important;
          }
          .item {
            padding: 29px 0 29px 0;
          }
          .item-info {
            width: 47%;
            &.item-info-cus {
              width: 80%;
            }
            .image-contain {
              max-width: 26%;
            }
          }
          .item-price {
            width: 35%;
            div {
              padding-left: 0px;
            }
          }
          .item-quantity {
            width: 8%;
            div {
              padding-left: 0px;
            }
          }
          .item-total {
            width: 10%;
            div {
              padding-left: 0px;
              float: none;
            }
          }
          .price-summary {
            // display: block;
            background-color: #F8F8F8;
            padding: 20px 35px;
            span {
              font-size: 15px;
            }
            span.payment-incld {
              font-size: 14px;
              color: #666666;
            }
          }
        }
          .price-summary-mobile {
            display: none;
          }
      }
      .back-to-list {
        position: absolute;
        top: 0px;
        padding-top: 1px !important;
      }
    }
  }
  .note {
    font-family: 'Muli Bold';
    padding: 0 70px;
    .note-1 {
      font-size: 16px;
    }
    .note-2 {
      font-size: 14px;
      color: #aaacaf;
      background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-shield.png') no-repeat top left;
      min-height: 35px;
      padding-left: 40px; 
    }
  }
  .font-20 {
    font-size: 20px;
  }
  .color-light-grey {
    color: #adadad;
  }
  .lh-16 {
    line-height: 16px;
  }
}


@import '_user-order-detail-response.component';