<div id="user-order-detail">
    <div class="">
      <!-- <div class="col-lg-12">
        <h3 class=" text-center heading">{{ 'lbl.user.order.detail.header_history' | translate }}</h3>
      </div> -->
      <!-- <div class="loading-spinner" *ngIf="isloading"><i class="fa fa-spinner fa-spin"></i></div> -->
      <div class="box box-have-border" *ngIf="orderInfo">
        <div class="box-inner">
          <div class="box-header">
            <div class="box-flex">
              <span class="order-no"><span>{{ 'lbl.user.order.detail.order_id' | translate }}</span>{{ orderInfo.id | orderNo:orderInfo.Country.code}}</span>
              <div *ngIf="orderInfo.deliveryId">
                <a class="ml-5 click-able track-order" href="https://shaves2u.aftership.com/{{orderInfo.deliveryId}}" target="_blank" *ngIf="orderInfo.deliveryId">{{ 'lbl.user.order.detail.link_track_order' | translate }}</a>
              </div>
              <!--<div class="cus-progress-bar flex">
                <div class="circle" [ngClass]="{'done' : state >= 1}">
                  <span class="label">{{barValue[0]}}</span>
                  <span class="title title-1">{{ 'lbl.user.order.detail.order_state_on_hold' | translate }}</span>
                </div>
                <span class="bar" [ngClass]="{'done' : state >= 2}"></span>
                <div class="circle" [ngClass]="{'done' : state >= 2}">
                  <span class="label">{{barValue[1]}}</span>
                  <span class="title title-2">{{ 'lbl.user.order.detail.order_state_payment' | translate }}</span>
                </div>
                <span class="bar" [ngClass]="{'done' : state >= 3}"></span>
                <div class="circle" [ngClass]="{'done' : state >= 3}">
                  <span class="label">{{barValue[2]}}</span>
                  <span class="title title-3">{{ 'lbl.user.order.detail.order_state_processing' | translate }}</span>
                </div>
                <span class="bar" [ngClass]="{'done' : state >= 4}"></span>
                <div class="circle" [ngClass]="{'done' : state >= 4}">
                  <span class="label">{{barValue[3]}}</span>
                  <span class="title title-4">{{ 'lbl.user.order.detail.order_state_deliver' | translate }}</span>
                </div>
                <span class="bar" [ngClass]="{'done' : state >= 5}"></span>
                <div class="circle" [ngClass]="{'done' : state >= 5}">
                  <span class="label">{{barValue[4]}}</span>
                  <span class="title title-5" *ngIf="state !== 6">{{ 'lbl.user.order.detail.order_state_received' | translate }}</span>
                  <span class="title title-6" *ngIf="state === 6">{{ 'lbl.user.order.detail.order_state_cancel' | translate }}</span>
                </div>
              </div>-->
              <a class="click-able back-to-list primary-color back-link" (click)="backToList()">{{ 'lbl.user.order.detail.link_close' | translate }}</a>
            </div>
            <p *ngIf="this.storage.getLanguageCode() === 'EN'" class="placed-on"><span>{{ 'lbl.user.order.detail.placed_on' | translate }} </span>{{orderInfo.createdAt | date:'dd MMM yyyy'}}</p>
            <p *ngIf="this.storage.getLanguageCode() === 'KO'" class="placed-on">{{orderInfo.createdAt | date:'dd MMM yyyy'}}<span>{{ 'lbl.user.order.detail.placed_on' | translate }} </span></p>
            <a class="ml-5 click-able track-order-mobile" href="https://shaves2u.aftership.com/{{orderInfo.deliveryId}}" target="_blank" *ngIf="orderInfo.deliveryId">{{ 'lbl.user.order.detail.link_track_order' | translate }}</a>
          </div>        
          <div class="box-body">
             <div class="row px-0 mx-0 account-info mt-4">
              <div class="col-md-12 col-lg-2 px-0 heading">
                <h5 class="heading">{{ 'checkout.step_review.account.heading' | translate }}</h5>
              </div>
              <div class="col-md-12 col-lg-5 px-0">
                <p class="lh-16" *ngIf="orderInfo.User">{{ orderInfo.User.email }}</p>
                <p class="lh-16" *ngIf="!orderInfo.User">{{ orderInfo.email }}</p>
              </div>
            </div>
            <div class="row px-0 mx-0 address-info mt-3">
              <div class="col-md-12 col-lg-2 px-0 heading">
                <h5 class="heading">{{ 'checkout.step_review.address.heading' | translate }}</h5>
              </div>
              <div class="col-md-12 col-lg-4 px-0 shipping" *ngIf="orderInfo.DeliveryAddress">
                <h5 class="heading-subs">{{ 'checkout.step_review.address.heading_shipping' | translate }}</h5>
                <span *ngIf="orderInfo.DeliveryAddress.firstName">{{ orderInfo.DeliveryAddress.firstName + ' ' + orderInfo.DeliveryAddress.lastName }}</span>
                <span *ngIf="!orderInfo.DeliveryAddress.firstName">{{ orderInfo.DeliveryAddress.fullName }}</span>
                <span>{{ orderInfo.DeliveryAddress.address + ', ' + orderInfo.DeliveryAddress.city + ', ' + orderInfo.DeliveryAddress.portalCode + ', ' + orderInfo.DeliveryAddress.state }}</span>
                <span>{{ orderInfo.DeliveryAddress.contactNumber }}</span>
              </div>
              <div class="col-md-12 col-lg-4 px-0 billing" *ngIf="orderInfo.BillingAddress">
                <h5 class="heading-subs">{{ 'checkout.step_review.address.heading_billing' | translate }}</h5>
                <span *ngIf="orderInfo.BillingAddress.firstName">{{ orderInfo.BillingAddress.firstName + ' ' + orderInfo.BillingAddress.lastName }}</span>
                <span *ngIf="!orderInfo.BillingAddress.firstName">{{ orderInfo.DeliveryAddress.fullName }}</span>
                <span>{{ orderInfo.BillingAddress.address  + ', ' + orderInfo.BillingAddress.city + ', ' + orderInfo.BillingAddress.portalCode + ', ' + orderInfo.BillingAddress.state }}</span>
                <span>{{ orderInfo.BillingAddress.contactNumber }}</span>
              </div>
            </div>
            <div class="row px-0 mx-0 payment-info mt-4">
              <div class="col-md-12 col-lg-2 px-0 heading">
                <h5 class="heading">{{ 'checkout.step_review.payment.heading' | translate }}</h5>
              </div>
              <div class="col-md-12 col-lg-5 px-0 card-info">
                <div class="box-flex card-image" *ngIf="orderInfo.paymentType === 'stripe' && orderInfo.Receipt.branchName">
                  <img class="" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/visa-128.png" *ngIf="orderInfo.Receipt.branchName.toUpperCase() === 'VISA'">
                  <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/mastercard-logo.png" *ngIf="orderInfo.Receipt.branchName.toUpperCase() === 'MASTERCARD'">
                </div>
                <div class="box-flex card-image" *ngIf="orderInfo.paymentType === 'iPay88'">
                  <img class="" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/ipay88_logo.png">
                </div>
                <div class="card-text" *ngIf="orderInfo.paymentType === 'stripe' && orderInfo.Receipt.last4 && orderInfo.Receipt.expiredMonth && orderInfo.Receipt.expiredYear">
                  <span>{{ 'checkout.step_review.payment.ending_in' | translate }} {{ orderInfo.Receipt.last4 }}</span>
                  <span>{{ 'checkout.step_review.payment.exprired_on' | translate }} {{ orderInfo.Receipt.expiredMonth }}/{{ orderInfo.Receipt.expiredYear.slice(-2) }}</span>
                </div>
                <p class="lh-16" *ngIf="!orderInfo.Receipt.branchName || !orderInfo.Receipt.last4 || !orderInfo.Receipt.expiredMonth || !orderInfo.Receipt.expiredYear">
                  {{ 'checkout.step_review.payment.payment_fail' | translate }}
                </p>
              </div>
            </div>
            <!--<div class="row justify-content-between">
              <div class="col-lg-5">
                <div class="box-flex">
                  <span class="flex">{{ 'lbl.user.order.detail.discount' | translate }}</span><strong>{{orderInfo.Receipt.discountAmount | smsCurrency}}</strong>
                </div>
                <div class="box-flex">
                  <span class="flex">{{ 'lbl.user.order.detail.subtotal' | translate }}</span><strong>{{orderInfo.Receipt.subTotalPrice | smsCurrency}}</strong>
                </div>
                <div class="box-flex">
                  <span class="flex">{{ 'lbl.user.order.detail.shipping_cost' | translate }}</span><strong>{{(orderInfo.Receipt.shippingFee != 0.00) ? (orderInfo.Receipt.shippingFee | smsCurrency) : ('lbl.user.order.detail.free' | translate) }}</strong>
                </div>
                <div class="box-flex">
                  <span class="flex"n>{{ 'lbl.user.order.detail.promo_cd' | translate }}</span><strong>{{orderInfo.promoCode ? orderInfo.promoCode : 'lbl.user.order.detail.none' | translate }}</strong>
                </div>
                <div class="box-flex">
                  <span class="flex">{{ 'lbl.user.order.detail.total_incld_tax' | translate }}</span><strong>{{orderInfo.Receipt.totalPrice | smsCurrency}}</strong>
                </div>
                <div class="box-flex">
                  <strong class="flex">{{ 'lbl.user.order.detail.payment_method' | translate }}</strong>
                  <span [hidden]="orderInfo.paymentType !== 'stripe'">{{ 'lbl.user.order.detail.cre_deb_card' | translate }}</span>
                  <span [hidden]="orderInfo.paymentType === 'stripe'">{{ 'lbl.user.order.detail.ipay88' | translate }}</span>
                </div>
              </div>
              <div class="col-lg-5">
                <p><strong>{{ 'lbl.user.order.detail.shipping_details' | translate }}</strong></p>
                <div class="box-flex">
                  <i class="fa fa-user mr-4"></i><span>{{orderInfo.DeliveryAddress.firstName}} {{orderInfo.DeliveryAddress.lastName}}</span>
                </div>
                <div class="box-flex">
                  <i class="fa fa-phone mr-4"></i><span>{{orderInfo.DeliveryAddress.contactNumber}}</span>
                </div>
                <div class="box-flex">
                  <i class="fa fa-map-marker mr-4"></i><span>{{orderInfo.DeliveryAddress.address}} {{orderInfo.DeliveryAddress.city}}</span>
                </div>
              </div>
            </div>-->
            <div class="row px-0 mx-0">
              <div class="cart-list-detail">
                <div class="cart-list-contain">
                  <ul class="row-custom row no-gutters mb-0">
                    <li class="item item-info item-info-mobile" [ngClass]="{ 'item-info-cus' : (orderInfo.Subscriptions && orderInfo.Subscriptions[0].isTrial) }"><strong>{{ 'lbl.user.order.detail.item' | translate }}</strong></li>
                    <ng-container *ngIf="!orderInfo.Subscriptions || (orderInfo.Subscriptions[0] && !orderInfo.Subscriptions[0].isTrial)">
                    <li class="item item-quantity text-center hidden-mobile"><strong>{{ 'lbl.user.order.detail.quantity' | translate }}</strong></li>
                    <li class="item item-price text-center hidden-mobile"><strong>{{ 'lbl.user.order.detail.price' | translate }}</strong></li>
                    <li class="item item-total text-center hidden-mobile"><strong>{{ 'lbl.user.order.detail.total' | translate }}</strong></li>
                    </ng-container>
                    <ng-container *ngIf="orderInfo.Subscriptions && orderInfo.Subscriptions[0].isTrial">
                    <li class="item item-total text-center hidden-mobile"><strong>{{ 'lbl.user.order.detail.price' | translate }}</strong></li>
                    </ng-container>
                  </ul>
                  <ul class="row row-custom text-center no-gutters mb-0" *ngFor="let item of orderInfo.orderDetail">
                    <li class="item item-info" [ngClass]="{ 'item-info-cus' : (orderInfo.Subscriptions && orderInfo.Subscriptions[0].isTrial) }">
                      <div class="image-contain image-center-with-border pull-left">
                        <div class="image-inner">
                          <div class="image">
                              <ng-container *ngIf="item.ProductCountry">
                                  <ng-container *ngIf="item.ProductCountry.Product.sku === 'ASK6/2018' || item.ProductCountry.Product.sku === 'ASK5/2018' || item.ProductCountry.Product.sku === 'ASK3/2018'">
                                    <img src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/677b6a40-c707-11e8-8e47-efb823843057.png">
                                  </ng-container>
                                  <ng-container *ngIf="item.ProductCountry.Product.sku !== 'ASK6/2018' && item.ProductCountry.Product.sku !== 'ASK5/2018' && item.ProductCountry.Product.sku !== 'ASK3/2018'">
                                      <display-image [images]="item.ProductCountry.Product.productImages"></display-image>
                                  </ng-container>
                              </ng-container>
                              <!-- <display-image [images]="item.ProductCountry.Product.productImages" *ngIf="item.ProductCountry"></display-image> -->
                          <display-image [images]="item.PlanCountry.Plan.planImages" *ngIf="item.PlanCountry"></display-image>
                          </div>
                        </div>
                      </div>
                      <div class="text-contain text-center-vertical pull-left">
                        <div class="text-inner" *ngIf="item.ProductCountry">
                          <h4 class="product-name"><strong>{{item.ProductCountry.Product.productTranslate | productTranslate: 'name'}}</strong></h4>
                          <p class="product-description">
                            <appProductDescription [productTranslate]="item.ProductCountry.Product.productTranslate"></appProductDescription>
                          </p>
                        </div>
                        <!-- <div class="text-inner" *ngIf="item.PlanCountry">
                          <h4 class="product-name"><strong>{{item.PlanCountry.Plan.planTranslate | productTranslate: 'name'}}</strong></h4>
                          <p class="product-description">
                            <appProductDescription [productTranslate]="item.PlanCountry.Plan.planTranslate"></appProductDescription>
                          </p>
                        </div> -->
                        <div class="text-inner" *ngIf="item.PlanCountry">
                          <h4 class="product-name">
                            <strong>
                              <!--{{item.PlanCountry.Plan.planTranslate | productTranslate: 'name'}}-->
                              {{ 'lbl.checkout.summary_place_order.free_trial_info.heading' | translate }}
                            </strong>
                          </h4>
                          <div class="product-description" *ngIf="orderInfo.Subscriptions[0].startDeliverDate"
                            [innerHTML]="'lbl.checkout.summary_place_order.free_trial_info.details_text' | translate : {name: item.PlanCountry.Plan.planTranslate | productTranslate: 'name', price: (item.PlanCountry.pricePerCharge * item.qty) | smsCurrency, date: orderInfo.Subscriptions[0].startDeliverDate | date : 'dd MMMM yyyy'}">
                            <!-- {{ 'lbl.checkout.summary_place_order.free_trial_info.details_text_1' | translate }}
                            <span class="hight-light">{{item.PlanCountry.Plan.planTranslate | productTranslate: 'name'}}</span>
                            {{ 'lbl.checkout.summary_place_order.free_trial_info.details_text_2' | translate }}
                            <span class="hight-light" >{{ (item.PlanCountry.pricePerCharge * item.qty) | smsCurrency}}</span> -->
                            <!-- {{ 'lbl.checkout.summary_place_order.free_trial_info.details_text_3' | translate }}
                            <span class="hight-light">{{ (item.PlanCountry.Plan.PlanType.name)}}</span> -->
                            <!-- {{ 'lbl.checkout.summary_place_order.free_trial_info.details_text_4' | translate }}
                            <span class="hight-light">{{ orderInfo.Subscriptions[0].startDeliverDate | date : 'dd MMMM yyyy' }}</span> -->
                            <!--<appProductDescription [productTranslate]="item.PlanCountry.Plan.planTranslate"></appProductDescription>-->
                          </div>
                          <div class="product-description" *ngIf="!orderInfo.Subscriptions[0].startDeliverDate"
                            [innerHTML]="'lbl.checkout.summary_place_order.free_trial_info.details_text_no_start_date' | translate : {name: item.PlanCountry.Plan.planTranslate | productTranslate: 'name', price: (item.PlanCountry.pricePerCharge * item.qty) | smsCurrency, date1: deliverDate1 | date : 'dd MMMM yyyy', date2: deliverDate2 | date : 'dd MMMM yyyy'}">
                          </div>
                        </div>
                      </div>
                    </li>
                    <ng-container *ngIf="!orderInfo.Subscriptions || (orderInfo.Subscriptions[0] && !orderInfo.Subscriptions[0].isTrial)">
                    <li class="item item-quantity">
                      <strong class="display-mobile">{{ 'lbl.user.order.detail.quantity' | translate }}</strong>
                      <div class="text-contain text-center-vertical">
                        <div class="text-inner">
                          <span class="item-qty">{{item.qty}}</span>
                        </div>
                      </div>
                    </li>
                    <li class="item item-price">
                      <strong class="display-mobile">{{ 'lbl.user.order.detail.price' | translate }}</strong>
                      <div class="text-contain text-center-vertical">
                        <div class="text-inner">
                          <span class="item-pricer color-light-grey" *ngIf="item.ProductCountry">{{(item.price > 0) ? (orderCurrencyCode + (item.price | number:'1.2-2')) : ('lbl.cart.free' | translate) }}</span>
                          <!--<span class="item-price" *ngIf="item.PlanCountry">{{ item.currency }}{{ (item.PlanCountry.sellPrice) }}</span>-->
                          <span class="item-pricer color-light-grey" *ngIf="item.PlanCountry">{{ orderCurrencyCode }}{{ (item.price) / item.PlanCountry.Plan.PlanType.totalChargeTimes | number:'1.2-2' }}</span>
                        </div>
                      </div>
                    </li>
                    <li class="item item-total">
                      <strong class="display-mobile">{{ 'lbl.user.order.detail.total' | translate }}</strong>
                      <div class="text-contain text-center-vertical">
                        <div class="text-inner">
                         <span class="item-pricer" *ngIf="item.ProductCountry">{{(item.price > 0) ? orderCurrencyCode + (item.price * item.qty | number:'1.2-2') : ('lbl.cart.free' | translate) }}</span>
                          <!--<span class="item-price" *ngIf="item.PlanCountry">{{ (item.PlanCountry.sellPrice * item.qty) | smsCurrency }}</span><br/>-->
                          <span class="item-pricer" *ngIf="item.PlanCountry">{{ orderCurrencyCode }}{{ (item.price * item.qty) / item.PlanCountry.Plan.PlanType.totalChargeTimes | number:'1.2-2' }}</span>
                        </div>
                      </div>
                    </li>
                    </ng-container>
                    <ng-container *ngIf="orderInfo.Subscriptions && orderInfo.Subscriptions[0].isTrial">
                      <li class="item item-total">
                        <strong class="display-mobile">{{ 'lbl.user.order.detail.price' | translate }}</strong>
                        <div class="text-contain text-center-vertical">
                          <div class="text-inner">
                            <span class="item-total">{{ ('0.00') | smsCurrency }}</span>
                          </div>
                        </div>
                      </li>
                    </ng-container>
                  </ul>
                </div>
                <div class="row no-gutters mt-4 price-summary">
                  <div class="col-md-7">
                    <div class="row row-info">
                      <span class="col-md-5">{{ 'lbl.checkout.thankyou.total' | translate }}</span>
                      <strong class="col-md-7">{{ orderCurrencyCode }}{{orderInfo.Receipt.originPrice | number:'1.2-2'}}</strong>
                    </div>  
                    <div class="row row-info">
                      <span class="col-md-5">{{ 'lbl.checkout.thankyou.discount' | translate }}</span>
                      <strong class="col-md-7">{{ orderCurrencyCode }}{{orderInfo.Receipt.discountAmount | number:'1.2-2'}}</strong>
                    </div>
                    <div class="row row-info">
                      <span class="col-md-5">{{ 'lbl.checkout.thankyou.subtotal' | translate }}</span>
                      <strong class="col-md-7">{{ orderCurrencyCode }}{{orderInfo.Receipt.subTotalPrice | number:'1.2-2'}}</strong>
                    </div>
                    <div class="row row-info">
                      <span class="col-md-5">{{ 'lbl.checkout.thankyou.shipping_cost' | translate }}</span>
                      <strong class="col-md-7">{{(orderInfo.Receipt.shippingFee != 0.00) ? orderCurrencyCode + (orderInfo.Receipt.shippingFee | number:'1.2-2') : ('lbl.checkout.thankyou.free' | translate) }}</strong>
                    </div>
                    <div class="row row-info">
                      <span class="col-md-5">{{ 'lbl.checkout.thankyou.promo_cd' | translate }}</span>
                      <strong class="col-md-7">{{orderInfo.promoCode ? orderInfo.promoCode : 'lbl.checkout.thankyou.none' | translate }}</strong>
                    </div>
                    <!-- <div class="row row-info">
                      <span class="col-md-6">{{ 'lbl.checkout.thankyou.total_incld_tax' | translate }}</span>
                      <strong class="col-md-6 text--right">{{ orderCurrencyCode }}{{orderInfo.Receipt.totalPrice}}</strong>
                    </div> -->
                  </div>
                  <div class="col-md-5">
                    <div class="row">
                      <div class="col-md-8 grand-total">
                        <span class="flex" *ngIf="orderInfo.Country.includedTaxToProduct">{{ 'lbl.cart.total_incld_tax' | translate }}</span>
                        <span class="flex" *ngIf="!orderInfo.Country.includedTaxToProduct">{{ 'lbl.cart.grand_total' | translate }}</span>
                        <span class="flex font-12 small-text payment-incld" [innerHTML]="'lbl.cart.payment_incld' | translate : {taxRate: orderInfo.taxRate, taxName: orderInfo.taxName}" *ngIf="orderInfo.Country.includedTaxToProduct"></span>
                      </div>
                      <div class="col-md-4 grand-total-price text-right font-20 non-pd" [ngClass]="orderInfo.Country.includedTaxToProduct ? '' : 'pt-0'">
                        <strong>{{ orderCurrencyCode }}{{orderInfo.Receipt.totalPrice | number:'1.2-2'}}</strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="mt-4 price-summary-mobile">
                <div class="row row-info">
                  <span class="col-7">{{ 'lbl.checkout.thankyou.total' | translate }}</span>
                  <strong class="col-5">{{ orderCurrencyCode }}{{orderInfo.Receipt.originPrice | number:'1.2-2'}}</strong>
                </div>
                <div class="row row-info">
                  <span class="col-7">{{ 'lbl.checkout.thankyou.discount' | translate }}</span>
                  <strong class="col-5">{{ orderCurrencyCode }}{{orderInfo.Receipt.discountAmount | number:'1.2-2'}}</strong>
                </div>
                <div class="row row-info">
                  <span class="col-7">{{ 'lbl.checkout.thankyou.subtotal' | translate }}</span>
                  <strong class="col-5">{{ orderCurrencyCode }}{{orderInfo.Receipt.subTotalPrice | number:'1.2-2'}}</strong>
                </div>
                <div class="row row-info">
                  <span class="col-7">{{ 'lbl.checkout.thankyou.shipping_cost' | translate }}</span>
                  <strong class="col-5">{{(orderInfo.Receipt.shippingFee != 0.00) ? orderCurrencyCode + (orderInfo.Receipt.shippingFee) : ('lbl.checkout.thankyou.free' | translate) }}</strong>
                </div>
                <div class="row row-info">
                  <span class="col-7">{{ 'lbl.checkout.thankyou.promo_cd' | translate }}</span>
                  <strong class="col-5">{{orderInfo.promoCode ? orderInfo.promoCode : 'lbl.checkout.thankyou.none' | translate }}</strong>
                </div>
                <!-- <div class="row row-info">
                  <span class="col-7">{{ 'lbl.checkout.thankyou.total_incld_tax' | translate }}</span>
                  <strong class="col-5">{{ orderCurrencyCode }}{{orderInfo.Receipt.totalPrice}}</strong>
                </div> -->
                <div class="row row-info row-info-grand-total">
                  <div class="col-8 grand-total">
                    <span class="flex" *ngIf="orderInfo.Country.includedTaxToProduct">{{ 'lbl.cart.total_incld_tax' | translate }}</span>
                    <span class="flex" *ngIf="!orderInfo.Country.includedTaxToProduct">{{ 'lbl.cart.grand_total' | translate }}</span>
                    <span class="flex font-12 small-text payment-incld" [innerHTML]="'lbl.cart.payment_incld' | translate : {taxRate: orderInfo.taxRate, taxName: orderInfo.taxName}" *ngIf="orderInfo.Country.includedTaxToProduct"></span>
                  </div>
                  <div class="col-4 grand-total-price text-right font-20" [ngClass]="orderInfo.Country.includedTaxToProduct ? '' : 'pt-0'">
                    <strong>{{ orderCurrencyCode }}{{orderInfo.Receipt.totalPrice | number:'1.2-2'}}</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>