<ng-container [formGroup]="aqForm">
  <div class="card mb-2" *ngFor="let faqTranslate of aqForm['controls']; let i=index">
    <div class="card-block" [formGroupName]="i">
      <button type="button" (click)="removeQA(i)" class="btn btn-default pull-right remove-faq-button" *ngIf="aqForm['controls'].length > 1">Remove</button>
      <div class="form-group" [ngClass]="!aqForm['controls'][i].controls.question.valid ? 'has-danger' : ''">
        <label><strong>Question(*)</strong></label>
        <input type="email" class="form-control" placeholder="Enter question" formControlName="question">
        <small class="form-text err_mess" *ngIf="aqForm['controls'][i].controls.question.hasError('required')">
          {{ 'msg.validation.required' | translate }}
        </small>
      </div>
      <div class="form-group" [ngClass]="!aqForm['controls'][i].controls.answer.valid ? 'has-danger' : ''">
        <label><strong>Answer(*)</strong></label>
        <textarea type="email" class="form-control" placeholder="Enter Answer" formControlName="answer" rows="7"></textarea>
        <small class="form-text err_mess" *ngIf="aqForm['controls'][i].controls.answer.hasError('required')">
          {{ 'msg.validation.required' | translate }}
        </small>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-secondary btn-sm mt-4" (click)="addFAQTranslate()">Add a Question</button>
</ng-container>