<ul *ngIf="options.totalItems > 0" class="pagination {{classStyle}}" id="{{idStyle}}">
	<li [ngClass]="{disabled:options.currentPage === 1}">
		<a (click)="setPage(options.currentPage - 1)">Previous</a>
	</li>
	<li class="active">
		<a>{{options.currentPage}}</a>
	</li>
	<li [ngClass]="{disabled:options.currentPage >= totalPages}">
		<a (click)="setPage(options.currentPage + 1)">Next</a>
	</li>
</ul>