<div class="row" [formGroup]="productCountryForm">
  <div class="col-sm-12 form-group">
    <div class="form-group">
      <div class="row">
        <label class="col-sm-12 control-label small" for="label-price-group"><strong>Price</strong></label>
        <div class="col-sm-6" [ngClass]="!productCountryForm.controls.basedPrice.valid && (parentOnActive || productCountryForm.get('basedPrice').touched || productCountryForm.get('basedPrice').dirty) ? 'has-danger' : ''">
          <label class="control-label small" for="label-basedPrice">Base price</label>
          <div class="input-group">
            <span class="input-group-addon">{{productCountryForm.value.currencyDisplay}}</span>
            <input type="number" class="form-control" name="basedPrice" id="input-basedPrice" placeholder=""
              formControlName="basedPrice">
          </div>
          <span class="form-control-feedback" *ngIf="!productCountryForm.controls.basedPrice.valid && (parentOnActive || productCountryForm.get('basedPrice').touched || productCountryForm.get('basedPrice').dirty)">
            {{ 'msg.validation.required' | translate }}
          </span>
        </div>
        <div class="col-sm-6" [ngClass]="!productCountryForm.controls.sellPrice.valid && (parentOnActive || productCountryForm.get('sellPrice').touched || productCountryForm.get('sellPrice').dirty) ? 'has-danger' : ''">
          <label class="control-label small" for="label-sellPrice">Sales Price</label>
          <div class="input-group">
            <span class="input-group-addon">{{productCountryForm.value.currencyDisplay}}</span>
            <input type="number" class="form-control" name="sellPrice" id="input-sellPrice" placeholder=""
              formControlName="sellPrice">
          </div>
          <span class="form-control-feedback" *ngIf="!productCountryForm.controls.sellPrice.valid && (parentOnActive || productCountryForm.get('sellPrice').touched || productCountryForm.get('sellPrice').dirty)">
            {{ 'msg.validation.required' | translate }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 form-group">
    <div class="form-group">
      <div class="row">
        <label class="col-sm-12 control-label small" for="label-qty-group"><strong>Quantity</strong></label>
        <div class="col-sm-6" [ngClass]="!productCountryForm.controls.qty.valid && (parentOnActive || productCountryForm.get('qty').touched || productCountryForm.get('qty').dirty) ? 'has-danger' : ''">
          <label class="control-label small" for="label-basedPrice">Qty</label>
          <div class="input-group">
            <input type="text" class="form-control" name="qty" id="input-qty" placeholder=""
              formControlName="qty">
          </div>
          <span class="form-control-feedback" *ngIf="!productCountryForm.controls.qty.valid && (parentOnActive || productCountryForm.get('qty').touched || productCountryForm.get('qty').dirty)">
            {{ 'msg.validation.required' | translate }}
          </span>
        </div>
        <div class="col-sm-6" [ngClass]="!productCountryForm.controls.maxQty.valid && (parentOnActive || productCountryForm.get('maxQty').touched || productCountryForm.get('maxQty').dirty) ? 'has-danger' : ''">
          <label class="control-label small" for="label-basedPrice">Max Qty</label>
          <div class="input-group">
            <input type="text" class="form-control" name="maxQty" id="input-maxQty" placeholder=""
              formControlName="maxQty">
          </div>
          <span class="form-control-feedback" *ngIf="!productCountryForm.controls.maxQty.valid && (parentOnActive || productCountryForm.get('maxQty').touched || productCountryForm.get('maxQty').dirty)">
            {{ 'msg.validation.required' | translate }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 form-group">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6" [ngClass]="!productCountryForm.controls.order.valid && (parentOnActive || productCountryForm.get('order').touched || productCountryForm.get('order').dirty) ? 'has-danger' : ''">
          <label class="control-label small" for="label-order-group"><strong>Order</strong></label>
          <div class="input-group">
            <input type="text" class="form-control" name="order" id="input-order" placeholder="order"
            formControlName="order">
          </div>
          <span class="form-control-feedback" *ngIf="!productCountryForm.controls.order.valid && (parentOnActive || productCountryForm.get('order').touched || productCountryForm.get('order').dirty)">
            {{ 'msg.validation.required' | translate }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 form-check mt-2">
    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
      <input type="checkbox" class="custom-control-input" formControlName="isOnline">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Is Online</span>
    </label>
    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
      <input type="checkbox" class="custom-control-input" formControlName="isOffline">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Is Offline</span>
    </label>
  </div>
</div>
