<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit subscription plan</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <!-- edit form column -->
      <div class="col-md-12 plan-info">
        <form #f='ngForm' novalidate (ngSubmit)='f.form.valid && doEditPlan()' [formGroup]="planForm">
          <div class="row">
            <div class="col-sm-6 form-group" [ngClass]="f.submitted && !planForm.controls.PlanGroupId.valid ? 'has-danger' : ''">
              <label class="form-control-label">Plan Group (for trial)</label>
              <div class="controls">
                <select class="form-control" id="select-PlanGroupId" name="PlanGroupId" formControlName="PlanGroupId" *ngIf="planGroups" (change)="hasChangePlanGroup()">
                  <option [value]="null">- Select plan group -</option>
                  <option [value]="planGroup.id" *ngFor="let planGroup of planGroups">{{planGroup.planGroupTranslate.name}}</option>
                </select>
              </div>
              <!-- <span class="form-control-feedback" *ngIf="f.submitted && !planForm.controls.PlanGroupId.valid">
                  {{ 'msg.validation.required' | translate }}
              </span> -->
            </div>
            <div class="col-sm-6 form-group" [ngClass]="f.submitted && !planForm.controls.PlanTypeId.valid ? 'has-danger' : ''">
              <label class="form-control-label">Plan Category (<span class="required">*</span>)</label>
              <div class="controls">
                <select class="form-control" id="select-PlanTypeId" name="PlanTypeId" formControlName="PlanTypeId" *ngIf="planTypes" (change)="hasChangePlanType()">
                  <option [value]="null" disabled>- Select plan category -</option>
                  <option [value]="planType.id" *ngFor="let planType of planTypes">{{planType.name}}</option>
                </select>
              </div>
              <span class="form-control-feedback" *ngIf="f.submitted && !planForm.controls.PlanTypeId.valid">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>
            <div class="col-sm-6 form-group" [ngClass]="!planForm.controls.sku.valid && f.submitted ? 'has-danger' : ''">
              <label class="form-control-label">Prefix SKU (<span class="required">*</span>)</label>
              <div class="controls">
                <input id="sku" name="sku" type="text" class="form-control" placeholder="Enter SKU"
                  formControlName="sku">
              </div>
              <span class="form-control-feedback" *ngIf="!planForm.controls.sku.valid && f.submitted">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>
            <div class="col-sm-8 form-group" [ngClass]="!planForm.controls.slug.valid && f.submitted ? 'has-danger' : ''">
              <label class="form-control-label">Slug (<span class="required">*</span>)</label>
              <div class="controls">
                <input id="slug" name="slug" type="text" class="form-control" placeholder="Enter slug"
                  formControlName="slug">
              </div>
              <span class="form-control-feedback" *ngIf="!planForm.controls.slug.valid && f.submitted">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>
            <!-- <div class="col-sm-4 form-group">
              <label class="form-control-label">Order</label>
              <div class="controls">
                <input id="sku" name="order" type="text" class="form-control" placeholder="Enter SKU"
                  formControlName="order">
              </div>
            </div> -->
            <div class="add-images-plans" *ngIf="addImagesFlag">
              <div class="col-sm-12 form-group" [ngClass]="planForm.hasError('required', 'images') ? 'has-danger' : ''">
                <label class="form-control-label">Select File (<span class="required">*</span>)</label>
                <div class="controls">
                  <multiple-file-upload [group]="planForm" [controlName]="'images'" [planID]="planInfo.id"></multiple-file-upload>
                </div>
                <span class="form-control-feedback" *ngIf="planForm.hasError('required', 'images')">
                  {{ 'msg.validation.requiredMultiFile' | translate }}
                </span>
                
              </div>
              <hr>
            </div>
            <!-- /.add-images-plans -->
            <div class="col-sm-6 form-group" *ngIf="!addImagesFlag">
              <button type="button" class="btn btn-secondary btn-sm float-left" (click)="addImages()">Add Images </button>
            </div>
            <div class="col-sm-12 form-group">
                <hr>
                <!-- Plan Country -->
                <form #fcountry='ngForm' novalidate (ngSubmit)='fcountry.form.valid && addPlanCountry(selectCountryForm.value.countryId)' [formGroup]="selectCountryForm">
                  <div class="row mx-0">
                    <div class="col-sm-4 form-group" [ngClass]="fcountry.submitted && !selectCountryForm.controls.countryId.valid ? 'has-danger' : ''">
                      <label class="form-control-label">Add plan to a country to adjust its pricing</label>
                      <div class="controls">
                        <select class="form-control form-control-inline" id="select-countryId" name="countryId" formControlName="countryId" *ngIf="countries">
                          <option [value]="null" disabled [attr.selected]="1==1">- Select country -</option>
                          <option [value]="country.id" *ngFor="let country of countries">{{country.name}}</option>
                        </select>
                        <button type="submit" class="btn btn-secondary btn-sm">Add a Country</button>
                      </div>
                      <span class="form-control-feedback" *ngIf="fcountry.submitted && !selectCountryForm.controls.countryId.valid">
                        {{ 'msg.validation.required' | translate }}
                      </span>
                    </div>
                  </div>
                </form>
                <div formArrayName="planCountry">
                  <div class="card mb-3" *ngFor="let prCountryForm of planForm['controls'].planCountry['controls']; let i=index">
                    <div class="card-header">
                      <h5 class="panel-title pull-left country-name">
                        {{prCountryForm.get('CountryName').value}}
                      </h5>
                      <button type="button" class="btn btn-default pull-right" (click)="removePlanCountry(i)" *ngIf="planForm.controls.planCountry.controls.length > 1">Remove</button>
                      <div class="clearfix"></div>
                    </div>
                    <div class="card-block" [formGroupName]="i">
                      <plan-country-form [parentOnActive]="f.submitted" [planCountryForm]="planForm.controls.planCountry.controls[i]"></plan-country-form>
                    </div>
                  </div>
                </div>
                <!-- / Plan Country -->
                <hr>
                <!-- Plan Translate -->
                <form #ftranslate='ngForm' novalidate (ngSubmit)='ftranslate.form.valid && addPlanTranslate(selectTranslateForm.value.langCode)' [formGroup]="selectTranslateForm">
                  <div class="row mx-0">
                    <div class="col-sm-4 form-group" [ngClass]="ftranslate.submitted && selectTranslateForm.controls.langCode.hasError('required') ? 'has-danger' : ''">
                      <label class="form-control-label">Add a translation to this plan</label>
                      <div class="controls">
                        <select class="form-control form-control-inline" id="select-langCode" name="langCode" formControlName="langCode" *ngIf="languageCodeList">
                          <option [value]="null" disabled [attr.selected]="1==1">- Select language -</option>
                          <option [value]="language | uppercase" *ngFor="let language of languageCodeList" >{{language | uppercase}}</option>
                        </select>
                        <button type="submit" class="btn btn-secondary btn-sm">Add a Translate</button>
                      </div>
                      <span class="form-control-feedback" *ngIf="ftranslate.submitted && selectTranslateForm.controls.langCode.hasError('required')">
                        {{ 'msg.validation.required' | translate }}
                      </span>
                    </div>
                  </div>
                </form>
                <div formArrayName="planTranslate">
                  <div class="card mb-3" *ngFor="let prTranslateForm of planForm['controls'].planTranslate['controls']; let i=index">
                    <div class="card-header">
                      <h5 class="panel-title pull-left langCode-name">
                        {{prTranslateForm.get('langCode').value | uppercase}}
                      </h5>
                      <button class="btn btn-default pull-right" (click)="removePlanTranslate(i)" *ngIf="prTranslateForm.get('langCode').value !== 'en'">Remove</button>
                      <div class="clearfix"></div>
                    </div>
                    <div class="card-block" [formGroupName]="i">
                      <h6 class="text-uppercase">Plan Translate</h6>
                      <div class="px-5">
                        <plan-translate-form [parentOnActive]="f.submitted" [planTranslateForm]="prTranslateForm"></plan-translate-form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- / Plan Translate -->
                <hr>
            </div>
            <div class="col-sm-12 form-check mb-3">
               <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="isTrial">
                Is Trial
              </label>
            </div>

            <div class="col-sm-12">
              <app-alert></app-alert>
            </div>
            <div class="col-sm-6 form-group">
              <button type="button" class="btn btn-secondary btn-sm" (click)="gotoList()">Cancel</button>
              <button type="submit" class="btn btn-primary shave2u-btn-primary">Save Changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>