<div id="checkout" class="container-fluid body-container">
		<!--progress-tabs -->
		<div class="container body-checkout">
	  
		  <div class="checkout-content-inner">
			<!-- sign in form-->
			<app-alert></app-alert>
				  <div class="row">
					  <div class="col-md-6">
						  <checkout-sign-in-trial (notifyStep1Status)='getNotifyStep1Status($event)' [stepsData]='stepsData'></checkout-sign-in-trial>
						  <checkout-delivery-address-trial (notifyStep2Edit)='getNotifyStep2Edit(true)' (notifyStep2Status)='getNotifyStep2Status($event)' [stepsData]='stepsData'></checkout-delivery-address-trial>
						  <checkout-payment-method-trial (notifyStep3Status)='getNotifyStep3Status($event)' [stepsData]='stepsData' [priceTotal]="receipt ? receipt.totalIclTax : 0"></checkout-payment-method-trial>
					  </div>
					  <div class="col-md-6">
						  <div class="order-info">
							  <div class="selection-block">
								  <div class="head">
									  <div class="head-content">
										  <p class="headline text-uppercase" *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() !== 'KOR'">{{ 'checkout.free_trial.ship_today' | translate }}</p>
										  <p class="headline text-uppercase" *ngIf="storage.getLanguageCode() === 'KO' || storage.getCountry().code.toUpperCase() === 'KOR'">{{ 'checkout.free_trial.ship_today_korea' | translate }}</p>
										  <div class="box-flex select-frequency">
											  <!-- Display Main Plan name -->
											  <label class="wrap-option click-able">
												  <!-- Display Main Plan name -->
												  <div class="frequency-image">
													  <img src="{{ dataImage || '/assets/images/free-trial/checkout-1.png' }}" alt="Photo of plan">
												  </div>
												  <div class="item-content">
													  <div class="group-title">
														  <p>{{ 'checkout.free_trial.free_trial_set' | translate }}</p>
														  <!-- <p>{{ 'checkout.free_trial.free' | translate }}</p> -->
													  </div>
													  <p class="subtext" *ngIf="storage.getFreeTrialItem()">{{ storage.getFreeTrialItem().groupName }}</p>
												  </div>
											  </label>
										  </div>
										  <ng-container *ngIf="this.cartService.getPromoCode().id && this.cartService.getPromoCode().freeProductCountryIds">
											  <div class="box-flex select-frequency" *ngFor="let freeProduct of this.cartService.getPromoCode().freeProductCountries">
												  <!-- Display Main Plan name -->
												  <label class="wrap-option click-able">
													  <!-- Display Main Plan name -->
													  <div class="frequency-image">
														  <!-- <display-image [images]="freeProduct.Product.productImages"></display-image> -->
														  <ng-container *ngFor="let image of freeProduct.Product.productImages">
															  <img *ngIf="image.isDefault" src="{{ image.url }}" alt="Photo of product">
														  </ng-container>
													  </div>
													  <div class="item-content">
														  <div class="group-title">
															  <p>{{ freeProduct.Product.productTranslate | productTranslate: 'name' }}</p>
															  <p>{{ 'checkout.free_trial.free' | translate }}</p>
														  </div>
														  <p class="subtext" *ngIf="storage.getFreeTrialItem()">{{ this.cartService.getPromoCode().promotionTranslate | productTranslate: 'description' }}</p>
													  </div>
												  </label>
											  </div>
										  </ng-container>
									  </div>
								  </div>
								  <div class="box-inner">
									  <div class="list-order">
										  <div class="row">
											  <div [ngClass]="storage.getCountry().code.toUpperCase() === 'KOR' ? 'col-md-5 col-5': 'col-md-7 col-7'">
												  <span class="text-uppercase name">{{ 'checkout.free_trial.subtotal' | translate }}</span>
											  </div>
											  <div class="text-right" [ngClass]="storage.getCountry().code.toUpperCase() === 'KOR' ? 'col-md-7 col-7': 'col-md-5 col-5'">
												  <span class="costs">{{receipt.subTotal | smsCurrency}}</span>
											  </div>
										  </div>
										  <div class="row">
											  <div [ngClass]="storage.getCountry().code.toUpperCase() === 'KOR' ? 'col-md-5 col-5': 'col-md-7 col-7'">
												  <span class="text-uppercase name">{{ 'checkout.free_trial.shipping' | translate }}</span>
											  </div>
											  <div class="text-right" [ngClass]="storage.getCountry().code.toUpperCase() === 'KOR' ? 'col-md-7 col-7': 'col-md-5 col-5'">
												  <span class="costs">{{(receipt.shippingFee != 0.00) ? (receipt.shippingFee | smsCurrency) : ('checkout.free_trial.free' | translate) }}</span>
											  </div>
										  </div>
										  <div class="row">
											  <div [ngClass]="storage.getCountry().code.toUpperCase() === 'KOR' ? 'col-md-5 col-5': 'col-md-7 col-7'">
												  <span class="text-uppercase name">{{ 'lbl.cart.discount' | translate }}</span>
											  </div>
											  <div class="text-right" [ngClass]="storage.getCountry().code.toUpperCase() === 'KOR' ? 'col-md-7 col-7': 'col-md-5 col-5'">
												  <span class="costs">{{receipt.discount | smsCurrency}}</span>
											  </div>
										  </div>
										  <div class="row total-row">
											  <div [ngClass]="storage.getCountry().code.toUpperCase() === 'KOR' ? 'col-md-5 col-5': 'col-md-7 col-7'">
												  <span>{{ 'checkout.free_trial.today_total' | translate }}</span>
											  </div>
											  <div class="text-right" [ngClass]="storage.getCountry().code.toUpperCase() === 'KOR' ? 'col-md-7 col-7': 'col-md-5 col-5'">
												  <span>{{receipt.totalIclTax | smsCurrency}}</span>
											  </div>
										  </div>
									  </div>
	  
									  <div class="review">
										  <a class="btn btn-primary shave2u-btn-primary btn-review-order" (click)="submitcheck()">{{ 'checkout.free_trial.place_order' | translate }}</a>
									  </div>
								  </div>
							  </div>
							  <div class="selection-block">
								  <div class="head">
									  <div class="head-content">
										  <p class="headline text-uppercase">{{ 'checkout.free_trial.ships_charges' | translate : { date1: refillships_date | date:'MMM dd', date2: refillships_date_2 | date:'dd' } }}</p>
										  <p class="headline">{{ 'checkout.free_trial.charges_14_days' | translate }}</p>
										  <div class="select-frequency">
											  <!-- Display Main Plan name -->
											  <label class="wrap-option click-able">
												  <!-- Display Main Plan name -->
												  <div class="frequency-image">
													  <img src="{{ dataProduct.url }}" alt="{{ dataProduct.description }}">
												  </div>
												  <div class="item-content">
													  <div class="group-title">
														  <p class="title">{{ dataProduct.description }}</p>
														  <p *ngIf="!this.cartService.getPromoCode().id">{{dataProduct.sellPrice | smsCurrency}}</p>
														  <p *ngIf="this.cartService.getPromoCode().id">{{dataProduct.sellPriceDiscount | smsCurrency}}</p>
													  </div>
													  <p class="subtext" *ngFor="let item of dataProductOption">{{item.qty}} x {{item.productTranslate | productTranslate:'name'}}</p>
												  </div>
											  </label>
											  <div class="loop" *ngIf="!this.cartService.getPromoCode().id || (this.cartService.getPromoCode().id && this.cartService.getPromoCode().freeProductCountryIds)">
												  <ng-container *ngFor="let month of listMonth">
													  {{ 'checkout.free_trial.time' | translate : {_time: month.name | productTranslate:'name'} }}
												  </ng-container>
											  </div>
	  
											  <div class="discount" *ngIf="this.cartService.getPromoCode().id && !this.cartService.getPromoCode().freeProductCountryIds">{{ 'checkout.free_trial.discount_off' | translate : {discountPercent: this.cartService.getPromoCode().discount} }}</div>
										  </div>
									  </div>
								  </div>
							  </div>
	  
							  <div class="selection-block" *ngIf="this.cartService.getPromoCode().id && !this.cartService.getPromoCode().freeProductCountryIds">
								  <div class="head">
									  <div class="head-content">
										  <p class="headline text-uppercase">{{ 'checkout.free_trial.ships_charges' | translate : { date1: refillships_date_next | date:'MMM dd', date2: refillships_date_next_2 | date:'dd' } }}</p>
										  <div class="select-frequency">
											  <!-- Display Main Plan name -->
											  <label class="wrap-option click-able">
												  <!-- Display Main Plan name -->
												  <div class="frequency-image">
													  <img src="{{ dataProduct.url }}" alt="{{ dataProduct.description }}">
												  </div>
												  <div class="item-content">
													  <div class="group-title">
														  <p class="title">{{ dataProduct.description }}</p>
														  <p>{{dataProduct.sellPrice | smsCurrency}}</p>
													  </div>
													  <p class="subtext" *ngFor="let item of dataProductOption">{{item.qty}} x {{item.productTranslate | productTranslate:'name'}}</p>
												  </div>
											  </label>
											  <div class="loop" *ngFor="let month of listMonth">
												  {{ 'checkout.free_trial.time' | translate : {_time: month.name | productTranslate:'name'} }}
											  </div>
										  </div>
									  </div>
								  </div>
							  </div>
	  
							  <div class="coupon-form">
								  <form [formGroup]="promoCodeForm" novalidate #f="ngForm">
									  <div class="later">
										  {{ 'checkout.free_trial.text_later' | translate }}
									  </div>
						<div class="form-group promo-code-group">
							<input class="promo-code form-control" id="promoCode" name="promo_code" formControlName="promoCode" [(ngModel)]="promoCode"  (change)="promoCode=$event.target.value;promoCodeError=null" value="{{promoCode}}" placeholder="{{ 'checkout.free_trial.promotion_code' | translate }}" [attr.disabled]="notAllowPromoCode ? true : null">
						</div>
									  <button type="submit" class="btn btn-apply btn-default btn-apply-promo" (click)="applyPromoCode()" [disabled]="(!promoCode || promoCode === '') ? true : null" [ngClass]="(!promoCode || promoCode === '') ? '' : 'active'">{{ 'checkout.free_trial.apply' | translate }}</button>
						<div class="alert alert-danger mr-sm-2 mt-sm-2" role="alert" *ngIf="promoCodeError">{{ promoCodeError.message }}</div>
					  </form>
							  </div>
						  </div>
					  </div>
				  </div>
			<!-- ./sign in form-->
		  </div>
		</div>
	  </div>
	  <div class="footer-end text-center">
		<small class="footer-small">{{ 'lbl.checkout.all_rights_reserved' | translate }}</small>
	  </div>
	  