.card-inputed-contain {
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  .box-header {
    margin-bottom: 24px;
  }
  .box-body {
    .card-image {
      margin: 20px 0 10px;
    }
    .card-name {
      font-family: "Muli Bold";
    }
    .card-code {
      font-family: 'Muli';
      color: #292b2c;
      text-transform: uppercase;
    }
  }
  .item {
    text-align: left;
    border: 1px solid #959595;
    padding: 20px;
    width: 100%;
    min-height: 178px;
    vertical-align: middle;
    background: #ffffff;
    border-radius: 5px;

    &.active {
      border-color: #030303;
      box-shadow: 0 0 20px 5px #030303;
    }
    &.item-add-new-address {
      height: auto;
      min-height: auto;
      text-align: center;
    }
    &:first-child {
      margin-top: 0px !important;
    }
    .shave2u-btn-primary {
      margin-top: 15px;
    }
    .control-label-primary {
      padding: 6px 0 0;
      color: #3b6f9c;
      margin-top: 15px;
      display: block;
      font-family: 'Muli Bold';
      font-size: 16px;
    }

    .box {
      position: relative;
      .action-tool {
        position: absolute;
        top: 0;
        right: 0;
        i {
          color: #3a6e9c;
          padding-right: 20px;
          &.fa-trash {
            padding-right: 0px;
          }
        }
      }
      .box-header {
        margin-bottom: 24px;
        .modal-title {

        }
      }
      .box-body {
        font-size: 16px;
        .control-label {
          padding: 6px 0 0;
          color: #3b6f9c;
          margin-bottom: 18px;
          display: block;
          font-family: 'Muli Bold';
          font-size: 16px;
        }
        .full-name, .address, .contactNumber {
          display: block;
        }

      }
    }
  }
}