.card-inputed-contain {
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

.card-inputed-contain .box-header {
  margin-bottom: 24px;
}

.card-inputed-contain .box-body .card-image {
  margin: 20px 0 10px;
}

.card-inputed-contain .box-body .card-image img {
  margin-top: -7px;
}

.card-inputed-contain .box-body .card-name {
  font-family: "Muli Bold";
}

.card-inputed-contain .item {
  text-align: left;
  border: 1px solid #959595;
  padding: 20px;
  width: 100%;
  min-height: 178px;
  vertical-align: middle;
  background: #ffffff;
  border-radius: 5px;
}

.card-inputed-contain .item.active {
  border-color: #030303;
  box-shadow: 0 0 20px 5px #030303;
}

.card-inputed-contain .item.item-add-new-address {
  height: auto;
  min-height: auto;
  text-align: center;
}

.card-inputed-contain .item:first-child {
  margin-top: 0px !important;
}

.card-inputed-contain .item .shave2u-btn-primary {
  max-width: 150px;
  max-height: 50px;
  padding: 0;
  margin-top: 15px;
}

.card-inputed-contain .item .box {
  position: relative;
}

.card-inputed-contain .item .box .action-tool {
  position: absolute;
  top: 0;
  right: 0;
}

.card-inputed-contain .item .box .action-tool i {
  color: #3a6e9c;
  padding-right: 20px;
}

.card-inputed-contain .item .box .action-tool i.fa-trash {
  padding-right: 0px;
}

.card-inputed-contain .item .box .box-header {
  margin-bottom: 24px;
}

.card-inputed-contain .item .box .box-body {
  font-size: 16px;
}

.card-inputed-contain .item .box .box-body .control-label {
  padding: 6px 0 0;
  color: #3b6f9c;
  margin-bottom: 18px;
  display: block;
  font-family: 'Muli Bold';
  font-size: 16px;
}

.card-inputed-contain .item .box .box-body .full-name, .card-inputed-contain .item .box .box-body .address, .card-inputed-contain .item .box .box-body .contactNumber {
  display: block;
}
