<div class="modal fade modal-shaves2u card-list" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">{{ 'checkout.step_payment.select_card' | translate }}</h5>
      </div>
      <div class="modal-body scrollbar-inner cart-list-modal" *ngIf="show">

        <div class="panel panel-default">
          <div class="panel-body adddress-info">

            <div class="col-md-12 col-lg-12 px-0">

              <div>
                <ul class="card-inputed-contain">
                  <li class="item mt-4" *ngFor="let card of cardList; let i = index">
                    <div class="box">

                      <div class="action-tool">
                        <!-- <i class="fa fa-pencil click-able" (click)="close();editCard(card);"></i> -->
                        <!-- <i class="pdr-10 fa fa-pencil click-able mr-2" (click)="editCard(card);close();"></i> -->
                        <i class="fa fa-trash click-able" (click)="deleteCard(card, $event)"></i>
                      </div>
                      <app-alert [message]="resError" *ngIf="card.id === errorCardId"></app-alert>

                      <div class="box-body">
                        <div class="control-label">
                          <div class="card-code">xxxx xxxx xxxx {{card.cardNumber}}</div>
                        </div>
                        <!-- <div class="card-name flex align-self-end">{{card.cardName}}</div> -->
                        <div class="card-image">
                          <span class="card-expiry-date">{{card.expiredMonth}}/{{card.expiredYear.substr(2,2)}}</span>
                          <img class="pull-right" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/visa-128.png" *ngIf="card.branchName.toUpperCase() === 'VISA'">
                          <img class="pull-right" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/mastercard-logo.png" *ngIf="card.branchName.toUpperCase() === 'MASTERCARD'">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <!-- <button class="btn btn-primary shave2u-btn-primary" (click)="selectCard(card)" *ngIf="selectedcard && selectedcard.id !== card.id">{{ 'btn.select' | translate }}</button> -->
                      <button class="btn btn-primary shave2u-btn-primary" (click)="updateCard(card)" *ngIf="selectedcard && selectedcard.id !== card.id">{{ 'btn.select' | translate }}</button>
                      <h6 class="control-label-primary" *ngIf="selectedcard && selectedcard.id === card.id">
                        <strong>
                          {{ 'lbl.user.setting.primary_payment_method' | translate }}
                        </strong>
                      </h6>      
                    </div>
                  </li>
                </ul>
              </div>

            </div>                
          </div>

        </div>
        <!-- /container -->
      </div>
      
      <div class="modal-footer">
        <div class="form-group">
          <!-- <a class="btn-add-new-address click-able" (click)="close();addNewCard();">
            <i class="fa fa-plus-circle"></i>
            <span class="text"> {{ 'checkout.step_payment.heading_add' | translate }}</span>
          </a> -->
          <a class="btn-add-new address click-able" (click)="close();addNewCard();">
            <span class="text"> {{ 'checkout.step_payment.heading_add' | translate }}</span>
          </a>    
        </div>
      </div>

    </div>
    
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal-backdrop fade modal-backdrop-shave2u"></div>

 <card-modal-form (hasChange)='hasChangeCard($event)' [email]="email"><card-modal-form>