
#custom-plan {
  background: #ececec;
  padding: 30px 0 20px;
  .btn-group-plan {
    top: -8px;
    line-height: 65px;
    // border-bottom: 2px solid #222222;
    div.dropdow-custom {
      border: none;
      background: none;
      color: #222222;
      cursor: pointer;
      box-shadow: none;
      width: auto;
      margin: 0 5px;
      padding: 0;
      min-height: auto;
      text-transform: capitalize;
      // font-family: 'Muli Italic';
    }

		a.dropdown-toggle {
			border-bottom: 2px solid #222222;
	    font-style: italic; 
      text-transform: initial;
		}

    .dropdown-toggle::after{
      margin-top: -4px;
      display: none;
    }
    .dropdown-menu {
      padding: 0;
      .dropdown-item {
        color: #222222;
        cursor: pointer;
        font-size: 32px;
        line-height: 42px;
        &.active {
          background-color: #f1f1f1;
        }
      }
    }
  }
  .button-group {
    padding: 25px 0;
  }
  .go_back{
    font-size: 11px;
    color: #1f1f1f;
    position: absolute;
    line-height: 22px;
    padding-left: 30px;
    background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons/icon-back.png') center left no-repeat;
    &:hover{
      color: #fd5000;
    }
  }
  .top-header{
    color: #1f1f1f;
  }
  .block-steps{
    border: 1px solid #d3d3d3;
    background: #ffffff;
    border-radius: 5px;
    color: #636c72;
    margin-top: 30px;
    .header-step1{
      background: #222222;
      line-height: 30px;
      padding: 30px 35px;
      color: #636c72;
      font-size: 20px;
      font-family: 'Muli';
      border-bottom: 1px solid #d3d3d3;
      margin-bottom: 0;
      cursor: pointer;
      border-radius: 5px 5px 0 0;
			position: relative;
      &.header-step1-mobile{
        color: #fff;
      }
      span{
        color: #ffffff;
      }
    }
    .header-step2{
      background: #f7f7f7;
      line-height: 30px;
      padding: 30px 35px;
      color: #1f1f1f;
      font-size: 20px;
      font-family: 'Muli';
      // border-bottom: 1px solid #d3d3d3;
      margin-bottom: 0;
      border-radius: 0 0 5px 5px;
    }
    .block-step{
      padding: 35px;
      font-size: 45px;
      h1{
        font-size: 20px;
        color: #1f1f1f;
        font-family: 'Muli';
        span {
          color: #1f1f1f !important;
        }
      }
      h6{
        font-size: 20px;
        color: #1f1f1f;
      }
      &:first-child{
        border-bottom: 1px solid #d3d3d3;
      }
    }
  }

  .table-list-product{
    font-size: 13px;
    width: 100%;
    tr{
      border-bottom: 1px solid #d4d4d4;
      &.tr-toltal{
        border: none;
        color: #aaacaf;
        span{
          font-family: 'Muli Bold';
        }
        .btn.btn-primary{
          margin-top: 20px;
        }
        td{
          padding: 40px 0 20px;
          &::before{
            display: none;
          }
          p{
            margin: 0 0 5px;
            &.total-product{
              margin-bottom: 20px;
              font-size: 11px;
              color: #222222;
              font-family: 'Muli Bold';
              span{
                margin-left: 10px;
                font-size: 23px;
                font-family: 'Muli Bold';
                color: #222222;
              }
            }
            &.recurring_charges{
              text-transform: uppercase;
              color: #222222;
            }
          }
          .recurring_charges-wrap {
            p {
              line-height: 20px;
            }
            .recurring_charges{
              font-family: 'Muli Bold';
            }
          }
        }
      }
      th{
        text-transform: uppercase;
      }
      th,td{
        padding: 20px 0 ;
      }
      .total{
        font-family: 'Muli Bold';
      }
    }
    .info-name-desc{
      padding: 20px 0 0 20px;
      .product-name{
        font-size: 14px;
        color: #1f1f1f;
        text-transform: uppercase;
      }
    }

  }
}

@media screen and (max-width: 767px) {
	#custom-plan {
		.btn-group-plan {
			a.dropdown-toggle {
		    // font-style: normal;
        font-style: italic;
			}
		}
		.table-list-product{
			tr {
				&.tr-toltal{
          padding-bottom: 0;
					td {
						p {
              text-align: center;
						}
						&.rs-order {
							display: flex;
              flex-direction: column;
              padding-bottom: 0;
							.total-product {
								margin-bottom: 0;
							}
							.recurring_charges-wrap {
								order: 12;
								margin-top: 20px;
							}
							.btn {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  #custom-plan {
    padding-bottom: 50px;
    .go_back{
      position: static;
    }
    .btn-group-plan {
      line-height: 40px;
      top: -3px;
      .dropdown-menu {
        .dropdown-item{
          font-size: 22px;
        }
      }
    }
		.plan-xs-select {
			padding-left: 33px;
		}
		.top-header {
	    margin-top: 30px;
		}
    .block-steps{
      .block-step{
        padding: 40px 20px;
        font-size: 22px;
        line-height: 40px;
        h6{
          font-size: 17px;
          color: #1f1f1f;
          margin-bottom: 30px;
        }
        &:first-child{
        }
      }
      .header-step1{
        padding: 30px 20px;
        font-size: 17px;
      }
    }
    table, thead, tbody, th, td, tr {
      display: block;
    }
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    .table-list-product{
      font-size: 13px;
      width: 100%;
      p{
        line-height: 15px;
      }
      #custom-plan {
        .table-list-product {
          .info-name-desc {
            .product-name{
              font-size: 12px;
            }
          }
        }
      }
      tr {
        border: none;
        border-top: 1px solid #d4d4d4;
        padding: 10px 0 20px;
        &.tr-toltal{
          border-top: 1px solid #d4d4d4;
          td{
            padding: 20px 0;
            p{
              &.total-product{
                text-align: left;
                span{
                  float: right;
                  font-size: 16px;
                }
              }
            }
          }
        }
        td{
          padding: 0;
        }
      }
      &.en {
        td:nth-of-type(1):before { content: "ITem"; display: none; }
        td:nth-of-type(2):before { content: "Frequency"; }
        td:nth-of-type(3):before { content: "Price month"; }
        td:nth-of-type(4):before { content: "Price shipment"; }
      }
      
      &.ko {
        td:nth-of-type(1):before { content: "제품"; display: none; }
        td:nth-of-type(2):before { content: "배송 빈도"; }
        td:nth-of-type(3):before { content: "가격/달"; }
        td:nth-of-type(4):before { content: "가격/배송"; }
      }
    }

    td {
      border: none;
      // border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      position: absolute;
      top: 2px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      text-transform: uppercase;
      color: #636c72;
      font-size: 11px;
    }
  }
}

@media
only screen and (max-width: 430px),
(max-device-width: 430px)  {
  #custom-plan {
    .btn-group-plan {
      .dropdown-menu {
        .dropdown-item{
          font-size: 14px;
          line-height: 27px;
        }
      }
    }
  }
}
