<div id="custom-plan">
  <div class="container block-content shave2u-container" *ngIf="!isLoading">
    <div class="">
      <!-- heading -->
      <div class="col-12">
        <a routerLink="/shave-plans" class="go_back">{{ 'plan.custom_plan.go_back' | translate }}</a>
        <h5 class="text-center top-header hidden-sm-down">{{ 'plan.custom_plan.build_text' | translate }}</h5>
      </div>
      <!-- block 1 -->
      <div class='block-steps'>
        <h3 class="header-step1 hidden-sm-down" *ngIf="currentStep === 'step2'"
        [innerHTML]="'plan.custom_plan.header_step1_overview' | translate : {cartridgeNum: 'plan.custom_plan.number_one' | translate, cartidgeName: activeCartridge.productTranslate | productTranslate: 'name', creamNum: activeShaveCream.sku ? 1: 0, planType: activePlanType.planTypeTranslate | productTranslate: 'name'} | safeHtml" (click)="gotoStep1()">
        </h3>
        <h3 class="header-step1 header-step1-mobile hidden-md-up" *ngIf="currentStep === 'step2'" (click)="gotoStep1()" [innerHTML]="'plan.custom_plan.header_step1' | translate | safeHtml">
        </h3>
        <div class="block-step col-12" *ngIf="currentStep === 'step1' && this.storage.getLanguageCode() === 'EN'">
          <!-- <h1 class="standard-seo" [innerHTML]="'plan.custom_plan.custom_men' | translate"></h1> -->
          <h6 class="" [innerHTML]="'plan.custom_plan.header_step1' | translate | safeHtml"></h6>
          <div class="text-md-center plan-xs-select">
            {{ 'plan.custom_plan.send_me' | translate }}
            <div class="btn-group btn-group-plan">
              <!-- <button *ngIf="!activeCartridge" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                cartridge
              </button> -->
              <div *ngIf="activeCartridge" class="dropdown dropdow-custom help-dropdown">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'plan.custom_plan.cartridgeNum' | translate }} {{ activeCartridge.productTranslate | productTranslate: 'name' }}
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" *ngFor="let cartridge of cartridges" (click)="changeCartridge(cartridge)" [ngClass]="{'active': (activeCartridge && cartridge.sku === activeCartridge.sku)}">
                    {{ cartridge.productTranslate | productTranslate: 'name' }}
                  </a>
                </div>
              </div>
            </div>
            {{ 'plan.custom_plan.and' | translate }}
            <div class="btn-group btn-group-plan">
              <!-- <button *ngIf="!activeShaveCream" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                shave cream
              </button> -->
              <div *ngIf="activeShaveCream" class="dropdown dropdow-custom help-dropdown">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span *ngIf="!activeShaveCream.sku">0 {{ 'plan.custom_plan.shave_cream' | translate }}</span>
                  <span *ngIf="activeShaveCream.sku">1 {{ activeShaveCream.productTranslate | productTranslate: 'name' }}</span>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" *ngFor="let shaveCream of shaveCreams" (click)="changeShaveCream(shaveCream)" [ngClass]="{'active': (activeShaveCream && shaveCream.sku === activeShaveCream.sku)}">
                    <span *ngIf="!shaveCream.sku">0 {{ 'plan.custom_plan.shave_cream' | translate }}</span>
                    <span *ngIf="shaveCream.sku">1 {{ shaveCream.productTranslate | productTranslate: 'name' }}</span>
                  </a>
                </div>
              </div>
            </div>
            {{ 'plan.custom_plan.every' | translate }}
            <div class="btn-group btn-group-plan">
              <div *ngIf="activePlanType" class="dropdown dropdow-custom help-dropdown">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{activePlanType.planTypeTranslate | productTranslate: 'name'}}
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" *ngFor="let planType of planTypes" (click)="changePlanType(planType)" [ngClass]="{'active': (activePlanType && planType.name === activePlanType.name)}">{{ planType.planTypeTranslate | productTranslate: 'name' }}</a>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center button-group">
            <a class="btn btn-primary" (click)="gotoStep2()">{{ 'plan.custom_plan.next' | translate }}</a>
          </div>
        </div>
        <div class="block-step col-12" *ngIf="currentStep === 'step1' && this.storage.getLanguageCode() === 'KO'">
          <!-- <h1 class="standard-seo" [innerHTML]="'plan.custom_plan.custom_men' | translate"></h1> -->
          <h6 class="" [innerHTML]="'plan.custom_plan.header_step1' | translate | safeHtml"></h6>
          <div class="text-md-center plan-xs-select">
            {{ 'plan.custom_plan.every' | translate }}
            <div class="btn-group btn-group-plan">
              <div *ngIf="activePlanType" class="dropdown dropdow-custom help-dropdown">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{activePlanType.planTypeTranslate | productTranslate: 'name'}}
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" *ngFor="let planType of planTypes" (click)="changePlanType(planType)" [ngClass]="{'active': (activePlanType && planType.name === activePlanType.name)}">{{planType.planTypeTranslate | productTranslate: 'name'}}</a>
                </div>
              </div>
            </div>
            {{ 'plan.custom_plan.every_2' | translate }}
            <div class="btn-group btn-group-plan">
              <!-- <button *ngIf="!activeCartridge" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                cartridge
              </button> -->
              <div *ngIf="activeCartridge" class="dropdown dropdow-custom help-dropdown">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ activeCartridge.productTranslate | productTranslate: 'name' }} {{ 'plan.custom_plan.cartridgeNum' | translate }}
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" *ngFor="let cartridge of cartridges" (click)="changeCartridge(cartridge)" [ngClass]="{'active': (activeCartridge && cartridge.sku === activeCartridge.sku)}">
                    {{ cartridge.productTranslate | productTranslate: 'name' }}
                  </a>
                </div>
              </div>
            </div>
            {{ 'plan.custom_plan.and' | translate }}
            <div class="btn-group btn-group-plan">
              <!-- <button *ngIf="!activeShaveCream" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                shave cream
              </button> -->
              <div *ngIf="activeShaveCream" class="dropdown dropdow-custom help-dropdown">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span *ngIf="!activeShaveCream.sku">{{ 'plan.custom_plan.shave_cream' | translate }} 0개</span>
                  <span *ngIf="activeShaveCream.sku">{{ activeShaveCream.productTranslate | productTranslate: 'name' }} 1개</span>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" *ngFor="let shaveCream of shaveCreams" (click)="changeShaveCream(shaveCream)" [ngClass]="{'active': (activeShaveCream && shaveCream.sku === activeShaveCream.sku)}">
                    <span *ngIf="!shaveCream.sku">{{ 'plan.custom_plan.shave_cream' | translate }} 0개</span>
                    <span *ngIf="shaveCream.sku">{{ shaveCream.productTranslate | productTranslate: 'name' }} 1개</span>
                  </a>
                </div>
              </div>
            </div>
            {{ 'plan.custom_plan.send_me' | translate }}
          </div>
          <div class="text-center button-group">
            <a class="btn btn-primary" (click)="gotoStep2()">{{ 'plan.custom_plan.next' | translate }}</a>
          </div>
        </div>
        <!-- block 2 -->
        <h3 class="header-step2" *ngIf="currentStep === 'step1'" [innerHTML]="'plan.custom_plan.header_step2' | translate | safeHtml"></h3>
        <div class="block-step col-12" *ngIf="currentStep === 'step2'">
          <h6 class="" [innerHTML]="'plan.custom_plan.header_step2' | translate | safeHtml"></h6>
          <div class="">
            <table class="table-list-product" [ngClass]="this.storage.getLanguageCode().toLowerCase()">
              <thead>
                <tr>
                  <th>{{ 'plan.custom_plan.item' | translate }}</th>
                  <th class="align-self-center text-right">{{ 'plan.custom_plan.frequency' | translate }}</th>
                  <th class="align-self-center text-right">{{ 'plan.custom_plan.price_shipment' | translate }}</th>
                </tr>
              </thead>
              <tr>
                <td class="align-self-center">
                  <display-image [class]="'img-responsive img-table-product'" [images]="activeCartridge.productImages" *ngIf="!activeCartridge.productImageURL"></display-image>
                  <div class="info-name-desc">
                      <h4 class="product-name clickable" clickable (click)="newWindowDetail(activeCartridge)"><strong>{{activeCartridge.productTranslate | productTranslate: 'name'}}</strong></h4>
                      <p class="product-description"><appProductDescription [productTranslate]="activeCartridge.productTranslate"></appProductDescription></p>
                  </div>
                </td>
                <td class="align-self-center text-right">
                    {{ 'plan.free_trial.payment_type.every' | translate }} {{activePlanType.planTypeTranslate | productTranslate: 'name'}}
                </td>
                <td class="align-self-center text-right">
                    <span class="total align-self-center">{{activeCartridge.productCountry.Country.currencyDisplay}}{{activeCartridge.productCountry.sellPrice}}</span>
                </td>
              </tr>
              <tr *ngIf="activeShaveCream.sku">
                <td class="align-self-center">
                  <display-image [class]="'img-responsive img-table-product'" [images]="activeShaveCream.productImages" *ngIf="!activeShaveCream.productImageURL"></display-image>
                  <div class="info-name-desc">
                      <h4 class="product-name clickable" clickable (click)="newWindowDetail(activeShaveCream)"><strong>{{activeShaveCream.productTranslate | productTranslate: 'name'}}</strong></h4>
                      <p class="product-description"><appProductDescription [productTranslate]="activeShaveCream.productTranslate"></appProductDescription></p>
                  </div>
                </td>
                <td class="align-self-center text-right">
                    {{ 'plan.free_trial.payment_type.every' | translate }} {{activePlanType.planTypeTranslate | productTranslate: 'name'}}
                </td>
                <!-- <td class="align-self-center text-right">
                    <span class="item-price">{{activeCartridge.productCountry.Country.currencyDisplay}}{{ activeShaveCream.productCountry.sellPrice / activePlanType.name.split(' ')[0] | number }}</span>
                </td> -->
                <td class="align-self-center text-right">
                    <span class="total align-self-center">{{activeShaveCream.productCountry.Country.currencyDisplay}}{{activeShaveCream.productCountry.sellPrice}}</span>
                </td>
              </tr>
              <tr class="tr-toltal">
                <td class="align-self-center text-right rs-order" colspan="4">
                  <p class="total-product">
                    {{ 'plan.custom_plan.today_total' | translate }}
                    <span>{{activeCartridge.productCountry.Country.currencyDisplay}}{{totalPrice.toFixed(2)}}</span>
                  </p>
									<div class="recurring_charges-wrap">
										<p class="recurring_charges">{{ 'plan.custom_plan.recurring_charges' | translate }}</p>
										<p [innerHTML]="'plan.custom_plan.you_will_be_charged' | translate : {currency: activeCartridge.productCountry.Country.currencyDisplay, totalPrice: totalPrice.toFixed(2), planType: activePlanType.planTypeTranslate | productTranslate: 'name'} | safeHtml"></p>
										<p>{{ 'plan.custom_plan.cancel_modify_any_time' | translate }}</p>
									</div>
                  <div class="text-right">
                    <a class="btn btn-primary" (click)="processCheckout()">{{ 'plan.custom_plan.checkout' | translate }}</a>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
