<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!-- NAME: SELL PRODUCTS -->
  <!--[if gte mso 15]>
		<xml>
			<o:OfficeDocumentSettings>
			<o:AllowPNG/>
			<o:PixelsPerInch>96</o:PixelsPerInch>
			</o:OfficeDocumentSettings>
		</xml>
		<![endif]-->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>*|MC:SUBJECT|*</title>

  <style type="text/css">
    *,
    :after,
    :before {
      box-sizing: inherit;
    }

    body {
      font-family: Helvetica, Arial, sans-serif;
      font-weight: normal;
      font-size: 16px;
      background: #FAFAFA;
      height: 100%;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    p {
      margin: 0;
      padding: 0;
      font-family: Helvetica, Arial, sans-serif;
      line-height: 1.5;
    }

    a {
      font-family: Helvetica, Arial, sans-serif;
      line-height: 1.5;
    }

    table {
      border-collapse: collapse;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0;
      padding: 0;
      font-family: Helvetica, Arial, sans-serif;
    }

    img,
    a img {
      border: 0;
      height: auto;
      outline: none;
      text-decoration: none;
    }

    img {
      -ms-interpolation-mode: bicubic;
      max-width: 605px;
    }

    table {
      mso-table-lspace: 0;
      mso-table-rspace: 0;
      font-family: Helvetica, Arial, sans-serif;
    }

    p,
    a,
    li,
    td,
    blockquote {
      mso-line-height-rule: exactly;
      font-family: Helvetica, Arial, sans-serif;
    }

    a[href^=tel],
    a[href^=sms] {
      color: inherit;
      cursor: default;
      text-decoration: none;
    }

    p,
    a,
    li,
    td,
    body,
    table,
    blockquote {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    }

    a[x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
    }

    body {
      /*@editable*/
      background-color: #FAFAFA;
    }

    h1 {
      /*@editable*/
      color: #222222;
      /*@editable*/
      font-family: Helvetica;
      /*@editable*/
      font-size: 40px;
      /*@editable*/
      font-style: normal;
      /*@editable*/
      font-weight: bold;
      /*@editable*/
      line-height: 150%;
      /*@editable*/
      letter-spacing: normal;
      /*@editable*/
      text-align: left;
    }

    h2 {
      /*@editable*/
      color: #222222;
      /*@editable*/
      font-family: Helvetica;
      /*@editable*/
      font-size: 28px;
      /*@editable*/
      font-style: normal;
      /*@editable*/
      font-weight: bold;
      /*@editable*/
      line-height: 150%;
      /*@editable*/
      letter-spacing: normal;
      /*@editable*/
      text-align: left;
    }

    h3 {
      /*@editable*/
      color: #444444;
      /*@editable*/
      font-family: Helvetica;
      /*@editable*/
      font-size: 22px;
      /*@editable*/
      font-style: normal;
      /*@editable*/
      font-weight: bold;
      /*@editable*/
      line-height: 150%;
      /*@editable*/
      letter-spacing: normal;
      /*@editable*/
      text-align: left;
    }

    h4 {
      /*@editable*/
      color: #999999;
      /*@editable*/
      font-family: Georgia;
      /*@editable*/
      font-size: 20px;
      /*@editable*/
      font-style: italic;
      /*@editable*/
      font-weight: normal;
      /*@editable*/
      line-height: 150%;
      /*@editable*/
      letter-spacing: normal;
      /*@editable*/
      text-align: left;
    }

    hr {
      background-color: #fd4f00;
      padding: 0;
      margin: 0;
      height: 3px;
      border: none;
    }

    @media only screen and (max-width: 480px) {
      body,
      table,
      td,
      p,
      a,
      li,
      blockquote {
        -webkit-text-size-adjust: none !important;
      }

    }

    @media only screen and (max-width: 480px) {
      body {
        width: 100% !important;
        min-width: 100% !important;
      }

    }

    @media only screen and (max-width: 480px) {
      .templateImage {
        width: 50% !important;
      }

    }

    @media only screen and (max-width: 480px) {
      .columnContainer {
        max-width: 100% !important;
        width: 100% !important;
      }

    }

    @media only screen and (max-width: 480px) {
      .mobileHide {
        display: none;
      }

    }

    @media only screen and (max-width: 480px) {
      .utilityLink {
        display: block;
        padding: 9px 0;
      }

    }

    @media only screen and (max-width: 480px) {
      h1 {
        /*@editable*/
        font-size: 22px !important;
        /*@editable*/
        line-height: 175% !important;
      }

    }

    @media only screen and (max-width: 480px) {
      h2 {
        /*@editable*/
        font-size: 20px !important;
        /*@editable*/
        line-height: 175% !important;
      }

    }

    @media only screen and (max-width: 480px) {
      h3 {
        /*@editable*/
        font-size: 18px !important;
        /*@editable*/
        line-height: 175% !important;
      }

    }

    @media only screen and (max-width: 480px) {
      h4 {
        /*@editable*/
        font-size: 16px !important;
        /*@editable*/
        line-height: 175% !important;
      }

    }

    @media only screen and (max-width: 480px) {
      #templatePreheader {
        /*@editable*/
        display: block !important;
      }

    }

    @media only screen and (max-width: 480px) {
      #templatePreheader,
      #templatePreheader p {
        /*@editable*/
        font-size: 14px !important;
        /*@editable*/
        line-height: 150% !important;
      }

    }

    @media only screen and (max-width: 480px) {
      #templateHeader,
      #templateHeader p {
        /*@editable*/
        font-size: 16px !important;
        /*@editable*/
        line-height: 150% !important;
      }

    }

    @media only screen and (max-width: 480px) {
      #templateBody,
      #templateBody p {
        /*@editable*/
        font-size: 16px !important;
        /*@editable*/
        line-height: 150% !important;
      }

    }

    @media only screen and (max-width: 480px) {
      div[class=max-width] {
        height: auto !important;
      }

    }

    @media only screen and (max-width: 480px) {
      #templateFooter,
      #templateFooter p {
        /*@editable*/
        font-size: 14px !important;
        /*@editable*/
        line-height: 150% !important;
      }

    }

    @media only screen and (max-width: 480px) {
      div[class=footer-right] {
        width: 100% !important;
        text-align: left !important;
      }

    }

    @media only screen and (max-width: 480px) {
      div[class=footer-left] {
        width: 100% !important;
        text-align: left !important;
      }

    }

    @media only screen and (max-width: 480px) {
      ul[class=ul-support] {
        padding: 0 !important;
      }

    }

    @media only screen and (max-width: 480px) {
      #socialBar,
      #socialBar p {
        /*@editable*/
        font-size: 14px !important;
        /*@editable*/
        line-height: 150% !important;
      }

    }

    @media only screen and (max-width: 480px) {
      #utilityBar,
      #utilityBar p {
        /*@editable*/
        font-size: 14px !important;
        /*@editable*/
        line-height: 150% !important;
      }

    }
  </style>
</head>

<body>
  <!--*|IF:MC_PREVIEW_TEXT|*-->
  <!--[if !gte mso 9]><!---->
  <span class="mcnPreviewText" style="display:none; font-size:0px; line-height:0px; max-height:0px; max-width:0px; opacity:0; overflow:hidden; visibility:hidden; mso-hide:all;">*|MC_PREVIEW_TEXT|*</span>
  <!--<![endif]-->
  <!--*|END:IF|*-->
  <center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
      <tr>
        <td align="center" valign="top" id="bodyCell">
          <!-- BEGIN TEMPLATE // -->
          <table border="0" cellpadding="0" cellspacing="0" width="600px">
            <tr>
              <td align="center" valign="top" id="templateHeader" data-template-container>
                <!--[if (gte mso 9)|(IE)]>
									<table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
									<tr>
									<td align="center" valign="top" width="600" style="width:600px;">
									<![endif]-->
                {{{header}}}
                <!--[if (gte mso 9)|(IE)]>
									</td>
									</tr>
									</table>
									<![endif]-->
              </td>
            </tr>
            <tr>
              <td align="center" valign="top" id="templateBody" data-template-container>
                <!--[if (gte mso 9)|(IE)]>
									<table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
									<tr>
									<td align="center" valign="top" width="600" style="width:600px;">
									<![endif]-->
                {{{bodyContent}}}
                <!--[if (gte mso 9)|(IE)]>
									</td>
									</tr>
									</table>
									<![endif]-->
              </td>
            </tr>
            <tr>
              <td align="center" valign="top" id="templateFooter" data-template-container>
                <!--[if (gte mso 9)|(IE)]>
									<table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
									<tr>
									<td align="center" valign="top" width="600" style="width:600px;">
									<![endif]-->
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
                  <tr>
                    <td style="background-color:#FAFAFA;">
                      <p style="padding:0 20px !important;margin-bottom:16px !important;">
                        <a href="https://www.instagram.com/shaves2u/" style="margin-right:30px;text-decoration: none;">
                          <img src="https://gallery.mailchimp.com/a1f5e35b929b6d70bbdff908e/images/855b433d-07ba-4d45-b4b6-fcc6e7e65146.png" style="width:auto;min-height:22px;min-width:22px;" alt="Shaves2u Instagram">
                        </a>
                        <a href="https://www.facebook.com/Shaves2u/" style="margin-right:30px;text-decoration: none;">
                          <img src="https://gallery.mailchimp.com/a1f5e35b929b6d70bbdff908e/images/ed0713cd-e824-427e-93d9-274e6d7962a9.png" style="width:auto;min-height:22px;min-width:10px;" alt="Shaves2u Facebook">
                        </a>
                        <a href="https://www.youtube.com/user/Shaves2U/" style="margin-right:30px;text-decoration: none;">
                          <img src="https://gallery.mailchimp.com/a1f5e35b929b6d70bbdff908e/images/8b01525a-2213-48c6-8f8f-59c99397c6dc.png" style="width:auto;min-height:17px;min-width:24px;" alt="Shaves2u Youtube">
                        </a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" style="color:#606060;font-family:Sans-serif;border-top:1px solid #fe5000;background-color:#FAFAFA;padding-bottom:9px;border-bottom:0;padding:0 20px 16px 20px;font-size:14px;">
                      <!-- BEGIN MODULE: STANDARD FOOTER // -->
                      <div style="padding:16px 0;">
                        <div class="footer-left" style="float:left;">
                          <p class="footer-links" style="font-size:14px;margin:0 0 5px !important;padding:0;font-weight:normal;">
                            <a href="https://shaves2u.com/privacy-policy?utm_source=mandrill&utm_medium=email&utm_campaign=_{{countryCode}}_privacypolicy&utm_content=S2U_html_privacypolicy&utm_term=_privacypolicy_web"
                              style="display:inline-block;line-height:1.8;text-decoration:none;">PRIVACY POLICY</a>
                            <span class="bar">|</span>
                            <a href="https://shaves2u.com/terms-conditions?utm_source=mandrill&utm_medium=email&utm_campaign=_{{countryCode}}_termsconditions&utm_content=S2U_html_termsconditions&utm_term=_termsconditions_web"
                              style="display:inline-block;line-height:1.8;text-decoration:none;">TERMS &amp; CONDITIONS</a>
                          </p>
                          <p style="color:#000;font-weight:bold;">Shaves2U (M) Sdn. Bhd. (1037174-T)</p>
                          {{#if checkMysConfirm}}
                            <p style="font-size:14px;margin:0;">Level 18, Axiata Tower, No. 9, Jalan Stesen Sentral 5,
                              <br> Kuala Lumpur Sentral, 50470 Kuala Lumpur, Malaysia
                              <br> GST ID 001152864256</p>
                          {{else}}
                            <p style="font-size:14px;margin:0;">Level 18, Axiata Tower, No. 9, Jalan Stesen Sentral 5,
                              <br> Kuala Lumpur Sentral, 50470 Kuala Lumpur, Malaysia</p>
                          {{/if}}
                          <br>
                          <p class="text-copy">© All Rights Reserved 2018</p>
                        </div>
                        <div class="footer-right" style="float:right;text-align:right;">
                          <p style="color:#000;font-weight:bold;margin-top:2px;">Need Help?</p>
                          <ul class="ul-support" style="list-style:none;padding-bottom:5px;">
                            <li>
                              <a href="mailto:help@shaves2u.com">
                                <img src="https://gallery.mailchimp.com/a1f5e35b929b6d70bbdff908e/images/f7e4d1bf-365c-47e9-9054-3fefe2042c7a.png" style="margin-right: 5px;width: auto;display: inline-block"
                                  alt="f7e4d1bf-365c-47e9-9054-3fefe2042c7a.png">
                                <span>help@shaves2u.com</span>
                              </a>
                            </li>
                            <!--<li>
                                <a href="tel:+603226222305">
                                  <img src="https://gallery.mailchimp.com/a1f5e35b929b6d70bbdff908e/images/4137ffd4-37f7-4317-9beb-e62c01889c38.png" style="margin-right: 5px;width: auto;display: inline-block" alt="4137ffd4-37f7-4317-9beb-e62c01889c38.png">+603 2262 2230
                                </a>
                              </li>-->
                          </ul>
                        </div>
                      </div>
                      <!-- // BEGIN MODULE: STANDARD FOOTER -->
                    </td>
                  </tr>
                </table>
                <!--[if (gte mso 9)|(IE)]>
									</td>
									</tr>
									</table>
									<![endif]-->
              </td>
            </tr>
          </table>
          <!-- // END TEMPLATE -->
        </td>
      </tr>
    </table>
  </center>
</body>

</html>