<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" width="600px" style="padding: 20px 0px;margin: 0;line-height: 150%;background-color: #FAFAFA;text-align: center ">
      <!-- BEGIN MODULE: HEADER IMAGE // -->
      <a href="{{homepage}}">
        <img src="https://gallery.mailchimp.com/a1f5e35b929b6d70bbdff908e/images/310d90e1-a46b-42f2-82c4-451458af3e21.png" style="max-width:100px;width: auto;min-width:60px;min-height:60px;">
      </a>
      <!-- // END MODULE: HEADER IMAGE -->
    </td>
  </tr>
</table>