<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="margin: 0;line-height: 150%;background-color: #FAFAFA;width: 100%;border-bottom:1px solid #eeeeee;padding:20px;">
      <!-- BEGIN MODULE: HEADER IMAGE // -->
      <table width="560px">
        <tr>
          <td>
            <a href="{{homepage}}">
              <img src="https://gallery.mailchimp.com/a1f5e35b929b6d70bbdff908e/images/310d90e1-a46b-42f2-82c4-451458af3e21.png" style="max-width:100px;width:auto;min-width:60px;min-height:60px;padding-right: 15px;">
            </a>
          </td>
          <td>
            <p style="float:right;font-size:24px;">{{title}}</p>
          </td>
        </tr>
      </table>
      <!-- // END MODULE: HEADER IMAGE -->
    </td>
  </tr>
</table>