.btn{
  font-family:'Muli Bold';
  width:auto;
  font-size: 13px;
	letter-spacing: 1px;
  text-transform: uppercase;
  background-color:#ffffff;
  // min-height: 43px;
  line-height: 25px;
  cursor: pointer;
  padding: 5px 30px;
  text-decoration: none;
  outline: none;
  &.btn-large{
    width: 290px;
  }
  &.btn-medium{
    width: 260px;
  }
  &.btn-default{
    background-color: #ffffff;
    color: #7c868d;
    border: 2px solid #7c868d;
    &:hover{
      color: $primary-hover-color;
      border-color: $primary-hover-color;
      background-color:#ffffff;
    }
    &:active{
      color: $primary-active-color;
      border-color: $primary-active-color;
      background-color:#ffffff;
    }
  }
  &.btn-primary{
    background-color: $primary-color;
    color: #ffffff;
    border: 2px solid $primary-color;
    &:not([href]):not([tabindex]){
      color: #ffffff;
    }
    &:hover{
      background-color: $primary-hover-color;
      border-color: $primary-hover-color;
      outline: none;
    }
    &:active{
      background-color: $primary-active-color;
      border-color: $primary-active-color;
      outline: none;
    }
  }
  &.btn-primary-2{
    background-color: $primary-color-2;
    color: #ffffff;
    &:not([href]):not([tabindex]){
      color: #ffffff;
    }
    border: 2px solid $primary-color-2;
    &:hover{
      background-color: $primary-hover-color-2;
      border-color: $primary-hover-color-2;
    }
    &:active{
      background-color: $primary-active-color-2;
      border-color: $primary-active-color-2;
    }
  }
  &.btn-cancel-popup{
    background-color: $cancel-active-color;
    border-color: $cancel-active-color;
    color: #ffffff;
    &:not([href]):not([tabindex]){
      color: #ffffff;
    }
    &:hover{
      background-color: $cancel-hover-color;
      border-color: $cancel-hover-color;
      color: #ffffff;
    }
    &:active{
      background-color: $cancel-click-color;
      border-color: $cancel-click-color;
      color: #ffffff;
    }
  }
  &.btn-pop-up{
    width: 180px;
  }
  &.btn-link{
    color: $primary-color;
    &:not([href]):not([tabindex]){
      color: $primary-color;
    }
    text-decoration: underline;
    background: transparent;
    width: auto;
    &:hover{
      color: $primary-color-2;
    }
    &:active{
      color: $primary-color-2;
    }
  }
  &:disabled{
    background-color: #d6d6d6;
    color: #ffffff;
    border-color: #d6d6d6;
    &:active{
      background-color: #d6d6d6;
      color: #ffffff;
      border-color: #d6d6d6;
    }
    &:hover{
      background-color: #d6d6d6;
      color: #ffffff;
      border-color: #d6d6d6;
    }
  }
  &.btn-facebook {
    margin: auto;
    border-color: #d1dcf2;
    color: #3a5ba0;
    &:not([href]):not([tabindex]){
      color: #3a5ba0;
    }
    width: auto;
    padding: 13px 34px;
    background: none;
    text-transform: none;
    text-align: center;
    .ico-facebook {
      font-size: 27px;
      padding-right: 20px;
      position: relative;
      top: 2px;
    }
    .text {
      position: relative;
      top: -2px;
    }
  }
}

@media  (max-width: 456px) {
  // .btn{
  //   padding: 13px 0px;
  // }
  .btn.btn-pop-up{
    width: 120px;
  }
}
