//color default
$primary-color: #fe5000;
$primary-color-2: #fe6600;
$primary-color-3: #636c72;
$secondary1-color: #7c868d;
$secondary2-color: #3a6e9c;
$secondary3-color: #e1e1e1;
$bg-2nd-color: #f0f3f7;
//color button
$primary-active-color: #cb4000;
$primary-active-color-2: #fe5000;
$primary-hover-color: #fe7333;
$primary-hover-color-2: #ff7d26;

$primary-text: #f64d00;
$gray-text: #666666;
$span-title-color: #fd4f00;

$cancel-active-color: #8c989d;
$cancel-hover-color: #aab9bf;
$cancel-click-color: #727c80;

$bg-item: #cccdcf;

$bg-plan-free-trial: #e4e5e5;
$bg-plan-free-trial-2: #d3d4d4;
$bg-plan-free-trial-3: #dcdddd;
$bg-plan-free-trial-4: #e2e3e3;
$bg-last-plan-free-trial: #c5c5c5;
$s2v-orange-color: #ff6c00;
$bg-modal-body: #f7f7f7;
$border-gray-color: #e7e7e7;
$bg-select: #f3f3f3;
$bg-btn-apply: #bebebe;
$text-color-bg-gray: #aaacaf;

$black-text-color: #292b2c;
