.icons{
  background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons.png') top left no-repeat;
  display:inline-block;
  &.icon{
    &-info{
      width: 16px;
      height: 16px;
      background-position: 0px 0px;
    }
    &-send{
      width: 18px;
      height: 17px;
      background-position:-43px -15px;
    }
    &-arrow{
      width: 7px;
      height: 7px;
      background-position:0px -84px;
    }
  }
}
.icon-social{
  display:inline-block;
  &.icon{
    &-country{
      background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons/icon-country.svg') top left no-repeat;
      background-size: contain;
      width: 22px;
      height: 22px;
    }
    &-cart{
      background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons/icon-cart-2.svg') top left no-repeat;
      background-size: contain;
    }
    &-user{
      background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons/icon-user-2.svg') top left no-repeat;
      background-size: contain;
      width: 22px;
      height: 22px;
    }
    &-email{
      background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons/icon-envelope.svg') top left no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
    }
    &-facebook{
      background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons/icon-face.svg') top left no-repeat;
      background-size: contain;
      width: 22px;
      height: 22px;
    }
    &-instagram{
      background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons/icon-instagram.svg') top left no-repeat;
      background-size: contain;
      width: 22px;
      height: 22px;
    }
    &-phone{
      background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons/icon-phone.svg') top left no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
    }
    &-twitter{
      background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons/icon-twitter.svg') top left no-repeat;
      background-size: contain;
      width: 21px;
      height: 22px;
    }
    &-youtube{
      background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons/icon-youtube.svg') top left no-repeat;
      background-size: contain;
      width: 24px;
      height: 22px;
    }
    &-instagram-mb{
      background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons/instagram-social-outlined-logo.png') center center no-repeat;
      background-size: contain;
      width: 26px;
      height: 26px;
    }
    &-phone-mb{
      background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons/icon-phone.svg') center center no-repeat;
      background-size: contain;
      width: 40px;
      height: 26px;
    }
    &-twitter-mb{
      background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons/icon-twitter-mb.png') center center no-repeat;
      background-size: contain;
      width: 40px;
      height: 26px;
    }
    &-youtube-mb{
      background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons/icon-youtube-mb.png') center center no-repeat;
      background-size: contain;
      width: 40px;
      height: 26px;
    }
    &-facebook-mb{
      background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons/facebook-logo-outline.png') left center no-repeat;
      background-size: contain;
      width: 26px;
      height: 26px;
    }
  }
}
