form{
  font-size: 16px;
  label{
    margin-bottom: 10px;
  }

  input:not([type]),
  input[type=email ],
  input[type=number], 
  input[type=password], 
  input[type=tel],
  input[type=url],
  input[type=text],select.form-control:not([size]):not([multiple]) {
    height: 48px;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba(163, 163, 163, 1);
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: rgba(163, 163, 163, 1);
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: rgba(163, 163, 163, 1);
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: rgba(163, 163, 163, 1);
    }
    &.form-control, &.shave2u-form-control {
      border-radius: 0;
    }
    &.form-control:focus{
      // border-color: $primary-color;
    }
  }
  //check_box
  .control-checkbox{
    label{
      margin: 0;
    }
    input[type=checkbox]:not(old){
      width   : 0px;
      margin  : 0;
      padding : 0;
      opacity : 0;
      +label{
        margin-bottom: -5px;
        display      : inline-block;
        background   : url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons.png') no-repeat 0 0;
        height: 20px;
        width: 20px;
        background-position : 0 -62px;
      }
      &:checked{
        +label{
          background-position : 0 -40px;
        }
      }
    }
  }
  //radio  
  .control-radio{
    label{
      margin: 0;
    }
    input[type=radio]:not(old){
      width   : 0px;
      margin  : 0;
      padding : 0;
      opacity : 0;
      +label{
        margin-bottom: -5px;
        display      : inline-block;
        background   : url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons.png') no-repeat 0 0;
        height: 20px;
        width: 20px;
        background-position : -22px -62px;
      }
      &:checked{
        +label{
          background-position : -22px -40px;
        }
      }
    }
  }
}