.home {
  text-align: center;
  margin-top: 15px;
  .heading {
    margin-bottom: 50px;
    margin-top: 30px;
  }
  hr {
    background: #fafafa;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 25px;
  }
  img {
    max-width: 50%;
    margin-top: 20px;
    cursor: pointer;
  }

  .block-subs {
    margin-top: 20px;
  }
  .block-alacarte, .block-subs, .block-subs {
    h3 {
      font-size: 22px;
    }
  }
}
