<div class="home">
  <h5 class="heading">{{ 'home.heading' | translate }}</h5>
  <ng-container *ngIf="currentUser.Country.isBaAlaCarte && hasProduct">
    <div class="block-alacarte">
      <h3 class="text-center clickable text-uppercase" (click)="goto('alacartes')">{{ 'home.alacarte' | translate }}</h3>
      <!--<img src="assets/images/ala-carte-banner.png" (click)="goto('alacartes')"/>-->
    </div>
    <hr>
  </ng-container>
  <ng-container *ngIf="currentUser.Country.isBaEcommerce && currentUser.Country.isBaSubscription">
    <div class="block-subs">
      <h3 class="text-center clickable text-uppercase" (click)="goto('blade-type')">{{ 'home.subscription' | translate }}</h3>
      <!--<img src="assets/images/subscription-banner.png" (click)="goto('subscriptions')"/>-->
    </div>
    <hr>
  </ng-container>
  <!--<div class="block-subs">
    <h3 class="text-center clickable text-uppercase" (click)="goto('sample-product')">Free Trial</h3>
  </div>
  <hr>-->
</div>
