@import "../../../../../assets/sass/mixins/color";

#payment-method {
  padding-right: 50px !important;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  // max-width: 500px;
  margin: 0 auto;
  .btn-large {
    padding: 10px 47px;
    width: auto;
  }
  .h2-cus {
    margin-top: 31px;
    margin-bottom: 19px;
    &.h2-unbold {
      font-weight: 400;
      font-family: 'Muli';
    }
  }
  .heading-cus {
    margin-top: 21px;
    margin-bottom: 19px;
    font-size: 24px;
  }
  .btn-add-new {
    .text {
      border-bottom: 2px solid #f9ad8d;
      color: #fe5000;
      font-family: 'Muli Bold';
    }
    &.address {
      margin-top: 7px;
      display: block;
    }
  }
  .type-card, .type-ipay88 {
    margin: 0 auto;
    p {
      text-align: center;
      margin: 0 auto;
      display: inline-block;
      width: 97%;
      a {
        border: 3px solid $secondary3-color;
        display: block;
        opacity: 0.5;
        border-radius: 0.25rem;
        cursor: pointer;
        padding: 27px 0;
        background-color: #ffffff;
        img {
          height: 25px;
          margin-bottom: 12px;
        }
      }
    }

    &.active {
      p {
        a {
          border: 3px solid $primary-color;
          opacity: 1;
        }
      }
    }

  }
  .form-group-cardNumber {
    position: relative;
    .textbox-iconRight {
      position: absolute;
      top: 0;
      bottom: 0;
      pointer-events: none;
      left: auto !important;
      right: 0;
      .textbox-CardLogo {
        margin-top: 17px;
        margin-right: 9px;
        max-height: 9px;
        pointer-events: none;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transition-property: -webkit-transform opacity;
        transition-property: -webkit-transform opacity;
        transition-property: transform opacity;
        transition-property: transform opacity,-webkit-transform opacity;
      }
    }
  }
  .input-value.focused {
    .field-label {
      top: 6px;
    }
  }
  .input-value {
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgba(191,191,191,0.5);
    border-bottom-width: 0;
    transition: color 0.25s, padding-bottom 0.25s;
    border-bottom-width: 1px;
    input, select {
      font-size: 14px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      min-height: 65px;
      box-sizing: border-box;
      width: 100%;
      padding-top: 33px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border: 0;
      letter-spacing: 0.5px;
      line-height: 24px;
      text-transform: none;
      font-weight: 500;
      color: inherit;
      background-color: transparent;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      border-radius: 0;
      background-image: url(https://www.harrys.com/assets/global/select-arrow-d58a02ca04e83df80bd66ff2c4d291a41cf0fcc5ccad6926c26e2e938b424fbe.png);
      background-repeat: no-repeat;
      background-position: 95% center;
      background-position: right 15px center;
      background-size: 13px 9px;
      font-weight: 300;
      line-height: 1.630769231em;
      letter-spacing: 0.11em;
      text-indent: 1px;
      text-overflow: '';
    }
    .field-label {
      position: absolute;
      top: 22px;
      left: 20px;
      pointer-events: none;
      font-weight: 500;
      // font-size: 13px;
      letter-spacing: 0.5px;
      line-height: 24px;
      text-transform: none;
      color: #636c72;
      -webkit-transition: top 0.1s ease;
      -moz-transition: top 0.1s ease;
      -ms-transition: top 0.1s ease;
      -o-transition: top 0.1s ease;
      transition: top 0.1s ease;
    }
  }
  .has-danger {
    .input-value {
      border: 1px solid #d9534f;
    }
  }

  .iPay88-section {
    padding-top: 30px;
  }
  .form-group {
    position: relative;
  }
  .icon-note-ccv{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
  }

  .tabs-debit-card-add {
    padding-top: 30px;
    // max-width: 500px;
    margin: auto;
    h3{
      font-size: 13px;
      text-transform: uppercase;
      margin-top: 29px;
      margin-bottom: 20px;
    }
    .tooltip {
      position: relative;
      display: inline-block;
      opacity: 1;
      .tooltiptext {
        visibility: hidden;
        width: 250px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 2px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -125px;
        opacity: 0;
        transition: opacity 1s;
      }
      .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
    }
    .tooltip:hover {
      .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
    }
    div.form-group, div.form-control {
      border-radius: 0;
      .textbox-iconRight {
        top: 10px;
      }
    }

    div.form-group-ccv {
      .icon-note-ccv {
        top: 22px;
      }
    }
    span {
      // color: #292b2c;
    }
    .payment-method{
      li{
        border-top: 1px solid #e7e7e7;
        padding: 15px 0px 15px 0;
        position: relative;
        cursor: pointer;
        &:last-child{
          border-bottom: 1px solid #e7e7e7;
        }
        label{
          padding: 0;
          margin: 0;
          width: 100%;
          &.lable-left{
            cursor: pointer;
            color: #636c72;
            float: left;
            font-size: 14px;
          }
          p{
            cursor: pointer;
            margin: 0;
            &.bold{
              font-family: 'Muli Bold';
            }
          }
          input{
            right: 10px;
            top: 27px;
          }
        }
        .radio-button-group {
          // display: block;
          position: relative;
          // padding-left: 35px;
          // margin-bottom: 12px;
          cursor: pointer;
          // font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          // height: auto !important;
          .text {
            margin-left: 0;
          }
        }

        /* Hide the browser's default checkbox */
        .radio-button-group input {
            // position: absolute;
            opacity: 0;
            // cursor: pointer;
        }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            // top: 0;
            // left: 0;
            height: 22px;
            width: 22px;
            background-color: #eee;
            border-radius: 50%;
            right: 10px;
            top: 12px;
        }

        /* On mouse-over, add a grey background color */
        .radio-button-group:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .radio-button-group input:checked ~ .checkmark {
            background-color: #fe5000;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .radio-button-group input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .radio-button-group .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 9px;
            border: solid white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
      }
    }
  }
  .card-added-list {
    .card-item {
      padding: 25px 35px;
      border-radius: 5px;
      border: 1px solid $secondary3-color;
      background-color: #ffffff;
      .card-code {
        margin: 10px 0 25px;
      }
      &.active {
        border-color: #030303;
        box-shadow: 0 0 20px 5px #030303;
      }
      .card-image {
        margin: 10px 0 0;
      }

      .box-body {
        .card-code {
          margin-bottom: 20px;
          margin-top: 20px;
        }
        .card-image {
          margin-bottom: 0;
        }
        p {
          margin-bottom: 0px;
        }
        div {
          margin-bottom: 1rem;
        }
        .control-label {
            padding: 0 0;
            color: #3b6f9c;
            margin-bottom: 15px;
            display: block;
            margin-top: 8px;
        }
      }
    }
  }

  .add-new {

  }

  .card-type {
    opacity: 0.2;
    &.active {
      opacity: 1;
    }
  }
}

@media  (max-width: 767px) {
  #payment-method {
		padding-right: 0 !important;
    .type-card, .type-ipay88 {
      p {
        width: 100%;
      }
    }
    .row-card-exp{
      margin: 0 -5px;
      .col-6 {
        padding: 0 5px;
      }
    }

    .btn-fullwidth-mb{
      width: 100%;
    }
  }
}
