#payment-method {
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#payment-method .tabs-left li {
  width: 100%;
}

#payment-method .tabs-left li.active a {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}

#payment-method .tabs-left li.active a:hover, #payment-method .tabs-left li.active aa:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}

#payment-method .tabs-left .stMain {
  display: block;
  margin: 0;
  padding: 0;
  color: #666666;
  border: 0px solid #CCC;
  font-family: "Segoe UI", Tahoma, arial, sans-serif;
  font-size: 100%;
  width: 100%;
}

#payment-method .tabs-left .stContainer {
  display: block;
  margin: 0;
  padding: 0;
  border: 1px solid #CCC;
  height: 450px;
  overflow: hidden;
  position: relative;
  min-height: 300px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#payment-method .tabs-left .stMain div.tabContent {
  display: block;
  position: absolute;
  margin: 0;
  padding: 10px;
  border: 0px solid #D4D4D4;
  background-color: #FFF;
  text-align: left;
  width: 100%;
}

#payment-method .tabs-left .stMain ul.tabAnchor {
  display: inline-block;
  list-style-type: none;
  position: relative;
  padding: 0;
  margin: 0;
  clear: both;
  margin-right: -1px;
  margin-top: 30px;
  z-index: 100;
  float: left;
}

#payment-method .tabs-left .stMain ul.tabAnchor li {
  position: relative;
  margin: 0;
  padding: 0;
}

#payment-method .tabs-left .stMain ul.tabAnchor li a {
  display: block;
  margin: 0;
  margin-bottom: 2px;
  padding: 5px;
  height: 50px;
  width: 160px;
  font-size: 18px;
  color: #666;
  text-decoration: none;
  outline-style: none;
  border: 1px solid #D4D4D4;
  background: #f6f6f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
  /* IE6-9 */
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}

#payment-method .tabs-left .stMain ul.tabAnchor li a small {
  font-size: 15px;
}

#payment-method .tabs-left .stMain ul.tabAnchor li a:hover {
  color: #FFF;
  background: #00A7DB;
}

#payment-method .tabs-left .stMain ul.tabAnchor li a.sel {
  color: #00A7DB;
  border-right-color: #FFF;
  cursor: text;
  background: #f9f9f9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%, white 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
}

#payment-method .tabs-left .loader {
  position: absolute;
  left: 48%;
  top: 40%;
  display: block;
  margin: 0;
  padding: 5px;
  padding-top: 35px;
  font-size: 10px;
  color: #666;
  text-decoration: none;
  outline-style: none;
  border: 1px solid #D4D4D4;
  background: #f6f6f6 url(https://d8pi1a7qa1dfv.cloudfront.net/assets/images/loader.gif) no-repeat 10px 10px;
}

#payment-method .tabs-left a.stLinks {
  margin: 0;
  padding: 5px;
  color: #666;
  text-decoration: none;
  outline-style: none;
  border: 1px solid #D4D4D4;
  background-color: #f6f6f6;
}

#payment-method .tabs-left a.stLinks:hover {
  color: #FFF;
  background-color: #00A7DB;
}

#payment-method .tabs-left .paymentMethod .method {
  position: absolute;
  right: 3px;
  top: 3px;
  bottom: 3px;
  left: 3px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid transparent;
  transition: all 0.5s;
}
