<div id="payment-method" class="payment-method px-0">
  <div class="row no-gutters px-0 ">
    <!-- credit-card-section -->
    <div class="col-md-12 col-lg-12 credit-card-section">
      <!-- <div class="loading-spinner text-center" *ngIf="isLoading"><i class="fa fa-spinner fa-spin"></i></div> -->
      <div class="tabs-debit-card-add" [hidden]="isLoading">
        <h3 class="" *ngIf="hasCustomPlan">{{ 'checkout.step_payment.card.billing_profile' | translate }}</h3>
        <h3 class="" *ngIf="!hasCustomPlan">{{ 'checkout.step_payment.card.select_payment_method' | translate }}</h3>

        <ul class="payment-method" *ngIf="!hasCustomPlan">
          <li class="payment-method-item">
            <label _ngcontent-c22="" class="form-check-label radio-button-group" (click)="changePaymentMethod('ipay88');">
              <label class="lable-left" for="ipay88">
                <p class="bold">{{ 'checkout.step_payment.card.ipay88' | translate }}</p>
                <p>{{ 'checkout.step_payment.card.ipay88_note' | translate }}</p>
              </label>
              <input _ngcontent-c22="" class="form-check-input mr-2" id="payment-ipay88" name="payment-method" type="radio" value="ipay88" (click)="changePaymentMethod('ipay88');" [checked]="paymentMethod === 'ipay88'">
              <span class="checkmark"></span>
            </label>
          </li>
          <li class="payment-method-item">
            <label _ngcontent-c22="" class="form-check-label radio-button-group" (click)="changePaymentMethod('stripe');">
              <label class="lable-left" for="stripe">
                <p class="bold">{{ 'checkout.step_payment.card.credit_card' | translate }}</p>
                <p>{{ 'checkout.step_payment.card.credit_card_note' | translate }}</p>
              </label>
              <input _ngcontent-c22="" class="form-check-input mr-2" id="payment-stripe" name="payment-method" type="radio" value="stripe" (click)="changePaymentMethod('stripe');" [checked]="paymentMethod === 'stripe'">
              <span class="checkmark"></span>
            </label>
          </li>
        </ul>

        <p class="mt-4" *ngIf="paymentMethod === 'ipay88'">
          <app-alert [message]="resError"></app-alert>
          <button type="button" class="btn btn-primary shave2u-btn-primary btn-fullwidth-mb" (click)='gotoConfirmStep()'>{{ 'checkout.step_payment.btn_continue' | translate }}</button>
        </p>

        <form (ngSubmit)="cardForm.valid && submitCard(cardForm.value)" [formGroup]="cardForm" id="cardForm" novalidate #f="ngForm" [hidden]="!(paymentMethod !== 'ipay88') || !storage.getCountry().isWebStripe">
          <span class="payment-message">{{message}}</span>
          <!-- Name -->
          <!-- <div class="form-group" [ngClass]="{'has-danger': f.submitted && (!cardForm.controls.cardName.valid || (resError && resError.param === 'name'))}">
            <input type="text" id="cardName" name="cardName" placeholder="{{ 'checkout.step_payment.card.name.place_holder' | translate }}"
              class="form-control" formControlName="cardName" data-stripe="name">
            <span class="form-control-feedback " *ngIf="f.submitted && !cardForm.controls.cardName.valid">
              {{ 'msg.validation.required' | translate:{value: 'Card Name'} }}
            </span>
            <span class="form-control-feedback " *ngIf="f.submitted && resError && resError.param === 'name'">
              {{ resError.message | translate }}
            </span>
          </div> -->
          <!-- Card Number -->
          <div class="form-group form-group-cardNumber" [ngClass]="{'has-danger': f.submitted && (!cardForm.controls.cardNumber.valid || (resError && resError.param === 'number'))}" #cardNumber>
            <div class="input-value" data-ng-init="focusCardNumber=false" [ngClass]="{'focused': focusCardNumber===true || (cardForm.controls.cardNumber.value && cardForm.controls.cardNumber.value.length > 0)}">
              <input type="text" id="cardNumber" name="cardNumber"
                formControlName="cardNumber" class="form-control" data-stripe="number" inputNumber (focus)="focusCardNumber=true" (blur)="focusCardNumber=false">
              <label for="cardNumber" class="field-label">{{ 'checkout.step_payment.card.number.label' | translate }}</label>
            </div>
            <span class="textbox-iconRight">
              <img class="textbox-CardLogo" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/mastercard-logo.png" *ngIf="cardType === 'MASTERCARD'">
              <img class="textbox-CardLogo" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/visa-logo.png" *ngIf="cardType === 'VISA'">
            </span>
            <span class="form-control-feedback " *ngIf="f.submitted && cardForm.controls['cardNumber'].hasError('required')">
              {{ 'msg.validation.required' | translate:{value: ('checkout.step_payment.card.number.label' | translate)} }}
            </span>
            <span class="form-control-feedback " *ngIf="f.submitted && resError && resError.param === 'number'">
              {{ resError.message | translate }}
            </span>
            <span class="form-control-feedback" *ngIf="f.submitted && cardForm.controls['cardNumber'].hasError('minLength')">
              {{ 'msg.validation.card_number_length' | translate }}
            </span>
          </div>
          <!-- Expiry-->
          <div class="row row-card-exp">
            <div class="col-6 col-sm-6">
              <div class="form-group">
                <div class="form-group" [ngClass]="{'has-danger': f.submitted && (!cardForm.controls.expiry.valid || (resError && (resError.param === 'exp_month' || resError.param === 'exp_year') ))}">
                  <div class="input-value" data-ng-init="focusExpiry=false" [ngClass]="{'focused': focusExpiry===true || (cardForm.controls.expiry.value && cardForm.controls.expiry.value.length > 0)}">
                    <input type="text" id="expiry" id="expiry" name="expiry"
                      formControlName="expiry" class="form-control" data-stripe="exp" (focus)="focusExpiry=true" (blur)="focusExpiry=false">
                    <label for="expiry" class="field-label">{{ 'checkout.step_payment.card.expiry.label' | translate }}</label>
                  </div>
                  <span class="form-control-feedback " *ngIf="f.submitted && !cardForm.controls.expiry.valid">
                    {{ 'msg.validation.required' | translate:{value: ('checkout.step_payment.card.expiry.label' | translate)} }}
                  </span>
                  <span class="form-control-feedback " *ngIf="f.submitted && resError && (resError.param === 'exp_year' || resError.param === 'exp_month')">
                    {{ resError.message | translate }}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-6">
              <div class="form-group" [ngClass]="{'has-danger': f.submitted && (!cardForm.controls.cvc.valid || (resError && resError.param === 'cvc'))}">
                <div class="input-value" data-ng-init="focusCvc=false" [ngClass]="{'focused': focusCvc===true || (cardForm.controls.cvc.value && cardForm.controls.cvc.value.length > 0)}">
                  <input type="password" id="cvc" name="cvc" formControlName="cvc"
                    class="form-control" data-stripe="cvc" (focus)="focusCvc=true" (blur)="focusCvc=false">
                  <label for="expiry" class="field-label">{{ 'checkout.step_payment.card.code.label' | translate }}</label>
                </div>
                  <div class="icon-note-ccv">
                    <i class="ml-2 icons icon-info click-able tooltip ">
                      <span class="tooltiptext">{{ 'checkout.step_payment.card.code.tooltip' | translate }}</span>
                    </i>
                  </div>
                <span class="form-control-feedback " *ngIf="f.submitted && !cardForm.controls.cvc.valid">
                    {{ 'msg.validation.required' | translate:{value: ('checkout.step_payment.card.code.label' | translate)} }}
                  </span>
                <span class="form-control-feedback " *ngIf="f.submitted && resError && resError.param === 'cvc'">
                    {{ resError.message | translate }}
                  </span>
              </div>
            </div>
          </div>
          <p class="mt-4">
            <app-alert [message]="resError"></app-alert>
            <button type="submit" class="btn btn-primary shave2u-btn-primary btn-fullwidth-mb btn-large">{{ 'checkout.step_payment.btn_continue' | translate }}</button>
          </p>
        </form>
      </div>
      <!-- ./tabs debits card add -->

      <!-- Block Card list -->
      <!-- <h4 class="text-center heading-cus" *ngIf="stage === 'list' && cardList.length > 0 && selectedCard">{{ 'checkout.step_payment.heading_card' | translate }}</h4>
      <div class="card-added-contain" *ngIf="stage === 'list' && cardList.length > 0 && !isLoading && selectedCard">
        <ul class="row card-added-list justify-content-center no-gutters">
          <li class="col-sm-10 card-item click-able">
            <div class="box">
              <div class="box-header box-flex">
                <strong class="flex"></strong>
              </div>
              <div class="box-body">
                <h6 class="control-label">
                  <strong>
                    {{ 'lbl.user.setting.prefix_card_item' | translate }} {{ selectedCard.index }}
                  </strong>
                </h6>
                <span class="card-name"><strong>{{selectedCard.cardName}}</strong></span>
                <p class="card-code">xxxx xxxx xxxx {{selectedCard.cardNumber}}</p>
                <div class="box-flex card-image">
                  <span class="card-expiry-date flex align-self-end">{{selectedCard.expiredMonth}}/{{selectedCard.expiredYear.substr(2,2)}}</span>
                  <img class="pull-right" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/visa-128.png" *ngIf="selectedCard.branchName.toUpperCase() === 'VISA'">
                  <img class="pull-right" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/mastercard-logo.png" *ngIf="selectedCard.branchName.toUpperCase() === 'MASTERCARD'">
                </div>
              </div>
            </div>
          </li>
        </ul>
        <p class="text-center add-new" >
          <a class="btn-add-new address click-able btn-link btn-link" (click)="showCardList()">
            <span class="text">{{ 'checkout.step_payment.add_or_change_link' | translate }}</span>
          </a>
        </p>
        <p class="text-center">
          <input type="button" value="{{ 'btn.continue' | translate }}" class="btn btn-primary shave2u-btn-primary mt-4"
            (click)="gotoConfirmStep()" [disabled]="!selectedCard || cardList.length === 0">
        </p>
      </div> -->
      <!-- ./ Block Card list -->
      <!-- <div class="tabs-debit-card-add" *ngIf="stage === 'list' && cardList.length > 0 && !isLoading && selectedCard">
        <h3 class="">{{ 'checkout.step_payment.card.billing_profile' | translate }}</h3>
          <span class="payment-message">{{message}}</span>

          <div class="form-group form-group-cardNumber">
            <div class="form-control">
              <label class="col-12" for="">{{ 'checkout.step_payment.card.number.label' | translate }}</label>
              <span class=col-12>xxxx xxxx xxxx {{ selectedCard.cardNumber }}</span>
            </div>
            <span class="textbox-iconRight">
              <img class="textbox-CardLogo" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/mastercard-logo.png" *ngIf="selectedCard.branchName.toUpperCase() === 'MASTERCARD'">
              <img class="textbox-CardLogo" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/visa-logo.png" *ngIf="selectedCard.branchName.toUpperCase() === 'VISA'">
            </span>
          </div>

          <div class="row row-card-exp">
            <div class="col-6 col-sm-6">
              <div class="form-group">
                <div class="form-group">
                  <div class="form-control">
                    <label class="col-12" for="">{{ 'checkout.step_payment.card.expiry.label' | translate }}</label>
                    <span class=col-12>{{selectedCard.expiredMonth}} / {{selectedCard.expiredYear.substr(2,2)}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-6">
              <div class="form-group form-group-ccv">
                <div class="form-control">
                  <label class="col-12" for="">{{ 'checkout.step_payment.card.code.label' | translate }}</label>
                  <span class=col-12>****</span>
                </div>
                  <div class="icon-note-ccv">
                    <i class="ml-2 icons icon-info click-able tooltip ">
                      <span class="tooltiptext">{{ 'checkout.step_payment.card.code.tooltip' | translate }}</span>
                    </i>
                  </div>
              </div>
            </div>
          </div>
          <p class="mt-4">
            <app-alert [message]="resError"></app-alert>
            <input type="button" value="{{ 'checkout.step_payment.btn_continue' | translate }}" class="btn btn-primary shave2u-btn-primary btn-fullwidth-mb"
              (click)="gotoConfirmStep()" [disabled]="!selectedCard || cardList.length === 0">
          </p>
      </div> -->
    </div>
    <!-- /.credit-card-section -->

    <!-- iPay88-section -->
    <!-- <div class="col-md-12 col-lg-12 iPay88-section text-center" [hidden]="paymentMethod === 'stripe'" *ngIf="currentCountry.code === 'MYS' && !hasSubscription">
      <p class="text-center mb-6">{{ 'checkout.step_payment.iPay88.note' | translate }}</p>
      <p class="text-center" *ngIf="!ipay88Status">
        <span class="btn btn-primary shave2u-btn-primary" (click)='gotoConfirmStep()'>{{ 'btn.continue' | translate }}</span>
      </p>
    </div> -->
    <!-- /.iPay88-section -->


  </div>
</div>

<card-list-modal (hasChange)='hasChangeCard($event)' (hasResetDefault)='hasResetDefault($event)' (hasRemove)="hasRemove($event)"
  [selectedcard]="selectedCard" [email]="stepsData.login.data.email"></card-list-modal>
