<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit plan type</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12 plan-info">
        <form #f='ngForm' novalidate (ngSubmit)='f.form.valid && doEditPlanType()' [formGroup]="planTypeForm">
          <div class="row">
            <div class="col-sm-12 form-group" [ngClass]="f.submitted && !planTypeForm.controls.name.valid ? 'has-danger' : ''">
              <label class="form-control-label">Name (<span class="required">*</span>)</label>
              <div class="controls">
                <input type="text" class="form-control" id="input-name" placeholder="Enter name"
                  formControlName="name" name="name">
              </div>
              <span class="form-control-feedback" *ngIf="f.submitted && planTypeForm.controls.name.hasError('required')">
                  {{ 'msg.validation.required' | translate }}
              </span>
              <span class="form-control-feedback" *ngIf="f.submitted && planTypeForm.controls.name.hasError('maxlength')">
                {{ 'msg.validation.maxlength' | translate : {value: 200} }}
              </span>
            </div>
            <div class="col-sm-12 form-group" [ngClass]="f.submitted && !planTypeForm.controls.prefix.valid ? 'has-danger' : ''">
              <label class="form-control-label">Prefix SKU (<span class="required">*</span>)</label>
              <div class="controls">
                <input type="text" class="form-control" id="input-prefix" placeholder="Enter prefix"
                  formControlName="prefix" name="prefix">
              </div>
              <span class="form-control-feedback" *ngIf="f.submitted && !planTypeForm.controls.prefix.valid">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>
            <div class="col-sm-6 form-group" [ngClass]="f.submitted && !planTypeForm.controls.totalDeliverTimes.valid ? 'has-danger' : ''">
              <label class="form-control-label">Deliver Times</label>
              <div class="controls">
                <select class="form-control" id="select-totalDeliverTimes" name="totalDeliverTimes" formControlName="totalDeliverTimes">
                  <option [value]="null" [attr.selected]="1==1">- Select deliver times -</option>
                  <option [value]="times" *ngFor="let times of [1,2,3,4,5,6,7,8,9,10,11,12]">{{times}}</option>
                </select>
              </div>
              <span class="form-control-feedback" *ngIf="f.submitted && !planTypeForm.controls.totalDeliverTimes.valid">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>
            <div class="col-sm-6 form-group" [ngClass]="f.submitted && !planTypeForm.controls.subsequentDeliverDuration.valid ? 'has-danger' : ''">
              <label class="form-control-label">Sequent Deliver Duration</label>
              <div class="controls">
                <select class="form-control" id="select-subsequentDeliverDuration" name="subsequentDeliverDuration" formControlName="subsequentDeliverDuration">
                  <option [value]="null" [attr.selected]="1==1">- Select Sequent Deliver Duration -</option>
                  <option [value]="times|pluralizeMonth" *ngFor="let times of [1,2,3,4,5,6,7,8,9,10,11,12]">{{times|pluralizeMonth}}</option>
                </select>
              </div>
              <span class="form-control-feedback" *ngIf="f.submitted && !planTypeForm.controls.subsequentDeliverDuration.valid">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>
            <div class="col-sm-6 form-group" [ngClass]="f.submitted && !planTypeForm.controls.totalChargeTimes.valid ? 'has-danger' : ''">
              <label class="form-control-label">Charge Times</label>
              <div class="controls">
                <select class="form-control" id="select-totalDeliverTimes" name="totalChargeTimes" formControlName="totalChargeTimes">
                  <option [value]="null" [attr.selected]="1==1">- Select charge times -</option>
                  <option [value]="times" *ngFor="let times of [1,2,3,4,5,6,7,8,9,10,11,12]">{{times}}</option>
                </select>
              </div>
              <span class="form-control-feedback" *ngIf="f.submitted && !planTypeForm.controls.totalChargeTimes.valid">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>
            <div class="col-sm-6 form-group" [ngClass]="f.submitted && !planTypeForm.controls.subsequentChargeDuration.valid ? 'has-danger' : ''">
              <label class="form-control-label">Sequent Charge Duration</label>
              <div class="controls">
                <select class="form-control" id="select-subsequentChargeDuration" name="subsequentChargeDuration" formControlName="subsequentChargeDuration">
                  <option [value]="null" [attr.selected]="1==1">- Select Sequent Charge Duration -</option>
                  <option [value]="times|pluralizeMonth" *ngFor="let times of [1,2,3,4,5,6,7,8,9,10,11,12]">{{times|pluralizeMonth}}</option>
                </select>
              </div>
              <span class="form-control-feedback" *ngIf="f.submitted && !planTypeForm.controls.subsequentChargeDuration.valid">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>
            <div class="col-sm-6 form-group" [ngClass]="f.submitted && !planTypeForm.controls.order.valid ? 'has-danger' : ''">
              <label class="form-control-label">Order</label>
              <div class="controls">
                <input type="text" class="form-control" id="input-order" placeholder="Enter order"
                  formControlName="order" name="order">
              </div>
              <span class="form-control-feedback" *ngIf="f.submitted && !planTypeForm.controls.order.valid">
                  {{ 'msg.validation.required' | translate }}
              </span>
            </div>
            <!-- Translate -->
            <div class="col-sm-12 form-group" formArrayName="planTypeTranslate">
              <div class="card-block pl-0">
                <h6 class="text-uppercase form-control-inline mr-2">Translate List</h6>
                <plan-type-translate-form [f]="f" [planTypeTranslateForm]="planTypeForm.controls.planTypeTranslate" [planTypeId]="planTypeId"></plan-type-translate-form>
              </div>
            </div>
            <!-- / Translate -->
            <div class="col-sm-12">
              <app-alert></app-alert>
            </div>
            <div class="col-sm-6 form-group">
              <button type="button" class="btn btn-secondary btn-sm" (click)="gotoList()">Cancel</button>
              <button type="submit" class="btn btn-primary shave2u-btn-primary">Save Changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>