#loginPage .shave2u-btn-primary {
  min-width: 232px;
}

#loginPage .login-inner {
  width: 570px;
  margin: 50px auto;
  padding: 60px 0;
}

#loginPage .login-inner .login-form {
  max-width: 300px;
  margin: auto;
}

#loginPage .login-inner .login-form h4 {
  font-weight: bold;
}

#loginPage .login-inner .login-form .signin-signup-radio {
  width: 300px;
  margin: 0 auto;
}

#loginPage .login-inner .login-form .signin-signup-radio .login-form-signin {
  margin: 30px 0 20px 20px;
}

#loginPage .login-inner .login-form .signin-signup-radio .login-form-signin label {
  margin-left: 15px;
  font-weight: bold;
  height: 24px;
}

#loginPage .login-inner .login-form .signin-signup-radio .login-form-signin label:hover {
  cursor: pointer;
}

#loginPage .login-inner .login-form .signin-signup-radio .login-form-signup {
  float: right;
  margin: 30px 20px 20px 0;
}

#loginPage .login-inner .login-form .signin-signup-radio .login-form-signup label {
  margin-left: 15px;
  font-weight: bold;
  height: 24px;
}

#loginPage .login-inner .login-form .signin-signup-radio .login-form-signup label:hover {
  cursor: pointer;
}

#loginPage .login-inner .login-form .re-enter-password {
  max-width: 200px;
  margin: 10px auto;
  height: 38px;
}

#loginPage .login-inner .login-form input[type='radio'] {
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  outline: none;
  background-color: #eeeeee;
}

#loginPage .login-inner .login-form input[type='radio']:hover {
  cursor: pointer;
}

#loginPage .login-inner .login-form input[type='radio']:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}

#loginPage .login-inner .login-form input[type='radio']:checked:before {
  background: #fe5000;
}

#loginPage .login-inner .login-form input[type='radio']:checked:before:hover {
  cursor: pointer;
}

#loginPage .login-inner .login-form .forgot-pw {
  color: #fd641f;
  text-transform: uppercase;
}

#loginPage .login-inner .login-form .shave2u-btn-primary {
  width: 281px;
}

#loginPage .login-inner .form-sign-up {
  max-width: 430px;
  margin: auto;
}

#loginPage .login-inner .form-sign-up h4 {
  font-weight: bold;
}

#loginPage .login-inner .form-sign-up .signin-signup-radio {
  width: 300px;
  margin: 0 auto;
}

#loginPage .login-inner .form-sign-up .signin-signup-radio .login-form-signin {
  margin: 30px 0 20px 20px;
}

#loginPage .login-inner .form-sign-up .signin-signup-radio .login-form-signin label {
  margin-left: 15px;
  font-weight: bold;
  height: 24px;
}

#loginPage .login-inner .form-sign-up .signin-signup-radio .login-form-signin label:hover {
  cursor: pointer;
}

#loginPage .login-inner .form-sign-up .signin-signup-radio .login-form-signup {
  float: right;
  margin: 30px 20px 20px 0;
}

#loginPage .login-inner .form-sign-up .signin-signup-radio .login-form-signup label {
  margin-left: 15px;
  font-weight: bold;
  height: 24px;
}

#loginPage .login-inner .form-sign-up .signin-signup-radio .login-form-signup label:hover {
  cursor: pointer;
}

#loginPage .login-inner .form-sign-up .date-of-birth .day, #loginPage .login-inner .form-sign-up .date-of-birth .month {
  min-width: 52px;
  text-align: center;
}

#loginPage .login-inner .form-sign-up .row.custom-gutters {
  margin-right: 0;
  margin-left: 0;
}

#loginPage .login-inner .form-sign-up .row.custom-gutters > .col,
#loginPage .login-inner .form-sign-up .row.custom-gutters > [class*="col-"] {
  padding-right: 10px;
  padding-left: 10px;
}

#loginPage .login-inner .form-sign-up input[type='radio'] {
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  outline: none;
  background-color: #eeeeee;
}

#loginPage .login-inner .form-sign-up input[type='radio']:hover {
  cursor: pointer;
}

#loginPage .login-inner .form-sign-up input[type='radio']:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}

#loginPage .login-inner .form-sign-up input[type='radio']:checked:before {
  background: #fe5000;
}

#loginPage .login-inner .form-sign-up input[type='radio']:checked:before:hover {
  cursor: pointer;
}

#loginPage .login-inner .form-sign-up .shave2u-btn-primary {
  width: 281px;
}

.radio-inline, .checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
}

.radio-inline input, .checkbox-inline input {
  position: absolute;
  margin-left: -20px;
  margin-top: 5px;
  line-height: normal;
}

.forgot-password-form {
  max-width: 300px;
  margin: auto;
}

.forgot-password-form h4 {
  font-weight: bold;
}

.forgot-password-form .forgot-pw-text {
  margin: 0 auto;
  padding: 30px 0 3px 0;
}

.forgot-password-form .forgot-pw-text p {
  font-size: 18px;
}

.forgot-password-form .check-inbox-note {
  font-size: 14px;
  width: 250px;
  margin: auto auto 20px auto;
}

.forgot-password-form .forgot-pw {
  color: #fd641f;
  text-decoration: underline;
  text-transform: uppercase;
}

.forgot-password-form .shave2u-btn-primary {
  width: 281px;
}
