#loginPage {
  max-width: 960px;
  overflow: hidden;
  padding: 64px 0;
  background-color: #fff;
  margin: 0 auto;
  .block-forgot-pw {
    max-width: 460px;
    width: 458px;
    background: #f7f7f7;
    padding: 80px 80px 50px;
    margin: 0 auto;
  }
  @media(max-width: 575px) {
    background-color: #f7f7f7;
    padding: 45px 0 40px 0;
  }
  .sign-in {
    @media(max-width: 575px) {
      max-width: 100%;
    }
  }
  .custom-control-description {
    color: #636c72;
    a {
      color: inherit; 
    }
  }
  form label {margin-bottom: 8px;}
  .login-inner {
    width: 570px;
    // min-height: 480px;
    // border: 1px solid #d7d7d7;
    margin: 20px auto auto;
    padding: 25px 0 60px;
    
    h2 {
      font-family: 'Muli';
    }
    .reset-pw-form {
      max-width: 365px;
      margin: auto;
      .check-inbox-note {
        font-size: 14px;
        margin: auto auto 20px auto;
      }
    }
    .login-form {
      max-width: 315px;
      margin: auto;

      h4 {
        font-weight: bold;
      }
      .signin-signup-radio {
        width: 300px;
        margin: 0 auto;
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .login-form-signin {
          margin: 30px 0 20px 0;
          label {
            margin-left: 15px;
            height: 24px;
            display: flex;
            align-items: center;
            margin-bottom: 0;
          }
          label:hover {
            cursor: pointer;
          }
        }
        .login-form-signup {
          float: right;
          margin: 30px 20px 20px 0;
          label {
            margin-left: 15px;
            height: 24px;            
            display: flex;
            align-items: center;
            margin-bottom: 0;
          }
          label:hover {
            cursor: pointer;
          }
        }
      }
      .re-enter-password {
        max-width: 200px;
        margin: 10px auto;
        height: 38px;
      }
      input[type='radio'] {
        -webkit-appearance: none;
        width: 17px;
        height: 17px;
        border: 1px solid #eeeeee;
        border-radius: 50%;
        outline: none;
        background-color: #eeeeee;
        margin-top: 0;
      }
      
      input[type='radio']:hover {
        cursor: pointer;
      }
      
      input[type='radio']:before {
        content: '';
        display: block;
        width: 60%;
        height: 60%;
        margin: 20% auto;
        border-radius: 50%;    
      }
      input[type='radio']:checked:before {
        background: #fe5000;
      }
      input[type='radio']:checked:before:hover {
        cursor: pointer;
      }

      .forgot-pw {
        color: #fd641f;
        text-transform: uppercase;
      }
      .shave2u-btn-primary {
        width: 281px;
      }
      .group-button {
        max-width: 270px;
        margin: auto;
        .btn {
          width: 100%;
          margin: 17px auto;
        }
        .note-fb {
          padding: 0 5px;
        }
      }
    }
    .form-sign-up {
      max-width: 430px;
      margin: auto;
      h4 {
        font-weight: bold;
      }      
      .group-button {
        max-width: 270px;
        margin: auto;
        .btn {
          width: 100%;
          margin: 17px auto;
        }
        .note-fb {
          padding: 0 5px;
        }
      }
      .signin-signup-radio {
        width: 300px;
        margin: 0 auto;
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .login-form-signin {
          margin: 30px 0 20px 0;
          label {
            margin-left: 15px;
            height: 24px;
            display: flex;
            align-items: center;
            margin-bottom: 0;
          }
          label:hover {
            cursor: pointer;
          }
        }
        .login-form-signup {
          float: right;
          margin: 30px 20px 20px 0;
          label {
            margin-left: 15px;
            height: 24px;
            display: flex;
            align-items: center;
            margin-bottom: 0;
          }
          label:hover {
            cursor: pointer;
          }
        }
      }
      .date-of-birth {
        .day, .month {
          min-width: 52px;
          text-align: center;
        }
      }
      .row {
        &.custom-gutters {
          margin-right: 0;
          margin-left: 0;
          > .col,
          > [class*="col-"] {
            padding-right: 10px;
            padding-left: 10px;
          }
        }
      }
      input[type='radio'] {
        -webkit-appearance: none;
        width: 17px;
        height: 17px;
        border: 1px solid #d0d0d0;
        border-radius: 50%;
        outline: none;
        background-color: #d0d0d0;
        margin-top: 0;
      }
      
      input[type='radio']:hover {
        cursor: pointer;
      }
      
      input[type='radio']:before {
        content: '';
        display: block;
        width: 60%;
        height: 60%;
        margin: 20% auto;
        border-radius: 50%;    
      }
      input[type='radio']:checked:before {
        background: #fe5000;
      }
      input[type='radio']:checked:before:hover {
        cursor: pointer;
      }
      
      .shave2u-btn-primary {
        width: 281px;
      }
    }
    .hints-password {
      padding-left: 15px;
    }
  }
}

.radio-inline, .checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
  input {
    position: absolute;
    margin-left: -20px;
    margin-top: 5px;
    line-height: normal;
  }
}


.forgot-password-form {
  // max-width: 300px;
  margin: auto;
  input {
    height: 67px;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaacaf;
    opacity: 1;
    font-family: 'Muli';
    font-size: 14px;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #aaacaf;
    opacity: 1;
    font-family: 'Muli';
    font-size: 14px;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #aaacaf;
    opacity: 1;
    font-family: 'Muli';
    font-size: 14px;
  }
  h2{
    font-size: 23px;
    margin-bottom: 30px;
    line-height: 1.7;
    &.cus-mb {
      margin-bottom: 25px;
      line-height: 1;
    }
  }
  .change-color {
    color: #636c72;
    font-size: 13px;
  }
  .cus-mt {
    margin-top: 25px;
  }
  .shave2u-btn-primary {
    width: 100% !important;
    margin-top: 15px;
    height: 49px;
  }
  .forgot-pw {
    color: #1f1f1f !important;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 2px;
    padding-bottom: 3px;
    text-decoration: unset !important;
    border-bottom: 1px solid #1f1f1f;
    cursor: pointer;
    &:hover{
      color: #fd641f !important;
    }
  }
  h4 {
    font-weight: bold;
  }
  .forgot-pw-text {
    margin: 0 auto;
    padding: 30px 0 3px 0;
    p {
      font-size: 18px;
    }
  }
  .check-inbox-note {
    font-size: 14px;
    // width: 250px;
    margin: auto auto 20px auto;
  }

  .forgot-pw {
    color: #fd641f;
    text-decoration: underline;
    text-transform: uppercase;
  }
  .shave2u-btn-primary {
    width: 281px;
  }
}

.show-on-web {
  display: block;
}
.show-on-mobile {
  display: none;
}

.sign-in {
  margin: 0 auto;
  .desc-input{
    font-size: 13px;
    color: #636c72;
    margin-top: 10px;
  }
  h1.title, h2.title{
    margin-bottom: 30px;
    font-family: "Muli";
    text-align: left;
    font-size: 23px;
    font-weight: bold;
  }
  .block-signin-signup, .block-forgot-pw, .block-email{
    max-width: 460px;
    width: 458px;
    background: #f7f7f7;
    padding: 80px 80px 50px; 
    margin: 0 auto;
    .btn-facebook{
      padding: 8px 21px;
      width: 100%;
      height: auto;
    }
  }
  .block-left {
    border-right: 1px solid #cccccc;
    text-align: left;
    .hr-block-left {
      display: none;
    }
    h3{
      font-family: "Muli";
      margin-top: 13px;
      margin-left: -13px;
    }
    #guest-description{
      width: 221px;
      margin-left: -11px;
      margin-top: 3px;
      display: inline-block;
    }
    #btn-facebook-container{
      margin-left: -9px;
      display: inline-block;
    }
    .btn-facebook{
      width: 262px;
      height: 57px;
      background:#ffffff;
      margin-left: -2px;
      span {
        font-size: 14px;
      }
    }
    #step-account-note{
      margin-left: -9px;
      display: inline-block;
      font-size: 14px;
    }
  }
  .block-right {
    .signin-form-group{
      margin-top: 10px;
      input {
        height: 67px;
      }
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #aaacaf;
        opacity: 1;
        font-family: 'Muli';
        font-size: 14px;
      }
    
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #aaacaf;
        opacity: 1;
        font-family: 'Muli';
        font-size: 14px;
      }
    
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: #aaacaf;
        opacity: 1;
        font-family: 'Muli';
        font-size: 14px;
      }

    }
    .text-center{
      .shave2u-btn-primary{
        margin-top: 15px;
        width: 100%;
        height: 49px;
      }
    }
    .signin-signup-radio {
      max-width: 400px;
      color: #636c72;
      .form-account {
        /* margin: 0 0 20px 20px; */
        margin-top: 10px;
        label {
          margin-bottom: 0;
          font-size: 13px;
          height: 24px;
          text-transform: uppercase;
          font-weight: bold;
          &.active{
            color: #1f1f1f;
          }
          p{
            color: #636c72;
            text-transform: none;
            font-weight: normal;
          }
        }
        label:hover {
          cursor: pointer;
        }
      }
    }
    input[type='radio'] {
      margin-top: 0px;
      -webkit-appearance: none;
      width: 17px;
      height: 17px;
      border: 1px solid #d0d0d0;
      border-radius: 50%;
      outline: none;
      background-color: #d0d0d0;
    }

    input[type='radio']:hover {
      cursor: pointer;
    }

    input[type='radio']:before {
      content: '';
      display: block;
      width: 60%;
      height: 60%;
      margin: 20% auto;
      border-radius: 50%;
    }
    input[type='radio']:checked:before {
      background: #fe5000;
    }
    input[type='radio']:checked:before:hover {
      cursor: pointer;
    }
    .radio-button-group {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      height: auto !important;
      .text {
        margin-left: 0;
      }
    }
    
    /* Hide the browser's default checkbox */
    .radio-button-group input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 22px;
        width: 22px;
        background-color: #eee;
        border-radius: 50%
    }
    
    /* On mouse-over, add a grey background color */
    .radio-button-group:hover input ~ .checkmark {
        background-color: #ccc;
    }
    
    /* When the checkbox is checked, add a blue background */
    .radio-button-group input:checked ~ .checkmark {
        background-color: #fe5000;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the checkmark when checked */
    .radio-button-group input:checked ~ .checkmark:after {
        display: block;
    }
    
    /* Style the checkmark/indicator */
    .radio-button-group .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 9px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .signin-forrget-pw {
      margin-top: 30px;
      .forgot-pw {
        color: #1f1f1f;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        letter-spacing: 2px;
        padding-bottom: 3px;
        border-bottom: 1px solid #1f1f1f;
        &:hover{
          color: #fd641f;
        }
        &:focus {
          text-decoration: unset;
        }
      }
    }
    .forgot-password-form {
      // max-width: 300px;
      margin: auto;
      h4 {
        font-weight: bold;
      }
      .forgot-pw-text {
        h2 {
          font-family: "Muli";
          margin-bottom: 10px;
        }
        margin: 0 auto;
        padding: 6px 0 0 0;
        p {
          font-size: 16px;
        }
      }
      .check-inbox-note {
        font-size: 14px;
        // width: 250px;
        margin: auto auto 20px auto;
      }

      .forgot-pw {
        color: #fd641f;
        text-decoration: underline;
        text-transform: uppercase;
      }

    }
  }
  .a-byGuest {
    cursor: pointer;
    text-decoration: underline;
    color: #fe5000;
    margin-left: -12px;
  }
  .btn-facebook {
    margin: 0;
  }
}
@media (max-width: 767px) {
  #loginPage {
    form label {margin-bottom: 8px;}
    .login-inner {
      max-width: 100%;
      margin-top: 0;
      padding-top: 50px;
      // margin-bottom: 50px;
      .login-form {
        max-width: 100%;
        .group-button {
          max-width: 100%;
        }
      }
      .forgot-password-form {
        .group-button {
          max-width: 100%;
          .btn {
            width: 100%;
          }
          .shave2u-btn-primary {
            margin: 15px 0;
          }
        }
      }
    }
    .block-signin-signup, .block-forgot-pw{
      max-width: 460px;
      background: #f7f7f7;
      padding: 10px 20px 10px;
      width: auto;
      margin: 0 auto;
    }
  }
  
  .show-on-web {
    display: none;
  }
  .show-on-mobile {
    display: block;
    margin-top: 20px;
  }
}