<div id="loginPage" class="container-fluid">
  <!-- resend activation to email-->
  <div class="no-gutters justify-content-center block-email" *ngIf="stage === 'sendEmail'">
      <h2 class="text-center strong-7 mb-5">{{ 'lbl.login.email_form.account' | translate }}</h2>

      <h3 class="text-center strong-7 mb-4">{{ 'lbl.login.send_email.check_you_inbox' | translate }}</h3>
      <p class="text-center mb-4">{{ 'lbl.login.send_email.note_activelink' | translate:{email: activeEmail} }}</p>
      <p class="text-center small-text mb-2 mt-2">{{ 'lbl.login.send_email.not_reveive_email' | translate }}</p>
      <p class="text-center mt-1">
        <button type="submit" class="btn btn-primary shave2u-btn-primary" (click)="sendEmailAgain()">{{ 'lbl.login.send_email.btn_resend' | translate }}</button>
      </p>
    <!-- </div> -->
  </div>
  <div class="no-gutters justify-content-center block-email" *ngIf="stage === 'emailActive'">
    <!-- <div class="col-md-12 col-lg-6 login-inner"> -->
      <h3 class="medium-text text-center">{{ 'lbl.login.email_active.congratulations' | translate }}</h3>
      <div class="text-center">
        <button type="button" class="btn btn-primary shave2u-btn-primary" (click)='goToStep2()'>{{ 'lbl.login.email_active.btn_continue' | translate }}</button>
      </div>
    <!-- </div> -->
  </div>

  <!-- ./forgot password-->
  <div class="block-forgot-pw" *ngIf="stage === 'forgotPassword_1'">
    <!-- <div class="col-md-12 col-lg-6">
      <div class="login-inner"> -->
        <form class="forgot-password-form" [formGroup]="forgotPasswordForm" novalidate #f="ngForm" (ngSubmit)="forgotPassword()">
          <h2>{{ 'lbl.login.forgot_password.title' | translate }}</h2>
          <p class="change-color">{{ 'lbl.login.forgot_password.description' | translate }}</p>
          
          <!-- <div class="forgot-pw-text">
            <p class="text-center">{{ 'lbl.login.resend_email.forgot_password' | translate }}</p>
          </div> -->
          <div class="text-center" *ngIf="!isComfirmPassword" [ngClass]="f.submitted && (forgotPasswordForm.hasError('required', 'email') || forgotPasswordForm.hasError('pattern', 'email')) ? 'has-danger' : 'correctInput'">
            <!-- Email -->
            <div class="input-group form-group">
              <input formControlName="email" name="email" type="email" class="form-control" pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$' autofocus placeholder="{{'lbl.login.forgot_password.email' | translate}}">
              <!--<span class="icon" [ngClass]="f.submitted ? 'show' : ''"></span>-->
            </div>
            <span class="form-control-feedback" *ngIf="f.submitted && forgotPasswordForm.hasError('required', 'email')">
              {{ 'msg.validation.required' | translate:{value: ( 'msg.field.email' | translate)} }}
            </span>
            <span class="form-control-feedback" *ngIf="f.submitted && forgotPasswordForm.hasError('pattern', 'email')">
              {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.email_address' | translate) } }}
            </span>
            
            <app-alert [message]="resError"></app-alert>
            <div class="group-button">
              <div class="text-center mb-3">
                <button type="submit" class="btn btn-primary shave2u-btn-primary">{{ 'lbl.login.resend_email.btn_submit' | translate }}</button>
              </div>
              <p class="text-center small-text cus-mt"><a class="forgot-pw" (click)="referSignIn();">{{ 'lbl.login.forgot_password.back_signin' | translate }}</a></p>
            </div>
          </div>
        </form>
      <!-- </div>
    </div> -->
  </div>

  <!-- ./resend activation to email-->
  <div class="no-gutters justify-content-center block-forgot-pw" *ngIf="stage === 'forgotPassword_2'">
    <!-- <div class="col-md-12 col-lg-6">
      <div class="login-inner"> -->
        <div class="forgot-password-form">
          <h2 class="strong-7 cus-mb">{{ 'lbl.login.forgot_password.check_inbox' | translate }}</h2>
          <!-- Email -->
          <div class="check-inbox-note">
            {{ 'lbl.login.forgot_password.check_inbox_note' | translate }}
          </div>
          
          <p class="small-text cus-mt"><a class="forgot-pw" (click)="referSignIn();">{{ 'lbl.login.forgot_password.back_signin' | translate }}</a></p>
        </div>
      <!-- </div>
    </div> -->
  </div>
  <div class="row sign-in">
    <!-- input email form-->
    <div class="col-md-12 col-lg-12 block-right" *ngIf="stage === 'signin'">
      <div class="block-signin-signup">
        <!-- <div class="col-md-12 col-lg-12"> -->
          <!-- <h2 class="text-center title">{{ 'lbl.checkout.step_account.account' | translate }}</h2> -->
        <!-- <h1 class="text-left standard-seo pr-md-0">{{ 'lbl.login.email_form.login_create_account' | translate }}</h1>         -->
        <h2 class="text-left title pr-md-0">{{ 'lbl.login.email_form.signin' | translate }}</h2>
        <!-- </div> -->
        <form [formGroup]="emailForm" novalidate #f="ngForm"  (ngSubmit)="emailForm.valid && doLogin()" #nativeForm>
          <!-- <h3>{{ 'lbl.checkout.step_account.signin' | translate }}</h3> -->

          <div class="form-group signin-form-group" [ngClass]="f.submitted && (emailForm.hasError('required', 'email') || emailForm.hasError('pattern', 'email')) ? 'has-danger' : 'correctInput'">
            <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> -->
            <!-- <div class="text-left ">{{ 'lbl.checkout.step_account.sign_in.email' | translate }}</div> -->
            <input placeholder="{{ 'lbl.login.signup_form.placehdr_email' | translate }}" formControlName="email" name="email" type="email" class="form-control" pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$'>
            <span class="help-block text-danger" *ngIf="f.submitted && emailForm.hasError('required', 'email')">
              {{ 'msg.validation.required' | translate:{value: ( 'msg.field.email' | translate)} }}
            </span>
            <span class="help-block text-danger" *ngIf="f.submitted && emailForm.hasError('pattern', 'email')">
              {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.email_address' | translate) } }}
            </span>
          </div>

          <div class="signin-signup-radio">
            <div class="form-check form-account mt-4">
              <label class="form-check-label radio-button-group">
                <input class="form-check-input mr-2" type="radio" id="signUpRadio" value="signup" name="signInUp" (click)="changeSignInUp('signup');" [checked]="stage === 'signup'">
                <span class="checkmark"></span>
                <label class="text" (click)="changeSignInUp('signup');">{{ 'lbl.login.email_form.new_customer' | translate }}</label>
              </label>
            </div>
            <div class="form-check form-account">
              <label class="form-check-label active radio-button-group">
                <input class="form-check-input mr-2" type="radio" id="signInRadio" value="signin" name="signInUp" (click)="changeSignInUp('signin');" [checked]="stage === 'signin'" #signinRadio>
                <span class="checkmark"></span>
                <label class="text" (click)="changeSignInUp('signin');">{{ 'lbl.login.email_form.return_customer' | translate }}</label>
                <!-- <label>{{ 'lbl.login.email_form.login' | translate }}</label> -->
              </label>
            </div>
          </div>

          <div class="form-group signin-form-group" [ngClass]="(f.submitted && (emailForm.hasError('required', 'password') || emailForm.hasError('pattern', 'password') || (resError && resError.message.indexOf('password') !== -1)))
          || (emailForm.controls.password.errors && emailForm.controls.password.errors.validatePassword) ? 'has-danger' : ''">
            <!-- <div class="text-left">{{ 'lbl.checkout.step_account.sign_in.password' | translate }}</div> -->
            <input formControlName="password" type="password" class="form-control re-enter-password"
              idShowHints="hints-input-password-signin" placeholder="{{ 'lbl.checkout.step_account.sign_in.password' | translate }}">
            <!-- <p class="desc-input">{{ 'lbl.login.email_form.minimum_char' | translate }}</p> -->
            <!-- <div class="hints-password">
              <a class="heading" *ngIf="emailForm.controls.password.errors && emailForm.controls.password.errors.validatePassword">
                <i class="fa fa-lock" aria-hidden="true"></i><span>{{ 'lbl.login.password_form.hints_heading' | translate}}</span>
              </a>
              <ul class="list-group" id="hints-input-password-signin"></ul>
            </div> -->
            <span class="help-block text-danger" *ngIf="f.submitted && emailForm.hasError('required', 'password')">
              {{ 'msg.validation.required' | translate:{value: ( 'msg.field.password' | translate)} }}
            </span>
          </div>
          <app-alert [message]="resError"></app-alert>
          <div class="group-button">
            <div class="text-center mb-3">
              <button type="submit" class="btn btn-primary shave2u-btn-primary">{{ 'lbl.login.email_form.signin' | translate }}</button>
            </div>
            <p class="text-center small-text link-text custom-control-description" *ngIf="this.storage.getLanguageCode() === 'EN'">
              {{ 'lbl.login.signup_form.note_content' | translate }} <a routerLink="/terms-conditions" class="link-text-underline">{{ 'lbl.login.signup_form.note_content_terms' | translate }}</a> {{ 'lbl.login.signup_form.note_content_and' | translate }} <a routerLink="/privacy-policy" class="link-text-underline">{{ 'lbl.login.signup_form.note_content_policy' | translate }}</a>
            </p>
            <p class="text-center small-text link-text custom-control-description" *ngIf="this.storage.getLanguageCode() === 'KO'">
              {{ 'lbl.login.signup_form.note_content' | translate }} <a routerLink="/terms-conditions" class="link-text-underline">{{ 'lbl.login.signup_form.note_content_terms' | translate }}</a> {{ 'lbl.login.signup_form.note_content_and' | translate }} <a routerLink="/privacy-policy" class="link-text-underline">{{ 'lbl.login.signup_form.note_content_policy' | translate }}</a>{{ 'lbl.login.signup_form.note_content_end' | translate }}
            </p>
            <div class="text-center mb-3">
              <button class="btn btn-block btn-social btn-facebook small-text" (click)="facebookLogin(); $event.preventDefault()">
                <i class="ico-facebook fa fa-facebook-official"></i><span class="text">{{ 'lbl.login.email_form.signin_facebook' | translate }}</span>
              </button>
            </div>
            <p class="note-fb text-center small-text custom-control-description">
              <strong>{{ 'lbl.login.email_form.note' | translate }}</strong> {{ 'lbl.login.email_form.note_content' | translate }}
            </p>
          </div>
          <p class="signin-forrget-pw text-center"><a href="#" class="forgot-pw" (click)="referForgotPassword(); $event.preventDefault()">{{ 'lbl.login.password_form.forgot_pw' | translate }}</a></p>
        </form>
      </div>
    </div>
    <!-- <div class="row no-gutters justify-content-center" *ngIf="stage === 'signin'">
      <div class="col-md-12 col-lg-6">
        <div class="login-inner">
          <form class="login-form" [formGroup]="emailForm" novalidate #f="ngForm"  (ngSubmit)="emailForm.valid && doLogin()">
            <h2 class="text-center strong-7">{{ 'lbl.login.email_form.account' | translate }}</h2>
            
            <div class="signin-signup-radio">
              <div class="form-check form-check-inline login-form-signin">
                <label class="form-check-label">
                  <input class="form-check-input mr-2" type="radio" id="signInRadio" value="signin" name="signInUp" (click)="changeSignInUp('signin');"
                    [checked]="emailFormType === 'signin'"><label (click)="changeSignInUp('signin');" #signinRadio>{{ 'lbl.login.email_form.login' | translate }}</label>
                </label>
              </div>
              <div class="form-check form-check-inline login-form-signup">
                <label class="form-check-label">
                  <input class="form-check-input mr-2" type="radio" id="signUpRadio" value="signup" name="signInUp" (click)="changeSignInUp('signup');" [checked]="emailFormType === 'signup'"><label (click)="changeSignInUp('signup');">{{ 'lbl.login.email_form.signup' | translate }}</label>
                </label>
              </div>
            </div>
            <div *ngIf="!isComfirmPassword"> -->
              <!-- Email -->
              <!-- <div class="form-group" [ngClass]="f.submitted && (emailForm.hasError('required', 'email') || emailForm.hasError('pattern', 'email')) ? 'has-danger' : 'correctInput'">
                <label>{{ 'lbl.login.email_form.email' | translate }}</label>
                <input formControlName="email" name="email" type="email" class="form-control" pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$' autofocus>
                <span class="form-control-feedback" *ngIf="f.submitted && emailForm.hasError('required', 'email')">
                  {{ 'msg.validation.required' | translate:{value: ( 'msg.field.email' | translate)} }}
                </span>
                <span class="form-control-feedback" *ngIf="f.submitted && emailForm.hasError('pattern', 'email')">
                  {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.email_address' | translate) } }}
                </span>
              </div>               -->
              <!-- Password -->
              <!-- <div class="form-group" [ngClass]="(f.submitted && emailForm.hasError('required', 'password')) || (emailForm.controls.password.errors && emailForm.controls.password.errors.validatePassword) ? 'has-danger' : ''">
                <label>{{ 'lbl.login.email_form.password' | translate }}</label>
                <input formControlName="password" type="password" class="form-control input-password"
                  idShowHints="hints-input-password-signin">
                <div class="hints-password">
                  <a class="heading" *ngIf="emailForm.controls.password.errors && emailForm.controls.password.errors.validatePassword">
                    <i class="fa fa-lock" aria-hidden="true"></i><span>{{ 'lbl.login.password_form.hints_heading' | translate}}</span>
                  </a>
                  <ul class="list-group" id="hints-input-password-signin"></ul>
                </div>
                <span class="form-control-feedback" *ngIf="f.submitted && emailForm.hasError('required', 'password')">link-text-underline
                  {{ 'msg.validation.required' | translate:{value: 'Password'} }}
                </span>
              </div>
  
              <app-alert [message]="resError"></app-alert>
              <div class="group-button">
                <p class="text-center small-text mb-0"><a href="#" class="link-text-underline forgot-pw" (click)="referForgotPassword(); $event.preventDefault()">{{ 'lbl.login.password_form.forgot_pw' | translate }}</a></p>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary shave2u-btn-primary">{{ 'lbl.login.email_form.signin' | translate }}</button>
                  <app-alert [message]="fbResError"></app-alert>
                  <button class="btn btn-block btn-social btn-facebook small-text" (click)="facebookLogin(); $event.preventDefault()">
                    <i class="ico-facebook fa fa-facebook-official"></i><span class="text">{{ 'lbl.login.email_form.signin_facebook' | translate }}</span>
                  </button>
                </div>
                <p class="note-fb text-center small-text">
                  <strong>{{ 'lbl.login.email_form.note' | translate }}</strong> {{ 'lbl.login.email_form.note_content' | translate }}
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div> -->
    <!-- ./input email form-->
  
    <!-- singup form -->  
    <div class="col-md-12 col-lg-12 block-right" *ngIf="stage === 'signup'">
      <div class="block-signin-signup">
        <!-- <h1 class="text-left standard-seo pr-md-0" [innerHTML]="'lbl.login.email_form.login_create_account' | translate"></h1>         -->
        <h2 class="text-left title pr-md-0">{{ 'lbl.login.email_form.create_account' | translate }}</h2>
        <form class="form-sign-up" [formGroup]="signUpForm" novalidate #f="ngForm" (ngSubmit)="signUpForm.valid && doSignUp(signUpForm.value)">
          <!-- <div> -->
            <!-- <h2 class="text-center strong-7">{{ 'lbl.login.email_form.account' | translate }}</h2> -->
            
            <!-- <div class="signin-signup-radio">
              <div class="form-check form-check-inline login-form-signin">
                <label class="form-check-label">
                  <input class="form-check-input mr-2" type="radio" id="signInRadio" value="signin" name="signInUp" (click)="changeSignInUp('signin');"
                    [checked]="emailFormType === 'signin'"><label (click)="changeSignInUp('signin');"  #signinRadio>{{ 'lbl.login.email_form.login' | translate }}</label>
                </label>
              </div>
              <div class="form-check form-check-inline login-form-signup">
                <label class="form-check-label">
                  <input class="form-check-input mr-2" type="radio" id="signUpRadio" value="signup" name="signInUp" (click)="changeSignInUp('signup');" [checked]="emailFormType === 'signup'"><label (click)="changeSignInUp('signup');">{{ 'lbl.login.email_form.signup' | translate }}</label>
                </label>
              </div>
            </div> -->
            <!-- Email -->
            <!-- <div class="row no-gutters"> -->
  
              <div class="form-group signin-form-group" [ngClass]="f.submitted && (signUpForm.hasError('required', 'email') || signUpForm.hasError('pattern', 'email')) ? 'has-danger' : ''">
                <!-- <div class="form-group">
                  <label for="email">{{ 'lbl.login.email_form.email' | translate }}</label>
                  <div class="form-group"> -->
                    <input type="email" class="form-control" formControlName="email" pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$' placeholder="{{ 'lbl.login.signup_form.placehdr_email' | translate }}">
                    <span class="icon" [ngClass]="f.submitted ? 'show' : ''"></span>
                    <span class="form-control-feedback" *ngIf="f.submitted && signUpForm.hasError('required', 'email')">
                      {{ 'msg.validation.required' | translate:{value: ( 'msg.field.email' | translate)} }}
                    </span>
                    <span class="form-control-feedback" *ngIf="f.submitted && signUpForm.hasError('pattern', 'email')">
                      {{ 'msg.validation.email' | translate }}
                    </span>
                  <!-- </div>
                </div> -->
              </div>
            <!-- </div> -->

          <div class="signin-signup-radio">
            <div class="form-check form-account mt-4">
              <label class="form-check-label active radio-button-group">
                <input class="form-check-input mr-2" type="radio" id="signUpRadio" value="signup" name="signInUp" (click)="changeSignInUp('signup');" [checked]="stage === 'signup'">
                <span class="checkmark"></span>
                <label (click)="changeSignInUp('signup');">{{ 'lbl.login.email_form.new_customer' | translate }}</label>
                <p class="note-input">{{ 'lbl.login.signup_form.new_customer_note' | translate }}</p>
              </label>
            </div>
            <div class="form-check form-account mt-4">
              <label class="form-check-label radio-button-group">
                <input class="form-check-input mr-2" type="radio" id="signInRadio" value="signin" name="signInUp" (click)="changeSignInUp('signin');" [checked]="stage === 'signin'">
                <span class="checkmark"></span>
                <label (click)="changeSignInUp('signin');">{{ 'lbl.login.email_form.return_customer' | translate }}</label>
              </label>
            </div>
          </div>
  
            <!-- <div class="row">
              <div class="col-md-6 pr-sm-0" [ngClass]="f.submitted && (signUpForm.hasError('required', 'firstName')) ? 'has-danger' : ''">
                <div class="form-group">
                  <label for="firstName">{{ 'lbl.login.signup_form.name' | translate }}</label>
                  <input id="firstName" type="text" class="form-control" formControlName="firstName" placeholder="{{ 'lbl.login.signup_form.placehdr_first_nm' | translate }}">
                  <span class="form-control-feedback" *ngIf="f.submitted && signUpForm.hasError('required', 'firstName')">
                    {{ 'msg.validation.required' | translate:{value: 'First Name'} }}
                  </span>
                </div>
              </div>
              <div class="col-md-6 pl-sm-0" [ngClass]="f.submitted && (signUpForm.hasError('required', 'lastName')) ? 'has-danger' : ''">
                <div class="form-group">
                  <label class="hidden-xs-down">&nbsp;</label>
                  <input id="lastName" name="lastName" type="text" class="form-control" formControlName="lastName" placeholder="{{ 'lbl.login.signup_form.placehdr_last_nm' | translate }}">
                  <span class="form-control-feedback" *ngIf="f.submitted && signUpForm.hasError('required', 'lastName')">
                    {{ 'msg.validation.required' | translate:{value: 'Last Name'} }}
                  </span>
                </div>
              </div>
            </div> -->
  
            <div class="form-group signin-form-group" [ngClass]="(f.submitted && (signUpForm.hasError('required', 'password') || (signUpForm.controls.password.errors && signUpForm.controls.password.errors.validatePassword))) ? 'has-danger' : ''">
              <input id="password" name="password" type="password" class="form-control"
                formControlName="password" validateEqual="confirmPassword" reverse="true"
                idShowHints="hints-input-password" validatePassword placeholder="{{ 'lbl.login.signup_form.placehdr_new_pw' | translate }}">
                <!-- <p class="desc-input">{{ 'lbl.login.email_form.minimum_char' | translate }}</p> -->
                <span class="form-control-feedback" *ngIf="f.submitted && signUpForm.hasError('required', 'password')">
                    {{ 'msg.validation.required' | translate:{value: 'msg.field.password' | translate} }}
                </span>
                <div class="hints-password">
                  <a class="heading" *ngIf="signUpForm.controls.password.errors && signUpForm.controls.password.errors.validatePassword">
                    <i class="fa fa-lock" aria-hidden="true"></i><span>{{ 'lbl.login.password_form.hints_heading' | translate}}</span>
                  </a>
                  <ul class="list-group" id="hints-input-password"></ul>
                </div>
            </div>

            <!-- <div class="row">
              <div class="col-md-6 pr-sm-0" [ngClass]="(f.submitted && signUpForm.hasError('required', 'password')) || (signUpForm.controls.password.errors && signUpForm.controls.password.errors.validatePassword) ? 'has-danger' : ''">
                <div class="form-group">
                  <label for="password">{{ 'lbl.login.signup_form.password' | translate }}</label>
                  <div class="password-item">
                    <input id="password" name="password" type="password" class="form-control"
                      formControlName="password" validateEqual="confirmPassword" reverse="true"
                      idShowHints="hints-input-password" validatePassword placeholder="{{ 'lbl.login.signup_form.placehdr_new_pw' | translate }}">
                  </div>
                  <span class="form-control-feedback" *ngIf="f.submitted && signUpForm.hasError('required', 'password')">
                      {{ 'msg.validation.required' | translate:{value: 'Password'} }}
                  </span>
                </div>
              </div>
              <div class="col-md-6 pl-sm-0 show-on-web" [ngClass]="(!signUpForm.controls.confirmPassword.valid && f.submitted) || (signUpForm.controls.confirmPassword.errors && signUpForm.controls.confirmPassword.errors.validatePassword) ? 'has-danger' : ''">
                <div class="form-group">
                  <label class="hidden-xs-down">&nbsp;</label>
                  <input id="confirmPassword" name="confirmPassword" type="password" class="form-control"
                    formControlName="confirmPassword" validateEqual="password" reverse="false"
                    idShowHints="hints-input-confirmPassword" validatePassword placeholder="{{ 'lbl.login.signup_form.placehdr_re_enter_pw' | translate }}">
                  <span class="form-control-feedback" *ngIf="!signUpForm.controls.confirmPassword.valid && f.submitted">
                      {{ 'msg.validation.password_not_match' | translate }}
                  </span>
                </div>
              </div>
              <div class="hints-password">
                <a class="heading" *ngIf="signUpForm.controls.password.errors && signUpForm.controls.password.errors.validatePassword">
                  <i class="fa fa-lock" aria-hidden="true"></i><span>{{ 'lbl.login.password_form.hints_heading' | translate}}</span>
                </a>
                <ul class="list-group" id="hints-input-password"></ul>
              </div>
              <div class="col-md-6 pl-sm-0 show-on-mobile" [ngClass]="(!signUpForm.controls.confirmPassword.valid && f.submitted) || (signUpForm.controls.confirmPassword.errors && signUpForm.controls.confirmPassword.errors.validatePassword) ? 'has-danger' : ''">
                <div class="form-group">
                  <label class="hidden-xs-down">&nbsp;</label>
                  <input id="confirmPassword" name="confirmPassword" type="password" class="form-control"
                    formControlName="confirmPassword" validateEqual="password" reverse="false"
                    idShowHints="hints-input-confirmPassword" validatePassword placeholder="{{ 'lbl.login.signup_form.placehdr_re_enter_pw' | translate }}">
                  <span class="form-control-feedback" *ngIf="!signUpForm.controls.confirmPassword.valid && f.submitted">
                      {{ 'msg.validation.password_not_match' | translate }}
                  </span>
                </div>
              </div>
            </div> -->
  
            <app-alert [message]="resError"></app-alert>
            <!-- <div class="minimum-char mb-3">
              <span class="custom-control-description small-text">{{ 'lbl.login.signup_form.minimum_8char' | translate }}</span>              
            </div> -->
            <!-- <div class="row mb-3">            
              <div class="col">
                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                  <input type="checkbox" class="custom-control-input" checked formControlName="hasReceiveOffer">
                  <span class="shave2u-custom-control-indicator custom-control-indicator"></span>
                  <span class="custom-control-description small-text">{{ 'lbl.login.signup_form.offers' | translate }}</span>
                </label>
              </div>
            </div> -->
            
            <div class="group-button">
              <div class="text-center mb-3">
                <button type="submit" class="btn btn-primary shave2u-btn-primary">{{ 'lbl.login.signup_form.create_account' | translate }}</button>
              </div>
              <p class="text-center small-text custom-control-description" *ngIf="this.storage.getLanguageCode() === 'EN'">
                {{ 'lbl.login.signup_form.note_content' | translate }} <a routerLink="/terms-conditions" class="link-text-underline">{{ 'lbl.login.signup_form.note_content_terms' | translate }}</a> {{ 'lbl.login.signup_form.note_content_and' | translate }} <a routerLink="/privacy-policy" class="link-text-underline">{{ 'lbl.login.signup_form.note_content_policy' | translate }}</a>
              </p>
              <p class="text-center small-text custom-control-description" *ngIf="this.storage.getLanguageCode() === 'KO'">
                {{ 'lbl.login.signup_form.note_content' | translate }} <a routerLink="/terms-conditions" class="link-text-underline">{{ 'lbl.login.signup_form.note_content_terms' | translate }}</a> {{ 'lbl.login.signup_form.note_content_and' | translate }} <a routerLink="/privacy-policy" class="link-text-underline">{{ 'lbl.login.signup_form.note_content_policy' | translate }}</a>{{ 'lbl.login.signup_form.note_content_end' | translate }}
              </p>
              <div class="text-center mb-3">
                <button class="btn btn-block btn-social btn-facebook small-text" (click)="facebookLogin(); $event.preventDefault()">
                  <i class="ico-facebook fa fa-facebook-official"></i><span class="text">{{ 'lbl.login.email_form.signup_facebook' | translate }}</span>
                </button>
              </div>
              <p class="note-fb text-center small-text custom-control-description">
                <strong>{{ 'lbl.login.email_form.note' | translate }}</strong> {{ 'lbl.login.email_form.note_content' | translate }}
              </p>
            </div>
          <p class="signin-forrget-pw text-center"><a href="#" class="forgot-pw" (click)="referForgotPassword(); $event.preventDefault()">{{ 'lbl.login.password_form.forgot_pw' | translate }}</a></p>
            
          <!-- </div> -->
        </form>
      </div>
    </div>
    <!-- ./signupp form -->
  </div>
</div>