<div class="row mx-0">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title float-left">Manage Plan Groups</h4>
        <button type="button" class="btn btn-secondary btn-sm float-right" routerLink="/subscriptions/plan-groups/add" *ngIf="globalService.canCreate('subscriptions/plan-groups')">Add A Plan Group</button>
        <br>
        <br>
      </div>      
      <div class="content table-responsive table-full-width" *ngIf="!isLoading">
        <table class="table table-shaves mt-2">
          <thead>
            <tr>
              <th>Image</th>
              <th class="th-subsequentChargeDuration">Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of planGroupList">
              <td class="td-image">
                <img src="{{item.url}}" width="100"/>
              </td>
              <td class="td-name">
                {{ item.planGroupTranslate.name }}
              </td>
              <td class="td-actions">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                  </button>
                  <div class="dropdown-menu actiion-menu" aria-labelledby="dropdownMenuButton" *ngIf="globalService.canEdit('subscriptions/plan-groups')">
                    <a class="dropdown-item" routerLink="/subscriptions/plan-groups/edit/{{item.id}}" *ngIf="globalService.canEdit('subscriptions/plan-groups')">Edit</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngIf="planGroupList.length === 0"><td colspan="3" class="text-center">No Items</td></tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->
</div>