<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Product Category</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12 user-info">
        <form #f='ngForm' novalidate (ngSubmit)='f.form.valid && doEditCategory()' [formGroup]="categoryForm">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12 form-group" [ngClass]="!categoryForm['controls'].name.valid && f.submitted ? 'has-danger' : ''">
                  <label class="form-control-label">Type (<span class="required">*</span>)</label>
                  <div class="controls">
                    <input id="password" type="text" class="form-control" placeholder="Enter category name" name="name" 
                      formControlName="name">
                  </div>
                  <span class="form-control-feedback" *ngIf="f.submitted && categoryForm['controls'].name.hasError('required')">
                      {{ 'msg.validation.required' | translate }}
                  </span>
                  <span class="form-control-feedback" *ngIf="f.submitted && categoryForm['controls'].name.hasError('maxlength')">
                    {{ 'msg.validation.maxlength' | translate : {value: 200} }}
                  </span>
                </div>
                <div class="col-sm-12 form-group" [ngClass]="categoryForm['controls'].url.hasError('required') && f.submitted ? 'has-danger' : ''">
                  <label class="form-control-label">Image (<span class="required">*</span>)</label>
                  <div class="controls">
                    <single-file-upload [group]="categoryForm" [controlName]="'url'" *ngIf="categoryForm['controls'].id.value"></single-file-upload>
                  </div>
                  <span class="form-control-feedback" *ngIf="f.submitted && categoryForm['controls'].url.hasError('required')">
                    {{ 'msg.validation.requiredFile' | translate }}
                  </span>
                </div>
                <!-- Translate -->
                <div class="col-sm-12 form-group" formArrayName="productTypeTranslate">
                  <div class="card-block pl-0">
                    <h6 class="text-uppercase form-control-inline mr-2">Translate List</h6>
                    <product-type-translate-form [productTypeTranslateForm]="categoryForm.controls.productTypeTranslate" [productTypeId]="productTypeId"></product-type-translate-form>
                  </div>
                </div>
                <!-- / Translate -->
              </div>
              <app-alert></app-alert>
              <div class="form-group">
                <button type="button" class="btn btn-secondary btn-sm" (click)="gotoList()">Cancel</button>
                <button type="submit" class="btn btn-primary shave2u-btn-primary">Save Changes</button>
              </div>
            </div>
          </div>
        </form>
      </div>  
    </div>
  </div>
</section>