<div class="row mt-3" [formGroup]="productDetailsForm">
  <div class="col-sm-12 form-group" [ngClass]="!productDetailsForm.controls.title.valid && (parentOnActive || productDetailsForm.get('title').touched || productDetailsForm.get('title').dirty) ? 'has-danger' : ''">

    <label class="form-control-label">Title (<span class="required">*</span>)</label>
    <div class="controls">
      <input type="text" class="form-control" id="input-name" placeholder="Enter product details title"
        formControlName="title" name="title">
    </div>
    <span class="form-control-feedback" *ngIf="!productDetailsForm.controls.title.valid && (parentOnActive || productDetailsForm.get('title').touched || productDetailsForm.get('title').dirty)">
        {{ 'msg.validation.required' | translate }}
    </span>

  </div>
  <div class="col-sm-12 form-group" [ngClass]="!productDetailsForm.controls.details.valid && (parentOnActive || productDetailsForm.get('details').touched || productDetailsForm.get('details').dirty) ? 'has-danger' : ''">

    <label class="form-control-label">Details (<span class="required">*</span>)</label>
    <div class="controls">
      <textarea type="text" class="form-control" id="input-name" placeholder="Enter product details content"
        formControlName="details" name="details" rows="5"></textarea>
    </div>
    <span class="form-control-feedback" *ngIf="!productDetailsForm.controls.details.valid && (parentOnActive || productDetailsForm.get('details').touched || productDetailsForm.get('details').dirty)">
        {{ 'msg.validation.required' | translate }}
    </span>

  </div>
  <div class="col-sm-12 form-group" [ngClass]="!productDetailsForm.controls.type.valid && (parentOnActive || productDetailsForm.get('type').touched || productDetailsForm.get('type').dirty) ? 'has-danger' : ''">
    <label class="form-control-label">Type (<span class="required">*</span>)</label>
    <div class="controls">
      <select class="selectpicker form-control" formControlName="type" name="type">
        <option [value]="type" *ngFor="let type of ['center', 'left', 'right']; let i=index">{{ type }}</option>
      </select>
    </div>
    <span class="form-control-feedback" *ngIf="!productDetailsForm.controls.type.valid && (parentOnActive || productDetailsForm.get('type').touched || productDetailsForm.get('type').dirty)">
      {{ 'msg.validation.required' | translate }}
    </span>
  </div>
  <div class="col-sm-12 form-group" [ngClass]="!productDetailsForm.controls.imageUrl.valid && (parentOnActive || productDetailsForm.get('imageUrl').touched || productDetailsForm.get('imageUrl').dirty) ? 'has-danger' : ''">
    <label class="form-control-label">Image (<span class="required">*</span>)</label>
    <div class="controls">
      <single-file-upload [group]="productDetailsForm" [controlName]="'imageUrl'"></single-file-upload>
    </div>
    <span class="form-control-feedback" *ngIf="!productDetailsForm.controls.imageUrl.valid && (parentOnActive || productDetailsForm.get('imageUrl').touched || productDetailsForm.get('imageUrl').dirty)">
      {{ 'msg.validation.requiredFile' | translate }}
    </span>
  </div>
</div>
