<div class="row mx-0">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title float-left">Manage Subscribers</h4>
        <!--<a type="button" class="btn btn-secondary btn-sm float-right btn-cus" routerLink="/subscriptions/plans/add">Add A Plan</a>-->
        <button type="button" class="btn btn-secondary btn-sm float-right" (click)="downloadCSV()" *ngIf="globalService.canDownload('subscriptions/subscribers')">Download CSV</button>
        <br>
        <br>
      </div>
      
      <div class="content table-responsive table-full-width">
        <div class="row mx-0 mb-3">
          <!-- <div class="col-md-3">
            <select name="cities" class="selectpicker form-control" (change)="onLimitChange($event)">
              <option [attr.value]="item" *ngFor="let item of [50, 100, 150, 200]" [attr.selected]="item == options.get('limit') ? true : null">Show {{item}} per page</option>
            </select>
          </div> -->
          <div class="col-md-3">
            <label for="">Filter by Channel</label>
            <select name="filterByUserType" class="selectpicker form-control" (change)="filterby('userType', $event.target.value)">
              <option [value]="'all'" [selected]="!options.get('type')">All Channels</option>
              <option value="users" [attr.selected]="options.get('userType') == 'users' ? true : null">Online / E-Commerce</option>
              <option value="sellers" [attr.selected]="options.get('userType') == 'sellers' ? true : null">BA</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="">Filter by Country</label>
            <select name="filterByCountry" class="selectpicker form-control" (change)="filterby('CountryId', $event.target.value)">
              <option [value]="'all'" [selected]="!options.get('CountryId')">All Countries</option>
              <option [value]="country.id" *ngFor="let country of countries" [selected]="country.id == options.get('CountryId') ? true : null">{{country.name}}</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="">Filter by Status</label>
            <select name="filterByStatus" class="selectpicker form-control" (change)="filterby('status', $event.target.value)">
              <option [value]="'all'" >All Status</option>
              <option value="Processing" [attr.selected]="options.get('status') == 'Processing' ? true : null">Processing</option>
              <option value="On Hold" [attr.selected]="options.get('status') == 'On Hold' ? true : null">On Hold</option>
              <option value="Finished" [attr.selected]="options.get('status') == 'Finished' ? true : null">Finished</option>
              <option value="Canceled" [attr.selected]="options.get('status') == 'Canceled' ? true : null">Canceled</option>
            </select>
          </div>
        </div>
        <div class="row mx-0 mb-3 row-alignment">
          <div class="col-md-6 filter-field mt-3">
            <label for="">Search</label>
            <input id="filterByS" name="filterByS" type="text" class="form-control" placeholder="Search by Email, Plan Name" [ngModel]="options.get('s')"
              (input)="customizeSearchBy('s', $event)">
          </div>
          <div class="col-md-3">
            <md-form-field>
              <input mdInput [mdDatepicker]="pickerFromDate" placeholder="From date" [ngModel]="fromDate" (change)="changeFromDate($event.target.value)" disabled>
              <md-datepicker-toggle mdSuffix [for]="pickerFromDate"></md-datepicker-toggle>
              <md-datepicker #pickerFromDate (selectedChanged)="changeFromDate($event)" [disabled]="false"></md-datepicker>
            </md-form-field>
          </div>
          <div class="col-md-3">
            <md-form-field>
              <input mdInput [mdDatepicker]="pickerToDate" placeholder="To date" [(ngModel)]="toDate" (change)="changeToDate($event.target.value)" disabled>
              <md-datepicker-toggle mdSuffix [for]="pickerToDate"></md-datepicker-toggle>
              <md-datepicker #pickerToDate (selectedChanged)="changeToDate($event)" [disabled]="false"></md-datepicker>
            </md-form-field>
          </div>
        </div>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)" ></pagination>
        <!-- /pagging -->
        <table class="table table-shaves mt-2">
          <thead>
            <tr>
              <th (click)="tableHearSort($event, subscriberList.rows, 'email','string','User')" class="table-sort">Email</th>
              <th (click)="tableHearSort($event, subscriberList.rows, 'code','string','User.Country')" class="table-sort">Country</th>
              <th (click)="tableHearSort($event, subscriberList.rows, 'createdAt','date')" class="table-sort">Created At</th>
              <th (click)="tableHearSort($event, subscriberList.rows, 'updatedAt','date')" class="table-sort">Last Updated</th>
              <th><span class="nowrap">Shave Plan</span> (SKU)</th>
              <th (click)="tableHearSort($event, subscriberList.rows, 'name','string','PlanCountry.Plan.planTranslate')" class="table-sort">Plan Name</th>
              <th class="text-right">Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="!isLoading">
            <tr *ngFor="let item of subscriberList.rows">
              <td class="td-name">
                {{item.User.email}}
              </td>
              <td>{{item.User.Country.code}}</td>
              <td>{{item?.createdAt | date:"dd/MM/yyyy hh:mm:ss a"}}</td>
              <td>{{item?.updatedAt | date:"dd/MM/yyyy hh:mm:ss a"}}</td>
              <td>{{ item.productSkus }}</td>
              <td *ngIf="item.PlanCountry">{{item.PlanCountry.Plan.planTranslate | translatePipe : 'name'}}</td>
              <td *ngIf="item.CustomPlan">{{item.CustomPlan.description}}</td>
              <td class="td-available-in text-right">{{item.status}}</td>
              <td class="td-actions">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                  </button>
                  <div class="dropdown-menu actiion-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" [routerLink]="['/subscriptions/subscribers/details/users/', item.id]" *ngIf="!options.userType || options.userType === 'users' && globalService.canView('subscriptions/subscribers')">Details</a>
                    <a class="dropdown-item" [routerLink]="['/subscriptions/subscribers/details/sellers/', item.id]" *ngIf="options.userType && options.userType === 'sellers' && globalService.canView('subscriptions/subscribers')">Details</a>
                    <a class="dropdown-item" (click)="cancel(item)" *ngIf="globalService.canEdit('subscriptions/subscribers-free-trial') && item.status !== 'Canceled'">Cancel</a>
                    <a class="dropdown-item" (click)="cancel(item)" *ngIf="globalService.canEdit('subscriptions/subscribers-free-trial') && item.status === 'Canceled'">Edit Reason</a>
                    <!--<a class="dropdown-item" (click)="cancel(item)">Cancel</a>-->
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngIf="subscriberList.rows.length === 0"><td colspan="7" class="text-center">No Items</td></tr>
          </tbody>
        </table>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"
          [showing]="false"></pagination>
        <!-- /pagging -->
      </div>
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->
</div>

<!-- add-user-modal -->
<!--<add-user-modal (hasChange)="hasChangeUser($event)"></add-user-modal>-->
<!-- edit-user-modal -->
<edit-subscribers-modal [title] ="title" (hasChange)="hasChangeSubscriber($event)"></edit-subscribers-modal>