<ul class="path" [formGroup]="permissionsForm">
  <li>
    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
      <!--<input type="checkbox" id="option" class="option" formControlName="PathId">{{ permissionsForm.value.pathValue }}-->
      <!--<input type="checkbox" class="custom-control-input" formControlName="PathId" (click)="selectPath($event)">-->
      <!--<span class="custom-control-indicator"></span>-->
      <span class="custom-control-description font-weight-bold">{{ permissionsForm.value.pathValue }}</span>
    </label>
    <ul class="ul-child">
      <li>
        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
          <input type="checkbox" class="custom-control-input" formControlName="canView">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description"> Can View</span>
        </label>
      </li>
      <li>
        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
          <input type="checkbox" class="custom-control-input" formControlName="canCreate">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description"> Can Create</span>
        </label>
      </li>
      <li>
        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
          <input type="checkbox" class="custom-control-input" formControlName="canEdit">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description"> Can Edit</span>
        </label>
      </li>
      <li>
        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
          <input type="checkbox" class="custom-control-input" formControlName="canUpload">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description"> Can Upload</span>
        </label>
      </li>
      <li>
        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
          <input type="checkbox" class="custom-control-input" formControlName="canDownload">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description"> Can Download</span>
        </label>
      </li>
      
      <li>
        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
          <input type="checkbox" class="custom-control-input" formControlName="canDelete">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description"> Can Delete</span>
        </label>
      </li>
    </ul>
  </li>
</ul>