
.date-area {
  padding-top: 10px;
}

.date-area div {
  padding-right: 0;
  padding-left: 0;
  vertical-align: middle;

  p {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
  }
}

// .sale-report-table {
//   .category {
//     width: 10%;
//   }
//   .name {
//     width: 46%;
//   }
//   .sku {
//     width: 15%;
//   }
//   .unit {
//     width: 7%;
//   }
//   .date {
//     width: 15%;
//   }
//   .region {
//     width: 7%;
//   }
// }
.notice {
  line-height: 43px;
  font-size: 14px;
  color: #529214;
  a {
      color: #529214;
      &:hover {
          border-bottom: 1px solid #529214;
          text-decoration: none;
      }
  }
}