<div class="modal fade modal-shaves2u" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" *ngIf="show">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">{{ 'lbl.user.setting.address_modal.header_add_addr' | translate }}</h5>
      </div>
      <div class="modal-body">

        <div class="panel panel-default">
          <div class="panel-body adddress-info">
            <div class="row">
              <div class="col-md-12 col-lg-12 px-0">
                <form [formGroup]='deliveryAddressForm' #f='ngForm' #documentEditForm="ngForm" name="documentEditForm" novalidate (ngSubmit)='deliveryAddressForm.valid && doAddDeliveryAddress(deliveryAddressForm.value)'>
                  <div class="row no-padding">
                    <!-- add shipping address form -->
                      <h4 class="col-md-12 text-center">{{ 'checkout.step_address.address.shipping_heading' | translate }}</h4>

                      <div class="col-md-12">
                        <div class="row mx-0">
                          <label class="col-md-12" for="input-first-name">{{ 'checkout.step_address.contact.name.label' | translate }}</label>
                          <div class="col-md-6 pr-2">
                            <div class="form-group" [ngClass]="{'has-danger': f.submitted && !deliveryAddressForm.controls.firstName.valid}">
                              <input type="text" class="form-control shave2u-form-control" placeholder="{{ 'checkout.step_address.contact.name.place_holder_firstName' | translate }}"
                                id="input-first-name" name="firstName" formControlName="firstName" autofocus>
                              <span *ngIf="f.submitted && !deliveryAddressForm.controls.firstName.valid" class="form-control-feedback">
                                {{ 'msg.validation.required' | translate:{value: 'First Name'} }}
                              </span>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-danger': f.submitted && !deliveryAddressForm.controls.lastName.valid}">
                              <input type="text" class="form-control shave2u-form-control" placeholder="{{ 'checkout.step_address.contact.name.place_holder_lastName' | translate }}"
                                id="input-last-name" name="lastName" formControlName="lastName">
                              <span *ngIf="f.submitted && !deliveryAddressForm.controls.lastName.valid" class="form-control-feedback">
                                {{ 'msg.validation.required' | translate:{value: 'Last Name'} }}
                              </span>
                            </div>
                          </div>
                        </div>
                        <!--input-address-->
                        <div class="form-group" [ngClass]="{'has-danger': f.submitted && !deliveryAddressForm.controls.address.valid}">
                          <label for="input-address">{{ 'checkout.step_address.address.address.label' | translate }}</label>
                          <input type="text" class="form-control shave2u-form-control" placeholder="{{ 'checkout.step_address.address.address.place_holder' | translate }}"
                            id="input-address" formControlName="address">
                          <span *ngIf="f.submitted && !deliveryAddressForm.controls.address.valid" class="form-control-feedback">
                              {{ 'msg.validation.required' | translate:{value: 'Address'} }}
                          </span>
                        </div>
                        <!-- / input-address-->

                        <!-- input-phone -->
                        <div class="form-group row">
                          <div class="col-md-12">
                            <div class="row mx-0">
                              <label class="col-md-12" for="input-id-5">{{ 'checkout.step_address.contact.phone.label' | translate }}</label>
                              <div class="col-2">
                                <select class="form-control shave2u-form-control border-right-0" formControlName="callingCode" >
                                  <option [value]="country.dial_code" *ngFor="let country of callingCodes">{{country.dial_code}}</option>
                                </select>
                              </div>
                              <div class="col-10">
                                <div class="form-group" [ngClass]="{'has-danger': (f.submitted || deliveryAddressForm.controls.contactNumber.touched) && !deliveryAddressForm.controls.contactNumber.valid}">
                                  <input type="text" class="form-control shave2u-form-control" placeholder="{{ 'checkout.step_address.contact.phone.place_holder' | translate }}"
                                    id="input-id-5" name="contactNumber" formControlName="contactNumber" inputNumber>
                                  <span *ngIf="(f.submitted || deliveryAddressForm.controls.contactNumber.touched) && !deliveryAddressForm.controls.contactNumber.valid"
                                    class="form-control-feedback">
                                    {{ 'msg.validation.required' | translate:{value: 'Phone'} }}
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- / input-phone -->

                        <!-- input-city -->
                        <div class="form-group" [ngClass]="{'has-danger': f.submitted && !deliveryAddressForm.controls.city.valid}">
                          <label for="select-state">{{ 'checkout.step_address.address.city.label' | translate }}</label>
                          <input type="text" class="form-control shave2u-form-control" formControlName="city" name="city" />
                          <span *ngIf="f.submitted && !deliveryAddressForm.controls.city.valid" class="form-control-feedback">
                            {{ 'msg.validation.required' | translate:{value: 'Region'} }}
                          </span>
                        </div>
                        <!-- / input-city -->

                        <!-- input-portalCode, input-state -->
                        <div class="row">
                          <div class="col-md-6 pr-2">
                            <div class="form-group" [ngClass]="{'has-danger': f.submitted && !deliveryAddressForm.controls.portalCode.valid}">
                              <label for="input-postal-code">{{ 'checkout.step_address.address.postal_code.label' | translate }}</label>
                              <input type="text" class="form-control shave2u-form-control" placeholder="{{ 'checkout.step_address.address.postal_code.place_holder' | translate }}"
                                id="input-postal-code" formControlName="portalCode" name="portalCode" />
                              <span *ngIf="f.submitted && !deliveryAddressForm.controls.portalCode.valid" class="form-control-feedback">
                                {{ 'msg.validation.required' | translate:{value: 'Portal Code'} }}
                              </span>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group row px-0 mx-0" [ngClass]="{'has-danger': f.submitted && !deliveryAddressForm.controls.state.valid}">
                              <label for="select-state">{{ 'checkout.step_address.address.state.label' | translate }}</label>
                              <select class="form-control shave2u-form-control" id="select-state" formControlName="state" name="state" required [hidden]="!countryStates || countryStates.length === 0">
                                <option [value]="null" hidden disabled selected-custom [attr.selected]=""><span class="text-danger">- {{ 'checkout.step_address.address.state.defaultOption' | translate }} -</span></option>
                                <option value="{{state.name}}" *ngFor="let state of countryStates" >{{state.name}}</option>
                              </select>
                              <input type="text" class="form-control shave2u-form-control" formControlName="state" name="state" required [hidden]="countryStates && countryStates.length > 0"
                              />
                              <span *ngIf="f.submitted && !deliveryAddressForm.controls.state.valid" class="form-control-feedback">
                                {{ 'msg.validation.required' | translate:{value: 'State'} }}
                              </span>
                            </div>
                          </div>
                        </div>
                        <!-- / input-portalCode, input-state -->
                      </div>           
                    <!-- / add shipping address form -->
                    <div class="col-md-12">
                      <app-alert [message]="resError"></app-alert>
                    </div>
                  </div>
                  <!-- To trigger submit form -->
                  <button type="submit" [hidden]= "1===1" #submit>{{ 'btn.continue' | translate }}</button>
                </form>
              </div>                
            </div>
          </div>

        </div>
        <!-- /container -->
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button class="btn btn-primary shave2u-btn-primary" (click)="submit.click()">{{ 'btn.save' | translate }}</button>
          <button type="submit" class="btn btn-primary shave2u-btn-secondary" data-dismiss="modal" aria-label="Close" (click)="close('close-modal');">{{ 'btn.cancel' | translate }}</button>
        </div>
      </div>
    </div>
    
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal-backdrop fade modal-backdrop-shave2u"></div>