<!--<h2 md-dialog-title class="md-dialog-title">{{data.title ? data.title : 'dialog.confirm.title' | translate }}</h2>-->
<mat-dialog-content>
  <!-- {{data.content ? data.content : 'dialog.confirm.content' | translate }} -->
  <div class="dialog-content" [innerHTML]="data.content ? data.content : 'dialog.confirm.content' | translate"></div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" tabindex="1" class="btn btn-primary btn-submit-popup shave2u-btn-primary" [innerHTML]="data.submit_name ? data.submit_name : 'dialog.confirm.btn_ok' | translate"></button>
  <button mat-button mat-dialog-close tabindex="-1" class="btn btn-default btn-cancel-popup shave2u-btn-secondary">{{ 'dialog.confirm.btn_cancel' | translate }}</button>
</mat-dialog-actions>