button {
    min-height: 32px;
    max-width: 100px;
    &.btn-primary{
      margin-right: 10px;
    }
}

.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #419641;
}

.dialog-content {
    max-width: 250px;
    text-align: center;
    margin: 0 auto;
}
.btn{
    &.btn-submit-popup, &.btn-cancel-popup {
        max-width: 100%;
    }
}
