<div class="row mx-0">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title float-left">Manage Subscription Plans</h4>
        <a type="button" class="btn btn-secondary btn-sm float-right btn-cus" routerLink="/subscriptions/plans/add" *ngIf="globalService.canCreate('subscriptions/plans')">Add A Plan</a>
        <br>
        <br>
      </div>

      <div class="content table-responsive table-full-width">
        <div class="row mx-0 mb-3">
          <!-- <div class="col-md-3">
            <select name="cities" class="selectpicker form-control" (change)="onLimitChange($event)">
              <option [attr.value]="item" *ngFor="let item of ['50', '100', '150', '200']" [attr.selected]="item == options.get('limit') ? true : null">Show {{item}} per page</option>
            </select>
          </div> -->
          <!--<div class="col-md-3">
            <select name="cities" class="selectpicker form-control" (change)="sortByName($event.target.value)">
              <option value="ASC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) !== 'DESC' ? true : null">Sort: A-Z</option>
              <option value="DESC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) == 'DESC' ? true : null">Sort: Z-A</option>
            </select>
          </div>-->
          <div class="col-md-3">
            <label for="">Filter by Plan</label>
            <select name="filterByPlanType" class="selectpicker form-control" (change)="filterby('PlanTypeId', $event.target.value)">
              <option [value]="'all'">All Plans</option>
              <option [value]="productType.id" *ngFor="let productType of productTypes" [selected]="productType.id == options.get('PlanTypeId') ? true : null">{{productType.name}}</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="">Filter by Country</label>
            <select name="filterByCountry" class="selectpicker form-control" (change)="filterby('CountryId', $event.target.value)">
              <option [value]="'all'" [selected]="!options.get('CountryId')">All Countries</option>
              <option [value]="country.id" *ngFor="let country of countries" [selected]="country.id == options.get('CountryId') ? true : null">{{country.name}}</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="">Sort by Date</label>
            <select name="cities" class="selectpicker form-control" (change)="sortByDate($event.target.value)">
              <option value="ASC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) !== 'createdAt_DESC' ? true : null">Date, Oldest-Newest</option>
              <option value="DESC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) == 'createdAt_DESC' ? true : null">Date, Newest-Oldest</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Filter by Status</label>
            <select name="filterByProductType" class="selectpicker form-control" (change)="filterby('status', $event.target.value)">
              <option [value]="'all'">All Status</option>
              <option value="active" [attr.selected]="options.get('status') == 'active' ? true : null">Active</option>
              <option value="removed" [attr.selected]="options.get('status') == 'removed' ? true : null">Inactive</option>
            </select>
          </div>
          <div class="col-md-3">
            <p></p>
            <label for="">Filter by Group</label>
            <select name="filterByPlanGroup" class="selectpicker form-control" (change)="filterby('PlanGroupId', $event.target.value)">
              <option [value]="'all'">All Groups</option>
              <option [value]="planGroup.id" *ngFor="let planGroup of planGroups" [selected]="planGroup.id == options.get('PlanGroupId') ? true : null">{{ planGroup.planGroupTranslate | translatePipe: 'name' }}</option>
            </select>
          </div>
        </div>

        <div class="row mx-0 mb-3 row-alignment">
          <!-- <div class="col-md-3 filter-field mt-2">
            <span class="filter-field-label">Filter by SKU</span>
            <input id="filterBySku" name="filterBySku" type="text" class="form-control" placeholder="Filter by SKU" [ngModel]="options.get('sku')"
              (input)="customizeFilterBy('sku', $event)">
          </div> -->
          <div class="col-md-6 filter-field mt-3">
            <label for="">Search</label>
            <input id="filterByS" name="filterByS" type="text" class="form-control" placeholder="Search by Name, SKU" [ngModel]="options.get('s')"
              (input)="customizeSearchBy('s', $event)">
          </div>
        </div>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"></pagination>
        <!-- /pagging -->
        <app-button-ai [active]="mutiaction" apikey="plans/change-status" [apivalue]="{'actionids':'planIds','actionstatus':'status'}"></app-button-ai>
        <table class="table table-shaves mt-2">
          <thead>
            <tr>
              <th width="50" class="text-center">
                <input type="checkbox" id="all" value="all" idchecked="" (change)="checkboxchecked($event ,'all')" class="actionactive checkboxall">
              </th>
              <th class="text-center th-thumb">Thumb</th>
              <th (click)="tableHearSort($event, planList.rows, 'name','string', 'planTranslate')" class="table-sort">Name</th>
              <th (click)="tableHearSort($event, planList.rows, 'sku','string')" class="table-sort th-sku">SKU</th>
              <th (click)="tableHearSort($event, planList.rows, 'name','string', 'PlanType')" class="table-sort">Category</th>
              <th (click)="tableHearSort($event, planList.rows, 'order','number')" class="table-sort">Order</th>
              <th>Status</th>
              <!--<th class="text-right">Stocks</th>-->
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="!isLoading">
            <tr *ngFor="let item of planList.rows">
              <td width="50" class="text-center">
                <input type="checkbox" attr.id="{{item.id}}" value="{{item.id}}" (change)="checkboxchecked($event ,item.id)" class="actionactive">
              </td>
              <td class="td-thumb text-center">
                <display-image [images]="item.planImages" [class]="'thumb-product-list'"></display-image>
              </td>
              <td class="td-name">
                {{ item.planTranslate | translatePipe: 'name' }}
              </td>
              <td class="text-left td-sku">{{ item.sku }}</td>
              <td class="text-left td-product-type">{{ item.PlanType.name }}</td>
              <td class="td-available-in">{{ item.order }}</td>
              <td class="td-available-in" *ngIf="item.status == 'removed'">INACTIVE</td>
              <td class="td-available-in" *ngIf="item.status != 'removed'">ACTIVE</td>
              <!--<td class="text-right td-stocks">10</td>-->
              <td class="td-actions">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Action
                  </button>
                  <div class="dropdown-menu actiion-menu" aria-labelledby="dropdownMenuButton" *ngIf="globalService.canEdit('subscriptions/plans') || globalService.canDelete('subscriptions/plans')">
                    <a class="dropdown-item" [routerLink]="['/subscriptions/plans/edit', item.slug]" *ngIf="globalService.canEdit('subscriptions/plans')">Edit</a>
                    <a class="dropdown-item" (click)="deletePlan(item.id)" *ngIf="item.status === 'active' && globalService.canDelete('subscriptions/plans')">Inactive</a>
                    <a class="dropdown-item" (click)="activePlan(item.id)" *ngIf="item.status === 'removed' && globalService.canDelete('subscriptions/plans')">Active</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngIf="planList.rows.length === 0">
              <td colspan="7" class="text-center">No Items</td>
            </tr>
          </tbody>
        </table>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"
          [showing]="false"></pagination>
        <!-- /pagging -->
      </div>
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->
</div>

<!-- add-user-modal -->
<!--<add-user-modal (hasChange)="hasChangeUser($event)"></add-user-modal>-->
<!-- edit-user-modal -->
<!--<edit-user-modal (hasChange)="hasChangeUser($event)"></edit-user-modal>-->