@media screen and (max-width:768px){
    #carts-page, #catListings {
      width: 100%;
  
      // padding: 0;
      // margin: 0 auto;
      .col-price-mobile{
        font-size: 14px;
        margin-bottom: 20px;
      }
      .heading {
      }
      .cart-page-inner {
      }
      .shave2u-no-item{
      }
      .account-info,
      .cart-list {
        .cart-list-contain {
          &.block-left {
          }
          ul.plan-row {
            li {
              &:last-child {
              }
              .change-plan {
                .date {
                }
              }
            }
          }
          .row-custom {
          }
          .product-name {
          }
  
          .item-info {
            width: 30%;
          }
          .item-quantity {
            width: 28%;
            div {
              padding-left: 0px;
            }
          }
          .item-total {
            width:24%;
            div {
              padding-left: 0px;
            }
          }
        }
        .text-contain {
          width: 100%;
          .text-inner {
            .product-name,.product-description{
              // padding: 0 10px;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width:768px) and (orientation: portrait){
    #carts-page, #catListings {
  
      .cart-list {
        .grand-total-price {
          h3{
            color: #3a6e9c;
            font-size:18px;
          }
          padding-top: 11px;
        }
      }
    }
  }
  @media  (max-width: 767px) {
    #catListings{
      width: calc(100% + 30px) !important;
      max-width: 150%;
      margin: 0 -15px !important;
      .note-1{
        text-align: center;
        margin: 0 auto;
      }
      .box-bottom-contain{
        width:100%;
        background: none;
        font-size: 13px;
        .box-flex{
          margin-bottom: 5px;
        }
        span{
          text-transform: uppercase;
          color: #636c72;
        }
      }
    }
    #carts-page .box-right-contain, #catListings .box-right-contain {
      width: 100%;
      padding-left:0;
      padding-right: 0;
      // flex: 1;
    }
    #carts-page, #catListings {
      width: 100%;
      padding: auto;
      margin: auto;
      .cart-page-inner {
        // padding: 0px 0px 50px 0px;;
        .notice-no-item {
          // margin-top: 40px;
          // margin-bottom: 10px;
          padding: 0 5px;
        }
      }
      .heading {
        margin: 25px 0 0px;
        width: 100%;
      }
      .shave2u-no-item{
        // position: absolute;
        // left: calc(50% - 110px);
        // top: calc(50vh - 100px);
        .btn-primary{
          margin-top: 20px;
        }
      }
      .box-right-contain {
        .grand-total{
          display: inline-block;
          span{
            display: inline-block;
          }
        }
      }
      .cart-list {
        .cart-list-contain {
          &.block-left {
            width: calc(100% - 330px);
          }
          ul.plan-row {
            li {
              width: 100%;
            }
          }
        }
        // .item-quantity.item-price,.item-total{
        //   display: none;
        // }
        .item-quantity{
          .text-contain {
            &.contain-full{
              .label-item{
                margin-top:10px;
              }
            }
          }
        }
        .text-contain {
          padding: 0 0 0 0;
          &.contain-full{
            max-width: 100%;
            width: 100%;
             &.text-center-vertical{
              display: block;
              margin: 0;
              .label-item{
                float: left;
                width: 128px;
                text-align: right;
                padding-right: 25px;
                font-family: 'Muli Bold';
                // padding-right:
              }
            }
            .text-inner {
              height: auto;
              width: 130px;
              text-align:center;
              &.d-flex{
                display: inline-block;
              }
            }
          }
  
          .text-inner .product-name, .text-inner .product-description {
            padding-right: 0;
          }
        }
        .item {
          // border-bottom: 1px solid #CCC;
          padding: 20px 0;
        }
        .box-body {
          .item {
            padding: 25px 0 0;
            width: 100%;
            &.item-quantity, &.item-price, &.item-total {
              padding-top: 10px;
            }
            &.item-action{
              width: 100%;
              padding: 0;
              .btn-delete-product{
                right: 0;
              }
              .text-contain{
                width: 100%;
                padding-bottom: 23px;
                padding-top: 0;
              }
            }
            &.item-total{
              .contain-full{
                padding-bottom: 20px;
              }
            }
          }
        }
        .note {
          // font-family: 'Muli Bold';
          margin-top: 20px;
          .note-1 {
            font-size: 16px;
          }
          .note-2 {
            font-size: 14px;
          }
        }
      }
      .releated-product {
        text-align: center;
        .product-item{
          margin-bottom: 20px;
          height: 385px;
          .text-contain {
            margin-top: 0;
          }
        }
      }
    }
  }
  