/* You can add global styles to this file, and also import other style files */
// @import "./assets/bootstrap-sass/variables";
// @import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

@import '../node_modules/bootstrap/scss/bootstrap';
// @import '../node_modules/font-awesome/css/font-awesome.css';
@import './assets/sass/app.scss';
@import './assets/sass/commons.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html {
  position: relative;
  // min-height: 100%;
  -webkit-overflow-scrolling: touch;
  min-height: calc(100% - 207px);
}

body {
  margin-bottom: 0px;
  -webkit-overflow-scrolling: touch;
}

body {
  .body-container-full {
    // padding: 80px 0 0;
    -webkit-overflow-scrolling: touch;
  }
  .shave2u-container {
    max-width: 1040px !important;
    padding-right: 0;
    padding-left: 0;
    margin: auto;
  }
}

ul {
  list-style: none;
  padding: 0;
}
a {
  color: #000;
  &:hover {
    text-decoration: underline;
    color: #000;
  }
}
.container .text-muted {
  margin: 20px 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    .body-container-full {
      // padding: 55px 0 0;
    }
  }
}
@media only screen and (max-width: 767px) {
  body {
    .body-container-full {
      // padding: 55px 0 0;
    }
  }
}
@media (min-width: 576px) {
  .modal-dialog {
      max-height: 625px;
      overflow: auto;
  }
}
