.user-subscription-history-block {
  &.border-block {
    padding: 50px 45px;
    margin: 0 0 20px;
    border: 1px solid #d7d7d7;
    thead {
      tr {
        th {
          border-top: none;
          border-bottom: 1px solid #eceeef;
        }
      }
    }
    .date {
      text-transform: uppercase;
    }
  }
}