<div class="col-lg-12 col-md-12 col-xl-12">
  <h2 class="text-center mt-3 mb-4">{{ 'lbl.user.subscription.history.header_hist' | translate }}</h2>
</div>
<div class="user-subscription-history-block border-block">
  <div class="col-sm-12 col-md-12">
    <table class="table table-hover">
      <thead>
        <tr class="row">
          <th class="col-2">{{ 'lbl.user.subscription.history.date' | translate }}</th>
          <th class="col-4">{{ 'lbl.user.subscription.history.subscription_nm' | translate }}</th>
          <th class="col-6">{{ 'lbl.user.subscription.history.price' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="row" *ngFor="let item of historySubscriptions">
          <td class="col-2 date">
            {{item.updatedAt | date: 'dd MMM yyyy'}}
          </td>
          <td class="col-4">
            {{item.PlanCountry.Plan.planTranslate | productTranslate: 'name'}}
          </td>
          <td class="col-6">
            <div class="box-flex">
              <div class="flex">{{item.PlanCountry.sellPrice | smsCurrency}}</div>
              <a class="link-text-underline click-able" (click)="viewDetails(item.id)">{{ 'lbl.user.subscription.history.link_view_detail' | translate }}</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>