<div id="user-subscription-page">
  <div *ngIf="isDashboard">
    <app-user-subscription-overview (emitSubscriptionId)="getEmitSubscriptionId($event)"></app-user-subscription-overview>
  </div>
  <app-user-subscription-view-detail *ngIf="!isDashboard" [subscriptionId]="subscriptionId"
    (emitIsDashboard)="getEmitIsDashboard($event)"></app-user-subscription-view-detail>
</div>