<div class="row mt-3" [formGroup]="productTranslateForm">
  <div class="col-sm-12 form-group" [ngClass]="!productTranslateForm.controls.name.valid && (parentOnActive || productTranslateForm.get('name').touched || productTranslateForm.get('name').dirty) ? 'has-danger' : ''">

    <label class="form-control-label">Name (<span class="required">*</span>)</label>
    <div class="controls">
      <input type="text" class="form-control" id="input-name" placeholder="Enter product name"
        formControlName="name" name="name">
    </div>
    <span class="form-control-feedback" *ngIf="productTranslateForm.controls.name.hasError('required') && (parentOnActive || productTranslateForm.get('name').touched || productTranslateForm.get('name').dirty)">
        {{ 'msg.validation.required' | translate }}
    </span>
    <span class="form-control-feedback" *ngIf="productTranslateForm.controls.name.hasError('maxlength') && (parentOnActive || productTranslateForm.get('name').touched || productTranslateForm.get('name').dirty)">
      {{ 'msg.validation.maxlength' | translate : {value: 200} }}
    </span>

  </div>
  <!-- <div class="col-sm-12 form-group">
    <label class="form-control-label">H1 SEO Title</label>
    <div class="controls">
      <input type="text" class="form-control" formControlName="seoTitle" name="seoTitle">
    </div>
  </div> -->
  <div class="col-sm-12 form-group" [ngClass]="!productTranslateForm.controls.shortDescription.valid && (parentOnActive || productTranslateForm.get('shortDescription').touched || productTranslateForm.get('shortDescription').dirty) ? 'has-danger' : ''">
    <label class="form-control-label">Short Description (<span class="required">*</span>)</label>
    <div class="controls">
        <textarea class="form-control" formControlName="shortDescription" name="shortDescription" rows="4"></textarea>
    </div>
    <span class="form-control-feedback" *ngIf="!productTranslateForm.controls.shortDescription.valid && (parentOnActive || productTranslateForm.get('shortDescription').touched || productTranslateForm.get('shortDescription').dirty)">
        {{ 'msg.validation.required' | translate }}
    </span>
  </div>
  <div class="col-sm-12 form-group" [ngClass]="!productTranslateForm.controls.description.valid && (parentOnActive || productTranslateForm.get('description').touched || productTranslateForm.get('description').dirty) ? 'has-danger' : ''">
    <label class="form-control-label">Description (<span class="required">*</span>)</label>
    <div class="controls">
        <textarea class="form-control" formControlName="description" name="description" rows="7"></textarea>
    </div>
    <span class="form-control-feedback" *ngIf="!productTranslateForm.controls.description.valid && (parentOnActive || productTranslateForm.get('description').touched || productTranslateForm.get('description').dirty)">
        {{ 'msg.validation.required' | translate }}
    </span>
  </div>
   <!-- Product Details -->
    <div class="card-block">
      <h6 class="text-uppercase form-control-inline mr-2">Product Details</h6>
      <button type="button" class="btn btn-secondary btn-sm" (click)="addProductDetails()">Add a Product Details</button>
      <div class="list-group mt-5 px-5" formArrayName="productDetails">
        <div class="list-group-item mb-3" *ngFor="let prDetailsForm of productTranslateForm.controls.productDetails.controls; let j=index">
          <button class="btn btn-default pull-right btn-remove-prDetails" (click)="removeProductDetails(j)"
          *ngIf="productTranslateForm.controls.productDetails.controls.length > 1">Remove</button>
          <div class="clearfix"></div>
          <div [formGroupName]="j">
            <product-details-form [parentOnActive]="parentOnActive" [productDetailsForm]="prDetailsForm"></product-details-form>
          </div>
        </div>
      </div>
    </div>
    <!-- / Product Details -->
</div>
