
<div id="carts-page" class="container shave2u-container"  *ngIf="template === 'template-1'">
  <div class="cart-page-inner">
    <!-- <div *ngIf="latestProductsRemoved && cartItems?.length < 1" class="notice notice-no-item">
      <strong><i class="icons icon-info"></i> {{ 'lbl.cart.notice' | translate }}</strong>
      <p class="notice-note" *ngIf="latestProductsRemoved.product">
        <span [innerHTML]="'lbl.cart.notice_note' | translate: {value: latestProductsRemoved.product.productTranslate[0].name}"> </span>
        <a href="" class="" (click)='undoProductRemoved(); $event.preventDefault();'>{{ 'lbl.cart.undo' | translate }}</a>
      </p>
      <p class="notice-note" *ngIf="latestProductsRemoved.plan">
        <span [innerHTML]="'lbl.cart.notice_note' | translate: {value: latestProductsRemoved.plan.planTranslate[0].name}"> </span>
        <a href="" class="" (click)='undoProductRemoved(); $event.preventDefault();'>{{ 'lbl.cart.undo' | translate }}</a>
      </p>
    </div> -->
    <div *ngIf='cartItems?.length < 1' class="shave2u-no-item">
      <p *ngIf='!this.storage.getCurrentUserItem()'>
        <span [innerHTML]="'lbl.cart.no_item1' | translate"></span>
        <a [routerLink]="['/login']">{{ 'lbl.login.email_form.login' | translate }}</a>
        <span [innerHTML]="'lbl.cart.no_item2' | translate"></span>
      </p>
      <p *ngIf='this.storage.getCurrentUserItem()' [innerHTML]="'lbl.cart.no_item_login' | translate">
      </p>
      <p class="text-center">{{ 'lbl.cart.no_item_des' | translate }}</p>
      <a [routerLink]="['/products']" class="btn btn-primary shave2u-btn-default">{{ 'lbl.cart.btn_cont_shop' | translate }}</a>
    </div>
    <div id="catListings" class="mainWrap clearfix" *ngIf='cartItems?.length > 0'>
      <!-- Product list -->
      <div class="cart-list row">
        <div class="box-right-contain box-contain-top col-xl-3 col-lg-4 hidden-sm-up ">
          <div class="box-inner">
            <div class="box-flex">
                <div class="col-sm-8 col-8 grand-total pl-0">
                  <span class="flex" *ngIf="storage.getCountry().includedTaxToProduct">{{ 'lbl.cart.total_incld_tax' | translate }}</span>
                  <span class="flex" *ngIf="!storage.getCountry().includedTaxToProduct">{{ 'lbl.cart.grand_total' | translate }}</span>
                  <span class="flex font-12 gray-text" [innerHTML]="'lbl.cart.payment_incld' | translate : {taxRate: receipt.taxRate, taxName: receipt.taxName}" *ngIf="storage.getCountry().includedTaxToProduct"></span>
                </div>
                <div class="col-sm-4 col-4 grand-total-price text-right pr-0" [ngClass]="storage.getCountry().includedTaxToProduct ? '' : 'pt-0'">
                  <h3 class="reset-bold">{{receipt.totalIclTax | smsCurrency}}</h3>
                </div>
            </div>
            <div class="group-btn">
              <a [routerLink]="['/checkout']" class="btn btn-primary shave2u-btn-primary">{{ 'lbl.cart.btn_checkout' | translate }}</a>
            </div>
          </div>
        </div>
        <h2 class="heading text-center hidden-sm-up">{{ 'lbl.cart.header' | translate }}</h2>
        <div class="cart-list-contain col-md-8 col-12">
          <h2 class="heading hidden-sm-down">{{ 'lbl.cart.header' | translate }}</h2>
          <!-- <div *ngIf="latestProductsRemoved" class="notice">
            <strong><i class="icons icon-info"></i> {{ 'lbl.cart.notice' | translate }}</strong>
            <p class="notice-note" *ngIf="latestProductsRemoved.product">
              <span [innerHTML]="'lbl.cart.notice_note' | translate: {value: latestProductsRemoved.product.productTranslate[0].name}"> </span>
              <a href="" class="" (click)='undoProductRemoved(); $event.preventDefault();'>{{ 'lbl.cart.undo' | translate }}</a>
            </p>
            <p class="notice-note" *ngIf="latestProductsRemoved.plan">
              <span [innerHTML]="'lbl.cart.notice_note' | translate: {value: latestProductsRemoved.plan.planTranslate[0].name}"> </span>
              <a href="" class="" (click)='undoProductRemoved(); $event.preventDefault();'>{{ 'lbl.cart.undo' | translate }}</a>
            </p>
          </div> -->
          <ul class="row-custom box-header row no-gutters">
            <li class="item item-info"><strong>{{ 'lbl.cart.item' | translate }}</strong></li>
            <li class="item item-quantity text-center hidden-sm-down"><strong>{{ 'lbl.cart.quantity' | translate }}</strong></li>
            <li class="item item-price text-center hidden-sm-down"><strong>{{ 'lbl.cart.price' | translate }}</strong></li>
            <li class="item item-total text-center hidden-sm-down"><strong>{{ 'lbl.cart.total' | translate }}</strong></li>
            <li class="item item-action hidden-sm-down"><strong></strong></li>
            <li class="row hidden-md-up">
              <div class="col-6 qty">Qty: 1</div>
              <div class="col-3">{{ 'lbl.cart.price' | translate }}</div>
              <div class="col-3"><strong>{{ 'lbl.cart.total' | translate }}</strong></div>
            </li>
          </ul>
          <div class="box-body">
            <ng-container *ngFor="let item of cartItems; let i = index;">
              <ul class="row no-gutters row-custom text-center" [ngClass]="{'plan-row': item.plan}" *ngIf="item.isRemove">
                <div class="notice notice-no-item">
                  <strong><i class="icons icon-info"></i> {{ 'lbl.cart.notice' | translate }}</strong>
                  <p class="notice-note" *ngIf="item.product">
                    <span [innerHTML]="'lbl.cart.notice_note' | translate: {value: item.product.productTranslate[0].name}"> </span>
                    <a href="" class="" (click)='undoProductRemoved(item); $event.preventDefault();'>{{ 'lbl.cart.undo' | translate }}</a>
                  </p>
                  <p class="notice-note" *ngIf="item.plan">
                    <span [innerHTML]="'lbl.cart.notice_note' | translate: {value: item.plan.planTranslate[0].name}"> </span>
                    <a href="" class="" (click)='undoProductRemoved(item); $event.preventDefault();'>{{ 'lbl.cart.undo' | translate }}</a>
                  </p>
                </div>
              </ul>
              <ul class="row no-gutters row-custom text-center" [ngClass]="{'plan-row': item.plan}" *ngIf="!item.isRemove">
                <li class="item item-info">
                  <div class="image-contain image-center-with-border pull-left clickable" clickable (click)="newWindowDetail(item)">
                    <div class="image-inner">
                      <div class="image" *ngIf="item.product">
                        <img class="img-responsive" src="{{item.product.productImageURL}}" *ngIf="item.product.productImageURL"/>
                        <display-image [class]="'img-responsive'" [images]="item.product.productImages" *ngIf="!item.product.productImageURL"></display-image>
                      </div>
                      <div class="image" *ngIf="item.plan">
                        <img class="img-responsive" src="{{item.plan.planImageURL}}" *ngIf="item.plan.planImageURL"/>
                        <display-image [class]="'img-responsive'" [images]="item.plan.planImages" *ngIf="!item.plan.planImageURL"></display-image>
                      </div>
                    </div>
                  </div>
                  <div class="text-contain text-center-vertical pull-left">
                    <div class="text-inner" *ngIf="item.product">
                      <h4 class="product-name clickable" clickable (click)="newWindowDetail(item)"><strong>{{item.product.productTranslate | productTranslate: 'name'}}</strong></h4>
                      <p class="product-description"><appProductDescription [productTranslate]="item.product.productTranslate"></appProductDescription></p>
                    </div>
                    <div class="text-inner" *ngIf="item.plan">
                      <h4 class="product-name clickable" clickable (click)="newWindowDetail(item)"><strong>{{item.plan.planTranslate | productTranslate: 'name'}}</strong></h4>
                      <p class="product-description"><appProductDescription [productTranslate]="item.plan.planTranslate"></appProductDescription></p>
                    </div>
                  </div>
                </li>
                <li class="item item-quantity">
                  <div class="text-contain text-center-vertical contain-full">
                    <div class="hidden-sm-up label-item">{{ 'lbl.cart.quantity' | translate }}</div>
                    <div class="text-inner">
                      <div class="quantity-action-tool">
                        <div class="btn-minus" (click)="minusQuatity(i)" [ngClass]="{'btn-disabled': item.qty === 1 || item.isFree}"><span class="fa fa-minus"></span></div>
                        <input type="number" name="qty" [(ngModel)]="item.qty" #qty="ngModel" (change)="changeQuatity(i)" [ngClass]="{'btn-disabled': item.isFree}"/>
                        <div class="btn-plus" (click)="plusQuatity(i)" [ngClass]="{'btn-disabled': item.isFree}"><span class="fa fa-plus"></span></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item item-price">
                  <div class="text-contain text-center-vertical contain-full">
                    <div class="hidden-sm-up label-item">{{ 'lbl.cart.price' | translate }}</div>
                    <div class="text-inner" *ngIf="item.product">
                      <span class="item-price">{{(!item.isFree) ? (item.product.productCountry.sellPrice | smsCurrency) : ('lbl.cart.free' | translate) }}</span>
                    </div>
                    <div class="text-inner text-center" *ngIf="item.plan">
                      <!--<span class="item-price" *ngIf="!item.plan.planCountry[0]">{{ item.plan.planCountry.sellPrice | smsCurrency}}</span>-->
                      <span class="item-price" *ngIf="!item.plan.planCountry[0]">{{ item.plan.planCountry.sellPrice / item.plan.PlanType.totalChargeTimes | smsCurrency}}</span>
                      <!--<span class="item-price" *ngIf="item.plan.planCountry[0]">{{ item.plan.planCountry[0].sellPrice | smsCurrency}}</span>-->
                      <span class="item-price" *ngIf="item.plan.planCountry[0]">{{ item.plan.planCountry[0].sellPrice / item.plan.PlanType.totalChargeTimes | smsCurrency}}</span>
                    </div>
                  </div>
                </li>
                <li class="item item-total">
                  <div class="text-contain text-center-vertical contain-full">
                    <div class="hidden-sm-up label-item">{{ 'lbl.cart.total' | translate }}</div>
                    <div class="text-inner" *ngIf="item.product">
                      <span class="item-price">{{(!item.isFree) ? (item.product.productCountry.sellPrice * item.qty | smsCurrency) : ('lbl.cart.free' | translate) }}</span>
                      <!-- <a class="btn-delete-product align-self-center" (click)='removeItem(item); $event.preventDefault();'><i class="fa fa-close"></i></a> -->
                    </div>
                    <div class="text-inner text-center" *ngIf="item.plan">
                      <!--<span class="total align-self-center" *ngIf="!item.plan.planCountry[0]">{{ item.plan.planCountry.sellPrice * item.qty | smsCurrency}}</span>-->
                      <span class="total align-self-center " *ngIf="!item.plan.planCountry[0]">{{ (item.plan.planCountry.sellPrice * item.qty) / item.plan.PlanType.totalChargeTimes | smsCurrency}}</span>
                      <!--<span class="total align-self-center" *ngIf="item.plan.planCountry[0]">{{ item.plan.planCountry[0].sellPrice * item.qty | smsCurrency}}</span>-->
                      <span class="total align-self-center " *ngIf="item.plan.planCountry[0]">{{ (item.plan.planCountry[0].sellPrice * item.qty) / item.plan.PlanType.totalChargeTimes | smsCurrency}}</span>
                    </div>
                  </div>
                </li>
                <li class="item item-action hidden-sm-down">
                  <div class="text-contain text-center-vertical">
                    <div class="text-inner">
                      <a href="#" class="btn-delete-product" (click)='removeItem(item); $event.preventDefault();'><i class="fa fa-close"></i></a>
                    </div>
                  </div>
                </li>
                <li *ngIf="item.plan && !isLoadingAllPlans" class="mb-10">
                  <cart-change-plan [item]="item" [planGroups]="planGroups"></cart-change-plan>
                  <!-- <p class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p> -->
                </li>
                <li class="item 1111 item-action hidden-sm-up">
                  <div class="text-contain text-center">
                    <a href="#" class="btn-delete-product" (click)='removeItem(item); $event.preventDefault();'><i class="fa fa-close"></i></a>
                  </div>
                </li>
              </ul>
            </ng-container>
          </div>

          <!-- TODO: Releated product  -->
          <div class="releated-product" *ngIf='cartItems?.length > 0'>
            <p class="heading">{{ 'lbl.cart.suggest' | translate }}</p>
            <ul class="list-products">
              <li class="product-item" *ngFor="let product of productList">
                <div class="image-contain image-center-with-border background-white" (click)="goProductDetail(product)">
                  <div class="image-inner">
                    <div class="image">
                      <display-image [images]="product.productImages" *ngIf="product.productCountry"></display-image>
                      <display-image [images]="product.planImages" *ngIf="product.planCountry"></display-image>
                    </div>
                  </div>
                </div>
                <div class="text-contain" (click)="goProductDetail(product)">
                  <div class="text-inner" *ngIf="product.productCountry">
                    <p class="text">{{ product.productTranslate | productTranslate: 'name' }}<strong class="product-code">&nbsp;{{ product.productCountry.sellPrice | smsCurrency}}</strong></p>
                  </div>
                  <div class="text-inner" *ngIf="product.planCountry">
                    <p class="text" *ngIf="!product.planCountry[0]">{{ product.planTranslate | productTranslate: 'name' }}<strong class="product-code">&nbsp;{{ product.planCountry.sellPrice | smsCurrency}}</strong></p>
                    <p class="text" *ngIf="product.planCountry[0]">{{ product.planTranslate | productTranslate: 'name' }}<strong class="product-code">&nbsp;{{ product.planCountry[0].sellPrice | smsCurrency}}</strong></p>
                  </div>
                </div>
                <div class="btn-add-cart">
                  <button class="btn btn-primary shave2u-btn-primary" (click)='addToCart(product)'>{{ 'lbl.cart.add_to_cart' | translate }}</button>
                </div>
              </li>
            </ul>
          </div>


        </div>
        <div class="box-right-contain col-md-4 col-12">
          <div class="box-inner">
            <div class="box-flex ">
              <span class="flex">{{ 'lbl.cart.total' | translate }}</span>
              <strong>{{receipt.totalPrice | smsCurrency}}</strong>
            </div>
            <div class="box-flex ">
              <span class="flex">{{ 'lbl.cart.discount' | translate }}</span>
              <strong>{{receipt.discount | smsCurrency}}</strong>
            </div>
            <div class="box-flex">
              <span class="flex">{{ 'lbl.cart.subtotal' | translate }}</span>
              <strong>{{receipt.subTotal | smsCurrency}}</strong>
            </div>
            <div class="box-flex">
              <span class="flex">{{ 'lbl.cart.shipping_cost' | translate }}</span>
              <strong>{{(receipt.shippingFee != 0.00) ? (receipt.shippingFee | smsCurrency) : ('lbl.cart.free' | translate) }}</strong>
            </div>
            <form [formGroup]="promoCodeForm" novalidate #f="ngForm">
              <div class="form-group promo-code-group">
              <input class="promo-code form-control" id="promoCode" name="promo_code" formControlName="promoCode" [(ngModel)]="promoCode"  (change)="promoCode=$event.target.value;promoCodeError=null" value="{{promoCode}}" placeholder="Promo Code" [attr.disabled]="notAllowPromoCode ? true : null">
                <button type="submit" class="btn btn-primary shave2u-btn-primary btn-block btn-apply-promo" (click)="applyPromoCode()" [disabled]="(!promoCode || promoCode === '') ? true : null">{{ 'lbl.cart.apply' | translate }}</button>
              </div>
              <div class="alert alert-danger mr-sm-2 mt-sm-2" role="alert" *ngIf="promoCodeError">{{ promoCodeError.message }}</div>
            </form>
            <hr>
            <div class="box-flex">
                <div class="col-sm-8 col-8 grand-total pl-0 pr-0">
                  <span class="flex" *ngIf="storage.getCountry().includedTaxToProduct">{{ 'lbl.cart.total_incld_tax' | translate }}</span>
                  <span class="flex" *ngIf="!storage.getCountry().includedTaxToProduct">{{ 'lbl.cart.grand_total' | translate }}</span>
                  <span class="flex font-12 gray-text" [innerHTML]="'lbl.cart.payment_incld' | translate : {taxRate: receipt.taxRate, taxName: receipt.taxName}" *ngIf="storage.getCountry().includedTaxToProduct"></span>
                </div>
                <div class="col-sm-5 col-5 grand-total-price text-right pr-0" [ngClass]="storage.getCountry().includedTaxToProduct ? '' : 'pt-0'">
                  <h3 class="reset-bold">{{receipt.totalIclTax | smsCurrency}}</h3>
                </div>
            </div>
            <div class="group-btn">
              <a [routerLink]="['/checkout']" class="btn btn-primary shave2u-btn-primary">{{ 'lbl.cart.btn_checkout' | translate }}</a>
              <a [routerLink]="['/products']" class="btn btn-default shave2u-btn-default">{{ 'lbl.cart.btn_cont_shop' | translate }}</a>
            </div>
          </div>
          <div class="note">
            <p class="note-1">
              {{ 'lbl.cart.note_1' | translate }}
            </p>
            <p class="suggest-payment-logo">
              <img class="visa-logo" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/visa-logo.png"/>
              <img class="mastercard-logo" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/mastercard-logo.png"/>
              <img class="ipay88-logo" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/ipay88_logo.png" *ngIf="this.storage.getCountry().code !== 'SGP'"/>
            </p>
            <p class="note-2 mb-3">
              <!-- <span>{{ 'lbl.cart.note_2' | translate }}<a (click)="goToHelp();">{{ 'lbl.cart.return_policy' | translate }}</a></span> -->
              <span [innerHTML]="'lbl.cart.note_2' | translate"></span>
            </p>
            <p class="note-3">
              <span class="fs-8">{{ 'lbl.cart.note_4' | translate }}</span>
            </p>
          </div>
        </div>
      </div>
      <!-- End product list -->

    </div>

  </div>
</div> <!-- END cart -->


<!-- Review order (checkout flow) -->
<div *ngIf="template === 'template-2'">
  <!--<div *ngIf="latestProductsRemoved && cartItems?.length < 1" class="notice notice-no-item">
    <strong><i class="icons icon-info"></i> Notice</strong>
    <p class="notice-note" *ngIf="latestProductsRemoved.product">You have removed <strong>{{latestProductsRemoved.product.productTranslate[0].name}}</strong> from your cart. <a href="" class="" (click)='undoProductRemoved(); $event.preventDefault();'>Undo</a></p>
    <p class="notice-note" *ngIf="latestProductsRemoved.plan">You have removed <strong>{{latestProductsRemoved.plan.planTranslate[0].name}}</strong> from your cart. <a href="" class="" (click)='undoProductRemoved(); $event.preventDefault();'>Undo</a></p>
  </div>-->
  <div *ngIf='cartItems?.length < 1 && !hasFreeTrial' class="shave2u-no-item" [ngClass]="latestProductsRemoved ? 'pt-12' : ''">
    <p>

      {{ 'lbl.cart.no_item' | translate }}
    </p>
    <a [routerLink]="['/products']" class="btn btn-primary shave2u-btn-default">{{ 'lbl.cart.btn_cont_shop' | translate }}</a>
  </div>


  <!-- Not free trial-->
  <div id="catListings" class="mainWrap clearfix" *ngIf='cartItems?.length > 0 && !hasFreeTrial'>

    <!-- Product list -->
    <div class="cart-list">
      <div class="cart-list-contain">
        <!--<div *ngIf="latestProductsRemoved" class="notice">
          <strong><i class="icons icon-info"></i> Notice</strong>
          <p class="notice-note" *ngIf="latestProductsRemoved.product">You have removed <strong>{{latestProductsRemoved.product.productTranslate[0].name}}</strong> from your cart. <a href="" class="" (click)='undoProductRemoved(); $event.preventDefault();'>Undo</a></p>
          <p class="notice-note" *ngIf="latestProductsRemoved.plan">You have removed <strong>{{latestProductsRemoved.plan.planTranslate[0].name}}</strong> from your cart. <a href="" class="" (click)='undoProductRemoved(); $event.preventDefault();'>Undo</a></p>
        </div>-->
        <div class="header-cart-list">order summary</div>
        <div class="box-body">
          <ng-container *ngFor="let item of cartItems; let i = index;">
          <ul class="row no-gutters row-custom text-center" [ngClass]="{'plan-row': item.plan}" *ngIf="!item.isRemove">
            <li class="item item-info">
              <div class="text-contain text-center-vertical pull-left">
                <div class="text-inner" *ngIf="item.product">
                  <h4 class="product-name clickable" clickable (click)="newWindowDetail(item)"><strong>{{item.product.productTranslate | productTranslate: 'name'}}</strong></h4>
                  <p class="product-description"><appProductDescription [productTranslate]="item.product.productTranslate"></appProductDescription></p>
                </div>
                <div class="text-inner" *ngIf="item.plan">
                  <h4 class="product-name clickable" clickable (click)="newWindowDetail(item)"><strong>{{item.plan.planTranslate | productTranslate: 'name'}}</strong></h4>
                  <p class="product-description"><appProductDescription [productTranslate]="item.plan.planTranslate"></appProductDescription></p>
                </div>
              </div>
            </li>
            <li class="item item-quantity hidden-sm-down">
              <div class="text-contain text-center-vertical contain-full">
                 <div class="hidden-sm-up label-item">{{ 'lbl.cart.quantity' | translate }}</div>
                <div class="text-inner">
                  <div class="quantity-action-tool">
                    <div class="btn-minus" (click)="minusQuatity(i)" [ngClass]="{'btn-disabled': item.qty === 1 || item.isFree}"><span class="fa fa-minus"></span></div>
                    <input type="number" name="qty" [(ngModel)]="item.qty" #qty="ngModel" (change)="changeQuatity(i)" [ngClass]="{'btn-disabled': item.isFree}"/>
                    <div class="btn-plus" (click)="plusQuatity(i)" [ngClass]="{'btn-disabled': item.isFree}"><span class="fa fa-plus"></span></div>
                  </div>
                </div>
              </div>
            </li>
            <li class="item item-price hidden-sm-down">
              <div class="text-contain text-center-vertical contain-full">
                <div class="hidden-sm-up label-item">{{ 'lbl.cart.price' | translate }}</div>
                <div class="text-inner" *ngIf="item.product">
                  <span class="item-price">{{(!item.isFree) ? (item.product.productCountry.sellPrice | smsCurrency) : ('lbl.cart.free' | translate) }}</span>
                </div>
                <div class="text-inner text-center" *ngIf="item.plan">
                  <!--<span class="item-price" *ngIf="!item.plan.planCountry[0]">{{ item.plan.planCountry.sellPrice | smsCurrency}}</span>-->
                  <span class="item-price text-bold" *ngIf="!item.plan.planCountry[0]">{{ item.plan.planCountry.sellPrice / item.plan.PlanType.totalChargeTimes | smsCurrency}}</span>
                  <!--<span class="item-price" *ngIf="item.plan.planCountry[0]">{{ item.plan.planCountry[0].sellPrice | smsCurrency}}</span>-->
                  <span class="item-price text-bold" *ngIf="item.plan.planCountry[0]">{{ item.plan.planCountry[0].sellPrice / item.plan.PlanType.totalChargeTimes | smsCurrency}}</span>
                </div>
              </div>
            </li>
            <li class="item item-total hidden-sm-down">
              <div class="text-contain text-center-vertical contain-full">
                <div class="hidden-sm-up label-item">{{ 'lbl.cart.total' | translate }}</div>
                <div class="text-inner" *ngIf="item.product">
                  <span class="item-price">{{(!item.isFree) ? (item.product.productCountry.sellPrice * item.qty | smsCurrency) : ('lbl.cart.free' | translate) }}</span>
                  <!-- <a class="btn-delete-product align-self-center" (click)='removeItem(item); $event.preventDefault();'><i class="fa fa-close"></i></a> -->
                </div>
                <div class="text-inner text-center" *ngIf="item.plan">
                  <!--<span class="total align-self-center" *ngIf="!item.plan.planCountry[0]">{{ item.plan.planCountry.sellPrice * item.qty | smsCurrency}}</span>-->
                  <span class="total align-self-center text-bold" *ngIf="!item.plan.planCountry[0]">{{ (item.plan.planCountry.sellPrice * item.qty) / item.plan.PlanType.totalChargeTimes | smsCurrency}}</span>
                  <!--<span class="total align-self-center" *ngIf="item.plan.planCountry[0]">{{ item.plan.planCountry[0].sellPrice * item.qty | smsCurrency}}</span>-->
                  <span class="total align-self-center text-bold" *ngIf="item.plan.planCountry[0]">{{ (item.plan.planCountry[0].sellPrice * item.qty) / item.plan.PlanType.totalChargeTimes | smsCurrency}}</span>
                </div>
              </div>
            </li>
            <!-- <li class="item item-action hidden-sm-down">
              <div class="text-contain text-center-vertical contain-full">
                <div class="text-inner">
                  <a href="#" class="btn-delete-product" (click)='removeItem(item); $event.preventDefault();'><i class="fa fa-close"></i></a>
                </div>
              </div>
            </li> -->
            <li *ngIf="item.plan && !isLoadingAllPlans" class="mb-10 hidden-sm-down">
              <cart-change-plan [item]="item" [planGroups]="planGroups"></cart-change-plan>
              <!-- <p class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p> -->
            </li>
            <li class="item item-action hidden-sm-up">
              <div class="text-contain text-center">
                <!-- <a href="#" class="btn-delete-product" (click)='removeItem(item); $event.preventDefault();'><i class="fa fa-close"></i></a> -->
              </div>
            </li>
            <li class="col-12 hidden-md-up col-12">
              <div class="row contain-full">
                <div class="col-6 qty text-left">Qty: 1</div>
                <div class="col-3">
                  <div class="text-inner" *ngIf="item.product">
                    <span class="item-price">{{(!item.isFree) ? (item.product.productCountry.sellPrice * item.qty | smsCurrency) : ('lbl.cart.free' | translate) }}</span>
                    <!-- <a class="btn-delete-product align-self-center" (click)='removeItem(item); $event.preventDefault();'><i class="fa fa-close"></i></a> -->
                  </div>
                  <div class="text-inner text-center" *ngIf="item.plan">
                    <!--<span class="total align-self-center" *ngIf="!item.plan.planCountry[0]">{{ item.plan.planCountry.sellPrice * item.qty | smsCurrency}}</span>-->
                    <span class="total align-self-center text-bold" *ngIf="!item.plan.planCountry[0]">{{ (item.plan.planCountry.sellPrice * item.qty) / item.plan.PlanType.totalChargeTimes | smsCurrency}}</span>
                    <!--<span class="total align-self-center" *ngIf="item.plan.planCountry[0]">{{ item.plan.planCountry[0].sellPrice * item.qty | smsCurrency}}</span>-->
                    <span class="total align-self-center text-bold" *ngIf="item.plan.planCountry[0]">{{ (item.plan.planCountry[0].sellPrice * item.qty) / item.plan.PlanType.totalChargeTimes | smsCurrency}}</span>
                  </div>
                </div>
                <div class="col-3 text-right">
                    <div class="text-inner" *ngIf="item.product">
                      <span class="item-price">{{(!item.isFree) ? (item.product.productCountry.sellPrice * item.qty | smsCurrency) : ('lbl.cart.free' | translate) }}</span>
                      <!-- <a class="btn-delete-product align-self-center" (click)='removeItem(item); $event.preventDefault();'><i class="fa fa-close"></i></a> -->
                    </div>
                    <div class="text-inner text-center" *ngIf="item.plan">
                      <!--<span class="total align-self-center" *ngIf="!item.plan.planCountry[0]">{{ item.plan.planCountry.sellPrice * item.qty | smsCurrency}}</span>-->
                      <span class="total align-self-center text-bold" *ngIf="!item.plan.planCountry[0]">{{ (item.plan.planCountry.sellPrice * item.qty) / item.plan.PlanType.totalChargeTimes | smsCurrency}}</span>
                      <!--<span class="total align-self-center" *ngIf="item.plan.planCountry[0]">{{ item.plan.planCountry[0].sellPrice * item.qty | smsCurrency}}</span>-->
                      <span class="total align-self-center text-bold" *ngIf="item.plan.planCountry[0]">{{ (item.plan.planCountry[0].sellPrice * item.qty) / item.plan.PlanType.totalChargeTimes | smsCurrency}}</span>
                    </div>
                </div>
              </div>
            </li>
          </ul>
          </ng-container>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6 col-lg-6">
          <p class="note-1">
            {{ 'lbl.cart.note_3' | translate }}
          </p>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="box-inner box-bottom-contain">
            <div class="box-flex">
              <span class="flex">{{ 'lbl.cart.total' | translate }}</span>
              <strong>{{receipt.totalPrice | smsCurrency}}</strong>
            </div>
            <div class="box-flex">
              <span class="flex">{{ 'lbl.cart.discount' | translate }}</span>
              <strong>{{receipt.discount | smsCurrency}}</strong>
            </div>
            <div class="box-flex">
              <span class="flex">{{ 'lbl.cart.subtotal' | translate }}</span>
              <strong>{{receipt.subTotal | smsCurrency}}</strong>
            </div>
            <div class="box-flex">
              <span class="flex">{{ 'lbl.cart.shipping_cost' | translate }}</span>
              <strong>{{(receipt.shippingFee != 0.00) ? (receipt.shippingFee | smsCurrency) : ('lbl.cart.free' | translate) }}</strong>
            </div>
            <!-- <div class="">
              <form [formGroup]="promoCodeForm" novalidate #f="ngForm">
                <div class="form-group promo-code-group">
                  <label for="promoCode">{{ 'lbl.cart.promo_code' | translate }}</label>
                  <input class="promo-code form-control" id="promoCode" name="promo_code" formControlName="promoCode" [(ngModel)]="promoCode" (change)="promoCode=$event.target.value;promoCodeError=null" value="{{promoCode}}" placeholder="Promo Code" [attr.disabled]="(notAllowPromoCode || checkPromoCodeApplied) ? true : null">
                  <button type="submit" class="btn btn-primary shave2u-btn-primary btn-block btn-apply-promo" (click)="applyPromoCode()" [disabled]="(!promoCode || promoCode === '') ? true : null" *ngIf="!checkPromoCodeApplied">{{ 'lbl.cart.apply' | translate }}</button>
                </div>
                <div class="alert alert-danger mr-sm-2 mt-sm-2" role="alert" *ngIf="promoCodeError">{{ promoCodeError.message }}</div>
              </form>
              <div class="alert alert-danger mr-sm-2 mt-sm-2" role="alert" *ngIf="promoCodeError">{{ promoCodeError.message }}</div>
            </div> -->
            <hr>
            <div class="">
              <div class="row m-0">
                <div class="col-8 col-md-8 grand-total pl-0 pr-0">
                  <span class="flex" *ngIf="storage.getCountry().includedTaxToProduct">{{ 'lbl.cart.total_incld_tax' | translate }}</span>
                  <span class="flex" *ngIf="!storage.getCountry().includedTaxToProduct">{{ 'lbl.cart.grand_total' | translate }}</span>
                  <span class="flex font-12 small-text gray-text" [innerHTML]="'lbl.cart.payment_incld' | translate : {taxRate: receipt.taxRate, taxName: receipt.taxName}" *ngIf="storage.getCountry().includedTaxToProduct"></span>
                </div>
                <div class="col-5 col-md-5 grand-total-price text-right" [ngClass]="storage.getCountry().includedTaxToProduct ? '' : 'pt-0'">
                  <h3 class="reset-bold">{{receipt.totalIclTax | smsCurrency}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- End product list -->
  </div>

  <!-- For Free Trial -->
  <div id="catListings" class="mainWrap clearfix" *ngIf='hasFreeTrial'>

    <!-- Product list -->
    <div class="cart-list">
      <div class="cart-list-contain">
        <!--<div *ngIf="latestProductsRemoved" class="notice">
          <strong><i class="icons icon-info"></i> Notice</strong>
          <p class="notice-note" *ngIf="latestProductsRemoved.product">You have removed <strong>{{latestProductsRemoved.product.productTranslate[0].name}}</strong> from your cart. <a href="" class="" (click)='undoProductRemoved(); $event.preventDefault();'>Undo</a></p>
          <p class="notice-note" *ngIf="latestProductsRemoved.plan">You have removed <strong>{{latestProductsRemoved.plan.planTranslate[0].name}}</strong> from your cart. <a href="" class="" (click)='undoProductRemoved(); $event.preventDefault();'>Undo</a></p>
        </div>-->
        <ul class="row-custom box-header row no-gutters">
          <li class="item item-info item-info-cus "><strong>{{ 'lbl.cart.item' | translate }}</strong></li>
          <!--<li class="item item-quantity text-center hidden-sm-down"><strong>{{ 'lbl.cart.quantity' | translate }}</strong></li>-->
          <!--<li class="item item-price text-center hidden-sm-down"><strong>{{ 'lbl.cart.price' | translate }}</strong></li>          -->
          <li class="item item-total text-center hidden-sm-down"><strong>{{ 'lbl.cart.price' | translate }}</strong></li>
          <li class="item item-action hidden-sm-down"><strong></strong></li>
        </ul>
        <div class="box-body">
          <ng-container *ngFor="let item of cartItems; let i = index;">
          <ul class="row no-gutters row-custom text-center" [ngClass]="{'plan-row': item.plan}" *ngIf="!item.isRemove">
            <li class="item item-info item-info-cus mb-10 pd-2">
              <div class="image-contain image-center-with-border pull-left clickable" clickable (click)="newWindowDetail(item)">
                <div class="image-inner">
                  <div class="image" *ngIf="item.product">
                    <img class="img-responsive" src="{{item.product.productImageURL}}" *ngIf="item.product.productImageURL"/>
                    <display-image [class]="'img-responsive'" [images]="item.product.productImages" *ngIf="!item.product.productImageURL"></display-image>
                  </div>
                  <div class="image image-cus" *ngIf="item.plan">
                    <img class="img-responsive" src="{{item.plan.planImageURL}}" *ngIf="item.plan.planImageURL"/>
                    <display-image [class]="'img-responsive img-responsive-cus'" [images]="item.plan.planImages" *ngIf="!item.plan.planImageURL"></display-image>
                  </div>
                </div>
              </div>
              <div class="text-contain text-center-vertical pull-left">
                <div class="text-inner" *ngIf="item.product">
                  <h4 class="product-name clickable" clickable (click)="newWindowDetail(item)"><strong>{{item.product.productTranslate | productTranslate: 'name'}}</strong></h4>
                  <p class="product-description"><appProductDescription [productTranslate]="item.product.productTranslate"></appProductDescription></p>
                </div>
                <div class="text-inner" *ngIf="item.plan">
                  <h4 class="product-name clickable" clickable (click)="newWindowDetail(item)">
                    <strong>
                      <!--{{item.plan.planTranslate | productTranslate: 'name'}}-->
                      {{ 'lbl.checkout.summary_place_order.free_trial_info.heading' | translate }}
                    </strong>
                  </h4>
                  <p class="product-description" [innerHTML]="'lbl.checkout.summary_place_order.free_trial_info.details_text' | translate : {name: item.plan.planTranslate | productTranslate: 'name', price: (item.plan.planCountry[0].pricePerCharge * item.qty) | smsCurrency, date: item.first_delivery | date : 'dd MMMM yyyy'}">
                    <!-- {{ 'lbl.checkout.summary_place_order.free_trial_info.details_text_1' | translate }}
                    <span class="hight-light">{{item.plan.planTranslate | productTranslate: 'name'}}</span>
                    {{ 'lbl.checkout.summary_place_order.free_trial_info.details_text_2' | translate }}
                    <span class="hight-light" *ngIf="!item.plan.planCountry[0]">{{ (item.plan.planCountry.pricePerCharge * item.qty) | smsCurrency}}</span>
                    <span class="hight-light" *ngIf="item.plan.planCountry[0]">{{ (item.plan.planCountry[0].pricePerCharge * item.qty) | smsCurrency}}</span> -->
                    <!-- {{ 'lbl.checkout.summary_place_order.free_trial_info.details_text_3' | translate }}
                    <span class="hight-light">{{ (item.plan.PlanType.name)}}</span> -->
                    <!-- {{ 'lbl.checkout.summary_place_order.free_trial_info.details_text_4' | translate }}
                    <span class="hight-light">{{ item.first_delivery | date : 'dd MMMM yyyy' }}</span> -->
                    <!--<appProductDescription [productTranslate]="item.plan.planTranslate"></appProductDescription>-->
                  </p>
                </div>
              </div>
            </li>
            <!--<li class="item item-quantity">
              <div class="text-contain text-center-vertical contain-full">
                 <div class="hidden-sm-up label-item">{{ 'lbl.cart.quantity' | translate }}</div>
                <div class="text-inner">
                  <div class="quantity-action-tool">
                    <div class="btn-minus" (click)="minusQuatity(i)" [ngClass]="{'btn-disabled': item.qty === 1 || item.isFree}"><span class="fa fa-minus"></span></div>
                    <input type="number" name="qty" [(ngModel)]="item.qty" #qty="ngModel" (change)="changeQuatity(i)" [ngClass]="{'btn-disabled': item.isFree}"/>
                    <div class="btn-plus" (click)="plusQuatity(i)" [ngClass]="{'btn-disabled': item.isFree}"><span class="fa fa-plus"></span></div>
                  </div>
                </div>
              </div>
            </li>-->
            <!--<li class="item item-price">
              <div class="text-contain text-center-vertical contain-full">
                <div class="hidden-sm-up label-item">{{ 'lbl.cart.price' | translate }}</div>
                <div class="text-inner" *ngIf="item.product">
                  <span class="item-price">{{(!item.isFree) ? (item.product.productCountry.sellPrice | smsCurrency) : ('lbl.cart.free' | translate) }}</span>
                </div>
                <div class="text-inner text-center" *ngIf="item.plan">
                  <span class="item-price text-bold" *ngIf="!item.plan.planCountry[0]">{{ item.plan.planCountry.sellPrice / item.plan.PlanType.totalChargeTimes | smsCurrency}}</span>
                  <span class="item-price text-bold" *ngIf="item.plan.planCountry[0]">{{ item.plan.planCountry[0].sellPrice / item.plan.PlanType.totalChargeTimes | smsCurrency}}</span>
                </div>
              </div>
            </li>-->
            <li class="item item-total">
              <div class="text-contain text-center-vertical contain-full">
                <div class="hidden-sm-up label-item">{{ 'lbl.cart.total' | translate }}</div>
                <div class="text-inner text-center" *ngIf="item.plan">
                  <!--<span class="total align-self-center" *ngIf="!item.plan.planCountry[0]">{{ item.plan.planCountry.sellPrice * item.qty | smsCurrency}}</span>-->
                  <span class="total align-self-center text-bold" *ngIf="!item.plan.planCountry[0]">{{ ('0.00') | smsCurrency}}</span>
                  <!--<span class="total align-self-center" *ngIf="item.plan.planCountry[0]">{{ item.plan.planCountry[0].sellPrice * item.qty | smsCurrency}}</span>-->
                  <span class="total align-self-center text-bold" *ngIf="item.plan.planCountry[0]">{{ ('0.00') | smsCurrency}}</span>
                </div>
              </div>
            </li>
            <li class="item item-action hidden-sm-down">
              <div class="text-contain text-center-vertical contain-full">
                <div class="text-inner">
                  <!-- <a href="#" class="btn-delete-product" (click)='removeItem(item); $event.preventDefault();'><i class="fa fa-close"></i></a> -->
                </div>
              </div>
            </li>
            <!--<li  class="mb-10">
              <p class="subs_start">
                <span>{{ 'lbl.cart.subs_start' | translate }}</span>
                <strong>{{ item.first_delivery | date : 'MMMM dd, yyyy' }}</strong>
              </p>

            </li>-->
            <li class="item item-action hidden-sm-up">
              <div class="text-contain text-center">
                <!-- <a href="#" class="btn-delete-product" (click)='removeItem(item); $event.preventDefault();'><i class="fa fa-close"></i></a> -->
              </div>
            </li>
          </ul>
          </ng-container>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-7 col-lg-6">
          <div class="box-inner box-bottom-contain">
            <div class="box-flex">
              <span class="flex">{{ 'lbl.cart.total' | translate }}</span>
              <strong>{{receipt.totalPrice | smsCurrency}}</strong>
            </div>
            <div class="box-flex">
              <span class="flex">{{ 'lbl.cart.discount' | translate }}</span>
              <strong>{{receipt.discount | smsCurrency}}</strong>
            </div>
            <div class="box-flex">
              <span class="flex">{{ 'lbl.cart.subtotal' | translate }}</span>
              <strong>{{receipt.subTotal | smsCurrency}}</strong>
            </div>
            <div class="box-flex">
              <span class="flex">{{ 'lbl.cart.shipping_cost' | translate }}</span>
              <strong>{{(receipt.shippingFee != 0.00) ? (receipt.shippingFee | smsCurrency) : ('lbl.cart.free' | translate) }}</strong>
            </div>
            <hr>
            <div class="">
              <div class="row m-0">
                <div class="col-8 col-md-8 grand-total pl-0 pr-0">
                  <span class="flex" *ngIf="storage.getCountry().includedTaxToProduct">{{ 'lbl.cart.total_incld_tax' | translate }}</span>
                  <span class="flex" *ngIf="!storage.getCountry().includedTaxToProduct">{{ 'lbl.cart.grand_total' | translate }}</span>
                  <span class="flex font-12 small-text gray-text" [innerHTML]="'lbl.cart.payment_incld' | translate : {taxRate: receipt.taxRate, taxName: receipt.taxName}" *ngIf="storage.getCountry().includedTaxToProduct"></span>
                </div>
                <div class="col-5 col-md-5 grand-total-price text-right" [ngClass]="storage.getCountry().includedTaxToProduct ? '' : 'pt-0'">
                  <h3 class="reset-bold">{{receipt.totalIclTax | smsCurrency}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-lg-6 note">
          <p class="note-1">
            {{ 'lbl.cart.note_1' | translate }}
          </p>
          <p class="suggest-payment-logo">
            <img class="visa-logo" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/visa-logo.png"/>
            <img class="mastercard-logo" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/mastercard-logo.png"/>
            <img class="ipay88-logo" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/ipay88_logo.png" *ngIf="this.storage.getCountry().code !== 'SGP' && !hasFreeTrial"/>
          </p>
          <p class="note-2 mb-3">
            <!-- <span>{{ 'lbl.cart.note_2' | translate }}<a class="clickable" (click)="goToHelp();">{{ 'lbl.cart.return_policy' | translate }}</a></span> -->
            <span [innerHTML]="'lbl.cart.note_2' | translate"></span>
          </p>
          <p class="note-3">
            <span class="fs-8">{{ 'lbl.cart.note_4' | translate }}</span>
          </p>
        </div>
      </div>
    </div>
      <!-- End product list -->
  </div>

</div>
<!-- / Review order (checkout flow)-->
