@media  (max-width: 767px) {
  #thankYouPage  {
    // .email-info,.shipping,.billing,.card-info{
    //   padding-left: 42px;
    // }
    .card-image {
      img {
        margin-top: 12px;
      }
    }
    .page-inner {
			.box-body {
				.estimated-delivery {
					white-space: normal;
					font-size: 14px;
					padding: 0 15px;
				}
			}
      .text-heading {
        margin: 40px 0 0;
        span{
          display:inline-block;
          margin-top: 20px;
        }
        .ico-check{
          display: block;
          margin: 0 auto;
        }
      }

      .cart-list {
        .box-bottom-contain {
          width: 100%;
          padding: 30px 18px 20px 18px ;
          .grand-total{
            display: inline-block;
            max-width:60%;
            span{
              display: inline-block;
            }
          }
        }
        .cart-list-contain {
          &.block-left {
            width: calc(100% - 330px);
          }
          ul.plan-row {
            li {
              width: 100%;
            }
          }
        }
        .item-quantity{
          .text-contain {
            &.contain-full{
              .label-item{
                // margin-top:10px;
              }
            }
          }
        }
        .text-contain {
          &.contain-full{
            max-width: 100%;
            width: 100%;
             &.text-center-vertical{
              display: block;
              margin: 0;
              .label-item{
                float: left;
                width: 128px;
                text-align: right;
                padding-right: 25px;
                // padding-right:
              }
            }
            .text-inner {
              height: auto;
              width: 130px;
              text-align:center;
              &.d-flex{
                display: inline-block;
              }
            }
          }
        }
        .item {
          // border-bottom: 1px solid #CCC;
          padding: 20px 0;
        }
        .box-body {
          .item {
            padding: 25px 0 0;
            width: 100%;
            &.item-quantity, &.item-price, &.item-total {
              padding-top: 10px;
              .text-contain{
                padding-top: 0;
              }
            }
            &.item-action{
              width: 100%;
              padding: 0;
              .btn-delete-product{
                right: 0;
              }
              .text-contain{
                width: 100%;
                padding-bottom: 23px;
              }
            }
            &.item-total{
              .contain-full{
                padding-bottom: 20px;
              }
            }
          }
        }
        .note {
          // font-family: 'Muli Bold';
          margin-top:20px;
          .note-1 {
            font-size: 16px;
          }
          .note-2 {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media  (max-width: 575px) {
  #thankYouPage  {
    .billing {
      margin-top: 10px;
    }
  }
}
