#thankYouPage .page-inner {
  max-width: 975px;
  margin: auto;
}

#thankYouPage .page-inner .text-heading {
  margin: 90px 0;
}

#thankYouPage .page-inner .text-heading .ico-check {
  background-image: url("https://d8pi1a7qa1dfv.cloudfront.net/assets/images/tick-128.png");
  background-repeat: no-repeat;
  background-position: center left;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 20px;
}

#thankYouPage .page-inner .cart-container {
  border: 1px solid #d7d7d7;
  padding: 35px 40px;
}

#thankYouPage .page-inner .cart-list {
  position: relative;
}

#thankYouPage .page-inner .cart-list .heading {
  margin-bottom: 15px;
}

#thankYouPage .page-inner .cart-list .cart-list-contain .row-custom {
  display: flex;
  width: 100%;
}

#thankYouPage .page-inner .cart-list .cart-list-contain .product-name {
  font-size: 18px;
}

#thankYouPage .page-inner .cart-list .cart-list-contain .product-description {
  font-size: 16px;
}

#thankYouPage .page-inner .cart-list .cart-list-contain .item-info {
  width: 47%;
}

#thankYouPage .page-inner .cart-list .cart-list-contain .item-price {
  width: 19%;
}

#thankYouPage .page-inner .cart-list .cart-list-contain .item-quantity {
  width: 24%;
}

#thankYouPage .page-inner .cart-list .cart-list-contain .item-total {
  width: 10%;
  text-align: right;
}

#thankYouPage .page-inner .cart-list .cart-list-contain .item-total .text-contain {
  float: right;
}

#thankYouPage .page-inner .cart-list .image-contain {
  width: 175px;
  max-width: 44%;
}

#thankYouPage .page-inner .cart-list .image-contain .image-inner .image {
  height: 175px;
}

#thankYouPage .page-inner .cart-list .text-contain {
  max-width: 55%;
  padding-left: 25px;
  text-align: left;
}

#thankYouPage .page-inner .cart-list .text-contain .text-inner {
  height: 175px;
}

#thankYouPage .page-inner .cart-list .item {
  border-bottom: 1px solid #CCC;
  padding: 20px 0;
}

#thankYouPage .page-inner .cart-list .box-body .item {
  padding: 40px 0;
}

#thankYouPage .page-inner .cart-list .note {
  font-family: 'Muli Bold';
  padding: 0 70px;
}

#thankYouPage .page-inner .cart-list .note .note-1 {
  font-size: 16px;
}

#thankYouPage .page-inner .cart-list .note .note-2 {
  font-size: 14px;
  color: #aaacaf;
  background: url("https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-shield.png") no-repeat top left;
  min-height: 35px;
  padding-left: 40px;
}

#thankYouPage .page-inner .order-detail .card-custom {
  max-height: 256px;
}

#thankYouPage .page-inner .order-detail .card-custom .text-content {
  padding: 35px 45px;
}

#thankYouPage .page-inner .order-detail .card-custom .text-contain {
  display: block;
}

#thankYouPage .page-inner .order-detail .card-custom .text-contain .text-inner {
  height: 160px;
}

#thankYouPage .page-inner .order-detail .card-custom img {
  max-height: 256px;
}
