@import "../../../../../assets/sass/mixins/color";
#thankYouPage {
  max-width: 800px;
	text-align: center;
	min-height: calc(100vh - 81px - 207px);
	display: flex;
	justify-content: center;
  .page-inner {
    margin: auto;
    .box-header {
      display: block;
	    margin-bottom: 40px;
    }

    .cart-container {
      padding: 35px 0;
      h2{
        color: #000;
		    letter-spacing: 2px;
				font-size: 40px;
      }
    }

		.box-body {
			.order-number {
				font-weight: bold;
		    font-size: 13px;
		    letter-spacing: 1px;
				.code {
					color: $primary-color;
				}
			}
			.estimated-delivery {
				white-space: pre-line;
		    font-size: 14px;
			}
		}
  }
}
@import '_thankyou-response.component';;
