<div id="thankYouPage" class="container-fluid" *ngIf="orderInfo">
  <div class="page-inner">
    <div class="box cart-container">
      <div class="box-header box-flex">
        <h2 class="text-center text-uppercase">{{'lbl.checkout.thankyou.thankyou' | translate}}</h2>
      </div>
      <div class="box-body">
				<p class="order-number text-uppercase" [innerHTML]="'lbl.checkout.thankyou.view_order' | translate : {orderId: orderId, orderNumber: orderId | orderNo: orderInfo.Country.code} | safeHtml"></p>

				<p *ngIf="this.storage.getCountry().code !== 'KOR' && this.storage.getCountry().code !== 'SGP'" class="estimated-delivery" [innerHTML]="'lbl.checkout.thankyou.estimated_delivery' | translate : {deliveryDateFrom: deliveryDateFrom | date:'MMMM dd, yyyy', deliveryDateTo: deliveryDateTo | date:'MMMM dd, yyyy'}"></p>
				<p *ngIf="this.storage.getCountry().code === 'KOR'" class="estimated-delivery" [innerHTML]="'lbl.checkout.thankyou.estimated_delivery_kor' | translate : {deliveryDateFrom: deliveryDateFrom | date:'MMMM dd, yyyy', deliveryDateTo: deliveryDateTo | date:'MMMM dd, yyyy'}"></p>
				<p *ngIf="this.storage.getCountry().code === 'SGP'" class="estimated-delivery" [innerHTML]="'lbl.checkout.thankyou.estimated_delivery_sgp' | translate : {deliveryDateFrom: deliveryDateFrom | date:'MMMM dd, yyyy', deliveryDateTo: deliveryDateTo | date:'MMMM dd, yyyy'}"></p>
      </div>
    </div>
  </div>
</div>
