
.form-control
{
  height: auto !important;
  border-radius: 0.25rem !important;
}
.logo {
  max-width: 130px;
}

#select-channelType {
  color: #868e96;
  option {
    color: #495057;
  }
}
.default-color {
  color: #495057 !important;
}

#form-login {
  .form-signin
  {
    a {
      cursor: pointer;
      text-decoration: underline;
    }
    padding: 15px;
    margin: 0 auto;
    .checkbox
    {
      font-weight: normal;
    }
    .form-control
    {
      position: relative;
      font-size: 16px;
      height: auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      &:focus
      {
        z-index: 2;
      }
    }
    input[type="text"]
    {
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    input[type="password"]
    {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
  
  .form-signin .form-control:focus
  {
    z-index: 2;
  }
  .form-signin input[type="text"]
  {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .form-signin input[type="password"]
  {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .account-wall
  {
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  .login-title
  {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
  }
  .profile-img
  {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .need-help
  {
    margin-top: 10px;
  }
  
}