<div class="wrapper-page">
  <!--<div class="text-center">
    <a href="#" class="logo"><span>BA Smart shaves</span></a>
  </div>-->
  <div class="m-t-40 card-box">
    <div class="text-center">
      <!--<h4 class="text-uppercase font-bold m-b-0">Sign In</h4>-->
      <img class="logo" src="/assets/images/logo-mobile.svg"/>
    </div>
    <div class="panel-body">
      <app-alert [data]='resError'></app-alert>
      <div class="login-form" *ngIf="stage === 'signin'">
        <form class="form-horizontal m-t-20" (ngSubmit)="loginForm.valid && onSubmit(loginForm.value)" [formGroup]="loginForm" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="f.submitted && loginForm.hasError('required', 'badgeId') ? 'has-error' : ''">
            <div class="controls">
              <input formControlName="badgeId" type="badgeId" class="form-control" placeholder="{{ 'login.badge_id.placeholder' | translate }}"/>
            </div>
            <span class="text-danger" *ngIf="f.submitted && loginForm.hasError('required', 'badgeId')">{{ 'login.badge_id.error_message.empty' | translate }}</span>
          </div>
          <div class="form-group" [ngClass]="f.submitted && loginForm.hasError('required', 'icNumber') ? 'has-error' : ''">
            <div class="controls">
              <input formControlName="icNumber" type="icNumber" class="form-control" placeholder="{{ 'login.ic_number.placeholder' | translate }}"/>
            </div>
            <span class="text-danger" *ngIf="f.submitted && loginForm.hasError('required', 'icNumber')">{{ 'login.ic_number.error_message.empty' | translate }}</span>
          </div>
          <!-- <div class="form-group" [ngClass]="f.submitted && loginForm.hasError('required', 'channelType') ? 'has-error' : ''">
            <div class="controls">
              <select onchange="changeColor()" class="form-control" id="select-channelType" formControlName="channelType" name="channelType" required [hidden]="!channelTypeList || channelTypeList.length === 0">
                <option [value]="null" hidden disabled selected-custom [attr.selected]="true"><span class="text-danger">- {{ 'login.channelType.label' | translate }} -</span></option>
                <option value="Event">{{ 'channel_type.event' | translate }}</option>
                <option value="Streets">{{ 'channel_type.streets' | translate }}</option>
                <option value="B2B">{{ 'channel_type.b2b' | translate }}</option>
                <option value="RES">{{ 'channel_type.res' | translate }}</option>
              </select>
              <input type="eventLocationCode" class="form-control" formControlName="channelType" name="channelType" required [hidden]="channelTypeList && channelTypeList.length > 0"/>
            </div>
            <span class="text-danger" *ngIf="f.submitted && loginForm.hasError('required', 'channelType')">{{ 'login.channelType.error_message.empty' | translate }}</span>
          </div>
          <div class="form-group" [ngClass]="f.submitted && loginForm.hasError('required', 'eventLocationCode') ? 'has-error' : ''">
            <div class="controls">
              <input formControlName="eventLocationCode" type="eventLocationCode" class="form-control" placeholder="{{ 'login.eventLocationCode.placeholder' | translate }}"/>
            </div>
            <span class="text-danger" *ngIf="f.submitted && loginForm.hasError('required', 'eventLocationCode')">{{ 'login.eventLocationCode.error_message.empty' | translate }}</span>
          </div> -->
          <div class="text-center my-3">
            <input class="btn btn-primary" type="submit" value="Login">
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end card-box-->
</div>