<div class="sample-product mainWrap clearfix">
  <!-- customer-details -->
  <div class="row customer-details">
    <div class="col-md-12 col-12">
      <h4 class="text-center heading-top">{{ 'payment.customer_details.heading' | translate}}</h4>
      <form [formGroup]='customerDetailsForm' #fCustomerDetailsForm='ngForm' novalidate (ngSubmit)='customerDetailsForm.valid'>
        <!--input-fullName-->
        <div class="row">
          <label class="col-md-12 label-input pt-0" for="input-first-name">{{ 'payment.customer_details.name.label' | translate }}*</label>
          <div class="col-md-12">
            <div class="form-group form-group-cus" [ngClass]="{'has-danger': fCustomerDetailsForm.submitted && !customerDetailsForm.controls.fullName.valid}">
              <input type="text" class="form-control shave2u-form-control"
                placeholder="{{ 'payment.customer_details.name.place_holder' | translate }}"
                id="input-first-name" name="fullName" formControlName="fullName" autofocus>
              <span *ngIf="fCustomerDetailsForm.submitted && !customerDetailsForm.controls.fullName.valid" class="form-control-feedback">
                {{ 'msg.validation.required' | translate:{value: 'payment.customer_details.name.label' | translate} }}
              </span>
            </div>
          </div>
        </div>
        <!--/input-fullName-->
        <!--input-email-->
          <div class="form-group" [ngClass]="{'has-danger': fCustomerDetailsForm.submitted && !customerDetailsForm.controls.email.valid}">
            <label for="input-email">{{ 'payment.customer_details.email.label' | translate }}*
              <!--<span class="have-account">({{ 'payment.address.email.have_an_account' | translate }} 
                <strong class="click-able" (click)="loginModal()">{{ 'payment.address.email.login_text' | translate }} </strong>
                {{ 'payment.address.email.end_text' | translate }})</span>-->
            </label>
            <input type="email" class="form-control shave2u-form-control" placeholder="{{ 'payment.customer_details.email.place_holder' | translate }}"
              id="input-address" formControlName="email" pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$'
              >
            <span *ngIf="fCustomerDetailsForm.submitted && !customerDetailsForm.controls.email.valid" class="form-control-feedback">
                {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.email' | translate) } }}
              </span>
          </div>
        <!-- / input-email-->
         <!-- input-phone -->
          <div class="form-group row form-group-cus">
            <label class="col-12 label-input" for="input-id-5">{{ 'payment.customer_details.phone.label' | translate }}*</label>

            <div class="col-3 col-left select-code">
              <select class="form-control shave2u-form-control border-right-0" formControlName="callingCode" >
                <option [value]="country.dial_code" *ngFor="let country of callingCodes">{{country.dial_code}}</option>
              </select>
            </div>
            <div class="col-9 col-right">
              <div class="form-group form-group-cus" [ngClass]="{'has-danger': (fCustomerDetailsForm.submitted) && !customerDetailsForm.controls.contactNumber.valid}">
                <input type="text" class="form-control shave2u-form-control" placeholder="{{ 'payment.customer_details.phone.place_holder' | translate }}"
                  id="input-id-5" name="contactNumber" formControlName="contactNumber" inputNumber>
                <!--<span *ngIf="(fCustomerDetailsForm.submitted || customerDetailsForm.controls.contactNumber.touched) && !customerDetailsForm.controls.contactNumber.valid"
                  class="form-control-feedback">
                  {{ 'msg.validation.required' | translate:{value: 'Phone'} }}
                </span>-->
                <span *ngIf="fCustomerDetailsForm.submitted && (customerDetailsForm.controls.contactNumber.errors && customerDetailsForm.controls.contactNumber.errors.minLength)" class="form-control-feedback">
                  {{ 'msg.validation.valid' | translate:{value: ( 'msg.field.phone' | translate) } }}
                </span>
                <span *ngIf="fCustomerDetailsForm.submitted && (customerDetailsForm.controls.contactNumber.errors && customerDetailsForm.controls.contactNumber.errors.required)" class="form-control-feedback">
                  {{ 'msg.validation.required' | translate:{value: ( 'msg.field.phone' | translate) } }}
                </span>
              </div>
            </div>

          </div>
          <!-- / input-phone -->

        <!-- To trigger submit form -->
        <button type="submit" [hidden]= "1===1" #submitCustomerDetailsForm>{{ 'btn.continue' | translate }}</button>
        <app-alert [data]="resError"></app-alert>
      </form> 
    </div>
  </div>
  <!--/ customer-details-->


  <!-- action -->
  <div class="group-btn">
    <a (click)="submitCustomerDetailsForm.click();submit()"
       class="btn btn-primary shave2u-btn-primary btn-nextTo" [attr.disabled]="(!customerDetailsForm.valid) ? true : null">{{ 'btn.submit' | translate}}</a>
  </div>
  <!-- End product list -->
      
</div>