.sample-product {
	.customer-details {
		.col-left {
			padding-right: 0;
		}

		.col-right {
			padding-left: 0px;
		}

		.full-name, .address, .contactNumber {
			display: block;
		}
	}
	.group-btn {
		width: 100%;
		display: inline-block;
		a {
			width: 100%;
		}
	}

}

@media  (max-width: 767px) {
  .sample-product {
		.customer-details {
			.select-code {
				select {
					padding: 4px;
					padding-right: 0;
				}
			}
		}
  }
}