<!--<nav class="navbar navbar-top navbar-toggleable-md navbar-light fixed-top" [ngClass]="{'has-notification': hasNoti || hasNotiRemind, 'header-common': headerCommon}">
  <h3>
    <i class="fa fa-chevron-left pull-left" aria-hidden="true" (click)="back()"></i>{{screenName}}
  </h3>
</nav>-->

<nav class="navbar navbar-top navbar-toggleable-md navbar-dark bg-dark fixed-top" *ngIf="(userService.getLoggedIn() | async)">
  <h3 [hidden]="routerName === '/' || !routerName" class="mx-auto">
    <i class="fa fa-chevron-left pull-left" aria-hidden="true" (click)="back()" *ngIf="showBackButton"></i>{{screenName}}
  </h3>
  <h3 [hidden]="!(routerName === '/' || !routerName)" class="mx-auto">
    {{screenName ? screenName : 'menu.select_a_category' | translate}}
  </h3>
  <button class="navbar-toggler navbar-toggler-right clickable btn-top-menu-collapse collapsed" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="collapsingNavbar">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link clickable" routerLink="/">{{ 'menu.home' | translate }}</a>
          </li>
          <li class="nav-item" *ngIf="currentUser.Country.isBaEcommerce">
              <a class="nav-link clickable" routerLink="/orders">{{ 'menu.order_history' | translate }}</a>
          </li>
          <ng-container *ngIf="languagesList.length > 0">
            <span class="nav-link clickable" data-toggle="collapse" data-target="#collapsingLanguageBar">
                {{ 'menu.change_language' | translate : {lang: currentLang.toUpperCase()} }}
            </span>
            <div class="navbar-collapse collapse" id="collapsingLanguageBar">
                <ul class="navbar-nav" *ngFor="let language of languagesList">
                    <li class="nav-item" data-toggle="collapse" data-target="#collapsingLanguageBar">
                        <a class="nav-link clickable" (click)="changeLanguage(language)" data-toggle="collapse" data-target="#collapsingNavbar">{{ language.displayLang }}</a>
                    </li>
                </ul>
            </div>
          </ng-container>
          <li class="nav-item">
              <a class="nav-link clickable" (click)="logout($event)">{{ 'menu.logout' | translate }}</a>
          </li>
      </ul>
  </div>
</nav>

