.navbar-top {
  background: #000000;
  text-align: center;
  padding: 17px 0;
  h3 {
    color: #ffffff;
    margin-bottom: 0;
    font-size: 14px;
  }
  .btn-top-menu-collapse {
    position: absolute;
    right: 10px;
    top: 5px;
  }
  .fa-chevron-left {
    position: absolute;
    left: 15px;
    top: 17px;
    cursor: pointer;
  }
}