<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();">
            <span aria-hidden="true">×</span>
          </button> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <app-alert></app-alert>
          <div class="user-form">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row" *ngIf="productInfo">
                  <div class="col-md-6">
                      <display-image [images]="productInfo.productImages" [class]="'img-responsive-add-to-cart'"></display-image>
                  </div>
                  <div class="col-md-6">
                    <div class="product-detail-content">
                      <!-- product name -->
                      <div class="heading">
                        <h2 class="block-heading">{{productInfo.productTranslate | productTranslate:'name'}}</h2>
            
                        <!-- Price -->
                        <span class="sell-price">{{productInfo.productCountry.sellPrice | smsCurrency}}</span>
                      </div>
            
                      <!-- Detail info -->
                      <p class="sort_desciption"><appProductDescription [productTranslate]="productInfo.productTranslate" [displayShortDescription]=true></appProductDescription></p>
                      <!-- <p class="desciption"><appProductDescription [productTranslate]="productInfo.productTranslate" [displayShortDescription]=false></appProductDescription></p> -->
            
                      <div class="quantity-inner" *ngIf="storage.getCountry().isWebEcommerce && storage.getCountry().code.toUpperCase() !== 'KOR'">
                        <label class="text">{{ 'lbl.product_detail.quantity' | translate }}</label>
                        <div class="quantity-action-tool">
                          <div class="btn-minus ml-0" (click)="minusQuatity()" [ngClass]="item.qty === 1 ? 'inactive' : ''"><span class="fa fa-minus"></span></div>
                          <input type="number" name="qty" [(ngModel)]="item.qty" #qty="ngModel" (change)="changeQuatity()"/>
                          <div class="btn-plus" (click)="plusQuatity()"><span class="fa fa-plus"></span></div>
                        </div>
                      </div>
            
                      <!-- Button add to cart -->
                      <div class="btn-group">
                        <button class="btn btn-primary shave2u-btn-primary" (click)='addToCart()' *ngIf="storage.getCountry().isWebEcommerce && storage.getCountry().code.toUpperCase() !== 'KOR'">
                          {{ 'lbl.product_detail.btn_add' | translate }}
                          <span class="sell-price">{{productInfo.productCountry.sellPrice | smsCurrency}}</span>
                        </button>
                      </div>
                      <div class="delivery-group" *ngIf="storage.getCountry().code.toUpperCase() !== 'KOR'">
                        <p class="icon-deliver" [innerHTML]="'lbl.product_detail.delivery' | translate : {currency: storage.getCountry().currencyDisplay, price: appConfig.getConfig('shippingFeeConfig').minAmount}"></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /container -->
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <div class="modal-backdrop fade"></div>