.modal-dialog {
  max-width: 900px;
}

.modal-header {
  border-bottom: none;
  background: #f7f7f7;
  padding: 23px;
  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    transition: transform .25s ease-in-out;
    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 25px;
      height: 0;
      border-top: 2px solid #292b2c;
      transform-origin: center;
    }
    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.modal-body {
  // padding-top: 65px;
  background: #f7f7f7;
  .panel-body {
    .display-image {
      max-width: 100%;
    }
  }
  .quantity-inner{
    margin-bottom: 25px;
  }
  .product-detail-content {
    padding: 0 0px 40px;

    .heading{
      width: 100%;
      display: inline-block;
      // padding-top: 50px;
      .block-heading {
        float: left;
        font-size: 25px;
        line-height: 1;
        border-right: 1px solid #000;
        margin-right: 15px;
        padding-right: 15px;
      }
      .sell-price{
        line-height: 1;
        font-size: 25px;
      }
    }

    .desciption{
      p:first-child{
        color: #636c72;
      }
      p{
        background: #fff;
      }
    }

    .btn-group {
      display:block;
      .btn-primary{
       /*  margin: 0 auto;   */
        display:inherit;
        width: 100%;
        height: 60px;
        margin-bottom: 20px;
        max-width: 400px;
        .sell-price {
          font-family: 'Muli Bold';
          font-size: 13px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #ffffff;
          line-height: 25px;
          border-left: 1px solid #fff;
          padding-left: 15px;
          margin-left: 7px;
        }
      }
    }
    .sell-price {
      font-size: 32px;
      color: #000;
      margin-bottom: 11px;
    }

    .sort_desciption{
      color: #636c72;
      font-size: 16px;
    }
    .desciption{
      padding: 15px;
      background: #fff;
      max-width: 380px;
      border-radius: 10px;
      h2{
        color: #1f1f1f;
        text-transform: uppercase;
      }
    }
    .icon-deliver{
      font-size: 14px;
      color: #848484;
      padding-left: 30px;
      margin: 0 0 5px;
      background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons/icon-deliver.png') center left no-repeat;

    }
    .icon-handles{
      font-size: 14px;
      color: #848484;
      padding-left: 30px;
      margin: 0;
      background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons/icon-handles.png') center left no-repeat;

    }
  }
  .quantity-inner {
    // display: flex;
    // border-top: 1px solid #CCC;
    // border-bottom: 1px solid #CCC;
    padding: 8px 0;
    .text {
      min-width: 135px;
      width: 100%;
      padding: 9px 0 10px;
      margin: 0;
      text-transform: uppercase;
    }
    div > input {
      font-weight: bold;
    }
  }
  .product-details {
    // margin-top: 10px;
	  margin-top: 30px;
    font-size: 20px;
    background: #e8e9e8;
    .img-background {
      &.img-background {
        .image-inner {
          margin-left: -15px;
          margin-right: -15px;
			    position: relative;
        }
        img {
          width: 100%;
        }
      }
    }
    .text-contain {
      display: table;
      position: absolute;
      text-align: center;
      left: 50%;
      top: 0;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      .text-inner {
        display: table-cell;
        vertical-align: middle;
        max-width: 370px;
        text-align: left;
        h2{
          font-size: 25px;
          line-height: 40px;
        }
      }
      .text {
        max-width: 560px;
      }
    }
    &.center {
      .text-contain {
        margin-top: 15px;
       /*  margin-left: -295px;
        top: 140px;
        left: 50%; */
      }
    }
    &.left {
      .text-contain {
        top:55%;
        // right: 68%;
        left: 32%;
      }
    }
    &.right {
      .text-contain {
        top:55%;
        left: 68%;
      }
    }
  }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}