<div class="row mx-0">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title float-left">Manage Staff Users</h4>
        <button type="button" class="btn btn-secondary btn-sm float-right" (click)="addUser()" *ngIf="globalService.canCreate('users/staffs')">Add A User</button>
        <br>
        <br>
      </div>

      <div class="content table-responsive table-full-width">
        <div class="row mx-0 mb-3">
          <!-- <div class="col-md-3">
            <select name="cities" class="selectpicker form-control" (change)="onLimitChange($event)">
              <option [attr.value]="item" *ngFor="let item of ['50', '100', '150', '200']" [attr.selected]="item == options.get('limit') ? true : null">Show {{item}} per page</option>
            </select>
          </div> -->
          <div class="col-md-3">
            <label for="">Sort by Name</label>
            <select name="cities" class="selectpicker form-control" (change)="sortByName($event.target.value)">
              <option value="ASC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) !== 'firstName_DESC' ? true : null">A-Z</option>
              <option value="DESC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) == 'firstName_DESC' ? true : null">Z-A</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="">Filter by Status</label>
            <select name="filterByProductType" class="selectpicker form-control" (change)="filterby('isActive', $event.target.value)">
              <option [value]="'all'">All Status</option>
              <option value="1" [attr.selected]="options.get('isActive') == '1' ? true : null">Active</option>
              <option value="0" [attr.selected]="options.get('isActive') == '0' ? true : null">Inactive</option>
            </select>
          </div>
          <div class="col-md-6 filter-field">
            <!-- <span class="filter-field-label">Filter by Email</span> -->
            <label for="">Search</label>
            <input id="filterByEmail" name="filterByEmail" type="text" class="form-control" placeholder="Search by Email" [ngModel]="options.get('email')"
              (input)="customizeFilterBy('email', $event)">
          </div>
        </div>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"></pagination>
        <!-- /pagging -->
        <app-button-ai [active]="mutiaction" apikey="admin-users/change-status" [apivalue]="{'actionids':'staffIds','actionstatus':'isActive'}"></app-button-ai>
      <table class="table table-shaves mt-2 table-user">
        <thead>
          <tr>
            <th width="50" class="text-center">
              <input type="checkbox" id="all" value="all" idchecked="" (change)="checkboxchecked($event ,'all')" class="actionactive checkboxall">
            </th>
            <th (click)="tableHearSort($event, userList.rows, 'firstName','string')" class="table-sort">Name</th>
            <th (click)="tableHearSort($event, userList.rows, 'email','string')" class="table-sort th-email">Email</th>
            <th (click)="tableHearSort($event, userList.rows, 'phone','string')" class="table-sort">Phone</th>
            <th (click)="tableHearSort($event, userList.rows, 'name','string', 'Country')" class="table-sort text-right">Country</th>
            <th class="th-role">Role</th>
            <th class="">Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="!isLoading">
          <tr *ngFor="let item of userList.rows">
            <td width="50" class="text-center">
              <input type="checkbox" attr.id="{{item.id}}" value="{{item.id}}" (change)="checkboxchecked($event ,item.id)" class="actionactive">
            </td>
            <td class="td-name">
              {{ item.firstName + " " + item.lastName }}
            </td>
            <td class="td-email">
              {{ item.email }}
            </td>
            <td class="td-phone">{{ item.phone }}</td>
            <td class="td-country">{{ item.Country.name }}</td>
            <td class="td-role" style="text-transform: capitalize">{{ item.Role.roleName }}</td>
            <td class="td-status">{{ item.isActive ? 'Active' : 'Inactive'}}</td>
            <td class="td-actions">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Action
                </button>
                <div class="dropdown-menu actiion-menu" aria-labelledby="dropdownMenuButton" *ngIf="globalService.canEdit('users/staffs') || globalService.canDelete('users/staffs')">
                  <a class="dropdown-item" (click)="editUser(item.id)" *ngIf="globalService.canEdit('users/staffs')">Edit</a>
                  <a class="dropdown-item" (click)="deleteUserCustomer(item.id)" *ngIf="item.isActive && globalService.canDelete('users/staffs')">Inactive</a>
                  <a class="dropdown-item" (click)="activeUserCustomer(item.id)" *ngIf="!item.isActive && globalService.canDelete('users/staffs')">Active</a>
                </div>
              </div>
            </td>
          </tr>
          <tr *ngIf="userList.rows.length === 0">
            <td colspan="5" class="text-center">No Items</td>
          </tr>
        </tbody>
      </table>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"
          [showing]="false"></pagination>
        <!-- /pagging -->
      </div>
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->
</div>

<!-- add-user-modal -->
<add-user-modal (hasChange)="hasChangeUser($event)"></add-user-modal>
<!-- edit-user-modal -->
<edit-user-modal (hasChange)="hasChangeUser($event)"></edit-user-modal>