@media (max-width: 992px) {
	#user-order-list {
		display: none;
	}
	#user-order-list-mobile {
		display: block;
		.block-current-order,
		.block-history-order {
			padding: 0 !important;
			margin: 0 0 20px !important;
			.block-border {
				padding-right: 0;
				padding-left: 0;
				:last-child {
					border-bottom: none !important;
				}
				ul {
					display: inline-table;
					width: 100%;
					padding-left: 10px;
					padding-top: 16px;
					padding-bottom: 18px;
					margin-bottom: 0;
					margin-left: 0;
					border-bottom: 1px solid #cccccc;
					li {
						display: flex;
						.row-1 {
							width: 31%;
							min-width: 90px;
						}
						.date {
							text-transform: uppercase;
						}
						.order_id {
							font-weight: bold;
						}
						.items {
						}
						.price {
						}
						.status {
							margin-top: 18px;
						}
						.detail {
							padding-right: 5px;
							margin-top: 18px;
							text-transform: uppercase;
							color: #FD641F;
							right: 0;
							position: absolute;
						}
					}
				}
				.processing {
					color: #FD641F;
				}
				.background-color-gray {
					background-color: #FBFBFB;
				}
				.pagging {
					text-align: center;
					ul {
						display: inline-flex;
						border-bottom: none !important;
						width: auto;
						// padding-left: calc((100% - 185.5px)/2);
						padding-left: 0;
						.pagging-arrow-left {
							margin-right: 25px;
							font-size: 19px;
							color: #ececec;
						}
						.pagging-arrow-right {
							margin-right: 0;
							font-size: 19px;
							color: #ececec;
						}
						.pagging-active {
							color: #FD641F;
						}
						li {
							margin-right: 21px;
							font-size: 14px;
							margin-top: auto;
							margin-bottom: auto;
						}
					}
				}
			}
			app-pagination {
				margin: auto;
				padding-top: 20px;
			}
		}
	}

	.empty-order {
		padding-left: 0;
    padding-top: 65px;
		p {
			font-size: 25px;
      line-height: 30px;
			margin-bottom: 25px;
		}
	}
}
