#user-order-list .block-current-order,
#user-order-list .block-history-order {
  padding: 20px 15px;
  margin: 0 0 20px;
  border: 1px solid silver;
}

#user-order-list .block-current-order .page-header,
#user-order-list .block-history-order .page-header {
  font-size: 25px;
  border: none;
  margin: 0px 0px 0px;
}
