<!-- layout for Web -->
<div id="user-order-list" *ngIf="activeOrderList && historyOrders && historyOrders.length > 0 && !isLoading">
  <!-- <div class="row boder block-current-order">
    <div class="col-lg-12">
        <h1 class="page-header">Current orders</h1>
    </div>
    <div class="col-lg-12 col-md-12 col-xl-12 block-list">
      <div class="col-sm-12 col-md-12">
        <div class="loading-spinner" *ngIf="isloading"><i class="fa fa-spinner fa-spin"></i></div>
        <table class="table table-hover" *ngIf="!isloading">
          <thead>
            <tr>
              <th>Order#</th>
              <th class="">Placed on</th>
              <th class="">Items</th>
              <th class="">Total</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of currentOrders">
              <td class="col-sm-4 col-md-2">
                {{item.id}}
              </td>
              <td class="col-sm-4 col-md-2">
                Placed on
              </td>
              <td class="col-sm-4 col-md-2"><strong>{{item.orderDetail.length}}</strong></td>
              <td class="col-sm-4 col-md-2"><strong>{{item.totalPrice | smsCurrency}}</strong></td>
              <td class="col-sm-4 col-md-2">
                <button type="button" class="btn" (click)="viewDetails(item.id)">
                  <span class=""></span>View details
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->
  <div class="row block-history-order">
    <!-- <div class="col-lg-12">
        <h3 class="text-center mb-4">{{ 'lbl.user.order.list.header_history' | translate }}</h3>
    </div> -->
    <div class="col-lg-12 col-md-12 col-xl-12 block-list block-border">
      <table class="table table-hover" *ngIf="!isloading">
        <thead>
          <tr class="row">
            <th class="date">{{ 'lbl.user.order.list.date' | translate }}</th>
            <th class="text-center order_id">{{ 'lbl.user.order.list.order_id' | translate }}</th>
            <th class="text-center items">{{ 'lbl.user.order.list.items' | translate }}</th>
            <th class="text-center price">{{ 'lbl.user.order.list.price' | translate }}</th>
            <th class="text-center status">{{ 'lbl.user.order.list.status' | translate }}</th>
            <th class="text-center detail"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of historyOrders; let i = index;" class="row" [ngClass]="i%2 !== 0 ? 'background-color-gray' : ''">
            <td class="date">
              {{ item.updatedAt | date: 'dd MMM yy' }}
            </td>
            <td class="text-center order_id">
              {{ item.id | orderNo: item.Country.code}}
            </td>
            <td class="text-center items">
              {{ item.orderDetail.length }}
            </td>
            <td class="text-center price">
              {{ item.currency }}{{item.Receipt.totalPrice | number:'1.2-2'}}
            </td>
            <td class="text-center status" [ngClass]="item.states === 'Processing' ? 'processing' : ''">
              <div class="box-flex">
                <div class="flex" *ngIf="item.states === 'On Hold'">{{ 'msg.status.on_hold' | translate }}</div>
                <div class="flex" *ngIf="item.states === 'Processing'">{{ 'msg.status.process' | translate }}</div>
                <div class="flex" *ngIf="item.states === 'Payment Received'">{{ 'msg.status.payment_received' | translate }}</div>
                <div class="flex" *ngIf="item.states === 'Completed'">{{ 'msg.status.completed' | translate }}</div>
                <div class="flex" *ngIf="item.states === 'Canceled'">{{ 'msg.status.canceled' | translate }}</div>
                <div class="flex" *ngIf="item.states === 'Pending'">{{ 'msg.status.pending' | translate }}</div>
                <div class="flex" *ngIf="item.states === 'Delivering'">{{ 'msg.status.delivering' | translate }}</div>
                <!-- <a class="link-text-underline click-able" (click)="viewDetails(item.id, $event)">{{ 'lbl.user.order.list.link_view_details' | translate }}</a> -->
              </div>
            </td>
            <td class="text-right detail">
              <div>
                <!-- <div class="flex">{{ item.states }}</div> -->
                <a class="click-able" (click)="viewDetails(item.id, $event)">{{ 'lbl.user.order.list.link_view_details' | translate }}</a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- pagging -->
      <app-pagination *ngIf="totalItems > 10" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"></app-pagination>
    </div>
  </div>
</div>

<div class="empty-order text-center" *ngIf="historyOrders && historyOrders.length === 0 && !isLoading">
  <p>{{'lbl.user.order.list.empty_order' | translate}}</p>
  <button class="btn btn-primary shave2u-btn-primary" (click)="goToProduct()">{{'lbl.user.order.list.shop_now' | translate}}</button>
</div>

<!-- layout for Mobile -->
<div id="user-order-list-mobile" *ngIf="activeOrderList && historyOrders && historyOrders.length > 0 && !isLoading">
  <div class="row block-history-order">
    <div class="col-lg-12 col-md-12 col-xl-12 block-list block-border">
      <ul class="row" *ngFor="let item of historyOrders; let i = index;" [ngClass]="i%2 !== 0 ? 'background-color-gray' : ''">
        <li class="item">
          <div class="order_id row-1">{{ 'lbl.user.order.list.order_id' | translate }}</div>
          <div class="order_id row-2">{{ item.id | orderNo: item.Country.code}}</div>
        </li>
        <li class="item">
          <div class="date row-1">{{ item.updatedAt | date: 'dd MMM yy' }}</div>
          <div></div>
        </li>
        <li class="item">
          <div class="price row-1">{{ item.currency }}{{item.Receipt.totalPrice | number:'1.2-2'}}</div>
          <div class="items row-2" *ngIf="item.orderDetail.length <= 1">{{ item.orderDetail.length }} {{ 'lbl.user.order.list.txt_item' | translate }}</div>
          <div class="items row-2" *ngIf="item.orderDetail.length > 1">{{ item.orderDetail.length }} {{ 'lbl.user.order.list.txt_items' | translate }}</div>
        </li>
        <li class="item">
          <div class="status row-1" [ngClass]="item.states === 'Processing' ? 'processing' : ''">{{ item.states }}</div>
          <div class="detail row-2">
            <a class="click-able" (click)="viewDetails(item.id, $event)">{{ 'lbl.user.order.list.link_view_details' | translate }}</a>
          </div>
        </li>
      </ul>

    </div>
    <!-- pagging -->
    <app-pagination *ngIf="totalItems > 10" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"></app-pagination>
  </div>
</div>