#user-order-list {
	.block-current-order,
	.block-history-order {
    padding: 0 0 0 52px !important;
    margin: -7px 0 20px !important;
		.page-header {
			font-size: 25px;
			border: none;
			margin: 0px 0px 0px;
		}
		padding: 0px 15px;
		margin: 0 0 20px;
    .block-border {
			.date {
				width: 19%;
				text-transform: uppercase;
			}
			.order_id {
				width: 19%;
			}
			.items {
				width: 10%;
			}
			.price {
				width: 17%;
			}
			.status {
				width: 23%;
			}
			.detail {
				width: 12%;
				padding-right: 15px;
				text-transform: uppercase;
				color: #FD641F;
			}
			.processing {
				color: #FD641F;
			}
      // border: 1px solid #d7d7d7;
			// padding: 30px 45px;
			thead {
				tr {
					th {
						border-top: none;
						border-bottom: 1px solid #eceeef;
					}
				}
			}
			tbody {
				.background-color-gray {
					background-color: #FBFBFB;
				}
				:hover {
					background: none;
				}
				tr {
					td {
						border-top: none;
						line-height: 28px;
						margin-bottom: 9px;
					}
				}
			}
    }
	}
}

.empty-order {
  padding-left: 48px;
  padding-top: 58px;
  p {
    font-size: 25px;
    margin-bottom: 25px;
  }
}

#user-order-list-mobile {
	display: none;
}


@import '_user-order-list-response.component';