// .md-dialog-title {
//   padding: 0 24px;
//   padding: 15px;
//   border-bottom: 1px solid #eceeef;
// }
// md-dialog-content {
//   padding: 0 24px;
//   margin: 0;
// }

// md-dialog-actions {
//   padding: 0 24px;
//   margin: 0;
// }

button {
  min-height: 32px;
}