<div class="row mx-0">
  <div class="col-md-12" *ngIf="!uploadFormStep">
    <div class="card">
      <div class="header">
        <h4 class="title float-left">Bulk Orders <span *ngIf="!isLoading">({{orderList.count}})</span></h4>
        <button type="button" class="btn btn-secondary btn-sm float-right" (click)="downloadTaxInvoice()" *ngIf="globalService.canDownload('bulk-orders')">Export Tax Invoice</button>
        <button type="button" class="btn btn-secondary btn-sm float-right mr-2" (click)="downloadCSV()" *ngIf="globalService.canDownload('bulk-orders')">Export Order Report</button>
        <button type="button" class="btn btn-secondary btn-sm float-right mr-2" (click)="showUploadForm()" *ngIf="globalService.canUpload('bulk-orders')">Upload File</button>
        <span *ngIf="isDownloadTaxInvoice" class="float-right mr-2 notice">Your export has been queued. <a routerLink="/exports">View progress.</a> (Latest 2000 results)</span>
        <br>
        <br>
      </div>

      <div class="content table-responsive table-full-width">
        <!--<div class="row mx-0 mb-2">
          <label class="custom-file">
            <input type="file" id="file" class="custom-file-input" placeholder="File Upload">
            <span class="custom-file-control"></span>
          </label>
        </div>-->
        <div class="row mx-0 row-alignment">
          <!-- <div class="col-md-4 text-right">
            <select name="cities" class="selectpicker form-control" (change)="onLimitChange($event)">
              <option [attr.value]="item" *ngFor="let item of [50, 100, 150, 200]" [attr.selected]="item == options.get('limit') ? true : null">Show {{item}} per page</option>
            </select>
          </div> -->
          <!--<div class="col-md-4 text-right">
            <select name="cities" class="selectpicker form-control" (change)="filterby('type', $event.target.value)">
              <option [value]="'all'" [selected]="!options.get('type')">Chanel : All</option>
              <option value="seller" [attr.selected]="options.get('type') == 'seller' ? true : null">BA</option>
              <option value="customer" [attr.selected]="options.get('type') == 'customer' ? true : null">Online / E-Commerce</option>
            </select>
          </div>-->
          <div class="col-md-3" *ngIf="!hasDenied">
            <label for="">Filter by Country</label>
            <select name="filterByCountry" class="selectpicker form-control" (change)="filterby('CountryId', $event.target.value)">
              <option [value]="'all'" [selected]="!options.get('CountryId')">All Countries</option>
              <option [value]="country.id" *ngFor="let country of countries" [selected]="country.id == options.get('CountryId') ? true : null">{{country.name}}</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="">Sort by Date</label>
            <select name="cities" class="selectpicker form-control" (change)="sortByDate($event.target.value)">
              <option value="ASC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) !== 'createdAt_DESC' ? true : null">Date, Oldest-Newest</option>
              <option value="DESC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) === 'createdAt_DESC' ? true : null">Date, Newest-Oldest</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="">Filter by Status</label>
            <select name="filterByStatus" class="selectpicker form-control" (change)="filterby('states', $event.target.value)">
              <option [value]="'all'">All Status</option>
              <ng-container *ngFor="let state of orderStates">
                <option value="{{state}}" [attr.selected]="options.get('states') == state ? true : null">{{ state }}</option>
              </ng-container>
            </select>
          </div>
        </div>
        <div class="row mx-0 mb-3 row-alignment">
          <div class="col-md-6 filter-field mt-3">
            <label for="">Search</label>
            <input id="filterByS" name="filterByS" type="text" class="form-control" placeholder="Search by Order No, Tax Invoice No, Email"
              (input)="customizeSearchBy('s', $event)">
          </div>
          <div class="col-md-3">
            <md-form-field>
              <input mdInput [mdDatepicker]="pickerFromDate" placeholder="From date" [ngModel]="fromDate" (change)="changeFromDate($event.target.value)"
                (click)="pickerFromDate.open()" (keydown)="false">
              <md-datepicker-toggle mdSuffix [for]="pickerFromDate"></md-datepicker-toggle>
              <md-datepicker #pickerFromDate (selectedChanged)="changeFromDate($event)" [disabled]="false"></md-datepicker>
            </md-form-field>
          </div>
          <div class="col-md-3">
            <md-form-field>
              <input mdInput [mdDatepicker]="pickerToDate" placeholder="To date" [(ngModel)]="toDate" (change)="changeToDate($event.target.value)"
                (click)="pickerToDate.open()" (keydown)="false">
              <md-datepicker-toggle mdSuffix [for]="pickerToDate"></md-datepicker-toggle>
              <md-datepicker #pickerToDate (selectedChanged)="changeToDate($event)" [disabled]="false"></md-datepicker>
            </md-form-field>
          </div>
          <!-- <div class="col-md-3 filter-field mt-3">
            <span class="filter-field-label">Filter by Order .No (ex: 000000477)</span>
            <input id="filterByEmail" name="filterByEmail" type="text" class="form-control" placeholder="Filter by Order .No" (input)="customizeFilterBy('id', $event)">
          </div> -->
        </div>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"></pagination>
        <!-- /pagging -->

        <div class="table-scroller-wrapper">
          <div class="top-scroller">
            <div class="scroller-content"></div>
          </div>
          <div class="bot-scroller" id="scroll-block">
            <table id="long-table" class="table table-shaves mt-2">
              <thead>
                <tr>
                  <th>Order No.</th>
                  <th>Tax Invoice No</th>
                  <th (click)="tableHearSort($event, orderList.rows, 'createdAt','date')" class="table-sort th-email">Date</th>
                  <th (click)="tableHearSort($event, orderList.rows, 'email','string')" class="table-sort">Email</th>
                  <th class="">SKU</th>
                  <th class="">Quantity</th>
                  <th class="">Total Price</th>
                  <th class="text-right th-status">Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngIf="!isLoading">
                <tr *ngFor="let item of orderList.rows">
                  <td class="td-name">
                    {{ item.id | orderNo: {countryCode: item.Country.code, createdAt: item.createdAt | date:"yyyyMMdd", isBulk: true } }}
                  </td>
                  <td class="td-taxInvoiceNo">{{ item.taxInvoiceNo }}</td>
                  <td class="td-date">
                    {{ item.createdAt | date:"dd/MM/yyyy hh:mm:ss a" }}
                  </td>
                  <td class="td-email" *ngIf="item.SellerUser || item.User">{{ (item.User && item.User.email) ? item.User.email : item.SellerUser.email }}</td>
                  <td class="td-email" *ngIf="!item.SellerUser && !item.User">{{ item.email }}</td>
                  <td class="">{{ item.productSkus }}</td>
                  <td class="">{{ item.qty }}</td>
                  <td class="">{{ item.currency }}{{ item.totalPrice }}</td>
                  <th class="text-right td-status">
                    <!--<select name="cities" class="selectpicker form-control" (change)="updateStatus(item,$event.target.value, item.states)" *ngIf="orderStates">
                      <option [attr.value]="state" *ngFor="let state of orderStates" [attr.selected]="state == item.states ? true : null">{{state}}</option>
                    </select>-->
                    <div class="btn-group btn-group-select">
                      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ item.states }}
                      </button>
                      <div class="dropdown-menu" *ngIf="globalService.canEdit('bulk-orders')">
                        <ng-container *ngFor="let state of orderStates">
                          <a class="dropdown-item click-able" *ngIf="state !== 'Canceled'" (click)="updateStatus(item, state, item.states)" [ngClass]="{'active': state === item.states}">{{ state }}</a>
                        </ng-container>
                        <a class="dropdown-item click-able" *ngIf="( checkAllowToCancel(item.createdAt) )" (click)="updateStatus(item, 'Canceled', item.states)"
                          [ngClass]="{'active': 'Canceled' === item.states}">Canceled</a>
                      </div>
                    </div>
                  </th>
                  <td class="td-actions">
                    <a [routerLink]="['/bulk-orders/', item.id]" class="btn btn-secondary btn-sm float-right" *ngIf="globalService.canView('bulk-orders')">Details</a>
                  </td>
                </tr>
                <tr *ngIf="orderList.rows.length === 0">
                  <td colspan="6" class="text-center">No Items</td>
                </tr>
              </tbody>
            </table>
          </div>
          <button id="btn-prev" class="tbl-nav tbl-prev" type="button">
            <svg class="tbl-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 1024"><path d="M445.44 38.183L-2.53 512l447.97 473.817 85.857-81.173-409.6-433.23v81.172l409.6-433.23L445.44 38.18z"></path></svg>
          </button>
          <button id="btn-next" class="tbl-nav tbl-next" type="button">
            <svg class="tbl-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 1024"><path d="M105.56 985.817L553.53 512 105.56 38.183l-85.857 81.173 409.6 433.23v-81.172l-409.6 433.23 85.856 81.174z"></path></svg>
          </button>
        </div>

        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"
          [showing]="false"></pagination>
        <!-- /pagging -->
      </div>
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->

  <!-- Upload form -->
  <div class="col-md-12" *ngIf="uploadFormStep">
    <div class="card">
      <div class="header">
        <h4 class="title float-left">Bulk Orders</h4>
        <br>
        <br>
      </div>
      <div class="content table-responsive table-full-width">
        <form #f='ngForm' novalidate (ngSubmit)='f.form.valid && doUpload()' [formGroup]="uploadForm">
          <div class="row mx-0 mb-2">
            <div class="col-md-4">
              <!--<label class="custom-file">
                <input type="file" id="file" class="custom-file-input" placeholder="File Upload">
                <span class="custom-file-control"></span>
              </label>-->
              <!--<button type="button" class="btn btn-secondary btn-block" onclick="document.getElementById('inputFile').click()">Add Image</button>
              <div class="form-group inputDnD">
                <label class="sr-only" for="inputFile">File Upload</label>
                <input type="file" class="form-control-file text-secondary font-weight-bold" id="inputFile" accept="image/*" onchange="readUrl(this)" data-title="Drag and drop a file">
              </div>-->

              <!--<app-import-file [group]="uploadForm" [controlName]="'file'"></app-import-file>-->

              <div class="col-sm-12 form-group" [ngClass]="!uploadForm.controls.file.valid ? 'has-danger' : ''">
                <label class="form-control-label">File (
                  <span class="required">*</span>)</label>
                <div class="controls">
                  <app-import-file [group]="uploadForm" [controlName]="'file'"></app-import-file>
                </div>
                <span class="form-control-feedback" *ngIf="!uploadForm.controls.file.valid">
                  {{ 'msg.validation.requiredFile' | translate }}
                </span>
              </div>
            </div>
            <div class="col-md-12">
              <app-alert></app-alert>
            </div>
            <div class="col-md-12 form-group">
              <button type="button" class="btn btn-secondary btn-sm" (click)="gotoList()">Cancel</button>
              <button type="submit" class="btn btn-primary shave2u-btn-primary">Upload</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- / Upload form -->
</div>