<div class="pagging row" *ngIf="totalItems > 0">
  <ul class="pagination col-md-12">
    <li>
      <span>Page</span>
    </li>
    <li class="pagging-arrow-left" [ngClass]="{'allow': hasPrev, 'disabled' : !hasPrev}">
      <a href="#" class="arrows" aria-hidden="true" (click)="onPrev(); $event.preventDefault();">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </a>
    </li>
    <li class="dropdown">
      <button class="btn btn-paging" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false" *ngIf="pages && pages.length > 1">
        {{currentPage}}
      </button>
      <button class="btn btn-paging" type="button" id="dropdownMenuButton" *ngIf="!pages || (pages && pages.length <= 1)">
        {{currentPage}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *ngIf="pages && pages.length > 1">
        <a class="dropdown-item" href="#" [ngClass]="{'active': currentPage === page}" *ngFor="let page of pages" (click)="goto(page); $event.preventDefault();">
          {{page}}
        </a>
      </div>
    </li>
    <li class="pagging-arrow-right" [ngClass]="{'allow': hasNext, 'disabled' : !hasNext}">
      <a href="#" class="arrows" aria-hidden="true" (click)="onNext(); $event.preventDefault();">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <span>of {{totalPages}}</span>
    </li>
  </ul>
  <ul class="limitchange">
    <li>
      <strong class="bar-cus">|</strong>
      <span class="total-items">Found total {{totalItems}} records</span>
    </li>
  </ul>
</div>
