<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Page Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
{{#if valid}}
  <div class="container">
    <div class="alert alert-success">Your account has been active!</div>  
  </div>
{{else}}
<div class="container">
  <div class="alert alert-danger">{{errorMessage}}</div>
</div>
{{/if}}
</body>
</html>