<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>iPay88 Posting form</title>
</head>
<body>
  {{#if valid}}
    <form method="post" name="ePayment" action="https://www.mobile88.com/ePayment/entry.asp" id="ipay88-form">
      <input type="hidden" name="MerchantCode" value="{{merchantCode}}"/>
      <input type="hidden" name="RefNo" value="{{refNo}}"/>
      <input type="hidden" name="Amount" value="{{amount}}"/>
      <input type="hidden" name="Currency" value="{{currency}}"/>
      <input type="hidden" name="ProdDesc" value="{{prodDesc}}"/>
      <input type="hidden" name="UserName" value="{{userName}}"/>
      <input type="hidden" name="UserEmail" value="{{userEmail}}"/>
      <input type="hidden" name="UserContact" value="{{userContact}}"/>
      <input type="hidden" name="Signature" value="{{signature}}"/>
      <input type="hidden" name="ResponseURL" value="{{responseURL}}">
      {{!-- <input type="hidden" name="BackendURL" value="{{backendURL}}"> --}}
    </form>
  
    <script>
      document.getElementById("ipay88-form").submit();
    </script>
  {{else}}
    {{errorMessage}}
  {{/if}}
</body>
</html>