<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>iPay88 Posting form</title>
  <script>
    window.opener.postMessage('{{{ responseObject }}}', '*');
    window.close();
  </script>
</head>
</html>