<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Page Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
{{#if valid}}
  <div class="container">
    <div id="passwordreset" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">Create New Password</div>
        </div>                     
        <div class="panel-body">
          <form class="form-horizontal" role="form" method="POST" action="/api/users/update-password">
            <input type="hidden" name="token" value="{{token}}"/>
            <input type="hidden" name="email" value="{{email}}"/>
            <div class="form-group">
              <label for="email" class="control-label col-sm-4">New password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" name="password" placeholder="create your new password">
              </div>
            </div>
            <div class="form-group">
              <label for="email" class=" control-label col-sm-4">Confirm password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" name="password_confirmation" placeholder="confirm your new password">
              </div>
            </div>
            <div class="form-group">
              <!-- Button -->                                 
              <div class="  col-sm-offset-4 col-sm-8">
                <button id="btn-signup" type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>                             
          </form>
        </div>
      </div>
    </div>             
  </div>
{{else}}
  {{errorMessage}}
{{/if}}
</body>
</html>