@media only screen and (max-width: 767px) {
  footer{
    .footer-top{
      // width: 260px;
      margin: 0 auto;
      font-size: 12px;
			h3 {
				font-size: 11px;
			}
			.folow-us + small{
				font-size: 12px;
			}
      img{
        width: 45px
      }
      .item{
        margin-top: 40px;
      }
			.block-help-text {
		    margin-bottom: 7px;

				.help-content {
					p {
						margin-top: 7px;
					}
				}
			}
    }
    .footer {
      background: #fff;
      .container{
        .footer-bottom{
          padding: 15px 0px 20px;
					font-size: 12px;
        }
      }
    }
  }
}
