<footer [ngClass]="{'footer-common': footerCommon}">
  <div class="footer-container">
    <div class="footer bg-faded">
      <div class="container">
        <div class="row footer-top flex-md-row-reverse no-gutters">
          <div class="col-md-3 col-lg-4 col-12 mb-4 float-sm-right">
            <!-- <h3>Shave2u</h3>
            <div class="block-help-text">
              <div class="help-content">
								<a routerLink="/about">{{ 'menu.about' | translate }}</a>
              </div>
            </div> -->
          </div>
          <div class="col-md-4 col-lg-4 col-12 float-sm-right">
            <h3>{{ 'lbl.core.footer.contact' | translate }}</h3>
            <div class="block-help-text">
              <div class="help-content">
                <a *ngIf="currentCountry.code === 'MYS'" href="mailto:help.my@shaves2u.com">help.my@shaves2u.com</a>
                <a *ngIf="currentCountry.code === 'SGP'" href="mailto:help.sg@shaves2u.com">help.sg@shaves2u.com</a>
                <a *ngIf="currentCountry.code === 'KOR'" href="mailto:help.kr@shaves2u.com">help.kr@shaves2u.com</a>
              </div>
            </div>
            <div class="block-help-text">
              <div class="help-content">
                <a *ngIf="currentCountry.code === 'MYS'" href="tel:+60327732882">+603 2773 2882</a>
                <a *ngIf="currentCountry.code === 'SGP'" href="tel:+6563291488">+65 6329 1488</a>
                <a *ngIf="currentCountry.code === 'KOR'" href="tel:+0260069777">+02 6006 9777</a>
                <p>{{ 'lbl.core.footer.work_calendar' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-lg-4 col-12 float-sm-left">
            <div class="folow-us social-link-inner-mobile hidden-md-up">
              <a href="https://www.facebook.com/Shaves2u/" target="_blank">
                <i class="icon-social icon-facebook"></i>
              </a>
              <a href="https://www.instagram.com/shaves2u/" target="_blank">
                <i class="icon-social icon-instagram"></i>
              </a>
              <a href="https://www.youtube.com/user/Shaves2U" target="_blank">
                <i class="icon-social icon-youtube"></i>
              </a>
            </div>
            <small>{{ 'lbl.core.footer.all_rights_reserved' | translate }}</small>
          </div>
        </div>

				<div class="footer-bottom">
	        <div class="row">
						<div class="col col-sm-12 col-md-4">
							<div class="group-link">
								<a routerLink="/privacy-policy">{{ 'lbl.core.footer.privacy_policy' | translate }}</a>
								<a routerLink="/terms-conditions">{{ 'lbl.core.footer.terms_conditions' | translate }}</a>
							</div>
						</div>
						<div class="col col-md-8 hidden-sm-down no-pd-left">
							<div class="folow-us social-link-inner">
								<a *ngIf="currentCountry.code !== 'KOR'" href="https://www.facebook.com/Shaves2u/" target="_blank">
									<i class="icon-social icon-facebook"></i>
                                </a>
                                <a *ngIf="currentCountry.code === 'KOR'" href="https://www.facebook.com/Shaves2U-Korea-265958857520993/" target="_blank">
									<i class="icon-social icon-facebook"></i>
                                </a>
                
								<a *ngIf="currentCountry.code !== 'KOR'" href="https://www.instagram.com/shaves2u/" target="_blank">
									<i class="icon-social icon-instagram"></i>
                                </a>
                                <a *ngIf="currentCountry.code === 'KOR'" href="https://www.instagram.com/shaves2u_kr/" target="_blank">
									<i class="icon-social icon-instagram"></i>
								</a>
								<!-- <a href="#">
								<i class="icons icon-twitter"></i>
							</a> -->
							    <a href="https://www.youtube.com/user/Shaves2U" target="_blank">
								    <i class="icon-social icon-youtube"></i>
							    </a>
						</div>
					</div>
					</div>
        </div>
      </div>
    </div>
  </div>
</footer>
