@import "../../../../../assets/sass/mixins/color";
footer{
  display: none;
  &.footer-common{
    display: block;
  }
  .footer-container{
    position: absolute;
    top: 100%;
    width:100%;

  }
  .footer {
    color: $primary-color-3;
    background-color: #fbfbfb;
    border-top: 2px solid $primary-color;
    font-size: 13px;
    a{
      color: $primary-color-3;
      &:hover{
        color: $primary-color;
      }
    }
    .footer-top{
      margin-top: 40px;
      img{
        margin-right: 10px;
        max-width: 55px;
        float: left;
      }
      .margin-auto{
        margin: auto;
      }
      h3{
        font-family: 'Muli';
        font-size: 13px;
        font-weight: normal;
        text-transform: uppercase;
        color: $primary-color-3;
      }
    }

    .footer-bottom{
      padding: 20px 0;
      .group-link{
        a{
          &:first-child{
            margin-right: 25px;
          }
        }
      }
      .no-pd-left {
        padding-left: 0;
      }
      .social-link-inner {
        a{
          margin-right: 20px;
        }
      }
    }
  }

  .social-link-inner-mobile{
    margin-bottom: 20px;
    a{
      margin-right: 20px;
    }
  }
}

@import "footer-response.component";
