<div id="ask-page">
  <section class="ask-intro1">
    <div class="container shave2u-container">
      <div class="row">
        <div class="col-md-5" [ngClass]="storage.getCountry().code.toUpperCase() === 'KOR' ? 'max-width-korea': ''">
          <div class="personalies-content" *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() !== 'KOR' && storage.getCountry().code.toUpperCase() !== 'HKG'">
            <h1 [innerHTML]="'lbl.core.ask.title' | translate" class="ask_title"></h1>
            <div class="group-title">
              <p [innerHTML]="'lbl.core.ask.sub_title' | translate" class="ask_sub_title"></p>
            </div>
          </div>

          <div class="personalies-content" *ngIf="(storage.getLanguageCode() === 'KO' || storage.getCountry().code.toUpperCase() === 'KOR') && (storage.getCountry().code.toUpperCase() !== 'HKG')">
            <h1 [ngClass]="storage.getLanguageCode() === 'KO' ? 'normal': ''" [innerHTML]="'lbl.core.home.get_razor_ready_korea' | translate"></h1>
          </div>

          <div class="personalies-content" *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() === 'HKG' && storage.getCountry().code.toUpperCase() !== 'KOR'">
            <h1 [ngClass]="storage.getLanguageCode() === 'EN' ? 'normal': ''" [innerHTML]="'lbl.core.home.get_razor_ready_korea' | translate"></h1>
          </div>

        </div>
        <div class="col-md-7 personalies-img">
          <img src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/677b6a40-c707-11e8-8e47-efb823843057.png"
            class="img-ask-title">
        </div>
      </div>
    </div>
  </section>
 <div class="start-ask-journey"></div>
  <section class="ask-trial-work">
    <div class="container shave2u-container">
      <div class="col-md-12 text-left pr-0 pl-0">
        <p [innerHTML]="'lbl.core.ask.choose_your_blade' | translate" class="ask_small_title"></p>
      </div>
      <div class="block-featured-products">
        <div class="row block-products">
          <div class="col-xl-12 col-lg-12 col-sm-12 col-md-12">
            <a class="row card-group small-cards">
              <div (click)="UpdatePrice(item.productCountry.sellPrice,item.productCountry.id, item.id, i)" class="card-block col-xl-4 non-mobile-block"
                style="padding: 0 5px;" *ngFor="let item of featuredAskProducts let i = index" [attr.data-index]="i">
                <div class="card" id="askcategory_{{i}}" (click)="selectionASK(i)">
                  <div class="add-card">
                    <p class="name"><strong>{{ item.productTranslate | productTranslate: 'name' }}</strong></p>
                    <p id="askcategory_price_{{i}}" class="name-product">{{ item.productCountry.sellPrice | smsCurrency }} </p>
                  </div>
                  <div class="row card-image click-able">
                    <div class="image-container ask-image-width" style="padding: 5px;margin:auto;">
                      <display-image [class]="'group ask-list-group-image img-fluid'" [images]="item.productImages"></display-image>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div id="buyNow" class="btnbuy">
        <button type="submit" class="btn btn-primary float-right" routerLink="/checkout-ask">
          Buy Now
        </button>
      </div>
    </div>
  </section>

  <!-- drop down -->
  <section class="ask-trial-work">
    <div id="helpPage" class="container-fluid">
      <div class="container shave2u-container">
        <div class="row group shave2u-container">
          <p [innerHTML]="'lbl.core.ask.what_comes_in_the_box' | translate" class="ask_small_title" style="margin-bottom:0px;"></p>
          <!-- content -->
          <div class="col-sm-12 col-md-12 block-right ask-contents-block">
            <div class="line"></div>
            <br>
            <div class="row">
              <div class="contents-block-img col-sm-4 block-right">
                <div class="img-block" id="appendBladeImage">
                  <img id="3BladeImage" style="display:none;" src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/b9b59e70-c7ac-11e8-aa0a-33cf643095e9.png">
                  <img id="5BladeImage" style="display:none;" src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/ba09d8f0-c7ac-11e8-aa0a-33cf643095e9.png">
                  <img id="6BladeImage" src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/ba584710-c7ac-11e8-aa0a-33cf643095e9.png">
                </div>
              </div>
              <div class="contents-block-text col-sm-7 block-right" style="padding-left:0px;">
                <div class="text-inner" style="padding-left:0px;">
                  <p class="question ask-contents-title-block1" data-toggle="collapse"><strong id="appendBladeType">6 Blade
                      Cartridges (5 Pieces)
                    </strong></p>
                  <div class="text answer ask-contents-text-block1">
                    <p>The ultimate smooth finish everyday</p>
                  </div>
                </div>
                <div style="display:none;padding-left:0px;" id="CartridgeDesc" class="text-inner">
                  <p class="question ask-contents-title-block1" data-toggle="collapse"><strong>What makes it good:</strong></p>
                  <div class="text answer ask-contents-text-block1">
                    <p>Made with our patented I.C.E Diamond Coating for durability and sharpness, the <span id="appendnumberforblade">6</span> blade also features
                      the Microsilver BG(tm) enhanced lubricating strip for a shave that's above the rest.</p>
                  </div>
                </div>
              </div>
              <div id="appendChevron_Cartridges" (click)="showCartridgeDesc()" class="contents-block-text col-sm-1 block-right" style="top: 40px;position: absolute;right: -10px;">
                <img id="chevronDownActive" style="cursor:pointer;width:20px;float:right;" src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/6603e570-c707-11e8-8e47-efb823843057.png">
              </div>
            </div>
            <div class="line"></div>
          </div>
          <!-- content 2-->
          <div class="col-sm-12 col-md-12 block-right ask-contents-block">
            <div class="row">
              <div class="contents-block-img col-sm-4 block-right">
                <div id="BladeImage" class="img-block">
                  <img id="Swivel1" src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/0142ba20-c7ad-11e8-aa0a-33cf643095e9.png">
                  <img id="Swivel2" style="display:none;" src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/00bdf9c0-c7ad-11e8-aa0a-33cf643095e9.png">
                </div>
              </div>
              <div class="contents-block-text col-sm-7 block-right" style="padding-left:0px;">
                <div class="text-inner" style="padding-left:0px;">
                  <p class="question ask-contents-title-block1" data-toggle="collapse"><strong>Swivel Handle</strong></p>
                  <div class="text answer ask-contents-text-block1">
                    <p class="desciption">Follows every contour for the smoothest finish</p>
                  </div>
                </div>
                <div style="display:none;padding-left:0px;" id="BladeDesc" class="text-inner">
                  <p class="question ask-contents-title-block1" data-toggle="collapse"><strong>What makes it good:</strong></p>
                  <div class="text answer ask-contents-text-block1">
                    <ul>
                      <li>Dual axis swivel mechanism that glides perfectly over facial contours for that perfect clean shave.</li>
                      <li>Metal body for an exceptional form</li>
                      <li>For the smoothest finish of the clean-shaven look</li>
                      <li>Ideal for hairy guys who shave daily</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div id="appendChevron_BladeDesc" (click)="showBladeDesc()" class="contents-block-text col-sm-1 block-right" style="top: 20px;position: absolute;right: -10px;">
                <img id="chevronDownActive" style="cursor:pointer;width:20px;float:right;" src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/6603e570-c707-11e8-8e47-efb823843057.png">
              </div>
            </div>
            <div class="line"></div>
          </div>
          <!-- content 3 -->
          <div class="col-sm-12 col-md-12 block-right ask-contents-block">
            <div class="row">
              <div class="contents-block-img col-sm-4 block-right">
                <div id="ShaveCreamImage" class="img-block">
                  <img id="ShaveCream1" src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/8e8e0bb0-cbd0-11e8-924a-d302a0276fa8.png">
                  <img id="ShaveCream2" style="display:none;" src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/7d267150-c707-11e8-8e47-efb823843057.png">
                </div>
              </div>
              <div class="contents-block-text col-sm-7 block-right" style="padding-left:0px;">
                <div class="text-inner" style="padding-left:0px;">
                  <p class="question ask-contents-title-block1" data-toggle="collapse"><strong>Shave Cream</strong></p>
                  <div class="text answer ask-contents-text-block1">
                    <p class="desciption">Helps make every shave smoother and more comfortable</p>
                  </div>
                </div>
                <div style="display:none;padding-left:0px;" id="ShaveCreamDesc" class="text-inner">
                  <p class="question ask-contents-title-block1" data-toggle="collapse"><strong>What makes it good:</strong></p>
                  <div class="text answer ask-contents-text-block1">
                    <ul>
                      <li>Enriched with Vitamin E to combat post-shaven redness</li>
                      <li>Rich and easy-to-lather cream that cushions skin from cuts</li>
                      <li>Light, clean scent that refreshes</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div id="appendChevron_ShaveCreamDesc" (click)="showShaveCreamDesc()" class="contents-block-text col-sm-1 block-right" style="top: 20px;position: absolute;right: -10px;">
                <img id="chevronDownActive" style="cursor:pointer;width:20px;float:right;" src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/6603e570-c707-11e8-8e47-efb823843057.png">
              </div>
            </div>
            <div class="line"></div>
          </div>
          <!-- content 4 -->
          <div class="col-sm-12 col-md-12 block-right ask-contents-block ask-contents-block-bottom">
            <div class="row">
              <div class="contents-block-img col-sm-4 block-right">
                <div id="AfterShaveImage" class="img-block">
                  <img id="AfterShave1" src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/8f10a930-cbd0-11e8-924a-d302a0276fa8.png">
                  <img id="AfterShave2" style="display:none;" src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/7f23ef00-c707-11e8-8e47-efb823843057.png">
                </div>
              </div>
              <div class="contents-block-text col-sm-7 block-right" style="padding-left:0px;">
                <div class="text-inner" style="padding-left:0px;">
                  <p class="question ask-contents-title-block1" data-toggle="collapse"><strong>After Shave Cream</strong></p>
                  <div class="text answer ask-contents-text-block1">
                    <p class="desciption">Leaves you feeling refreshed and smelling great!</p>
                  </div>
                </div>
                <div style="display:none;padding-left:0px;" id="AfterShaveDesc" class="text-inner">
                  <p class="question ask-contents-title-block1" data-toggle="collapse"><strong>What makes it good:</strong></p>
                  <div class="text answer ask-contents-text-block1">
                    <ul>
                      <li>Formulated to cool, calm, and balance freshly shaven skin</li>
                      <li>Replenishes skin's lost moisture with conditioning ingredients</li>
                      <li>Light, clean scent for a refreshing post-shave ritual</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div id="appendChevron_AfterShaveDesc" (click)="showAfterShaveDesc()" class="contents-block-text col-sm-1 block-right" style="top: 20px;position: absolute;right: -10px;">
                <img id="chevronDownActive" style="cursor:pointer;width:20px;float:right;" src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/6603e570-c707-11e8-8e47-efb823843057.png">
              </div>
            </div>
            <div class="line"></div>
          </div>

          <div _ngcontent-c12="" class="item-description">
            <!-- <p class="title_desc icon-deliver">{{'lbl.core.ask.free_delivery' | translate}}</p>
            <p class="desc icon-handles">{{'lbl.core.ask.razor' | translate}}</p> -->
            <p class="title_desc icon-deliver" *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() === 'MYS'">
              Free delivery to your door
              <!-- for orders above <strong>RM75.00</strong> -->
            </p>
            <p class="title_desc icon-deliver" *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() === 'SGP'">
              Free delivery to your door
              <!-- for orders above <strong>S$30.00</strong> -->
            </p>
            <p class="desc icon-handles" *ngIf="storage.getLanguageCode() === 'EN'">
              All our cartridges fit all our handles
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- container 2 -->
  <section class="ask-intro1">
    <div class="container shave2u-container">
      <div class="col-md-5 desktop-make-good" [ngClass]="storage.getCountry().code.toUpperCase() === 'KOR' ? 'max-width-korea': ''">
        <div class="personalies-content" *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() !== 'KOR' && storage.getCountry().code.toUpperCase() !== 'HKG'">
          <h1 [innerHTML]="'lbl.core.ask.what_makes_it_good' | translate"></h1>
          <div class="group-title">
            <p [innerHTML]="'lbl.core.ask.what_makes_it_good_sub' | translate"></p>
          </div>
          <a (click)="startAskJourney()" class="btn btn-primary learn-more">{{ 'lbl.core.ask.what_makes_it_good_btn'
            | translate }}</a>
        </div>

        <div class="personalies-content" *ngIf="(storage.getLanguageCode() === 'KO' || storage.getCountry().code.toUpperCase() === 'KOR') && (storage.getCountry().code.toUpperCase() !== 'HKG')">
          <h1 [ngClass]="storage.getLanguageCode() === 'KO' ? 'normal': ''" [innerHTML]="'lbl.core.home.get_razor_ready_korea' | translate"></h1>
          <button class="btn btn-primary learn-more" (click)='emailLeadPopout()'>{{ 'lbl.core.home.btn_let_me_start_korea'
            | translate }}</button>
        </div>

        <div class="personalies-content" *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() === 'HKG' && storage.getCountry().code.toUpperCase() !== 'KOR'">
          <h1 [ngClass]="storage.getLanguageCode() === 'EN' ? 'normal': ''" [innerHTML]="'lbl.core.home.get_razor_ready_korea' | translate"></h1>
          <button class="btn btn-primary learn-more" (click)='emailLeadPopout()'>{{ 'lbl.core.home.btn_let_me_start_korea'
            | translate }}</button>
        </div>
      </div>
      <div class="col-md-7 personalies-img" style="text-align:center;">
        <img src="https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/817ad750-c707-11e8-8e47-efb823843057.png">
      </div>
      <div class="col-md-5 mobile-make-good" [ngClass]="storage.getCountry().code.toUpperCase() === 'KOR' ? 'max-width-korea': ''">
        <div class="personalies-content" *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() !== 'KOR' && storage.getCountry().code.toUpperCase() !== 'HKG'">
          <h1 [innerHTML]="'lbl.core.ask.what_makes_it_good' | translate"></h1>
          <div class="group-title">
            <p [innerHTML]="'lbl.core.ask.what_makes_it_good_sub' | translate"></p>
          </div>
          <a (click)="startAskJourney()" class="btn btn-primary learn-more">{{ 'lbl.core.ask.what_makes_it_good_btn'
            | translate }}</a>
        </div>

        <div class="personalies-content" *ngIf="(storage.getLanguageCode() === 'KO' || storage.getCountry().code.toUpperCase() === 'KOR') && (storage.getCountry().code.toUpperCase() !== 'HKG')">
          <h1 [ngClass]="storage.getLanguageCode() === 'KO' ? 'normal': ''" [innerHTML]="'lbl.core.home.get_razor_ready_korea' | translate"></h1>
          <button class="btn btn-primary learn-more" (click)='emailLeadPopout()'>{{ 'lbl.core.home.btn_let_me_start_korea'
            | translate }}</button>
        </div>

        <div class="personalies-content" *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() === 'HKG' && storage.getCountry().code.toUpperCase() !== 'KOR'">
          <h1 [ngClass]="storage.getLanguageCode() === 'EN' ? 'normal': ''" [innerHTML]="'lbl.core.home.get_razor_ready_korea' | translate"></h1>
          <button class="btn btn-primary learn-more" (click)='emailLeadPopout()'>{{ 'lbl.core.home.btn_let_me_start_korea'
            | translate }}</button>
        </div>
        <br>
        <br>
        <div class="line"></div>
      </div>
    </div>
  </section>

  <!-- container 3 -->
  <section class="ask-intro1">
    <div class="container shave2u-container">
      <div class="col-xs-12 col-sm-12 col-md-6 personalies-img">
        <img class="prefer_shave_plan" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/subscription/subs_product_right_491x809.png">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5" [ngClass]="storage.getCountry().code.toUpperCase() === 'KOR' ? 'max-width-korea': ''">
        <div class="personalies-content" *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() !== 'KOR' && storage.getCountry().code.toUpperCase() !== 'HKG'">
          <h1 [innerHTML]="'lbl.core.ask.prefer_shave_plan' | translate"></h1>
          <div class="group-title">
            <p [innerHTML]="'lbl.core.ask.prefer_shave_plan_sub' | translate"></p>
          </div>
          <a href="" class="btn btn-primary learn-more" routerLink="/shave-plans/">{{ 'lbl.core.ask.prefer_shave_plan_btn'
            | translate }}</a>
        </div>

        <div class="personalies-content" *ngIf="(storage.getLanguageCode() === 'KO' || storage.getCountry().code.toUpperCase() === 'KOR') && (storage.getCountry().code.toUpperCase() !== 'HKG')">
          <h1 [ngClass]="storage.getLanguageCode() === 'KO' ? 'normal': ''" [innerHTML]="'lbl.core.home.get_razor_ready_korea' | translate"></h1>
          <button class="btn btn-primary learn-more" (click)='emailLeadPopout()'>{{ 'lbl.core.home.btn_let_me_start_korea'
            | translate }}</button>
        </div>

        <div class="personalies-content" *ngIf="storage.getLanguageCode() === 'EN' && storage.getCountry().code.toUpperCase() === 'HKG' && storage.getCountry().code.toUpperCase() !== 'KOR'">
          <h1 [ngClass]="storage.getLanguageCode() === 'EN' ? 'normal': ''" [innerHTML]="'lbl.core.home.get_razor_ready_korea' | translate"></h1>
          <button class="btn btn-primary learn-more" (click)='emailLeadPopout()'>{{ 'lbl.core.home.btn_let_me_start_korea'
            | translate }}</button>
        </div>
        <br>
        <br>
      </div>
    </div>
  </section>

</div>