@import "../../assets/sass/mixins/color";
// .btn-play-video {
//   font-size: 70px;
//   color: #FFF;
//   width: 90px;
//   height: 95px;
//   background-image: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-play-128.png');
//   background-repeat: no-repeat;
//   background-position: left center;
//   display: table;
//   margin: 30px auto;
// }
.img-fluid {
  // max-width: 60% !important;
}
#ask-page {
  .ask-image-width {
    max-width: 60%;
    @media (min-width: 100px) and (max-width: 500px) {
      max-width: 90%;
    }
  }
  .btnbuy {
    padding-top: 20px;
    padding-right: 20px;
    @media (min-width: 100px) and (max-width: 500px) {
      padding: 20px;
      button {
        width: 100%;
      }
      a {
        width: 100%;
      }
    }
  }
  .group ask-list-group-image {
    img {
      // max-width: 60% !important;
    }
  }
  .ask-main-blade-image {
    width: 30%;
    img {
      width: 60%;
      @media (min-width: 100px) and (max-width: 500px) {
        width: 100%;
      }
    }
  }
  .name-product {
    .small-mobile-price {
      display: none;
    }
  }
  @media (min-width: 100px) and (max-width: 400px) {
    .name-product {
      .small-mobile-price {
        display: block;
      }
    }
  }
  .add-padding {
    padding: 0 5px 8px 5px;
  }
  .add-border-ask-selection {
    border: 5px solid transparent;
    -webkit-border-image: url(https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/6570a620-c707-11e8-8e47-efb823843057.png)
      20 round; /* Safari 3.1-5 */
    -o-border-image: url(https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/6570a620-c707-11e8-8e47-efb823843057.png)
      20 round; /* Opera 11-12.1 */
    -moz-border-image: url(https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/6570a620-c707-11e8-8e47-efb823843057.png)
      20 round; /* Opera 11-12.1 */
    background-image: url(https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/6570a620-c707-11e8-8e47-efb823843057.png)
      20 round;
    @media (min-width: 100px) and (max-width: 500px) {
      border: 5px solid transparent;
      -webkit-border-image: url(https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/a3ad58f0-cd4e-11e8-bb87-c96378902ef9.png)
        80 round; /* Safari 3.1-5 */
      -o-border-image: url(https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/a3ad58f0-cd4e-11e8-bb87-c96378902ef9.png)
        80 round; /* Opera 11-12.1 */
      -moz-border-image: url(https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/a3ad58f0-cd4e-11e8-bb87-c96378902ef9.png)
        80 round; /* Opera 11-12.1 */
      background-image: url(https://smart-shaves-development.s3.ap-southeast-1.amazonaws.com/product-images/a3ad58f0-cd4e-11e8-bb87-c96378902ef9.png)
        80 round;
    }
  }
  .block-featured-products {
    p {
      margin-bottom: 0px;
    }
    .card {
      text-align: center;
      .image-container {
        padding: 10px;
        @media (min-width: 100px) and (max-width: 500px) {
          padding: 0px;
        }
      }
    }
  }
  .desktop-make-good {
    display: block;
  }
  .mobile-make-good {
    display: none;
  }
  @media (min-width: 100px) {
    .non-mobile-block {
      max-width: 33.333%;
    }
  }
  @media (min-width: 100px) and (max-width: 767px) {
    .ask_small_title {
      width: 100%;
      text-align: center;
    }
    .ask_title {
      text-align: center;
      font-size: 30px !important;
    }
    .ask_sub_title {
      text-align: center;
      font-size: 15px !important;
    }
    .mobile-buy-now {
      width: 100%;
    }
    .mobile-make-good {
      display: block;
    }
    .desktop-make-good {
      display: none;
    }
    .prefer_shave_plan {
      width: 100% !important;
    }
    .personalies-img {
      width: 100% !important;
      margin: auto;
    }
  }
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  //----------JASON PAULRAJ ----------------------------------------------------------------
  .ask-contents-block {
    .contents-block-img {
      margin-bottom: 20px;
    }
    .img-block img {
      width: 60%;
    }

    // border-top: 1px solid #ccc !important;
    padding: 15px 0 !important;

    @media (min-width: 100px) and (max-width: 768px) {
      .contents-block-img {
        width: 40%;
      }
      .contents-block-text {
        width: 60%;
      }
      .ask_small_title {
        width: 100%;
        text-align: center;
      }
      .ask_title {
        text-align: center;
        font-size: 30px;
      }
      .ask_sub_title {
        text-align: center;
      }
      img {
        width: 100%;
      }
      .img-block img {
        width: 100%;
      }
    }
  }

  .ask-contents-block-bottom {
    // border-bottom: 1px solid #ccc !important;
  }
  .ask-contents-title-block1 {
    margin-bottom: 0px;
  }
  .ask-contents-title-block2 {
    margin-bottom: 0px;
  }

  .ask-contents-text-block1 {
  }
  .ask-contents-text-block1 ul {
    list-style: disc;
    margin-left: 20px;
  }
  .ask-contents-text-block2 {
  }
  .ask-contents-text-block2 ul {
    list-style: disc;
    margin-left: 20px;
  }

  .icon-deliver {
    font-size: 14px;
    color: #848484;
    padding-left: 30px;
    margin: 0 0 5px;
    background: url("https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons/icon-deliver.png")
      center left no-repeat;
  }

  .icon-handles {
    font-size: 14px;
    color: #848484;
    padding-left: 30px;
    margin: 0;
    background: url("https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icons/icon-handles.png")
      center left no-repeat;
  }

  div.line {
    transform-origin: 0 100%;
    height: 1px;
    background: #cccccc;
    margin-bottom: 0;
  }

  //----------JASON PAULRAJ ----------------------------------------------------------------
  color: #292b2c;
  .img-ask-title {
    width: 80% !important;
  }
  .learn-more {
    padding: 10px 90px;
  }
  .ask_title {
    margin: 0 !important;
    font-size: 40px;
    padding-bottom: 16px;
    color: #fe5102;
  }
  .ask_sub_title {
    font-size: 20px !important;
  }
  .ask_small_title {
    font-family: "Muli Bold";
    color: #fe5102;
    font-size: 20px !important;
  }
  .image-container > .img-fluid {
    width: 50% !important;
  }
  img {
    // width: 60% !important;
  }
  .image-container {
    img {
      width: 60%;
      @media (min-width: 100px) and (max-width: 500px) {
        width: 100%;
      }
    }
  }
  h1 {
    font-family: "Muli Bold";
    margin-bottom: 18px;
    font-size: 30px;
    line-height: 40px;
    width: 100%;
  }
  h2 {
    font-family: "Muli Bold";
    margin-bottom: 36px;
    font-size: 25px;
    line-height: 40px;
    width: 100%;
    &.header-product {
      margin-bottom: 10px;
    }
    span {
      color: $primary-color;
    }
    &.normal {
      font-family: "Muli";
    }
  }
  .sub-header-product {
    width: 100%;
    // font-weight: bold;
    margin-bottom: 36px;
    font-size: 16px;
  }
  .ask-intro1 {
    .shave2u-container {
      @media (min-width: 768px) {
        display: -webkit-box;
      }
    }

    // background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/home/bg_banner_1.png') no-repeat;
    // background-size: cover;
    // background-position: center bottom;
    background-color: #f7f7f7;
    position: relative;
    padding: 12px 0 13px 0;
    .personalies-content {
      margin-top: 100px;
      @media (min-width: 100px) and (max-width: 991px) {
        margin-top: 20px;
      }
      text-align: center;
      // position: absolute;
      // top: calc(50% - 118px);
      left: 7%;
      @media (min-width: 100px) and (max-width: 768px) {
        top: 0px;
        position: unset;
      }
      // text-align: center;
      @media (min-width: 768px) and (max-width: 991px) {
        left: 10%;
      }
      a.learn-more {
        margin-top: 20px;
      }
      // text-align: center;
      h2 {
        margin-bottom: 15px;
      }
    }
    .personalies-img {
      img {
        width: 70%;
        height: auto;
        text-align: center;
      }
      .prefer_shave_plan {
        width: 70%;
        height: auto;
        text-align: center;
      }
    }
    .max-width-korea {
      // max-width: 33.33333333%;
    }
  }
  .background-ko {
    background: url("https://d8pi1a7qa1dfv.cloudfront.net/assets/images/home/bg_banner_1_2.png")
      no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding: 0;
  }

  .ask-trial-work {
    padding: 40px 0 30px 0;
    .block2 {
      .group-1,
      .group-2,
      .group-3 {
        padding: 0 58px;
      }
      h2 {
        margin: 54px 0 0 0;
      }
      .item {
        .img-block {
          max-width: 100px;
          height: auto;
          margin: 0 auto;
          /*overflow: hidden;*/
        }
        img {
          width: 100%;
        }
        p {
          font-size: 14px;
          &.sort-description {
            font-weight: bold;
            font-family: "Muli Bold";
            margin: 1.5rem 0;
            font-size: 16px;
          }
        }
        max-width: 278px;
        margin: 0 auto;
      }
      .detailList {
        margin: 30px 0 0 0;
      }
    }
  }
  .ask-intro {
    margin-top: 0;
    width: 100%;
    position: relative;
    img.bg-intro {
      width: 100%;
      // max-width:
    }
    .content-intro {
      position: absolute;
      top: calc(50% - 153px);
      @media (min-width: 100px) and (max-width: 768px) {
        top: 0px;
      }
      left: 15%;
      a.learn-more {
        margin-top: 20px;
      }
    }
  }
  .ask-subscriptions {
    color: #fff;
    // background: url('https://d8pi1a7qa1dfv.cloudfront.net/assets/images/home/bg_banner_2.png');
    // background-size: cover;
    background-color: #d1d2d2;
    width: 100%;
    display: flex;
    .btn-primary {
      width: 280px;
    }
    .img-subscriptions {
      width: 53%;
      float: left;
      img {
        width: auto;
        height: 510px;
      }
    }
    .content-subscriptions {
      color: #292b2c;
      width: 47%;
      float: left;
      margin-top: 160px;
      h2 {
        margin-bottom: 20px;
        font-size: 27px;
      }
      .group-content {
        display: inline-block;
        width: 75%;

        img {
          width: 60px;
          float: left;
          margin-top: 15px;
        }
        .group-text {
          // margin-left: 20px;
          float: left;
          text-align: left;
          // max-width: 300px;
          h3 {
            color: $primary-color;
          }
        }
        a.btn {
          margin-top: 36px;
        }
        p.subscription-note {
          // font-size: 24px;
        }
      }
    }
    .mt-120 {
      margin-top: 120px;
    }
  }
  .ask-personalies {
    background: url("https://d8pi1a7qa1dfv.cloudfront.net/assets/images/home/bg_banner_3.png")
      no-repeat center center;
    background-size: cover;
    position: relative;
    padding: 40px 0 0 0;
    .btn-primary {
      width: 195px;
    }
    .personalies-content {
      max-width: 246px;
      position: absolute;
      top: calc(50% - 150px);
      @media (min-width: 100px) and (max-width: 768px) {
        top: 0px;
      }
      right: 42px;
      text-align: center;
      h2 {
        margin-bottom: 15px;
      }
    }
    .personalies-bottom {
      margin: 80px 0 0px 0;
    }
  }
  .ask-seller {
    background: #fff;
    .personalies-bottom {
      padding: 80px 0 0px 0;
    }
    .btn-primary {
      width: 195px;
    }
    .block-featured-products {
      padding-top: 25px;
      .block-products {
        background-color: #fff;
        max-width: 1280px;
        margin: 0 auto;
        .card-block {
          padding: 0px;
          flex: 0 0 33.33333333%;
          &:hover {
            // -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
            // -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
            // box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
          }
        }
        .card {
          border: 0px;
          margin-left: 5px;
          margin-right: 5px;
          margin-bottom: 10px;
          border-radius: 0;
          height: 430px;
          background-color: #ffffff;
          .card-head {
            height: 60px;
            padding-top: 10px;
            width: 100%;
            text-align: center;
            .best-seller {
              border-top: 2px solid #ef5323;
              border-bottom: 3px solid #ef5323;
              color: #ef5323;
              text-transform: uppercase;
              font-weight: bold;
              margin-top: 4px;
              margin-left: 35px;
              height: 45px;
              max-width: 170px;
              padding: 0;
              font-size: 26px;
            }
            .product-name {
              color: #636c72;
              padding-left: 0px;
              // max-width: 64%;
            }
            .product-price {
              text-align: left;
              font-weight: bold;
            }
          }
          .card-image {
            .image-container {
              display: table;
              margin: auto;
              max-width: 90%;
              display-image {
                display: table-cell;
                vertical-align: middle;
              }
            }
            .ask-shave2u-btn-add-cart {
              bottom: 0;
              left: 0;
              position: absolute;
              background-color: #fe5000;
              color: #ffffff;
              border-radius: 0 0.25rem 0 0;
              width: 59px;
              height: 59px;
              padding: 5px 0 0 0;
              .ico-shopping-cart {
                width: 32px;
                height: 31px;
                padding: 10px;
                background-image: url(https://d8pi1a7qa1dfv.cloudfront.net/assets/images/icon-cart-home.png);
                background-repeat: no-repeat;
                background-position: center;
                display: inline-block;
                line-height: 34px;
                margin-top: 10px;
                cursor: pointer;
              }
              &:hover {
                background-color: $primary-hover-color;
                border-color: $primary-hover-color;
                outline: none;
              }
              &:active {
                background-color: $primary-active-color;
                border-color: $primary-active-color;
                outline: none;
              }
            }
          }
        }
        // .card-block:nth-child(3), .card-block:nth-child(6) {
        //   .card {
        //     margin-right: 0;
        //   }
        // }
        .add-card {
          display: none;
        }
        .card-best-seller {
          margin-left: 4px;
          height: 664px;
          .card-head {
            height: 90px;
          }
        }
        .small-cards {
          .card-block {
            // max-width: 50%;
          }
        }
        .block-heading {
          text-align: center;
        }
      }
      .block-footer {
        .group-btn {
          background-color: #fff;
          height: 130px;
          max-width: 1280px;
          margin: 0 auto;
          padding-top: 49px;
        }
        a {
          text-transform: uppercase;
          text-decoration: none;
          font-weight: bold;
          font-size: 18px;
          color: #3a6e9c;
          margin-top: 50px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .seller-content {
      max-width: 1288px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      .content-col {
        padding: 1px;
        // float: left;
        .content-best-seller {
          width: 100%;
          height: calc(100% - 2px);
          margin: 1px;
          background: #fff;
          padding: 20px 20px 0 20px;
        }
        .content-seller {
          width: calc(50% - 2px);
          height: calc(50% - 2px);
          margin: 1px;
          background: #fff;
          float: left;
          padding: 20px 20px 0 20px;
        }
        .content-block {
          .best-seller {
            font-size: 40px;
            text-transform: uppercase;
            border-top: 1px solid $primary-color;
          }
        }
      }
    }
  }
  .ask-instagram {
    h3.title {
      display: none;
    }
    .block-articles {
      .block-articles-image {
        margin: 0 auto;
        max-width: 1280px;
        .block-right,
        .block-left-1,
        .block-left-2 {
          max-width: 20%;
        }
        .block-center {
          max-width: 40%;
        }

        .block-right,
        .block-center,
        .block-left-1,
        .block-left-2 {
          padding: 0;
        }
        .article-image {
          margin: 1px;
          max-height: 265px;
          max-width: 265px;
        }
        .article-image-big {
          margin: 1px;
          max-height: 530px;
          max-width: 530px;
          .link-social {
            text-align: center;
            top: calc(50% - (130px / 2));
            @media (min-width: 100px) and (max-width: 768px) {
              top: 0px;
            }
            left: calc(50% - (224px / 2));
            position: absolute;
            color: #fff;
            h2 {
              margin-bottom: 26px;
              color: #fff;
            }
            i {
              font-size: 70px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
