<div class="row mx-0">
  <div class="col-md-12" *ngIf="allowAccessTo('reports/master') || allowAccessTo('reports/appco') || allowAccessTo('reports/mo')">
    <div class="card">
      <div class="header">
        <h4 class="title float-left">Sales <div class="loading-spinner text-center" *ngIf="isLoadingChart"><i class="fa fa-spinner fa-spin"></i></div></h4>
        <a class="float-right" routerLink="/reports/master">View Reports</a>
        <br>
        <br>
      </div>
      <div style="display: block" class="content">
        <div class="row mx-0">
          <!-- <div class="col-sm-2 form-group" *ngIf="!hasDenied"> -->
          <div class="col-sm-2 form-group">
            <!--<label class="form-control-label">Select Country</label>-->
            <!-- <select class="form-control form-control-inline" id="select-countryCode" name="country" #selectElem [(ngModel)]="countryId" *ngIf="countries" (change)="changeCountry(selectElem.value)">
              <option [value]="country.id" *ngFor="let country of countries" [attr.background-image]="country.DirectoryCountries[0].flag">{{country.name}}</option>
            </select> -->
						<div class="dropdown dropdown-country">
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<ul class="mb-0">
									<li *ngFor="let country of countries; let first = first;"
											[ngClass]="first ? 'active' : ''"
											data-toggle="dropdown"
											aria-haspopup="true"
											aria-expanded="false">
										<div class="row mx-0">
											<div class="col-3 p-0">
												<img class="flag-img" src="{{ country.DirectoryCountries[0].flag }}" alt="{{country.name}}" width="35" height="20">
											</div>
											<div class="col-9 p-0">
												<a class="dropdown-item px-0"
													[attr.data-value]="country.id"
													[attr.flag]="country.DirectoryCountries[0].flag"
													(click)="changeCountry($event)">{{country.name}}</a>
											</div>
										</div>
									</li>
								</ul>
						  </div>
						</div>
          </div>
          <!-- <div class="col-sm-2 form-group" *ngIf="hasDenied">
            <select class="form-control form-control-inline" id="select-countryCode" name="country">
              <option [value]="currentUser.Country.id">{{currentUser.Country.name}}</option>
            </select>
						{{country.DirectoryCountries[0].flag}}
          </div> -->
          <div class="col-sm-3 form-group"></div>
          <div class="col-sm-7 form-group">
            <div class="btn-group pull-right reloadChart" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary" (click)="reloadChart('day')" [ngClass]=" chartType === 'day' ? 'active' : ''">7 days</button>
              <button type="button" class="btn btn-secondary" (click)="reloadChart('month')" [ngClass]=" chartType === 'month' ? 'active' : ''">Last Month</button>
              <button type="button" class="btn btn-secondary" (click)="reloadChart('year')" [ngClass]=" chartType === 'year' ? 'active' : ''">This Year</button>
            </div>
          </div>
          <div class="col-sm-12 text-center">
            <h4>Revenue chart</h4>
          </div>
					<div class="col-md-6 text-right">
						<!-- <strong>Revenue chart</strong> -->
					</div>
          <div class="col-sm-6 form-group">
						<div class="text-right">
							<span>Total Amount: </span>
							<strong>{{saleInfo.totalRevenue}}</strong><!-- class="text-right totalRevenue" -->
						</div>
          </div>
        </div>
        <div *ngIf="!isLoadingChart" class="revenue-chart">
          <span class="price">{{ currency }}</span>
          <span class="date">Date</span>
          <div>
            <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [colors]="lineChartColors"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
              height="400"></canvas>
          </div>
        </div>
        <div *ngIf="isLoadingChart" class="chart-empty"></div>
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-2 mb-2" *ngIf="allowAccessTo('orders/pending')">
    <div class="card">
      <div class="header">
        <h4 class="title float-left">Top 20 pending orders <div class="loading-spinner text-center" *ngIf="isLoadingOrders"><i class="fa fa-spinner fa-spin"></i></div></h4>
        <a class="float-right" routerLink="/orders/pending">View all pending order</a>
        <br>
        <br>
      </div>

      <div class="content table-responsive table-full-width" *ngIf="!isLoadingOrders">
        <table class="table table-shaves mt-2">
          <thead>
            <tr>
              <th>Order No.</th>
              <th class="th-email">Date</th>
              <th class="">From user</th>
              <th class="th-channel">Channel</th>
              <th class="">Total price</th>
              <th class="th-status">Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ordersPending.rows">
              <td class="td-name">
                {{ item.id | orderNo: {countryCode: item.Country.code, createdAt: item.createdAt | date:"yyyyMMdd" } }}
              </td>
              <td class="td-date">
                {{ item.createdAt | date:"dd/MM/yyyy" }}
              </td>
              <td class="td-email" *ngIf="item.SellerUser || item.User">{{ (item.User && item.User.email) ? item.User.email : item.SellerUser.email }}</td>
              <td class="td-email" *ngIf="!item.SellerUser && !item.User">{{ item.email }}</td>
              <td class="td-channel">{{ item.SellerUserId ? 'BA' : 'Online / E-Commerce' }}</td>
              <td class="td-subTotal">{{ item.currency }}{{ (item.Receipt?.totalPrice) }}</td>
              <th class="td-status">
                {{item.states}}
              </th>
              <td class="td-actions">
                <a [routerLink]="['/orders/pending/', item.id]" class="btn btn-secondary btn-sm float-right">View details</a>
              </td>
            </tr>
            <tr *ngIf="ordersPending.rows.length === 0"><td colspan="6" class="text-center">No Items</td></tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->
</div>
