.reloadChart {
  .btn {
    line-height: 1.25;
    min-height: auto;
    &.active {
      color: #292b2c;
      background-color: #e6e5e5;
      border-color: #adadad;
    }
    &:focus {
      box-shadow: none !important;
    }
  }
}
.revenue-chart {
	position: relative;
	padding: 15px;
	.price {
    position: absolute;
    top: -12px;
    left: 38px;
	}
	.date {
    position: absolute;
    bottom: 15px;
    right: 46px;
	}
}

.totalRevenue {
  width: 100%;
  display: inline-block;
}
.chart-empty {
  min-height: 400px;
}


.dropdown-country {
	.dropdown-menu {
		display: block;
    padding: 5px 7px 3px;
		border-radius: 0;
    margin-top: 0;

		&::after {
			content: "";
			background-image: url('/assets/images/dropdow-arrow.png');
			background-repeat: no-repeat;
			background-position: center;
			width: 10px;
			height: 6px;
			border: none;
			position: absolute;
			top: 17px;
			right: 7px;
			pointer-events: none;
		}

		.flag-img {
			cursor: pointer;
			max-width: 22px;
			height: 22px;
			border-radius: 50%;
			border: 1px solid #d5d5d5;
		}

		li {
			display: none;
			cursor: pointer;
			&.active {
				display: block;
				a {
					pointer-events: none;
				}
			}

			a:hover {
				background-color: transparent;
			}
		}

		ul {
			&.show {
				li {
					display: block;
				}
			}
		}
	}
}
