@media (max-width: 575px) {
	#user-order-list {
		.block-current-order,
		.block-history-order {
			.block-border {
				.block-items {
					.row-custom {
						.item-quantity {
							.text-contain {
								margin-top: auto;
							}
						}
					}
				}
			}
		}
	}
}
