<!-- layout for Mobile -->
<div id="user-order-list" *ngIf="activeOrderList && orderDetail && orderDetail.length > 0 && !isLoading">
  <div class="row block-history-order">
    <div class="col-lg-12 col-md-12 col-xl-12 block-list block-border">
      <ul class="row" *ngFor="let item of orderDetail; let i = index;" [ngClass]="i%2 !== 0 ? 'background-color-gray' : ''">
        <li class="col-12">
          <div class="row-header">{{ 'order.detail.order_id' | translate }}</div>
          <div class="row-content">{{ item.id | orderNo: item.Country.code }}</div>
        </li>
        <li class="col-12" *ngIf="item.taxInvoiceNo">
          <div class="row-header">{{ 'order.detail.tax_invoice_id' | translate }}</div>
          <div class="row-content">{{ item.taxInvoiceNo }}</div>
        </li>
        <li class="col-12">
          <div class="row-header">{{ 'order.detail.total' | translate }}</div>
          <div class="row-content">{{ item.Receipt.currency }}{{item.Receipt.totalPrice}}</div>
        </li>
        <li class="col-12">
          <div class="row-header">{{ 'order.detail.date' | translate }}</div>
          <div class="row-content">{{ item.createdAt | date: 'MMMM dd, yyyy, hh:mm a' }}</div>
          <div></div>
        </li>
        <li class="col-12">
          <div class="row-header">{{ 'order.detail.customer_name' | translate }}</div>
          <div class="row-content">{{ item.fullName }}</div>
        </li>
        <li class="col-12">
          <div class="row-header">{{ 'order.detail.channel_type' | translate }}</div>
          <div class="row-content" *ngIf="item.channelType && item.channelType === 'Event'">{{ 'channel_type.event' | translate }}</div>
          <div class="row-content" *ngIf="item.channelType && item.channelType === 'Streets'">{{ 'channel_type.streets' | translate }}</div>
          <div class="row-content" *ngIf="item.channelType && item.channelType !== 'Event' && item.channelType !== 'Streets'">{{ item.channelType }}</div>
          <div class="row-content" *ngIf="!item.channelType">N/A</div>
        </li>
        <li class="col-12">
          <div class="row-header">{{ 'order.detail.location_code' | translate }}</div>
          <div class="row-content">{{ item.eventLocationCode ? item.eventLocationCode : 'N/A' }}</div>
        </li>
        <li class="col-12">
          <div class="row-header">{{ 'order.detail.status' | translate }}</div>
          <div class="row-content" *ngIf="item.states === 'On Hold'">{{ 'msg.status.on_hold' | translate }}</div>
          <div class="row-content processing" *ngIf="item.states === 'Processing'">{{ 'msg.status.process' | translate }}</div>
          <div class="row-content" *ngIf="item.states === 'Payment Received'">{{ 'msg.status.payment_received' | translate }}</div>
          <div class="row-content" *ngIf="item.states === 'Completed'">{{ 'msg.status.completed' | translate }}</div>
          <div class="row-content" *ngIf="item.states === 'Canceled'">{{ 'msg.status.canceled' | translate }}</div>
          <div class="row-content" *ngIf="item.states === 'Pending'">{{ 'msg.status.pending' | translate }}</div>
          <div class="row-content" *ngIf="item.states === 'Delivering'">{{ 'msg.status.delivering' | translate }}</div>
        </li>
        <li class="col-12">
          <div class="row-header">{{ 'order.detail.payment_type' | translate }}</div>
          <div class="row-content" *ngIf="(storage.getLanguageCode() === 'EN') || (storage.getLanguageCode() === 'KO' && item.paymentType !== 'cash')">{{ item.paymentType }}</div>
          <div class="row-content" *ngIf="storage.getLanguageCode() === 'KO' && item.paymentType === 'cash'">{{ 'order.detail.cash' | translate }}</div>
        </li>
        <li class="col-12">
          <div class="row-header">{{ 'order.detail.basket_size' | translate }}</div>
          <div class="row-content">{{ item.basketSize }}</div>
        </li>
        <li class="col-12">
          <div class="row-header">{{ 'summary.order.delivery' | translate }}</div>
          <div *ngIf="!item.subscriptionIds" class="row-content">{{ 'summary.order.yes' | translate }}</div>
          <div *ngIf="item.subscriptionIds && item.isDirectTrial" class="row-content">{{ 'summary.order.yes' | translate }}</div>
          <div *ngIf="item.subscriptionIds && !item.isDirectTrial" class="row-content">{{ 'summary.order.no' | translate }}</div>
        </li>
        <li class="col-12 block-items">
          <ng-container *ngFor="let item of item.orderDetail; let i = index;">
            <ul class="row no-gutters row-custom text-center">
              <li class="item item-info col-12 col-sm-6">
                <div class="image-contain image-center-with-border pull-left clickable" clickable>
                  <div class="image-inner">
                    <div class="image" *ngIf="item.ProductCountry && item.ProductCountry.Product.productImages">
                      <display-image [class]="'img-responsive list-item-image-contain'" [images]="item.ProductCountry.Product.productImages"></display-image>
                    </div>
                    <div class="image" *ngIf="item.PlanCountry && item.PlanCountry.Plan.planImages">
                      <display-image [class]="'img-responsive list-item-image-contain'" [images]="item.PlanCountry.Plan.planImages"></display-image>
                    </div>
                  </div>
                </div>
                <div class="text-contain text-center-vertical pull-left">
                  <div class="text-inner" *ngIf="item.ProductCountry && item.ProductCountry.Product.productTranslate">
                    <h4 class="product-name clickable"><strong>{{item.ProductCountry.Product.productTranslate | translatePipe: 'name'}}</strong></h4>
                    <strong class="sku">{{item.ProductCountry.Product.sku}}</strong>
                    <div class="" *ngIf="item.ProductCountry">
                      <span class="item-price">{{ item.ProductCountry.sellPrice | smsCurrency}}</span>
                    </div>
                  </div>
                  <div class="text-inner" *ngIf="item.PlanCountry && item.PlanCountry.Plan.planTranslate">
                    <h4 class="product-name clickable"><strong>{{item.PlanCountry.Plan.planTranslate | translatePipe: 'name'}}</strong></h4>
                    <strong class="sku">{{item.PlanCountry.Plan.sku}}</strong>
                    <div class="" *ngIf="item.PlanCountry">
                      <span class="item-price">{{ item.PlanCountry.sellPrice | smsCurrency}}</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item item-quantity col-12 col-sm-6">
                <div class="text-contain text-center-vertical contain-full">
                  <div>{{ 'order.detail.quantity' | translate }}:</div>
                  <div class="text-inner">
                    <div class="quantity-action-tool">
                      {{item.qty}}
                      <!-- <div class="btn-minus" (click)="minusQuatity(i, productType.name)" [ngClass]="{'btn-disabled': item.qty === 0}"><span class="fa fa-minus"></span></div>
                      <input type="number" name="qty" [(ngModel)]="item.qty" #qty="ngModel" (change)="changeQuatity(i, productType.name)"/>
                      <div class="btn-plus" (click)="plusQuatity(i, productType.name)"><span class="fa fa-plus"></span></div> -->
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </ng-container>
        </li>
      </ul>

    </div>
    <!-- pagging -->
    <app-pagination *ngIf="totalItems > 10" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"></app-pagination>
  </div>
</div>