#user-order-list {
	.block-current-order,
	.block-history-order {
    // padding: 0 0 0 52px !important;
    // margin: -7px 0 20px !important;
		.page-header {
			font-size: 25px;
			border: none;
			margin: 0px 0px 0px;
		}
		padding: 0px 15px;
		margin: 0 0 20px;
    .block-border {
			.row-header {
				margin-top: 10px;
			}
			.row-content {
				font-weight: bold;
			}
			.processing {
				color: #FD641F;
			}
			.block-items {
				margin-top: 15px;
				.row-custom:first-child{
					border-top: 1px solid #CCC;
				}
				.row-custom {
					display: flex;
					width: 100%;
					border-bottom: 1px solid #CCC;
					margin: 0;
					padding: 10px 0px 10px 20px;
					.item {
						padding: 6px 0;
						.image-contain {
							width: 103px;
							max-width: 44%;
							background: #ffffff;
							.image-inner {
								.image {
									height: 103px;
									padding: 14px;
								}
							}
						}

						.text-inner {
							text-align: left;
							padding-left: 15px;
						}

						.product-name {
							font-size: 16px;
						}
						
						// .item-info {
						//   // width: 50%;
						// }
						.item-price {
							// width: 16%;
							div {
								padding-left: 0px;
							}
						}
						span.item-price {
							color: #adadad;
						}
						.item-quantity {
							// width: 50%;
							div {
								padding-left: 0px;
							}     
						}
						.item-total {
							width: 18%;
							div {
								padding-left: 0px;
							}
						}
						.item-action {
							width: 2%;    
							.btn-delete-product {
								right: 18px;
								position: relative;
								cursor: pointer;
							}    
						}

					}

					.item-info {
						.text-contain {
							width: calc(100% - 103px);
						}
					}
					.item-quantity {
						.text-contain {
							margin-top: 30px;
						}
					}
				}

			}
    }
	}
	
	.btn-detail-group {
		width: auto !important;
		a {
			width: 100px;
		}
	}

  .btn-cancle-group {
    padding: 0;
    margin: auto;
		a {
			width: 100px;
		}
    button {
      max-width: 100%;
      max-height: 30px;
      padding: 0;
      margin: 0;
    }
	}
}

.empty-order {
  padding-left: 48px;
  padding-top: 58px;
  p {
    font-size: 25px;
    margin-bottom: 25px;
  }
}

#user-order-list-mobile {
	display: none;
}
	
.btn-detail-group {
	margin-right: 10px;
}


@import '_order-detail-response.component';