.list-group-image {
  max-height: 300px;
  max-width: 500px;
}

.home-list-group-image-best-seller {
  max-height: 560px;
}

.home-list-group-image {
  max-height: 265px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.planDetails-photo {
  max-width: 50px;
}

.shave-kit-home {
  max-width: 484px;
  max-height: 460px;
}

.subs-image-overview {
  max-width: 100px;
}

.clickable {
  cursor: pointer;
}

@media (max-width: 767px) {
  .home-list-group-image-best-seller {
    max-height: 257px;
  }
  .home-list-group-image {
    max-height: 257px;
  }
  .shave-kit-home {
    width: 100%;
  }
}
