.list-group-image {
  max-height: 300px;
  max-width: 500px;
}
.home-list-group-image-best-seller {
  max-height: 560px;
}
.home-list-group-image {
  max-height: 330px;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    &.img-responsive-cus {
      max-width: 93px;
    }
    &.img-table-product{
      max-width: 70px;
      max-height: 80px;
      float: left;
      margin-right: 15px;
    }

}
.img-responsive-add-to-cart {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 410px;
    margin: auto;
    &.img-responsive-cus {
      max-width: 93px;
    }
    &.img-table-product{
      max-width: 70px;
      max-height: 80px;
      float: left;
      margin-right: 15px;
    }

}
.planDetails-photo {
  max-width: 50px;
}

.shave-kit-home {
  max-width: 484px;
  max-height: 460px;
}

.subs-image-overview {
  max-width: 100px;
}

.clickable {
  cursor: pointer;
}
@media  (min-width: 768px) and (max-width: 768px){
  .shave-kit-home {
    width: 100%;
  }
}
@media  (max-width: 767px) {
  .home-list-group-image-best-seller {
    max-height: 257px;
  }
  .home-list-group-image {
    max-height: 257px;
  }
  .shave-kit-home {
    width: 100%;
  }
}
