<div class="modal fade trial-suggestions" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'plan.free_trial.suggest_refill.heading'  | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal();"></button>
      </div>
      <div class="modal-body">
        <app-alert></app-alert>
        <div class="user-form">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <!-- edit form column -->
                <div class="col-md-12 option-suggestions">
                  <ul class="list-group">
                    <li class="list-group-item click-able" (click)="changeRefillOption('2 Months')">
                      <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/5days-icon.png">
                      <p class="bl-right">
                        <span class="week">{{ 'plan.free_trial.suggest_refill.option_1.heading'  | translate }}</span>
                        <span class="month">{{ 'plan.free_trial.suggest_refill.option_1.note'  | translate }}</span>
                        <span class="month">{{ 'plan.free_trial.suggest_refill.option_1.note_2'  | translate }}</span>
                      </p>
                      <span class="bt-bar"></span>                   
                    </li>
                    <li class="list-group-item click-able" (click)="changeRefillOption('3 Months')">
                      <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/2days-icon.png">
                      <p class="bl-right">
                        <span class="week">{{ 'plan.free_trial.suggest_refill.option_2.heading'  | translate }}</span>
                        <span class="month">{{ 'plan.free_trial.suggest_refill.option_2.note'  | translate }}</span>
                        <span class="month">{{ 'plan.free_trial.suggest_refill.option_2.note_2'  | translate }}</span>
                      </p>
                      <span class="bt-bar"></span>
                    </li>
                    <li class="list-group-item click-able" (click)="changeRefillOption('4 Months')">
                      <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/1day-icon.png">
                      <p class="bl-right">
                        <span class="week">{{ 'plan.free_trial.suggest_refill.option_3.heading'  | translate }}</span>
                        <span class="month">{{ 'plan.free_trial.suggest_refill.option_3.note'  | translate }}</span>
                        <span class="month">{{ 'plan.free_trial.suggest_refill.option_3.note_2'  | translate }}</span>
                      </p>
                      <!-- <span class="bt-bar"></span>   -->
                    </li>
                    <li class="list-group-bottom">
                      <div>
                        <img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/cartridges-sanple.png">
                        <span class="week">{{ 'plan.free_trial.suggest_refill.bottom_note'  | translate }}</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /container -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal-backdrop fade"></div>