  @import "../../../assets/sass/mixins/color";
  .not-sure {
    margin-top: 8px;
    font-size: 14px;
    a {
      border-bottom: 2px solid #CCC;
      color: $primary-color;
      font-family: 'Muli Bold';
    }
  }
  .list-group-bottom {
    background-color: #d2d2d2;
    div {
      text-align: center;
      padding: 15px 0;
    }
  }