.fa-2x {
  font-size: 2em;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size:20px;
}


.left-menu:hover,nav.left-menu.expanded {
  width:100%;
  overflow:visible;
}

.left-menu {
  .active-link {
    > a {
      background-color: #5fa2db;
      color: #fff !important;
    }
  }
  .active-sub-link {
    background-color: #5fa2db;
    a {
      color: #fff !important;
    }
  }
  background:#fbfbfb;
  border-right:1px solid #e5e5e5;
	border-radius: 3px;
  /*position: sticky;*/
  top: 90px;
  /* height: 100%; */
  height: auto;
  width:100%;
  // overflow:hidden;
  -webkit-transition:width .05s linear;
  transition:width .05s linear;
  z-index:1000;
  .nav-icon {
    position:relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
  }
  .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
    font-family: 'Titillium Web', sans-serif;
  }
  ul {
    margin:7px 0;
    li:not(.has-subnav) {
      position:relative;
      display:inline-block;
      width:100%;
      &:hover {
        a {
          color:#fff;
          background-color:#5fa2db;
        }
      }
      a {
        position:relative;
        display:table;
        border-collapse:collapse;
        border-spacing:0;
        color:#999;
        font-family: arial;
        font-size: 14px;
        text-decoration:none;
      }

    }
    .logout {
      position:absolute;
      left:0;
      bottom:0;
    }
  }
  &nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
    ul, li {
      outline:0;
      margin:0;
      padding:0;
    }
  }
  .has-subnav {
      position:relative;
      display:block;
      width:100%;
      &:hover {
        & > a {
          color:#fff;
          background-color:#5fa2db;
        }
      }
      & > a {
        position:relative;
        display:table;
        border-collapse:collapse;
        border-spacing:0;
        color:#999;
        font-family: arial;
        font-size: 14px;
        text-decoration:none;
      }
    ul {
      display: inline-block;
      width: 100%;
      li {
        padding-left: 60px;
        a {
          cursor: pointer;
          .span-text {
            position: relative;
            display: table-cell;
            vertical-align: middle;
            height: 36px;
          }
        }
        &:hover {
          color:#fff;
          background-color:#5fa2db;
        }
      }
    }

  }
}
