.fa-2x {
  font-size: 2em;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.left-menu:hover, nav.left-menu.expanded {
  width: 250px;
  overflow: visible;
}

.left-menu {
  background: #fbfbfb;
  border-right: 1px solid #e5e5e5;
	border-radius: 3px;
  position: sticky;
  top: 90px;
  /* height: 100%; */
  height: auto;
  width: 250px;
  -webkit-transition: width .05s linear;
  transition: width .05s linear;
  z-index: 1000;
}

.left-menu .active-link > a {
  background-color: #5fa2db;
  color: #fff !important;
}

.left-menu .active-sub-link {
  background-color: #5fa2db;
}

.left-menu .active-sub-link a {
  color: #fff !important;
}

.left-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.left-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: 'Titillium Web', sans-serif;
}

.left-menu ul {
  margin: 7px 0;
}

.left-menu ul li:not(.has-subnav) {
  position: relative;
  display: block;
  width: 250px;
}

.left-menu ul li:not(.has-subnav):hover a {
  color: #fff;
  background-color: #5fa2db;
}

.left-menu ul li:not(.has-subnav) a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
}

.left-menu ul .logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.left-menunav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.left-menunav ul, .left-menunav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.left-menu .has-subnav {
  position: relative;
  display: block;
  width: 250px;
}

.left-menu .has-subnav:hover > a {
  color: #fff;
  background-color: #5fa2db;
}

.left-menu .has-subnav > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
}

.left-menu .has-subnav ul {
  display: inline-block;
}

.left-menu .has-subnav ul li {
  padding-left: 60px;
}

.left-menu .has-subnav ul li a {
  cursor: pointer;
}

.left-menu .has-subnav ul li a .span-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  height: 36px;
}

.left-menu .has-subnav ul li:hover {
  color: #fff;
  background-color: #5fa2db;
}
