<nav class="left-menu">
  <ul>
    <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
            Overview
        </span>
      </a>
    </li>
    <li class="has-subnav" routerLinkActive="active-link" *ngIf="allowAccessTo('orders/pending') || allowAccessTo('orders/history') || allowAccessTo('bulk-orders') || allowAccessTo('orders/upload')">
      <a href="#" data-toggle="collapse" data-target="#orders" data-parent="#sidenav01" class="collapsed">
        <i class="fa fa-bars fa-2x"></i>
        <span class="nav-text">
            Orders
        </span>
      </a>
      <div class="collapse" id="orders" style="height: 0px;">
        <ul class="nav">
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('orders/pending')"><a routerLink="/orders/pending" ><span class="span-text">Pending</span></a></li>
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('orders/history')"><a routerLink="/orders/history"><span class="span-text">History</span></a></li>
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('bulk-orders')"><a routerLink="/bulk-orders"><span class="span-text">Bulk Order</span></a></li>
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('orders/upload')"><a routerLink="/orders/upload"><span class="span-text">Upload Order</span></a></li>
          <li routerLinkActive="active-sub-link" style="display: none"><a routerLink="/orders" ><span class="span-text">Pending</span></a></li>
        </ul>
      </div>
    </li>
    <li class="has-subnav" routerLinkActive="active-link" 
      *ngIf="allowAccessTo('products') || allowAccessTo('products/category')">
      <a href="#" data-toggle="collapse" data-target="#products" data-parent="#sidenav01" class="collapsed">
        <i class="fa fa-product-hunt fa-2x"></i>
        <span class="nav-text">
            Products
        </span>
      </a>
      <div class="collapse" id="products" style="height: 0px;">
        <ul class="nav">
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('products')"><a routerLink="/products" ><span class="span-text">All Products</span></a></li>
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('products/category')"><a routerLink="/products/category"><span class="span-text">Category</span></a></li>
        </ul>
      </div>
    </li>
    <li class="has-subnav" routerLinkActive="active-link" *ngIf="allowAccessTo('subscriptions/subscribers') || allowAccessTo('subscriptions/subscribers-free-trial') || allowAccessTo('subscriptions/plan-types')
    || allowAccessTo('subscriptions/plans') || allowAccessTo('subscriptions/plan-groups')">
      <a href="#" data-toggle="collapse" data-target="#subscriptions" data-parent="#sidenav01" class="collapsed">
        <i class="fa fa-laptop fa-2x"></i>
        <span class="nav-text">
            Subscriptions
        </span>
      </a>
      <div class="collapse" id="subscriptions" style="height: 0px;">
        <ul class="nav">
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('subscriptions/subscribers')"
            ><a routerLink="/subscriptions/subscribers"><span class="span-text">Subscribers</span></a></li>
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('subscriptions/subscribers-free-trial')">
            <a routerLink="/subscriptions/subscribers-free-trial"><span class="span-text">Subscribers Free Trial</span></a>
          </li>
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('subscriptions/plan-groups')">
            <a routerLink="/subscriptions/plan-groups" ><span class="span-text">Plan Groups</span></a>
          </li>
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('subscriptions/plan-types')">
            <a routerLink="/subscriptions/plan-types" ><span class="span-text">Plan Types</span></a>
          </li>
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('subscriptions/plans')">
            <a routerLink="/subscriptions/plans"><span class="span-text">Plans</span></a>
          </li>
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('subscriptions/cancellation')">
            <a routerLink="/subscriptions/cancellation"><span class="span-text">Cancellation</span></a>
          </li>
        </ul>
      </div>
    </li>
    <li routerLinkActive="active-link" *ngIf="allowAccessTo('promotions')">
      <a routerLink="/promotions">
        <i class="fa fa-table fa-2x"></i>
        <span class="nav-text">
            Promotions
        </span>
      </a>
    </li>
    <li routerLinkActive="active-link" *ngIf="allowAccessTo('countries')">
      <a routerLink="/countries">
        <i class="fa fa-map-marker fa-2x"></i>
        <span class="nav-text">
            Countries
        </span>
      </a>
    </li>
    <!--<li *ngIf="!hasDenied">
      <a href="#">
        <i class="fa fa-bar-chart-o fa-2x"></i>
        <span class="nav-text">
            Articles
        </span>
      </a>
    </li>-->

    <li class="has-subnav" routerLinkActive="active-link" *ngIf="allowAccessTo('users/staffs') || allowAccessTo('users/customers') || allowAccessTo('users/sample-product')">
      <a href="#" data-toggle="collapse" data-target="#users" data-parent="#sidenav01" class="collapsed">
        <i class="fa fa-user-o fa-2x"></i>
        <span class="nav-text">
            Users
        </span>
      </a>
      <div class="collapse" id="users" style="height: 0px;">
        <ul class="nav">
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('users/staffs')">
            <a routerLink="/users/staffs" ><span class="span-text">Staffs</span></a>
          </li>
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('users/customers')">
            <a routerLink="/users/customers"><span class="span-text">Customers</span></a>
          </li>
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('users/sample-product')">
            <a routerLink="/users/sample-product" ><span class="span-text">Sample Product </span></a>
          </li>
        </ul>
      </div>
    </li>

    <li class="has-subnav" routerLinkActive="active-link" *ngIf="allowAccessTo('reports/master') || allowAccessTo('reports/appco') || allowAccessTo('reports/mo')">
      <!-- <a routerLink="/reports">
        <i class="fa fa-bar-chart fa-2x"></i>
        <span class="nav-text">
            Reports
        </span>
      </a> -->
      <a href="#" data-toggle="collapse" data-target="#reports" data-parent="#sidenav01" class="collapsed">
        <i class="fa fa-laptop fa-2x"></i>
        <span class="nav-text">
          Reports
        </span>
      </a>
      <div class="collapse" id="reports" style="height: 0px;">
        <ul class="nav">
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('reports/master')">
            <a routerLink="/reports/master" ><span class="span-text">Master</span></a>
          </li>
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('reports/appco')">
            <a routerLink="/reports/appco"><span class="span-text">Appco</span></a>
          </li>
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('reports/mo')">
            <a routerLink="/reports/mo"><span class="span-text">Marketing Office</span></a>
          </li>
        </ul>
      </div>
    </li>
    <li routerLinkActive="active-link" *ngIf="allowAccessTo('exports')">
      <a routerLink="/exports">
        <i class="fa fa-download fa-2x"></i>
        <span class="nav-text">
            Exports
        </span>
      </a>
    </li>
    <li class="has-subnav" routerLinkActive="active-link" *ngIf="allowAccessTo('utils/faq') || allowAccessTo('utils/terms') || allowAccessTo('utils/privacy')">
      <a href="#" data-toggle="collapse" data-target="#utils" data-parent="#sidenav01" class="collapsed">
        <i class="fa fa-question-circle fa-2x"></i>
        <span class="nav-text">
            Website Utility Page
        </span>
      </a>
      <div class="collapse" id="utils" style="height: 0px;">
        <ul class="nav">
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('utils/faq')"><a routerLink="/utils/faq"><span class="span-text">FAQ</span></a></li>
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('utils/terms')"><a routerLink="/utils/terms" ><span class="span-text">Term &amp; Condition</span></a></li>
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('utils/privacy')"><a routerLink="/utils/privacy"><span class="span-text">Privacy Policy</span></a></li>
        </ul>
      </div>
    </li>
    <li class="has-subnav" routerLinkActive="active-link" *ngIf="allowAccessTo('articles') || allowAccessTo('articles/types')">
      <a href="#" data-toggle="collapse" data-target="#articles" data-parent="#sidenav01" class="collapsed">
        <i class="fa fa-newspaper-o fa-2x"></i>
        <span class="nav-text">
            Articles
        </span>
      </a>
      <div class="collapse" id="articles" style="height: 0px;">
        <ul class="nav">
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('articles')"><a routerLink="/articles"><span class="span-text">All Articles</span></a></li>
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('articles/types')"><a routerLink="/articles/types" ><span class="span-text">Article Types</span></a></li>
        </ul>
      </div>
    </li>
    <li class="has-subnav" routerLinkActive="active-link" *ngIf="allowAccessTo('users/roles') || allowAccessTo('permission/paths')">
      <a href="#" data-toggle="collapse" data-target="#permissions" data-parent="#sidenav01" class="collapsed">
        <i class="fa fa-expeditedssl fa-2x"></i>
        <span class="nav-text">
            Permissions
        </span>
      </a>
      <div class="collapse" id="permissions" style="height: 0px;">
        <ul class="nav">
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('users/roles')">
            <a routerLink="/users/roles"><span class="span-text">Roles</span></a>
          </li>
          <li routerLinkActive="active-sub-link" *ngIf="allowAccessTo('permission/paths')">
            <a routerLink="/permission/paths"><span class="span-text">Paths</span></a>
          </li>
        </ul>
      </div>
    </li>

    <li routerLinkActive="active-link">
      <a routerLink="/settings">
        <i class="fa fa-cog fa-2x"></i>
        <span class="nav-text">
            Settings
        </span>
      </a>
    </li>

  </ul>
</nav>