.change-plan {
  font-family: 'Muli Bold';
}

.change-plan .date {
  color: #3a6e9c;
}

.change-plan .payment, .change-plan .planGroups {
  display: inline-block;
  width: auto;
  cursor: pointer;
}

.change-plan .btn-group-plan button {
  border: none;
  background: none;
  color: #fe5000;
  cursor: pointer;
  box-shadow: none;
  width: auto;
  margin: 0 5px;
  padding: 0;
  min-height: auto;
}

.change-plan .btn-group-plan .dropdown-menu {
  padding: 0;
}

.change-plan .btn-group-plan .dropdown-menu .dropdown-item {
  color: #fe5000;
  cursor: pointer;
}

.change-plan .btn-group-plan .dropdown-menu .dropdown-item.active {
  background-color: #f1f1f1;
}
