.change-plan {
  font-family: 'Muli Bold';
  .date {
    color: #fe5000;
  }
  .payment, .planGroups {
    display: inline-block;
    width: auto;
    cursor: pointer;
  }
  .btn-group-plan {
    button {
      border: none;
      background: none;
      color: #fe5000;
      cursor: pointer;
      box-shadow: none;
      width: auto;
      margin: 0 5px;
      padding: 0;
      min-height: auto;
      text-transform: capitalize;
    }
    .dropdown-toggle::after{
      margin-top: -4px;
    }
    .dropdown-menu {
      padding: 0;
      .dropdown-item {
        color: #fe5000;
        cursor: pointer;
        &.active {
          background-color: #f1f1f1;
        }
      }
    }
  }

}
.change-plan-mobile{
  width: 100%;
  .label-item{
    width: 128px;
    text-align: right;
    float: left;
    padding-right: 25px;
  }
  span.change-plan{
    float: left;
    width: calc(100% - 128px);
    &.text-plan{
      color: #adadad;
      font-family: "Muli";
    }
    .btn-group-plan{
      width: 100%;
      button{
        width: 100%;
        text-align: center;
        &:after{
          float: right;
          margin-top: 10px;
        }
      }
    }
  }
}