<div class="text-left change-plan hidden-xs-down">
  {{ 'lbl.cart.plan_disclaimer_1' | translate }}
  <div class="btn-group btn-group-plan">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ activeGroup.name }}
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" *ngFor="let group of planGroups" (click)="changeGroup(group, item)" [ngClass]="{'active': group.name === activeGroup.name}">{{group.name}}</a>
    </div>
  </div>
  {{ 'lbl.cart.plan_disclaimer_2' | translate }}

  <div class="btn-group btn-group-plan">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ resetPayment ? '-- Choose Payment Type--' : item.plan.PlanType.name }}
      </button>
    <div class="dropdown-menu">
      <!--<a class="dropdown-item" (click)="changePayment(0, item)">{{ 'lbl.cart.default_payment_option' | translate }}</a>-->
      <a class="dropdown-item" *ngFor="let payment of activeGroup.item" (click)="changePayment(payment, item)" [ngClass]="{'active': payment.sku === item.plan.sku}">{{payment.PlanType.name}}</a>
    </div>
  </div>
  {{ 'lbl.cart.plan_disclaimer_3' | translate }} <span class="date"> {{deliveryDate | date:"dd MMMM yyyy"}}</span><br>
  {{ 'lbl.cart.plan_disclaimer_4' | translate }}
</div>

<div class="change-plan-mobile hidden-sm-up">
  <div class="label-item"><strong>{{ 'lbl.cart.shave_plan' | translate }}</strong></div>
  <span class="change-plan">
    <div class="btn-group btn-group-plan">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ activeGroup.name }}
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" *ngFor="let group of planGroups" (click)="changeGroup(group, item)" [ngClass]="{'active': group.name === activeGroup.name}">{{group.name}}</a>
      </div>
    </div>
  </span>
</div>
<div class="change-plan-mobile hidden-sm-up ">
  <div class="label-item"><strong>{{ 'lbl.cart.billing' | translate }}</strong></div>
  <span class="change-plan">
    <div class="btn-group btn-group-plan">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ resetPayment ? '-- Choose Payment Type--' : item.plan.PlanType.name }}
        </button>
      <div class="dropdown-menu">
        <!--<a class="dropdown-item" (click)="changePayment(0, item)">{{ 'lbl.cart.default_payment_option' | translate }}</a>-->
        <a class="dropdown-item" *ngFor="let payment of activeGroup.item" (click)="changePayment(payment, item)" [ngClass]="{'active': payment.sku === item.plan.sku}">{{payment.PlanType.name}}</a>
      </div>
    </div>
  </span>
</div>
<div class="change-plan-mobile hidden-sm-up ">
  <div class="label-item"><strong>{{ 'lbl.cart.billing_starts' | translate }}</strong></div>
  <span class="change-plan text-plan">{{deliveryDate | date:"dd MMMM yyyy"}}</span>
</div>