<div class="payment mainWrap clearfix" *ngIf="this.cart && this.cart.length > 0">

  <!-- payment method -->
  <div class="row payment-method" [hidden]="1 === 1">
    <div class="col-md-12 col-12 credit-card" [hidden]="!(paymentMethod === 'stripe')">
      <form (ngSubmit)="cardForm.valid" [formGroup]="cardForm" id="cardForm" novalidate #f="ngForm">
        <!-- Name -->
        <div class="form-group" [ngClass]="{'has-danger': f.submitted && (!cardForm.controls.cardName.valid || (resError && resError.param === 'name'))}">
          <input type="text" id="cardName" name="cardName" placeholder="{{ 'payment.payment_details.card.name.place_holder' | translate }}"
            class="form-control" formControlName="cardName" data-stripe="name" autofocus>
        </div>
        <!-- Card Number -->
        <div class="form-group form-group-cardNumber" [ngClass]="{'has-danger': f.submitted && (!cardForm.controls.cardNumber.valid || (resError && resError.param === 'number'))}" #cardNumber>
          <input type="password" id="cardNumber" name="cardNumber" placeholder="{{ 'payment.payment_details.card.number.place_holder' | translate }}"
            formControlName="cardNumber" class="form-control" data-stripe="number" inputNumber>
        </div>
        <!-- Expiry-->
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <div class="form-group pr-2" [ngClass]="{'has-danger': f.submitted && (!cardForm.controls.expiry.valid ||
                (resError && (resError.param === 'exp_month' || resError.param === 'exp_year') ))}">
                <input type="text" id="expiry" id="expiry" name="expiry" placeholder="{{ 'payment.payment_details.card.expiry.place_holder' | translate }}"
                  formControlName="expiry" class="form-control" data-stripe="exp">
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group" [ngClass]="{'has-danger': f.submitted && (!cardForm.controls.cvc.valid || (resError && resError.param === 'cvc'))}">
              <input type="password" id="cvc" name="cvc" placeholder="{{ 'payment.payment_details.card.code.place_holder' | translate }}" formControlName="cvc"
                class="form-control" data-stripe="cvc">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- payment method -->



  <!-- Roadshow Details -->
  <div class="row customer-details">
    <div class="col-md-12 col-12">
      <h4 class="text-center heading-top">{{ 'payment.roadshow_details.heading' | translate}}</h4>
      <form [formGroup]='roadshowDetailsForm' #fRoadshowDetailsForm='ngForm' novalidate (ngSubmit)='roadshowDetailsForm.valid'>
        <div class="row">
          <label class="col-md-12 label-input pt-0" for="input-first-name">{{ 'login.channelType.label' | translate }}*</label>
          <div class="col-md-12">
            <div class="form-group form-group-cus" [ngClass]="{'has-danger': fRoadshowDetailsForm.submitted && !roadshowDetailsForm.controls.channelType.valid}">
              <select (change)="changeValue();" onchange="changeColor();" class="form-control" id="select-channelType" formControlName="channelType" name="channelType" required>
                <option [value]="null" hidden disabled selected-custom [attr.selected]="true"><span class="text-danger">- {{ 'login.channelType.label' | translate }} -</span></option>
                <option value="Event">{{ 'channel_type.event' | translate }}</option>
                <option value="Streets">{{ 'channel_type.streets' | translate }}</option>
                <option value="B2B">{{ 'channel_type.b2b' | translate }}</option>
                <option value="RES">{{ 'channel_type.res' | translate }}</option>
              </select>
              <span *ngIf="fRoadshowDetailsForm.submitted && !roadshowDetailsForm.controls.channelType.valid" class="form-control-feedback">
                {{ 'login.channelType.error_message.empty' | translate }}
              </span>
            </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-danger': fRoadshowDetailsForm.submitted && !roadshowDetailsForm.controls.eventLocationCode.valid}">
          <label for="input-email">{{ 'login.eventLocationCode.label' | translate }}*</label>
          <input *ngIf="currentCountry === 'SGP' && roadshowDetailsForm.controls.channelType.value === 'Event'" type="text" class="form-control shave2u-form-control" placeholder="{{ 'login.eventLocationCode.placeholder' | translate }}"
            id="input-eventLocationCode" formControlName="eventLocationCode" appSpecialCharacter>
          <input *ngIf="currentCountry === 'SGP' && roadshowDetailsForm.controls.channelType.value !== 'Event'" type="text" class="form-control shave2u-form-control" placeholder="{{ 'login.eventLocationCode.placeholder' | translate }}"
          id="input-eventLocationCode" formControlName="eventLocationCode" appSpecialCharacter>
          <input *ngIf="currentCountry !== 'SGP' && roadshowDetailsForm.controls.channelType.value === 'Event'" type="text" class="form-control shave2u-form-control" placeholder="{{ 'login.eventLocationCode.placeholder' | translate }}"
            id="input-eventLocationCode" formControlName="eventLocationCode" inputNumber>
          <input *ngIf="currentCountry !== 'SGP' && roadshowDetailsForm.controls.channelType.value !== 'Event'" type="text" class="form-control shave2u-form-control" placeholder="{{ 'login.eventLocationCode.placeholder' | translate }}"
            id="input-eventLocationCode" formControlName="eventLocationCode" inputAlphabet>
          <span *ngIf="fRoadshowDetailsForm.submitted && roadshowDetailsForm.controls.eventLocationCode.errors && roadshowDetailsForm.controls.eventLocationCode.errors.required" class="form-control-feedback">
            {{ 'login.eventLocationCode.error_message.empty' | translate }}
          </span>
          <span *ngIf="roadshowDetailsForm.controls.channelType.value === 'Event' && fRoadshowDetailsForm.submitted && roadshowDetailsForm.controls.eventLocationCode.errors && roadshowDetailsForm.controls.eventLocationCode.errors.maxLength && !roadshowDetailsForm.controls.eventLocationCode.errors.number" class="form-control-feedback">
            {{ 'msg.validation.maxDigits' | translate:{value: '5'} }}
          </span>
          <span *ngIf="roadshowDetailsForm.controls.channelType.value === 'Event' && fRoadshowDetailsForm.submitted && roadshowDetailsForm.controls.eventLocationCode.errors && roadshowDetailsForm.controls.eventLocationCode.errors.number" class="form-control-feedback">
            {{ 'msg.validation.number' | translate }}
          </span>
          <span *ngIf="roadshowDetailsForm.controls.channelType.value !== 'Event' && fRoadshowDetailsForm.submitted && roadshowDetailsForm.controls.eventLocationCode.errors && roadshowDetailsForm.controls.eventLocationCode.errors.maxLength && !roadshowDetailsForm.controls.eventLocationCode.errors.alphabet" class="form-control-feedback">
            {{ 'msg.validation.maxlength' | translate:{value: '5'} }}
          </span>
          <span *ngIf="currentCountry !== 'SGP' && roadshowDetailsForm.controls.channelType.value !== 'Event' && fRoadshowDetailsForm.submitted && roadshowDetailsForm.controls.eventLocationCode.errors && roadshowDetailsForm.controls.eventLocationCode.errors.minLength && !roadshowDetailsForm.controls.eventLocationCode.errors.alphabet" class="form-control-feedback">
            {{ 'msg.validation.minlength' | translate:{value: '4'} }}
          </span>
          <span *ngIf="currentCountry === 'SGP' && roadshowDetailsForm.controls.channelType.value !== 'Event' && fRoadshowDetailsForm.submitted && roadshowDetailsForm.controls.eventLocationCode.errors && roadshowDetailsForm.controls.eventLocationCode.errors.minLength && !roadshowDetailsForm.controls.eventLocationCode.errors.alphabet" class="form-control-feedback">
            {{ 'msg.validation.minlength_spg' | translate:{value: '4'} }}
          </span>
          <span *ngIf="roadshowDetailsForm.controls.channelType.value !== 'Event' && fRoadshowDetailsForm.submitted && roadshowDetailsForm.controls.eventLocationCode.errors && roadshowDetailsForm.controls.eventLocationCode.errors.alphabet" class="form-control-feedback">
            {{ 'msg.validation.alphabet' | translate }}
          </span>
        </div>
        
        <p class="text-center mt-4">
          <app-alert [data]="resError"></app-alert>
          <!-- To trigger submit form -->
          <button type="submit" [hidden]= "1===1" #submitRoadshowDetailsForm>{{ 'btn.continue' | translate }}</button>
        </p>
      </form>
    </div>
  </div>
  <!--/ Roadshow Details-->

  <!-- action -->
  <div class="group-btn">
    <!-- For alacartes checkout -->
    <a (click)="submitRoadshowDetailsForm.click();nextTo()"
      class="btn btn-primary shave2u-btn-primary btn-nextTo" [attr.disabled]="(!cart || (cart && cart.length) < 1) ? true : null">{{ 'btn.confirm' | translate}}</a>
  </div>
  <!-- End product list -->
</div>