<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Change Avatar</h4>
      </div>
      <div class="modal-body">
        <app-alert></app-alert>
        <div class="drop-drag-container">
          <div class="panel panel-default">
            <div class="panel-body">
              <!-- Drop Zone -->
              <div class="upload-drop-zone" id="drop-zone">
                <div class="drop-zone-content">
                  Drag and drop a photo
                  <p>or</p>
                  <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                    <div class="form-inline">
                      <div class="form-group">
                        <span class="btn btn-default shave2u-btn-default btn-file">
                            Upload from computer <input type="file" name="files" id="js-upload-files" (change)="fileChange($event)">
                        </span>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- Upload Finished -->
              <div class="js-upload-finished">
                <h3>Upload Finished</h3>
                <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-success">
                    <span class="badge alert-success pull-right">Success</span>image-01.jpg
                  </a>
                  <a href="#" class="list-group-item list-group-item-success">
                    <span class="badge alert-success pull-right">Success</span>image-02.jpg
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /container -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal-backdrop fade"></div>