.drop-drag-container {
  .upload-drop-zone {
    height: 150px;
    border-width: 2px;
    margin-bottom: 20px;
    border-style: dashed;
    border-color: #ccc;
    text-align: center;
    .drop-zone-content{
      margin-top: 20px;
      .btn-file {
        position: relative;
        overflow: hidden;
      }
      .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
      }
    }
  }

}