<div class="row mx-0">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title float-left">Manage FAQS</h4>
        <button type="button" class="btn btn-secondary btn-sm float-right" routerLink="/utils/faq/add" *ngIf="globalService.canCreate('utils/faq')">Add FAQ</button>
        <br>
        <br>
      </div>

      <div class="content table-responsive table-full-width">
        <div class="row mx-0 mb-3">
          <!-- <div class="col-md-6 text-right">
            <select name="cities" class="selectpicker form-control" (change)="onLimitChange($event)">
              <option [attr.value]="item" *ngFor="let item of [50, 100, 150, 200]" [attr.selected]="item == options.get('limit') ? true : null">Show {{item}} per page</option>
            </select>
          </div> -->
          <div class="col-md-6" *ngIf="!hasDenied">
            <label for="">Filter by Country</label>
            <select name="filterByCountry" class="selectpicker form-control" (change)="filterby('CountryId', $event.target.value)">
              <option [value]="'all'" [selected]="!options.get('CountryId')">All Countries</option>
              <option [value]="country.id" *ngFor="let country of countries" [selected]="country.id == options.get('CountryId') ? true : null">{{country.name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="content table-responsive table-full-width">
        <table class="table table-shaves mt-2">
          <thead>
            <tr>
              <th (click)="tableHearSort($event, faqs.rows, 'type','string')" class="table-sort">FAQ Type</th>
              <th (click)="tableHearSort($event, faqs.rows, 'name','string','Country')" class="table-sort th-country-code">Country</th>
              <th (click)="tableHearSort($event, faqs.rows, 'langCode','string')" class="table-sort th-country-code">Language Code</th>
              <th (click)="tableHearSort($event, faqs.rows, 'updatedAt','date')" class="table-sort th-total-staff">Updated At</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody *ngIf="!isLoading">
            <tr *ngFor="let item of faqs.rows">
              <td class="td-name">{{ item.type }}</td>
              <td class="td-email">{{ item.Country.name }}</td>
              <td class="td-email">{{ item.langCode }}</td>
              <td class="td-phone">{{ item.updatedAt | date:"dd/MM/yyyy" }}</td>
              <td class="td-actions">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Action
                  </button>
                  <div class="dropdown-menu actiion-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" routerLink="/utils/faq/edit/{{item.id}}" *ngIf="globalService.canEdit('utils/faq')">Edit</a>
                    <a class="dropdown-item" (click)="delete(item)">Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngIf="faqs.rows.length === 0">
              <td colspan="6" class="text-center">No Items</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->
</div>