<mat-dialog-content>
  <div class="dialog-content" [innerHTML]="data.content ? data.content : 'dialog.confirm.content' | translate"></div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" tabindex="1" class="btn btn-primary btn-pop-up shave2u-btn-primary btn-ok">OK</button>
</mat-dialog-actions>