button {
    min-height: 32px;
    max-width: 100px;
    &.btn-primary{
      margin-right: 10px;
    }
    &.btn-ok {
      margin: auto;
      max-width: 50%;
      max-height: 30px;
      padding: 0;
    }
}

.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #419641;
}

.dialog-content {
    max-width: 210px;
    text-align: center;
}
