<section class="panel panel-default" *ngIf="!isLoading">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Product Details</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <!-- edit form column -->
      <div class="col-md-12 product-info">
        <form #f='ngForm' novalidate (ngSubmit)='f.form.valid && doEditProduct()' [formGroup]="productForm">
          <div class="row">
            <div class="col-sm-6 form-group" [ngClass]="f.submitted && productForm.hasError('required', 'ProductTypeId') ? 'has-danger' : ''">
              <label class="form-control-label">Product Category (<span class="required">*</span>)</label>
              <div class="controls">
                <select class="form-control" id="select-ProductTypeId" name="ProductTypeId" formControlName="ProductTypeId" *ngIf="productTypes">
                  <option [value]="null" disabled>- Select product category -</option>
                  <option [value]="productType.id" *ngFor="let productType of productTypes">{{productType.name}}</option>
                </select>
              </div>
              <span class="form-control-feedback" *ngIf="f.submitted && productForm.hasError('required', 'ProductTypeId')">
                {{ 'msg.validation.required' | translate }}
              </span>
            </div>
            <div class="col-sm-6 form-group" [ngClass]="(productForm.hasError('maxlength', 'sku') || productForm.hasError('required', 'sku')) && f.submitted ? 'has-danger' : ''">
              <label class="form-control-label">Sku (<span class="required">*</span>)</label>
              <div class="controls">
                <input id="sku" name="sku" type="text" class="form-control" placeholder="Enter SKU" formControlName="sku">
              </div>
              <span class="form-control-feedback" *ngIf="productForm.hasError('required', 'sku') && f.submitted">
                {{ 'msg.validation.required' | translate }}
              </span>
              <span class="form-control-feedback" *ngIf="productForm.hasError('maxlength', 'sku') && f.submitted">
                {{ 'msg.validation.maxlength' | translate : {value: 10} }}
              </span>
            </div>
            <div class="col-sm-8 form-group" [ngClass]="productForm.hasError('required', 'slug') && f.submitted ? 'has-danger' : ''">
              <label class="form-control-label">Slug (<span class="required">*</span>)</label>
              <div class="controls">
                <input id="slug" name="slug" type="text" class="form-control" placeholder="Enter slug" formControlName="slug">
              </div>
              <span class="form-control-feedback" *ngIf="productForm.hasError('required', 'slug') && f.submitted">
                {{ 'msg.validation.required' | translate }}
              </span>
            </div>
            <div class="col-sm-4 form-group">
              <!-- <label class="form-control-label">Order</label>
              <div class="controls">
                <input id="order" name="order" type="text" class="form-control" placeholder="order"
                  formControlName="order">
              </div> -->
            </div>
            <div class="col-sm-3 form-group">
              <label class="form-control-label">Width</label>
              <div class="controls">
                <input id="width" name="width" type="text" class="form-control" placeholder="width" formControlName="width">
              </div>
            </div>
            <div class="col-sm-3 form-group">
              <label class="form-control-label">Long</label>
              <div class="controls">
                <input id="long" name="long" type="text" class="form-control" placeholder="long" formControlName="long">
              </div>
            </div>
            <div class="col-sm-3 form-group">
              <label class="form-control-label">Hight</label>
              <div class="controls">
                <input id="hight" name="hight" type="text" class="form-control" placeholder="hight" formControlName="hight">
              </div>
            </div>
            <div class="col-sm-3 form-group">
              <label class="form-control-label">Weight</label>
              <div class="controls">
                <input id="weight" name="weight" type="text" class="form-control" placeholder="weight" formControlName="weight">
              </div>
            </div>
            <div class="add-images-products" *ngIf="addImagesFlag">
              <div class="col-sm-12 form-group" [ngClass]="productForm.hasError('required', 'images') ? 'has-danger' : ''">
                <label class="form-control-label">Select File (<span class="required">*</span>)</label>
                <div class="controls">
                  <multiple-file-upload [group]="productForm" [controlName]="'images'" [productID]="productInfo.id"></multiple-file-upload>
                </div>
                <span class="form-control-feedback" *ngIf="productForm.hasError('required', 'images')">
                  {{ 'msg.validation.requiredMultiFile' | translate }}
                </span>

              </div>
              <hr>
            </div>
            <!-- /.add-images-products -->
            <div class="col-sm-6 form-group" *ngIf="!addImagesFlag">
              <button type="button" class="btn btn-secondary btn-sm float-left" (click)="addImages()">Add Images </button>
            </div>
            <div class="col-sm-12 form-group">
              <hr>
              <!-- Product Country -->
              <form #fcountry='ngForm' novalidate (ngSubmit)='fcountry.form.valid && addProductCountry(selectCountryForm.value.countryId)'
                [formGroup]="selectCountryForm">
                <div class="row mx-0">
                  <div class="col-sm-4 form-group" [ngClass]="fcountry.submitted && selectCountryForm.hasError('required', 'countryId') ? 'has-danger' : ''">
                    <label class="form-control-label">Add product to a country to adjust its pricing</label>
                    <div class="controls">
                      <select class="form-control form-control-inline" id="select-countryId" name="countryId" formControlName="countryId" *ngIf="countries">
                        <option [value]="null" disabled [attr.selected]="1==1">- Select country -</option>
                        <option [value]="country.id" *ngFor="let country of countries">{{country.name}}</option>
                      </select>
                      <button type="submit" class="btn btn-secondary btn-sm">Add a Country</button>
                    </div>
                    <span class="form-control-feedback" *ngIf="fcountry.submitted && selectCountryForm.hasError('required', 'countryId')">
                      {{ 'msg.validation.required' | translate }}
                    </span>
                  </div>
                </div>
              </form>
              <div formArrayName="productCountry">
                <div class="card mb-3" *ngFor="let prCountryForm of productForm.controls.productCountry.controls; let i=index">
                  <div class="card-header">
                    <h5 class="panel-title pull-left country-name">
                      {{prCountryForm.get('CountryName').value}}
                    </h5>
                    <button class="btn btn-default pull-right" type="button" (click)="removeProductCountry(i)" *ngIf="productForm.controls.productCountry.controls.length > 1">Remove</button>
                    <div class="clearfix"></div>
                  </div>
                  <div class="card-block" [formGroupName]="i">
                    <product-country-form [productCountryForm]="productForm.controls.productCountry.controls[i]" [parentOnActive]="f.submitted"></product-country-form>
                  </div>
                </div>
              </div>
              <!-- / Product Country -->
              <hr>
              <!-- Product Translate -->
              <form #ftranslate='ngForm' novalidate (ngSubmit)='ftranslate.form.valid && addProductTranslate(selectTranslateForm.value.langCode)'
                [formGroup]="selectTranslateForm">
                <div class="row mx-0">
                  <div class="col-sm-4 form-group" [ngClass]="ftranslate.submitted && selectTranslateForm.hasError('required', 'langCode') ? 'has-danger' : ''">
                    <label class="form-control-label">Add a translation to this product</label>
                    <div class="controls">
                      <select class="form-control form-control-inline" id="select-langCode" name="langCode" formControlName="langCode" *ngIf="languageCodeList">
                        <option [value]="null" disabled [attr.selected]="1==1">- Select language -</option>
                        <option [value]="language | uppercase" *ngFor="let language of languageCodeList">{{language | uppercase}}</option>
                      </select>
                      <button type="submit" class="btn btn-secondary btn-sm">Add a Translate</button>
                    </div>
                    <span class="form-control-feedback" *ngIf="ftranslate.submitted && selectTranslateForm.hasError('required', 'langCode')">
                      {{ 'msg.validation.required' | translate }}
                    </span>
                  </div>
                </div>
              </form>
              <div formArrayName="productTranslate">
                <div class="card mb-3" *ngFor="let prTranslateForm of productForm.controls.productTranslate.controls; let k=index">
                  <div class="card-header">
                    <h5 class="panel-title pull-left langCode-name">
                      {{prTranslateForm.get('langCode').value | uppercase}}
                    </h5>
                    <button class="btn btn-default pull-right" (click)="removeProductTranslate(k)" *ngIf="(prTranslateForm.get('langCode').value | uppercase)  !== ('en' | uppercase)">Remove</button>
                    <div class="clearfix"></div>
                  </div>
                  <div class="card-block" [formGroupName]="k">
                    <h6 class="text-uppercase">Product Translate</h6>
                    <div class="px-5">
                      <product-translate-form [productTranslateForm]="prTranslateForm" [parentOnActive]="f.submitted"></product-translate-form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- / Product Translate -->
              <hr>
            </div>
            <div class="col-sm-12 form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="isFeatured"> Is Featured
              </label>
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="isFeaturedProduct"> Is Featured Product
              </label>
            </div>
            <div class="col-sm-12 form-check">
              <label class="form-check-label">
               <input type="checkbox" class="form-check-input" formControlName="isFeaturedProduct">
               Is Featured Product
             </label>
           </div>
            <div class="col-sm-12">
              <app-alert></app-alert>
            </div>
            <div class="col-sm-6 form-group">
              <button type="button" class="btn btn-secondary btn-sm" (click)="gotoList()">Cancel</button>
              <button type="submit" class="btn btn-primary shave2u-btn-primary">Save Changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>