<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cancel {{ title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <app-alert></app-alert>
        <div class="user-form">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <!-- edit form column -->
                <div class="loading-spinner" *ngIf="isLoading"><i class="fa fa-spinner fa-spin"></i></div>
                <div class="col-md-12 user-info" *ngIf="!isLoading">
                  <form #f='ngForm' novalidate (ngSubmit)='f.form.valid && doEditSubscriber()' [formGroup]="subscriberForm">
                    <app-alert></app-alert>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group" [ngClass]="f.submitted && subscriberForm.controls.cancellationReason.hasError('required') ? 'has-danger' : ''">
                          <label class="form-control-label" for="input-first-name">Cancellation Reason</label>
                          <input type="text" class="form-control" id="input-first-name" placeholder="Enter Cancellation Reason"
                            formControlName="cancellationReason" name="cancellationReason">
                          <span class="form-control-feedback" *ngIf="f.submitted && subscriberForm.controls.cancellationReason.hasError('required')">
                              {{ 'msg.validation.required' | translate }}
                          </span>
                        </div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary shave2u-btn-primary">Save Changes</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /container -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal-backdrop fade"></div>