<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a Customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <app-alert></app-alert>
        <div class="user-form">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <!-- edit form column -->
                <div class="col-md-12 user-info">
                  <form #f='ngForm' novalidate (ngSubmit)='f.form.valid && doAddSalesman()' [formGroup]="userForm">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="form-control-label" for="input-first-name">First name</label>
                              <input type="text" class="form-control" id="input-first-name" placeholder="Enter first name"
                                formControlName="firstName" name="firstName">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="input-last-name">Last name</label>
                              <input type="text" class="form-control" id="input-last-name" placeholder="Enter last name"
                                formControlName="lastName" name="lastName">
                            </div>
                          </div>
                        </div>
                        <div class="form-group" [ngClass]="f.submitted && (userForm.controls.email.hasError('required') || userForm.controls['email'].hasError('pattern')) ? 'has-danger' : 'correctInput'">
                          <label class="form-control-label">Email (<span class="required">*</span>)</label>
                          <div class="controls">
                            <input id="email" name="email" type="text" class="form-control" placeholder="Email address" formControlName="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$">
                          </div>
                          <span class="form-control-feedback" *ngIf="f.submitted && userForm.controls.email.hasError('required')">
                                {{ 'msg.validation.required' | translate }}
                              </span>
                          <span class="form-control-feedback" *ngIf="f.submitted && userForm.controls['email'].hasError('pattern')">
                                {{ 'msg.validation.email' | translate }}
                          </span>
                        </div>
                        <div class="row">
                          <!--<div class="col-sm-6 form-group" *ngIf="adminIds && (globalService.isSupperAdmin() || globalService.isAdmin())" [ngClass]="f.submitted && userForm.controls.AdminId.hasError('required') ? 'has-danger' : ''">
                            <label class="form-control-label">Admin ID (<span class="required">*</span>)</label>
                            <div class="controls">
                              <select class="form-control" id="select-AdminId" name="AdminId" formControlName="AdminId">
                                <option [value]="null" disabled [attr.selected]="1==1">- Select a Admin Id -</option>
                                <option [value]="adminId.id" *ngFor="let adminId of adminIds.rows">{{adminId.firstName}} {{adminId.lastName}}</option>
                              </select>
                            </div>
                             <span class="form-control-feedback" *ngIf="f.submitted && userForm.controls.AdminId.hasError('required')">
                                {{ 'msg.validation.required' | translate }}
                            </span>
                          </div>-->
                          <div class="col-sm-6 form-group" *ngIf="globalService.isSupperAdmin()" [ngClass]="f.submitted && userForm.controls.CountryId.hasError('required') ? 'has-danger' : ''">
                            <label class="form-control-label">Country (<span class="required">*</span>)</label>
                            <div class="controls">
                              <select class="form-control" id="select-country" name="CountryId" formControlName="CountryId">
                                <option [value]="null" disabled [attr.selected]="1==1">- Select a Country - </option>
                                <option [value]="country.id" *ngFor="let country of countries">{{country.name}}</option>
                              </select>
                            </div>
                            <span class="form-control-feedback" *ngIf="f.submitted && userForm.controls.CountryId.hasError('required')">
                                {{ 'msg.validation.required' | translate }}
                            </span>
                          </div>
                        </div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary shave2u-btn-primary">Save Changes</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /container -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal-backdrop fade"></div>