<!--<h2 md-dialog-title class="md-dialog-title">{{data.title ? data.title : 'dialog.confirm.title' | translate }}</h2>-->
<mat-dialog-content>
  <!-- {{data.content ? data.content : 'dialog.confirm.content' | translate }} -->
  <div class="dialog-content" [innerHTML]="data.content ? data.content : 'dialog.confirm.content' | translate"></div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" tabindex="1" class="btn btn-primary btn-pop-up shave2u-btn-primary">OK</button>
  <button mat-button mat-dialog-close tabindex="-1" class="btn btn-default btn-cancel-popup btn-pop-up shave2u-btn-secondary">Cancel</button>
</mat-dialog-actions>