button {
  min-height: 32px;
  max-width: 100px;
  margin-right: 10px;
  margin: auto;
  max-height: 30px;
  padding: 0;
  font-size: 14px;
  &.btn-primary{
    margin-right: 10px;
  }
}

.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #419641;
}

.dialog-content {
  max-width: 210px;
  text-align: center;
}
