
.file-input {
  .file-preview {
    background: #F8F8F8;
    border: 3px dashed #DDD;
    padding: 5px;
    display: flex;
    margin-bottom: 5px;
    .file-drop-disabled {
      margin: auto;
    }
  }
  ul {
    li {
      display: inline-block;
    }
  }
  .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
  }
  .file-preview-frame {
    position: relative;
    display: table;
    margin: 8px;
    // box-shadow: 1px 1px 5px 0 #a2958a;
    padding: 6px;
    float: left;
    text-align: center;
    .file-content {
      // height: 100px;
      .file-preview-image {
        font: 40px Impact,Charcoal,sans-serif;
        color: green;
        vertical-align: middle;
      }
    }
    .file-thumbnail-footer {
      height: 70px;
      .file-footer-caption {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100px;
        text-align: center;
        padding-top: 4px;
        font-size: 11px;
        color: #777;
        margin: 5px auto;
      }
      .file-actions {
        margin-top: 15px;
        .file-footer-buttons {
          float: right;
        }
      }
    }
    .file-actions {
      &.fileinput-remove {
        position: absolute;
        top: 7px;
        right: -30px;
        opacity: 0.6;
      }
    }

  }
  .file-drop-area {
    .item {
      border-radius: 8px;
      padding: 15px 20px;
      &.item-adding {
        .text-inner {
          height: 100px;
        }
      }
    }
  }

  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
  .fa-button-upload {
    font-size: 40px;
    color: silver;
  }

}