<div class="file-input" [formGroup]="group">
  <div class="file-preview">
    <div class="file-drop-disabled">
      <div *ngIf="file && file.name">
        <div class="file-preview-thumbnails">
          <div class="file-preview-frame" id="preview-{{file.index}}">
            <div class="file-content">
              {{file.name}}
            </div>
            <div class="file-actions close fileinput-remove" (click)="removeAddCase()"><i class="fa fa-remove"></i></div>
          </div>
        </div>
      </div>
      <div class="file-drop-area click-able" *ngIf="show">
        <div class="item item-adding">
          <div class="text-contain text-center-vertical">
            <div class="text-inner">
              <span class="btn btn-default btn-file">
                <a class="link-text-underline"><i class="fa fa-plus-circle mr-2 fa-button-upload" *ngIf="show"></i></a>
                <div>
                  <input type="file" (change)="fileChange($event)" formControlName="{{controlName}}" name="{{controlName}}"
                    class="inputFileUpload" *ngIf="show" accept=".csv">
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>