<div class="row mx-0">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title float-left">Manage Roles</h4>
        <button type="button" class="btn btn-secondary btn-sm float-right" routerLink="/users/roles/add" *ngIf="globalService.canCreate('users/roles')">Add A Role</button>
        <br>
        <br>
      </div>
      
      <div class="content table-responsive table-full-width">
        <div class="row mx-0">
          <!--<div class="col-md-3">
            <select name="cities" class="selectpicker form-control" (change)="onLimitChange($event)">
              <option [attr.value]="item" *ngFor="let item of ['50', '100', '150', '200']" [attr.selected]="item == options.get('limit') ? true : null">Show {{item}} per page</option>
            </select>
          </div>
          <div class="col-md-3">
            <select name="cities" class="selectpicker form-control" (change)="sortByName($event.target.value)">
              <option value="ASC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) !== 'firstName_DESC' ? true : null">Sort: A-Z</option>
              <option value="DESC" [attr.selected]="replaceSpecialChar(options.get('orderBy')) == 'firstName_DESC' ? true : null">Sort: Z-A</option>
            </select>
          </div>
          <div class="col-md-3 filter-field">
            <span class="filter-field-label">Filter by Email</span>
            <input id="filterByEmail" name="filterByEmail" type="text" class="form-control" placeholder="Filter by Email" [ngModel]="options.get('email')"
              (input)="customizeFilterBy('email', $event)">
          </div>
          <div class="col-md-3">
            <select name="filterByProductType" class="selectpicker form-control" (change)="filterby('isActive', $event.target.value)">
              <option [value]="'all'" >Show: All Status</option>
              <option value="1" [attr.selected]="options.get('isActive') == '1' ? true : null">Active</option>
              <option value="0" [attr.selected]="options.get('isActive') == '0' ? true : null">Inactive</option>
            </select>
          </div>-->
        </div>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)" ></pagination>
        <!-- /pagging -->
        <table class="table table-shaves mt-2">
          <thead>
            <tr>
              <th>Name</th>
              <th class="">Description</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="!isLoading">
            <tr *ngFor="let item of roleList.rows">
              <td class="td-name">
                {{ item.roleName }}
              </td>
              <td class="td-email">
                {{ item.description }}
              </td>
              <td class="td-actions">               
                    <a class="btn btn-sm float-right btn-secondary" routerLink="/users/roles/edit/{{item.id}}" *ngIf="globalService.canEdit('users/roles')">Edit</a>
              </td>
            </tr>
            <tr *ngIf="roleList.rows.length === 0"><td colspan="5" class="text-center">No Items</td></tr>
          </tbody>
        </table>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"
          [showing]="false"></pagination>
        <!-- /pagging -->
      </div>
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->
</div>

<!-- add-user-modal -->
<add-user-modal (hasChange)="hasChangeUser($event)"></add-user-modal>
<!-- edit-user-modal -->
<edit-user-modal (hasChange)="hasChangeUser($event)"></edit-user-modal>