<div class="row mx-0">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title float-left">Manage Countries</h4>
        <button type="button" class="btn btn-secondary btn-sm float-right" routerLink="/countries/add" *ngIf="globalService.canCreate('countries')">Add A Country</button>
        <br>
        <br>
      </div>

      <div class="content table-responsive table-full-width">
        <div class="row mx-0">
          <div class="col-md-4" *ngIf="totalItems > 50">
            <select name="cities" class="selectpicker form-control" (change)="onLimitChange($event)">
              <option [attr.value]="item" *ngFor="let item of [50, 100, 150, 200]" [attr.selected]="item == options.limit ? true : null">Show {{item}} per page</option>
            </select>
          </div>
          <!--<div class="col-md-6">
            <select name="cities" class="selectpicker form-control" (change)="sortByName($event.target.value)">
              <option value="ASC" [attr.selected]="orderBy == 'ASC' ? true : null">Sort: A-Z</option>
              <option value="DESC" [attr.selected]="orderBy == 'DESC' ? true : null">Sort: Z-A</option>
            </select>
          </div>-->
        </div>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"></pagination>
        <!-- /pagging -->
        <app-button-ai [active]="mutiaction" apikey="admin-countries/change-status" [apivalue]="{'actionids':'countriesIds','actionstatus':'isActive'}"></app-button-ai>
        <table class="table table-shaves mt-2">
          <thead>
            <tr>
              <th width="50" class="text-center">
                <input type="checkbox" id="all" value="all" idchecked="" (change)="checkboxchecked($event ,'all')" class="actionactive checkboxall">
              </th>
              <th (click)="tableHearSort($event, countryList.rows, 'name','string')" class="table-sort">Name</th>
              <th (click)="tableHearSort($event, countryList.rows, 'code','string')" class="table-sort th-country-code">Country Code</th>
              <th (click)="tableHearSort($event, countryList.rows, 'currencyCode','string')" class="table-sort th-currency">Currency</th>
              <th (click)="tableHearSort($event, countryList.rows, 'totalStaffs','number')" class="table-sort text-right th-total-staff">Total Staffs</th>
              <th (click)="tableHearSort($event, countryList.rows, 'companyName','string')" class="table-sort text-right th-company-name">Company Name</th>
              <th class="text-right th-company-name">Active</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="!isLoading">
            <tr *ngFor="let item of countryList.rows">
              <td width="50" class="text-center">
                <input type="checkbox" attr.id="{{item.id}}" value="{{item.id}}" (change)="checkboxchecked($event ,item.id)" class="actionactive">
              </td>
              <td class="td-name">
                {{ item.name }}
              </td>
              <td class="td-email">
                {{ item.code }}
              </td>
              <td class="td-phone">{{ item.currencyCode }}</td>
              <td class="text-right td-total-staff">{{ item.totalStaffs }}</td>
              <td class="text-right td-companyName">{{ item.companyName }}</td>

              <td class="text-right td-companyName" *ngIf="item.isActive">Active</td>
              <td class="text-right td-companyName" *ngIf="!item.isActive">Inactive</td>
              <td class="td-actions">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Action
                  </button>
                  <div class="dropdown-menu actiion-menu" aria-labelledby="dropdownMenuButton" *ngIf="globalService.canEdit('countries') || globalService.canDelete('countries')">
                    <a class="dropdown-item" routerLink="/countries/edit/{{item.id}}" *ngIf="globalService.canEdit('countries')">Edit</a>
                    <a class="dropdown-item" (click)="disableCountry(item.id)" *ngIf="item.isActive && globalService.canDelete('countries')">Disable</a>
                    <a class="dropdown-item" (click)="enableCountry(item.id)" *ngIf="!item.isActive && globalService.canDelete('countries')">Enable</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngIf="countryList.rows.length === 0">
              <td colspan="6" class="text-center">No Items</td>
            </tr>
          </tbody>
        </table>
        <!-- pagging -->
        <pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [currentPage]="currentPage" [limit]="limit" (pageChange)="pageChange($event)"
          [showing]="false"></pagination>
        <!-- /pagging -->
      </div>
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->
</div>

<!-- add-country-modal -->
<!--<add-country-modal (hasChange)="hasChange($event)"></add-country-modal>-->
<!-- edit-country-modal -->
<!--<edit-country-modal (hasChange)="hasChange($event)"></edit-country-modal>-->