
<div id="loginPage" class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="login-inner">
          <form class="reset-pw-form" [formGroup]="resetPasswordForm" novalidate #f="ngForm" (ngSubmit)="resetPasswordForm.valid && doReset(resetPasswordForm.value)" *ngIf="stage === 'form'">
            <h2 class="text-center strong-7 mb-4" [hidden]="isActive">{{ 'lbl.reset_password.new_pw_header' | translate }}</h2>
            <h2 class="text-center strong-7 mb-4" [hidden]="!isActive">{{ 'lbl.reset_password.completeAccount' | translate }}</h2>
            <div class="text-center check-inbox-note">{{ 'lbl.reset_password.note_email' | translate:{value: email} }}</div>
            <app-alert></app-alert>
            <div class="row">
              <div class="col-sm-12 form-group" [ngClass]="f.submitted && ( resetPasswordForm.hasError('required', 'password') || resetPasswordForm.hasError('pattern', 'password')) ? 'has-danger' : ''">
                <p class="mt-3 mb-2">{{ 'lbl.reset_password.new_pw' | translate }}</p>
                <div class="input-password">
                  <input id="password" name="password" type="password" class="form-control"
                    formControlName="password" pattern="^(?=.*\d)(?=.*[a-zA-Z]).{6,}$" validateEqual="confirmPassword" reverse="true"
                    idShowHints="hints-input-password" validatePassword placeholder="{{ 'lbl.login.signup_form.placehdr_new_pw' | translate }}"
                    autofocus>
                  <span class="form-control-feedback mt-2" *ngIf="f.submitted && resetPasswordForm.hasError('required', 'password')">
                      {{ 'msg.validation.required' | translate:{value: 'msg.field.password' | translate} }}
                  </span>
                  <!-- <span class="form-control-feedback mt-2" *ngIf="f.submitted && resetPasswordForm.hasError('pattern', 'password')">
                    {{ 'msg.validation.password_format' | translate }}
                  </span> -->
                </div>
              </div>
              <div class="hints-password">
                <!-- <a class="heading" *ngIf="(resetPasswordForm.controls.password.errors && resetPasswordForm.controls.password.errors.validatePassword) || (resetPasswordForm.controls.confirmPassword.errors && resetPasswordForm.controls.confirmPassword.errors.validatePassword)"> -->
                <a class="heading" *ngIf="resetPasswordForm.controls.password.errors && resetPasswordForm.controls.password.errors.validatePassword">
                  <i class="fa fa-lock" aria-hidden="true"></i><span>{{ 'lbl.login.password_form.hints_heading' | translate}}</span>
                </a>
                <ul class="list-group" id="hints-input-password"></ul>
                <!-- <ul class="list-group" id="hints-input-confirmPassword"*ngIf="(!resetPasswordForm.controls.password.errors) && resetPasswordForm.controls.confirmPassword.errors"></ul> -->
              </div>
              <div class="col-sm-12 form-group" [ngClass]="!resetPasswordForm.controls.confirmPassword.valid && f.submitted ? 'has-danger' : ''">
                <p class="mb-2">{{ 'lbl.reset_password.confirm_pw' | translate }}</p>
                <div class="input-password">
                  <input id="confirmPassword" name="confirmPassword" type="password" class="form-control input-password"
                    formControlName="confirmPassword" validateEqual="password" reverse="false"
                    idShowHints="hints-input-confirmPassword" validatePassword placeholder="{{ 'lbl.login.signup_form.placehdr_re_enter_pw' | translate }}">
                  <span class="form-control-feedback mt-2" *ngIf="!resetPasswordForm.controls.confirmPassword.valid && f.submitted">
                      {{ 'msg.validation.password_not_match' | translate }}
                  </span>
                </div>
              </div>
            </div>
            <div class="group-button">
              <div class="text-center mt-4 mb-3">
                <button type="submit" class="btn btn-primary shave2u-btn-primary">{{ 'lbl.reset_password.btn_continue' | translate }}</button>
              </div>
            </div>
          </form>
          <!-- resend email -->
          <div *ngIf="stage === 'resend'" class="resend-email">
            <p class="text-center" *ngIf="!message">{{ 'lbl.reset_password.resend_email.note_activelink' | translate }}</p>
            <p class="text-center" *ngIf="!message">{{ 'lbl.reset_password.resend_email.note_nextstep' | translate }}</p>
            <p class="text-center" *ngIf="message">{{ 'lbl.reset_password.resend_email.token_expired' | translate }}</p>
            <p class="text-center mt-4"><button type="submit" class="btn btn-primary shave2u-btn-primary" (click)='reSendMail()'>{{ 'lbl.reset_password.resend_email.btn_resend' | translate }}</button></p>
          </div>
          <!-- ./reset success -->
          <!-- reset success -->
          <div *ngIf="stage === 'success'" class="reset-success">
            <div class="text-center mb-4"><img src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/tick-128.png" alt=""></div>
            <h5 class="text-center medium-text">{{ 'lbl.reset_password.success.note' | translate }}</h5>
            <p class="text-center mt-5"><button type="submit" class="btn btn-primary shave2u-btn-primary" (click)='continue()'>{{ 'lbl.reset_password.success.btn_continue' | translate }}</button></p>
          </div>
          <!-- ./reset success -->
        </div>
      </div>
    <div>
</div>