<div class="modal fade modal-shaves2u" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" *ngIf="action ===  'add'">{{ 'checkout.step_payment.heading_add' | translate }}</h5>
        <h5 class="modal-title" *ngIf="action ===  'edit'">{{ 'checkout.step_payment.heading_edit' | translate }}</h5>
      </div>
      <div class="modal-body">

        <div class="panel panel-default">
          <div class="panel-body adddress-info">
            <!-- <div class="row"> -->
              <div class="col-md-12 col-lg-12 px-0">
                <form (ngSubmit)="cardForm.valid && actionSubmit(cardForm.value, action)" [formGroup]="cardForm" class="cardForm" novalidate #f="ngForm" #cardNumberOnModal>
                  <!-- Name -->
                  <!-- <div class="form-group" [ngClass]="{'has-danger': f.submitted && (!cardForm.controls.cardName.valid || (resError && resError.param === 'name'))}">
                    <label class="control-label" for="username">{{ 'checkout.step_payment.card.name.label' | translate }}</label>
                    <input type="text" name="cardName" placeholder="{{ 'checkout.step_payment.card.name.place_holder' | translate }}"
                      class="form-control" formControlName="cardName" data-stripe="name" autofocus>
                    <span class="form-control-feedback " *ngIf="f.submitted && !cardForm.controls.cardName.valid">
                      {{ 'msg.validation.required' | translate:{value: 'Card Name'} }}
                    </span>
                    <span class="form-control-feedback " *ngIf="f.submitted && resError && resError.param === 'name'">
                      {{ resError.message | translate }}
                    </span>
                  </div> -->
                  <!-- Card Number -->
                  <div class="form-group form-group-cardNumber" [ngClass]="{'has-danger': f.submitted && (!cardForm.controls.cardNumber.valid || (resError && resError.param === 'number'))}">
                    <label class="control-label" for="card_number">{{ 'checkout.step_payment.card.number.label' | translate }}</label>
                    <input type="text" name="cardNumber" placeholder="{{ 'checkout.step_payment.card.number.place_holder' | translate }}" formControlName="cardNumber" class="form-control" data-stripe="number" inputNumber>
                    <span class="textbox-iconRight">
                      <img class="textbox-CardLogo" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/mastercard-logo.png" *ngIf="cardType === 'MASTERCARD'">
                      <img class="textbox-CardLogo" src="https://d8pi1a7qa1dfv.cloudfront.net/assets/images/visa-logo.png" *ngIf="cardType === 'VISA'">
                    </span>
                    <span class="form-control-feedback " *ngIf="f.submitted && cardForm.hasError('required', 'cardNumber')">
                      {{ 'msg.validation.required' | translate:{value: 'checkout.step_payment.card.number.label' | translate} }}
                      </span>
                    <span class="form-control-feedback " *ngIf="f.submitted && resError && resError.param === 'number'">
                      {{ resError.message | translate }}
                    </span>
                    <span class="form-control-feedback" *ngIf="f.submitted && cardForm.hasError('minLength', 'cardNumber')">
                      {{ 'msg.validation.card_number_length' | translate }}
                    </span>
                  </div>
                  <!-- Expiry-->
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label class="control-label" for="expiryMonth">{{ 'checkout.step_payment.card.expiry.label' | translate }}</label>
                        <div class="form-group pr-2" [ngClass]="{'has-danger': f.submitted && (!cardForm.controls.expiry.valid ||
                          (resError && (resError.param === 'exp_month' || resError.param === 'exp_year') ))}">
                          <input type="text" name="expiry" placeholder="{{ 'checkout.step_payment.card.expiry.place_holder' | translate }}"
                            formControlName="expiry" class="form-control" data-stripe="exp">
                          <span class="form-control-feedback " *ngIf="f.submitted && !cardForm.controls.expiry.valid">
                            {{ 'msg.validation.required' | translate:{value: 'checkout.step_payment.card.expiry.label' | translate} }}
                          </span>
                          <span class="form-control-feedback " *ngIf="f.submitted && resError && (resError.param === 'exp_year' || resError.param === 'exp_month')">
                            {{ resError.message | translate }}
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group" [ngClass]="{'has-danger': f.submitted && (!cardForm.controls.cvc.valid || (resError && resError.param === 'cvc'))}">
                        <label class="control-label" for="password_confirm">{{ 'checkout.step_payment.card.code.label' | translate }}
                          <i class="ml-2 icons icon-info click-able tooltip">
                            <span class="tooltiptext">{{ 'checkout.step_payment.card.code.tooltip' | translate }}</span>
                          </i>
                        </label>
                        <input type="password" name="cvc" placeholder="{{ 'checkout.step_payment.card.code.place_holder' | translate }}" formControlName="cvc"
                          class="form-control" data-stripe="cvc">
                        <span class="form-control-feedback " *ngIf="f.submitted && !cardForm.controls.cvc.valid">
                            {{ 'msg.validation.required' | translate:{value: 'CCV'} }}
                          </span>
                        <span class="form-control-feedback " *ngIf="f.submitted && resError && resError.param === 'cvc'">
                            {{ resError.message | translate }}
                          </span>
                      </div>
                    </div>
                    <div class="col-md-12 shave2u-make-default" *ngIf="enableSetDefault">

                      <div class="control-checkbox">
                        <input id="addressType" class="" type="checkbox" name="addressType" [checked]="isDefault" (change)="changeDefault($event)">
                        <label for="addressType"></label>
                        <label for="addressType" class="make_as_default_checkbox">{{ 'lbl.user.setting.card_modal.make_as_default_checkbox'  | translate }}</label>
                      </div>
                      <span class="make_as_default_note">{{ 'lbl.user.setting.card_modal.make_as_default_note'  | translate }}</span>

                    </div>
                  </div>
                  <p class="text-center mt-4">
                    <app-alert [message]="resError"></app-alert>
                    <!-- To trigger submit form -->
                    <button type="submit" [hidden]= "1===1" #submit>{{ 'btn.continue' | translate }}</button>
                  </p>
                </form>
              </div>                
            <!-- </div> -->
          </div>

        </div>
        <!-- /container -->
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-6 col-sm-6">
            <div class="form-group">
              <button class="btn btn-primary btn-pop-up shave2u-btn-primary" (click)="submit.click()">{{ 'btn.save' | translate }}</button>
            </div>
          </div>
          <div class="col-6 col-sm-6">
              <div class="form-group">          
              <button type="submit" class="btn btn-default btn-cancel-popup btn-pop-up shave2u-btn-secondary" data-dismiss="modal" aria-label="Close" (click)="close();backToList()">{{ 'btn.cancel' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal-backdrop fade modal-backdrop-shave2u"></div>