.cardForm {
  .form-group-cardNumber {
    position: relative;
    .textbox-iconRight {
      position: absolute;
      top: 28px;
      bottom: 0;
      pointer-events: none;
      left: auto !important;
      right: 0;
      .textbox-CardLogo {
        margin-top: 17px;
        margin-right: 9px;
        max-height: 9px;
        pointer-events: none;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transition-property: -webkit-transform opacity;
        transition-property: -webkit-transform opacity;
        transition-property: transform opacity;
        transition-property: transform opacity,-webkit-transform opacity;
      }
    }
  }
  .shave2u-make-default {
    min-height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    align-items: center;
    .make_as_default_note {
      display: block;
      padding: 5px 0 0 28px;
      font-family: 'Muli';
      font-size: 14px;
      color: #757575;
    }
  }
  .tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
    .tooltiptext {
      visibility: hidden;
      width: 250px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 2px;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -125px;
      opacity: 0;
      transition: opacity 1s;
    }
    .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
  }
  .tooltip:hover {
    .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }
}