.cardForm .form-group-cardNumber {
  position: relative;
}

.cardForm .form-group-cardNumber .textbox-iconRight {
  position: absolute;
  top: 35px;
  bottom: 0;
  pointer-events: none;
  left: auto !important;
  right: 0;
}

.cardForm .form-group-cardNumber .textbox-iconRight .textbox-CardLogo {
  margin-top: 17px;
  margin-right: 9px;
  max-height: 9px;
  pointer-events: none;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity,-webkit-transform opacity;
}
