<div class="row mx-0">
  <div class="col-md-12">
    <div id="user-order-detail">
      <div class="row mx-0">
        <div class="col-lg-12">
          <h2 class=" text-center heading">Order Details</h2>
        </div>
        <div class="loading-spinner" *ngIf="isLoading"><i class="fa fa-spinner fa-spin"></i></div>
        <div class="box box-have-border col-12" *ngIf="!isLoading && orderInfo">
          <div class="box-inner">          
            <div class="box-header">
              <div class="box-flex">
                <span><strong>Order ID</strong> {{ orderInfo.id | orderNo: {countryCode: orderInfo.Country.code, createdAt: orderInfo.createdAt | date:"yyyyMMdd", isBulk: true } }}</span>
                <a class="link-text-underline text-blue flex ml-5 click-able"></a>
                <a class="link-text-underline click-able" (click)="backToList()">Close</a>
              </div>
              <div class="row mx-0 my-3" *ngIf="orderInfo.taxInvoiceNo">
                <span><strong>Tax Invoice No</strong> {{ orderInfo.taxInvoiceNo }}</span>
              </div>
              <div class="row mx-0 my-3">
                <strong>Order Status Log</strong>
                <div class="col-12 mt-2">
                  <ul class="row-custom row mx-0 no-gutters mb-1">
                    <li class="item col-3"><strong>Date</strong></li>
                    <li class="item col-3"><strong>Description</strong></li>
                  </ul>
                  
                  <ul class="row row-custom no-gutters mb-1" *ngFor="let orderLog of orderInfo.bulkOrderHistories; let i = index">
                    <li class="item col-3">
                      {{ orderLog.createdAt | date: 'dd/MM/yyyy'  }}
                    </li>
                    <li class="item col-8">
                      {{ orderLog.message }}
                    </li>
                    <li class="item col-1" *ngIf="orderLog.isRemark">
                      <a class="edit" (click)="openEditRemask(orderLog, i)"><span class="fa fa-edit"></span></a>
                      <a class="trash" (click)="removeRemask(orderLog, i)"><span class="fa fa-trash"></span></a>                      
                    </li>
                  </ul>
                  <ul class="row row-custom no-gutters mt-2" *ngIf="!showCommentForm">
                    <li class="item col-3">
                      <button class="btn btn-primary" type="button" (click)="showCmtForm()">Add Comment</button>
                    </li>
                  </ul>
                                    
                </div>
                <!-- cmt form -->
                <form class="pb-cmnt-container" #f='ngForm' novalidate (ngSubmit)='f.form.valid && actionRemask()' [formGroup]="orderLogForm"
                    [ngClass]="f.submitted && (orderLogForm.controls.message.error) ? 'has-danger' : ''" *ngIf="showCommentForm">
                  <div class="row">
                    <div class="col-md-12">
                      Add Comment
                    </div>
                    <!--<div class="col-md-12">-->
                      <!--datetimepicker-->

                      <!--<div class="input-group date otp-datTime fl" datetimepicker>
                        <div>
                          <input type="text" class="change-dateTime"  formControlName="createdAt" name="createdAt"/>
                        </div>
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                      </div>-->
                      <!--<md-form-field>
                        <input mdInput [mdDatepicker]="pickerFromDate" placeholder="Date" (change)="changeFromDate($event.target.value)" formControlName="createdAt" name="createdAt">
                        <md-datepicker-toggle mdSuffix [for]="pickerFromDate"></md-datepicker-toggle>
                        <md-datepicker #pickerFromDate (selectedChanged)="changeFromDate($event)"></md-datepicker>
                      </md-form-field>-->
                    <!--</div>-->
                      <div class="col-md-12">
                        <div class="panel panel-info">
                          <div class="panel-body">
                              <textarea placeholder="Write your comment here!" class="pb-cmnt-textarea" formControlName="message" name="message"></textarea>
                              <span *ngIf="f.submitted && (orderLogForm.controls.message.errors && orderLogForm.controls.message.errors.maxLength)" class="form-control-feedback">
                                {{ 'msg.validation.maxlength' | translate : {value: 300} }}
                              </span>
                              <span *ngIf="f.submitted && (orderLogForm.controls.message.errors && orderLogForm.controls.message.errors.required)" class="form-control-feedback">
                                {{ 'msg.validation.required' | translate }}
                              </span>
                              <button class="btn btn-primary pull-right" type="submit">Add</button>
                              <button class="btn btn-secondary pull-right mr-1" type="button" (click)="cancelCmt()">Cancel</button>
                          </div>
                        </div>
                      </div>
                  </div>
                </form>
                <!-- /cmt form -->
              </div>
              <div class="row mx-0 my-3">
                <strong>Status And Delivery</strong>
              </div>
              <div class="row mx-0">
                <div class="col-sm-4 form-group">
                  <form #f='ngForm' novalidate (ngSubmit)='f.form.valid && updateTrackingNumber()' [formGroup]="trackingForm"
                    [ngClass]="f.submitted && trackingForm.hasError('required', 'tracking') ? 'has-danger' : ''">
                    <label class="form-control-label">Tracking number</label>
                    <div *ngIf="!orderInfo.deliveryId">
                      <div class="controls">
                        <input id="trachking-number" name="tracking" type="text" class="" (change)="updateTrackingNumber($event.target.value)" formControlName="tracking">
                        <button type="submit" class="btn btn-secondary btn-sm">Update</button>
                      </div>
                      <span class="form-control-feedback" *ngIf="f.submitted && trackingForm.hasError('required', 'tracking')">
                        {{ 'msg.validation.required' | translate }}
                      </span>
                    </div>
                    <div *ngIf="orderInfo.deliveryId">
                      <a href="{{afterShipUrl}}/{{orderInfo.deliveryId}}" target="_blank">{{afterShipUrl}}/{{orderInfo.deliveryId}}</a>
                    </div>
                  </form>
                </div>
                <div class="col-sm-3 form-group">
                  <label class="form-control-label">Order Status</label>
                  <div class="controls">
                    <!--<select name="states" class="selectpicker form-control" (change)="updateStatus($event.target.value)" *ngIf="orderStates">
                      <option [value]="state" *ngFor="let state of orderStates" [selected]="state == orderInfo.states ? true : null">{{state}}</option>
                    </select>-->
                    <div class="btn-group btn-group-select">
                      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ orderInfo.states }}
                      </button>
                      <!--<div class="dropdown-menu">
                        <a class="dropdown-item click-able" *ngFor="let state of orderStates" (click)="updateStatus(state)" [ngClass]="{'active': state === orderInfo.states}">{{ state }}</a>
                      </div>-->
                      <div class="dropdown-menu">
                        <ng-container *ngFor="let state of orderStates">
                          <a class="dropdown-item click-able" *ngIf="state !== 'Canceled'" (click)="updateStatus(state)" [ngClass]="{'active': state === orderInfo.states}">{{ state }}</a>
                        </ng-container>
                        <a class="dropdown-item click-able" *ngIf="( checkAllowToCancel(orderInfo.createdAt) )" 
                          (click)="updateStatus('Canceled')">Canceled</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-5 form-group">
                  <div class="controls">
                    <div class="btn-group btn-group-select btn-download">
                      <button class="btn btn-primary" type="button" (click)="downloadTaxInvoice()" *ngIf="hasTaxInvoice">
                        Download Tax Invoice
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>        
            <div class="box-body">
              <div class="row mx-0 justify-content-between">
                <div class="col-lg-5">
                  <p><strong>Placed on</strong> {{orderInfo.createdAt | date: 'dd MMM yyyy'}}</p>
                  <ng-container *ngIf="orderInfo.Receipt">
                  <div class="box-flex">
                    <span class="flex">Total</span><strong>{{orderInfo.Country.currencyDisplay}}{{orderInfo.Receipt.originPrice}}</strong>
                  </div>
                  <div class="box-flex">
                    <span class="flex">Discount</span><strong>{{orderInfo.Country.currencyDisplay}}{{orderInfo.Receipt.discountAmount}}</strong>
                  </div>
                  <div class="box-flex">
                    <span class="flex">Subtotal</span><strong>{{orderInfo.Country.currencyDisplay}}{{orderInfo.Receipt.subTotalPrice}}</strong>
                  </div>
                  <div class="box-flex">
                    <span class="flex">Shipping Cost</span><strong>{{(orderInfo.Receipt.shippingFee != 0.00) ? (orderInfo.Country.currencyDisplay + orderInfo.Receipt.shippingFee) : 'FREE' }}</strong>
                  </div>
                  <div class="box-flex">
                    <span class="flex"n>Promo Code</span><strong>{{orderInfo.promoCode ? orderInfo.promoCode : 'N/A' }}</strong>
                  </div>
                  <hr>
                  <div class="box-flex">
                    <span class="flex"n>Grand Total</span><strong>{{orderInfo.Country.currencyDisplay}}{{orderInfo.Receipt.totalPrice}}</strong>
                  </div>
                  </ng-container>
                  <div class="box-flex">
                    <strong class="flex">Payment Method</strong>
                    <span [hidden]="orderInfo.paymentType !== 'stripe'">
                      {{ orderInfo.Receipt?.branchName }} **** **** **** {{ orderInfo.Receipt?.last4 }}
                    </span>
                    <span [hidden]="orderInfo.paymentType !== 'iPay88'">iPay 88</span>
                    <span [hidden]="orderInfo.paymentType !== 'cash'">Cash</span>
                  </div>
                </div>
                <div class="col-lg-5" *ngIf="orderInfo.DeliveryAddress">
                  <p><strong>Shipping Details</strong></p>
                  <div class="box-flex">
                    <i class="fa fa-user mr-4"></i><span>{{orderInfo.DeliveryAddress.firstName + " " + orderInfo.DeliveryAddress.lastName}}</span>
                  </div>
                  <div class="box-flex">
                    <i class="fa fa-phone mr-4"></i><span>{{orderInfo.DeliveryAddress.contactNumber}}</span>
                  </div>
                  <div class="box-flex">
                    <i class="fa fa-map-marker mr-4"></i><span>{{orderInfo.DeliveryAddress.portalCode}}, {{orderInfo.DeliveryAddress.address}}, {{orderInfo.DeliveryAddress.city}}</span>
                  </div>
                </div>
                <div class="col-lg-5" *ngIf="!orderInfo.DeliveryAddress && orderInfo.fullName">
                  <p><strong>Shipping Details</strong></p>
                  <div class="box-flex">
                    <i class="fa fa-user mr-4"></i><span>{{orderInfo.fullName}}</span>
                  </div>
                </div>
              </div>
              <div class="row mx-0">
                <div class="col-12 cart-list-detail">
                  <div class="cart-list-contain">
                    <ul class="row-custom row mx-0 no-gutters mb-0">
                      <li class="item item-info"><strong>Item</strong></li>
                      <li class="item item-price text-center"><strong>Price</strong></li>
                      <li class="item item-quantity text-center"><strong>Quantity</strong></li>
                      <li class="item item-total text-right"><strong>Total</strong></li>
                    </ul>
                    <ul class="row row-custom text-center no-gutters mb-0" *ngFor="let item of orderInfo.bulkOrderDetail">
                      <li class="item item-info">
                        <div class="image-contain image-center-with-border pull-left">
                          <div class="image-inner">
                            <div class="image">
                              <display-image [images]="item.ProductCountry.Product.productImages" *ngIf="item.ProductCountry"></display-image>
                              <display-image [images]="item.PlanCountry.Plan.planImages" *ngIf="item.PlanCountry"></display-image>
                            </div>
                          </div>
                        </div>
                        <div class="text-contain text-center-vertical pull-left">
                          <div class="text-inner" *ngIf="item.ProductCountry">
                            <h4 class="product-name"><strong>{{item.ProductCountry.Product.productTranslate | translatePipe: 'name'}}</strong></h4>
                            <p class="product-description">
                              {{item.ProductCountry.Product.productTranslate | translatePipe: 'shortDescription'}}
                              <!--<appProductDescription [productTranslate]="item.ProductCountry.Product.productTranslate"></appProductDescription>-->
                            </p>
                          </div>
                          <div class="text-inner" *ngIf="item.PlanCountry">
                            <h4 class="product-name"><strong>{{item.PlanCountry.Plan.planTranslate | translatePipe: 'name'}}</strong></h4>
                            <p class="product-description">
                              {{item.PlanCountry.Plan.planTranslate | translatePipe: 'shortDescription'}}
                              <!--<appProductDescription [productTranslate]="item.PlanCountry.Plan.planTranslate"></appProductDescription>-->
                            </p>
                          </div>
                        </div>
                      </li>
                      <li class="item item-price">
                        <div class="text-contain text-center-vertical">
                          <div class="text-inner">
                            <span class="item-price">{{orderInfo.Country.currencyDisplay}}{{item.price}}</span>
                          </div>
                        </div>
                      </li>
                      <li class="item item-quantity">
                        <div class="text-contain text-center-vertical">
                          <span class="text-inner">{{item.qty}}</span>
                        </div>
                      </li>
                      <li class="item item-total">
                        <div class="text-contain text-center-vertical">
                          <span class="text-inner">{{orderInfo.Country.currencyDisplay}}{{item.price * item.qty}}</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end col-md-12 -->
</div>