<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding-top: 0 20px;text-align: center ;">
      <div style="max-width: 515px;margin: 0 auto 30px;padding:0 20px">
        <h1 style="font-size: 24px;font-weight: 800;letter-spacing: 0.05em;font-family: Helvetica,Arial,sans-serif;margin: 40px 0 20px 0;color: #333333;text-align:center;">Welcome to the club!</h1>
        <p style="text-align: center">
          Hi {{firstName}},
        </p>
        <p style="text-align: center;margin-top: 20px;">Thank you for signing up for a Shaves2U account. Just one last thing, click on the button below to verify your email! 
        </p>
        <div style="margin: 40px 0 23px 0;height:48px">
          <a href="{{link}}" style="max-width: 246px;min-width: 220px;height: 48px;background: #fe5000;text-align: center;padding: 15px 15px;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">VERIFY EMAIL</a>
        </div>
        <p style="text-align: center">
          Loading time too long? Use this link instead:
        </p>
        <p style="text-align: left;text-decoration: none;word-break: break-all !important;word-wrap: break-word !important;font-size:12px;">
          <a href="{{link}}"
            target="_blank">{{link}}</a>
        </p>
      </div>
    </td>
  </tr>
</table>
<!-- // END BODY -->