<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <div style="max-width: 515px;margin: 0 auto;">
        <p>Dear customer service representative,</p>

        <!-- customer detail -->
        {{#if isRequestCancel}}
          <p style="margin-bottom: 20px; margin-top: 20px;">Please be informed that this customer would like to cancel the Shave Plan:</p>
        {{/if}}
        {{#if isCanceled}}
          <p style="margin-bottom: 20px; margin-top: 20px;">Please be informed that this customer have cancelled their Shave Plan, within Trial Period:</p>
        {{/if}}
        {{#if isUndo}}
          <p style="margin-bottom: 20px; margin-top: 20px;">Please be informed that this customer would like to undo the Shave Plan cancellation request:</p>
        {{/if}}
        <p>Customer: {{ User.firstName }} {{ User.lastName }}</p>
        <p>Email: {{ User.email }}</p>
        <p>Phone: {{ User.phone }}</p>
        <p>Subscription No: {{ id }}</p>
        <p>Request Date: {{ requestDate }}</p>

        <!-- trial plan detail -->
        <p style="margin-bottom: 20px; margin-top: 20px;">Shave Plan details:</p>
        <p>{{planName}}</p>
        <p>Delivery Frequency: {{ PlanCountry.Plan.PlanType.subsequentDeliverDuration }}</p>
        <p>Payment Option: Stripe</p>
        <p>Last Payment Date: {{ lastDeliverydate }}</p>
        <p>Next Payment Cycle: {{ nextDeliverDate }}</p>

        {{#if isRequestCancel}}
          <p style="margin-top: 20px;">Please contact customer to finalise shave plan cancellation before the next payment cycle starts to avoid auto-charge of client's credit card.</p>
        {{/if}}
        {{#if isCanceled}}
          <p style="margin-top: 20px;">No action required, this is for reference purposes.</p>
        {{/if}}
        {{#if isUndo}}
          <p style="margin-top: 20px;">Please crosscheck system and do not cancel customer's Shave Plan.</p>
        {{/if}}
        <p><i>Note: This is a system generated email.</i></p>
      </div>
    </td>
  </tr>
</table>