<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <div style="max-width: 515px;margin: 0 auto;">
        <p>
          Hi {{User.firstName}},
        </p>
        {{#if PlanCountry}}
          <p style="margin-top: 20px;">
            We have cancelled your Shave Plan - <strong>{{ planName }}</strong>.
            {{!-- Your cancellation for your <strong>{{ planName }}</strong> subscription on <strong>{{ createdAt }}</strong> has been confirmed. Please rest assured that your credit card will no longer be charged. We're sad to see you go, but if you ever want to shave with us again, head on over to our 
            <a href="https://shaves2u.com/?utm_source=mandrill&utm_medium=email&utm_campaign=_{{countryCode}}_ordercancel&utm_content=S2U_html_ordertrial&utm_term=_cancel_trial_web">website</a>. --}}
          </p>
        {{/if}}
        {{#if CustomPlan}}
          <p style="margin-top: 20px;">
            We have cancelled your Shave Plan - <strong>{{ CustomPlan.description }}</strong>.
          </p>
        {{/if}}
        <p style="margin-top: 20px;">
          Your credit card will no longer be charged.
        </p>
        <p style="margin-top: 20px;">
          Here is a summary of your order:
        </p>
        <table style="width:100%; margin-top: 20px;">
          {{#if PlanCountry}}
            <tr style="border-top:1px solid #eeeeee;">
              <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                <p>Your order:</p>
              </td>
              <td style="padding:20px 0 20px 10px;">
              </td>
              <td style="text-align:right;padding:20px 0 20px 10px;">
                <p>Total</p>
              </td>
            </tr>
            <tr style="border-top:1px solid #eeeeee;">
              <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                <img src="{{PlanCountry.Plan.planImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
              </td>
              <td style="padding:20px 0;">
                <p style="font-weight:bold;color:#000;">{{PlanCountry.Plan.planTranslate.name}}</p>
                <p>SKU: {{PlanCountry.Plan.sku}}</p>
                <p>Quantity: {{qty}}</p>
                <p>Unit Price: {{currency}}0.00</p>
              </td>
              <td style="text-align:right;padding:20px 0;">
                <p>{{currency}}0.00</p>
              </td>
            </tr>
          {{/if}}
          {{#if CustomPlan}}
            <tr style="border-top:1px solid #eeeeee;">
              <td style="width:80%;padding:20px 0 20px 10px;min-width:70px;">
                <p>Your order:</p>
              </td>
              <td style="text-align:right;padding:20px 0 20px 10px;">
                <p>Total</p>
              </td>
            </tr>
            <tr style="border-top:1px solid #eeeeee;">
              <td style="padding:20px 0;">
                <p style="font-weight:bold;color:#000;">{{CustomPlan.description}}</p>
                {{!-- <p>SKU: {{PlanCountry.Plan.sku}}</p> --}}
                <p>Quantity: {{qty}}</p>
                <p>Unit Price: {{currency}}{{pricePerCharge}}</p>
              </td>
              <td style="text-align:right;padding:20px 0;">
                <p>{{currency}}{{pricePerCharge}}</p>
              </td>
            </tr>
          {{/if}}
          {{!-- {{#each PlanCountry.planDetails}}
          <tr style="border-top:1px solid #eeeeee;">
              <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                <img src="{{imgUrl}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
              </td>
              <td style="padding:20px 0;">
                <p style="font-weight:bold;color:#000;">{{planName}}</p>
                <p>SKU: {{ProductCountry.Product.sku}}</p>
                <p>Quantity: {{qty}}</p>
                <p>Unit Price: {{currency}}{{displayCurrency ProductCountry.sellPrice}}</p>
              </td>
              <td style="text-align:right;padding:20px 0;">
                <p>{{currency}}{{displayCurrency totalPrice}}</p>
              </td>
          </tr>
          {{/each}} --}}
        </table>
        {{!-- <p>Every {{ periodTime }} {{ currency }}{{ pricePerCharge }}</p> --}}
        <p style="margin-top: 20px">Thanks for giving us a try! If you have any other questions, drop us an email at <a href="mailto:help@shaves2u.com">help@shaves2u.com</a></p>
        <p style="margin-top: 20px">Or better yet, why not check out our other products?</p>
        <p style="width:100%;margin-top: 36px;text-align:center;">
          <a href="https://shaves2u.com/?utm_source=mandrill&utm_medium=email&utm_campaign=_{{countryCode}}_ordercancel&utm_content=S2U_html_ordertrial&utm_term=_cancel_trial_web" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">
            SHOP FOR OTHER PRODUCTS
          </a>
        </p>
      </div>
    </td>
  </tr>
</table>