<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding-top: 0 20px;">
      <div style="padding:0 20px">
        <h1 style="font-size: 24px;font-weight: 800;letter-spacing: 0.05em;font-family: Helvetica,Arial,sans-serif;margin: 40px 0 20px 0;color: #333333;text-align:center;">Order Cancellation</h1>
        <p>
          Hi {{firstName}},
        </p>
        <p>This e-mail is to confirm the cancellation of your order {{order.displayId}}.
        </p>
        {{#if payByCash}}
        <div>
          You should already have received your cash refund for the items below.
        </div>
        {{/if}}
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px;">
      <div style="width:100%">
        <table style="font-size:14px;width:100%">
          <tr>
            <td style="color:#000;font-weight:bold;">Order No.</td>
            <td style="color:#000;font-weight:bold;text-align:center;">Order Date</td>
          </tr>
          <tr>
            <td>{{order.displayId}}</td>
            <td style="text-align:center">{{order.createdAt}}</td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
  <!-- table order detail -->
  <tr style="font-size:14px;">
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px 20px 0 20px;">
      <table style="width:100%;">
        <tr style="border-top:1px solid #eeeeee;">
          <td style="padding:20px 0 10px 0">Item</td>
          <td style="padding:20px 0 10px 0"></td>
          <td style="text-align:right;padding:20px 0 10px 0">Total</td>
        </tr>
        {{#each order.orderDetail}}
        <tr style="border-top:1px solid #eeeeee;">
          {{#if isProduct}}
            <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
              <img src="{{ProductCountry.Product.productImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
            </td>
            <td style="padding:20px 0;">
              <p style="font-weight:bold;color:#000;">{{ProductCountry.Product.productTranslate.name}}</p>
              <p>SKU: {{ProductCountry.Product.sku}}</p>
              <p>Quantity: {{qty}}</p>
              {{#if isProductOfTrial}}
                <p>Unit Price: N/A</p>
              {{else}}
                <p>Unit Price: {{currency}}{{displayCurrency price}}</p>
              {{/if}}
              {{#if ../order.isOnground}}
                <p><i>Product Collected On-Ground</i></p>
              {{/if}}
            </td>
            {{#if isFreeProduct}}
              <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}0.00</td>
            {{else}}
              {{#if isProductOfTrial}}
                <td style="text-align:right;padding:20px 10px 20px 0;">N/A</td>
              {{else}}
                <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}{{displayCurrency totalPrice}}</td>
              {{/if}}
            {{/if}}
          {{/if}}
          {{#if isPlan}}
            <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;vertical-align: top;">
              <img src="{{PlanCountry.Plan.planImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
            </td>
            <td style="padding:20px 0;" colspan="2">
              <table style="width: 100%">
                <tr>
                  <td style="padding:20px 0;border-top:1px solid #eeeeee;">
                    <p style="font-weight:bold;color:#000;">{{PlanCountry.Plan.planTranslate.name}}</p>
                    <p>SKU: {{PlanCountry.Plan.sku}}</p>
                    <p>Quantity: {{qty}}</p>
                    <p>Unit Price: {{currency}}{{displayCurrency unitPrice}}</p>
                    <p>{{currency}}{{displayCurrency price}} Billed every {{PlanCountry.Plan.PlanType.subsequentChargeDuration}}</p>
                    {{#if PlanCountry.Plan.isTrial}}
                      {{#if ../order.trialShippingDate}}
                        <p>Subscription Start: {{../order.trialShippingDate}}</p>
                      {{else}}
                        <p style="max-width: 300px;">Subscription Start: 14 days after you received the trial kit</p>
                      {{/if}}
                    {{else}}
                      <p>Subscription Start: {{../order.shippingDate}}</p>
                    {{/if}}
                  </td>
                  {{#if PlanCountry.Plan.isTrial}}
                    <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">{{currency}}0.00</td>
                  {{else}}
                    <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">{{currency}}{{displayCurrency totalPrice}}</td>
                  {{/if}}
                </tr>
                {{#if PlanCountry.Plan.isTrial}}
                  {{#each deliveryDetails}}
                    {{#if isTrial}}
                      <tr>
                        <td style="padding:20px 0;border-top:1px solid #eeeeee;">
                          {{#each productNames}}
                          <p>{{productName}} ({{qty}})</p>
                          {{/each}}
                        </td>
                        <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">
                          {{!-- <p style="font-weight:bold;color:#000;">Trial Product(s) Delivery</p> --}}
                          <p style="font-weight:bold;color:#000;">First Delivery</p>
                        </td>
                      </tr>
                    {{else}}
                      <tr>
                        <td style="padding:20px 0;border-top:1px solid #eeeeee;">
                          {{#each productNames}}
                          <p>{{productName}} ({{qty}})</p>
                          {{/each}}
                        </td>
                        <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">
                          {{!-- <p style="font-weight:bold;color:#000;">Product(s) Delivery</p> --}}
                          <p style="font-weight:bold;color:#000;">Next Delivery</p>
                        </td>
                      </tr>
                    {{/if}}
                  {{/each}}
                {{else}}
                  {{#each deliveryDetails}}
                  <tr>
                    <td style="padding:20px 0;border-top:1px solid #eeeeee;">
                      {{#each productNames}}
                      <p>{{productName}} ({{qty}})</p>
                      {{/each}}
                    </td>
                    <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">
                      {{#if isFirst}}
                        <p style="font-weight:bold;color:#000;">First Delivery</p>
                      {{/if}}
                      {{#if notFirst}}
                        <p style="font-weight:bold;color:rgb(65, 64, 64);">Every 3 months</p>
                      {{/if}}
                    </td>
                  </tr>
                  {{/each}}
                {{/if}}
              </table>
            </td>
          {{/if}}
        </tr>
        {{/each}}
      </table>
    </td>
  </tr>
  <tr style="font-size:14px;background-color: #FAFAFA;color: #606060">
    <td style="padding:0 20px;">
      <table style="width:100%">
        <tr style="border-top:1px solid #eeeeee;">
          <td style="text-align: right;padding:20px 0;">
            <p>Total</p>
            <p>Discount</p>
            <p>Subtotal</p>
            <p>Shipping Fee</p>
            {{#if order.hasTaxAmount}}
              <p>Grand Total (Excl. Tax)</p>
            {{/if}}
          </td>
          <td style="text-align: right;padding-right:10px;width:100px;padding:20px 10px;">
            <p>{{order.Receipt.currency}}{{displayCurrency order.Receipt.originPrice}}</p>
            {{#if order.hasDiscount}}
              <p>{{order.Receipt.currency}}{{displayCurrency order.Receipt.discountAmount}}</p>
            {{else}}
              <p>{{order.Receipt.currency}}0.00</p>
            {{/if}}
            <p>{{order.Receipt.currency}}{{displayCurrency order.Receipt.subTotalPrice}}</p>
            {{#if order.hasShippingFee}}
              {{order.Receipt.currency}}{{displayCurrency order.Receipt.shippingFee}}
            {{else}}
              FREE
            {{/if}}
            {{#if order.hasTaxAmount}}
              <p>{{order.Receipt.currency}}{{displayCurrency order.Receipt.taxAmount}}</p>
            {{/if}}
          </td>
        </tr>
        <tr style="border-top:1px solid #eeeeee;border-bottom:1px solid #eeeeee;">
          <td style="text-align: right;padding:20px 0;">
            {{#if order.Country.includedTaxToProduct}}
              <p>Grand Total (Incl. Tax)</p>
            {{else}}
              <p>Grand Total</p>
            {{/if}}
          </td>
          <td style="text-align: right;padding-right:10px;width:100px;padding:20px 10px;">
            <p>{{order.Receipt.currency}}{{displayCurrency order.Receipt.totalPrice}}</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px;">
      <p style="font-weight:bold;color:#000;margin-top:10px!important;">Payment Method</p>
      {{#if order.isPayByStripe}}
        <p>Credit/Debit Card</p>
        <p>Ending in {{order.Receipt.last4}}</p>
      {{/if}}
      {{#if order.isPayByIpay88}}
        <p>iPay88</p>
      {{/if}}
      {{#if order.isPayByCash}}
        <p>Cash</p>
      {{/if}}
      {{#if order.hasShippingAddress}}
        <p style="font-weight:bold;color:#000;margin-top:20px!important;">Delivery Details: Shipping</p>
        <p>{{order.DeliveryAddress.firstName}} {{order.DeliveryAddress.lastName}}</p>
        <p>{{order.DeliveryAddress.address}},{{#if order.DeliveryAddress.city}}&nbsp;{{order.DeliveryAddress.city}},{{/if}}{{#if order.DeliveryAddress.portalCode}}&nbsp;{{order.DeliveryAddress.portalCode}},{{/if}}&nbsp;{{order.DeliveryAddress.state}}</p>
        <p>Tel: {{order.DeliveryAddress.contactNumber}}</p>
      {{/if}}
      {{#if order.hasBillingAddress}}
        <p style="font-weight:bold;color:#000;margin-top:20px!important;">Delivery Details: Billing</p>
        <p>{{order.BillingAddress.firstName}} {{order.BillingAddress.lastName}}</p>
        <p>{{order.BillingAddress.address}},{{#if order.DeliveryAddress.city}}&nbsp;{{order.BillingAddress.city}},{{/if}} {{#if order.BillingAddress.portalCode}}&nbsp;{{order.BillingAddress.portalCode}},{{/if}}&nbsp;{{order.BillingAddress.state}}</p>
        <p>Tel: {{order.BillingAddress.contactNumber}}</p>
      {{/if}}
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      {{#if payByCredit}}
        <p>The refund for your credit card payment is being processed and will take 10-12 working days.</p>
      {{/if}}
      <p>We hope to see you real soon!</p>
      {{#if order.isOnground}}
        {{#if isEcommerce}}
          <p>By the way, did you know we have an online store?</p>
          <p style="margin-bottom:30px!important; text-align: center; margin-top: 20px;">
            <a href="https://shaves2u.com/?utm_source=mandrill&utm_medium=email&utm_campaign=_{{countryCode}}_ordercancel&utm_content=S2U_html_ordercancel&utm_term=_ordercancel_web" style="width: 218px;background: #fe5000;text-align: center;padding: 13px 0;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;display:inline-block;">EXPLORE SHOP</a>
          </p>
        {{else}}
          <p style="margin-bottom:30px!important; text-align: center; margin-top: 20px;">
            <a href="https://shaves2u.com/?utm_source=mandrill&utm_medium=email&utm_campaign=_{{countryCode}}_ordercancel&utm_content=S2U_html_ordercancel&utm_term=_ordercancel_web" style="width: 218px;background: #fe5000;text-align: center;padding: 13px 0;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;display:inline-block;">EXPLORE WEBSITE</a>
          </p>
        {{/if}}
      {{else}}
        <p style="margin-bottom:30px!important; text-align: center; margin-top: 20px;">
          <a href="https://shaves2u.com/?utm_source=mandrill&utm_medium=email&utm_campaign=_{{countryCode}}_ordercancel&utm_content=S2U_html_ordercancel&utm_term=_ordercancel_web" style="width: 218px;background: #fe5000;text-align: center;padding: 13px 0;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;display:inline-block;">VISIT WEBSITE</a>
        </p>
      {{/if}}
    </td>
  </tr>
</table>
<!-- // END BODY -->