<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <p>Hi {{displayName}},</p>
      {{#if isFirst}}
        {{!-- {{#if isOffline}} --}}
          <p style="margin-top: 20px;">
            Enjoying your Trial Kit and showing off that sleek new shave?
          </p>
          <p style="margin-top: 20px;">
            Your Shave Plan - <strong>{{ planName }}</strong> - automatically begins <strong>{{startDate}}</strong>.
            {{!-- Staying subscribed is super easy. Your shave plan automatically begins {{startDate}} {{#each PlanCountry.planDetails}}{{ProductCountry.Product.sku}}{{/each}} --}}
            {{!-- Your Shave Plan starts on {{startDate}}. Please note that your credit card will be charged for your Shave Plan.<br>
            You will receive {{#each PlanCountry.planDetails}}{{qty}} x {{productName}} ({{ProductCountry.Product.sku}}) {{/each}} for every {{periodTime}} at {{currency}}{{pricePerCharge}} --}}
          </p>
          <p style="margin-top: 20px;">
            If you’re not interested in continuing, don’t worry - the trial was free. Simply <a href="{{link}}">log in</a> to cancel your Shave Plan before <strong>{{startDate}}</strong>. 
          </p>
          <p style="margin-top: 20px;">
            On the other hand, if you’d like to select another blade, simply update your Shave Plan by clicking the button below.
          </p>
          {{!-- {{#if isOffline}}
            {{#if isNewUser}}
              <p style="margin-top: 20px;">
                Don't forget to setup your account password here. <a href="{{link}}" style="color:red;">Setup account password</a>
              </p>
            {{/if}}
          {{/if}} --}}
        {{!-- {{else}}
          <p style="margin-top: 36px;">
            We hope you've enjoyed your Free Trial Pack with Shaves2U! Heads up, your Shave Plan officially begins on {{startDate}} for {{#each PlanCountry.planDetails}}{{qty}} x {{productName}} ({{ProductCountry.Product.sku}}) {{/each}} every {{periodTime}} at {{currency}}{{pricePerCharge}}.
          </p>
        {{/if}} --}}
      {{else}}
        {{#if is5Days}}
          <p style="margin-top: 20px;">
            Have you managed to give our Trial Kit a go?
          </p>
          {{!-- <p style="margin-top: 20px;">
            Which blade is working best for you? Our 5-blade cartridges deliver a superior close and sleek shave, while our 3-blade cartridges can give similar great at a more affordable price.
          </p> --}}
          <p style="margin-top: 20px;">
            If you’ve tried it and liked it, great! You’re already subscribed to a Shave Plan.
          </p>
          <p style="margin-top: 20px;">
            If it’s not really your thing, no worries. You can actually <a href="{{link}}">edit your Shave Plan</a> - but please do so before <strong>{{startDate}}</strong>.
          </p>
          {{#if isOffline}}
            <p style="margin-top: 20px;">
              Have you received your promo code for a <strong>10% discount</strong> on your next purchase? If not, click the button below to set up your account!
            </p>
          {{else}}
            <p style="margin-top: 20px;">
              For shaving tips & hacks on how to use our razors better, visit us on social media by clicking on one of the icons below!
            </p>
          {{/if}}
        {{else}}
          <p style="margin-top: 36px;">Enjoying your Shaves2U Shave Plan? We hope so. After all, an awesome shave is never out of style.</p>
          <p style="margin-top: 36px;">Your next Shave Plan will begin on {{nextDeliverDate}} for {{#each PlanCountry.planDetails}} {{qty}} x {{productName}} ({{ProductCountry.Product.sku}}){{/each}} every {{periodTime}} at {{currency}}{{displayCurrency pricePerCharge}}.</p>
        {{/if}}
      {{/if}}
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      {{!-- {{#if isFirst}} --}}
        {{!-- {{#if isOffline}}
          <p>Need a change of plan? Head over to your account <a href="{{link}}" style="color:red;">{{User.email}}</a> and update your Shave Plan details before {{ nextReceiveDate }}.</p>
        {{else}}
          <p>If you need a change of plan, update your Shave Plan details before {{ nextReceiveDate }} from your user account <a href="{{link}}" style="color:red;">{{User.email}}</a>.</p>
        {{/if}} --}}
      {{!-- {{else}}
        {{#if is5Days}}
        {{else}}
          <p>For more details on your Shave Plan, check out for user account here <a href="{{link}}" style="color:red;">{{User.email}}</a>.</p>
        {{/if}} 
      {{/if}} --}}
      {{#if is5Days}}
        {{#if isOffline}}
            <p style="width:100%;text-align:center;">
              <a href="{{link}}" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">SET UP MY ACCOUNT</a>
            </p>
        {{/if}}
      {{else}}
        <p style="width:100%;text-align:center;">
          <a href="{{link}}" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">UPDATE MY SHAVE PLAN</a>
          {{!-- <a href="https://shaves2u.com/products?utm_source=mandrill&utm_medium=email&utm_campaign=_{{countryCode}}_productsample&utm_content=S2U_html_shopnow&utm_term=_productsample_web" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">SHOP FOR OTHER PRODUCTS</a> --}}
        </p>
        {{#if isOffline}}
          {{#if isNewUser}}
            <p style="margin-top: 30px;text-align: center;">
              <a href="{{link}}">Set up my account first</a>
            </p>
          {{/if}}
        {{/if}}
      {{/if}}
    </td>
  </tr>
</table>
