<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr style="text-align: center">
    <td valign="top">
      <img src="https://gallery.mailchimp.com/a1f5e35b929b6d70bbdff908e/images/9089d65a-57b2-462d-af01-8bff95adcfac.png" style="min-height:145px;" alt="Shaves2u banner" style="min-height:145px;" alt="Shaves2u banner">
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding-top: 0 20px;text-align: center ;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <div style="max-width: 515px;margin: 0 auto 30px;padding:0 20px">
        <h1 style="font-size: 24px;font-weight: 800;letter-spacing: 0.05em;font-family: Helvetica,Arial,sans-serif;margin: 40px 0 20px 0;color: #333333;text-align:center;">Check out our makeover!</h1>
        <p>
          We’ve refreshed our website and made it easier for you to navigate through our extensive product range, handy Shave Plans and so much more. Drop by our brand new website and find out how you can shave and save even more with Shaves2U. See you soon!
        </p>
        <div style="margin: 40px 0 23px 0;height:48px">
          <a href="https://shaves2u.com/?utm_source=mandrill&utm_medium=email&utm_campaign=_{{countryCode}}_newwebsite&utm_content=S2U_html_newwebsite&utm_term=_newwebsite_web" style="width: 218px;background: #fe5000;text-align: center;padding: 13px 0;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;display:inline-block;">VISIT SHAVES2U</a>
        </div>
        <p style="margin-bottom:25px;">Having trouble with the button? <a href="https://shaves2u.com/help?utm_source=mandrill&utm_medium=email&utm_campaign=_sg_transactional&utm_content=blackhawk_html_forgertpassword&utm_term=_newaccountlist_mandrill_all" style="text-decoration: none;">Contact us</a> for support.</p>
      </div>
    </td>
  </tr>
</table>