<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding-top: 0 20px;text-align: center ;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <div style="max-width: 515px;margin: 0 auto 100px;padding:0 20px">
        <h1 style="font-size: 24px;font-weight: 800;letter-spacing: 0.05em;font-family: Helvetica,Arial,sans-serif;margin: 40px 0 20px 0;color: #333333;text-align:center;">You have a new password</h1>
        <p style="text-align: center">
          Hi {{firstName}},
        </p>
        <p style="text-align: center;margin-top: 30px;">The password for your Shaves2U account <span>{{email}}</span> has been successfully updated!</p>
        <p style="text-align: center;margin-top: 20px;">If you didn’t request this change, <span>learn more about how to secure your account in security settings</span>.
        </p>
        <div style="margin: 40px 0 23px 0;height:48px">
          <a href="https://shaves2u.com/user/settings?utm_source=mandrill&utm_medium=email&utm_campaign=_{{countryCode}}_passwordupdate&utm_content=S2U_html_passwordupdate&utm_term=_passwordupdate_web" style="max-width: 246px;min-width: 220px;height: 48px;background: #fe5000;text-align: center;padding: 15px 15px;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">MY ACCOUNT</a>
        </div>
      </div>
    </td>
  </tr>
</table>