<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td style="background-color:#FAFAFA;">
      <div style="margin-bottom:30px;padding: 0 20px;">
        <h1 style="font-size: 24px;font-weight: 800;letter-spacing: 0.05em;font-family: Helvetica,Arial,sans-serif;margin: 40px 0 20px 0;color: #333333;text-align:center;">We hope you enjoyed your Free Trial!</h1>
        <p style="margin-bottom:30px!important">Hi {{firstName}},</p>
        <p >Has your experience with our blades been a smooth one? Make it smoother with one of our Shave Plans.</p>
        
        <div style="width:100%;margin: 36px 0;text-align:center;">
          <a href="https://shaves2u.com/?utm_source=mandrill&utm_medium=email&utm_campaign=_{{countryCode}}_productsample&utm_content=S2U_html_shopnow&utm_term=_productsample_web" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">SHOP NOW</a>
        </div>
        <p style="margin-bottom:30px">
          Get 10% your first purchase when you <a href="{{link}}" style="text-decoration: none;">sign up</a> for a Shaves2U account!
        </p>
      </div>
    </td>
  </tr>
</table>