<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  {{!-- <tr style="text-align: center">
    <td valign="top">
      <img src="https://gallery.mailchimp.com/a1f5e35b929b6d70bbdff908e/images/bb73a564-8b8b-4aef-8365-a81424ab9b01.png" style="min-height:145px;" alt="Shaves2u banner">
    </td>
  </tr> --}}
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding-top: 0 20px;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <div style="max-width: 515px;margin: 0 auto 30px;padding:0 20px">
        <h1 style="font-size: 24px;font-weight: 800;letter-spacing: 0.05em;font-family: Helvetica,Arial,sans-serif;margin: 40px 0 20px 0;color: #333333;">Shaves2U Promo Code</h1>
        <p>
          Hi {{firstName}},
        </p>
        <p>
          Your one time unique promo code is: <strong>{{promoCode}}</strong>. Enjoy discount {{discount}} for your next purchase on the selected products.<br>
          Promo code is valid from {{startDate}} to {{expiredAt}}.
        </p>
        <div style="margin: 40px 0 23px 0;height:48px; text-align: center;">
          <a href="https://shaves2u.com/" style="width: 218px;background: #fe5000;text-align: center;padding: 13px 0;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;display:inline-block;">SHOP NOW</a><br>
        </div>
        <p style="margin-bottom: 20px">
          Sincerely,<br>
          Shaves2U
        </p>
      </div>
    </td>
  </tr>
</table>