<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px;border-bottom: 1px solid #eeeeee;">
      {{#if hasBillingAddress}}
        <p style="font-weight:bold;color:#000;">Billing Details</p>
        <p>{{BillingAddress.firstName}} {{BillingAddress.lastName}}</p>
        <p>{{BillingAddress.address}},{{#if DeliveryAddress.city}}&nbsp;{{BillingAddress.city}},{{/if}}{{#if BillingAddress.portalCode}}&nbsp;{{BillingAddress.portalCode}},{{/if}}{{#if BillingAddress.state}}&nbsp;{{BillingAddress.state}},{{/if}} Tel: {{BillingAddress.contactNumber}}</p>
      {{/if}}
      {{#if hasShippingAddress}}
        <p style="font-weight:bold;color:#000;margin-top:20px!important;">Shipping Details</p>
        <p>{{DeliveryAddress.firstName}} {{DeliveryAddress.lastName}}</p>
        <p>{{DeliveryAddress.address}},{{#if DeliveryAddress.city}}&nbsp;{{DeliveryAddress.city}},{{/if}}{{#if DeliveryAddress.portalCode}}&nbsp;{{DeliveryAddress.portalCode}},{{/if}}{{#if DeliveryAddress.state}}&nbsp;{{DeliveryAddress.state}},{{/if}} Tel: {{DeliveryAddress.contactNumber}}</p>
      {{/if}}
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      {{#if orderConfirmed}}
        <p style="margin-bottom:20px!important">Hi {{displayName}},</p>
        <p style="margin-bottom:20px!important">Your order has been received! We hope you've enjoyed your experience shopping with us and hope to see you again soon!</p>
      {{/if}}
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px;">
      <div style="width:100%">
        <table style="font-size:14px;width:100%">
          <tr>
            <td style="color:#000;font-weight:bold;">Order No.</td>
            <td style="color:#000;font-weight:bold;">Invoice No.</td>
            <td style="color:#000;font-weight:bold;text-align:center;">Invoice Date</td>
            <td style="color:#000;font-weight:bold;text-align:right;">Shipping Date</td>
          </tr>
          <tr>
            <td>{{displayId}}</td>
            <td>{{taxInvoiceNo}}</td>
            <td style="text-align:center">{{createdAt}}</td>
            <td style="text-align:right;">{{shippingDate}}</td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
  <!-- table order detail -->
  <tr style="font-size:14px;">
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px 20px 0 20px;">
      <table style="width:100%;">
        <tr style="border-top:1px solid #eeeeee;">
          <td style="padding:20px 0 10px 0;color:#000;font-weight:bold;">Item</td>
          <td style="padding:20px 0 10px 0"></td>
          <td style="text-align:right;padding:20px 0 10px 0;color:#000;font-weight:bold;">Total</td>
        </tr>
        {{#each bulkOrderDetail}}
        <tr style="border-top:1px solid #eeeeee;">
          {{#if isProduct}}
            <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
              <img src="{{ProductCountry.Product.productImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
            </td>
            <td style="padding:20px 0;">
              <p style="font-weight:bold;color:#000;">{{ProductCountry.Product.productTranslate.name}}</p>
              <p>SKU: {{ProductCountry.Product.sku}}</p>
              <p>Quantity: {{qty}}</p>
              <p>Tax code: {{taxCode}}</p>
              <p>Unit Price (incl. tax): {{currency}}{{displayCurrency price}}</p>
              <p>(excl. Tax {{currency}}{{displayCurrency priceExcludeTax}}; {{taxRate}}% {{taxName}} {{currency}}{{displayCurrency taxPrice}})</p>
            </td>
            <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}{{displayCurrency totalPrice}}</td>
          {{/if}}
          {{#if isPlan}}
            {{#if PlanCountry.Plan.isTrial}}
              <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;height:100%;vertical-align: top;">
                <img src="{{PlanCountry.Plan.planImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
              </td>
            {{else}}
              <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;vertical-align: top;">
                <img src="{{PlanCountry.Plan.planImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
              </td>
            {{/if}}
            <td style="padding:20px 0;" colspan="2">
              <table style="width: 100%">
                <tr>
                  {{#if PlanCountry.Plan.isTrial}}
                    <td style="padding:0px 0;">
                      <p style="font-weight:bold;color:#000;">Free Trial Pack</p>
                      <p>Quantity: {{qty}}</p>
                      <p>Tax code: {{taxCode}}</p>
                      <p>Unit Price (incl. tax): {{currency}}0.00</p>
                    </td>
                  {{else}}
                    <td style="padding:20px 0;border-top:1px solid #eeeeee;">
                      <p style="font-weight:bold;color:#000;">{{PlanCountry.Plan.planTranslate.name}}</p>
                      <p>SKU: {{PlanCountry.Plan.sku}}</p>
                      <p>Quantity: {{qty}}</p>
                      <p>Tax code: {{taxCode}}</p>
                      <p>Unit Price (incl. tax): {{currency}}{{displayCurrency unitPrice}}</p>
                      <p>(excl. Tax {{currency}}{{displayCurrency priceExcludeTax}}; {{taxRate}}% {{taxName}} {{currency}}{{displayCurrency taxPrice}})</p>
                      <p>{{currency}}{{displayCurrency price}} Billed every {{PlanCountry.Plan.PlanType.subsequentChargeDuration}}</p>
                      {{!-- <p>Subscription Start: {{../shippingDate}}</p> --}}
                    </td>
                  {{/if}}
                  {{#if PlanCountry.Plan.isTrial}}
                    <td style="text-align:right;padding:0px 10px 0px 0;">{{currency}}0.00</td>
                  {{else}}
                    <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">{{currency}}{{displayCurrency totalPrice}}</td>
                  {{/if}}
                </tr>
                {{#if PlanCountry.Plan.isTrial}}
                {{else}}
                  {{#each deliveryDetails}}
                  <tr>
                    <td style="padding:20px 0;border-top:1px solid #eeeeee;">
                      {{#each productNames}}
                      <p>{{productName}} ({{qty}})</p>
                      {{/each}}
                    </td>
                    <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">
                      {{#if isFirst}}
                        {{#if isFirstTrial}}
                          {{!-- <p style="font-weight:bold;color:#000;">Next Delivery</p> --}}
                        {{else}}
                          <p style="font-weight:bold;color:#000;">First Delivery</p>
                        {{/if}}
                      {{/if}}
                      {{#if notFirst}}
                        {{#if isTrial}}
                          {{!-- <p style="font-weight:bold;color:rgb(65, 64, 64);">First Delivery</p> --}}
                        {{else}}
                          <p style="font-weight:bold;color:rgb(65, 64, 64);">Every 3 months</p>
                        {{/if}}
                      {{/if}}
                    </td>
                  </tr>
                  {{/each}}
                {{/if}}
              </table>
            </td>
          {{/if}}
        </tr>
        {{/each}}
      </table>
    </td>
  </tr>
  <tr style="font-size:14px;background-color: #FAFAFA;color: #606060">
    <td style="padding:0 20px;">
      <table style="width:100%">
        <tr style="border-top:1px solid #eeeeee;">
          <td style="text-align: right;padding:20px 0;">
            <p>Sub Total</p>
            <p style="color:#000;font-weight:bold;">Discount</p>
            <p>Shipping Fee ({{Receipt.currency}}{{displayCurrency Receipt.priceExcludeTax}}; {{Country.taxName}} {{Receipt.currency}}{{displayCurrency Receipt.taxPrice}})</p>
            {{#if hasTaxAmount}}
              <p>Grand Total (Excl. Tax)</p>
            {{/if}}
            <p style="color:#000;font-weight:bold;">Grand Total (Incl. Tax)</p>
            <p>Cash Rebate</p>
          </td>
          <td style="text-align: right;padding-right:10px;width:100px;padding:20px 10px;">
            <p>{{Receipt.currency}}{{displayCurrency Receipt.originPrice}}</p>
            {{#if hasDiscount}}
              <p style="color:#000;font-weight:bold;">{{Receipt.currency}}{{displayCurrency Receipt.discountAmount}}</p>
            {{else}}
              <p style="color:#000;font-weight:bold;">{{Receipt.currency}}0.00</p>
            {{/if}}
            {{#if hasShippingFee}}
              {{Receipt.currency}}{{displayCurrency Receipt.shippingFee}}
            {{else}}
              FREE
            {{/if}}
            {{#if hasTaxAmount}}
              <p>{{Receipt.currency}}{{displayCurrency Receipt.taxAmount}}</p>
            {{/if}}
            <p style="color:#000;font-weight:bold;">{{Receipt.currency}}{{displayCurrency Receipt.totalPrice}}</p>
            <p>{{Receipt.currency}}{{displayCurrency Receipt.cashRebate}}</p>
          </td>
        </tr>
        <tr style="border-top:1px solid #eeeeee;border-bottom:1px solid #eeeeee;">
          <td style="text-align: right;padding:20px 0;">
            <p style="color:#000;font-weight:bold;">Total Payable</p>
          </td>
          <td style="text-align: right;padding-right:10px;width:100px;padding:20px 10px;">
            <p style="color:#000;font-weight:bold;">{{Receipt.currency}}{{displayCurrency Receipt.totalPayable}}</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr style="font-size:14px;background-color: #FAFAFA;color: #606060">
    <td style="padding:20px 20px 0 20px;">
      <div style="width:100%">
        <table style="font-size:14px;width:100%">
          <tr>
            <td style="color:#000;font-weight:bold;">Summary</td>
            <td style="color:#000;font-weight:bold;text-align:center;">Amount</td>
            <td style="color:#000;font-weight:bold;text-align:right;">{{Country.taxName}}</td>
          </tr>
          <tr style="border-bottom:1px solid #eeeeee;">
            <td style="padding-bottom: 20px;">{{Country.taxRate}}%</td>
            <td style="text-align:center;padding-bottom: 20px;">{{Receipt.currency}}{{displayCurrency priceExcludeTax}}</td>
            <td style="text-align:right;padding-bottom: 20px;">{{Receipt.currency}}{{displayCurrency taxPrice}}</td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px;">
      <p style="font-weight:bold;color:#000;margin-top:10px!important;">Payment Method</p>
      {{#if isPayByStripe}}
        <p>Credit/Debit Card</p>
        <p>Ending in {{Receipt.last4}}</p>
      {{/if}}
      {{#if isPayByIpay88}}
        <p>iPay88</p>
      {{/if}}
      {{#if isPayByCash}}
        <p>Cash</p>
      {{/if}}
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      <div style="width:100%;margin-top: 26px;margin-bottom: 36px;text-align:center;">
        <a href="{{link}}" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">VISIT WEBSITE</a>
      </div>
      <p> 
        Please keep this email as proof of purchase.<br>
        If your purchase was made via credit card, it will appear as a payment to ‘S2U AppCo’ on your bank statement. Appco Sdn Bhd is an authorised Shaves2U retailer.
      </p>
    </td>
  </tr>
</table>