<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      {{#if orderConfirmed}}
        <p style="margin-bottom:20px!important">Hi {{displayName}},</p>
        <p style="margin-bottom:20px!important">Thanks for shopping at Shaves2U! Your order has been received and is being processed.<br>
        At the moment, we are only able to take pre-orders, so your patience is much appreciated.</p>
        <p style="margin-bottom:20px!important">We will be sure to get in touch with you closer to the date.</p>
        <p style="margin-bottom:20px!important">You may review your order here:</p>
      {{/if}}
      {{!-- {{#if orderDelivering}}
        <p style="margin-bottom:20px!important">Hi {{displayName}},</p>
        <p style="margin-bottom:20px!important">Your Shaves2U products are en route! We’re excited for you to receive them.</p>
        <p style="margin-bottom:20px!important">Find out exactly where your delivery is by <a href="{{trackOrderLink}}">tracking your order</a> using your tracking number.</p>

        <p><strong>Delivery Details:</strong></p>
        <p>Shipping method: {{carrierAgent}}</p>
        <p style="margin-bottom:20px!important">Tracking number: {{deliveryId}}</p>
        <i>* It may take up to 24 hours for tracking data to be available.</i>
      {{/if}}
      {{#if orderCompleted}}
        <p style="margin-bottom:20px!important">Hi {{displayName}},</p>
        {{#if isTrial}}
          <p style="margin-bottom:20px!important">We’ve received confirmation that your Trial Kit has been delivered. We hope you continually enjoy the great shaves and savings we offer.</p>
          <p>If you haven’t received your order, do let us know at <a href="mailto:help@shaves2u.com">help@shaves2u.com</a></p>
        {{else}}
          <p style="margin-bottom:20px!important">We’ve received confirmation that your Shaves2U products have been delivered. We hope you continually enjoy the great shaves and savings we offer.</p>
          <p>However, if you haven’t received your order, do let us know at <a href="mailto:help@shaves2u.com">help@shaves2u.com</a></p>
        {{/if}}
      {{/if}} --}}
    </td>
  </tr>
  {{!-- <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      {{#if isBaSale}}
        <p><span style="color:#000;font-weight:bold;">BA name: </span>{{SellerUser.agentName}}</p>
      {{/if}}
    </td>
  </tr> --}}
  <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px;">
        <div style="width:100%">
          <table style="font-size:14px;width:100%">
            <tr>
              <td style="color:#000;font-weight:bold;">Order No.</td>
              <td style="color:#000;font-weight:bold;text-align:center;">Order Date</td>
              <td style="color:#000;font-weight:bold;text-align:right;">Shipping Date</td>
            </tr>
            <tr>
              <td>{{displayId}}</td>
              <td style="text-align:center">{{createdAt}}</td>
              <td style="text-align:right;">{{shippingDate}}</td>
            </tr>
          </table>
        </div>
        {{!-- {{#if isEcommerce}}
          {{#if isOldUser}}
            <div style="width:100%;margin-top: 36px;text-align:center;">
              <a href="{{link}}" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">View your order</a>
            </div>
          {{/if}}
          {{#if isActiveUser}}
            <div style="width:100%;margin-top: 36px;text-align:center;">
              <a href="{{link}}" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">Activate your account</a>
            </div>
          {{/if}}
        {{else}}
          <div style="width:100%;margin-top: 36px;text-align:center;">
            <a href="{{link}}" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">EXPLORE WEBSITE</a>
          </div>
        {{/if}} --}}
      </td>
    </tr>
    <!-- table order detail -->
    <tr style="font-size:14px;">
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px 20px 0 20px;">
        <table style="width:100%;">
          <tr style="border-top:1px solid #eeeeee;">
            <td style="padding:20px 0 10px 0">Item</td>
            <td style="padding:20px 0 10px 0"></td>
            <td style="text-align:right;padding:20px 0 10px 0">Total</td>
          </tr>
          {{#each orderDetail}}
          <tr style="border-top:1px solid #eeeeee;">
            {{#if isProduct}}
              {{#if isFreeProduct}}
                <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                  <img src="{{ProductCountry.Product.productImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
                </td>
                <td style="padding:20px 0;">
                  <p style="font-weight:bold;color:#000;">{{ProductCountry.Product.productTranslate.name}}</p>
                  <p>SKU: {{ProductCountry.Product.sku}}</p>
                  <p>Quantity: {{qty}}</p>
                  <p>Unit Price: {{currency}}0.00</p>
                  {{#if ../isOnground}}
                    <p><i>Product Collected On-Ground</i></p>
                  {{/if}}
                </td>
                <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}0.00</td>
              {{else}}
                <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                  <img src="{{ProductCountry.Product.productImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
                </td>
                <td style="padding:20px 0;">
                  <p style="font-weight:bold;color:#000;">{{ProductCountry.Product.productTranslate.name}}</p>
                  <p>SKU: {{ProductCountry.Product.sku}}</p>
                  <p>Quantity: {{qty}}</p>
                  {{#if isProductOfTrial}}
                    <p>Unit Price: N/A</p>
                  {{else}}
                    <p>Unit Price: {{currency}}{{displayCurrency price}}</p>
                    {{#if ../isOnground}}
                      <p><i>Product Collected On-Ground</i></p>
                    {{/if}}
                  {{/if}}
                </td>
                {{#if isProductOfTrial}}
                  <td style="text-align:right;padding:20px 10px 20px 0;">N/A</td>
                {{else}}
                  <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}{{displayCurrency totalPrice}}</td>
                {{/if}}
              {{/if}}
            {{/if}}
            {{#if isPlan}}
              <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;vertical-align: top;">
                <img src="{{PlanCountry.Plan.planImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
              </td>
              <td style="padding:20px 0;" colspan="2">
                <table style="width: 100%">
                  <tr>
                    <td style="padding:20px 0;border-top:1px solid #eeeeee;">
                      <p style="font-weight:bold;color:#000;">{{PlanCountry.Plan.planTranslate.name}}</p>
                      <p>SKU: {{PlanCountry.Plan.sku}}</p>
                      <p>Quantity: {{qty}}</p>
                      <p>Unit Price: {{currency}}{{displayCurrency unitPrice}}</p>
                      <p>{{currency}}{{displayCurrency price}} Billed every {{PlanCountry.Plan.PlanType.subsequentChargeDuration}}</p>
                      {{#if PlanCountry.Plan.isTrial}}
                        {{#if ../trialShippingDate}}
                          <p>Subscription Start: {{../trialShippingDate}}</p>
                        {{else}}
                          <p style="max-width: 300px;">Subscription Start: 14 days after you received the trial kit</p>
                        {{/if}}
                      {{else}}
                        <p>Subscription Start: {{../shippingDate}}</p>
                      {{/if}}
                    </td>
                    {{#if PlanCountry.Plan.isTrial}}
                      <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">{{currency}}0.00</td>
                    {{else}}
                      <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">{{currency}}{{totalPrice}}</td>
                    {{/if}}
                  </tr>
                  {{#each deliveryDetails}}
                  <tr>
                    <td style="padding:20px 0;border-top:1px solid #eeeeee;">
                      {{#each productNames}}
                      <p>{{productName}} ({{qty}})</p>
                      {{/each}}
                    </td>
                    <td style="text-align:right;padding:20px 10px 20px 0;border-top:1px solid #eeeeee;">
                      {{#if isFirst}}
                        {{#if isFirstTrial}}
                          <p style="font-weight:bold;color:#000;">Next Delivery</p>
                        {{else}}
                          <p style="font-weight:bold;color:#000;">First Delivery</p>
                        {{/if}}
                      {{/if}}
                      {{#if notFirst}}
                        {{#if isTrial}}
                          <p style="font-weight:bold;color:rgb(65, 64, 64);">First Delivery</p>
                        {{else}}
                          <p style="font-weight:bold;color:rgb(65, 64, 64);">Every 3 months</p>
                        {{/if}}
                      {{/if}}
                    </td>
                  </tr>
                  {{/each}}
                </table>
              </td>
            {{/if}}
          </tr>
          {{/each}}
        </table>
      </td>
    </tr>
    <tr style="font-size:14px;background-color: #FAFAFA;color: #606060">
      <td style="padding:0 20px;">
        <table style="width:100%">
          <tr style="border-top:1px solid #eeeeee;">
            <td style="text-align: right;padding:20px 0;">
              <p>Total</p>
              <p>Discount</p>
              <p>Subtotal</p>
              <p>Shipping Fee</p>
              {{#if hasTaxAmount}}
                <p>Grand Total (Excl. Tax)</p>
              {{/if}}
            </td>
            <td style="text-align: right;padding-right:10px;width:100px;padding:20px 10px;">
              <p>{{Receipt.currency}}{{displayCurrency Receipt.originPrice}}</p>
              {{#if hasDiscount}}
                <p>{{Receipt.currency}}{{displayCurrency Receipt.discountAmount}}</p>
              {{else}}
                <p>{{Receipt.currency}}0.00</p>
              {{/if}}
              <p>{{Receipt.currency}}{{displayCurrency Receipt.subTotalPrice}}</p>
              {{#if hasShippingFee}}
                {{Receipt.currency}}{{displayCurrency Receipt.shippingFee}}
              {{else}}
                FREE
              {{/if}}
              {{#if hasTaxAmount}}
                <p>{{Receipt.currency}}{{displayCurrency Receipt.taxAmount}}</p>
              {{/if}}
            </td>
          </tr>
          <tr style="border-top:1px solid #eeeeee;border-bottom:1px solid #eeeeee;">
            <td style="text-align: right;padding:20px 0;">
              {{#if Country.includedTaxToProduct}}
                <p>Grand Total (Incl. Tax)</p>
              {{else}}
                <p>Grand Total</p>
              {{/if}}
            </td>
            <td style="text-align: right;padding-right:10px;width:100px;padding:20px 10px;">
              <p>{{Receipt.currency}}{{displayCurrency Receipt.totalPrice}}</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px;">
        <p style="font-weight:bold;color:#000;margin-top:10px!important;">Payment Method</p>
        {{#if isPayByStripe}}
          <p>Credit/Debit Card</p>
          <p>Ending in {{Receipt.last4}}</p>
        {{/if}}
        {{#if isPayByIpay88}}
          <p>iPay88</p>
        {{/if}}
        {{#if isPayByCash}}
          <p>Cash</p>
        {{/if}}
        {{#if hasShippingAddress}}
          <p style="font-weight:bold;color:#000;margin-top:20px!important;">Delivery Details: Shipping</p>
          <p>{{DeliveryAddress.firstName}} {{DeliveryAddress.lastName}}</p>
          <p>{{DeliveryAddress.address}},{{#if DeliveryAddress.city}}&nbsp;{{DeliveryAddress.city}},{{/if}}{{#if DeliveryAddress.portalCode}}&nbsp;{{DeliveryAddress.portalCode}},{{/if}}&nbsp;{{DeliveryAddress.state}}</p>
          <p>Tel: {{DeliveryAddress.contactNumber}}</p>
        {{/if}}
        {{#if hasBillingAddress}}
          <p style="font-weight:bold;color:#000;margin-top:20px!important;">Delivery Details: Billing</p>
          <p>{{BillingAddress.firstName}} {{BillingAddress.lastName}}</p>
          <p>{{BillingAddress.address}},{{#if DeliveryAddress.city}}&nbsp;{{BillingAddress.city}},{{/if}} {{#if BillingAddress.portalCode}}&nbsp;{{BillingAddress.portalCode}},{{/if}}&nbsp;{{BillingAddress.state}}</p>
          <p>Tel: {{BillingAddress.contactNumber}}</p>
        {{/if}}
      </td>
    </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      {{!-- {{#if isEcommerce}}
        {{#if isNewUser}}
        <p style="margin-bottom:30px!important">
          <a href="{{link}}" style="color:red;">Set up a password</a> to activate your account, and save 10% off your next purchase and ordering your shaving solutions will be much, much simpler.
        </p>
        <div style="width:100%;margin-top: 36px;margin-bottom: 36px;text-align:center;">
          <a href="{{link}}" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">SET UP PASSWORD</a>
        </div>
        {{/if}}
      {{/if}} --}}
      {{#if orderConfirmed}}
        <p>
          This invoice is computer generated and no signature is required. Please keep this email as proof of purchase. If your purchase was made via credit card, it will appear as a payment to ‘S2U AppCo’ on your bank statement.<br>
          Appco Sdn Bhd is an authorised Shaves2U retailer.
        </p>
      {{/if}}
      {{!-- {{#if orderCompleted}}
        <p>
          Please keep this email as proof of purchase.<br>
          Purchases via credit card will appear as payment to ‘S2U AppCo’ on your bank statement. Appco Sdn Bhd is an authorised Shaves2U retailer.
        </p>
        <p>Enjoyed shopping with us? Tell a friend!</p>
      {{/if}} --}}
    </td>
  </tr>
</table>