<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding-top: 0 20px;text-align: center;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <h1 style="font-size: 24px;font-weight: 800;letter-spacing: 0.05em;font-family: Helvetica,Arial,sans-serif;margin: 40px 0 20px 0;color: #333333;text-align:center;">{{header}}</h1>
      <div style="max-width: 515px;margin: 0 auto 100px;padding:0 20px">
        <p>
          To review and manage your Shave Plan, click the button below.
        </p>
        <div style="margin: 40px 0 23px 0;height:48px">
          <a href="{{link}}" style="max-width: 246px;min-width: 220px;height: 48px;background: #fe5000;text-align: center;padding: 15px 15px;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">YOUR SHAVE PLAN</a>
        </div>
      </div>
    </td>
  </tr>
</table>