<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td style="background-color:#FAFAFA;">
      <div style="max-width: 515px;margin: 0 auto 60px;padding:0 20px">
        <h1 style="font-size: 24px;font-weight: 800;letter-spacing: 0.05em;font-family: Helvetica,Arial,sans-serif;margin: 40px 0 20px 0;color: #333333;text-align:center;">Forgot your password? It’s ok!</h1>
        <p style="text-align: center;margin-bottom:20px!important;">
          Hi {{firstName}},
        </p>
        <p style="text-align: center;">
          We heard your Shaves2U account <span>{{email}}</span> needs a new password! Just click the button below to reset it.
        </p>
        <p style="text-align: center;margin-top: 20px;">If you didn’t make this request, please <a href="https://shaves2u.com/help?utm_source=mandrill&utm_medium=email&utm_campaign=_{{countryCode}}_forgotpassword&utm_content=S2U_html_forgotpassword&utm_term=_forgotpassword_web">let us know</a> to review the security settings for your account.</p>
        <div style="margin: 40px 0 23px 0;height:48px;text-align: center;">
          <a href="{{link}}" style="max-width: 246px;min-width: 220px;height: 48px;background: #fe5000;text-align: center;padding: 15px 15px;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">RESET PASSWORD</a>
        </div>
      </div>
    </td>
  </tr>
</table>