<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      <p style="margin-bottom:20px!important;">Hi {{firstName}},</p>
      <p style="margin-bottom:20px!important;">
        You seemed to have left these items in your shopping cart.
      </p>
      <p style="margin-bottom:20px!important;">
        No problem! Just click the button below to review your order or finalise your purchase.
      </p>
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px;">
      <table style="width:100%;">
        <tr style="border-top:1px solid #eeeeee;">
          <td style="padding:20px 0 10px 0">Item</td>
          <td style="padding:20px 0 10px 0"></td>
          <td style="text-align:right;padding:20px 0 10px 0">Total</td>
        </tr>
        {{#each cartDetails}}
        <tr style="border-top:1px solid #eeeeee;">
            <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
              <img src="{{image.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
            </td>
            <td style="padding:20px 0;">
              <p style="font-weight:bold;color:#000;">{{translate.name}}</p>
              <p>SKU: {{sku}}</p>
              <p>Quantity: {{qty}}</p>
              <p>Unit Price: {{currency}}{{displayCurrency price}}</p>
            </td>
            <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}{{displayCurrency totalPrice}}</td>
        </tr>
        {{/each}}
      </table>
    </td>
  </tr>
  <tr>
    <td style="text-align: right;">
      <a href="{{link}}" style="max-width: 246px;min-width: 220px;height: 48px;background: #fe5000;text-align: center;padding: 15px 15px;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;margin-right: 20px;">COMPLETE YOUR ORDER</a>
    </td>
  </tr>
</table>