<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px 20px 0 20px;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <p>Hi {{displayName}},</p>
    </td>
  </tr>
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px 20px 0 20px;">
        <!-- BEGIN MODULE: BODY CONTENT // -->
        {{#if isOffline}}
          <p>Your journey to a fuzz-free shave starts on <strong>{{ receiveDate }}</strong>.</p>
          <p style="padding-top: 20px;">Here’s what you can expect to find in your parcel.</p>
        {{else}}
          We’ve received your Trial Kit order on <strong>{{ receiveDate }}</strong>. We know how excited you are, so we’re working hard to get it to you ASAP. Please expect your order to arrive in October 2018.
          <p style="padding-top: 20px;">Here’s what you can expect to find in your parcel:</p>
        {{/if}}
      </td>
    </tr>
    <!-- table order detail -->
    <tr style="font-size:14px;">
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px 20px 0 20px;">
        <table style="width:100%;">
          <tr style="border-top:1px solid #eeeeee;">
            <td style="padding:20px 0 10px 0">Item</td>
            <td style="padding:20px 0 10px 0"></td>
            <td style="text-align:right;padding:20px 0 10px 0">Total</td>
          </tr>
          {{#each orderDetail}}
            {{#if isProduct}}
              {{#if isFreeProduct}}
                <tr style="border-top:1px solid #eeeeee;">
                  <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                    <img src="{{ProductCountry.Product.productImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
                  </td>
                  <td style="padding:20px 0;">
                    <p style="font-weight:bold;color:#000;">{{ProductCountry.Product.productTranslate.name}}</p>
                    <p>SKU: {{ProductCountry.Product.sku}}</p>
                    <p>Quantity: {{qty}}</p>
                    <p>Unit Price: {{currency}}0.00</p>
                  </td>
                  <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}0.00</td>
                </tr>
              {{else}}
                <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                  <img src="{{ProductCountry.Product.productImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
                </td>
                <td style="padding:20px 0;">
                  <p style="font-weight:bold;color:#000;">{{ProductCountry.Product.productTranslate.name}}</p>
                  <p>SKU: {{ProductCountry.Product.sku}}</p>
                  <p>Quantity: {{qty}}</p>
                  <p>Tax code: {{taxCode}}</p>
                  <p>Unit Price: {{currency}}{{displayCurrency price}}</p>
                </td>
                <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}{{displayCurrency totalPrice}}</td>
              {{/if}}
            {{/if}}
            {{#if isPlan}}
              <tr style="border-top:1px solid #eeeeee;">
                <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                  <img src="{{PlanCountry.Plan.planImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
                </td>
                <td style="padding:20px 0;">
                  <p style="font-weight:bold;color:#000;">{{PlanCountry.Plan.planTranslate.name}}</p>
                  <p>SKU: {{PlanCountry.Plan.sku}}</p>
                  <p>Quantity: {{qty}}</p>
                  <p>Unit Price: {{currency}}0.00</p>
                </td>
                <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}0.00</td>
              </tr>
            {{/if}}
          {{/each}}
        </table>
      </td>
    </tr>
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px 20px 0 20px;">
        <p style="margin-bottom:20px!important">
          Our Trial Kit contains a Premium Handle Pack, a blade of your choice and Shave Cream. The perfect start to a superior shave.
        </p>
        <p>
          If you'd like to review your selection, simply check your <a href="{{linkDashboard}}">account dashboard</a>.
        </p>
      </td>
    </tr>
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
        {{#if isOffline}}
          <p>
            Have you setup your account yet? It’s easy, and you receive <strong>10% OFF</strong> your next purchase!
          </p>
        {{/if}}
      </td>
    </tr>
</table>
