<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px 20px 0 20px;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <p>Hi {{displayName}},</p>
    </td>
  </tr>
  {{!-- {{#if orderConfirmed}} --}}
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px 20px 0 20px;">
        <!-- BEGIN MODULE: BODY CONTENT // -->
        {{#if isOffline}}
          <p>Your journey to a fuzz-free shave starts on <strong>{{ receiveDate }}</strong>.</p>
          <p style="padding-top: 20px;">Here’s what you can expect to find in your parcel.</p>
        {{else}}
          <p>We’ve received your Trial Kit order on <strong>{{ receiveDate }}</strong>. We know how excited you are, so we’re working hard to get it to you ASAP - usually within 7 working days.</p>
          <p style="padding-top: 20px;">Here’s what you can expect to find in your parcel.</p>
        {{/if}}
      </td>
    </tr>
    <!-- table order detail -->
    <tr style="font-size:14px;">
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 14px;line-height: 150%;padding: 20px 20px 0 20px;">
        <table style="width:100%;">
          <tr style="border-top:1px solid #eeeeee;">
            <td style="padding:20px 0 10px 0">Item</td>
            <td style="padding:20px 0 10px 0"></td>
            <td style="text-align:right;padding:20px 0 10px 0">Total</td>
          </tr>
          {{#each orderDetail}}
            {{#if isProduct}}
              {{#if isFreeProduct}}
                <tr style="border-top:1px solid #eeeeee;">
                  <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                    <img src="{{ProductCountry.Product.productImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
                  </td>
                  <td style="padding:20px 0;">
                    <p style="font-weight:bold;color:#000;">{{ProductCountry.Product.productTranslate.name}}</p>
                    <p>SKU: {{ProductCountry.Product.sku}}</p>
                    <p>Quantity: {{qty}}</p>
                    <p>Unit Price: {{currency}}0.00</p>
                  </td>
                  <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}0.00</td>
                </tr>
              {{else}}
                <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                  <img src="{{ProductCountry.Product.productImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
                </td>
                <td style="padding:20px 0;">
                  <p style="font-weight:bold;color:#000;">{{ProductCountry.Product.productTranslate.name}}</p>
                  <p>SKU: {{ProductCountry.Product.sku}}</p>
                  <p>Quantity: {{qty}}</p>
                  <p>Tax code: {{taxCode}}</p>
                  <p>Unit Price: {{currency}}{{displayCurrency price}}</p>
                </td>
                <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}{{displayCurrency totalPrice}}</td>
              {{/if}}
            {{/if}}
            {{#if isPlan}}
              <tr style="border-top:1px solid #eeeeee;">
                <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
                  <img src="{{PlanCountry.Plan.planImages.url}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
                </td>
                <td style="padding:20px 0;">
                  <p style="font-weight:bold;color:#000;">{{PlanCountry.Plan.planTranslate.name}}</p>
                  <p>SKU: {{PlanCountry.Plan.sku}}</p>
                  <p>Quantity: {{qty}}</p>
                  <p>Unit Price: {{currency}}0.00</p>
                </td>
                <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}0.00</td>
              </tr>
            {{/if}}
          {{/each}}
          {{!-- {{#each planTrialProducts}}
          <tr style="border-top:1px solid #eeeeee;">
            <td style="width:20%;padding:20px 0 20px 10px;min-width:70px;">
              <img src="{{imgUrl}}" style="border: 1px solid #eeeeee;padding: 5% 5%;width: 80%;max-width:104px;">
            </td>
            <td style="padding:20px 0;">
              <p style="font-weight:bold;color:#000;">{{productName}}</p>
              <p>SKU: {{ProductCountry.Product.sku}}</p>
              <p>Quantity: {{qty}}</p>
              <p>Unit Price: {{currency}}{{displayCurrency ProductCountry.sellPrice}}</p>
            </td>
            <td style="text-align:right;padding:20px 10px 20px 0;">{{currency}}0.00</td>
          </tr>
          {{/each}} --}}
        </table>
      </td>
    </tr>
    {{!-- {{#if isOffline}} --}}
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px 20px 0 20px;">
        <!-- BEGIN MODULE: BODY CONTENT // -->
        {{!-- <p style="margin-bottom:30px!important">
          Remember, your Shave Plan officially begins on {{ nextReceiveDate }}, where you will receive.
          {{#each planDetails}}
            {{qty}} x {{productName}} ({{ProductCountry.Product.sku}})
          {{/each}}
          for every {{periodTime}} at {{Country.currencyDisplay}}{{pricePerCharge}}
        </p> --}}
        <p style="margin-bottom:20px!important">
          Our Trial Kit contains a Premium Handle Pack, a blade of your choice and Shave Cream. The perfect start to a superior shave.
        </p>
        {{#if nextReceiveDate}}
          <p>
            If you do feel like changing, or just reviewing your selection, head to your <a href="{{linkDashboard}}">account dashboard</a> and edit your Shave Plan before <strong>{{ nextReceiveDate }}</strong>.
          </p>
        {{else}}
          <p>
            If you do feel like changing, or just reviewing your selection, head to your <a href="{{linkDashboard}}">account dashboard</a> and edit your Shave Plan within 14 days of receiving your Trial Kit.
          </p>
        {{/if}}
      </td>
    </tr>
    {{!-- {{/if}} --}}
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
        {{#if isOffline}}
          <p>
            Have you setup your account yet? It’s easy, and you receive <strong>10% OFF</strong> your next purchase!
          </p>
          {{!-- <p style="width:100%;margin: 36px 0 20px 0;text-align:center;">
            <a href="{{link}}" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">SET UP MY ACCOUNT</a>
          </p> --}}
        {{else}}
          {{!-- <p style="width:100%;margin: 36px 0 20px 0;text-align:center;">
            <a href="{{link}}" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">REVIEW MY SHAVE PLAN</a>
          </p> --}}
        {{/if}}
      </td>
    </tr>
  {{!-- {{/if}}
  {{#if orderDelivering}}
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
        <!-- BEGIN MODULE: BODY CONTENT // -->
        <p>The Shaves2U products you ordered are now on their way to you!</p>
        </td>
    </tr>
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
        <p>Find out exactly where your delivery is with this tracking number* {{deliveryId}} or just click the button below.</p>
      </td>
    </tr>
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
        <div style="width:100%;margin-top: 36px;text-align:center;">
          <a href="{{link}}" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">Track your order</a>
        </div>
      </td>
    </tr>
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
        <table style="width:100%;">
          <tr style="border-top:1px solid #eeeeee;">
            <td style="padding:20px 0 10px 0">Delivery Details</td>
          </tr>
          <tr style="border-top:1px solid #eeeeee;font-size: 14px;">
            <td style="padding:20px 0;border-top:1px solid #eeeeee;">Delivered By</td>
            <td style="padding:20px 0;border-top:1px solid #eeeeee;text-align:right;color:#000;">{{carrierAgent}}</td>
          </tr>
          <tr style="border-top:1px solid #eeeeee;font-size: 14px;">
            <td style="padding:20px 0;border-top:1px solid #eeeeee;">Tracking Number</td>
            <td style="padding:20px 0;border-top:1px solid #eeeeee;text-align:right;color:#000;">{{deliveryId}}</td>
          </tr>
      </td>
    </tr>
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
        <p>* It may take up to 24 hours for tracking data to be available.</p>
        </td>
    </tr>
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
        <p>{{displayId}} {{createdAt}} {{nextReceiveDate}}</p>
      </td>
    </tr>
  {{/if}}

  {{#if orderCompleted}}
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
        <!-- BEGIN MODULE: BODY CONTENT // -->
        <p>We’ve received confirmation that your Shaves2U products have been delivered and we hope you continually enjoy the great shaves and savings we offer.</p>
        </td>
    </tr>
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
        <p>However, if you haven’t received your order, do let us know at help@shaves2u.com</p>
      </td>
    </tr>
    <tr>
      <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
        <p>{{displayId}} {{createdAt}} {{nextReceiveDate}}</p>
      </td>
    </tr>
  {{/if}} --}}
</table>
