<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <p>Hi {{displayName}},</p>
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <p>We've received your request on {{ requestOn }}. Your Shave Plan is now changed to the following package:</p>
    </td>
  </tr>
  <!-- table order detail -->
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <p style="margin-bottom:30px!important">
        {{#if PlanCountry}}
          Every {{periodTime}} for
          {{#each PlanCountry.planDetails}}
            {{qty}} x {{productName}} ({{ProductCountry.Product.sku}})
          {{/each}} at {{currency}}{{displayCurrency pricePerCharge}}
        {{/if}}
        {{#if CustomPlan}}
          Every {{periodTime}} for
          {{#each CustomPlan.customPlanDetail}}
            {{description}}
          {{/each}} at {{currency}}{{displayCurrency pricePerCharge}}
        {{/if}}
      </p>
      {{#if nextDeliverDate}}
        <p style="margin-bottom:30px!important">Your new Shave Plan will start on {{ nextDeliverDate }}</p>
      {{else}}
        <p style="margin-bottom:30px!important">Your new Shave Plan will start between {{ nextDeliverDate1 }} - {{ nextDeliverDate2 }}</p>
      {{/if}}
      <p>Get ready for an awesome shave, every day!</p>
    </td>
  </tr>
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding: 20px;">
      <p>
        You may also check your Shave Plan details via your <a href="{{link}}">user account</a>.
      </p>
      <p style="width:100%;margin-top: 36px;text-align:center;">
        <a href="https://shaves2u.com/products?utm_source=mandrill&utm_medium=email&utm_campaign=_{{countryCode}}_productsample&utm_content=S2U_html_shopnow&utm_term=_productsample_web" style="width: 195px;margin:0 auto;height: 48px;background: #fe5000;text-align: center;padding: 15px 30px;;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;">SHOP FOR OTHER PRODUCTS</a>
      </p>
    </td>
  </tr>
</table>
