<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" class="templateContainer">
  {{!-- <tr style="text-align: center">
    <td valign="top">
      <img src="https://gallery.mailchimp.com/a1f5e35b929b6d70bbdff908e/images/bb73a564-8b8b-4aef-8365-a81424ab9b01.png" style="min-height:145px;" alt="Shaves2u banner">
    </td>
  </tr> --}}
  <tr>
    <td valign="top" style="background-color: #FAFAFA;color: #606060;font-size: 16px;line-height: 150%;padding-top: 0 20px;text-align: center ;">
      <!-- BEGIN MODULE: BODY CONTENT // -->
      <div style="max-width: 515px;margin: 0 auto 30px;padding:0 20px">
        <h1 style="font-size: 24px;font-weight: 800;letter-spacing: 0.05em;font-family: Helvetica,Arial,sans-serif;margin: 40px 0 20px 0;color: #333333;text-align:center;">Shaving just got simpler for you.</h1>
        <p style="text-align: center">
          Hi {{firstName}},
        </p>
        <p style="margin-top: 20px;">
          Welcome to Shaves2U!
        </p>
        <p style="margin-top: 20px;"> 
          The smarter choice that lets you shave and save.
        </p>
        <p style="margin-top: 20px;">
          To get you started, here’s a little gift! Input the promo code:<br>
          <strong><font color="#fe5000">WELCOME10</font></strong><br>
          during checkout to enjoy <strong>10% OFF</strong> your next purchase!
        </p>
        <div style="margin: 40px 0 23px 0;height:48px">
          <a href="https://shaves2u.com/?utm_source=mandrill&utm_medium=email&utm_campaign=_{{countryCode}}_welcome&utm_content=S2U_html_welcome&utm_term=_newuserwelcome_web" style="width: 218px;background: #fe5000;text-align: center;padding: 13px 0;color: #fff;font-size: 14px;text-transform: uppercase;font-weight: bold;border-radius: 4px;text-decoration: none;display:inline-block;">SHOP NOW</a>
        </div>
      </div>
    </td>
  </tr>
</table>