<div class="row mt-3"  [formGroup]="addUserForm">
  <div class="col-sm-12 form-group">
    <h6 class="pull-left">Add User</h6>
    <h6 class="pull-right">Total User ({{addUserForm.controls.length}})</h6>
  </div>
  <div class="col-sm-12 form-group">
    <form [formGroup]="queryForm">
      <input id="country" type="text" class="form-control" (keyup)=filterUsers() formControlName=query>
      <div class="list-group suggestions" id="suggestions" role="tablist" *ngIf="filteredList.length">
        <a class="list-group-item list-group-item-action" *ngFor="let item of filteredList" (click)="select(item)">{{ item.firstName + ' ' + item.lastName }} ({{item.email}})</a>
      </div>
    </form>
  </div>
  <div ></div>
  <ng-container>
    <div class="col-sm-12" *ngIf="!addUserForm.valid && !addUserForm.parent.controls.mailChimpListId.valid">
      <div [ngClass]="!addUserForm.valid && !addUserForm.parent.controls.mailChimpListId.valid ? 'has-danger' : ''">
        <span class="form-control-feedback">
          {{ 'msg.validation.selectUserOrGroupEmail' | translate }}
        </span>
      </div>
    </div>
    <div class="col-sm-12 form-group user-list" *ngIf="addUserForm.controls.length > 0">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of addUserForm.controls; let i=index">
            <div class="d-inline-block ml-2">
              <p class="title">{{ item.value.user.firstName + ' ' + item.value.user.lastName }} ({{item.value.user.email}})</p>
            </div>
            <a class="trash" (click)="removeItem(i)"><span class="fa fa-trash"></span></a>
        </li>
      </ul>
    </div>
  </ng-container>
</div>