/* You can add global styles to this file, and also import other style files */
@import "./assets/bootstrap-sass/variables";
// @import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/font-awesome/css/font-awesome.css';
@import './assets/sass/app.scss';
@import './assets/sass/commons.scss';
@import './assets/sass/pagination.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html {
  position: relative;
  min-height: 100%
}

body {
  margin-bottom: 0px
}

body {
  .body-container-full {
    // padding: 80px 0 220px;
  }
}

ul {
  list-style: none;
  padding: 0;
}
a {
  color: #000;
  &:hover {
    text-decoration: underline;
    color: #000;
  }
}
.container .text-muted {
  margin: 20px 0
}
th.table-sort {
  cursor: pointer;
}
th.table-sort::after {
  content: "\f063";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 5px;
  opacity: 0;
  margin-right: -10px;
}
th.table-sort.sorted::after { 
  opacity: 1;
}
th.table-sort[sortby="ASC"]{
  &::after {
    content: "\f062";
  }
}
th.table-sort {
  &:hover{
    &::after {
      opacity: 1;
    }
  }
} 
.button-ai {
  .btn  {
    border-width: 1px;
    background-color: transparent;
    font-weight: 400;
    filter: alpha(opacity=80);
    padding: 4px 16px;
    border-color: #111;
    color: #111;
    margin-right: 15px;
    margin: 10px 10px 10px 0;
    min-height: 25px;
  }
}