<div class="container" id="form-login">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xs-6 mx-auto mt-5">
      <div class="text-center login-title">
        <a [routerLink]="['/']">
          <img alt="logo Shaves2u" src="/assets/images/logo-mobile.svg">
        </a>
      </div>
      <div class="account-wall" *ngIf="stage === 'signin'">
        <div class="col-md-12">
          <h2>Shaves2u Admin</h2>
        </div>
        <app-alert></app-alert>
        <form class="form-signin" (ngSubmit)="loginForm.valid && onSubmit(loginForm.value)" [formGroup]="loginForm" 
          novalidate #f="ngForm">
          <div class="form-group" [ngClass]="f.submitted && (loginForm.hasError('required', 'email') || loginForm.hasError('pattern', 'email')) ? 'has-danger' : 'correctInput'">
            <div class="controls">
              <input formControlName="email" type="email" class="form-control" placeholder="Email address" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$">
            </div>
            <span class="form-control-feedback" *ngIf="f.submitted && loginForm.hasError('required', 'email')">
                {{ 'msg.validation.required' | translate }}
            </span>
            <span class="form-control-feedback" *ngIf="f.submitted && loginForm.hasError('pattern', 'email')">
                {{ 'msg.validation.email' | translate }}
            </span>
          </div>
          <div class="form-group" [ngClass]="f.submitted && (loginForm.hasError('required', 'password') || loginForm.hasError('pattern', 'password')) ? 'has-danger' : ''">
            <div class="controls">
              <input formControlName="password" type="password" class="form-control" placeholder="Password" pattern="^(?=.*\d)(?=.*[a-zA-Z]).{6,}$"
              />
            </div>
            <span class="form-control-feedback" *ngIf="f.submitted && loginForm.hasError('required', 'password')">
              {{ 'msg.validation.required' | translate }}
            </span>
            <span class="form-control-feedback" *ngIf="f.submitted && loginForm.hasError('pattern', 'password')">
                {{ 'msg.validation.password_format' | translate }}
            </span>
          </div>
          <div class="text-center my-3">
            <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
          </div>
          <div class="form-group">
            <div class="col-md-12 control text-center mx-auto mt-2">
              <a class="" (click)="resetPassword()">
                Forgot password?
              </a>
            </div>
          </div>
        </form>
        <div class="row mx-0">
          <div class="col-6 col-md-6">Trouble logging in?</div>
          <div class="col-6 col-md-6 text-right">
            <button _ngcontent-c10="" class="btn btn-default" type="submit">Contact Support</button>
          </div>
        </div>
      </div>
      <!-- /.account-wall -->
      <div class="email-form" *ngIf="stage === 'emailForm'">
        <app-alert></app-alert>
        <form [formGroup]="emailForm" novalidate #f="ngForm" (ngSubmit)="emailForm.valid &&  sendMailResetPw()">
          <h1 class="text-center">Forgot Password</h1>
          <p class="text-center">Enter your Email</p>
          <div [ngClass]="f.submitted && (emailForm.hasError('required', 'email') || emailForm.hasError('pattern', 'email')) ? 'has-danger' : 'correctInput'">
            <div class="input-group form-group">
              <input formControlName="email" name="email" type="email" class="form-control" placeholder="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$">
              <span class="icon" [ngClass]="f.submitted ? 'show' : ''"></span>
            </div>
            <span class="form-control-feedback" *ngIf="f.submitted && emailForm.hasError('required', 'email')">
                  {{ 'msg.validation.required' | translate }}
                </span>
            <span class="form-control-feedback" *ngIf="f.submitted && emailForm.hasError('pattern', 'email')">
                  {{ 'msg.validation.email' | translate }}
            </span>
          </div>
          <div class="text-center mb-3">
            <button type="submit" class="btn btn-primary shave2u-btn-default">Continue</button>
            <a class="btn btn-primary shave2u-btn-secondary" (click)="backtoSignin()">Cancel</a>
          </div>
        </form>
      </div>
      <!-- /.email-form -->

      <!-- /.susscess sent mail reset -->
      <div *ngIf="stage === 'sendEmail'">
        An activation link has been sent to you email account.
        <div>
          <a class="btn btn-default" (click)="sendEmailAgain()">Re-send email</a>
          <a class="btn btn-default" (click)="backtoSignin()">Continue</a>
        </div>
      </div> 

    </div>
  </div>
</div>