#form-login .form-signin {
  padding: 15px;
  margin: 0 auto;
}

#form-login .form-signin .checkbox {
  font-weight: normal;
}

#form-login .form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#form-login .form-signin .form-control:focus {
  z-index: 2;
}

#form-login .form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#form-login .form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#form-login .form-signin .form-control:focus {
  z-index: 2;
}

#form-login .form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#form-login .form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#form-login .account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#form-login .login-title {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

#form-login .profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

#form-login .need-help {
  margin-top: 10px;
}
