<div class="row" [formGroup]="planCountryForm">
  <div class="col-sm-12 form-group">
    <div class="form-group">
      <div class="row">
        <label class="col-sm-12 control-label small" for="label-price-group"><strong>Price</strong></label>
        <div class="col-sm-3" [ngClass]="!planCountryForm.controls.actualPrice.valid && (parentOnActive || planCountryForm.get('actualPrice').touched || planCountryForm.get('actualPrice').dirty) ? 'has-danger' : ''">
          <label class="control-label small" for="label-actualPrice">Actual price</label>
          <div class="input-group">
            <span class="input-group-addon">{{planCountryForm.value.currencyDisplay}}</span>
            <input type="text" class="form-control" name="actualPrice" id="input-actualPrice" placeholder="actualPrice"
              formControlName="actualPrice">
          </div>
          <span class="form-control-feedback" *ngIf="!planCountryForm.controls.actualPrice.valid && (parentOnActive || planCountryForm.get('actualPrice').touched || planCountryForm.get('actualPrice').dirty)">
            {{ 'msg.validation.required' | translate }}
          </span>
        </div>
        <div class="col-sm-3" [ngClass]="!planCountryForm.controls.sellPrice.valid && (parentOnActive || planCountryForm.get('sellPrice').touched || planCountryForm.get('sellPrice').dirty) ? 'has-danger' : ''">
          <label class="control-label small" for="label-sellPrice">Sales Price</label>
          <div class="input-group">
            <span class="input-group-addon">{{planCountryForm.value.currencyDisplay}}</span>
            <input type="text" class="form-control" name="sellPrice" id="input-sellPrice" placeholder="sellPrice"
              formControlName="sellPrice">
          </div>
          <span class="form-control-feedback" *ngIf="!planCountryForm.controls.sellPrice.valid && (parentOnActive || planCountryForm.get('sellPrice').touched || planCountryForm.get('sellPrice').dirty)">
            {{ 'msg.validation.required' | translate }}
          </span>
        </div>
        <div class="col-sm-3" [ngClass]="!planCountryForm.controls.pricePerCharge.valid && (parentOnActive || planCountryForm.get('pricePerCharge').touched || planCountryForm.get('pricePerCharge').dirty) ? 'has-danger' : ''">
          <label class="control-label small" for="label-sellPrice">Price Per Charge</label>
          <div class="input-group">
            <span class="input-group-addon">{{planCountryForm.value.currencyDisplay}}</span>
            <input type="text" class="form-control" name="pricePerCharge" id="input-pricePerCharge" placeholder="pricePerCharge"
              formControlName="pricePerCharge">
          </div>
          <span class="form-control-feedback" *ngIf="!planCountryForm.controls.pricePerCharge.valid && (parentOnActive || planCountryForm.get('pricePerCharge').touched || planCountryForm.get('pricePerCharge').dirty)">
            {{ 'msg.validation.required' | translate }}
          </span>
        </div>
        <div class="col-sm-3" [ngClass]="!planCountryForm.controls.savePercent.valid && (parentOnActive || planCountryForm.get('savePercent').touched || planCountryForm.get('savePercent').dirty) ? 'has-danger' : ''">
          <label class="control-label small" for="label-sellPrice">Save Percent</label>
          <div class="input-group">
            <span class="input-group-addon">%</span>
            <input type="text" class="form-control" name="savePercent" id="input-savePercent" placeholder="savePercent"
              formControlName="savePercent">
          </div>
          <span class="form-control-feedback" *ngIf="!planCountryForm.controls.savePercent.valid && (parentOnActive || planCountryForm.get('savePercent').touched || planCountryForm.get('savePercent').dirty)">
            {{ 'msg.validation.required' | translate }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 form-group">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-3" [ngClass]="!planCountryForm.controls.order.valid && (parentOnActive || planCountryForm.get('order').touched || planCountryForm.get('order').dirty) ? 'has-danger' : ''">
          <label class="control-label small" for="label-price-group"><strong>Order</strong></label>
          <div class="input-group">
            <input type="text" class="form-control" name="order" id="input-order" placeholder="order"
              formControlName="order">
          </div>
          <span class="form-control-feedback" *ngIf="!planCountryForm.controls.order.valid && (parentOnActive || planCountryForm.get('order').touched || planCountryForm.get('order').dirty)">
            {{ 'msg.validation.required' | translate }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Plan Trial Products -->
  <div class="col-sm-12 form-check" *ngIf="products && planTypes">
    <plan-trial-products [planTrialProductsForm]="planCountryForm.controls.planTrialProducts" [products]="products" [planTypes]="planTypes"></plan-trial-products>
  </div>
  <!-- / Plan Trial Products -->

  <!-- Plan Details -->
  <div class="col-sm-12 form-check" *ngIf="products && planTypes">
    <plan-details-form [parentOnActive]="parentOnActive" [planDetailsForm]="planCountryForm.controls.planDetails" [products]="products" [planTypes]="planTypes"></plan-details-form>
  </div>
  <!-- / Plan Details -->

  <!-- Plan Options -->
  <div class="card-block">
    <h6 class="text-uppercase form-control-inline mr-2">Plan Options</h6>
    <button type="button" class="btn btn-secondary btn-sm" (click)="addPlanOptions()">Add a Plan Option</button>
    <div class="list-group mt-5 px-5" formArrayName="planOptions">
      <div class="list-group-item mb-3" *ngFor="let plOptionForm of planCountryForm['controls'].planOptions['controls']; let j = index">
        <h6 class="text-uppercase form-control-inline mr-2">Plan Option {{j + 1}}</h6>
        <button class="btn btn-default pull-right btn-remove-prDetails" (click)="removePlanOptions(j)"
        *ngIf="planCountryForm['controls'].planOptions['controls'].length > 1">Remove</button>
        <div class="clearfix"></div>
        <div [formGroupName]="j" class="col-sm-12">
          <plan-option-form [parentOnActive]="parentOnActive" [planOptionsForm]="plOptionForm"></plan-option-form>
        </div>
      </div>
    </div>
  </div>

  <!-- / Plan Options -->

  <div class="col-sm-12 form-check mt-2">
    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
      <input type="checkbox" class="custom-control-input" formControlName="isOnline">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Is Online</span>
    </label>
    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
      <input type="checkbox" class="custom-control-input" formControlName="isOffline">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Is Offline</span>
    </label>
  </div>
</div>
