<div class="file-input" [formGroup]="group">
  <div class="file-preview">
    <div class="file-drop-disabled">
      <ul #ulImages>
        <li *ngFor="let file of files; let i=index" [attr.data-fileindex]="file.index">
          <div class="file-preview-thumbnails">
            <div class="file-preview-frame" id="preview-1503894097165-0">
              <div class="file-content">
                <img src="{{file.url}}"
                  style="width:auto;height:100px;" class="file-preview-image" alt="">
              </div>
              <div class="file-thumbnail-footer" *ngIf="defaultImageIndex">
                <div class="file-footer-caption">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" [value]="i" formControlName="defaultImageIndex" name="defaultImageIndex">
                      Is default
                    </label>
                  </div>
                </div>
              </div>
              <div class="file-actions close fileinput-remove" (click)="removeAddCase(file.index)"><i class="fa fa-remove"></i></div>
            </div>
          </div>
        </li>
      </ul>
      <div class="file-drop-area click-able">
        <div class="item item-adding">
          <div class="text-contain text-center-vertical">
            <div class="text-inner">
              <span class="btn btn-default btn-file">
                <a class="link-text-underline"><i class="fa fa-plus-circle mr-2 fa-button-upload"></i></a>
                <input type="file" (change)="fileChange($event)" formControlName="{{controlName}}" name="{{controlName}}" class="inputFileUpload" *ngIf="show" multiple>
              </span>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>