.file-input .file-preview {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
}

.file-input ul li {
  display: inline-block;
}

.file-input .close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

.file-input .file-preview-frame {
  position: relative;
  display: table;
  margin: 8px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 5px 0 #a2958a;
  padding: 6px;
  float: left;
  text-align: center;
}

.file-input .file-preview-frame .file-content {
  height: 100px;
}

.file-input .file-preview-frame .file-content .file-preview-image {
  font: 40px Impact,Charcoal,sans-serif;
  color: green;
  vertical-align: middle;
}

.file-input .file-preview-frame .file-thumbnail-footer {
  height: 70px;
}

.file-input .file-preview-frame .file-thumbnail-footer .file-footer-caption {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
  text-align: center;
  padding-top: 4px;
  font-size: 11px;
  color: #777;
  margin: 5px auto;
}

.file-input .file-preview-frame .file-thumbnail-footer .file-actions {
  margin-top: 15px;
}

.file-input .file-preview-frame .file-thumbnail-footer .file-actions .file-footer-buttons {
  float: right;
}

.file-input .file-preview-frame .file-actions.fileinput-remove {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0.6;
}

.file-input .file-drop-area .item {
  border-radius: 8px;
  padding: 15px 20px;
}

.file-input .file-drop-area .item.item-adding {
  border: 1px dotted #959595;
}

.file-input .file-drop-area .item.item-adding .text-inner {
  height: 100px;
}

.file-input .btn-file {
  position: relative;
  overflow: hidden;
}

.file-input .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.file-input .fa-button-upload {
  font-size: 40px;
  color: silver;
}
